<div id="colunaChat" class="col-md-8 col-xs-8 fullHeight">
	<div class="row fullHeight">
		<div class="col-md-12 col-xs-12 fullHeight welcome borderBottom">
			<div class="welcome-msg text-center">
				<img src="$context/assets/chat/img/welcome_chat.png" />
				<h4>Bem-vindo ao <b>Livecom Chat</b></h4>
				<p>Conecte-se com seus contatos de forma mais rápida e fácil.</p>
			</div>
		</div>
		<div class="col-md-12 col-xs-12 fullHeight chatArea">
			<div class="topSections rightSection">
				<div class="avatar openColumn" data-drawercolumn="rightColumn">
					<div class="centraliza">
						<img id="fotoUserConversa" src="$context/assets/chat/img/user.png" alt="" />
					</div>
				</div>
				<div class="bodyChat">
					<div class="header">
						<div class="title">
							<span id="nomeUserConversa" class="openColumn" data-drawercolumn="rightColumn"></span>
						</div>
					</div>
					<div>
						<div class="title">
							<span class="flexElipse statucUserConversa"></span>
						</div>
					</div>
				</div>
				<div class="title icons">
					<span>
						<form id="formUpload">
							<input id="attachFile" type="file" multiple name="arquivos" accept="image/*" style="display: none;" />
						</form> 
						<button id="uploadFile" class="mdl-button rounded attach openCloseModal mdl-js-button mdl-button--icon">
							<i class="material-icons">attachment</i>
						</button>
						<button id="rightActions"
							class="mdl-button rounded mdl-js-button mdl-button--icon">
							<i class="material-icons">more_vert</i>
						</button>
						<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="rightActions">
							<li class="mdl-menu__item openColumn"
								data-drawerColumn="rightColumn">Informações do Contato ou Grupo</li>
							<li class="mdl-menu__item arquivarConversa">Arquivar
								conversa</li>
							<li class="mdl-menu__item apagarConversa">Apagar conversa</li>
						</ul>
					</span>
				</div>
				<div class="mdl-tooltip" for="uploadFile">Anexar arquivo</div>
			</div>
			<div class="chatContent">
				<ul class="list-group" id="mensagens">
					<li class="list-group-item"><div class="spinner"></div></li>
				</ul>
			</div>
			<footer class="typeTextArea">
				<div class="block">
					<div class="holdInput">
						<div class="inputTextArea">
							<div class="input-placeholder">Digite aqui sua mensagem</div>
							<div dir="auto" class="input" id="inputMensagem" contenteditable></div>
						</div>
					</div>
					<div class="buttonHold">
						<button class="mdl-button rounded sendMessage">
							<i class="material-icons">send</i>
						</button>
					</div>
				</div>
			</footer>
			<div class="modal insideChatArea fade">
				<h4>
					<i class="material-icons closeModalChatImage">close</i> Pré visualizar
				</h4>
				<div class="contentModal">
					<div class="sections">
						<div class="previewImg">
							<div class="centraliza">
								<img class="thumbAenviar" src="" />
							</div>
						</div>
					</div>
					<div class="sections">
						<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect enviarImagem">
							<i class="material-icons">send</i>
						</button>
						<div class="holdMedias">
							<ul class="list-group">
								<!-- <li class="list-group-item"><a
									class="thumbnail"> <span
										class="cancelaImagem"><i class="material-icons">close</i></span> <img class="img-responsive"
										src="" />
								</a></li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ CHAT AREA  -->
		<div class="col-md-5 col-xs-5 rightDrawer fullHeight drawer-container">
			<div class="topSections drawerRightSection">
				<div class="bodyChat">
					<div class="title">
						<span>
							<button class="mdl-button closeColumn backRightColumn"
								data-drawerColumn="rightColumn">
								<i class="material-icons">close</i>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="holdInfoScroll flex-container">
				<div class="infoSections flex-fixed">
					<div class="avatar bigger">
						<div class="centraliza">
							<!-- <img src="$context/assets/img/placeholder.jpg" alt="" /> -->
							<img class="fotoRightDrawer" src="" alt="" />
						</div>
					</div>
					<div class="panel panel-default">
						<!-- <div class="panel-heading center">Status ou Nome do Grupo</div> -->
						<div class="panel-heading text-center nomeUsuarioRightDrawer"></div>
						<div class="panel-body maior statusUsuarioRightDrawer"></div>
						<!-- <div class="panel-body maior">{{converCtrl.chat.conversa.toStatus}}</div> -->
					</div>
				</div>
				<div
					class="{{converCtrl.chat.conversa.isGrupo === true ? 'panel titleUsersInfo' : 'none'}}">
					<div class="panel-heading menor offHold">
						Usuários: <span class="qtdUsuariosGrupo">3 de 30</span>
					</div>
				</div>
				<div class="infoSections colListInfoUsers flex-fill">
					<div class="panel panel-default m-b-0">
						<div class="panel-body scroll">
							<ul class="list-group usersList">
								<!-- <li class="list-group-item">
									<div class="avatar">
										<div class="centraliza">
											<img src="$context/assets/chat/img/user.png" alt="" />
										</div>
									</div>
									<div class="bodyChat">
										<div class="header">
											<div class="titleChat">
												<span class="flexElipse">Daniel</span>
											</div>
										</div>
										<div class="secondaryHeader">
											<div class="titleChat">
												<span class="flexElipse">Ocupado</span>
											</div>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="avatar">
										<div class="centraliza">
											<img src="$context/assets/chat/img/user.png" alt="" />
										</div>
									</div>
									<div class="bodyChat">
										<div class="header">
											<div class="titleChat">
												<span class="flexElipse">Daniel</span>
											</div>
										</div>
										<div class="secondaryHeader">
											<div class="titleChat">
												<span class="flexElipse">Ocupado</span>
											</div>
										</div>
									</div>
								</li> -->
							</ul>
						</div>
					</div>
				</div>
				<div class="infoSections acoes-conversa flex-fixed">
					<span class="holdOneBtn center-block text-center">
					</span>
				</div>
			</div>
		</div>
	</div>
</div>