<div id="colunaChat" class="col-md-8 col-xs-8 fullHeight">
	<div class="row fullHeight">
		<div class="col-md-12 col-xs-12 fullHeight chatArea">
			
			<div class="chatContent">
				<ul class="list-group" id="mensagens">
					<li class="list-group-item"><div class="spinner"></div></li>
					<!-- Lista de mensagens -->
				</ul>
			</div>
			<footer class="typeTextArea">
				<div class="block">
					<div class="holdInput">
						<div class="inputTextArea">
							<div class="input-placeholder">Digite aqui sua mensagem</div>
							<div dir="auto" class="input" id="inputMensagem" contenteditable></div>
						</div>
					</div>
					<div class="buttonHold">
						<button class="mdl-button rounded sendMessage">
							<i class="material-icons">send</i>
						</button>
					</div>
				</div>
			</footer>
			<div class="modal insideChatArea fade">
				<h4>
					<i class="material-icons closeModalChatImage">close</i> Pré visualizar
				</h4>
				<div class="contentModal">
					<div class="sections">
						<div class="previewImg">
							<div class="centraliza">
								<img class="thumbAenviar" src="" />
							</div>
						</div>
					</div>
					<div class="sections">
						<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect enviarImagem">
							<i class="material-icons">send</i>
						</button>
						<div class="holdMedias">
							<ul class="list-group">
								<!-- <li class="list-group-item"><a
									class="thumbnail"> <span
										class="cancelaImagem"><i class="material-icons">close</i></span> <img class="img-responsive"
										src="" />
								</a></li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>