<div id="colunaEsquerda" class="col-md-4 col-xs-4 fullHeight fatherLeft">
	<div class="row fullHeight">
		<!-- CONTAINER LEFT -->
		<div class="col-xs-12 p-l-0 p-r-0 leftDrawer drawer-container drawer-container-left">
			<div id="novaConversaSection"></div>
		</div>
		<div class="col-xs-12 p-l-0 p-r-0 fullHeight borderRight">
			<div class="topSections leftSection">
				<!-- BOX DO AVATAR DO USUARIO -->
				<div class="avatar">
					<div class="centraliza">
						<img src="$session.userInfo.urlFotoUsuario" alt="Foto do $session.userInfo.nome" />
					</div>
				</div>
				<div class="bodyChat">
					<div class="title icons">
						<button class="mdl-button openColumn mdl-button--icon"
							data-drawerColumn="leftColumn" data-colid="novaConversa"
							id="buscarContatos">
							<i class="material-icons">chat</i>
						</button>
						<button id="leftActions"
							class="mdl-button rounded mdl-js-button mdl-button--icon">
							<i class="material-icons">more_vert</i>
						</button>
						<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="leftActions">
							<a href="$context/pages/mural.htm"><li class="mdl-menu__item">Ir para o Livecom</li></a>
						</ul>
					</div>
					<div class="mdl-tooltip" for="buscarContatos">Nova Conversa</div>
				</div>
			</div>
			<div class="subTopSection">
				<button class="mdl-button">
					<i class="material-icons backIcon">arrow_back</i> <i
						class="material-icons searchIcon">search</i>
				</button>
				<div class="group-control searchBox">
					<div class="input-placeholder">Buscar conversa</div>
					<input type="text" class="form-control campoBuscar"
						aria-describedby="basic-addon1" ng-model="toUser">
				</div>
			</div>
			<div class="col-xs-12 colListChat">
				<div id="listaConversasAtiva"></div>
			</div>
		</div>
	</div>
</div>