<div class="tab-pane fade in" id="tab_configuracoes">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td class="tooltip-livecom" title="Mostrar no mural as postagens feitas nesse grupo"><label class="control-label labelCampo bordered-msg">Mostrar posts no mural</label> </td>
				<td><input type="checkbox" name="mostraMuralOn" class="bootstrap checkConfig" #if($gu.isMostraMural()) checked="checked" #end data-off-color="danger"  data-off-text="Não" data-on-text="Sim" /></td>
			</tr>
			<tr>
				<td class="tooltip-livecom" title="Receber notificações de atividades no grupo"><label class="control-label labelCampo bordered-msg">Receber Push</label> </td>
				<td><input type="checkbox" name="pushOn" class="bootstrap checkConfig" #if($gu.isPush()) checked="checked" #end data-off-color="danger"  data-off-text="Não" data-on-text="Sim" /></td>
			</tr>
		</tbody>
	</table>
</div>