<div class="tab-pane fade in #if($tab == 'addUser') active #end" id="tab_users">
	<div class="clearfix">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="actions marginLeft">
					<a class="btn btn-primary btn-sm sbold btn-add-users">Add <i class="fa fa-plus"></i></a>
					<div class="btn-group">
						<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
						<ul class="dropdown-menu pull-right">
							<li><a class="table-view"><i class="fa fa-align-justify"></i> Ver Tabela</a></li>
							<li><a class="grid-view"><i class="fa fa-th"></i> Ver Grid</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="portlet-body">
				<div class="spinner-blue menor" style="position: absolute; height: 100%; top: 0; bottom: 0; left: 0; right: 0; display: none; background-color: #fff; z-index: 4;"></div>
				<div class="clearfix">
					<!-- GRIDVIEW -->
					<div class="clearfix view-grid">
						<div class="scrollGroupList">
							<ul class="listaHorizontal noPaddingTop clearfix listaUsuarios"></ul>
						</div>
					</div>
				
					<!-- TABELAVIEW -->
					<div class="clearfix view-tabela">
						<table id="table-usuarios-grupo" class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
							<thead>
                     	<tr>
	                     	<th colspan="3" class="table-header bg-blue font-white">
#if(!$!grupo.grupoVirtual)
Usuários
#else
Subgrupos
#end</th>
								</tr>
								<tr>
									<th>Nome</th>
                           #if($grupo.id && !$!grupo.grupoVirtual)
                           <th>Login</th>
                           #end
									<th class="two-buttons">Detalhes</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>