<div class="tab-pane fade in #if(!$tab) active #end" id="tab_dados">
	<div class="row form-group">
		<div class="col-md-6">
			<label class="control-label labelCampo" for="form_nome">Nome do Grupo</label>
			<div>$form.fields.nome</div>
		</div>
		#if ($cadastro_grupo_codigo == 1)
			#if($!CADASTRAR_CODIGOS)
				<div class="col-md-6">
					<label class="control-label labelCampo pull-left" for="form_codigo">Código</label>
					&nbsp;&nbsp;&nbsp;<i class="fa fa-question-circle font-blue tooltip-livecom" title="Campo utilizado na importação de usuários"></i>
					<div class="campoPost">$form.fields.codigo</div>
				</div>
			#end
		#end
		#if($!cadastro_grupo_virtual_on && $!cadastro_grupo_virtual_on == 1)
		<div class="col-md-3">
			<label class="control-label labelCampo form-group pull-left" for="form_padrao">Grupo virtual</label>
			&nbsp;&nbsp;&nbsp;<i class="fa fa-question-circle font-blue tooltip-livecom-grupo-virtual"></i>
			<div class="campoPost grupo-virtual-input-wrapper #if(!$!somenteAdmin && !$!somenteAdmin == 1) disabled #end">$form.fields.grupoVirtual</div>
		</div>
		#end
	</div>
	#if($!tipoGrupo)
	<div class="row tipo-grupo" #if($!grupo.id && $!grupo.grupoVirtual) style="display: none;" #end>
		<div class="col-md-8 form-group clearfix">
			<label class="control-label labelCampo form-group pull-left">Tipo do Grupo</label>
			&nbsp;&nbsp;&nbsp;<i class="fa fa-question-circle font-blue tooltip-livecom-tipo-grupo"></i>
			<div class="col-md-12 row">
				$form.fields.radioTipoGrupo
			</div>
		</div>
	</div>
	#end
	<div class="row form-group">
		<div class="col-xs-12">
			<p class="control-label labelCampo bordered-msg">Informações sobre publicações</p>
		</div>
		#if($!cadastro_grupo_categoria_on && $!cadastro_grupo_categoria_on == 1)
		<div class="col-md-6">
			<label class="control-label labelCampo form-group pull-left" for="categoria">Categoria</label>
			&nbsp;&nbsp;&nbsp;<i class="fa fa-question-circle font-blue tooltip-livecom" title="Qual será a categoria padrão de postagem para esse grupo?"></i>
			<div class="campoPost">
				<select id="categoria" name="categoria_grupo">
					<option value="">Selecione uma Categoria</option>
				</select>
			</div>
		</div>
		#end
		<div class="col-md-3">
			<label class="control-label labelCampo" for="form_padrao">Grupo padrão para postar</label>
			<div class="campoPost">$form.fields.padrao</div>
		</div>
	</div>
	#if($!grupo_restricao_horario_on == "1")
	<div class="row">
		<div class="col-md-4 form-group">
			<label class="control-label labelCampo">$messages.get('grupo.hora.abertura')</label>
			<input name="horaAbertura" id="horaAbertura" 
				class="inputHorarioGrupo form-control input-sm tooltip-livecom" 
				type="text" value="$format.date($!grupo.horaAbertura, "HH:mm")" autocomplete="off" />
		</div>
		<div class="col-md-4 form-group">
			<label class="labelCampo">$messages.get('grupo.hora.fechamento')</label>
			<input name="horaFechamento" id="horaFechamento" 
				class="inputHorarioGrupo form-control input-sm tooltip-livecom" 
				type="text" value="$format.date($!grupo.horaFechamento, "HH:mm")" autocomplete="off"/>
		</div>
	</div>
	#end
</div>