<div class="tab-pane fade" id="tab_permissao">
	<div class="clearfix">
	
		<div class="col-md-3 permissoes-list-wrapper">
			<ul class="ver-inline-menu tabbable margin-bottom-10">
				<li class="active"><a data-toggle="tab" href="#tab-permissoes-permissoes"><i class="fa fa-lock" aria-hidden="true"></i>Permissões</a></li>
				<li><a data-toggle="tab" href="#tab-permissoes-subadmins"><i class="fa fa-user-secret" aria-hidden="true"></i>Moderadores</a></li>
			</ul>
		</div>
		
		<div class="col-md-9">
			<div class="tab-content fixedHeight">
				<div id="tab-permissoes-permissoes" class="tab-pane subtab fade in active">
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption font-dark">
								<label class="control-label labelCampo pull-left todosPostam" for="form_todosPostam">$form.fields.todosPostam Todos podem postar&nbsp;&nbsp;&nbsp;</label>
								<i class="fa fa-question-circle font-blue tooltip-livecom" title="Todos os usuários desse grupo poderão realizar publicações?"></i>
							</div>
							<div class="actions marginLeft podem-postar hidden">
								<a class="btn btn-primary btn-sm sbold btn-add-permissao">Add <i class="fa fa-plus"></i></a>
							</div>
						</div>
                  <div class="portlet-body podem-postar hidden portlet-permissoes">
							<div class="clearfix">
                     	<table id="table-permissoes-grupo" class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
                        	<thead>
                           	<tr>
                              	<th colspan="3" class="table-header bg-blue font-white">Usuários que podem postar no grupo</th>
										</tr>
                              <tr>
                              	<th>Nome</th>
                                 <th>Login</th>
                                 <th class="two-buttons">Detalhes</th>
										</tr>
									</thead>
                           <tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				
				<div id="tab-permissoes-subadmins" class="tab-pane subtab fade">
					<div class="portlet light">
						<div class="portlet-title">
							<div class="actions marginLeft">
								<a class="btn btn-primary btn-sm sbold btn-add-subadmin">Add <i class="fa fa-plus"></i></a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="clearfix">
								<table id="table-subadmins-grupo" class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
	                     	<thead>
	                        	<tr>
	                           	<th colspan="3" class="table-header bg-blue font-white">Moderadores do grupo</th>
										</tr>
	                           <tr>
	                           	<th>Nome</th>
	                              <th>Login</th>
	                              <th class="two-buttons">Detalhes</th>
										</tr>
									</thead>
	                        <tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>