<div class="page-content">
	<h3 class="page-title">$messages.get('senha.alterar.label')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			#if(($ACESSO_CADASTROS && $!CADASTRAR_USUARIOS) || $!CONFIGURACOES_AVANCADAS)
				<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			#else
			<li><span>Sistema <i class="fa fa-angle-right"></i></span></li>
			#end

			#if($!session.userInfo.id == $!usuario.id)
				<li><span>Meus Dados</span></li>
			#else
				#if($!CADASTRAR_USUARIOS)
			<li><a href="$context/cadastro/usuarios.htm">Usuários</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/usuario.htm?id=$!usuario.id">$!usuario.nome</a> <i class="fa fa-angle-right"></i></li>
				#else
			<li><a href="$context/pages/usuarios.htm">Usuários</a> <i class="fa fa-angle-right"></i></li>
				#end
			#end

			<li><span>Alterar Senha</span></li>
		</ul>
	</div>
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-lock"></i> Alterar senha</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<div class="col-md-8 col-md-offset-2 col-xs-12">
						<div class="clearfix form-group">
							<label class="control-label labelCampo">
						    	<input id="inputSenha" name="inputSenha" value="1" type="checkbox"> Senha padrão gerada pelo sistema
							</label>
						</div>
						<div class="clearfix novaSenha form-group">
							<label class="labelCampo" for="form_senha_nova">Digite a senha:</label>
							<div class="campoPost">
								<input name="senhaAtual" id="form_senha_nova" value="" size="20" class="input" autofocus>
							</div>
						</div>
						<div class="clearfix">
							<label class="control-label labelCampo">
						    	<input id="enviarSenhaEmail" name="enviarSenhaEmail" value="" type="checkbox"> Enviar senha para o e-mail do usuário
							</label>
						</div>
						<div class="clearfix">
							<div class="col-md-12 text-center">
								<input type="submit" name="alterar" id="form_alterar" value="Alterar" class="btn btn-primary min-width">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")

<script>
$(document).ready(function(){
	$('#inputSenha').on('ifChecked', function(event){
		$(".novaSenha").fadeOut("fast");
		$("#form_senha_nova").val('');
		$(".botoesSalvar").css("bottom","70px");
	});
	$('#inputSenha').on('ifUnchecked', function(event){
		$(".novaSenha").fadeIn("fast");
		$(".botoesSalvar").css("bottom","0");
	});
    
	$('#form_alterar').click(function (e) {
		e.preventDefault();
		var senha = $("#form_senha_nova").val(),
			 id = "$id",
			 sendEmail = $('#enviarSenhaEmail').is(':checked');

		jsHttp.post("$context/rest/usuario/senha?senha=" + senha +"&id=" + id + '&sendMail=' + sendEmail,{
			beforeSend: function(){
				$(".error-content, .success-content").hide();
				$("#modalSuccess").modal('show');
				$(".spinner-content").show();
			},
			success: function (data) {
				swal({
					type: 'success',
					title: 'Sucesso!',
					text: 'Senha alterada com sucesso!',
				}).then(function () {
					location.href = '$context/cadastro/usuario.htm?id='+id;
				});
			},
			error: function (data) {
				swal({
					type: 'warning',
					title: 'Ops...',
					text: 'Algo deu errado. Por favor, tente novamente',
				}).then(function () {
					location.reload();
				})
			}
		});
	});
});
</script>