<div class="page-content">
	<h3 class="page-title">#if(!$arquivo.id) Cadastro de Arquivo #else $!arquivo.nome #end</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Arquivos</span><i class="fa fa-angle-right"></i></li>
			<li class="arquivos"></li>
			<li><span>$!arquivo.id - $!arquivo.nome</span></li>
		</ul>
	</div>
   
	<div class="row content">
		<div class="col-md-12">
			<div class="profile-sidebar">
				<!-- PORTLET MAIN -->
				<div class="portlet light profile-sidebar-portlet ">
					<!-- SIDEBAR USERPIC -->
						<div class="profile-userpic">
							<div class="mt-element-card mt-element-overlay">
								<div class="col-md-12">
									<div class="mt-card-item logo">
										<div class="mt-card-avatar mt-overlay-1">
											#if($!arquivo.extensao == "jpg" || $!arquivo.extensao == "jpeg" || $!arquivo.extensao == "png" || $!arquivo.extensao == "gif" || $!arquivo.extensao == "ico" || $!arquivo.extensao == "bmp" || $!arquivo.extensao == "webp")
												<div class="fotoUsuario big">
													<div class="centraliza">
														<img src="$!arquivo.urlThumb" alt="Thumbnail">
													</div>
												</div>
											#else
												<div class="fotoUsuario big">
													<div class="centraliza">
														<span class="extensaoArquivo">$!arquivo.extensao</span>
														<img src="$context/img/custom_file.png"/>
													</div>
												</div>
											#end
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END SIDEBAR USERPIC -->
                  
                  <!-- SIDEBAR USER TITLE -->
						<div class="profile-usertitle">
							<div class="profile-usertitle-name">
								<a href="#">$!arquivo.nome</a>
							</div>
						</div>
						<!-- END SIDEBAR USER TITLE -->
                  
                  <!-- SIDEBAR BUTTONS -->
						<div class="profile-userbuttons" style="padding-bottom: 15px;">
							<br>
						</div>
						<!-- END SIDEBAR BUTTONS -->
                  
				</div>
				<!-- PORTLET MAIN -->
				
				<div class="portlet light ">
					<!-- STAT -->
					<div class="row list-separated profile-stat">
						<div class="col-md-12 col-sm-12 col-xs-12">
							#if($!arquivo.extensao == "jpg" || $!arquivo.extensao == "JPG" || $!arquivo.extensao == "jpeg" || $!arquivo.extensao == "png" || $!arquivo.extensao == "PNG" || $!arquivo.extensao == "gif" || $!arquivo.extensao == "ico" || $!arquivo.extensao == "bmp" || $!arquivo.extensao == "webp")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-image-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Imagem</div>
							#elseif($!arquivo.extensao == "pdf")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">PDF</div>
							#elseif($!arquivo.extensao == "ppt" || $!arquivo.extensao == "pptx" || $!arquivo.extensao == "pps" || $!arquivo.extensao == "ppsx")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Apresentação de Slide(s)</div>
							#elseif($!arquivo.extensao == "rtf" || $!arquivo.extensao == "doc" || $!arquivo.extensao == "docx" || $!arquivo.extensao == "txt" || $!arquivo.extensao == "odt")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Arquivo de texto</div>
							#elseif($!arquivo.extensao == "xls" || $!arquivo.extensao == "xlsx")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-excel-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Planilha Excel</div>
							#elseif($!arquivo.extensao == "mp4" || $!arquivo.extensao == "3gp")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-video-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Vídeo</div>
							#elseif($!arquivo.extensao == "mp3")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-audio-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Áudio</div>
							#elseif($!arquivo.extensao == "zip" || $!arquivo.extensao == "rar" || $!arquivo.extensao == "tar" || $!arquivo.extensao == "gz")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-archive-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Arquivo compactado</div>
							#elseif($!arquivo.extensao == "csv")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Arquivo CSV</div>
							#else
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Arquivo</div>
							#end
						</div>
					</div>
					<!-- END STAT -->
				</div>
				<!-- END PORTLET MAIN -->
                    
			</div>
			<!-- PROFILE SIDEBAR -->
         
			<div class="profile-content user">
				<div class="portlet light">
					<div class="portlet-title tabbable-line">
						<div class="caption left caption-md">
							<i class="fa fa-file font-blue"></i> <span class="caption-subject font-blue bold uppercase">$!arquivo.id - $!arquivo.nome</span>
						</div>
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab_dados" data-toggle="tab">Dados do Arquivo</a></li>
							<li><a href="#modalPreview" data-toggle="modal">Preview</a></li>
						</ul>
					</div>
					<div class="portlet-body">
						<div class="tab-content">
							<!-- TAB DADOS -->
							<form>
								<div class="tab-pane fade in active" id="tab_dados">
									<div class="clearfix form-group">
										<div class="col-md-12">
											<label class="control-label labelCampo">Nome do Arquivo</label>
											<div class="campoPost">
												<input id="nome" type="text" value="$!arquivo.nome" class="form-control" autocomplete="off" autofocus>
											</div>
										</div>
									</div>
									<div class="clearfix form-group">
										<div class="col-md-12">
											<label class="control-label labelCampo">Descrição</label>
											<div class="campoPost">
												<input id="descricao" type="text" value="#if($arquivo.descricao) $!arquivo.descricao #end" class="form-control" autocomplete="off" #if(!$arquivo.descricao) placeholder="Sem descrição" #end>
											</div>
										</div>
									</div>
									<div class="clearfix form-group">
										<div class="col-md-4">
											<label class="control-label labelCampo">Criado por</label>
											<div class="campoPost"><a href="$context/usuario.htm?id=$!arquivo.usuario.id">$!arquivo.usuario.nome</a></div>
										</div>
										<div class="col-md-4">
											<label class="control-label labelCampo">Data de Criação</label>
											<div class="campoPost">$format.date($!arquivo.dataCreate, "dd/MM/yyyy, HH:m:s")</div>
										</div>
										<div class="col-md-4">
											<label class="control-label labelCampo">Tamanho</label>
											<div class="campoPost kb"></div>
										</div>
									</div>
									<div class="clearfix form-group">
										<div class="col-md-4">
											<label class="control-label labelCampo">Extensão</label>
											<div class="campoPost">.$!arquivo.extensao</div>
										</div>
										<div class="col-md-4">
											<label class="control-label labelCampo">MIME Type</label>
											<div class="campoPost">$!arquivo.mimeType</div>
										</div>
										#if($!arquivo.width > 0 || $!arquivo.height > 0)
										<div class="col-md-4">
											<label class="control-label labelCampo">Dimensões (px)</label>
											<div class="campoPost">$!arquivo.width x $!arquivo.height</div>
										</div>
										#end
									</div>
									<div class="clearfix text-right">
										<input type="submit" name="salvar" id="form_salvar" value="Salvar" class="btn btn-primary min-width" />
									</div>
								</div>
							</form>
                	</div><!-- TAB CONTENT -->
					</div>
				</div>
			</div>
		</div><!-- COL-MD-12 -->
	</div><!-- ROW CONTENT -->
</div>


<!-- Modal -->
<div class="modal fade" id="modalPreview" role="dialog" aria-labelledby="modalPreview" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
  	<form>
    <div class="modal-content">
      <div class="modal-header modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-list-alt"></span> Preview: $!arquivo.nome</h4>
      </div>
      <div class="modal-body text-center">
      	#if($!arquivo.extensao == "jpg" || $!arquivo.extensao == "JPG" || $!arquivo.extensao == "jpeg" || $!arquivo.extensao == "png" || $!arquivo.extensao == "PNG" || $!arquivo.extensao == "gif" || $!arquivo.extensao == "ico" || $!arquivo.extensao == "bmp" || $!arquivo.extensao == "webp")
      		<!-- imagens -->
      		<img src="$!arquivo.urlThumb" alt="Arquivo $!arquivo.nome" />
      		
      	#elseif($!arquivo.extensao == "pdf" ||
      	$!arquivo.extensao == "ppt" || $!arquivo.extensao == "pptx" || $!arquivo.extensao == "pps" || $!arquivo.extensao == "ppsx" ||
      	$!arquivo.extensao == "rtf" || $!arquivo.extensao == "doc" || $!arquivo.extensao == "docx" || $!arquivo.extensao == "txt" || $!arquivo.extensao == "odt" ||
      	$!arquivo.extensao == "xls" || $!arquivo.extensao == "xlsx")
      		<!-- docs - pdf, powerpoint, word, txt, excel -->
      		<iframe class="iframe medium bordered radius" src="https://docs.google.com/gview?url=$!arquivo.urlThumb&embedded=true" style="width:100%; height:75%;"></iframe>
      		
      	#elseif($!arquivo.extensao == "mp4" || $!arquivo.extensao == "3gp")
      		<!-- videos -->
      		<video width="400" controls>
      			<source src="$!arquivo.urlThumb" type="video/$!arquivo.extensao">
      		</video>
     		#elseif($!arquivo.extensao == "mp3")
     			<!-- audios -->
     			<audio controls>
      			<source src="$!arquivo.urlThumb" type="audio/$!arquivo.extensao">
      		</audio>
      	#elseif($!arquivo.extensao == "zip" || $!arquivo.extensao == "rar" || $!arquivo.extensao == "tar" || $!arquivo.extensao == "gz")
      		<div class="clearfix modal-padding">
	      		<div class="uppercase profile-stat-title icon"><i class="fa fa-file-archive-o fa-3x" aria-hidden="true"></i></div>
	      		<h3>Este é um arquivo compactado</h3>
      			<p class="file-info">Para visualizá-lo, baixe em seu aparelho.</p>
	      		<a class="btn btn-primary btn-lg" href="$!arquivo.urlThumb">
	      			<i class="fa fa-download" aria-hidden="true"></i>
	      			&nbsp;Download&nbsp;
	      		</a>
	      	</div>
     		#elseif($!arquivo.extensao == "psd")
     			<div class="clearfix modal-padding">
	      		<div class="uppercase profile-stat-title icon"><i class="fa fa-file fa-3x" aria-hidden="true"></i></div>
	      		<h3>Este é um arquivo do <b>Adobe Photoshop</b></h3>
      			<p class="file-info">Para visualizá-lo, baixe em seu aparelho.</p>
	      		<a class="btn btn-primary btn-lg" href="$!arquivo.urlThumb">
	      			<i class="fa fa-download" aria-hidden="true"></i>
	      			&nbsp;Download&nbsp;
	      		</a>
	      	</div>
      	#else
      	   <div id="table-container"></div>
      	#end
      </div>
    </div>
    </form>
  </div>
</div>
<script>
$(document).ready(function(){
	var tamanho = "$!arquivo.length";
	var resultado = formatBytes(tamanho);
	$(".campoPost.kb").html(resultado);
	
	
	var ref = document.referrer;
	ref = ref.substr(ref.lastIndexOf('/') + 1);
	if(ref == "meusArquivos.htm"){
		$("li.arquivos").append('<a href="$context/pages/meusArquivos.htm">Meus Arquivos</a><i class="fa fa-angle-right"></i>');
	}else{
		$("li.arquivos").append('<a href="$context/pages/arquivos.htm">Todos os Arquivos</a><i class="fa fa-angle-right"></i>');
	}
});

var validator = jsValidator({
	form : 'form',
	rules : {
		nome : {
			minlength : 2,
			required : true
		},
	},
	success : function(form) {
		var params = {
			nome : $("#nome").val(),
			descricao : $("#descricao").val()
		}
		params.id = parseInt('$id');
		if (params.id) {
			httpPut("$context/rest/v1/arquivo", params, success);
		}
	}
});

var success = function(data) {
	if(data.status != "ERROR")
		toastr.success('<b>' + data.message + "</b>");
	else
		toastr.error('<b>Atenção!</b><br>'+data.message);
};
</script>