<div class="page-content">
	<h3 class="page-title"> Cadastros <small> lista de cadastros do sistema</small></h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="$context/pages/mural.htm">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">Cadastros</a>
			</li>
		</ul>
	</div>
                    
	<div class="row content">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
         <div class="portlet light ">
				<div class="portlet-title">
            	<div class="caption font-dark">
               	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-archive"></i> Cadastros Básicos</span>
               </div>
				</div>
            <div class="portlet-body">
            	<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
               	<tbody>
                  	<tr align="center">
              				<td><a href="$context/cadastro/areas.htm" class="font-blue">$messages.get('area.label')s</a></td>
                  	</tr>
                  	<tr align="center">
                   		<td><a href="$context/cadastro/cargos.htm" class="font-blue">$messages.get('funcao.label')s</a></td>
                   	</tr>
                  	<tr align="center">
                  		<td><a href="$context/cadastro/categorias.htm" class="font-blue">$messages.get('categorias.label')</a></td>
                  	</tr>
                  	#if($!cadastro_chapeus_on && $!cadastro_chapeus_on == 1)
                  	<tr align="center">
                  		<td><a href="$context/cadastro/chapeus.htm" class="font-blue">
#if(!$chapeu_subcategoria_label_on || $!chapeu_subcategoria_label_on != 1)
Subcategorias
#else
Chapéus
#end
</a></td>
                  	</tr>
                  	#end #if($!cadastro_cidades_on && $!cadastro_cidades_on == 1)
                  	<tr align="center">
                  		<td><a href="$context/cadastro/cidades.htm" class="font-blue">$messages.get('cidade.label')s</a></td>
                   	</tr>
                   	#end
                   	<tr align="center">
                   		<td><a href="$context/cadastro/diretorias.htm" class="font-blue">$messages.get('diretoria.label')s</a></td>
                   	</tr>
                   	<tr align="center">
                   		<td><a href="$context/cadastro/expedientes.htm" class="font-blue">Expedientes</a></td>
                   	</tr>
                   	<tr align="center">
                   		<td><a href="$context/cadastro/grupos.htm" class="font-blue">$messages.get('grupos.label')</a></td>
                   	</tr>
                   	<tr align="center">
                   		<td><a href="$context/cadastro/idiomas.htm" class="font-blue">$messages.get('idiomas.label')</a></td>
                   	</tr>
                   	<tr align="center">
                   		<td><a href="$context/cadastro/linkConhecido.htm" class="font-blue">$messages.get('linkConhecido.label')</a></td>
                   	</tr>
                   	<tr align="center">
                   		<td><a href="$context/cadastro/newsletter.htm" class="font-blue">Newsletter</a></td>
                   	</tr>
                   	<tr align="center">
                   		<td><a href="$context/cadastro/statusPost.htm" class="font-blue">Status Post</a></td>
                   	</tr>
                   	#if($!cadastro_usuarios_on && $!cadastro_usuarios_on == 1)
	                   	<tr align="center">
	                   		<td><a
	                   		#if($!CADASTRAR_CODIGOS)
	                   		href="$context/cadastro/usuarios.htm"
	                   		#else
	                   		href="$context/pages/usuarios.htm"
	                   		#end
	                   		class="font-blue">$messages.get('usuarios.label')</a></td>
	                   	</tr>
                   	#end
                   	#if($!mural_tags_on && $!mural_tags_on == 1)
                   	<tr align="center">
                   		<td><a href="$context/cadastro/tags.htm" class="font-blue">$messages.get('tags.label')</a></td>
                   	</tr>
                   	#end
					</tbody>
					</table>
				</div>
			</div>
         <!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>
</div>
#parse("/msg.htm")