<div class="page-content">
	<h3 class="page-title">Tree</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/categorias.htm">Categorias</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Tree</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">

			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-code-fork"></i> Categorias</span>
					</div>
					<div class="actions">
						<button class="btn sbold btn-primary nova-categoria">Add <i class="fa fa-plus"></i>
						</button>
						<div class="btn-group">
							<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right filtro-idioma-categoria"></ul>
						</div>
					</div>
				</div>
				<div class="portlet-body clearfix portlet-body-categoria">
					<div class="col-md-12 row">
						<div class="col-sm-6">
							<div id="categoriasTree" class="treecategoria"></div>
						</div>

						<div class="col-sm-6">
							<div class="portlet light portlet-categoria fade">
								<div class="portlet-title tabbable-line">
									<ul class="nav nav-tabs"></ul>
								</div>
								<div class="portlet-body">
									<form id="formCategoria">
										<div class="tab-content idiomas-tabs-wrapper form-group"></div>

										<div class="clearfix">
											<input type="hidden" value="" name="id" id="idCategoria">
											<div class="row form-group clearfix">
												#if($!CADASTRAR_CODIGOS)
												<div class="col-md-6">
													<label for="nome" class="control-label">Código</label>
													<input type="text" class="form-control input-sm" id="codigo" name="codigo" maxlength="50" placeholder="">
												</div>
												#end
												<div class="col-md-6">
													<label for="nome" class="control-label">URL Ícone</label>
													<input type="text" class="form-control input-sm" id="icone" name="icone" maxlength="255" placeholder="">
												</div>
											</div>
											#if($!categoria_pai_on && $!categoria_pai_on == '1')
												<div class="form-group" id="form_group_categoria">
									  				<label class="control-label" for="form_categoria_pai">Categoria Pai</label>
									  				<select class="form-control input-sm" id="form_categoria_pai"></select>
									  			</div>
									  			#end
											<div class="row form-group clearfix">
												<div class="col-md-6">
													<div class="form-group">
														<label class="labelCheck">
														<input type="checkbox" name="form_padrao_categoria" id="form_padrao_categoria">
															<span>Categoria padrão para postagem</span>
														</label>
													</div>
													<div
														class="form-group minicolors-position-bottom minicolors-position-left">
														<span class="labelCor">Cor da categoria</span>
														<input type="text" class="corCategoria form-control" id="corCategoria" value="" />
													</div>
												</div>
												#if($form.fields.menu || $form.fields.likeable || $form.fields.hideData)
												<div class="col-md-6">
													#if($form.fields.menu)
													<div class="form-group">
														<label class="labelCheck">$form.fields.menu
															<span>Mostrar esta categoria no menu Mobile</span>
														</label>
													</div>
													#end #if($form.fields.likeable)
													<div class="form-group">
														<label class="labelCheck">$form.fields.likeable
															<span>Mostrar barra de like</span>
														</label>
													</div>
													#end #if($form.fields.hideData)
													<div class="form-group">
														<label class="labelCheck">$form.fields.hideData
															<span>Ocultar data do post</span>
														</label>
													</div>
													#end
												</div>
												#end
											</div>
										</div>

										<div class="clearfix text-right">
											<button type="button" class="btn btn-default clearFormCategoria min-width">Cancelar</button>
											<button type="button" class="btn btn-danger min-width" id="deletarCateg">Deletar Categoria</button>
											<button type="submit" class="btn btn-primary min-width" id="salvarCateg">Salvar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var dTableIdioma = null, _idiomasDisponiveis = {}, _filtroCategoriaId = '';

$(".corCategoria").minicolors();

$(document).ready(function() {
	loadCategorias();
	loadIdiomas(null);
	
	$('#modalIdiomaCategoria').on('shown.bs.modal', function() {
		if($('#idIdioma').val() == ''){
			$('#form_idioma_categoria_dados').show();
			$('#nomeIdioma').hide();
	  	}else{
		  	$('#form_idioma_categoria_dados').hide();
		  	$('#nomeIdioma').show();
		}
	});
	
	$('body').on('click', '.filtro-categoria', function(){
		_filtroCategoriaId = $(this).data('id');
		loadCategorias($(this).data('id'));
	});

	$('#modalIdiomaCategoria').on('hidden.bs.modal', function() {
		clearFormIdioma();
	});
	
	$('body').on('click',".editarIdioma",function(e) {
		var nome = $(this).data('nome'),
			idioma = $(this).data('idioma'),
			id = $(this).data('id');
		
		$('#idRel').val(id);
		$('#nomeCategoriaIdioma').val(nome);
		$('#nome_modal_idioma_categoria').val(idioma).change();
		$('.form-group.select-holder').addClass('disabled');
		$('#modalIdiomaCategoria').modal('show');
	});
	
	$('body').on('click', '.remover-idioma', function(){
		removerIdioma($(this).data('id'), $(this).data('categoria'));
	});
	
	$('#salvarCateg').click(function(event){
		event.preventDefault();
		event.stopPropagation();
		salvarCategoria();
	});
	
	$('#deletarCateg').click(function(){
		$(this).html('<i class="fa fa-spinner fa-fw fa-spin"></i>');
		deletarCategoria();
	});
	
	$('.labelCor').click(function(e){
		$(".corCategoria").minicolors("toggle");
		return false; 
	});

	$('.clearFormCategoria').click(function() {
		clearFormCategoria();
	});
	
	$('body').on('click',".categoria",function(e) {
		var idClick = $(this).data("id"),
			nomeClick = $(this).data("nome"),
			paiClick = $(this).data("pai"),
			corClick = $(this).data("cor"),
			codigoClick = $(this).data("codigo"),
			padraoClick = $(this).data("padrao"),
			iconeClick = $(this).data("icone"),
			liClick = $(this.parentElement.parentElement); 
		clearFormCategoria();
		$('#idCategoria').val(idClick);
		$('#nomeCategoria').val(nomeClick);
		$('#form_categoria_pai').val(paiClick).trigger("change"); 
		$("#corCategoria").minicolors("value", "#"+corClick);
		$('#codigo').val(codigoClick);
		$('#icone').val(iconeClick);
		$('#editarCategoriaIdioma').removeClass('hidden');
		if(padraoClick == true){
			$("#form_padrao_categoria").iCheck('check');
			$("#form_padrao_categoria").iCheck('update');
		}
		clearIdiomas();
		
		$('.portlet-categoria').addClass('in');
		loadIdiomas(idClick);
	});

	$('body').on('click',".spacer, .collapsedIcon",function(e) {
		var li = this.parentElement.parentElement,
		idClick = $(this).data("id"),
		nomeClick = $(this).data("nome");
		
		clickCategoria(idClick, nomeClick, $(li));
	});

	$('body').on('click', '.nova-categoria', function(e) {
		var idPai = $(this).data("id-pai"),
			nomePai = $(this).data("nome-pai");
		
		clearFormCategoria();
		
		if($('#form_categoria_pai option[value="'+idPai+'"]').length < 1){ // verifica se a opção já está na lista
			var conteudo = '<option value="'+idPai+'">'+nomePai+'</option>';
			$("#form_categoria_pai").append(conteudo);
			$("#form_categoria_pai").select2({dropdownParent: $('#form_group_categoria')});
		}
		
		$('#form_categoria_pai').val(idPai).trigger("change");
		
		createNewIdioma({
			isNewCategoria: true
		});
	});
	
	$('body').on('click', '.new-idioma-categoria', function(){
		createNewIdioma({});
	});
});

function createNewIdioma(options){
	var _idiomas = {}, _idiomasUtilizados = {}, markup = '';
	
	$('.portlet-categoria .nav-tabs li.li-link').each(function(idx, elm){
		_idiomasUtilizados[$(elm).data('idioma')] = {
			id: $(elm).data('idioma'),
			nome: $(elm).data('idioma-nome'),
			icone: $(elm).data('idioma-icone')
		}; 
	});
	
	for(var i in _idiomasDisponiveis){
		var idioma = _idiomasDisponiveis[i],
			disabled = '';
		
		if(_idiomasUtilizados[idioma.id]){
			disabled = 'disabled';
		}
		
		markup += '<div class="idioma '+idioma.icone+' '+disabled+'" data-nome="'+idioma.nome+'" data-icone="'+idioma.icone+'" data-id="'+idioma.id+'" title="'+idioma.nome+'">';
			markup += '<i class="lg '+idioma.icone+'"></i>';
		markup += '</div>';
	}
		
	if(options.isNewCategoria){
		$('.portlet-categoria').addClass('in');
		$('.tabbable-line > ul').append('<li class="li-new-idioma"><a class="new-idioma-categoria"><i class="fa fa-plus font-blue" aria-hidden="true"></i></a></li>');
	}
	
	if(Object.size(_idiomasUtilizados) < Object.size(_idiomasDisponiveis)){
		swal({
			title: 'Selecione um idioma',
			html: '<div class="clearfix idiomas-disponiveis">'+markup+'</div>',
			showCancelButton: true,
			confirmButtonText: 'Selecionar',
			showLoaderOnConfirm: true,
			allowOutsideClick: false
		}).then(function(idioma){
			var selected = $('.swal2-content .idiomas-disponiveis .idioma.active'),
			_idioma = {
				nome: $(selected).data('nome'),
				icone: $(selected).data('icone'),
				id: $(selected).data('id')
			};
			createNewTab(_idioma);
		});
	}else{
		swal({
			title: 'Atenção!',
			text: 'Não há mais idiomas disponíveis.',
			type: 'error',
			timer: 3000
		});
	}
	
	$('body').on('click', '.swal2-content .idiomas-disponiveis .idioma', function(){
		$('.swal2-content .idiomas-disponiveis .idioma').removeClass('active');
		$(this).addClass('active');
	});
}

function createNewTab(idioma){
	var tabLink = '',
		tabWrapper = '',
		hidden = $('.portlet-categoria .nav-tabs li.link').length == 0 ? 'hidden' : '',
		categoriaId = $('#idCategoria').val();
	
	tabLink += '<li class="li-link" data-idioma="'+idioma.id+'" data-idioma-nome="'+idioma.nome+'" data-idioma-icone="'+idioma.icone+'">';
		tabLink += '<i class="fa fa-close remover-idioma '+hidden+'" data-id="" data-categoria="'+categoriaId+'" data-toggle="tooltip" title="Remover idioma"></i>';
		tabLink += '<a href="#tab_'+idioma.id+'_categoria_'+categoriaId+'" data-idioma="'+idioma.id+'" class="fix-padding" data-toggle="tab">';
			tabLink += '<div class="idiomas-disponiveis">';
				tabLink += '<div class="idioma '+idioma.icone+'" data-toggle="tooltip" data-code="'+idioma.codigo+'" title="'+idioma.nome+'">';
					tabLink += '<i class="md '+idioma.icone+'"></i>';
				tabLink += '</div>'
			tabLink += '</div>';
		tabLink += '</a>';
	tabLink += '</li>';
	
	tabWrapper += '<div class="tab-pane fade" id="tab_'+idioma.id+'_categoria_'+categoriaId+'" data-idioma="'+idioma.id+'" data-id="">';
		tabWrapper += '<label for="" class="control-label">Nome</label>';
		tabWrapper += '<input type="text" data-idioma="'+idioma.id+'" data-id="" id="idioma_'+idioma.id+'_categoria_'+categoriaId+'" name="idioma_'+idioma.id+'_categoria_'+categoriaId+'" class="form-control" placeholder="Insira o nome da categoria" />';
	tabWrapper += '</div>';
	
	$('.portlet-categoria .nav-tabs').append(tabLink);
	$('.idiomas-tabs-wrapper').append(tabWrapper);
	$('[data-toggle="tooltip"]').tooltip({ html: true });
	
	setTimeout(function(){
		$('.portlet-categoria .nav-tabs li.li-link').last().find('a').click();
		if($('.portlet-categoria .nav-tabs li.li-link').length > 1){
			$('.portlet-categoria .nav-tabs li.li-link').find('i.remover-idioma').removeClass('hidden');
		}
	}, 300);
}

function removerIdioma(idiomaId, categoriaId){
	httpDelete("$context/rest/categoriaIdioma/" + idiomaId, function(data){
		if(data.status == 'ERROR') {
			toastr.error(data.message);
		} else {
			$('.treecategoria .categoria[data-id="'+categoriaId+'"]').click();
			toastr.success('Idioma removido com sucesso');
		}
	}, null, null);
}

function loadIdiomas(id){
	var table = '';
	
	if(id == null){
		ajaxGet("$context/rest/idioma", null, null, success);
		
		function success(idiomas) {
			var conteudoSelect = '<option value="-1">Selecione um idioma</option>',
				conteudoFiltro = '<li><a class="filtro-categoria" data-id=""><i class="fa fa-flag"></i> Todas as Categorias</a></li>';
				
			for(var i in idiomas.idiomas) {
				var item = idiomas.idiomas[i];
				conteudoFiltro += '<li><a class="filtro-categoria" data-id="'+item.id+'"><i class="fa fa-flag"></i> Categorias em '+item.nome+'</a></li>';
				conteudoSelect += '<option value="'+item.id+'">'+item.nome+'</option>';
				
				_idiomasDisponiveis[item.id] = {
					id: item.id,
					nome: item.nome,
					icone: item.icone
				};
			}
			
			$('.filtro-idioma-categoria').append(conteudoFiltro);
			$("#nome_modal_idioma_categoria").append(conteudoSelect);
		}
	}else{
		ajaxGet("$context/rest/idioma/categoria/" + id, null, null, success);
		
		function success(idiomas) {
			var links = '<li class="li-new-idioma"><a class="new-idioma-categoria"><i class="fa fa-plus font-blue" aria-hidden="true"></i></a></li>';
				tabsWrapper = '';
			for(var i in idiomas) {
				var item = idiomas[i];
				$('#editarCategoriaIdioma').find('input[data-id-idioma='+item.idioma.id+']').val(item.nome);
				links += createTabsLinks(item, i, idiomas.length);
				tabsWrapper += createTabsWrapper(item, i);
			}
			
			if(dTableIdioma != null){
				$('.table-idiomas > tbody').empty();
				dTableIdioma.clear();
				dTableIdioma.destroy();
			}
			
			$('.tabbable-line > ul').html(links);
			$('.idiomas-tabs-wrapper').html(tabsWrapper);
			
			$('.table-idiomas > tbody').append(table);
			$('[data-toggle="tooltip"]').tooltip({ html: true });
			dTableIdioma = loadTable(null, true);
		}
	}
}

function createTabsLinks(item, idx, length){
	var tabs = '', active = idx == 0 ? 'active' : '', hidden = length < 2 ? 'hidden' : '';
	
	tabs += '<li class="'+active+' li-link" data-idioma="'+item.idioma.id+'" data-idioma-nome="'+item.idioma.nome+'" data-idioma-icone="'+item.idioma.icone+'">';
		tabs += '<i class="fa fa-close remover-idioma '+hidden+'" data-id="'+item.id+'" data-categoria="'+item.categoria.id+'" data-toggle="tooltip" title="Remover idioma"></i>';
		tabs += '<a href="#tab_'+item.idioma.id+'_categoria_'+item.id+'" data-idioma="'+item.idioma.id+'" class="fix-padding" data-toggle="tab">';
			tabs += '<div class="idiomas-disponiveis">';
				tabs += '<div class="idioma '+item.idioma.icone+'" data-toggle="tooltip" data-code="'+item.idioma.codigo+'" title="'+item.idioma.nome+'">';
					tabs += '<i class="md '+item.idioma.icone+'"></i>';
				tabs += '</div>'
			tabs += '</div>';
		tabs += '</a>';
	tabs += '</li>';
	
	return tabs;
}

function createTabsWrapper(item, idx){
	var wrapper = '', active = idx == 0 ? 'in active' : '';
	
	wrapper += '<div class="tab-pane fade '+active+'" id="tab_'+item.idioma.id+'_categoria_'+item.id+'" data-idioma="'+item.idioma.id+'" data-id="'+item.id+'">';
		wrapper += '<label for="" class="control-label">Nome</label>';
		wrapper += '<input type="text" data-idioma="'+item.idioma.id+'" data-id="'+item.id+'" id="idioma_'+item.idioma.id+'_categoria_'+item.id+'" name="idioma_'+item.idioma.id+'_categoria_'+item.id+'" class="form-control" value="'+item.nome+'" placeholder="Insira o nome da categoria" />';
	wrapper += '</div>';
	
	return wrapper;
}

function createTable(item){
	var rTable = '';
	
	rTable += '<tr data-idioma="'+item.idioma.id+'" data-id="'+item.id+'" data-icone="'+item.idioma.icone+'">';
		rTable += '<td>';
			rTable += '<div class="idiomas-disponiveis">';
				rTable += '<div class="idioma '+item.idioma.icone+'" title="'+item.idioma.nome+'" data-toggle="tooltip">';
					rTable += '<i class="sm '+item.idioma.icone+'"></i>';
				rTable += '</div>';
			rTable += '</div>';
		rTable += '</td>';
		
		rTable += '<td>'+item.nome+'</td>';
		
		rTable += '<td>';
			rTable += '<button class="editarIdioma btn btn-outline green-sharp" data-id="'+item.id+'" data-nome="'+item.nome+'" data-idioma="'+item.idioma.id+'"><i class="fa fa-edit"></i></button>';
			rTable += '<button class="apagar-idioma-categoria btn btn-outline red-mint" data-toggle="confirmation" data-placement="top" data-original-title="Confirma deletar?" data-id="'+item.id+'" data-nome="'+item.idioma.nome+'" data-idioma="'+item.idioma.id+'"><i class="fa fa-trash"></i></button>';
		rTable += '</td>';
	rTable += '</tr>';
	
	return rTable;
}

function loadCategorias(idiomaId, categoriaId){
	var data = idiomaId ? { id: idiomaId } : { id: null };
	jQuery.ajax({
		url: '$context/rest/v1/categoria/pai',
		type: 'POST',
		data: JSON.stringify(data),	
		contentType: 'application/json',
		beforeSend: function(){
			$('#categoriasTree').empty();
			$('.portlet-body.clearfix').addClass('spinner-blue');
			$('.portlet-categoria').removeClass('in');
			clearFormCategoria();
		},
		success: function(resp){
			var conteudo = '';
			if(resp && resp.length > 0){
				conteudo += createTree(resp);	
			}else{
				conteudo += '<div class="no-results-found">Nenhuma categoria encontrada</div>';
			}
			
			$('#categoriasTree').append(conteudo);
			
			#if($!categoria_pai_on && $!categoria_pai_on == '1')
				var conteudoPai = '<option value="">Selecione uma categoria pai</option>';
				for(var i in resp) {
					var item = resp[i],
						nome = '';
						if(item.idiomas && item.idiomas[0] && item.idiomas[0].nome){
							nome = item.idiomas[0].nome;
						}else if(item.nome){
							nome = item.nome;
						}
						if(_filtroCategoriaId != ''){
							for(var j in item.idiomas){
								var campo = item.idiomas[j];
								if(campo.idioma.id == _filtroCategoriaId){
									nome = campo.nome
									break;
								}
							}
						}
					conteudoPai += '<option value="'+item.id+'">'+nome+'</option>';
				}
				$("#form_categoria_pai").append(conteudoPai);
				$("#form_categoria_pai").select2({dropdownParent: $('#form_group_categoria')});
			#end
			
			setTimeout(function(){
				$('.portlet-body.clearfix').removeClass('spinner-blue');
				if(categoriaId){
					$('#categoriasTree .categoria[data-id="'+categoriaId+'"]').click();
				}
			}, 1000);			
		}
	});
}

function clickCategoria(id, nome, li){
	var aberto = $(li).hasClass('aberto'),
		fechado = $(li).hasClass('fechado');
	
	if(aberto){
		$(li).removeClass("aberto").addClass("fechado");
		$('#categoriasTree').find('ul[data-id='+id+']').children().remove();
	}else if(fechado){
		$(li).removeClass("fechado").addClass("aberto");

		ajaxGet("$context/rest/v1/categoria/pai/" + id, null, beforeSend, success);
		
		function beforeSend(categorias) {
			$(".paginaAtual").show();
		}
		
		function success(categorias) {
			expandTree(categorias, id, nome);
			$('#categoriasTree').find('ul .level2 > li.aberto > ul .level3').find('span.unselected.nova-categoria').each(function(index, element){
				$(this.parentElement.parentElement).remove();
			});
		}
		$(".paginaAtual").hide();
		
	}
}

function expandTree(categorias, idPai, nomePai){
	var rTree = "", conteudoPai = "";
	if((categorias.status && categorias.status != "ERROR") || (categorias && categorias.length > 0)){
		for(var i in categorias) {
			var campo = categorias[i],
				cor = "000",
				nomeCategoriaIdioma = '';
			
			if(campo.idiomas && campo.idiomas[0] && campo.idiomas[0].nome){
				nomeCategoriaIdioma = campo.idiomas[0].nome;
			}else if(campo.nome){
				nomeCategoriaIdioma = campo.nome;
			}
			
			if($('#form_categoria_pai option[value="'+campo.id+'"]').length < 1){ // verifica se a opção já está na lista
				conteudoPai += '<option value="'+campo.id+'">'+nomeCategoriaIdioma+'</option>';
			}
			
			if(_filtroCategoriaId != ''){
				for(var j in campo.idiomas){
					var item = campo.idiomas[j];
					if(item.idioma.id == _filtroCategoriaId){
						nomeCategoriaIdioma = item.nome
						break;
					}
				}
			}
			
			if(campo.cor && campo.cor.indexOf('0x00000') == -1 && campo.cor.indexOf('FFFFFF') == -1) {
				cor = campo.cor;
			}
			
			if(campo.cor && campo.cor.lastIndexOf('#') > -1){
				cor = campo.cor;
			}else{
				cor = '#' + campo.cor;
			}
			
			var nome = '<span class="text-wrap" style="color:'+cor+';">'+nomeCategoriaIdioma+'&nbsp;</span>';
			rTree += '<li class="fechado" data-id="'+campo.id+'"  data-pai="'+idPai+'" data-pai="'+idPai+'">';
				rTree += '<span class="collapsedLastNode">'
						+ '<span class="spacer" data-id="'+campo.id+'" data-nome="'+nomeCategoriaIdioma+'"></span>'
						+ '<span class="unselected categoria" data-id="'+campo.id+'" data-nome="'+nomeCategoriaIdioma+'" data-cor='+ cor +' data-padrao="' + campo.padrao + '"'; 
				rTree += ' data-pai="' + idPai +'"';
				if(campo.idiomas && campo.idiomas[0] && campo.idiomas[0].categoria && campo.idiomas[0].categoria.codigo && campo.idiomas[0].categoria.codigo != ''){
					rTree += ' data-codigo="' + campo.idiomas[0].categoria.codigo + '"';
				}else if(campo.codigo && campo.codigo != ''){
					rTree += ' data-codigo="' + campo.codigo +'"';
				}
				if(campo.idiomas && campo.idiomas[0] && campo.idiomas[0].categoria && campo.idiomas[0].categoria.icone && campo.idiomas[0].categoria.icone != ''){
					rTree += ' data-icone="' + campo.idiomas[0].categoria.icone + '"';
				}else if(campo.icone && campo.icone != ''){
					rTree += ' data-icone="' + campo.icone + '"';
				}
				rTree += '>' + nome;
					rTree += '<div class="idiomas-disponiveis">';
						for(var k in campo.idiomas){
							if(campo.idiomas[k].idioma){
								var itemIdioma = campo.idiomas[k].idioma;
								rTree += '<div class="idioma '+itemIdioma.icone+'" data-toggle="tooltip" data-code="'+itemIdioma.codigo+'" title="'+itemIdioma.nome+'">';
									rTree += '<i class="sm '+itemIdioma.icone+'"></i>';
								rTree += '</div>'
							}
						}
					rTree += '</div>';
				rTree += '</span></span>';
				
				rTree += '<ul class="level3" data-id="'+campo.id+'" data-pai="'+idPai+'">';
				rTree += "</ul>";
			rTree += "</li>";
		}
		$("#form_categoria_pai").append(conteudoPai);
	}
	rTree += '<li class="new">';
		rTree += '<span class="leaf"><span class="spacer"></span>'
		+ '<span class="unselected nova-categoria font-blue" data-id-pai="'+idPai+'" data-nome-pai="'+nomePai+'"><i class="fa fa-plus" data-toggle="tooltip" title="Adicionar nova"></i>'
		+ '</span></span>';
	rTree += "</li>";
	
	var alvo = $('#categoriasTree').find('ul[data-id='+idPai+']');
	if (alvo.hasClass('hidden')){
		alvo.removeClass('hidden');
	}
	
	if(rTree != ""){
		alvo.prepend(rTree);
	}
	
	$('[data-toggle="tooltip"]').tooltip({ html: true });
}

function createTree(categorias){
	var rTree = "";
	
	rTree += '<ul class="level1">';
	for(var i in categorias) {
		var campo = categorias[i],
			cor = "000",
			nomeCategoriaIdioma = '';
		
		if(campo.idiomas && campo.idiomas[0] && campo.idiomas[0].nome){
			nomeCategoriaIdioma = campo.idiomas[0].nome;
		}else if(campo.nome){
			nomeCategoriaIdioma = campo.nome;
		}
		
		if(_filtroCategoriaId != ''){
			for(var j in campo.idiomas){
				var item = campo.idiomas[j];
				if(item.idioma.id == _filtroCategoriaId){
					nomeCategoriaIdioma = item.nome
					break;
				}
			}
		}
		
		if(campo.cor && campo.cor.indexOf('0x00000') == -1 && campo.cor.indexOf('FFFFFF') == -1) {
			cor = campo.cor;
		}
		
		if(campo.cor && campo.cor.lastIndexOf('#') > -1){
			cor = campo.cor;
		}else{
			cor = '#' + campo.cor;
		}
		
		var nome = '<span class="text-wrap" style="color:'+cor+';">'+nomeCategoriaIdioma+'&nbsp;</span>';
		
		rTree += '<li class="fechado" data-id="'+campo.id+'" data-nome="'+nomeCategoriaIdioma+'">';
			rTree += '<span class="collapsedLastNode">'
					+ '<span class="spacer" data-id="'+campo.id+'" data-nome="'+nomeCategoriaIdioma+'"></span>'
					+ '<span class="unselected categoria" data-id="'+campo.id+'" data-nome="'+nomeCategoriaIdioma+'" data-cor="'+ cor +'" data-padrao="' + campo.padrao + '"'; 
					if(campo.idiomas && campo.idiomas[0] && campo.idiomas[0].categoria && campo.idiomas[0].categoria.codigo && campo.idiomas[0].categoria.codigo != ''){
						rTree += ' data-codigo="' + campo.idiomas[0].categoria.codigo + '"';
					}else if(campo.codigo && campo.codigo != ''){
						rTree += ' data-codigo="' + campo.codigo +'"';
					}
					if(campo.idiomas && campo.idiomas[0] && campo.idiomas[0].categoria && campo.idiomas[0].categoria.icone && campo.idiomas[0].categoria.icone != ''){
						rTree += ' data-icone="' + campo.idiomas[0].categoria.icone + '"';
					}else if(campo.icone && campo.icone != ''){
						rTree += ' data-icone="' + campo.icone + '"';
					}
					rTree += '>' + nome;
						rTree += '<div class="idiomas-disponiveis">';
							for(var k in campo.idiomas){
								if(campo.idiomas[k].idioma){
									var itemIdioma = campo.idiomas[k].idioma;
									rTree += '<div class="idioma '+itemIdioma.icone+'" data-toggle="tooltip" data-code="'+itemIdioma.codigo+'" title="'+itemIdioma.nome+'">';
										rTree += '<i class="sm '+itemIdioma.icone+'"></i>';
									rTree += '</div>'
								}
							}
						rTree += '</div>';
					rTree += '</span></span>';
			rTree += '<ul class="level2 hidden" data-id="'+campo.id+'">';
			rTree += "</ul>";
		rTree += "</li>";
	}
	rTree += "</ul>";
	
	return rTree;
}

function clearFormCategoria() {
	$("#corCategoria").minicolors("value", "");
	$("#idCategoria, #nomeCategoria, #codigo, #icone").val("");
	$("#form_padrao_categoria").iCheck('uncheck');
	$("#form_padrao_categoria").iCheck('update');
	#if($!categoria_pai_on && $!categoria_pai_on == '1')
		$('#form_categoria_pai').val(null).trigger("change");
	#end
	$('#salvarCateg').html('Salvar');
	$("#form_menu").iCheck('uncheck');
	$("#form_menu").iCheck('update');
	$("#form_likeable").iCheck('uncheck');
	$("#form_likeable").iCheck('update');
	$("#form_hideData").iCheck('uncheck');
	$("#form_hideData").iCheck('update');
	
	$('#formCategoria').find('.form-group').removeClass('has-error').removeClass('has-success');
	
	$('.portlet-categoria .nav-tabs, .idiomas-tabs-wrapper').empty();
}

function clearIdiomas() {
	$('#editarCategoriaIdioma .tab-content > .tab-pane').each(function(index, element){
		if($(this).find('input').attr('data-id-idioma')){
			$(this).find('input').val('');
		}
	});
}

function deletarCategoria(){
	var id = $('#idCategoria').val()
	httpDelete("$context/rest/v1/categoria/" + id, function(data){
		if(data.status == 'ERROR') {
			toastr.error(data.message);
		} else {
			loadCategorias();
			toastr.success('Categoria deletada com sucesso.');
		}
		
		$('#deletarCateg').html('Deletar Categoria');
	}, null, null);
}

function salvarCategoria(){
	var data = [],
	categoria = {
		nome: $("#nomeCategoria").val(),
   		codigo: $("#codigo").length > 0 ? $("#codigo").val() : '',
   		urlIcone: $("#icone").length > 0 ? $("#icone").val() : '',
   		cor: $("#corCategoria").length > 0 ? $("#corCategoria").val() : '',
   		padrao: $("#form_padrao_categoria").length > 0 ? $("#form_padrao_categoria").is(':checked') : false,
   		menu: $("#form_menu").length > 0 ? $("#form_menu").is(':checked') : false,
   		likeable: $("#form_likeable").length > 0 ? $("#form_likeable").is(':checked') : true,
   		hideData: $("#form_hideData").length > 0 ? $("#form_hideData").is(':checked') : false,
	};
	
	if($('#idCategoria').val() != ''){
		categoria.id = $('#idCategoria').val();
	}
	
	#if($!categoria_pai_on && $!categoria_pai_on == '1')
		if($('#form_categoria_pai').val() != ''){
			categoria.categoriaParent = { id: $('#form_categoria_pai').val() };
		}
	#end
	

	for(var i = 0, len = $('.portlet-categoria .nav-tabs li.li-link').length; i < len; i++){
		var idx = i + 1,
			obj = {
				nome: $('.idiomas-tabs-wrapper .tab-pane:nth-child('+idx+')').find('.form-control').val(),
				idioma: {
					id: $('.idiomas-tabs-wrapper .tab-pane:nth-child('+idx+')').find('.form-control').data('idioma'),
				},
				categoria: categoria
			}
		
		if($('.idiomas-tabs-wrapper .tab-pane:nth-child('+idx+')').find('.form-control').data('id') != ''){
			obj.id = $('.idiomas-tabs-wrapper .tab-pane:nth-child('+idx+')').find('.form-control').data('id');
		}
		
		data.push(obj);
	}

	jQuery.ajax({
		type: 'POST',
		url: "$context/rest/categoriaIdioma/categorias",
		data: JSON.stringify(data),
		contentType: 'application/json',
		beforeSend: function(){
			$('#salvarCateg').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
		},
		success: function(resp){
			if(resp.status == 'ERROR'){
				toastr.error(resp.message);
			}else{
				toastr.success('Categoria atualizada com sucesso');
				if(resp.entity[0] && $('.treecategoria .categoria[data-id="'+resp.entity[0].categoria.id+'"]').length > 0){
					$('.treecategoria .categoria[data-id="'+resp.entity[0].categoria.id+'"]').data('codigo', resp.entity[0].categoria.codigo);
					$('.treecategoria .categoria[data-id="'+resp.entity[0].categoria.id+'"]').attr('data-codigo', resp.entity[0].categoria.codigo);
					$('.treecategoria .categoria[data-id="'+resp.entity[0].categoria.id+'"]').click();
				}else{
					loadCategorias('', resp.entity[0].categoria.id);
				}
			}
			
			$('#salvarCateg').html('Salvar');
		}
	});
}

var success  = function(data) {
	if(data.entity && data.status != "ERROR") {
		if(data.entity && !data.entity.id){
			location.reload();
		}else{
			toastr.success(data.message);
			clearFormCategoria();
			loadCategorias();
			$('#salvarCateg').html('Salvar');
		}
	}else{
		toastr.error(data.message);
	}
};
</script>