<div class="page-content">
	<h3 class="page-title">Newsletter</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Newsletter</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
		
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Configurações de newsletter</span>
					</div>
				</div>
				
				<div class="portlet-body">
					<div class="spinner-blue spin-nl" style="display: none;"></div>
					<form name="form_newsletter" id="form_newsletter" method="post">
						<input type="hidden" id="id">
						<input type="hidden" id="agendamento_id">
						<input type="hidden" id="usuario_id">
						<input type="hidden" id="usuario_updated_id">						

						<!-- DESTINO -->
						<div class="row clearfix quebraLinhaForm newsCheck">
							<div class="col-md-6 form-group">
								<input type="hidden" id="idsGrupos" name="idsGruposOrigem">
								<label class="control-label labelCampo"><i class="fa fa-users"></i>&nbsp;Origem:</label>
								<div class="row clearfix campoPost checkInline">
									<label for="todosGrupos" class="col-lg-4"><input type="radio" name="radioOrigem" id="todosGrupos" class="radioOrigem" value="todosGrupos" checked>
									Todos os grupos</label>										
									<label for="selGrupos" class="col-lg-6"><input type="radio" name="radioOrigem" id="selGrupos" class="radioOrigem" value="selGrupos">
									Selecionar grupos</label>
								</div>								
								<div class="form-group select-groups2 post-groups">
									<input type="text" id="filtroGroupUser" name="filtroGroupUser" class="form-control">
								</div>									
							</div>
							<div class="col-md-6 form-group">
								<input type="hidden" id="nameGrupos" class="nameGrupos">
								<input type="hidden" id="nameUsers" class="nameUsers">
								<input type="hidden" name="idsGruposDestino" id="idsGruposDestino" value="" class="idsGruposDestino">
								<input type="hidden" name="idsUsers" id="idsUsersDestino" value="" class="idsUsersDestino">								
								<label class="control-label labelCampo"><i class="fa fa-paper-plane"></i>&nbsp;Destino:</label>
								<div class="row clearfix campoPost checkInline">								
									<label for="todos" class="col-lg-4"><input type="radio" name="radioGroup" id="destino_todos" class="radioGroup" value="todos" checked>
									Todos os usuários</label>
									
									<label for="grupos" class="col-lg-4"><input type="radio" name="radioGroup" id="grupos" class="radioGroup" value="grupos">
									Selecionar grupos</label>
									
									<label for="usuarios" class="col-lg-4"><input type="radio" name="radioGroup" id="usuarios" class="radioGroup" value="usuarios">
									Selecionar usuários</label>
								</div>							
								<div class="form-group select-groups post-groups">
									<input class="form-control" placeholder="Selecionar grupos" id="insertGrupos" name="insertGrupos">
								</div>
								<div class="form-group select-users post-groups">
									<input class="form-control" placeholder="Selecionar usuários" id="insertUsuarios" name="insertUsuarios">
								</div>
							</div>
						</div>
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-6 form-group">
								<label class="control-label labelCampo"><i class="fa fa-th-list"></i>&nbsp;Categoria:</label>
								<div class="clearfix">
									<select id="categoria" name="categoria">
										<option value="" selected>Todas</option>
									</select>
								</div>
							</div>		
							<div class="col-md-2 form-group">
								<label class="control-label labelCampo"><i class="fa fa-rss"></i>&nbsp; Quantidade de posts</label>
		            			<input type="number" min="1" id="qtdPosts" name="qtdPosts" class="form-control" value="" placeholder="Posts newsletter">
							</div>							
							<div class="col-md-4 form-group blocoPeriodicidade">
								<label class="control-label labelCampo"><i class="fa fa-calendar"></i>&nbsp; Periodicidade </label>
		            			<input data-toggle="modal" data-target="#modalPeriodicidade" type="text" id="periodicidade" name="periodicidade" class="form-control" value="" placeholder="Intervalo de tempo" readonly>
							</div>
						</div>
						
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-6 form-group">
								<label class="control-label labelCampo"><i class="fa fa-tags"></i>&nbsp;Tags:</label>
								<div class="clearfix post-tags">
		            				<input type="text" class="input" size="20" value="" id="tags" name="tags">
	            				</div>		            				
		            				<input type="hidden" name="idsTags" id="idsTags" value="$!post.tags">
							</div>
							<div class="col-md-6 form-group">
								<label class="control-label labelCampo"><i class="fa fa-envelope-o"></i>&nbsp;Template:</label>
								<div class="clearfix">
									<select id="template" name="template">
										<option value="" disabled selected>Selecione</option>
									</select>
								</div>
							</div>
						</div>
						
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-6 form-group">
								<label class="control-label labelCampo"><i class="fa fa-envelope-o"></i>&nbsp;Título do E-mail:</label>
								<div class="clearfix campoPost">
									<input type="text" id="titulo" name="titulo" class="form-control" value="Resumo dos posts mais recentes" >
								</div>
							</div>
						</div>							
		            	
						<div class="clearfix text-right">
							<button type="button" class="btn btn-default clearForm min-width" >Novo</button>
							<input type="submit" class="btn btn-primary min-width" id="salvarNews" value="Salvar" />
						</div>					
					</form>
				</div>
				<div class="portlet-body">
					<!-- TABELA VIEW -->
					<div class="clearfix viewTabela">
						<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
							<thead>
								<tr>
									<th>Id</th>
									<th>Criado por</th>
									<th>Título</th>
									<th>Template</th>
									<th>Periodicidade</th>
									<th style="min-width:140px; width:10%;">Detalhes</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<div class="paginaAtual" data-page="-1"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Periodicidade -->
<div class="modal fade" id="modalPeriodicidade" role="dialog" aria-labelledby="modalPeriodicidade" tabindex="-1">
	<div class="modal-dialog modal-sm" role="document">
		<form id="formPeriodicidade">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-calendar"></span> Configurar Periodicidade
					</h4>
				</div>
				
				<div class="modal-body clearfix">
					<div class="form-group">
						<label class="control-label labelCampo" for="dataPubli">Data de envio:</label>
	       				<div class="campoPost">
		        			<i class="linear-icons icone-publicar tooltip-livecom" title="Data de início"></i>
		        			<i class="icones ico-fecharCinza limparInputs"></i>
		  	     			<input id="dataPubli" name="dataPubli" class="input icone menor date_false_autodateonstart" placeholder="#if(!$post.dataPublicacao || $post.rascunho == 'true') Data de início #else $format.date($!post.dataPublicacao, 'dd/MM/yyyy HH:m:s') #end" type="text" value="#if($post.rascunho == 'false')$format.date($!post.dataPublicacao, 'dd/MM/yyyy HH:m:s')#end" autocomplete="off">
						</div>
					</div>
					<div class="form-group campoPost noHeight">
						<label class="labelCheck"> <input type="checkbox" id="repetir" name="repetir"> <span id="repetirSpan">Repetir</span></label>
					</div>
					<div class="form-group disabled" id="repetirCampo">
						<label class="control-label labelCampo" for="tipoPeriodicidade">Tipo:</label>
							<select id="tipoPeriodicidade" name="tipoPeriodicidade">
								<option value="" disabled selected>Selecione</option>
								<option value="1" data-texto="todo dia" >Diário</option>
								<option value="7" data-texto="toda semana" >Semanal</option>
								<option value="30" data-texto="todo mês" >Mensal</option>
							</select>
						<div class="form-group diario">
							<label class="control-label labelCampo" >Repetir em:</label>
								<label class="labelCheck"><input type="checkbox" id="segunda" name="segunda" checked>S</label>
								<label class="labelCheck"><input type="checkbox" id="terca" name="terca" checked>T</label>
								<label class="labelCheck"><input type="checkbox" id="quarta" name="quarta" checked>Q</label>
								<label class="labelCheck"><input type="checkbox" id="quinta" name="quinta" checked>Q</label>
								<label class="labelCheck"><input type="checkbox" id="sexta" name="sexta" checked>S</label>
								<label class="labelCheck"><input type="checkbox" id="sabado" name="sabado">S</label>
								<label class="labelCheck"><input type="checkbox" id="domingo" name="domingo">D</label>
						</div>	
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default min-width" data-dismiss="modal">Cancelar</button>
					<button type="button" data-dismiss="modal" class="btn btn-primary min-width" id="salvarPeriodicidade">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Modal Preview -->
<div class="modal fade" id="modalPreview" role="dialog" aria-labelledby="modalPreview" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<form>
			<div class="modal-content">
			<input type="hidden" id="newsletter_id">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-picture"></span> Preview Template
					</h4>					
				</div>
				<div class="modal-body">
					<iframe id="tempFrame" class="iframe medium bordered radius"></iframe>
				</div>
				<div class="modal-footer">
					<a type="button" class="btn btn-primary min-width" id="btConfirm" data-toggle="modal" data-target="#modalConfirm"><i class="fa fa-send"></i>&nbsp; Enviar email de Teste</a>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Modal Confirmação de envio -->
<div class="modal fade" id="modalConfirm" role="dialog" aria-labelledby="modalConfirm" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<span class="glyphicon glyphicon-envelope"></span> Enviar teste de newsletter
				</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default min-width" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary min-width enviarNewsletterTeste" data-dismiss="modal" >Enviar</button>
			</div>
		</div>
	</div>
</div>

<script>
var dTable = null;
var arrayGrupos = [];
var arrayTags = [];
var arrayGruposDestino = [];
var arrayUsuariosDestino = [];


function loadNewsletter(idNewsletter){
	if(idNewsletter){
		ajaxGet("$urlNewsletter/"+idNewsletter, null, function(){
			$('.spinner-blue').fadeIn();
		}, function(data){
			if(data){
				setTimeout(function(){
					var agendamento = data.agendamento;
					$("#agendamento_id").val(data.agendamento_id);
					agendamento.segunda ? $("#segunda").iCheck("check") : $("#segunda").iCheck("uncheck");					
					agendamento.terca ? $("#terca").iCheck("check") : $("#terca").iCheck("uncheck");
					agendamento.quarta ? $("#quarta").iCheck("check") : $("#quarta").iCheck("uncheck");
					agendamento.quinta ? $("#quinta").iCheck("check") : $("#quinta").iCheck("uncheck");
					agendamento.sexta ? $("#sexta").iCheck("check") : $("#sexta").iCheck("uncheck");
					agendamento.sabado ? $("#sabado").iCheck("check") : $("#sabado").iCheck("uncheck");
					agendamento.domingo ? $("#domingo").iCheck("check") : $("#domingo").iCheck("uncheck");
					$("#dataPubli").val(agendamento.inicio);
					$("#tipoPeriodicidade").val(agendamento.dias);
					agendamento.dias ? $("#repetir").iCheck("check") : $("#repetir").iCheck("uncheck");
					agendamento.dias == 1 ? $(".diario").fadeIn() : $(".diario").fadeOut();
					$("#titulo").val(data.titulo);
					$("#qtdPosts").val(data.qtde_posts);
					$("#tipoPeriodicidade").trigger("change");
					$("#salvarPeriodicidade").trigger('click');
					$("#categoria").val(data.categoria_id).trigger("change");
					$("#template").val(data.template_email_id).trigger("change");
					$("#id").val(data.id);
					$("#usuario_id").val(data.usuario_id);
					$("#usuario_updated_id").val(data.usuario_updated_id);
					var idsGrupos = '';
					arrayGrupos = [];
					data.newsletter_grupos.forEach(function(data){
						idsGrupos += " "+data.grupo_id+",";
						arrayGrupos.push({
							"id": data.grupo_id,
							"nome": data.grupo.nome
						});
					});
					$("#filtroGroupUser").tokenInput('destroy');
					$("#idsGrupos").val(idsGrupos);
					loadGrupos();
					
					var idsTags = '';
					arrayTags = [];
					data.newsletter_tags.forEach(function(data){
						idsTags += " "+data.tag_id+",";
						arrayTags.push({
							"id": data.tag_id,
							"nome": data.tag.nome
						});
					});
					$("#tags").tokenInput('destroy');
					$("#idsTags").val(idsTags);
					loadTags();
					clearValidate();
					if(data.destino_todos){
						$("#destino_todos").iCheck("check");
					}else if(data.newsletter_grupo_destinos.length>0){
						var idsGruposDestino = '';
						var nomesGruposDestino = '';
						arrayGruposDestino = [];
						data.newsletter_grupo_destinos.forEach(function(data){
							var grupo = data.grupo;
							idsGruposDestino += " "+data.grupo_id+",";
							nomesGruposDestino += " "+grupo.nome+",";
							arrayGruposDestino.push({
								"id": data.grupo_id,
								"nome": grupo.nome
							});
						});
						$("#insertGrupos").tokenInput('destroy');
						$("#idsGruposDestino").val(idsGruposDestino);
						$("#nameGrupos").val(nomesGruposDestino);
						loadGruposDestino();
						$("#grupos").iCheck("check");
					}else if(data.newsletter_usuario_destinos.length>0){
						var idsUsersDestino = '';
						var nomesUsersDestino = '';
						arrayUsuariosDestino = [];
						data.newsletter_usuario_destinos.forEach(function(data){
							var usuario = data.usuario;
							idsUsersDestino += " "+usuario.id+",";
							nomesUsersDestino += " "+usuario.nome+",";
							arrayUsuariosDestino.push({
								"id": usuario.id,
								"nome": usuario.nome
							});
						});
						$("#insertUsuarios").tokenInput('destroy');
						$("#idsUsersDestino").val(idsUsersDestino);
						$("#nameUsers").val(nomesUsersDestino);
						loadUsuariosDestino();
						$("#usuarios").iCheck("check");						
					}
					if(data.todos_grupos){
						$("#todosGrupos").iCheck("check");
						$("#selGrupos").iCheck("uncheck");
					}else{
						$("#selGrupos").iCheck("check");
						$("#todosGrupos").iCheck("uncheck");				
					}
					$('.spinner-blue').fadeOut();
				}, 200)
			}
		});
	}
}
function verifyDaily(){
	if($("#tipoPeriodicidade").val() == 1){
		$(".diario").fadeIn();
	}else{
		$(".diario").fadeOut();
	}
}
$(document).ready(function() {	
	var newsletterTeste = null;
	verifyDaily();
	$("#tipoPeriodicidade").on('click', function(){
		verifyDaily();
	});

	// envio de teste + confirmação
	$("#btConfirm").click(function(){
		var idNewsletter = $("#newsletter_id").val();
		ajaxGet("$urlNewsletter/"+idNewsletter, null, null, function(data){				
			if(data.newsletter_grupo_destinos.length > 0){
				var grupos = "";
				for(var i=0; i<data.newsletter_grupo_destinos.length; i++){
					var grupoDestino = data.newsletter_grupo_destinos[i];
					if (i==0) {
						grupos += grupoDestino.grupo.nome;
					} else {
						grupos += ", " +grupoDestino.grupo.nome;
					}
				}
				$("#modalConfirm .modal-body").append("<p>Você está enviando o e-mail para o(s) grupo(s):<br/> "+grupos+" <br />Confirma a ação?");
			}	
			if(data.newsletter_usuario_destinos.length > 0){
				var users = "";
				for(var i=0; i<data.newsletter_usuario_destinos.length; i++){
					var usuarioDestino = data.newsletter_usuario_destinos[i];
					if (i==0) {
						users += usuarioDestino.usuario.nome;
					} else {
						users += ", " +usuarioDestino.usuario.nome;

					}
				}
				$("#modalConfirm .modal-body").append("<p>Você está enviando o e-mail para o(s) usuário(s):<br/> "+users+" <br />Confirma a ação?");
			}	
			if(data.destino_todos){
				$("#modalConfirm .modal-body").append("<p>Você está enviando o e-mail para todos os usuários do sistema. Confirma a ação?");
			}	
		});
	});
	$('#modalConfirm').on('hidden.bs.modal', function (e) {
		$("#modalConfirm .modal-body").html("");
	});
	$(".enviarNewsletterTeste").click(function(e){
		e.preventDefault();
		httpPost("$urlNewsletter/envioTeste", {"newsletter_id": $("#newsletter_id").val()}, function(){
			toastr.success('<b>Sucesso</b><br>Newsletter Teste enviado com sucesso');
			ajaxGet("$urlNewsletter?empresa_id="+$empresaId, null, null, successData);
		});
		$('.spinner-blue').fadeIn();
		setTimeout(function(){
			clearInputs();
			clearValidate();
			$('body').animate({scrollTop: 0}, '400');
			$('.spinner-blue').fadeOut();
		}, 200);	
	});

	// validação + salvar
	$("#salvarNews").on("click", function(){
		var validator = jsValidator({
			form : 'form',
			rules : {
				template : {required : true},
				periodicidade : {required : true},
				qtdPosts : {required : true},
				filtroGroupUser : {required : function(element) {return $('#selGrupos').is(':checked');} },
				titulo : {required : true},
				insertGrupos : {required : function(element) {return $('#grupos').is(':checked');} },
				insertUsuarios : {required : function(element) {return $('#usuarios').is(':checked');} }
			},
			success : function(form) {
				var json = {
						"id": $("#id").val(),
						"todos_grupos": $("#todosGrupos").is(':checked'),
						//"repetir": $("#repetir").is(':checked'),
						"dias": $("#repetir").is(':checked') ? $("#tipoPeriodicidade").val() : null,
						"inicio": $("#dataPubli").val(),
						"qtde_posts": $("#qtdPosts").val(),
						"idsGrupos": $("#idsGrupos").val(),
						"idsTags": $("#idsTags").val(),
						"categoria_id": $("#categoria").val(),
						"template_email_id": $("#template").val(),
						"empresa_id": $empresaId,
						"titulo": $("#titulo").val(),
						"usuario_id": $('#usuario_id').val()=='' ? $usuarioId : $('#usuario_id').val(),
						"usuario_updated_id": $usuarioId,
						"idsGruposDestino": $("#idsGruposDestino").val(),
						"idsUsersDestino": $("#idsUsersDestino").val(),
						"destino_todos": $("#destino_todos").is(':checked'),
						"agendamento_id": $("#agendamento_id").val(),
						"segunda": $("#segunda").is(':checked'),
						"terca": $("#terca").is(':checked'),
						"quarta": $("#quarta").is(':checked'),
						"quinta": $("#quinta").is(':checked'),
						"sexta": $("#sexta").is(':checked'),
						"sabado": $("#sabado").is(':checked'),
						"domingo": $("#domingo").is(':checked'),
				}
				console.log(json);
				httpPost("$urlNewsletter", json, function(){
					if(json.id){
						toastr.success('<b>Sucesso</b><br>Newsletter atualizado com sucesso');
					}else{
						toastr.success('<b>Sucesso</b><br>Newsletter cadastrado com sucesso');
					}
					ajaxGet("$urlNewsletter?empresa_id="+$empresaId, null, null, successData);
				});
				$('.spinner-blue').fadeIn();
				setTimeout(function(){
					clearInputs();
					clearValidate();
					$('body').animate({scrollTop: 0}, '400');
					$('.spinner-blue').fadeOut();
				}, 200)
			}
		});
	});
	jQuery.extend(jQuery.validator.messages, {
		number: "Insira um valor igual ou maior que {0}",
		min: "Insira um valor igual ou maior que {0}"
	});
	$('body').on('click', '.editar', function(e){
		e.stopPropagation();
		e.preventDefault();
		var idNewsletter = $(this).data('id');
		$('body').animate({scrollTop: 0}, '400');
		loadNewsletter(idNewsletter);
	});
	$("body").on('click', '.previewTemplate', function(e){
		var idNewsletter = $(this).data('id');	
		$("#newsletter_id").val(idNewsletter);
		jsHttp.get("$urlNewsletter/" + idNewsletter + "/usuario/" + $usuarioId, {
			success: function(data) {
				$('#tempFrame').contents().find('html').html(data);		
			}
		});
	});
	
	var page = $(".paginaAtual").attr("data-page");

	loadCategorias();
	loadTemplates();
	loadGrupos(); //filtro de Grupos
	loadTags(); //filtro de Tags
	loadGruposDestino();
	loadUsuariosDestino();
	
	if("$!id" != ""){
		loadNewsletter($id);
	}
	
	jQuery.alerts.dialogClass = 'boxAzul';
	
	ajaxGet("$urlNewsletter?empresa_id="+$empresaId, null, null, successData);

	//apagar newsletter
	$('body').on('click', '.apagar', function(e){
		var id = $(this).attr('data-id');
		swal({
			title: "Atenção!",
			text: "Você deseja mesmo deletar newsletter?",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#D91E18",
			confirmButtonText: "Deletar",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true,
		}).then(function () {
			httpDelete("$urlNewsletter/" + id, function(data) {
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
				ajaxGet("$urlNewsletter?empresa_id="+$empresaId, null, null, successData);
				swal("Sucesso!", "Newsletter removida.", "success");
				clearInputs();
				clearValidate();
			}, null, function(){
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
			});
		});
	});

	//limpar formulario
	$("button.clearForm").on("click", function(){
		swal({
			title: "Atenção!",
			text: "Tem certeza que quer limpar os campos? Dados editados não serão salvos.",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#D91E18",
			confirmButtonText: "Sim",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true,
		}).then(function () {
			clearInputs();
			clearValidate();
		});
	});
	loadDtPicker();

	//opções de origem e destino
	$('.radioGroup').on('ifChecked', function(event){
		var parent = $(this).parent().parent().parent().parent().parent();
		if($(this).val() == 'grupos') {
			parent.find('.select-groups').fadeIn();
			parent.find('.select-users').hide();
			parent.find(".idsUsersDestino, .nameUsers").val("");
			parent.find(".select-users ul.token-input-list li.token-input-token").remove();
		} else if($(this).val() == 'usuarios') {
			parent.find('.select-groups').hide();
			parent.find('.select-users').fadeIn();
			parent.find(".idsGruposDestino, .nameGrupos").val("");
			parent.find(".select-groups ul.token-input-list li.token-input-token").remove();
		} else {
			parent.find('.select-groups, .select-users').fadeOut();
			parent.find(".idsUsersDestino, .nameUsers, .idsGruposDestino, .nameGrupos").val("");
			parent.find(".select-users ul.token-input-list li.token-input-token, .select-groups ul.token-input-list li.token-input-token").remove();
		}
	});
	$('.radioOrigem').on('ifChecked', function(event){
		var parent = $(this).parent().parent().parent().parent().parent();
		if($(this).val() == 'selGrupos') {
			parent.find('.select-groups2').fadeIn();
			//parent.find("#idsGrupos").val("");
			//parent.find(".select-users ul.token-input-list li.token-input-token").remove();
		} else {
			parent.find('.select-groups2').fadeOut();
			parent.find("#idsGrupos").val("");
			parent.find(".select-groups2 ul.token-input-list li.token-input-token").remove();
		}
	});

	//periodicidade
	var blocoAgenda = $("body").find(".bloco");
	$("#repetir").on("ifChecked", function(){
		$("#repetirCampo").removeClass("disabled")
	});
	$("#repetir").on("ifUnchecked", function(){
		$("#repetirCampo").addClass("disabled");		
	});

	$("#salvarPeriodicidade").on("click", function(){
		var tipoPeriodicidade = $("#tipoPeriodicidade").val();
		var dataPubli = $("#dataPubli").val();
		if(tipoPeriodicidade == null){
			$("#periodicidade").val("Envio único em: "+dataPubli);
		}else{
			if($('#repetir').is(':checked')){
				$('#periodicidade').val($('#repetirSpan').text()+", começando em: "+dataPubli);
				$('blocoPeriodo').fadeIn();
			}else{
				$("#periodicidade").val("Envio único em: "+dataPubli);
			}
		}
	});

});//fim doc.ready

function getGruposDestinoURL(){
	return urlContext+"/ws/gruposAutoComplete.htm?mode=json&pode_postar=1&form_name=form&search=gruposUser&not_grupo_ids="+$("#idsGruposDestino").val()+"&user_id="+userId+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN; 
}
function loadUsuariosDestino(){
	usuarioTokenInput({
		element: "#insertUsuarios",
		url: urlContext+"/ws/usuariosAutoComplete.htm?mode=json&form_name=form",
		prePopulate: arrayUsuariosDestino,
		hintText: "$messages.get('msg.digitar')",
	    noResultsText: "$messages.get('msg.item.notFound.error')",
	    searchingText: "$messages.get('carregando.label')",
	    placeholder: "Digite os usuários...",
	    onAdd: function (item) {
			var ids = $("#idsUsersDestino").val();
			$("#idsUsersDestino").val(ids+" "+item.id+",");
			
			var names = $("#nameUsers").val();
			$("#nameUsers").val(names+" "+item.nome+",");
    	},
    	onDelete: function (item){
			var idRemove = " "+item.id+",";
	      var ids = $("#idsUsersDestino").val();
	      ids = ids.replace(idRemove,"");
	      $("#idsUsersDestino").val(ids);
	      
	      var nameRemove = " "+item.nome+",";
	      var names = $("#nameUsers").val();
	      names = names.replace(nameRemove,"");
	      $("#nameUsers").val(names);
    	},
    	resultsFormatter: function(item){
    		if(item.urlFotoUsuarioThumb){
    			return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='" + item.urlFotoUsuarioThumb + "' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Cargo: " + item.funcao + "</p></div></li>"	
    		}else{
    			return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='"+urlContext+"/imagens/user.png' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Cargo: " + item.funcao + "</p></div></li>"
    		}
  		}
	});
}
function loadGruposDestino(){
	gruposTokenInput({
		element: "#insertGrupos",
		url: getGruposDestinoURL,
		prePopulate: arrayGruposDestino,
		hintText: "Comece a digitar para buscar",
		noResultsText: "Nenhum item encontrado",
		searchingText: "Carregando...",
		placeholder: "Digite os grupos...",
		onAdd: function (item) {
			var ids = $("#idsGruposDestino").val();
			$("#idsGruposDestino").val(ids+" "+item.id+",");
			
			var names = $("#nameGrupos").val();
			$("#nameGrupos").val(names+" "+item.nome+",");
		},
	   onDelete: function (item) {
	   	var idRemove = " "+item.id+",";
	      var ids = $("#idsGruposDestino").val();
	      ids = ids.replace(idRemove,"");
	      $("#idsGruposDestino").val(ids);
	      
	      var nameRemove = " "+item.nome+",";
	      var names = $("#nameGrupos").val();
	      names = names.replace(nameRemove,"");
	      $("#nameGrupos").val(names);
		},
	});
}
function loadDtPicker(){
	$('#dataPubli').appendDtpicker({
		"autodateOnStart": true,
		"locale": "br",
		"minuteInterval": 5,
		"closeOnSelected": true,
		"futureOnly": true,
		"todayButton": true,
		"dateOnly": false,
		"dateFormat": "DD/MM/YYYY hh:mm",
		"timelistScroll": true,
		"onShow": function(handler){
			var picker = $(handler.$pickerObject[0]), container = picker.find('.datepicker_inner_container .datepicker_timelist'), curHour = container.find('.timelist_item:not(.time_in_past)').first();
			$(container).scrollTop(0);
			$(container).animate({ scrollTop: curHour.position().top - 85 }, 300);
		},
		"onHide": function(handler){
			var picker = $(handler.$pickerObject[0]), container = picker.find('.datepicker_inner_container .datepicker_timelist'), curHour = container.find('.timelist_item:not(.time_in_past)').first();
			$(container).scrollTop(0);
		}			
	});
}
function clearInputs(){
	$("#categoria, #template").val("").trigger("change");
	$("#qtdPosts, #periodicidade, #tipoPeriodicidade, #idsGrupos, #idsTags, #id").val("");
	$("#todosGrupos, #enviarAgora").iCheck("check");
	$("#filtroGroupUser").tokenInput('destroy');
	$("#tags").tokenInput('destroy');
	$("#titulo").val("Resumo dos posts mais recentes");
	$("#repetir").iCheck("uncheck");
	$(".diario").fadeOut();
	$("#segunda, #terca, #quarta, #quinta, #sexta").iCheck("check");
	loadDtPicker();
	arrayGrupos = [];
	loadGrupos();
	arrayTags = [];
	loadTags();
	$("#idsUsersDestino, #nameUsers, #idsGruposDestino, #nameGrupos").val("");
	arrayGruposDestino = [];
	$("#insertGrupos").tokenInput('destroy');
	loadGruposDestino();
	arrayUsuariosDestino = [];
	$("#insertUsuarios").tokenInput('destroy');
	loadUsuariosDestino();
	$("#destino_todos").iCheck("check");
}
function clearValidate(){
	$('label.error').hide();
	$('.has-error').removeClass('has-error');
	$('.has-success').removeClass('has-success');
}
function loadTemplates(){
	ajaxGet("$context/rest/v1/template/tipo?tipo=newsletter", null, null, function (templates) {
        var options = '';
        for(var i=0; i<templates.length; i++) {
            options +='<option value="'+templates[i].id+'"  >'+templates[i].nome+'</option>';
        }
        $("#template").append(options);
	});
}
function loadCategorias(){
	ajaxGet("$context/rest/v1/categoria", null, null, function (categoria) {
        var options = '';
        for(var i=0; i<categoria.length; i++) {
            options +='<option value="'+categoria[i].id+'" style="color: #'+categoria[i].cor+'" >'+categoria[i].nome+'</option>';
        }
        $("#categoria").append(options);
        $("#testeCategoria").append(options);
	});
}
function getTagsURL(){
	return urlContext+"/ws/tags.htm?mode=json&form_name=form&not_tag_ids="+$("#idsTags").val()+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN; 
}
function loadTags(){
	tagsTokenInput({
		element: "#tags",
		url: getTagsURL,
		jsonContainer : "list",
		queryParam: "nome",
	    prePopulate: arrayTags,
	    onAdd: function (item) {
	     	var ids = $("#idsTags").val();
				$("#idsTags").val(ids+" "+item.id+",");
	    },
	    onDelete: function (item) {
	     	var idRemove = " "+item.id+",";
	 	 		var ids = $("#idsTags").val();
	 	 		ids = ids.replace(idRemove,"");
	 			$("#idsTags").val(ids);
	     }
	});
}

function getGruposURL(){
	return urlContext+"/ws/gruposAutoComplete.htm?mode=json&form_name=form&search=gruposUser&not_grupo_ids="+$("#idsGrupos").val()+"&user_id="+userId+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN; 
}
function loadGrupos(){
	gruposTokenInput({
		element: "#filtroGroupUser",
		prePopulate: arrayGrupos,
		url: getGruposURL,
		onAdd: function (item) {
			var ids = $("#idsGrupos").val();
			$("#idsGrupos").val(ids+" "+item.id+",");
		},
	   onDelete: function (item) {
	   	var idRemove = " "+item.id+",";
	      var ids = $("#idsGrupos").val();
	      ids = ids.replace(idRemove,"");
	      $("#idsGrupos").val(ids);
		}
	});
}
function successData(data){
	var conteudo = "";
	for(var i in data){
		var campo = data[i];
		conteudo += createTable(campo);
	}
	if(dTable != null){
		dTable.clear();
		dTable.destroy();
	}
	$(".table").find("tbody").html('').append(conteudo);
	dTable = loadTable();
	$(".paginaAtual").hide();
}
function createTable(campo) {
	var agendamento = campo.agendamento;
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'" class="text-center">';
		rTable += "<td>" + campo.id + "</td>";
		rTable += "<td>" + campo.usuario.nome + "</td>";
		rTable += "<td>" + campo.titulo + "</td>";
		rTable += "<td><a href='#' class='previewTemplate' title='Preview' data-toggle='modal' data-target='#modalPreview' data-id='"+campo.id+"' value="+ campo.template_email.id +">"+ campo.template_email.nome +"</a></td>";
		var periodicidade;
		if(campo.frequencia == null){
			periodicidade = "Envio único em: " + agendamento.inicio;
		}else{
			if(campo.repetir){
				periodicidade = "Repetir a cada "+agendamento.dias+(agendamento.dias > 1 ? " dias" : " dia")+", começando em: "+agendamento.inicio;
			}else{
				periodicidade = "Envio único em: " + agendamento.inicio;
			}
		}
		rTable += "<td>" + periodicidade + "</td>";
		rTable += "<td align='center'>";
			rTable += '<a href="#" class="previewTemplate btn btn-outline uppercase purple-sharp tooltip-livecom" title="Preview" data-toggle="modal" data-target="#modalPreview" data-id="'+campo.id+'" value="'+ campo.template_email.id + '"><i class="fa fa-picture-o"></i></a>';
			rTable += '<a  class="btn btn-outline uppercase green-sharp tooltip-livecom editar" data-id="'+campo.id+'" title="Editar"><i class="fa fa-edit"></i></a>';
			rTable += '<button data-id="'+ campo.id + '" class="apagar uppercase btn btn-outline red-mint" title=""><i class="fa fa-trash"></i></button>';
		rTable += "</td>";
	rTable += "</tr>";
	return rTable;
}

</script>
#parse("/msg.htm")