<div class="page-content">
	<h3 class="page-title">Status Post</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Status Post</span></li>
		</ul>
	</div>
                    
	<div class="row content">
		<div class="col-md-12">
         <div class="portlet light">
				<div class="portlet-title">
            	<div class="caption font-dark">
               	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-info-circle"></i> Status Post</span>
               </div>
               <div class="actions">
						<button data-toggle="modal" data-target="#modal-status" class="btn sbold btn-primary">Add <i class="fa fa-plus"></i></button>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Código</th>
								<th class="two-buttons">Ações</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-status" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span>&nbsp; Status Post</h4>
			</div>
			<div class="modal-body">
				<form>
					<input type="hidden" class="form-control" name="id" id="id" />
					<div class="clearfix">
						<div class="form-group">
							<label class="control-label labelCampo" for="status">Nome</label>
							<input type="text" class="form-control" placeholder="Nome do status" id="status" name="status" />
						</div>
						<div class="form-group">
							<label class="control-label labelCampo" for="codigo">Código</label>
							<input type="text" class="form-control" placeholder="Código" id="codigo" name="codigo" />
						</div>
						<div class="form-group">
							<label class="control-label labelCampo" for="cor">Cor</label>
							<input type="text" class="form-control" placeholder="cor" id="cor" name="cor" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default min-width clearForm" data-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-primary min-width" id="salvar">Salvar</button>
			</div>
		</div>
	</div>
</div>
<script>
var dTable = null;

$("#cor").minicolors();

$(document).ready(function(){
	$('#cor').minicolors('value', '#000000');
	
	loadStatus();
	
	$('.clearForm	').click(function(){
		clearForm();
	});
	
	$('#modal-status').on('hidden.bs.modal', function(){
		clearForm();
	});
	
	$('body').on('click', '.editar-campo', function(){
		var id = $(this).attr('data-id');
		
		jQuery.ajax({
			type: 'GET',
			url: urlContext + '/rest/status/'+ id,
			success: function(resp){
				$('#id').val(resp.id);
				$('#status').val(resp.nome);
				$('#codigo').val(resp.codigo);
				if(resp.cor){
					$('#cor').minicolors('value', resp.cor);
				}else{
					$('#cor').minicolors('value', '#000000');
				}
				
				$('#modal-status').modal('show');
			}
		});
	});
	
	$('body').on('confirmed.bs.confirmation', '.deletar-campo', function() {
		var id = $(this).attr('data-id');
		if (id) {
			httpDelete("$context/rest/status/" + id, function(data) {
				$("a[data-id=" + id + "].deletar-campo").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
				if(data.status !== "ERROR"){
					dTable.row($('tr[data-id="' + id + '"]')).remove().draw(false);
					toastr.success(data.message);
				}else{
					toastr.error(data.message);
				}
			}, null, function(){
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
			});
		}
	});
	
	$('#salvar').click(function(e) {
		e.preventDefault();
		var params = {
			nome: $("#status").val(),
			codigo: $("#codigo").val(),
			cor: $('#cor').val()
		}
		if ($("#id").val() != "") {
			params.id = $("#id").val();
		}
		
		if (jQuery.trim(params.codigo) != "" && jQuery.trim(params.nome) != "") {
			$('#salvar').html('<i class="fa fa-spinner fa-spin fa-fw"></i>').addClass('disabled');
			if (params.id) {
				httpPut("$context/rest/status/", params, success);
			}else{
				httpPost("$context/rest/status", params, success);
			}
			
			clearForm();
		}else{
			toastr.error('Preencha os campos corretamente');
		}
	});
	
});

function loadStatus(){
	jQuery.ajax({
		type: 'GET',
		url: urlContext + '/rest/status',
		success: function(resp){
			if(resp.statusPost && resp.statusPost.length > 0){
				var conteudo = "";
				for(var i = 0; i < resp.statusPost.length; i++){
					var campo = resp.statusPost[i];
					conteudo += createTable(campo);
				}
			}
			
			if (dTable != null) {
				$(".table > tbody").empty();
				dTable.clear();
				dTable.destroy();
			}
			
			$(".table > tbody").append(conteudo);
			dTable = loadTable();
		}
	});
}

function createTable(campo) {
	var rTable = "";
	var cor = campo.cor ? campo.cor : '#000';
	rTable += '<tr data-id="'+campo.id+'">';
		rTable += '<td><span style="color: '+cor+';">'+campo.nome+'<span></td>';
		rTable += '<td>'+campo.codigo+'</td>';
		rTable += '<td>';
			rTable += '<a data-id="'+campo.id+'" class="editar-campo btn btn-outline green-sharp"><i class="fa fa-edit"></i></a>';
			rTable += '<a data-id="'+campo.id+'" class="deletar-campo btn btn-outline red-mint" data-toggle="confirmation" data-placement="top" data-original-title="Confirma deletar?"><i class="fa fa-trash"></i></a>';
		rTable += '</td>';
	rTable += "</tr>";
	
	return rTable;
}

var clearForm = function() {
	$("#modal-status").modal('hide');
	$("#id, #codigo, #status").val("");
	$('#cor').minicolors('value', '#000000');
	$('#salvar').html('Salvar').removeClass('disabled');
};

var success = function(data) {
	if(data.status == "ERROR"){
		toastr.error(data.message);
		return;
	}
	
	if (data.entity) {
		loadStatus();
		toastr.success(data.message);
		$('#salvar').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
		clearForm();
	}
};

function confirmationConfig() {
	$('button[aria-describedby*="confirmation"]').confirmation('hide');
	setTimeout(function() {
		$("[data-toggle=confirmation]").confirmation({
			singleton : true,
			container : '.table',
			btnOkClass : 'btn btn-sm btn-success',
			btnCancelClass : 'btn btn-sm btn-danger',
			popout : true,
			btnOkLabel : 'Sim',
			btnCancelLabel : "Não"
		});
	}, 500);
}

$('.table').on('page.dt', function() {
	confirmationConfig();
});

$('.table').on('order.dt', function() {
	confirmationConfig();
});

$('.table').on('search.dt', function() {
	confirmationConfig();
});

$('.table').on('length.dt', function() {
	confirmationConfig();
});
</script>