<div class="page-content">
	<h3 class="page-title"> Tags </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Tags</span>
			</li>
		</ul>
	</div>
                    
	<div class="row content">
   	<div class="col-md-12">
      	<div class="portlet light ">
         	<div class="portlet-title">
            	<div class="caption font-dark">
               	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-tags fa-flip-horizontal"></i>&nbsp; Lista de Tags</span>
					</div>
					<div class="actions">
						<button data-toggle="modal" data-target="#modalTag" class="btn sbold btn-primary"> Add <i class="fa fa-plus"></i></button>
						<div class="btn-group">
                  	<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
                  	<ul class="dropdown-menu pull-right">
                  		#if($exportar_csv_on && $exportar_csv_on == "1")
                  			#if($!EXPORTACOES)
										<!-- <li><a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a href="$context/rest/v1/tag/exportar"><i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
								<li><a class="table-view"><i class="fa fa-align-justify"></i> Ver Tabela</a></li>
								<li><a class="grid-view"><i class="fa fa-th"></i> Ver Grid</a></li>
							</ul>
						</div>
					</div>
				</div>
            <div class="portlet-body">
            	<!-- TABELA VIEW -->
					<div class="clearfix view-tabela">
               	<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
                  	<thead>
                     	<tr>
									<th>Nome</th>
                     		<th style="width: 10%; min-width: 100px;">Detalhes</th>
                    		</tr>
                    	</thead>
                    	<tbody></tbody>
						</table>
						<div class="paginaAtual" data-page="-1"></div>
					</div>
                     
               <!-- GRID VIEW -->
					<div class="clearfix view-grid">
						<ul class="listaHorizontal clearfix quatroColunas"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/modals/modal_tag.htm")
<script>
var dTable = null;

function confirmationConfig() {
	$('button[aria-describedby*="confirmation"]').confirmation('hide');
	setTimeout(function() {
		$("[data-toggle=confirmation]").confirmation({
			singleton : true,
			container : '.table',
			btnOkClass : 'btn btn-sm btn-success',
			btnCancelClass : 'btn btn-sm btn-danger',
			popout : true,
			btnOkLabel : 'Sim',
			btnCancelLabel : "Não"
		});
	}, 500);
}

$('.table').on('page.dt', function() {
	confirmationConfig();
});

$('.table').on('order.dt', function() {
	confirmationConfig();
});

$('.table').on('search.dt', function() {
	confirmationConfig();
});

$('.table').on('length.dt', function() {
	confirmationConfig();
});

function loadTags(){
	ajaxGet("$context/rest/v1/tag", null, beforeSend, success);
	
	function beforeSend(tags) {
		$(".paginaAtual").show();
	}
	
	function success(tags) {
		var conteudo = "";
		var conteudoGrid = "";
		for(var i in tags) {
			var campo = tags[i];
			conteudo += createTable(campo);
			conteudoGrid += createGrid(campo);
		}
		
		if(tags.length == 0){
			conteudoGrid = "<label class='empty text-center clearfix'>Nenhuma tag cadastrada!</label>";
		}
		
		if (dTable != null) {
			$(".table > tbody").empty();
			dTable.clear();
			dTable.destroy();
		}
		
		$(".table > tbody").append(conteudo);
		dTable = loadTable();
		$(".view-grid .listaHorizontal").empty().append(conteudoGrid);
		$(".paginaAtual").hide();
	}
}

function updateGridItem(campo){
	var gridItem = $('.listaHorizontal').find('li[data-id="'+campo.id+'"]');
	gridItem.find('.blue').text(campo.nome);
	gridItem.find('.removerCampo').attr('data-name', campo.nome);
}

function createGrid(campo){
	var conteudoGrid = '<li data-id="'+campo.id+'">';
			conteudoGrid += '<div class="clearfix">';
				conteudoGrid += '<div class="configItem"><i class="icones ico-configLista"></i><div class="popMenu bottom"><ul>';
					conteudoGrid += '<li><a class="editarCampoGrid" data-id="'+campo.id+'" data-toggle="modal" data-target="#modalTag">Editar tag</a></li>';
					conteudoGrid += '<li><a class="removerCampo" data-id="'+campo.id+'" data-name="'+campo.nome+'" ">Remover tag</a></li>';
				conteudoGrid += '</ul></div></div>';
				conteudoGrid += '<a href="$context/pages/mural.htm?tag='+campo.id+'" class="font-blue">'+campo.nome+'</a>';
			conteudoGrid += '</div>';
		conteudoGrid += '</li>';
		return conteudoGrid;
}

function createTable(campo){
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'">';
		rTable += "<td>"+campo.nome+"</td>";
		rTable += "<td align='center'>";
			rTable += '<button class="editarCampo btn btn-outline green-sharp  uppercase" data-id="'+campo.id+'" data-toggle="modal" data-target="#modalTag"><i class="fa fa-edit"></i></button>';
			rTable += '<button data-id="'+campo.id+'" class="apagar btn btn-outline red-mint  uppercase" data-toggle="confirmation" data-placement="top" data-original-title="Confirma deletar?" title=""><i class="fa fa-trash"></i></button>';
		rTable += "</td>";
	rTable += "</tr>";
	return rTable;
}
		
		
var success  = function(data) {
	if(data.status == "ERROR"){
		toastr.error(data.message);
		$('#salvarTag').html('Salvar');
		return;
	}
	
	if(data.entity) {
		loadTags();
		toastr.success(data.message);
		clearFormTag();
	}
};

$(document).ready(function(){
	loadTags();
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		loadTags();
	});
	
	$('body').on('confirmed.bs.confirmation', '.apagar', function() {
		var id = $(this).attr('data-id');
		if(id) {
			httpDelete("$context/rest/v1/tag/" + id, function(data){
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
				if(data.status != "ERROR"){
					dTable.row($('tr[data-id="'+id+'"]')).remove().draw(false);
					$('li[data-id="'+id+'"]').remove();
					toastr.success(data.message);
				} else {
					toastr.error(data.message);
					$('#salvarTag').html('Salvar');
				}
			}, null, function(){
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
			});
		}
	});

	$('body').on('click', ".editarCampo", function(e) {
		var id = $(this).attr('data-id');
		var nome = $('tr[data-id=' + id + ']').find("td").eq(0).text();
		clearFormTag();
		if(id) {
			$("#idTag").val(id);
			$("#nomeTag").val(nome).text(nome);
		}
	});
		
	$('body').on('click', '.editarCampoGrid', function(){
		var id = $(this).attr('data-id');
		var nome = $('.listaHorizontal li[data-id="'+id+'"] .clearfix > a').text();
		clearFormTag();
		if(id) {
			$("#idTag").val(id);
			$("#nomeTag").val(nome).text(nome);
		}
	});
		
		
	$('body').on('click', '.removerCampo',function(e){
		var id = $(this).attr('data-id');
		var name = $(this).attr('data-name');
		jConfirm("Deseja realmente remover a tag '<b>"+name+"</b>'?", "Atenção", "deletar", function(response){
			if(response){
				httpDelete("$context/rest/v1/tag/" + id, function(data){
					if(data.status != "ERROR"){
						dTable.row($('tr[data-id="'+id+'"]')).remove().draw(false);
						$('li[data-id="'+id+'"]').remove();
						
						if($('.listaHorizontal').children().length == 0){
							$('.listaHorizontal').append("<label class='empty text-center clearfix'>Nenhuma tag cadastrada!</label>");
						}
						toastr.success(data.message);				
					} else {
						toastr.error(data.message);
						$('#salvarTag').html('Salvar');
					}
				});
			}
		});
	});
});
</script>
#parse("/msg.htm")