<div class="page-content">
	<h3 class="page-title">Usuários</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			#if($!ACESSO_CADASTROS)
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			#else
			<li><span>Sistema</span> <i class="fa fa-angle-right"></i></li>
			#end
			<li><span>Usuários</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Filtro</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-down bs-tooltip" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body toggled">
					<form name="form_relatorio" id="relVisualizacao" method="post">
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-6 form-group post-tags">
								<label class="control-label labelCampo"><i class="fa fa-users"></i>&nbsp;Grupos:</label>
								<input type="text" id="filtroGroupUser" name="filtroGroupUser" class="form-control">
								<input type="hidden" id="idsGrupos" name="idsGrupos">
							</div>
							<div class="col-md-6 form-group">
								<label class="control-label labelCampo"><i class="fa fa-share-alt"></i>&nbsp;Conector:</label>
								<label for="conectorTodos" class="labelCheckFiltro bs-tooltip" title="Todos os acessos">
									<input type="radio" name="radioGroupFiltro" id="conectorTodos" class="radioGroupFiltro" value="" checked>
									Todos</label>
								<label for="conectorLivecom" class="labelCheckFiltro bs-tooltip" title="Acesso através de conta no Livecom">
									<input type="radio" name="radioGroupFiltro" id="conectorLivecom" class="radioGroupFiltro" value="livecom">
									Livecom</label>
								<label for="conectorLDAP" class="labelCheckFiltro bs-tooltip" title="Acesso através de LDAP">
									<input type="radio" name="radioGroupFiltro" id="conectorLDAP" class="radioGroupFiltro" value="ldap">
									LDAP</label>
								<!-- <label for="conectorWS" class="labelCheckFiltro bs-tooltip" title="Acesso através de Web Service>
									<input type="radio" name="radioGroupFiltro" id="conectorWS" class="radioGroupFiltro" value="ws">
									Web Service</label> -->
							</div>
						</div>
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-6 form-group post-tags">
								<label class="control-label labelCampo"><i class="fa fa-briefcase"></i>&nbsp;Cargo:</label>
								<input type="text" id="filtroCargo" name="filtroCargo" class="form-control">
								<input type="hidden" id="idsCargos" name="idsCargos">
							</div>
						</div>
						<div class="clearfix text-right">
							<input type="button" class="btn btn-primary min-width" id="filtrarRel" value="Filtrar" />
						</div>
					</form>
				</div>
			</div>
		
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-users"></i>&nbsp; Lista de Usuários</span>
					</div>
					<div class="actions">
						#if($!ACESSO_CADASTROS && $!CADASTRAR_USUARIOS)
						<a href="$context/cadastro/usuario.htm" class="btn btn-primary sbold"> Add <i class="fa fa-plus"></i></a>
						#end
						<div class="btn-group">
							<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu pull-right">
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										<!-- <li><a href="javascript;;"> <i class="fa fa-file-pdf-o"></i>Exportar PDF</a></li> -->
										<li class="bleed-divider"><a href="$context/rest/usuario/exportar"> <i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
								<li><a class="table-view"><i class="fa fa-align-justify"></i> Ver Tabela</a></li>
								<li><a class="grid-view"><i class="fa fa-th"></i> Ver Grid</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="clearfix view-tabela table-responsive capital-conector">
						<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
							<thead>
								<tr>
									<th>Nome</th>
									<th>Login</th>
									<th>E-mail</th>
									#if($!usuarios_coluna_cargo_on && $!usuarios_coluna_cargo_on == 1)
										<th>Cargo</th>
									#end
									<th>Grupos</th>
									<th>Conector</th>
									<th class="two-buttons">Detalhes</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="clearfix view-grid">
						<div class="row col-md-12 scrollGroupList">
							<ul class="listaHorizontal noPaddingTop clearfix listaUsuarios"></ul>
							<div class="paginaAtual" data-page="-1"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var dTable = null;
$(document).ready(function() {
	
	var page = $(".paginaAtual").attr("data-page");
	var filtro = getFiltro(page);
	
	function getGruposURL(){
		return urlContext+"/ws/gruposAutoComplete.htm?mode=json&form_name=form&search=gruposUser&not_grupo_ids="+$("#idsGrupos").val()+"&user_id="+userId+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN; 
	}
						
	gruposTokenInput({
		element: "#filtroGroupUser",
		url: getGruposURL,
		onAdd: function (item) {
			var ids = $("#idsGrupos").val();
			$("#idsGrupos").val(ids+" "+item.id+",");
		},
	   onDelete: function (item) {
	   	var idRemove = " "+item.id+",";
	      var ids = $("#idsGrupos").val();
	      ids = ids.replace(idRemove,"");
	      $("#idsGrupos").val(ids);
		}
	});
	
	cargoTokenInput({
		element: "#filtroCargo",
		url: urlContext+"/rest/v1/funcao?buscaTotal=0&page=0&maxRows=10",
		onAdd: function (item) {
			$("#idsCargos").val(item.id);
		},
	   onDelete: function (item) {
	    	$("#idsCargos").val('');
		}
	});
						
	$('body').on('click', '.delete-user', function(e){
		var userId = $(this).attr('data-id'), userLogin = $(this).attr('data-login');
		swal({
			title: "Atenção!",
			text: "Você deseja mesmo deletar o usuário <b>"+userLogin+"</b>?",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#D91E18",
			confirmButtonText: "Deletar",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true,
		}).then(function () {
			jsHttp.delete("$context/rest/usuario/" + userId, {
				success: function(data) {
					if(data.status != "ERROR"){
						swal("Sucesso!", data.message, "success");
					} else {
						swal("Ops...", data.message, "warning");
					}
					
					loadTableUsers(filtro);
					buscaUsuarios(filtro);
				},
				error: function(resp){
					swal("Ops...", data.message, "warning");
				}
			});
		});
	});
	
	$(".radioGroupFiltro").on("ifChecked", function(){
		acesso = $(this).val();
	});
						
	jQuery.alerts.dialogClass = 'boxAzul';
	
	loadTableUsers(filtro);
	buscaUsuarios(filtro);
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		
		$(".view-grid .listaHorizontal").empty();
		$(".paginaAtual").attr("data-page", -1);
		filtro = getFiltro(-1);
		buscaUsuarios(filtro);
		loadTableUsers(filtro);
	});
						
	$("#filtrarRel").click(function(){
		filtro = getFiltro(page);
		loadTableUsers(filtro);
		$("ul.listaUsuarios").empty();
		buscaUsuarios(filtro);
	});
						
});//fim doc.ready

//scroll page load usuarios
$(window).scroll(function() {
   if(($(window).scrollTop() + $(window).height() > $(document).height() - $(".paginaAtual").outerHeight()) || $(".paginaAtual").offset().top < $(window).height()) {
	   if($(".paginaAtual").hasClass("loading")){
   		return false;
	   }else if($(".paginaAtual:visible").length > 0 && !$(".paginaAtual").hasClass("loading")){
    	   $(".paginaAtual").addClass("loading");
 		   var page = parseInt($(".paginaAtual").attr("data-page"))+1;
			filtro = getFiltro(page);
			buscaUsuarios(filtro);
	   }
   }
});
					
function getFiltro(page, acesso){
	if(0 > page) {
		page = 0;
	}
	
	var grupoId = jQuery.trim($('#idsGrupos').val());
	grupoId = grupoId.substr(0, grupoId.length-1);
	
	var maximoPagina = 20;
	var filtro = {
		user: SESSION.USER_INFO.USER_LOGIN,
		maxRows: maximoPagina,
 		page: page,
 		wsVersion: wsVersion,
 		wstoken:SESSION.USER_INFO.USER_WSTOKEN,
 		grupoId: grupoId,
 		cargoId: $('#idsCargos').val(),
 		acesso: $(".radioGroupFiltro:checked").val()
	};
	return filtro;
}

function loadTableUsers(filtro){
	
	var params = [];
	params.push({
		name : 'user',
		value : SESSION.USER_INFO.USER_LOGIN
	});
	params.push({
		name : 'buscaTotal',
		value : 1
	});
	params.push({
		name : 'grupoId',
		value : filtro.grupoId
	});
	params.push({
		name : 'cargoId',
		value : filtro.cargoId
	});
	params.push({
		name : 'acesso',
		value : filtro.acesso
	});
	var jsonDatatable = {
		#if($!usuarios_coluna_cargo_on && $!usuarios_coluna_cargo_on == 1)
			columns: ['nome', 'login', 'email', 'funcao', 'grupo', 'flags', 'colunaDetalhes'],
		#else
			columns: ['nome', 'login', 'email', 'grupo', 'flags', 'colunaDetalhes'],
		#end
		ajax : {
			type : 'POST',
			url : "$context/ws/usuariosAutoComplete.htm?mode=json&form_name=form"
		},
		element : ".table",
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			if(aData.ativo == false) {
				$(nRow).addClass('font-red-mint');
			}
			createTooltip($(nRow).find('a.user-name.tooltipster'));
		},
		filter : params,
		filterResponse : function(res) {
			var json = {};
			if (res && res.list) {
				var list = res.list.usuarios
				var data = [];
				for ( var i in list) {
					var u = list[i];
					
					if(u.conector){
						var conector = u.conector;
						if(u.conector == "ldap"){
							var conector = "LDAP";	
						}
					}else{
						var conector = "Livecom";
					}
					
					#if($!usuarios_coluna_cargo_on && $!usuarios_coluna_cargo_on == 1)
						var funcao = u.funcao ? u.funcao : '--';
					#else
						var funcao = '';
					#end
					
					var colunaNome = '<a href="$context/usuario.htm?id='+u.id+'" class="user-name tooltipster" data-name="'+u.nome+'" data-img="'+u.urlFotoUsuarioThumb+'" data-since="'+u.dataCreated+'" data-nasc="'+u.dataNasc+'" data-cargo="'+funcao+'">'+u.nome+'</a>';
					
					var linkEdit = '<a href="$context/cadastro/usuario.htm?id='+ u.id + '" class="editarCampo btn btn-outline green-sharp tooltip-livecom" title="Editar"><i class="fa fa-edit"></i></a>';
					var linkDelete = '<button data-id="'+u.id+'" data-login="'+u.login+'" class="delete-user btn btn-outline red-mint tooltip-livecom" title="Deletar"><i class="fa fa-trash"></i></button>';
					var linkVisu = '<a href="$context/usuario.htm?id='+ u.id + '" class="editarCampo btn btn-outline blue-sharp tooltip-livecom" title="Editar"><i class="fa fa-search"></i></a>';

					var colunaDetalhes = '';
					if(SESSION.PERMISSOES.CADASTRAR_USUARIOS == 'true'){
						colunaDetalhes = linkEdit + linkDelete;
					}else{
						colunaDetalhes = linkVisu;
					}
					
					var stringGrupos = '<span class="trunca sm">'+u.gruposStr+'</span>';
					
					var mail = '-';
					if(u.email) {
						mail = u.email;
					}
					
					var js = {
						nome: colunaNome,
						login: u.login,
						email: mail,
						#if($!usuarios_coluna_cargo_on && $!usuarios_coluna_cargo_on == 1)
						funcao: funcao,
						#end
						grupo: stringGrupos,
						flags: conector,
						colunaDetalhes: colunaDetalhes,
						ativo: u.perfilAtivo
					};
					data.push(js);
				}
				json.data = data;
				json.recordsTotal = res.list.total;
				json.recordsFiltered = res.list.total;
				return json;
			}else{
				$('.table > tbody').append('<tr><td colspan="7" align="center">Nenhum resultado encontrado.</td></tr>');
				$('.dataTables_processing').remove();
			}
			return null;
		}
	}
	if(dTable != null) {
		$(".table > tbody").empty();
		dTable.clear();
		dTable.destroy();
	}
	dTable = dtTableUtils(jsonDatatable);
}
	
function buscaUsuarios(filtro){
	AjaxServices.usuariosAutoComplete(filtro).done(function(data){
		if(data.list && data.list.length > 0){
				$(".paginaAtual").show();
		 		var conteudo = "";
		 		for (var i=0;i<data.list.length;i++){ 
			 		conteudo += '<li>';
			 						if(data.list[i].perfilAtivo == false && SESSION.PERFILS.PERFIL_isAdmin){
					conteudo +=			'<div class="clearfix inactive">';					
			 						}else{
			 		conteudo +=			'<div class="clearfix">';	
			 						}
									
						conteudo +=			'<div class="configItem">'+'<i class="icones ico-configLista"></i>'+'<div class="popMenu bottom"><ul>';
										
									if(SESSION.PERMISSOES.ENVIAR_MENSAGEM == 'true' || SESSION.PERMISSOES.CADASTRAR_USUARIOS == 'true'){
					
												if(SESSION.PERMISSOES.CADASTRAR_USUARIOS == 'true'){
							conteudo +=			'<li><a href="$context/cadastro/usuario.htm?id='+data.list[i].id+'">$messages.get('editar.usuario.label')</a></li>';
												}
	
												if(SESSION.PERMISSOES.ENVIAR_MENSAGEM == 'true'){
							conteudo +=			'<li><a href="$context/pages/mensagens.htm?userTo='+data.list[i].id+'">$messages.get('menu.escrever.mensagem')</a></li>';
												}
									}
										
							conteudo +=			'<li><a href="$context/pages/mural.htm?user_post_id='+data.list[i].id+'">$messages.get('ver.posts.label')</a></li>';
					
						conteudo +=				'</ul></div></div>';
						
					conteudo +=			'<div class="fotoUsuario media"><a href="$context/usuario.htm?id='+data.list[i].id+'"><img src="'+data.list[i].urlFotoUsuario+'" alt="Foto do '+data.list[i].nome+'" /></a></div>'+
										'<div class="infoUsuarios">';
											if(data.list[i].perfilAtivo == false && SESSION.PERFILS.PERFIL_isAdmin){
												conteudo += '<a href="$context/usuario.htm?id='+data.list[i].id+'" class="nomeUsuarioLista">'+data.list[i].nome+'<span class="inactive"> - Desativado</span></a>';
											}else{
												conteudo += '<a href="$context/usuario.htm?id='+data.list[i].id+'" class="nomeUsuarioLista">'+data.list[i].nome+'</a>';	
											}
											conteudo +=	'<p class="cargoUsuarioLista"><b>Permissão:</b> '+data.list[i].permissao.nome+'</p>';
					conteudo +=			'</div>'+
									'</div>'+
								'</li>';
			 		}
		 		
		 	}else if($(".listaHorizontal li").length <= 0){
		 		$(".muralVazio").html("$messages.get('nenhumResultado.error')").show();
				$(".paginaAtual").hide();
			}else{
				$(".paginaAtual").hide();
			}
			if(data.list && data.list.length < 12){
				$(".paginaAtual").hide();
			}
				
			$(".paginaAtual").attr("data-page", parseInt($(".paginaAtual").attr("data-page"))+1);
			$(".view-grid .listaHorizontal").append(conteudo);
			$(".paginaAtual").removeClass("loading");
			
			if(data.mensagem){
				$(".paginaAtual").hide();
				jAlert(data.mensagem.mensagem, data.mensagem.status, null);
			}
	});
}

#if($web_template_analytics_key && $web_template_analytics_key != '')
	ga('send', 'event', 'livecom', 'users', SESSION.USER_INFO.USER_LOGIN);
#end
</script>
#parse("/msg.htm")