@import 'colors';
@import 'mixins';

%float-left{ float: left; }
%float-right{ float: right; }
%float-none{ float: none; }

%clear-left{ clear: left; }
%clear-right{ clear: right; }
%clear-both{ clear: both; }

%no-padding{ padding: 0; }
%no-padding-left{ padding-left: 0; }
%no-padding-right{ padding-right: 0; }
%no-padding-top{ padding-top: 0; }
%no-padding-bottom{ padding-bottom: 0; }
%no-padding-lr{ padding-left: 0; padding-right: 0; }
%no-padding-tb{ padding-top: 0; padding-bottom: 0; }

%no-margin{ margin: 0; }
%no-margin-left{ margin-left: 0; }
%no-margin-right{ margin-right: 0; }
%no-margin-top{ margin-top: 0; }
%no-margin-bottom{ margin-bottom: 0; }
%no-margin-lr{ margin-left: 0; margin-right: 0; }
%no-margin-tb{ margin-top: 0; margin-bottom: 0; }
%center-margin{ margin: 0 auto; }

%block{ display: block; }
%inline{ display: inline; }
%inline-block{ display: inline-block; }
%hidden{ display: none; }

%relative{ position: relative; }
%absolute{ position: absolute; }
%fixed{ position: fixed; }
%static{ position: static; }
%inherit-position{ position: inherit; }
%initial-position{ position: initial; }

%total-width{ width: 100%; }
%half-width{ width: 50%; }

%total-height{ height: 100%; }
%half-height{ height: 50%; }

%cursor-pointer{ cursor: pointer; }

%no-border{ border: none; }
%no-border-left{ border-left: none; }
%no-border-top{ border-top: none; }
%no-border-right{ border-right: none; }
%no-border-bottom{ border-bottom: none; }
%no-border-x{ @extend %no-border-left; @extend %no-border-right; }
%no-border-y{ @extend %no-border-top; @extend %no-border-bottom; }

%text-left{ text-align: left; }
%text-right{ text-align: right; }
%text-center{ text-align: center; }
%text-justify{ text-align: justify; }

%font-weight-600{ font-weight: 600; }
%font-weight-500{ font-weight: 500; }
%font-weight-400{ font-weight: 400; }
%font-bold{ font-weight: bold; }
%font-italic{ font-style: italic; }
%font-underline{ text-decoration: underline; }

%font-white{ color: $white; }
%font-black{ color: $black; }
%font-333{ color: $grey3; }
%font-222{ color: $grey2; }

%no-hover-decoration{ text-decoration: none; &:hover{ text-decoration: none; } }
%no-decoration-hover{ text-decoration: none; &:hover{ text-decoration: underline; } }

%no-border-radius{ @include prefix(border-radius, 0, webkit moz ms o); }

%old-grid{ float: left; margin-left: 2%; position: relative; }

%icon-disabled{
    cursor: default;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	opacity: 0.5;
}

%titulo-post{
    font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #323232;
	clear: both;
	padding: 0 40px 5px 0;
}

%liveurl-title{
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 8px;
	line-height: 20px;
	color: #424242;
	width: 99.6%;
}

%liveurl-url{
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #9e9e9e;
}

%no-border-no-margin{ border: none; margin: 0; }

%mural-consolidado-elements{
    margin: 0;
	padding: 0;
	word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 180px;
    font-size: 16px;
}

%input-focus{
    border-color: #66afe9!important;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	@include multiple-transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
}

%initial-bg-color{ background-color: initial; }

%portlet-actions-btn{ padding: 4px 10px; font-size: 13px; line-height: 1.5; }
%portlet-actions-btn-default{ padding: 3px 9px; }

%text-shadow-favoritar-grupo-hover{ text-shadow: 0px 1px 0 #bdbdbd, -1px -1px 0 #bdbdbd, 1px -1px 0 #bdbdbd, -1px 1px 0 #bdbdbd, 1px 1px 0 #bdbdbd; }