/*** JWPLAYER ***/
.inner .fancyJwplayer { background: #000; }

#video_jwplayer {
	background: url(../../imagens/loading.gif) #000 center center no-repeat;
	height: 60vh;
	width: 80vw;
}

.jwplayer{ height: 100%!important; margin: 0 auto; text-align: center; }