.nav{
    &.pull-right{
        > li{
            .dropdown-menu{
                right: 0; left: auto;
                &:before{ right: 12px; left: auto; }
                &:after{ right: 13px; left: auto; }
                .dropdown-menu{ right: 100%; left: auto; margin-right: -1px; margin-left: 0; }
            }
        }
    }

    > li{
        > .dropdown-menu{
            &.pull-right{
                right: 0; left: auto;
                &:before{ right: 12px; left: auto; }
                &:after{ right: 13px; left: auto; }
                .dropdown-menu{ right: 100%; left: auto; margin-right: -1px; margin-left: 0; }
            }
        }
    }
}

.navbar-inverse{
    .navbar-collapse, .navbar-form{ @extend %no-border; }
}

.nav-pills, .nav-tabs {
    margin-bottom: 10px;
    
    > li{
        > a{
            font-size: 14px;
            @include prefix(border-radius, 4px 4px 0 0, webkit moz ms o);
        }

        .dropdown-menu{
            &:after, &:before{ display: none; }
        }
    }

    &.nav-pills-sm, &.nav-tabs-sm{
        > li{
            > a{ font-size: 13px; }
        }
    }

    .dropdown{
        &.open{
            > .dropdown-toggle{ background: #eee; color: #0d638f; border-color: transparent; }
        }
    }
}

.nav-tabs{
    @extend %no-border;

    > li{
        &.tab-badge{
            .badge{
                margin-top: 0;
                height: 15px;
                width: 15px;
                padding: 3px;
                font-size: 8px;
                background-color: #0096d0;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

.nav-pills{
    > li{
        > a { opacity: .7; }

        &.active{
            a, a:hover, a:focus{
                border: none;
                border-bottom: 2px solid #196f9a;
                @include prefix(border-radius, 0, webkit moz ms o);
                color: #196f9a;
                background-color: transparent;
                cursor: default;
                opacity: 1;
            }
        }
    }
}