<div class="degrade">
	<div id="carrinho" class="largura clearfix">
		<h2 class="titulo fundoCinza">
			<span>Status do <strong>Pagamento</strong></span>
		</h2>
		<div class="statusPedido clearfix">
			<i class="bkIcone"><img src="$context/training/img/logo_S_grande.png"
				width="162" height="162"></i> <strong class="tituloCinza">Seu pedido foi realizado com sucesso!</strong> #if(!$pago)
			<p>Em breve você receberá um e-mail de confirmação com todas as
				informações da sua compra.</p>
			#end
			<p class="numeroPedido">
				Código da transação do PagSeguro: <span>$transactionId</span>
			</p>
			#if(!$pago)
			<p class="clearfix">
				<a href="$urlPagamento" class="botaoSombra esquerda">EFETUAR
					PAGAMENTO</a>
			</p>
			#end
		</div>
		<div class="conteudoTexto">
			<p>#if(!$pago)Assim que confirmado
				seu pagamento estaremos entrando em contato. Dúvidas por favor nos
				contacte.</p>
			#else.#end
		</div>
		#if($paymentResponse)
		<div class="informacoesPedido">
			<strong class="tituloCinza">Informações sobre o pedido</strong>
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					#if($numeroPedido)
					<tr>
						<td>ID da Compra:</td>
						<td><strong>$numeroPedido</strong></td>
					</tr>
					#end
					<tr>
						<td width="200">Situação:</td>
						<td><strong class="situacaoPedido">$paymentResponse.status</strong></td>
					</tr>
					#if($paymentResponse.date)
					<tr>
						<td>Data:</td>
						<td><strong>$paymentResponse.date</strong></td>
					</tr>
					#end 
					#if($paymentResponse.formaPagamento)
					<tr>
						<td>Forma de Pagamento:</td>
						<td><strong class="textoFormaPagamento">$paymentResponse.formaPagamento</strong></td>
					</tr>
					#end
					<tr>
						<td>Cliente:</td>
						<td><strong>$paymentResponse.user</strong></td>
					</tr>
				</tbody>
			</table>
		</div>
		#end
	</div>
</div>