<div class="modal fade" id="modalSendPush" role="dialog" aria-labelledby="modalPreview" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
 		<div class="modal-content">
   		<div class="modal-header modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
     			<h4 class="modal-title"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Enviar Push</h4>
   		</div>
   		<div class="modal-body">
  				<div class="clearfix form-group">
  					<label class="control-label">Título</label>
  					<input type="text" value="" class="input-sm form-control" id="tituloPush"/>
  				</div>
  				<div class="clearfix form-group">
  					<label class="control-label">Mensagem</label>
  					<textarea class="input-sm form-control" id="mensagemPush" cols="5" rows="5" required></textarea>
  				</div>
  				<div class="clearfix form-group">
  					<label class="control-label">Badge</label>
  					<input type="number" value="" class="input-sm form-control" id="badge"/>
  				</div>
  				<div class="clearfix form-group">
  					<label class="control-label">Agendamento</label>
  					<input type="text" value="" class="input-sm form-control" id="agendamento"/>
  				</div>
   		</div>
   		<div class="modal-footer">
   			<button type="button" class="btn btn-default cancelar min-width">Cancelar</button>
        		<button type="submit" class="btn btn-primary min-width" id="btnEnviarPush">Enviar</button>
   		</div>
		</div>
	</div>
</div>
<script>
$(function(){
	$('#agendamento').appendDtpicker({
		"autodateOnStart": false,
		"locale": "br",
		"minuteInterval": 5,
		"closeOnSelected": true,
		"futureOnly": true,
		"todayButton": false,
		"dateOnly": false
	});	
});

$(document).ready(function(){
	
	$('#modalSendPush').on('hidden.bs.modal', function(){
		$('#mensagemPush, #badge, #agendamento, #tituloPush').val('');
	});
	
	$("#btnEnviarPush").click(function(e) {
		e.preventDefault();
		var titulo = $("#tituloPush").val();
		var badge = $("#badge").val();
		var mensagem = $("#mensagemPush").val();
		var agendamento = $("#agendamento").val();
		var codigo = "$!login";
		var projeto = "$!empresa";	
	
		//Enviar Badges
		if(badge == '') {
			badge = 0;
		}
		
		//Enviar Badges
		if(badge > 0) {
			var usuarios = [];
			var users = codigo.split(',');
			
			for(i = 0; i < users.length; i++) {
				if(users[i] != '') {
					usuarios.push({
						codigo: users[i],
						badge: badge
					});
				}
			}
			
			codigo = JSON.stringify(usuarios); 
		}
			
		
		jQuery.ajax({
			url: "http://$url/ws/push.htm?mode=json&form_name=form",
			type: "POST",
			dataType: "json",
			data: {
				projeto: projeto,
				cod_user: codigo,
				push_id : 0,
				titulo: titulo,
				msg: mensagem,
				agendamento: agendamento,
				params: "",
				sync: 1,
			},
			success: function(req) {
				if(req.response) {
					if(req.response.status == 'OK') {
						$("#modalSendPush").modal('hide');
						toastr.success("Push enviado com sucesso", "Atenção", function(){
							$("#tituloPush").val("").removeClass("used");
							$("#mensagemPush").val("").removeClass("used");
						});
					}
				} else if(req.retorno && req.retorno.mensagem)  {
					$("#modalSendPush").modal('hide');
					toastr.error(req.retorno.mensagem, "Atenção", function(){
						$("#tituloPush").val("").removeClass("used");
						$("#mensagemPush").val("").removeClass("used");
					});
					return false;
				}
			}
		});
	});
});
</script>