<div class="modal fade" id="modalAddSubgrupo" role="dialog" aria-labelledby="modalArea" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document" >
		<form>
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><span class="fa fa-users"></span> Adicionar Subgrupos</h4>
				</div>
				<div class="modal-body">
					<div class="clearfix">
						<div class="col-xs-12 form-group">
							<input type="hidden" value="" name="id" id="id">
                  	<label for="add-grupos-token-input" class="control-label">Nome do Grupo</label>
                  	<div class="clearfix">
								<input type="text" class="form-control" id="add-grupos-token-input" name="nome" maxlength="80" placeholder="" />
							</div>
						</div>
					</div>
					<div class="form-group">
               	<div class="portlet light">
                   	<div class="portlet-title">
                   		<div class="caption left caption-md">
									<i class="fa fa-users font-blue"></i> <span class="caption-subject font-blue bold uppercase">Subgrupos adicionados recentemente:</span>
								</div>
                   	</div>
                     <div class="portlet-body">
                     	<div class="clearfix">
									<div class="view-tabela-modal table-responsive">
	                        	<table id="table-usuarios-modal" class="table table-bordered table-hover dt-responsive dataTableSmall no-footer dtr-inline collapsed" style="width:100%;">
	                           	<thead>
	                              	<tr>
	                                 	<th>Nome do Grupo</th>
                                    	<th class="two-buttons">Detalhes</th>
                                    </tr>
                                 </thead>
	                              <tbody></tbody>
                              </table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
            	<button type="button" class="btn btn-primary min-width" data-dismiss="modal">OK</button>
            </div>
			</div>
		</form>
	</div>
</div>
<script>
$("#modalAddSubgrupo").on('show.bs.modal',function(e){
	$("#add-grupos-token-input").tokenInput(urlContext+"/rest/grupo/virtual/subgrupos?page=0&max=20&not_ids="+_gruposIdsInGrupo+"", {
		method: "POST",
		jsonContainer: "entity",
		queryParam: "nome",
		hintText: "$messages.get('msg.digitar')",
		noResultsText: "$messages.get('msg.item.notFound.error')",
		searchingText: "$messages.get('carregando.label')",
		preventDuplicates: true,
		prePopulate: null,
		placeholder: "Digite os grupos...",
		minChars: 0,
		propertyToSearch: "nome",
		onAdd: function (data) {
			var id = data.id, nome = data.nome, acoes = "";
			
			_gruposIdsInGrupo += id + ",";
			addUsuario(id + ",", null);
			
			acoes += "<td align='center'>";
				acoes += '<a class="btn btn-outline blue-sharp  uppercase tooltip-livecom" href="$context/grupo.htm?id='+id+'" target="_blank" title="Visualizar grupo"><i class="fa fa-search"></i></a>';
				acoes += '<button data-id="'
				+ id
				+ '" class="apagar btn btn-outline red-mint removerGrupo uppercase" data-nome="' + nome + '" title=""><i class="fa fa-trash"></i></button>';
			acoes += "</td>";
			
			if(tableUsuariosModal && tableUsuariosModal != null) {
				var rowUsuarioModal = tableUsuariosModal.row.add([ nome, acoes ]).draw().show().draw(false).node();
				$(rowUsuarioModal).attr('data-id', id);
			}
			
			if(tableUsuariosGrupo && tableUsuariosGrupo != null){
				var rowUsuario = tableUsuariosGrupo.row.add([ nome, acoes ]).draw().show().draw(false).node();
				$(rowUsuario).attr('data-id', id);
			}
			
	 		$("body").find("#add-grupos-token-input").tokenInput("clear");
	 		$("body").find("#add-grupos-token-input").closest("div").find(".mascaraLabel").hide();
	 		
	 		var qtd = parseInt($(".group-users").html());
	 		$("span.group-users").html(qtd + 1);
	 		_integrantesGrupo++;
	 		if(_integrantesGrupo > 0){
				$('.grupo-virtual-input-wrapper').addClass('disabled');
			}
		},
      resultsFormatter: function(data){
			var gu = data.countUsers;
			var grupoImg = data.urlFotoThumb;
			if(grupoImg){
				if(grupoImg.substr(0,4).indexOf('img/') > -1) {
					grupoImg = urlContext + '/' + grupoImg;
				}
			}else{
				grupoImg = urlContext + "/imagens/bg_grupo_thumb.jpg";
			}
        	
			return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='" + grupoImg + "' alt='Foto do grupo" + data.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + data.nome + "</p><p class='cargoUsuarioLista'>Usuários: " + gu + "</p></div></li>"
		}
	});
	
	setTimeout(function() {
		$("body").find('ul.token-input-list').addClass('token-input-focused', function(){
			$("body").find('input#token-input-add-grupos-token-input').focus();
		});
	}, 100);
});

$("#modalAddSubgrupo").on('hidden.bs.modal',function(e){
	$("#add-grupos-token-input").tokenInput("destroy");
});

function addUsuario(gruposAdd, gruposRemove, funcaoRetorno){
	if(!funcaoRetorno){
		funcaoRetorno =  function(data) {
			if(data.status != "ERROR"){
				toastr.clear();
				toastr.success(data.message);					
			}else{
				toastr.error(data.message);
			}
		}
	}
	
	if("$!id"){
		var grupoId = "$!id";
	}else{
		var grupoId = $(".mural-header.grupo").attr("data-grupoid");
	}

	jsHttp.post("$context/rest/grupo/addGrupos", {
		contentType: jsHttp.CONTENT_TYPE_FORM,
		data: {
			gruposId: gruposAdd,
			gruposRemoveId: gruposRemove,
			grupoId: grupoId
		},
		success: funcaoRetorno
	});
}
</script>