<div class="modal fade" id="modalPostarLink" tabindex="-1" role="dialog" aria-labelledby="modalPostarLink" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
      	<div class="modal-header"><h4 class="modal-title"><span class="glyphicon glyphicon-link"></span>&nbsp; Postar Link</h4></div>
         <div class="modal-body">
        		<div class="clearfix form-link tab-pane fade in active">
        			<label class="control-label labelCampo" for="urlPostarLink">URL</label>
            	<div class="clearfix row">
               	<div class="col-xs-9">
                  	<input type="text" id="urlPostarLink" name="urlPostarLink" class="form-control form-group" placeholder="Insira a URL..." />
                  </div>
						<div class="col-xs-3 text-right">
                  	<button class="btn btn-primary min-width #if($!post.id && $!post.webview) disabled #end" id="insertLinkPreview">Inserir Preview</button>
						</div>
					</div>
        		</div>
        		<div class="clearfix liveurl-wrapper tab-pane fade">
        			<div class="liveurl mt-element-card mt-element-overlay">
	              	<div class="mt-card-item">
			         	<div class="close icones ico-excluir tooltip-livecom"></div>
							<input class="tipoUrl" type="hidden" value="">
							<div class="inner mt-element-card mt-element-overlay">
								<div class="image mt-card-avatar mt-overlay-1 uploadFotoLiveurl">
									<div class="remove-thumb tooltip-livecom" title="Remover thumb"></div>
									<div class="mt-overlay small">
										<ul class="mt-info">
											<li>
												<div class="fileinput fileinput-new" data-provides="fileinput">
													<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
													<div>
														<span class="btn default btn-file btn-outline btn-fotoLiveurl">
															<span class="fileinput-new">Fazer upload </span>
															<input type="file" name="logo">
															<input type="text" value="" id="form_arquivoLiveUrl" name="arquivoLiveUrl">
														</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="details">
									<div class="info">
										<div class="title">
											<input type="text" class="form-control noBorder liveTitle transparent-border" value=""/>
										</div>
		               			<div class="description">
		               				<textarea class="form-control noBorder liveDescricao transparent-border"></textarea>
		               			</div> 
		               			<div class="url"></div>
		           				</div>
		           				<div class="thumbnail">
					            	<div class="pictures">
					               	<div class="controls">
					                  	<div class="prev button inactive"></div>
					                     <div class="next button inactive"></div>
					                     <div class="count">
					                     	<span class="current"></span><span> de </span><span class="max"></span>
					                     </div>
					                  </div>
					               </div>
				               </div>
	               			<div class="video"></div>
	              			</div>
		        			</div>
	               </div>
					</div>
        		</div>
			</div>
			<div class="modal-footer">
         	<button type="button" class="btn btn-default min-width" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary min-width" id="addLinkPost">Inserir Link</button>
			</div>
		</div>
	</div>
</div>
<script>
var uploadImage = function(element, properties) {
	properties.url = urlContext + '/ws/uploadFile.htm';
	properties.method = "POST";
	properties.formData = {
			'dir': 'arquivos',
        	'descricao': '',
        	'tipo': '1',
        	'user_id': userId,
        	'mode': 'json',
        	'form_name': 'form'
    };
	properties.allowedTypes = "jpg,jpeg,gif,png,ico,bmp,webp";
	properties.fileName = "fileField";
    properties.showDelete = false;
    properties.showAbort = false;
    properties.maxFileSize = 1024*5120; //5mb,
    properties.dragDrop = false;
    properties.multiple = false;
    properties.uploadButtonClass = "btn default btn-file btn-outline ";
	$(element).uploadFile(properties);
};

uploadImage('.btn-fotoLiveurl', {
	onSubmit:function(files){
		$(".modal .liveurl").find(".inner .image").append('<i class="icones ac_loading"></i>');
	},
	onSuccess:function(files,data,xhr){
		$(".modal .liveurl").find(".inner .image .icones.ac_loading").remove();
		$(".modal .liveurl").find(".inner .image img:not(.active)").remove();
		if($(".modal .liveurl").find(".inner .image img.active").length > 0){
			$(".modal .liveurl").find(".inner .image img.active").attr("src", data.file.urlThumb);
		}else{
			$(".modal .liveurl").find(".inner .image .remove-thumb").after('<img src="'+data.file.urlThumb+'" alt="Preview" class="active" />');
		}
		$(".modal .liveurl").find(".thumbnail").hide();
	},
	onError: function(files,data,errMsg){	
		jAlert("Falha no Upload", 'Atenção.', null);
	}
});

$(document).ready(function(){
	$('#cboxEmbutir').on('ifChanged', function(event){
		if($(this).is(':checked')){
			$('#insertLinkPreview').addClass('disabled');
			if($('.formPost .liveurl').is(':visible')){
				$('.formPost .liveurl').after('<p class="liveurl-info" style="display: none;"><small class="font-blue sbold">Este link será embutido como HTML</small></p>');
				setTimeout(function(){
					$('.formPost').find('p.liveurl-info').slideDown();
				}, 100);
			}
		}else{
			$('#insertLinkPreview').removeClass('disabled');
			if($('.formPost .liveurl').is(':visible')){
				$('.formPost').find('p.liveurl-info').slideUp(function(){
					$(this).remove();
				});
			}
		}
	});
	
	$('#modalPostarLink').on('hidden.bs.modal', function(){
		$('#embutirHtml small.clearfix').removeClass('in active');
	});
});
</script>