<div class="modal fade" id="modalIdiomaCategoria" role="dialog" aria-labelledby="modalIdiomaCategoria" tabindex="-1">
	<div class="modal-dialog" role="document">
		<form id="formIdioma">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title"><span class="fa fa-language"></span>&nbsp; Idioma da Categoria</h4>
      			</div>
      			<div class="modal-body">
					<input type="hidden" value="" name="idRel" id="idRel">
					
					<div class="form-group select-holder disabled">
						<label for="nomeIdioma" class="control-label">Idioma</label>
						<select id="nome_modal_idioma_categoria"></select>
					</div>
					<div class="form-group">
						<label for="nomeCategoriaIdioma" class="control-label">Nome</label>
						<input type="text" class="form-control" id="nomeCategoriaIdioma" name="nomeCategoriaIdioma" maxlength="50" placeholder="">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default clearFormIdioma min-width" data-dismiss="modal">Cancelar</button>
	        		<button type="submit" class="btn btn-primary min-width" id="salvarIdioma">Salvar</button>
      			</div>
			</div>
		</form>
	</div>
</div>
<script>
$(document).on('shown.bs.modal', '.modal', function() {
	$(this).find('[autofocus]').focus();
});

$('body').on('click', '#salvarIdioma', function(event){
	event.preventDefault();
	
	var obj = {};
	obj = {
		nome: $('#nomeCategoriaIdioma').val(),
		idioma: {
			id: $('#nome_modal_idioma_categoria').find('option:selected').val(),
		},
		categoria:{
			id: $('#idCategoria').val(),
			nome: $("#nomeCategoria").val(),
    		codigo: $("#codigo").length > 0 ? $("#codigo").val() : '',
    		urlIcone: $("#icone").length > 0 ? $("#icone").val() : '',
    		cor: $("#corCategoria").length > 0 ? $("#corCategoria").val() : '',
    		padrao: $("#form_padrao_categoria").length > 0 ? $("#form_padrao_categoria").is(':checked') : false,
    		menu: $("#form_menu").length > 0 ? $("#form_menu").is(':checked') : false,
    		likeable: $("#form_likeable").length > 0 ? $("#form_likeable").is(':checked') : true,
    		hideData: $("#form_hideData").length > 0 ? $("#form_hideData").is(':checked') : false,
		}
	};
	
	if($('#idRel').val() != ''){
		obj.id = $('#idRel').val();
	}
	
	if(obj.idioma.id == "-1"){
		obj.idioma.id = $('#idIdioma').val();
	}
	if($('#idRelacaoCategoriaIdioma').val() && $('#idRelacaoCategoriaIdioma').val() != '-1'){
		obj.id = $('#idRelacaoCategoriaIdioma').val();
	}
	
	sendIdiomas([obj]);
});

function sendIdiomas(params){
	jQuery.ajax({
		type: 'POST',
		url: "$context/rest/categoriaIdioma/categorias",
		data: JSON.stringify(params),
		contentType: 'application/json',
		beforeSend: function(){
			$('#salvarIdioma').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
		},
		success: function(resp){
			if(resp.status == 'ERROR'){
				toastr.error('Algo de errado aconteceu. Por favor, tente novamente');
			}else{
				/* if(){
					$('.table-idiomas > tbody').find('tr[data-id="'+resp.entity.id+'"] td:nth-child(2)').text(resp.entity.nome);	
				}else{
					
				} */
				
				$('#nomeIdioma, #nomeCategoriaIdioma, #idRel').val('');
				$('#modalIdiomaCategoria').modal('hide');
				toastr.success('Categoria atualizada com sucesso');
			}
			
			$('#salvarIdioma').html('Salvar');
			console.log(resp);
		}
	});
}

$(".clearFormIdioma").click(function() {
	clearFormIdioma();
});

function clearFormIdioma() {
	$("#modalIdiomaCategoria").modal('hide');
	$('#formIdioma')[0].reset();
	$("#idRel, #nomeCategoriaIdioma, #nome_modal_idioma_categoria").val("");
	$('.form-group.select-holder').addClass('disabled');	
	$('#nome_modal_idioma_categoria').find('option').removeAttr('disabled');
	$('#formIdioma').find('.form-group').removeClass('has-error').removeClass('has-success');
	$('#salvarIdioma').html('Salvar');
}

$('body').on('confirmed.bs.confirmation', '.apagar-idioma-categoria', function() {
	var id = $(this).data('id');
	if(id) {
		httpDelete("$context/rest/categoriaIdioma/" + id, function(data){
			$("button[data-id-relacao=" + id + "].apagar-idioma-categoria").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
			if(data.status == 'ERROR') {
				toastr.error(data.message);
				$('#salvarCateg').html('Salvar');
			} else {
				dTableIdioma.row($('tr[data-id="'+id+'"]')).remove().draw(false);
				$('li[data-id-relacao="'+id+'"]').remove();
				toastr.success(data.message);
			}
		}, null, function(){
			$("button[data-id-relacao=" + id + "].apagar-idioma-categoria").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
		});
	}
});

function confirmationConfig() {
	$('button[aria-describedby*="confirmation"]').confirmation('hide');
	setTimeout(function() {
		$("[data-toggle=confirmation]").confirmation({
			singleton : true,
			container : '.table',
			btnOkClass : 'btn btn-sm btn-success',
			btnCancelClass : 'btn btn-sm btn-danger',
			popout : true,
			btnOkLabel : 'Sim',
			btnCancelLabel : "Não"
		});
	}, 500);
}

$('.table').on('page.dt', function() {
	confirmationConfig();
});

$('.table').on('order.dt', function() {
	confirmationConfig();
});

$('.table').on('search.dt', function() {
	confirmationConfig();
});

$('.table').on('length.dt', function() {
	confirmationConfig();
});
</script>