<!-- Modal -->
<div class="modal fade" id="modalEnviar" role="dialog" aria-labelledby="modalEnviar" tabindex="-1">
	<div class="modal-dialog modal-xlg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-envelope"></span> Convidar Usuários
				</h4>
			</div>
			<div class="modal-body">
			
				<div class="mt-element-step thinner">
					<div class="row step-line">
		         	<div class="col-md-4 mt-step-col first active">
		            	<div class="mt-step-number bg-white font-grey-cascade">1</div>
		               <div class="mt-step-title uppercase font-grey-cascade">Usuários</div>
		               <div class="mt-step-content font-grey-cascade">Confirmar usuários que irão receber o convite</div>
						</div>
		            <div class="col-md-4 mt-step-col second">
							<div class="mt-step-number bg-white font-grey-cascade">2</div>
		               <div class="mt-step-title uppercase font-grey-cascade">Template de E-mail</div>
							<div class="mt-step-content font-grey-cascade">Dados do convite enviado</div>
		            </div>
		            <div class="col-md-4 mt-step-col last">
							<div class="mt-step-number bg-white font-grey-cascade">3</div>
		               <div class="mt-step-title uppercase font-grey-cascade">Enviar</div>
		               <div class="mt-step-content font-grey-cascade">Confirmar envio de convites</div>
		            </div>
					</div>
				</div>
				
				<div class="list-users-content">
					<table class="tabela table-bordered table-hover dt-responsive no-footer dtr-inline collapsed tabelaModal"></table>
				</div>
				<div class="send-mail-content">
					<div class="col-md-12">
						${form.startTag()}
						<div class="form-group campoPost noHeight">
							<label class="control-label labelCampo">Assunto:</label>
							$!form.fields.assunto
						</div>
						<div class="form-group comboTemplate hidden">
							<label class="labelCampo control-label">Template:</label>
						</div>
						<div class="form-group campoPost">
							<label class="control-label labelCampo">Mensagem:</label>
							<div class="campoPost">
								<iframe id="tempFrame" class="iframe medium bordered radius"></iframe>
							</div>
						</div>
						${form.endTag()}
					</div>
				</div>
				<div class="spinner-content text-center">
					<img src="$context/img/spinner_blue_big.gif" alt="Spinner" />
					<h3>Enviando convite para os usuários</h3>
				</div>
				<div class="clearfix modal-padding success-content text-center">
     				<div class="uppercase profile-stat-title icon"><i class="fa fa-check fa-3x font-green-jungle" aria-hidden="true"></i></div>
      			<h3>Os convites foram enviados com sucesso</h3>
      			<h4>Acompanhe o envio dos convite pelo <a href="$context/report/emailReport.htm?clear=true" class="sbold">Relatório de E-mail</a></h4>
      		</div>
      		<div class="clearfix modal-padding error-content text-center">
     				<div class="uppercase profile-stat-title icon"><i class="fa fa-close fa-3x font-red-thunderbird" aria-hidden="true"></i></div>
      			<h3>Ops!</h3>
      			<h4></h4>
      		</div>
			</div>
			<div class="modal-footer">
				<a class="btn btn-default min-width cancelar" data-dismiss="modal">Cancelar</a>
				<a class="btn btn-primary proximo min-width">Próximo</a>
				<button type="button" class="btn btn-primary min-width hidden invite-users">Enviar</button>
				<a class="btn btn-primary min-width hidden closeModal" data-dismiss="modal">Fechar</a>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalError" role="dialog" aria-labelledby="modalError" tabindex="-1" data-backdrop="static">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-warning-sign"></span> Convidar Usuários - Erro
				</h4>
			</div>
			<div class="modal-body">
				<div class="clearfix modal-padding text-center">
      			<div class="uppercase profile-stat-title icon"><i class="fa fa-exclamation-triangle fa-3x font-yellow-gold" aria-hidden="true"></i></div>
      			<h3>Você não tem nenhum template cadastrado!</h3>
      			<p class="form-group">Para poder enviar os e-mails corretamente, você deve cadastrar um template de e-mail.</p>
      			<p class="form-group">Contate o administrador do sistema.</p>
      			<a href="$context/pages/mural.htm" class="sbold">Voltar</a>
      		</div>
			</div>
		</div>
	</div>
</div>