<div class="modal fade" id="modalTag" role="dialog" aria-labelledby="modalTag" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<form id="formTag">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title"><span class="glyphicon glyphicon-tags glyphicon-rotate-horizontal"></span>&nbsp; Cadastrar Tag</h4>
      		</div>
      		<div class="modal-body">
					<input type="hidden" value="" name="idTag" id="idTag"> 
					<div class="form-group">
						<label for="nomeTag" class="control-label">Nome</label>
						<input type="text" autofocus class="form-control input-sm" id="nomeTag" name="nomeTag" maxlength="80" placeholder="">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default clearFormTag min-width" data-dismiss="modal">Cancelar</button>
	        		<button type="submit" class="btn btn-primary min-width" id="salvarTag">Salvar</button>
      		</div>
			</div>
		</form>
	</div>
</div>
<script>
$(document).on('shown.bs.modal', '.modal', function() {
	$(this).find('[autofocus]').focus();
});

$(".clearFormTag").click(function() {
	clearFormTag();
});

function clearFormTag() {
	$("#modalTag").modal('hide');
	$('#formTag')[0].reset();
	$("#idTag").val("");
	$('#formTag').find('.form-group').removeClass('has-error').removeClass('has-success');
	$('#salvarTag').html('Salvar');
}

var tagValidate = jsValidator({
	form: '#formTag',
	useTab: false,
	rules: {
			nomeTag: {
            minlength: 2,
            required: true
        },
    },
    success: function(form) {
    	$('#salvarTag').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
    	var params = {
			nome: $("#modalTag").find("#nomeTag").val(),
		}
    	params.id = parseInt($("#idTag").val());
    	
    	if(urlAtual == 'tags.htm'){
    		if(params.id) {
	    		httpPut("$context/rest/v1/tag", params, success);
	    	} else {
	    		httpPost("$context/rest/v1/tag", params, success);
	    	}
    	}else{
    		service.tag.salvar(params).done(function(res) {
    			if (res.status != "ERROR") {
					var item = res.entity;
					var conteudo = '<li class="list-group-item-sideBox grey text-center" data-id="'+item.id+'" data-name="'+item.nome+'" data-usercreate="' + SESSION.USER_INFO.USER_NOME + '" data-usercreateid="' + userId + '"><a href="$context/pages/mural.htm?tag='+item.id+'">'+item.nome+'</a></li>';
					$('.list-group-tags').prepend(conteudo);
					tooltipTag("ul.list-group-tags > li");
					clearFormTag();
					toastr.success(res.message);
    			} else {
    				toastr.error(res.message);
    				$('#salvarTag').html('Salvar');
    			}
			}).fail(function(jqXHR, textStatus, errorThrown ) {
				var message = jqXHR.responseJSON;
				toastr.error(message.message);
				$('#salvarTag').html('Salvar');
			});
    	}
    }
});
</script>