<div class="modal fade" id="modalAddUser" role="dialog" aria-labelledby="modalArea" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document" >
		<form>
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><span class="fa fa-user-plus"></span> Adicionar Usuários</h4>
				</div>
            <div class="modal-body">
            	<div class="clearfix">
						<div class="col-xs-12 form-group">
							<input type="hidden" value="" name="id" id="id">
							<label for="add-usuario-token-input" class="control-label">Nome do Usuário</label>
							<div class="clearfix">
	                  	<input type="text" class="form-control" id="add-usuario-token-input" name="nome" maxlength="80" placeholder="" />
	                  </div>
						</div>
					</div>
					<div class="clearfix">
           			<div class="portlet light">
                  	<div class="portlet-title">
                  		<div class="caption left caption-md">
									<i class="fa fa-users font-blue"></i> <span class="caption-subject font-blue bold uppercase">Usuários adicionados recentemente:</span>
								</div>
                  	</div>
                     <div class="portlet-body">
                     	<div class="clearfix">
	                        <div class="view-tabela-modal">
	                        	<table id="table-usuarios-modal" class="table table-bordered table-hover dt-responsive dataTableSmall no-footer dtr-inline collapsed" style="width:100%;">
	                           	<thead>
	                              	<tr>
		                                 <th>Nome do Usuário</th>
		                                 <th>Login</th>
		                                 <th class="two-buttons">Detalhes</th>
												</tr>
											</thead>
	                              <tbody></tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
            	<button type="button" class="btn btn-primary min-width" data-dismiss="modal">OK</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
if (typeof _usuariosIdsInGrupo == 'undefined'){
	tableUsuariosGrupo = null, tableUsuariosModal = null,
	tablePermissoesGrupo = null, tablePermissoesModal = null,
	tableSubadminsGrupo = null, tableSubadminsModal = null,
	tableSolicitacoesGrupo = null,

	_usuariosIdsInGrupo = '', _usuariosIdInPermissao = '', _usuariosIdsInModeradores = '',
	
	tableUsuariosModal = loadTable({element: '#table-usuarios-modal'});
}

$("#modalAddUser").on('show.bs.modal',function(e){
	function getURL(){
		return urlContext+"/ws/usuariosAutoComplete.htm?mode=json&form_name=form&not_users_ids="+_usuariosIdsInGrupo+"";
	}
	usuarioTokenInput({
		element: "#add-usuario-token-input",		
		url: getURL,
		hintText: "Comece a digitar para buscar",
		noResultsText: "Nenhum item encontrado",
      searchingText: "Carregando...",
      preventDuplicates: true,
      minChars: 0,
      tokenLimit: 3,
      propertyToSearch: "nome",
      onAdd: function (data) {
			var id = data.id, nome = data.nome, login = data.login, acoes = "";

			_usuariosIdsInGrupo += id + ",";
			addUsuario(id + ",", null);
			
			acoes += "<td align='center'>";
				acoes += '<a class="btn btn-outline blue-sharp  uppercase tooltip-livecom" href="$context/usuario.htm?id='+id+'" target="_blank" title="Visualizar usuário"><i class="fa fa-search"></i></a>';
				acoes += '<button data-id="'
				+ id
				+ '" class="apagar btn btn-outline red-mint removerUsuario uppercase" data-nome="' + nome + '" title=""><i class="fa fa-trash"></i></button>';
			acoes += "</td>";
			
			if(tableUsuariosModal && tableUsuariosModal != null) {
				var rowUsuarioModal = tableUsuariosModal.row.add([ nome, login, acoes ]).draw().show().draw(false).node();
				$(rowUsuarioModal).attr('data-id', id);
			}
			
			if(tableUsuariosGrupo && tableUsuariosGrupo != null){
				var rowUsuario = tableUsuariosGrupo.row.add([ nome, login, acoes ]).draw().show().draw(false).node();
				$(rowUsuario).attr('data-id', id);
			}
			
			if(tablePermissoesGrupo && tablePermissoesGrupo != null){
				if($('#table-permissoes-grupo > tbody').find('tr[data-id="'+id+'"]').length == 0){
					var fixAcoes = acoes;
					fixAcoes = fixAcoes.replace('removerUsuario', 'removerPermissao');
					var rowPermissao = tablePermissoesGrupo.row.add([ nome, login, fixAcoes ]).draw().show().draw(false).node();
					$(rowPermissao).attr('data-id', id);
					_usuariosIdInPermissao += id + ",";
				}
			}
			
	 		$("body").find("#add-usuario-token-input").tokenInput("clear");
	 		$("body").find("#add-usuario-token-input").closest("div").find(".mascaraLabel").hide();
	 		
	 		if(typeof _integrantesGrupo != 'undefined'){
	 			var qtd = parseInt($(".group-users").html());
		 		$("span.group-users").html(qtd + 1);
		 		_integrantesGrupo++;
		 		if(_integrantesGrupo > 1){
					$('.grupo-virtual-input-wrapper').addClass('disabled');
				}	
	 		}
		},
      resultsFormatter: function(data){
			var cargo = data.funcao && data.funcao != '' ? data.funcao : '--';
			var img = data.urlFotoUsuarioThumb && data.urlFotoUsuarioThumb != '' ? data.urlFotoUsuarioThumb : '$context/imagens/user.png';
        	
			return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='" + img + "' alt='Foto do grupo" + data.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + data.nome + "</p><p class='cargoUsuarioLista'>Cargo: " + cargo + "</p></div></li>"
		}
	});
	
	setTimeout(function() {
		$("body").find('ul.token-input-list').addClass('token-input-focused', function(){
			$("body").find('input#token-input-add-usuario-token-input').focus();	
		});
	}, 100);
});

$("#modalAddUser").on('hidden.bs.modal',function(e){
	$("#add-usuario-token-input").tokenInput("destroy");
});

function addUsuario(usersAdd, usersRemove, funcaoRetorno){
	if(!funcaoRetorno){
		funcaoRetorno =  function(data) {
			if(data.status != "ERROR"){
				toastr.clear();
				toastr.success(data.message);					
			}else{
				toastr.error(data.message);
			}
		}
	}
	
	if("$!id"){
		var grupoId = "$!id";
	}else{
		var grupoId = $(".mural-header.grupo").attr("data-grupoid");
	}

	jsHttp.post("$context/rest/grupo/addUsuarios", {
		contentType: jsHttp.CONTENT_TYPE_FORM,
		data: {
			usuariosId: usersAdd,
			usuariosRemoveId: usersRemove,
			grupoId: grupoId
		},
		success: funcaoRetorno
	});
}
</script>