<div class="modal fade" id="modal-upload-files" role="dialog" aria-labelledby="modal-upload-files" data-keyboard="false" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       			<h4 class="modal-title"><span class="glyphicon glyphicon-paperclip"></span>&nbsp; Anexar Arquivos</h4>
     		</div>
     		<div class="modal-body clearfix">
     			<div id="drop-zone" class="ajax-drag">
     				<p>Arraste o arquivo aqui, ou</p>
     				<button class="btn btn-primary sbold uppercase postarImagem">Clique aqui</button>
     			</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default min-width btn-cancelar-upload" data-dismiss="modal">Cancelar</button>
				<button class="btn btn-primary min-width">Enviar</button>
			</div>
		</div>
	</div>
</div>