<div class="modal fade" id="modalPreviewFile" role="dialog" aria-labelledby="modalPreviewFile" tabindex="-1">
	<div class="modal-dialog modal-xlg" role="document">
		<form id="tagForm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title"><span class="glyphicon glyphicon-list-alt"></span>&nbsp; <span class="header-file-name">Preview Arquivo</span></h4>
      		</div>
      		<div class="modal-body">
				</div>
				<div class="modal-footer">
        			<button type="submit" class="btn btn-default min-width" data-dismiss="modal">Fechar</button>
        			<a data-file-name="" data-file-url=""  class="btn green-sharp min-width download-file">Download</a>
        			<a target="_blank" class="btn btn-primary min-width see-in-browser">Ver no browser</a>
      		</div>
			</div>
		</form>
	</div>
</div>
<script>
$("#modalPreviewFile").on("hidden.bs.modal", function(e){
	$("#modalPreviewFile .modal-body").html("");
	$("#modalPreviewFile .modal-title .header-file-name").html("Preview Arquivo");
});
</script>