<div class="modal fade" id="modalTrocaGrupo" role="dialog" aria-labelledby="modalArea" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document" >
		<form>
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><span class="fa fa-exchange"></span> Trocar Grupo</h4>
				</div>
				<div class="modal-body clearfix">
					
					<div class="form-group">
						<input type="hidden" value="" name="id" id="id">
	              	<label for="trocaGrupo" class="control-label">Nome do Grupo</label>
						<input type="text" class="form-control" id="trocaGrupo" name="nome" maxlength="80" placeholder="" />
					</div>
					<div class="spinner-content text-center" style="margin-top: 40px; display: none;">
						<i class="fa fa-3x fa-spinner fa-spin fa-fw font-blue"></i>
						<h3>Você será redirecionado para o novo grupo...</h3>
					</div>
				</div>
				<div class="modal-footer">
            	<button type="button" class="btn btn-primary min-width" data-dismiss="modal">Voltar</button>
            </div>
			</div>
		</form>
	</div>
</div>
<script>
var dTableModalTrocaGrupo = null, _notIds = '-1, $!grupo.id';

$("#modalTrocaGrupo").on('show.bs.modal',function(e){
	function getGruposURL(){
		return urlContext+"/ws/gruposAutoComplete.htm?mode=json&form_name=form&search_all=1&not_grupo_ids="+_notIds+"&user_id="+userId;
	}
	
	gruposTokenInput({
		element: "#trocaGrupo",
		url: getGruposURL,
		hintText: "Comece a digitar para buscar.",
		noResultsText: "Nenhum item encontrado",
		searchingText: "Carregando...",
		onSend: function(req) {
			req.data.not_grupo_ids = _notIds;
		},
		onAdd: function (data) {
			$('#modalTrocaGrupo .spinner-content').fadeIn();
			setTimeout(function(){
				$('#modalTrocaGrupo').modal('hide');
				if(jQuery(location).attr('href').lastIndexOf("/cadastro") > -1){
					window.location.href = "$context/cadastro/grupo.htm?id=" + data.id;
				}else{
					window.location.href = "$context/grupo.htm?id=" + data.id;
				}
			}, 2000);
		},
      resultsFormatter: function(data){
			var gu = data.countUsers;
			var grupoImg = data.urlFotoThumb;
			if(grupoImg){
				if(grupoImg.substr(0,4).indexOf('img/') > -1) {
					grupoImg = urlContext + '/' + grupoImg;
				}
			}else{
				grupoImg = urlContext + "/imagens/bg_grupo_thumb.jpg";
			}
			return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='" + grupoImg + "' alt='Foto do grupo" + data.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + data.nome + "</p><p class='cargoUsuarioLista'>Usuários: " + gu + "</p></div></li>"
		}
	});
	
	setTimeout(function() {
		$("body").find('ul.token-input-list').addClass('token-input-focused', function(){
			$("body").find('input#token-input-trocaGrupo').focus();	
		});
	}, 100);
});

$("#modalTrocaGrupo").on('hidden.bs.modal',function(e){
	$("#trocaGrupo").tokenInput("destroy");
});
</script>