<div class="modal fade" id="modalGrupoSubgrupos" role="dialog" aria-labelledby="modalGrupoSubgrupos" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       			<h4 class="modal-title"></h4>
     		</div>
     		<div class="modal-body clearfix">
				<div class="spinner">
 						<div class="rect1"></div>
 						<div class="rect2"></div>
 						<div class="rect3"></div>
 						<div class="rect4"></div>
 						<div class="rect5"></div>
				</div>
				<div class="clearfix modal-group-content"></div>
			</div>
			<div class="modal-footer">
     			<button class="btn btn-default min-width" data-dismiss="modal">Fechar</button>
     			<a class="btn btn-primary min-width link-perfil-grupo">Ver Grupo</a>
     		</div>
		</div>
	</div>
</div>
<script>
$("#modalGrupoSubgrupos").on("hidden.bs.modal", function(){
	$(".modal-body .modal-group-content").html("");
});

var usersAdd = "";
var dTable = null;
var dTableModal = null;

function initDataTable() {
	if(dTable == null && dTableModal == null) {
		dTable = loadTable({element: '.tableList'});
		dTableModal = loadTable({element: '.tableModal'});
	}
}

function addUsuario(usersAdd, usersRemove, funcaoRetorno){
	if(!funcaoRetorno){
		funcaoRetorno =  function(data) {
			if(data.status != "ERROR"){
				toastr.clear();
				toastr.success(data.message);					
			}else{
				toastr.error(data.message);
			}
		}
	}
	
	if("$!id"){
		var grupoId = "$!id";
	}else{
		var grupoId = $(".mural-header.grupo").attr("data-grupoid");
	}

	jsHttp.post("$context/rest/grupo/addUsuarios", {
		contentType: jsHttp.CONTENT_TYPE_FORM,
		data: {
			usuariosId: usersAdd,
			usuariosRemoveId: usersRemove,
			grupoId: grupoId
		},
		success: funcaoRetorno
		
	});
}
</script>