<div class="modal fade" id="modalTrocaUsuario" role="dialog" aria-labelledby="modalArea" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document" >
		<form>
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><span class="fa fa-exchange"></span> Trocar Usuário</h4>
				</div>
				<div class="modal-body clearfix">
					<div class="form-group">
						<input type="hidden" value="" name="id" id="id">
                 	<label for="trocaUsuario" class="control-label">Nome do Usuário</label>
						<input type="text" class="form-control" id="trocaUsuario" name="nome" maxlength="80" placeholder="" />
					</div>
					<div class="spinner-content text-center" style="margin-top: 40px; display: none;">
						<i class="fa fa-3x fa-spinner fa-spin fa-fw font-blue"></i>
						<h3>Você será redirecionado para o novo usuário...</h3>
					</div>
				</div>
				<div class="modal-footer">
            	<button type="button" class="btn btn-primary min-width" data-dismiss="modal">Voltar</button>
            </div>
			</div>
		</form>
	</div>
</div>
<script>
var dTableModalTrocaUsuario = null, _notIds = '$!usuario.id';

$("#modalTrocaUsuario").on('show.bs.modal',function(e){
	function getUsersURL(){
		return urlContext+"/ws/usuariosAutoComplete.htm?mode=json&form_name=form&not_users_ids="+_notIds;
	}
	
	usuarioTokenInput({
		element: "#trocaUsuario",		
		url: getUsersURL,
		hintText: "Comece a digitar para buscar.",
		noResultsText: "Nenhum item encontrado",
      searchingText: "Carregando...",
      preventDuplicates: true,
      minChars: 0,
      propertyToSearch: "nome",
      onAdd: function (data) {
			$('#modalTrocaUsuario .spinner-content').fadeIn();
			setTimeout(function(){
				$('#modalTrocaUsuario').modal('hide');
				$('#modalTrocaUsuario').modal('hide');
				if(jQuery(location).attr('href').lastIndexOf("/cadastro") > -1){
					window.location.href = "$context/cadastro/usuario.htm?id=" + data.id;
				}else{
					window.location.href = "$context/usuario.htm?id=" + data.id;
				}
			}, 2000);
		},
      resultsFormatter: function(data){
			var cargo = data.funcao && data.funcao != '' ? data.funcao : '--';
			var img = data.urlFotoUsuarioThumb && data.urlFotoUsuarioThumb != '' ? data.urlFotoUsuarioThumb : '$context/imagens/user.png';
        	
			return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='" + img + "' alt='Foto do grupo" + data.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + data.nome + "</p><p class='cargoUsuarioLista'>Cargo: " + cargo + "</p></div></li>"
		}
	});
	
	setTimeout(function() {
		$("body").find('ul.token-input-list').addClass('token-input-focused', function(){
			$("body").find('input#token-input-trocaUsuario').focus();	
		});
	}, 100);
});

$("#modalTrocaUsuario").on('hidden.bs.modal',function(e){
	$("#trocaUsuario").tokenInput("destroy");
});
</script>