<script>
$(document).ready(function(){
	$("#grafico").click(function(){
		$("#overlay").fadeIn();
		graficoUm();
		$(".gra1").addClass("ativo");
		$(".gra2").removeClass("ativo");
		$(".gra3").removeClass("ativo");
	});
	
	$(".fecharModal").click(function(){
		$("#overlay").fadeOut();
	});
	
	$(".gra1").click(function(){
		graficoUm();
		$(this).addClass("ativo");
		$(".gra2").removeClass("ativo");
		$(".gra3").removeClass("ativo");
	});
	
	$(".gra2").click(function(){
		graficoDois();
		$(this).addClass("ativo");
		$(".gra1").removeClass("ativo");
		$(".gra3").removeClass("ativo");
	});
	
	$(".gra3").click(function(){
		graficoTres();
		$(this).addClass("ativo");
		$(".gra1").removeClass("ativo");
		$(".gra2").removeClass("ativo");
	});
});//fim doc

//chart1
function graficoUm() {
    jQuery.ajax({
    	type: "get",
    	url: "$context/rest/v1/transacoes/picotps",
    	dataType: "json",
    	beforeSend : function() {
			$("#chartUm").addClass("loading");
		},
		success: function(data){
			var arrayTPS = [];
			var categorias = [];
			if(data && data.length > 0){
				for(i=0;i<data.length;i++){
					categorias.push(data[i].data)
					arrayTPS.push(data[i].valor)
				}
				var options = {
			            chart: {
			                renderTo: 'chartUm',
			                type: 'line',
			                style: {
			                	fontFamily: 'Open sans'
			                },
			            },
			            title: {
			                text: 'PICO TPS POR ANO',
			                //x: -20
			            },
			            exporting: {
			            	enabled: false
			            },
			            credits: {
			            	enabled: false
			            },
			            xAxis: {
			            	categories: categorias
			            },
			            yAxis: {
			                title: {
			                    text: ''
			                },
			                plotLines: [{
			                    value: 0,
			                    width: 1,
			                    color: '#808080'
			                }]
			            },
			            tooltip: {
			            	pointFormat: '{series.name}: <b>{point.y}</b><br/>'
			            },
			            legend: {
			                enabled: false
			            },
			            series: [{name: "Total",color: "#05c3f5",data: arrayTPS}]
			        }
				chart = new Highcharts.Chart(options);
			} else {
				jAlert("Não existem mensagens", 'Atenção', null);
				$("#chartUm").removeClass("loading");
			}
		}
    });
}
    
//chart2
function graficoDois() {
    var dados = new Array();
    jQuery.ajax({
    	type: "get",
    	url: "$context/rest/v1/transacoes/momento",
    	dataType: "json",
    	beforeSend : function() {
			$("#chartUm").addClass("loading");
		},
		success: function(data){
			var novoArray = [];
			if(data && data.length > 0){
				for(i=0;i<data.length;i++){
					novoArray.push({name:data[i].data,color:"#05c3f5",y:data[i].valor})
				}
				var options = {
			            chart: {
			                renderTo: 'chartUm',
			                type: 'column',
			                margin: 75,
			                options3d: {
			                    enabled: false,
			                    alpha: 10,
			                    beta: 10,
			                    depth: 70,
			                    viewDistance: 25
			                }
			            },
			            title: {
			                text: 'DIA DE MAIOR MOVIMENTO POR ANO'
			            },
			            subtitle: {
			                text: ''
			            },
			            exporting: {
			            	enabled: false
			            },
			            credits: {
			            	enabled: false
			            },
			            legend: {
			                enabled: false
			            },
			            plotOptions: {
			                column: {
			                    depth: 10,
			                    cursor: 'pointer',
			                },
			                series:{
			                    borderWidth: 0,
			                    dataLabels: {
			                        enabled: true,
			                        format: '{point.y:,.f}',
			                        inside: false,
			                        y: 0,
			                        style: {
			                            "text-decoration" : 'none'
			                        }
			                    },
			                    showInLegend: false
			                }
			            },
			            tooltip:{
			                useHTML: true,
			                formatter: function() {
			                    if(this.point.drilldown){
			                        return '<div style="text-align:center;display:block;width:100%;"><b>'+ this.point.name + '</b> com ' + Highcharts.numberFormat(this.y, 0) + '<br>Clique para visualizar mais detalhes</div>';
			                    }else{
			                        if(this.series.chart.drilldownLevels){
			                            return Highcharts.numberFormat(this.y, 0) + ' <b>'+ this.point.name + '(s)</b>';    
			                        }else{
			                            return '<b>'+ this.point.name + '</b> com ' + Highcharts.numberFormat(this.y, 0);
			                        }
			                    }
			                }
			            },
			            xAxis: {
			                type: 'category'
			            },
			            yAxis: {
			                min: 0,
			                title: {
			                    text: null
			                },
			                steps: 10
			            },
			            series: [{data:novoArray}]
			        }
				chart = new Highcharts.Chart(options);
			} else {
				jAlert("Não existem mensagens", 'Atenção', null);
				$("#chartUm").removeClass("loading");
			}
		}
    });
}

//chart3
function graficoTres() {
    var dados = new Array();
    jQuery.ajax({
    	type: "get",
    	url: "$context/rest/v1/transacoes/transacao",
    	dataType: "json",
    	beforeSend : function() {
			$("#chartUm").addClass("loading");
		},
		success: function(data){
			var novoArray = [];
			var categorias = [];
			if(data && data.length > 0){
				for(i=0;i<data.length;i++){
					novoArray.push({name:data[i].data,color:"#05c3f5",y:data[i].valor})
					categorias.push(data[i].data)
				}
				var options = {
			    		chart: {
			            	renderTo: "chartUm",
			                type: 'bar'
			            },
			            title: {
			                text: 'TOTAL DE TRANSAÇÕES POR ANO'
			            },
			            xAxis: {
			                categories: categorias
			            },
			            yAxis: {
			                min: 0,
			                title: {
			                    text: ''
			                },
			            },
			            exporting: {
			            	enabled: false
			            },
			            credits: {
			            	enabled: false
			            },
			            tooltip: {
			            	pointFormat: 'Total: <b>{point.y}</b><br/>'
			            },
			            legend: {
			                enabled: false
			            },
			            series: [{data:novoArray}]
			        }
				chart = new Highcharts.Chart(options);
			} else {
				jAlert("Não existem mensagens", 'Atenção', null);
				$("#chartUm").removeClass("loading");
			}
		}
    });
}
</script>
<div class="headerPagina clearfix">
	<h2 class="tituloPagina">Transação</h2>
	<div class="botoesHeader">
	$form.fields.exportar
	</div>
</div>
${form.startTag()}
<div class="formDados">
	<div class="clearfix quebraLinhaForm">
		<div class="umTerco left">
			<label class="labelCampo">$form.fields.data.label</label>
			<div class="campoPost">
			<span class="campoObrigatorio">*</span>
			$form.fields.data
			</div>
		</div>
		<div class="umTerco">
			<label class="labelCampo">$form.fields.volumetria.label</label>
			<div class="campoPost">
			<span class="campoObrigatorio">*</span>
			$form.fields.volumetria
			</div>
		</div>
		<div class="umTerco">
			<label class="labelCampo">$form.fields.picoTps.label</label>
			<div class="campoPost">
			<span class="campoObrigatorio">*</span>
			$form.fields.picoTps
			</div>
		</div>
	</div>
	<div class="clearfix quebraLinhaForm">
		<div class="umMeio left">
			<label class="labelCampo">$form.fields.media.label</label>
			<div class="campoPost">
			$form.fields.media
			</div>
		</div>
		<div class="umMeio">
			<label class="labelCampo">$form.fields.momento.label</label>
			<div class="campoPost">
			$form.fields.momento
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="clearfix botoesSalvar quebraLinhaForm">
			$form.fields.salvar $form.fields.novo
			<input type="button" name="grafico" id="grafico" value="Gráfico" class="botao">
		</div>
	</div>
</div>
<div id="overlay">
	<div id="modal">
		<div class="fecharModal"></div>
		<div class="modalTitle">Gráficos</div>
		<div class="modalContent padding">
	        <div class="botoes">
                <a class="gra1">Pico TPS</a>
                <a class="gra2">Movimento</a>
                <a class="gra3">Transações</a>
            </div>
        	<div id="chartUm" class="chart" style="display:block;"></div>
        </div>
	</div>
</div>
${form.endTag()}
#parse("/msg.htm")
<br />
$table
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>