.treecategoria {
    white-space: nowrap;
    overflow: auto;
    background-color: #fbfcfd;
    border: 1px solid #f1f1f1;
    @include transition(all ease-in-out 200ms);
    
    &:empty{ border: none; }
    
    .no-results-found{ padding: 20px; text-align: center; font-weight: 600; }

    > ul{
        > li{
            &.aberto{
                > .collapsedLastNode{
                    .categoria{ margin-bottom: 10px; }
                }
            }
        }
    }

    ul {
        margin: 0 0 0 10px;
        padding-left: 0px;

        &.level1{ margin-left: 0px; }

        &.level3{
            > li{
                &.new{ padding-top: 10px; }
            }
        }

        > li{ margin-bottom: 10px; }

        li {
            padding: 10px;
            cursor: pointer;
            
            &.new{ padding-top: 0; }

            &:not(.new){
                line-height: 18px;
                position: relative;
                /* @include prefix(border-radius, 4px, webkit moz ms o);
                border: 1px solid #ccc; */
            }

            &.aberto{
                > .collapsedLastNode{
                    background-image: url(../../click/tree/images/minus-corner.png);
                    background-color: #fbfcfd;
                    background-repeat: no-repeat;
                }
            }

            &:last-child{ margin-bottom: 0; }

            .idiomas-disponiveis{
                display: inline-block;
                position: relative;
                top: 3px;

                .idioma{
                    border: none;
                    margin: 0 auto;
                    padding: 0;
                    width: 30px;

                    > i{ height: 16px; }
                }
            }
        }
    }

    table tr td {
        border: 0;
        margin: 0;
        padding: 0;
        width: 0;
    }

    span{
        &.leaf {
           background-image: url(../../click/tree/images/tjunction.png);
           background-repeat: no-repeat;
           display: block;
        }

        &.expanded {
            background-image: url(../../click/tree/images/minus.png);
            background-repeat: no-repeat;
        }

        &.collapsed {
            background-image: url(../../click/tree/images/plus.png);
            background-repeat: no-repeat;
        }

        &.leafLastNode {
            background-image: url(../../click/tree/images/corner.png);
            background-repeat: no-repeat;
            background-color: #fbfcfd;
        }

        &.expandedLastNode {
            background-image: url(../../click/tree/images/minus-corner.png);
            background-color: #fbfcfd;
            background-repeat: no-repeat;
            display: block;
        }

        &.collapsedLastNode {
            background-image: url(../../click/tree/images/plus-corner.png);
            background-color: #fbfcfd;
            background-repeat: no-repeat;
            display: block;
        }

        &.expandedIcon {
            background: url(../../click/tree/images/folder-open.png) 0 50% no-repeat;
            padding-left: 1.1em;
        }

        &.collapsedIcon {
            background: url(../../click/tree/images/folder-closed.png) 0 50% no-repeat;
            padding-left: 1.1em;
        }
    }

    .spacer {
        float: left;
        min-height: 18px;
        padding-left: 18px;
    }

    .selected {
        border: 1px solid #000000;
        margin-left: 1px;
        background-color: #0A246A;
        color: #FFFFFF;

        a { color: white; }
    }

    .unselected {
        margin-left: 1px;

        &.categoria{ display: block; }

        &.nova-categoria{ font-weight: 600; }
    }

    .hide { display: none; }

    .text-wrap{
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: nowrap;
    }
}

.treecategoria span.leaf,
.treecategoria span.expanded,
.treecategoria span.collapsed,
.treecategoria span.leafLastNode,
.treecategoria span.expandedLastNode,
.treecategoria span.collapsedLastNode,
.treecategoria span.expandedIcon,
.treecategoria span.collapsedIcon,
.treecategoria .spacer {
    clear: both;
}


.categoria-idioma-wrapper{
    position: relative;
    padding-bottom: 20px;



    .categoria-idioma-select{

    border: none;
    padding: 0;
    display: inline-block;
    margin-bottom: 10px;
    width: auto !important;
    
    }

    i{
        position: absolute;
        top: 47px;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        @include transition(all ease-in-out 200ms);


        &.remove-idioma{
            right: 50px;
        }
        &.add-idioma{
            right: 15px;
        }
    }

    input{
        width: 85%;
    }

    &:hover{
        i{
            visibility: visible;
            opacity: 1;
        }
    }

}

#editarCategoriaIdioma{
    ul.nav.nav-tabs{
        position: absolute;
    }
}

.portlet-body-categoria{
	
	.col-sm-6{ opacity: 1; visibility: visible; }
	
	&.spinner-blue{
		.col-sm-6{ opacity: 0; visibility: hidden; }
	}
}