.icon-user-default, .icon-user-default-square, .icon-group-default, .icon-broadcast-default {
    background: url('../img/avatar.svg') 50% 50%/contain no-repeat;
}

.avatar {
    background: url(../img/avatar.svg) center center/contain no-repeat;
    position: relative;
    &.small{
        width: 40px;
        height: 40px;
        .spinner{ background-size: 40px 40px; }
    }
    &.medium{
        width: 49px;
        height: 49px;
        .spinner{ background-size: 50px 50px; }
    }
    &.large{
        width: 200px;
        height: 200px;
        .spinner{ background-size: 230px 230px; }
    }
    &.pointer{
        cursor: pointer;
    }

    &.statusChat, &.null{
        border: 2px solid transparent;
        &.offline {
           border-color: #ff5858 !important;
        }

        &.online {
            border-color: #06b53c !important;
        }
    }

    &.is-loaded{
        background: #DFE5E7;
    }
}


.avatar, .avatar-image {
    @include prefix(border-radius, 50%, webkit moz ms o);
    overflow: hidden;
}

.avatar-centraliza{
    display: block;
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
    position: relative;
    font-size: 0;
}


.avatar-image {
    /* max-height: 58%;
    min-height: 58%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    -webkit-transition: opacity .18s ease-out;
    transition: opacity .18s ease-out;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; */

    width: 100%;
    height:100%;
    opacity: 0;
    @include transition(opacity .18s ease-out);

    &.spinner{
        background: rgba(34, 34, 34, 0.75) url(../img/spinner.gif) center center no-repeat;
        height: 100%;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 0;
        opacity: 1;
    }
    &.is-loaded {
        opacity: 1;
    }
    &.is-error{
        background: url(../img/avatar.svg) 50% 50%/contain no-repeat;
        opacity: 1;
    }
}

@media screen and (max-width: 850px) {
    .drawer-profile .avatar-picker-controls {
        left: auto;
        right: -8px;
    }
}

.message-avatar-holder{
    float: left;
    margin-right: 5px;
}