.input, .block-compose .input-container, .input-line {
    font-weight: 400;
}

.input, .block-compose .input-container {
    @include prefix(user-select, text, webkit moz ms o);
    line-height: 20px;
    font-size: 15px;
    min-height: 20px;
    border: none;
    padding: 10px 12px;
    width: 100%;
    outline: none;
}



body {
    background-color: #dfdfdf;
    background-image: -webkit-linear-gradient(top,#dddbd1,#d2dbdc);
    background-image: linear-gradient(to bottom,#dddbd1,#d2dbdc);
    font-family: 'Roboto',sans-serif;
    color: #4b4b4b;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    @include prefix(user-select, none, webkit moz ms o);
}

html, body, #app {
	height:100%;
	width: 100%;
	overflow: hidden;
	border:0;
	margin:0;
	padding:0;
}

#app {
	position:absolute;
	top:0;
	left:0;
}


.icon-user-default, .icon-user-default-square, .icon-group-default, .icon-broadcast-default {
	background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}


.app-wrapper {
	width: 100%;
    height: 100%;
    overflow: hidden;
}

.app {
    position: relative;
    overflow: hidden;
    -webkit-transform-origin: center;
    transform-origin: center;
    @include animation(app-enter .3s cubic-bezier(.1,.82,.25,1));
    background-position: top left;
    background-repeat: repeat-x;
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-image: url("../img/background_app.png");
}