.card-carousel{
    display: flex;
    position: relative;
    margin: 0 0 10px;

	.card-carousel-arrows{
		position: absolute;
		top: calc(50% - 15px);
		height: 30px;
		width: 30px;
		background-color: #fff;
		z-index: 99;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
		display: none;
		pointer-events: none;
		opacity: .4;
		cursor: pointer;

		&.arrow-back{ left: 10px; }

		&.arrow-front{ right: 10px; }

		&.active{ opacity: 1; pointer-events: all; }

		> svg{
			width: 30px!important;
			height: 30px!important;
			cursor: pointer;
		}
	}

	&.border{
		border-bottom: 1px solid #ccc;

		.card-carousel-arrows{ display: block; }
	}

	
}

.card-list{
	width: 100%;
    margin: 0;
    display: flex;
    align-items: stretch;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

	.card{
		position: relative;
		background-color: #fff;
		border: 1px solid #f1f1f1;
		@include prefix(border-radius, 4px, webkit moz ms o);
		padding: 5px 0;
	    margin: 0 5px 5px;
	  	max-width: 125px;
	    max-height: 250px;
	    display: block;
	    flex: 0 1 auto;
	    list-style-type: none;

	    .card:first-child{ margin-left: 0; }
    	.card:last-child{ margin-right: 0; }
		
		.card-header, .card-footer{ position: relative; display: block; }

		.card-header{
		    position: relative;
		    width: 80px;
		    height: 80px;
		    margin: 0 auto;
		    font-size: 0;
		    overflow: hidden;
		    z-index: 1;
		    padding: 20px;
		}

		.card-fancybox{
			display: block;
		    width: 200%;
		    height: 200%;
		    left: -50%;
		    top: -50%;
		    position: relative;
		    font-size: 0;

		    .card-image{
	    		max-height: 58%;
			    min-height: 58%;
			    position: absolute;
			    left: 0;
			    top: 0;
			    bottom: 0;
			    right: 0;
			    margin: auto;
			    overflow: hidden;
			    @include transition(none);
			    @include animation(none);
			}
		}

		.card-footer{
			border-top: 1px solid #f1f1f1; padding: 5px 5px 0;

			.card-title{
				text-align: center;
				line-height: 20px;
				word-wrap: break-word;
		    	white-space: nowrap;
		    	overflow: hidden;
		    	text-overflow: ellipsis;
		    	font-weight: 500;
		    }

		    .card-subtitle{ word-wrap: break-word; line-height: 16px; font-size: 14px; text-align: left; margin-top: 5px; }

		    .card-buttons{
		    	display: block;
		    	position: relative;
		    	margin: 5px 0;

		    	.card-button{
		    		font-size: 14px;
				    display: block;
				    text-align: center;
				    padding: 5px;
				    text-transform: uppercase;
				    font-weight: 500;
				    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
				    @include transition(all ease-in-out 300ms);

				    &.link{
				    	color: #FFF; background-color: #2ab4c0; border-color: #2ab4c0;

				    	&:hover{ background-color: #218d96; border-color: #1f858e; }
				    }

				    &.btn{
				    	color: #fff; background-color: #337ab7; border-color: #2e6da4;

				    	&:hover{ background-color: #286090; border-color: #204d74; }
				    }
		    	}
		    }
		}
	}
}