@-webkit-keyframes capture-ctrl-enter {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes capture-ctrl-enter {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

/*  */
@-webkit-keyframes ripple-click {
    0% {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes ripple-click {
    0% {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes ripple-release {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes ripple-release {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

/*  */
@-webkit-keyframes checkmark-expand {
    0% {
        top: 9px;
        left: 6px;
        width: 0;
        height: 0
    }

    100% {
        top: -1px;
        left: 4px;
        width: 5px;
        height: 10px
    }
}

@keyframes checkmark-expand {
    0% {
        top: 9px;
        left: 6px;
        width: 0;
        height: 0
    }

    100% {
        top: -1px;
        left: 4px;
        width: 5px;
        height: 10px
    }
}

/*  */
@-webkit-keyframes app-enter {
    from {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes app-enter {
    from {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

/*  */
@-webkit-keyframes tooltip-left {
    from {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes tooltip-left {
    from {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@-webkit-keyframes menu-tooltip {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes menu-tooltip {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/*  */
@-webkit-keyframes media-viewer-animate {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes media-viewer-animate {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/*  */
@-webkit-keyframes delay-fade {
    0%,100% {
        opacity: 0
    }
}

@keyframes delay-fade {
    0%,100% {
        opacity: 0
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

/*  */
@-webkit-keyframes snapshot {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes snapshot {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/*  */
@-webkit-keyframes heart {
    0%,5% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    75% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    90% {
        -webkit-transform: scale(.96);
        transform: scale(.96)
    }
}

@keyframes heart {
    0%,5% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    75% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    90% {
        -webkit-transform: scale(.96);
        transform: scale(.96)
    }
}

/*  */
@-webkit-keyframes ptt-indicator {
    50% {
        opacity: 0
    }
}

@keyframes ptt-indicator {
    50% {
        opacity: 0
    }
}

/*  */
@-webkit-keyframes drawer-scale {
    0%,20% {
        -webkit-transform: scale(0,0);
        transform: scale(0,0)
    }

    100% {
        -webkit-transform: scale 1,1;
        transform: scale 1,1
    }
}

@keyframes drawer-scale {
    0%,20% {
        -webkit-transform: scale(0,0);
        transform: scale(0,0)
    }

    100% {
        -webkit-transform: scale 1,1;
        transform: scale 1,1
    }
}

/*  */
@-webkit-keyframes well-animation3 {
    0%,35% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes well-animation3 {
    0%,35% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}


@-webkit-keyframes well-animation2 {
    0%,30% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes well-animation2 {
    0%,30% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

/*  */
@-webkit-keyframes well-animation1 {
    0%,25% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes well-animation1 {
    0%,25% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

/*  */
@-webkit-keyframes well-animation {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes well-animation {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

/*  */
@-webkit-keyframes show {
    0%,20% {
        -webkit-transform: scale(0,0);
        transform: scale(0,0)
    }

    100% {
        -webkit-transform: scale 1,1;
        transform: scale 1,1
    }
}

@keyframes show {
    0%,20% {
        -webkit-transform: scale(0,0);
        transform: scale(0,0)
    }

    100% {
        -webkit-transform: scale 1,1;
        transform: scale 1,1
    }
}

/*  */
@-webkit-keyframes play {
    100% {
        background-position-x: 100%
    }
}

@keyframes play {
    100% {
        background-position-x: 100%
    }
}

@-webkit-keyframes rotate{
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}