.liveurl {
    background: #e9e5e2;
    border-radius: 5px;
    clear: both;
    padding: 5px;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;

    .liveurl-first{ align-items: center; }
}

.imagem {
  width: 60px;
  height: 60px;
  float: left;
  padding-right: 4px;
}

.titulo { 
	font-size: 15px;
	margin-bottom: 2px; 
}

.descricao {
	font-size: 12px;
	color: #808080;
}

.icones {
	background-image: url(../../../imagens/icones.png);
    background-position: -22px -238px;
    cursor: pointer;
    opacity: .7;
    float: right;
    width: 22px;
    height: 22px;
}