.chat-msg-buttons{
	display: block;
	clear: both;

	.btn-choose{
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 10px;
	}

	.btn{
		display: block;
		margin: 0 auto;
		min-width: 250px;
		margin-bottom: 10px;

		&:last-child{ margin-bottom: 20px; }
	}
}