.ptt-recording {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 200px
}

.ptt-counter {
    font-weight: 300;
    font-size: 20px;
    color: #606060;
    opacity: 0;

    &:before {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        @include animation(ptt-indicator 1.6s ease-in infinite);
        background-color: #e53935;
        content: '';
        margin-right: 7px;
    }
}


.btn-border {
    width: 35px;
    height: 35px;
    opacity: 0;
    position: relative;

    .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 35px;
    }

    .btn-state-hover {
        opacity: 0;
    }
}

.btn-border:hover,.btn-border.is-hover {
    transition: -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
    transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
    -webkit-transform: scale(1.12) !important;
    transform: scale(1.12) !important;
}

.btn-border:hover .btn-state-default,.btn-border.is-hover .btn-state-default {
    opacity: 0
}

.btn-border:hover .btn-state-hover,.btn-border.is-hover .btn-state-hover {
    opacity: 1
}

.ptt-container {
    &.active {
        .ptt-counter, .btn-border { opacity: 1; }
    }
}

.message .btn-context-ptt,.message .btn-context-ptt:after {
    height: 18px
}

.message-in .btn-context-ptt {
    right: 74px;
    top: 5px
}

.msg-group .message-in .btn-context-ptt {
    right: 81px
}

.msg:not(.msg-group) .message-in .btn-context-location {
    right: 99px
}

.message-out .btn-context-ptt {
    top: 5px
}


@-webkit-keyframes ptt-indicator {
    50% {
        opacity: 0
    }
}

@keyframes ptt-indicator {
    50% {
        opacity: 0
    }
}