*::-webkit-scrollbar-track {
    background-color: #eee;
    border-width: 3px;
}


*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #C1C1C1;
    border-style: solid;
    border-color: #eee;
    border-width: 2px;
    background-clip: padding-box;
}

*::-webkit-scrollbar {
    width: 10px!important;
    height: 10px!important;
}