.navbar-search { float: left; margin-left: 10px; width: 25%; @include transition(all .6s); }

/* busca header */
.fundo-busca {
	float: left; margin: 15px 10px 0 0; position: relative; width: 100%;

	input#busca {
		float: left;
		width: 100%;
		color: #FFF;
		border-top: none;
		border-right: none;
		border-bottom: 1px solid transparent;
		border-left: none;
		font-size: 14px;
		height: 34px;
		line-height: 34px;
		font-weight: normal;
		padding: 0 45px 0 35px;
		background: transparent;
		@include prefix(border-radius, 0, webkit moz ms o);
		display: block;
		position: relative;
		text-overflow: ellipsis;
		@include transition(0.5s ease);

		&:focus { border-bottom: 1px solid rgba(255, 255, 255, 1); }

		&::-webkit-input-placeholder { color: #FFF; } /* Chrome, Opera */
		&:-moz-placeholder { color: #FFF; } /* Firefox 18- */
		&::-moz-placeholder {  color: #FFF; } /* Firefox 19+ */
		&:-ms-input-placeholder { color: #FFF; } /* IE */
	}
}

.itemBusca {
	display: block; position: relative; padding: 10px !important; min-height: 50px;

	.fotoUsuario { position: absolute; left: 10px; top: 10px; }

	.textoBusca { padding-left: 60px; }

	&.nenhum { cursor: default; pointer-events: none; }
}

.itemBusca.nenhum .textoBusca,
.itemBusca.see-search-results-mural .textoBusca { padding-left: 0; text-align: center; }

.itemBusca.nenhum .nomeUsuarioLista,
.itemBusca.see-search-results-mural .textoBusca .nomeUsuarioLista { padding-top: 8px; width: auto; }

.fundo-busca{
	.icones{
		&.busca { position: absolute; top: 6px; left: 10px; background-position: 0 -45px;	z-index: 2; }
		&.dropdown { position: absolute; right: 10px; top: 6px; cursor: pointer; display:none; }
	}
}

ul.ui-autocomplete {
	max-height: 80%;
	overflow: auto;
	position: fixed;
	z-index: 9999;

	.ui-menu-item{
		list-style: none;

		a{
			color: inherit;
			border-left: none;
			border-right: none;
			border-top: none;
			border-bottom: 1px solid #eee;

			&.ui-state-active{
				margin: inherit;
				border-left: none;
				border-right: none;
				border-top: none;
				border-bottom: 1px solid #eee;
				background: #eee;
				font-weight: inherit;
				color: inherit;

				&:hover{ text-decoration: none; }
			}
		}
	}
}


.ui-menu-item{
	.textoBusca{
		.cargoUsuarioLista{
			margin-right: 10px;

			&:last-child{ margin-right: 0; }
		}
	}
}

#ui-autocomplete-wrapper-results{
	height: 100%; max-height: 80%; position: fixed; z-index: 9999; top: 49px;

	.btn-search, a.see-search-results-mural{
		position: fixed;
		z-index: 9999;
		@include prefix(border-radius, 0 0 10px 10px, webkit moz ms o);
		height: 53px;
	}

	a.see-search-results-mural{ display: none; height: initial; max-height: 53px; background: #fff; position: absolute; bottom: 0; }
}

.ui-autocomplete-holder-link{ height: 53px; bottom: 0; position: relative; top: calc(100% - 53px); }
.ui-autocomplete-holder-results{ position: relative; width: 100%; height: 100%; }

.buscaMobile {
	background: #e8edef;
	border-bottom: 1px solid #d8dce0;
	padding: 20px 0;
	position: relative;
	display: none;

	input#buscaMobile {
		width: 100%;
		margin: 0 auto;
		color: #808080;
		border: 1px solid #d8dce0;
		font-size: 14px;
		height: 34px;
		line-height: 34px;
		background: #FFF;
		border-radius: 50px;
		display: block;
		position: relative;
		padding: 0 30px 0 20px;
		&:focus{ @extend %input-focus; }
	}

	.icones{
		.ico-setaBaixoCinza {
			position: absolute;
			top: 27px;
			right: 20px;
			cursor: pointer;
			z-index: 2;
		}
	}
}