/*** HEADER ***/
.navbar {
	min-height: 64px; max-height: 64px; @extend %no-margin-bottom;
}

.navbar-inverse {
	background: #0096D0; color: $white; @extend %no-border;

	.navbar-nav{
		@extend %no-margin;
		
		> li{
			> a{ @extend %no-padding; }
		}
		
		> .active{
			> a {
				@extend %initial-bg-color;
				&:focus, &:hover{ @extend %initial-bg-color; }
			}
		}
	}
}

.header-links, .navbar-inverse .navbar-nav>li>a.header-links {
	padding: 18px 10px; float: left; position: relative; display: block; cursor: default;

	> i { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity = 50); -moz-opacity: 0.5; opacity: 0.5; }

	&.bigger { padding: 21px 10px; }
	&.ativo {
		cursor: pointer;

		> i { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity = 100); -moz-opacity: 1; opacity: 1; }
	}
}

.navbar-inverse .navbar-nav>li.active>a.header-links, .navbar-inverse .navbar-nav>li.active>div.header-links,
.navbar-inverse .navbar-nav>li>a.header-links.aberto, .header-links.aberto,
.navbar-inverse .navbar-nav>li>a.header-links.ativo:hover, .header-links.ativo:hover { background: #0E709C; }

.navbar-inverse .navbar-nav>li>a.header-links>span, .header-links>span, span.notifications.badge-color {
	display: none;
	font-size: 9px;
	@include prefix(border-radius, 10px, webkit moz ms o);
	background: #e44c34;
	position: absolute;
	right: 4px;
	top: 14px;
	color: #FFF;
	padding: 2px;
	text-align: center;
	height: 13px;
	line-height: 10px;
	min-width: 13px;
}

.navbar-header {
	padding-top: 8px; float: left;

	> a{
		&.navbar-brand {
			background: url(../../imagens/icones.png) no-repeat 0 0;
			width: 150px;
			height: 37px;
			text-indent: -9999px;
			@extend %no-padding;

			&.cielo { background: url(../../imagens/logo_cielo_web.png) no-repeat 0 7px; }
		}
	}
}

.navbar-fixed-bottom, .navbar-fixed-top{ z-index: 1099; }
.navbar-fixed-top{ @extend %no-border; }

.container, .container-fluid{
	> .navbar-collapse, > .navbar-header{ @extend %no-margin-lr; min-width: 220px; @extend %no-border; }
	> .navbar-collapse{ @extend %no-padding; }
}

#logo {
	width: 150px; height: 37px; outline: none;
	
	&.cielo, &.cetip{ width: 160px; height: 53px; padding: 15px 0; }

	a{
		background: url(../../imagens/icones.png) no-repeat 0 0;
		width: 150px;
		height: 37px;
		text-indent: -9999px;
		display: block;
		outline: none;

		&.cielo {
			background-size: cover;
			width: 160px;
			height: 53px;
			text-indent: -9999px;
			display: block;
			outline: none;
		}

		&.cetip {
			background: url(../../imagens/logo_cetip_maior.png) no-repeat 0 0;
			background-size: cover;
			width: 160px;
			height: 53px;
			text-indent: -9999px;
			display: block;
			outline: none;
			background-position: -12px;
		}
	}

}

#header{
	#logo{
		padding: 13px 0 0 54px; margin: 0;

		a.cielo {
			background-size: cover;
			width: 88px;
			height: 29px;
			text-indent: -9999px;
			display: block;
			outline: none;
			margin: 0 auto;
		}

		a.cetip {
			background: url(../../imagens/logo_cetip_menor.png) no-repeat 0 0;
			background-size: cover;
			width: 100%;
			height: 100%;
			text-indent: -9999px;
			display: block;
			outline: none;
		}
	}
} 

/* icones header */
.icones-header{
	@extend %float-right;

	> li, .icones{ @extend %float-left; }

	> li{
		&.li-tutorial{
			display: none;
			&.mural-located{ display: block; }
		}
	}

	.icones.configuracoes { background-position: -77px -45px; width: 23px; height: 23px; }
	.mensagens { background-position: -47px -45px; width: 30px; height: 23px; }
	.busca { background-position: 0 -45px; width: 22px; height: 23px; z-index: 1; }
	.buscaCetip { background-position: -273px -46px; width: 22px; height: 23px; }
	.dropdown { background-position: -202px -268px; width: 15px; height: 10px; cursor: pointer; }
	.alertas { background-position: -22px -45px; width: 23px; height: 23px; }

	&.cetip{
		.fundoNotificacao.ativo:hover { background: #037c3b; }
	} 
}

.filtroPosts{
	&.mobile{ @extend %hidden; }
}

.abreDatasFiltro, .filtroPosts{ @extend %hidden; }

.labelPost {
	float: left;
	display: block;
	width: 89px;
	@include prefix(border-radius, 3px 0 0 3px, webkit moz ms o);
	background: #FFF;
	border: 1px solid #ccc;
	@extend %no-border-right;
	font-size: 12px;
	font-weight: 600;
	color: #0096d0;
	position: absolute;
	left: 0;
	top: 0;
	padding: 6px 0 5px 10px;

	&.noBorder{ @extend %no-border; }
}

@import '_busca';