<div class="page-content">
	<h3 class="page-title">Detalhes do Relatório de Usuários </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/report/push/usuariosPushReport.htm">Relatório de Usuários</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Detalhes do Relatório de Usuários</span></li>
		</ul>
	</div>
	
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption font-dark">
        		<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-info-circle" aria-hidden="true"></i> Detalhes do Usuário</span>
			</div>
	  		<div class="actions">
        		<div class="btn-group">
           		<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="javascript:;" class="sendPush">
							<i class="fa fa-flag-o"></i> Enviar Push </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="portlet-body">
			<div class="row">
				<div class="col-md-6">
					<div class="clearfix form-group campoPost postInfo">
						<label class="control-label labelCampo">Login</label>
						<p class="sbold font-blue-link">$!login</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="clearfix form-group campoPost postInfo">
						<label class="control-label labelCampo">Empresa</label>
						<p class="sbold font-blue-link">$!empresa</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption font-dark">
         	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-mobile"></i> Devices do Usuário</span>
			</div>
		</div>
		<div class="portlet-body clearfix table-responsive">
			<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>OS</th>
						<th>Registration ID</th>
						<th>Situação</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
#parse("/modals/modal_enviar_push.htm")
<script>
var dTable = null;

function getDevices() {
	jsHttp.get("$context/rest/v1/push/devices",{
		data: {
			usuarioLogin: "$!login",
			projeto: "$!empresa"
		},
		beforeSend: function(){
			$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
		},
		success: function (data) {
			var conteudo = "";
			for(var i in data.list) {
				var campo = data.list[i];
				conteudo += createTable(campo);
			}
			
			if(dTable != null) {
				$(".table > tbody").empty();
				dTable.clear();
				dTable.destroy();
			}
			
			dTable = loadTable(conteudo);
			dTable.data(conteudo).draw();
			$('.portlet-body.clearfix').find('.dataTables_processing').remove();
		}
	});
}

function createTable(campo){
	var rTable = "";
	if(campo.ativo == true){
		rTable += '<tr class="text-center pushUser" data-id="'+campo.id+'">';
	}else{
		rTable += '<tr class="userInactive text-center pushUser" data-id="'+campo.id+'">';
	}
	
		rTable += "<td>"+campo.id+"</td>";
		rTable += "<td>"+campo.nome+"</td>";
		if(campo.so.length <= 3){
			rTable += "<td class='osIcon'><i class='fa fa-apple fa-2x'></i></td>";
		}else{
			rTable += "<td class='osIcon'><i class='fa fa-android fa-2x'></i></td>";
		}
		rTable += "<td>"+campo.registrationId+"</td>";
		
		if(campo.ativo){
			rTable += "<td class='tooltip-livecom' title='Ativo'><i class='fa fa-mobile dev-ativo' ></i></td>";
		}else{
			rTable += "<td class='tooltip-livecom' title='Inativo'><i class='fa fa-mobile dev-inativo'></i></td>";
		}
		
	rTable += "</tr>";
	return rTable;
}

$(document).ready(function(){
	getDevices();
	
	$('body').on('click', '.sendPush', function(e) {
		$("#modalSendPush").modal('show');
	});
	
	$('body').on('click', '.cancelar', function(e) {
		$("#modalSendPush").modal('hide');
	});
});
</script>