<div class="page-content">
	<h3 class="page-title">Relatório de Usuários </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Relatório de Usuários</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Filtro</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-down tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body toggled">
					<form name="form_relatorio" id="relFavorito" method="post">
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;Data Inicial</label>
								<div class="campoPost">
									<input type="text" id="dataIni" value="$!filtro.dataIni" name="filtro.dataIni" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;Data Final</label>
								<div class="campoPost">
									<input type="text" id="dataFim" value="$!filtro.dataFim" name="filtro.dataFim" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-8 form-group">
								<label class="labelCampo control-label"><i class="fa fa-user"></i>&nbsp;Usuário</label>
								<div class="campoPost">
									<input type="text" class="input margin" value="$!filtro.usuario.id" id="filtrarUsuario" name="filtro.usuario">
								</div>
							</div>
						</div>
						<div class="clearfix text-right">
							<input type="button" class="btn btn-primary min-width" id="filtrarRel" value="Filtrar" />
						</div>
					</form>
				</div>
			</div>
			
			<div class="portlet light">
		   	<div class="portlet-title">
		      	<div class="caption font-dark">
		         	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-users"></i> Relatório de Usuários</span>
		         </div>
		         <div class="actions">
		         	<div class="btn-group">
		            	<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
		               <ul class="dropdown-menu pull-right">
		               	#if($exportar_csv_on && $exportar_csv_on == "1")
		               		#if($!EXPORTACOES)
										<!-- <li><a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a><i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
							</ul>
						</div>
					</div>
				</div>
		      <div class="portlet-body clearfix table-responsive">
		      	<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
		         	<thead class="header">
							<tr>
								<th>ID</th>
								<th>Código</th> 
								<th>Devices</th> 
								<th>Ações</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var linha = 0;
$(document).ready(function(){
	
	var filtro = getFiltro();
	var user = $("#filtrarUsuario").val();
	filtro.page = 0;
	
	usuarioPush(filtro);
	
	var usuario = [];
	
	#if($filtro.usuarioId)
		usuario.push({
			id: '$filtro.usuarioId',
			login: '$filtro.usuarioLogin'
		});
	#end
	
	if($("#filtrarUsuario").length > 0){
		jsHttp.filtroTokenInput("#filtrarUsuario", urlContext+"/rest/usuario?max=15", {
			queryParam: "login",
			propertyToSearch: "login",
			placeholder: 'Digite o nome...',
			tokenLimit: 1,
			prePopulate: usuario
		});
	}
	
	$("#filtrarRel").on("click",function(e){
		e.stopPropagation();
		e.preventDefault();
		var user = $("#filtrarUsuario").val();
		filtro.page = 0;
		usuarioPush(filtro);
	});
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		filtro = getFiltro();
		usuarioPush(filtro);
	});
	
});
function getFiltro() {
    var filtro = {
  		usuarioLogin: $("#filtrarUsuario").val(),
  		projeto: "$!empresa"
	};
	return filtro;
}

var dTable = null;

function usuarioPush(filtro) {
	var filtro = getFiltro();
	jsHttp.get("$context/rest/v1/push/usuarios",{
		data: filtro,
		beforeSend: function(){
			$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
		},
		success: function (data) {
			var conteudo = "";
			for(var i in data.list) {
				var campo = data.list[i];
				conteudo += createTable(campo);
			}
			
			if(dTable != null) {
				$(".table > tbody").empty();
				dTable.clear();
				dTable.destroy();
			}
			dTable = loadTable(conteudo);
			dTable.data(conteudo).draw();
			$('.portlet-body.clearfix').find('.dataTables_processing').remove();
			$('.bs-tooltip').tooltip({ html: true });
		}
	});
}

function createTable(campo){
	var rTable = "";
	rTable += '<tr class="pushUser" data-id="'+campo.id+'">';
		rTable += '<td>'+campo.id+'</td>';
		rTable += '<td><a href="$context/report/push/detalhesUsuariosPushReport.htm?id='+campo.id+'&login='+campo.codigo+'" class="sbold blue">'+campo.codigo+'</a></td>';
		rTable += '<td class="deviceCount text-center bs-tooltip" title="'+campo.ativos+' device(s) ativo(s) e '+campo.inativos+' device(s) inativo(s)"><div><i class="fa fa-mobile dev-ativo"></i><span class="ativo">'+campo.ativos+'</span></div>';
			rTable += '<div><i class="fa fa-mobile dev-inativo"></i><span class="inativo">'+campo.inativos+'</span></div>';
		rTable += '</td>';
		rTable += '<td align="center">';
			rTable += '	<a href="$context/report/push/detalhesUsuariosPushReport.htm?id='+campo.id+'&login='+campo.codigo+'" class="btn btn-outline blue-sharp  uppercase bs-tooltip" title="Visualizar"><i class="fa fa-eye"></i></a>';
		rTable += '</td>';
	rTable += "</tr>";
	return rTable;
}
</script>