h1, h2, h3, h4, h5, h6{ font-family: "Open Sans", Arial, Verdana, sans-serif; font-weight: 300; margin: inherit; }

.bold, .sbold{
    &.btn{ letter-spacing: 0; }
}

p{ font-size: inherit; letter-spacing: inherit; line-height: inherit; margin: 0; }

h1{ @extend %no-margin; }

ol, ul{ line-height: inherit; }

a{
    text-shadow: none;
    color: #337ab7;
    font-weight: inherit;
    &:hover { cursor: pointer; color: #23527c }
    &:active, &:focus, &:hover { outline: 0; }
}

input{ line-height: initial; }

.btn, .form-control{ box-shadow: none; }

.hidden{ display: none!important; }

.bold, .sbold{ font-weight: 600!important; }
b, strong{ font-weight: 700!important; }
.thin{ font-weight: 400!important; }

.uppercase{ text-transform: uppercase!important; }
.lowercase{ text-transform: lowercase!important; }

.sborder-bottom{ padding-bottom: 5px; border-bottom: 3px solid #9BB7E4; }
.sborder-blue-bottom{ padding-bottom: 5px; border-bottom: 3px solid #006792; }

.bleed-divider { border-bottom: 1px solid rgba(0,0,0,.12); }

.close { display: inline-block; @extend %no-margin-top; @extend %no-margin-right; background-repeat: no-repeat!important; outline: 0; }

.fa-rotate-220 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -webkit-transform: rotate(220deg); -ms-transform: rotate(220deg); transform: rotate(220deg); }

.text-center{
	h3{ @extend %text-center; }
	input.btn-voltar{ @extend %block; margin: 0 auto; }
}


/*** helper classes ***/
.margin-left{ margin-left:10px; }
.marginBottom { margin-bottom: 8px; }
.marginBottom20 { margin-bottom: 20px; }
.marginTop { margin-top: 8px; }
.marginTop.margin5 { margin-top: 5px; }
.marginTopLabel { margin-top: 38px; text-align: center; }

.margin-top-20{ margin-top: 20px; }

.noPaddingLeft { @extend %no-padding-left; }
.noPaddingRight { @extend %no-padding-right; }

.btn-fix-padding-top{ padding-top: 20px; }

.fixedHeight { min-height: 300px; }
.full-height{ min-height: 100%; height: 100%; max-height: 100%; }

.cursor-pointer{ cursor: pointer; }

.modal{
    z-index: 10050; outline: 0; overflow-y: auto!important;

    .modal-footer{ @extend %no-border; }
}


[class*=" fa-"]:not(.fa-stack),[class*=" glyphicon-"],
[class*=" icon-"],[class^=fa-]:not(.fa-stack),[class^=glyphicon-],
[class^=icon-] { display: inline-block; line-height: 14px; -webkit-font-smoothing: antialiased; }

li [class*=" fa-"], li [class*=" glyphicon-"], li [class*=" icon-"],
li [class^=fa-], li [class^=glyphicon-], li [class^=icon-] { display: inline-block; width: 1.25em; text-align: center; }

.control-label { margin-top: 1px; font-weight: 600; display: block; color: #505050; }

.control-label, .form-group{
    .required { color: #e02222; font-size: 12px; padding-left: 2px; }
    
    > .form { @extend %no-padding; }
}

.form-group {
	@extend %relative;

	&.no-margin-bottom{ @extend %no-margin-bottom; }
}

.input-group-addon{
    > i{ color: #c5cdda; }
}


.list-group{
    > li{
        &:first-child { @include prefix(border-radius, 4px 4px 0 0, webkit moz ms o); }
        &:last-child { @include prefix(border-radius, 0 0 4px 4px, webkit moz ms o); }
    }
}

.popover {
    @include prefix(box-shadow, 5px 5px rgba(102,102,102,.1), webkit moz ms o);
    @extend %no-padding;
    width: 140px;
    max-width: inherit;

    .popover-title { margin: 0!important; line-height: inherit; }

    .popover-content { padding: 9px 8px; }
}

.overflow-h { overflow: hidden; }

.tab-pane>p:last-child { margin-bottom: 0; }


//buttons
@import 'components/buttons/_INDEX';

//cards
@import 'components/cards/_INDEX';

//dashboard-stat
@import 'components/dashboard-stat/_INDEX';

//dropdowns
@import 'components/dropdowns/_INDEX';

//font-colors
@import 'components/font-colors/_INDEX';

//headings
@import 'components/headings/_INDEX';

//inline-menu
@import 'components/inline-menu/_INDEX';

//labels
@import 'components/labels/_INDEX';

//navs
@import 'components/navs/_INDEX';

//notes
@import 'components/notes/_INDEX';

//overlays
@import 'components/overlays/_INDEX';

//panels
@import 'components/panels/_INDEX';

//portlets
@import 'components/portlets/_INDEX';

//progress
@import 'components/progress/_INDEX';

//steps
@import 'components/steps/_INDEX';

//tabbable-line
@import 'components/tabbable-line/_INDEX';