.listaWebservices {
	background: #fff;
	border: 1px solid #d8dce0;
	@include prefix(border-radius, 10px, webkit moz ms o);
	margin-bottom: 10px;

	> li {
		display: block;
		border-bottom: 1px solid #d8dce0;
		position: relative;

		> a {
			display: block;
			color: #0096d0;
			@extend %no-decoration-hover;
			padding: 10px;
			font-size: 14px;
		}

		&.last { @extend %no-border; }
	}
}

.chart, .chart-no-border {
	max-width: 800px;
	margin: 0 auto 30px auto;
	border: 1px solid #c3c3c3;
	padding: 1px;
	background-color: #FFF;
	min-height: 350px;
	display: none;
	clear: both;

    &.loading { background: url(../../imagens/loading.gif) no-repeat center center; }
}

/* barra status geralPushReport */
.barraStatus{
	width: 100%;
	height: 23px;
	background-color: #d5d5d5;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	display: flex;
	box-shadow: 2px 2px 4px #a9a9a9;
}

.barraInner{
	height: 23px;
	width: 20%;
	display: inline-block;
	text-align:center;

    span{
        line-height: 20px;
        color:#FFF;
        font-size: 14px;
    }

    &.margin{ margin-left: 2%; width: 18%; }
    &.enviada{ background-color: #43a047; }
    &.erro{ background-color: #c62828; }
    &.falha{ background: repeating-linear-gradient(45deg, #e53935, #e53935 5px, #c62828 5px, #c62828 10px); }
    &.nEnviada{ background-color: #f9a825; }
    &.nRegistrado{ background-color: #FF6400; }
    &.novo{ background-color: #0277bd; }
    &.agendado{ background-color: #3aa7e8; }
    &.semDevice{ background-color: #f25f3d; }
}

.empty{ color: #b5b5b5; }

/* token input e customSelect novos reports */
.campoPostFiltro {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .12);
	display: block;
	font-size: 14px;
	margin: 0;
	width: 100%;
	background: 0 0;
	text-align: left;
	line-height: 28px;
	position: relative;
    
    > ul{
        &.token-input-list {
            border: none;
            background: transparent;
            padding: 0;
            margin: 0;
            min-height: 28px;
            max-height: 28px;

            > li{
                border: none;

                &.token-input-input-token {
                    background: transparent;
                    padding: 1px 0 1px;
                    margin: 0;

                    > input {
                        border: none;
                        background: transparent;
                        padding: 0;
                        margin: 0;
                    }
                }

                &.token-input-token {
                    padding: 0;
                    margin: 0 3px 0 0;
                    font-size: 15px;
                }
            }
        }
    }

    > .input.datepicker {
        border: none;
        background: transparent;
        font-size: 15px;
        min-height:28px;
        width: 100%;
    }

    > span{
        &.customSelect {
            padding: 1px;
            display: inline-block;
            border: none;
            height: 29px;
        }
    }

	> img{ @extend %hidden; }
}

.errorReport{ @extend %hidden; }

.progress{
	&.audiencia{
        background: #f0f0f0;
        height: 25px;
        cursor:pointer;
        position:relative;

        a { height: 100%; }

		.paginaAtual { margin-top: -14px; }

        .progress-bar {
            background-color: #5C9BD1; position:relative;
            &:after{
                content: attr(data-iteracao);
                position: absolute;
                text-align: center;
                font-size: 16px;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                color: #f0f0f0;
            }
        }
	}
}

.badge-report {
	position: absolute;
	color: #fff;
	top: 1px;
	font-weight: 400;
	padding: 3px 5px;

	&.badge-default{ background-color: #bfcad1; }
	&.badge-blue{ background-color: #0096d0; }
}

.icon-badge{ font-size: 22px; }

.hideItem {
	display: none !important;
	visibility: hidden !important;
}

/***** DASHBOARD EXPORTACAO *****/
.square, .square.small {
	background: #fff none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	min-height: 240px;
	margin: 0 auto 20px;
	text-align: center;
	width: 95%;
	position: relative;
	overflow: hidden;
}

.square{
	&.small { min-height: 242px; }

	&.holdSquare {
		background: none;
		height: 50px;
		box-shadow: none;
		border-radius: 0;
		text-align: left;
		min-height: 35px !important;
	}

	a { text-decoration: none; outline: none; }
}

.squareInside {
	@include prefix(border-radius, 5px 5px 0 0, webkit moz ms o);
	min-height: 180px;
	height: auto;
	width: 100%;
	position: relative;

	.centraliza {
		left: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;

		img {
			left: 0;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			max-width: 100%;
			margin: auto;
			max-height: 100%;
		}
	}
}

h4.rels {
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding: 12px 0;
	@extend %no-decoration-hover;
	color: #5f5f5f;
	display: inline-block;

	&.has-small{ padding:12px 0 0; }
}

.export{
	.square { min-height: 180.25px; }
	.squareInside { min-height: 128px; }
	.exportsIcon { top: 65px; }
}

.exportsIcon { font-size: 40px !important; color: #05c3f5; top: 75px; position: relative; }

.exportar {
	height: 22px;
	display: inline-block;
	width: 124px;
	text-align: left;

	&.right { margin-left: 15%; text-align: left; }
}

.ultimaImportacao {
	color: #808080;
	font-size: 14px;
	line-height: 22px;

	.tableUpload>tbody>tr>td { text-align: center; font-size: 16px; }
}

.graficos {
	width: 100%;
	max-width: 500px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 10px;
	border: none;
	background: transparent;
}

.postInfo{
    color: #888;

	.icoGroup, .icoTag{ margin: 5px 10px 0 0; } 
    
    label{ color: #888; }

	.notifyText{
		span { color: #337ab7; }
	}

    ul.token-input-list {
        background: transparent;
        border: none;
        display: inline;

        li.token-input-token {
            background: #fff;
            border: 1px solid #e1e1e1;
            margin: 2px;
        }
    }
}

.pushUser{
	.fa-mobile { font-size: 23px; }
	div{ display: inline-block; width: 20%; min-width: 30px; }
}

.deviceCount{
	span{
		display: inline-block;
		font-size: 9px;
		border-radius: 10px;
		text-align: center;
		height: 15px;
		line-height: 15px;
		min-width: 15px;
		right: 5%;
		color: #fff;
	}

	.ativo{ background: #22B536; }
	.inativo{ background: #e44c34; }
}

.fa-mobile{
	&.dev-ativo{ color: #333; }
	&.dev-inativo{ color: #bbb; }
}

.centralizaInput {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0 auto;
	min-height: 30px;
	height: auto;
	max-width: 320px;
	width: 100%;

	&.relative{ position: relative; }
}

.minWidth90 tr>th { min-width: 90px; }

.linksImgRelatorios{ @extend %no-hover-decoration; }