/* menu styles */
#jsddm {	margin: 0; padding: 0; }

#jsddm li {
	float: left;
	list-style: none;
	height: 29px;
	vertical-align: middle;
	border-right: 1px solid #555;	
}

#jsddm li a {	
	display:block;
	padding: 7px 8px 0px 8px;
	height: 22px;
	width:80px;
	text-decoration: none;
	color: #FFF;
	white-space: nowrap;
	text-align: center;
}

#jsddm li a:hover {
	background-image: url(../images/layout/bt_bg.png);
	color:#FFCC00;
}
		
#jsddm li ul {
	display:block;
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: none;
	border-collapse: collapse;
	background: #071441;
}

#jsddm li ul li {
	float: none;
	border: 1px solid #cccccc;
	border-top:none;
	width:200px;
}

#jsddm li ul li a {
	width: auto;
	text-align:left;
	background: #071441;
	color: #fff;
}	

#jsddm li ul li a:hover {	color: #FFCC00; }