* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.bubble-container {
    width: 100%;
    height: 250px;
    position: relative;
    margin-top:10%;
}

.window {
    background: url("../img/group-15.png") no-repeat;
    width: 135px;
    height: 119px;
    float: left;
    position: absolute;
    bottom: 20px;
}

.bubble {
    width: 100px;
    height: 104px;
    font-size: 64px;
    text-align: left;
    color: #ffffff;
    padding: 38px;
    float: left;
    position: absolute;
    left: 140px;

}

.bubble.not-found {
    background: url("../img/bubble-orange.png") no-repeat;
    background-size: 100%;
}

.bubble.internal-error {
    background: url("../img/bubble-blue.png") no-repeat;
    background-size: 100%;
}

.text-error {
    margin-top: 40px;
    width: 100%;
    font-size: 64px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
    text-transform: uppercase;
}


.subtext-error {
    margin-top: 40px;
    width: 100%;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #325480;
}

.return {
    margin-top: 40px;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ec7404;
  border: solid 4px #ec7404;
  border-radius: 30px;
  padding: 10px;
  padding-left: 60px;
  width: 40%;
  text-align: center;
}

.return a {
    color: #ec7404;
    text-decoration: none;
}

.clear {
    clear: both
}
