html, body,.page-wrap {
	background: #FFFFFF url(../img/bk_body.png) repeat-y center top;
}
.page-wrap.noBG{
	background:#FFFFFF;
}
.page-wrap.noBG .middleContent{
	border-color: transparent;
}
#logo a{
	background:url(../img/ambev_logo.png) no-repeat;
}
.fotoPerfilUsuario{
	border-bottom-color:#1f4585;
}
.boxLogin input[type=submit]{
    background: #1f4585;
}

.progress .bar{
	background:#1f4585;
}
#header, #menuEsquerda > ul > li.on > a, #menuEsquerda > div > ul > li.on > a{
	background:#1f4585;
}
#menuEsquerda > ul > li.on > a, #menuEsquerda > div > ul > li.on > a, .badgeNotificacao{
	border-color: #1f4585;
}
.progress{
	border:1px solid #1f4585;
}
.campo.grande input[type=text], .campo.grande input[type=password]{
	color:#1f4585;
	background-color:#dee6f7 !important;/*daniel*/
}
.campo.medio input[type=text],.campo.medio input[type=password] {
	background-color:#dee6f7 !important;/*daniel*/
	color:#9F9F9F !important;/*daniel*/
}
.campo.grande input[type=text], .campo.grande input[type=password]{
	color:#1f4585;
}
.campo.medioVerde input[type=text], .campo.medioVerde input[type=password]{
	color:#1f4585;
}
.botaoFundo{
    background: #1f4585;
}
.linkSitePost a{
	color:#1f4585;
}
.enviarComentario{
	color: #1f4585;
}
.btPostarComunicado{
	color: #1f4585; /* #01b3ca; */
}
.liveurl .button:active {
	border-color: #1f4585;
}
.liveurl .button:active.prev:before {
	border-right: 5px solid #1f4585;
}
.liveurl .button:active.next:before {
	border-left: 5px solid #1f4585;
}
.file-wrapper .button {
    background: #1f4585;
}
.listaMensagens li.naoLida{
	border-left-color:#1f4585;
}
.listaConversa li.naoLida{
	border-left-color: 2px solid #1f4585;
}
.enviarComentarioEditado{
	color: #1f4585;
}
.listaFiles > li.hover{
	border-color:#1f4585;
}
.listaFiles .dropZone.hover{
	border: 1px solid #1f4585;
}
#popup_title {
	background:#1f4585;
}
#popup_ok:hover {
	background-color:#E1E1E1;
	color:#019FB6;
}
#popup_cancel:hover {
	color:#019FB6 !important;
}
#popup_ok, #popup_cancel, .boxLogin label, .listaCadastro > li > a, .listaCadastro.semLink > li, .perfilUsuario .nomeUsuario,.perfilUsuario .nomeUsuario a, .nomeUsuarioGrande, .listaUsuarios .nomeUsuarioLista, h2, .titulo, .postarComunicado .mascaraLabel, .postarComunicado .campo .labelEsq, .titulo.breadcrumbs .linkBreadcrumbs, .listaMural .postadoPor .nome, .textoComentario .nomeComentario, .textComentario .nomeComentario, .postarComunicado .campo .labelEsq, .listaConversa .textoConversa .nomeComentario, .filtroFiltrar, .textComentario .mascaraLabel, .interacoesPost .likeCount, .filtroPosts .abreFiltros .inputFiltro, label.cinza.descricao span, .bgDetalheUsuario .campo.medio{
	color:#1f4585!important;
}
.listaCadastro > li:hover > a, .listaCadastro.semLink > li:hover {
	color: #FFFFFF !important;
}
/*Lista Mensagens*/
.listaMensagens .msgNomes, .listaMensagens .msgNomes span{
	color:#1f4585 !important;
}
.listaMensagens li:hover .msgNomes span, .listaMensagens li:hover .msgLink span , .listaMensagens li:hover .msgConteudo{
	color:#FFFFFF !important;
}

.listaMensagens .msgTexto {
	width: 335px !important;
}
.listaMensagens .msgLink {
	width: 564px !important;
	margin-left:8px;
}
/*fim lista mensagens*/
.icone.ico-fileThumbExt{
	border:1px solid #1f4585;
}
.busca{
	background:#626ea6;	
	margin-left: 55px;
}
.busca .mascaraLabel{
	color: #FFFFFF!important;
}
.lista > li:hover{
	background-color:#1f4585 !important;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item , .ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active, .paiComunicado, .interacoesPost .likeCount, .selectFake ul li a:hover, .selectFake ul li a.ativo, .selectFake.modeloBranco ul li a:hover, .selectFake.modeloBranco ul li a.ativo{
	background: #dee6f7 !important;
}
.lista.listaMensagens > li:hover{
	background:#1f4585 !important; /* #01B3CA !important; */
}
.lista.listaMensagens > li:hover .ico-anexoMensagem {
	background-position: -68px -126px;
}
.bgDetalheUsuario, .tipoPermissao.ativo{
	background: #dee6f7 !important;
}
.interacoesPost .ico-like{
	color:#dee6f7!important;
}
.listaMural .infoPost .dataPost{
	color:#97bcc1!important;
}
.btCancelarPostagem{
	color:#6F6F6F !important;
}
.listaMural > li:hover, .listaConversa > li:hover{
	background: #FFFFFF!important;
}
.icone, .configItem > ul:after, .alturaMensagem .comVideo:after, .fakeCheck .icone.ativo, .liveurl .image.comvideo a:after{
	background-image: url(../img/icones_invictusbook.png)!important;/* icones_invictusbook url(../img/icones_invictus.png) */
}
.badgeNotificacao, .abreNotificacoes .qtdNotificacoes, .abreNotificacoes .qtdNotificacoes *, .verMaisPost, .linkFancyFotos{
	color:#5cba47;
}
.abreNotificacoes .bordaNotificacoes{
	border-left:8px solid #5cba47;
}
.boxLogin input[type=submit]{
	font-family: 'robotolight';
	font-weight:bold;
	font-size:14px;
	box-shadow: none;
	padding:8px 20px;
	float: none;
	margin-left:135px;
}
.boxLogin input[type=submit]:hover{
	box-shadow: none;
	padding:8px 20px;
	background: #4254ab;
}
.boxLogin input[type=submit]:active{
	background:#263168;
	box-shadow: none;
	padding:8px 20px;
}
.botaoFundo{
	box-shadow: none;
	padding:5px 10px;
}
.botaoFundo:hover{
	box-shadow: none;
	padding:5px 10px;
	background: #4254ab;
}
.botaoFundo:active{
	background:#263168;
	padding:5px 10px;
	box-shadow: none;
}
.file-wrapper .button {
	box-shadow: none;
	padding:5px 10px;
}
.file-wrapper .button:hover{
	box-shadow: none;
	padding:5px 10px;
	background: #4254ab;
}
.file-wrapper .button:active{
	background:#263168;
	padding:5px 10px;
	box-shadow: none;
}
.botao.btSalvar, .botao.btSalvarConvidar, .botao.btnEnviarMensagem{
	background-color:#1f4585; /* #039eb2; */
}
.botao.btSalvar:hover, .botao.btSalvarConvidar:hover{
	background: #4254ab;
}
.botao.btSalvar:active, .botao.btSalvarConvidar:active{
	background: #263168;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../img/fancybox_sprite_invictus.png')!important;
}
/*custon select*/
select{
	height:33px!important;
}
span.customSelect {
	/*background-image:url(../img/bg_select_invictus.png)!important;*/
	background-image:url(../img/bg_select_cinza.png)!important;
} 

/*daniel*/
.label.verde.secao strong {
	color:#1f4585 !important;
	font-weight:bold;
}
.label.verde{
	color:#1f4585 !important;
	font-weight:bold;
}
.label.verde strong{
	color:#1f4585 !important;
	font-weight:bold;
}
.label.verde.secao.space.grupos{
	margin-bottom:4px !important;
}
.bgCinzaIcone span{
	color:#7F7F7F !important;
}
.listaUsuarios .nomeUsuarioLista a{
	color: #5F5F5F !important;
}
.listaUsuarios li:hover .nomeUsuarioLista  a, .listaUsuarios li:hover .nomeUsuarioLista{
	color: #FFFFFF !important;
}
.listaUsuarios li:hover .cargoUsuarioLista, .listaUsuarios li:hover .complementoUsuarioLista{
	color:#CECECE !important; /* #1f4585 !important; */
}
.abasDetalhe ul li a {
	color: #5F5F5F !important;
}
.abasDetalhe ul li a:hover {
	background: #FFFFFF !important;
	color: #5F5F5F !important;
}
.abasDetalhe ul li a.selecionado {
	background: #FFFFFF !important;
	color: #5F5F5F !important;
}
.ico-escrever.mensagem.on, .listaUsuarios li:hover .ico-escrever.mensagem {
	background-position: -68px -180px;
}
.label.verde.secao span {;
	color:#5F5F5F !important;
}
.ico-config{
	background-position: -18px -198px !important;
}
.ico-config-branco {
	background-position: -18px -198px !important;
}
.ico-config-branco.on, .lista li:hover .ico-config-branco {
	background-position: -18px -198px !important;
}
.ico-config-verde{
	background-position: -50px -90px !important;
}
.ico-config-verde.on, .lista li:hover .ico-config-verde {
	background-position: -50px -90px !important; /* -18px -198px !important; */
}
.ico-config-verde.on, .lista li:hover .ico-config-verde {
	background-position: -50px -90px !important; /* -18px -198px !important; */
}
.lista.listaMensagens > li:hover .ico-config-verde {
	background-position: -18px -216px !important;
}
.listaCadastro li:hover .ico-config-verde{
	background-position: -18px -216px !important;
}
.ico-config-post, .listaMural .barraCinza .configItem:hover > a {
    background-position: 0 -162px;
}
.campoObrigatorio{
	color:#7F7F7F !important;
}
.bgDetalheUsuario .campo.medio {
	color: #9F9F9F !important;
}
.listaCadastro >li:hover {
	background:#1f4585 !important;
}

.listaUsuarios li:hover .ico-home {
	background-position: 0 -54px !important;
}

/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green, .iradio_square-green {
    background-image: url(../img/green_invictusbook.png);
}

.ajax-file-upload{
	background-image: url(../img/icones_invictusbook.png);
}

.ac_loading,.ui-autocomplete-loading {
	background-image: url(../img/indicator.gif)!important;
	background-position: right center!important;
	background-repeat:no-repeat!important;
	background-color: #FFFFFF;
}
.botao.ativo, .uploadArq, .listaMensagens li.naoLida .msgTitulo{
	color:#1f4585 !important;
}
.uploadModal span, .muralArquivos li .infoArquivo .nomeUsuario a{
	color:#1f4585;
}
.pagination a.selecionado{
	background:#1f4585;	
}
.listaMensagens .msgData span{
	color:#B2B2B2;
}
.bodyBranco{
	background:#FFFFFF url(../img/bk_body.png) repeat-y center top;
}