/*
azul  		- #314086
azul escuro - #27336b
verde 		- #5cba47
 */
#logo{
	padding-left:30px;
	width: 182px;
	height:33px;
}
#logo a{
	background:url(../img/logo_invictusbook.png) no-repeat;
	width: 182px;
	height:33px;
}
#header #logo{
	padding-top:15px;
}
.fotoUsuario{
	border-color:#5cba47;
}
.fundoBusca .mascaraLabel{
	color:#989fc2!important;
}
/*****************************************************************
BACKGROUND AZUL
*****************************************************************/
#header, .bkLogoLogin, #popup_title, #chatsAtivos .headerChat p:hover, .configChat:hover, .fecharChat:hover, #chatsAtivos .janelaChat.blinkChat .headerChat{
	background-color:#314086;
}


/*****************************************************************
BACKGROUND AZUL ESCURO
*****************************************************************/
.iconeChat:hover, .iconeChat.ativo, .fundoBusca input, .fundoNotificacao.ativo:hover, #chatsAtivos .headerChat, .iconeChat:hover, .iconeChat.ativo{
	background-color:#27336b;
}


/*****************************************************************
TEXT COLOR
*****************************************************************/
.listaMural > li .chapeuPost, .anexos li .nomeAnexo .adicionarDescricao, .ajax-file-upload-filename a, .listaMural > li > .nomeGrupo > .nomeUsuario, .verMaisPost, .listaComentarios .nomeUsuario, .labelPost, .linkFancyFotos, .nomeUsuarioLista, h3, .campoObrigatorio, .nomeConversa, .nomeHolder > p, #table tbody td > a,.tabelaPequena td > a, #form-fields legend, .infoArquivo .nomeUsuario, .errorPage h2, .listaWebservices > li > a{
	color:#314086;
}


/*****************************************************************
ICONES
*****************************************************************/
.icones, .ico-setaBaixoCinza, .ico-setaCimaCinza, .ajax-file-upload-statusbar-erro:after, .ajax-file-upload-red, .ajax-file-upload-green, .comentario .ajax-file-upload, .responder .ajax-file-upload, .icheckbox_square-green, .iradio_square-green, .menuEsquerda > a.ativo:after, .popMenu:after, .popMenu.top:after, .popMenu.right:after, .popMenu.left:after, .liveurl .image.comvideo a:after, .fotoUsuario .file-wrapper .button:after, #table thead th.sortable > a:after, #table thead th.ascending > a:after, #table thead th.descending > a:after, .conversaChat > ul > li:after{
	background-image:url(../imagens/icones_invictusbook.png);
}
.ajax-file-upload-abort{
	background: url(../imagens/loading.gif) no-repeat right center;
}

/*****************************************************************
BOTOES
*****************************************************************/
.botao, #popup_ok, #popup_cancel{
	background-color: #5cba47;
	border:1px solid #5cba47;
}
.botao:hover, #popup_ok:hover, .botao.is-checked, .botao.ativo{
	background-color: #6dc15a;
}
.botao.branco, #popup_cancel{
	background: #f5f5f5;
	border:1px solid #d8dce0;
}
.botao.branco:hover, #popup_cancel:hover, .botao.branco.is-checked, .botao.branco.ativo{
	background: #fcfcfc;
}
.status.ativo{
	background-color: #5cba47;
}

/*****************************************************************
MEDIA SCREEN
*****************************************************************/
@media screen and (max-width: 1191px) {
	#header #logo a:after{
		top:10px;
    }
}






