.themeWordPress{
	margin-bottom:5px;
	padding: 0 10px 10px 10px;
}
.themeWordPress * {
    max-width: 100%;
    font-size:14px;
    color: #808080;
}
.themeWordPress p, .themeWordPress dl{
	margin: 0 0 1em 0;
    text-align: left;
}
.themeWordPress ul, .themeWordPress li{
    list-style-type: disc;
}
.themeWordPress li{
	margin-bottom:0.8em; 
}
.themeWordPress ul, .themeWordPress ol{
    margin: 0 0 1em 2.8em;
}
.themeWordPress ol{
	list-style-type:decimal;
}
.themeWordPress ul, .themeWordPress ol, .themeWordPress p, .themeWordPress dl {
    line-height: 20px;
}
.themeWordPress blockquote {
    border-left: 2px solid #D2D6D8;
    margin: 0 0 0 3.2em;
    padding: 0 0 0 1.6em;
    font: italic normal 1em georgia, 'times new roman', serif;
    color: #888;
}
.themeWordPress pre, .themeWordPress var, .themeWordPress code {
    font-family: "Courier New",Courier,monospace;
    color:#333;
}
.themeWordPress pre{
    border: 1px solid #D2D6D8;
    background-color:#fafafa;
    border-radius:4px;
    margin-bottom: 1.2em;
    padding: 1.2em;
    /* overflow-x: auto; */
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.themeWordPress strong{
	font-weight: bold; 
}
.themeWordPress em{
	font-style: italic;
}
.themeWordPress ins{
	text-decoration:none;
}
.themeWordPress del{
	text-decoration:line-through;
}
.themeWordPress img{
	border:0;
	outline:0;
    height: auto;
}
.themeWordPress a:link, .themeWordPress a:visited, .themeWordPress a:hover, .themeWordPress a:active{
    color:#3b506b;
    border-bottom: #3b506b;
}
.themeWordPress .aligncenter, .themeWordPress div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.themeWordPress .alignleft {
   float: left;
   margin:0 1em 1em 0;
}
.themeWordPress .alignright {
   float: right;
   margin:0 0 1em 1em;
}
.themeWordPress .wp-caption {
   border: 1px solid #ccc;
   text-align: center;
   padding: 4px;
   margin-bottom: 1em;
}
.themeWordPress .wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}
.themeWordPress .wp-caption p.wp-caption-text {
   font-size: .92em;
   color: #444;
   line-height:1.4;
   margin: 0;
}

