label {
    font-weight: 400;

    &.form-group{ display: block; }
}

.label {
    text-shadow: none!important;
    font-size: 85%;
    font-weight: 600;
    padding: .2em .6em .3em;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    @extend %inline;
    line-height: 1;
    @extend %text-center;
    white-space: nowrap;
    vertical-align: baseline;
    @include prefix(border-radius, .25em, webkit moz ms o);
    &.label-sm { font-size: 13px; padding: 2px 5px; }
    &:empty{ @extend %hidden; }
}

.label-default[href]{
    background-color: #777;
    &:focus, &:hover { background-color: #5e5e5e; }
}

.label-primary {
    background-color: #337ab7;
    &[href]{
        &:focus, &:hover{ background-color: #286090; }
    }
}

.label-success {
    background-color: #5cb85c;
    &[href]{
        &:focus, &:hover{ background-color: #449d44; }
    }
}

.label-info {
    background-color: #5bc0de;
    &[href]{
        &:focus, &:hover{ background-color: #31b0d5; }
    }
}

.label-warning {
    background-color: #f0ad4e;
    &[href]{
        &:focus, &:hover{ background-color: #ec971f; }
    }
}

.label-danger {
    background-color: #d9534f;
    &[href]{
        &:focus, &:hover{ background-color: #c9302c; }
    }
}

a.label:hover, a.label:focus { color: #fff; text-decoration: none; cursor: pointer; }


.labelCampo{
    font-size: 14px;
	color: #333;
	padding-bottom: 0;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 600;
	margin-bottom: 5px;
    
    &.aligncenter { @extend %text-center; margin-bottom: 10px; }
    &.left { @extend %float-left; }
}