*{
	font-family:Arial, Helvetica, sans-serif;
	color:#231f20;
}
html, body{
	background:#FFF;
}
html, body#bodyLogin, #pageLogin {
	height: 100%;
	position:relative;
}
body > #pageLogin {
	height: auto!important;
	min-height: 100%;
	overflow:hidden;
	position:relative;;
}
.largura{
	margin:0 auto;
	position:relative;
}
#page {
	position:absolute; z-index:1;
	top:48px; bottom:218px; left:0;
	width:100%;
	overflow:auto;
}
#page.pageLogin{
	top:0;
}
#page.interna {
	bottom:70px;
}
#page.pedido{
	bottom:135px;
}
#page.pageNovoPedido, #page.pagePesquisa{
	bottom:0;
}
#page.pageMapa{
	top:74px;
	bottom:0;
}
#content {
	padding-bottom: 218px;
}
#footerLogin {
	background:url(../imagens/cervejas.jpg);
	height:218px;
	margin-top: -218px;
	position:relative;
}
#footer {
	position:absolute; 
	z-index:2;
	bottom:0; 
	left:0;
	width:100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#footer.footerLogin{
	position:relative;
	bottom:auto;
}
#footer.footerInterna {
	background:#1f4584;
	height:70px;
	padding:0 15px;
}
#footer.footerPedido {
	background:#D7EAEF;
	height:135px;
	padding:0 15px;
}
#logoLogin{
	background:url(../imagens/logo.png) no-repeat;
	width:200px;
	height:84px;
	margin:0 auto 40px auto;
}
.formLogin{
	padding:20px;
}
.formLogin .campoLogin{
	position:relative;
	overflow:hidden;
	padding-bottom:20px;
}
.formLogin .campoLogin label{
	float:left;
	font-size:14px;
	color:#848484;
	line-height:38px;
	width:20%;
	padding-right:4%;
	text-align:right;
	display:block;
	white-space:nowrap;
}
.formLogin .campoLogin input[type='text'], .formLogin .campoLogin input[type='password']{
	float:left;
	width:74%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background:#f2fdff;
	border:1px solid #bfbfbf;
	font-size:14px;
	padding: 10px 6px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.formLogin .esqueceuSenha{
	font-size:12px;
	text-decoration:none;
	color:#848484;
	display:block;
	float:right;
	margin-bottom:20px;
}
.formLogin #entrar, .formLogin #enviaSenha{
	width:100%;
	text-align:center;
	clear:both;
	background:#014a96;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color:#FFFFFF;
	text-decoration:none;
	border:none;
	font-size:14px;
	padding:15px 0;
	cursor:pointer;
}
#header{
	background:#1f4584;
	height:48px;
	text-align:center;
	position:absolute; 
	z-index:2;
	top:0; left:0;
	width:100%;
}
#logoInterna{
	float:left;
	padding-left:15px;
	width:106px;
	height:30px;
	padding-top:8px;
}
#logoInterna a{
	display:block;
	background:url(../imagens/logo_interna.png) no-repeat;
	width:106px;
	height:30px;
	text-indent:-9999px;
}
.novoPedido{
	display:block;
	float:right;
	background:url(../imagens/bullet_plus.png) #d7eaf0 no-repeat 4px center;
	padding-left:22px;
	color:#1f4584;
	font-size:12px;
	line-height:12px;
	width:40px;
	margin-top:7px;
	text-decoration:none;
	margin-right:15px;
	text-align:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	padding:5px 5px 5px 27px;
}
h2.titulo{
	color:#324a68;
	padding:10px 0;
	text-align:center;
	font-size:16px;
	font-weight:bold;
}
h2.titulo2{
	color:#324a68;
	padding:10px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
}
h2.tituloPergunta{
	color:#324a68;
	padding:10px 0;
	font-size:16px;
	font-weight:bold;
}
#header h2{
	font-size:16px;
	text-align:center;
	display:inline-block;
	color:#FFFFFF;
	line-height:48px;
}
.abas{
	width:100%;
	position:relative;
	overflow:auto;
}
.abas ul{
	padding-right:1px;
	height:48px;
	overflow:hidden;
	float:left;
	width:500px;
}
.abas ul li{
	margin-left:1px;
	float:left;
}
.abas ul li a{
	display:block;
	line-height:43px;
	border-bottom:5px solid #1f4584;
	color:#7f7f7f;
	text-decoration:none;
	font-size:12px;
	padding:0 20px;
}
.abas ul li.todos.selecionado a{
	background:#1f4584;
	color:#FFFFFF;
}
.abas ul li.abertos a{
	border-bottom-color:#e97c03;
}
.abas ul li.abertos.selecionado a{
	background:#e97c03;
	color:#FFFFFF;
}
.abas ul li.agendados a{
	border-bottom-color:#733888;
}
.abas ul li.agendados.selecionado a{
	background:#733888;
	color:#FFFFFF;
}
.abas ul li.entregues a{
	border-bottom-color:#2298a2;
}
.abas ul li.entregues.selecionado a{
	background:#2298a2;
	color:#FFFFFF;
}
.abas ul li.faturados a{
	border-bottom-color:#248d00;
}
.abas ul li.faturados.selecionado a{
	background:#248d00;
	color:#FFFFFF;
}
.botaoSair{
	float:right;
	display:block;
	line-height:43px;
	margin-top:15px;
	color:#FFFFFF;
	text-decoration:none;
	font-size:12px;
}
.footerInterna .textoRodape{
	float:left;
	padding-top:15px;
	width:89%;
}
.footerInterna p{
	color:#b3d7d8;
	font-size:11px;
}
.footerInterna p *{
	color:#b3d7d8;
	font-size:11px;
}
.footerInterna p.nome{
	color:#FFFFFF;
	font-size:11px;
}
.conteudoTabela{
	padding:10px 0;
}
.conteudoPerguntas{
	padding:10px 15px;
}
.tabelaPedidos thead th{
	color:#959595;
	font-weight:bold;
	text-align:center;
	font-size:12px;
	line-height:25px;
	border-bottom:1px solid #7f7f7f;
}
.tabelaPedidos.detalhes thead th{
	text-align:left;
}
.tabelaPedidos tbody td{
	color:#585c61;
	text-align:center;
	font-size:14px;
	border-bottom:1px solid #bfbfbf;
}
.tabelaPedidos tbody tr.nenhumProduto td{
	text-align:center;
}
.tabelaPedidos.detalhes tbody td{
	text-align:left;
	padding:8px 0;
}
.tabelaPedidos tfoot td{
	padding:12px 0;
	border-bottom:1px solid #bfbfbf;
}
.tabelaPedidos.bordaCima{
	margin-bottom:15px;
}
.tabelaPedidos.bordaCima tfoot td{
	border-top:1px solid #bfbfbf;
}
.tabelaPedidos.addProduto tbody tr{
	cursor:pointer;
}
.tabelaPedidos.addProduto tbody tr td .valorTot{
	display:none;
}
.bordaAba{
	height:46px;
	display:block;
	width:4px;
}
.bordaAba.aberto{
	background:#ec7b02;
}
.bordaAba.agendado{
	background:#733888;
}
.bordaAba.entregue{
	background:#2099a4;
}
.bordaAba.faturado{
	background:#248c00;
}
.setaDireita{
	background: url(../imagens/seta_direita.png) no-repeat center center #d7eaef;
	width:37px;
	height:33px;
	display:inline-block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-right:10px;
}
.btVoltar{
	background:url(../imagens/seta_voltar.png) no-repeat center left;
	font-size:12px;
	color:#FFFFFF;
	text-decoration:none;
	display:block;
	float:left;
	padding-left:14px;
	height:32px;
	line-height:32px;
	position:absolute;
	left:15px;
	top:8px;
}
.dataPedido{
	text-align:center;
	background:#dedede;
	font-size:12px;
	font-weight:bold;
	color:#6b6e77;
	height:26px; 
	line-height:26px;
}
.dataPedido *{
	color:#6b6e77;
}
.situacao{
	padding:15px 15px 10px 15px;
	border-bottom:5px solid #1f3b85;
	margin:0 1px;
}
.situacao.entregue{
	border-bottom-color:#2099a4;
}
.situacao.aberto{
	border-bottom-color:#ec7b02;
}
.situacao.agendado{
	border-bottom-color:#733888;
}
.situacao.faturado{
	border-bottom-color:#248D00;
}
.situacao span{
	font-size:14px;
	color:#797979;
}
.situacao span.cor{
	text-transform:capitalize;
}
.situacao.aberto span.cor{
	color:#ec7b02;
}
.situacao.entregue span.cor{
	color:#2099a4;
}
.situacao.agendado span.cor{
	color:#733888;
}
.situacao.faturado span.cor{
	color:#248D00;
}
.nomeProduto{
	color:#324a68;
	font-size:12px;
	padding-bottom:3px;
	font-weight:bolder;
}
.valorUnit, .valorTot{
	font-size:12px;
	display:block;
	float:left;
}
.valorUnit{
	width:90px;
	color:#d68800;
}
.valorTot{
	color:#0b7473;
}
.qtdProduto{
	color:#324a68;
	font-size:20px;
}
.infoPedido{
	padding:5px 15px 0 15px;
}
.infoPedido div{
	overflow:hidden;
	font-size:12px;
	padding:5px 0;
}
.infoPedido div.borda{
	border-bottom:1px solid #bdc8ca;
}
.infoPedido span{
	display:inline-block;
	color:#324a68;
}
.infoPedido span.cinza{
	color: #6d6e72;
	padding-right:15px;
}
.acompanheMapa{
	display:block;
	background:url(../imagens/map_icon.png) no-repeat left center;
	line-height:18px;
	color:#005987;
	font-size:12px;
	padding-left:15px;
	float:right;
	height:18px;
	text-decoration:none;
}
.statusPedido{
	position:relative;
	overflow:hidden;
	clear:both;
	padding-top:10px;
}
.statusPedido ul{
	float:left;
	position:relative;
	left:50%;
}
.statusPedido ul li{
	float:left;
	display:block;
	position:relative;
	right:50%;
	font-size:11px;
	line-height:12px;
	color:#ec7b02;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:8px 5px;
	height:24px
}
.situacao.entregue .statusPedido ul li{
	color:#2099A4;
}
.situacao.agendado .statusPedido ul li{
	color:#733888;
}
.situacao.faturado .statusPedido ul li{
	color:#248D00;
}
.statusPedido ul li.ultima{
	line-height:24px
}
.statusPedido ul li.desativado{
	color:#989898;
}
.statusPedido ul li.ativo{
	color:#FFFFFF;
	background:#ec7b02;
}
.situacao.entregue .statusPedido ul li.ativo{
	color:#FFFFFF;
	background:#2099A4;
}
.situacao.agendado .statusPedido ul li.ativo{
	color:#FFFFFF;
	background:#733888;
}
.situacao.faturado .statusPedido ul li.ativo{
	color:#FFFFFF;
	background:#248D00;
}
.statusPedido ul li.setaStatus{
	font-weight:bold;
	font-size:24px;
	color:#ec7b02;
	line-height:20px;
}
.botao{
	text-align:center;
	clear:both;
	display:block;
	background:#014a96;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color:#FFFFFF;
	text-decoration:none;
	border:none;
	font-size:14px;
	padding:15px 0;
	cursor:pointer;
	margin:0 15px;
}
.botao.adicionar{
	background:#1590a6;
}
.botao.enviar{
	background:#15a678;
}
.textoTotal{
	color:#797979;
	font-size:16px;
}
.valorTotal{
	color: #324A68;
	white-space:nowrap;
	font-size:16px;
}
.rangeQtd{
	width: 120px;
	position:relative;
	overflow:hidden;
	margin:0 auto;
}
.rangeQtd input{
	width:44px;
	border:none;
	background:#FFFFFF;
	color:#324a68;
	float:left;
	font-size:20px;
	text-align:center;
	height:37px;
	line-height:37px;
}
.icone{
	background:#d7eaef;
	width:37px;
	height:33px;
	display:inline-block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float:left;
	text-decoration:none;
	text-align:center;
	color:#076d7f;
	font-size:24px;
	line-height:34px;
}
.icone.menos{
	line-height:30px;
}
.opcoesPedido{
	padding:0 15px 10px 15px;
}
.opcoesPedido table td{
	padding:5px 0;
}
.opcoesPedido label{
	float:left;
	font-size:14px;
	color:#797979;
	padding-right:10px;
}
.opcoesPedido input[type="text"], .opcoesPedido input[type="date"], textarea, .opcoesPedido input[type="password"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:#f1fdff;
    border: 1px solid #8a9ea1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    resize: none;
    width: 100%;
	color:#33465d;
}
.opcoesPedido input.error[type="text"], .opcoesPedido input.error[type="date"], textarea.error, .opcoesPedido input.error[type="password"] {
    background-color: #FFD8D8;
    border-color: #FF575D;
}
/*custon select*/
select{
	height:36px!important;
	width:100%;
}
select option{
	color:#33465d;
}
select option[disabled]{
	color:#d4d8de!important;
}
span.customSelect {
    border: 1px solid #8a9ea1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0 26px 0 10px;
	font-size:14px;
	line-height:17px;
	resize:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:url(../imagens/seta_select.png) #f1fdff no-repeat center right;
}
span.customSelect.error {
    background-color: #FFD8D8;
    border-color: #FF575D;
}
span.customSelect.customSelectDisabled{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
 }
.customSelectInner {
	color:#33465d;
	padding:10px 0;
	white-space:nowrap;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
/*****/
.buscaProdutos{
	padding:10px 15px 0 15px;
}
.buscaProdutos input{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:url(../imagens/lupa.png) 10px center #FFFFFF no-repeat;
    border: 1px solid #8a9ea1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    font-size: 14px;
    padding: 10px 10px 10px 40px;
    resize: none;
    width: 100%;
	color:#33465d;
}
.overlay{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position:fixed;
	left:0;
	top:0;
	z-index:9999;
	background:url(../imagens/overlay.png);
	width:100%;
	height:100%;
	padding:0 15px;
	display:none;
}
.adicionaItem{
	position:relative;
	top:50%;
	background:#FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:15px;
	max-width:250px;
	margin:-85px auto 0 auto;
}
.iconeFechar{
	width:32px;
	height:32px;
	display:block;
	text-decoration:none;
	text-align:center;
	color:#076d7f;
	font-size:17px;
	line-height:32px;
	font-weight:bold;
}
.adicionaItem .iconeFechar{
	position:absolute;
	right:15px;
	top:5px;
}
.adicionaItem .nomeProduto{
	padding-right:40px;
}
.adicionaItem .botao{
	float:left;
	width:48%;
	margin:0;
	clear:none;
}
.botao.remover{
	background:#d4373e;
}
.adicionaItem .botao.remover{
	margin-right:2%;
}
.botao.remover.desativado{
	cursor:default;
	zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.adicionaItem .botao.confirmar{
	margin-left:2%;
	background:#15a678
}
.adicionaItem .unit, .adicionaItem .total{
	float:left;
	width:50%;
	color:#a4a6a7;
	font-size:14px;
	text-align:center;	
	padding:10px 0 15px 0;
}
.adicionaItem .unit span, .adicionaItem .total span{
	color:#a4a6a7;
	font-size:14px;	
}
.adicionaItem .unit p{
	color:#d68800;
	font-size:14px;	
	padding-top:5px;
}
.adicionaItem .total p{
	color:#0b7473;
	font-size:14px;	
	padding-top:5px;
}
.adicionaItem .rangeQtd{
	width:180px;
}
.adicionaItem .rangeQtd input{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #8a9ea1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#33465d;
	margin:0 15px;
	width:74px;
}
#formPedido, #confirmarPedido{
	padding-bottom:15px;
}
.textoOpcao{
	color:#33465d;
	font-size:16px;
}
#loading{
	background:url(../imagens/loading_bg.png);
	position:fixed;
	width:100%;
	height:100%;
	z-index:9999;
}
#loading i{
	background:url(../imagens/loading.gif) no-repeat;
	width:16px;
	height:11px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-5px 0 0 -8px;
}
.conteudoPerguntas ul{
	padding-bottom:20px;
}
.opcoesPergunta label{
	font-size:14px;
	display:block;
	padding:10px;
}
.opcoesPergunta label input{
	margin-right:10px;
}
.umMeio{
	float:left;
	width:49%;
	margin-left:2%;
}
.umMeio.left{
	margin-left:0;
}
.umMeio .botao{
	margin:0;
}
.infoMapa{
	position:absolute;
	top:48px;
	width:100%;
	background:#FFFFFF;
    color: #6B6E77;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    text-align: center;	
}
#mapa{
	height:100%;
	background:#E5E3DF;
}