.casca-android {
	background:url("icones/casca_android.png");
	background-size: 412px 600px;
	width: 412px;
	height: 600px;
	
}

.mdl-layout__container {
    width: 280px;
    height: 600px;
    padding: 55px 0px 0px 10px;
    margin-left: 10px;
}

.rooot-mobile-content {
	height: 400px;
	width: 370px;
	background: url("icones/mural.png");
	background-size: 370px 400px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #000000;
    padding: 16px 20px
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link i {
    margin-right:15px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.active {
    font-weight: bold;
}

.mdl-layout__drawer.is-visible {
    width:320px;
}

.mdl-layout__drawer {
    border-right: none;
}


.mdl-layout-title {
    font-size: 16px;
    font-weight: bold;
}

.mdl-layout__header-row {
    padding: 0 10px 0 50px;
}

.mdl-layout__drawer-button {
    margin: 8px 0px;
}

.root-container-logo {
    height: 130px;
    background: #0096D0;
}

.root-logo-mobile {
    height: 37px;
    width: 150px;
    margin:0 auto;
    margin-top:25px;
    position: relative;
}

.root-container-usuario-mobile .foto-usuario {
    margin-left:20px;
    margin-top:15px;
    float: left;
}

.root-container-usuario-mobile .foto-usuario img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 45px;
    height:45px;
}


.root-container-usuario-mobile .dados-usuario {
    margin-top: 16px;
    color: #fff;
    font-size: 12px;
    float: left;
    margin-left: 20px;
}

.root-container-usuario-mobile .dados-usuario .email {
    color: #b4bbb3;
}



.root-linear-icons {
    background: url(https://livecom.livetouchdev.com.br/imagens/livecom_icons_.png) no-repeat;
    float: left;
    display: block;
    width: 28px;
    height: 28px;
}


.clearfix {
    clear: both;
}

.root-linear-icons.icone-mural {
    width: 24px;
    height: 24px;
}

.root-linear-icons.icone-notification {
    background-position: -185px -169px;
    width: 21px;
    height: 27px;
}

.root-linear-icons.icone-favorito {
    background-position: -47px -98px;
    width: 25px;
    height: 23px

}

.root-linear-icons.icone-dados {
    background-position: -268px 0;
    width: 20px;
    height: 23px;
}

.root-linear-icons.icone-usuarios {
    background-position: -268px 0;
    width: 20px;
    height: 23px;
}

.root-linear-icons.icone-grupos {
    background-position: -217px 0;
    width: 25px;
    height: 23px;
}

.root-linear-icons.icone-chat {
    background-position: -286px -4px;
    width: 26px;
    height: 20px;
}

.root-linear-icons.icone-arquivos {
    background-position: -99px 0;
    width: 20px;
    height: 24px;
}

.root-linear-icons.icone-config {
    background-position: -308px -97px;
    width: 28px;
    height: 23px;
}

.root-linear-icons.icone-sair {
    background-position: -314px 0;
    width: 22px;
    height: 23px;
}



.root-icones-header {
    position: relative;
}

.root-icones {
    background: url("https://livecom.livetouchdev.com.br/imagens/icones.png");
}

.root-icone-busca {
    min-height: 22px;
    min-width: 22px;
}


.root-busca {
    min-height: 32px;
    min-width: 32px;
    background: url("icones/ic_action_search.png");
    background-size: 28px;
    background-repeat: no-repeat;
    display: block;
}

.root-notification {
    min-height: 32px;
    min-width: 32px;
    background: url("icones/badge.png");
    background-size: 28px;
    background-repeat: no-repeat;
    display: block;
}

.root-content-left-icons {
    position: absolute;
    right: 30px;
}