<div class="page-content">
	<h3 class="page-title">Menu Web</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Cadastros</span> <i class="fa fa-angle-right"></i></li>
			<li><span>Menu Web</span></li>
			<li class="pull-right"><i class="fa fa-question-circle font-blue tooltip-livecom cursor-pointer" data-toggle="modal" data-target="#modal-ajuda-menu" title="Ajuda"></i></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-list"></i> Menu Web</span>
					</div>
					<div class="actions">
						<button class="btn sbold btn-primary" id="add" data-toggle="tab"> Add <i class="fa fa-plus"></i></button>
						<div class="btn-group">
	               	<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
	                 	<ul class="dropdown-menu pull-right">
	                  	<li><a class="restaurar-menus"><i class="fa fa-undo"></i> Restaurar menus</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<div class="tab-pane fade in" id="menu">
						<div class="col-md-12">
							<div class="col-md-4">
								<div class="tabs menuEsquerda preview-menu reorder-change-parent">
									<ol class="menu_nested vertical"></ol>
								</div>
								<div class="paginaAtual"></div>
							</div>
							<div class="col-md-8">
								<div class="tab-content fixedHeight">
									<div id="form_menu" class="tab-pane subtab fade">
										<form data-label="" data-ordem="" data-link="" data-icone="" data-pai="" data-permissao="">
											<input type="hidden" value="" name="id" id="id">
											<div class="form-group">
												<label class="control-label labelCampo" for="label">Label:</label>
												<input type="text" name="label" id="label" value="" size="20" class="form-control" placeholder="Label">
											</div>
											<div class="form-group">
												<label class="control-label labelCampo" for="descricao">Descrição:</label>
												<input type="text" name="descricao" id="descricao" value="" size="20" class="form-control" placeholder="Descrição">
											</div>
											<div class="form-group clearfix row">
												<div class="col-md-9">
													<label class="control-label labelCampo" for="link">Link:</label>
													<input type="text" name="link" id="link" value="" size="20" class="form-control" placeholder="Link">
												</div>
												<div class="col-md-3">
													<label class="control-label labelCampo" for="linkExterno">Externo:</label>
													<input type="checkbox" name="linkExterno" id="linkExterno" value="" class="bootstrap" data-on-text="Sim" data-off-text="Não">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label labelCampo left" for="icone">Ícone:</label>
												<i class="fa fa-info-circle pull-right font-blue tooltip-info-cad-menu"></i>
												<input type="text" name="icone" id="icone" value="" size="20" class="form-control" placeholder="sua-classe">
											</div>
											<div class="form-group">
												<label class="control-label labelCampo" for="form_menu_pai">Menu Pai:</label>
												<select id="form_menu_pai"></select>
											</div>
											<div class="clearfix text-right">
												<button type="button" class="btn btn-danger min-width apagar">Deletar</button>
												<button type="submit" class="btn btn-primary min-width" id="salvar">Salvar</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-ajuda-menu" role="dialog" aria-labelledby="modal-ajuda-menu" tabindex="-1">
	<div class="modal-dialog" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-list-alt"></span> Ajuda - Cadastro de Menu
					</h4>
				</div>
				<div class="modal-body clearfix">
					<div class="m-heading-1 border-blue m-bordered">
						<h3>Cadastro de Menu <i class="fa fa-question-circle font-blue pull-right" aria-hidden="true"></i></h3>
						<p>Nessa tela você poderá cadastrar os itens do menu lateral do sistema. Os itens são divididos em <b>Menus Pais</b> e <b>Menus Filhos</b>.</p>
						<p><b>Menus Pais</b> são os grupos de menu, não possuem URL nem ícone.</p>
						<p><b>Menus Filhos</b> são os itens agrupados, que possuem ícone e URL.</p>
						<hr />
						<p>Ao clicar em um item do menu você poderá alterar seu nome, seu ícone e sua URL.</p>
						<p>Você também poderá alterar a ordem desse item através das setas direcionais em cada item.</p>
						<p>Se o item for um <b>Menu Filho</b>, você também poderá alterar seu <b>Menu Pai</b>.</p>
						<p>Para criar um novo item, clique no botão <span class="btn btn-primary sbold">Add <i class="fa fa-plus"></i></span> e cadastre todas as informações necessárias.</p>
					</div>
     	      </div>
			</div>
		</form>
	</div>
</div>
<script>
$(".bootstrap").bootstrapSwitch({
	onColor: 'primary',
	offColor: 'danger'
});

//select menu pai
jsHttp.select2({
	element: "#form_menu_pai",
	url: "$context/rest/v1/menu/find/pai",
	term: "label",
	type: "GET",
	text: "label",
	dropdownParent: "body",
	data: function (search) {
		return {
			label: search.term
		};
	}
});

function manageMenuOrder(obj){
	var newParentID = $(obj.menuParent).attr('data-parent'),
		 oldParentID = $(obj.menu).attr('data-parent'),
		 menuID = $(obj.menu).attr('data-id'),
		 params = {};
	
	params.isReorderChildrenMenu = $(obj.menu).hasClass('menu-item-children') ? true : false;
	reorderMenu(params);
}

function reorderMenu(params){
	var menuVO = [];

	if(params.isReorderChildrenMenu){
		$('.preview-menu ol > li.menu-item-children').each(function(idx, elm){
			 menuVO[idx] = {
				id: $(elm).attr('data-id'),
				ordem: idx,
				parent: {
					id: $(elm).attr('data-parent')
				}
			};
		});
	}else{
		$('.preview-menu ol > li.menu-item-parent').each(function(idx, elm){
			menuVO[idx] = {
				id: $(elm).attr('data-id'),
				ordem: idx
			};
		});
	}
	
	httpPost("$context/rest/v1/menu/ordem", menuVO, function(data){
		data = data;
		if(data.status != "ERROR"){
			toastr.success(data.message);
		}else{
			toastr.error(data.message);
		}
	}, function(data){
		toastr.error(data.message);
	});
}

$(document).ready(function(){
	$('.restaurar-menus').click(function(event){
		event.preventDefault();
		event.stopPropagation();
		
		swal({
			type: 'warning',
			title: 'Atenção',
			text: 'Essa ação apagará todos os menus customizados e substituirá pelos menus padrões. Deseja continuar?',
			showCancelButton: true,
			confirmButtonColor: "#D91E18",
			confirmButtonText: "Continuar",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true,
		}).then(function () {
			jQuery.ajax({
				url: '$context/rest/v1/menu/default/empresa/$!session.userInfo.empresaId',
				type: 'GET',
				success: function(resp){
					if(resp.status != 'OK'){
						swal('Ops...', resp.message, 'error');
					}else{
						ajaxGet("$context/rest/v1/menu/empresa/$!session.userInfo.empresaId", null, beforeSendMenu, successMenu);
						swal('Sucesso', resp.message, 'success');
					}
				},
				error: function(resp){
					swal('Ops...', resp.message, 'error');
				}
			});
		});
	});
	
	$('body').on('click', '.reorder-menu-list > i', function(event){
		event.preventDefault();
		event.stopPropagation();
		var i = $(this), wrapper = i.parent('span'), curElm = wrapper.parent('li'), parent = curElm.parent('ol');
		
		if(i.hasClass('move-down')){
			if(curElm.index() + 1 == parent.find('li').length){
				//muda parent
				var parentWrapper = $('body').find('li.menu-item-parent[data-id="'+$(curElm).attr('data-parent')+'"]'),
					 nextParentWrapper = parentWrapper.next('li'),
					 nextElm = nextParentWrapper.find('ol'),
					 nextID = nextElm.attr('data-parent');
				nextElm.prepend(curElm);
				$(curElm).attr('data-parent', nextID);
			}else{
				var nextElm = curElm.next('li');
				nextElm.insertBefore(curElm);
			}
		}else{
			if(curElm.index() >= 1){
				var prevElm = curElm.prev('li');
				prevElm.insertAfter(curElm);
			}else{
				//muda parent
				var parentWrapper = $('body').find('li.menu-item-parent[data-id="'+$(curElm).attr('data-parent')+'"]'),
					 prevParentWrapper = parentWrapper.prev('li'),
					 prevElm = prevParentWrapper.find('ol'),
					 prevID = prevElm.attr('data-parent');
				prevElm.append(curElm);
				$(curElm).attr('data-parent', prevID);
			}
		}
		
		manageMenuOrder({
			menu: curElm,
			menuParent: parent,
		});
	});
	
	$(".tooltip-info-cad-menu").tooltipster({
		contentAsHTML: true,
    	multiple: true,
    	interactive: true,
    	side: 'top',
    	theme: 'tooltipster-livecom min-height',
    	content: "<div class='text-center'><img src='"+urlContext+"/imagens/cad_menu_asset_.png' alt='ícones' />"+
    				"<p>Escolha uma das classes acima.</p>"+
    				"<p>Após escolher, digite 'icone-' + a sua classe.</p>"+
    				"<p>Ex.: 'icone-mural'</p></div>"
	});
	
// 	loadPerfil();
	
	$("#label").keyup(function() {
		var label = $(this).val(); 
		var id = $("#id").val();
		
		if(id) {
			var menu = $(".tabs ul[data-id="+id+"] > li a");
			var icone = $(menu).children();
		} else {
			var menu = $(".tabs ul[data-id=''] > li a");
			var icone = $(menu).children();
		}
		
		if(!jsUtils.isUndefined($(icone)[0])) {
			menu.empty().append($(icone)[0].outerHTML + label);
		} else {
			menu.empty().append(label);
		}
		
	});
	
	$("#icone").keyup(function() {
		var iconeNovo = $(this).val(); 
		var label = $("#label").val();
	
		var id = $("#id").val();
		
		if(id) {
			var menu = $(".tabs ul[data-id="+id+"] > li a");
			var icone = $(menu).children();
		} else {
			var menu = $(".tabs ul[data-id=''] > li a");
			var icone = $(menu).children();
		}
		
		var icon = '<i class="linear-icons '+ iconeNovo +'" aria-hidden="true"></i> ';
		
		if(!jsUtils.isUndefined($(icone)[0])) {
			menu.empty().append(icon + label);
		} 
	});
	
	$("#add").on("click",function(e) {
		$('.tabs').find('li.active').removeClass('active');
		clearForm();
		$('body #menu').find('#form_menu').addClass('in active');
		$('body #menu').find('#form_menu input[type="text"]:first-child').focus();
		
		var ul = $(".tabs ul");
		var menu = createMenuVazio();
		if(typeof ul != undefined) {
			$(ul).first().before(menu);
			$(".tabs ul > li").first().addClass('preview-ativo active');
			$(".tabs ul > li a").first().addClass('ativo');
	    } 	
		validateForm = true;
	});
	
	$("#salvar").on("click",function(e) {
		e.stopPropagation();
		var validator = jsValidator({
			form : 'form',
			rules : {
				label : {
					minlength : 2,
					required : true
				}
			},
			success : function(form) {
				var params = {
					label : $("#label").val(),
					descricao: $('#descricao').val(),
					link : $("#link").val(),
					icone : $("#icone").val(),
					linkExterno: $("#linkExterno").bootstrapSwitch('state'),
					empresa: {
						id: '$!session.userInfo.empresaId'
					}
				}
				
				var parent = $("#form_menu_pai").val();
				if(parent) {
					params.parent = {id : parent};
				}
				params.id = parseInt($("#id").val());
				if (params.id) {
					httpPut("$context/rest/v1/menu", params, success, null, function () {
						$("#salvar").html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
					});
				} else {
					httpPost("$context/rest/v1/menu", params, success, null, function () {
						$("#salvar").html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
					});
				}
			}
		});
	});
	
	$('body').on('click','.apagar',function() {
		var id = $('form #id').val(), menu = $('form #label').val(), form = $("#form_menu form");
		swal({
			title: "Atenção!",
			text: "Você deseja mesmo deletar o menu <b>"+menu+"</b>?",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#D91E18",
			confirmButtonText: "Deletar",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true,
		}).then(function () {
			if (id) {
				httpDelete("$context/rest/v1/menu/" + id, function(data) {
					$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
					if(data.status != "ERROR"){
						swal("Sucesso!", "Menu deletado com sucesso.", "success");
						var menu = $("ul[data-id='"+id+"']");
						menu.remove();
						$('.tabs').find('li.active').removeClass('active');
						$('body').find('#form_menu').removeClass('in');
						
						ajaxGet("$context/rest/v1/menu/empresa/$!session.userInfo.empresaId", null, beforeSendMenu, successMenu);
					}else{
						swal("Ops...", data.message, "warning");
					}
				}, function(data){
					swal("Ops...", data.responseJSON.message, "warning");
				}, function(){
					$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
				});
				
				form.attr("data-label", "");
				form.attr("data-icone", "");
				form.attr("data-ordem", "");
				form.attr("data-link", "");
				form.attr("data-pai", "");
				$("#form_menu_pai").select2("destroy");
				$("#form_menu_pai").select2();
			}
		});
	});

	$('body').on('click',".editarCampo",function(e) {
		$('.tabs').find('li.active').removeClass('active');
		$(".preview-menu li").removeClass("preview-ativo");
		$("body").find(".editarCampo").removeClass("ativo");
		$(this).parent("li").addClass("preview-ativo");
		$(this).addClass("ativo");
		var id = $(this).attr('data-id');
		if (id) {
			ajaxGet("$context/rest/v1/menu/" + id, null,null, success);
			function success(menu) {
				var form = $("#form_menu form");
				$("#id").val(menu.id);
				$("#label").val(menu.label);
				$('#descricao').val(menu.descricao);
				$("#link").val(menu.link);
				$("#icone").val(menu.icone);
				$("#linkExterno").bootstrapSwitch('state', menu.linkExterno);
				if(menu.parent) {
					form.attr("data-pai", menu.parent.id);
					var pai = $("#form_menu_pai").data('select2'); 
					pai.trigger('select', { 
					  data: {id: menu.parent.id, text: menu.parent.label}
					});
				} else {
					$("#form_menu_pai").select2("val", "");
				}
				$("#label").focus();
				
				form.attr('data-descricao', menu.descricao);
				form.attr("data-label", menu.label);
				form.attr("data-icone", menu.icone);
				form.attr("data-ordem", menu.ordem);
				form.attr("data-link", menu.link);
				validateForm = true;
			}
		}
	});

	$('.clearForm').click(function() {
		clearForm();
	});
});

ajaxGet("$context/rest/v1/menu/empresa/$!session.userInfo.empresaId", null, beforeSendMenu, successMenu);


function beforeSend(menus) {
	$(".paginaAtual").show();
}
	

function beforeSendMenu(menus) {
	$(".paginaAtual").show();
	$(".tabs.menuEsquerda ol").empty();
}
	

function successMenu(menus) {
	$(".paginaAtual").hide();
	
	var conteudo = "";
	for ( var i in menus) {
		var campo = menus[i];
		conteudo += createMenu(campo);
	}
	$("#menu .tabs ol").append(conteudo);
	$(".paginaAtual").hide();
}


function createMenu(campo) {
	var tab = "";
	
	tab += '<li class="menu-item-parent" data-id="'+campo.id+'" data-ordem="'+campo.ordem+'">';
		tab += '<a data-toggle="tab" class="editarCampo tabbable" href="#form_menu" data-id="'+campo.id+'" title="'+campo.descricao+'">';
		if(campo.icone){
			tab += '<i class="linear-icons '+campo.icone+'"></i>';
		}
		tab += campo.label + '</a>';
		
		tab += '<ol data-parent="'+campo.id+'">';
			if(campo.filhos){
				for(var i in campo.filhos){
					var filho = campo.filhos[i];
					tab += '<li class="menu-item-children" data-id="'+filho.id+'" data-parent="'+campo.id+'" data-ordem="'+filho.ordem+'">';
						tab += '<a data-toggle="tab" class="editarCampo tabbable" href="#form_menu" data-id="'+filho.id+'" title="'+filho.descricao+'">';
						if(filho.icone){
							tab += '<i class="linear-icons '+filho.icone+'"></i>';
						}
						tab += filho.label + '</a>';
						
						tab += '<span class="reorder-menu-list menu-children">';
							tab += '<i class="fa fa-arrow-up move-up" title="Mover item para cima"></i>';
							tab += '<i class="fa fa-arrow-down move-down" title="Mover item para baixo"></i>';
						tab += '</span>';
					tab += '</li>';
				}
			}
		tab += '</ol>';
		
		tab += '<span class="reorder-menu-list menu-parent">';
			tab += '<i class="fa fa-arrow-up move-up" title="Mover grupo para cima"></i>';
			tab += '<i class="fa fa-arrow-down move-down" title="Mover grupo para baixo"></i>';
		tab += '</span>';
			
	tab += '</li>';
	
	return tab;
}
	
function createMenuVazio() {
	var tab = "";
	var classe = "menu-item-children";
	tab += '<ul data-id="" data-ordem="-1" data-link="" data-label="" data-icone="">';
		tab += '<li class="'+classe+' tabbable cursor-pointer">';
			tab += '<a data-toggle="tab" class="editarCampo tabbable" href="#form_menu" data-id="" aria-expanded="true">';
				tab += '<i class="linear-icons " aria-hidden="true"></i>';
			tab += 'Novo Menu </a>';
		tab += '</li>';
	tab += '</ul>';
	return tab;
}
	

var clearForm = function() {
	$('form')[0].reset();
	$("#id, #label, #descricao, #ordem, #link, #icone").val("");
	$("#form_menu_pai").select2("val", "");
	$("#linkExterno").bootstrapSwitch('state', false);
	$('form').find('.form-group').removeClass('has-error').removeClass('has-success');
	$('#salvar').html('Salvar');
}
	
var success = function(data) {
	$("#salvar").html("Salvar");
	if (data.entity) {
		var a = data.entity;
		var id = a.id;
		var label = a.label;
		var ordem = a.ordem;
		var link = a.link;
		var icone = "<i class='linear-icons " + a.icone + "'></i>";

		toastr.success(data.message);
		var menu = $(".tabs ul[data-id='']");
		menu.attr('data-id', id);
		menu.attr('data-ordem', ordem);
		menu.find('> li a').attr('data-id', id);

		ajaxGet("$context/rest/v1/menu", null, beforeSendMenu, successMenu);

	}else{
		toastr.error(data.message);
	}
};

</script>
#parse("/msg.htm")