<div class="page-content">
	<h3 class="page-title">Permissões</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Outros Cadastros</span> <i class="fa fa-angle-right"></i></li>
			<li><span>Permissões</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-lock"></i> Lista de Permissões</span>
					</div>
					<div class="actions">
						<button data-toggle="modal" data-target="#modalPermissao" class="btn sbold btn-primary"> Add <i class="fa fa-plus"></i></button>
					</div>
				</div>
				<div class="portlet-body clearfix table-responsive">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Código</th>
								<th>Categoria</th>
								<th>Descrição</th>
								<th class="two-buttons">Ações</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPermissao" role="dialog" aria-labelledby="modalPermissao" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-lock"></span> Cadastrar Permissão
					</h4>
				</div>
				<div class="modal-body clearfix">
					<input type="hidden" value="" name="id" id="id">
					<div class="form-group">
						<label class="control-label labelCampo" for="nome">Nome:</label>
						<input type="text" name="nome" id="nome" value="" size="20" class="form-control" placeholder="Nome">
					</div>
					<div class="form-group">
						<label class="control-label labelCampo" for="codigo">Código:</label>
						<input type="text" name="codigo" id="codigo" value="" size="20" class="form-control" placeholder="Código">
					</div>
					<div class="form-group">
						<label class="control-label labelCampo" for="categoria">Categoria:</label>
						<div class="clearfix">
							<select id="categoria" name="categoria_grupo"><option value="">Selecione uma Categoria</option></select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label labelCampo" for="descricao">Descrição:</label>
						<textarea name="descricao" id="descricao" class="form-control" placeholder="Descrição"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default clearForm min-width" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary min-width" id="salvar">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	$(".bootstrap").bootstrapSwitch();

	var dTable = null;

	ajaxGet("$context/rest/v1/permissao", null, beforeSend, success);
	
	function beforeSend(permissoes) {
		$(".paginaAtual").show();
	}
	
	function success(permissoes) {
		$(".paginaAtual").hide();
		var conteudo = "";
		for ( var i in permissoes) {
			var campo = permissoes[i];
			conteudo += createTable(campo);
		}
		$(".table > tbody").append(conteudo);
		dTable = loadTable();
		$(".paginaAtual").hide();
	}

	function confirmationConfig() {
		$('button[aria-describedby*="confirmation"]').confirmation('hide');
		setTimeout(function() {
			$("[data-toggle=confirmation]").confirmation({
				singleton : true,
				container : '.table',
				btnOkClass : 'btn btn-sm btn-success',
				btnCancelClass : 'btn btn-sm btn-danger',
				popout : true,
				btnOkLabel : 'Sim',
				btnCancelLabel : "Não"
			});
		}, 500);
	}

	$('.table').on('page.dt', function() {
		confirmationConfig();
	});

	$('.table').on('order.dt', function() {
		confirmationConfig();
	});

	$('.table').on('search.dt', function() {
		confirmationConfig();
	});

	$('body').on('confirmed.bs.confirmation', '.apagar', function() {
		var id = $(this).attr('data-id');
		if (id) {
			httpDelete("$context/rest/v1/permissao/" + id, function(data) {
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
				if(data.status != "ERROR"){
					dTable.row($('tr[data-id="' + id + '"]')).remove().draw(false);
					toastr.success('<b>Sucesso</b><br>' + data.message);
				}else{
					toastr.error('<b>Atenção</b><br>' + data.message);
				}
			}, null, function(){
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
			});
		}
	});
	
	$('body').on('click', '.editarCampo', function(e) {
		var id = $(this).attr('data-id');
		if (id) {
			clearForm();
			function success(p) {
				$("#id").val(p.id);
				$("#nome").val(p.nome);
				$("#codigo").val(p.codigo);
				if(p.categoria){
					$("#categoria").val(p.categoria.id);
				}
				$("#descricao").val(p.descricao);
				$("#modalPermissao").modal('show');
			}
			ajaxGet("$context/rest/v1/permissao/" + id, null, null, success);
			
		}
	});

	$('.clearForm').click(function() {
		clearForm();
	});

	function createTable(campo) {
		var rTable = "";
		var categoria = campo.categoria ? campo.categoria.nome : '--';
		rTable += '<tr data-id="'+campo.id+'">';
			rTable += "<td>" + campo.nome + "</td>";
			rTable += "<td>" + campo.codigo + "</td>";
			rTable += "<td>" + categoria + "</td>";
			rTable += "<td>" + campo.descricao + "</td>";
			rTable += "<td align='center'>";
			if(!campo.isDefault){
				rTable += '<button class="editarCampo btn btn-outline green-sharp  uppercase" data-id="'+campo.id+'" data-toggle="modal" data-target="#modalPermissao"><i class="fa fa-edit"></i></button>';
					rTable += '<button data-id="'
							+ campo.id
							+ '" class="apagar btn btn-outline red-mint  uppercase" data-toggle="confirmation" data-placement="top" data-original-title="Confirma deletar?" title=""><i class="fa fa-trash"></i></button>';

			} else {
				rTable += '--';
			}
				rTable += "</td>";
			rTable += "</tr>";
		return rTable;
	}
	
	var validator = jsValidator({
		form : 'form',
		rules : {
			nome : {
				minlength : 2,
				required : true
			},
			codigo : {
				minlength : 2,
				required : true
			},
			categoria: {
				required : true
			}
		},
		success : function(form) {
			if($('#categoria').val() != ''){
				var params = {
					nome : $("#nome").val(),
					codigo : $("#codigo").val(),
					categoria : {
						id: parseInt($("#categoria").val()),
						nome: $('#categoria option:selected').text()
					},
					empresa: {
						id: '$!session.userInfo.empresaId'
					},
					descricao : $("#descricao").val()
				}
				params.id = parseInt($("#id").val());
				if (params.id) {
					httpPut("$context/rest/v1/permissao", params, success, function(data) {
						toastr.error(data.message);
					});
				} else {
					httpPost("$context/rest/v1/permissao", params, success, function(data) {
						toastr.error(data.message);
					});
				}
			}else{
				toastr.error('Selecione uma categoria');
			}
		}
	});

	var clearForm = function() {
		$('form')[0].reset();
		$("#id, #nome, #codigo, #descricao").val("");
		$('form').find('.form-group').removeClass('has-error').removeClass('has-success');
		$('#salvar').html('Salvar');
	}
	
	$("#modalPermissao").on("hidden.bs.modal", function () {
		clearForm();
	});
	
	$("#modalPermissao").on("shown.bs.modal", function () {
		$('#nome').focus();
	});

	var success = function(data) {
		$('#salvar').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
		
		if(data.status == "ERROR"){
			toastr.error(data.message);
			$('#salvar').html('Salvar');
			return;
		}
		if (data.entity) {
			var a = data.entity;
			var id = a.id;
			var nome = a.nome;
			var codigo = a.codigo;
			var categoria = a.categoria ? a.categoria.nome : '';
			var descricao = a.descricao;

			var acoes = "";
			acoes += '<button class="editarCampo btn btn-outline green-sharp  uppercase" data-id="'+id+'" data-toggle="modal" data-target="#modalPermissao"><i class="fa fa-edit"></i></button>';
			acoes += '<button data-id="'
					+ id
					+ '" class="apagar btn btn-outline red-mint  uppercase" data-toggle="confirmation" data-placement="top" data-original-title="Deseja deletar?" title=""><i class="fa fa-trash"></i></button>';
			if (dTable != null) {
				dTable.row($('tr[data-id="' + id + '"]')).remove().draw(false);

				var row;

				row = dTable.row.add([ nome, codigo, categoria, descricao, acoes ]).draw().show().draw(false).node();
				$(row).attr('data-id', id);
				toastr.success(data.message);
				clearForm();
				$("#modalPermissao").modal("hide");
			}
		}
	};

	jsHttp.get("$context/rest/permissaoCategoria", {
		success: function(data) {
			if(data && data.length > 0) {
				var conteudo = "";
				data.forEach(function(c) {
					conteudo += '<option value="'+c.id+'">' + c.nome + '</option>';
				});

				$("#categoria option:first").after(conteudo);
				$("#categoria").change();
			} else {
				$("#categoria").empty();
				$("#categoria").append('<option>Nenhuma categoria cadastrada</option>').change();
			}
		}
	});
</script>
#parse("/msg.htm")