.tabbable-line{
    > .tab-content { margin-top: 0; border: 0; border-top: 1px solid #eef1f5; padding: 30px 0; }

    > .nav-tabs{
        @extend %no-border-no-margin;
        
        > li{
            @extend %no-margin;
            > a{
                background: 0 0!important; border: 0; margin: 0; padding-left: 15px; padding-right: 15px; color: #737373;
                > i{ color: #a6a6a6; }
            }

            &.active{
                background: 0 0; border-bottom: 4px solid #337ab7; position: relative;
                > a{
                    border: 0; color: #333;
                    > i{ color: #404040; }
                }
            }

            &.open, &:hover{
                background: 0 0; border-bottom: 4px solid #286090;
                > a{
                    border: 0; background: 0 0!important; color: #333;
                    > i{ color: #a6a6a6; }
                }
            }
        }
    }
}