/*** SPINNERS ***/
.paginaAtual { background: url(../../imagens/loading.gif) #e8edef center center no-repeat; height: 50px; margin: 0 auto; border: 1px solid #d8dce0; width: 92%; }

.spinner-blue{
    background-image: url(../../img/spinner_blue_big.gif);
    background-color: #fff;
    background-size: 120px 120px, cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 350px; text-align: center; margin: 0 auto; width: 100%;

    &.menor{ background-size: 80px 80px, cover; }
    &.bgw{ background-color: #fff; }
}

li.loading.spinner-blue{ height: 250px; }

.spinner {
    display:none; margin: 100px auto; width: 50px; height: 40px; text-align: center; font-size: 10px;

    > div { background-color: #0096D0; height: 70%; width: 6px; display: inline-block; -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out; animation: sk-stretchdelay 1.2s infinite ease-in-out; }
    .rect2 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }
    .rect3 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }
    .rect4 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }
    .rect5 { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.ac_loading, .ui-autocomplete-loading {
	background-image: url(../../imagens/loading.gif) !important;
	background-position: right center !important;
	background-repeat: no-repeat !important;
}

.ac_loading{
    &.absolute{
        position: absolute; top: 6px;

        &.left{ left: 10px; }
        &.right{ right: 10px; }
    }
}