<div class="page-content">
	<h3 class="page-title">
		$messages.get('acesso.funcionais.label') <small> número de acessos por login</small>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('acesso.funcionais.label')</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-users"></i> $messages.get('acesso.funcionais.label')</span>
					</div>
				</div>
				<div class="portlet-body">
					${form.startTag()}
						<div class="clearfix">
							<div class="clearfix quebraLinhaForm">
								<div class="col-md-4">
									<label class="labelCampo">$form.fields.dataInicial.label</label>
									<div class="campoPost">$form.fields.dataInicial</div>
								</div>
								<div class="col-md-4">
									<label class="labelCampo">$form.fields.dataFinal.label</label>
									<div class="campoPost">$form.fields.dataFinal</div>
								</div>
								<div class="col-md-4">
									<label class="labelCampo">$form.fields.expandir.label</label>
									<div class="campoPost">$form.fields.expandir</div>
								</div>
							</div>
								<div class="clearfix botoesSalvar quebraLinhaForm">
								$form.fields.filtrar 
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										$form.fields.exportar
									#end
								#end
							</div>
							
						</div>
					${form.endTag()} #if($expandir.getValue() == "consolidado")
					<hr />
					$tableNaoExpandido #end #if($expandir.getValue() == "expandido")
					<hr />
					$table #end

				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script>
	$(document).ready(function() {
		$("body").find("span.customSelect").addClass("bg");
	});
</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>