<div class="formDados">
	<h3>Application $!application.nome</h3>
	<div class="detalheUser">
		<div class="clearfix">
			<label class="labelCampo">Nome</label>
			<div class="campoPost" id="nome"></div>
			<label class="labelCampo">Descricao</label>
			<div class="campoPost" id="descricao"></div>
			<label class="labelCampo">Website</label>
			<div class="campoPost" id="website"></div>
			<label class="labelCampo">Callback Url</label>
			<div class="campoPost" id="callback"></div>
			<label class="labelCampo">Consumer Key</label>
			<div class="campoPost" id="consumerKey"></div>
			<label class="labelCampo">Consumer Secret</label>
			<div class="campoPost" id="consumerSecret"></div>
		</div>
	</div>
	<div class="clearfix botoesSalvar quebraLinhaForm">
			<br /> <a class="noDecoration" href="application.htm"><input type="button"
				class="botao" value="Novo +" /></a> <a class="noDecoration" href="applications.htm"><input
				type="button" class="botao azul" value="Voltar" /></a>
		</div>
</div>
<script>
	$('document').ready(function() {
		var id = "$!id";
		if(id == "") {
			jAlert("Não foi localizada nenhuma aplicação.", "Atenção", null, function(e) {
				if(e) {
					window.location.href = "$context/admin/applications.htm";
				}
			});
			return;
		}
		
		httpUtils.oauth.get("$context/rest/app/" + id).success(function(response) {
			var app = response.entity;
			$("#nome").text(app.nome);
			$("#descricao").text(app.descricao);
			$("#website").text(app.website);
			$("#callback").text(app.callbackUrl);
			$("#consumerKey").text(app.consumerKey);
			$("#consumerSecret").text(app.consumerSecret);
		}).error(function(response) {
			if(response.status == 404) {
				jAlert("Não foi localizada nenhuma aplicação.", "Atenção", null, function(e) {
					if(e) {
						window.location.href = "$context/admin/applications.htm";
					}
				});
			}
		});
		
	});
</script>

