<div class="formDados">
	<form>
		<h3>Application Register</h3>
		<div class="clearfix">
			<div class="umMeio">
				<label class="labelCampo">Nome</label>
				<div class="campoPost">
					<input type="text" name="nome" id="nome" value="" size="20" style="width:350px;;" class="input" autocomplete="off">
					<br><br><small>Your application name. This is used to attribute the source of a tweet and in user-facing authorization screens. 32 characters max.</small>
				</div>
				<br>
				<label class="labelCampo">Descricao</label>
				<div class="campoPost">
					<input type="text" name="descricao" id="descricao" value="" size="20" style="width:350px;;" class="input" autocomplete="off">
					<br><br><small>Your application description, which will be shown in user-facing authorization screens. Between 10 and 200 characters max.</small>
				</div>
				<br>
				<label class="labelCampo">WebSite</label>
				<div class="campoPost">
					<input type="text" name="website" id="website" value="" size="20" style="width:350px;;" class="input" autocomplete="off">
					<br><br><small>Your application's publicly accessible home page, where users can go to download, make use of, or find out more information about your application. This fully-qualified URL is used in the source attribution for tweets created by your application and will be shown in user-facing authorization screens.
	(If you don't have a URL yet, just put a placeholder here but remember to change it later.)</small>
				</div>
				<br>
				<label class="labelCampo">Callback Url</label>
				<div class="campoPost">
					<input type="text" name="callbackUrl" id="callbackUrl" value="" size="20" style="width:350px;;" class="input" autocomplete="off">
					<br><br><small>Where should we return after successfully authenticating? OAuth 1.0a applications should explicitly specify their oauth_callback URL on the request token step, regardless of the value given here. To restrict your application from using callbacks, leave this field blank.</small>
					<br>
				</div>
				<br>
			</div>
		</div>
		<div class="clearfix botoesSalvar">
			<input type="submit" name="salvar" id="btn_salvar" value="Salvar" class="botao btSalvar">  
			<a class="botao btcancel botaoPadding" href="$context/admin/applications.htm">Cancelar</a>
		</div>
		#if($id)
			<input type="hidden" value="$id" id="id" name="id"/>
		#end
	</form>
</div>
<script type="text/javascript">

	$('document').ready(function() {
		#if($id) 
			var id = "$id";
			httpUtils.oauth.get("$context/rest/app/" + id).success(function(response) {
				var app = response.entity;
				$("#id").val($id);
				$("#nome").val(app.nome);
				$("#descricao").val(app.descricao);
				$("#website").val(app.website);
				$("#callbackUrl").val(app.callbackUrl);
				$("#consumerKey").val(app.consumerKey);
				$("#consumerSecret").val(app.consumerSecret);
			}).error(function(response) {
				if(response.status == 404) {
					jAlert("Não foi localizada nenhuma aplicação.", "Atenção", null, function(e) {
						if(e) {
							window.location.href = "$context/admin/applications.htm";
						}
					});
				}
			});
		#end
		
		$("#btn_salvar").on('click', function(event) {
			event.preventDefault();			
			var data = JSON.stringify(jQuery('form').serializeObject());
			var id = $("#id").val();
			#if($id) 
				httpUtils.oauth.put("$context/rest/app", data)
					.success(function(response) {
						jAlert(response.message, response.status, null, function(r) {
							if(r == true){
								window.location.href=urlContext+"/admin/applications.htm";
					    	}else{
					    		return false;
					    	}
						});
					})
					.error(function( jqXHR,  textStatus, errorThrown) {
						if(jqXHR.status == 400) {
							var messages = jQuery.parseJSON(jqXHR.responseText);
							error = "<ul>";
							for(var i in messages) {
								error += "<li>" + messages[i].message + "</li>";
							}
							error += "</ul>";
							jAlert(error, "Atenção", null);
						} else if(jqXHR.status == 401) {
							jAlert("Desculpe, você não possui autorização para acessar este serviço", "", null);
							return;
						} else {
							jAlert("Desculpe, ocorreu um erro", "Atenção", null);
						}
					});
			#else
				httpUtils.oauth.post("$context/rest/app", data)
				.success(function(response) {
					jAlert(response.message, response.status, null, function(r) {
						if(r == true){
							window.location.href=urlContext+"/admin/applications.htm";
				    	}else{
				    		return false;
				    	}
					});
				})
				.error(function( jqXHR,  textStatus, errorThrown) {
					if(jqXHR.status == 400) {
						var messages = jQuery.parseJSON(jqXHR.responseText);
						error = "<ul>";
						for(var i in messages) {
							error += "<li>" + messages[i].message + "</li>";
						}
						error += "</ul>";
						jAlert(error, "Atenção", null);
					} else if(jqXHR.status == 401) {
						jAlert("Desculpe, você não possui autorização para acessar este serviço", "", null);
						return;
					} else {
						jAlert("Desculpe, ocorreu um erro", "Atenção", null);
					}
				});
			#end
		});
	});
	
</script>
