<link href="$context/css/tree_2.3.0.css" rel="stylesheet" type="text/css" />
<div class="page-content">
	<h3 class="page-title">$messages.get('arquivosEntrada.label')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/importacao.htm?clear=true">Importação</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('arquivosEntrada.label')</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-folder-open-o"></i> $messages.get('arquivosEntrada.label')</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<span class="labelCampo">$messages.get('arquivosDeEntrada.label'): <b class="font-blue">($!entrada)</b></span>
					<br /><br />
					$tree
				</div>
			</div>
		</div>
	</div>
</div>