<script>
$(document).ready(function(){
	if($(".rTableRow.results").length <= 0){
		var conteudo = "";
		if(!$(".rTableRow.error").length > 0){
 			conteudo += "<div class='rTableRow error'></div>";
		}
		$(".rTable").append(conteudo);
	}
	
	$(".apagarCampo").click(function(e){
		var obj = $(this);
		var nomeCampo = $(this).attr("data-nome");
		e.preventDefault();
		jConfirm("$messages.get('remover.canal.label') [" + nomeCampo + "]?", "$messages.get('excluir.canal.label')", "deletar", function(r) {
		    if(r == true){
				location.href= obj.attr("href");
		    }else{
		    	return false;
		    }
		});
		return false;
	});
	$(".editarCampo").click(function(e){
		var obj = $(this);
		var nomeCampo = jQuery.trim($(this).attr("data-nome"));
		var $id = jQuery.trim($(this).attr("data-id"));
		var nomeBotao = $("#form").find("input[type='submit'].btSalvar").attr("name");
		var valorBotao = $("#form").find("input[type='submit'].btSalvar").val();
		e.preventDefault();
		jPrompt('', nomeCampo, "$messages.get('renomear.canal.label') [" + nomeCampo + "]", null, function(nomeNovo) {
		    if( nomeNovo ){
		    	jQuery("#form_id").val($id);
		    	jQuery("#form_nome").val(nomeNovo);
		    	jQuery("#form_salvar").click();
		    }
		});
		return false;
	});
	$(".addItem").click(function(e){
		var obj = $(this);
		e.preventDefault();
		jPrompt("$messages.get('digite.nomeCanal.label')", '', "$messages.get('adicionar.canal.label')", null, function(nomeNovo) {
		    if( nomeNovo ){
		    	jQuery("#form_nome").val(nomeNovo);
		    	jQuery(".btSalvar").click();
		    }
		});
		return false;
	});
});

</script>
<div class="headerPagina clearfix">
<div class="botoesHeader noBorder">
	<a href="#" class="botao info addItem bs-tooltip" title="$messages.get('adicionar.canal.label')"><i class="icones ico-addItem"></i></a>
	${form.endTag()}
</div>
	
<div style="display:none;" class="inputsHeader">
	${form.startTag()}
	<div class="campoPost">
		$form.fields.id
		$form.fields.nome
	</div>
	<div>$form.fields.salvar</div>
	${form.endTag()}
</div>
<h2 class="tituloPagina">$messages.get('canal.label')</h2>
</div>
	<div class="breadcrumb">
	    <a href="$context/admin/configurarCadastro.htm">$messages.get('configurar.cadastro.label')</a>
	    <a class="active" href="">$messages.get('canal.label')</a>
	</div>
<!-- <ul class="listaHorizontal clearfix ">
	#foreach($campo in $canals)
 		<li>
			<div class="clearfix">
				<div class="configItem">
					<i class="icones ico-configLista"></i>
					<div class="popMenu bottom"><ul>
						<li><a href="$context$path?id=${campo.id}" class="editarCampo" data-nome="${campo.nome}" data-id="${campo.id}">$messages.get('editar.canal.label')</a></li>
			 			<li><a href="$context$path?actionLink=deletar&value=$campo.id" data-nome="${campo.nome}" class="apagarCampo">$messages.get('apagar.canal.label')</a></li>
			        </ul></div>
				</div>
				<span class="nomeUsuarioLista">$campo.nome</span>
	 		</div>
 		</li>
	#end
</ul> -->
<div class="rTable">
	<div class='rTableRow header'>
		<div class='rTableHead'>ID</div>
		<div class='rTableHead'>Canal</div>
		<div class='rTableHead'>Código</div>
		<div class='rTableHead'>Detalhes</div>
	</div>
	#set($linha = 0)
		#foreach($campo in $canals)
			#set($classe = "")
			#if($linha % 2 == 0)
				#set($classe = "odd")
			#end
	<div class="rTableRow results $!classe">
		<div class="rTableCell" data-th="ID">$campo.id</div>
		<div class="rTableCell" data-th="Canal">$campo.nome</div>
		<div class="rTableCell" data-th="Canal">$campo.codigoDesc</div>
		<div class="rTableCell" data-th="Detalhes">
			<a href="$context$path?id=${campo.id}" class="editarCampo blue" data-nome="${campo.nome}" data-id="${campo.id}">$messages.get('editar.label')</a>
			<span> | </span>
			<a href="$context$path?actionLink=deletar&value=$campo.id" data-nome="${campo.nome}" class="apagarCampo blue">$messages.get('excluir.label')</a>
		</div>
	</div>
		#set($linha = $linha + 1)
	#end
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>