<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Livecom</title>
	<link href="$context/css/reset.css" rel="stylesheet" media="all">
	<link rel="stylesheet" type="text/css" href="$context/assets/css/bootstrap.min.css?${js_version}">
	<link href="$context/assets/css/livecom.css" rel="stylesheet" type="text/css" />
	#if($favicon)
		<link rel="image_src" href="$favicon">
		<link href="$favicon" rel="shortcut icon">
	#else
		<link rel="image_src" href="$context/img/$web_template_favicon">
		<link href="$context/img/$web_template_favicon" rel="shortcut icon">
	#end
</head>
<body>
	<div class="clearfix text-center page-container">
		<h3 class="page-title">$messages.get('msg.cache')</h3>
		<a class="btn btn-primary min-width" href="$context/pages/mural.htm">Voltar</a>
	</div>
</body>