<div class="page-content">
	<h3 class="page-title">$messages.get('convidar.usuarios.label') - Email</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/usuarios.htm">Usuários</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/pages/convidarUsuarios.htm">Convidar Usuários</a><i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('convidar.usuarios.label') - Email</span></li>
		</ul>
	</div>
	<div class="row content">
		<div class="col-md-12">
			<div class="m-heading-1 border-blue m-bordered">
				<h3>Convidar Usuários - E-mail <i class="fa fa-question-circle font-blue pull-right" aria-hidden="true"></i></h3>
            <p>Insira abaixo o nome e o e-mail dos usuários que deseja convidar e clique em <b>Adicionar</b>.</p>
            <p>Após inserir todos os usuários que deseja, clique em <b>Convidar</b> para confirmar o envio dos e-mails.</p>
			</div>
		
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
               	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; Inserir E-mails</span>
               </div>
				</div>
				<div class="portlet-body">
					<div class="clearfix">
						<div class="col-md-6 col-md-offset-3">
							<form id="form_user" name="form_user" method="post">
								<div class="clearfix campoPost form-group">
									<label class="control-label labelCampo" for="user_name">Nome:</label>
									<input type="text" placeholder="Digite aqui o nome do usuário" class="form-control" name="user_name" id="user_name" autofocus>
								</div>
								<div class="clearfix campoPost form-group">
									<label class="control-label labelCampo" for="user_email">E-mail:</label>
									<input type="text" placeholder="Digite aqui o email do usuário" class="form-control" name="user_email" id="user_email">
								</div>
								<div class="clearfix campoPost form-group token-fix-height post-groups">
									<label class="control-label labelCampo" for="user_grupos">Grupos:</label>
									<input type="hidden" name="grupos_ids" id="grupos_ids" />
									<input type="hidden" name="grupos_text" id="grupos_text" />
									<input type="text" placeholder="Adicione os grupos aqui" class="form-control" name="user_grupos" id="user_grupos">
								</div>
								<div class="clearfix resp-button add-btn form-group">
									<input type="submit" value="Adicionar" class="btn min-width btn-primary sbold add-user">
								</div>
							</form>
						</div>
					</div>
					<div class="clearfix form-group table-responsive">
						<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed table-email">
							<thead>
								<tr>
									<th style="width: 20%;">Nome</th>
									<th style="width: 20%;">E-mail</th>
									<th>Grupos</th>
									<th class="two-buttons">Ações</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					<div class="clearfix text-right btn-fix-padding-top">
						<a class="btn btn-primary min-width disabled convidar" id="convidarUsuariosEmail">Convidar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/modals/modal_convidar_usuario.htm")
<script>
var dTable = null;
$(document).ready(function(){
	consultaTemplate();
	
	dTable = loadTable();
	
	function getGruposURL(){
		return urlContext+"/ws/gruposAutoComplete.htm?mode=json&form_name=form&search_all=1&not_grupo_ids="+$("#grupos_ids").val()+"&user_id="+userId; 
	}
	
	gruposTokenInput({
		element: "#user_grupos",
		url: getGruposURL,
		hintText: "Comece a digitar para buscar.",
		noResultsText: "Nenhum item encontrado",
   	searchingText: "Carregando...",
   	placeholder: "Digite os grupos...",
   	onSend: function(req) {
			req.data.not_grupo_ids = $("#grupos_ids").val();
			req.data.fisico = 1;
		},
		onAdd: function (item) {
			var ids = $("#grupos_ids").val();
			$("#grupos_ids").val(ids+" "+item.id+",");
			
			var names = $("#grupos_text").val();
			$("#grupos_text").val(names+" "+item.nome+",");
			},
		onDelete: function (item) {
	        var ids = $("#grupos_ids").val();
	        ids = ids.replace(item.id+",","");
	        $("#grupos_ids").val(ids);
	        
	        var names = $("#grupos_text").val();
	        names = names.replace(item.nome + ",","");
			$("#grupos_text").val(names);
		},
		resultsFormatter: function(item){
			if(item.urlFotoThumb){
         	var grupoImg = item.urlFotoThumb;
					if(grupoImg){
						if(grupoImg.substr(0,4).indexOf('img/') > -1) {
							grupoImg = urlContext + '/' + grupoImg;
						}
					}else{
						grupoImg = urlContext + "/imagens/bg_grupo_thumb.jpg";
					}
			
         		return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='" + grupoImg + "' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Usuários: " + item.countUsers + "</p></div></li>"	
         	}else{
         		return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='$context/img/grupo.jpg' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Usuários: " + item.countUsers + "</p></div></li>"
         	}
      	}
	});
	
	$('body').on('confirmed.bs.confirmation', '.apagar', function() {
		$('.portlet-body table tbody tr').length > 1 ? null : $('.convidar').addClass('disabled');
		var $tr = $(this).closest('tr');
		dTable.row($tr).remove().draw(false);
	});
	
	var validator = jsValidator({
		form: '#form_user',
		rules: {
			user_name: {
	           minlength: 2,
	           required: true
	       },
	       user_email: {
	           minlength: 2,
	           required: true,
	           email: true,
	       },
	       user_grupos: {
	    	   required: true,
	       }
	    },
	    success: function() {
	    	var $userEmail = $("#user_email");
	    	var $userName = $("#user_name");
	    	var email = $userEmail.val();
			var name = $userName.val();

			if($('.portlet-body table tbody tr[data-email="'+email+'"]').length > 0) {
				toastr.error("E-mail já adicionado a lista.");
				return false;
			}
			
			jsHttp.get(urlContext + "/rest/usuario/email", {
    			data: {
    				email: email
    			},
    			success: function(data) {
    				if(data.status == 'ERROR') {
    					jAlert("E-mail já cadastrado, utilize o convidar em Lote para este caso");
    				} else {
    					var gruposText = $("#grupos_text").val().replace(/,$/, "");
    					var grupos = gruposText + '<input type="hidden" value="'+$("#grupos_ids").val().replace(/,$/, "")+'" class="grupos" />';
    					
    					
    					var acoes = '<button class="apagar btn btn-outline red-mint  uppercase" data-toggle="confirmation" data-placement="top" data-original-title="Deseja deletar?" title=""><i class="fa fa-trash"></i></button>';
    					var row = dTable.row.add([name, email,grupos, acoes]).draw().show().draw(false).node();
    					$(row).attr('data-email', email);
    					
    					$userEmail.val("");
    					$userName.val("");
    					$userEmail.closest('.has-success').removeClass('has-success');
    					$userName.closest('.has-success').removeClass('has-success');
    					$userName.focus();
    					
    					$('.convidar').removeClass('disabled');
    				}
    			}
    		});
	    }
	});
	
});


function confirmationConfig() {
	$('button[aria-describedby*="confirmation"]').confirmation('hide');
	setTimeout(function() {
		$("[data-toggle=confirmation]").confirmation({
			singleton : true,
			container : '.table',
			btnOkClass : 'btn btn-sm btn-success',
			btnCancelClass : 'btn btn-sm btn-danger',
			popout : true,
			btnOkLabel : 'Sim',
			btnCancelLabel : "Não"
		});
	}, 500);
}

$('.table').on('page.dt', function() {
	confirmationConfig();
});

$('.table').on('order.dt', function() {
	confirmationConfig();
});

$('.table').on('search.dt', function() {
	confirmationConfig();
});

$('.table').on('length.dt', function() {
	confirmationConfig();
});
</script>
#parse("/msg.htm")