<div class="page-content">
	<h3 class="page-title">$messages.get('convidar.usuarios.label') - Planilha</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/usuarios.htm">Usuarios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/convidarUsuarios.htm">$messages.get('convidar.usuarios.label')</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('convidar.usuarios.label') - Planilha</span></li>
			<li class="right">
				<a data-toggle="modal" data-target="#modalHelp" class="bs-tooltip" title="Importe o arquivo .csv com seus contatos para convidá-los">
					<i class="fa fa-question-circle font-blue" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
               	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Importar por planilha</span>
               </div>
				</div>
				<div class="portlet-body">
					<div class="clearfix form-group">
						<div class="col-md-12 text-center">
							<div id="drop-zone" class="form-group">
								$!formImportacao.startTag()
									$!formImportacao.fields.file
									<p class="form-group">Arraste seu arquivo aqui, ou</p>
									<a id="importarArquivo" class="btn btn-default sbold arquivo bs-tooltip"> Clique aqui <i class="fa fa-paperclip fa-rotate-220"></i></a>	
							</div>
							<div class="text-right">$!formImportacao.fields.upload</div>
						</div>
								$!formImportacao.endTag()
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalUpload" role="dialog" aria-labelledby="modalUpload" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-glyphicon-open"></span> Upload - Importando usuários por planilha
				</h4>
			</div>
			<div class="modal-body">
				<div class="clearfix text-center">
					<div class="spinner-content">
						<img src="$context/img/spinner_blue_big.gif" alt="Carregando..." class="form-group" />
						<p class="form-group">Aguarde...</p>
						<p class="">Importando seus arquivos</p>
						<div class="col-md-12 upload-status"></div>
					</div>
					<div class="clearfix modal-padding success-content">
	      			<div class="uppercase profile-stat-title icon"><i class="fa fa-check fa-3x font-green-jungle" aria-hidden="true"></i></div>
	      			<h3>Seus contatos foram importados com sucesso</h3>
	      		</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalHelp" role="dialog" aria-labelledby="modalHelp" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-question-sign"></span> Ajuda - Importando usuários por planilha
				</h4>
			</div>
			<div class="modal-body">
				<p>Para convidar usuários através de uma planilha importe um arquivo,
				<a href="$context/exemplos/usuarios.csv" class="sbold">usuarios.csv</a>, com a seguinte formatação:</p>
				<br />
				<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed form-group">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Email</th>
							<th>Login</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>João Silva</td>
							<td>joao@email.com</td>
							<td>joao@email.com</td>
						</tr>
						<tr>
							<td>Pedro Silva</td>
							<td>pedro@email.com</td>
							<td>pedro@email.com</td>
						</tr>
						<tr>
							<td>Augusto Silva</td>
							<td>augusto@email.com</td>
							<td>augusto@email.com</td>
						</tr>
					</tbody>
				</table>
				<br />
				<p>Para enviar corretamente o e-mail de convite, você precisará cadastrar um template de e-mail na seguinte página:</p>
				<div class="page-bar text-center form-group">
					<ul class="page-breadcrumb">
						<li><i class="fa fa-home"></i><a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
						<li><a href="$context/admin/cadastros.htm">Usuários</a> <i class="fa fa-angle-right"></i></li>
						<li><a href="$context/admin/templates.htm">E-mail Marketing</a></li>
					</ul>
				</div>
				<p>Você poderá utilizar as seguintes variáveis para que o sistema preencha os dados do usuário dinamicamente dentro do template:</p>
				<br />
				<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed form-group">
					<thead>
						<tr>
							<th>Variável</th>
							<th>Descrição</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>$usuario.nome</td>
							<td>Nome do usuário</td>
						</tr>
						<tr>
							<td>$usuario.email</td>
							<td>E-mail do usuário</td>
						</tr>
						<tr>
							<td>$usuario.login</td>
							<td>Login do usuário</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script>
$(document).ready(function(){

	var interval;
	
	setTimeout(function() {
		getcem();
	}, 1000);
	
	function getcem() {
		jQuery.ajax({
			type : "post",
			url : "$context/ws/getPorcentagemImportacao.htm?mode=json&form_name=form",
			dataType : "json",
			data : {
				mode : "json",
			},
			success : function(data) {
				var conteudo = "";
				if (data.porcentagem.temArquivo == "false") {
					clearInterval(interval);
					if($(".loadingImportacao").is(":visible")) {
						$(".valorPorcento").html("100%");
						$(".loadingImportacao").find(".progress .barra").css('width','100%');
						$(".loadingImportacao").find(".statusImportacao").html("");
						$(".loadingImportacao").find(".progress .barra").addClass("full");
						if (jsUtils.isNotEmpty(data.porcentagem) && jsUtils.isNotEmpty(data.porcentagem.idImportacao)) {
							$(".spinner-content").hide();
							$(".success-content").fadeIn();
							jConfirm('Arquivo importado, deseja ir para os detalhes do arquivo?', "Atenção", null, function(e) {
								if (e) {
									location.href = "$context/admin/convidarUsuarios.htm";
								}
							});
						}
					}
					
					if (data.porcentagem.status && data.porcentagem.status != "") {
						$(".situacaoImportacao").html(data.porcentagem.status + " - ");
					}
				} else {
					$("#modalUpload").modal("show");
					$(".spinner-content, .upload-status, .importandoArquivo").show();
					$(".loadingImportacao").slideDown();
			
					if (data.porcentagem.status != "") {
						$(".situacaoImportacao").html(data.porcentagem.status+ " - ");
					}
					
					$(".statusImportacao").html(data.porcentagem.atual+ " $messages.get('de.label') " + data.porcentagem.fim + " - ");
					$(".valorPorcento").html(data.porcentagem.porcentagem+ "%");
					$(".loadingImportacao").find(".progress .barra").css('width', parseFloat(data.porcentagem.porcentagem) + '%');
					
					setTimeout(function() {
						getcem();
					}, 1000);
				}
			}
		});
	}

	var uploadArquivoStatus = '<div class="clearfix">';
		uploadArquivoStatus += '<div class="loadingImportacao" style="display: block;">';
			uploadArquivoStatus += '<span class="situacaoImportacao"></span>';
			uploadArquivoStatus += '<span class="statusImportacao"></span>';
			uploadArquivoStatus += '<span class="valorPorcento">0%</span>';
			uploadArquivoStatus += '<div class="progress">';
				uploadArquivoStatus += '<div class="barra"></div>';
			uploadArquivoStatus += '</div>';
		uploadArquivoStatus += '</div>';
	uploadArquivoStatus += '</div>';
	$(".upload-status").append(uploadArquivoStatus);

	$("#importarArquivo").click(function(e) {
		e.preventDefault();
		$("#formImportacao_file").click();
	});

	$("#formImportacao_file").change(function() {
		var arquivo = $(this).val();
		if (jsUtils.isEmpty(arquivo)) {
			$("#formImportacao_upload").addClass("disabled");
		} else {
			var nomeArquivo = $(this).val();
			var split = nomeArquivo.split("\\");
			$("#formImportacao_upload").val("Importar arquivo: " + split[split.length - 1]);
			$("#formImportacao_upload").removeClass("disabled");
		}
	});
	
	$("#formImportacao_upload").addClass("disabled");
	

	$(function () {
	    var dropZoneId = "drop-zone";
	    var buttonId = "importarArquivo";
	    var mouseOverClass = "mouse-over";

	    var dropZone = $("#" + dropZoneId);
	    var ooleft = dropZone.offset().left;
	    var ooright = dropZone.outerWidth() + ooleft;
	    var ootop = dropZone.offset().top;
	    var oobottom = dropZone.outerHeight() + ootop;
	    var inputFile = dropZone.find("input");
	    document.getElementById(dropZoneId).addEventListener("dragover", function (e) {
	        e.preventDefault();
	        e.stopPropagation();
	        dropZone.addClass(mouseOverClass);
	        var x = e.pageX;
	        var y = e.pageY;

	        if (!(x < ooleft || x > ooright || y < ootop || y > oobottom)) {
	            inputFile.offset({ top: y - 15, left: x - 100 });
	        } else {
	            inputFile.offset({ top: -400, left: -400 });
	        }

	    }, true);

	    if (buttonId != "") {
	        var clickZone = $("#" + buttonId);

	        var oleft = clickZone.offset().left;
	        var oright = clickZone.outerWidth() + oleft;
	        var otop = clickZone.offset().top;
	        var obottom = clickZone.outerHeight() + otop;

	        $("#" + buttonId).mousemove(function (e) {
	            var x = e.pageX;
	            var y = e.pageY;
	            if (!(x < oleft || x > oright || y < otop || y > obottom)) {
	                inputFile.offset({ top: y - 15, left: x - 160 });
	            } else {
	                inputFile.offset({ top: -400, left: -400 });
	            }
	        });
	    }

	    document.getElementById(dropZoneId).addEventListener("drop", function (e) {
	        $("#" + dropZoneId).removeClass(mouseOverClass);
	    }, true);

	})
	
});//fim doc
</script>