<div class="page-content">
	<h3 class="page-title">Detalhes $messages.get('relatorio.conversa.label')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorioConversa.htm">$messages.get('relatorio.conversa.label')</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Detalhes $messages.get('relatorio.conversa.label')</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-comments"></i> Detalhes $messages.get('relatorio.conversa.label')</span>
					</div>
				</div>
				<div class="portlet-body clearfix table-responsive">
					<table id="page-table" class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead>
							<tr>
								<th>ID</th>
								<th>Data</th>
								<th>De:</th>
								<th>Para:</th>
								<th class="col-xs-6">Mensagem</th>
								<th>Entregue</th>
								<th>Data Entregue</th>
								<th>Lida</th>
								<th>Data Lida</th>
								<th>callbackCheck1Cinza</th>
								<th>callbackCheck2Cinza</th>
								<th>callbackCheck2Azul</th>
								<th>Detalhe</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<div class="paginaAtual" data-page="-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDetalhesMsg" role="dialog" aria-labelledby="modalDetalhesMsg" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-list-alt"></span> Detalhes Mensagem
					</h4>
				</div>
				<div class="modal-body">
					<table id="modal-table" class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead>
							<tr>
								<th>Usuário</th>
								<th>Entregue</th>
								<th>Lida</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>				
			</div>
		</form>
	</div>
</div>
<script>
var conversaId = getURLParameter("conversa");
var linha = 0;
$(document).ready(function(){
	
		var filtro = getFiltro();
		filtro.page = 0;
		detRelConv(filtro);
		
		$('body').on('click', '.msg-is-group', function(){
			var id = $(this).attr('data-id');
			detalhesMensagem(id);
		});
		
		$('#modalDetalhesMsg').on('hidden.bs.modal', function(){
			$('#modal-table > tbody').html("");
		});
	
});//fim doc

function getFiltro(linha, page) {
	var filtro;
	#if($filtroJson && $filtroJson != "")
		var filtro = $filtroJson;
	#end
    return filtro;
}

var dTable = null;

function detRelConv(filtro, linha, page){
	var filtro = getFiltro();
	jsHttp.get("$context/rest/v1/report/conversa/detalhes",{
		data: filtro,
		beforeSend: function(){
			$(".paginaAtual").show();
		},
		success: function (data) {
			var conteudo = "";
			for(var i in data) {
				var campo = data[i];
				conteudo += createTable(campo);
			}
			
			if(dTable != null) {
				$("#page-table > tbody").empty();
				dTable.clear();
				dTable.destroy();
			}
			
			$('#page-table > tbody').append(conteudo);
			dTable = loadTable();
			dTable.data(conteudo).page.len(50).draw();
			$(".paginaAtual").hide();
		}
	});
}

function createTable(campo){
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'">';
		rTable += "<td>"+campo.id+"</td>";
		rTable += "<td>"+campo.data+"</td>";
		rTable += "<td>"+campo.from+"</td>";
		if(campo.isGroup) {
			rTable += "<td>"+campo.nomeGrupo+"</td>";
		} else {
			rTable += '<td>'+campo.to+'</td>';
		}
		
		rTable += '<td>'
			if(campo.msg){
				rTable += campo.msg; 	
			}else{
				rTable += "&nbsp;";
			}
		rTable += '</td>';
		if(campo.entregue) {
			rTable += '<td align="center"><i class="fa fa-check font-green-sharp"></i></td>';
		} else {
			rTable += '<td align="center"></td>';
		}
		rTable += '<td>'+campo.dataEntregue+'</td>';
		if(campo.lida) {
			rTable += '<td align="center"><i class="fa fa-check font-green-sharp"></i></td>';
		} else {
			rTable += '<td align="center"></td>';
		}
		rTable += '<td>'+campo.dataLida+'</td>';
		if(campo.isCallbackCheck1Cinza) {
			rTable += '<td align="center"><i class="fa fa-check font-green-sharp"></i></td>';
		} else {
			rTable += '<td align="center"></td>';
		}
		
		if(campo.isCallbackCheck2Cinza) {
			rTable += '<td align="center"><i class="fa fa-check font-green-sharp"></i></td>';
		} else {
			rTable += '<td align="center"></td>';
		}
		
		if(campo.isCallbackCheck2Azul) {
			rTable += '<td align="center"><i class="fa fa-check font-green-sharp"></i></td>';
		} else {
			rTable += '<td align="center"></td>';
		}
		rTable += '<td style="text-align=center"><i class="fa fa-info-circle font-blue-sharp pull-right cursor-pointer msg-is-group" data-toggle="modal" data-target="#modalDetalhesMsg" data-id="'+campo.id+'"></i></td>';
	rTable += "</tr>";
	
	return rTable;
}

function createTableModal(campo){
	var rTableM = "";
	rTableM += '<tr data-id="'+campo.id+'">';
		rTableM += '<td><a class="blue sbold" href="$context/usuario.htm?id='+campo.userId+'">'+campo.userLogin+'</a></td>';
		rTableM += '<td>';
			if(campo.entregue){
				rTableM += campo.dataEntregue+'&nbsp;<i class="fa fa-check font-green-sharp pull-right"></i>';
			}else{
				rTableM += '&nbsp;';
			}
		rTableM += '</td>';
		rTableM += '<td>';
			if(campo.lida){
				rTableM += campo.dataLida+'&nbsp;<i class="fa fa-check font-green-sharp pull-right"></i>';
			}else{
				rTableM += '&nbsp;';
			}
		rTableM += '</td>';
		
	rTableM += "</tr>";
	
	return rTableM;
}


function detalhesMensagem(id){
	ajaxGet("$context/rest/v1/report/conversa/mensagem/detalhes/" + id , null, beforeSend, success);
	
	function beforeSend(msgs) {
		$('#modal-table tbody').html("");
	}
	
	function success(msgs) {
		var conteudoModal = "";
		for ( var i in msgs) {
			var campo = msgs[i];
			conteudoModal += createTableModal(campo);
		}
		
		$('#modal-table > tbody').append(conteudoModal);
		$('#modalDetalhesMsg').modal('show');
	}
}
</script>