<div class="page-content">
	<h3 class="page-title">$messages.get('titulo.logTransacao.label')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/logTransacao.htm?clear=true">$messages.get('listagem.log.transacao.label')</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('titulo.logTransacao.label')</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-arrow-right" aria-hidden="true"></i> $messages.get('titulo.logTransacao.label')</span>
					</div>
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Ações <i class="fa fa-angle-down"></i></button>
							 <ul class="dropdown-menu pull-right">
								<li>
									<a class="remake"><i class="fa fa-check"></i> Refazer request </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<table class="tabela">
						<thead>
							<tr>
								<th>$messages.get('coluna.log.id.label')</th>
								<th>$messages.get('coluna.log.requestPath.label')</th>
								<th>$messages.get('coluna.log.params.label')</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									$!log.id
								</td>
								<td>
									$!log.requestPath
								</td>
								<td>
									$!log.requestParams
								</td>
							</tr>
						</tbody>
					</table>
					<hr/>
					<table class="tabela">
						<thead>
							<tr>
								<th>$messages.get('coluna.log.id.usuario.label')</th>
								<th>$messages.get('coluna.log.login.usuario.label')</th>
								<th>$messages.get('data.label')</th>
								<th>$messages.get('coluna.log.dataResposta.label')</th>
								<th>$messages.get('coluna.log.tempo.label')</th>
								<th>$messages.get('coluna.log.status.label')</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td align="center">
									$!log.usuario.id
								</td>
								<td align="center">
									$!log.login
								</td>
								<td align="center">
									$!log.dataInicioString
								</td>
								<td align="center">
									$!log.dataFimString
								</td>
								<td align="center">
									$!log.tempo ms
								</td>
								<td align="center">
									$!log.status
								</td>
							</tr>
						</tbody>
					</table>
					<hr/>
					<table class="tabela">
						<thead>
							<tr>
								<th>$messages.get('versao.aplicativo.label')</th>
								<th>$messages.get('plataforma.label')</th>
								<th>$messages.get('device.label')</th>
								#if($log.deviceWidth && $log.deviceHeight)
								<th>$messages.get('coluna.log.resolucao.label')</th>
								#end
								<th>$messages.get('coluna.log.formato.label')</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td align="center">
									$!log.versaoAplicativo
								</td>
								<td align="center">
									$!log.deviceSo
								</td>
								<td align="center">
									$!log.deviceModel
								</td>
								#if($log.deviceWidth && $log.deviceHeight)
								<td align="center">
									$!log.deviceWidth x $log.deviceHeight
								</td>
								#end
								<td align="center">
									$!log.xml
								</td>
							</tr>
						</tbody>
					</table>
					#if($log.isErro())
					<table class="tabela">
						<thead>
							<tr>
								<th>$messages.get('mensagem.erro.label')</th>
								<th>$messages.get('resultado.label')</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td align="center">
									$!log.msgErro
								</td>
								<td align="center">
									$!log.msgErroStack
								</td>
							</tr>
						</tbody>
					</table>
					<hr/>
					#end
					<table class="tabela">
						<thead>
							<tr>
								<th>$messages.get('coluna.log.imei.label')</th>
								<th>$messages.get('coluna.log.userAgent.label')</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									$!log.deviceImei
								</td>
								<td>
									$!log.userAgent
								</td>
							</tr>
						</tbody>
					</table>
					<hr/>
					<table class="tabela">
						<thead>
							<tr>
								<th>$messages.get('coluna.log.registrationId.label')</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									$!log.deviceRegistrationId
								</td>
							</tr>
						</tbody>
					</table>
					<hr/>
					#if($imagens)
					<hr/>
					$imagens
					#end
					<div class="clearfix botoesSalvar">
						<input type="button" value="$messages.get('voltar.label')" class="btn btn-primary min-width" onclick="window.location.href='$context/admin/logTransacao.htm?'">		
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>

$(".remake").click(function(){
	remake();
});

function remake(){
	
	var requestPath = "$!log.requestPath";
	var requestParams = "$!log.requestParams";
	
	jsHttp.post(requestPath + "?" + requestParams, {
		success: function() {
			toastr.success("Request refeita!");
		},
		error: function(){
			toastr.error("Erro ao refazer request!");
		}
	});
	
}

</script>