<script>
var conversaId = getURLParameter("conversa");
$(document).ready(function(){
	var url = "$context/admin/detalhesRelatorioConversa.htm?conversa="+conversaId+"";
	$(".newUrl").attr("href",url);
	
	if($("#table tbody tr td:not(.error)").length > 0){
		$("#table").DataTable({
			"pageLength": 10,
			"lengthMenu": [ 10, 25, 50, 75, 100, 150 ],
		    "oLanguage": oLanguage,
		    "order": [],
		    "responsive": true,
		    "autoWidth": false
		}).load;
	}
	
});
</script>
<div class="page-content">
	<h3 class="page-title">Detalhes Status $messages.get('relatorio.conversa.label')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorioConversa.htm">$messages.get('relatorio.conversa.label')</a> <i class="fa fa-angle-right"></i></li>
			<li><a class="newUrl">Detalhes $messages.get('relatorio.conversa.label')</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Detalhes Status $messages.get('relatorio.conversa.label')</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-comments"></i> Detalhes Status $messages.get('relatorio.conversa.label')</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					$!table
				</div>
			</div>
		</div>
	</div>
</div>
