<script>
$(document).ready(function(){
	geraStack(".simple");
});
</script>
<div class="page-content">
	<h3 class="page-title">$messages.get('titulo.detalhesAcessoVersao.label')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/numeroDeAcessosVersao.htm">$messages.get('numero.de.acessos.versao.label')</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('titulo.detalhesAcessoVersao.label')</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-users"></i> $messages.get('titulo.detalhesAcessoVersao.label')</span>
					</div>
				</div>
				<div class="portlet-body">
					#if($exportar_csv_on && $exportar_csv_on == "1")
						#if($!EXPORTACOES)
						<div class="clearfix form-group">
							$form
						</div>
						<hr/>
						#end
					#end
					<div class="clearfix form-group">
						$!table
					</div>
				</div>
			</div>
		</div>
	</div>
</div>