<script>
$(document).ready(function(){	
	usuarioTokenInput({
		element: "#insertUsuarios",
		url: urlContext+"/ws/usuariosAutoComplete.htm?mode=json&form_name=form",
		hintText: "$messages.get('msg.digitar')",
      noResultsText: "$messages.get('msg.item.notFound.error')",
      searchingText: "$messages.get('carregando.label')",
      placeholder: "Digite os usuários...",
      onAdd: function (item) {
			var ids = $("#idsUsers").val();
			$("#idsUsers").val(ids+" "+item.id+",");
			
			var names = $("#nameUsers").val();
			$("#nameUsers").val(names+" "+item.nome+",");
    	},
    	onDelete: function (item){
			var idRemove = " "+item.id+",";
	      var ids = $("#idsUsers").val();
	      ids = ids.replace(idRemove,"");
	      $("#idsUsers").val(ids);
	      
	      var nameRemove = " "+item.nome+",";
	      var names = $("#nameUsers").val();
	      names = names.replace(nameRemove,"");
	      $("#nameUsers").val(names);
    	},
    	resultsFormatter: function(item){
    		if(item.urlFotoUsuarioThumb){
    			return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='" + item.urlFotoUsuarioThumb + "' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Cargo: " + item.funcao + "</p></div></li>"	
    		}else{
    			return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='"+urlContext+"/imagens/user.png' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Cargo: " + item.funcao + "</p></div></li>"
    		}
  		}
	});
	
	$('.radio-group-send-push').on('ifChecked', function(event){
		if($(this).val() == 'especifico') {
			$('.select-users').slideDown();
		} else {
			$('.select-users').slideUp();
		}
	});
	
});//fim doc
</script>
<div class="page-content">
	<h3 class="page-title">Enviar Push</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i><a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/usuarios.htm">Usuários</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Enviar Push</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
               	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-flag"></i>&nbsp; Enviar Push</span>
					</div>
            </div>
				<div class="portlet-body clearfix">
					<div class="col-md-12">
						${form.startTag()}
						<input type="hidden" id="nameGrupos">
						<input type="hidden" id="nameUsers">
						<div class="clearfix">
							<div class="form-group campoPost noHeight">
								<label class="control-label labelCampo">Para quem deseja enviar a notificação:</label>
								<div class="clearfix">
									<label for="todos" class="row col-md-4 form-group">
										<input type="radio" name="radio-group-send-push" id="todos" class="radio-group-send-push" value="todos" checked>
										Todos os usuários</label>
									<label for="web" class="row col-md-4 form-group">
										<input type="radio" name="radio-group-send-push" id="web" class="radio-group-send-push" value="web">
										Apenas usuários web</label>
									<label for="especifico" class="row col-md-4 form-group">
										<input type="radio" name="radio-group-send-push" id="especifico" class="radio-group-send-push" value="especifico">
										Usuários específicos</label>
								</div>
							</div>
						</div>
						<div class="form-group select-users">
							<input class="form-control" placeholder="Selecionar usuários" id="insertUsuarios">
							<input type="hidden" name="idsUsers" id="idsUsers" value="">
						</div>
						<div class="form-group clearfix">
							<label class="control-label labelCampo">Conteúdo da notificação</label>
						</div>
						<div class="form-group campoPost noHeight">
							<label class="control-label labelCampo">Título:</label>
							<input type="text" class="form-control" placeholder="Título">
						</div>
						<div class="form-group campoPost">
							<label class="control-label labelCampo">Mensagem:</label>
							<textarea class="form-control" placeholder="Escreva aqui sua mensagem..."></textarea>
						</div>
						<div class="form-group campoPost noHeight">
							<label class="control-label labelCampo">Agendamento:</label>
							<input type="text" class="form-control" placeholder="Agendamento">
						</div>
						<div class="form-group text-right">
							<a href="#" id="btConfirm" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirm">Enviar Push</a>
						</div>
						${form.endTag()}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalConfirm" role="dialog" aria-labelledby="modalConfirm" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-send"></span> Enviar Push
				</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="enviaEmail">Enviar</button>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>