<div class="headerPagina clearfix">
	<h2 class="tituloPagina">$messages.get('exportar.regId.label')</h2>
</div>

<div class="formDados">
${form.startTag()}
<div class="clearfix">
</div>
<br>	
<div class="clearfix botoesSalvar">$!form.fields.exportar</div>
${form.endTag()}
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>