<div class="headerPagina clearfix">
<div class="botoesHeader noBorder">
${form.startTag()} $form.fields.exportar
	<a href="#" id="abre_overlay" class="botao info branco btIcone addItem bs-tooltip" title="Adicionar"><i class="icones ico-addItem"></i></a>
${form.endTag()}
</div>
<h2 class="tituloPagina">Feriado</h2>
</div>
	<div class="breadcrumb">
	    <a href="$context/admin/configurarCadastro.htm">$messages.get('configurar.cadastro.label')</a>
	    <a class="active" href="">Feriado</a>
	</div>
<!-- <ul class="listaHorizontal clearfix " id="list"></ul> -->
<div class="clearfix">
	<div class="rTable">
		<div class="rTableRow header">
			<div class="rTableHead">ID</div>
			<div class="rTableHead">Data</div>
			<div class="rTableHead">Nome</div>
			<div class="rTableHead">Código</div>
			<div class="rTableHead">Detalhes</div>
		</div>
	</div>
</div>
<div id="overlay" class="modal_overlay" style="position: absolute; z-index: 99998; top: 0px; left: 0px; width: 100%; height: 100%; background: #000 none repeat scroll 0 0; opacity: 0.2; display: none;"></div>
<div id="modal" class="modal_container" style="left: 575.5px; margin: 0; max-width: 300px; min-width: 300px; padding: 0; position: fixed; top: 124.5px; z-index: 99999; display: none;">
    <h1 class="modal_title">Feriado</h1>
    <div class="modal_content">
        <div class="modal_message">
            <form>
                <input type="hidden" id="id" value="">
                <label class="labelCampo">Data *</label>
            	<div class="campoPost">
            		<input type="text" name="data" id="data" value="" class="input data datepicker picker__input">
            	</div>
            	<label class="labelCampo">Nome</label>
            	<div class="campoPost">
            		<input type="text" name="nome" id="nome" value="" class="input">
            	</div>
            	<label class="labelCampo">Código</label>
            	<div class="campoPost">
            		<input type="text" name="codigo" id="codigo" value="" class="input">
            	</div>
            </form>
        </div>
        <div class="modal_panel">
            <input type="button" value="&nbsp;OK&nbsp;" class="popup_ok"> 
            <input type="button" value="&nbsp;Cancelar&nbsp;" class="popup_cancel">
        </div>
    </div>
</div>

<script>
var linha = 0;

#if($id)
	httpGet("$context/rest/v1/feriado/" + $id, null, function(feriado) {
		$("#id").val(feriado.id);
		$("#nome").val(feriado.nome);
		$("#codigo").val(feriado.codigo);
		$("#data").val(feriado.data);
		showModal("#modal");	
		$("#nome").focus();
	});
#end

$(".popup_cancel").click(function(e) {
	e.preventDefault();
	closeModal("#modal");
});

function clearForm() {
	$('form')[0].reset();
}

$(".addItem").click(function(e) {
	e.preventDefault();
	clearForm();
	showModal("#modal");
	$("#data").focus();
});

function isValid() {
	if(!this.data && this.data == "") {
		jAlert("Favor informar uma data", "Atenção", null);
		return false;
	}
	return true;
}

var params = {
		isValid: isValid
}

$('.popup_ok').click(function(e) {
	e.preventDefault();
	params.id = $("#id").val();
	params.nome = $("#nome").val();
	params.codigo = $("#codigo").val();
	params.data = $("#data").val();
	if(params.isValid()) {
		if(params.id) {
			function successUpdate(data) {
				if(data.status == "OK") {
					closeModal("#modal");
					jAlert(data.message, "Atenção", null, function(e) {
						if(e) {
							location.href= "$context$path";
						}
					});
				} else {
					jAlert(data.message, "Atenção", null);
				}
			}
			httpPut("$context/rest/v1/feriado", params, successUpdate);
		} else {
			delete params.id;
			function successCadastro(data) {
				if(data.status == "OK") {
					var campo = data.entity;
					location.href = "$context$path";
					closeModal("#modal");
				}
			}
			httpPost("$context/rest/v1/feriado", params, successCadastro);
			$(".rTable").append(createTable(campo));
		}
	}
});

ajaxGet("$context/rest/v1/feriado", null, null, success);
function success(campos) {
	var conteudo = "";
	for(var i in campos) {
		var campo = campos[i];
		conteudo += createTable(campo);
		linha++;
	}
	$(".rTable").append(conteudo);
	if($(".rTableRow.results").length <= 0) {
		var conteudoError = "";
		if(!$(".rTableRow.error").length > 0){
 			conteudoError = "<div class='rTableRow error'></div>";	
		}
		$(".rTable").append(conteudoError);
	}	
}

$("body").on("click", ".deletarCampo", function() {
	var id = $(this).attr('data-id');
	var nome = $(this).attr('data-nome');
	if(id) {
		if(!nome) {
			nome = "";
		}
		jConfirm("Deseja excluir a feriado " + nome + "?", "Excluir feriado", "deletar", function(e) {
			if(e) {
				httpDelete("$context/rest/v1/feriado/" + id, function(data){
					jAlert(data.message, "Atenção", null, function(e) {
						location.href = "$context$path";
					});
				});
			}
		});
	} else {
		jAlert("Desculpe, não localizamos o identificador deste feriado", "Atenção", null);
	}
});

function createTable(campo){
	var rTable = "";
	var impar = linha % 2 == 0 ? "odd" : "";
	rTable += "<div class='rTableRow results "+impar+"'>";
		rTable += "<div class='rTableCell' data-th='ID'>"+campo.id+"</div>";
		rTable += "<div class='rTableCell' data-th='Data'>"+campo.data+"</div>";
		rTable += "<div class='rTableCell' data-th='Nome'>"+campo.nome+"</div>";
		rTable += "<div class='rTableCell' data-th='Código'>"+campo.codigoDesc+"</div>";
		rTable += "<div class='rTableCell' data-th='Detalhes'>";
			rTable += "<a href='$context$path?id="+campo.id+"' class='editarCampo blue' data-nome='"+campo.nome+"' data-id='"+campo.id+"'>Editar</a>";
			rTable += "<span> | </span>"
			rTable += "<a class='deletarCampo blue' data-nome='"+campo.nome+"' data-id='"+campo.id+"'>Excluir</a>";
		rTable += "</div>";
	rTable += "</div>";
	return rTable;
}
</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>
#parse("/msg.htm")