<script>
function loadStatus(isRefreshMural){
	jQuery.ajax({
		type: 'GET',
		url: urlContext + '/rest/status/',
		success: function(res){
			var infoFilter = '';
			if(res && res.length > 0){
				infoFilter += '<li class="filtro-incidente" style="display: none;">';
					infoFilter += '<div class="alturaMensagem">';
						infoFilter += '<div class="mensagemPost">';
							infoFilter += '<div class="filtro-incidente-wrapper">';
								infoFilter += '<p class="status-cabecalho"><b>Incidentes: </b></p>';
								for(var i in res){
									var status = res[i];
									var count = status.count ? status.count : '0';
									infoFilter += '<a class="filtro-incidente-item sbold" data-incidente-nome="'+status.nome+'" data-incidente-id="'+status.id
									+'"data-incidente-count="'+count+'" style="color: '+status.cor+';">'+status.nome+' ('+count+')</a>';
								}
							infoFilter += '</div>';
							infoFilter += '<i class="fa fa-close mural-close-icon redirect-status" aria-hidden="true"></i>';
						infoFilter += '</div>';
					infoFilter += '</div>';
				infoFilter += '</li>';
			}
			
			if(isRefreshMural){
				LiveMural.buscaPosts({}, true, modeMural);
			}
			
			$('ul.listaMural').find('li.filtro-incidente').remove();
			$("ul.listaMural").prepend(infoFilter);
			
			timer = setInterval(function(){
				$('ul.listaMural > li.filtro-incidente').slideDown(500);
			}, 300);
		}
	})
}

$(document).ready(function(){
	
	var incidentesURL = getURLParameter("categoria");

	if(incidentesURL == PARAMS.CATEGORIA_INCIDENTES_ID){
		loadStatus();
		
		$('body').on('click', '.filtro-incidente-item', function(){
			var incidenteID = $(this).attr("data-incidente-id"),
				nome = $(this).attr("data-incidente-nome"),
				style = $(this).attr("style"),
				count = $(this).attr("data-incidente-count");
			
			var filtro = {
				status_post: incidenteID
			}
			
			$('li.filtro-incidente').attr('data-incidente-id', incidenteID);
			
			$(".filtro-incidente-wrapper").empty()
				.append('<p class="status-cabecalho"><b>Mostrando apenas incidentes: </b></p><p id="item-status" class="filtro-incidente-item-unico sbold" style="'
				+ style + ';">' + nome + ' (' + count + ')</p>');
			
			LiveMural.buscaPosts(filtro, true, modeMural);
		});
	}

	$('body').on('click', '.redirect-status', function(){
		if($('#item-status').hasClass("filtro-incidente-item-unico")){
			loadStatus(true);
		}
	});
	
	var tasksURL = getURLParameter("tasks"),
		prioritariosURL = getURLParameter("prioritarios"),
		remindersURL = getURLParameter("reminders"),
		meusAmigosURL = getURLParameter("meusAmigos"),
		somenteEuURL = getURLParameter("somenteEu"),
		tabMeusAmigos = $('#sideBox-user_grupo .sidebox-nav-tabs li.mf').hasClass('active'),
		filtroMural = {
			idioma: SESSION.USER_INFO.IDIOMA_CODIGO
		};

	if(meusAmigosURL || ((tabMeusAmigos && !somenteEuURL) && (urlAtual != 'meusPosts.htm' && urlAtual != 'meusRascunhos.htm'))){
		filtroMural.meusAmigos = true;
		filtroMural.somenteEu = false;
		LiveMural.buscaPosts(filtroMural, true, modeMural);
		if(meusAmigosURL){
			localizaUser(userId, 'meusAmigos');
		}
	}else if(somenteEuURL){
		filtroMural.meusAmigos= false;
		filtroMural.somenteEu = true;
		LiveMural.buscaPosts(filtroMural, true, modeMural);
		localizaUser(userId, 'somenteEu');
	}else if(prioritariosURL){
		filtroMural.prioritarios = 1;
		LiveMural.buscaPosts(filtroMural, true, modeMural);
	}else if(remindersURL){
		filtroMural.reminders = 1;
		LiveMural.buscaPosts(filtroMural, true, modeMural);
	}else if(tasksURL){
		filtroMural.tasks = 1;
		LiveMural.buscaPosts(filtroMural, true, modeMural);
	}else{
		LiveMural.buscaPosts(filtroMural, true, modeMural);
	}
	
	$('.config-feed li a').click(function(){
		var a = $(this);
		$('.config-feed li').removeClass('ativo');
		a.parent('li').addClass('ativo');
		modeMural = a.attr('data-mural');
		LiveMural.buscaPosts(null, true, modeMural);
	});
	
	if(PARAMS.MURAL_SAUDACAO_ON && PARAMS.MURAL_SAUDACAO_ON == 1){
		welcomeFeed();
	}
	
	$('body').on('click', '.btnVoltarMural', function(e){
		e.preventDefault();
		$(".listaMural").empty().after('<div class="paginaAtual" data-page="-1"></div>');
		$('.formPost').slideDown();
		$(".mural.page-bar").remove();
		LiveMural.buscaPosts('', true, modeMural);
	});
	
	$('body').on('click', '.listaMural li.consolidado', function(){
		var postId = $(this).attr('data-id');		
		window.location = "$context/pages/post.htm?id="+postId;
	});
	
	$('body').on('click', '.listaMural li.consolidado a', function(event){
		event.stopPropagation();
	});
	
	//scroll page load posts	
	$(window).scroll(function() {
		if( ($(window).scrollTop() + $(window).height() > $(document).height() - $("#contentcolumn .paginaAtual").outerHeight()) || ($("#contentcolumn .paginaAtual").offset().top < $(window).height() && $("#contentcolumn .paginaAtual").attr("data-page") == "-1" )) {
		   if($(".paginaAtual").hasClass("loading")){
	   		return false;
		   }else if($(".paginaAtual:visible").length > 0 && !$(".paginaAtual").hasClass("loading")){
			   var mfLI = $('ul.listaMural > li.meus-amigos').length;	//meus amigos
			   var csLI = $('ul.listaMural > li.custom-search').length;	//busca texto
			   var clear = false, filtroScroll = {
				   idioma: SESSION.USER_INFO.IDIOMA_CODIGO
			   };

			   if(meusAmigosURL || mfLI > 0){
				   filtroScroll.meusAmigos = true;
				   filtroScroll.somenteEu = false;
				}else if(somenteEuURL){
					filtroScroll.meusAmigos = false;
					filtroScroll.somenteEu = true;
				}else if(incidentesURL){
					filtroScroll.status_post = $('.listaMural > li.filtro-incidente').attr("data-incidente-id");
				}else if(prioritariosURL){
					filtroScroll.prioritarios = 1;
				}else if(remindersURL){
					filtroScroll.reminders = 1;
				}else if(tasksURL){
					filtroScroll.tasks = 1;
				}else if(csLI > 0){
					var text = $('ul.listaMural > li.custom-search').attr('data-text');
					filtroScroll.texto = text;
					clear = '';
				}else{
					var filterParam = $('ul.listaMural > li.infoFilter span.descricaoPost > a').attr('data-filtro');
					var filterValue = $('ul.listaMural > li.infoFilter span.descricaoPost > a').attr('data-id');
					clear = '';
					filtroScroll[filterParam] = filterValue;
				}
			   
			   LiveMural.buscaPosts(filtroScroll, clear, modeMural);
	       }
	   }
	});//fim
	
	var filtroTagUrl = getURLParameter("tag");
	var filtroCategoriaUrl = getURLParameter("categoria");
	
	if(filtroTagUrl != null || filtroCategoriaUrl != null){
		if(!PARAMS.SIDEBOX_RELOAD_AJAX || PARAMS.SIDEBOX_RELOAD_AJAX != 1){
			if(filtroTagUrl){
				var filtro = "tags";
				var filtroId = filtroTagUrl;
				var textoFiltro = 'Mostrando posts com a tag: <a class="sbold" data-id="'+filtroId+'" data-filtro="'+filtro+'">'+PARAMS.FILTER_NAME_SIDEBOX+'</a>';
			}
			if(filtroCategoriaUrl){
				var filtro = "categoria_id";
				var filtroId = filtroCategoriaUrl;
				var textoFiltro = 'Mostrando posts com a categoria: <a class="sbold" data-id="'+filtroId+'" data-filtro="'+filtro+'">'+PARAMS.FILTER_NAME_SIDEBOX+'</a>';
			}
			
			var infoFilter = '';
			infoFilter += '<li class="infoFilter" style="display: none;">';
				infoFilter += '<div class="alturaMensagem">';
					infoFilter += '<div class="mensagemPost">';
						infoFilter += '<i class="fa fa-info-circle font-blue" aria-hidden="true"></i>&nbsp;';
						infoFilter += '<span class="descricaoPost">'+textoFiltro+'</span>';
						infoFilter += '<i class="fa fa-close mural-close-icon redirect-mural" aria-hidden="true"></i>';
					infoFilter += '</div>';
				infoFilter += '</div>';
			infoFilter += '</li>';
			
			var timer = null;
			if(timer != null){
	            clearInterval(timer);
			}
			$("ul.listaMural").prepend(infoFilter);
			
			timer = setInterval(function(){
				$('ul.listaMural > li.infoFilter').slideDown(500);
			}, 300);
		}	
	}
	
	$('body').on('click', 'ul.ui-autocomplete li > a.see-search-results-mural', function(event){
		var txt = $('input#busca').val();
		var filtro = {
			texto: txt,
			maxRows: 20,
			buscaPosts: 1
		}
		$('ul.ui-autocomplete').slideUp();
		LiveMural.buscaPosts(filtro, true, modeMural);
	});
	
	$('body').on('click', 'ul.listaMural > li .mural-close-icon', function(){
		if($(this).hasClass('reset-filter-mural')){
			var obj = {
				parent: 'ul.listaMural > li.infoFilter',
				isRemoveParent: true,
				isResetMural: true
			};
		}else if($(this).hasClass('redirect-mural')){
			var obj = {
				parent: 'ul.listaMural > li.infoFilter',
				isRemoveParent: true,
				isResetMural: false,
				isRedirectMural: true
			};
		}else{
			var pai = $(this).closest('li').attr('class');
			var p = 'ul.listaMural > li.'+pai;
			var obj = {
				parent: p,
				isRemoveParent: true,
				isResetMural: false
			};
		}
		resetFilterMural(obj);
	});
	
});//fim ready
</script>
<ul class="lista listaMural"></ul>
#parse("/modals/modal_ver_rlt.htm")
<div class="paginaAtual" data-page="-1"></div>
<div class="muralVazio"></div>
<script>
$(document).ready(function(){
	// replace url to link
	findUrls(".mensagemPost");
	
    $(".jwVideo").click(function (event) {
         var myVideo = $(this).attr('href');
         var myThumb = $(this).attr('itemprop');
             jQuery.fancybox({
             maxWidth: 640,
             maxHeight: 340,
             fitToView: false,
             width: '100%',
             height: '100%',
             autoSize: false,
             closeClick: false,
             openEffect: 'none',
             closeEffect: 'none',
             content: '<div id="container">Carregando... </div>',
             afterShow: function () {
                 jwplayer("container").setup({
                	 flashplayer: "$context/js/player.swf",
                     file: myVideo,
                     image: myThumb,
                     width: '100%',
                     height: '100%',
                     fallback: 'false',
                     autostart: 'false',
                     primary: 'flash',
                     controls: 'true'
                 });
             }
         });
         event.preventDefault();
     });
});
</script>