<div class="filtroPosts">
	<div class="campoPost">
    	<label class="labelPost" for="filtroNome">$messages.get('usuario.label')</label>
        <div class="inputHolder">
	       	<input type="text" class="input placeholder" value="" id="filtroNome" name="filtroNome" rel="$messages.get('digite.usuario.postou.label')">
			<input type="hidden" name="filtroUser_post_id" id="filtroUser_post_id" value="">
        </div>
    </div>
    <div class="campoPost">
		<label class="labelPost" for="filtroCategoria_id">$messages.get('data.label')</label>
		<div class="inputHolder">
			<select id="filtroData" name="filtroData">
				<option value="">$messages.get('todas.label')</option>
				<option value="1">$messages.get('hoje.label')</option>
				<option value="2">$messages.get('ontem.label')</option>
				<option value="3">$messages.get('ultima.semana.label')</option>
				<option value="6">$messages.get('mes.atual.label')</option>
				<option value="4">$messages.get('mes.anterior.label')</option>
				<option value="5" class="inserirData">$messages.get('inserir.data.label')</option>
			</select>
		</div>
	</div>	
	<div class="campoPost abreDatasFiltro">
		<div class="inputHolder">
			<div class="clearfix">
				<div class="umMeio left">
					<input type="text" name="filtroDataInicial" id="filtroDataInicial" class="input placeholder data" rel="$messages.get('de.label')"/>
				</div>
				<div class="umMeio">
					<input type="text" name="filtroDataFinal" id="filtroDataFinal" class="input placeholder data" rel="$messages.get('ate.label')"/>
				</div>
			</div>
		</div>
	</div>
    <div class="campoPost">
    	<label class="labelPost" for="filtroTexto">$messages.get('titulo.label')</label>
        <div class="inputHolder">
	       	<input type="text" class="input placeholder" value="" id="filtroTexto" name="filtroTexto" rel="$messages.get('digite.palavra.chave.buscar.titulo.label')">
        </div>
    </div>
    <div class="campoPost">
		<label class="labelPost" for="filtroCategoria_id">$messages.get('categoria.label')</label>
		<div class="inputHolder">
			<select id="filtroCategoria_id" name="filtroCategoria_id">
				<option value="">$messages.get('todas.label')</option>
				#foreach($c in $categorias)
				<option value="$c.id">$c.nome</option>
				#end
			</select>
		</div>
	</div>
	#if($buildType == "itau")	
	<div class="campoPost">
   		<label class="labelPost" for="filtroTags">
#if(!$chapeu_subcategoria_label_on || $!chapeu_subcategoria_label_on != 1)
Subcategorias
#else
$messages.get('chapeu.label')
#end
</label>
        <div class="inputHolder">
           	<input type="text" class="input placeholder"  size="20" value="" id="filtroChapeuFake" name="filtroChapeuFake" rel="$messages.get('posts.contendo.chapeu.label')">
			<input type="hidden" name="filtroChapeu" id="filtroChapeu" value="">
        </div>
   	</div>
   	#end
	<div class="campoPost">
   		<label class="labelPost" for="filtroTags">$messages.get('tags.label')</label>
        <div class="inputHolder">
           	<input type="text" class="input placeholder"  size="20" value="" id="filtroTags" name="filtroTags" rel="$messages.get('posts.contendo.tags.label')">
			<input type="hidden" name="idsTagsFiltro" id="idsTagsFiltro" value="">
			<input type="hidden" name="idsFakeTagsFiltro" id="idsFakeTagsFiltro" value="">
        </div>
   	</div>
   	<div class="campoPost">
   		<label class="labelPost" for="filtroGrupo">$messages.get('grupos.label')</label>
        <div class="inputHolder">
           	<input type="text" class="input placeholder"  size="20" value="" id="filtroGrupo" name="filtroGrupo" rel="$messages.get('posts.seguintes.tags.label')">
			<input type="hidden" name="filtroGrupoIds" id="filtroGrupoIds" value="">
        </div>
   	</div>
   	<div class="campoPost noHeight">
   		<div class="inputHolder">
   			<label class="labelCheck"><input type="checkbox" value="1" id="filtroAnexo" name="filtroAnexo"/>$messages.get('contem.anexo.link.label')</label>
   		</div>
   	</div>
   	<div class="campoPost noHeight">
   		<div class="inputHolder">
   			<label class="labelCheck"><input type="checkbox" value="1" id="filtroDestaque" name="filtroDestaque"/>$messages.get('post.destaque.label')</label>
   		</div>
   	</div>
   	<div class="botoesForm clearfix">
      	<input type="submit" class="botao salvar filtroFiltrar" value="$messages.get('filtrar.label')">
      	<a class="btCancelarFiltro botao cancelar" href="#">$messages.get('cancelar.label')</a>         
    </div>
</div>