<script>
function copiar(s) {
	document.form.nome.value = s;
}
</script>
${form.startTag()}
<div class="page-content">
	<h3 class="page-title">Log4J</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/root/root.htm">Root</a><i class="fa fa-angle-right"></i></li>
			<li><span>Log4J</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp; $messages.get('visualizar.logs.label')</span>
					</div>
					<div class="actions">
						<div class="col-md-6">
							$form.fields.nome
						</div>
						<div class="pull-right">
							<div class="pull-left">$!form.fields.visualizar&nbsp;</div>
							<div class="pull-left">&nbsp;$!form.fields.baixar</div>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					#set($logPath = "/livecom/logs")
						<p class="labelCampo">$messages.get('alguns.arquivos.logs.label'):</p><br/>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/importacao_usuario.log')">${logPath}/importacao_usuario.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/email.log')">${logPath}/email.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/LDAPUtil')">${logPath}/LDAPUtil</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/spring.log')">${logPath}/spring.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/hibernate.log')">${logPath}/hibernate.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/hibernate_sql.log')">${logPath}/hibernate-sql.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/chat.log')">${logPath}/chat.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/push_service.log')">${logPath}/push_service.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/login.log')">${logPath}/login.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/upload.log')">${logPath}/upload.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/web_services.log')">${logPath}/web_services.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/S3Helper.log')">${logPath}/S3Helper.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/AdminFilePage.log')">${logPath}/AdminFilePage.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/AdminFilePage.log')">${logPath}/AdminFilePage.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/ConvidarUsuariosPage.log')">${logPath}/ConvidarUsuariosPage.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/LivecomPage.log')">${logPath}/LivecomPage.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/MensagemService.log')">${logPath}/MensagemService.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/SendPushNotificationJob.log')">${logPath}/SendPushNotificationJob.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/importacao_usuario.log')">${logPath}/importacao_usuario.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/importacao_usuario_error.log')">${logPath}/importacao_usuario_error.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/ImportarArquivosJobFile.log')">${logPath}/ImportarArquivosJobFile.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/security.log')">${logPath}/security.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/WebSocket.log')">${logPath}/WebSocket.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/LivecomChatAkkaHelper.log')">${logPath}/LivecomChatAkkaHelper.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/LivecomRouter.log')">${logPath}/LivecomRouter.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/LoginActor.log')">${logPath}/LoginActor.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/MainActor.log')">${logPath}/MainActor.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/TcpConnectionActor.log')">${logPath}/TcpConnectionActor.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/UserActor.log')">${logPath}/UserActor.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/UserMessageRouter.log')">${logPath}/UserMessageRouter.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/UserSendMessageActor.log')">${logPath}/UserSendMessageActor.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/WebConnectionActor.log')">${logPath}/WebConnectionActor.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/importacao_grupo.log')">${logPath}/importacao_grupo.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/importacao_grupo_error.log')">${logPath}/importacao_grupo_error.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/importacao_usuario.log')">${logPath}/importacao_usuario.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/importacao_usuario_error.log')">${logPath}/importacao_usuario_error.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/importacao_diretoria.log')">${logPath}/importacao_diretoria.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/importacao_diretoria_error.log')">${logPath}/importacao_diretoria_error.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/importacao_area.log')">${logPath}/importacao_area.log</a></p>
						<p class="observacao"><a class="font-blue" href="javascript:copiar('${logPath}/importacao_area_error.log')">${logPath}/importacao_area_error.log</a></p>
						<hr>
					#set($msg = $session.msg)
					<div class="clearfix">
					#if($msg)
						<div class="observacao"><i class="icones ico-alerta"></i>$msg</div>
					#end
					</div>
				</div>
			</div>
		</div>
	</div>
${form.endTag()}
</div>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>