<div class="titulo">Log4J</div>
<pre>
<table id="table" width="100%">
	<tr>
		<td align="left" width="20%" nowrap="true">
			Hora servidor
		</td>
		<td align="left" width="80%" nowrap="true">
			$now
		</td>
	</tr>
</table>
</pre>
<div class="form">
Para ativar a monitoração, informe este parâmetro de sistema no servidor "Dlog4j.debug=true"
$!form
</div>
#parse("/msg.htm")
<script>
//area = document.form.form_appenders;
//area.scrollTop = area.scrollHeight;
//alert(area + " - " + area.scrollTop  + " - " + area.scrollHeight);

//var psconsole = $('#form_appenders');
//psconsole.scrollTop(
//    psconsole[0].scrollHeight - psconsole.height()
//);
</script>