${form.startTag()}
	<div class="formDados">
		<h3>$messages.get('censurar.palavras.label')</h3>
	
		<label class="labelCampo">$messages.get('palavra.label')</label>
		<div class="campoPost">
			$form.fields.palavra
			<br /><br /><small>$messages.get('censurar.palavras.mensagens.label')</small>
			<br />
		</div>
		<div class="clearfix botoesSalvar">
			<div class="umMeio left">
				$form.fields.salvar  $form.fields.cancelar
			</div>
		</div>
	
	</div>
${form.endTag()} 
#parse("/msg.htm")
<br />
$table
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>