<script>
$(document).ready(function() {
$(".botaoFoto").uploadFile({
		url: urlContext+'/ws/uploadFile.htm',
		method: "POST",
		formData: {
        	'dir': 'arquivos',
        	'descricao': '',
        	'tipo': '1',
        	'user_id': userId,
        	'mode': 'json',
        	'form_name': 'form'
        },
		allowedTypes:"psd,jpg,jpeg,png,gif,doc,pdf,zip,rar,docx,xls,odt,xlsx,tar,gz,txt,rtf,csv,ico",
		fileName: "fileField",
		showDelete: false,
		showAbort: false,
		maxFileSize:1024*5120, //5mb,
		dragDrop: false,
		multiple: false,
		uploadButtonClass:"botaoFoto botao branco ",
		onSubmit:function(files){
			$(".trocaFotoUser").append('<i class="icones ac_loading"></i>');
		},
		onSuccess:function(files,data,xhr){
			$(".trocaFotoUser .icones.ac_loading").remove();
			$(".trocaFotoUser img").attr("src", data.file.urlThumb);
			$("#form_arquivoFotoId").val(data.file.id);
		},
		onError: function(files,data,errMsg){	
			$(".trocaFotoUser .icones.ac_loading").remove();
			jAlert("$messages.get('msg.upload.error')", "$messages.get('atencao.label')", null);
		}
	});
$("#form_nome").focus();
});
</script>

<div class="headerPagina clearfix">
<!-- <h2 class="tituloPagina">
		<a href="$context/admin/eventosMenu.htm" class="tituloPagina" style="text-decoration:none">$messages.get('evento.label')</a> &nbsp; 
		<img src="$context/img/seta.png"> <a href="$context/admin/palestrantes.htm" style="text-decoration:none;color:#808080">$messages.get('palestrante.label')</a>&nbsp; 
		<img src="$context/img/seta.png"> $messages.get('menu.cadastro')</h2> -->
		<h2 class="tituloPagina">$messages.get('menu.cadastro')</h2>
</div>
	<div class="breadcrumb">
	    <a href="$context/admin/eventosMenu.htm">$messages.get('evento.label')</a>
	    <a href="$context/admin/palestrantes.htm">$messages.get('palestrante.label')</a>
	    <a class="active" href="">$messages.get('menu.cadastro') de Palestrante</a>
	</div>
<br>

<div class="formDados cadastrosEventos">
	${form.startTag()}
	<div class="clearfix">
		<div class="umTerco left">
			<div class="fotoUsuario big trocaFotoUser">
				<div class="centraliza"><img #if(!$palestrante)src="$context/img/usuario.png" #else src="${palestrante.getUrlFoto()}" #end alt="$!u.nome" /></div>
			</div>
			
			<input type="hidden" value="" id="form_arquivoFotoId" name="arquivoFotoId">
			
			<div class="uploadFotoUsuario">
				<div class="botao branco botaoFoto"><span class="file-wrapper"><span class="button">$messages.get('inserir.alterar.foto.label')</span></span></div>
			</div>
			<!-- <div class="botao branco botaoFoto"><span class="file-wrapper">$form.fields.file <span class="button">Inserir/Alterar foto</span></span></div> -->
		</div>
		<div class="doisTercos">
			<label class="labelCampo">$messages.get('nome.completo.label')</label>
			<div class="campoPost">
				#if($campos.isCampoObrigatorioCadastroAdmin("nome"))<span class="campoObrigatorio">*</span>#end
				$form.fields.nome
			</div>
			
			<label class="labelCampo">$form.fields.email.label</label>
			<div class="campoPost">
				#if($campos.isCampoObrigatorioCadastroAdmin("email"))<span class="campoObrigatorio">*</span>#end
				$form.fields.email
			</div>
			<label class="labelCampo">$form.fields.curriculo.label</label>
			<div class="campoPost">$form.fields.curriculo</div>
			
		</div>
	</div>
	
	<div class="clearfix botoesSalvar">
		<input type="submit" class="botao btSalvar" value="#if($id || $representante.id) $messages.get('salvar.label') #else $messages.get('cadastrar.label') #end" id="form_salvar" name="salvar"/> 
	</div>
${form.endTag()} 
</div><!-- fim formDados -->
#parse("/msg.htm")
<br />
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>