<div class="page-content">
	<h3 class="page-title">$messages.get('relatorio.conversa.label')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('relatorio.conversa.label')</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Filtro</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-down tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body toggled">
					${form.startTag()}
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-user"></i>&nbsp;Id:</label>
								<div class="campoPost">
									$form.fields.id
								</div>
							</div>
							<div class="col-md-5 form-group">
								<label class="labelCampo control-label"><i class="fa fa-user"></i>&nbsp;$form.fields.usuario.label:</label>
								<div class="campoPost">
									$form.fields.usuario
								</div>
							</div>
							<div class="col-md-5 form-group">
								<label class="labelCampo control-label"><i class="fa fa-users"></i>&nbsp;$form.fields.grupo.label:</label>
								<div class="campoPost">
									<input type="text" class="input form-control" value="" id="filtrarGrupo" name="grupo">
								</div>
							</div>
						</div>
						<div class="clearfix text-right">
							$form.fields.filtrar
						</div>
					${form.endTag()} 
				</div>
			</div>
		
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-comments"></i> $messages.get('relatorio.conversa.label')</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead>
							<tr>
								<th>Conversa</th>
								<th>Mensagem</th>
								<th>De</th>
								<th>Para</th>
								<th>Ultima Mensagem</th>
								<th>Data</th>
								<th>Entregue</th>
								<th>Lida</th>
								<th>Detalhes</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<div class="paginaAtual" data-page="-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script>
var linha = 0;
$(document).ready(function(){
	
	var filtro = getFiltro();
	var user = $("#usuario").val();
	filtro.page = 0;
	relConv(filtro);
	
	var usuario = [];
	var grupo = [];
	
	#if($filtro.user)
		usuario.push({
			id: '$filtro.user.id',
			nome: '$filtro.user.nome'
		});
	#end
	
	#if($filtro.group)
		grupo.push({
			id: '$filtro.group.id',
			nome: '$filtro.group.nome'
		});
	#end
	
	if($("#usuario").length > 0){
		usuarioRestTokenInput({
			element: "#usuario",
			url: urlContext+"/rest/usuario?max=15",
			jsonContainer : null,
			queryParam: "nome",
			hintText: "Comece a digitar para buscar.",
			noResultsText: "Nenhum item encontrado",
			searchingText: "Carregando...",
			preventDuplicates: true,
        	propertyToSearch: "nome",
        	tokenLimit: 1,
			prePopulate: usuario,
	      onAdd: function (item) {
				$(this).val(item.id);
			},
	      onDelete: function (item) {
	      	$("#usuario").val("");
			}
		});
	}
	
	if($("#filtrarGrupo").length > 0){
		gruposTokenInput({
			element: "#filtrarGrupo",
			url: urlContext+"/ws/gruposAutoComplete.htm?mode=json&pode_postar=1&form_name=form&search=gruposUser&not_grupo_ids="+$("#idsGrupos").val()+"&participo=1&user_id="+userId+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN,
			hintText: "Comece a digitar para buscar.",
			noResultsText: "Nenhum item encontrado",
			searchingText: "Carregando...",
			preventDuplicates: true,
			prePopulate: grupo,
			onAdd: function (item) {
				$(this).val(item.id);
	        },
			onDelete: function (item) {
	      	$("#filtrarGrupo").val("");
	      }
		});
	}
	
	// clica para filtrar o usuário
	$("#form_filtrar").on("click",function(e){
		e.stopPropagation();
		e.preventDefault();
		var filtro = getFiltro();
		var user = $("#usuario").val();
		$(".rTable").find(".rTableRow:not(.header)").remove();
		$(".rTable").hide();
		$(".paginaAtual").show();
		filtro.page = 0;
		relConv(filtro);
	});
	
});//fim doc

function getFiltro(linha, page) {
    var filtro = {
    	id: $("#id").val(),
		usuario: $("#usuario").val(),
		grupo: $("#filtrarGrupo").val()
	};
    return filtro;
}

var dTable = null;

function relConv(filtro){
	var filtro = getFiltro();
	jsHttp.get("$context/rest/v1/report/conversa",{
		data: filtro,
		beforeSend: function(){
			$(".paginaAtual").show();
		},
		success: function (data) {
			var conteudo = "";
			for(var i in data) {
				var campo = data[i];
				conteudo += createTable(campo);
			}
			if(dTable != null) {
				$(".table > tbody").empty();
				dTable.clear();
				dTable.destroy();
			}
			dTable = loadTable(conteudo);
			dTable.data(conteudo).page.len(50).draw();
			$(".paginaAtual").hide();
		}
	});

}

function createTable(campo){
	var rTable = "";
	
		rTable += '<tr data-id="'+campo.conversaId+'">';
		rTable += "<td>"+campo.conversaId+"</td>";
		rTable += "<td>"+campo.id+"</td>";
		rTable += '<td>'+campo.fromNome+'</td>';
		rTable += '<td>'+campo.toNome+'</td>';
		rTable += '<td>'+campo.lastMsg+'</td>';
		rTable += "<td>"+campo.dataUpdated+"</td>";
		
		if(campo.isEntregue) {
			rTable += '<td align="center"><i class="fa fa-check font-green-sharp"></i></td>';
		} else {
			rTable += '<td align="center"></td>';
		}
		
		if(campo.isLida) {
			rTable += '<td align="center"><i class="fa fa-check font-green-sharp"></i></td>';
		} else {
			rTable += '<td align="center"></td>';
		}
		
		rTable += '<td><a class="font-blue" href="$context/admin/detalhesRelatorioConversa.htm?conversa='+campo.conversaId+'">Detalhes</a></td>';
	rTable += "</tr>";
	return rTable;
}
</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>