<div class="page-content">
	<h3 class="page-title">
		$messages.get('menu.relatorios') <small> $buildType</small>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('menu.relatorios')</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-body">
					<div class="clearfix">
						
						<div class="row">
							<div class="col-md-4 form-group">
								<div class="square holdSquare">
									<div class="caption font-blue">
										<span class="caption-subject bold uppercase">
											<i class="fa fa-bar-chart"></i>&nbsp;Relatórios de Comunicados
										</span>											
                          	</div>
								</div>
							</div>
						</div>
						
						<div class="clearfix">
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/relVisu.png" alt="Relatório de Visualização" />
										<h3>Relatorio de Visualização</h3>
									</div>
									<a href="$context/admin/relatorioVisualizacao.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/audReport.png" alt="Relatório de Audiência" />
										<h3>Relatorio de Audiência</h3>
									</div>
									<a href="$context/report/audienciaReport.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/favReport.png" alt="$messages.get('report.favorito.title')" />
										<h3>$messages.get('report.favorito.title')</h3>
									</div>
									<a href="$context/report/favoritosReport.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/numLikes.png" alt="Relatório de Likes" />
										<h3>Relatório de Likes</h3>
									</div>
									<a href="$context/report/likesReport.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/notReport.png" alt="Relatório de Notificações" />
										<h3>Relatório de Notificações</h3>
									</div>
									<a href="$context/report/notificationsReport.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/relVersoes.png" alt="Relatório de Versões" />
										<h3>Relatório de Versões</h3>
									</div>
									<a href="$context/report/versaoReport.htm?clear=true"></a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="clearfix">
						
						<div class="row">
							<div class="col-md-4 form-group">
								<div class="square holdSquare">
									<div class="caption font-blue">
										<span class="caption-subject bold uppercase">
											<i class="fa fa-flag-o"></i>&nbsp;Relatórios de push
										</span>
                    			 </div>
								</div>
							</div>
						</div>
						
						<div class="clearfix">
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/relGeral.png" alt="Relatório Geral" />
										<h3>Relatório Geral</h3>
									</div>
									<a href="$context/report/push/geralPushReport.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/relUsers.png" alt="Relatório de Usuários" />
										<h3>Relatório de Usuários</h3>
									</div>
									<a href="$context/report/push/usuariosPushReport.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/pushReport.png" alt="Relatório de Push" />
										<h3 class="fix-small">Relatório de Push</h3>
										<small>Comunicação entre Push e Livecom</small>
									</div>
									<a href="$context/report/pushReport.htm?clear=true"></a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="clearfix">
					
						<div class="row">
							<div class="col-md-4 form-group">
								<div class="square holdSquare">
									<div class="caption font-blue">
										<span class="caption-subject bold uppercase">
											<i class="fa fa-sign-in"></i>&nbsp;Relatórios de Acessos
										</span>
                           </div>
								</div>
							</div>
						</div>
						
						<div class="clearfix">
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/relUsers.png" alt="Relatório de Usuários" />
										<h3>Relatório de Usuários</h3>
									</div>
									<a href="$context/report/usuariosReport.htm"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/logReport.png" alt="$messages.get('report.login.title.page')" />
										<h3>$messages.get('report.login.title.page')</h3>
									</div>
									<a href="$context/report/loginReport.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/numAcesso.png" alt="$messages.get('numero.de.acessos.label')" />
										<h3>$messages.get('numero.de.acessos.label')</h3>
									</div>
									<a href="$context/admin/numeroDeAcessos.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/numAcessoVersao.png" alt="$messages.get('numero.de.acessos.versao.label')" />
										<h3>$messages.get('numero.de.acessos.versao.label')</h3>
									</div>
									<a href="$context/admin/numeroDeAcessosVersao.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/listFunc.png" alt="$messages.get('lista.funcionais.label')" />
										<h3>$messages.get('lista.funcionais.label')</h3>
									</div>
									<a href="$context/admin/acessoFuncionais.htm?clear=true"></a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="clearfix">
					
						<div class="row">
							<div class="col-md-4 form-group">
								<div class="square holdSquare">
									<div class="caption font-blue">
										<span class="caption-subject bold uppercase">
											<i class="fa fa-envelope"></i>&nbsp;Relatórios de email
										</span>
              			 		</div>
								</div>
							</div>
						</div>
						
						<div class="clearfix">
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/emailReport.png" alt="Relatório de E-mails" />
										<h3>Relatório de E-mails</h3>
									</div>
									<a href="$context/report/emailReport.htm?clear=true"></a>
								</div>
							</div>
							#if($!CADASTRAR_NEWSLETTER)
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/unsubscribeReport.png" alt="Relatório de Unsubscribe" />
										<h3>Relatório de Unsubscribe</h3>
									</div>
									<a href="$context/report/unsubscribeReport.htm?clear=true"></a>
								</div>
							</div>
							#end
						</div>
					</div>
					
					<div class="clearfix">
					
						<div class="row">
							<div class="col-md-4 form-group">
								<div class="square holdSquare">
									<div class="caption font-blue">
										<span class="caption-subject bold uppercase">
											<i class="fa fa-desktop"></i>&nbsp;Sistema
										</span>
                           </div>
								</div>
							</div>
						</div>
						
						<div class="clearfix">
							#if($!IMPORTACOES)
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/logImportacao.png" alt="$messages.get('log.importacao.label')" />
										<h3>$messages.get('log.importacao.label')</h3>
									</div>
									<a href="$context/admin/importacao.htm?clear=true"></a>
								</div>
							</div>
							#end
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/logSys.png" alt="$messages.get('menu.log.sistema')" />
										<h3>$messages.get('menu.log.sistema')</h3>
									</div>
									<a href="$context/admin/logSistema.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/logTransacao.png" alt="$messages.get('menu.log.transacao')" />
										<h3>$messages.get('menu.log.transacao')</h3>
									</div>
									<a href="$context/admin/logTransacao.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/logAuditoria.png" alt="$messages.get('menu.log.auditoria')" />
										<h3>$messages.get('menu.log.auditoria')</h3>
									</div>
									<a href="$context/report/auditoriaReport.htm?clear=true"></a>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="link-box box-shadow">
									<div class="link-box-container">
										<img class="img-relatorio" src="../imagens/reports/postReport.png" alt="Relatório de Envio de Posts" />
										<h3>Relatório de Envio de Posts</h3>
									</div>
									<a href="$context/report/envioPostsReport.htm?clear=true"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")