<!-- roadmap -->
<div class="roadmap">
	<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
		<thead>
			<tr>
				<th>BackLog - prioritários</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Seguranca: Arquivos estão públicos na internet. Precisam estar privados apenas pro Livecom.</td>
			</tr>
			<tr>
				<td>Configurações de Push e Silenciar por Grupo ou Geral, no app (25/Set).</td>
			</tr>
			<tr>
				<td>Replicar config cima para Silenciar Usuario (25/Set).</td>
			</tr>
			<tr>
				<td>Lista de Usuarios e Busca com prioridade (30/Set).</td>
			</tr>
			<tr>
				<td>Ordenar Post por prioridade, ex: cargo Direito vem na frente, mais curtidas, mais comentários (31/Out).</td>
			</tr>
			<tr>
				<td>Testar Trial (31/Nov).</td>
			</tr>
			<tr>
				<td>Site Livetouch Social, Livetouch Push, Livetouch Chat (31/Nov).</td>
			</tr>
		</tbody>
	</table>
	
	<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
		<thead>
			<tr>
				<th><span>Itens de Segurança</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Token offline pra logar no livecom. Opção de manter logado.</td>
			</tr>
		</tbody>
	</table>
	
	<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
		<thead>
			<tr>
				<th>BackLog Revista</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Thumbs / Galeria / Crop</td>
			</tr>
		</tbody>
	</table>


	<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
		<thead>
			<tr>
				<th>BackLog - menos prioritáros</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Definir quem pode postar no Público.</td>
			</tr>
			<tr>
				<td>Transformar campo visibilidade em Radio Button.</td>
			</tr>
			<tr>
				<td>Permitir usar o mesmo login sendo empresas diferentes</td>
			</tr>
			<tr>
				<td>Funcionalidade de marcar usuários no comentário ex: @Ricardo</td>
			</tr>
			<tr>
				<td>Salvar draft o Post de 2 em 2 min.</td>
			</tr>
			<tr>
				<td>Colocar reports de Email pela Amazon (email enviado, spam, clicou no email, etc). Seria bom para Email Marketing (saber se chego email, spam, etc.)</td>
			</tr>
			<tr>
				<td>Livecom postar no Mural por email, ou Push + Email.</td>
			</tr>
		</tbody>
	</table>


	<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
		<thead>
			<tr>
				<th>Versão: <span>Novas Funcionalidades previstas pelo Marcio - MVP</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Enquete, Pesquisa de satisfação</td>
			</tr>
			<tr>
				<td>Eventos</td>
			</tr>
			<tr>
				<td>Cadastro campos dinamicos, Tags/Classes dinamicas no usuario. 
				Depois fazer busca pelas tags (ex: masculino, advogado, futebol) e depois criar grupo.</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
		<thead>
			<tr>
				<th><span>Melhorias tecnicas</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>No perfil do usuario, as configs de Seguir contatos e grupos pode ficar nessa tela.</td>
			</tr>
			<tr>
				<td>permissoes de grupo, ao remover acesso apagar todos usuarios q podem postar</td>
			</tr>
			<tr>
				<td>Atualizar Mural (pelo sidebox) utilizando Ajax, sem refresh na tela</td>
			</tr>
			<tr>
				<td>Fazer tree para visualizar a árvore de LDAP.</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
		<thead>
			<tr>
				<th><span>Push</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Melhorar relatórios e dashboards.</td>
			</tr>
		</tbody>
	</table>
	
	<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
		<thead>
			<tr>
				<th>Chat</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Diferenças Layout.</td>
			</tr>
			<tr>
				<td>Barra vertical igual linkedin.</td>
			</tr>
			<tr>
				<td>Popup ao criar nova conversa.</td>
			</tr>
			<tr>
				<td>Detalhes do usuário.</td>
			</tr>
			<tr>
				<td>Lista fontes.</td>
			</tr>
			<tr>
				<td>Icone Usuario +.</td>
			</tr>
			<tr>
				<td>Remover sidebox.</td>
			</tr>
		</tbody>
	</table>
	
	<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
		<thead>
			<tr>
				<th>App iOS</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Da muitos erros de conexao quando vem de background.</td>
			</tr>
		</tbody>
	</table>
</div>