<div class="page-content">
	<h3 class="page-title">
		Informações de Sistema <small> $buildType</small>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Sistema</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-briefcase"></i> $buildType</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
						<tbody>
							#if($session.userInfo.isRootEmpresa())
							<tr align="center">
								<td><a href="$context/configuracoes/" class="font-blue">Configurações da Empresa</a></td>
							</tr>
							#end
							#if($!CONFIGURACOES_AVANCADAS)
							<tr align="center">
								<td><a href="$context/admin/system.htm" class="font-blue">Informações de Sistema</a></td>
							</tr>
							#end
							#if($!VISUALIZAR_RELATORIOS)
							<tr align="center">
								<td><a href="$context/admin/relatorios.htm" class="font-blue">Relatórios</a></td>
							</tr>
							#end
							#if($!CONFIGURACOES_AVANCADAS)
							<tr align="center">
								<td><a href="$context/admin/usuariosLogados.htm" class="font-blue">$messages.get('usuariosLogados')</a></td>
							</tr>
							#end
							#if($!EXPORTACOES)
							<tr align="center">
								<td><a href="$context/admin/exportacao.htm" class="font-blue">Exportação</a></td>
							</tr>
							#end
							#if($!IMPORTACOES)
							<tr align="center">
								<td><a href="$context/admin/importacao.htm" class="font-blue">Importação</a></td>
							</tr>
							#end
							#if($buildType == 'livecom')
							<tr align="center">
								<td><a href="$context/admin/changelog.htm" class="font-blue">Changelog</a></td>
							</tr>
							#end
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")