$statistics
<hr>
Entity [$entity] - $statisticsEntity
<hr>
Query [$query] - $queryStatistics
<hr>
#set($i = 0)
Queries size ($queries.size())
<br>
#foreach($q in $queries)
$i = <a href="$context/$path?entity=$entity&query=$q">$q</a>
#set($i = $i + 1)
<br>
#end