<div class="headerPagina clearfix">
	<h2 class="tituloPagina">Status Chat</h2>
</div>

<div class="formDados">
${form.startTag()}
<div class="clearfix">
	<div class="center quebraLinhaForm">
		<div class="umMeio left">
			<label class="labelCampo">$form.fields.nome.label</label>
			<div class="campoPost">
 				$form.fields.nome
   			</div>
		</div>
		<div class="umMeio right">
			<label class="labelCampo">$form.fields.usuario.label</label>
			<div class="campoPost">
   				$form.fields.usuario
   			</div>
		</div>
	</div>
	</div>
	<div class="clearfix botoesSalvar quebraLinhaForm">
		<div class="center">
			$form.fields.salvar $form.fields.novo
		</div>
	</div>
</div>
${form.endTag()} 

#parse("/msg.htm")
<br />
$table

<script type="text/javascript">
$(document).ready(function(){
	
	var usuario = [];
	
	#if($statusChat.usuario)
		usuario.push({
			id: '$statusChat.usuario.id',
			nome: '$statusChat.usuario.nome'
		});
	#end
	
	if($("#usuario").length > 0){
		$("#usuario").tokenInput(urlContext+"/rest/usuario?max=5", {
			method: "GET",
			queryParam: "nome",
			jsonContainer : null,
			tokenLimit: 1,
			hintText: "Comece a digitar para buscar.",
	        noResultsText: "Nenhum item encontrado",
	        searchingText: "Carregando...",
	        preventDuplicates: true,
	        propertyToSearch: "nome",
	        onAdd: function (item) {
				$(this).val(item.id);
	        },
	        onDelete: function (item) {
	        	$("#usuario").val("");
	        },
	        prePopulate: usuario
	    });
	}
	
});

</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>