<div class="page-content">
	<h3 class="page-title">
		Informações de Sistema <small> $!buildType</small>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Informações de Sistema</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet light ">
				<div class="portlet-title">

					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-users"></i> Sistema</span>
					</div>
				</div>
				<div class="portlet-body">

					<div class="clearfix">
						<p class="observacao left">Sistema</p>
						<p class="observacao left">
							Memória: <b>$memoria</b>
						</p>
						<br>
						<p class="observacao left">
							RuntimeMXBean: <b>$mxBean.vmName, $mxBean.vmVendor, $mxBean.vmVersion, $mxBean.specName, $mxBean.specVendor, $mxBean.specVersion</b>
						</p>
						<p class="observacao left">
							StartTime: <b>$format.date($start, "dd/MM/yyyy, HH:mm:ss")</b> - upTime: <b>$uptime</b>
						</p>
						<!-- aqui colocar os outros arquivos conhecidos pelo sistema -->
						<br>
						<p class="observacao left">
							args: <b>$mxBeanInputArguments</b>
						</p>
					</div>

					<br>
					<div class="clearfix">
						<p class="observacao left">
							<b>System Properties</b>
						</p>
						<span class="systemProp">Data: $now</span>	
						#foreach($p in $system_properties)
						<p class="observacao left">$p</p>
						#end
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")