<div class="page-content">
	<h3 class="page-title"> Teste Email </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context//pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span> E-mail </span> <i class="fa fa-angle-right"></i></li>
			<li><span> Teste E-mail </span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<span class="caption-subject font-blue bold uppercase"><i class="fa fa-envelope"></i>&nbsp;Teste E-mail</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<div class="col-md-6 col-md-offset-3 col-sm-12">
					${form.startTag()}
						<div class="form-group">
							<label class="control-label labelCampo" for="form_assunto">Assunto:</label>
							$!form.fields.assunto
						</div>
						<div class="form-group">
							<label class="control-label labelCampo" for="form_msg">Mensagem:</label>
							$!form.fields.msg
						</div>
						<div class="form-group">
							<label class="control-label labelCampo" for="form_email">E-mail:</label>
							$!form.fields.email
						</div>
						<div class="clearfix resp-button">
							$!form.fields.enviar
						</div>
					${form.endTag()}
					</div>
				</div>
			</div>
			
			#if($table)
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<span class="caption-subject font-blue bold uppercase"><i class="fa fa-envelope"></i>&nbsp;Teste E-mail</span>
					</div>
				</div>
				<div class="portlet-body clearfix table-responsive">
					$!table
				</div>
			</div>
			#end
		</div>
	</div>
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>