/***** POP MENU *****/
.popMenu, .popPlaceholder {
	display: none;
	cursor: default;
	@include prefix(border-radius, 10px, webkit moz ms o);
	background: #FFF;
	position: absolute;
	border: 1px solid #d8dce0;
	@include prefix(box-shadow, 0 2px 4px 0 rgba(0, 0, 0, 0.3), webkit moz ms o);
	z-index: 7777;

	&:after {
		background: url(../../imagens/icones.png) no-repeat -102px -45px;
		content: " ";
		display: block;
		width: 12px;
		height: 12px;
		position: absolute;
		top: -11px;
		left: 50%;
		margin-left: -5px;
	}
}

.popPlaceholder {
	font-size: 12px;
	padding: 5px 10px;
	text-align: center;
}

.popMenu{
	div{
		&.listHeader, &.listFooter{
			position: relative;
			padding: 10px;
			background: #fff;
			width: auto;
			color: #323232;
			font-size: 12px;
			line-height: 20px;
		}

		&.listHeader {
			border-bottom: 1px solid #e7e7e7;
			@extend %text-right;
			@include prefix(border-radius, 10px 10px 0 0, webkit moz ms o);

			p{ @extend %float-left; }
		}

		&.listFooter {
			border-top: 2px solid #e7e7e7;
			@include prefix(border-radius, 0 0 10px 10px, webkit moz ms o);
			text-align: center;
		}
	}

	> .list-holder{
		li{ padding: 0 10px; }
	}

	> ul{
		> li{
			.notification-text-holder{ width: calc(100% - 70px); float: left; }
		}
	}

	li.noNotify {
		padding: 10px; text-align: center;
		img{ margin: 0 auto 10px; display:block; }
	}

	.dataPost {
		color: #c5c5c5;
		font-size: 10px;
		display: block;
		margin-top:5px;
	}

	.fotoUsuario {
		float: left;
		margin-right: 10px;
		border: none;
	}

	&.menuConfig{
		width: 200px; right: 0;
		
		&:after {
			left: auto;
			margin-left: 0;
			right: 15px;
		}

		> ul{
			> li{
				@extend %no-border;

				&.idiomas-padrao-config{
					.idiomas-config{
						display: none; top: 95px;

						li{
							a{
								i{
									&.idioma{
										display: inline-block;
										background: url(../../img/bandeiras/16/Unknown.png) center center no-repeat;
								    	height: 16px;
									    width: 25px;
								        position: relative;
    									top: 4px;

									    &.pt-br{ background-image: url(../../img/bandeiras/16/Brazil.png); }
									    &.pt-pt{ background-image: url(../../img/bandeiras/16/Portugal.png); }

									    &.en-uk{ background-image: url(../../img/bandeiras/16/United-Kingdom.png); }
									    &.en-us{ background-image: url(../../img/bandeiras/16/United-States.png); }

									    &.es{ background-image: url(../../img/bandeiras/16/Spain.png); }
									}
								}
							}
							&.active{ background-color:#F0F0F0;	}
						}
					}

					&:hover{
						.idiomas-config{ display: block!important; }
					}
				}

				.nomeUsuario {
					overflow: hidden;
					text-overflow: ellipsis;
					margin: 0;
				}

				> a{
					.icones, .linear-icons {
						position: absolute;
						left: 12px;
						top: 6px;
					}
				}

				&.primeiro{
					border-bottom: 1px solid #ccc;
					&.ultimo{ @extend %no-border; }
				}

				&:hover{ background-color:#F0F0F0; }

				&.idiomas-padrao{
					&:hover{
						> ul{
							display: block;
						}
					}
				}

				&.abreIdiomas{
					&:hover{
						ul.idiomas{ @extend %block; }
					}
				}

				&.exibicao-feed{
					&:hover{
						ul.config-feed{ @extend %block; }
					}
				}
			}
		}
	}

	&.idiomas, &.idiomas-config, &.config-feed{
		&:after{ right: -12px !important; }
		
		> li{
			&.ativo{ background: #e8edef; }
		}
	}

	&.config-feed{
		display: none; right: 318px; top: 145px;

		&.no-internationalization{ top: 108px; }
		&.root-empresa{
			top: 182px;
			&.no-internationalization{ top: 145px; }
		}
	}

	&.idiomas, &.idiomas-config{
		display: none; right: 318px; top: 108px;
		&.root-empresa{ top: 144px; }

		> li{
			> a{
				&:hover{ background: #e8edef; }
			}
		}
	}

	&.top, &.bottom{ left: 50%; }
	&.left, &.right{ top: 50%; }

	&.top{
		&:after {
			background: url(../../imagens/icones.png) no-repeat -131px -45px;
			top: auto;
			bottom: -11px;
			left: 50%;
			margin-left: -5px;
		}
	}

	&.right{
		&:after {
			background: url(../../imagens/icones.png) no-repeat -144px -45px;
			top: 50%;
			margin-top: -5px;
			left: -12px;
			margin-left: 0;
		}
	}

	&.left{
		&:after {
			background: url(../../imagens/icones.png) no-repeat -158px -45px;
			top: 50%;
			margin-top: -5px;
			left: auto;
			right: -12px;
			margin-left: 0;
		}
	}

	&.menuOptions {
		top: 70px;
		right: 12px;
		&:after { left: 75%; }
	}

	&.menuNotificacao, &.menuConfig{ top: 65px; }
	
	&.menuNotificacao{
		width: 330px; right: -86px;

		&.alerta {
			right: -43px;
			&:after { margin-left: 96px; }
		}

		&.mensagem{
			&:after { margin-left: 48px; }
		}

		ul {
			max-height: 300px;
			overflow: auto;
			position: relative;
			float: none;
		}

		li{
			a {
				padding: 10px;
				display: block;
				text-align: left;
				color: #323232;
				text-decoration: none;
				white-space: normal;
				@extend %no-hover-decoration;
			}

			p {
				overflow: hidden;
				text-overflow: ellipsis;
				position:  relative;
			}

			&.primeiro { padding: 5px 10px; }
			&.ultimo{
				@extend %no-padding;
				a{ @extend %text-center; }
			}

			&.lida{
				opacity: .7;

				b{ font-weight: 400!important; }
			}
		}
	}
}

.popMenu.menuConfig:not(.idiomas):not(.config-feed){ width:316px; }


.popMenu.menuConfig>ul>li>a, ul.popMenu.idiomas>li>a {
	text-align: left;
	position: relative;
	padding-left: 45px;
}

.popMenu>ul>li,.popMenu .overflowPop>ul>li,ul.popMenu.idiomas>li,.popMenu ul li {
	border-top: 1px solid #d8dce0;
	color: #323232;
	text-decoration: none;
	display: block;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
}

.popMenu ul>li.primeiro,ul.popMenu.idiomas>li.primeiro,.popMenu ul li.primeiro {
	border-top: none;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.popMenu ul>li.primeiro>a,ul.popMenu.idiomas>li.primeiro>a,.popMenu ul li.primeiro>a:not(.post-title) {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.popMenu ul>li.ultimo,ul.popMenu.idiomas>li.ultimo,.popMenu ul li.ultimo {
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
}

.popMenu ul>li.ultimo>a,ul.popMenu.idiomas>li.ultimo>a,.popMenu ul li.ultimo>a {
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.popMenu ul>li.cinza { background: #f7f9fa; }

.popMenu>ul>li>a,ul.popMenu.idiomas>li>a,.popMenu ul>li>a {
	text-align: center;
	color: #323232;
	text-decoration: none;
	display: block;
	font-size: 12px;
	padding: 10px 20px;
	white-space: nowrap;
}
.popMenu ul>li>a.post-title{
	padding: 0;
   	background: initial;
   	white-space: nowrap;
   	text-overflow: ellipsis;
	overflow: hidden;
   	word-wrap: break-word;
}
.popMenu>ul>li>a.noDecoration,.popMenu ul>li>a.noDecoration {
	color: #808080;
	text-decoration: none;
	display: inline;
	font-size: 12px;
	padding: 0;
	white-space: normal;
}

.popMenu>ul>li>a.blue,.popMenu ul li a.blue {
	color: #0096d0;
	text-decoration: none;
	display: inline;
	font-size: 12px;
	padding: 0;
	white-space: normal;
	font-weight: 600;
}

.popMenu>ul>li>a.blue:hover,.popMenu ul li a.blue:hover,
.popMenu>ul>li>a.link:hover,.popMenu ul>li>a.link:hover,
.popMenu>ul>li>a.noDecoration:hover {
	text-decoration: underline;
	background: none;
}

.popMenu>ul>li>a.link,.popMenu ul>li>a.link {
	text-align: inherit;
	display: inline;
	padding: 0;
	white-space: normal;
}

.popMenu .overflowPop>ul>li>a {
	color: #808080;
	text-decoration: none;
	display: block;
	font-size: 12px;
	padding: 5px;
	line-height: 25px;
	white-space: nowrap;
	text-align: left;

	&:hover{ background: #e8edef; }

	.fotoUsuario.mini {
		margin-right: 5px;
		position: relative !important;
	}
}

.popMenu .overflowPop>ul>li>a 

.clearfix.notificacoes-participar button:first-child, .clearfix.notificacoes-aceitar-amizade button:first-child{ margin-right: 5px; }

.dragged {
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	z-index: 2000;
	left: 0;
	top: 0;
	display: none;
}