/*** FOOTER ***/
#footer {
	clear: both;
	position: relative;
	height: 50px;
	padding-top: 20px;
	margin: -50px auto 0;
	width: 90%;
	text-align: center;
	border-top: 1px solid #d8dce0;
	font-size: 11px;
	color: #808080;
	
	&.semDireita {
		margin: -50px auto 0;

		@media screen and (min-width: 1560px){
		    width: calc(90% - 150px);
    		left: 130px;
		}

		&.mural-located{ left: 0; }
	}

	a { font-size: 11px; font-weight: 600; color: #808080; @extend %no-decoration-hover; }
}