#if($!mural_preview_post_revista_on && $!mural_preview_post_revista_on == '1')
<div class="mdl-layout__container itauHome">

	<div class="header borda">
		<i class="fa fa-bars orange" aria-hidden="true"></i>
		início
		<i class="fa fa-search orange" aria-hidden="true"></i>
	</div>

	<div class="slideshow borda" style="background-image: url('../img/cropit/placeholder-img.jpg');">
		<div class="legenda col-lg-12">
			<p class="categoria"><span></span><span></span></p>
			<h2></h2>

			<div class="naveg">
				<div class="act"></div><div></div><div></div>
			</div>
		</div>
	</div>

	<ul class="news">
		<li class="borda preview">
			<div class="img">
				<div class="categoria sub"></div>
			</div>
			<div class="conteudo">
				<p class="categoria"></p>
				<h2></h2>
				<p class="text"></p>
			</div>
		</li>
		<li class="placeholder borda">
			<div class="img" style="background-image: url('../img/cropit/placeholder-img.jpg');">
				<div class="categoria sub"></div>
			</div>
			<div class="conteudo">
				<p class="categoria"></p>
				<h2></h2>
				<p class="text"></p>
			</div>
		</li>
		<li class="placeholder borda">
			<div class="img" style="background-image: url('../img/cropit/placeholder-img.jpg');">
				<div class="categoria sub"></div>
			</div>
			<div class="conteudo">
				<p class="categoria"></p>
				<h2></h2>
				<p class="text"></p>
			</div>
		</li>
		<li class="placeholder borda">
			<div class="img" style="background-image: url('../img/cropit/placeholder-img.jpg');">
				<div class="categoria sub"></div>
			</div>
			<div class="conteudo">
				<p class="categoria"></p>
				<h2></h2>
				<p class="text"></p>
			</div>
		</li>
	</ul>

</div>


<div class="mdl-layout__container itauPost">
	<div class="header borda">
		<i class="fa fa-arrow-left orange" aria-hidden="true"></i>
		<span class="cat"></span>
	</div>

	<div class="post">
		<p class="categoria orange"></p>
		<h2></h2>
		<p class="sub"></p>

		<div class="img-destaque"></div>

		<p class="data"></p>

		<iframe scrolling="no" frameborder="0" id="ifrm" class="texto"></iframe>
		<p class="tags">tags: <span>lista de tags</span></p>
	</div>
</div>

#else

<div class="clearfix livecomPreview">
	
	<div class="mdl-layout__container livecomPost">
		<div style="height: 25px;background: #000; position: absolute; width: 100%; opacity: 0.2;  filter: alpha(opacity=50); z-index: 999; color: #fff;"></div>
		<div style="position: absolute; z-index: 1000; right: 10px; color: #c5bebe; font-size:14px; top: 5px">
		    <i class="material-icons" style="font-size:14px">network_wifi</i>
		    <i class="material-icons" style="font-size:14px">network_cell</i>
		    <i class="material-icons" style="font-size:14px">battery_std</i>
		    15:22
		</div>
		<header class="mdl-layout__header" style="background:$!cor_menu">
			<div class="mdl-layout__drawer-button"><i class="material-icons">menu</i></div>
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title post-mobile-categoria">Categoria</span>
				<div class="root-content-left-icons">
					<label class="mdl-button mdl-js-button mdl-button--icon"><i class="root-busca"></i></label>
					<label class="mdl-button mdl-js-button mdl-button--icon">
		         	<i class="root-notification"></i>
		            <span class="mobile-badge" style="background: #e2490f">7</span>
					</label>
		         <label id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">more_vert</i></label>
				</div>
			</div>
		</header>
		
		<div class="mobile-container-mural preview-livecom-mobile">
			<ul class="lista-mural-mobile">
				<li class="post-mobile">
					<div class="post-mobile-header form-group">
						<div class="clearfix">
							<div class="post-mobile-foto">
								<img src="$!session.userInfo.urlFotoUsuario" alt="Foto do $!session.userInfo.nome" />
							</div>
							<div class="post-mobile-texto">
								<p class="post-mobile-user">$!session.userInfo.nome</p>
								<p class="post-mobile-grupos">
									<span>para&nbsp;</span>
									<span class="nome-grupos">Grupos da postagem</span>
								</p>
							</div>
						</div>
					</div>
					<div class="post-mobile-body">
						<div class="clearfix">
							<p class="post-mobile-categoria">Categoria</p>
							<p class="post-mobile-hora">Agora</p>
						</div>
						<div class="clearfix">
							<p class="post-mobile-titulo">Título da publicação</p>
							<iframe scrolling="no"></iframe>
							<p class="font-blue sbold post-ver-mais">ver mais</p>
						</div>
					</div>
					<div class="post-mobile-footer row">
						<div class="col-xs-4">
							<i class="linear-icons icone-likeNew"></i>
							<span>4</span>
						</div>
						<div class="col-xs-4">
							<i class="linear-icons icone-comentarioNew"></i>
							<span>2</span>
						</div>
						<div class="col-xs-4">
							<i class="linear-icons icone-favoritoNew"></i>
							<span>1</span>
						</div>
					</div>
				</li>
			</ul>
			
			<label class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mobile-btn-postar"><i class="material-icons">create</i></label>
		</div>
	</div>
	
	<div class="mdl-layout__container livecomDetalhes">
		<div style="height: 25px;background: #000; position: absolute; width: 100%; opacity: 0.2;  filter: alpha(opacity=50); z-index: 999; color: #fff;"></div>
		<div style="position: absolute; z-index: 1000; right: 10px; color: #c5bebe; font-size:14px; top: 5px">
		    <i class="material-icons" style="font-size:14px">network_wifi</i>
		    <i class="material-icons" style="font-size:14px">network_cell</i>
		    <i class="material-icons" style="font-size:14px">battery_std</i>
		    15:22
		</div>
		<header class="mdl-layout__header" style="background:$!cor_menu">
			<div class="mdl-layout__drawer-button drawer-back"><i class="material-icons">arrow_back</i></div>
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title post-mobile-categoria">Categoria</span>
				<div class="root-content-left-icons">
					<label class="mdl-button mdl-js-button mdl-button--icon"><i class="root-busca"></i></label>
					<label class="mdl-button mdl-js-button mdl-button--icon">
		         	<i class="root-notification"></i>
		            <span class="mobile-badge" style="background: #e2490f">7</span>
					</label>
		         <label id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">more_vert</i></label>
				</div>
			</div>
		</header>
		<div class="mobile-container-mural preview-livecom-mobile preview-detalhes">
			<ul class="lista-mural-mobile">
				<li class="post-mobile">
					<div class="post-mobile-header form-group">
						<div class="clearfix">
							<div class="post-mobile-foto">
								<img src="$!session.userInfo.urlFotoUsuario" alt="Foto do $!session.userInfo.nome" />
							</div>
							<div class="post-mobile-texto">
								<p class="post-mobile-user">$!session.userInfo.nome</p>
								<p class="post-mobile-grupos">
									<span>para&nbsp;</span>
									<span class="nome-grupos">Grupos da postagem</span>
								</p>
							</div>
						</div>
					</div>
					<div class="post-mobile-body">
						<div class="clearfix">
							<p class="post-mobile-categoria">Categoria</p>
							<p class="post-mobile-hora">Agora</p>
						</div>
						<div class="clearfix">
							<p class="post-mobile-titulo">Título da publicação</p>
							<iframe scrolling="no"></iframe>
						</div>
					</div>
					<div class="post-mobile-footer row">
						<div class="col-xs-4">
							<i class="linear-icons icone-likeNew"></i>
							<span>4</span>
						</div>
						<div class="col-xs-4">
							<i class="linear-icons icone-comentarioNew"></i>
							<span>2</span>
						</div>
						<div class="col-xs-4">
							<i class="linear-icons icone-favoritoNew"></i>
							<span>1</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
#end