@import '_lista-horizontal';
@import '_lista-arquivos';

@import '_list-holder';

.list-control{
	max-height: 330px; overflow-y:auto;

	ul{
		&.list-users{
			> li{
				> .campoPost{ padding-bottom: 0; min-height: initial; }
				> i{ float: right; cursor: pointer; position: absolute; right: 15px; top: 12px; }
			}
		}
	}
}

.group-list ul.token-input-list { max-height:inherit; }
.group-list ul.token-input-list > li.token-input-token { margin: 3px; }

li.list-group-item.error{
	border-radius:0;
	border:none;
	font-size:12px;
}

.list-group{
	&.list-group-categorias, &.list-group-tags{
		> li{
			&:first-child, &:last-child{ @include prefix(border-radius, 4px, webkit moz ms o); }
		}
	}
}