.infoArquivoUpload {
	position: absolute;
	height: 100%;
	right: 0;
	background: #f7f9fa;
	border-left: 1px solid #d8dce0;
	overflow: auto;
	@include prefix(box-sizing, border-box, webkit moz ms o);
	@include prefix(border-radius, 0 8px 8px 0, webkit moz ms o);


	.file-info-wrapper {
		opacity: 0;
		@include transition(opacity ease-in-out 200ms);

		h3{ text-align: center; }

		p {
			color: #808080;
			font-size: 14px;
			word-wrap: break-word;
			line-height: 20px;
		}

		&.active{ opacity: 1; }

		.dimensoes{
			opacity: 0;
			visibility: hidden;
			@include transition(all ease-in-out 200ms);
			margin-bottom: 0;
			height: 0;

			&.active{
				margin-bottom: 15px;
				height: inherit;
				opacity: 1;
				visibility: visible;
			}
		}

		#galeriaFileDescription{ resize: none; }

		.galeriaFileDescription.charNum {
	        position: absolute;
	        right: 5px;
	        bottom: 0;
	        color: #e44c34;
	        font-size: 12px;
	        display: block;
	        z-index: 2;
	    }
	}

	.miniaturaArquivo {
		border: 1px solid #d8dce0;
		@include prefix(border-radius, 9px, webkit moz ms o);
		margin-bottom: 20px;
		display: none;

		.file-extensions-icons-big{
		    position: relative;
		    top: 65px;
		    height: 160px;
		}

		.extensaoArquivo{
			top: 210px;
			font-size: 18px;
		}
	}

	.adicionarDescricao {
		color: #0096d0;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		text-decoration: none;
		display: none;
		padding-bottom: 10px;
	}
}

.list-holder.lista-arquivos{
	.fotoUsuario{
		.file-extensions-icons-medium{
			background-position: -248px -208px;

			&.txt, &.rtf, &.doc, &.docx, &.log, &.odt, &.mpp{ background-position: -248px 3px; }

			&.psd, &.indd{ background-position: -347px 3px; }

			&.html, &.htm, &.xml,
			&.php, &.asp, &.aspx,
			&.c, &.cpp, &.rake, &.rb,
			&.java, &.jsp, &.jspa,
			&.kt, &.gantter, &.plist{ background-position: -149px 3px; }

			&.css, &.scss, &.sass, &.styl{ background-position: -246px -110px; }

			&.json, &.js, &.jsx, &.ejs, &.sql{ background-position: -149px -110px; }

			&.pdf{ background-position: -49px -110px; }

			&.mp4, &.mpeg, &.mov, &.avi, &.wmv{ background-position: -445px -110px; }

			&.mp3, &.ogg, &.midi, &.wav, &.m4a{ background-position: 50px -207px; }

			//-120px -236px imgs

			&.apk{ background-position: -148px -208px; }

			&.ai, &.svg, &.cdr, &.eps{ background-position: -346px -208px; }

			&.csv, &.xls, &.xlsx{ background-position: -50px 3px; }

			&.ppt, &.pptx, &.pps, &.ppsx{ background-position: -346px -110px; }

			&.rar, &.zip, &.tar, &.gz{ background-position: 50px 3px; }
		}

		.extensaoArquivo{ color: #fff; }
	}
}

.listaHorizontal{
	&.listaArquivos {
		@extend %no-padding;
		@extend %text-center;

		> li{
			&.item{
				.custom-overlay{ height: 120px; }
			}

			> .clearfix{
				@extend %no-padding;
				&:hover{ @extend %input-focus; }
			}

			> i { display: none; position: absolute; right: 18px; top: 2px; z-index: 5; }

			&.ativo{
				> i{ @extend %block; }
			}

			&.atual{
				> .clearfix{ @extend %input-focus; }
			}

			&:hover{
				.acoesArquivo{ @extend %block; }
			}
		}
	}
}

.miniaturaArquivo {
	text-align: center;
	position: relative;
	height: 180px;
	overflow: hidden;
	@include prefix(border-radius, 9px 9px 0 0, webkit moz ms o);

	&.radius {
		@include prefix(border-radius, 9px, webkit moz ms o);
		height: 120px;
	}

	.extensaoArquivo{
		color: #fff;
		top: 144px;
		font-size: 16px;
		z-index: 0;
	}

	> a {
		display: block;
		position: relative;
		overflow: hidden;
		height: 200%;
		left: -50%;
		top: -50%;
		width: 200%;

		img {
			bottom: 0;
			left: 0;
			margin: auto;
			max-width: 50%;
			min-width: 50%;
			position: absolute!important;
			right: 0;
			top: 0;
			@include animation(none!important);
			@include transition(none!important);
		}

		i{
			&.file-extensions-icons-big{
			    display: block;
			    height: 100%;
			    width: 100px;
			    margin: auto;
				
				background-position: -40px -299px;

				&.txt, &.rtf, &.doc, &.docx, &.log, &.odt, &.mpp{ background-position: -592px 14px; }

				&.psd, &.indd{ background-position: -776px 14px; }

				&.html, &.htm, &.xml,
				&.php, &.asp, &.aspx,
				&.c, &.cpp, &.rake, &.rb,
				&.java, &.jsp, &.jspa,
				&.kt, &.gantter, &.plist{ background-position: -409px 14px; }

				&.css, &.scss, &.sass, &.styl{ background-position: -777px -300px; }

				&.json, &.js, &.jsx, &.ejs, &.sql{ background-position: -593px -299px; }

				&.pdf{ background-position: -593px -143px; }

				&.mp4, &.mpeg, &.mov, &.avi, &.wmv{ background-position: -409px -143px; }

				&.mp3, &.ogg, &.midi, &.wav, &.m4a{ background-position: -225px -143px; }

				&.apk{ background-position: -224px -299px; }

				&.ai, &.svg, &.cdr, &.eps{ background-position: -408px -299px; }

				&.csv, &.xls, &.xlsx{ background-position: -224px 14px; }

				&.ppt, &.pptx, &.pps, &.ppsx{ background-position: -777px -143px; }

				&.rar, &.zip, &.tar, &.gz{ background-position: -40px 13px; }
			}
		}
	}
}

.extensaoArquivo{
	color: #e6e6e6;
	display: block;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	margin-top: -15px;
	position: absolute;
	top: 51%;
	width: 100%;
	z-index: 2;
}

.centraliza .extensaoArquivo{ top: 61%; }

.nomeArquivo, .infoArquivo {
	border-bottom: 1px solid #d8dce0;
	padding: 10px;
}

.nomeArquivo {
	border-top: 1px solid #d8dce0;

	p {
		color: #808080;
		font-size: 12px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		span { color: #c5c5c5; font-size: 10px; }
	}

	.descricaoArquivo { color: #b5b5b5; padding-top: 5px; }
}

.infoArquivo{
	.fotoUsuario {
		float: left;
		margin-right: 10px;
	}

	.nomeUsuario {
		font-size: 14px;
		font-weight: 600;
		color: #0096d0;
		display: block;
		padding-top: 5px;
		text-decoration: none;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&.ultimo { @extend %no-border-bottom; }
	&.noBorder{ @extend %no-border; }
}

#arquivosHolder{
	.miniaturaArquivo{
		.extensaoArquivo{ top: 180px; }
	}
}