/*** lista ***/
.list-holder{
	@extend %block;
	
	li{
		color: #000;
		text-decoration: none;
		display: block;
		font-size: 12px;
		overflow: hidden;
		padding: 10px 20px 0;
		position: relative;
		background: #fff;
		@include prefix(border-radius, 0, webkit moz ms o);

		&.no-padding{ padding: 0; }
		&.opacity{ opacity: 0.9; }
		&.active{ background: rgba(156, 152, 152, 0.17); opacity: 1; }
		&:hover{ background: #fafafa; opacity: 1; cursor: pointer; }

		a{ margin-right: 5px; }

		a, span.preview-file{
			display: block;
			text-align: left;
			position: relative;
			float: left;
		}

		a{
			&.inline{ @extend %inline; }

			.fotoUsuario {
				float: left;
				margin-right: 10px;
				border: none;
			}
		}

		.dataPost {
			font-size: 12px;
			color: #c5c5c5;
			float: left;
			margin-bottom: 0;
			font-weight: 400;
		}

		.notifyText, .notifyTextComentario{
			clear: both;
   			float: none;
   			display: block;
			margin-bottom: 10px;
		}

		.fotoUsuarioAgrupada {
			margin-bottom: 10px;
		}

		p{
			clear: both;
			float: none;
			display: block;
			margin-bottom: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			word-wrap: break-word;
			white-space: pre-wrap;
			color: #757575;

			&.overflow{ max-height: 53px; }
			&.first, &.second{ margin-bottom: 0; font-size: 13px; }
			&.line-height{ line-height: 50px; }

			&.first{
				font-weight: 600;
				
				> span{ font-weight: 400; color: #9e9e9e; display: block; }
			}
		}

		.extensaoArquivo{
			font-size: 12px;
			text-align: center;
			line-height: initial;
			height: auto;
			margin: 0;
			top: 103px;
		}

		&.noNotify{
			> img{ display: block; margin: 0 auto 10px; }
			> p{ float: none; }
		}
	}

	.iconNotify {
		padding: 8px 0px;
		clear: both;
		text-align: right;
	}

	.text-link-holder{
		overflow: hidden; text-overflow: ellipsis;

		a{ white-space: nowrap; text-overflow: ellipsis; }
	}

	.infoUsuarios{ @extend %float-left; }


	&.listaLinks{
		li{
			a{
				&.link-trigger{ display: inline; clear: left; float: none; }
			}
		}
	}

	&.list-group-grupos{
		.infoUsuarios{ width: calc(100% - 65px); }
	}
}

.list-holder.listaNotify li.nao-lida{
	.notifyText{
		&.overflow{	
			max-height: 35px;
			overflow: hidden;
			text-overflow: initial;
			white-space: normal;
			word-wrap: initial;

			&:after{
			    content: "...";
			    position: absolute;
			    bottom: 27px;
			    right: 15px;
			    background-color: #fff;
			    width: 13px;
			    text-align: right;
			    font-weight: 600;
			    box-shadow: -7px 0px 8px 1px rgba(255, 255, 255, 0.8);
			}
		}
	}

	&:hover{
		.notifyText{
			&.overflow{
				&:after{ background-color: #fafafa; box-shadow: -7px 0px 8px 1px rgba(250, 250, 250, 0.8); }
			}
		}
	}
}

.popMenu.menuNotificacao li.nao-lida{
	.notifyText{
		&.overflow{	
			max-height: 35px;
			overflow: hidden;
			text-overflow: initial;
			white-space: normal;
			word-wrap: initial;

			&:after{
			    content: "...";
			    position: absolute;
			    background-color: #fff;
			    bottom: 0px;
			    right: 0px;
			    width: 13px;
			    text-align: right;
			    font-weight: 600;
    			box-shadow: 0px 15px 10px 15px rgba(255, 255, 255, .5)
			}
		}
	}
}


.list-holder, .listaNotify, .listaNotify-reminder{
	&.fixPadding{ @extend %no-padding-left; }
	&:last-child{ margin-bottom: 10px; }
}

.listaNotify, .listaNotify-reminder{
	&.fixPadding{
		li{
			&:hover{ background: #fff; }
		}
	}
}

.list-holder li.sbold, .list-holder li.sbold a, .list-holder li.active .dataPost{ color: #000; }
.list-holder li.sbold, .list-holder li.noNotify{ background: #fff; opacity: 1; }

.list-holder li:not(.sbold) .iconNotify{ color: #808080!important; }
.list-holder li a .col-md-9 { word-wrap: break-word; white-space: normal; }


.list-group-grupos>li .grupo-pic-holder, .listaSolicitacoes > li .grupo-pic-holder{
	position: relative;
   	display: block;
   	height: 50px;
   	width: 65px;
   	float: left;
}

/*** lista notificacoes ***/
.notifications-list-scroll .list-holder.listaNotify, .list-holder.listaNotify-reminder{ background: #f5f5f5; padding: 5px 5px 0; }
.list-holder{
	&.listaNotify, &.listaNotify-reminder{
		background: #f5f5f5; padding-left: 5px; padding-right: 5px;

		li{
			margin: 5px 0;
			border-radius: 4px;
			border: solid 1px $eee;
			padding: 10px 20px;

			&.lida{
				background: $fa; font-weight: 400; opacity: .7;
				b{ font-weight: 400!important; }

				.fotoUsuario{ opacity: .7; }

				&:hover{ background: $f5; }
			}

			&.nao-lida{
				opacity: 1;
				font-weight: 600;

				.notifyText{ color: $black; }
			}

			&.active{
				background: $white; border-color: $ccc;

				.fotoUsuario{ opacity: 1; }
			}
		}
	}
}

.user-status-chat{
	width: auto;
	text-align: center;
	position: absolute;
   	left: 5px;
   	top: calc(50% - 10px);

	> span{
		display: inline-block;
		height: 10px!important;
		width: 10px!important;
		min-width: initial!important;
		@include prefix(border-radius, 50%, webkit moz ms o);

		&.online{ background: #06b53c; }
		&.offline{ background: #ee4749; }
	}
}

.acoes-grupo, .acoes-user, .acoes-reminder{
	display: block;
	position: relative;
	float: none;
	text-align: center;
}

.notification.active .dataPost { color: $black; }

.interaction-badge{
	display: inline-block;
   	height: 32px!important;
   	width: 32px!important;
	min-width: initial!important;
   	position: absolute;
	top: 28px;
   	right: 10px;
   	z-index: 3;
	
	&.relative{
		position: relative;
		top: initial;
		right: initial;	
	}

	img{
		max-width: 100%;
		&.read{
			-webkit-filter: grayscale(1);
			-webkit-filter: grayscale(100%);
			filter: gray;
			filter: grayscale(100%);
		}
	}
}

.notifications-list-scroll{ max-height: 412px; }
.notification-badge-holder{ min-width: 90px; max-width: 90px; float:left; }
.notification-text-holder{ width: calc(100% - 95px); float: left; }

.list-header{
	background: #fff;
	color: #0096d0;
	padding: 10px;
	border-bottom: 1px solid #0096d0;

	i.go-back{ cursor: pointer; }
}

.list-group-grupos>li .css-favorito, .list-group-grupos>li .css-favorito-not{
	top: initial;
	bottom: -8px;
   	right: 4px;
   	z-index: 2;
   	font-size: 20px;
}

.list-group-usuarios{
	> li{
		a{
			&:hover{
				.icones.ac_loading{ background-color: #e8edef; }
			}
		}
	}
}