button.close.fa-times{
    opacity: 1;
    text-indent: 0;
    width: 20px;
    height: 20px;
}

/* botao responsivo direita-centro */
.resp-button{ text-align: center; }

.btn{
	&.disabled{ pointer-events: none; }
}



/*** botões homemade ***/
.botao, .contentModal .ajax-file-upload {
	display: inline-block;
	padding: 9px 24px;
	margin-bottom: 0;
	font-size: 14px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 100px;
	@include transition(all 0.1s ease 0s);
	outline: none;
	line-height: 18px;
	text-align: center;
}

.botao{
	&.disabled {
		filter: alpha(opacity = 40);
		opacity: .4;
		@include prefix(box-shadow, none, webkit moz ms o);
		pointer-events: none;
	}

	&.padrao {
		background: #fff;
		border: 1px solid #eaeaea;
		color: #2f2f2f;

		&:hover { background: #f1f1f1; }
	}

	/* botao info-light */
	&.info{
		&.light {
			background: #05c3f5;
			border: 1px solid #06A2CC;
			@extend %font-white;
			
			&:hover { background: #0DB4E0; }

			&.ativo {
				background: #099CC3;

				&:hover { background: #147792; }
			}
		}
	}

	/* botao azul-cielo */
	&.blue {
		background: #04a6d0;
		border: 1px solid #0A7692;
		@extend %font-white;

		&:hover { background: #0D7792; }
	}

	/* botao white */
	&.white {
		background: #efefef;
		border:1px solid transparent; /* #c5c5c5 */
		color: #808080;

		&:hover { background: #d1d1d1; }
	}

	/* botao cancelar vermelho */
	&.cancelar-red {
		background: #ea392c;
		border:1px solid transparent; /* #BF261B */
		@extend %font-white;

		&:hover { background: #C5281C; }
	}

	/* botao transparente */
	&.link {
		background: transparent;
		border: none;
		color: #196f9a;

		&:hover { text-decoration: underline; color: #115C82; }
	}

	/* botao exportar */
	&.export {
		background: #fff;
		color: #2eafe1;
		border:1px solid #2eafe1;

		&:hover { background: #2eafe1; color: #fff; }
	}
}

.botao:not(:disabled):active { @include prefix(box-shadow, inset 0 0 2px 16px rgba(255, 255, 255, 0.2), webkit moz ms o); }

.botao-sm { padding: 5px 10px; }
.botao-lg { width: 150px; }
.botao-block { @extend %total-width; }

.btn-fix-padding{
	.button, .btn, .botao{ padding: 9px 24px; }
}

/* botao info */
.botao.info, .contentModal .ajax-file-upload {
	background: #2eafe1;
	border:1px solid transparent; /* #118BC5 */
	@extend %font-white;
}
.botao.info:hover, .contentModal .ajax-file-upload:hover { background: #1E8EC7; }

/* botao verde */
.botao.salvar, .popup_ok{
	background: #00d0b6;
	border: 1px solid transparent; /*#159670*/
	@extend %font-white;
}
.botao.salvar:hover, .popup_ok:hover { background: #0AB39E; }

.btPostarComunicado {
	border: none !important; padding: 10px 31px;
	&.publicar{ min-width: 115px; }
}

/* botao cancelar white */
.botao.cancelar, .popup_cancel {
	background: #fff;
	border:1px solid #b7c5ca;
	color: #707e84;
}
.botao.cancelar:hover, .popup_cancel:hover { background: #e1e1e1; }

.botao.white.is-checked, .botao.white.ativo {
	background-color: #e3e3e3;
	font-weight: 600;
}

.botoesSalvar {
	@include transition(all .3s);
	text-align: center;

	&.right {
		float: right;
		margin: -2px 10px;
		padding-bottom: 0;
	}
}

.btCancelarFiltro{ @extend %float-left; }

.btCancelarPostagem.new{ @extend %hidden; }

.btn, .botao{
	&.min-width{ min-width: 85px; }
}

.fotoUsuario, .botao{
	.file-wrapper{
		input{
			cursor: pointer;
			font-size: 100px;
			height: 100%;
			filter: alpha(opacity = 0);
			-moz-opacity: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}


.fotoUsuario .file-wrapper {
	display: block;
	overflow: hidden;
	position: absolute;
	z-index: 10;
	height: 100%;
	width: 100%;

	.button {
		display: block;
		height: 100%;
		width: 100%;
		color: #FFF;
		font-size: 12px;
		text-align: center;
		overflow: hidden;
		background: url(../../imagens/fancybox_overlay.png);
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		line-height: 170px;

		&:after {
			background: url(../../imagens/icones.png) no-repeat -131px -68px;
			content: " ";
			display: block;
			width: 26px;
			height: 22px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -11px 0 0 -13px;
		}
	}
}

.botaoFoto .file-wrapper .button {
	display: block;
	padding-left: 40px;
	text-overflow: ellipsis;
	overflow: hidden;

	&:after {
		background: url(../../imagens/icones.png) no-repeat -88px -326px;
		content: " ";
		display: block;
		width: 26px;
		height: 22px;
		position: absolute;
		left: 12px;
		top: 50%;
		margin: -11px 0 0 0;
	}
}

.botoes {
	float: right;
	margin-bottom: 10px;
	padding: 8px 0;

	a {
		cursor: pointer; color: #05c3f5; padding: 8px 5px;
		&:hover{ border-bottom: 3px solid #45BBDA; }
		&.ativo {
			color: #196f9a; border-bottom: 3px solid #196f9a;
			&:hover{ border-bottom: 3px solid #45BBDA; }
		}
	}
}

.btn.tornarAdministrador{
	padding: 2px 4px;

	> i{ @include scale(0.8); }

	&:hover{
		> i{ background-position: -182px -141px; }
	}
}

.btn-group-sm>.btn,.btn-sm { padding: 5px; }

.add-btn a.btn{
	padding: 4px 10px;
	font-size: 13px;
	line-height: 1.5;
}
.btn.apagar i.fa-spinner{
    font-size: 12px;
    position: relative;
    top: -1px;
}


.btn .label { position: relative; top: -1px; }

.btn.fix-padding,
.portlet>.portlet-title>.actions>.btn.fix-padding,
input[type=submit].btn.fix-padding,
.portlet>.portlet-title>.actions>input[type=submit].btn.fix-padding{ padding: 4.5px 10px; font-size: 13px; line-height: 1.5; }


.botoesForm {
	padding-top: 10px;
	clear: both;
	&.menor{
		.botao { padding: 5px 12px; }
	}
}

.botoesHeader {
	float: right;
	border-left: 1px solid #d8dce0;
	margin-left: 20px;
	padding-left: 20px;

	.botao:not(input) { padding: 7px 20px; }

	&.noBorder{
		@extend %no-border;

		.actions{ background: #fff; }
	}
}


.btn-blue-b3{
	background-color: #06377b;
	color: #fff;

	&:hover, &:focus{ background-color: #082b5a; color: #fff; }
}