<div id="buscaFiltro" class="clearfix">
<form>
<h2 class="titulo #if(!$session.userInfo) fundoCinza #end" style="margin-bottom:20px;"><span><strong>BUSCA</strong></span></h2>
<div class="buscaSite input clearfix"><div class="bordaBusca"><i class="iconeBusca"></i></div><input type="text" name="search" id="search" class="mascara" rel="Digite o que deseja buscar"/></div>
<input type="submit" value="BUSCAR" id="btBuscaFiltro" class="botaoMenu direita"/>
<!-- 
<div class="clearfix opcoesFiltro"><label>Categoria:</label><label><input type="checkbox" name="categoria" value="gi"/>Gi</label><label><input type="checkbox" name="categoria" value="no-gi"/>No-Gi</label></div>
 -->
 </form>
</div>
