<div id="filtroDireita" class="clearfix">
<h2 class="titulo" style="margin-bottom:10px;"><span><strong>FILTRO</strong></span></h2>
<div class="botoesExpandir">
<a href="#" class="btExpandir"><i class="expandirTodos"></i><span>Expandir Todos</span></a>
<a href="#" class="btRecolher"><i class="recolherTodos"></i><span>Recolher Todos</span></a>
</div>
<div id="categorias">
	$!tree
</div>
</div>