<script>
$(document).ready(function(){
	$("#ordenar").change(function(e){
		var item = $(this).val();
		if((location.href).indexOf("sort=") > 0){
			var parametro = getURLParameter("sort");
			var newLocation = (location.href).replace(parametro, item);
			location.href = newLocation;
		}else{
			if((location.href).indexOf("?") > 0){
				location.href = location.href+"&sort="+item;
			}else{
				location.href = "?sort="+item;
			}
		}
	});
	
	
	//scroll page load posts
	var urlAtual = jQuery(location).attr('href');
		urlAtual = urlAtual.substr(urlAtual.lastIndexOf('/') + 1);
		if(urlAtual.indexOf("?") > -1){
			urlAtual = urlAtual.substr(0, urlAtual.lastIndexOf('?'));
		}
	$(window).scroll(function() {
	   if($(window).scrollTop() + $(window).height() > $(document).height() - $(".paginaAtual").outerHeight()) {
		   var formFiltro = $(".filtroPosts");    
		   if($(".paginaAtual").hasClass("loading")){
		   		return false;
		   }else if($(".paginaAtual:visible").length > 0 && !$(".paginaAtual").hasClass("loading")){
		    	   	if(jQuery.trim(urlAtual) == "meusPosts.htm"){
			   			var postsDe = userId;
			   			var soFavoritos = "";
		   			}else if(jQuery.trim(urlAtual) == "usuarioDetalhes.htm"){
			   			var postsDe = getURLParameter("id");
			   			var soFavoritos = "";
		   			}else if(jQuery.trim(urlAtual) == "favoritos.htm"){
			   			var postsDe = formFiltro.find("#filtroUser_post_id").val();
			   			var soFavoritos = "1";
			   		}else{
			   			var postsDe = formFiltro.find("#filtroUser_post_id").val();
			   			var soFavoritos = "";
			   		}
	    	   $(".paginaAtual").addClass("loading");
	    	   jQuery.ajax({
	    			type: "post",
	    			url: urlContext+"/ws/buscaPostsUsuarios.htm?mode=json&form_name=form",
	    		 	dataType: "json",
	    		 	data: {
	    		 		user_id: userId,
	    		 		texto: formFiltro.find("#filtroTexto").val(),
	    		 		categoria_id: formFiltro.find("#filtroCategoria_id").val(),
	    		 		tags: formFiltro.find("#filtroTags").val(),
	    		 		dataInicial: formFiltro.find("#filtroDataInicial").val(),
	    		 		dataFinal: formFiltro.find("#filtroDataFinal").val(),
	    		 		comAnexo: formFiltro.find("#filtroAnexo").val(),
	    		 		form_buscaUsuarios: 0,
	    		 		buscaPosts: 1,
	    		 		user_post_id: postsDe,
	    		 		meusFavoritos: soFavoritos,
	    		 		buscaResumida: 0,
	    		 		buscaResumida: 0,
	    		 		maxRows: 10,
	    		 		page: parseInt($(".paginaAtual").attr("data-page"))+1
	    	        },
	    	        beforeSend: function(){
	    	        },
	    		 	success: function( data ) {
	    		 		$(".paginaAtual").removeClass("loading").attr("data-page", parseInt($(".paginaAtual").attr("data-page"))+1);
	    		 		exibeBuscaPost(data);
	    			}
	    		 });
	    		
	       }
	   }
	});
});
</script>
<div class="degrade">
#parse("/training/include_topo_usuario.htm")
<div class="largura bordaMeio clearfix">    
	<div class="rightContent">
		#parse("/training/include_busca.htm")
		#parse("/training/include_filtro.htm")
	</div>
	<div class="leftContent">
		<div class="filtroVideos clearfix">
			<div class="ordenarPor">
				<label>Ordenar por:</label>
				<select id="ordenar" name="ordenar">
					<option value="newest" #if($filterSession && "newest" == $filterSession.sort) selected="selected"#end>Mais Novo</option>
					<option value="oldest" #if($filterSession && "oldest" == $filterSession.sort) selected="selected"#end>Mais Antigo</option>
				</select>
			</div>
			<span>Exibindo:</span>
			#if($categoriaPost)
			<strong class="exibindoAtual">$categoriaPost.path</strong>
			#else
			<strong class="exibindoAtual">Todos os Vídeos</strong>
			#end
			
		</div>
		<ul class="lista listaMural">
		#foreach($postvo in $posts)
		#set($post = $postvo.post)
		#set($postDoUsuario = $post.usuario && $post.usuario.id == $session.userInfo.id)
		#if($postvo.favorito == 1) 
			#set ($fav = 0)
			#set ($favoritado = "favoritado")
			#set ($textoFav = "Remover Favorito")
		#else 
			#set ($fav = 1)
			#set ($favoritado = "")
			#set ($textoFav = "Favoritar")
		#end
		#if($postvo.playlist == 1) 
			#set ($playList = 0)
			#set ($isPlaylist = "removerPlaylist")
			#set ($textoPlay = "Remover da Playlist")
		#else 
			#set ($playList = 1)
			#set ($isPlaylist = "")
			#set ($textoPlay = "Adicionar à Playlist")
		#end
		<li id="postId-$post.id">
		<div class="imagemVideo" style="#if($post.urlImagem) background-image:url($post.urlImagem); #else background-image:url($context/training/img/default.jpg); #end">
			#if($session && $session.userInfo)
			<div class="interacaoVideo">
				<i class="sombraInteracao"></i>
				<a href="#" class="tooltip icone iconeFavorito $favoritado" data-post="$post.id" data-usuario="$session.userInfo.id" data-favorito="$fav" title="$textoFav">$textoFav</a>
				<a href="#" class="tooltip icone iconePlaylist $isPlaylist" data-post="$post.id" data-usuario="$session.userInfo.id" data-favorito="$playList" title="$textoPlay">$textoPlay</a>
			</div>
			#end
			<a href="$context/training/video.htm?id=$!post.id" class="iconePlay"></a>
		</div>
		<div class="descriptionVideo">
			<a href="$context/training/video.htm?id=$post.id" class="tituloVideo">$!post.titulo</a>
			<span class="infoVideo"><i class="iconeRating"></i>$!postvo.rateCount avaliações&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="infoVideo tooltip" title="$format.date($post.data,"dd MMM 'às' HH'h'mm")"><i class="iconeData"></i>$post.getDataStringTimeAgo()&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="infoVideo"><i class="iconeVisualizacao"></i>$!postvo.postViewCount visualizações</span>
			<p class="resumoVideo">$!post.mensagem</p>
			#if($post.categoria)
			<div class="tecnicas"><strong>Técnicas:&nbsp;&nbsp;&nbsp;</strong>$post.categoria.path</div>
			#end
			#if($post.tags)
			<div class="tecnicas"><strong>Tags:&nbsp;&nbsp;&nbsp;</strong>$post.tags</div>
			#end
		</div>
		</li>
		#end
		</ul>
	</div>
</div>
<div class="paginaAtual" style="margin:20px 20px 0 20px; #if($posts.size() < 10) display:none; #end" data-page="$page">página $page</div>
</div>