${form.startTag()}
<div class="degrade">
	<div id="preCadastro" class="largura clearfix">
		<div class="paddingConteudoCima largura clearfix">
			<h2 class="titulo fundoCinza">
				<span>Fazer<strong> Login</strong></span>
			</h2>
			<table width="320" style="margin: 0 auto;">
				<tbody>
					<tr>
						<td align="right"><label class="label">Login:</label></td>
						<td style="padding-left: 15px;"><div>
								$form.fields.login</div></td>
					</tr>
					<tr>
						<td align="right"><label class="label">Senha:</label></td>
						<td style="padding-left: 15px;">$form.fields.senha</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td align="left" style="padding-left: 15px;" colspan="2"><a href="$context/training/esqueciSenha.htm" class="btSenha margin" id="btEsqueciSenha">esqueci a senha</a> $form.fields.logon</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
${form.endTag()}
#parse("/msg.htm")
