<div class="degrade">
    <div id="conteudo" class="largura">
        <h2 class="titulo fundoCinza"><span>SOBRE A <strong>NOME DO SITE</strong></span></h2>
        <div class="conteudoTexto">
            <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Maecenas quis odio felis, sit amet commodo lacus. <em>Vestibulum sollicitudin</em> dui ac arcu volutpat quis aliquam dolor dignissim. In aliquam arcu id est facilisis eu vehicula ligula vulputate. Vestibulum tincidunt hendrerit leo, sed accumsan nisi ultrices at. <img src="$context/training//img/logo_S_grande.png" width="250" height="250" align="right"/>Donec odio est, hendrerit vel molestie quis, placerat quis nisi. Suspendisse dignissim sagittis luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam eros ipsum, ornare non accumsan quis, <a href="#">pharetra eget est</a>.</p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Morbi dapibus nisl ut nunc congue porta.</li>
                        <li>Nunc ut mi sed ligula congue convallis mattis sed nisl.</li>
                        <li>Vivamus suscipit nunc at elit dapibus non <strong>ultricies</strong> ante consectetur.</li>
                        <li>In vitae nibh vitae ante suscipit egestas.</li>
                    </ul>
                </li>
                <li>Morbi dapibus nisl ut nunc congue porta.</li>
                <li>Nunc ut mi sed ligula congue convallis mattis sed nisl.</li>
            </ul>
          <ul>
                <li>Vivamus suscipit nunc at elit dapibus non ultricies ante consectetur.</li>
                <li>In vitae nibh vitae ante suscipit egestas.</li>
            </ul>
          <p>Duis semper accumsan scelerisque. Nulla vitae massa eget mauris consequat hendrerit sagittis eget ipsum. Integer facilisis nibh nec ligula ultrices fermentum. Ut ut leo sed libero porta facilisis in non eros. Vivamus consectetur suscipit erat vitae suscipit. Proin blandit malesuada orci vel hendrerit. Curabitur varius metus ut velit dictum non faucibus leo porttitor. Sed et eros vel dui volutpat porta. Duis sed libero nulla.</p>
          <p>Nunc ac vestibulum tortor. Vivamus tristique, urna at tristique vehicula, sem leo varius eros, pharetra consectetur nulla diam fermentum massa. Etiam ut nisi mauris. Vestibulum metus tellus, tempor at commodo vitae, pharetra quis urna. Proin ullamcorper tempor nunc, et faucibus dui molestie sed. Mauris id arcu placerat justo dictum commodo. Pellentesque tincidunt lorem non tellus feugiat a vulputate lectus mattis. Nulla placerat convallis magna, quis cursus nibh volutpat id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla elementum condimentum nunc, in dignissim massa mattis at. Nunc euismod, augue et pulvinar laoreet, nulla libero lacinia nibh, eu blandit metus sapien ullamcorper leo. In eu vulputate lectus. Mauris metus lorem, tempus fermentum fermentum id, vulputate ac tellus.</p>
        </div>
    </div>
</div>