<div class="degrade">
#parse("/training/include_topo_usuario.htm")

#if($postvo.favorito == 1) 
	#set ($fav = 0)
	#set ($favoritado = "favoritado")
	#set ($textoFav = "Remover Favorito")
#else 
	#set ($fav = 1)
	#set ($favoritado = "")
	#set ($textoFav = "Favoritar")
#end

#if($postvo.playlist == 1) 
	#set ($playList = 0)
	#set ($isPlaylist = "removerPlaylist")
	#set ($textoPlay = "Remover da Playlist")
#else 
	#set ($playList = 1)
	#set ($isPlaylist = "")
	#set ($textoPlay = "Adicionar à Playlist")
#end
		
<div class="largura bordaMeio clearfix">    
	<div class="rightContent">
		#parse("/training/include_busca.htm")
		#parse("/training/include_filtro.htm")
	</div>
	<div class="leftContent">
		<h2 class="titulo">
			<span><strong>$!post.titulo</strong></span>
		</h2>
		<div class="suportePlayer">
		<div class="interacaoVideo">
			<i class="sombraInteracao"></i>
			<a href="#" class="tooltip icone iconeFavorito $favoritado" data-post="$post.id" data-usuario="$session.userInfo.id" data-favorito="$fav" title="$textoFav">$textoFav</a>
			<a href="#" class="tooltip icone iconePlaylist $isPlaylist" data-post="$post.id" data-usuario="$session.userInfo.id" data-favorito="$playList" title="$textoPlay">$textoPlay</a>
		</div>		
		#set($urlImagem = $!post.urlImagem)
		#if(!$urlImagem)
		#set($urlImagem = "https://s3-sa-east-1.amazonaws.com/livecom/4ae104ea-639a-499b-9449-572c6fe132cb/arquivos/d3e45a2f-8d31-441b-8a65-79a064f98deb_cervejas.jpg")
		#end
		
		#if($post.videoPlayer == "vimeo")
		<iframe src="$!post.urlVideo?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff" width="100%" height="350" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		#elseif($post.videoPlayer == "youtube")
		<iframe width="100%" height="315" src="$!post.urlVideoEmbed" frameborder="0" allowfullscreen ></iframe>
		#else
		<script src="http://jwpsrv.com/library/HCTDbs40EeOEtyIACrqE1A.js"></script>
		<div id='playerwPMkhzcZMrep'></div>
		<script type='text/javascript'>
		    jwplayer('playerwPMkhzcZMrep').setup({
		        file: '$!post.urlVideo',
		        image: '$!urlImagem',
		        title: '$post.titulo',
		        width: '100%',
		        aspectratio: '16:10'
		    });
		</script>
		#end
		</div>
		<div class="descriptionVideo">
		#set ($media = "")
		#if($postvo.rateMedia == "1")
			#set ($media = "um")
		#elseif($postvo.rateMedia == "2")
			#set ($media = "dois")
		#elseif($postvo.rateMedia == "3")
			#set ($media = "tres")
		#elseif($postvo.rateMedia == "4")
			#set ($media = "quatro")
		#elseif($postvo.rateMedia == "5")
			#set ($media = "cinco")
		#end
			<p class="infoVideo"><i class="iconeRating $media" ></i><span id="rateCount">$!postvo.rateCount</span> #if($!postvo.rateCount == 1) avaliação #else avaliações #end&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p><span class="infoVideo tooltip" title="$format.date($post.data,"dd MMM 'às' HH'h'mm")"><i class="iconeData"></i>$post.getDataStringTimeAgo()&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="infoVideo"><i class="iconeVisualizacao"></i>$!postvo.postViewCount visualizações</span>
			<p class="resumoVideo">$!post.mensagem</p>
			#if($post.categoria)
			<div class="tecnicas"><strong>Técnicas:&nbsp;&nbsp;&nbsp;</strong>$post.categoria.path</div>
			#end
			<div class="avaliar clearfix">
			<a href="#" id="btAvaliar" class="botaoMenu esquerda">Avaliar Vídeo</a>
			<ul class="clearfix">
				<li>
					<a href="#" data-valor="1" data-post="$post.id" #if($!postvo.rate == "1") class="selecionado" #end>
						<span>1 (Ruim)</span>
						<i class="iconeEstrela"></i>
					</a>
				</li>
				<li>
					<a href="#" data-valor="2" data-post="$post.id" #if($!postvo.rate == "2") class="selecionado" #end>
						<span>2 (Regular)</span>
						<i class="iconeEstrela"></i>
					</a>
				</li>
				<li>
					<a href="#" data-valor="3" data-post="$post.id" #if($!postvo.rate == "3") class="selecionado" #end>
						<span>3 (Bom)</span>
						<i class="iconeEstrela"></i>
					</a>
				</li>
				<li>
					<a href="#" data-valor="4" data-post="$post.id" #if($!postvo.rate == "4") class="selecionado" #end>
						<span>4 (Ótimo)</span>
						<i class="iconeEstrela"></i>
					</a>
				</li>
				<li>
					<a href="#" data-valor="5" data-post="$post.id" #if($!postvo.rate == "5") class="selecionado" #end>
						<span>5 (Excelente)</span>
						<i class="iconeEstrela"></i>
					</a>
				</li>
			</ul>
		</div>
		</div>
		
	</div>
</div>
<!--
<script type='text/javascript'>
            jwplayer('my-video').setup({
				height : "350",
				width : "610",
				primary : "html5",
				skin: "/jwplayer/skins/six.xml",
				playlist: [{
					sources: [{
					  file: "$post.urlVideo",
					  width: 720,
					  height: 400
					}]
				}]
            });
        </script>
-->