<div class="headerPagina clearfix">
	<div class="botoesHeader noBorder">
		<a href="agenda.htm" class="bs-tooltip botao branco btIcone addCategoria" title="$messages.get('btn.add.agenda.label')"><i class="icones ico-addCategoria"></i></a>
	</div>
	<h2 class="tituloPagina">$messages.get('agenda.label')</h2>	
</div>
	<div class="breadcrumb">
	    <a href="$context/admin/eventosMenu.htm">$messages.get('evento.label')</a>
	    <a href="$context/admin/eventos.htm">$messages.get('cadastro.evento.label')</a>
	    <a class="active" href="">$messages.get('agenda.label')</a>
	</div>
<div class="formDados">
	$table
	<br />
</div>
#parse("/msg.htm")
