<script>
$(document).ready(function() {
	$("#form_titulo").focus();
	
});

function number(e){
	var tecla=(window.event)?event.keyCode:e.which;
	if((tecla>47 && tecla<58)) return true;
	else{
	if (tecla==8 || tecla==0) return true;
	else  return false;
	 }
	} 

function mascaraHora(id){ 
	var campo = id.name;
	hora = document.forms[0].horaInicio.value;
	var hora01 = ''; 
	hora01 = hora01 + hora; 
	if (hora01.length == 2){ 
		hora01 = hora01 + ':';
		document.forms[0].horaInicio.value = hora01; 
	}
	if (hora01.length == 5){ 
		Verifica_Hora(hora); 
	} 
} 
	           
function Verifica_Hora(hora){ 
	hrs = (hora.substring(0,2)); 
	min = (hora.substring(3,5)); 	
	estado = "";	
	if ((hrs < 00 ) || (hrs > 23) || ( min < 00) ||( min > 59)){ 
		estado = "errada"; 
	}
	if (hora.value == "") { 
		estado = "errada"; 
	}
	if (estado == "errada") { 
		alert("Hora inválida!"); 
		document.forms[0].horaInicio.value=""; 
	}
} 
function mascaraHoraFim(id){ 
	var campo = id.name;
	hora = document.forms[0].horaFim.value;
	var hora01 = ''; 
	hora01 = hora01 + hora; 
	if (hora01.length == 2){ 
		hora01 = hora01 + ':';
		document.forms[0].horaFim.value = hora01; 
	}
	if (hora01.length == 5){ 
		Verifica_HoraFim(hora); 
	} 
} 
	           
function Verifica_HoraFim(hora){ 
	hrs = (hora.substring(0,2)); 
	min = (hora.substring(3,5)); 	
	estado = "";	
	if ((hrs < 00 ) || (hrs > 23) || ( min < 00) ||( min > 59)){ 
		estado = "errada"; 
	}
	if (hora.value == "") { 
		estado = "errada"; 
	}
	if (estado == "errada") { 
		alert("Hora inválida!"); 
		document.forms[0].horaFim.value=""; 
	}
} 
</script>
<div class="headerPagina clearfix">
	<h2 class="headerPages">$messages.get('cadastro.label')</h2>
</div>
	<div class="breadcrumb">
	    <a href="$context/admin/eventosMenu.htm">$messages.get('evento.label')</a>
	    <a href="$context/admin/eventos.htm">$messages.get('cadastro.evento.label')</a>
	    <!-- <a href="$context/admin/agendas.htm">$messages.get('agenda.label')</a> -->
	    <a href="$context/admin/agendas.htm">$messages.get('agenda.label')</a>
	    <a class="active" href=""> $messages.get('cadastro.label')</a>
	</div>
<div class="formDados">
	${form.startTag()}
	<div class="clearfix formCadastroAgenda">
				<label class="labelCampo">$form.fields.titulo.label</label><div class="campoPost">$form.fields.titulo</div>
				<label class="labelCampo">$form.fields.descricao.label</label><div class="campoPost">$form.fields.descricao</div>

				<label class="labelCampo">$form.fields.dataInicio.label</label>
				<div class="campoPost">
					$form.fields.dataInicio
				</div>
				
				<label class="labelCampo">$form.fields.dataFim.label</label>
				<div class="campoPost">
					$form.fields.dataFim
				</div>
				
				<label class="labelCampo">$form.fields.horaInicio.label</label>
				<div class="campoPost">
				<input class="input" name="horaInicio" value="$!form.fields.horaInicio.value" type="text" id="horaInicio" onkeypress="return number(event)" OnKeyUp="mascaraHora(horaInicio)" size="5" maxlength="5">
				</div>
				<label class="labelCampo">$form.fields.horaFim.label</label>
				<div class="campoPost">
				<input class="input" name="horaFim" value="$!form.fields.horaFim.value" type="text" id="horaFim" onkeypress="return number(event)" OnKeyUp="mascaraHoraFim(horaFim)" size="5" maxlength="5">
				</div>
				<br>
				<div class="campoPost">
        			    <label class="labelPost" for="palestrante">$form.fields.palestrante.label</label>
            			<div class="inputHolder">$form.fields.palestrante</div>
        		</div>
			<div class="clearfix botoesSalvar">$form.fields.salvar</div>
	</div>
	${form.endTag()}
</div>
#parse("/msg.htm")
<br />
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>