<div class="headerPagina clearfix">
	<h2 class="tituloPagina">Livecom OAuth Apps</h2>
</div>
<div class="formDados">
	<div class="marginTop">
		<div class="clearfix botoesSalvar">
			<a class="noDecoration" href="application.htm"><input type="button" class="botao" value="Novo +" /></a>
		</div>
	</div>
</div>
<div class="rTable">
	<div class="rTableRow header">
		<div class="rTableHead">Nome</div>
		<div class="rTableHead">Descrição</div>
		<div class="rTableHead">Ações</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	httpUtils.oauth.get("$context/rest/app").success(function(response) {
		
		$(".rTableRow.error").remove();
		$(".rTable").hide();
		var content = "";
		var linha = 0;
		if(response.length > 0){
			for(var i in response) {
				var app = response[i];
				var impar = linha % 2 == 0 ? "odd" : "";
				linha++;
				content += '<div class="rTableRow results '+impar+'">';
					content += '<div class="rTableCell" data-th="Nome" style="text-align: center;">'+ app.nome +'</div>';
					content += '<div class="rTableCell" data-th="Descrição" style="text-align: center;">'+ app.descricao +'</div>';
					content += '<div class="rTableCell" data-th="Ações" style="text-align: center;">';
						content += ' <a class="font-blue" href="$context/admin/application.htm?id='+ app.id +'">Editar</a>';
						content += ' | '; 
						content += '<a class="font-blue" data-idapp="'+app.id+'" class="deletar" href="#">Deletar</a>';
						content += ' | ';
						content += '<a class="font-blue" href="$context/admin/applicationDetalhes.htm?id='+ app.id +'">Detalhes</a>';
					content += '</div>';
				content += '</div>';
			}
		}else if(response.length <= 0 && $(".rTableRow.results").length <= 0){
			if(!$(".rTableRow.error").length > 0){
	 			conteudo = "<div class='rTableRow error'></div>";	
 			}
		}
		$(".rTable").append(content);
		$(".rTable").show();
	});
	
	
	$(".rTableCell").on("click", ".deletar", function(event) {
		event.preventDefault();
		var self = this;
		jConfirm("Deseja realmente deletar esta aplicação", "Atenção", "deletar", function(e) {
			if(e) {
				var id = $(self).attr("data-idapp");
				httpUtils.oauth.delete("$context/rest/app/" + id).success(function(response) {
					jAlert(response.message, "Atenção", null, function(e) {
						if(e) {
							window.location.reload(true);
						}
					});
				});
			}
		});
	});
});
</script>

