<div class="headerPagina clearfix">
<h2 class="tituloPagina">$messages.get('configurar.cadastro.label')</h2>
</div>
<p class="paragrafoMeio">$messages.get('configurar.cadastro.descricao.label')</p>
<div class="rTable">
	<div class='rTableRow header'>
		<div class='rTableHead'>Cadastros</div>
	</div>
	<div class='rTableRow results odd'>
		<div class='rTableCell' data-th='Cadastro de'><a href="canal.htm" class="font-blue">$messages.get('canal.label')</a></div>
	</div>
	<div class='rTableRow results'>
		<div class='rTableCell' data-th='Cadastro de'><a href="cidade.htm" class="font-blue">$messages.get('cidade.label')</a></div>
	</div>
	<div class='rTableRow results odd'>
		<div class='rTableCell' data-th='Cadastro de'><a href="complemento.htm" class="font-blue">$messages.get('complemento.label')</a></div>
	</div>
	<div class='rTableRow results'>
		<div class='rTableCell' data-th='Cadastro de'><a href="formacao.htm" class="font-blue">$messages.get('formacao.label')</a></div>
	</div>
	<div class='rTableRow results odd'>
		<div class='rTableCell' data-th='Cadastro de'><a href="funcao.htm" class="font-blue">$messages.get('funcao.label')</a></div>
	</div>
	<div class='rTableRow results'>
		<div class='rTableCell' data-th='Cadastro'><a href="diretoria.htm" class="font-blue">$messages.get('diretoria.label')</a></div>
	</div>
	<div class='rTableRow results odd'>
		<div class='rTableCell' data-th='Cadastro'><a href="area.htm" class="font-blue">$messages.get('area.label')</a></div>
	</div>
</div>