<script>
var dTable = null;
$(document).ready(function(){
	
	consultaTemplate();
	
	function getGruposURL(){
		return urlContext+"/ws/gruposAutoComplete.htm?mode=json&pode_postar=1&form_name=form&search=gruposUser&not_grupo_ids="+$("#idsGrupos").val()+"&user_id="+userId+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN; 
	}
	
	gruposTokenInput({
		element: "#insertGrupos",
		url: getGruposURL,
		hintText: "Comece a digitar para buscar.",
		noResultsText: "Nenhum item encontrado",
   	searchingText: "Carregando...",
   	placeholder: "Digite os grupos...",
   	onAdd: function (item) {
			var ids = $("#idsGrupos").val();
			$("#idsGrupos").val(ids+" "+item.id+",");
		},
	   	onDelete: function (item) {
	   	var idRemove = " "+item.id+",";
	      var ids = $("#idsGrupos").val();
	      ids = ids.replace(idRemove,"");
	      $("#idsGrupos").val(ids);
		},
		resultsFormatter: function(item){
        	if(item.urlFotoThumb){
        		var grupoImg = item.urlFotoThumb;
					if(grupoImg){
						if(grupoImg.substr(0,4).indexOf('img/') > -1) {
							grupoImg = urlContext + '/' + grupoImg;
						}
					}else{
						grupoImg = urlContext + "/imagens/bg_grupo_thumb.jpg";
					}
					
        		return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='" + grupoImg + "' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Usuários: " + item.countUsers + "</p></div></li>"	
        	}else{
        		return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='$context/img/grupo.jpg' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Usuários: " + item.countUsers + "</p></div></li>"
        	}
     	}
	});
	
	cargoTokenInput({
		element: "#filtroCargo",		
		url: urlContext+"/rest/v1/funcao?buscaTotal=0&page=0&maxRows=10",
		jsonContainer : "funcoes",
		hintText: "Comece a digitar para buscar.",
		noResultsText: "Nenhum item encontrado",
	   searchingText: "Carregando...",
	   placeholder: "Digite o cargo...",
	   tokenLimit: 1,
	   onAdd: function (item) {
		   $("#idsCargos").val(item.id);
		},
	   onDelete: function (item) {
	      $("#idsCargos").val('');
		},
	});
	
	var page = $(".paginaAtual").attr("data-page");
	var filtro = getFiltro(page);
	
	buscaUsers(filtro);
	
	$(document).on('ifChecked', '.radioGroupStatus', function(event){
		status = $(this).val();
	});
	
	$("#filtrarRel").click(function(){
		filtro = getFiltro(page);
		buscaUsers(filtro);
	});
	
	$('.table tbody').on("ifChanged", ".inputFilho input[type='checkbox']", function(event){
		var value = parseInt($(this).val());
		var index = jQuery.inArray(value, rows_selected);
		var $row = $(this).closest('tr:not(.font-red-thunderbird)');
		if($(this).is(":checked")){
			if(index < 0) {
				rows_selected.push(value);
				$(".convidar").removeClass("disabled");
			}
			$row.addClass('selected');
			$(this).iCheck('check');
		}else{
			$row.removeClass('selected');
			if(index > -1) {
				rows_selected.splice(index, 1);
			}
			$(this).iCheck('uncheck');
		}
		
		var totalTR = $('.table tbody tr:not(.font-red-thunderbird)').length;
		var selectedAll = $('.table tbody tr:not(.font-red-thunderbird)').not('.selected').length;
		var selecionadas = $('.table tbody tr.selected:not(.font-red-thunderbird)').length;
     	if(selectedAll != totalTR) {
     		//$(".table thead input[type='checkbox']").parent().addClass('checked');
     	} else if(totalTR == selectedAll){
     		//$(".table thead input[type='checkbox']").parent().removeClass('checked');
     		$(".convidar").addClass("disabled");
     	} 
     	
     	if(selecionadas == totalTR){
     		$(".table thead input[type='checkbox']").parent().addClass('checked');
     	}else{
     		$(".table thead input[type='checkbox']").parent().removeClass('checked');
     	}
    });
	
	$('.table thead').on("ifChanged", "input[type='checkbox']", function(event){
		if($(this).is(":checked")){
			$("body").find(".inputFilho input[type='checkbox']").iCheck('check');
		}else{
			$("body").find(".inputFilho input[type='checkbox']").iCheck('uncheck');
		}
    });
	
});//fim doc

function getFiltro(page){
	if(0 > page) {
		page = 0;
	}
	
	var grupoId = jQuery.trim($('#idsGrupos').val());
	grupoId = grupoId.substr(0, grupoId.length-1);
	
	var filtro = {
		user: SESSION.USER_INFO.USER_LOGIN,
 		page: page,
 		wsVersion: wsVersion,
 		wstoken:SESSION.USER_INFO.USER_WSTOKEN,
 		grupoId: grupoId,
 		cargoId: jQuery.trim($('#idsCargos').val()),
 		status: $(".radioGroupStatus:checked").val(),
 		origem: $(".radioGroupOrigem:checked").val(),
 		acesso: $(".radioGroupFiltro:checked").val()
	};
	return filtro;
}

function buscaUsers(filtro){
	var params = [];
	params.push({
		name : 'user',
		value : filtro.userLogin
	});
	params.push({
		name : 'wsVersion',
		value : filtro.wsVersion
	});
	params.push({
		name : 'wstoken',
		value : filtro.userwstoken
	});
	params.push({
		name : 'grupoId',
		value : filtro.grupoId
	});
	params.push({
		name : 'cargoId',
		value : filtro.cargoId
	});
	params.push({
		name : 'statusAtivacao',
		value : filtro.status
	});
	params.push({
		name : 'origem',
		value : filtro.origem
	});
	params.push({
		name : 'acesso',
		value : filtro.acesso
	});
	params.push({
		name : 'buscaTotal',
		value : 1
	});
	
	var jsonDatatable = {
		columns: [{
			mData: 'id',
			render: function(data, type, row ) {
				if(row.grupo != ""){
					return '<label class="inputFilho"><input type="checkbox" value="'+data+'" id="user_'+data+'" class="" name="user_'+data+'"></label>';
				}else{
					var vazio = "";
					return vazio;
				}
			},
		}, 'nome', 'login', 'email', 'funcao', 'grupo', 'status', 'origemCadastro'],
		columnDefs: [ { orderable: false, targets: [0] }],
		order: [[ 1, 'asc' ]],
		ajax : {
			type : 'POST',
			url : "$context/ws/usuariosAutoComplete.htm?mode=json&form_name=form",
		},
		element : ".table",
		fnRowCallback: function(row, data, dataIndex) {
			var rowId = data.id;
        	if(jQuery.inArray(rowId, rows_selected) !== -1){
           	$(row).find('input[type="checkbox"]').iCheck('check');
           	$(row).addClass('selected');
        	}
        	
        	createTooltip($(row).find('a.user-name.tooltipster'));
        	
        	if(data.grupo == ""){
        		$(row).addClass("font-red-thunderbird");
        		$(row).tooltipster({ theme: 'tooltipster-livecom', content: 'Este usuário não pode ser convidado pois não está associado a nenhum grupo.' });
        	}else{
        		$(row).find("input[type='checkbox']").iCheck({
    				checkboxClass: 'icheckbox_square-green',
    		      	radioClass: 'iradio_square-green',
    		      	increaseArea: '20%'
    			});
        	}
		},
		fnDrawCallback: function() {
			var selectedAll = $('.table tbody tr:not(.font-red-thunderbird)').not('.selected').length;
			if(selectedAll == 0) {
        		$("#selectAll").iCheck('check');
        	} else if(selectedAll == 10){
        		$("#selectAll").iCheck('uncheck');
        	}
		},
		filter : params,
		filterResponse : function(res) {
			var json = {};
			if (res && res.list) {
				var list = res.list.usuarios;
				var data = [];
				for ( var i in list) {
					var u = list[i];
					
					var funcao = u.funcao ? u.funcao : '--';
					
					var colunaNome = '<a href="$context/usuario.htm?id='+u.id+'" class="user-name tooltipster" data-name="'+u.nome+'" data-img="'+u.urlFotoUsuarioThumb+'" data-since="'+u.dataCreated+'" data-nasc="'+u.dataNasc+'" data-cargo="'+funcao+'">'+u.nome+'</a>';
					
					var stringGrupos = '';
					if(u.gruposStr){
						var stringGrupos = '<span class="trunca sm">'+u.gruposStr+'</span>';
					}
					
					if(!u.origem){
						var origemUser = "WEB";
					}else{
						var origemUser = u.origem;
					}
					
					var js = {
						id: u.id,
						nome: colunaNome,
						login: u.login ? u.login : '--',
						email: u.email ? u.email : '--',
						funcao: u.funcao ? u.funcao : '--',
						grupo: stringGrupos,
						status: u.status ? u.status : '--',
						origemCadastro: origemUser
					};
					data.push(js);
				}
				json.data = data;
				json.recordsTotal = res.list.total;
				json.recordsFiltered = res.list.total;
				return json;
			}
			return null;
		}
	}
	
	if(dTable != null) {
		$(".table > tbody").empty();
		dTable.clear();
		dTable.destroy();
	}
	dTable = dtTableUtils(jsonDatatable);
}
</script>
<div class="page-content">
	<h3 class="page-title">Convidar Usuários - Lote
		<span class="botoesHeader noBorder">
			<div class="actions">
				<div class="btn-group">
					<button class="btn blue  btn-outline dropdown-toggle"
						data-toggle="dropdown" aria-expanded="false">
						Ações <i class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="$context/admin/convidarUsuariosPlanilha.htm"><i class="fa fa-file-excel-o"></i> Convidar usuários por planilha</a>
						</li>
						<li>
							<a href="$context/admin/convidarUsuariosEmail.htm"><i class="fa fa-envelope-o"></i> Convidar usuários por e-mail</a>
						</li>
					</ul>
				</div>
			</div>
		</span>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/usuarios.htm">Usuários</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/pages/convidarUsuarios.htm">Convidar Usuários</a><i class="fa fa-angle-right"></i></li>
			<li><span>Convidar Usuários - Lote</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="m-heading-1 border-blue m-bordered">
				<h3>Convidar Usuários - Lote <i class="fa fa-question-circle font-blue pull-right" aria-hidden="true"></i></h3>
				<p>Selecione na tabela abaixo os usuários que você deseja convidar.</p>
				<p>Após selecionar os usuários, clique em <b>Convidar</b> para confirmar o envio dos e-mails.</p>
			</div>
			
		${form.startTag()}
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Filtro</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-down tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body toggled">
					<form name="form_relatorio" id="relVisualizacao" method="post">
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-6 form-group post-tags">
								<label class="control-label labelCampo"><i class="fa fa-users"></i>&nbsp;Grupos:</label>
									<input class="form-control" placeholder="Selecionar grupos" id="insertGrupos">
									<input type="hidden" name="idsGrupos" id="idsGrupos" value="">
							</div>
							<div class="row clearfix quebraLinhaForm">
								<div class="col-md-6 form-group">
								</div>
								<div class="col-md-6 form-group">
									<label class="control-label labelCampo tooltip-livecom-origem-cadastro form-group"><i class="fa fa-list-alt"></i>&nbsp;Origem Cadastro:</label>
									<div class="row col-md-12">
										<label for="todos" class="labelCheckFiltro">
											<input type="radio" name="radioGroupOrigem" id="todos" class="radioGroupOrigem" value="" checked>
											Todos</label>
										<label for="Importado" class="labelCheckFiltro">
											<input type="radio" name="radioGroupOrigem" id="IMPORTADO" class="radioGroupOrigem" value="IMPORTADO">
											Importado</label>
										<label for="Web" class="labelCheckFiltro">
											<input type="radio" name="radioGroupOrigem" id="WEB" class="radioGroupOrigem" value="WEB">
											WEB</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-6 form-group post-tags">
								<label class="control-label labelCampo"><i class="fa fa-briefcase"></i>&nbsp;Cargo:</label>
								<input type="text" id="filtroCargo" name="filtroCargo" class="form-control">
								<input type="hidden" id="idsCargos" name="idsCargos">
							</div>
							<div class="col-md-6 form-group">
								<label class="control-label labelCampo tooltip-livecom-status form-group"><i class="fa fa-flag"></i>&nbsp;Status:</label>
								<div class="col-md-12 row">
									<label for="todos" class="labelCheckFiltro">
										<input type="radio" name="radioGroupStatus" id="todos" class="radioGroupStatus" value="" checked>
										Todos</label>
									<label for="novo" class="labelCheckFiltro">
										<input type="radio" name="radioGroupStatus" id="novo" class="radioGroupStatus" value="0">
										Novo</label>
									<label for="enviadoConvite" class="labelCheckFiltro">
										<input type="radio" name="radioGroupStatus" id="enviadoConvite" class="radioGroupStatus" value="1">
										Enviado Convite</label>
									<label for="ativo" class="labelCheckFiltro">
										<input type="radio" name="radioGroupStatus" id="ativo" class="radioGroupStatus" value="4">
										Ativo</label>
								</div>
							</div>
							<div class="col-md-6 form-group">
								<label class="control-label labelCampo tooltip-livecom-conector form-group"><i class="fa fa-share-alt"></i>&nbsp;Conector:</label>
								<div class="col-md-12 row">
									<label for="conectorTodos" class="labelCheckFiltro">
										<input type="radio" name="radioGroupFiltro" id="conectorTodos" class="radioGroupFiltro" value="" checked>
										Todos</label>
									<label for="conectorLivecom" class="labelCheckFiltro">
										<input type="radio" name="radioGroupFiltro" id="conectorLivecom" class="radioGroupFiltro" value="livecom">
										Livecom</label>
									<label for="conectorLDAP" class="labelCheckFiltro">
										<input type="radio" name="radioGroupFiltro" id="conectorLDAP" class="radioGroupFiltro" value="ldap">
										LDAP</label>
									<!-- <label for="conectorWS" class="labelCheckFiltro tooltip-livecom" title="Acesso através de Web Service>
										<input type="radio" name="radioGroupFiltro" id="conectorWS" class="radioGroupFiltro" value="ws">
										Web Service</label> -->
								</div>
							</div>
						</div>
						<div class="clearfix text-right">
							<input type="button" class="btn btn-primary min-width" id="filtrarRel" value="Filtrar" />
						</div>
					</form>
				</div>
			</div>
		
			<div class="portlet light">
				<div class="portlet-title">
                <div class="caption font-dark">
                    <span class="caption-subject font-blue sbold uppercase"><i class="fa fa-user-plus"></i>&nbsp; Convidar Usuários</span>
                </div>
            </div>
				<div class="portlet-body">
					<div class="clearfix">
						
					</div>
					<div class="clearfix table-responsive">
						<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
							<thead>
								<tr>
									<th style="width: 5%;"><label class="inputPai"><input type="checkbox" id="selectAll" name="selectAll"></label></th>
									<th>Nome</th>
									<th>Login</th>
									<th>E-mail</th>
									<th>Cargo</th>
									<th>Grupos</th>
									<th>Status</th>
									<th>Origem</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					<div class="clearfix text-right margin-top-10">
						<a class="btn btn-primary min-width convidar" id="convidarLote">Convidar</a>
					</div>
				</div>
			</div>
		${form.endTag()}
		</div>
	</div>
</div>
#parse("/modals/modal_convidar_usuario.htm")

#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>