<pre>
$ds
--
#if($ds && $ds.initialSize)
initialSize	: $ds.initialSize
#if($ds.maxActive)
maxActive	: $ds.maxActive
#end
#if($ds.maxTotal)
maxTotal	: $ds.maxTotal
#end
maxIdle		: $ds.maxIdle
minIdle		: $ds.minIdle
#if($ds.maxWait)
maxWait			: $ds.maxWait
#end
#if($ds.maxWaitMillis)
maxWaitMillis	: $ds.maxWaitMillis
#end
#if($ds.removeAbandonedOnBorrow)
removeAbandonedOnBorrow 	: $ds.removeAbandonedOnBorrow
removeAbandonedOnMaintenance 	: $ds.removeAbandonedOnMaintenance
#end
#if($ds.removeAbandoned)
removeAbandoned			: $ds.removeAbandoned
#end
minEvictableIdleTimeMillis	: $ds.minEvictableIdleTimeMillis
timeBetweenEvictionRunsMillis	: $ds.timeBetweenEvictionRunsMillis
removeAbandonedTimeout		: $ds.removeAbandonedTimeout

testOnBorrow	: $ds.testOnBorrow
testOnReturn	: $ds.testOnReturn
testWhileIdle	: $ds.testWhileIdle
validationQuery	: $ds.validationQuery

defaultTransactionIsolation	: $ds.defaultTransactionIsolation
defaultAutoCommit		: $ds.defaultAutoCommit
defaultReadOnly			: $ds.defaultReadOnly
#end
</pre>

<hr>
<pre>
#foreach($key in $mapKeys)
<b>$key:</b> $mapValues.get($key)
#end
</pre>