<script>
var maximo1 = 20;
var maximo2 = 40;
var linha = 0;
$(document).ready(function() {
	
	$(window).scroll(function() {
		scrollTela();
	});

	$(window).scrollTop(5).scrollTop(0);

	scrollTela();
	
	graficoPizza($logVO.linhasOk, $logVO.linhasNok);
	
});//fim doc
			
function logImport(page){
	if (page > 0) {
		var maximoPagina = maximo1;
	} else {
		var maximoPagina = maximo2;
	}
	jQuery.ajax({
		type : "get",
		url : "$context/rest/linhaImportacao?id="+$id,
		dataType : "json",
		beforeSend: function(){
			$("#table").hide();
		},
		success : function(data) {
			if (data.headers && data.headers.length > 0){
				var conteudo = "<tr>";
					for (var i = 0; i < data.headers.length; i++){
			 			$(".paginaAtual").show();
			 			conteudo += '<th>'+data.headers[i]+'</th>';
					}
				conteudo +=	"</tr>";
			}
			if (data.linhas && data.linhas.length > 0){
				var conteudoTabela = "";
				var arraylinhas = [];
	 			for (var j = 0; j < data.linhas.length; j++){
		 			if (i % 2 == 0){
		 				linha = "odd";
	 				}else{
	 					linha = "even";
	 				}
		 			i++;
			 		for(var k=0;k<data.headers.length;k++){
			 			if(data.linhas[j][k] == "" || data.linhas[j][k] == null){
			 				arraylinhas[k] = "-";
			 			}else{
			 				arraylinhas[k] = data.linhas[j][k];
			 			}
			 		}
		 			conteudoTabela += '<tr class="'+linha+'">';
			 			for(var k=0;k<data.headers.length;k++){
			 					conteudoTabela +='<td class="tooltip-livecom" title="Erro: '+(data.linhaErro != null ? data.linhaErro[j] : "")+'">'+arraylinhas[k]+'</td>';
			 			}
			 		conteudoTabela += '</tr>';
	 			}
	 			$(".table-error-holder").removeClass('hidden');
			} else if(data.linhas && data.linhas.length <= 0){
				$(".table-error-holder").addClass('hidden');
		 	}
			
			$("#table > thead").append(conteudo);
			$("#table > tbody").append(conteudoTabela);
			$("#table").show();
			$(".paginaAtual").hide();
			geraStack("#table");
		}
	});
}			
			
			
function scrollTela(){
 	if(($(window).scrollTop() + $(window).height() > $(document).height() - $(".paginaAtual").outerHeight()) || $(".paginaAtual").offset().top < $(window).height()) {
 		if($(".paginaAtual").hasClass("loading")){
 			return false;
 		}else if($(".paginaAtual:visible").length > 0 && !$(".paginaAtual").hasClass("loading")){
 			$(".paginaAtual").addClass("loading");
 			var termo = $("#filtro").val();
 			var page = parseInt($(".paginaAtual").attr("data-page"))+1;
 			logImport(page);   
 		}
 	}
 }


function graficoPizza(ok, nok) {
	 var newh = $("#contentcolumn").height();
     var neww = $("#contentcolumn").width();
     
     $(window).resize(function() {
		newh = $("#contentcolumn").height();
		neww = $("#contentcolumn").width();
		chart.redraw();
        chart.reflow();
     });

     var novoArray = [];
			novoArray.push({
				name : 'SUCESSO',
				color : '#43a047',
				y : parseInt(ok)
			});
			novoArray.push({
				name : 'ERRO',
				color : '#ff6400',
				y : parseInt(nok)
			});
			
		var options = {
			chart : {
				renderTo : 'renderGrafico',
				type : 'pie',
				backgroundColor : "transparent",
				options3d : {
					enabled : true,
					alpha : 45,
					beta : 0
				},
				style : {
					fontFamily : 'Open sans'
				}
			},
			title : {
				text : 'Linhas Importadas'
			},
			tooltip : {
				valueSuffix : ' mensagens'
			},
			credits : {
				enabled : false
			},
			exporting : {
				enabled : false
			},
			plotOptions : {
				pie : {
					allowPointSelect : true,
					cursor : 'pointer',
					depth : 35,
					dataLabels : {
						enabled : true,
						format : '{series.name}: {point.name}: <b>{point.y}'
					}
				}
			},
			series : [ {
				type : 'pie',
				name : '.',
				data : novoArray
			} ]
		}
		chart = new Highcharts.Chart(options);
}
</script>
<div class="page-content">
	<h3 class="page-title">
		Detalhes $messages.get('log.importacao.label')
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/importacao.htm">Importação</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Detalhes $messages.get('log.importacao.label')</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-upload"></i> Upload de arquivos</span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="clearfix">
						<div class="umTerco left fixGrafico">
							<div class="umMeioDetLog detalheLog">
								<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
									<thead>
										<tr>
											<th class="text-center" colspan="2">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<tr class="odd">
											<td>Nome</td>
											<td>#if ($logVO.arquivoNome) $!logVO.arquivoNome #else --
												#end</td>
										</tr>
										<tr class="even">
											<td>Importados</td>
											<td>#if ($logVO.linhasOk) $!logVO.linhasOk #else -- #end</td>
										</tr>
										<tr class="odd">
											<td>Não Importados</td>
											<td>#if ($logVO.linhasNok) $!logVO.linhasNok #else -- #end</td>
										</tr>
										<tr class="even">
											<td>Porcentagem</td>
											<td>#if ($logVO.porcentagem) $!logVO.porcentagem #else --
												#end</td>
										</tr>
										<tr class="odd">
											<td>Tempo</td>
											<td>#if ($logVO.dataDif) $!logVO.dataDif #else -- #end</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="doisTercos fixGrafico">
							<div id="renderGrafico" class="graficos form-group"></div>
						</div>
					</div>
					<div class="clearfix table-error-holder">
						<div class="clearfix tabelaError">
							<div class="clearfix pull-left"><p class="observacao maior">Erros:</p></div>
							#if($!EXPORTACOES)
								<div class="clearfix pull-right">${form.startTag()} $form.fields.exportar ${form.endTag()}</div>
							#end
						</div>
						<div class="clearfix tabelaError comOverflow">
							<table id="table" class="simple">
								<thead class="minWidth90">
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<div class="paginaAtual" data-page="-1"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>