<div class="page-content">
	<h3 class="page-title">$messages.get('titulo.logSistema.label')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/logSistema.htm?clear=true">$messages.get('listagem.log.sistema.label')</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('titulo.logSistema.label')</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-arrow-right" aria-hidden="true"></i> $messages.get('titulo.logSistema.label')</span>
					</div>
				</div>
				<div class="portlet-body">
					<table id="table">
						<thead>
							<tr>
								<th align="center" nowrap="true">$messages.get('coluna.log.id.label')</th>
								<th align="center">$messages.get('coluna.log.data.label')</th>
								<th align="center">$messages.get('coluna.log.tipo.label')</th>
								<th>$messages.get('mensagem.label')</th>
								#if($log.isErro())
								<th>$messages.get('erro.detalhado.label')</th>
								#end
							</tr>
						</thead>
						<tbody>
							<tr>
								<td align="center" nowrap="true">$!log.id</td>
								<td align="center">$!log.dataString</td>
								<td align="center">$!log.tipo</td>
								<td >$!log.msgEncode</td>
								#if($log.isErro())
								<td align="left" nowrap="true">
									<div class="tamanhoLog"><textarea rows="30" cols="100">$!log.exceptionString</textarea></div>
								</td>
								#end
							</tr>
						</tbody>
					</table>
					<hr/>
					<div class="clearfix botoesSalvar">
						#if($session.userInfo.isRoot())
						<div class="umMeio left">
						#end
							$form.fields.voltar		
						#if($session.userInfo.isRoot())
						</div>
						#end
						#if($session.userInfo.isRoot())
						<div class="umMeio">
							$deletar
						</div>
						 #end
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")