<script>
$(document).ready(function(){	

	function getGruposURL(){
		return urlContext+"/ws/gruposAutoComplete.htm?mode=json&pode_postar=1&form_name=form&search=gruposUser&not_grupo_ids="+$("#idsGrupos").val()+"&user_id="+userId+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN; 
	}
	
	gruposTokenInput({
		element: "#insertGrupos",
		url: getGruposURL,
		hintText: "Comece a digitar para buscar",
		noResultsText: "Nenhum item encontrado",
		searchingText: "Carregando...",
		placeholder: "Digite os grupos...",
		onAdd: function (item) {
			var ids = $("#idsGrupos").val();
			$("#idsGrupos").val(ids+" "+item.id+",");
			
			var names = $("#nameGrupos").val();
			$("#nameGrupos").val(names+" "+item.nome+",");
		},
	   onDelete: function (item) {
	   	var idRemove = " "+item.id+",";
	      var ids = $("#idsGrupos").val();
	      ids = ids.replace(idRemove,"");
	      $("#idsGrupos").val(ids);
	      
	      var nameRemove = " "+item.nome+",";
	      var names = $("#nameGrupos").val();
	      names = names.replace(nameRemove,"");
	      $("#nameGrupos").val(names);
		},
	});
	
	usuarioTokenInput({
		element: "#insertUsuarios",
		url: urlContext+"/ws/usuariosAutoComplete.htm?mode=json&form_name=form",
		hintText: "$messages.get('msg.digitar')",
      noResultsText: "$messages.get('msg.item.notFound.error')",
      searchingText: "$messages.get('carregando.label')",
      placeholder: "Digite os usuários...",
      onAdd: function (item) {
			var ids = $("#idsUsers").val();
			$("#idsUsers").val(ids+" "+item.id+",");
			
			var names = $("#nameUsers").val();
			$("#nameUsers").val(names+" "+item.nome+",");
    	},
    	onDelete: function (item){
			var idRemove = " "+item.id+",";
	      var ids = $("#idsUsers").val();
	      ids = ids.replace(idRemove,"");
	      $("#idsUsers").val(ids);
	      
	      var nameRemove = " "+item.nome+",";
	      var names = $("#nameUsers").val();
	      names = names.replace(nameRemove,"");
	      $("#nameUsers").val(names);
    	},
    	resultsFormatter: function(item){
    		if(item.urlFotoUsuarioThumb){
    			return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='" + item.urlFotoUsuarioThumb + "' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Cargo: " + item.funcao + "</p></div></li>"	
    		}else{
    			return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='"+urlContext+"/imagens/user.png' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Cargo: " + item.funcao + "</p></div></li>"
    		}
  		}
	});
	
	$('.radioGroup').on('ifChecked', function(event){
		if($(this).val() == 'grupos') {
			$('.select-groups').fadeIn();
			$('.select-users').hide();
			$("#idsUsers, #nameUsers").val("");
			$(".select-users ul.token-input-list li.token-input-token").remove();
			modo = $(this).val();
		} else if($(this).val() == 'usuarios') {
			$('.select-groups').hide();
			$('.select-users').fadeIn();
			$("#idsGrupos, #nameGrupos").val("");
			$(".select-groups ul.token-input-list li.token-input-token").remove();
			modo = $(this).val();
		} else {
			$('.select-groups, .select-users').fadeOut();
			$("#idsUsers, #nameUsers, #idsGrupos, #nameGrupos").val("");
			$(".select-users ul.token-input-list li.token-input-token, .select-groups ul.token-input-list li.token-input-token").remove();
			modo = $(this).val();
		}
	});
	
	$("#btConfirm").click(function(){
		var grupos = $("#nameGrupos").val();
		var users = $("#nameUsers").val();
		
		if(grupos != ""){
			var qtdGrupos = grupos.length - 2;
			var stringGrupos = grupos.substr(1, qtdGrupos);
			$("#modalConfirm .modal-body").append("<p>Você está enviando o e-mail para o(s) grupo(s):<br/> "+stringGrupos+"<br />Confirma a ação?");
		}
		
		if(users != ""){
			var qtdUsers = users.length - 2;
			var stringUsers = users.substr(1, qtdUsers);
			$("#modalConfirm .modal-body").append("<p>Você está enviando o e-mail para o(s) usuário(s):<br/> "+stringUsers+"<br />Confirma a ação?");
		}
		
		if(users == "" && grupos == ""){
			$("#modalConfirm .modal-body").append("<p>Você está enviando o e-mail para todos os usuários do sistema. Confirma a ação?");
		}
		
	});
	
	$('#modalConfirm').on('hidden.bs.modal', function (e) {
		$("#modalConfirm .modal-body").html("");
	});
	
	$("#enviaEmail").click(function(e){
		e.preventDefault();
		
		var grupos_ids = $("#idsGrupos").val();
		var usuarios_ids = $("#idsUsers").val();
		var templateId = "$id";
		var todos = false;
		
		if($("#todos").is(':checked')) {
			todos = true;
		}

		$("#form_todos").val(todos);
		$("#form_grupos_ids").val(grupos_ids);
		$("#form_usuarios_ids").val(usuarios_ids);
		$("#form_id").val(templateId);
		
		$("#form").submit();
	});
	
	$('#tempFrame').contents().find('html').html('$templateEmail.getHtmlFormatado()');
});//fim doc
</script>
<div class="page-content">
	<h3 class="page-title">Enviar E-mail</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i><a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/usuarios.htm">Usuários</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/templates.htm">E-mail Marketing</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Enviar E-mail</span></li>
			<li class="right">
				<a data-toggle="modal" data-target="#modalHelp" class="tooltip-livecom" title="Ajuda">
					<i class="fa fa-question-circle font-blue" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
               	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-envelope-o"></i>&nbsp; Enviar E-mail</span>
					</div>
            </div>
				<div class="portlet-body clearfix">
					<div class="col-md-12">
						${form.startTag()}
						<input type="hidden" id="nameGrupos">
						<input type="hidden" id="nameUsers">
						<div class="form-group campoPost noHeight">
							<label class="control-label labelCampo">De:</label>
							<p class="notifyText">$email_email_admin</p>
						</div>
						<div class="form-group campoPost noHeight">
							<label class="control-label labelCampo">Template:</label>
							<p class="notifyText">$!templateEmail.nome</p>
						</div>
						<div class="form-group campoPost noHeight">
							<label class="control-label labelCampo">Assunto:</label>
							$!form.fields.assunto
						</div>
						<div class="form-group campoPost noHeight">
							<label class="control-label labelCampo">Para:</label>
							<br />
							<label for="todos"><input type="radio" name="radioGroup" id="todos" class="radioGroup" value="todos" checked>
							Todos os usuários</label>
							<br />
							<label for="grupos"><input type="radio" name="radioGroup" id="grupos" class="radioGroup" value="grupos">
							Selecionar grupos</label>
							<br />
							<label for="usuarios"><input type="radio" name="radioGroup" id="usuarios" class="radioGroup" value="usuarios">
							Selecionar usuários</label>
						</div>
						<div class="form-group select-groups">
							<input class="form-control" placeholder="Selecionar grupos" id="insertGrupos">
							<input type="hidden" name="idsGrupos" id="idsGrupos" value="">
						</div>
						<div class="form-group select-users">
							<input class="form-control" placeholder="Selecionar usuários" id="insertUsuarios">
							<input type="hidden" name="idsUsers" id="idsUsers" value="">
						</div>
						<div class="form-group campoPost">
							<label class="control-label labelCampo">Mensagem:</label>
							<div class="campoPost">
								<iframe id="tempFrame" class="iframe medium bordered radius"></iframe>
							</div>
						</div>
						<div class="form-group text-right">
							<a href="#" id="btConfirm" class="btn btn-primary min-width" data-toggle="modal" data-target="#modalConfirm">$messages.get('enviar.emails.label')</a>
						</div>
						${form.endTag()}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalHelp" role="dialog" aria-labelledby="modalHelp" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-question-sign"></span> Ajuda - Enviar E-mail Marketing
				</h4>
			</div>
			<div class="modal-body">
				<p class="form-group">Aqui você irá enviar o template de e-mail marketing para os usuários que desejar.</p>
				<hr />
				<p class="form-group">Para enviar o e-mail a todos os participantes do sistema, selecione a opção <b>Todos os usuários</b>.</p>
				<p class="form-group">Para enviar o e-mail para um ou mais grupo(s) específico(s), selecione<br />
				a opção <b>Selecionar grupos</b> e insira os grupos que desejar.</p>
				<p class="form-group">Para enviar para um ou mais usuário(s) específico(s), selecione a opção <b>Selecionar usuários</b>
				e insira os usuários que desejar.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary min-width" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalConfirm" role="dialog" aria-labelledby="modalConfirm" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-envelope"></span> Enviar E-mail Marketing
				</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default min-width" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary min-width" data-dismiss="modal" id="enviaEmail">Enviar</button>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>