<!-- <script type="text/javascript" src="http://cidades-estados-js.googlecode.com/files/cidades-estados-1.0.js"></script> -->
<!-- <script type="text/javascript" src="$context/js/cidades-estados-1.0.js"></script> -->
<script>
$(function() {
	  new dgCidadesEstados({
		  cidade: document.getElementById('cidade'),
		  estado: document.getElementById('estado'),
	    change: true
	  });
	});

$(document).ready(function() {
	$('select').customSelect();
	$(window).resize(function(){
		setTimeout("$('select').trigger('update')",500);
	});
	
$(".botaoFoto").uploadFile({
		url: urlContext+'/ws/uploadFile.htm',
		method: "POST",
		formData: {
        	'dir': 'arquivos',
        	'descricao': '',
        	'tipo': '1',
        	'user_id': userId,
        	'mode': 'json',
        	'form_name': 'form'
        },
		allowedTypes:"psd,jpg,jpeg,png,gif,doc,pdf,zip,rar,docx,xls,odt,xlsx,tar,gz,txt,rtf,csv,ico",
		fileName: "fileField",
		showDelete: false,
		showAbort: false,
		maxFileSize:1024*5120, //5mb,
		dragDrop: false,
		multiple: false,
		uploadButtonClass:"botaoFoto botao branco ",
		onSubmit:function(files){
			$(".trocaFotoUser").append('<i class="icones ac_loading"></i>');
		},
		onSuccess:function(files,data,xhr){
			$(".trocaFotoUser .icones.ac_loading").remove();
			$(".trocaFotoUser img").attr("src", data.file.urlThumb);
			$("#form_arquivoFotoId").val(data.file.id);
		},
		onError: function(files,data,errMsg){	
			$(".trocaFotoUser .icones.ac_loading").remove();
			jAlert("$messages.get('msg.upload.error')", "$messages.get('atencao.label')", null);
		}
	});
	
$("#form_nome").focus(); 

/*grupos autocomplete*/
	var arrayGrupos = [];
	
	#if($evento.grupos)
		#foreach($grupo in $evento.grupos)
			arrayGrupos.push({
				id: "$grupo.id",
				nome: "$grupo.nome"
			});
		#end
	#else
		#foreach($grupo in $gruposDefault)
		arrayGrupos.push({
			id: "$grupo.id",
			nome: "$grupo.getNomeString($session.userInfo)"
		});
		#end
	#end

	function getGruposURL(){
		return urlContext+"/ws/gruposAutoComplete.htm?mode=json&pode_postar=1&form_name=form&search=gruposUser&not_grupo_ids="+$("#idsGrupos").val()+"&user_id="+userId+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN;
	}

	$("#grupos").tokenInput(getGruposURL, {
		method: "POST",
		jsonContainer : "list",
		queryParam: "q",
		hintText: "$messages.get('msg.digitar')",
        noResultsText: "$messages.get('msg.item.notFound.error')",
        searchingText: "$messages.get('carregando.label')",
        preventDuplicates: true,
        propertyToSearch: "nome",
        onAdd: function (item) {
        	var ids = $("#idsGrupos").val();
			$("#idsGrupos").val(ids+" "+item.id+",");
        },
        onDelete: function (item) {
        	var idRemove = " "+item.id+",";
    	 	var ids = $("#idsGrupos").val();
    	 	ids = ids.replace(idRemove,"");
    		$("#idsGrupos").val(ids);
        },
        prePopulate: arrayGrupos
    });

});

</script>
<div class="headerPagina clearfix">
		<h2 class="tituloPagina">$messages.get('novo.label')</h2>
</div>
	<div class="breadcrumb">
	    <a href="$context/admin/eventosMenu.htm">$messages.get('evento.label')</a>
	    <a href="$context/admin/eventos.htm">$messages.get('cadastro.evento.label')</a>
	    <a class="active" href="">$messages.get('novo.label')</a>
	</div>
<div class="formDados cadastrosEventos">
	${form.startTag()}
	<div class="clearfix">
		<div class="umTerco left">
			<!-- <div class="umTerco left"> -->
			<div class="fotoUsuario big trocaFotoUser">
				<div class="centraliza"><img src="${evento.getUrlFoto()}" alt="" /></div>
			</div>
			<input type="hidden" value="" id="form_arquivoFotoId" name="arquivoFotoId">
			<div class="uploadFotoUsuario">
				<div class="botao branco botaoFoto"><span class="file-wrapper"><span class="button">$messages.get('inserir.alterar.foto.label')</span></span></div>
			</div>
			<!-- </div> -->
		</div>
			<div class="doisTercos">
				<label class="labelCampo">$form.fields.nome.label</label>
				<div class="campoPost">$form.fields.nome</div>
				
				<label class="labelCampo">$form.fields.data.label</label>
				<div class="campoPost">
					<!-- <input name="data" id="form_dataPublicacao" class="input" type="text" value="$format.date($!post.data, "dd/MM/yyyy")" autocomplete="off"/> -->
					$form.fields.data
				</div>
				
				<label class="labelCampo">$form.fields.descricao.label</label>
				<div class="campoPost">$form.fields.descricao</div>
				
				<label class="labelCampo">$form.fields.endereco.label</label>
				<div class="campoPost">$form.fields.endereco</div>
				
				<label class="labelCampo">$form.fields.numero.label</label>
				<div class="campoPost">$form.fields.numero</div>
				
				<label class="labelCampo">$form.fields.complemento.label</label>
				<div class="campoPost">$form.fields.complemento</div>
				
				<label class="labelCampo">$form.fields.estado.label</label>
				<div class="campoPost fixSelects">$form.fields.estado</div>
				
				<label class="labelCampo">$form.fields.cidade.label</label>
				<div class="campoPost fixSelects">$form.fields.cidade</div>
				
				<div class="campoPost tokenEventos">
		        	<label class="labelPost" for="grupos">$messages.get('menu.cadastro.grupo')</label>
		            <div class="inputHolder tokenEventos" style="width: 100%;max-width:350px;margin-top:15px;">
		            	#if($evento.grupos)
						<input type="text" class="input placeholder" size="20" value="" rel="Selecione os grupos que desejar" id="grupos" name="grupos">
						<input type="hidden" name="idsGrupos" id="idsGrupos" value="#foreach($grupo in $evento.grupos) $grupo.id, #end">
						#else
						<input type="text" class="input placeholder" size="20" value="" rel="Selecione os grupos que desejar" id="grupos" name="grupos">
						<input type="hidden" name="idsGrupos" id="idsGrupos" value="#foreach($grupo in $gruposDefault) $grupo.id, #end">
						#end
		            </div>
        		</div>
        		<label class="labelCampo">$form.fields.ativo.label</label>
				<div class="campoPost checksEventos">$form.fields.ativo</div>
		</div>
		<!-- <input type="submit" class="botao btSalvar" value="Salvar" id="form_salvar" name="salvar" />  -->
		<div class="clearfix botoesSalvar">$form.fields.salvar $!form.fields.deletar $form.fields.cancelar</div>
		${form.endTag()}
	</div>
</div>
#parse("/msg.htm")
<br />
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>