<script>
$(document).ready(function(){
	geraStack("#table");
});
</script>
<div class="headerPagina clearfix">
	<div class="botoesHeader noBorder">
		<a href="evento.htm" class="bs-tooltip botao branco btIcone addCategoria" title="$messages.get('adicionar.evento.label')"><i class="icones ico-addCategoria"></i></a>
	</div>
	<div style="display:none;" class="inputsHeader">
	</div>
	<h2 class="tituloPagina">$messages.get('cadastro.label')</h2>
</div>
	<div class="breadcrumb">
	    <!-- <a href="$context/admin/eventosMenu.htm">$messages.get('cadastro.label')</a> -->
	    <a href="$context/admin/eventosMenu.htm">$messages.get('evento.label')</a>
	    <a class="active" href="">$messages.get('cadastro.evento.label')</a>
	</div>

<div class="formDados">$table</div>
#parse("/msg.htm")