<div class="headerPagina clearfix">
	<h2 class="tituloPagina">$messages.get('cadastro.evento.label')</h2>
</div>

<div class="formDados">
<ul class="listaWebservices">
	<li><a href="$context/admin/eventos.htm">$messages.get('evento.label')</a></li>
	<li><a href="$context/admin/palestrantes.htm">$messages.get('cadastro.palestrante.label')</a></li>
</ul>
</div>