<div class="page-content">
	<h3 class="page-title">
		Exportação <small> exportar os dados do sistema para csv</small>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Exportação</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-download"></i> Exportar Tabelas</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<div class="clearfix export col-md-12">
						<div class="row">
							<div class="col-md-3 form-group">
								<a href="$exportarArea.href" class="linksImgRelatorios">
									<div class="square small">
										<div class="squareInside">
											<div class="centraliza">
												<i class="fa fa-map exportsIcon"></i>
											</div>
										</div>
										<h4 class="rels blue">Exportar Áreas</h4>
									</div>
								</a>
							</div>
							<div class="col-md-3 form-group">
								<a href="$exportarCanal.href" class="linksImgRelatorios">
									<div class="square small">
										<div class="squareInside">
											<i class="fa fa-flag exportsIcon"></i>
										</div>
										<h4 class="rels blue">Exportar Canais</h4>
									</div>
								</a>
							</div>
							<div class="col-md-3 form-group">
								<a href="$exportarCargo.href" class="linksImgRelatorios">
									<div class="square small">
										<div class="squareInside">
											<i class="fa fa-briefcase exportsIcon"></i>
										</div>
										<h4 class="rels blue">Exportar Cargos</h4>
									</div>
								</a>
							</div>
							<div class="col-md-3 form-group">
								<a href="$exportarCategoria.href" class="linksImgRelatorios">
									<div class="square small">
										<div class="squareInside">
											<div class="centraliza">
												<i class="fa fa-list exportsIcon"></i>
											</div>
										</div>
										<h4 class="rels blue">Exportar Categorias</h4>
									</div>
								</a>
							</div>
						</div>
						<!-- end 1st row -->
						<div class="row">
							<div class="col-md-3 form-group">
								<a href="$exportarCidade.href" class="linksImgRelatorios">
									<div class="square small">
										<div class="squareInside">
											<div class="centraliza">
												<i class="fa fa-map-marker exportsIcon"></i>
											</div>
										</div>
										<h4 class="rels blue">Exportar Cidades</h4>
									</div>
								</a>
							</div>
							<div class="col-md-3 form-group">
								<a href="$exportarComplemento.href" class="linksImgRelatorios">
									<div class="square small">
										<div class="squareInside">
											<div class="centraliza">
												<i class="fa fa-university exportsIcon"></i>
											</div>
										</div>
										<h4 class="rels blue">Exportar Complementos</h4>
									</div>
								</a>
							</div>
							<div class="col-md-3 form-group">
								<a href="$exportarDiretoria.href" class="linksImgRelatorios">
									<div class="square small">
										<div class="squareInside">
											<div class="centraliza">
												<i class="fa fa-user-secret exportsIcon"></i>
											</div>
										</div>
										<h4 class="rels blue">Exportar Diretorias</h4>
									</div>
								</a>
							</div>
							<div class="col-md-3 form-group">
								<a href="$exportarFormacao.href" class="linksImgRelatorios">
									<div class="square small">
										<div class="squareInside">
											<div class="centraliza">
												<i class="fa fa-graduation-cap exportsIcon"></i>
											</div>
										</div>
										<h4 class="rels blue">Exportar Formações</h4>
									</div>
								</a>
							</div>
						</div>
						<!-- end 2nd row -->
						<div class="row">
							<div class="col-md-3 form-group">
								<a href="$exportarGrupos.href" class="linksImgRelatorios">
									<div class="square small">
										<div class="squareInside">
											<div class="centraliza">
												<i class="fa fa-users exportsIcon"></i>
											</div>
										</div>
										<h4 class="rels blue">Exportar Grupos</h4>
									</div>
								</a>
							</div>
							<div class="col-md-3 form-group">
								<a href="$exportarUsuario.href" class="linksImgRelatorios">
									<div class="square small">
										<div class="squareInside">
											<i class="fa fa-user exportsIcon"></i>
										</div>
										<h4 class="rels blue">Exportar Usuários</h4>
									</div>
								</a>
							</div>
							<div class="col-md-3 form-group">
								<a href="$exportarTags.href" class="linksImgRelatorios">
									<div class="square small">
										<div class="squareInside">
											<div class="centraliza">
												<i class="fa fa-tag fa-flip-horizontal exportsIcon"></i>
											</div>
										</div>
										<h4 class="rels blue">Exportar Tags</h4>
									</div>
								</a>
							</div>
						</div>
						<!-- end 3rd row -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")