<link href="$context/css/tree_2.3.0.css" rel="stylesheet" type="text/css" />
<div class="headerPagina clearfix">
	<h2 class="tituloPagina">Workplace Ftp</h2>
</div>
<div class="formDados">
	<span class="labelCampo">Workplace: <b class="font-blue">($!entrada)</b></span>
	</br></br>
	$tree
</div>