<script>
	var interval;
	function getcem(){
		jQuery.ajax({
			type: "post",
			url: "$context/ws/getPorcentagemImportacao.htm?mode=json&form_name=form",
		 	dataType: "json",
		 	data: {
		 		mode: "json",
		 	},
		 	beforeSend: function(){
		 	},
		 	success: function(data) {
		 		var conteudo = "";
		 		if(data.porcentagem.temArquivo == "false"){
		 			clearInterval(interval);
		 			if($(".loadingImportacao").is(":visible")){
		 				$(".valorPorcento").html("100%");
		 				$(".loadingImportacao").find(".progress .barra").css('width','100%');
		 				$(".loadingImportacao").find(".statusImportacao").html("");
		 				$(".loadingImportacao").find(".progress .barra").addClass("full");
		 				if(jsUtils.isNotEmpty(data.porcentagem) && jsUtils.isNotEmpty(data.porcentagem.idImportacao)) {
		 					jConfirm('Arquivo importado, deseja ir para o detalhe do arquivo?', "Atenção", null, function(e) {
		 						if(e) {
				 					location.href = "$context/admin/detalhesLogImportacao.htm?id=" + data.porcentagem.idImportacao;
		 						}
		 					});
		 				}
		 			}
		 			if(data.porcentagem.status && data.porcentagem.status != ""){
		 				$(".situacaoImportacao").html(data.porcentagem.status+" - ");
		 			}
		 			//interval = 0;
		 			//populaTabela(data);
		 			getResponseLastImportacao();
	 				/* setTimeout(function(){
		 				getResponseLastImportacao();
		 			}, 5000); */ 
		 		}else{
		 			$(".loadingImportacao").slideDown();
		 			if(data.porcentagem.status != ""){
		 				$(".situacaoImportacao").html(data.porcentagem.status+" - ");
		 			}
		 			$(".statusImportacao").html(data.porcentagem.atual +" $messages.get('de.label') "+data.porcentagem.fim + " - ");
		 			$(".valorPorcento").html(data.porcentagem.porcentagem+"%");
		 			$(".loadingImportacao").find(".progress .barra").css('width',parseFloat(data.porcentagem.porcentagem)+'%');
		 			getcem();
		 		}
		 	}
		});
	} 
	
	$(document).ready(function(){
		setTimeout(function(){
			getcem();
		  	//interval = setInterval(getcem, 1000);
		}, 1000);
	});
	
function getResponseLastImportacao(){
	jQuery.ajax({
		type: "post",
		url: "$context/ws/getResponse.htm?mode=json&form_name=form",
	 	dataType: "json",
	 	beforeSend: function(){
	 		$(".ultimaImportacao.velo").addClass("hideItem");
	 	},
	 	success: function(data) {
	 		var conteudo = "";
	 		var obj = $(".ultimaImportacao.ajax");
	 		if(data.mensagem && data.mensagem.status == "NOK"){
	 			$(".tableUpload").find("tbody > tr.carregando").remove();
	 			$(".tableUpload").find("tbody").html("<tr><td colspan='7'>$messages.get('msg.importacao.sem.dados.error')</td></tr>");
	 			setTimeout(function(){
	 				$(".ultimaImportacao.ajax").slideUp();
	 			}, 3000);
	 		}else{
 				obj.find(".semConteudo").addClass("hideItem");
 				conteudo += "<tr>"+
 								"<td>"+data.response.nomeArquivo+"</td>"+
 								"<td>"+(data.response.countOk+data.response.countError)+"</td>"+
 								"<td>"+data.response.countOk+"</td>"+
 								"<td>"+data.response.countError+"</td>"+
 								"<td>"+data.response.countInsert+"</td>"+
 								"<td>"+data.response.countUpdate+"</td>"+
 								'<td><a class="font-blue" href="$context/admin/detalhesLogImportacao.htm?id=' + data.response.idArquivo + '" >Detalhes</a></td>'+
 							"</tr>";
 				$("#tabele").find("tbody").html("").append(conteudo);
	 		}
	 		$('.tableUpload').stacktable({myClass:'tabelaPequena'});
	 	}
	});
}
</script>
<div class="headerPagina clearfix">
	<h2 class="tituloPagina">$messages.get('importacao.usuarios.label') #if($buildType == "itau")- Itaú #end</h2>
</div>

<div class="formDados">
${form.startTag()}
<div class="clearfix">
		<p class="observacao text-center">$messages.get('msg.importacao.pasta.destino.info') <a class="font-blue" href="$context/admin/arquivosEntradaTree.htm?clear=true"><b>$!entrada</b></a>, $messages.get('msg.importacao.processado.info')</p>
		<br>
		<p class="observacao centralizaInput relative">$form.fields.file</p>
		<br>
		<p class="observacao text-center">$messages.get('msg.importacao.logs.info')
		 <a class="font-blue" href="$context/admin/job.htm">$messages.get('clique.aqui.label')</a>
<!-- 		 <a class="font-blue" href="$context/admin/logImportacao.htm">$messages.get('clique.aqui.label')</a> -->
		</p>
		<br><br>
		<p class="observacao text-center ultimaImportacao ajax">
			<b style="display:block;padding-bottom:15px;">$messages.get('msg.importacao.ultima.info')</b>
			<!-- <span class="semConteudo carregando">Aguarde...</span> -->
			<table id="tabele" class="tableUpload">
				<thead>
					<tr>
						<th>Arquivo</th>
						<th>$messages.get('coluna.linhas.importadas.importacao')</th>
						<th>$messages.get('ok.label')</th>
						<th>$messages.get('ERRO.label')</th>
						<th>$messages.get('inseridos.label')</th>
						<th>$messages.get('atualizados.label')</th>
						<th>Detalhes</th>
					</tr>
				</thead>
				<tbody>
					<tr class="carregando"><td colspan="7"></td></tr>
				</tbody>
			</table>
		</p>
</div>
<br>
<div class="clearfix botoesSalvar">$!form.fields.upload</div>
<div class="clearfix">
	<div class="loadingImportacao">
    	<span class="situacaoImportacao">$messages.get('aguarde.label')</span>
    	<span class="statusImportacao"></span>
    	<span class="valorPorcento">0%</span>
    	<div class="progress">
    		<div class="barra"></div>
    	</div>
    </div>
</div>
<br />
${form.endTag()}
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>