<div class="page-content">
	<h3 class="page-title">
		Importação 
		<small class="clearfix margin-top-15"> importar dados csv no sistema</small>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Importação</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Filtro</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-down tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body toggled">
					${form.startTag()}
						<div class="clearfix row">
							<div class="col-md-4 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;$form.fields.dataInicial.label</label>
								<div class="campoPost">$form.fields.dataInicial</div>
							</div>
							<div class="col-md-4 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;$form.fields.dataFinal.label</label>
								<div class="campoPost">$form.fields.dataFinal</div>
							</div>
							<div class="col-md-4 form-group">
								<label class="labelCampo control-label"><i class="fa fa-briefcase"></i>&nbsp;Arquivo</label>
								<div class="campoPost">$form.fields.arquivoNome</div>
							</div>
						</div>
						<div class="clearfix text-right">$form.fields.filtrar</div>
					${form.endTag()}
				</div>
			</div>
			
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-upload"></i> Upload de arquivos</span>
					</div>
					<div class="actions">
						$!formImportacao.startTag()
						$!formImportacao.fields.file
							<a href="" class="btn green-meadow fix-padding tooltip-livecom" id="importarArquivo" title="Importar Arquivo"><i class="fa fa-upload"></i></a>
						$!formImportacao.fields.upload
						$!formImportacao.endTag()
						<div class="btn-group">
							<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Opções
								<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right">
								<li>
									<a href="$context/admin/job.htm">
										<i class="fa fa-file-text-o"></i> Logs </a>
								</li>
								<li>
									<a href="$context/admin/arquivosEntradaTree.htm">
										<i class="fa fa-folder-open-o"></i> Pasta de Entrada </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body clearfix table-responsive">
					$table
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script>
	$(document)
			.ready(
					function() {

						setTimeout(function() {
							getcem();
						}, 3000);

						var interval;
						function getcem() {
							jQuery
									.ajax({
										type : "post",
										url : "$context/ws/getPorcentagemImportacao.htm?mode=json&form_name=form",
										dataType : "json",
										data : {
											mode : "json",
										},
										beforeSend : function() {
										},
										success : function(data) {
											var conteudo = "";
											if (data.porcentagem.temArquivo == "false") {
												clearInterval(interval);
												if ($(".loadingImportacao").is(
														":visible")) {
													$(".valorPorcento").html(
															"100%");
													$(".loadingImportacao")
															.find(
																	".progress .barra")
															.css('width',
																	'100%');
													$(".loadingImportacao")
															.find(
																	".statusImportacao")
															.html("");
													$(".loadingImportacao")
															.find(
																	".progress .barra")
															.addClass("full");
													if (jsUtils
															.isNotEmpty(data.porcentagem)
															&& jsUtils
																	.isNotEmpty(data.porcentagem.idImportacao)) {
														jConfirm(
																'Arquivo importado, deseja ir para o detalhe do arquivo?',
																"Atenção", null,
																function(e) {
																	if (e) {
																		location.href = "$context/admin/detalhesLogImportacao.htm?id="
																				+ data.porcentagem.idImportacao;
																	} else {
																		location.href = "$context/admin/importacao.htm";
																	}
																});
													}
												}
												if (data.porcentagem.status
														&& data.porcentagem.status != "") {
													$(".situacaoImportacao")
															.html(
																	data.porcentagem.status
																			+ " - ");
												}
											} else {
												$(".importandoArquivo").show();
												$(".loadingImportacao")
														.slideDown();
												if (data.porcentagem.status != "") {
													$(".situacaoImportacao")
															.html(
																	data.porcentagem.status
																			+ " - ");
												}
												$(".statusImportacao")
														.html(
																data.porcentagem.atual
																		+ " $messages.get('de.label') "
																		+ data.porcentagem.fim
																		+ " - ");
												$(".valorPorcento")
														.html(
																data.porcentagem.porcentagem
																		+ "%");
												$(".loadingImportacao")
														.find(
																".progress .barra")
														.css(
																'width',
																parseFloat(data.porcentagem.porcentagem)
																		+ '%');
												setTimeout(function() {
													getcem();
												}, 1000);
											}
										}
									});
						}

						var uploadArquivoStatus = '<tr class="importandoArquivo" style="display:none;"><td colspan="7"><div class="loadingImportacao" style="display: block;">';
						uploadArquivoStatus += '<span class="situacaoImportacao"></span>';
						uploadArquivoStatus += '<span class="statusImportacao"></span>';
						uploadArquivoStatus += '<span class="valorPorcento">0%</span>';
						uploadArquivoStatus += '<div class="progress">';
						uploadArquivoStatus += '<div class="barra"></div>';
						uploadArquivoStatus += '</div>';
						uploadArquivoStatus += '</div></td></tr>';
						$(".stacktable").prepend(uploadArquivoStatus);

						$("#importarArquivo").click(function(e) {
							e.preventDefault();
							$("#formImportacao_file").click();
						});

						$("#formImportacao_file")
								.change(
										function(e) {
											var arquivo = $(this).val();
											if (jsUtils.isEmpty(arquivo)) {
												$("#formImportacao_upload")
														.hide();
											} else {
												var nomeArquivo = $(this).val();
												var split = nomeArquivo
														.split("\\");
												$("#formImportacao_upload")
														.val(
																"Importar arquivo: "
																		+ split[split.length - 1])
												$("#formImportacao_upload")
														.show();
											}
										});
						$("#formImportacao_upload").hide();

						$("#options").click(function(e) {
							e.preventDefault();
							e.stopPropagation();
							if ($(".menuOptions").is(":visible")) {
								$(".menuOptions").fadeOut();
							} else {
								$(".menuOptions").fadeIn();
							}
						});

					});
</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>