#if(!$chapeu_subcategoria_label_on || $!chapeu_subcategoria_label_on != 1)
	#set( $chapeuLabel = "Subcategorias" )
	#set ( $chapeuplaceholder = "a subcategoria" )
#else
	#set( $chapeuLabel = "Chapéus" )
	#set ( $chapeuplaceholder = "o chapéu" )
#end
<script> var _arrayAbasIdiomas = [], _categorias = []; </script>

<div class="clearfix abas-post-idiomas">
	<ul class="nav-tabs pull-right post-idioma-tabs">
		#if($!post && $!post.id)
		<li class="aba-post-idiomas">
			<a href="#tab_postar_idioma_plus" id="tab_postar_idioma_plus" data-toggle="tab"><i class="fa fa-plus font-blue" aria-hidden="true"></i></a>
		</li>
		#end
		#foreach($pi in $post.idiomas)
			<li class="aba-post-idiomas li-link" data-id-idioma="$pi.idioma.id">
				<i class="fa fa-close remover-post-idioma bs-tooltip #if($!pi.length && $!pi.length < 2) hidden #end" data-idioma="$pi.idioma.id" data-post-idioma="$pi.id" data-post="$!post.id" title="Remover idioma"></i>
				<a href="#" id="tab-postar-idioma" data-id-idioma="$pi.idioma.id" data-post-idioma="$pi.id" data-toggle="tab">
					<div class="idiomas-disponiveis">
						<div class="idioma $!pi.idioma.icone bs-tooltip" data-code="$!pi.idioma.codigo" title="$!pi.idioma.nome">
							<i class="md $!pi.idioma.icone"></i>
						</div>
					</div>
				</a>
			</li>
		#end
	</ul>
</div>

<div class="formPost postar">
	${form.startTag()}
		<input id="idPost" type="hidden" value="$!post.id" />
		<input id="htmlPost" type="hidden" value="$!post.html" />
		<input id="usuarioPost" type="hidden" value="$!post.usuario.id" />
		<div class="campoPost">
			<span class="charNum countTitulo"></span>
			<input name="titulo" id="titulo" class="input" placeholder="
#if($!mural_placeholder_titulo_post && $!mural_placeholder_titulo_post != '')
$!mural_placeholder_titulo_post
#else
Escrever uma publicação
#end" type="text" value="$format.html($!post.titulo)" autocomplete="off"/>
		</div>
		<div class="willSlide">
			#if($mural_resumo_on && $mural_resumo_on == "1")
	    		<div class="campoPost">
		     		<span class="charNum countResumo"></span>
		     		<textarea name="resumo" id="resumo" class="input textAutoSize inputliveurl" placeholder="Escreva aqui o resumo">$!post.resumo</textarea>
		  		</div>
			#end

			#if(!$!VISUALIZAR_CONTEUDO)
			<div class="hidden">
			#end

				<div class="campoPost">
	       		<div class="loadingLinkUrl icones ac_loading"></div>
	       		<textarea name="mensagem" id="mensagem" class="input textAutoSize" placeholder="Escreva aqui o conteúdo">$!post.mensagem</textarea>
	       		<div class="liveurl postarLinkModal" #if($post.postDestaque && $post.postDestaque.tipo != 0 && $post.postDestaque.tipo != 2) style="display: block;" #end>
		           	<div class="close icones ico-excluir tooltip-livecom" title="Remover"></div>
						<input id="tipoUrl" type="hidden" value="$!post.postDestaque.tipo" />
						<div class="inner">
							<div class="image" #if($post.urlImagem) style="display:block;" #end>
								<div class="remove-thumb tooltip-livecom" title="Remover thumb"></div>
								#if($post.urlImagem)
								 	<img src="$post.urlImagem" alt="$post.postDestaque.tituloUrl" class="active">
								 #end
							</div>
							<div class="details" #if($!post && !$post.urlImagem) style="width: 100%;" #end>
								<div class="clearfix info">
									<div class="title">$!post.postDestaque.tituloUrl</div>
				               <div class="description">$!post.postDestaque.descricaoUrl</div>
				               <div class="url">#if($post.postDestaque && $post.postDestaque.tipo == 2) $!post.urlImagem #else $!post.urlSite #end</div>
			           		</div>
			               <div class="video"></div>
		               </div>
		            </div>
		        	</div>
		        	#if($!post.id && $!post.webview)
		        		<p class="liveurl-info"><small class="font-blue sbold">Este link foi embutido como HTML</small></p>
		        	#end
				</div>
				<!-- final post area -->

				#if($mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
					<div class="clearfix campoPost links row">
						<div class="col-xs-7">
							#if($mural_galeria_on && $mural_galeria_on == "1")
								<a href="#" class="abrirArquivos arquivo">Inserir Arquivos/Vídeo</a>
						   #else
					   		<a class="btn-upload-files arquivo">Anexar arquivos</a>
					   		#if($mural_upload_crop_on && $mural_upload_crop_on == 1)
					   			<a class="btn-upload-image-crop">Anexar imagens</a>
					   		#end
						   #end
						</div>
						<div class="col-xs-5">
							<a class="btn postarLink inserirLinkNovo postarLinkModal #if($!post.postDestaque.urlSite) disabled #end">Postar Link</a>
						</div>
					</div>
						<div class="uploaderNovo uploadPost clearfix">
							<input type="hidden" id="anexosId" name="anexosId" class="inputAnexos" value="#foreach($a in $post.arquivos) $a.id, #end"/>
							<div class="multiplefileuploader tooltip-livecom uploaderPost" data-postId="$!post.id" data-commentId="" data-msgId="" title="Inserir Anexo"></div>
							<div class="clearfix">
								<div class="clear"></div>
								<ul class="anexos">
				        		#foreach($a in $post.arquivos)
									<li data-id="$a.id" #if($!a.dimensao) data-dimensao="$!a.dimensao" #end data-ordem="$a.ordem" class="#if($!a.destaque) destaque #end" #if($!a.destaque) data-destaque-url="$!a.url" #end>
										#if	($!mural_upload_crop_on && $!mural_upload_crop_on == '1')
											<a data-file-id="$a.id" class="icones ico-remover remove-cropped-file"></a>
										#else
											<a href="$context/ws/deletar.htm?mode=json&form_name=form&id=$a.id&tipo=arquivo" class="icones ico-remover"></a>
										#end
										
										#if($a.extensao.toLowerCase() == 'png' || $a.extensao.toLowerCase() == 'jpg' || $a.extensao.toLowerCase() == 'jpeg' || $a.extensao.toLowerCase() == 'gif' || $a.extensao.toLowerCase() == 'svg' || $a.extensao.toLowerCase() == 'webp')
											<div class="thumbnail preview">
												<div class="fotoUsuario media no-radius">
													#if($!mural_galeria_on && $!mural_galeria_on == '1')
													<a class="open-gallery" data-arquivo-id="$a.id">
													#else
													<a class="fancybox" href="$!a.url" target="_blank" data-arquivo-id="$a.id">
													#end
														<img src="$a.url" alt="$a.nome" />
													</a>
												</div>
												#if($!a.destaque)
												<i class="fa fa-star ico-destaque"></i>
												#end
											</div>
											<div class="nomeAnexo alterarNome" data-id="$a.id">
												#if($!mural_galeria_on && $!mural_galeria_on == '1')
												<a class="open-gallery" data-arquivo-id="$a.id">
												#else
												<a class="fancybox" href="$!a.url" target="_blank" data-arquivo-id="$a.id">
												#end

												$a.nome <span>($a.getHumanReadableLength())</span></a>
												#if($!a.descricao)<span class="descricaoUpload">$!a.descricao</span>#end
											</div>
										#else
											<div class="thumbnail">
												<i class="file-extensions-icons-medium $a.extensao.toLowerCase()"></i>
												<span class="extension">$a.extensao.toLowerCase()</span>
											</div>
											<div class="nomeAnexo alterarNome" data-id="$a.id">
												<a data-link="$a.url" data-url="$a.url" data-ext="$a.extensao.toLowerCase()" data-name="$a.nome" class="previewFile">$a.nome <span>($a.getHumanReadableLength())</span></a>
												#if($!a.descricao)<span class="descricaoUpload">$!a.descricao</span>#end
											</div>
										#end
									</li>
								#end
			        			</ul>
							</div>
						</div>
				#end

			#if(!$!VISUALIZAR_CONTEUDO)
			</div>
			#end


			<div class="row campoPost clearfix">
				<div class="col-md-7">
		        		<div class="campoPost hidden">
							<label class="labelPost" for="idioma_post">Idioma (filtro)</label>
							<div class="inputHolder post-idiomas">
								<select id="idioma_post" name="idioma_post" class="form-control"></select>
		            		</div>
		        		</div>
		        		<div class="campoPost">
							<label class="labelPost" for="categoria_select">Publicar em</label>
							<div class="inputHolder post-categorias">
								<select id="categoria_select" name="categoria_select" class="form-control"></select>
		            		</div>
		        		</div>
<!-- 		        		<div class="campoPost"> -->
<!-- 							<label class="labelPost" for="subcategoria_post">Sub-Categoria</label> -->
<!-- 							<div class="inputHolder post-subcategorias"> -->
<!-- 								<select id="subcategoria_post" name="subcategoria_post" class="form-control"></select> -->
<!-- 		            		</div> -->
<!-- 		        		</div> -->
<!-- 		        		<div class="campoPost"> -->
<!-- 							<label class="labelPost" for="editoria_post">Editoria</label> -->
<!-- 							<div class="inputHolder post-editorias"> -->
<!-- 								<select id="editoria_post" name="editoria_post" class="form-control"></select> -->
<!-- 		            		</div> -->
<!-- 		        		</div> -->
<!-- 					#if($mural_tags_on && $mural_tags_on == "1") -->
						<div class="campoPost">
							<label class="labelPost" for="tags">Tags</label>
							<div class="inputHolder post-tags">
		            		<input type="text" class="input" size="20" value="" id="tags" name="tags">
								<input type="hidden" name="idsTags" id="idsTags" value="$!post.tags">
								<input type="hidden" name="idsFakeTags" id="idsFakeTags" value="#foreach($tag in $tags) $tag.id, #end">
		            	</div>
		        		</div>
					#end
					#if($!mural_visibilidade_post_on && $!mural_visibilidade_post_on == 1)
						<div class="campoPost">
							<label class="labelPost" for="grupos">Visível para</label>
							<div class="inputHolder post-groups">
								$form.fields.visibilidade
							</div>
							<div class="campoPost campo-post-grupos">
					        		<div class="post-groups">
				            	#if($categoriasDefault && !$post.grupos)
										<input type="text" class="input" size="20" value="" id="grupos" name="grupos">
										<input type="hidden" name="idsGrupos" id="idsGrupos" value="#foreach($grupo in $gruposDefault) $grupo.id, #end">
									#else
										<input type="text" class="input"  size="20" value="" id="grupos" name="grupos">
										<input type="hidden" name="idsGrupos" id="idsGrupos" value="#foreach($grupo in $post.grupos) $grupo.id, #end">
									#end
						            </div>
				        	</div>
						</div>
					#else
						<div class="campoPost">
							<label class="labelPost" for="grupos">Grupos</label>
							<div class="inputHolder post-groups">
		            		#if($categoriasDefault && !$post.grupos)
									<input type="text" class="input" size="20" value="" id="grupos" name="grupos">
									<input type="hidden" name="idsGrupos" id="idsGrupos" value="#foreach($grupo in $gruposDefault) $grupo.id, #end">
								#else
									<input type="text" class="input" size="20" value="" id="grupos" name="grupos">
									<input type="hidden" name="idsGrupos" id="idsGrupos" value="#foreach($grupo in $post.grupos) $grupo.id, #end">
								#end
							</div>
						</div>
					#end
				</div>
				<div class="col-md-5">
       			<div class="campoPost">
	        			<i class="linear-icons icone-publicar tooltip-livecom" title="Data de Publicação"></i>
	        			<i class="icones ico-fecharCinza limparInputs"></i>
	  	     			<input id="dataPubli" name="dataPubli" class="input icone menor date_false_autodateonstart" placeholder="#if(!$post.dataPublicacao || $post.rascunho == 'true') Publicar agora #else $format.date($!post.dataPublicacao, 'dd/MM/yyyy HH:m:s') #end" type="text" value="#if($post.rascunho == 'false')$format.date($!post.dataPublicacao, 'dd/MM/yyyy HH:m:s')#end" autocomplete="off">
					</div>

					#if($!mural_data_expiracao_post_on && $!mural_data_expiracao_post_on == '1')
					<div class="campoPost">
						<i class="linear-icons icone-expirar tooltip-livecom" title="Data de Expiração"></i>
						<i class="icones ico-fecharCinza limparInputs"></i>
		       		<input id="dataExp" name="dataExp" class="input icone menor date_false_autodateonstart" placeholder="#if(!$post.dataExpiracao) Não expirar #else $format.date($!post.dataExpiracao, 'dd/MM/yyyy HH:m:s') #end" type="text" value="$format.date($!post.dataExpiracao, 'dd/MM/yyyy HH:m:s')" autocomplete="off"  readonly="readonly">
	     			</div>
	     			#end
	     			#if($!mural_data_reminder_post_on && $!mural_data_reminder_post_on == '1')
	     			<div class="campoPost">
	        			<i class="linear-icons icone-reminder tooltip-livecom" title="Reminder"></i>
	        			<i class="icones ico-fecharCinza limparInputs"></i>
	  	     			<input id="dataReminder" name="dataReminder" class="input icone menor date_false_autodateonstart" placeholder="#if(!$post.reminder || $post.rascunho == 'true') Reminder #else $format.date($!post.reminder, 'dd/MM/yyyy HH:m:s') #end" type="text" value="#if($post.rascunho == 'false')$format.date($!post.reminder, 'dd/MM/yyyy HH:m:s')#end" autocomplete="off">
					</div>
					#end
	  				<div class="campoPost">
	        			<div class="row clearfix marginTop">
			        		#if($destacar_post_on  && $destacar_post_on != 0)
				       		<div class="col-lg-6 form-group">
					        	<label class="labelCheck"><input type="checkbox" value="1" name="isDestaque" id="isDestaque" #if($!post.destaque) checked="checked" #end >Destacar Post</label>
							</div>
				        	#end
				        	#if($!post.postDestaque && $!post.postDestaque.id)
			        		<div class="col-lg-6 form-group">
			        			<input type="hidden" name="idPostDestaque" id="idPostDestaque" value="$post.postDestaque.id">
		        			</div>
							#end
				        	#if($mural_post_prioritario_on && $mural_post_prioritario_on == 1)
				       		<div class="col-lg-6 form-group">
					        	<label class="labelCheck"><input type="checkbox" value="1" name="postPrioritario" id="postPrioritario" #if($!post.prioritario) checked="checked" #end >Prioritário</label>
							</div>
				        	#end
							#if($push_checkBoxOn && $push_checkBoxOn == 1)
		        			<div class="col-lg-6 form-group">
				        		<label class="labelCheck"><input type="checkbox" value="1" name="isPush" id="isPush" data-push="$post.isPushEnviado()" data-data="$post.getDataPushTimestamp()" 
				        		#if($!push_checkBox_checked+"" == 1 && !$post.id || $!post.rascunho)
				        			checked="checked"
				        		#end
				        		>Enviar Push</label>
				        	</div>
			        		#end
			        		<div id="embutirHtml" class="form-group col-lg-6">
								<label class="labelCheck">
							    	<input id="cboxEmbutir" value="1" type="checkbox" #if($!post.id && $!post.webview) checked #end> Abrir o anexo direto no app
								</label>
							</div>
	        				<div class="col-lg-12 form-group isReplicar-wrapper hidden">
					        	<label class="labelCheck"><input type="checkbox" value="1" name="isReplicar" id="isReplicar" #if($!post.replicar) checked="checked" #end >Copiar conteúdo para este idioma</label>
							</div>
		        		</div>
	       			</div>
				</div>
			</div>
			#if($!btn_rlt_on && $!btn_rlt_on == 1)
				#parse("/modals/modal_rlt.htm")
			#end
            <div class="botoesForm clearfix btn-fix-padding">
                <button type="submit" class="btPostarComunicado enviarForm btn btn-circle green publicar">Publicar</button>
                #if($!post.id)
                    <a href="$context/pages/mural.htm" class="btn btn-circle btn-default">Cancelar</a>
                #else
                    <a class="btCancelarPostagem cancelarForm btn btn-circle btn-default">Cancelar</a>
                #end

                #if($!btn_rlt_on && $!btn_rlt_on == 1)
                    <a class="botao info send-rlt disabled" data-toggle="modal" data-target="#modal-rlt">Informar RLT</a>
                #end

                #if($mural_rascunho_on && $mural_rascunho_on == "1")
                    <input type="submit" value="Salvar rascunho" class="btPostarComunicado enviarForm btn btn-circle blue-sharp	rascunho">
                #end
            </div>
		</div>
	${form.endTag()}
</div>
<!-- final formPost -->

#if($mural_galeria_on && $mural_galeria_on == "1")
	#parse("/modals/modal_insert_media_mural.htm")
#else
	#parse("/modals/modal_upload_files.htm")
#end

#parse("/modals/modal_url.htm")

#if($!mural_webview_on && $!mural_webview_on == "1")
	#parse("/modals/modal_preview_post.htm")
#end

#if($mural_upload_crop_on && $mural_upload_crop_on == 1)
	#parse("/modals/modal_crop_image.htm")
#end

#if($$!mural_postar_incidente_on && $!mural_postar_incidente_on == 1)
	#parse("/modals/modal_tipo_post.htm")
#end

#foreach($pi in $post.idiomas)
<script>
	var idiomaAtual = "$!pi.idioma.id",
		tituloAtual = "$!pi.titulo",
		mensagemAtual = '$!pi.getMensagemFixed()',
		idPostIdioma = "$!pi.id",
		objeto = {
			idIdioma: idiomaAtual,
			titulo: tituloAtual,
			mensagem: mensagemAtual,
		};
	if(idPostIdioma != ""){
		objeto.id = idPostIdioma;
	}
	#if( $!pi.resumo )
		var resumoAtual = "$!pi.resumo";
		objeto.resumo = resumoAtual;
	#end
	if(_arrayAbasIdiomas[idiomaAtual] && _arrayAbasIdiomas[idiomaAtual] != ''){
		if(_arrayAbasIdiomas[idiomaAtual].id){
			objeto.id = _arrayAbasIdiomas[idiomaAtual].id;
		}
		_arrayAbasIdiomas.splice(idiomaAtual, 1, objeto);
	}else{
		_arrayAbasIdiomas[idiomaAtual] = objeto;
	}
</script>
#end

<script>
$('#isReplicar').on('ifToggled', function(event){
	var idIdiomaClick = $('.interacoesMural .abas-post-idiomas li.active').data('id-idioma');
	if(_arrayAbasIdiomas[idIdiomaClick]){
		if(event.target.checked){
			_arrayAbasIdiomas[idIdiomaClick].replicar = true;
		}else{
			_arrayAbasIdiomas[idIdiomaClick].replicar = false;
		}
	}
	if(idIdiomaClick && _arrayAbasIdiomas[idIdiomaClick] && _arrayAbasIdiomas[idIdiomaClick].replicar && _arrayAbasIdiomas[idIdiomaClick].replicar == true){
		replicarIdiomas(true);
	}else if($('#isReplicarIdioma').is(':checked') && $('#isReplicarIdioma').is(':visible')){ //marcou checkbox no swal de idiomas
		replicarIdiomas(true);
	}else if($('#isReplicar').is(':checked')){ //só marcou checkbox
		var nomePrimeiroIdioma = "",
			idPrimeiroIdioma = $($('.interacoesMural .abas-post-idiomas li')[1]).data('id-idioma'),
			idiomas = JSON.parse(localStorage.getItem('idiomas'));
		for(var i in idiomas.idiomas){
			var idioma = idiomas.idiomas[i];
			if(idioma.id == idPrimeiroIdioma){
				nomePrimeiroIdioma = idioma.nome;
				break;
			}
		}
		swal({
			title: "Atenção",
			text: "O conteúdo da aba "+ nomePrimeiroIdioma +" será copiado neste idioma",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "Ok",
			html: false,
		}).then(function (ev) {
			if(ev){
				replicarIdiomas(true);
			}
		}, function(dismiss){
			$('#isReplicar').iCheck('uncheck');
	    });
	}else{ //desmarcou checkbox
		replicarIdiomas(false);
	}
});

function replicarIdiomas(replicar){
	if(replicar){
		setTimeout(function(){
			$('.interacoesMural .abas-post-idiomas li.active a').data('replicar', '1');
		}, 300);
		var idPrimeiroIdioma = $($('.interacoesMural .abas-post-idiomas li')[1]).data('id-idioma');
		$('.interacoesMural #titulo').val(_arrayAbasIdiomas[idPrimeiroIdioma].titulo).prop('disabled', true);
		$('.interacoesMural #resumo').val(_arrayAbasIdiomas[idPrimeiroIdioma].resumo).prop('disabled', true);
		#if($!mural_webview_on && $!mural_webview_on == 1)
			tinymce.activeEditor.setContent(_arrayAbasIdiomas[idPrimeiroIdioma].mensagem);
			tinymce.activeEditor.setMode('readonly');
			tinymce.activeEditor.getBody().style.backgroundColor = "#f7f9fa";
			var doc = tinymce.activeEditor.getDoc()
			$(doc).find('html').css('background-color', '#f7f9fa')
	 	#else
			CKEDITOR.instances.mensagem.setData(_arrayAbasIdiomas[idPrimeiroIdioma].mensagem);
			CKEDITOR.instances.mensagem.setReadOnly(true);
			setTimeout(function(){
	 			CKEDITOR.instances.mensagem.document.getBody().setStyle('background-color', '#f7f9fa');
			}, 100);
	 	#end
	}else{
// 		setTimeout(function(){
// 			$('.interacoesMural .abas-post-idiomas li.active a').data('replicar', '0');
// 		}, 100);
		$('.interacoesMural #titulo').val('').prop('disabled', false);
		$('.interacoesMural #resumo').val('').prop('disabled', false);
		#if($!mural_webview_on && $!mural_webview_on == 1)
			tinymce.activeEditor.setContent('');
			tinymce.activeEditor.setMode('design');
			tinymce.activeEditor.getBody().style.backgroundColor = "white";
			var doc = tinymce.activeEditor.getDoc();
			$(doc).find('html').css('background-color', 'white');
	 	#else
	 		CKEDITOR.instances.mensagem.setReadOnly(false);
			CKEDITOR.instances.mensagem.setData('');
			setTimeout(function(){
				CKEDITOR.instances.mensagem.document.getBody().setStyle('background-color', 'white');
			}, 100);
	 	#end
	}
};

$('body').on('click','#tab_postar_idioma_plus', function(e){
	var idiomaAtual = $('.aba-post-idiomas.active a').attr('data-id-idioma');
	inputOptionsIdiomas(idiomaAtual);
});

function inputOptionsIdiomas(idiomaAtual){
	var obj = {},
		objIdioma = {},
		idiomas = JSON.parse(localStorage.getItem('idiomas'));

	if($('.interacoesMural .abas-post-idiomas li').length > idiomas.idiomas.length){
		swal({
			title: 'Atenção!',
			text: 'Não há mais idiomas disponíveis.',
			type: 'info',
			timer: 3000
		});

		setTimeout(function(){
			$('.interacoesMural .abas-post-idiomas .aba-post-idiomas').removeClass('in active');
			$('.interacoesMural .abas-post-idiomas ul li.aba-post-idiomas[data-id-idioma='+idiomaAtual+']').addClass('active');
		}, 100);
		return false;
	}else{
		var markup = '',
			nomePrimeiroIdioma,
			idPrimeiroIdioma = $($('.interacoesMural .abas-post-idiomas li')[1]).data('id-idioma');
		
		for(var i in idiomas.idiomas){
			var idioma = idiomas.idiomas[i],
				disabled = '';
			
			if(idioma.id == idPrimeiroIdioma){
				nomePrimeiroIdioma = idioma.nome;
			}
			
			if(idioma && idioma.id && idioma.nome){
				if((!_arrayAbasIdiomas[idioma.id]) && (idioma.id != $('.interacoesMural .aba-post-idiomas.active').attr('data-id-idioma'))){
					obj[idioma.id] = idioma.nome;
					objIdioma[idioma.id] = {
						nome: idioma.nome,
						icone: idioma.icone,
						codigo: idioma.codigo
					};
				}else{
					disabled = 'disabled';
				}
					
				markup += '<div class="idioma '+idioma.icone+' '+disabled+'" data-nome="'+idioma.nome+'" data-icone="'+idioma.icone+'" data-id="'+idioma.id+'" title="'+idioma.nome+'">';
					markup += '<i class="lg '+idioma.icone+'"></i>';
				markup += '</div>';
			}
		}
		markup += '<div class="col-lg-6 form-group">'
        	+ '<label class="labelCheck"><input type="checkbox" value="1" name="isReplicarIdioma" id="isReplicarIdioma">Copiar conteúdo de ' + nomePrimeiroIdioma + '</label>'
			+ '</div>';
		
		swal({
			title: 'Selecione um idioma',
			html: '<div class="clearfix idiomas-disponiveis">'+markup+'</div>',
			input: 'html',
			showCancelButton: true,
			confirmButtonText: 'Selecionar',
			cancelButtonText: 'Cancelar',
			allowOutsideClick: false,
			showLoaderOnConfirm: true,
			preConfirm: function () {
				return new Promise(function (resolve, reject) {
		    	  setTimeout(function(){
				      if ($('.swal2-container .idiomas-disponiveis').find('.active').length > 0) {
				    	  resolve()
				      } else {
				        reject('Selecione um idioma')
				      }
					}, 500)
			    })
			  }
		}).then(function (idioma) {
			var msgAtual = $('.interacoesMural form').find("#mensagem").val(),
				tituloAtual = $('.interacoesMural #titulo').val(),
				objeto = {
					idIdioma: idiomaAtual,
					titulo: $('.interacoesMural #titulo').val(),
					resumo: $('.interacoesMural #resumo').val(),
					mensagem: $('.interacoesMural form').find("#mensagem").val(),
					replicar: $('#isReplicar').is(':checked')
				},
				objCategoria = [];
//		 		objCategoria = {
//		 			cat: $('#categoria_select').val(),
//		 			sub: $('#subcategoria_post').val(),
//		 			edi: $('#editoria_post').val(),
//		 		};
				var categorias = $('#categoria_select')[0].selectedOptions,
				isCategoriasDisabled = $('#categoria_select').prop('disabled');
				if(!isCategoriasDisabled){
					for(var i = 0; i< categorias.length; i++){
						objCategoria.push({
							id: categorias[i].value,
							text: categorias[i].text
						});
					}
				_arrayAbasIdiomas[0] = objCategoria;
				}
				selected = $('.swal2-content .idiomas-disponiveis .idioma.active'),
				idiomaSelected = {
					nome: $(selected).data('nome'),
					icone: $(selected).data('icone'),
					id: $(selected).data('id')
				};
			if(_arrayAbasIdiomas[idiomaAtual] && _arrayAbasIdiomas[idiomaAtual] != ''){
				if(_arrayAbasIdiomas[idiomaAtual].id){
					objeto.id = _arrayAbasIdiomas[idiomaAtual].id;
				}
				_arrayAbasIdiomas.splice(idiomaAtual, 1, objeto);
			}else{
				_arrayAbasIdiomas[idiomaAtual] = objeto;
			}
			
			if($('#isReplicarIdioma').is(':checked')){
				$('#isReplicar').iCheck('check');
			}else{
				$('#isReplicar').iCheck('uncheck');
			}
			
// 			$('#isReplicarIdioma').prop('checked', false);
			$('.interacoesMural .abas-post-idiomas .aba-post-idiomas').removeClass('in active');
			$('.interacoesMural .abas-post-idiomas > ul').append(createTabsIdiomas(idiomaSelected, idiomaSelected.id, false));
			$('[data-toggle="tooltip"]').tooltip({ html: true });
// 			$('#idioma_post').val(idiomaSelected.id).change();
			
// 			loadCategorias(idiomaSelected.id);
			loadCategoriasByIdAndIdioma(idiomaSelected.id);
			setTimeout(function(){
				if($('.abas-post-idiomas .post-idioma-tabs li.li-link').length > 1){
					$('.abas-post-idiomas .post-idioma-tabs li.li-link').find('i.remover-post-idioma').removeClass('hidden');
					$('.isReplicar-wrapper').removeClass('hidden');
				}
			}, 100)
		}, function (dismiss) {
			$('.interacoesMural .abas-post-idiomas li.aba-post-idiomas.active').removeClass('active');
			$('.interacoesMural .abas-post-idiomas ul li.aba-post-idiomas[data-id-idioma='+idiomaAtual+']').addClass('active');
		});
	  
		$('body').on('click', '.swal2-content .idiomas-disponiveis .idioma', function(){
			$('.swal2-content .idiomas-disponiveis .idioma').removeClass('active');
			$(this).addClass('active');
		});
	}
}


$(window).on('beforeunload', function(){
	var msgErro = "Você possui uma postagem não publicada, tem certeza que deseja sair desta página?";
	var erroImagem = false;
	var erroForm = false;
	var form = $(".interacoesMural").children(".formPost").find(".willSlide");
	if(form.is(":visible") && errorUnload){
		if($(".interacoesMural .anexos li").length > 0 && jQuery.trim(form.find(".liveurl .url").text()) != ""){
			erroImagem = true;			
		}
		if(form.find("#idsTags").val() != ""){
			erroForm = true;
		}
		if(form.find(".uploaderNovo .ajax-file-upload-abort:visible").length > 0){
			erroForm = true;
		}
		if(jQuery.trim(form.find("#titulo").val()) != "" || jQuery.trim(form.find("#mensagem").val()) != "" || erroImagem){
			erroForm = true;
		}
		if(erroForm == true){
			return msgErro;
		}
	}
});

$(function(){
	var muralHora = "$mural_hora_on";
	if(muralHora == 1){
		$('#dataPubli, #dataExp, #dataReminder').appendDtpicker({
			"autodateOnStart": false,
			"locale": "br",
			"minuteInterval": 5,
			"closeOnSelected": true,
			"futureOnly": true,
			"todayButton": false,
			"dateOnly": false,
			"timelistScroll": true,
			"onShow": function(handler){
				var picker = $(handler.$pickerObject[0]), container = picker.find('.datepicker_inner_container .datepicker_timelist'), curHour = container.find('.timelist_item:not(.time_in_past)').first();
				$(container).scrollTop(0);
				$(container).animate({ scrollTop: curHour.position().top - 85 }, 400);
			},
			"onHide": function(handler){
				var picker = $(handler.$pickerObject[0]), container = picker.find('.datepicker_inner_container .datepicker_timelist'), curHour = container.find('.timelist_item:not(.time_in_past)').first();
				$(container).scrollTop(0);
			},
			"dateFormat": "DD/MM/YYYY h:m:00"
		});
	}else{
		$('#dataPubli, #dataExp, #dataReminder').appendDtpicker({
			"autodateOnStart": false,
			"locale": "br",
			"minuteInterval": 5,
			"closeOnSelected": true,
			"futureOnly": true,
			"todayButton": false,
			"dateOnly": true,
			"dateFormat": "DD/MM/YYYY h:m:00"
		});
	}
});

function imgPreviewMobile() {
	var img = '';
	if($('.formPost form #idPost').val() == ''){
		img = $('.recent-files .arquivos li.destaque').data('destaque-url');
	}else{
		img = $('.formPost .anexos li.destaque').data('destaque-url');
	}
	return img;
}

var tinyMCEOptions = {
	selector: '#mensagem',
	language: 'pt_BR',
	inline: false,
	width: '100%',
	height: 350,
	autoresize_min_height: 350,
	theme_advanced_resizing: true,
	entity_encoding: 'raw',
	style_formats: false,
    paste_data_images: true,
	allow_conditional_comments: true,
	statusbar: false,
	menubar: false,
	init_instance_callback: function(inst) { inst.execCommand('mceAutoResize'); },
	content_css: '$context/assets/css/tinymce.css?' + new Date().getTime(),
	schema: 'html5-strict',
	plugins: [
		'advlist autolink autoresize lists link image imagetools charmap print preview anchor fullpage textcolor',
		'searchreplace visualblocks code fullscreen',
		'insertdatetime media table contextmenu powerpaste'
	],
	powerpaste_word_import: 'merge',
	powerpaste_html_import: 'merge',
	powerpaste_allow_local_images: false,
	#if($mural_galeria_on && $mural_galeria_on == "1")
	toolbar1: 'undo redo removeformat | bold italic underline | subscript superscript | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table | link code',
	#else
	toolbar1: 'undo redo removeformat | bold italic underline | subscript superscript | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table | link image code',
	#end
	extended_valid_elements: 'a[href|target=_blank]',
	contextmenu_never_use_native: true,
    contextmenu: "imgGaleria image link | inserttable deletetable",
	setup: function(ed) {
		ed.on('SetContent', function(e) {
            if (e.content.indexOf('<img ') == 0) {setTimeout(function(){ tinymce.activeEditor.execCommand('mceAutoResize'); }, 100);}
        })
        #if($!mural_galeria_on && $!mural_galeria_on == '1')
		ed.addMenuItem('imgGaleria', {
			text: 'Imagem da Galeria',
			icon: 'browse',
			onclick: function() {
				$('#modalInsertMediaMural a[href="#insertMedia-biblioteca"]').click();
				$('#modalInsertMediaMural').addClass('only-embed').modal('show');
			}
		})
		#end
		ed.addButton('previewMobile', {
			tooltip: 'Mobile Preview',
			icon: 'preview',
			onclick: function(){
				var content = ed.getContent(), iframe = $('#modalPreviewPost .modal-body iframe');
				#if($!mural_preview_post_revista_on && $!mural_preview_post_revista_on == '1')
				iframe.contents().find('html head').html('<link rel="stylesheet" type="text/css" href="'+urlContext+'/assets/css/itau-preview.css" />');
				#else
				iframe.contents().find('html head').html('<link rel="stylesheet" type="text/css" href="'+urlContext+'/assets/css/livecom-preview.css" />');
				#end
				iframe.contents().find('html body').html(content);

				var parser = new DOMParser(), parsed = parser.parseFromString(content, 'text/html');
				parsed = parsed.body.innerHTML;

				$('body').append('<div id="preview-content-wrapper" class="clearfix">'+parsed+'</div>');
				$('.preview-livecom-mobile.preview-detalhes .post-mobile-body iframe').height($('body').find('#preview-content-wrapper').height());

				var imgOriginal = imgPreviewMobile(),
					 subcat = $('.subcategorias li.token-input-token p:first').text(),
					 tags = '',
					 date = new Date(),
					 locale = "pt-br",
					 month = date.toLocaleString(locale, { month: "long" });

				#if($!mural_preview_post_revista_on && $!mural_preview_post_revista_on == '1')

				if ($('#isDestaque').is(':checked')) {
					$('.itauHome .preview').hide();
					$('#categoria').val() != '' ? $('.legenda .categoria span:first-child').html($('#categoria option:selected').text()) : $('.legenda .categoria span:first-child').html('categoria');
					$('#chapeu').val() != '' ? $('.subcategorias').find('li.token-input-token').each(function () { $('.legenda .categoria span:last-child').html(subcat) }) : $('.legenda .categoria span:last-child').html('subcategoria');
					$('#titulo').val() != '' ? $('.legenda h2').html($('#titulo').val()) : $('.legenda h2').html('Título');
					imgOriginal != '' ? $('.slideshow').css('background-image', 'url('+imgOriginal+')') : $('.slideshow').css('background-image', 'url("../img/cropit/placeholder-img.jpg")');
				} else {
					$('.itauHome .preview').show();
					$('#categoria').val() != '' ? $('.itauHome .preview').find('.img .sub').html($('#categoria option:selected').text()) : $('.itauHome .preview').find('.img .sub').html('categoria');
					$('#titulo').val() != '' ? $('.itauHome .preview').find('h2').html($('#titulo').val()) : $('.itauHome .preview').find('h2').html('Título');
					$('#resumo').val() != '' ? $('.itauHome .preview').find('.text').html($('#resumo').val()) : $('.itauHome .preview').find('.text').html('Resumo da notícia');
					$('#chapeu').val() != '' ? $('.subcategorias').find('li.token-input-token').each(function () { $('.itauHome .preview').find('p.categoria').html(subcat) }) : $('.itauHome .preview').find('p.categoria').html('subcategoria');
					$('.itauHome .slideshow.borda').css('background-image', 'url("../img/cropit/placeholder-img.jpg")');
					$('.slideshow .categoria span, .slideshow h2').empty();
					imgOriginal != '' ? $('.img-destaque, .preview .img').css('background-image', 'url('+imgOriginal+')') : $('.img-destaque, .preview .img').css('background-image', 'url("../img/cropit/placeholder-img.jpg")');
				}

				$('#categoria').val() != '' ? $('.itauPost .cat').html($('#categoria option:selected').text()) : $('.itauPost .cat').html('categoria');
				$('#chapeu').val() != '' ? $('.subcategorias').find('li.token-input-token').each(function () { $('.itauPost .categoria').html(subcat) }) : $('.itauPost .categoria').html('subcategoria');
				$('#titulo').val() != '' ? $('.itauPost h2').html($('#titulo').val()) : $('.itauPost h2').html('Título');
				$('#resumo').val() != '' ? $('.itauPost .sub').html($('#resumo').val()) : $('.itauPost .sub').html('Resumo da notícia');

				if($('#idsFakeTags').val() != ''){
					$('.post-tags').find('li.token-input-token').each(function (idx, elm) {
						if ($(elm).index() == $('.post-tags li.token-input-token').length - 1) {
							tags += $(this).find('p').text();
						} else {
							tags += $(this).find('p').text()+', ';
						}
					});
					$('.itauPost .tags span').html(tags);
					$('.itauPost .tags').fadeIn();
				}else{
					$('.itauPost .tags').fadeOut();
				}

				$('.itauPost .data').html(month.charAt(0).toUpperCase() + month.slice(1) + '/' + date.getFullYear());

				#else

				$('#modalPreviewPost .post-mobile-categoria').html($('.formPost #categoria option:selected').text());
				$('#modalPreviewPost .post-mobile-categoria:not(.mdl-layout-title)').css('color', $('.formPost #categoria option:selected').css('color'));

				var grupos = '';
				$('.campo-post-grupos .token-input-list li.token-input-token').each(function(){
					if($(this).index() == $('.campo-post-grupos li.token-input-token').length - 1){
						grupos += $(this).find('p').text();
					}else{
						grupos += $(this).find('p').text() + ', ';
					}
				});
				$('.post-mobile-grupos .nome-grupos').html(grupos);

				#end

				setTimeout(function(){
					$('#modalPreviewPost').modal('show');
					$('body').find('#preview-content-wrapper').remove();
				}, 120);
			}
		});

		ed.on('keyup', function(e){
			$('#mensagem').val(ed.getContent()).trigger('keyup');
		}).on('change', function(e){
			$('#mensagem').val(ed.getContent()).trigger('keyup');
			$('.formPost .mce-tinymce').removeClass('dragover');
		}).on('paste', function(e){
			$('#mensagem').val(ed.getContent()).trigger('keyup');
		});
	}
};

var _editor = '';

#if($!post && $!post.id)
	#if($!post.html)
		tinymce.init(tinyMCEOptions);
	#else
		_editor = CKEDITOR.replace( 'mensagem', {} );
		_editor.on('change', function() { _editor.updateElement(); $("#mensagem").trigger('keyup'); });
		_editor.on('focus', function(){ $('.date_false_autodateonstart').handleDtpicker('hide'); });
	#end
#else
	#if($!mural_webview_on && $!mural_webview_on == 1)
		tinymce.init(tinyMCEOptions);
	#else
		_editor = CKEDITOR.replace( 'mensagem', {} );
		_editor.on('change', function() { _editor.updateElement(); $("#mensagem").trigger('keyup'); });
		_editor.on('focus', function(){ $('.date_false_autodateonstart').handleDtpicker('hide'); });
	#end
#end

function disableBtnRLT(){
	var categoria = $('#categoria_select option:selected').text().toLowerCase();
	if(categoria.lastIndexOf('incidente') > -1){
		$('.send-rlt').removeClass('disabled');
	}else{
		$('.send-rlt').addClass('disabled');
	}
}

$(document).ready(function(){
// 	$("#categoria_select, #subcategoria_post, #editoria_post, #idioma_post").select2();
	$("#categoria_select, #idioma_post").select2();
	
	#if($!post && $!post.id)
		#set( $idiomas = $!post.idiomas)
		#foreach($idioma in $idiomas)
			loadCategorias($idioma.idioma.id);
       	#break
		#end
		
		
		setTimeout(function(){
			for(var i in _arrayAbasIdiomas){
				$('.interacoesMural form #titulo').val(_arrayAbasIdiomas[i].titulo);
				$('.interacoesMural form #mensagem').val(_arrayAbasIdiomas[i].mensagem);
				#if($!post.html)
					setTimeout(function(){
						tinymce.activeEditor.setContent(_arrayAbasIdiomas[i].mensagem);
					}, 100);
				#else
					setTimeout(function(){
// 						CKEDITOR.instances.mensagem.setData(_arrayAbasIdiomas[i].mensagem);
						CKEDITOR.instances.mensagem.setData(_arrayAbasIdiomas[i].mensagem, {
						    callback: function() {
								console.log(this);
						    }
						} );
					}, 333);
				#end
				if(_arrayAbasIdiomas[i].resumo && $('.interacoesMural form #resumo').length > 0){
					$('.interacoesMural form #resumo').val(_arrayAbasIdiomas[i].resumo);
				}
				$('.interacoesMural .abas-post-idiomas ul li.aba-post-idiomas[data-id-idioma='+_arrayAbasIdiomas[i].idIdioma+']').addClass('active');
				break;
			}
		}, 100);
	#else
		for(var i in _arrayAbasIdiomas){
			$('.interacoesMural form #titulo').val(_arrayAbasIdiomas[i].titulo);
			$('.interacoesMural form #mensagem').val(_arrayAbasIdiomas[i].mensagem);
			#if($!mural_webview_on && $!mural_webview_on == 1)
				setTimeout(function(){
					tinymce.activeEditor.setContent(_arrayAbasIdiomas[i].mensagem);
				}, 100);
			#else
				setTimeout(function(){
// 					CKEDITOR.instances.mensagem.setData(_arrayAbasIdiomas[i].mensagem);
					CKEDITOR.instances.mensagem.setData(_arrayAbasIdiomas[i].mensagem, {
					    callback: function() {
							console.log(this);
					    }
					} );

				}, 300);
			#end
			if(_arrayAbasIdiomas[i].resumo && $('.interacoesMural form #resumo').length > 0){
				$('.interacoesMural form #resumo').val(_arrayAbasIdiomas[i].resumo);
			}
			$('.interacoesMural .abas-post-idiomas ul li.aba-post-idiomas[data-id-idioma='+_arrayAbasIdiomas[i].idIdioma+']').addClass('active');
			break;
		}
	#end
	
	if($('.interacoesMural .abas-post-idiomas ul li.aba-post-idiomas.li-link').length == 1){
		$('.abas-post-idiomas .post-idioma-tabs li').find('i.remover-post-idioma').addClass('hidden');
	}
	
	$('body').on('click','#tab-postar-idioma', function(e){
		var idIdioma = $('.interacoesMural .abas-post-idiomas .aba-post-idiomas.active').attr('data-id-idioma'),
			idIdiomaClick = $(this).attr('data-id-idioma'),
			idPrimeiroIdioma = $($('.interacoesMural .abas-post-idiomas li')[1]).data('id-idioma'),
			categorias = $('#categoria_select')[0].selectedOptions,
			isCategoriasDisabled = $('#categoria_select').prop('disabled'),
			objCategoria = [],
			obj = {
				idIdioma: idIdioma,
				titulo: $('.interacoesMural #titulo').val(),
				resumo: $('.interacoesMural #resumo').val(),
				mensagem: $('.interacoesMural form').find("#mensagem").val(),
				replicar: $('#isReplicar').is(':checked')
			};
		if(!isCategoriasDisabled){
			for(var i = 0; i< categorias.length; i++){
				objCategoria.push({
					id: categorias[i].value,
					text: categorias[i].text
				});
			}
			_arrayAbasIdiomas[0] = objCategoria;
		}
		#if($!mural_webview_on && $!mural_webview_on == 1)
			obj.mensagem = tinymce.activeEditor.getContent();
	 	#else
	 		obj.mensagem = CKEDITOR.instances.mensagem.getData();
	 	#end
		if(typeof idIdioma != 'undefined'){
			if(_arrayAbasIdiomas[idIdioma] && _arrayAbasIdiomas[idIdioma] != ''){
				if(_arrayAbasIdiomas[idIdioma].id){
					obj.id = _arrayAbasIdiomas[idIdioma].id;
				}
				_arrayAbasIdiomas.splice(idIdioma, 1, obj);
			}else{
				_arrayAbasIdiomas[idIdioma] = obj;
			}
		}
	 	
	 	if(idIdiomaClick == idPrimeiroIdioma){
	 		$('.isReplicar-wrapper').addClass('hidden');
	 	}else{
	 		$('.isReplicar-wrapper').removeClass('hidden');
	 	}
	 	
	 	
	 	setTimeout(function(){
		 	if(_arrayAbasIdiomas[idIdiomaClick].replicar == true){
		 		$('#isReplicar').iCheck('check');
		 	}else{
		 		$('#isReplicar').iCheck('uncheck');
		 		if(_arrayAbasIdiomas[idIdiomaClick]){
					$('.interacoesMural #titulo').val(_arrayAbasIdiomas[idIdiomaClick].titulo).prop('disabled', false);
					$('.interacoesMural #resumo').val(_arrayAbasIdiomas[idIdiomaClick].resumo).prop('disabled', false);
					#if($!mural_webview_on && $!mural_webview_on == 1)
						tinymce.activeEditor.setContent(_arrayAbasIdiomas[idIdiomaClick].mensagem);
						tinymce.activeEditor.setMode('design');
						tinymce.activeEditor.getBody().style.backgroundColor = "white";
						var doc = tinymce.activeEditor.getDoc();
						$(doc).find('html').css('background-color', 'white');
				 	#else
						setTimeout(function(){
							CKEDITOR.instances.mensagem.setReadOnly(false);
							CKEDITOR.instances.mensagem.setData(_arrayAbasIdiomas[idIdiomaClick].mensagem);
							setTimeout(function(){
								CKEDITOR.instances.mensagem.document.getBody().setStyle('background-color', 'white');
							}, 100);
						}, 200);
				 	#end
				}else{
					$('.interacoesMural #titulo').val('').prop('disabled', false);
					$('.interacoesMural #resumo').val('').prop('disabled', false);
					#if($!mural_webview_on && $!mural_webview_on == 1)
						tinymce.activeEditor.setContent('');
						tinymce.activeEditor.setMode('design');
						tinymce.activeEditor.getBody().style.backgroundColor = "white";
						var doc = tinymce.activeEditor.getDoc();
						$(doc).find('html').css('background-color', 'white');
				 	#else
				 		setTimeout(function(){
				 			CKEDITOR.instances.mensagem.setReadOnly(false);
							CKEDITOR.instances.mensagem.setData('');
							setTimeout(function(){
								CKEDITOR.instances.mensagem.document.getBody().setStyle('background-color', 'white');
							}, 100);
						}, 200);
				 	#end
				}
		 	}
		}, 200);
		
		loadCategoriasByIdAndIdioma(idIdiomaClick);
	});
	
	$('body').on('click', '.remover-post-idioma', function(){
		removerPostIdioma($(this).data('idioma'), $(this).data('post-idioma'));
	});

	$('.btn-upload-files').click(function(){
		$('#modal-upload-files').modal('show');
	});

	$(".postarImagem").click(function(e){
		e.preventDefault();
		e.stopPropagation();
		$(".interacoesMural .ajax-file-upload").find(">form > input").first().click();
	});

	$('#titulo').keypress(function(event){
		var code = event.keyCode || event.which;
		if(code == 13) {
			event.preventDefault();
			event.stopPropagation();
		}else if(code == 27){
			event.preventDefault();
			event.stopPropagation();
			$('.btCancelarPostagem.cancelarForm').click();
		}
	});

	$(document).on( 'click', '#mce-modal-block', function() {
		tinyMCE.activeEditor.windowManager.close();
	});
	 
	 $('.btn-upload-image-crop').click(function(event){
		 $('#modal-crop-image').modal('show');
	 });

	 $('body').on('focus', '.campo-post-grupos ul.token-input-list > li.token-input-input-token > input#token-input-grupos', function(e){
		 $('.post-groups').find('.mascaraLabel').hide();
	 });

	if(urlAtual.indexOf("?") > -1){
		urlAtual = urlAtual.slice(urlAtual.lastIndexOf('/') + 1, urlAtual.lastIndexOf('?'));
	}else{
		urlAtual = urlAtual.substr(urlAtual.lastIndexOf('/') + 1);
	}
	if(urlAtual == "postComunicado.htm"){
		$(".willSlide").slideDown();
	}
	
	$(".ativarPlaceholder").on("mouseover",function(e){
		//popPlaceholder
		e.preventDefault();
		var obj = $(this);
		if(!isMobile()){
			if(obj.val() != ""){
				obj.parent().find(".popPlaceholder").stop().fadeIn(150);
			}else{
				obj.parent().find(".popPlaceholder").stop().fadeOut();
			}
		}
	});
	
	$(".ativarPlaceholder").on("mouseleave",function(e){
		e.preventDefault();
		e.stopPropagation();
		var obj = $(this);
		obj.parent().find(".popPlaceholder").stop().fadeOut();
	});
	
	$(".date_false_autodateonstart").focusout(function(e){
		$(this).parent(".campoPost").find(".limparInputs").show();	
		
	});
	$(".limparInputs").on("click",function(e){
		$(this).parent(".campoPost").find("input").val("");
		var valueInput = $(this).parent(".campoPost").find("input").val();
		if(valueInput == ""){
			$(this).hide();
			$(".btPostarComunicado.publicar").val("Publicar");
		}
	});
	
	disableBtnRLT();


	$("#categoria_select").on("change", function (e) {
		disableBtnRLT();
// 		loadSubCategorias($(this).val());
// 		loadEditorias(null);
	});

// 	$("#subcategoria_post").on("change", function (e) {
// 		loadEditorias($("#subcategoria_post").val());
// 	});

	/*grupos autocomplete*/
	var arrayGrupos = [];
	var isTabAmigos = $('#sideBox-user_grupo .sidebox-nav-tabs li.mf').hasClass('active');

	if(isTabAmigos){
		$('#form_visibilidade').val(1).change();
	}else{
		#if($categoriasDefault && !$post.grupos)
			#foreach($grupo in $gruposDefault)
				arrayGrupos.push({
					id: "$grupo.id",
					nome: "$grupo.getNomeString($session.userInfo)"
				});
			#end
		#else
			#foreach($grupo in $post.grupos)
				arrayGrupos.push({
					id: "$grupo.id",
					nome: "$grupo.getNomeString($session.userInfo)"
				});
			#end
		#end
	}
	
	
	//GRUPOS DE POSTAR COMUNICADO
	if($(".interacoesMural #grupos").length > 0){
		function getGruposURL(){
			return urlContext+"/ws/gruposAutoComplete.htm?mode=json&pode_postar=1&form_name=form&search=gruposUser&not_grupo_ids="+$("#idsGrupos").val()+"&participo=1&user_id="+userId+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN;
		}
		gruposTokenInput({
			element: ".interacoesMural #grupos",
			url: getGruposURL,
			hintText: "Comece a digitar para buscar.",
         noResultsText: "Nenhum item encontrado",
         searchingText: "Carregando...",
         placeholder: "Digite os grupos",
         preventDuplicates: true,
         prePopulate: arrayGrupos,
         onAdd: function (item) {
        if($('.formPostar.postar .willSlide').is(':visible')){ 	if((!item.countUsers || item.countUsers == 0) && !item.virtual) {
         		jAlert("O grupo " + item.nome + " não possui usuários", "Atenção", null);
         	}
        		}
         	var ids = $("#idsGrupos").val();
				/* Eliminar o "Somente eu" quando for adiciona algum outro grupo */
				if(ids.indexOf("-1,") > -1){
					ids = $("#idsGrupos").val().replace("-1,", "");
					$(".interacoesMural #grupos").tokenInput("remove", { id: -1 });
				}
				$("#idsGrupos").val(ids + item.id + ",");
         },
         onDelete: function (item) {
         	var idRemove = item.id + ",";
	        	 	var ids = $("#idsGrupos").val();
	        	 	ids = ids.replace(idRemove,"");
	        		$("#idsGrupos").val(ids);
	        		$("#grupos").each(function(e){
	        			if($(this).val() == ""){
	        				$(this).focusout();
	        			}
     			});
         }
		});
	}
		
	//CHAPEU
	if($(".interacoesMural #chapeuAutocomplete").length > 0){
		//APAGA O CHAPEU QUANDO MUDA A CATEGORIA
		$(".interacoesMural #categoria_select").change(function(e){
			$(".interacoesMural #chapeuAutocomplete").tokenInput("clear");
			$(".interacoesMural #chapeuAutocomplete").parent().find(".mascaraLabel").show();
		});
		var arrayChapeu = [];
		#if($!chapeu)
			arrayChapeu.push({
   				id: "$chapeu.id",
   				nome: "$chapeu.nome"
   			});
		#end

		function getChapeusURL(){
    		return urlContext+"/ws/chapeus.htm?mode=json&form_name=form&not_tag_ids="+$("#idsFakeTags").val()+"&categoria_id="+$(".interacoesMural #categoria_select").val()+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN;
    	}

		chapeusTokenInput({
			element: ".interacoesMural #chapeuAutocomplete",
			url: getChapeusURL,
			jsonContainer : "list",
			queryParam: "nome",
			placeholder: 'Digite $!chapeuplaceholder',
    		hintText: "Comece a digitar para buscar.",
         noResultsText: "Nenhum item encontrado para esta Categoria",
         searchingText: "Carregando...",
         preventDuplicates: true,
         minChars: 0,
         tokenLimit: 1,
         propertyToSearch: "nome",
         prePopulate: arrayChapeu,
         onAdd: function (item) {
				$("#chapeu").val(item.id);
         },
         onDelete: function (item) {
         	$("#chapeu").val("");
         }
		});
	}
		
	//TAGS DE POSTAR COMUNICADO
    if($(".interacoesMural #tags").length > 0){
    	function getTagsURL(){
    		return urlContext+"/ws/tags.htm?mode=json&form_name=form&not_tag_ids="+$("#idsFakeTags").val()+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN;
    	}
    	
    	var arrayTags = [];
    	#foreach($tag in $tags)
   			arrayTags.push({
   				id: "$tag.id",
   				nome: "$tag.nome"
   			});
    	#end

    	tagsTokenInput({
    		element: ".interacoesMural #tags",
    		url: getTagsURL,
    		jsonContainer : "list",
    		queryParam: "nome",
    		hintText: "Comece a digitar para buscar.",
         noResultsText: "Nenhum item encontrado",
         searchingText: "Carregando...",
         preventDuplicates: true,
         minChars: 0,
         propertyToSearch: "nome",
         prePopulate: arrayTags,
         onAdd: function (item) {
         	var ids = $("#idsTags").val();
				$("#idsTags").val(ids+" "+item.nome+",");

				var idsFake = $("#idsFakeTags").val();
				$("#idsFakeTags").val(idsFake+" "+item.id+",");
         },
         onDelete: function (item) {
         	var idRemove = " "+item.nome+",";
     	 		var ids = $("#idsTags").val();
     	 		ids = ids.replace(idRemove,"");
     			$("#idsTags").val(ids);

     			var idRemoveFake = " "+item.id+",";
     	 		var idsFake = $("#idsFakeTags").val();
     	 		idsFake = idsFake.replace(idRemoveFake,"");
     			$("#idsFakeTags").val(idsFake);
         }
    	});
	}

	//visibilidade post grupos
	triggerSelect($("#form_visibilidade"));
	$("#form_visibilidade").on("change", function(){
		triggerSelect($("#form_visibilidade"));
	});

	//label botao publicar
	if($("#dataPubli").length > 0){
		labelAgendar();
		$("#dataPubli").change(function(){
			labelAgendar();
		});
	}
	
	$('.btn-upload-files').click(function(){
		$('.formPost .mce-tinymce').removeClass('dragover');
		$('#modal-upload-files').modal('show');
	});

	$(".interacoesMural .ajax-file-upload").find(">form > input[type='file']").on('change', function(){
		$('#modal-upload-files').modal('hide');
	});

	$('#modal-upload-files #drop-zone').on('dragenter', function(){
		$('.formPost .mce-tinymce').removeClass('dragover');
		$(".interacoesMural .ajax-upload-dragdrop").fadeIn();
	});

	$('#modal-upload-files').on('hide.bs.modal', function(){
		$(".interacoesMural .ajax-upload-dragdrop").hide();
		$('.formPost .mce-tinymce').removeClass('dragover');
	});

	//DRAG AND DROP POST MURAL
	var _countDG = 0;
	$(document).on('dragenter', function(event){
		event.preventDefault();
		event.stopPropagation();

 		var willSlide = $('.formPost.postar .willSlide'),
			dt = event.originalEvent.dataTransfer;

		if(_countDG != 0){
			_countDG = 0;
		}else{
			var target = $(event.target);
			if (dt.types && (dt.types.indexOf ? dt.types.indexOf('Files') != -1 : dt.types.contains('Files'))) {
				_countDG = 1;
				willSlide.slideDown();

				if(target.hasClass('mce-container')){
					$('#modal-upload-files').modal('hide');
					$('.formPost .mce-tinymce').addClass('dragover');
				}else{
					if($('.fancybox-wrap').length <= 0 && !$('.modal').is(':visible')){
						if(_countDG === 1){
							$('.modal').modal('hide');
						}

						$('#modal-upload-files').modal('show');
					}else if($('#modalInsertMediaMural').is(':visible')){
						$('#modalInsertMediaMural #insertMedia-uploadFile').addClass('in active');
					}

					$('.ajax-upload-dragdrop').addClass('dragged');
				}
				$('.ajax-upload-dragdrop').addClass('dragged');
			}
		}
	});

	$(document).on('dragleave', ".ajax-upload-dragdrop", function(e) {
		$('.ajax-upload-dragdrop').removeClass('dragged');
		$('#modalInsertMediaMural #insertMedia-uploadFile').removeClass('in active');
	});
	$(document).on("drop", function(e) {
		$('.ajax-upload-dragdrop').removeClass('dragged');
		_countDG = 0;
		$('#modal-upload-files').modal('hide');
		$('#modalInsertMediaMural #insertMedia-uploadFile').removeClass('in active');
	});

	#if($!config_qtdResumo)
		countChar(jQuery(".formPost #resumo"), ".formPost .charNum.countResumo", "$config_qtdResumo");
	#else
		countChar(jQuery(".formPost #resumo"), ".formPost .charNum.countResumo", "140");
	#end
	#if($!config_qtdTitulo)
		countChar(jQuery(".formPost #titulo"), ".formPost .charNum.countTitulo", "$config_qtdTitulo");
	#else
		countChar(jQuery(".formPost #titulo"), ".formPost .charNum.countTitulo", "100");
	#end
});


function abasIdiomas(){
	var obj = [];
	for(var i = 0; i < $('.abas-post-idiomas .post-idioma-tabs .li-link').length; i++){
		var aux = $('.abas-post-idiomas .post-idioma-tabs .li-link')[i];
		var id = $(aux).data('idIdioma');
		obj.push({id});
	}
	return obj;
}

function formatCategorias(categorias){
	var conteudoSelect = [];
	var idIdiomaAtivo = $('.interacoesMural .abas-post-idiomas li.aba-post-idiomas.active').data('idIdioma');
	if(!idIdiomaAtivo){
		idIdiomaAtivo = $($('.interacoesMural .abas-post-idiomas li.aba-post-idiomas.li-link')[0]).data('idIdioma');
	}
	for(var i in categorias){
		var item = categorias[i];
		if(item && item.id){
			for(var j in item.idiomas){
				var idiomasCat = item.idiomas[j];  
				if(idiomasCat.idioma.id == idIdiomaAtivo){
					conteudoSelect.push({
						id: item.id,
						text: idiomasCat.nome
					})
					break;
				}
			}
		}
	}
	return conteudoSelect;
}

function loadCategorias(idiomaId){
	var dataAjax = abasIdiomas();
	var id = $('.abas-post-idiomas .post-idioma-tabs .li-link.active').data('idIdioma');
	if(idiomaId) id = idiomaId;
	
	jQuery.ajax({
		type: 'POST',
		url: urlContext + '/rest/v1/categoria/pai/idiomas',
// 		data: JSON.stringify(id),
		data: JSON.stringify([{id}]),
		contentType: 'application/json',
		beforeSend: function(){
			$('.btPostarComunicado.enviarForm.publicar').addClass('disabled').html('<i class="fa fa-spinner fa-spin fa-fw"></i>')
		},
		success: function(categorias){
			if(categorias.length > 0){
// 				var conteudoSelect = formatCategorias(categorias);
				$("#categoria_select").select2().empty();
				$("#categoria_select").select2({
					ajax: {
						type: 'POST',
						delay: 250,
					    url: function (params) {
					      return urlContext + '/rest/v1/categoria/idiomas/' + params.term;
					    },
					    contentType: "application/json; charset=utf-8",
					    dataType: 'json',
					    data: function (params) {
							var id = $('.abas-post-idiomas .post-idioma-tabs .li-link.active').data('idIdioma');
					        return JSON.stringify({id});
					      },
						processResults: function (data, params) {
							var categorias = data, conteudoSelect = [];
							for(var i in categorias){
								var item = categorias[i];
								if(item && item.id && item.tree){
									conteudoSelect.push({
										id: item.id,
										text: item.tree,
									})
									if(item.idiomas){
										_categorias[item.id] = item.idiomas;
									}
								}
							}
						    return {
						      results: conteudoSelect,
						    };
					  },
					},
				  multiple: true,
				  placeholder: 'Selecione uma categoria.'
				})
				$("#categoria_select").prop("disabled", false);
			}else{
				$("#categoria_select").select2().empty();
				$("#categoria_select").select2({
				  multiple: true,
				  data: conteudoSelect,
				  placeholder: 'Este idioma não tem Categoria.'
				})
				$("#categoria_select").prop("disabled", true);
			}
			
			#if($!post && $!post.id)
				loadCategoriasEdit();
			#else
				$('#categoria_select').trigger('change');
			#end
			$('.btPostarComunicado.enviarForm.publicar').removeClass('disabled').html('Publicar');
		}
	});
}

function loadCategoriasByIdAndIdioma(idIdiomaClick){
	if(_arrayAbasIdiomas[0].length > 0){
		var categoriasPost = _arrayAbasIdiomas[0];
		var categoriasAjax = [], categoriasSelect = [];
		for(var i = 0; i < categoriasPost.length; i++){
			var categ = categoriasPost[i];
			categoriasAjax.push(categ.id);
		}
		jQuery.ajax({
			type: 'POST',
			url: urlContext + '/rest/v1/categoria/idioma/'+idIdiomaClick,
			data: JSON.stringify(categoriasAjax),
			contentType: 'application/json',
			beforeSend: function(){
				$('.btPostarComunicado.enviarForm.publicar').addClass('disabled').html('<i class="fa fa-spinner fa-spin fa-fw"></i>')
			},
			success: function(categorias){
				if(categorias.length > 0){
					$("#categoria_select").select2().empty();
					$("#categoria_select").select2({
						ajax: {
							type: 'POST',
							delay: 250,
						    url: function (params) {
						      return urlContext + '/rest/v1/categoria/idiomas/' + params.term;
						    },
						    contentType: "application/json; charset=utf-8",
						    dataType: 'json',
						    data: function (params) {
								var id = $('.abas-post-idiomas .post-idioma-tabs .li-link.active').data('idIdioma');
						        return JSON.stringify({id});
						      },
							processResults: function (data, params) {
								var categorias = data, conteudoSelect = [];
								for(var i in categorias){
									var item = categorias[i];
									if(item && item.id && item.tree){
										conteudoSelect.push({
											id: item.id,
											text: item.tree,
										})
										if(item.idiomas){
											_categorias[item.id] = item.idiomas;
										}
									}
								}
							    return {
							      results: conteudoSelect,
							    };
						  },
						},
					  multiple: true,
					  placeholder: 'Selecione uma categoria.'
					})
					for(var i in categorias){
						var cat = categorias[i];
						if(cat.id && cat.tree){
							var newOption = new Option(cat.tree, cat.id, false, false);
							$('#categoria_select').append(newOption);
							categoriasSelect.push(cat.id);
						}
					}
					$('#categoria_select').val(categoriasSelect).trigger('change');
					if($("#categoria_select").prop("disabled")) $("#categoria_select").prop("disabled", false);
				}else{
					$("#categoria_select").select2().empty();
					$("#categoria_select").select2({
					  multiple: true,
					  data: categoriasSelect,
					  placeholder: 'Este idioma não tem Categoria.'
					})
					$("#categoria_select").prop("disabled", true);
				}
				
				$('.btPostarComunicado.enviarForm.publicar').removeClass('disabled').html('Publicar');
			}
		});
	}
}

function loadCategoriasEdit(){
	var idCat, categoriasSelect = [], treeCat = "";
	#if($!post && $!post.id)
		#foreach($cat in $!categorias)
			idCat = "$cat.id";
			treeCat = "$!cat.tree";
			$('#categoria_select').append(new Option(treeCat, idCat, false, false));
			categoriasSelect.push("$!cat.id");
		#end
		$('#categoria_select').val(categoriasSelect).trigger('change');
	#else
		$('#categoria_select').trigger('change');
	#end
}


function removerPostIdioma(idiomaId, postIdiomaId){
	swal({
		  title: 'Deseja remover este idioma?',
		  type: 'warning',
		  showCancelButton: true,
		  confirmButtonText: 'Remover',
		  cancelButtonText: 'Cancelar',
		  showLoaderOnConfirm: true,
		  allowOutsideClick: true,
		}).then(function (op) {
			#if($!post && $!post.id)
			if(postIdiomaId){
			    httpDelete("$context/rest/postIdioma/" + postIdiomaId, function(data){ //id da relacao post+idioma
					if(data.status == 'ERROR') {
						toastr.error(data.message);
					} else {
						toastr.success('Idioma removido com sucesso');
						removerAbaPost(idiomaId);
					}
				}, null, null);
			}else{
				removerAbaPost(idiomaId);
			}
			#else
				removerAbaPost(idiomaId);
		    #end
	    })
}

function removerAbaPost(idiomaId){
	if($('.abas-post-idiomas .post-idioma-tabs li.li-link.active').data('idIdioma') == idiomaId){
		setTimeout(function(){
			$('.abas-post-idiomas .post-idioma-tabs li.li-link').first().find('a').click();
		}, 300);
	}
	
	$('.interacoesMural .abas-post-idiomas ul li.aba-post-idiomas[data-id-idioma='+idiomaId+']').remove();
	if(_arrayAbasIdiomas[idiomaId]){
		_arrayAbasIdiomas[idiomaId] = '';
	}
	
	if($('.interacoesMural .abas-post-idiomas ul li.aba-post-idiomas.li-link').length == 1){ //esconde botao de remover se restar uma aba
		$('.abas-post-idiomas .post-idioma-tabs li').find('i.remover-post-idioma').addClass('hidden');
		$('.isReplicar-wrapper').addClass('hidden'); //esconde checkbox de replicar conteudo
	}
}

function triggerSelect(select){
	var val = select.children("option:selected").val();
	if(val != 0){
		$('.campoPost.campo-post-grupos').slideUp();
	}else{
		$('.campoPost.campo-post-grupos').slideDown();
	}
}

function labelAgendar(){
	var $obj = $("#dataPubli"); 
	var splited = $obj.val().split(" ");
	var split = splited[0].split('/');

	if(splited[1] != null || splited[1] != undefined){
   	var horaMinuto = splited[1].split(':');

    	if(split && split.length > 0) {
        	var dataPublicacao = new Date(split[2],  split[1] - 1,  split[0], horaMinuto[0], horaMinuto[1]);
    		if(dataPublicacao > new Date()) {
    			$(".btPostarComunicado.publicar").attr("value","Agendar");
    		} else {
    			$(".btPostarComunicado.publicar").attr("value","Publicar");
    		}
    	}
  	}else{
  		if(split && split.length > 0) {
        	var dataPublicacao = new Date(split[2],  split[1] - 1,  split[0]);
    		if(dataPublicacao > new Date()) {
    			$(".btPostarComunicado.publicar").attr("value","Agendar");
    		} else {
    			$(".btPostarComunicado.publicar").attr("value","Publicar");
    		}
    	}
  	}
}
</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>