<div class="page-content">
	<div class="page-title">$messages.get('log.importacao.label')</div>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/importacao.htm?clear=true">Importação</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('log.importacao.label')</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-file-text-o"></i> $messages.get('log.importacao.label')</span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="clearfix">
						<p class="observacao">$messages.get('log.importacao.job.label') <a class="font-blue" href="$context/admin/arquivosEntradaTree.htm?clear=true">$messages.get('pasta.entrada.job.label')</a></p>
						<p class="observacao">$messages.get('arquivo.encontrado.job.info.label')</p>
						<br>
						<p class="observacao">$messages.get('log.job.detalhado.label') <a class="font-blue" href="log4jLog.htm">$messages.get('log.sistema.label')</a></p>
						<p class="observacao">$messages.get('log.job.info.label')</p>
						<p class="observacao">$messages.get('data.atual.label'): $format.date($now,"dd/MM/yyyy HH:mm:ss")</p>
						<p class="observacao">$messages.get('data.job.ultima.execucao.label'): $format.date($jobInfo.lastDate,"dd/MM/yyyy HH:mm:ss")</p>
						<p class="observacao">Status: $jobInfo.lastMessage</p>
						#if($jobInfo.lastMessageImportacao)
							<p class="observacao">Status: $jobInfo.lastMessageImportacao</p>
						#end
						<br>
						<p class="observacao">$limpar</p>
						<br>
						<p class="observacao"><textarea id="logs" cols="100" rows="50" readonly="readonly">$!jobInfo.getLog()</textarea></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")