<div class="page-content">
	<h3 class="page-title"> LDAP Login </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context//pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span> LDAP </span> <i class="fa fa-angle-right"></i></li>
			<li><span> LDAP Login </span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<span class="caption-subject font-blue bold uppercase"><i class="fa fa-search"></i>&nbsp;Realiza Login no LDAP</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<!-- $!form -->
					<div class="col-md-6 col-md-offset-3 col-sm-12">
					${form.startTag()}
						<div class="form-group">
							<label class="control-label labelCampo">Email*:</label>
							$!form.fields.email
						</div>
						<div class="form-group">
							<label class="control-label labelCampo">Senha*:</label>
							$!form.fields.senha
						</div>
						<div class="clearfix resp-button margin-top-10">
							$!form.fields.Buscar
						</div>
					${form.endTag()}
					</div>
				</div>
				<hr />
				<pre>
					$!userAttributes
				</pre>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>