<div class="page-content">
	<h3 class="page-title">
		$messages.get('listagem.log.sistema.label') <small> logs utilizados para fazer auditoria no sistema.</small>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('listagem.log.sistema.label')</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-arrow-right" aria-hidden="true"></i> $messages.get('listagem.log.sistema.label')</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					${form.startTag()}
					<div class="clearfix">
						<div class="clearfix">
							<div class="col-md-3">
								<label class="labelCampo">$form.fields.tipo.label</label>
								<div class="campoPost">
								$form.fields.tipo
								</div>
							</div>
							<div class="col-md-3">
								<label class="labelCampo">$form.fields.usuarioId.label</label>
								<div class="campoPost">
								$form.fields.usuarioId
								</div>
							</div>
							<div class="col-md-3">
								<label class="labelCampo">$form.fields.dataInicial.label</label>
								<div class="campoPost">
								$form.fields.dataInicial
								</div>
							</div>
							<div class="col-md-3">
								<label class="labelCampo">$form.fields.dataFinal.label</label>
								<div class="campoPost">
								$form.fields.dataFinal
								</div>
							</div>
						</div>
						<div class="clearfix botoesSalvar quebraLinha">
								$form.fields.filtrar
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										$form.fields.exportar
									#end
								#end
						</div>
					</div>
					${form.endTag()} 
					<hr/>
					$table
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script>
$(document).ready(function(){
var usuario = [];
	
	#if($filtro.usuario)
		usuario.push({
			id: '$filtro.usuario.id',
			login: '$filtro.usuario.login'
		});
	#end
	
	if($("#usuario").length > 0){
		jsHttp.filtroTokenInput("#usuario", urlContext+"/rest/usuario?max=15", {
			queryParam: "login",
			propertyToSearch: "login",
			tokenLimit: 1,
			prePopulate: usuario
		});
	}
	
	$("body").find("span.customSelect").addClass("bg");
});
</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>