<div class="page-content">
	<h3 class="page-title">Log Sql</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/root/root.htm">Root</a><i class="fa fa-angle-right"></i></li>
			<li><span>Log Sql</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-database" aria-hidden="true"></i>&nbsp; Log Sql</span>
					</div>
				</div>
				<div class="portlet-body">
				#if($exportar)
					$table
				#else
					${form.startTag()}
						<div class="clearfix">
								<label class="labelCampo">$!form.fields.sql.label</label>
							$!form.fields.sql
						</div>
						<br>
						<div class="clearfix botoesSalvar">
							<div class="umTerco left marginTop">
								$!form.fields.consultar 
							</div>
							#if($form.fields.executar)
							<div class="umTerco center marginTop">
								$!form.fields.executar 
							</div>
							#end
							<div class="umTerco right marginTop">
								$!form.fields.exportar
							</div>
						</div>
						<br>
						<div class="clearfix">
							#set($msg = $session.msg) 
							#if($msg)
								<div class="msgSuccess">$msg</div>
							#end 
							#if($msgErro)
								<div class="msgErro">$msgErro</div>
							#end
						</div>
						<hr />
						<div class="clearfix" style="overflow-y: auto;">$table</div>
					${form.endTag()}
				#end
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>