<div class="page-content">
	<h3 class="page-title">$messages.get('log.convite.title')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i><a href="$context/pages/mural.htm">Home</a><i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/usuarios.htm">Usuários</a><i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/convidarUsuarios.htm">Convidar Usuários</a><i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('log.convite.title')</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
                   <span class="caption-subject font-blue sbold uppercase"><i class="fa fa-envelope-o"></i>&nbsp; $messages.get('log.convite.title')</span>
               </div>
				</div>
				<div class="portlet-body">
					${form.startTag()}
						<div class="clearfix">
							<div class="col-md-5">
								<label class="labelCampo">$form.fields.dataInicial.label</label>
								<div class="campoPost">
								$form.fields.dataInicial
								</div> 
							</div>
							<div class="col-md-5">
								<label class="labelCampo">$form.fields.dataFinal.label</label>
								<div class="campoPost">
								$form.fields.dataFinal
								</div>
							</div>
							<div class="col-md-2">
								<label class="labelCampo">$form.fields.qtdeResultados.label</label>
								<div class="campoPost">
								$form.fields.qtdeResultados
								</div>
							</div>
						</div>
						<div class="clearfix botoesSalvar">
							<div class='#if($exportar_csv_on && $exportar_csv_on == "1") col-md-6 #else col-md-12 #end text-center'>
								$form.fields.filtrar
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
							</div>
							<div class="col-md-6 text-center">
								$form.fields.exportar
									#end
								#end
							</div>
						</div>
					${form.endTag()} 
					<hr/>
					$table
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>