<script>
$(document).ready(function(){
	geraStack("#table");
});
</script>
<div class="headerPagina clearfix">
	<div class="botoesHeader noBorder">
		<a href="palestrante.htm" class="bs-tooltip botao branco btIcone addCategoria" title="$messages.get('palestrante.adicionar.label')"><i class="icones ico-addCategoria"></i></a>
	</div>
	<div style="display:none;" class="inputsHeader">
	</div>
	<h2 class="tituloPagina">$messages.get('palestrante.label')</h2>
</div>
	<div class="breadcrumb">
	    <a href="$context/admin/eventosMenu.htm">$messages.get('evento.label')</a>
	    <a class="active" href="">$messages.get('palestrante.label')</a>
	</div>
<div class="formDados">$table</div>
<br />
#parse("/msg.htm")