<div class="headerPagina clearfix">
	<h2 class="tituloPagina">Parâmetro</h2>
</div>
<div class="formDados convidarUsuarios">
	<form method="post">
		<h3>$messages.get('menu.novo.parametro')</h3>
		<div class="clearfix">
			<div class="doisMeio">
				<label class="labelCampo">Nome</label>
				<div class="campoPost">
					<span class="campoObrigatorio">*</span>
					<input type="text" name="nome" id="form_nome" value="" size="20" class="input">
				</div>
			</div>
			<div class="doisMeio">
				<label class="labelCampo">Descrição</label>
				<div class="campoPost">
					<span class="campoObrigatorio">*</span>
					<textarea rows="5" name="descricao" cols="10" class="input"></textarea>
				</div>
			</div>
		</div>
		<div class="clearfix botoesSalvar">
			<input type="submit" name="salvar" id="form_salvar" value="Salvar" class="botao salvar">
			<input type="submit" name="salvar" id="form_salvar" value="Cancelar" class="botao cancelar-red">
		</div>
	</form>
	<hr class="noMargin"/> 
</div>