<script type="text/javascript">
var linha = 0;
var modo = "";
$(document).ready(function() {
	
	var filtro = getFiltro();
	var user = $("#usuario").val();
	filtro.page = 0;
	modo = 'consolidado';
	if (modo == 'consolidado'){
		relatorioVisualizacao(filtro);
	}
	
	var usuario = [];
	var post = [];
	var categoria = [];
	
	#if($filtro.usuario)
		usuario.push({
			id: '$filtro.usuario.id',
			login: '$filtro.usuario.login'
		});
	#end
	
	#if($filtro.post)
		post.push({
			id: '$filtro.post.id',
			titulo: '$filtro.post.titulo'
		});
	#end
	
	#if($filtro.categoria)
		categoria.push({
			id: '$filtro.categoria.id',
			nome: '$filtro.categoria.nome'
		});
	#end
	
	if($("#filtrarCategoria").length > 0){
		jsHttp.filtroTokenInput("#filtrarCategoria", urlContext+"/rest/v1/categoria/autoComplete?max=5", {
			queryParam: "nome",
			propertyToSearch: "nome",
			tokenLimit: 1,
			prePopulate: categoria
		});
	}
	
	if($("#filtrarUsuario").length > 0){
		jsHttp.filtroTokenInput("#filtrarUsuario", urlContext+"/rest/usuario?max=15", {
			queryParam: "login",
			propertyToSearch: "login",
			placeholder: 'Digite o autor do post...',
			tokenLimit: 1,
			prePopulate: usuario
		});
	}

	if($("#filtrarPost").length > 0){
		postsRestTokenInput({
			element: "#filtrarPost",
			queryParam: "titulo",
			jsonContainer : null,
			tokenLimit: 1,
			hintText: "Comece a digitar para buscar.",
	      noResultsText: "Nenhum item encontrado",
	      searchingText: "Carregando...",
	      preventDuplicates: true,
	      propertyToSearch: "titulo",
	      prePopulate: post,
	      onAdd: function (item) {
				$("#filtrarPost").val(item.id);
	      },
	      onDelete: function (item) {
	      	$("#filtrarPost").val("");
	      }
		});
	}
	
	$("#filtrarRel").on("click",function(e){
		e.stopPropagation();
		e.preventDefault();
		var user = $("#usuario").val();
		filtro.page = 0;
		relatorioVisualizacao(filtro);
	});

	$("#baixar").click(function() {
		this.form.action = "$context/admin/relatorioVisualizacao.htm?action=1";
	});
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		filtro = getFiltro();
		relatorioVisualizacao(filtro);
	});

});//fim doc
function getFiltro(linha, page){
	var filtro = {
			dataInicial: $("#dataIni").val(),
			dataFinal: $("#dataFim").val(),
			usuario: $("#filtrarUsuario").val(),
			post: $("#filtrarPost").val(),
			categoria: $("#filtrarCategoria").val(),
			modo: "consolidado"
		};
	return filtro;
}

var dTable = null;

function relatorioVisualizacao(filtro){
	var filtro = getFiltro();
	jsHttp.get("$context/rest/v1/notification/relatorioVisualizao",{
		data: filtro,
		beforeSend: function(){
			$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
		},
		success: function (data) {
			var conteudo = "";
			for(var i in data) {
				var campo = data[i];
				conteudo += createTable(campo);
			}
			if(dTable != null) {
				$(".table > tbody").empty();
				dTable.clear();
				dTable.destroy();
			}
			dTable = loadTable(conteudo);
			dTable.data(conteudo).draw();
			$('.portlet-body.clearfix').find('.dataTables_processing').remove();
		}
	});

}

$('.table').on('page.dt', function() {
	setTimeout(
		function() {
			confirmationConfig();
	}, 500);
});
	 
$('.table').on('order.dt', function() {
	setTimeout(
		function() {
			confirmationConfig();
	}, 500);
});

function createTable(campo){
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'">';
		rTable += "<td>"+campo.data+"</td>";
		rTable += "<td><a class='blue' href='$context/usuario.htm?id=" + campo.idAutor + "' >" + campo.nomeAutor + "</a></td>";
		rTable += "<td><a class='blue' href='$context/pages/post.htm?id=" + campo.id + "' >" + campo.titulo + "</a></td>";
		rTable += "<td>"+campo.count+"</td>";
		rTable += "<td>"+campo.countLida+"</td>";
		rTable += "<td><a class='blue' href='$context/admin/detalhesRelatorioVisualizacao.htm?id="+campo.id+"'>Detalhes</a></td>";
	rTable += "</tr>";
	return rTable;
}

</script>
<div class="page-content">
	<h3 class="page-title">Relatório de Visualização </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Relatório de Visualização</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Filtro</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-down tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body toggled">
					<form name="form_relatorio" id="relVisualizacao" method="post">
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;Data Inicial:</label>
								<div class="campoPost">
									<input type="text" id="dataIni" value="$!filtro.dataInicialString name="filtro.dataInicialString" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;Data Final:</label>
								<div class="campoPost">
									<input type="text" id="dataFim" value="$!filtro.dataFinalString" name="filtro.dataFinalString" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-4 form-group">
								<label class="labelCampo control-label"><i class="fa fa-inbox"></i>&nbsp;Comunicado:</label>
								<div class="campoPost">
									<input type="text" class="input" value="$!filtro.post.id" id="filtrarPost" name="filtro.post">
								</div>
							</div>
							<div class="col-md-4 form-group">
								<label class="labelCampo control-label"><i class="fa fa-user"></i>&nbsp;Autor:</label>
								<div class="campoPost">
									<input type="text" class="input margin" value="$!filtro.usuario.id" id="filtrarUsuario" name="filtro.usuario">
								</div>
							</div>
						</div>
						<div class="clearfix text-right">
							<input type="button" class="btn btn-primary min-width" id="filtrarRel" value="Filtrar" />
						</div>
					</form>
				</div>
			</div>
		
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-calendar-check-o"></i> Relatório de Visualização</span>
					</div>
		         <div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu pull-right">
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										<!-- <li><a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a><i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body clearfix table-responsive">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead class="header">
							<tr>
								<th width="10%">Data Publicação</th>
								<th width="30%">Quem Postou</th>
								<th width="45%">Comunicado</th>
								<th width="5%">Qtde Visualizações</th>
								<th width="5%">Qtde Leituras</th>
								<th>Detalhes</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>