<div class="headerPagina clearfix">
	<h2 class="tituloPagina">Upload Arquivo</h2>
</div>
<div class="formDados">
${form.startTag()}
<div class="clearfix">
	<!-- <div class="umMeio left"> -->
		<p class="observacao text-center">$messages.get('upload.arquivo.pasta.entrada.info') ( <a class="font-blue" href="$context/admin/arquivosEntradaTree.htm?clear=true">$!entrada</a> ).</p>
		<p class="observacao text-center">$messages.get('job.upload.arquivo.info')</p>
		<br>
		<p class="observacao text-center">$messages.get('arquivos.conhecidos.sistema.label')</p>
		<p class="observacao text-center">$messages.get('arquivo.usuarios.label')&nbsp;<a class="font-blue" href="$context/arquivos/usuario/usuarios.csv">usuarios.csv</a></p>
		<!-- aqui colocar os outros arquivos conhecidos pelo sistema -->
		<br>
		<p class="observacao text-center">$messages.get('arquivo.destino.pasta.entrada.info')<b>$!entrada</b></p>
		<p class="observacao centralizaInput relative">$form.fields.file</p>
		<p class="observacao text-center">$messages.get('msg.importacao.logs.info') <a class="font-blue" href="$context/admin/job.htm">$messages.get('clique.aqui.label')</a></p>
		<p class="observacao text-center">$messages.get('arquivo.informacao.logs.diversos.info') <a class="font-blue" href="$context/admin/log4jLog.htm">$messages.get('clique.aqui.label')</a></p>
	<!-- </div> -->
</div>
<br>	
<div class="clearfix botoesSalvar">$!form.fields.upload</div>
${form.endTag()}
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>