<div class="page-content">
	<h3 class="page-title">$messages.get('usuariosLogados')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a>Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('usuariosLogados')</span></li>
		</ul>
	</div>
	<div class="row content">
		<div class="col-md-12">
			#if($user)
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-user"></i> $!user.id - $!user.login</span>
					</div>
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações
								<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right">
								<li><a href="$context/admin/usuariosLogados.htm?actionLink=logout&value=$!user.login"><i class="fa fa-sign-out"></i> Logout em todos</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body clearfix table-overflow">
					<table class="table-padding table-bordered no-footer table-hover collapsed">
						<tr>
							<td class="sbold">Tipo Login</td>
							#foreach($s in $!user.listSession)
								<td class="">
									#if($s.tipo == 'web')
										<i class="pull-left fa fa-desktop font-blue-sharp tooltip-livecom" title="Web"></i>
									#elseif($!s.tipo == 'android')
										<i class="pull-left fa fa-android font-green-android tooltip-livecom" title="Android"></i>
									#else
										<i class="pull-left fa fa-apple font-dark tooltip-livecom" title="iOS"></i>
									#end
									<a class="pull-right font-red-thunderbird sbold"
										href="$context/admin/usuariosLogados.htm?actionLink=logout&value=$!user.login&os=$!s.tipo">
										<i class="fa fa-sign-out"></i> Logout</a>
								</td>
							#end
						</tr>
						<tr>
							<td class="sbold">Data Login</td>
							#foreach($s in $!user.listSession)
								<td class="">$!s.dataLogin</td>
							#end
						</tr>
						<tr>
							<td class="sbold">Data Último Transação.</td>
							#foreach($s in $!user.listSession)
								<td class="">$!s.dataUltTransacao</td>
							#end
						</tr>
						<tr>
							<td class="sbold">Última página acessada</td>
							#foreach($s in $!user.listSession)
								<td class="">$!s.pathUltimoWebServiceFull</td>
							#end
						</tr>
						<tr>
							<td class="sbold">Data Login Chat</td>
							#foreach($s in $!user.listSession)
								<td class="">$!s.dataLoginChat</td>
							#end
						</tr>
						<tr>
							<td class="sbold">Data Último Chat.</td>
							#foreach($s in $!user.listSession)
								<td class="">$!s.dataUltChat</td>
							#end
						</tr>
						<tr>
							<td class="sbold">Status Chat keepAlive</td>
							#foreach($s in $!user.listSession)
								<td class="">#if($s.keepAliveOk) OK #else NOPS #end</td>
							#end
						</tr>
						<tr>
							<td class="sbold">Akka</td>
							#foreach($s in $!user.listSession)
								<td class="">$!s.actorRef</td>
							#end
						</tr>
						<tr>
							<td class="sbold">Token Login</td>
							#foreach($s in $!user.listSession)
								<td class="">$!s.wstoken</td>
							#end
						</tr>
						<tr>
							<td class="sbold">Tempo Conectado (min)</td>
							#foreach($s in $!user.listSession)
								<td class="">$!s.tempoLogadoMinutos</td>
							#end
						</tr>
						<tr>
							<td class="sbold">Tempo Inativo (min)</td>
							#foreach($s in $!user.listSession)
								<td class="">$!s.tempoInativoMinutos</td>
							#end
						</tr>
					</table>
				</div>
			</div>
			#end
			
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-users"></i> $messages.get('usuariosLogados')</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					$!table
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	if($("#table tbody tr td.odd").length > 0 || $("#table tbody tr td.even").length > 0){
		$("#table").DataTable({
			"paging": true,
			"lengthMenu": [ 10, 25, 50, 75, 100, 150 ],
			"pageLength": 10,
			"oLanguage": oLanguage,
			"columnDefs": [ { orderable: false, targets: -1} ]
		});
	}
});
</script>
#parse("/msg.htm")