<div class="page-content">
	<h3 class="page-title"> $messages.get('usuariosLogados') </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="$context/pages/mural.htm">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="$context/admin/sistema.htm">Sistema</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<span>$messages.get('usuariosLogados')</span>
			</li>
		</ul>
	</div>
                    
     <div class="row content">
         <div class="col-md-12">
             <div class="portlet light ">
                 <div class="portlet-title">
                     <div class="caption font-dark">
                         <span class="caption-subject font-blue sbold uppercase"><i class="fa fa-users"></i> $messages.get('usuariosLogados')</span>
                     </div>
                    
                 </div>
                 <div class="portlet-body">
                     <table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
                     	<thead>
                     		<tr>
								<th>Login</th>
                     			<th>Tipo Login</th>
                     			<th>Chat On</th>
                     			<th>Data Login</th>
                     			<th>Data ultima transação</th>
                     			<th>Tempo (min)	</th>
                     			<th style="width: 80px; text-align: center">Detalhes</th>
                     		</tr>
                     	</thead>
                     	<tbody></tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
	</div>


<!-- Modal -->
<div class="modal fade" id="modalArea" role="dialog" aria-labelledby="modalArea" tabindex="-1">
  <div class="modal-dialog" role="document">
  	<form>
    <div class="modal-content">
      <div class="modal-header modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-list-alt"></span> Dados do Usuário</h4>
      </div>
      <div class="modal-body">
      	
      		  <input type="hidden" value="" name="id" id="id"> 
			  <div class="form-group">
			    <label for="nome" class="control-label">Nome</label>
					<i class="fa"></i>
			    	<input type="text" autofocus="autofocus" class="form-control input-sm" id="nome" name="nome" placeholder="" disabled>
			  </div>
			  <div class="form-group">
			    <label for="nome">Login</label>
			    <input type="text" class="form-control input-sm" id="login" name="login" placeholder="" disabled>
			  </div>
			  
			
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary clearForm">OK</button>
      </div>
    </div>
    </form>
  </div>
</div>


<script>
var dTable = null;

$(document).on('shown.bs.modal', '.modal', function() {
	  $(this).find('[autofocus]').focus();
	});

ajaxGet("$context/rest/v1/usuariosLogados", null, null, success);
function success(diretorias) {
	var conteudo = "";
	for(var i in diretorias) {
		var campo = diretorias[i];
		conteudo += createTable(campo);
	}
	$(".table > tbody").append(conteudo);
	dTable = loadTable();
}

function confirmationConfig() {
	$("[data-toggle=confirmation]").confirmation({ container: '.table', btnOkClass: 'btn btn-sm btn-success', btnCancelClass: 'btn btn-sm btn-danger',popout: true, btnOkLabel: 'Sim', btnCancelLabel: "Não"});
}

$('.table').on('page.dt', function() {
	setTimeout(
		function() {
			confirmationConfig();
	}, 500);
});
	 
$('.table').on('order.dt', function() {
	setTimeout(
		function() {
			confirmationConfig();
	}, 500);
});

$("body").on("click", "table.table > tbody > tr", function(e){
	var dataId = $(this).attr("data-id");
	editar(dataId);
});

$('body').on('click', ".editarCampo", function(e) {
	var id = $(this).attr('data-id');
	editar(id);
});

function editar(id) {
	if(id) {
		ajaxGet("$context/rest/v1/usuariosLogados/" + id, null, null, success);
		function success(user) {
			$("#id").val(user.id);
			$("#nome").val(user.nome);
			$("#login").val(user.login);
			$("#modalArea").modal('show');
		}
	}
}

$('.clearForm').click(function() {
	clearForm();
});

function createTable(campo){
	//var json = JSON.parse(campo);
	//alert(json);
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'">';
		rTable += "<td>"+campo.login+"</td>";
		rTable += "<td>"+campo.tipoLogin+"</td>";
		rTable += "<td>"+campo.chatOn+"</td>";
		rTable += "<td>"+campo.dataLogin+"</td>";
		rTable += "<td>"+campo.dataUltTransacao+"</td>";
		rTable += "<td>"+campo.tempoLogadoMin+"</td>";
		rTable += "<td align='center'>";
			rTable += '<button class="editarCampo btn btn-sm btn-outline green-jungle" data-id="'+campo.id+'"><i class="fa fa-search"></i> Detalhes</button>';
		rTable += "</td>";
	rTable += "</tr>";
	return rTable;
}
	
	
	
	var validator = jsValidator({
		form: 'form',
		rules: {
	        nome: {
	            minlength: 2,
	            required: true
	        },
	    },
	    success: function(form) {
	    	var params = {
	    		nome: $("#nome").val(),
	    		codigo: $("#codigo").val()
	    	}
	    	var diretoria = $("#diretorias").val()
	    	if(diretoria) {
	    		params.diretoria = {};
	    		params.diretoria.id = diretoria;
	    	}
	    	params.id = parseInt($("#id").val());
	    	if(params.id) {
	    		httpPut("$context/rest/v1/area", params, success);
	    	} else {
	    		httpPost("$context/rest/v1/area", params, success);
	    	}
	    }
	});
	
	var clearForm = function() {
		$("#modalArea").modal('hide');
		$('form')[0].reset();
		$("#id").val("");
		$('#diretorias').val(null).trigger("change"); 
		$('form').find('.form-group').removeClass('has-error').removeClass('has-success');
	}
	
	var success  = function(data) {
		if(data.entity) {
			var a = data.entity;
			var id = a.id;
			var nome = a.nome;
			var codigo = a.codigoDesc ? a.codigoDesc : "";
			var diretoria = "";
			if(a.diretoria) {
				diretoria = a.diretoria.nome;
			}

			var acoes = "";
			acoes += '<button class="editarCampo btn btn-outline green-sharp  uppercase" data-id="'+id+'"><i class="fa fa-edit"></i></button>';
			acoes += '<button data-id="'+id+'" class="apagar btn btn-outline red-mint  uppercase" data-toggle="confirmation" data-placement="top" data-original-title="Deseja deletar?" title=""><i class="fa fa-trash"></i></button>';
			if(dTable != null) {
				dTable
				.row($('tr[data-id="'+id+'"]'))
				.remove()
		        .draw(false);
				
				var row;
				
				var columnCodigo = '$cadastros_dataTable_codigo';
				if(columnCodigo == 1) {
					 row = dTable.row.add( [
						codigo,
						nome,
						diretoria,
						acoes
					] ).draw().show().draw(false).node();
				} else {
					row = dTable.row.add( [
											nome,
											diretoria,
											acoes
										] ).draw().show().draw(false).node();
				}
				$(row).attr('data-id', id);
				$(row).find('td:eq(0)').css('text-align', 'center');
				$(row).find('td:eq(3)').css('text-align', 'center');
				toastr.success('<b>' + data.message + "<b>");
				clearForm();
			}
		}
	};
</script>
#parse("/msg.htm")