@import 'utils/_colors';
@import 'utils/_mixins';
@import 'utils/_extends';

/*********************
SECTION MISCELLANEOUS
- RESET MUST BE FIRST
*********************/
@import 'misc/_reset';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';


* { font-family: "Open Sans", Arial, Verdana, sans-serif; @include prefix(box-sizing, border-box, webkit moz ms o); }

html, body, #content { height: 100%; font-size: 15px; font-family: "Open Sans", Arial, Verdana, sans-serif; }
body{ padding-right:0!important; overflow-y: auto; @extend %no-padding; margin: 0!important; color: #333; }

body > #content { height: auto !important; min-height: 100%; overflow: hidden; position: relative; }

#content {
    position: relative;
    padding-top: 64px;
    padding-bottom: 50px;
    left: 0;
    right: 0;
    background: $content-background;
    @extend %no-padding-lr;

    .main{
        @include transition(width 200ms ease-in-out);
        @extend %no-padding;

        &.sidebox-based{ width: calc(75% - 260px); }

        @media screen and (min-width: 991px) and (max-width: 1300px){ width: calc(100% - 220px); margin-left: 220px; }
        @media screen and (min-width: 1560px){ width: calc(100% - 260px); margin-left: 260px; }
    }

    &.deslogado{
        > .container-fluid > .row > .main { margin-left: 0; width: 100%; @extend %no-padding; }
    }
}

/*********************
SECTION MISCELLANEOUS
**********************/
@import 'misc/_INDEX';


/*********************
SECTION COMPONENTS
*********************/
@import 'components/_INDEX';


/*********************
SECTION MEDIA QUERIES
ALWAYS AT THE BOTTOM
**********************/
@import 'misc/_media-queries';