@import 'utils/_colors';
@import 'utils/_mixins';
@import 'utils/_extends';

/*********************
SECTION MISCELLANEOUS
- RESET MUST BE FIRST
*********************/
@import 'misc/_reset';
@import '../node_modules/font-awesome/scss/font-awesome';


* { font-family: "Open Sans", Arial, Verdana, sans-serif; @include prefix(box-sizing, border-box, webkit moz ms o); }

html, body, #content { height: 100%; font-size: 15px; font-family: "Open Sans", Arial, Verdana, sans-serif; }
body{ padding-right:0!important; overflow-y: scroll; }

body > #content { height: auto !important; min-height: 100%; overflow: hidden; position: relative; }

#content {
    position: relative;
    padding-top: 64px;
    padding-bottom: 50px;
    left: 0;
    right: 0;
    background: $content-background;
    @extend %no-padding-lr;

    .main{
        @include transition(width 200ms ease-in-out);
        @extend %no-padding;
    }

    &.deslogado{
        > .container-fluid > .row > .main { margin-left: 0; width: 100%; }
    }
}

/*** login ***/
#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%; 
    height: 200%;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }
}

#boxLogin {
	background: $white;
	position: absolute;
    @include prefix(border-radius, 10px, webkit moz ms o);
    @include prefix(box-shadow, 0 2px 4px 0 rgba(0, 0, 0, 0.3), webkit moz ms o);
	z-index: 10;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 22%;
    position: fixed;

   &.relative{ position: relative; top: 0; left: 0; margin: 15% auto 0; }
}

.bkLogoLogin {
    @include prefix(border-radius, 10px 10px 0 0, webkit moz ms o);
    background: #05c3f5;
    min-height: 77px;

    #logo {
        margin: 0 auto;
        padding: 20px 0;
        min-height:77px;
        width: 150px;
        height: 37px;
        outline: none;
        
        a{
            background: url(../../imagens/icones.png) no-repeat 0 0;
            width: 150px;
            height: 37px;
            text-indent: -9999px;
            display: block;
            outline: none;
        }
    }
}

.paddingLogin{
    padding:20px 30px 0 30px;

    label { font-weight: 600; font-size: 18px; color: #808080; display: block; padding-bottom: 10px; margin-bottom: 0; }

    &.bottom{
        .botoesSalvar{ padding: 20px 0; }

        label { font-weight: normal; }
    }

    p { color: #808080; padding: 10px 0 20px 0; text-align: center; }

    #captcha{
        margin-bottom: 10px;
        > div{ margin: 0 auto; }
    }
}

.campoLogin {
    position: relative;

    input {
        position: relative;
        border: 1px solid #d8dce0;
        color: #808080;
        background: #FFF;
        width: 100%;
        @include prefix(box-sizing, border-box, webkit moz ms o);
        @include prefix(border-radius, 3px, webkit moz ms o);
        height: 48px;
        line-height: 48px;
        padding: 0 10px 0 58px;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 10px;

        &.error { border-color: #ffc2c2; background-color: #ffe6e6; }
        &:focus{ @extend %input-focus; }
    }
}

.bgIconeLogin { position: absolute; left: 0; top: 1px; padding: 12px 13px; border-right: 1px solid #ccc; z-index: 2; }

.cinzaLogin {
    background: #f7f9fa;
    border-top: 1px solid #d8dce0;
    @include prefix(border-radius, 0 0 10px 10px, webkit moz ms o);
    padding: 20px 30px;

    .btn{ min-width: 91px; @extend %float-right; }
}

.manterConectado { font-size: 12px; color: #808080; display: block; float: left; font-weight: 600; margin-bottom: 10px; }

.esqueciSenha { display: block; float: left; clear: left; color: #c5c5c5; font-size: 12px; font-weight: 600; @extend %no-decoration-hover; }

.opcaoLogin{
    @extend %float-left;
    
    &.senha { padding-top: 15px; }
}

.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 9px 24px;
    font-size: 14px;
    line-height: 1.42857;
    @include prefix(border-radius, 25px, webkit moz ms o);
    @include prefix(user-select, none, webkit moz ms o);
    box-shadow: none;
    outline: 0 !important;

    &.green{
        color: #FFF; background-color: #32c5d2; border-color: #32c5d2;

        &:hover, &:active{ color: #FFF; background-color: #26a1ab; border-color: #2499a3; }
    }

    &.blue{
        color: #FFF; background-color: #3598dc; border-color: #3598dc;

        &:hover, &:active{ color: #FFF; background-color: #217ebd; border-color: #1f78b5; }
    }

    &.btn-block{ width: 150px; }

    &.disabled{
        opacity: .4; pointer-events: none;
    }
}

.text-center{ text-align: center; }

@import 'components/footer/_footer';
@import 'components/custom-select/_custom-select';
@import 'components/icheck/_icheck';
@import 'components/alerts/_alerts';
@import 'components/toastr/_toastr';

.icones {
	background: url(../../imagens/icones.png) no-repeat;
	width: 22px;
	height: 22px;
	display: block;
	float: left;

    &.ico-cadeado { background-position: -22px -194px; }
    &.ico-chave { background-position: -22px -172px; }
}


/*********************
SECTION MEDIA QUERIES
ALWAYS AT THE BOTTOM
**********************/
@import 'misc/_media-queries';