<div class="page-content">
	<h3 class="page-title">Deletar Usuario</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i><a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Deletar Usuario</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-map"></i>&nbsp; Deletar Usuario </span>
					</div>
				</div>
				<div class="portlet-body">
					${form.startTag()}
						<div class="clearfix view-tabela">
							<div class="form-group" style="position: relative;">
								<label for="login" class="control-label">Login</label>
								<input type="text" autofocus="autofocus" class="form-control input-sm" id="login" name="login" maxlength="80" placeholder="" value="">
							</div>
							<button type="submit" class="btn btn-default min-width" id="deletar">Deletar</button>
						</div>
					${form.endTag()} 
				</div>
			</div>
		</div>
	</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>