<br />
<table id="table" class="tabelaListagens" width="100%">
	<thead>
		<th colspan="2" class="">Detalhes Cache</th>
		$!teste
	</thead>
	<tbody>
		<tr>
			<td align="left" width="30%" nowrap="true">Cache Name</td>
			<td align="left" width="70%" nowrap="true"><b>$!cacheName</b></td>
		</tr>
		<tr>
			<td align="left" width="30%" nowrap="true">Cache Class</td>
			<td align="left" width="70%" nowrap="true"><b>$!className</b></td>
		</tr>
		<tr>
			<td align="left" width="30%" nowrap="true">Cache Guid</td>
			<td align="left" width="70%" nowrap="true"><b>$!cacheGuid</b></td>
		</tr>
		<tr>
			<td align="left" width="30%" nowrap="true">Cache Size</td>
			<td align="left" width="70%" nowrap="true"><b>$!cacheSize</b></td>
		</tr>
		<tr>
			<td align="left" width="30%" nowrap="true">Cache Count</td>
			<td align="left" width="70%" nowrap="true"><b>$!cacheCount</b></td>
		</tr>
		<tr>
			<td align="left" width="30%" nowrap="true">Cache Status</td>
			<td align="left" width="70%" nowrap="true"><b>$!cacheStatus</b>
			</td>
		</tr>
	</tbody>
</table>
<br />
<table id="table" class="tabelaListagens" width="100%">
	#foreach($son in $cacheSons)
	<thead>
		<th colspan="2">Cache Keys</th>
	</thead>
	<tbody>
		<tr>
		$!son.keyMap
			<td align="left" width="30%" nowrap="true">Cache Filho Key</td>
			<td align="left" width="70%"><b>$!son.key</b></td>
		</tr>
		<tr>
			<td align="left" width="30%" nowrap="true">Creation Time</td>
			<td align="left" width="70%"><b>$!son.creationTime</b></td>
		</tr>
		<tr>
			<td align="left" width="30%" nowrap="true">Hit Count</td>
			<td align="left" width="70%"><b>$!son.hitCount</b></td>
		</tr>
		<tr>
			<td align="left" width="30%" nowrap="true">Size</td>
			<td align="left" width="70%"><b>$!son.size bytes</b></td>
		</tr>
		<tr>
			<td align="left" width="30%" nowrap="true">Value</td>
			<td align="left" width="70%"><b>$!son.value</b></td>
		</tr>
		<tr>
			<td align="left" width="30%" nowrap="true">Version</td>
			<td align="left" width="70%"><b>$!son.version</b></td>
		</tr>
		<tr>
			<td align="left" width="30%" nowrap="true">Descricao</td>
			<td align="left" width="70%"><b>$!son.descricao</b></td>
		</tr>
		#end
	</tbody>
</table>
<br>

$!debug

<br>


<table>
	<tr>
		<td align="left"><input type="button" value="Voltar"
			class="botao "
			onclick="window.location.href='$context/root/cache.htm?'"></td>
	</tr>
</table>

