<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Livecom</title>
	<link href="$context/css/reset.css" rel="stylesheet" media="all">
	<link rel="stylesheet" type="text/css" href="$context/assets/css/bootstrap.min.css?${js_version}">
	<link href="$context/assets/layout/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
	<link href="$context/assets/layout/profile.css" rel="stylesheet" type="text/css" />
	<link href="$context/assets/layout/layout.min.css" rel="stylesheet" type="text/css" />
	<link href="$context/css/style.css" rel="stylesheet" type="text/css" />
	#if($favicon)
		<link rel="image_src" href="$favicon">
		<link href="$favicon" rel="shortcut icon">
	#else
		<link rel="image_src" href="$context/img/$web_template_favicon">
		<link href="$context/img/$web_template_favicon" rel="shortcut icon">
	#end
</head>
<body>
	<div class="page-content">
		<div class="clearfix text-center">
			<h3 class="page-title">Parametros reiniciados</h3>
			<input type="button" class="btn btn-primary btn-voltar" value="Voltar" onClick="history.go(-1)">
		</div>
	</div>
</body>