<div class="page-content">
	<h3 class="page-title"> Parâmetros - $!nomeEmpresa </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/empresa.htm?id=$!empresaId">Empresa</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Parâmetros - $!nomeEmpresa</span></li>
		</ul>
	</div>
                    
	<div class="row content">
   	<div class="col-md-12">
      	<div class="portlet light">
         	<div class="portlet-title">
            	<div class="caption font-dark">
               	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-cogs"></i> Lista de Parâmetros - $!nomeEmpresa </span>
					</div>
					<!-- <div class="actions">
						<div class="btn-group">
	               	<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
	                 	<ul class="dropdown-menu pull-right">
	                  	<li><a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar </a></li>
	                    	<li><a href="javascript:;"><i class="fa fa-file-excel-o"></i> Importar </a></li>
							</ul>
						</div>
					</div> -->
				</div>
            <div class="portlet-body">
            	${form.startTag()}
            			<input type="hidden" value="$!empresaId" name="empresaId">
						<div class="clearfix">
							<div class="col-md-4">
								<label class="labelCampo control-label" for="form_nome">$form.fields.nome.label</label>
								<div class="campoPost">
									<span class="campoObrigatorio">*</span>
									$form.fields.nome
								</div>
							</div>
							<div class="col-md-4">
								<label class="labelCampo control-label" for="form_valor">$form.fields.valor.label</label>
								<div class="campoPost">
									<span class="campoObrigatorio"></span>
									$form.fields.valor
								</div>
							</div>
							<div class="col-md-4">
								<label class="labelCampo control-label" for="form_tipoParametro">$form.fields.tipoParametro.label</label>
								<div class="campoPost">
									<span class="campoObrigatorio"></span>
									$form.fields.tipoParametro
								</div>
							</div>
						</div>
						<div class="clearfix botoesSalvar">
							<button class="btn btn-default cancelar min-width" type="button"> Cancelar </button>
							$form.fields.salvar
							<button class="btn btn-primary min-width btn-salvar" type="submit"> Salvar </button>
						</div>
					${form.endTag()}
					<div class="clearfix">
	            	<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed ellipsify">
	               	<thead>
								<tr>
									<th>Nome</th>
									<th>Valor</th>
									<th>Tipo</th>
									<th class="two-buttons">Ações</th>
								</tr>
							</thead>
							<tbody>
								#foreach($p in $parametros)
									<tr>
										<td>$!p.nome</td>
										<td style="max-width:570px;">$!p.valor</td>
										<td>$!p.tipoParametro</td>
										<td align="center">
											<a href="$context$path?actionLink=editar&value=${p.id}&empresaId=$!empresaId" class="editarCampo btn btn-outline green-sharp  uppercase"><i class="fa fa-edit"></i></a>
											<a href="$context$path?actionLink=delete&value=$p.id&empresaId=$!empresaId" class="apagar btn btn-outline red-mint  uppercase" data-toggle="confirmation" data-placement="top" data-original-title="Confirma deletar?" title=""><i class="fa fa-trash"></i></a>
										</td>
									</tr>
								#end
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
loadTable(250);

var dTable = null;

function confirmationConfig() {
	$("[data-toggle=confirmation]").confirmation({ container: '.table', btnOkClass: 'btn btn-sm btn-success', btnCancelClass: 'btn btn-sm btn-danger',popout: true, btnOkLabel: 'Sim', btnCancelLabel: "Não"});
}

$("[data-toggle=confirmation]").confirmation({ container: '.table', btnOkClass: 'btn btn-sm btn-success', btnCancelClass: 'btn btn-sm btn-danger',popout: true, btnOkLabel: 'Sim', btnCancelLabel: "Não"});

$('.btn-salvar').click(function(event){
	event.preventDefault();
	$(this).html('<i class="fa fa-spinner fa-fw fa-spin"></i>');
	$('#form_salvar').click();
});

$('.table').on('page.dt', function() {
	setTimeout(
		function() {
			confirmationConfig();
	}, 500);
});
	 
$('.table').on('order.dt', function() {
	setTimeout(
		function() {
			confirmationConfig();
	}, 500);
});

$('body').on('click','.apagar', function (e) {
	$("[href='" + $(this).attr("href") + "'].apagar").find("i").addClass("fa-spinner fa-spin").removeClass("fa-trash");
});
	
var validator = jsValidator({
	form: 'form',
	rules: {
        nome: {
            minlength: 2,
            required: true
        },
    },
    success: function(form) {
    	form.submit();
    }
});

$(".add").click(function(e) {
	$('.formHide').fadeIn();
});

$('.cancelar').click(function() {
	location.href = "$context/root/parametros.htm";
});

</script>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>