<div class="headerPagina clearfix">
	<h2 class="tituloPagina">$messages.get('permissoes.label')</h2>
</div>
${form.startTag()} 
<div class="formDados convidarUsuarios">
	<div class="clearfix">
		<div class="umMeio left">
			<label class="labelCampo">$form.fields.nome.label </label>
			<div class="campoPost">
				#if($form.fields.nome.required)<span class="campoObrigatorio">*</span>#end
				$form.fields.nome
			</div>
		</div>
		<div class="umMeio">
			<label class="labelCampo">$form.fields.descricao.label </label>
			<div class="campoPost">
				#if($form.fields.descricao.required) <span class="campoObrigatorio">*</span> #end
				$form.fields.descricao
			</div>
		</div>
	</div>
	
	<div class="clearfix">
		<div class="umMeio left">
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.padrao $form.fields.padrao.label
				</label>
			</div>
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.cadastrarTabelas $form.fields.cadastrarTabelas.label
				</label>
			</div>
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.cadastrarUsuarios $form.fields.cadastrarUsuarios.label
				</label>
			</div>
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.publicar $form.fields.publicar.label
				</label>
			</div>
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.editarPostagem $form.fields.editarPostagem.label
				</label>
			</div>
		</div>
		<div class="umMeio">
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.excluirPostagem $form.fields.excluirPostagem.label
				</label>
			</div>
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.comentar $form.fields.comentar.label
				</label>
			</div>
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.curtir $form.fields.curtir.label
				</label>
			</div>
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.arquivos $form.fields.arquivos.label
				</label>
			</div>
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.enviarMensagem $form.fields.enviarMensagem.label
				</label>
			</div>
		</div>
	</div>
	<div class="clearfix botoesSalvar">
		<div class="umMeio left">
			$form.fields.salvar
		</div>
		<div class="umMeio">
			$form.fields.novo
		</div>
	</div>
	<hr class="noMargin"/> 
</div>
${form.endTag()} 
<div class="formDados">
	$table
</div>
#parse("/msg2.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>