<div class="page-content">
	<h3 class="page-title">#if($templateEmail.nome) $!templateEmail.nome #else Novo Template #end</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i><a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>E-mail</span> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/root/templates.htm">Templates</a> <i class="fa fa-angle-right"></i></li>
			<li><span>#if($templateEmail.nome) $!templateEmail.nome #else Novo Template #end</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
		
			<div class="m-heading-1 border-blue m-bordered">
				<h3>Cadastrar Template <i class="fa fa-question-circle font-blue pull-right cursor-pointer" data-toggle="modal" data-target="#modal-help-template" aria-hidden="true"></i></h3>
				<p>Aqui você poderá escrever o código HTML do seu template, ou fazer o upload de um arquivo pronto.</p>
				<p>Lista de templates de e-mail:</p>
				<ul>
					<li>- Convite</li>
					<li>- Recuperar Senha</li>
				</ul>
			</div>
			
			${form.startTag()}
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-envelope-o"></i> #if($templateEmail.nome) $!templateEmail.nome #else Novo Template #end </span>
					</div>
					#if($templateEmail.id)
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações
								<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right">
								<li>
									$!form.fields.deletar
								</li>
							</ul>
						</div>
					</div>
					#end
				</div>
				<div class="portlet-body">
					<div class="clearfix">
						<div class="col-md-12 form-group noPadding">
							<div class="col-md-6 form-group">
								<label class="control-label clearfix">Titulo do template</label>
									$form.fields.nome
							</div>
							<div class="col-md-6 form-group">
								<label class="control-label clearfix">Tipo do template</label>
									$form.fields.tipoTemplate
							</div>
						</div>
						<div class="col-md-12 tabbable-line tabs-holder form-group">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab_visual" data-toggle="tab">Visual</a></li>
								<li><a href="#tab_code" data-toggle="tab">HTML</a></li>
							</ul>
						</div>
						<div class="col-md-12 noPadding">
							<div class="clearfix tab-content">
								<div class="clearfix tab-pane active fade in" id="tab_visual">
									<div class="col-md-12">
										<iframe id="tempFrame" class="iframe large bordered radius"></iframe>
									</div>
								</div>
								<div class="clearfix tab-pane fade in" id="tab_code">
									<div class="col-md-12">
										$form.fields.html
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div id="drop-zone" class="upload-arquivo col-md-12 nopadding text-center">
						<p class="form-group">Arraste seu arquivo aqui, ou</p>
						<a id="importarArquivo" class="btn btn-default sbold arquivo tooltip-livecom"> Clique aqui <i class="fa fa-paperclip fa-rotate-220"></i></a>
						$form.fields.fileField
					</div>
				</div>
				<div class="clearfix text-right">
					<div class="margin-top-10">	
						$!form.fields.cancelar
						$!form.fields.salvar
						<button type="submit" class="btn btn-primary btn-salvar min-width">Salvar</button>
					</div>
				</div>
				${form.endTag()}
			</div>
		</div>	
	</div>
</div>	

<!-- Modal -->
<div class="modal fade" id="modal-help-template" role="dialog" aria-labelledby="modal-help-template" tabindex="-1">
	<div class="modal-dialog" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-question-sign"></span> Ajuda - Cadastro de Template
					</h4>
				</div>
				<div class="modal-body clearfix">
					<h4>Variáveis suportadas no template HTML</h4>
					<table class="table table-bordered table-hover dt-responsive no-footer dtr-inline collapsed">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Valor</th>
								<th>Descrição</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Login</td>
								<td>&#36;!{login}</td>
								<td>Mostra o login do usuário no template</td>
							</tr>
							<tr>
								<td>Senha</td>
								<td>&#36;!{senha}</td>
								<td>Mostra a senha do usuário no template</td>
							</tr>
						</tbody>
					</table>
     	      </div>
			</div>
		</form>
	</div>
</div>
#parse("/msg.htm")

<script>
$(document).ready(function(){
	$("#nome").addClass("form-control");
	$('#tempFrame').contents().find('html').html($("#form_html").val());
	var count=0;
	$("#form_html").keyup(function(){
		$('#tempFrame').contents().find('html').html($("#form_html").val());
	});
	
	$('.btn-salvar').click(function(event){
		event.preventDefault();
		$(this).html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
		$('#form_salvar').click();
	});
	
	$(document).on("click", "#form_deletar", function(e){
		var obj = $(this);
		var refEvent = event.originalEvent;
		e.preventDefault();
		
		jConfirm("Deseja realmente deletar este template?", "Atenção", "deletar", function(e) {
			if(e) {
				location.href= obj.attr("href");
			} else {
				return false;
			}
		});
	});
	
	$("#importarArquivo").click(function(e) {
		e.preventDefault();
		$("#form_fileField").click();
	});
	
	$(function () {
	    var dropZoneId = "drop-zone";
	    var buttonId = "importarArquivo";
	    var mouseOverClass = "mouse-over";

	    var dropZone = $("#" + dropZoneId);
	    var ooleft = dropZone.offset().left;
	    var ooright = dropZone.outerWidth() + ooleft;
	    var ootop = dropZone.offset().top;
	    var oobottom = dropZone.outerHeight() + ootop;
	    var inputFile = dropZone.find("input");
	    document.getElementById(dropZoneId).addEventListener("dragover", function (e) {
	        e.preventDefault();
	        e.stopPropagation();
	        dropZone.addClass(mouseOverClass);
	        var x = e.pageX;
	        var y = e.pageY;

	        if (!(x < ooleft || x > ooright || y < ootop || y > oobottom)) {
	            inputFile.offset({ top: y - 15, left: x - 100 });
	        } else {
	            inputFile.offset({ top: -400, left: -400 });
	        }

	    }, true);

	    if (buttonId != "") {
	        var clickZone = $("#" + buttonId);

	        var oleft = clickZone.offset().left;
	        var oright = clickZone.outerWidth() + oleft;
	        var otop = clickZone.offset().top;
	        var obottom = clickZone.outerHeight() + otop;

	        $("#" + buttonId).mousemove(function (e) {
	            var x = e.pageX;
	            var y = e.pageY;
	            if (!(x < oleft || x > oright || y < otop || y > obottom)) {
	                inputFile.offset({ top: y - 15, left: x - 160 });
	            } else {
	                inputFile.offset({ top: -400, left: -400 });
	            }
	        });
	    }

	    document.getElementById(dropZoneId).addEventListener("drop", function (e) {
	        $("#" + dropZoneId).removeClass(mouseOverClass);
	    }, true);

	})

});

$(function() {
    $("#form_fileField").change(function (){
      var fileName = $(this).val();
      var file = this.files[0];
      if (file) {
          // create reader
          var reader = new FileReader();
          reader.readAsText(file);
          reader.onload = function(e) {
              // browser completed reading file - display it
             $('#form_html').val(e.target.result);
             $('#form_html').keyup();
          };
      }
    });
 });

</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>