<link href="$context/css/tree_2.3.0.css" rel="stylesheet" type="text/css" />
<div class="page-content">
	<h3 class="page-title">Tree</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/root/root.htm">Root</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Tree</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-folder-open"></i> Selecionar Pasta</span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="clearfix form-group row">
						<div class="col-md-6 form-group">
							<label class="control-label labelCampo"><i class="fa fa-arrow-right"></i>&nbsp;Caminho da pasta:</label>
							<input type="text" name="caminho" value="$!caminho" id="caminho"	class="form-control input-sm tooltip-livecom">
						</div>
						<div class="col-md-6 form-group">
							<label class="control-label labelCampo"><i class="fa fa-folder-open-o"></i>&nbsp;Pastas:</label>
							<select id="pasta">
								<option value="">Selecione uma Pasta</option>
								<option value="$!tomcat">$!tomcat</option>
								<option value="/livecom">/livecom</option>
							</select>
						</div>
					</div>
					<div class="clearfix text-right">
						<input type="button" value="Visualizar" id="visualizar" class="btn btn-primary min-width">
					</div> 
				</div>
			</div>

			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i
							class="fa fa-code-fork"></i> Arquivos no caminho informado: $!trace</span>
					</div>
				</div>
				<div class="portlet-body">$!tree</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#visualizar").on("click", function() {
			location.href = "$context/root/tree.htm?caminho="+ $("#caminho").val();
		});
	});
	
	$("#pasta").on("change", function() {
		$("#caminho").val($(this).val());
	});
	
	$(document).keypress(function(event) {
	    if (event.which == 13) {
	    	location.href = "$context/root/tree.htm?caminho="+ $("#caminho").val();
	    }
	});
</script>

