<div class="page-content">
	<div id="boxLogin" class="relative">
		<div class="paddingLogin bottom">
			${form.startTag()}
				<label class="labelCampo">Login de Usuário</label>
				<div class="campoPost">
					$form.fields.login
				</div>
				<div class="clearfix botoesSalvar quebraLinhaForm">$form.fields.logon</div>
			${form.endTag()}
		</div>
	</div>
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>