<script>
var id = $!id;

$(document).ready(function() {

	jsHttp.get("$context/rest/v1/push/geral/detalhes/" + id,{
		beforeSend: function(){
			$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
		},
		success: function (data) {
			$('.portlet-title .caption .caption-subject.push-title').append(' - '+data.push.titulo);
			var conteudo = "";
			var msg = "";
			var titulo = "";
			if(data){
				var a = data.push;
				conteudo += "<tr>";
					conteudo += "<td class='sbold'>Duração</td>";
					conteudo += "<td>"+a.duracao +"</td>";
				conteudo+= "</tr>";	
				conteudo += "<tr>";
					conteudo += "<td class='sbold'>Data Inicio</td>";
					conteudo += "<td>"+a.date +"</td>";
				conteudo+= "</tr>";	
				conteudo += "<tr>";
					conteudo += "<td class='sbold'>Data Fim</td>";
					conteudo += "<td>"+a.dataFim +"</td>";
				conteudo+= "</tr>";	
				conteudo += "<tr>";
					conteudo += "<td class='sbold'>Enviados</td>";
					if(a.statusVO.ok){
						conteudo += "<td>"+a.statusVO.ok+"</td>";
					}else{
						conteudo += "<td>-</td>";	
					}
				conteudo+= "</tr>";	
				conteudo += "<tr>";
					conteudo += "<td class='sbold'>Pendentes</td>";
					if(a.statusVO.semDevice){
						conteudo += "<td>"+a.statusVO.semDevice+"</td>";
					}else{
						conteudo += "<td>-</td>";	
					}
				conteudo+= "</tr>";	
				conteudo += "<tr>";
					conteudo += "<td class='sbold'>Total</td>";
					conteudo += "<td>"+a.statusVO.total +"</td>";
				conteudo+= "</tr>";	
				conteudo += "<tr>";
					conteudo += "<td class='sbold'>Post ID</td>";
					conteudo += "<td>"+a.id +"</td>";
				conteudo+= "</tr>";
				if(a.cancelada == true){
					conteudo += "<tr>";
						conteudo += "<td colspan='2' class='sbold font-yellow-gold'>Mensagem Cancelada pelo Admin.</td>";
					conteudo += "</tr>";
				}
				conteudo += "<tr>";
					conteudo += "<td colspan='2'><a class='sbold' data-toggle='modal' data-target='#modalMensagem'>Ver mensagem</a></td>";
				conteudo+= "</tr>";	
				msg += a.msg;
				titulo += a.titulo;
			}
			$(".tabelaGeral").append(conteudo);
			$("#modalMensagem .modal-body").append("<p>"+msg+"</p>");
			$("#modalMensagem .modal-title").append(titulo);
			$('.portlet-body.clearfix').find('.dataTables_processing').remove();
		}
	});
	
	var page = 0;
	
	buscaUsuarios();
	
	graficoPizza(id);
	
	$(".cancel-push").click(function(){
		jConfirm("Deseja cancelar este push?","Atenção","deletar",function(r){
			if(r == true){
				jQuery.ajax({
					type: "post",
					url: "$context/rest/v1/push/geral/detalhes/cancelar/"+id,
				 	dataType: "json",
				 	success: function( data ) {
				 		if(data.result.status == "OK"){
				 			jAlert("Push cancelado com sucesso!","Atenção", null, function(r){
				 				if(r == true){
				 					location.href = "$context/report/push/geralPushReport.htm?clear=true";
				 				}
				 			});
				 		}else{
				 			jAlert("Não foi possível cancelar este push!", "Atenção", null);
				 			return false;
				 		}	
					}
				 });
			}else{
				location.href = "$context/report/push/geralPushReport.htm";
			}
		});
	});

});//fim doc

var dTable = null;

function buscaUsuarios(){
	jsHttp.get("$context/rest/v1/push/geral/mensagens/" + id,{
		beforeSend: function(data){
			$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
		},
		success: function(data){
			var conteudo = "";
        	for(var i in data.list) {
				var campo = data.list[i];
				conteudo += createTable(campo);
			}
        	
        	if(dTable != null) {
				$(".table > tbody").empty();
				dTable.clear();
				dTable.destroy();
			}
			dTable = loadTable(conteudo);
			dTable.data(conteudo).draw();
			$('.portlet-body.clearfix').find('.dataTables_processing').remove();
			$('.bs-tooltip').tooltip({ html: true });
		}
	 });
}

function createTable(campo){
	var device = "";
	if(campo.deviceVO){
		device = campo.deviceVO.nome;
	}else{
		device = "--";
	}
			
	var rTable = "";
	rTable += '<tr class="pushUser" data-id="'+campo.id+'">';
		rTable += "<td>"+campo.id+"</td>";
		rTable += "<td>"+campo.usuario+"</td>";
		rTable += "<td>"+device+"</td>";
		
		if(campo.badge) {
			rTable += "<td>"+campo.badge+"</td>";
		} else {
			rTable +='<td>0</td>';
		}
		
		rTable += "<td>"+campo.data+"</td>";
		rTable += "<td>"+campo.dataRecebimento+"</td>";
		rTable += "<td>"+campo.dataLeitura+"</td>";
		
		if(campo.status == "NOVO"){
			rTable += '<td class="bs-tooltip" data-idmsg="'+campo.id+'" title="Novo"><i class="fa fa-hourglass-start"></i></td>';					
		}else if(campo.status == "ENVIADA"){
			rTable += '<td class="bs-tooltip" data-idmsg="'+campo.id+'" title="Enviado"><i class="fa fa-check fa-2x font-green-jungle"></i></td>';					
		}else if(campo.status == "AGENDADO"){
			rTable += '<td class="bs-tooltip" data-idmsg="'+campo.id+'" title="Agendado"><a data-title="'+campo.status+'" data-erro="'+campo.erro+'" class="linkerro"><i class="fa fa-clock-o"></i></a></td>';					
		}else if(campo.status == "DEVICEINATIVO"){
			rTable += '<td class="bs-tooltip" data-idmsg="'+campo.id+'" title="Device Inativo"><a data-title="'+campo.status+'" data-erro="'+campo.erro+'" class="linkerro"><i class="notActiveDevice"></i></a></td>';					
		}else if(campo.status == "SEMDEVICE"){
			rTable += '<td class="bs-tooltip" data-idmsg="'+campo.id+'" title="Usúario não possui device"><a data-title="'+campo.status+'" data-erro="'+campo.erro+'" class="linkerro"><i class="notRegisteredDevice"></i></a></td>';					
		}else{
		 	rTable += '<td class="bs-tooltip" data-idmsg="'+campo.id+'" title="Erro: '+campo.erro+'"><a data-title="'+campo.status+'" data-erro="'+campo.erro+'" class="linkerro"><i class="erroEnvio"></i></a></td>';
		}
	rTable += "</tr>";
	$('.bs-tooltip').tooltip({ html: true });
	return rTable;
}
			
function graficoPizza(id){
	var newh = $("#content").height();
   var neww = $("#content").width();
   
   $(window).resize(function() {
		newh = $("#content").height();
		neww = $("#content").width();
		chart.redraw();
		chart.reflow();
   });
    
	var dados = new Array();
	
	jsHttp.get("$context/rest/v1/push/geral/grafico/" + id,{
		beforeSend : function() {
			$("#renderGrafico").addClass("paginaAtual");
		},
		success : function(data) {
			var novoArray = [];
			var count = 0;
			if (data && data.list.length > 0) {
				for(i=0;i<data.list.length;i++){
					var colorNovo = "";
					if(data.list[i][0] == "NOVO"){
						colorNovo = '#0277bd';
					}else if(data.list[i][0] == "ENVIADA"){
						colorNovo = '#43a047';
					}else if(data.list[i][0] == "AGENDADO"){
						colorNovo = '#3aa7e8';
					}else if(data.list[i][0] == "DEVICEINATIVO" || data.list[i][0] == "SEMDEVICE"){
						count += data.list[i][1];
						continue;
					}else{
						data.list[i][0] = "ERRO"
						colorNovo = '#c62828';
					}
					novoArray.push({ name:data.list[i][0], color:colorNovo, y:parseInt(data.list[i][1]) });
				}
					
				if(count > 0){
					novoArray.push({ name:"ERRO NO DEVICE", color:"#f25f3d", y:parseInt(count) });	
				}
				
				var options = {
					chart : {
						renderTo : 'renderGrafico',
						type : 'pie',
						options3d : {
							enabled : true,
							alpha : 45,
							beta : 0
						},
						style : {
							fontFamily : 'Open sans'
						}
					},
					title : {
						text : 'Relatório de Mensagens'
					},
					exporting: {
				         enabled: false
					},
					tooltip : {
						valueSuffix : ' mensagens',
					},
					credits : {
						enabled : false
					},
					plotOptions : {
						pie : {
							allowPointSelect : true,
							cursor : 'pointer',
							depth : 35,
							dataLabels : {
								enabled : true,
								format : '{series.name}: {point.name}: <b>{point.y}'
							}
						}
					},
					series : [ {
						type : 'pie',
						name : '.',
						data : novoArray
					} ]
				}
				
				chart = new Highcharts.Chart(options);
			} else {
				jAlert("Não existem mensagens", 'Atenção', null);
			}
			$("#renderGrafico").removeClass("paginaAtual");
		}
	});
}
</script>
<div class="page-content">
	<h3 class="page-title">Detalhes Relatório Geral</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i> </li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/report/push/geralPushReport.htm">Relatório Geral</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Detalhes Relatório Geral</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase push-title"><i class="fa fa-flag"></i>&nbsp; Detalhes Push </span>
					</div>
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Ações <i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu pull-right">
								<!-- <li><a class="enviarParaTodos"><i class="fa fa-flip-horizontal fa-reply-all"></i>&nbsp;Reenviar Push</a></li> -->
								<li><a class="cancel-push"><i class="fa fa-close"></i>&nbsp;Cancelar Push</a></li>
								<!-- <li><a class="excluirComunicado"><i class="fa fa-trash"></i>&nbsp;Excluir Push</a></li> -->
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<div class="grafico fixGrafico">
						<div class="clearfix">
							<div class="col-md-4 toShow">
								<table id="table" class="tabelaGeral dt-responsive no-footer"></table>
							</div>
							<div class="col-md-8 grafico">
								<div id="renderGrafico" class="graficos"></div>
							</div>
						</div>
					</div>	
				</div>	
			</div>
			
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-users"></i>&nbsp; Usuários </span>
					</div>
				</div>
				<div class="portlet-body clearfix table-responsive">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead>
							<tr>
								<th>ID</th>
								<th>Usuario</th>
								<th>Device</th>
								<th>Badge</th>
								<th>Data Envio</th>
								<th>Data Recebimento</th>
								<th>Data Leitura</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>
</div>	
	
<!-- modal success -->
<div class="modal fade" id="modalMensagem" role="dialog" aria-labelledby="modalArea" tabindex="-1">
	<div class="modal-dialog" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-envelope"></span>
					</h4>
				</div>
				<div class="modal-body"></div>
			</div>
		</form>
	</div>
</div>
#parse("/msg.htm")