<div class="page-content">
	<h3 class="page-title">Relatório Geral $!session.userInfo.projeto</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Relatório Geral</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
		
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Filtro</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-down tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body toggled">
					<form name="form_relatorio" id="relFavorito" method="post">
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;Data Inicial</label>
								<div class="campoPost">
									<input type="text" id="dataIni" value="$!filtro.dataIni" name="filtro.dataIni" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;Data Final</label>
								<div class="campoPost">
									<input type="text" id="dataFim" value="$!filtro.dataFim" name="filtro.dataFim" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-6 form-group">
								<label class="labelCampo control-label"><i class="fa fa-inbox"></i>&nbsp;Comunicado</label>
								<div class="campoPost">
									<input type="text" class="input" value="$!filtro.post.id" id="filtrarPost" name="filtro.post">
								</div>
							</div>
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-flag"></i>&nbsp;Tipo</label>
								<div class="campoPost">
									$form.fields.tipoPush
								</div>
							</div>
						</div>
						<div class="clearfix text-right">
							<input type="button" class="btn btn-primary min-width" id="filtrarRel" value="Filtrar" />
						</div>
					</form>
				</div>
			</div>
		         
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-tasks" aria-hidden="true"></i> Relatório Geral</span>
					</div>
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
		              	<ul class="dropdown-menu pull-right">
		              		#if($exportar_csv_on && $exportar_csv_on == "1")
		              			#if($!EXPORTACOES)
										<!-- <li><a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
				                  <li class="bleed-divider"><a><i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
		                 		#end
		                  #end
		                  <li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
							</ul>
						</div>
					</div>
				</div>
		      <div class="portlet-body clearfix">
		      	<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
		         	<thead>
							<tr>
								<th style="width:8%;">Data Inicial</th>
								<th style="width:8%;">Data Final</th>
								<th style="width:5%;">Duração</th>
								<th style="width:38%;">Título</th>
								<th style="width:6%;">Tipo</th>
								<th style="width:45%;">Status</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var linha = 0;
$(document).ready(function(){
	
	var filtro = getFiltro();
	var user = $("#usuario").val();
	filtro.page = 0;
	
	geralReport(filtro);
	
	var usuario = [];
	var post = [];
	var categoria = [];
	
	#if($filtro.usuarioId)
		usuario.push({
			id: '$filtro.usuarioId',
			login: '$filtro.usuarioLogin'
		});
	#end
	
	#if($filtro.postId)
		post.push({
			id: '$filtro.postId',
			titulo: '$filtro.postTitulo'
		});
	#end
	
	#if($filtro.categoriaId)
		categoria.push({
			id: '$filtro.categoriaId',
			nome: '$filtro.categoriaNome'
		});
	#end
	
	if($("#filtrarCategoria").length > 0){
		jsHttp.filtroTokenInput("#filtrarCategoria", urlContext+"/rest/v1/categoria/autoComplete?max=5", {
			queryParam: "nome",
			propertyToSearch: "nome",
			tokenLimit: 1,
			prePopulate: categoria
		});
	}
	
	if($("#filtrarUsuario").length > 0){
		jsHttp.filtroTokenInput("#filtrarUsuario", urlContext+"/rest/usuario?max=15", {
			queryParam: "login",
			propertyToSearch: "login",
			placeholder: 'Digite o autor do post...',
			tokenLimit: 1,
			prePopulate: usuario
		});
	}

	if($("#filtrarPost").length > 0){
		postsRestTokenInput({
			element: "#filtrarPost",
			queryParam: "titulo",
			jsonContainer : null,
			tokenLimit: 1,
			hintText: "Comece a digitar para buscar.",
	      noResultsText: "Nenhum item encontrado",
	      searchingText: "Carregando...",
	      preventDuplicates: true,
	      propertyToSearch: "titulo",
	      prePopulate: post,
		  	onAdd: function (item) {
				$(this).val(item.id);
			},
			onDelete: function (item) {
	   		$("#filtrarPost").val("");
	   	},
		});
	}
	
	$("#filtrarRel").on("click",function(e){
		e.stopPropagation();
		e.preventDefault();
		var user = $("#usuario").val();
		filtro.page = 0;
		geralReport(filtro);
	});
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		filtro = getFiltro();
		geralReport(filtro);
	});
	
});

function getFiltro() {
    var filtro = {
    	dataIni : $("#dataIni").val(),
    	dataFim : $("#dataFim").val(),
    	projeto : "$!empresa",
    	tipoPush: $("#form_tipoPush option:selected").val(),
    	status : -1,
	};
    return filtro;
}

var dTable = null;

function geralReport(filtro) {
	var filtro = getFiltro();
	jsHttp.get("$context/rest/v1/push/geral/",{
		data: filtro,
		beforeSend: function(){
			$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
		},
		success: function (data) {
			var conteudo = "";
			for(var i in data.list) {
				var campo = data.list[i];
				conteudo += createTable(campo);
			}
			
			if(dTable != null) {
				$(".table > tbody").empty();
				dTable.clear();
				dTable.destroy();
			}
			dTable = loadTable(conteudo);
			dTable.data(conteudo).draw();
			$('.portlet-body.clearfix').find('.dataTables_processing').remove();
			$('.bs-tooltip').tooltip({ html: true });
		}
	});
}

function createTable(campo){
	var rTable = "";
	
	var isCancelada = '';
	var tooltipCancelada = '';
	if(campo.cancelada == true) {
		isCancelada = 'font-yellow-gold bs-tooltip';
		tooltipCancelada = 'title="Push Cancelado"';
	}
	
	rTable += '<tr data-id="'+campo.id+'" class="'+ isCancelada +'" ' + tooltipCancelada + '>';
		rTable += "<td>"+campo.date+"</td>";
		rTable += "<td>"+campo.dataFim+"</td>";
		rTable += "<td>"+campo.duracao+"</td>";
		if(campo.pushId && campo.pushId != '0'){
			rTable += "<td><a href='$context/pages/post.htm?id="+campo.pushId+"'>"+campo.titulo+"</a></td>";
		}else{
			rTable += "<td>"+campo.titulo+"</a></td>";
		}
		rTable += "<td class='text-center'>";
			var tipo = campo.tipo;
			tipo = tipo.toLowerCase().replace(/\b[a-z]/g, function(letter) {
			    return letter.toUpperCase();
			});
			
			if(campo.tipo == 'newPost'){
				rTable += "<i class='fa fa-paper-plane icon-badge font-blue bs-tooltip' title='"+tipo+"' aria-hidden='true'></i></td>";	
			}else if(campo.tipo == 'like'){
				rTable += "<i class='fa fa-thumbs-o-up icon-badge font-blue bs-tooltip' title='"+tipo+"' aria-hidden='true'></i></td>";
			}else if(campo.tipo == 'comentario'){
				rTable += "<i class='fa fa-commenting-o icon-badge font-blue bs-tooltip' title='"+tipo+"' aria-hidden='true'></i></td>";
			}else if(campo.tipo == 'favorito'){
				rTable += "<i class='fa fa-star icon-badge font-blue bs-tooltip' title='"+tipo+"' aria-hidden='true'></i></td>";
			}else{
				rTable += "<i class='fa fa-flag icon-badge font-blue bs-tooltip' title='"+tipo+"' aria-hidden='true'></i></td>";
			}
		rTable += "</td>";
		
		var innerBarra = "";
		var barras = "";
		var enviados = "";
		var enviadosErro = "";
		var nRegistrado = "";
		var nFalhas = "";
		var agendado = "";
		var semDevice = "";
		var outros = "";
		for(var indice in campo.statusVO){
			var valor = campo.statusVO[indice];
			var total = campo.statusVO.total;
			if(campo.statusVO.total > 0){
				if(indice != "total"){
					var tamanho = (parseInt(valor)*100)/total;
					var cor = "";
					if(indice == "ok"){
						cor = "enviada";
						if(valor){
							enviados = valor;
						}else{
							enviados = 0;
						}
					}else if(indice == "erro" || indice == "falha"){
						cor = "erro";
						if(valor){
							enviadosErro = valor;
						}else{
							enviadosErro = 0;
						}
					}else if(indice == "falha"){
						cor = "falha";
						if(valor){
							nFalhas = valor;
						}else{
							nFalhas = 0;
						}
					}else if(indice == "novo"){
						cor = "novo";
						if(valor){
							outros = valor;
						}else{
							outros = 0;
						}
					}else if(indice == "semDevice"){
						cor = "semDevice";
						if(valor){
							semDevice = valor;
						}else{
							semDevice = 0;
						}
					}else if(indice == "agendado"){
						cor = "agendado";
						if(valor){
							agendado = valor;
						}else{
							agendado = 0;
						}
					}else{
						cor = "nEnviada";
					}
					barras += '<div class="barraInner '+cor+'" data-indice="'+indice+'" data-valor="'+valor+'" style="width:'+tamanho+'%;"><span>'+valor+'</span></div>';
				}
			}else{
				barras += '<div class="barraInner"></div>';	
			}
		}
		if(enviados == ""){
			enviados = 0;
		}
		if(enviadosErro == ""){
			enviadosErro = 0;
		}
		if(outros == ""){
			outros = 0;
		}
		if(agendado == ""){
			agendado = 0;
		}
		if(semDevice == ""){
			semDevice = 0;
		}
		if(total == ""){
			rTable += '<td><div class="barraStatus"><div class="barraInner" tyle="width:100%;"><span style="color:#787878;">0</span></div></div></td>';
		}else{
			rTable += '<td class="qtdPushs relative linhaDetalhe" data-idmsg="'+campo.id+'" data-tipo="'+campo.tipo+'">';
				rTable += '<a class="noDecoration" href="$context/report/push/detalhesRelatorioComunicados.htm?id='+campo.id+'">';
					rTable += '<div class="barraStatus bs-tooltip" title="Total de pushs: '+total+'<br>Enviado: '+enviados+'<br>Erro: '+enviadosErro+'<br>Sem Device: '+semDevice+'<br>Novo: '+outros+'<br>Agendado: '+agendado+'">'+barras+'</div>';
				rTable += '</a>';
			rTable += '</td>';
		}
	rTable += "</tr>";
	
	return rTable;
}
</script>