.dashboard-stat2 {
    @include prefix(border-radius, 4px, webkit moz ms o);
    background: #fff;
    padding: 15px 15px 30px;
    margin-bottom: 20px;

    &.bordered { border: 1px solid #e7ecf1; }

    .display {
        margin-bottom: 20px;
        &:after, &:before{ content: " "; display: table; }

        .number {
            float: left; display: inline-block;
            
            h3 { 
                margin: 0 0 2px; padding: 0; font-size: 30px; font-weight: 400;
                > small{ font-size: 23px; }
            }

            small { font-size: 14px; color: #AAB5BC; font-weight: 600; text-transform: uppercase; }
        }

        .icon {
            display: inline-block; float: right; padding: 7px 0 0;

            > i{ color: #cbd4e0; font-size: 26px; }
        }
    }

    .progress-info{
        .progress { margin: 0; height: 4px; display: block; }

        .status {
            margin-top: 5px; font-size: 11px; color: #AAB5BC; font-weight: 600; text-transform: uppercase;

            .status-title, .status-number{ display: inline-block; }
            .status-title{ float: left; }
            .status-number{ float: right; }
        }
    }
}