/***** jquery-mentions *****/
.mentions-input {
    position: relative; width: 100%;

    .input { overflow: hidden; position: relative;  }

    .highlighter {
        position: absolute;
        left: 0;
        right: 0;
        color: transparent;
        overflow: hidden;
        border-style: solid;
        border-color: transparent;
    }

    .highlighter-content {
        position: relative;
        strong {
            font-weight: inherit;
            background-color: #a3bcea;
            display: inline;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        }
    }
}

[data-mention] { background-color: #a3bcea; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); }