/***** XBBCODE *****/
.xbbcode-center {
	margin-left: auto;
	margin-right: auto;
	@extend %block;
	text-align: center;
}

.xbbcode-code {
	white-space: pre-wrap;
	font-family: monospace;
}

.xbbcode-i { font-style: italic; }
.xbbcode-u{ @extend %font-underline; }
.xbbcode-b{ font-weight: 700; }

.xbbcode-justify { @extend %block; text-align: justify; }
.xbbcode-left { @extend %block; text-align: left; }
.xbbcode-right { @extend %block; text-align: right; }

.xbbcode-s { text-decoration: line-through; }

.xbbcode-size-4 { font-size: 4px; }
.xbbcode-size-5 { font-size: 5px; }
.xbbcode-size-6 { font-size: 6px; }
.xbbcode-size-7 { font-size: 7px; }
.xbbcode-size-8 { font-size: 8px; }
.xbbcode-size-9 { font-size: 9px; }
.xbbcode-size-10 { font-size: 10px; }
.xbbcode-size-11 { font-size: 11px; }
.xbbcode-size-12 { font-size: 12px; }
.xbbcode-size-13 { font-size: 13px; }
.xbbcode-size-14 { font-size: 14px; }
.xbbcode-size-15 { font-size: 15px; }
.xbbcode-size-16 { font-size: 16px; }
.xbbcode-size-17 { font-size: 17px; }
.xbbcode-size-18 { font-size: 18px; }
.xbbcode-size-19 { font-size: 19px; }
.xbbcode-size-20 { font-size: 20px; }
.xbbcode-size-21 { font-size: 21px; }
.xbbcode-size-22, .labelIcon i { font-size: 22px; }
.xbbcode-size-23 { font-size: 23px; }
.xbbcode-size-24 { font-size: 24px; }
.xbbcode-size-25 { font-size: 25px; }
.xbbcode-size-26 { font-size: 26px; }
.xbbcode-size-27 { font-size: 27px; }
.xbbcode-size-28 { font-size: 28px; }
.xbbcode-size-29 { font-size: 29px; }
.xbbcode-size-30 { font-size: 30px; }
.xbbcode-size-31 { font-size: 31px; }
.xbbcode-size-32 { font-size: 32px; }
.xbbcode-size-33 { font-size: 33px; }
.xbbcode-size-34 { font-size: 34px; }
.xbbcode-size-35 { font-size: 35px; }
.xbbcode-size-36 { font-size: 36px; }
.xbbcode-size-37 { font-size: 37px; }
.xbbcode-size-38 { font-size: 38px; }
.xbbcode-size-39 { font-size: 39px; }
.xbbcode-size-40 { font-size: 40px; }

.xbbcode-table { border-collapse: collapse; }
.xbbcode-td{ padding: 6px 12px; }