.modal-padding{
	.fa{ line-height: 60px; display: block; }

	&.more-padding{ padding: 30px; }
}

.modal-xlg { width: 98%; }

.modal-backdrop{ z-index: 1142; }

.modal-content-tutorial{ padding: 40px; }

.file-extension-banner{
	display: inline-block;
    color: #fff;
    padding: 2px 15px;
    text-align: center;
    text-transform: none;
    font-size: 16px;
    min-width: 65px;
    top: -4px;
    position: relative;
}

.modal-content-iframe{
	padding: 5px 0;

	> iframe{ height: 100%; min-height: 500px; min-height: 80vh; }
}

.modal-lg{
    @media screen and (min-width: 992px){ width: 70%; }
}

.modal-title { margin: 0 10px 0 15px; font-size: 18px; }
.modal-title .glyphicon { margin-right: 10px; }


.modal{
    .portlet.light{
        margin-bottom: 0;
        padding-top: 0;

        .portlet-body{ padding-bottom: 0; }
    }
}

.modal-open{
    .ajax-upload-dragdrop{ opacity: 0; z-index: 10052; }
}



@import '_galeria-arquivos';