/*** POSTS MURAL ***/
.listaMural, .listaEventos {
    padding: 20px 20px 0 20px;
    clear: both;

    &.padding-adjust{ padding: 10px 0; }
}

.listaMural{

    &.root-simulate{
        background-color: #edf1f3;
        padding: 20px;

        > li{ margin-bottom: 0; }
    }

    > li {
        border: 1px solid transparent;
        @include prefix(border-radius, 4px, webkit moz ms o);
        background: #FFF;
        padding: 20px 20px 0;
        margin-bottom: 20px;
        position: relative;
        border: 3px solid transparent;

        &.post-idioma{
            padding: 0;
            
            .post-content{ padding: 10px 20px 0; }
        }

        &.agendado{
            border-color: #F3C200;

            .icone-status-publicacao{ background-color: #F3C200; }
        }

        &.expirado{
            border-color: #BFBFBF;

            .icone-status-publicacao{ background-color: #BFBFBF; }
        }

        &.task{
            border-color: #D91E18;

            .icone-status-publicacao{ background-color: #D91E18; }
        }

        &.destaque{
            border-color: #0096d0;

            .icone-status-publicacao{ background-color: #0096d0; }
        }

        &.prioritario{
            border-color: #f97d12;

            .icone-status-publicacao{ background-color: #f97d12; }
        }

        /* 2 classes */

        &.prioritario.task{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.prioritario.destaque{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.prioritario.agendado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.prioritario.expirado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.destaque.task{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.destaque.agendado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.destaque.expirado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.task.agendado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.task.expirado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }
        
        /* 3 classes */

        &.prioritario.destaque.task{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.prioritario.destaque.agendado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.prioritario.task.agendado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.destaque.task.agendado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.prioritario.destaque.expirado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.prioritario.task.expirado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.destaque.task.expirado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        /* 4 classes */

        &.prioritario.destaque.task.agendado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }

        &.prioritario.destaque.task.expirado{
            border-color: #26C281;

            .icone-status-publicacao{ background-color: #26C281; }
        }


        /* welcome feed */
        &.wf{
            padding: 5px 5px 5px 15px;

            > .alturaMensagem{
                padding: 14px 0 0; vertical-align: middle; min-height: 50px;

                > .livecom-icon{ margin-right: 5px; }
                > .wf-icon{
                    display: block; position: absolute; height: 50px; width: 50px; top: 0; right: 15px;

                    &.morning{ background: url(../../imagens/wf/2/morning.png) center center no-repeat; }
                    &.afternoon{ background: url(../../imagens/wf/2/afternoon.png) center center no-repeat; }
                    &.night{ background: url(../../imagens/wf/2/night.png) center center no-repeat; }

                    &.fb-morning{ background: url(../../imagens/wf/fb/morning.png) center center no-repeat; }
                    &.fb-afternoon{ background: url(../../imagens/wf/fb/afternoon.png) center center no-repeat; }
                    &.fb-night{ background: url(../../imagens/wf/fb/night.png) center center no-repeat; }
                }
            }
        }

        .status-publicacao-wrapper{
            position: absolute; top: -7px; left: 5px;

            &:nth-child(2){
                left: 40px;
            }

            &:nth-child(3){
                left: 75px;
            }

            &:nth-child(4){
                left: 110px;
            }

            &:nth-child(5){
                left: 145px;
            }

            .status-publicacao-shadow{
                height: 3px;
                top: 1px;
                width: 100%;
                background: #848484;
                left: -2px;
                position: relative;
            }

            .icone-status-publicacao{
                height: 24px;
                width: 20px;
                position: relative;
                overflow: hidden;
                border-bottom: none;
                text-align: center;
                font-size: 12px;
                color: #fff;
                top: -3px;

                > i{ position: absolute; top: 4px; left: 3px; }

                &:before, &:after{
                    content: '';
                    display: block;
                    height: 100%;
                    width: 200%;
                    position: absolute;
                    top: 26px;
                    border: none;
                    background-color: #fff;
                }

                &:before{ @include rotate(-30); right: -52%; }
                &:after{ @include rotate(30); left: -50%;}
            }
        }

        .iconesStatus { position: absolute; top: -5px; left: 5px; }

        .fotoUsuario { float: left; margin: 0 20px 0 0; }

        i{
            &.mural-close-icon{ float: right; cursor: pointer; color: #D91E18; display: block; }
        }

        .liveurl { margin: 0 0 10px; }

        .opcoes-post{
            float: right;
            color: #9e9e9e;
            font-size: 18px;
            margin: 0;
            cursor: pointer;
            margin-bottom: 5px;

            &:hover{ color: #0096d0; }
            > i{ @extend %text-right; }

            .opcoes-post-menu{
                top: -7px; right: 35px;
                ul{
                    > li{
                        > a{
                            position: relative; padding-left: 40px;
                            > i{ position: absolute; left: 10px; top: 5px; }

                            &.silenciar-notificacoes{
                                &:hover{
                                    > i{ background-position: -135px -170px; }
                                }

                                &.muted{
                                    &:hover{
                                        > i{ background-position: -237px -170px; }
                                    }
                                }
                            }

                            &.silenciar-pushes{
                                &:hover{
                                    > i{ background-position: -331px -200px; }
                                }

                                &.muted{
                                    &:hover{
                                        >  i{ background-position: -330px -170px; }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .alturaTitulo{ @extend %clear-both; }

        .dataPost {
            font-size: 12px; color: #9e9e9e; float: right; padding: 0; font-weight: 400; clear: right;

            &.data-update{
                > span{
                    display: block; text-align: center; font-size: 10px;
                    &.timeago{ font-size: 12px; }
                }
            }
        }

        .gruposPost {
            font-size: 13px; color: #9e9e9e; padding: 0 0 4px; text-decoration: none; line-height: 18px; display: inline; white-space: normal;

            a { @extend %no-decoration-hover; color: #0096d0; font-weight: 400; }
        }

        .nomeGrupo{
            @extend %float-left; width: calc(100% - 180px); word-wrap: break-word; white-space: normal; display: block; margin-bottom: 15px;
        }

        .tituloPost{
            word-wrap: break-word;
            @extend %titulo-post;
            a{ @extend %titulo-post; @extend %no-decoration-hover; }
        }

        .resumoPost {
            font-size: 14px; color: #808080; clear: both; line-height: 20px; padding-bottom: 8px;
            margin: 0 10px 7px 0; white-space: pre-wrap; word-wrap: break-word;

            &.aberto { border-bottom: 1px solid #d8dce0; }
        }

        .chapeuPost { font-size: 13px; padding: 0 10px 0 0; color: #0096d0; clear: both; }

        .mensagemPost{
            .webview{ border: none; height: 600px; }

            .descricaoPost {
                font-size: 13px; color: #323232; clear: both; line-height: 20px; white-space: pre-wrap; word-wrap: break-word; @extend %no-padding;
                a{ color: #0096d0; }

                &.semResumo{ @extend %hidden; }

                img{ margin-bottom: 10px; }
            }

            article{
                white-space: normal;
                word-wrap: break-word;
                clear: both;

                p{ color: #4c4c4c; margin: 5px 0; font-size: 14px; }

                table{
                    border-collapse: collapse;

                    td, th{ border: 1px solid #ccc; padding: 6px; }
                }

                img{
                    display: block; max-width: 100%; margin: 10px auto;

                    @media screen and (max-width: 870px){ width: 100%!important; height: auto!important; }
                }
            }
        }

        .chapeuPost{
            a { @extend %no-decoration-hover; color: inherit; padding: 0; font-weight: 600; }
        }

        .campoPost{
            &.view-count{ max-width: 310px; }
        }

        .alturaMensagem {
            max-height: 172px;
            overflow: hidden;
            position: relative;
            clear: both;
            padding-bottom: 15px;

            &.iframe{ max-height: inherit; height: auto; }
            > iframe{ margin:0 auto; width:100%; height:100%; min-height: 500px; border:1px solid #ccc; }
            .degrade {
                display: none;
                bottom: 0;
                position: absolute;
                left: 0;
                width: 100%;
                height: 13px;
                font-size: 16px;
                font-weight: 600;
                line-height: 12px;
                color: #808080;
                padding: 0;
                background: #fff;
                border-top: 1px solid #e1e1e1;
            }
        }

        /* consolidado */
        &.consolidado{
            margin-bottom: 10px; padding: 10px; overflow: auto;

            > table{
                @extend %no-border-no-margin;

                > tbody > tr > td{
                    @extend %no-border-no-margin;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-wrap: break-word;
                }
            }

            .table{
                .nomeUsuario, .tituloPost, .descricaoPost{ @extend %mural-consolidado-elements; }
                .tituloPost{
                    a{ @extend %mural-consolidado-elements; }
                }
                .nomeUsuario{ @extend %no-decoration-hover; }
            }
        }

        /* tags do post */
        ul.tagsList {
            clear: both;
            margin: 0 auto;
            width: auto;
            display: block;
            padding: 0;
            margin: 5px 0;

            li.tagName{
                background: #f2f2f2;
                width: auto;
                display: inline-block;
                padding: 2px 8px;
                border-radius: 8px;
                margin: 3px;
                letter-spacing: -0.4px;
                border: 1px solid #ccc;
                font-weight: 600;
                font-size:12px;
                
                &:first-child{ margin-left: 0; }
                
                a { color: #323232; }
            }
        }
    }
}

.listaMural>li .nomeGrupo>.nomeUsuario, .listaMural>li.consolidado .table .nomeUsuario, .listaComentarios .nomeUsuario {
	font-size: 13px;
	font-weight: 400;
	color: #000;
	padding: 0 0 4px;
	display: block;
	text-decoration: none;
	float: left;
	line-height: 18px;
    @extend %no-decoration-hover;
}

.listaMural> li .nomeGrupo > .nomeUsuario{
    display: inline;
    float: none;
    white-space: nowrap;
}

.listaComentarios .nomeUsuario{ font-weight: 600; }

.verMaisPost {
	font-size: 14px;
	display: block;
	width: 90px;
	color: #0096d0;
	line-height: 13px;
	margin: 10px 0 15px 0;
    @extend %no-decoration-hover;
    
    .icones { margin-right: 5px; }
}



.popMenu ul>li.paddingInfoPost:not(.tituloInfoPost){
	padding: 5px 10px !important;
	white-space: normal !important;
}

.popMenu ul>li.tituloInfoPost {
	text-align: center !important;
	padding: 10px !important;
	white-space: nowrap;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

/* interacoes post */
.interacoesPost {
    margin: 10px 0 0; clear: both;
    
    li{
        &.interactions{
            float: left;
            display: block;
            height: 34px;
            margin: 5px 20px 15px 10px;
            cursor: pointer;

            &:first-child{ margin-left: 0; }
            &.right{
                float: right;
                &.no-margin-right{ margin-right: 0; margin-left: 20px; }
            }

            > a, > .botaoConfig, > .infoPost{ position: relative; display: block; padding: 5px 0; }

            > .infoPost{
                .popMenu { bottom: 45px; margin-left: -112px; width: 225px; }
            }

            > .botaoConfig{
                .popMenu {
                    width: 110px; margin-left: -57px; bottom: 40px;

                    &.incidentes{ width: 135px; margin-left: -69px; }

                    ul > li > a{
                        @include transition(all ease-in-out 150ms);
                        &:hover{ background-color: #f1f1f1; }
                    }
                }
            }

            > .botaoLike{
                .popMenu{ width: 150px; margin-left: -80px; bottom: 40px; display: block; }
            }

            > a, > div{
                > span{
                    font-size: 14px;
                    display: block;
                    position: relative;
                    color: #9e9e9e;
                    text-decoration: none;
                    float: left;
                    line-height: 25px;
                    padding-left: 5px;
                }
            }
        }
    }
}


.interacoesPost li.interactions>a.used>span,
.interacoesPost li.interactions>a.botaoComentarios.ativo>span{ color: #0096d0; }

.interacoesPost>.ativo .ico-like { background-position: -131px -110px; }
.interacoesPost>.ativo .ico-favorito { background-position: -153px -110px; }
.interacoesPost>.ativo .ico-config,.interacoesPost>a:hover .ico-config { background-position: -175px -110px; }
.interacoesPost>.ativo .ico-comentario { background-position: -44px -110px; }
.interacoesPost>.ativo .icone-comentarioNew { background-position: -24px -120px; }

.comentariosAnteriores {
	display: block;
	font-size: 12px;
	color: #808080;
	line-height: 30px;
	padding: 0 10px;
	text-decoration: none;
    &:hover{ background: #e8edef; }
}

.botaoComentarios.ativo i.icone-comentarioNew{ background-position: -24px -120px; }

.abreComentarios {
	clear: both;
	background: #fff;
	margin: 10px -20px 10px;
	display: none;
	border-top: 1px solid #e0e0e0;
}

.listaComentarios{
    .comentario {
        position: relative;
        margin-left: 60px;
        text-overflow: ellipsis;
        word-wrap: break-word;

        .inline-link{
            float: left;
            color: #9e9e9e;
            font-size: 11px; 
            font-weight: 400;
            padding: 0 0 0 15px;
            text-decoration: none;
            line-height: 18px;
            position: relative;
        
            &:before{
                content: '';
                display: inline-block;
                width: 3px;
                height: 3px;
                border-radius: 15px;
                background-color: #9e9e9e;
                top: 8px;
                position: absolute;
                left: 7px;
            }
        }

         textarea {
            font-size: 14px;
            color: #808080;
            border: 1px solid #e0e0e0;
            resize: none;
            padding: 7px 9px;
            height: 36px;
            width: 90%;
            @include prefix(border-radius, 4px, webkit moz ms o);
            @include prefix(border-box, box-sizing, webkit moz ms o);
            float: left;
            &:focus{ @extend %input-focus; }
            &.editando { margin: 5px 0; clear: both; }
        }

        .uploaderNovo{ padding-top: 10px; }

        .uploader-hold-icon{ float: left; width: auto; clear: none!important; margin-left: 10px; padding-top: 5px; cursor: pointer; }
    }

    > li {
        padding: 5px 40px;
        position: relative;
        min-height: 50px;
        &:first-child{ padding-top: 10px; }
        &.loading { background: url(../../imagens/loading.gif) no-repeat center center; }

        .fotoUsuario { position: absolute; }

        .dataPost { float: left; clear: none; font-size: 11px; font-weight: 400; padding: 0 5px 0 10px; text-decoration: none; line-height: 18px; }
    }

    p, pre{
        clear: both;
        font-size: 13px;
        line-height: 20px;
        color: #424242;
        padding-top: 0;
        margin-bottom: 2px;
        a { color: #0096d0; }
    }

    p{
        &.descricaoUpload{ margin-bottom: 0; padding-top: 10px; }
    }

    pre{
        border: none;
        background: #fff;
        @extend %no-padding;
        @include prefix(border-radius, 0, webkit moz ms o);
        font-family: "Open Sans", Arial, Verdana, sans-serif;
        word-break: break-word;
	    white-space: pre-line;
    }
}

.botaoLikeMini, .botaoConfigMini {
	display: block;
	float: left;
	position: relative;
	margin-right: 10px;
	cursor: pointer;
}

.botaoConfigMini{
    float: right; margin: 0;

    &:hover{
        .ico-configMini { background-position: -66px -152px; }
    }

    .popMenu { width: 140px; margin-left: -72px; bottom: 30px; }

    &.used{
        > span{ color: #0096d0; }
    }
}

.botaoLikeMini{
    @extend %clear-both;
    @extend %no-hover-decoration;

    span {
        font-size: 14px;
        color: #9e9e9e;
        display: block;
        float: left;
        line-height: 24px;
        padding-left: 5px;
    }

    .popMenu { width: 150px; margin-left: -83px; bottom: 28px; display: block; }

    &.used{
        > span{ color: #0096d0; }
    }
}

/* imagens post */
.imagensPost {
	float: left;
	width: 100%;
	position: relative;
	clear: both;
    @include prefix(box-sizing, border-box, webkit moz ms o);
	padding: 0 10px;
	margin-bottom: 15px;

    ul {
        float: left;
        left: 50%;
        position: relative;
        width: 100%;

        li {
            position: relative;
            right: 50%;
            float: left;
            min-height: 260px;
            max-height: 260px;

            &.first{ margin-left: 0!important; margin-top: 0; }
            &.second, &.third{ margin-top: 0; }
            &.third, &.fourth{
                &.noMargin{ margin-left: 0; margin-top: 2%; }
            }
            &.fourth{
                margin-left: 2%; margin-top: 2%;
                &.half{ margin-left: 0; width: 49%; }
            }
            &.fifth{ width: 49%; }

            div{ overflow: hidden; height: 230px; }

            .nomeImagem {
                color: #808080;
                display: block;
                font-size: 12px;
                padding-top: 5px;
                text-align: center;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            a{
                &:not(.linkFancyFotos){
                    display: block;
                    position: relative;
                    width: 200%;
                    height: 100%;
                    left: -50%;
                }
            }

            img { display: block; margin: 0 auto; height: 230px; line-height: 230px; }
        }
    }

    &.cinco, &.seis{
        ul{
            li{ width: 32%; margin-left: 2%; margin-top: 2%; }
        }
    }

    &.cinco{
        ul{
            li{
                &.fifth{ width: 49%; }
            }
        }
    }

    &.quatro{
        ul{
            li{ margin-top: 2%; }
        }
    }

    &.tres{
        ul{
            li{ width: 32%; margin-left: 2%; }
        }
    }

    &.duas, &.quatro{
        ul{
            li{ width: 49%; margin-left: 2%; }
        }
    }

    &.uma{
        ul{
            li{ @extend %total-width; }
        }
    }
}

.overflowLikes {
	max-height: 200px;
	overflow-y: auto;
    li{
        a {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.userInactive { color: rgb(238, 67, 54); }

.osIcon .fa-android{ color: #99CC00; }


/* stream mural */
.stream-mural{
	@extend %total-width;
	padding: 20px 30px 0 30px;
    @include prefix(border-radius, 4px, webkit moz ms o);
	@extend %hidden;
    
    a{ @extend %block; background: #fff; @extend %total-width; padding: 15px 0; }
}

/*   aqui vai o css da barra de status */

.filtro-incidente-item,.status-cabecalho, .filtro-incidente-item-unico{
     margin: 0 10px;
     float: left;

     &:first-child{ margin-left: 0; }
}
