/*** POSTAR ***/
.interacoesMural {
	padding: 20px 20px 0 20px;
	clear: both;

	.icheckbox_square-green{ @extend %float-left; }

	> a{
		font-size: 14px;
		display: block;
		float: left;
		line-height: 48px;
		border: 1px solid #ccc;
		padding: 0 20px 0 57px;
		background: #FFF;
		position: relative;
		color: #808080;
		margin-bottom: -1px;
		text-decoration: none;

        &.postarTexto, &.filtrarPosts{ @include prefix(border-radius, 10px, webkit moz ms o); }
        
		&:hover, &.ativo{ background: #e8edef; }
	}

	&.aberto{
		a{
			&.postarTexto, &.filtrarPosts{ @include prefix(border-radius, 10px 10px 0 0, webkit moz ms o); }
		}
	}
}

/* old */
.interacoesMural>a>.icones, a.postarImagem>.icones, a.postarLink>.icones, a.abrirArquivos>.icones {
	position: absolute;
	left: 20px;
	top: 13px;
}

.interacoesMural>a.postarImagem,.interacoesMural>a.abrirArquivos,a.noUpload {
	margin-right: 20px;
	border-left: none;
    @include prefix(border-radius, 0 10px 10px 0, webkit moz ms o);
}
.interacoesMural>a.postarLink { border-left: none; }

.interacoesMural>a.postarImagem>.icones,.interacoesMural>a.abrirArquivos>.icones { left: 15px; }

.interacoesMural>a.ativo { border-bottom-color: #e8edef; z-index: 2; }

.interacoesMural.aberto>a.postarImagem,.interacoesMural.aberto>a.abrirArquivos {
    @include prefix(border-radius, 0 10px 0 0, webkit moz ms o);
}

/* anexar arquivos, postar link */
.links{
	a {
		display: block;
		color: #626262;
		text-decoration: none;
		@include prefix(border-radius, 4px, webkit moz ms o);
		float: left;
		
		&.btn-upload-image-crop{
			background: url(../../imagens/icn_cam_off.svg) #fff no-repeat 7px 3px/25px 25px;
			min-height: 34px;
			padding: 6px 10px 0 40px;
			border: 1px solid #ccc;
			margin-left: 10px;
			&:hover { background: url(../../imagens/icn_cam_on.svg) #fff no-repeat 7px 3px/25px 25px; }
		}

		&.arquivo {
			background: url(../../imagens/icn_arq_off.svg) #fff no-repeat 7px 4px;
			min-height: 34px;
			padding: 6px 10px 0 45px;
			border: 1px solid #ccc;
			&:hover { background: url(../../imagens/icn_arq_on.svg) #fff no-repeat 7px 4px; }
		}

		&.postarLink {
			background: url(../../imagens/icn_link_off.png) #fff no-repeat 12px 8px;
			width: 125px;
			height: 34px;
			padding: 6px 0 0 25px;
			border: 1px solid #ccc;
			&:hover { background: url(../../imagens/icn_link_on.png) #fff no-repeat 12px 8px; }
		}

        &:hover{ @extend %input-focus; }
	}
}


/* form postagem */
.formPost, .filtroPosts, .filtroPosts.mobile {
	clear: both;
	background: #fff;
	border: 1px solid #d8dce0;
	padding: 10px;
	position: relative;
	margin-top: -1px;
}

.formPost{
	@extend %hidden;

    &.postar{
        display: block;
        @include prefix(border-radius, 4px, webkit moz ms o);
        border:none;
        background: #fff;
    }

    .charNum {
        position: absolute;
        right: 10px;
        bottom: 15px;
        color: #a2a2a2;
        font-size: 12px;
        display: block;
        z-index: 2;

		&.countTitulo{ @extend %hidden; }
    }

    #resumo { height: 75px; }

	.willSlide{ @extend %hidden; }

	&.fullscreen {
		z-index: 99;
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: calc(100% - 100px);
		overflow-x: scroll;
		padding: 10px 50px;
	}
}

/* nova versão postar */
.full{
	&:not(.barra){
		float: right;
		background: #0096d0;
		color: #fff;
		padding: 5px;
		cursor: pointer;
		@include prefix(border-radius, 4px, webkit moz ms o);
		@extend %hidden;
	}

	.btCancelarPostagem.new,

	&:hover { background: #1E8EC7; }
}

.textAutoSize { resize: none; }

.loadingLinkUrl {
	position: absolute;
    right: 10px;
    top: 12px!important;
    z-index: 99;
    left: initial!important;

	&.icones{ display: none; }
}

.campoPost{
	/* .select2-container{
        height: 37px;

        .selection{
            .select2-selection--single{ height: 32px!important; }
        }
    } */

	.liveurl { margin-top: 10px; }

	.input#titulo { font-size: 18px; padding: 8px 25px 8px 10px; }
	textarea{
		&.input { height: 108px; resize: none; padding: 11px 10px }
	}

	.inputHolder {
	    margin-left: 109px;
	}

	.labelPost {
    	width: 110px;
	}

	.select2{
		.selection{
				.select2-selection--single, .select2-selection--multiple {
				    @include prefix(border-radius, 0 4px 4px 0, webkit moz ms o);
				    min-height: 33px;
				    height: auto;
    				max-height: 100%;
				}

				.select2-selection__rendered{
					line-height: 23px !important;
					height: inherit;
					max-height: inherit;
					display: block;
					padding-top: 3px;
				}

				.select2-selection--single{
					height: 32px !important;
				}

			li.select2-search--inline, input.select2-search__field{
				width: 200px !important;
				float: left;
			}
		}
	}
}

.liveDescricao, .liveTitle{ @extend %total-width; }

.thumbnail{ margin-bottom: 0; border: none; }


/**adicionar arquivos**/
.overlayModal {
	z-index: 998 !important;
	position: fixed;
	width: 100%;
	height: 100%;
	background: url(../../imagens/fancybox_overlay.png);
	top: 0;
	left: 0;
	display: none;
}

.popupModal {
	width: 60%;
	height: 60%;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background: #FFF;
	@include prefix(box-shadow, 0 0 4px 0 rgba(0, 0, 0, 0.4), webkit moz ms o);
	@include prefix(border-radius, 8px, webkit moz ms o);
	z-index: 999 !important;
}

.titleModal {
	font-size: 18px;
	background: #05c3f5;
	color: #FFF;
	text-align: left;
	cursor: default;
	padding: 10px;
	@include prefix(border-radius, 8px 8px 0 0, webkit moz ms o);
	z-index: 3;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	@include prefix(box-sizing, border-box, webkit moz ms o);

	&.comAbas { padding: 10px 10px 0 10px; max-height: 50px; height: auto; }
}

.abasModal{
	@extend %block;

	li {
		@extend %block;
		float: left;
		padding-right: 10px;

		a {
			display: block;
			float: left;
			color: #FFF;
			text-decoration: none;
			font-size: 16px;
			padding: 10px;
			@include prefix(border-radius, 5px 5px 0 0, webkiz moz ms o);
		}

		&.ativo{
			a { background: #FFF; color: #0096d0; }
		}
	}
}

.contentModal{
	padding: 10px;

	.uploaderArquivos {
		display: block;
		height: 100%;
		@include prefix(box-sizing, border-box, webkit moz ms o);
		padding: 10px;
	}

	.uploaderNovo {
		height: 100%;
		position: relative;
	}

	.ajax-upload-dragdrop {
		position: relative;
		height: 100%;
		display: block;
		background: none;
		text-align: center;
		padding: 0;
		@include prefix(box-sizing, border-box, webkit moz ms o);
		z-index: 1;
		border: 1px solid #d8dce0 !important;
		background: #f7f9fa;
		margin-bottom: 15px;

		span {
			color: #c5c5c5;
			font-size: 16px;
			left: 0;
			line-height: 24px;
			position: absolute;
			top: 50%;
			width: 100%;
		}

		&.dragenter{ background: #e8edef; }
	}

	.ajax-file-upload{
		height: auto;
		width: auto;
		float: none;
		background: #1dba8c;
		font-size: 18px;
		border: 1px solid #1dba8c;
		padding: 10px 20px;
		color: #FFF;
		cursor: pointer;
		@include prefix(border-radius, 3px, webkit moz ms o);
		@include prefix(box-shadow, 0 1px 0 rgba(255, 255, 255, 0.5) inset, webkit moz ms o);
		display: inline-block;
		text-decoration: none;
		line-height: 22px;
		position: absolute;
		top: 50%;
		margin-top: -50px;

		&:before { content: "Selecionar Arquivos"; }
	}
}

.abasPainel, .abasPainel.noMargin {
	float: right;
	display: block;
	margin: 11.5px 5px;
}

.abasPainel{
	a {
		cursor: pointer;
		color: #05c3f5;
		padding: 8px 5px;
		&.ativo { color: #196f9a; border-bottom: 3px solid #196f9a; }
		&:hover{ border-bottom: 3px solid #45BBDA; }
}

	&.noMargin{ @extend %no-margin; }
}

.abas {
	display: block;
	float: right;
	li {
		display: block;
		float: left;
		a {
			background: #0096d0 !important;
			color: #fff;
			cursor: pointer;
			padding: 10px;
			&.ativo { background: #196f9a !important; }
		}
	}
}

.linkFancyFotos {
	font-size: 40px;
	line-height: 50px;
	@extend %no-decoration-hover;
	color: #fff;
	text-align: center;
	cursor: pointer;
	min-height: 230px !important;
	max-height: 230px !important;
	padding-top: 85px;
	background: rgba(0, 0, 0, .5);
	font-weight: 600;
	position: absolute!important;
	bottom: 30px;
	z-index: 2;
	@extend %no-margin;
}

/*** UPLOAD FILES MURAL ***/
.ajax-file-upload-statusbar {
	display: block;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    @include prefix(border-radius, 4px, webkit moz ms o);
    padding: 8px;
    margin-bottom: 10px;
    position: relative;

	> a{ @extend %hidden; }
}

.ajax-file-upload-statusbar-erro {
	text-align: left;
	padding: 10px;
	color: #e43a45;
	font-weight: 600;
	font-size: 12px;
	position: relative;
	padding-left: 30px;
	float: left;
	margin: 5px 0 10px;
	border: 1px solid #e0e0e0;
   	@include prefix(border-radius, 4px, webkit moz ms o);

	> b { color: #e43a45; @extend %block; }

	&:after {
		background: url(../../imagens/icones.png) no-repeat -305px -172px;
		content: " ";
		display: block;
		width: 22px;
		height: 22px;
		position: absolute;
		top: 10px;
		left: 5px;
	}
}

span.ajax-file-upload-statusbar-erro{
	font-weight: 600;
	font-size: 16px;
   	float: none;
   	display: block;
   	clear: both;
   	margin: 5px;
}

.ajax-file-upload-filename {
	text-align: left;
	height: auto;
	margin: 0;
	color: #424242;
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	padding: 0;
	position: relative;
	margin-bottom: 10px;

	.thumbnail { float: left; }

	a {
		display: block;
		color: #424242;
		font-weight: 600;
		@extend %no-decoration-hover; 

		&.fancybox, &.previewFile{
		    overflow: hidden;
    		text-overflow: ellipsis;
    		margin-right: 30px;
		}

		&.adicionarDescricao { color: #0096d0; text-transform: lowercase; }
	}

	.descricaoUpload { color: #424242; font-size: 12px; font-weight: 400; }
}

.ajax-file-upload-progress {
	position: relative;
	width: 100%;
	border: 1px solid #ddd;
	background: #e0e0e0;
	padding: 1px;
	display: inline-block;
	@include prefix(box-sizing, border-box, webkit moz ms o);
}

.ajax-file-upload-bar {
	background-color: #337ab7;
	width: 0;
	height: 7px;
	color: #FFF;
	text-align: right;
	@include transition(width 250ms ease-in-out);
}

.ajax-file-upload-percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%
}

.ajax-file-upload-red, .removeArquivoAnexo {
	display: block;
	position: absolute;
	top: 3px;
	right: 3px;
	width: 22px;
	height: 22px;
	background: url(../../imagens/icones.png) no-repeat;
	background-position: -22px -238px;
	cursor: pointer;
	z-index: 3;
}
.ajax-file-upload, .ajax-file-upload-green { display: none; }

.ajax-file-upload-abort {
	display: block;
	position: absolute;
	top: 6px;
	right: 27px;
	width: 22px;
	height: 22px;
	background: url(../../imagens/icones.png) no-repeat;
	background-position: -66px -348px;
	cursor: pointer;
}

.ajax-upload-dragdrop {
	opacity: 1;
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	overflow: hidden;
	background: url(../../imagens/fancybox_overlay.png);
	text-align: center;
	line-height: 375px;

	span {
		color: #fff; font-size: 24px;

		.icones {
			display: inline-block;
			float: none;
			vertical-align: middle;
			cursor: pointer;
		}
	}
}

.upload-arquivo{ margin-bottom: 15px; }

#form_fileField{
	&:-webkit-file-upload-button { visibility: hidden; }

	&:before {
		content: 'Selecionar arquivos';
		display: inline-block;
		background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
		border: 1px solid #999;
		@include prefix(border-radius, 3px, webkit moz ms o);
		padding: 5px 8px;
		outline: none;
		white-space: nowrap;
		@include prefix(user-select, none, webkit moz ms o);
		cursor: pointer;
		text-shadow: 1px 1px #fff;
		font-weight: 700;
		font-size: 8pt;
	}

	&:hover{
		&:before { background: -webkit-linear-gradient(top, #E3E3E3, #E3E3E3); }
	}

	&:active{
		&:before { background: -webkit-linear-gradient(top, #E3E3E3, #A3A3A3); @include transition(all .3s); }
	}

}

.comentario{
	.uploaderNovo{ @extend %clear-both; }

	.ajax-upload-dragdrop{
		position: relative;
		display: block;
		background: none;
		text-align: left;
		height: 15px;
		padding: 4px 0;
		@include prefix(box-sizing, border-box, webkit moz ms o);
		z-index: 1;

		&.dragenter{ background: #e8edef; border: 2px dashed #0096d0; }

		span{
			line-height: 22px;
			font-size: 12px;
			color: #c5c5c5;
			float: left;
		}
	}

	.ajax-file-upload{
		width: 24px;
		height: 24px;
		@extend %hidden;
		cursor: pointer !important;
		margin: 0 10px 0 0;
		text-decoration: none;
		color: #808080;
		float: left;
		background: 0 0;
	}
}

.willOpen { margin-bottom: 15px; }


.post-tags, .post-groups, .post-users{
    ul.token-input-list{
        max-height:initial;

        > li.token-input-token{ margin: 2px 3px; }
    }
}