/*** header mural ***/
.mural-header{
	display: none;
	position: relative;
	padding: 5px 30px 0;
	clear: both;

    .user-photo-container{
        @extend %hidden;
        @extend %absolute;
        overflow: hidden;
        left: calc(50% - 75px);
        z-index: 1;
        top: 50px;
        @include prefix(box-shadow, 0 0 8px #222, webkit moz ms o);
    }

    .mural-search{ top: 10px; position: absolute; font-size: 20px; }

    &.user{
        .mural-search{ right: 1%; }
    }

    &.grupo{
        .mural-search{ right: 35px; }
    }

    p{
        position: absolute;
        z-index: 2;
        color: #fff;
        text-shadow: 1px 1px 3px #222;
        max-width: 300px;
        text-align: left;
        word-wrap: break-word;
        font-size: 16px;
        left: 10px;
        display: inline;
        text-overflow: ellipsis;
        white-space: pre;
        overflow: hidden;

        a{ color: #fff; text-shadow: 1px 1px 3px #222;}

        &.first{ top: 10px; }
        &.second{ top: 40px; }
        &.third{ top: 60px; }

        &.second, &.third{ font-size: 14px; }
    }
}

.mural-header-container{
    padding: 10px 0;

    .mt-element-overlay{
        border: 1px solid #e0e0e0;
        .mt-overlay-1{
            .mt-overlay{
                opacity: 1;
                @include linear-background(rgba(90,90,90,0.4), rgba(0, 0, 0, 0.8));
            }

            .mt-info{ opacity: 1; }
        }
    }
}

.mural-header.grupo .mt-element-overlay .mt-overlay-1,
.mural-header.user .mt-element-overlay .mt-overlay-1 { height: 180px; background: #fff; }

ul.opcoes-grupo{
    li{
        &.group-sair{
            &:hover{
                > a > i{ color: #D91E18; }
            }
        }

        &.group-participar{
            &:hover{
                > a > i{ color: #1BBC9B; }
            }
        }
    }
}