<div class="page-content degrade">
	<div class="row content">
		<div class="clearfix col-md-12 text-center">
			<h3 class="page-title sborder-bottom more-padding">Não foi possível acessar o sistema, por favor contate o administrador.</h3>
			<div class="text-center conteudoTexto form-group">
				<p class="form-group">Nossa equipe está trabalhando nisso, por favor tente mais tarde.</p>
				<img src="$context/img/erro.png" class="img-responsive" alt="Erro">
			</div>
		</div>
	</div>
</div>