<div class="meio">
	<h3>Popular Banco</h3>
	<div class="clearfix">
		<label class="labelCampo">Senha</label>
	</div>
	${form.startTag()}
	<div class="clearfix">
		<div class="campoPost">
			<span class="campoObrigatorio">*</span>
			$form.fields.senha
		</div>
	</div>
	<div class="clearfix botoesSalvar">
		$form.fields.create
	</div>
</div>
${form.endTag()}
#parse("/msg.htm")
		