#if($session && $session.userInfo)
<div id="leftMenu" class="col-sm-3 col-md-2 side-menu">
	<div class="infoUsuario">
		<div class="fotoUsuario">
			#if($usuario_foto_default)
				#if($session.userInfo.urlFotoUsuario && $session.userInfo.nome)
					<a href="$context/cadastro/usuario.htm?id=$session.userInfo.id" class="centraliza"><img src="$session.userInfo.urlFotoUsuario" alt="Foto do $session.userInfo.nome" /></a>
				#else
					<a href="$context/cadastro/usuario.htm?id=$session.userInfo.id" class="centraliza"><img src="$context/img/user.png" alt="Foto do $session.userInfo.nome" /></a>
				#end
			#else
				<a href="$context/cadastro/usuario.htm?id=$session.userInfo.id" class="centraliza"><img src="$context/img/user.png" alt="Foto do $session.userInfo.nome" /></a>
			#end
		</div>
		<div class="nome">
			<a href="$context/cadastro/usuario.htm?id=$session.userInfo.id">$session.userInfo.nome</a>
		</div>
		#if($session.userInfo.isAmbev()) #if($session.userInfo.tipo)
		<p class="cargo">$session.userInfo.tipo</p>
		#end #if($session.userInfo.cpfCnpj)
		<p class="cargo">
			#if($session.userInfo.cpfCnpj.length() > 11)<span>CNPJ:</span>#else<span>CPF:</span>#end $session.userInfo.cpfCnpj
		</p>
		#end #end
		<p class="cargo">#if($session.userInfo.funcao) $session.userInfo.funcao #end</p>
		#if($buildType && $buildType != "livecom")
		<p class="cargo">#if($session.userInfo.complemento) $session.userInfo.complemento #end</p>
		#end
	</div>
	
	<div class="menuEsquerda">
		#if($session.userInfo.menus && $session.userInfo.menus.size() > 0 && !$session.userInfo.isRoot() && !$showMenuRootEmpresa)
			#foreach($m in $session.userInfo.menus)
				<ul>
				#if($!m.filhos) 
					#if($!m.link != "")
						<li class="menu-item-parent"><a href="$!m.link">$!m.label</a></li>
					#else
						<li class="menu-item-parent"><a>$!m.label</a></li>
					#end
					
					#foreach ($filho in $m.filhos)
						<li class="menu-item-children">
							#if($!filho.link == "cadastro/empresa.htm")
								<a href="$context/$!filho.link?id=$!session.userInfo.empresaId"><i class="linear-icons $!filho.icone"></i> $!filho.label</a>
							#else
								#if($!filho.linkExterno == "true")
									<a class="menu-item-link-externo" onclick="linkExterno('$!filho.link')"><i class="linear-icons $!filho.icone"></i> $!filho.label</a>
								#else
									<a href="$context/$!filho.link"><i class="linear-icons $!filho.icone"></i> $!filho.label</a>
								#end
							#end
						</li>
					#end
				#end
				</ul>
			#end
		#else
			#if($menu)
				#if ($session.userInfo.isRoot() || $showMenuRootEmpresa)
					#parse("menuRoot.htm")
				#else
					<ul>
						<li class="menu-item-parent"><a>Comunicados</a></li>
						<li class="menu-item-children"><a href="$context/pages/mural.htm?clear=true"><i class="linear-icons icone-mural"></i>$messages.get('menu.post.mural')</a></li>
						#if($!CURTIR_PUBLICACAO)
							<li class="menu-item-children">
								<a href="$context/pages/favoritos.htm"><i class="linear-icons icone-favoritos"></i>$messages.get('menu.favoritos')</a>
							</li>
						#end
						#if($!PUBLICAR)
			         	<li class="menu-item-children">
			         		<a href="$context/pages/meusPosts.htm"><i class="linear-icons icone-meusPosts"></i>$messages.get('menu.minhasPostagens')</a>
			        		</li>
			           	#if($mural_rascunho_on && $mural_rascunho_on == "1")
			            	<li class="menu-item-children">
			            		<a href="$context/pages/meusRascunhos.htm"><i class="linear-icons icone-drafts"></i>$messages.get('menu.meusRascunhos')</a>
			           		</li>
							#end
						
							#if ($buildType == "bjj")
								<li class="menu-item-children">
									<a href="$context/pages/historicos.htm"><i class="linear-icons icone-favoritos"></i>$messages.get('menu.historico')</a>
								</li>
								<li class="menu-item-children">
									<a href="$context/pages/playlist.htm"><i class="linear-icons icone-favoritos"></i>$messages.get('menu.playlist')</a>
								</li>
							#end
						#end
					</ul>
					#if (($!PUBLICAR && $!ARQUIVOS) && $mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
					<ul>
						<li class="menu-item-parent"><a>Arquivos</a></li>
						<li class="menu-item-children"><a href="$context/pages/meusArquivos.htm"><i class="linear-icons icone-briefcase"></i>Meus Arquivos</a></li>
						<li class="menu-item-children"><a href="$context/pages/arquivos.htm"><i class="linear-icons icone-files"></i>Todos os Arquivos</a></li>
					</ul>
					#end
					#if($!CADASTRAR_USUARIOS || $!CADASTRAR_GRUPOS || $!ENVIAR_EMAILS)
					<ul>
						<li class="menu-item-parent"><a>Usuários</a></li>
						#if($!CADASTRAR_USUARIOS)
						<li class="menu-item-children">
							<a href="$context/cadastro/usuarios.htm"><i class="linear-icons icone-user"></i>$messages.get('usuarios.label')</a>
						</li>
						#end
						#if($!CADASTRAR_GRUPOS)
						<li class="menu-item-children">
							<a href="$context/cadastro/grupos.htm"><i class="linear-icons icone-groups"></i>$messages.get('grupos.label')</a>
						</li>
						#end
						#if($!ENVIAR_EMAILS)
						<li class="menu-item-children">
							<a href="$context/pages/convidarUsuarios.htm"><i class="linear-icons icone-userMail"></i>$messages.get('convidar.usuarios.label')</a>
						</li>
						<li class="menu-item-children"><a href="$context/admin/templates.htm"><i class="linear-icons icone-templates"></i>E-mail Marketing</a></li>
						#end
					</ul>
					#end
					
					#if($!ACESSO_CADASTROS)
					<ul>
						<li class="menu-item-parent"><a>Cadastros</a>
						<li class="menu-item-children">
							<a href="$context/cadastro/categorias.htm"><i class="linear-icons icone-categorias"></i>$messages.get('categorias.label')</a>
						</li>
						<li class="menu-item-children"><a href="$context/cadastro/tags.htm"><i class="linear-icons icone-tags"></i>$messages.get('tags.label')</a></li>
						<li class="menu-item-children"><a href="$context/cadastro/cadastros.htm"><i class="linear-icons icone-cogs"></i>Outros Cadastros</a></li>
					</ul>
					#end
					<ul>
						<li class="menu-item-parent"><a>Sistema</a></li>
						#if($!CONFIGURACOES_AVANCADAS || $!VISUALIZAR_RELATORIOS || $!IMPORTACOES || $!EXPORTACOES)
							<li class="menu-item-children"><a href="$context/admin/sistema.htm"><i class="linear-icons icone-globe"></i>Informações</a></li>
							#if($!IMPORTACOES)
							<li class="menu-item-children"><a href="$context/admin/importacao.htm"><i class="linear-icons icone-import"></i>Importação</a></li>
							#end
							#if($exportar_csv_on && $exportar_csv_on == "1")
								#if($!EXPORTACOES)
								<li class="menu-item-children"><a href="$context/admin/exportacao.htm"><i class="linear-icons icone-export"></i>Exportação</a></li>
								#end
							#end
						#end
						
						#if(!$!CADASTRAR_USUARIOS)
						<li class="menu-item-children">
							<a href="$context/pages/usuarios.htm"><i class="linear-icons icone-user"></i>$messages.get('usuarios.label')</a>
						</li>
						#end
						#if(!$!CADASTRAR_GRUPOS)
						<li class="menu-item-children">
							<a href="$context/cadastro/grupos.htm"><i class="linear-icons icone-groups"></i>$messages.get('grupos.label')</a>
						</li>
						#end
						<li class="menu-item-children">
							<a href="$context/cadastro/usuario.htm?id=$!session.userInfo.id"><i class="linear-icons icone-cogs"></i>$messages.get('menu.cadastro.meusdados')</a>
						</li>
						
						#if($!VISUALIZAR_RELATORIOS)
							<li class="menu-item-children"><a href="$context/admin/relatorios.htm"><i class="linear-icons icone-chart"></i>Relatórios</a></li>
						#end
						
						#if($!session.userInfo.isConnectorDefault())
							<li class="menu-item-children">
								<a href="$context/pages/alterarSenha.htm"><i class="linear-icons icone-lock"></i>$messages.get('senha.alterar.label')</a>
							</li>
						#end
					</ul>
				#end
			#end
		#end
	</div>
</div>
#end
<script>
function linkExterno(url) {
	$("#contentcolumn .page-content, #contentcolumn .page-bar.mural, #contentcolumn .mural-header, #contentcolumn .interacoesMural, #contentcolumn .listaMural, #contentcolumn .paginaAtual, #contentcolumn .muralVazio").hide();
	$(".sideBox").animate({"margin-right": "-500px"}, 200, function(){
		$('ul.icones-header li').removeClass('active');
		$("#content .main").width("83%");
		$(".iframe-holder").find('iframe').remove();
		$(".iframe-holder").append('<iframe class="iframe large bordered spinner-blue bgw" src="'+url+'"></iframe>').show();	
	});
}
</script>