#if($session && $session.userInfo)
		#set($userInfo = $session.userInfo)
		
		#if($userInfo.isRoot())
		<ul>
			<li class="menu-item-parent"><a>Projetos</a></li>
			<li class="menu-item-children">
				<a href="$context/root/projeto.htm"><i class="linear-icons icone-briefcase"></i>Selecionar Projeto</a>
			</li>
		</ul>
		#elseif($userInfo.isRootEmpresa())
			<ul>
				<li class="menu-item-parent"><a>Comunicados</a></li>
				<li class="menu-item-children">
					<a href="$context/pages/mural.htm"><i class="linear-icons icone-mural"></i>Mural</a>
				</li>
			</ul>
		#end
		<ul>
			<li class="menu-item-parent"><a>Empresa</a></li>
			#if($userInfo.isRoot())
			<li class="menu-item-children">
				<a href="$context/cadastro/empresa.htm?id=$!session.userInfo.empresaId"><i class="linear-icons icone-building"></i>Empresa</a>
			</li>
			#elseif($userInfo.isRootEmpresa())
				<li class="menu-item-children">
					<a href="$context/configuracoes/index.htm"><i class="linear-icons icone-building"></i>Empresa</a>
				</li>
			#end
			
		</ul>
		#if($userInfo.isRoot())
		<ul>
			<li class="menu-item-parent"><a>Cadastros</a></li>
			<li class="menu-item-children">
				<a href="$context/root/empresas.htm"><i class="linear-icons icone-buildings"></i>$messages.get('empresas.label')</a>
			</li>
			<li class="menu-item-children">
				<a href="$context/root/parametros.htm?empresaId=$!session.userInfo.empresaId"><i class="linear-icons icone-cogs"></i>$messages.get('menu.parametros')</a>
			</li>
			<li class="menu-item-children">
				<a href="$context/cadastro/permissoes/menu.htm?id=$!session.userInfo.empresaId"><i class="linear-icons icone-categorias"></i>Menu Web</a>
			</li>
			<li class="menu-item-children">
				<a href="$context/cadastro/permissoes/perfil.htm"><i class="linear-icons icone-user"></i>Perfis de Acesso</a>
			</li>
			<li class="menu-item-children">
				<a href="$context/cadastro/mobile.htm?id=$!session.userInfo.empresaId"><i class="linear-icons icone-mobile"></i>Mobile</a>
			</li>
			#if($!session.userInfo.isConnectorDefault())
<!-- 				<li class="menu-item-children"> -->
<!-- 					<a href="$context/cadastro/permissoes.htm"><i class="linear-icons icone-lock"></i>$messages.get('menu.cadastro.permissao')</a> -->
<!-- 				</li> -->
			#end
		</ul>
		#end
		<ul>
			<li class="menu-item-parent"><a>E-mail</a></li>
			#if($userInfo.isRoot())
				<li class="menu-item-children"><a href="$context/admin/testEmail.htm"><i class="linear-icons icone-at-sign"></i>Teste Email</a></li>
			#end
			<li class="menu-item-children"><a href="$context/root/templates.htm"><i class="linear-icons icone-templates"></i>Templates</a></li>
		</ul>
		<ul>
			<li class="menu-item-parent"><a>Outros Cadastros</a></li>
			<li class="menu-item-children"><a href="$context/cadastro/permissoes/permissao.htm"><i class="linear-icons icone-lock"></i>Permissões</a></li>
			<li class="menu-item-children"><a href="$context/cadastro/permissoes/permissaoCategoria.htm"><i class="linear-icons icone-tags"></i>Categorias de Permissões</a></li>
		</ul>
#end