#if($msg)
<div class="msgSuccess2">$msg</div>
#elseif($msgErro)
<div class="msgErro2">$msgErro</div>
#else
#set($msg = $session.msg)#set($msgErro = $session.msgErro)#if($msg)
<div class="msgSuccess2">$msg</div>
#end #if($msgErro)
<div class="msgErro2">$msgErro</div>
#end
#end