${form.startTag()}
<div class="page-content">
	<h3 class="page-title">
		#if($!usuario.id) $!usuario.nome #else Usuário #end
		#if($!ACESSO_CADASTROS || $!CADASTRAR_USUARIOS || $session.userInfo.id == $!usuario.id)
		<span class="botoesHeader noBorder">
			<div class="actions">
				<div class="btn-group">
					<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
					<ul class="dropdown-menu pull-right">
						#if(($!ACESSO_CADASTROS && $!CADASTRAR_USUARIOS) || $session.userInfo.id == $!usuario.id)
						<li><a href="$context/cadastro/usuario.htm?id=${usuario.id}" class=""><i class="fa fa-pencil-square-o"></i> Editar Usuário</a></li>
						#end
						
						#if($!ACESSO_CADASTROS && $!CADASTRAR_USUARIOS)
						<li class="bleed-divider">
							<a class="delete-user" data-login="$!usuario.login" data-id="$!usuario.id"><i class="fa fa-trash"></i> Deletar Usuário</a>
						</li>
						#end
						
						#if($!ACESSO_CADASTROS)
							<li><a class="troca-usuario"><i class="fa fa-exchange"></i> Trocar Usuário</a></li>
						#end
					</ul>
				</div>
			</div>
		</span>
		#end
	</h3>
	
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li> #if($session.userInfo.admin)
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/usuarios.htm">Usuários</a> <i class="fa fa-angle-right"></i></li>#else
			<li><span>Sistema <i class="fa fa-angle-right"></i></span></li>#end
			<li><span>#if($!usuario.id) $!usuario.nome #else Usuário #end</span></li>
		</ul>
	</div>


	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PROFILE SIDEBAR -->
			<div class="profile-sidebar">
				<!-- PORTLET MAIN -->
				<div class="portlet light profile-sidebar-portlet ">
					<!-- SIDEBAR USERPIC -->
					<div class="clearfix profile-userpic">
						<div class="mt-element-card mt-element-overlay">
							<div class="col-md-12">
								<div class="clearfix mt-card-item">
									<div class="mt-overlay-1 uploadFotoUsuario user-photo-container fotoUsuario grande">
										<a class="centraliza fancybox" href="$!usuario.urlFotoUsuario">
											#if($usuario.urlFotoUsuario && $!usuario.nome)
												<img src="$!usuario.urlFotoUsuario" alt="Foto do $!usuario.nome">
											#else
												<img src="imagens/user.png" alt="Thumbnail">
											#end
										</a>
									</div>
									<div class="mt-overlay-1">
										#if($usuario.urlFotoCapa)
											<img class="mural-header-photo" alt="Foto de capa do $!usuario.nome" />
										#else
											<img class="mural-header-photo" src="$context/img/capa.png" alt="Foto de capa do $!usuario.nome" />
										#end
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END SIDEBAR USERPIC -->
					<!-- SIDEBAR USER TITLE -->
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							<a href="$context/usuario.htm?id=$usuario.id">$usuario.nome</a>
						</div>
						#if($usuario.funcao) <div class="profile-usertitle-job">$!usuario.funcao.nome</div> #end
						#if($usuario.perfilAtivo == false) <span class="font-red-mint">Desativado</span> #end
					</div>
					<!-- END SIDEBAR USER TITLE -->
					<!-- SIDEBAR BUTTONS -->
					<div class="profile-userbuttons">
						<div class="clearfix">
							<a class="btn btn-circle blue btn-sm eq-width" href="$context/pages/mural.htm?user_post_id=$usuario.id"><i class="fa fa-inbox"></i> Mural</a>
							#if($!chat_on && $chat_on == 1)
								#if($!ENVIAR_MENSAGEM)
									<a class="btn btn-circle green btn-sm eq-width" target="_blank" href="$context/pages/chat.htm?user=$!usuario.id"><i class="fa fa-comments"></i> Chat</a>
								#end
							#end
						</div>
						#if($!mural_amizade_on && $!mural_amizade_on == 1)
							#if($!usuario.id != $!session.userInfo.id)
								<div class="clearfix user-friendship" data-user="$!usuario.id">
									#if(!$!amigo)
										<a class="btn btn-circle green-sharp btn-sm eq-width btn-user-friendship" data-solicita="true"><i class="fa fa-user-plus"></i> Conectar</a>
									#elseif ($!amigo && $!solicitacao)
										<div class="clearfix">
											<p class="text-center">Solicitação de conexão pendente:</p>
											<a data-id="$!id" class="aprovar-amizade btn btn-circle green-sharp btn-sm eq-width"><i class="fa fa-check"></i> Aceitar</a>
											<a data-id="$!id" class="reprovar-amizade btn btn-circle red-mint btn-sm eq-width"><i class="fa fa-times"></i> Recusar</a>
										</div>
									#else
										<a class="btn btn-circle red-mint btn-sm eq-width btn-user-friendship" data-solicita="false"><i class="fa fa-user-times"></i> Desconectar</a>
									#end
								</div>
							#end
						#end
					</div>
					<!-- END SIDEBAR BUTTONS -->
					<!-- SIDEBAR MENU -->
					<div class="profile-usermenu">
						<ul class="nav">
							#if($session.userInfo.id == $!usuario.id)
							<li class="dashboard"><a> <i class="fa fa-bell-o"></i> Notificações</a></li>
							#end
							<li class="dados active"><a> <i class="fa fa-cogs"></i>
									#if($session.userInfo.login == $usuario.login) Meus Dados #else Dados Cadastrais #end
							</a></li>
						</ul>
					</div>
					<!-- END MENU -->
				</div>
				<!-- END PORTLET MAIN -->
				<!-- PORTLET MAIN -->
				<div class="portlet light ">
					<!-- STAT -->
					<div class="row list-separated profile-stat">
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="uppercase profile-stat-title">
								<a href="$context/pages/mural.htm?user_post_id=$usuario.id" target="_blank">
									<span class="uppercase profile-stat-title">$!usuario.posts.size()</span>
									<span class="uppercase profile-stat-text">Posts</span>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="uppercase profile-stat-title">
								<a href="#tab_grupos" data-toggle="tab" class="act-tab">
									<span class="uppercase profile-stat-title"> $!usuario.grupos.size()</span>
									<span class="uppercase profile-stat-text">Grupos</span>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="uppercase profile-stat-title">
								$!usuario.arquivos.size()</div>
							<div class="uppercase profile-stat-text">Arquivos</div>
						</div>
					</div>
					<!-- END STAT -->
					<div>
						#if($usuario.login)
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-envelope" aria-hidden="true"></i> <span>$usuario.email</span>
						</div>
						#end #if($usuario.telefoneFixo)
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-phone-square" aria-hidden="true"></i> <span>&#40;$!usuario.dddTelefone&#41;
								$!usuario.telefoneFixo</span>
						</div>
						#end #if($usuario.telefoneCelular)
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-mobile" aria-hidden="true"></i> <span>&#40;$!usuario.dddCelular&#41;
								$!usuario.telefoneCelular</span>
						</div>
						#end #if($!cadastro_usuario_twitter_on && $!cadastro_usuario_twitter_on == 1 && $usuario.twitter)
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-twitter" aria-hidden="true"></i> <span>$!usuario.twitter</span>
						</div>
						#end
						#if($!chat_on && $chat_on == 1)
							#if($!ENVIAR_MENSAGEM)
								<hr/>
								<div class="margin-top-20 profile-desc-link">
									#if($!chatOn && $!chatOn == "true")
										<i class="fa fa-circle chat-online" aria-hidden="true"></i> <span>online</span>
									#else
										<i class="fa fa-circle chat-offline" aria-hidden="true"></i> <span>offline</span>
									#end
								</div>
							#end
						#end
						#if($usuario.dataCreated)
						<hr/>
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-calendar"></i> <span>Criado em:
							<span>$format.date($!usuario.dataCreated, "dd/MM/yyyy, HH:m:s")</span></span>
						</div>
						#end #if($usuario.dataUpdated)
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-calendar-check-o"></i> <span>Atualizado em:
							<span>$format.date($!usuario.dataUpdated, "dd/MM/yyyy, HH:m:s")</span></span>
						</div>
						#end
					</div>
				</div>
				<!-- END PORTLET MAIN -->
			</div>
			<!-- END BEGIN PROFILE SIDEBAR -->
			<!-- BEGIN PROFILE CONTENT -->
			<div class="profile-content user">
				<div class="row">
					<div class="col-md-12">
						<div class="portlet light notifies" id="sideBox-notificacoes">
							<div class="portlet-title">
								<div class="caption caption-md">
									<span class="caption-subject font-blue bold uppercase"><i class="fa fa-bell-o"></i> &nbsp;Notificações</span>
								</div>
								<div class="actions">
									<div class="btn-group notifications-opt">
										<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
										Ações <i class="fa fa-angle-down"></i>
										</button>
										<ul class="dropdown-menu pull-right">
											<li class="bleed-divider"><a class="limparNotificacoes" rel="notificacoes">Marcar todas como lida</a></li>
											<li><a class="ver-notificacoes-lidas">Ver as notificações lidas</a></li>
											<li><a class="ver-notificacoes-nao-lidas">Ver as notificações não lidas</a></li>
											<li><a class="ver-todas-notificacoes not-link">Ver todas as notificações</a></li>	
										</ul>
									</div>
								</div>
							</div>
							<div class="portlet-body notifications-list-scroll scroll-list">
								<ul class="list-holder listaNotify clearfix"></ul>
							</div>
						</div>
						<div class="portlet light form">
							<div class="portlet-title tabbable-line">
								<div class="caption caption-md">
									<i class="fa fa-user font-blue"></i> <span
										class="caption-subject font-blue bold uppercase">Conta do Usuário</span>
								</div>
								<ul class="nav nav-tabs">
									<li class="active"><a href="#tab_dados-cadastrais" data-toggle="tab">Dados cadastrais</a></li>
									<li><a href="#tab_grupos" data-toggle="tab">Grupos</a></li>
									<li><a href="#tab_horas" data-toggle="tab">Horas</a></li>
									#if($!ACESSO_CADASTROS && $!CADASTRAR_USUARIOS)
									<li><a href="#tab_permissoes" data-toggle="tab">Permissões</a></li>
									#end
								</ul>
							</div>
							<div class="portlet-body">
								<div class="tab-content">
									<!-- TAB Dados Pessoais -->
									<div class="tab-pane active fade in" id="tab_dados-cadastrais">
										<div class="clearfix form-group">
											<div class="col-md-6">
												<label class="control-label labelCampo">Login</label>
												<div class="campoPost">$!usuario.login</div>
											</div>
											<div class="col-md-6 form-group p-x-0">
												#if($!usuario.sobrenome)
													<div class="col-md-6">
														<label class="control-label labelCampo">Nome</label>
														<div class="campoPost">$!usuario.nome</div>
													</div>
													<div class="col-md-6">
														<label class="control-label labelCampo">Sobrenome</label>
														<div class="campoPost">$!usuario.sobrenome</div>
													</div>
												#else
													<div class="col-xs-12">
														<label class="control-label labelCampo">Nome Completo</label>
														<div class="campoPost">$!usuario.nome</div>
													</div>
												#end
											</div>
										</div>
										<div class="clearfix form-group">
											<div class="col-md-6">
												<label class="control-label labelCampo">E-mail</label>
												<div class="campoPost">$!usuario.email</div>
											</div>
											#if($!usuario.twitter)
											<div class="col-md-6">
												<label class="control-label labelCampo">Twitter</label>
												<div class="campoPost">$!usuario.twitter</div>
											</div>
											#end
											#if($!usuario.unidade)
											<div class="col-md-6">
												<label class="control-label labelCampo">Empresa</label>
												<div class="campoPost">$!usuario.unidade</div>
											</div>
											#end
										</div>
										<div class="clearfix form-group">
											<div class="col-md-12">
												<div class="form-group">
													<label class="control-label labelCampo">Cargo</label>
													<div class="campoPost">$!usuario.funcao.nome</div>
												</div>
											</div>
										</div>
										<div class="clearfix form-group">
											#if($usuario.telefoneFixo)
											<div class="col-md-3">
												<div class="form-group clearfix">
													<label class="control-label labelCampo">Telefone
														Fixo</label>
													<div class="col-md-12 fixed noPaddingLeft noPaddingRight">
														<div class="campoPost">&#40;$!usuario.dddTelefone&#41; &nbsp;$!usuario.telefoneFixo</div>
													</div>
												</div>
											</div>
											#end #if($usuario.telefoneCelular)
											<div class="col-md-3">
												<div class="form-group clearfix">
													<label class="control-label labelCampo">Telefone Celular</label>
													<div class="col-md-12 fixed noPaddingLeft noPaddingRight">
														<div class="campoPost">&#40;$!usuario.dddCelular&#41; &nbsp;$!usuario.telefoneCelular</div>
													</div>
												</div>
											</div>
											#end
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label labelCampo">Data de Nascimento</label>
													<div class="row col-md-10">
														<div class="campoPost">$!usuario.dataNascString</div>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label labelCampo">Gênero</label>
													<div class="row col-md-12">
														#if($!usuario.genero && $!usuario.genero=="M")
														<div class="campoPost">Masculino</div>
														#else
														<div class="campoPost">Feminino</div>
														#end
													</div>
												</div>
											</div>
										</div>
										<div class="clearfix form-group">
											#if($!usuario.estado)
											<div class="form-group col-md-3">
												<label class="control-label labelCampo">Estado</label>
												<div class="campoPost">$!usuario.estado</div>
											</div>
											#end
											#if($!usuario.cidade)
											<div class="form-group col-md-3">
												<label class="control-label labelCampo">Cidade</label>
												<div class="campoPost">$!usuario.cidade.nome</div>
											</div>
											#end
											#if($!usuario.regiao)
											<div class="form-group col-md-3">
												<label class="contro-label labelCampo">Região</label>
												<div class="campoPost">$!usuario.regiao</div>
											</div>
											#end
										</div>
										#if($!usuario.area || $!usuario.diretoria)
										<div class="clearfix form-group">
											#if($usuario_cadastro_area_on &&  $usuario_cadastro_area_on == "1")
												#if($!usuario.area)
													<div class="col-md-3">
														<div class="form-group clearfix">
															<label class="control-label labelCampo">Área</label>
															<div class="campoPost">$!usuario.area.nome</div>
														</div>
													</div>
												#end
											#end 
											#if($!usuario.diretoria)
												#if($usuario_cadastro_diretoria_on &&  $usuario_cadastro_diretoria_on == "1")
													<div class="col-md-3">
														<div class="form-group clearfix">
															<label class="control-label labelCampo">Diretoria</label>
															<div class="campoPost">$!usuario.diretoria.nome</div>
														</div>
													</div>
												#end
											#end
											<div class="col-md-3">
												<div class="form-group clearfix">
													<label class="control-label labelCampo">Origem</label>
													#if($usuario.flags=="ldap")
													<div class="campoPost">Interno (LDAP)</div>
													#else
													<div class="campoPost">Externo</div>
													#end
												</div>
											</div>
										</div>
										#end
									</div>
									<!-- Fim TAB Dados Pessoais -->
									<!-- TAB Grupos -->
									<div class="tab-pane fade in" id="tab_grupos">
										#if(($!ACESSO_CADASTROS && $!CADASTRAR_USUARIOS) || $campos.isCampoPublic("grupos"))
										<div class="form-group group-list">
											<label class="control-label labelCampo">Grupos que $!usuario.nome participa:</label>
											<!-- #if($campos.isCampoObrigatorioCadastroAdmin("grupos"))
												<span class="campoObrigatorio">*</span>
											#end
											<input class="form-control input-sm" type="text" readonly="true" id="form_grupo" name="grupo"> -->
										</div>
										#end <!-- $form.fields.ids -->
										<div class="clearfix grupos-holder">
											<ul class="listaHorizontal listaUsuarios clearfix grupos"></ul>
											<div class="paginaAtual" data-page="-1"></div>
										</div>
									</div>
									<!-- Fim TAB Grupos -->
									<!-- PRIVACY SETTINGS TAB -->
									<div class="tab-pane fade in" id="tab_permissoes">
										<label class="control-label labelCampo"> Nível de Permissão </label>
										<label class="labelPermissao">
											<div class="campoPost">$!usuario.permissao.nome</div>
											<div class="campoPost">
												Tem permissão de <strong>$!usuario.permissao.descricao</strong>
											</div>
										</label>
									</div>
									<!-- END PRIVACY SETTINGS TAB -->
									<!-- TAB HORAS -->
									<div class="tab-pane fade in" id="tab_horas">
										#if(!$usuario.expediente && !$usuario.horaAbertura && !$usuario.horaFechamento)
											<label class="control-label labelCampo bordered-msg">Esse usuário não possui expediente cadastrado</label>
										#else
										<div class="clearfix form-group">
											<div class="col-md-4">
												<label class="control-label labelCampo">Hora Entrada</label> 
												<div class="col-md-12 row">
													#if($!usuario.horaAbertura)
													<div class="campoPost">$format.date($!usuario.horaAbertura, "HH:mm")</div>
													#else
													<div class="campoPost">O usuário não possui hora de entrada</div>
													#end
												</div>
											</div>
											<div class="col-md-4">
												<label class="control-label labelCampo">Hora Saída</label> 
												<div class="col-md-12 row">
													#if($!usuario.horaFechamento)
													<div class="campoPost">$format.date($!usuario.horaFechamento, "HH:mm")</div>
													#else
													<div class="campoPost">O usuário não possui hora de saída</div>
													#end
												</div>
											</div>
											#if($usuario.expediente && $usuario.expediente.id)
											<div class="col-md-4">
												<label class="control-label labelCampo">Expediente</label > 
												<div class="col-md-6 row">
														<div class="campoPost">$!usuario.expediente.codigo</div>
												</div>
											</div>
											#end
										</div>
										<div class="clearfix form-group">
											<div class="col-md-12">
												#if($usuario.expediente && $usuario.expediente.id)
												<label class="control-label labelCampo">Dias Trabalhados</label> 
												<div class="table-responsive">
													<table class="table table-bordered tabelaHorario">
														<thead>
															<tr>
																<th>Segunda-Feira</th>
																<th>Terça-Feira</th>
																<th>Quarta-Feira</th>
																<th>Quinta-Feira</th>
																<th>Sexta-Feira</th>
																<th>Sabado</th>
																<th>Domingo</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
												#else
												<label class="control-label labelCampo bordered-msg">Esse usuário não possui expediente cadastrado</label>
												#end
											</div>
										</div>
										#end
									</div>
									<!-- END TAB HORAS -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PROFILE CONTENT -->
		</div>
	</div>
</div>
${form.endTag()}
#parse("/modals/modal_troca_usuario.htm")
<script>
function getFiltro(){
	var filtro = {
		user_id: "$usuario.login",
		list: 1,
	};
	return filtro;
}

var page = 0, filtro = getFiltro();

$(document).ready(function(){
	
	$(".troca-usuario").click(function(e){
		$("#modalTrocaUsuario").modal('show');
	});
	
	var fotoCapaUser = "$!usuario.urlFotoCapa";
	if(fotoCapaUser){
		var urlFoto = fotoCapaUser;
		if(urlFoto.substr(0,4).indexOf('img/') > -1) {
			urlFoto = urlContext + '/' + urlFoto;
		}
		$(".mural-header-photo").attr("src", urlFoto);
	}else{
		$(".mural-header-photo").attr("src", urlContext + "/img/capa.png");
	}
	
	var page = $(".paginaAtual").attr("data-page");	
	var expedienteId = '$!usuario.expediente.id';
	if(expedienteId){
		fillDays(expedienteId);
	}
	
	$(".inputHorarioUsuario").pickatime({
		format : 'H:i',
		interval: 15,
		clear: 'Limpar',
		close: 'Fechar',
		container: '.portlet.light.form',
		onSet: function(context) {
			if(this.$node.val()!=""){
				this.$node.parent().find(".mascaraLabel").hide();
			}else{
				this.$node.parent().find(".mascaraLabel").show();
			}
			this.$node.parent().find(".popPlaceholder").fadeOut();
		},
		onClose: function() {
			$(document.activeElement).blur();
		}
	});
	
		/*grupos autocomplete*/
		var arrayGrupos = [];
		
		#foreach($grupo in $grupos)
			arrayGrupos.push({
				"id": "$grupo.id",
				"nome": "$grupo.nome",
				"readonly":true
			});
		#end		
		
		if($("#grupoFake").length > 0){
			gruposTokenInput({
				element: "#grupoFake",
				url: urlContext+"/ws/gruposAutoComplete.htm?mode=json&form_name=form&search_all=1&user_id="+userId,
				hintText: "Comece a digitar para buscar.",
				noResultsText: "Nenhum item encontrado",
				searchingText: "Carregando...",
				prePopulate: arrayGruposOrigem,
            tokenFormatter: function(item){
            	return '<li><p><a href="$context/grupo.htm?id='+item.id+'">'+item.nome+'</a></p></li>';
            }
			});
			
			$("#token-input-grupoFake").closest(".token-input-list").css("border", "none");
			
			#if($!usuario.grupo)
				$("#token-input-grupoFake").attr("disabled", "disabled");
			#end
			#if($!form.fields.grupoOrigem.error)
				$("#token-input-grupoFake").closest(".token-input-list").addClass("error");
			#end
		}
		
		buscaGrupos(filtro, page);
		
		if($("#form_area").length > 0){
		    jsHttp.filtroTokenInput("#form_area", urlContext+"/rest/v1/area", {
				method: "GET",
				queryParam: "q",
				propertyToSearch: "nome",
				jsonContainer : "list",
// 				prePopulate: arrayGrupos
		    });
			
		}
			
	$(".profile-sidebar-portlet > .profile-usermenu > .nav > li").click(function(e){
		$(this).addClass("active");
		$(".profile-sidebar-portlet > .profile-usermenu > .nav > li").not(this).removeClass("active");
		
		if($(".profile-sidebar-portlet > .profile-usermenu > .nav > li.dashboard").hasClass("active")){
			$(".portlet.light.notifies").fadeIn();
			$(".portlet.light.form").hide();
		}else if($(".profile-sidebar-portlet > .profile-usermenu > .nav > li.dados").hasClass("active")){
			$(".portlet.light.form").fadeIn();
			$(".portlet.light.notifies").hide();
		}
		
	});
	
	var paramsNotifications = {
		data: { 
			user_id: SESSION.USER_INFO.USER_ID
		}, 
		isBadges: true, 
		isClear: true, 
		isScroll: true,
		isShowTabNotification: false,
		isFlipAnimation: true,
		isSpinner: true,
	};
	notifications.getNotifications(paramsNotifications);
	
	$(".deactivate-user").click(function(e){
		e.preventDefault();
		var id = $(this).attr('data-id');
		var href = $(this).attr("href");
		if (id) {
			jConfirm("Deseja mesmo desativar esse usuário?", "Atenção.", "deletar", function(r){
				if(r){
					window.location = href;
				}else{
					return false;
				}
			});
		}
	});
	
	$(".activate-user").click(function(e){
		e.preventDefault();
		var id = $(this).attr('data-id');
		var href = $(this).attr("href");
		if (id) {
			jConfirm("Deseja mesmo ativar esse usuário?", "Atenção.", null, function(r){
				if(r){
					window.location = href;
				}else{
					return false;
				}
			});
		}
	});
	
	$(".invite-user").click(function(e){
		e.preventDefault();
		var id = $(this).attr('data-id');
		if (id) {
			jConfirm("Deseja mesmo convidar esse usuário?", "Atenção.", null, function(r){
				if(r){
					window.location = "$context/usuario.htm?id="+id;
				}else{
					return false;
				}
			});
		}
	});
	
	$('body').on('click', '.delete-user', function(e){
		var userId = $(this).attr('data-id'), userLogin = $(this).attr('data-login');
		swal({
			title: "Atenção!",
			text: "Você deseja mesmo deletar o usuário <b>"+userLogin+"</b>?",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#D91E18",
			confirmButtonText: "Deletar",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true,
		}).then(function () {
			jsHttp.delete("$context/rest/usuario/" + userId, {
				success: function(data) {
					if(data.status != "ERROR"){
						swal({
							type: "success",
							title: "Sucesso!",
							text: data.message,
						}).then(function () {
							location.href = '$context/cadastro/usuarios.htm';
						});
					} else {
						swal({
							type: "warning",
							title: "Ops...",
							text: data.message,
						}).then(function () {
							location.reload();
						});
					}
				},
				error: function(resp){
					swal("Ops...", data.message, "warning");
				}
			});
		});
	});
	
	$(".act-tab").click(function(e){
		e.preventDefault();
		$(".tabbable-line > ul.nav-tabs li:nth-child(2)").addClass("active");
		$(".tabbable-line > ul.nav-tabs li").not(":nth-child(2)").removeClass("active");
	});
	
});

$(window).scroll(function() {
	if($('#tab_grupos').hasClass('in active')){
		if($(document).height() - 50 <= $(window).scrollTop() + $(window).height()){
		   if($(".paginaAtual").hasClass("loading")){
	   		return false;
		   }else if($(".paginaAtual:visible").length > 0 && !$(".paginaAtual").hasClass("loading")){
				page++;
				buscaGrupos(filtro, page);
			}
	   }
	}
});

function buscaGrupos(filtro, page){
	var maxRows = page > 0 ? 20 : 40;
	
 	filtro.page = page;
	filtro.maxRows = maxRows;
	
	jQuery.ajax({
		type: "post",
		url: "$context/ws/gruposAutoComplete.htm?mode=json&form_name=form",
	 	dataType: "json",
	 	data: filtro,
	 	beforeSend: function(){
			$(".paginaAtual").show();
		},
	}).done(function(data){
		var conteudoGrid = "";
		if(data.list && data.list.length > 0){
			for (var i=0;i<data.list.length;i++){
				if(data.list[i].participa){
					var g = data.list[i];
					var gu = g.virtual ? g.countSubgrupos : g.countUsers;
					
					conteudoGrid += '<li data-id="'+g.id+'">';
	 					conteudoGrid += '<div class="clearfix">';
		 					conteudoGrid += '<div class="configItem"><i class="icones ico-configLista"></i><div class="popMenu bottom"><ul>';
	 						if(SESSION.PERMISSOES.ACESSO_CADASTROS == 'true' && SESSION.PERMISSOES.CADASTRAR_GRUPOS == 'true') {
	 							conteudoGrid += '<li><a href="$context/cadastro/grupo.htm?id='+g.id+'" class="editarCampo" data-id="'+g.id+'">Editar grupo</a></li>'
							} else {
								conteudoGrid += '<li><a href="$context/grupo.htm?id='+g.id+'" class="editarCampo" data-nome="'+g.nome+'" data-id="'+g.id+'">Visualizar grupo</a></li>';
							}
	 							conteudoGrid += '<li><a href="$context/pages/mural.htm?grupo='+g.id+'">Ver posts</a></li>'		 						
	 						conteudoGrid += '</ul></div></div>';
							
	 						conteudoGrid += '<div class="fotoUsuario media">';
	 							conteudoGrid += '<a class="centraliza" href="$context/grupo.htm?id='+g.id+'">';
	 								if(g.urlFoto != ""){
	 									conteudoGrid += '<img src="'+g.urlFoto+'" alt="Foto do grupo '+g.nome+'" />';
	 								}else{
	 									conteudoGrid += '<img src="$context/imagens/bg_grupo_thumb.jpg" alt="Foto do grupo '+g.nome+'" />';	
	 								}
	 								
	 							conteudoGrid += '</a>';
								conteudoGrid += '</div>';
								
	 						conteudoGrid += '<div class="infoUsuarios">';
		 						conteudoGrid += '<a href="$context/grupo.htm?id='+g.id+'" class="font-blue">'+g.nome+'</a>';
		 						conteudoGrid += '<p class="cargoUsuarioLista">Admin: '+g.userAdmin+'</p>';
		 						
		 						if(PARAMS.TIPO_GRUPO_ON == '1'){
		 							var gt = "";
		 							switch(g.tipo){
										case 'ABERTO':
											gt += 'Aberto';
											break;
										case 'ABERTO_FECHADO':
											gt += 'Aberto com Aprovação';
											break;
										case 'PRIVADO_OPCIONAL':
											gt += 'Privado Opcional';
											break;
										case 'PRIVADO':
											gt += 'Privado';
											break;
										default:
											if(g.virtual){
												gt = 'Virtual';
											}else{
												gt += g.tipo ? g.tipo : '--';
											}
									}
		 							
		 							conteudoGrid += '<p class="cargoUsuarioLista pull-left">Tipo: '+gt+'</p>';
	 							}else{
		 							conteudoGrid += '<p class="cargoUsuarioLista pull-left">Integrantes: '+gu+'</p>';
		 						}
	 						conteudoGrid += '</div>'; 
	 					conteudoGrid += '</div>';
	 				conteudoGrid += '</li>';
			 	}
			}
		}
		
		if(page === 0){
			$(".listaHorizontal.grupos").empty();
		}
		
		if (data.list.length === 0) {
			if(page === 0){
				conteudoGrid = "<label class='empty clearfix text-center'>Nenhum grupo encontrado</label>";	
			}
			
			$('.paginaAtual').hide();
		}
		
		$(".listaHorizontal.grupos").append(conteudoGrid);
		setTimeout(function(){
			if($('.listaHorizontal.grupos li').length < 40){
				$('.paginaAtual').hide();
			}
		}, 2000);
	});
}
</script>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>