/***** iCheck *****/
.icheckbox_square-green, .iradio_square-green {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 19px;
	height: 19px;
	background: url(../../imagens/icones.png) no-repeat;
	border: none;
	cursor: pointer;
}
.icheckbox_square-green {
	background-position: -44px -173px;
	margin-right: 8px;
	&.focus { @include prefix(box-shadow, 0 0 3px 0 rgba(5, 195, 245, 1), webkit moz ms o); }
	&.hover { background-position: -67px -173px; }
	&.checked { background-position: -89px -172px; }
}

.iradio_square-green {
	background-position: -89px -195px;
	margin-right: 8px;
	@include prefix(border-radius, 20px, webkit moz ms o);
	&.focus { @include prefix(box-shadow, 0 0 3px 0 rgba(5, 195, 245, 1), webkit moz ms o); }
	&.hover { background-position: -46px -218px; }
	&.checked {
		background-position: -68px -218px;
		&.disabled { background-position: -44px -238px; }
	}
	&.disabled { background-position: -88px -216px; cursor: default; }
}