.css-favorito, .css-favorito-not{
	position: absolute;
	top: 8px; 
	right: 0;
	font-size: 20px; 
	transition: opacity 0.2s ease-out, color 0.2s ease-out;
}

.css-favorito, .css-favorito.not.grupo{
	&:hover{ color: #fff; text-shadow: 0px 0px 4px #444; }
}

.css-favorito, .css-favorito-not:hover{ color: #f5a623; opacity: 1; }

.css-favorito-not{ color: #fff; opacity: 1; text-shadow: 0px 1px 0 #bdbdbd, -1px -1px 0 #bdbdbd, 1px -1px 0 #bdbdbd, -1px 1px 0 #bdbdbd, 1px 1px 0 #bdbdbd; }

.css-favorito, .css-favorito-not{
	&.grupo{ right: 2%; transition: none; }
}

.css-favorito.grupo:hover{ color: #f5a623; }

.group-favoritar{
	.css-favorito, .css-favorito-not{ display: none; right: 1%; top: 2%; }
}