<div class="page-content">
	<h3 class="page-title">
		$title <small> $!subTitle</small>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Bingo</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$title</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">

					<div class="caption font-dark">
						<span class="caption-subject font-green sbold uppercase"><i class="fa fa-users"></i> $title</span>
					</div>
				</div>
				<div class="portlet-body">

					#parse($path)

				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
