<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Livecom</title>
<link href="$context/css/reset.css" rel="stylesheet" media="all">
<link href="$context/css/style_bjj.css" rel="stylesheet" media="all">
<link rel="shortcut icon" href="$context/imagens/favicon.ico" type="image/x-icon">
<script>
function displayError() {
	$("#errorReport").slideDown();
}	
</script>
<script type="text/javascript">
	var autoFocus = true;
	function displayError() {
	  errorReport.style.display = 'block';
	}
</script>
<style  type='text/css'>
	.errorReport {
	  display: none;
	}
</style>
</head>
<div class="degrade">
  <div class="paddingConteudoCima largura">
    <h2 class="titulo fundoCinza"><span>OPS... <strong style="color:#acc0eb">Requisição inválida.</strong></span></h2>
    <div class="conteudoTexto">
   	  <p align="center"><img src="$context/img/erro.png" alt="" width="420" height="160"></p>
    </div>
  </div>
</div>
