<div class="page-content">
	<h3 class="page-title">
		#if(!$grupo.id) Cadastro de Grupo #else $!grupo.nome #end<span class="botoesHeader noBorder">
			<div class="actions">
				<div class="btn-group">
					<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
					<ul class="dropdown-menu pull-right">
						#if($!ACESSO_CADASTROS && $!CADASTRAR_GRUPOS)
							#if($!isSubadmin)
							<li><a href="$context/cadastro/grupo.htm?id=$!grupo.id" class=""><i class="fa fa-pencil-square-o"></i> Editar Grupo</a></li>
							<li class="bleed-divider"><a href="$context/cadastro/grupos.htm?actionLink=deletar&id=$!grupo.id&value=$!grupo.id" class="btn-apagar-grupo" data-grupo="$!grupo.nome"><i class="fa fa-trash"></i> Excluir Grupo</a></li>
							#end
						#end
						<li><a class="troca-grupo"><i class="fa fa-exchange"></i> Trocar Grupo</a></li>
					</ul>
				</div>
			</div>
		</span>
	</h3>
	
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/grupos.htm">Grupos</a> <i class="fa fa-angle-right"></i></li>
			<li>#if(!$grupo.id)<span>Novo Grupo</span>#else<span>$!grupo.nome</span>#end</li>
		</ul>
	</div>
   
	<div class="row content">
		<div class="col-md-12">
			<div class="profile-sidebar">
				<div class="portlet light profile-sidebar-portlet clearfix">
					<div class="clearfix profile-userpic">
						<div class="mt-element-card mt-element-overlay">
							<div class="col-md-12">
								<div class="mt-card-item">
									<div class="mt-card-avatar mt-overlay-1">
										<div class="clearfix">
											<a class="fancybox centraliza"
												#if($!grupo.urlFoto != "" && $!grupo.nome)
													href='$!grupo.urlFoto'
												#else 
													href='$context/imagens/bg_grupo_thumb.jpg' 
												#end title="$!grupo.nome">
												#if($!grupo.urlFoto != "" && $!grupo.nome)
													<img class="grupo-img" alt="Foto do $!grupo.nome" />
												#else
													<img src="$context/imagens/bg_grupo_thumb.jpg" alt="Thumbnail" />
												#end
											</a>
										</div>
										<div class="mt-overlay">
											<div class="group-favoritar">
												#if($favorito)
													<a class="css-favorito show bs-tooltip-body" data-favorito="true" title="Grupo favorito">
														<i class="fa fa-star" aria-hidden="true"></i>
													</a>
												#else
													<a class="css-favorito-not show bs-tooltip-body" data-favorito="false" title="Grupo não-favoritado">
														<i class="fa fa-star" aria-hidden="true"></i>
													</a>
												#end
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                 
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							<a href="$context/grupo.htm?id=$!grupo.id">$!grupo.nome</a>
						</div>
					</div>
					
					<div class="profile-userbuttons">
						<div class="clearfix form-group">
							<a href="$!context/pages/mural.htm?grupo=$!grupo.id" class="btn btn-circle blue btn-sm uppercase eq-width"><i class="fa fa-inbox"></i> Mural</a>
							#if(!$!grupo.grupoVirtual)
								#if($!chat_on && $chat_on == 1)
									#if($!ENVIAR_MENSAGEM)
										<a class="btn btn-circle green btn-sm eq-width" target="_blank" href="$context/pages/chat.htm?grupo=$!grupo.id"><i class="fa fa-comments"></i> Chat</a>
									#end
								#end
							#end
						</div>
						#if(($cadastro_grupo_tipo_on && $cadastro_grupo_tipo_on == 1) && (!$!grupo.grupoVirtual))
						<div class="clearfix acoes-grupo" data-grupoid="$!grupo.id">
							#if($!sair && $!sair == 'true')
								<a class="btn btn-circle red-mint btn-sm uppercase eq-width btn-group-sair"><i class="fa fa-sign-out"></i> Sair</a>
							#elseif((($!grupo.userCreate.id != $!session.userInfo.id) && !$!isSubadmin) && ($!grupo.tipoGrupo != "PRIVADO"))
								#if($!mural_grupo_participar_on && $!mural_grupo_participar_on == 1)
									<a class="btn btn-circle green-jungle btn-sm uppercase eq-width btn-group-participar"><i class="fa fa-sign-in"></i> Entrar</a>
								#end
							#end
						</div>
						#end
					</div>
				</div>
				
				<div class="portlet light">
               <div class="row list-separated profile-stat">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="uppercase profile-stat-title">
								<a href="$context/pages/mural.htm?grupo=$!grupo.id" target="_blank">
									<span class="uppercase profile-stat-title">#if($grupo.posts) $grupo.posts.size() #else 0 #end</span>
									<span class="uppercase profile-stat-text">Posts</span>
								</a>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="uppercase profile-stat-title">
								<a href="#tab_users" data-toggle="tab" class="act-tab">
									<span class="uppercase profile-stat-title group-users">&nbsp;</span>
									<span class="uppercase profile-stat-text">
#if($grupo.id && $!grupo.grupoVirtual)
Subgrupos
#else
Usuários
#end
</span>
								</a>
							</div>
						</div>
					</div>
					<div>
						#if($!grupo.horaAbertura || $!grupo.horaFechamento)
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-clock-o"></i> <span>Hora de abertura: $format.date($!grupo.horaAbertura, "HH:mm")</span>
						</div>
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-clock-o"></i> <span>Hora de fechamento: $format.date($!grupo.horaFechamento, "HH:mm")</span>
						</div>
						<hr/>
						#end
						#if($grupo.id && $!grupo.grupoVirtual)
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-desktop"></i> <span>Grupo virtual</span>
						</div>
						#end
						#if($grupo.id && !$!grupo.grupoVirtual)
							#if($cadastro_grupo_tipo_on && $cadastro_grupo_tipo_on == 1)
								#set($tipoGrupo = "Privado")
								#if($grupo.tipoGrupo)
									#set($tipoGrupo = $grupo.tipoGrupo)
								#end
								<div class="margin-top-20 profile-desc-link">
									<i class="fa fa-flag"></i> <span>Tipo: $!tipoGrupo</span>
								</div>
							#end
						#end
						#if($!grupo.padrao == true)
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-check-square"></i> <span>Grupo padrão para postagens</span>
						</div>
						#end
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-user"></i> <span>Admin: <a href="$context/usuario.htm?id=$!grupo.userCreate.id">$!grupo.userCreate.nome</a></span>
						</div>
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-calendar"></i> <span>Criado em:
							<span>$format.date($!grupo.dateCreate, "dd/MM/yyyy, HH:m:s")</span></span>
						</div>
						#if($!grupo.userUpdate)
						<hr/>
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-check-square-o"></i> <span>Atualizado por: <a href="$context/usuario.htm?id=$!grupo.userUpdate.id">$!grupo.userUpdate.nome</a></span>
						</div>
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-calendar-check-o"></i> <span>Atualizado em:
							<span>$format.date($!grupo.dateUpdate, "dd/MM/yyyy, HH:m:s")</span></span>
						</div>
						#end
					</div>
				</div>
			</div>
         
			<div class="profile-content user">
				<div class="portlet light">
					<div class="portlet-title tabbable-line">
						<div class="caption left caption-md">
							<i class="fa fa-users font-blue"></i> <span class="caption-subject font-blue bold uppercase">$!grupo.nome</span>
						</div>
						<ul class="nav nav-tabs">
							<li class="dados-grupo active"><a href="#tab_dados" data-toggle="tab">Dados do Grupo</a></li>
							<li class="users-grupo"><a href="#tab_users" data-toggle="tab">
#if($grupo.id && $!grupo.grupoVirtual)
Subgrupos
#else
Usuários do Grupo
#end
</a></li>
							#if((($!grupo.userCreate.id == $!session.userInfo.id) || $!isSubadmin) && $!grupo.tipoGrupo == "ABERTO_FECHADO" )
							<li class="tab-solicitacoes tab-badge">
								<a href="#tab_solicitacoes" data-toggle="tab">Solicitações</a>
							</li>
							#end
							#if($grupo.id && !$!grupo.grupoVirtual)
							<li class="config-grupo"><a href="#tab_configuracoes" data-toggle="tab">Configurações</a></li>
							#end
						</ul>
					</div>
					<div class="portlet-body">
						<div class="tab-content">
							<!-- TAB DADOS -->
							<div class="tab-pane fade in active" id="tab_dados">
								<div class="clearfix form-group">
									<div class="col-md-8">
										<label class="control-label labelCampo">Nome do Grupo</label>
										<div class="campoPost">$!grupo.nome</div>
									</div>
								</div>
								#if($!grupo.horaAbertura || $!grupo.horaFechamento)
								<div class="clearfix form-group">
									<div class="col-md-5">
										<label class="control-label labelCampo">Hora de abertura</label>
										<div class="campoPost">$format.date($!grupo.horaAbertura, "HH:mm")</div>
									</div>
									<div class="col-md-5">
										<label class="control-label labelCampo">Hora de fechamento</label>
										<div class="campoPost">$format.date($!grupo.horaFechamento, "HH:mm")</div>
									</div>
								</div>
								#end
								<div class="clearfix form-group">
									<div class="col-md-5">
										<label class="control-label labelCampo">Criado por</label>
										<div class="campoPost"><a href="$context/usuario.htm?id=$!grupo.userCreate.id">$!grupo.userCreate.nome</a></div>
									</div>
									#if($!grupo.userUpdate)
									<div class="col-md-5">
										<label class="control-label labelCampo">Atualizado por</label>
										<div class="campoPost"><a href="$context/usuario.htm?id=$!grupo.userUpdate.id">$!grupo.userUpdate.nome</a></div>
									</div>
									#end
								</div>
							</div>
							
							<!-- TAB USERS -->
							<div class="tab-pane fade in" id="tab_users">
								<div class="clearfix">
									<div class="portlet light">
                           	<div class="portlet-title">
											<div class="actions marginLeft">
												<div class="btn-group">
													<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
													<ul class="dropdown-menu pull-right">
														<li><a class="table-view"><i class="fa fa-align-justify"></i> Ver Tabela</a></li>
														<li><a class="grid-view"><i class="fa fa-th"></i> Ver Grid</a></li>
													</ul>
												</div>
											</div>
                              </div>
										<div class="portlet-body">
											<div class="spinner-blue" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: none; background-color: #fff; z-index: 4;"></div>
											<div class="clearfix">
												<!-- GRIDVIEW -->
												<div class="clearfix view-grid">
													<div class="scrollGroupList">
														<ul class="listaHorizontal noPaddingTop clearfix listaUsuarios"></ul>
													</div>
												</div>
												
												<!-- TABELAVIEW -->
												<div class="clearfix view-tabela">
		                                  <table id="table-usuarios-grupo" class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
		                                      <thead>
		                                      		<tr>
		                                      			<th colspan="3" class="table-header bg-blue font-white">
#if(!$!grupo.grupoVirtual)
Usuários
#else
Subgrupos
#end</th>
		                                      		</tr>
		                                          <tr>
		                                              <th>Nome</th>
		                                              #if($grupo.id && !$!grupo.grupoVirtual)
		                                              <th>Login</th>
		                                              #end
		                                              <th class="two-buttons">Detalhes</th>
		                                          </tr>
		                                      </thead>
		                                      <tbody>
		                                      </tbody>
		                                  </table>
												</div>
											</div><!-- ROW VIEWS  -->
										</div>
									</div>
                        </div>
							</div><!-- TAB USERS  -->
							

							#if((($!grupo.userCreate.id == $!session.userInfo.id) || $!isSubadmin) && $!grupo.tipoGrupo == "ABERTO_FECHADO" )
							<!-- TAB SOLICITACOES -->
							<div class="tab-pane fade in" id="tab_solicitacoes">
								<div class="clearfix">
		                        	<div class="portlet light">
		                           		<div class="portlet-title"></div>
										<div class="portlet-body">
												<div class="clearfix">
													<div class="row col-md-12">
														<table id="table-solicitacoes-grupo" class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed" style="width:100%;">
															<thead>
																<tr>
																	<th colspan="3" class="table-header bg-blue font-white">Usuários que solicitaram participação no grupo</th>
																</tr>
																<tr>
																	<th>Nome</th>
																	<th>Login</th>
																	<th class="three-buttons">Detalhes</th>
																</tr>
															</thead>
															<tbody></tbody>
														</table>
													</div>
												</div>
										</div>
									</div>
                        		</div>
							</div><!-- TAB SOLICITACOES  -->
							#end
							<div class="tab-pane fade in" id="tab_configuracoes">
								<table class="table table-bordered">
									<tbody>
										<tr>
											<td class="tooltip-livecom" title="Mostrar no mural as postagens feitas nesse grupo"><label class="control-label labelCampo bordered-msg">Mostrar posts no mural</label> </td>
											<td><input type="checkbox" name="mostraMuralOn" class="bootstrap checkConfig" #if($gu.isMostraMural()) checked="checked" #end data-off-color="danger"  data-off-text="Não" data-on-text="Sim" /></td>
										</tr>
										<tr>
											<td class="tooltip-livecom" title="Receber notificações de atividades no grupo"><label class="control-label labelCampo bordered-msg">Receber Push</label> </td>
											<td><input type="checkbox" name="pushOn" class="bootstrap checkConfig" #if($gu.isPush()) checked="checked" #end data-off-color="danger"  data-off-text="Não" data-on-text="Sim" /></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div><!-- TAB CONTENT -->
					</div>
				</div>
			</div>
		</div><!-- COL-MD-12 -->
	</div><!-- ROW CONTENT -->
</div>
<script>
var tableUsuariosGrupo = null, tableUsuariosModal = null,
	 tableSolicitacoesGrupo = null;
</script>

#if($grupo.id && $!grupo.grupoVirtual)
	#parse("/modals/modal_grupo_addSubgrupo.htm")
#else
	#parse("/modals/modal_grupo_addUser.htm")
#end

#parse("/modals/modal_troca_grupo.htm")
<script>
var userAdmin = "$!grupo.userCreate.id";

function buscaGrupos(grupo, page){
	if(tableUsuariosGrupo != null) {
		tableUsuariosGrupo.clear();
		tableUsuariosGrupo.destroy();
	}

	if(tableUsuariosModal != null) {
		tableUsuariosModal.clear();
		tableUsuariosModal.destroy();
	}

	if(0 > page) {
		page = 0;
	}

	jQuery.ajax({
		type: 'GET',
		url: '$context/rest/grupo/subgrupos/'+grupo,
		success: function(resp){
			var conteudo = '', conteudoTabela = '';
			_integrantesGrupo = resp.entity.length;
			if(_integrantesGrupo == 1 && !$!grupo.grupoVirtual){
				$('.grupo-virtual-input-wrapper').removeClass('disabled');
			}else if(_integrantesGrupo == 0 && $!grupo.grupoVirtual){
				$('.grupo-virtual-input-wrapper').removeClass('disabled');
			}else{
				$('.grupo-virtual-input-wrapper').addClass('disabled');
			}

			if(resp.entity && resp.entity.length > 0){
				$(".group-users").html(resp.entity.length);

				for (var i = 0; i < resp.entity.length; i++){
					var campo = resp.entity[i];
					conteudoTabela += createTable(campo, true);

			 		conteudo += '<li data-id="'+ campo.id +'">';
				 		conteudo += '<div class="clearfix">';
					 		if(SESSION.PERFILS.PERFIL_isAdmin){
								conteudo +=	'<div class="configItem">';
									conteudo +=	'<i class="icones ico-configLista"></i>';
									conteudo +=	'<div class="popMenu bottom"><ul>';
										conteudo +=	'<li><a href="#" data-id="'+ campo.id +'" rel="'+campo.id+'" data-nome="'+campo.nome+'" class="removerGrupo">$messages.get('remover.deste.grupo.label')</a></li>';
									conteudo +=	'</ul></div>';
								conteudo +=	'</div>';
							}

					 		if(userAdmin == campo.id) {
								conteudo += '<i class="icones crownAdmin bs-tooltip" title="Admin do grupo"></i>';
							}

					 		var grupoImg = campo.urlFotoThumb;
							if(grupoImg){
								if(grupoImg.substr(0,4).indexOf('img/') > -1) {
									grupoImg = urlContext + '/' + grupoImg;
								}
							}else{
								grupoImg = urlContext + "/imagens/bg_grupo_thumb.jpg";
							}

			 				conteudo +=	'<div class="fotoUsuario media">';
								conteudo += '<a class="centraliza" data-nome="'+campo.nome+'" href="$context/usuario.htm?id='+campo.id+'" target="_blank">';
									conteudo += '<img src="'+grupoImg+'" alt="$messages.get('foto.de.label') '+campo.nome+'" />';
								conteudo += '</a>';
							conteudo += '</div>';

							conteudo += '<div class="infoUsuarios">';
								conteudo += '<a href="$context/usuario.htm?id='+campo.id+'" class="nomeUsuarioLista" target="_blank">'+campo.nome+'</a>';
									if(campo.desc1){
										conteudo += '<p class="cargoUsuarioLista">'+campo.desc1+'</p>';
									}

									if(campo.desc2){
			    						conteudo += '<p class="cargoUsuarioLista">'+campo.desc2+'</p>';
									}

							conteudo += '</div>';
						conteudo += '</div>';
					conteudo +=  '</li>';
				}

				$(".paginaAtual").attr("data-page", parseInt($(".paginaAtual").attr("data-page"))+1);
				$("#tab_users .listaHorizontal").append(conteudo);
				$(".paginaAtual").removeClass("loading");
				$("#tab_users .table > tbody").empty().append(conteudoTabela);

				if(resp.mensagem){
					$(".paginaAtual").hide();
					swal(resp.mensagem.status, resp.mensagem.mensagem, 'warning');
				}
			}else{
				$(".group-users").html('0');
			}

			tableUsuariosGrupo = loadTable({element: '#table-usuarios-grupo'});
			tableUsuariosModal = loadTable({element: '#table-usuarios-modal'});
		}
	});
}

function buscaUsuarios(grupo, page){
	if(0 > page) {
		page = 0;
	}

	var dataUsuariosAutoComplete = {
		user: SESSION.USER_INFO.USER_LOGIN,
		grupoId: grupo,
		maxRows: 0,
		page: page,
		wsVersion: wsVersion,
		wstoken:SESSION.USER_INFO.USER_WSTOKEN,
	};


	AjaxServices.usuariosAutoComplete(dataUsuariosAutoComplete, function(){
		$('.spinner-blue').fadeIn();
	}).done(function(data){
		$('.view-tabela').find('.paginaAtual').remove();
		$('.spinner-blue').fadeOut();

			if(data.list && data.list.length > 0){
				$(".paginaAtual").show();
		 		var conteudo = "";
		 		var conteudoTabela = "";
		 		$(".group-users").html(data.list.length);

	 			for (var i=0; i<data.list.length; i++){

	 				var campo = data.list[i];
		 			conteudoTabela += createTable(campo, false);

			 		conteudo += '<li data-id="'+ data.list[i].id +'">';
			 			conteudo += '<div class="clearfix">';
					 		if(SESSION.PERFILS.PERFIL_isAdmin){
								conteudo +=	'<div class="configItem">';
									conteudo +=	'<i class="icones ico-configLista"></i>';
									conteudo +=	'<div class="popMenu bottom"><ul>';
										conteudo +=	'<li><a href="#" data-id="'+ data.list[i].id +'" rel="'+data.list[i].id+'" data-nome="'+data.list[i].nome+'" class="removerUsuario">$messages.get('remover.deste.grupo.label')</a></li>';
									conteudo +=	'</ul></div>';
								conteudo +=	'</div>';
							}

					 		if(userAdmin == data.list[i].id) {
								conteudo += '<i class="icones crownAdmin tooltip-livecom" title="Admin do grupo"></i>';
							}

							conteudo += '<div class="fotoUsuario media">';
								conteudo += '<a class="centraliza" data-nome="'+data.list[i].nome+'" href="$context/usuario.htm?id='+data.list[i].id+'" target="_blank">';
									conteudo += '<img src="'+data.list[i].urlFotoUsuario+'" alt="$messages.get('foto.de.label') '+data.list[i].nome+'" />';
								conteudo += '</a>';
							conteudo += '</div>';

							conteudo += '<div class="infoUsuarios">';
								conteudo += '<a href="$context/usuario.htm?id='+data.list[i].id+'" class="nomeUsuarioLista" target="_blank">'+data.list[i].nome+'</a>';
								if(data.list[i].desc1){
									conteudo += '<p class="cargoUsuarioLista">'+data.list[i].desc1+'</p>';
								}
								if(data.list[i].desc2){
		    						conteudo += '<p class="cargoUsuarioLista">'+data.list[i].desc2+'</p>';
								}

							conteudo += '</div>';
						conteudo += '</div>';
					conteudo += '</li>';
	 			}
	 		}else if($("#tab_users .listaHorizontal li").length <= 0){
	 			$(".muralVazio").html("$messages.get('nenhumResultado.error')").show();
				$(".paginaAtual").hide();
			}else{
				$(".paginaAtual").hide();
			}
			if(data.list && data.list.length < 12){
				$(".paginaAtual").hide();
			}
				
			$(".paginaAtual").attr("data-page", parseInt($(".paginaAtual").attr("data-page"))+1);
			$(".paginaAtual").removeClass("loading");

			if(tableUsuariosGrupo != null) {
				tableUsuariosGrupo.clear();
				tableUsuariosGrupo.destroy();
			}

			if(tableUsuariosModal != null) {
				tableUsuariosModal.clear();
				tableUsuariosModal.destroy();
			}

			$("#tab_users .listaHorizontal").append(conteudo);
			$("#table-usuarios-grupo > tbody").empty().append(conteudoTabela);

			tableUsuariosGrupo = loadTable({element: '#table-usuarios-grupo'});
			tableUsuariosModal = loadTable({element: '#table-usuarios-modal'});

			if(data.mensagem){
				$(".paginaAtual").hide();
				swal(data.mensagem.status, data.mensagem.mensagem, 'warning');
			}
	});
}

function createTable(campo, isGrupo) {
	var rTable = '', classe = '';
	rTable += '<tr data-id="'+campo.id+'">';
		rTable += "<td>" + campo.nome;
		if(!isGrupo){
			if(userAdmin == campo.id) {
				rTable += '&nbsp;&nbsp;<span class="label label-success">Admin</span>';
			}
		}
		rTable += "</td>";

		if(!isGrupo){
			rTable += "<td>" + campo.login+ "</td>";
		}

		if(isGrupo){
			rTable += "<td align='center'>";
				rTable += '<a class="btn btn-outline blue-sharp  uppercase tooltip-livecom" href="$context/grupo.htm?id='+campo.id+'" target="_blank" title="Visualizar grupo"><i class="fa fa-search"></i></a>';
				if(SESSION.USER_INFO.USER_ID == campo.userAdminId || SESSION.USER_INFO.IS_ADMIN == 'true'){
					rTable += '<button data-id="'
						+ campo.id
						+ '" class="apagar btn btn-outline red-mint removerGrupo uppercase" data-nome="' + campo.nome + '" title=""><i class="fa fa-trash"></i></button>';
				}
			rTable += "</td>";
		}else{
			classe = 'removerUsuario';

			rTable += "<td align='center'>";
				rTable += '<a class="btn btn-outline blue-sharp  uppercase tooltip-livecom" href="$context/usuario.htm?id='+campo.id+'" target="_blank" title="Visualizar usuário"><i class="fa fa-search"></i></a>';
				if((PARAMS.TIPO_GRUPO_ON == '1' && SESSION.USER_INFO.USER_ID == '$!adminGrupo.id') || (PARAMS.TIPO_GRUPO_ON == '0' && SESSION.USER_INFO.IS_ADMIN == 'true') || $!isSubadmin){
					rTable += '<button data-id="'
						+ campo.id
						+ '" class="apagar btn btn-outline red-mint '+classe+' uppercase" data-nome="' + campo.nome
						+ '" title=""><i class="fa fa-trash"></i></button>';
				}
			rTable += "</td>";
		}
	rTable += "</tr>";

	return rTable;
}

var erroGrupo = true, _integrantesGrupo = 0;
var tab = getURLParameter('tab');
if(tab == 'users'){
	$('a[href="#tab_users"]').click();
}

$(document).ready(function(){
	
	$('.act-tab').click(function(e){
		e.preventDefault();
		$(".tabbable-line > ul.nav-tabs li:nth-child(2)").addClass("active");
		$(".tabbable-line > ul.nav-tabs li").not(":nth-child(2)").removeClass("active");
	});
	
	$(".troca-grupo").click(function(e){
		$("#modalTrocaGrupo").modal('show');
	});
	
	#if($grupo.id) 
		$('.checkConfig').on('switchChange.bootstrapSwitch', function(event, state) {
			 var name = $(this).attr('name');
			 var data = {};
			 data[name] = state;
			 data.userId = userId;
			 data.grupoId = "$grupo.id"
			 jsHttp.post("$context/rest/grupo/configuracoes", {
				 data:data,
				 success: function(data){
					 toastr.success(data.mensagem);
				 },
				 error: function(data){
					 toastr.error(data.mensagem);
				 }
			 });
		});
	#else
		$('.btn-salvar').addClass('disabled');
	#end
	
	var fotoGrupo = "$!grupo.urlFoto";
	if(fotoGrupo){
		var urlFoto = fotoGrupo;
		if(urlFoto.substr(0,4).indexOf('img/') > -1) {
			urlFoto = urlContext + '/' + urlFoto;
		}
		$(".grupo-img").attr("src", urlFoto);
	}else{
		$(".grupo-img").attr("src", urlContext + "/img/capa.png");
	}
	
	$(".bootstrap").bootstrapSwitch();

	function confirmationConfig() {
		$('button[aria-describedby*="confirmation"]').confirmation('hide');
		setTimeout(function() {
			$("[data-toggle=confirmation]").confirmation({
				singleton : true,
				btnOkClass : 'btn btn-sm btn-success',
				btnCancelClass : 'btn btn-sm btn-danger',
				popout : true,
				btnOkLabel : 'Sim',
				btnCancelLabel : "Não"
			});
		}, 500);
	}
	
	$('.table').on('page.dt', function() {
		confirmationConfig();
	});

	$('.table').on('order.dt', function() {
		confirmationConfig();
	});

	$('.table').on('search.dt', function() {
		confirmationConfig();
	});

	$('.table').on('length.dt', function() {
		confirmationConfig();
	});

	var page = 0, grupo = "$!grupo.id";

	if(grupo != '') {
		#if($grupo.id && $!grupo.grupoVirtual)
			buscaGrupos(grupo, page);
		#else
			buscaUsuarios(grupo, page);
			#if((($!grupo.userCreate.id == $!session.userInfo.id) || $!isSubadmin) && $!grupo.tipoGrupo == "ABERTO_FECHADO" )
				getSolicitacoes("$!id", function(data){
					if(data.status == "ERROR"){
						toastr.error("<b>Atenção!</b><br>" + data.message);
					}else{
						updateSolicitacoesTable(data.entity);
					}
				});
			#end
		#end
	} else {
		initDataTable();
	}
	
	$(".botao").click("click", function (e) {
		erroGrupo = true;
		flagGrupo = 1;
	});

	$(".btn-apagar-grupo").click(function(event){
		event.preventDefault();
		var obj = $(this), nomeGrupo = $(this).attr('data-grupo');
		swal({
			text: 'Deseja realmente excluir o grupo <b>'+nomeGrupo+'</b>?',
			title: 'Atenção',
			type: 'warning',
			showCancelButton: true,
			confirmButtonColor: "#d9534f",
			confirmButtonText: "Sim",
			cancelButtonText: "Cancelar",
		}).then(function () {
			location.href = obj.attr("href");
		});
	});

	$(document).on( "click", ".removerUsuario, .removerGrupo", function(event) {
	  	event.preventDefault();
		var obj = $(this), usuarioNome = $(this).attr("data-nome"), usuarioId = $(this).attr("data-id"), idRemove = usuarioId+",", text = '', callback = '';

		if($(this).hasClass('removerGrupo')){
			text = 'Você deseja mesmo remover o subgrupo <b>'+usuarioNome+'</b> do grupo?';
		}else{
			text = 'Você deseja mesmo remover o usuário <b>'+usuarioNome+'</b> do grupo?';
		}

		callback = function(){
			addUsuario(null, idRemove, function(data){
			  	if(data.status == "ERROR"){
			  		swal('Opss...', data.message, 'error');
					return;
			  	} else {
					var qtd = parseInt($(".group-users").html());
			 		$("span.group-users").html(qtd - 1);
					_integrantesGrupo = _integrantesGrupo - 1;

					if(_integrantesGrupo <= 1 && !$!grupo.grupoVirtual){
						$('.grupo-virtual-input-wrapper').removeClass('disabled');
					}else if(_integrantesGrupo > 1 && !$!grupo.grupoVirtual){
						$('.grupo-virtual-input-wrapper').addClass('disabled');
					}else if(_integrantesGrupo == 0 && $!grupo.grupoVirtual){
						$('.grupo-virtual-input-wrapper').removeClass('disabled');
					}

					$('ul.listaHorizontal').children('li[data-id="'+ id +'"]').remove();
					obj.closest(".configItem").closest("li").remove();

					if(tableUsuariosGrupo != null) {
						tableUsuariosGrupo.row($('#table-usuarios-grupo > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
					}
					if(tableUsuariosModal != null) {
						tableUsuariosModal.row($('#table-usuarios-modal > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
					}

					if(tablePermissoesGrupo != null) {
						tablePermissoesGrupo.row($('#table-permissoes-grupo > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
					}
					if(tablePermissoesModal != null) {
						tablePermissoesModal.row($('#table-permissoes-modal > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
					}

					if(tableSubadminsGrupo != null) {
						tableSubadminsGrupo.row($('#table-subadmins-grupo > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
					}
					if(tableSubadminsModal != null) {
						tableSubadminsModal.row($('#table-subadmins-modal > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
					}

					#if($grupo.id && $!grupo.grupoVirtual)
						_gruposIdsInGrupo = _gruposIdsInGrupo.replace(idRemove, '');
					#else
						_usuariosIdsInGrupo = _usuariosIdsInGrupo.replace(idRemove, '');
					#end

					_usuariosIdInPermissao = _usuariosIdInPermissao.replace(idRemove, '');
					_usuariosIdsInModeradores = _usuariosIdsInModeradores.replace(idRemove, '');

					$('.modal').modal('hide');
					swal('Sucesso!', data.message, 'success');
				}
		  	});
		}

		swal({
			text: text,
			title: 'Atenção',
			type: 'warning',
			showCancelButton: true,
			confirmButtonColor: "#d9534f",
			confirmButtonText: "Sim",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true
		}).then(function () {
			callback();
		})
	});


  #if((($!grupo.userCreate.id == $!session.userInfo.id) || $!isSubadmin) && $!grupo.tipoGrupo == "ABERTO_FECHADO" )
		$(document).on( "click", "#tab_solicitacoes .aceitarUsuario, #tab_solicitacoes .recusarUsuario", function(e){
			var idUsuario = $(this).attr('data-id'), nomeUsuario = $(this).attr('data-nome'), idGrupo = "$!grupo.id", aprovar = $(this).hasClass("aceitarUsuario"), text = '';
			var callback = function(){
					putSolicitacoes(idUsuario, idGrupo, aprovar, function(data){
					if(data.status == 'ERROR'){
						swal('Ops...', data.message, 'error');
					} else {
						updateSolicitacoesTable(data.entity);
						buscaUsuarios(grupo, page);
						swal('Sucesso', data.message, 'success');
					}
				});
			}

			if($(this).hasClass('aceitarUsuario')){
				text = 'Deseja aprovar a participação do usuário <b>'+nomeUsuario+'</b> no grupo?';
			}else{
				text = 'Deseja recusar a participação do usuário <b>'+nomeUsuario+'</b> no grupo?';
			}

			swal({
				title: "Atenção",
				text: text,
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#d9534f",
				confirmButtonText: "Sim",
				cancelButtonText: "Cancelar",
				showLoaderOnConfirm: true,
			}).then(function () {
				callback();
			});
		});

		var solicitacoesTableInit = false; // Flag de controle de carregamento da tabela.

		function updateSolicitacoesTable(lista){
			var conteudo = '';

		 	if(lista.length > 0){
				$('li.tab-solicitacoes').append('<span class="badge">'+lista.length+'</span>');
			}else{
				$('li.tab-solicitacoes').find('span.badge').fadeOut(function(){
					$(this).remove();
				});
			}

			notifications.getNotifications({
				data: {
					user_id: SESSION.USER_INFO.USER_LOGIN,
				},
				isBadges: true,
				isClear: false,
				isScroll: false,
				isShowTabNotification: false,
				isFlipAnimation: false,
				isSpinner: false,
				isAbort: false
			});

			for(var i = 0; i < lista.length; i++){
				if(userAdmin == lista[i].id) {
					continue;
				}

				conteudo += '<tr data-id="'+lista[i].id+'">';
					conteudo +=  '<td>' + lista[i].nome;
						if(userAdmin == lista[i].id) {
							conteudo += '&nbsp;&nbsp;<span class="label label-success">Admin</span>';
						}
					conteudo += '</td>';

					conteudo += '<td>' + lista[i].login + '</td>';

					conteudo += '<td align="center">';
						conteudo += '<a class="btn btn-outline blue-sharp  uppercase tooltip-livecom" href="'+urlContext+'/usuario.htm?id='+lista[i].id+'" target="_blank" title="Visualizar usuário">';
							conteudo += '<i class="fa fa-search"></i>';
						conteudo += '</a>';

						if($session.userInfo.id == lista[i].id || SESSION.PERFILS.PERFIL_isAdmin){
							conteudo += '<a data-id="'+ lista[i].id +'" class="btn btn-outline green-sharp aceitarUsuario tooltip-livecom" data-nome="' + lista[i].nome + '" title="Aceitar usuário">';
								conteudo += '<i class="fa fa-check"></i>';
							conteudo += '</a>';

							conteudo += '<a data-id="'+ lista[i].id +'" data-nome="'+lista[i].nome+'" class="btn btn-outline red-mint recusarUsuario" data-nome="' + lista[i].nome + '">';
								conteudo += '<i class="fa fa-close"></i>';
							conteudo += '</a>';
					}

					conteudo += '</td>';
				conteudo += '</tr>';
			}
			
			if(tableSolicitacoesGrupo != null){
				$('#table-solicitacoes-grupo > tbody').empty();
				tableSolicitacoesGrupo.clear();
				tableSolicitacoesGrupo.destroy();
			}

			$('#table-solicitacoes-grupo > tbody').append(conteudo);
			tableSolicitacoesGrupo = loadTable({element: '#table-solicitacoes-grupo'});
		}
	#end
});
</script>