<!-- BEGIN PROFILE SIDEBAR -->
<div class="profile-sidebar">
	<!-- PORTLET MAIN -->
	<div class="portlet light profile-sidebar-portlet clearfix">
		<!-- SIDEBAR USERPIC -->
		<div class="clearfix profile-userpic">
			<div class="mt-element-card mt-element-overlay">
				<div class="col-md-12">
					<div class="mt-card-item">
						<div class="mt-card-avatar mt-overlay-1 uploadCapaUsuario">
							#if($usuario.urlFotoCapa)
								<img class="mural-header-photo" alt="Foto de capa do $!usuario.nome" />
							#else
								<img class="mural-header-photo" src="$context/img/capa.png" alt="Foto de capa do $!usuario.nome" />
							#end

							#if($mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
							<div class="mt-overlay top-center">
								<ul class="mt-info small-text">
									<li>
										<div class="fileinput fileinput-new" data-provides="fileinput">
											<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
											<div>
												<span class="btn default btn-file btn-outline btn-fotoCapaUser">
													<span class="fileinput-new">Fazer upload </span>
													<input type="file" name="logo">
													<input type="text" value="" id="form_arquivoFotoCapaId" name="arquivoFotoCapaId">
												</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
							#end
						</div>
						<div class="clearfix mt-card-avatar">
							<div class="mt-overlay-1 uploadFotoUsuario user-photo-container fotoUsuario grande">
								<a class="centraliza">
									#if($!usuario_foto_default)
										#if($usuario.urlFotoUsuario && $!usuario.nome)
											<img src="$!usuario.urlFotoUsuario" alt="Foto do $!usuario.nome" />
										#else
											<img src="$context/img/user.png" alt="Thumbnail" />
										#end
									#else
										<img src="$context/img/user.png" alt="Thumbnail" />
									#end
								</a>
								#if($mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
									<div class="mt-overlay small">
										<ul class="mt-info">
											<li>
												<div class="fileinput fileinput-new" data-provides="fileinput">
													<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
													<div>
														<span class="btn default btn-file btn-outline btn-fotoUser">
															<span class="fileinput-new">Fazer upload </span>
															<input type="file" name="logo">
															<input type="text" value="" id="form_arquivoFotoId" name="arquivoFotoId">
														</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								#end
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="profile-usertitle">
			<div class="profile-usertitle-name">
				<a>Novo Usuário</a>
			</div>
		</div>
	</div>
	<!-- END PORTLET MAIN -->
</div>
<!-- END BEGIN PROFILE SIDEBAR -->
<!-- BEGIN PROFILE CONTENT -->
<div class="profile-content user">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light form" style="display:block;">
				<div class="portlet-title tabbable-line">
					<div class="caption caption-md">
						<i class="fa fa-user font-blue"></i> <span class="caption-subject font-blue bold uppercase">Conta do Usuário</span>
					</div>
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab_dados-cadastrais" data-toggle="tab">Dados cadastrais</a></li>
						<li><a href="#tab_grupos" data-toggle="tab">Grupos</a></li>
						#if($session.userInfo.isAdmin() || $session.userInfo.isRoot())
							<li><a href="#tab_horas" data-toggle="tab">Horas</a></li>
							<li><a href="#tab_permissoes" data-toggle="tab">Permissões</a></li>
						#end
					</ul>
				</div>
				<div class="portlet-body">
					<div class="tab-content">
						<!-- TAB Dados Pessoais -->
						<div class="tab-pane active fade in" id="tab_dados-cadastrais">
							<div class="row">
								<div class="col-md-6 form-group">
									<label class="control-label labelCampo">Login</label> 
									$!form.fields.login
								</div>
								<div class="col-md-6 form-group p-x-0">
									#if($!form.fields.sobrenome)
										<div class="col-md-6 form-group">
											<label class="control-label labelCampo" for="form_nome">Nome</label> $!form.fields.nome
										</div>
										<div class="col-md-6 form-group">
											<label class="control-label labelCampo" for="form_sobrenome">Sobrenome</label> $!form.fields.sobrenome
										</div>
									#else
										<div class="col-xs-12 form-group">
											<label class="control-label labelCampo" for="form_nome">Nome Completo</label> $!form.fields.nome
										</div>
									#end
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 form-group">
									<label class="control-label labelCampo" for="form_email">E-mail</label>
									$!form.fields.email
								</div>
								#if($!form.fields.twitter)
								<div class="col-md-6 form-group">
									<label class="control-label labelCampo" for="form_twitter">Twitter</label>
									$!form.fields.twitter
								</div>
								#end
								#if($!form.fields.unidade)
								<div class="col-md-6 form-group">
									<label class="control-label labelCampo" for="form_unidade">Empresa</label>
									$!form.fields.unidade
								</div>
								#end
							</div>
							#if($form.fields.funcao)
							<div class="row">
								<div class="col-md-12 form-group">
									<div class="form-group">
										<label class="control-label labelCampo" for="form_funcao">Cargo</label>
										$form.fields.funcao
									</div>
								</div>
							</div>
							#end
							<div class="row">
								<div class="col-md-3 form-group">
									<div class="form-group clearfix">
										<label class="control-label labelCampo" for="form_dddTelefone">Telefone Fixo</label>	
										<div class="col-xs-3 noPaddingLeft noPaddingRight">$form.fields.dddTelefone</div>
										<div class="col-xs-6 noPaddingLeft noPaddingRight">$form.fields.telefoneFixo</div>
									</div>
								</div>
								<div class="col-md-3 form-group">
									<div class="form-group clearfix">
										<label class="control-label labelCampo" for="form_dddCelular">Telefone Celular</label>
										<div class="col-xs-3 noPaddingLeft noPaddingRight">$form.fields.dddCelular</div>
										<div class="col-xs-6 noPaddingLeft noPaddingRight">$form.fields.telefoneCelular</div>
									</div>
								</div>
								<div class="col-md-3 form-group" for="form_dataNasc">
									<label class="control-label labelCampo">Data de Nascimento</label>
									<div class="row col-md-10">$form.fields.dataNasc</div>
								</div>
								<div class="col-md-3 form-group">
									<label class="control-label labelCampo">Gênero</label>
									<div class="clearfix inputSexo">
										<div class="row col-md-12">
											<label for="form_genero_M" class="labelCheck">
											<input type="radio"
												#if($campos.isCampoReadOnly("genero")) disabled="disabled"
												#end checked="checked" id="form_genero_M" value="M"
												name="genero">Masculino</label>
										</div>
										<div class="row col-md-12">
											<label for="form_genero_F" class="labelCheck">
											<input type="radio"
												#if($campos.isCampoReadOnly("genero")) disabled="disabled"
												#end id="form_genero_F" value="F"
												name="genero"> Feminino</label>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								#if($!form.fields.estado)
								<div class="form-group col-md-4">
									<label class="control-label labelCampo" for="form_estado">Estado</label>
									<div class="campoPost">
										$!form.fields.estado
									</div>
								</div>
								#end
								#if($!form.fields.cidade)
								<div class="form-group col-md-4">
									<label class="control-label labelCampo">Cidade</label>
									<div class="campoPost cidade">
										<input type="text" id="id-cidade" class="form-control">
										$!form.fields.cidade
									</div>
								</div>
								#end
								#if($!form.fields.regiao)
								<div class="form-group col-md-4" for="form_regiao">
									<label class="contro-label labelCampo">Região</label>
									<div class="campoPost">$!form.fields.regiao</div>
								</div>
								#end
							</div>
							<div class="row">
								#if($usuario_cadastro_diretoria_on && $usuario_cadastro_diretoria_on == "1")
								<div class="col-md-5 form-group">
									<label class="control-label labelCampo">Diretoria</label>
									$form.fields.diretoria
								</div>
								#end
								#if($usuario_cadastro_area_on &&  $usuario_cadastro_area_on == "1")
								<div class="col-md-4 form-group">
									<label class="control-label labelCampo">Área</label>
									$form.fields.area
								</div>
								#end
								#if($login_connector_on && $login_connector_on == "1")
								<div class="col-md-3 form-group">
									<label class="control-label labelCampo">Conector Login</label>
									<div class="campoPost">
										$form.fields.flags
									</div>
								</div>
								#end
							</div>
							<div class="row">
								<div class="clearfix col-xs-12">
									<label class="control-label labelCampo">Enviar senha para o e-mail do usuário</label>
									<input data-off-color="danger"  data-off-text="Não" data-on-text="Sim" type="checkbox" id="sendMail" name="sendMail" class="bootstrap" />
								</div>
							</div>
						</div>
						<!-- Fim TAB Dados Pessoais -->
						<!-- TAB Grupos -->
						<div class="tab-pane fade in" id="tab_grupos">

							#if(($!ACESSO_CADASTROS && $!CADASTRAR_USUARIOS) || $campos.isCampoPublic("grupos"))
							<div class="form-group group-list">
								<label class="control-label labelCampo">Grupos que o usuário irá participar:</label>
								#if($campos.isCampoObrigatorioCadastroAdmin("grupos"))
									<span class="campoObrigatorio">*</span>
								#end
								<input class="form-control input-sm" type="text"
									#if($campos.isCampoReadOnly("grupos")) readonly="true" #end
									id="form_grupo" name="grupo">
							</div>
							#end $form.fields.ids
						</div>
						<!-- Fim TAB Grupos -->
						<!-- PRIVACY SETTINGS TAB -->
						<div class="tab-pane fade in" id="tab_permissoes">
							<div class="form-group">
								#if($!ACESSO_CADASTROS && $!CADASTRAR_USUARIOS)
									<label class="control-label labelCampo"> Nível de Permissão <small>(visualizado apenas por administradores)</small>
										#if($campos.isCampoObrigatorioCadastroAdmin("permissao")) <span class="campoObrigatorio relative">*</span> #end
									</label>
									<div class="nivelPermissao #if($!form.fields.permissao.error) error #end">
										#foreach($p in $perfis)
										<label class="labelPermissao #if($!usuario.permissao && ($p.id == $!usuario.permissao.id)) ativo #elseif(!$!usuario.permissao && $p.padrao) ativo #end">
											<table>
												<tr>
													<td class="nomeDescricao">
														<input type="radio"
														#if($!usuario.permissao && ($p.id==
														$!usuario.permissao.id))  checked="checked"
														#elseif(!$!usuario.permissao && $p.padrao)  checked="checked"
														#end #if($campos.isCampoReadOnly("permissao")) disabled="disabled"
														#end id="form_permissao_$p.id" value="$p.id"
														name="perfil">$p.nome</td>
													<td><p>Tem permissão de<strong> $p.descricao</strong></p></td>
												</tr>
											</table>
										</label> #end
									</div>
								#end
							</div>
						</div>
						<!-- END PRIVACY SETTINGS TAB -->
						<!-- TAB HORAS -->
						<div class="tab-pane fade in" id="tab_horas">
							<div class="row">
								<div class="col-md-4 form-group">
									<label class="control-label labelCampo" for="horaAbertura">Hora Entrada</label>
									<input name="horaAbertura" id="horaAbertura" 
										class="inputHorarioUsuario form-control input-sm"
										type="text" value="00:00" autocomplete="off" />
								</div>
								<div class="col-md-4 form-group">
									<label class="control-label labelCampo" for="horaFechamento">Hora Saída</label>
										<input name="horaFechamento" id="horaFechamento" 
											class="inputHorarioUsuario form-control input-sm"
											type="text" value="00:00" autocomplete="off" />
								</div>
								<div class="col-md-4">
									<label class="control-label labelCampo" for="form_expediente">Expediente</label>
									<div class="campoPost">$form.fields.expediente</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 form-group">
									<label class="control-label labelCampo">Dias Trabalhados</label> 
									<div class="table-responsive">
										<table class="table table-bordered tabelaHorario">
											<thead>
												<tr>
													<th>Segunda-Feira</th>
													<th>Terça-Feira</th>
													<th>Quarta-Feira</th>
													<th>Quinta-Feira</th>
													<th>Sexta-Feira</th>
													<th>Sábado</th>
													<th>Domingo</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- END TAB HORAS -->
					</div>
					<div class="clearfix text-right">
						<div class="margin-top-10">
							<a href="$context/cadastro/usuarios.htm" class="btn btn-default min-width"> Cancelar </a>
							<button class="btn btn-primary min-width btn-salvar">Salvar</button>
							$form.fields.salvar
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END PROFILE CONTENT -->