<!-- BEGIN PROFILE SIDEBAR -->
<div class="profile-sidebar">
	<!-- PORTLET MAIN -->
	<div class="portlet light profile-sidebar-portlet clearfix">
		<!-- SIDEBAR USERPIC -->
		<div class="clearfix profile-userpic">
			<div class="mt-element-card mt-element-overlay">
				<div class="col-md-12">
					<div class="mt-card-item">
						<div class="mt-card-avatar mt-overlay-1 uploadCapaUsuario">
							#if($usuario.urlFotoCapa)
								<img class="mural-header-photo" alt="Foto de capa do $!usuario.nome" />
							#else
								<img class="mural-header-photo" src="$context/img/capa.png" alt="Foto de capa do $!usuario.nome" />
							#end

							#if($mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
							<div class="mt-overlay top-center">
								<ul class="mt-info small-text">
									<li>
										<div class="fileinput fileinput-new" data-provides="fileinput">
											<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
											<div>
												<span class="btn default btn-file btn-outline btn-fotoCapaUser">
													<span class="fileinput-new">Fazer upload </span>
													<input type="file" name="logo">
													<input type="text" value="" id="form_arquivoFotoCapaId" name="arquivoFotoCapaId">
												</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
							#end
						</div>
						<div class="clearfix mt-card-avatar">
							<div class="mt-overlay-1 uploadFotoUsuario user-photo-container fotoUsuario grande">
								<a class="centraliza">
									#if($!usuario_foto_default)
										#if($usuario.urlFotoUsuario && $!usuario.nome)
											<img src="$!usuario.urlFotoUsuario" alt="Foto do $!usuario.nome" />
										#else
											<img src="$context/img/user.png" alt="Thumbnail" />
										#end
									#else
										<img src="$context/img/user.png" alt="Thumbnail" />
									#end
								</a>
								#if($mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
									<div class="mt-overlay small">
										<ul class="mt-info">
											<li>
												<div class="fileinput fileinput-new" data-provides="fileinput">
													<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
													<div>
														<span class="btn default btn-file btn-outline btn-fotoUser">
															<span class="fileinput-new">Fazer upload </span>
															<input type="file" name="logo">
															<input type="text" value="" id="form_arquivoFotoId" name="arquivoFotoId">
														</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								#end
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SIDEBAR USERPIC -->
		<!-- SIDEBAR USER TITLE -->
		<div class="profile-usertitle">
			<div class="profile-usertitle-name">
				<a href="$context/usuario.htm?id=$usuario.id">$usuario.nome $!usuario.sobrenome</a>
			</div>
			#if($usuario.funcao)
			<div class="profile-usertitle-job">$!usuario.funcao.nome</div>
			#end #if($usuario.perfilAtivo == false) <span class="font-red-mint">Desativado</span> #end
		</div>
		<!-- END SIDEBAR USER TITLE -->
		<!-- SIDEBAR BUTTONS -->
		<div class="profile-userbuttons">
			<a class="btn btn-circle blue btn-sm eq-width" href="$context/pages/mural.htm?user_post_id=$usuario.id"><i class="fa fa-inbox"></i> Mural</a>
			#if($!chat_on && $chat_on == 1)
				#if($!ENVIAR_MENSAGEM)
					<a class="btn btn-circle green btn-sm eq-width" target="_blank" href="$context/pages/chat.htm?user=$!usuario.id"><i class="fa fa-comments"></i> Chat</a>
				#end
			#end
		</div>
		<!-- END SIDEBAR BUTTONS -->
		<!-- SIDEBAR MENU -->
		<div class="profile-usermenu">
			<ul class="nav">
				#if($session.userInfo.id == $!usuario.id)
					#if($sideBox_notification_on && $sideBox_notification_on == "1")
						<li class="dashboard active"><a href="#sideBox-notificacoes" class="show-notifications" data-toggle="tab"> <i class="fa fa-bell-o"></i> <span class="notification-badge-text">Notificações</span></a></li>
					#end
				#end
				<li class="dados"><a> <i class="fa fa-cogs"></i> #if($session.userInfo.login == $usuario.login) Meus Dados #else Dados Cadastrais #end
				</a></li>
			</ul>
		</div>
		<!-- END MENU -->
	</div>
	<!-- END PORTLET MAIN -->
	<!-- PORTLET MAIN -->
	<div class="portlet light">
		<!-- STAT -->
		<div class="row list-separated profile-stat">
			<div class="col-md-4 col-sm-12 col-lg-4">
				<div class="uppercase profile-stat-title">
					<a href="$context/pages/mural.htm?user_post_id=$usuario.id" target="_blank"> <span class="uppercase profile-stat-title">$!usuario.posts.size()</span> <span
						class="uppercase profile-stat-text">Posts</span>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-lg-4">
				<div class="uppercase profile-stat-title">
					<a href="#tab_grupos" data-toggle="tab" class="act-tab"> <span class="uppercase profile-stat-title">$!usuario.grupos.size()</span> <span class="uppercase profile-stat-text">Grupos</span>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-lg-4">
				<div class="uppercase profile-stat-title">$!usuario.arquivos.size()</div>
				<div class="uppercase profile-stat-text">Arquivos</div>
			</div>
		</div>
		<!-- END STAT -->
		<div>
			#if($usuario.login)
			<div class="margin-top-20 profile-desc-link">
				<i class="fa fa-id-card" aria-hidden="true"></i> <a>$usuario.login</a>
			</div>
			#end #if($usuario.email)
			<div class="margin-top-20 profile-desc-link">
				<i class="fa fa-envelope" aria-hidden="true"></i> <a>$usuario.email</a>
			</div>
			#end #if($usuario.telefoneFixo)
			<div class="margin-top-20 profile-desc-link">
				<i class="fa fa-phone-square" aria-hidden="true"></i> <a href="#">&#40;$!usuario.dddTelefone&#41; $!usuario.telefoneFixo</a>
			</div>
			#end #if($usuario.telefoneCelular)
			<div class="margin-top-20 profile-desc-link">
				<i class="fa fa-mobile" aria-hidden="true"></i> <a href="#">&#40;$!usuario.dddCelular&#41; $!usuario.telefoneCelular</a>
			</div>
			#end 
			#if($!cadastro_usuario_twitter_on && $!cadastro_usuario_twitter_on == 1 && $usuario.twitter)
			<div class="margin-top-20 profile-desc-link">
				<i class="fa fa-twitter" aria-hidden="true"></i> <span>$!usuario.twitter</span>
			</div>
			<hr/>
			#if($!chatOn && $!chatOn == "true")
				<div class="margin-top-20 profile-desc-link">
					<i class="fa fa-circle chat-online" aria-hidden="true"></i> <span>online</span>
				</div>
			#else
				<div class="margin-top-20 profile-desc-link">
					<i class="fa fa-circle chat-offline" aria-hidden="true"></i> <span>offline</span>
				</div>
				<div class="margin-top-20 profile-desc-link">
					<i class="fa fa-clock-o" aria-hidden="true"></i> <span>Visto por último: $!usuario.dataOnlineChat</span>
				</div>
			#end  
			#end #if($usuario.dataCreated)
			<hr />
			<div class="margin-top-20 profile-desc-link">
				<i class="fa fa-calendar"></i> <span>Criado em: <span>$format.date($!usuario.dataCreated, "dd/MM/yyyy, HH:m:s")</span></span>
			</div>
			#end #if($usuario.dataUpdated)
			<div class="margin-top-20 profile-desc-link">
				<i class="fa fa-calendar-check-o"></i> <span>Atualizado em: <span>$format.date($!usuario.dataUpdated, "dd/MM/yyyy, HH:m:s")</span></span>
			</div>
			#end
		</div>
	</div>
	<!-- END PORTLET MAIN -->
</div>
<!-- END BEGIN PROFILE SIDEBAR -->
<!-- BEGIN PROFILE CONTENT -->
<div class="profile-content user">
	<div class="row">
		<div class="col-md-12">
			#if($sideBox_notification_on && $sideBox_notification_on == "1")
				<div class="portlet light notifies" id="sideBox-notificacoes">
					<div class="portlet-title">
						<div class="caption caption-md">
							<span class="caption-subject font-blue bold uppercase"><i class="fa fa-bell-o"></i> &nbsp;<span class="notification-badge-text">Notificações</span></span>
						</div>
						<div class="actions">
							<div class="btn-group notifications-opt">
								<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									Ações <i class="fa fa-angle-down"></i>
								</button>
								<ul class="dropdown-menu pull-right">
									<li class="bleed-divider"><a class="limparNotificacoes" rel="notificacoes">Marcar todas como lida</a></li>
									<li><a class="ver-notificacoes-lidas">Ver as notificações lidas</a></li>
									<li><a class="ver-notificacoes-nao-lidas">Ver as notificações não lidas</a></li>
									<li><a class="ver-todas-notificacoes not-link">Ver todas as notificações</a></li>	
								</ul>
							</div>
						</div>
					</div>
					<div class="portlet-body notifications-list-scroll scroll-list">
						<ul class="list-holder listaNotify clearfix"></ul>
					</div>
				</div>
			#end
			<div class="portlet light form">
				<div class="portlet-title tabbable-line">
					<div class="caption caption-md">
						<i class="fa fa-user font-blue"></i> <span class="caption-subject font-blue bold uppercase">Conta do Usuário</span>
					</div>
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab_dados-cadastrais" data-toggle="tab">Dados cadastrais</a></li>
						#if($session.userInfo.isAdmin() || $session.userInfo.isRoot())
							<li><a href="#tab_grupos" data-toggle="tab">Grupos</a></li>
						#end
						#if($!mural_amizade_on && $!mural_amizade_on == 1)
							#if($!usuario.id == $!session.userInfo.id)
								<li class="tab-amigos tab-badge hidden"><a href="#tab_amigos" data-toggle="tab">Conexões</a></li>
								<li class="tab-solicitacoes tab-badge hidden"><a href="#tab_solicitacoes" data-toggle="tab">Solicitações</a></li>
							#end
						#end
						#if($session.userInfo.isAdmin() || $session.userInfo.isRoot())
							<li><a href="#tab_horas" data-toggle="tab">Horas</a></li>
							<li><a href="#tab_permissoes" data-toggle="tab">Permissões</a></li>
						#end
					</ul>
				</div>
				<div class="portlet-body">
					<div class="tab-content">
						<!-- TAB Dados Pessoais -->
						<div class="tab-pane active fade in" id="tab_dados-cadastrais">
							<div class="row">
								<div class="col-md-6 form-group">
									<label class="control-label labelCampo" for="form_login">Login</label> $form.fields.login
								</div>
								<div class="col-md-6 form-group p-x-0">
									#if($!form.fields.sobrenome)
										<div class="col-md-6 form-group">
											<label class="control-label labelCampo" for="form_nome">Nome</label> $!form.fields.nome
										</div>
										<div class="col-md-6 form-group">
											<label class="control-label labelCampo" for="form_sobrenome">Sobrenome</label> $!form.fields.sobrenome
										</div>
									#else
										<div class="col-xs-12 form-group">
											<label class="control-label labelCampo" for="form_nome">Nome Completo</label> $!form.fields.nome
										</div>
									#end
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 form-group">
									<label class="control-label labelCampo" for="form_email">E-mail</label>
									$form.fields.email
								</div>
								#if($!form.fields.twitter)
								<div class="col-md-6 form-group">
									<label class="control-label labelCampo" for="form_twitter">Twitter</label>
									$!form.fields.twitter
								</div>
								#end
								#if($!form.fields.unidade)
								<div class="col-md-6 form-group">
									<label class="control-label labelCampo" for="form_unidade">Empresa</label>
									$!form.fields.unidade
								</div>
								#end
							</div>
							#if($form.fields.funcao)
							<div class="row">
								<div class="col-md-12 form-group">
									<label class="control-label labelCampo" for="form_funcao">Cargo</label>
									<div class="campoPost">
										$form.fields.funcao
									</div>
								</div>
							</div>
							#end
							<div class="row">
								<div class="col-md-3 form-group">
									<label class="control-label labelCampo" for="form_dddTelefone">Telefone Fixo</label>
									<div class="col-xs-3 noPaddingLeft noPaddingRight">$form.fields.dddTelefone</div>
									<div class="col-xs-6 noPaddingLeft noPaddingRight">$form.fields.telefoneFixo</div>
								</div>
								<div class="col-md-3 form-group">
									<label class="control-label labelCampo" for="form_dddCelular">Telefone Celular</label>
									<div class="col-xs-3 noPaddingLeft noPaddingRight">$form.fields.dddCelular</div>
									<div class="col-xs-6 noPaddingLeft noPaddingRight">$form.fields.telefoneCelular</div>
								</div>
								<div class="col-md-3 form-group">
									<label class="control-label labelCampo" for="form_dataNasc">Data de Nascimento</label>
									<div class="row col-md-10">$form.fields.dataNasc</div>
								</div>
								<div class="col-md-3 form-group">
									<label class="control-label labelCampo">Gênero</label>
									<div class="clearfix inputSexo">
										<div class="row col-md-12">
											<label for="form_genero_M" class="labelCheck"><input type="radio" #if($campos.isCampoReadOnly("genero")) disabled="disabled"
												#end #if($usuario.genero && $usuario.genero== "M") checked="checked" #end id="form_genero_M" value="M" name="genero">Masculino</label>
										</div>
										<div class="row col-md-12">
											<label for="form_genero_F" class="labelCheck"><input type="radio" #if($campos.isCampoReadOnly("genero")) disabled="disabled"
												#end #if($usuario.genero && $usuario.genero== "F") checked="checked" #end id="form_genero_F" value="F" name="genero"> Feminino</label>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								#if($!form.fields.estado)
								<div class="form-group col-md-4">
									<label class="control-label labelCampo" for="form_estado">Estado</label>
									<div class="campoPost">
										$!form.fields.estado
									</div>
								</div>
								#end
								#if($!form.fields.cidade)
								<div class="form-group col-md-4">
									<label class="control-label labelCampo">Cidade</label>
									<div class="campoPost cidade">
										<input type="text" id="id-cidade" class="form-control">
										$!form.fields.cidade
									</div>
								</div>
								#end
								#if($!form.fields.regiao)
								<div class="form-group col-md-4">
									<label class="contro-label labelCampo" for="form_regiao">Região</label>
									<div class="campoPost">$!form.fields.regiao</div>
								</div>
								#end
							</div>
							<div class="row">
								#if($usuario_cadastro_diretoria_on &&  $usuario_cadastro_diretoria_on == "1")
								<div class="col-md-5 form-group">
									<label class="control-label labelCampo">Diretoria</label> $form.fields.diretoria
								</div>
								#end
								#if($usuario_cadastro_area_on &&  $usuario_cadastro_area_on == "1")
								<div class="col-md-4 form-group">
									<label class="control-label labelCampo">Área</label> $form.fields.area
								</div>
								#end
								#if($login_connector_on && $login_connector_on == "1")
								<div class="col-md-3 form-group">
									<label class="control-label labelCampo">Conector Login</label>
									<div class="campoPost">$form.fields.flags</div>
								</div>
								#end
							</div>
						</div>
						<!-- Fim TAB Dados Pessoais -->
						<!-- TAB Grupos -->
						<div class="tab-pane fade in" id="tab_grupos">
							#if(($!ACESSO_CADASTROS && $!CADASTRAR_USUARIOS) || $campos.isCampoPublic("grupos"))
							<div class="form-group group-list">
								<label class="control-label labelCampo">Grupos que $!usuario.nome participa:</label>
								#if($campos.isCampoObrigatorioCadastroAdmin("grupos"))
									<span class="campoObrigatorio">*</span>
								#end
								<input class="form-control input-sm" type="text"
									#if($campos.isCampoReadOnly("grupos")) readonly="true" #end id="form_grupo" name="grupo">
							</div>
							#end $form.fields.ids
						</div>
						<!-- Fim TAB Grupos -->
						<!-- TAB amigos -->
						<div class="tab-pane fade in" id="tab_amigos">
							<div class="clearfix view-tabela always-visible">
								<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed table-amizades">
									<thead>
										<tr>
											<th>Nome</th>
											<th>Login</th>
											<th>E-mail</th>
											<th>Ação</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
						<!-- /TAB amigos -->
						<!-- TAB solicitacoes -->
						<div class="tab-pane fade in" id="tab_solicitacoes">
							<div class="clearfix view-tabela always-visible">
								<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed table-solicitacoes">
									<thead>
										<tr>
											<th>Nome</th>
											<th>Login</th>
											<th>E-mail</th>
											<th>Ação</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
						<!-- /TAB solicitacoes -->
						<!-- PRIVACY SETTINGS TAB -->
						<div class="tab-pane fade in" id="tab_permissoes">
							<div class="form-group">
								#if($!ACESSO_CADASTROS && $!CADASTRAR_USUARIOS)
									<label class="control-label labelCampo"> Nível de Permissão <small>(visualizado apenas por administradores)</small>
										#if($campos.isCampoObrigatorioCadastroAdmin("permissao")) <span class="campoObrigatorio relative">*</span> #end
									</label>
									<div class="nivelPermissao #if($!form.fields.permissao.error) error #end">
										#foreach($p in $perfis)
											<label class="labelPermissao #if($!usuario.permissao && ($p.id == $!usuario.permissao.id)) ativo #elseif(!$!usuario.permissao && $p.padrao) ativo #end">
												<table>
													<tr>
														<td class="nomeDescricao"><input type="radio" #if($!usuario.permissao && ($p.id== $!usuario.permissao.id))  checked="checked"
															#elseif(!$!usuario.permissao && $p.padrao)  checked="checked" #end #if($campos.isCampoReadOnly("permissao")) disabled="disabled" #end id="form_permissao_$p.id"
															value="$p.id" name="perfil">$p.nome</td>
														<td><p>Tem permissão de<strong> $p.descricao</strong></p></td>
													</tr>
												</table>
											</label>
										#end
									</div>
								#else
									<label class="control-label labelCampo"> Nível de Permissão </label>
									<label class="labelPermissao">
										<span class="campoPost">$!usuario.permissao.nome</span>
										<span class="campoPost">
											Tem permissão de<strong> $!usuario.permissao.descricao</strong>
											<input type="hidden" value="$!usuario.permissao.id" id="form_permissao_$!usuario.permissao.id" name="permissao">
										</span>
									</label>
								#end
							</div>
						</div>
						<!-- END PRIVACY SETTINGS TAB -->
						<!-- TAB HORAS-->
						<div class="tab-pane fade in" id="tab_horas">
							<div class="row">
								<div class="col-md-4 form-group">
									<label class="control-label labelCampo" for="horaAbertura">Hora Entrada</label>
									<input name="horaAbertura" id="horaAbertura" class="inputHorarioUsuario form-control input-sm"
										type="text" value="$format.date($!usuario.horaAbertura, " HH:mm")" autocomplete="off" />
								</div>
								<div class="col-md-4 form-group">
									<label class="control-label labelCampo" for="horaFechamento">Hora Saída</label>
									<input name="horaFechamento" id="horaFechamento" class="inputHorarioUsuario form-control input-sm"
										type="text" value="$format.date($!usuario.horaFechamento, " HH:mm")" autocomplete="off" />
								</div>
								<div class="col-md-4 form-group">
									<label class="control-label labelCampo" for="form_expediente">Expediente</label>
									<div class="campoPost">$form.fields.expediente</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 form-group">
									<label class="control-label labelCampo">Dias Trabalhados</label>
									<div class="table-responsive">
										<table class="table table-bordered tabelaHorario">
											<thead>
												<tr>
													<th>Segunda-Feira</th>
													<th>Terça-Feira</th>
													<th>Quarta-Feira</th>
													<th>Quinta-Feira</th>
													<th>Sexta-Feira</th>
													<th>Sábado</th>
													<th>Domingo</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- END TAB HORAS -->
					</div>
					<div class="clearfix text-right">
						<div class="margin-top-10">
							<a href="$context/cadastro/usuarios.htm" class="btn btn-default min-width"> Cancelar </a>
							<button class="btn btn-primary min-width btn-salvar">Salvar</button>
							$form.fields.salvar
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END PROFILE CONTENT -->