<script>
$(document).ready(function(){
	$('#slideshow').cycle({ 
		fx:     'scrollHorz', 
		prev:   '#prev', 
		next:   '#next', 
		after:   onAfter, 
		timeout: 10*1000,
		pause: false 
	});
	destroiBanner();
	function destroiBanner(){
		
		$('#slideshow').cycle('destroy');
		
		$("#slideshow, .slide").removeAttr("style");
		$('#slideshow').cycle({ 
			fx:     'scrollHorz', 
			prev:   '#prev', 
			next:   '#next', 
			after:   onAfter, 
			timeout: 10*1000,
			pause: false 
		});
	}
	$(window).resize(function(){
		setTimeout(destroiBanner(),500);
	});
	
	function onAfter(curr, next, opts) {
		var index = opts.currSlide;
		$('#banner .nav #prev')[index == 0 ? 'hide' : 'show']();
		$('#banner .nav #next')[index == opts.slideCount - 1 ? 'hide' : 'show']();
	}	
});
</script>
<div class="largura descricaoSite">
	<h2>Bem vindo, quisque quis nisl leo, sed tempor justo. Nulla aliquam, viverra, diam eros varius lacus, vitae placerat est nisi <strong>cursos online</strong>.</h2>
</div>
<div id="banner">
	<div class="nav largura"><a id="prev" href="#">Prev</a> <a id="next" href="#">Next</a></div>
    <div id="slideshow" class="largura">
        <div class="slide"> 
            <a href="#"><img src="$context/training//img/banner1.jpg" width="990" height="296" /></a>
            <div class="descricaoBanner">
              <div class="esquerda clearfix">
                    <h3>Vídeo aulas de Jiu Jitsu</h3>
                    <span>16 módulos</span>
                </div>
                <div class="esquerda clearfix">
                    <p>Integer tempus dignissim nisl, ac consequat eros malesuada et. Mauris molestie iaculis molestie. Phasellus pellentesque augue eu nisl venenatis pulvinar.</p>
                    <a href="#">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="slide"> 
            <a href="#"><img src="$context/training//img/banner3.jpg" width="990" height="296" /></a>
            <div class="descricaoBanner">
              <div class="esquerda clearfix">
                    <h3>Defesa Pessoal</h3>
                    <span>4 cursos</span>
                </div>
                <div class="esquerda clearfix">
                    <p>Integer tempus dignissim nisl, ac consequat eros malesuada et. Mauris molestie iaculis molestie. Phasellus pellentesque augue eu nisl venenatis pulvinar.</p>
                    <a href="#">Saiba Mais</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="sombra menor"></div>
<div id="cursosHome" class="largura">
	<h2 class="titulo"><span>Últimos <strong>Vídeos</strong></span></h2>
    <ul class="clearfix">
    	#foreach($p in $posts)
    	<li>
        	<div class="imagemVideo" style="#if($p.urlImagem) background-image:url($p.urlImagem); #else background-image:url($context/training/img/default.jpg); #end">
        		<a href="$context/training/video.htm?id=$p.id" class="iconePlay"></a>
        	</div>
        	<strong>$p.titulo</strong>
            #if($p.mensagem)<p>$p.mensagem</p>#end
            <a href="$context/training/video.htm?id=$p.id" class="botaoSombra cinza">Assistir</a>
        </li>
    	#end
</div>