<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header col-sm-3 col-md-2">
			<a class="navbar-brand #if($buildType == 'cielo') cielo #end" #if($!session && $!session.userInfo) href="$context/pages/mural.htm" #else href="$context" #end>$buildType</a>
		</div>
		#if($!session && $!session.userInfo)
		<div class="navbar-search" id="navbar-search">
<!-- 		<div class="navbar-search" data-step="3" data-intro="Usando a busca" data-position="bottom"> -->
			<div class="fundo-busca">
				<i class="icones busca"></i>
				<input type="text" name="busca" id="busca"
						#if($buildType== 'cetip') class="inputCetip"
						#elseif($buildType== 'cielo') class="inputCielo" #end
						placeholder="$messages.get('busca.posts.usuarios.grupos.label')" />

				<i class="icones dropdown tooltip-livecom" title="Filtrar posts"></i>
				<div class="filtroPosts">
					<div class="campoPost">
						<label class="labelPost" for="filtroNome">$messages.get('usuario.label')</label>
				      <div class="inputHolder post-users">
							<input type="text" class="input" value="" id="filtroNome" name="filtroNome" placeholder="Quem postou">
							<input type="hidden" name="filtroUser_post_id" id="filtroUser_post_id" value="">
						</div>
					</div>
				   <div class="campoPost">
						<label class="labelPost" for="filtroCategoria_id">$messages.get('data.label')</label>
						<div class="inputHolder">
							<select id="filtroData" name="filtroData">
								<option value="">$messages.get('todas.label')</option>
								<option value="1">$messages.get('hoje.label')</option>
								<option value="2">$messages.get('ontem.label')</option>
								<option value="3">$messages.get('ultima.semana.label')</option>
								<option value="6">$messages.get('mes.atual.label')</option>
								<option value="4">$messages.get('mes.anterior.label')</option>
								<option value="5" class="inserirData">$messages.get('inserir.data.label')</option>
							</select>
						</div>
					</div>	
					<div class="campoPost abreDatasFiltro">
						<div class="inputHolder">
							<div class="clearfix">
								<div class="col-md-6 p-x-0">
									<input type="text" name="filtroDataInicial" id="filtroDataInicial" class="input primeiro data" placeholder="$messages.get('de.label')"/>
								</div>
								<div class="col-md-6 p-x-0">
									<input type="text" name="filtroDataFinal" id="filtroDataFinal" class="input ultimo data" placeholder="$messages.get('ate.label')"/>
								</div>
							</div>
						</div>
					</div>
				   <div class="campoPost">
						<label class="labelPost" for="filtroTexto">$messages.get('titulo.label')</label>
				      	<div class="inputHolder">
					      	<input type="text" class="input" value="" id="filtroTexto" name="filtroTexto" placeholder="Palavra chave">
				        </div>
				   </div>
				   <div class="campoPost">
						<label class="labelPost" for="filtroCategoria_id">$messages.get('categoria.label')</label>
						<div class="inputHolder">
							<select id="filtroCategoria_id" name="filtroCategoria_id">
								<option value="" class="placeholder">$messages.get('todas.label')</option>
							</select>
						</div>
					</div>
					<div class="campoPost">
				   	<label class="labelPost" for="filtroTags">$messages.get('tags.label')</label>
				      <div class="inputHolder post-tags">
				      	<input type="text" class="input" size="20" value="" id="filtroTags" name="filtroTags" placeholder="Contém as tags">
							<input type="hidden" name="idsTagsFiltro" id="idsTagsFiltro" value="">
							<input type="hidden" name="idsFakeTagsFiltro" id="idsFakeTagsFiltro" value="">
				      </div>
				   </div>
				   <div class="campoPost">
				   	<label class="labelPost" for="filtroGrupo">$messages.get('grupos.label')</label>
				      <div class="inputHolder post-groups">
				      	<input type="text" class="input" size="20" value="" id="filtroGrupo" name="filtroGrupo" placeholder="Grupo da postagem">
							<input type="hidden" name="filtroGrupoIds" id="filtroGrupoIds" value="">
				      </div>
				  	</div>
				   <div class="campoPost noHeight">
			   		<label class="labelCheck"><input type="checkbox" value="1" id="filtroAnexo" name="filtroAnexo"/>$messages.get('contem.anexo.link.label')</label>
				   </div>
				   <div class="campoPost noHeight">
				   	<label class="labelCheck"><input type="checkbox" value="1" id="filtroDestaque" name="filtroDestaque"/>$messages.get('post.destaque.label')</label>
				   </div>
				   <div class="botoesForm clearfix menor">
				     	<input type="submit" class="btn btn-circle green filtroFiltrar" value="$messages.get('filtrar.label')">
				     	<a class="btCancelarFiltro btn btn-circle btn-default" href="#">$messages.get('cancelar.label')</a>         
				   </div>
				</div>
			</div>	
		</div>
		<div id="navbar" class="navbar-collapse" aria-expanded="false" style="height: 1px;">
			<ul class="nav navbar-nav navbar-right icones-header">
				#if($!session.userInfo && !$session.userInfo.isRoot())
					#if($mural_tutorial_on && $mural_tutorial_on == 1)
						<li class="li-tutorial bs-tooltip-bottom" title="Precisa de ajuda?">
							<a class="clearfix header-links tutorial ativo" data-toggle="modal" data-target="#modal-tutorial-start">
								<i class="linear-icons icone-ajuda-header"></i>
							</a>
						</li>
					#end
					#if($!web_layout_sideBox && $!web_layout_sideBox == 1)
						<li class="li-tags bs-tooltip-bottom"
							#if($mural_tags_on && $mural_tags_on == "1")
								title="Categorias e Tags"
							#else
								title="Categorias"
							#end
						>
		            	<a class="clearfix header-links ativo tags" data-toggle="tab" href="#sideBox-cads">
								<i class="linear-icons icone-tag-header"></i>
							</a>
		            </li>
		            <li class="li-users bs-tooltip-bottom" title="Grupos e Usuários">
		            	<a class="clearfix header-links ativo users" data-toggle="tab" href="#sideBox-user_grupo">
								<i class="linear-icons icone-user-header"></i>
							</a>
		            </li>
		            <li class="li-links bs-tooltip-bottom" title="Links">
		            	<a class="clearfix header-links ativo links" data-toggle="tab" href="#sideBox-links">
								<i class="linear-icons icone-links-header"></i>
							</a>
		            </li>
		            #if ( ($!PUBLICAR && $!ARQUIVOS) && $mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1" )
		            <li class="li-arquivos bs-tooltip-bottom" title="Arquivos">
		            	<a class="clearfix header-links ativo arquivos" data-toggle="tab" href="#sideBox-arquivos">
								<i class="linear-icons icone-arquivos-header"></i>
							</a>
		            </li>
		            #end
					#end
	            #if($!chat_on && $chat_on == 1)
	            	#if($!ENVIAR_MENSAGEM)
			            <li class="li-chat bs-tooltip-bottom" title="Chat">
								<a class="clearfix header-links ativo chat"><i class="linear-icons icone-chat-header"></i></a>
	            		</li>
	            	#end
	            #end
	            #if($!web_layout_sideBox && $!web_layout_sideBox == 1)
						#if($mural_data_reminder_post_on && $mural_data_reminder_post_on == "1")
		            <li class="li-reminders">
		            	<a class="clearfix header-links ativo reminder" data-toggle="tab" href="#sideBox-reminder">
		            		<span class="reminders header-badge"></span>
								<i class="linear-icons icone-reminder-header"></i>
							</a>
						</li>
						#end
					#end
	            #if($sideBox_notification_on && $sideBox_notification_on == "1")
	            <li class="li-notificacoes">
						<div class="clearfix header-links ativo notificacoes" data-toggle="tab">
							<span class="notifications header-badge"></span><i class="linear-icons icone-notification-header"></i>
							<div class="popMenu menuNotificacao alerta">
								<div class="listHeader clearfix">
									<p>$messages.get('voce.possui.label') <strong class="totalNotificacoes"></strong></p>
									#if($sideBox_notification_on && $sideBox_notification_on == "1")
										<a class="blue right ver-todas-notificacoes">Ver todas</a>
									#else
										<a class="blue right" href="$context/usuario.htm?id=$session.userInfo.id&notifications">Ver todas</a>
									#end
								</div>
								<ul class="listaNotify"></ul>
								<div class="listFooter">
									<a href="#" class="limparNotificacoes blue" rel="notificacoes">$messages.get('marcar.todas.como.lida')</a>
								</div>
							</div>
						</div>
					</li>
					#end
				#end
            <li class="li-settings" id="li-settings">
            	<div class="header-links ativo settings">
						<i class="linear-icons icone-config-header"></i>
						<div class="popMenu menuConfig">
							<ul>
								<li class="primeiro">
									<div class="paddingConfig clearfix">
										<div class="fotoUsuario mini">
											<div class="centraliza">
												<img src="$session.userInfo.urlFotoUsuario" alt="Foto do $session.userInfo.nome" />
											</div>
										</div>
										<strong class="nomeUsuario">$session.userInfo.nome</strong>
										<p class="nomeUsuario">$session.userInfo.login</p>
									</div>
								</li>
								
								#if($!session.userInfo.isRootEmpresa())
								<li><a href="$context/configuracoes/"><i class="linear-icons icone-cogs-grey"></i>Configurações da Empresa</a></li>
								#end
								
								#if($!session.userInfo.isRoot())
								<li><a href="$context/root/projeto.htm"><i class="linear-icons icone-briefcase-grey"></i>Selecionar Projeto</a></li>
								#end
								
								<li><a href="$context/cadastro/usuario.htm?id=$!session.userInfo.id"><i class="linear-icons icone-my-data-grey"></i>Editar meus dados</a></li>
								<li class="idiomas-padrao-config"><a href="#"><i class="linear-icons icone-globe-grey"></i>Idioma Padrão</a>
									<ul class="popMenu menuConfig left idiomas-config">
										<li class="idioma-padrao" data-id="-1">
											<a class="idioma-link" onclick="clickIdioma(this)" href="#" data-codigo="todos" data-id="-1">
<!-- 												<i class="linear-icons icone-globe-grey"></i> -->
												Todos idiomas
											</a>
										</li>
									</ul>
								</li>
								#if($!session.userInfo.isConnectorDefault())
								<li><a href="$context/pages/alterarSenha.htm"><i class="linear-icons icone-lock-grey"></i>$messages.get('menu.cadastro.alterarSenha')</a></li>
								#end
								
								#if($internacionalizacao == 1)
								<li class="abreIdiomas"><a href="#"><i class="linear-icons icone-globe-grey"></i>$messages.get('idiomas.label')</a>
									<ul class="popMenu menuConfig left idiomas-internacionalizacao #if($!session.userInfo.isRootEmpresa()) root-empresa #end">
										<li class="primeiro inter $es"><a href="#" id="es"><i class="ico-es"></i>$messages.get('espanhol.label')</a></li>
										<li class="ultimo inter $pt"><a href="#" id="pt"><i class="ico-br"></i>$messages.get('portugues.label')</a></li>
									</ul>
								</li>
								#end
								
								#if(($!mural_tipo_feed && $!mural_tipo_feed != "") && !$session.userInfo.isRoot())
								<li class="exibicao-feed"><a href="#"><i class="linear-icons icone-config-grey"></i> Exibição do feed</a>
									<ul class="popMenu menuConfig left config-feed #if($!session.userInfo.isRootEmpresa()) root-empresa #end #if($internacionalizacao != 1) no-internationalization #end">
										<li class="primeiro"><a data-mural="consolidado">Consolidado</a></li>
										<li class="ultimo"><a data-mural="expandido">Expandido</a></li>
									</ul>
								</li>
								#end
								
								<li class="ultimo"><a href="$context/logout.htm?clear=true"><i class="linear-icons icone-logout-grey"></i><strong>$messages.get('menu.sair')</strong></a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
			#end
		</div>
	</div>
</nav>