.font-white { color: #fff!important; }
.bg-hover-white:hover, .bg-white { background: #fff!important; }
.border-white{ border-color: #fff!important; }

.font-default { color: #e1e5ec!important; }
.bg-default, .bg-hover-default:hover { background: #e1e5ec!important; }
.border-default{ border-color: #e1e5ec!important; }

.font-dark { color: #2f353b!important; }
.bg-dark, .bg-hover-dark:hover { background: #2f353b!important; }
.border-dark{ border-color: #2f353b!important; }

.font-black{ color: #000!important; }
.bg-black, .bg-hover-black:hover { background: #000!important; }
.border-black{ border-color: #000!important; }

.font-blue { color: #3598dc!important; }
.bg-blue, .bg-hover-blue:hover { background: #3598dc!important; }
.border-blue { border-color: #3598dc!important; }

.font-blue-madison { color: #578ebe!important; }
.bg-blue-madison, .bg-hover-blue-madison:hover { background: #578ebe!important; }
.border-blue-madison { border-color: #578ebe!important; }

.font-blue-chambray { color: #2C3E50!important; }
.bg-blue-chambray, .bg-hover-blue-chambray:hover { background: #2C3E50!important; }
.border-blue-chambray { border-color: #2C3E50!important; }

.font-blue-ebonyclay { color: #22313F!important; }
.bg-blue-ebonyclay, .bg-hover-blue-ebonyclay:hover { background: #22313F!important; }
.border-blue-ebonyclay { border-color: #22313F!important; }

.font-blue-hoki { color: #67809F!important; }
.bg-blue-hoki, .bg-hover-blue-hoki:hover { background: #67809F!important; }
.border-blue-hoki { border-color: #67809F!important; }

.font-blue-steel { color: #4B77BE!important; }
.bg-blue-steel,.bg-hover-blue-steel:hover { background: #4B77BE!important; }
.border-blue-steel { border-color: #4B77BE!important; }

.font-blue-soft { color: #4c87b9!important; }
.bg-blue-soft, .bg-hover-blue-soft:hover { background: #4c87b9!important; }
.border-blue-soft { border-color: #4c87b9!important; }

.font-blue-dark { color: #5e738b!important; }
.bg-blue-dark,.bg-hover-blue-dark:hover { background: #5e738b!important; }
.border-blue-dark { border-color: #5e738b!important; }

.font-blue-sharp { color: #5C9BD1!important; }
.bg-blue-sharp, .bg-hover-blue-sharp:hover { background: #5C9BD1!important; }
.border-blue-sharp { border-color: #5C9BD1!important; }

.font-blue-link{ color: #337ab7; }
.bg-blue-link, .bg-hover-blue-link:hover { background: #337ab7!important; }
.border-blue-link { border-color: #337ab7!important; }

.font-green { color: #32c5d2!important; }
.bg-green,.bg-hover-green:hover { background: #32c5d2!important; }
.border-green { border-color: #32c5d2!important; }

.font-green-meadow { color: #1BBC9B!important; }
.bg-green-meadow, .bg-hover-green-meadow:hover { background: #1BBC9B!important; }
.border-green-meadow { border-color: #1BBC9B!important; }

.font-green-seagreen { color: #1BA39C!important; }
.bg-green-seagreen, .bg-hover-green-seagreen:hover { background: #1BA39C!important; }
.border-green-seagreen { border-color: #1BA39C!important; }

.font-green-turquoise { color: #36D7B7!important; }
.bg-green-turquoise,.bg-hover-green-turquoise:hover { background: #36D7B7!important; }
.border-green-turquoise { border-color: #36D7B7!important; }

.font-green-haze { color: #44b6ae!important; }
.bg-green-haze, .bg-hover-green-haze:hover { background: #44b6ae!important; }
.border-green-haze { border-color: #44b6ae!important; }

.font-green-jungle { color: #26C281!important; }
.bg-green-jungle, .bg-hover-green-jungle:hover { background: #26C281!important; }
.border-green-jungle { border-color: #26C281!important; }

.font-green-soft { color: #3faba4!important; }
.bg-green-soft, .bg-hover-green-soft:hover { background: #3faba4!important; }
.border-green-soft { border-color: #3faba4!important; }

.font-green-dark { color: #4DB3A2!important; }
.bg-green-dark, .bg-hover-green-dark:hover { background: #4DB3A2!important; }
.border-green-dark { border-color: #4DB3A2!important; }

.font-green-sharp { color: #2ab4c0!important; }
.bg-green-sharp, .bg-hover-green-sharp:hover { background: #2ab4c0!important; }
.border-green-sharp { border-color: #2ab4c0!important; }

.font-green-android { color: #A4C639!important; }
.bg-green-android, .bg-green-android:hover { background-color: #A4C639!important; }
.border-green-android { border-color: #A4C639!important; }

.font-grey { color: #E5E5E5!important; }
.bg-grey, .bg-hover-grey:hover { background: #E5E5E5!important; }
.border-grey { border-color: #E5E5E5!important; }

.font-grey-steel { color: #e9edef!important; }
.bg-grey-steel, .bg-hover-grey-steel:hover { background: #e9edef!important; } 
.border-grey-steel { border-color: #e9edef!important; }

.font-grey-cararra { color: #fafafa!important; }
.bg-grey-cararra, .bg-hover-grey-cararra:hover { background: #fafafa!important; }
.border-grey-cararra { border-color: #fafafa!important; }

.font-grey-gallery { color: #555!important; }
.bg-grey-gallery, .bg-hover-grey-gallery:hover { background: #555!important; }
.border-grey-gallery { border-color: #555!important; }

.font-grey-cascade { color: #95A5A6!important; }
.bg-grey-cascade,.bg-hover-grey-cascade:hover { background: #95A5A6!important }
.border-grey-cascade { border-color: #95A5A6!important; }

.font-grey-silver { color: #BFBFBF!important; }
.bg-grey-silver, .bg-hover-grey-silver:hover { background: #BFBFBF!important; }
.border-grey-silver { border-color: #BFBFBF!important; }

.font-grey-salsa { color: #ACB5C3!important; }
.bg-grey-salsa, .bg-hover-grey-salsa:hover { background: #ACB5C3!important; }
.border-grey-salsa { border-color: #ACB5C3!important; }

.font-grey-salt { color: #bfcad1!important; }
.bg-grey-salt, .bg-hover-grey-salt:hover { background: #bfcad1!important; }
.border-grey-salt { border-color: #bfcad1!important; }

.font-grey-mint { color: #525e64!important; }
.bg-grey-mint, .bg-hover-grey-mint:hover { background: #525e64!important; }
.border-grey-mint { border-color: #525e64!important; }

.font-red { color: #e7505a!important; }
.bg-hover-red:hover, .bg-red { background: #e7505a!important; }
.border-red { border-color: #e7505a!important; }

.font-red-pink { color: #E08283!important; }
.bg-hover-red-pink:hover, .bg-red-pink { background: #E08283!important; }
.border-red-pink { border-color: #E08283!important; }

.font-red-sunglo { color: #E26A6A!important; }
.bg-hover-red-sunglo:hover, .bg-red-sunglo { background: #E26A6A!important; }
.border-red-sunglo { border-color: #E26A6A!important; }

.font-red-intense { color: #e35b5a!important; }
.bg-hover-red-intense:hover, .bg-red-intense { background: #e35b5a!important; }
.border-red-intense { border-color: #e35b5a!important; }

.font-red-thunderbird { color: #D91E18!important; }
.bg-hover-red-thunderbird:hover, .bg-red-thunderbird { background: #D91E18!important; }
.border-red-thunderbird { border-color: #D91E18!important; }

.font-red-flamingo { color: #EF4836!important; }
.bg-hover-red-flamingo:hover, .bg-red-flamingo { background: #EF4836!important; }
.border-red-flamingo { border-color: #EF4836!important; }

.font-red-soft { color: #d05454!important; }
.bg-hover-red-soft:hover,.bg-red-soft { background: #d05454!important; }
.border-red-soft { border-color: #d05454!important; }

.font-red-haze { color: #f36a5a!important; }
.bg-hover-red-haze:hover, .bg-red-haze { background: #f36a5a!important; }
.border-red-haze { border-color: #f36a5a!important; }

.font-red-mint { color: #e43a45!important; }
.bg-hover-red-mint:hover, .bg-red-mint { background: #e43a45!important; }
.border-red-mint { border-color: #e43a45!important; }

.font-yellow { color: #c49f47!important; }
.bg-hover-yellow:hover, .bg-yellow { background: #c49f47!important; }
.border-yellow { border-color: #c49f47!important; }

.font-yellow-gold { color: #E87E04!important; }
.bg-hover-yellow-gold:hover, .bg-yellow-gold { background: #E87E04!important; }
.border-yellow-gold { border-color: #E87E04!important; }

.font-yellow-casablanca { color: #f2784b!important; }
.bg-hover-yellow-casablanca:hover, .bg-yellow-casablanca { background: #f2784b!important; }
.border-yellow-casablanca { border-color: #f2784b!important; }

.font-yellow-crusta { color: #f3c200!important; }
.bg-hover-yellow-crusta:hover, .bg-yellow-crusta { background: #f3c200!important; }
.border-yellow-crusta { border-color: #f3c200!important; }

.font-yellow-lemon { color: #F7CA18!important; }
.bg-hover-yellow-lemon:hover, .bg-yellow-lemon { background: #F7CA18!important; }
.border-yellow-lemon { border-color: #F7CA18!important; }

.font-yellow-saffron { color: #F4D03F!important; }
.bg-hover-yellow-saffron:hover, .bg-yellow-saffron { background: #F4D03F!important; }
.border-yellow-saffron { border-color: #F4D03F!important; }

.font-yellow-soft { color: #c8d046!important; }
.bg-hover-yellow-soft:hover, .bg-yellow-soft { background: #c8d046!important; }
.border-yellow-soft { border-color: #c8d046!important; }

.font-yellow-haze { color: #c5bf66!important; }
.bg-hover-yellow-haze:hover, .bg-yellow-haze { background: #c5bf66!important; }
.border-yellow-haze { border-color: #c5bf66!important; }

.font-yellow-mint { color: #c5b96b!important; }
.bg-hover-yellow-mint:hover, .bg-yellow-mint { background: #c5b96b!important; }
.border-yellow-mint { border-color: #c5b96b!important; }

.font-purple { color: #8E44AD!important; }
.bg-hover-purple:hover, .bg-purple { background: #8E44AD!important; }
.border-purple { border-color: #8E44AD!important; }

.font-purple-plum { color: #8775a7!important; }
.bg-hover-purple-plum:hover, .bg-purple-plum { background: #8775a7!important; }
.border-purple-plum { border-color: #8775a7!important; }

.font-purple-medium { color: #BF55EC!important; }
.bg-hover-purple-medium:hover, .bg-purple-medium { background: #BF55EC!important; }
.border-purple-medium { border-color: #BF55EC!important; }

.font-purple-studio { color: #8E44AD!important; }
.bg-hover-purple-studio:hover, .bg-purple-studio { background: #8E44AD!important; }
.border-purple-studio { border-color: #8E44AD!important; }

.font-purple-wisteria { color: #9B59B6!important; }
.bg-hover-purple-wisteria:hover, .bg-purple-wisteria { background: #9B59B6!important; }
.border-purple-wisteria { border-color: #9B59B6!important; }

.font-purple-seance { color: #9A12B3!important; }
.bg-hover-purple-seance:hover, .bg-purple-seance { background: #9A12B3!important; }
.border-purple-seance { border-color: #9A12B3!important; }

.font-purple-intense { color: #8775a7!important; }
.bg-hover-purple-intense:hover, .bg-purple-intense { background: #8775a7!important; }
.border-purple-intense { border-color: #8775a7!important; }

.font-purple-sharp { color: #796799!important; }
.bg-hover-purple-sharp:hover, .bg-purple-sharp { background: #796799!important; }
.border-purple-sharp { border-color: #796799!important; }

.font-purple-soft { color: #8877a9!important; }
.bg-hover-purple-soft:hover,.bg-purple-soft { background: #8877a9!important; }
.border-purple-soft { border-color: #8877a9!important; }