.mce-container, .mce-container *:not(.mce-ico), .mce-widget, .mce-widget *:not(.mce-ico), .mce-reset{ font-family: "Open Sans", Arial, Verdana, sans-serif; }

.mce-panel{
	@include prefix(border-radius, 4px, webkit moz ms o);
	background-color: #fff!important;
}

.mce-panel.mce-foot{
	@include prefix(border-radius, 0, webkit moz ms o);
}

.mce-btn{
	@include prefix(border-radius, 4px, webkit moz ms o);

	&:not(.mce-primary){
		background-color: #fff!important;
	}
}

.mce-fullscreen{
	z-index: 9999!important;
}

.mce-container-body.mce-stack-layout{
	position: relative;

	.mce-toolbar-grp.mce-container.mce-panel.mce-stack-layout-item{
		position: absolute!important;
		bottom: 0!important;
		width: 100%;
		border-top: 1px solid rgba(0,0,0,0.2);
		@include prefix(border-radius, 0 0 4px 4px, webkit moz ms o);
	}

	.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item{
	    border-width: 0px 0px 0px!important;
		padding-bottom: 37px;

		@media screen and (min-width: 1185px) and (max-width: 1720px){ padding-bottom: 69px; }
		@media screen and (min-width: 992px) and (max-width: 1184px){ padding-bottom: 128px; }
		@media screen and (min-width: 870px) and (max-width: 991px){ padding-bottom: 128px; }
		@media screen and (max-width: 869px){ padding-bottom: 69px; }
	}
}

.mce-tinymce{
	&.mce-drag{ border-color: #0096d0; }
}

#mce-modal-block.mce-in{ opacity: .6!important; }