@charset "UTF-8";

html, body { height: auto; min-height: 100%; color: #323232; background: #FFF; font-family: 'Open Sans', verdana, sans-serif; font-size: 11px; max-width: 100%; }

body { margin: 0 12px; }

a{
	color: #0096d0; text-decoration: none;
	&:hover{ text-decoration: underline; }
}

b, strong{ font-weight: 700; }

img{
	display: block;
	max-width: 100%;
}

p{
	max-width: 100%;
	word-wrap: break-word;
	margin: 5px 0;
}