//content_css do editor wysiwyg
//aplica esse css como base do documento, para sobrescrever as formatações padrão do browser

@charset "UTF-8";

*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

html, body { height: auto; min-height: 100%; color: #4c4c4c; background: #FFF; font-family: 'Open Sans', Arial, 'Helvetica-Neue-Light', sans-serif, verdana; font-size: 14px; line-height: 18px; max-width: 100%; }

div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, textarea, blockquote, th, td { margin: 0; padding: 0; }

a{
	color: #0096d0; text-decoration: none;

	&:hover{ text-decoration: underline; }
}

table{
	border-collapse: collapse;
	border: 1px solid #ccc;

	td, th{ padding: 6px 12px; }
}

b, strong{ font-weight: 700; }

img{
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

p{
	max-width: 100%;
	word-wrap: break-word;
	margin: 5px 0;
	font-size: 14px;
	line-height: 18px;
}

h1, h2, h3, h4, h5, h6{ margin: 5px 0 10px; }