/***** TABELAS *****/
.table{
	border: 1px solid #ddd;
	
	td, th{ font-size: 14px; }
	
	.btn {
		margin-left: 5px; margin-right: 0; margin-top: 0;
		&:first-child{ margin-left: 0; }
	}

	thead{
		tr{
			th{
				font-size: 14px; font-weight: 600;

				&.two-buttons{ width: 85px!important; max-width: 85px!important; min-width: 85px!important; }
				&.three-buttons{ width: 130px!important; max-width: 130px!important; min-width: 130px!important; }
				&.four-buttons{ width: 180px!important; max-width: 180px!important; min-width: 180px!important; }
				&.five-buttons{ width: 230px!important; max-width: 230px!important; min-width: 230px!important; }
			}
		}
	}

	tbody{
		tr{
			&.selected{ background-color: rgba(0, 150, 208, 0.2); }

			td{
				&.two-buttons{ width: 85px!important; max-width: 85px!important; min-width: 85px!important; }
				&.three-buttons{ width: 130px!important; max-width: 130px!important; min-width: 130px!important; }
				&.four-buttons{ width: 180px!important; max-width: 180px!important; min-width: 180px!important; }
				&.five-buttons{ width: 230px!important; max-width: 230px!important; min-width: 230px!important; }
			}
		}
	}

	.link-column{
		a{
			margin-right: 5px;
			&:last-child{ margin-right: 0; }
		}

		button{
			@include prefix(appearance, none, webkit moz ms o);
			border: none;
			background: initial;
			@extend %no-padding;

			&:focus, &:hover{ text-decoration: underline; outline: none; }
		}
	}

	&.no-margin { margin:0!important; }
	&.fields{
		td { padding: 0 0 15px 0; }
	}

	&.email{
		table{
			&.fields{
				td{
					&:not(.fields){
						input, textarea, select{ width: 100%!important; }
					}
				}
			}
		}
	}
}

table{
	&.fields{
		td{
			&.fields{
				label, span.required {
					font-size: 14px;
					color: #333;
					padding-bottom: 0;
					display: inline;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-weight: 600;
					margin-bottom: 5px;
				}
			}
		}
	}
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th,
.table-padding>tbody>tr>td, .table-padding>tbody>tr>th {
    padding: 6px 12px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    font-size: 12px;
}

#table-container { overflow:auto; }

.table-bordered{
	> thead, > tbody, > tfoot{
		> tr{
			> td, > th{
				word-wrap: break-word;
				text-overflow: ellipsis;
				max-width: 610px;
				position: relative;
			}
		}
	}
	
	&.wrap{
		> thead, > tbody, > tfoot{
			> tr{
				> td, > th{
					white-space: pre-wrap;
				}
			}
		}
	}

	&.ellipsify{
		> thead, > tbody, > tfoot{
			> tr{
				> td, > th{
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}
	}

	> thead{
		> tr{
			> th{ @extend %no-border-bottom; }
		}
	}

	> tbody{
		> tr{
			> td{
				.form-group{ @extend %no-margin-bottom; }
			}
		}
	}
}


#table, #tabelaDet, #tableNaoExpandido, #tabelaExpandida, .tabela, .tableUpload, #logSql {
	width: 98%;
	font-size: 12px;
	vertical-align: middle;
	clear: both;
	margin-top: 6px !important;
	margin-bottom: 6px !important;
	margin-left: auto;
	margin-right: auto;
	max-width: none !important;
	border: 1px solid $ddd;
}

#table thead th,#tabelaDet thead th,#tableNaoExpandido thead th,#tabelaExpandida thead th,.tabela thead th,.tableUpload thead th,#logSql thead th {
	font-weight: 600;
	position: relative;
	word-wrap: break-word;
	white-space: normal;
	text-overflow: ellipsis;
	max-width: 610px;
	padding: 6px 12px;
	line-height: 1.42857143;
	vertical-align: middle;
	font-size: 12px;
	outline: 0!important;
	border: 1px solid #ddd;
}

.dataTable{
	th{
		&.sorting:after { opacity: 0.5; }
		&.sorting_asc, &.sorting_desc{
			&:after{ opacity: 1 !important; }
		}
	}

	> tbody{
		> tr{
			> td{
				&:last-child{ @extend %text-center; }
			}
		}
	}
}
.dataTable th

#logSql thead th { min-width: 200px; }

#table thead th.sortable,#table thead th.ascending,#table thead th.descending,.tabela thead th.sortable,
.tabela thead th.ascending,.tabela thead th.descending,.tableUpload thead th.sortable,.tableUpload thead th.ascending,.tableUpload thead th.descending {
	padding: 0;
}

#table thead th.sortable>a,#table thead th.ascending>a,#table thead th.descending>a,.tabela thead th.sortable>a,.tabela thead th.ascending>a,
.tabela thead th.descending>a,.tableUpload thead th.sortable>a,.tableUpload thead th.ascending>a,.tableUpload thead th.descending>a {
	padding: 10px 20px 10px 10px;
	display: block;
	color: #FFF;
	text-decoration: none;
	position: relative;
}

#table thead th.sortable>a:after,#table thead th.ascending>a:after,#table thead th.descending>a:after,
.tabela thead th.sortable>a:after,.tabela thead th.ascending>a:after,.tabela thead th.descending>a:after,.tableUpload thead th.sortable>a:after,
.tableUpload thead th.ascending>a:after,.tableUpload thead th.descending {
	background: url(../imagens/icones.png) no-repeat -153px -152px;
	content: " ";
	display: block;
	width: 12px;
	height: 22px;
	position: absolute;
	top: 7px;
	right: 5px;
}

#table thead th.ascending>a:after,.tabela thead th.ascending>a:after,.tableUpload thead th.ascending>a:after {
	background-position: -131px -45px;
	height: 12px;
	top: 11px;
}

#table thead th.descending>a:after,.tabela thead th.descending>a:after,.tableUpload thead th.descending>a:after {
	background-position: -102px -45px;
	height: 12px;
	top: 11px;
}

#table tbody tr:hover,#table tbody tr.odd:hover,#tabelaDet tbody tr:hover,#tabelaDet tbody tr.odd:hover,#tableNaoExpandido tbody tr:hover,
#tableNaoExpandido tbody tr.odd:hover,#tabelaExpandida tbody tr:hover,#tabelaExpandida tbody tr.odd:hover,.tabela tbody tr:hover,
.tabela tbody tr.odd:hover,.tableUpload tbody tr:hover,.tableUpload tbody tr.odd:hover,.rTableRow.results:hover {
	background-color: #f5f5f5;
}

#table tbody td, #tabelaDet tbody td, #tableNaoExpandido tbody td, #tabelaExpandida tbody td, .tabela tbody td, .tableUpload tbody td {
	text-align: center;
	word-wrap: break-word;
	white-space: normal;
	text-overflow: ellipsis;
	max-width: 610px;
	position: relative;
   	padding: 6px 12px;
   	border: 1px solid #ddd;
}

#logSql tbody td{
	text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 610px;
    position: relative;
    padding: 6px 12px;
    border: 1px solid #ddd;
    white-space: nowrap;
}

#table tbody tr.odd, #tabelaDet tbody tr.odd, #tableNaoExpandido tbody tr.odd tabelaExpandida tbody tr.odd, .tabela tbody tr.odd,
.tableUpload tbody tr.odd, #logSql tbody tr.odd {
	background: #f1f1f1;
	word-wrap: break-word;
	vertical-align: middle;
}

#table tbody td>a, .tabela tbody td>a, .tableUpload tbody td>a, #logSql tbody td>a {
	color: #0096d0;
	text-decoration: none;
}

.tableUpload>tbody>tr.carregando>td {
	background: url(../../img/carregando.gif) no-repeat center center;
	width: 100%;
	height: 35px;
}

#table td.error, .tabela td.error, #tableNaoExpandido td.error, #logSql td.error {
	color: #808080;
	font-size: 24px;
	text-align: center;
	padding: 20px 10px;
}

tr.fields > td > select#form_tipo{ width: 350px!important; }

#tabelaDet tr.even{ background: #fff; }

.tabelaPequena {
	width: 95%;
	margin: 0 auto;
	color: #808080;
	font-size: 14px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	> tbody td {
		border-right: 1px solid #d8dce0;
		border-bottom: 1px solid #d8dce0;
		padding: 10px;
		background: #FFF;
		max-width: 320px;
		word-wrap: break-word;
	}

	th{
		&.st-head-row-main{
			a { color: #fff; }
		}
	}

	td{
		> a { color: #0096d0; text-decoration: none; }

		&.st-key a { color: #808080; }
	}

	.st-head-row {
		font-weight: 600;
		text-align: center;
		color: #808080;
		background: #e8edef;
		padding: 10px;
		border-bottom: 1px solid #d8dce0;
		border-top: 1px solid #d8dce0;
		text-decoration: none;

		&.st-head-row-main { background: #196f9a; color: #FFF; }
	}

	a{ @extend %no-hover-decoration; }
}

.st-key { @extend %text-right; font-weight: 600; width: 50%; }
.st-value { @extend %text-left; }

.tabelaError.comOverflow { overflow-y: auto; }


.tabelaHorario{
	thead{
		tr{
			th{ width: 14.2%; font-size: 13px; }
		}
	}
	
	tbody{
		tr{
			td{
				@extend %text-center;
				
				> .holder{ min-height: 16px; max-height: 16px; }
			}
		}
	}
}



/*** TABELA RESPONSIVA DIV  ***/
.rTable, .rTableMsg {
	display: table;
	width: 98%;
	margin: 0 auto;
	font-size: 14px;

	a{ @extend %cursor-pointer; }

	&.filter{ @extend %no-margin-top; }
}

.rTableRow {
	display: table-row; width: 100%;

	&.odd{ background: #fff; }
	
	&.error {
		text-align: center;
		color: #808080;
		height: 68px;

		&:after {
			content: "Nenhum resultado encontrado.";
			font-size: 24px;
			left: 45%;
			margin-left: -100px;
			padding: 20px 10px;
			position: absolute;
		}
	}
}

.rTableCell, .rTableHead {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	word-wrap: break-word;
	white-space: normal;
	text-overflow: ellipsis;
	max-width: 610px;
	position: relative;
	padding: 6px 12px;
	outline: 0!important;
	border: 1px solid #ddd;
	font-size: 12px;
	vertical-align: middle;

	&:not(:first-child){ @extend %no-border-left; }
}

.rTableHead {
	font-weight: 600;
   	text-overflow: ellipsis;
   	line-height: 1.42857143;
}

.rTableCell{
	border-top: none;

	&:before {
		content: attr(data-th) ": ";
		display: inline;
		font-weight: 600;
		width: 100%;
		text-align: center;
		color: #196f9a;
	}
}

.stacktable{
	.large-only { display: table; }
	.small-only { display: none; margin: 5px auto; }
}

.capital-conector .table > tbody > tr > td:nth-child(6){ text-transform: capitalize; }

.tableModal{
	th, td{
		padding: 6px;
		font-size: 14px;
		@extend %font-weight-600;
		@extend %text-center;
	}
}

table.row-reorder tbody tr td:first-child { cursor: move; }