.panel {
    @include prefix(box-shadow, none!important, webkit moz ms o);

    .panel-title{
        > a{ @extend %no-hover-decoration; }
    }

    &.with-nav-tabs{
		.panel-heading { padding: 5px 5px 0 5px; }
		.nav-justified { margin-bottom: -1px; }
        .nav-tabs { @extend %no-border-bottom; }
	}
}

.panel-group .panel { overflow: visible; }

.panel-heading {
    background: #eee;
    a{
        @extend %no-hover-decoration;
        &:active, &:focus{ text-decoration: none; }
    }
}

.panel-default>.panel-heading { background: #fff; color: #fff; font-size: 18px; line-height: 18px; }