<div class="page-content">
	<h3 class="page-title">Detalhes Relatório Auditoria</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/report/auditoriaReport.htm">Relatório de Auditoria</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Detalhes Relatório Auditoria</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; Dados da Auditoria</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-up tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body postInfo">
					<div class="clearfix">
						<div class="col-md-6 bordered">
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">Entidade:</label>
								<span class="sbold font-blue-madison">$!auditoria.entidade</span>
							</div>
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">Alterado por:</label>
								<a class="sbold" href="$context/usuario.htm?id=$!auditoria.usuario.id">$!auditoria.usuario.nome</a>
							</div>
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">Data:</label>
								<span class="tooltip-livecom" title="$!auditoria.data">$format.date($!auditoria.data, "dd/MM/yyyy, HH:m:s")</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">Ação:</label>
								<span class="sbold font-blue-madison">$!auditoria.acao</span>
							</div>
							#if($!auditoria.status)
							<div class="campoPost postInfo clearfix">
								<label class="control-label labelCampo">Status:</label>
								<span class="sbold font-blue-madison">$!auditoria.status</span>
							</div>
							#end
						</div>
					</div>
				</div>
			</div>
			
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-flag"></i> Detalhes da Auditoria</span>
					</div>
					#if($exportar_csv_on && $exportar_csv_on == "1")
						#if($!EXPORTACOES)
							<div class="actions">
								<div class="btn-group">
									<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
									 <ul class="dropdown-menu pull-right">
										<!-- <li>
											<a href="javascript:;">
												<i class="fa fa-file-pdf-o"></i> Exportar PDF </a>
										</li> -->
										<li>
											<a href="javascript:;">
												<i class="fa fa-file-excel-o"></i> Exportar CSV </a>
										</li>
									</ul>
								</div>
							</div>
						#end
					#end
				</div>
				<div class="portlet-body clearfix table-responsive">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer no-margin dtr-inline collapsed">
						<thead>
							<tr>
								<th width="100%">Detalhes da entidade</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>$!auditoria.value1</td>
							</tr>
						</tbody>
					</table>
					
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer no-margin dtr-inline collapsed">
						<thead>
							<tr>
								<th colspan='2' class='text-center'>Mensagem</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan='2' class='text-center'>$!auditoria.mensagem</td>
							</tr>
						</tbody>
					</table>
					#if($auditoria.exception)
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer no-margin dtr-inline collapsed">
						<thead>
							<tr>
								<th colspan='2' class='text-center'>Exception</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan='2' class='text-center'>$!auditoria.exception</td>
							</tr>
						</tbody>
					</table>
					#end
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")