<div class="page-content">
	<h3 class="page-title">Detalhes Relatório de Audiência</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			#if($!VISUALIZAR_RELATORIOS)
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/report/audienciaReport.htm">Relatório de Audiência</a> <i class="fa fa-angle-right"></i></li>
			#else
			<li><a href="$context/pages/post.htm?id=$!post.id">Post: $!post.titulo</a> <i class="fa fa-angle-right"></i></li>
			#end
			<li><span>Detalhes Relatório de Audiência</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; Dados do Comunicado</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-up bs-tooltip" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body postInfo">
					<div class="clearfix">
						<div class="col-md-6 bordered">
							<div class="campoPost postInfo">
								<label class="labelCampo control-label">Título:</label>
								<a class="sbold" href="$context/pages/post.htm?id=$!post.id">$!post.titulo</a>
							</div>
							<div class="campoPost postInfo">
								<label class="labelCampo control-label">Postado por:</label>
								<a class="sbold" href="$context/usuario.htm?id=$!post.usuario.id">$!post.usuario.nome</a>
							</div>
							<div class="campoPost postInfo">
								<label class="labelCampo control-label">Horário:</label>
								<span class="bs-tooltip" title="$!post.dataPublicacao">$format.date($!post.dataPublicacao, "dd/MM/yyyy, HH:m:s")</span>
							</div>
							<div class="campoPost postInfo view-count">
								<label class="labelCampo control-label"></label>
								<a class="verTodos">Ver Todos</a>
								<div class="progress audiencia">
									<div class="progress-bar" role="progressbar"></div>
								</div>
								<span class="situacaoImportacao situacaoInicial">0</span>
								<span class="situacaoImportacao situacaoViews" style="position:absolute; right:0;"></span>
							</div>
						</div>
						<div class="col-md-6">
							#if($!post.categoria)
							<div class="campoPost postInfo">
								<i class="icoCateg bs-tooltip" title="Categoria"></i>
								<a class="sbold" href="$context/pages/mural.htm?categoria=$!post.categoria.id">$!post.categoria.nome</a>
							</div>
							#end
							#if($!post.grupos)
							<div class="campoPost postInfo clearfix">
								<i class="icoGroup bs-tooltip" title="Grupos"></i>
								<ul class="token-input-list noBg">
									#foreach($g in $post.grupos)
										<li class="token-input-token"><a href="$context/pages/mural.htm?grupo=$g.id">$g.nome</a></li>
									#end
								</ul>
							</div>
							#end
							#if($post.tagsList.size() > 0)
							<div class="campoPost postInfo clearfix">
								<i class="icoTag bs-tooltip" title="Tags"></i>
								<ul class="token-input-list noBg">
									#foreach($t in $post.tagsList)
										<li class="token-input-token"><a href="$context/pages/mural.htm?tag=$t.id">$t.nome</a></li>
									#end
								</ul>
							</div>
							#end
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">
									<i class="fa fa-eye bs-tootlip" title="Visualizações" aria-hidden="true"></i>&nbsp; Visualizações:
								</label>
								<span class="sbold viewsCount"></span>
							</div>
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">
									<i class="fa fa-check bs-tooltip" title="Leituras" aria-hidden="true"></i>&nbsp; Leituras:
								</label>
								<span class="sbold readCount"></span>
							</div>
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">
									<i class="fa fa-thumbs-o-up tooltip-livecom" title="Likes" aria-hidden="true"></i>&nbsp; Likes:
								</label>
								<span class="sbold likeCount"></span>
							</div>
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">
									<i class="fa fa-star tooltip-livecom" title="Favoritos" aria-hidden="true"></i>&nbsp; Favoritos:
								</label>
								<span class="sbold faveCount"></span>
							</div>
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">
									<i class="fa fa-commenting-o tooltip-livecom" title="Comentários" aria-hidden="true"></i>&nbsp; Comentários:
								</label>
								<span class="sbold comentCount"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-line-chart"></i> Detalhes Relatório de Audiência</span>
					</div>
					#if($exportar_csv_on && $exportar_csv_on == "1")
						#if($!EXPORTACOES)
							<div class="actions">
								<div class="btn-group">
									<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i>
									</button>
									 <ul class="dropdown-menu pull-right">
										<!-- <li>
											<a href="javascript:;">
												<i class="fa fa-file-pdf-o"></i> Exportar PDF </a>
										</li> -->
										<li>
											<a href="javascript:;">
												<i class="fa fa-file-excel-o"></i> Exportar CSV </a>
										</li>
									</ul>
								</div>
							</div>
						#end
					#end
				</div>
				<div class="portlet-body clearfix table-responsive">
					<table
						class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead class="DT-Head">
							<tr>
								<th>Usuario</th>
								<th>Comunicado</th>
								<th>Visualizações</th>
								<th>Leituras</th>
								<th>Likes</th>
								<th>Favoritos</th>
								<th>Comentarios</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	detalhesAudiencia();
});

var id = "$!post.id";
var filtro;

jsHttp.get("$context/rest/v1/notification/quantidade/" + id, {
	beforeSend: function(){
		$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
	},
	success : function(data) {
		$('.portlet-body.clearfix').find('.dataTables_processing').remove();	
		var views = data.total;
		var iteracao = data.iteracao;
		var width = (iteracao/views)*100;
		
		if(width > 100){
			width = 100;
		}else if(width <= 0){
			width = 0;
		}
		
		$('.progress-bar').attr('aria-valuemin','0'); 
		$('.progress-bar').attr('aria-valuenow',views); 
		$('.progress-bar').attr('data-iteracao',iteracao);
		$('.progress-bar').attr('style','width:'+width+'%');
		$('.situacaoViews').append(views);			
		$(".view-count > label").html("Post visto por "+iteracao+" de "+views+" pessoas");
	}
});
	
$(".progress.audiencia").on("click",function(e){
	var clickPosition = $(e.target).attr('class');
	if(clickPosition == "progress-bar"){
		detalhesAudiencia(1);
	} else {
		detalhesAudiencia(0);
	}
});
 
$(".verTodos").on("click",function(e){
	detalhesAudiencia();
});

var dTable = null;
function detalhesAudiencia(filtro){
	jsHttp.get("$context/rest/v1/report/audiencia/detalhes", {
		data : {
			postId : id
		},
		success : function(data) {
			var likes = 0;
			var coments = 0;
			var fav = 0;
			var views = 0;
			var read = 0;
			var conteudo = "";
			var filtroCounter;
			var dataInteraction = new Object();
			
			for ( var i in data) {
				filtroCounter = data[i].countLikes +  data[i].countComentarios + data[i].countFavoritos + (data[i].lida == true ? 1 : 0);
				if(filtro == 0 || filtro == 1){
					if(filtro == 0 && filtroCounter == 0){
						conteudo = createTableFiltro(data,i,conteudo);
					}else if(filtro == 1 && filtroCounter >= 1){
						conteudo = createTableFiltro(data,i,conteudo);
					}
				}else{
					conteudo = createTableFiltro(data,i,conteudo);
				}
			}
			if (dTable != null) {
				$(".table > tbody").empty();
				$(".likeCount").empty();
				$(".faveCount").empty();
				$(".comentCount").empty();
				$(".viewsCount").empty();
				$(".readCount").empty();
				dTable.clear();
				dTable.destroy();
			}
			
			for ( var i in data) {
				likes += data[i].countLikes;
				fav += data[i].countFavoritos;
				coments += data[i].countComentarios;
				if(data[i].visualizado == true){
					views++;
				}
				if(data[i].lida)
					read++;
				
			}
			
			$(".likeCount").append(likes);
			$(".faveCount").append(fav);
			$(".comentCount").append(coments);
			$(".viewsCount").append(views);
			$(".readCount").append(read);
			dTable = loadTable(conteudo);
			dTable.data(conteudo).draw();
			filtro = 0;
		}
	});
}

function createTableFiltro(data,i,conteudo){
	var campo = data[i];
	conteudo += createTable(campo);
	return conteudo;
}
	
function createTable(campo) {
	var rTable = "";
	var progressCount = campo.countLikes + campo.countFavoritos + campo.countComentarios;
	if(progressCount >=1){
		rTable += "<tr  class='ProgressFilter' data-id='"+campo.postId+"'>";
	}else{
		rTable += '<tr data-id="'+campo.postId+'">';
	}

	rTable += "<td align='center'><a class='blue' href='$context/usuario.htm?id="
			+ campo.usuarioId + "' >" + campo.usuario + "</a></td>";
	rTable += "<td align='center'><a class='blue' href='$context/pages/post.htm?id="
			+ campo.postId + "' >" + campo.titulo + "</a></td>";
			
	if(campo.visualizado == true){
		rTable += "<td class='text-center'><i class='fa fa-eye icon-badge font-blue'></i></td>";
	}else{
		rTable += "<td class='text-center'><i class='fa fa-eye icon-badge font-grey-salt'></i></td>";
	}
	if(campo.lida){
		rTable += "<td class='text-center'><i class='fa fa-check icon-badge font-blue'></i></td>";
	} else {
		rTable += "<td class='text-center'><i class='fa fa-check icon-badge font-grey-salt'></i></td>";
	}
	
	if(campo.countLikes >= 1){
		rTable += "<td class='text-center'><i class='fa fa-thumbs-o-up icon-badge font-blue'></i><span class='badge badge-report badge-blue badgelike'>" + campo.countLikes + "</span></td>";
	}else{
		rTable += "<td class='text-center'><i class='fa fa-thumbs-o-up icon-badge font-grey-salt'></i><span class='badge badge-report badge-default badgelike'>" + campo.countLikes + "</span></td>";
	}	
	if(campo.countFavoritos >= 1){
		rTable += "<td class='text-center'><i class='fa fa-star-o icon-badge font-blue'></i><span class='badge badge-report badge-blue badgeFav'>" + campo.countFavoritos + "</span></td>";
	}else{
		rTable += "<td class='text-center'><i class='fa fa-star-o icon-badge font-grey-salt'></i><span class='badge badge-report badge-default badgeFav'>" + campo.countFavoritos + "</span></td>";
	}
	if(campo.countComentarios >= 1){
		rTable += "<td class='text-center'><i class='fa fa-comments-o icon-badge font-blue'></i><span class='badge badge-report badge-blue badgeFav'>" + campo.countComentarios + "</span></td>";
	}else{
		rTable += "<td class='text-center'><i class='fa fa-comments-o icon-badge font-grey-salt'></i><span class='badge badge-report badge-default badgeComent'>" + campo.countComentarios + "</span></td>";
	}
	
	rTable += "</tr>";
	return rTable;
}
</script>