<div class="page-content">
	<h3 class="page-title">
		$messages.get('report.login.title.page') <small> relatório de logins efetuados no sistema</small>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('report.login.title.page')</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-users"></i> $messages.get('report.login.title.page')</span>
					</div>
					<div class="actions">
						<button class="btn blue btn-outline fix-padding tooltip-livecom report-refresh" title="Atualizar">
							<i class="fa fa-refresh refresh-report"></i>
		            </button>
					</div>
				</div>
				<div class="portlet-body">

					${form.startTag()}
						<div class="clearfix quebraLinhaForm">
							<div class="clearfix">
								<div class="col-md-3">
									<label class="labelCampo">$form.fields.dataInicial.label</label>
									<div class="campoPost">
									$form.fields.dataInicial
									</div>
								</div>
								<div class="col-md-3">
									<label class="labelCampo">$form.fields.dataFinal.label</label>
									<div class="campoPost">
									$form.fields.dataFinal
									</div>
								</div>
								<div class="col-md-3">
									<label class="labelCampo">$form.fields.usuario.label</label>
									<div class="campoPost">
									$form.fields.usuario
							  		</div>
								</div>
								<div class="col-md-3">
									<label class="labelCampo">Categoria</label>
									<div class="campoPost">
									<select id="modo">
									  <option value="consolidado">Consolidado</option>
									  <option value="expandido">Expandido</option>
									</select>
							  		</div>
								</div>
							</div>
							
							<div class="clearfix botoesSalvar quebraLinhaForm">
								$form.fields.filtrar 
								
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										$form.fields.exportar
									#end
								#end
							</div>
							
						</div>
					${form.endTag()}
					<hr />
					<div class="rTable">
						<div class='rTableRow header'>
							<div class='rTableHead'>Data</div>
							<div class='rTableHead showconsolidado'>Web</div>
							<div class='rTableHead showconsolidado'>Android</div>
							<div class='rTableHead showconsolidado'>iOS</div>
							<div class='rTableHead showconsolidado'>Total</div>
							<div class='rTableHead showconsolidado'>Detalhes</div>
							<div class='rTableHead showexpandido'>Login</div>
							<div class='rTableHead showexpandido'>Plataforma</div>
						</div>
					</div>
					<div class="paginaAtual" data-page="-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script>
var linha = 0;
var modo = "";
$(document).ready(function() {

	var filtro = getFiltro();
	var user = $("#usuario").val();
	filtro.page = 0;
	modo = 'consolidado';
	if (filtro.usuarioId != "" || (modo == 'consolidado')) {
		filtro.usuario = filtro.usuarioId;
		createTable(filtro);
	}

	var usuario = [];

	if (getFiltro()) {
		var filtro = getFiltro();
		if (filtro.usuarioId != '') {
			usuario.push({
				id : filtro.usuarioId,
				login : filtro.usuarioLogin
			});
		}
	}

	// cria o filtro de pesquisa de usuário
	if ($("#usuario").length > 0) {
		jsHttp.filtroTokenInput('#usuario', urlContext
				+ "/rest/usuario?max=15", {
			queryParam : "login",
			tokenLimit : 1,
			propertyToSearch : "login",
			prePopulate : usuario
		});
	}
	// clica para filtrar o usuário
	$("#form_filtrar").on("click", function(e) {
		e.stopPropagation();
		e.preventDefault();
		var filtro = getFiltro();
		var user = $("#usuario").val();
		$(".rTable").find(".rTableRow:not(.header)").remove();
		$(".rTableRow.error").remove();
		$(".rTable").hide();
		$(".paginaAtual").show();
		filtro.page = 0;
		filtro.usuarioId = usuario;
		modo = $("#modo option:selected").val();
		if (modo == 'consolidado') {
			createTable(filtro);
		} else {
			createTable(filtro);
		}
	});
	
	$(".report-refresh").click(function(e){
		e.preventDefault();
		$(".refresh-report").addClass("fa-spin").delay(1000).queue(function(){
		    $(".refresh-report").removeClass("fa-spin").dequeue();
		});
		$(".rTableRow.results").remove();
		filtro = getFiltro();
		createTable(filtro);	
	});

});//fim doc
function getFiltro(linha, page) {
	var filtro = {
		usuario : $("#usuario").val(),
		dataIni : $("#dataInicial_field").val(),
		dataFim : $("#dataFinal_field").val(),
		modo : $('#modo option:selected').val(),
		usuarioId : '$!filtro.usuarioId',
		usuarioNome : '$!filtro.usuarioNome',
		usuarioLogin : '$!filtro.usuarioLogin'
	};
	return filtro;
}

function createTable(filtro) {
	jsHttp
			.get(
					"$context/rest/v1/report/logins",
					{
						scroll : true,
						data : filtro,
						beforeSend : function(data) {
							$(".rTableRow.error").remove();
							$(".paginaAtual").show();
						},
						success : function(data) {
							if (modo == 'expandido') {
								$(".showexpandido").css("display",
										"table-cell");
								$(".showconsolidado").hide();
							} else {
								$(".showexpandido").hide();
								$(".showconsolidado").css("display",
										"table-cell");
							}
							var conteudo = "";
							if (Object.keys(data).length > 0) {
								for ( var i in data) {
									var d = data[i];
									var total = 0;
									var impar = linha % 2 == 0 ? "odd" : "";
									linha++;
									conteudo += '<div class="rTableRow results '+impar+'">';
									if (modo == 'expandido') {
										conteudo += '<div class="rTableCell" data-th="Data">'
												+ data[i].data + '</div>';
										conteudo += '<div class="rTableCell" data-th="Login"><a class="font-blue" href="$context/usuario.htm?id='
												+ data[i].id
												+ '" >'
												+ data[i].login
												+ '</a></div>';
										if (data[i].plataforma == 'WEB') {
											conteudo += '<div class="rTableCell" data-th="Plataforma"><i class="icones web tooltip-livecom" title="Web"></i></div>';
										} else if (data[i].plataforma == 'ANDROID') {
											conteudo += '<div class="rTableCell" data-th="Plataforma"><i class="icones android tooltip-livecom" title="Android"></i></div>';
										} else if (data[i].plataforma == 'IOS') {
											conteudo += '<div class="rTableCell" data-th="Plataforma"><i class="icones ios tooltip-livecom" title="iOS"></i></div>';
										}
									} else {
										conteudo += '<div class="rTableCell" data-th="Data">'
												+ i + '</div>';

										var web = d.WEB;
										var web = jsUtils.isNotEmpty(d.WEB) ? d.WEB
												: 0;

										total += web;
										conteudo += '<div class="rTableCell" data-th="Web">'
												+ web + '</div>';

										var android = jsUtils
												.isNotEmpty(d.ANDROID) ? d.ANDROID
												: 0;
										total += android;
										conteudo += '<div class="rTableCell" data-th="Android">'
												+ android + '</div>';

										var ios = jsUtils.isNotEmpty(d.IOS) ? d.IOS
												: 0;
										total += ios;
										conteudo += '<div class="rTableCell" data-th="iOS">'
												+ ios + '</div>';

										conteudo += '<div class="rTableCell" data-th="Total">'
												+ total + '</div>';
										conteudo += '<div class="rTableCell" data-th="Detalhes">';
										conteudo += '<a class="font-blue" href="$context/report/detalhesLoginReport.htm?data='
												+ i + '">Detalhes</a>';
										conteudo += '</div>';
									}
									conteudo += '</div>';
								}
							} else if (Object.keys(data).length <= 0
									&& $(".rTableRow.results").length <= 0) {
								if (!$(".rTableRow.error").length > 0) {
									conteudo = "<div class='rTableRow error'></div>";
								}
							}
							$(".paginaAtual").hide();
							$(".rTable").append(conteudo);
							$(".rTable").show();
						}
					});

	$("body").find("span.customSelect").addClass("bg");
}
</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>