<div class="page-content">
	<h3 class="page-title">Relatório de Push </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Relatório de Push</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Filtro</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-down tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body toggled">
					<form name="form_relatorio" id="relPush" method="post">
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-2 form-group">
								<label class="control-label labelCampo"><i class="fa fa-calendar"></i>&nbsp;Data Inicial</label>
								<div class="campoPost">
									<input type="text" id="dataInicial" value="$!filtro.dataInicialString" name="filtro.dataInicial" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-2 form-group">
								<label class="control-label labelCampo"><i class="fa fa-calendar"></i>&nbsp;Data Final</label>
								<div class="campoPost">
									<input type="text" id="dataFinal" value="$!filtro.dataFinalString" name="filtro.dataFinal" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-4 form-group">
								<label class="control-label labelCampo"><i class="fa fa-inbox"></i>&nbsp;Comunicado</label>
								<div class="campoPost">
									<input type="text" class="input" value="$!filtro.postId" id="post" name="filtro.post">
								</div>
							</div>
							<div class="col-md-2 form-group">
								<label class="control-label labelCampo"><i class="fa fa-info"></i>&nbsp;Status</label>
								<div class="campoPost">
									$form.fields.status
								</div>
							</div>
							<div class="col-md-2 form-group">
								<label class="control-label labelCampo"><i class="fa fa-flag"></i>&nbsp;Tipo</label>
								<div class="campoPost">
									$form.fields.tipoPush
								</div>
							</div>
						</div>
						<div class="clearfix text-right">
							<input type="button" class="btn btn-primary min-width" id="filtrarRel" value="Filtrar" />
						</div>
					</form>
				</div>
			</div>
			
			<div class="portlet light">
		   	<div class="portlet-title">
		      	<div class="caption font-dark">
		         	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-flag-o"></i> Relatório de Push</span>
		         </div>
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu pull-right">
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										<!-- <li> <a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a><i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body clearfix table-responsive">
		      	<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
		         	<thead class="header">
							<tr>
								<th width="15%">Data</th>
								<th width="55%">Comunicado</th>
								<th width="10%">Tipo</th>
								<th width="10%">Status</th>
								<th>Detalhes</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var linha = 0;
$(document).ready(function(){
	
	var post = [];
	var filtro = getFiltro();
	if(jsUtils.isNotEmpty(filtro.usuarioId)) {
		usuario.push({
			id: filtro.usuarioId,
			login: filtro.usuarioLogin
		});
	}
	
	if(jsUtils.isNotEmpty(filtro.postId) && jsUtils.isNotEmpty(filtro.postTitulo)) {
		post.push({
			id: filtro.postId,
			titulo: filtro.postTitulo
		});
	}
	
	if($("#post").length > 0){
		jsHttp.filtroTokenInput("#post", urlContext+"/rest/post/titulo?max=15", {
			queryParam: "titulo",
			propertyToSearch: "titulo",
			tokenLimit: 1,
			prePopulate: post
		});
	}
	
	filtro.page = 0;
	pushsReport(filtro);
	
	$("#filtrarRel").on("click",function(e){
		filtro.page = 0;
		pushsReport(filtro);
	});
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		filtro = getFiltro();
		pushsReport(filtro);
	});
});

function getFiltro() {
    var filtro = {
   		post: $("#post").val(),
   		dataInicial: $("#dataInicial").val(),
   		dataFinal: $("#dataFinal").val(),
   		status: $("#form_status").val(),
   		tipoPush: $("#form_tipoPush option:selected").text(),
	};
    return filtro;
}

var dTable = null;

function pushsReport(filtro) {
	var filtro = getFiltro();
	jsHttp.get("$context/rest/v1/report/pushReport",{
		data: filtro,
		beforeSend: function(){
			$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
		},
		success: function (data) {
			var conteudo = "";
			for(var i in data) {
				var campo = data[i];
				conteudo += createTable(campo);
			}
			if(dTable != null) {
				$(".table > tbody").empty();
				dTable.clear();
				dTable.destroy();
			}
			dTable = loadTable(conteudo);
			dTable.data(conteudo).draw();
			$('.portlet-body.clearfix').find('.dataTables_processing').remove();
		}
	});
}

function createTable(campo){
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'">';
		rTable += "<td>"+campo.data+"</td>";
		rTable += "<td><a class='blue' href='$context/pages/post.htm?id=" + campo.postId + "' >" + campo.postTitulo + "</a></td>";
		rTable += "<td>"+campo.tipo+"</td>";
		if(campo.status) {
			rTable += "<td align='center'><i class='fa fa-check font-green'></i></td>";
		} else {
			rTable += "<td align='center'><i class='fa fa-close font-red'></i></td>";
		}
		rTable += "<td><a class='blue' href='$context/report/detalhesPushReport.htm?id="+campo.id+"'>Detalhes</a></td>";
	rTable += "</tr>";
	return rTable;
}
</script>