<div class="page-content">
	<h3 class="page-title">Relatório de Usuários</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Relatório de Usuários</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="clearfix">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a href="#" class="clearfix statusClick" data-status="todos">
							<span class="clearfix dashboard-stat2"> 
								<span class="clearfix display">
									<span class="number">
										<span class="clearfix font-blue-steel d-counter total-count" data-count="0">0</span>
										<small>Total</small>
									</span>
									<span class="icon">
										<i class="fa fa-users"></i>
									</span>
								</span>
								<span class="clearfix progress-info">
									<span class="progress">
										<span class="progress-bar progress-bar-success progress-bar-novos blue-steel">
											<span class="sr-only"></span>
										</span>
									</span>
									<span class="status status-novos"> </span>
								</span>
							</span>
						</a>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a href="#" class="clearfix statusClick" data-status="novo">
							<span class="clearfix dashboard-stat2">
								<span class="clearfix display">
									<span class="number">
										<span class="clearfix font-green d-counter novo-count" data-count="0">0</span>
										<small>Novos</small>
									</span>
									<span class="icon"><i class="fa fa-user-plus"></i></span>
								</span>
								<span class="clearfix progress-info">
									<span class="progress">
										<span class="progress-bar progress-bar-success progress-bar-agendados green">
											<span class="sr-only"></span>
										</span>
									</span>
									<span class="status status-agendados"> </span>
								</span>
							</span>
						</a>
					</div>
					
					<!-- /agendados -->
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a href="#" class="clearfix statusClick" data-status="ativo">
							<span class="clearfix dashboard-stat2">
								<span class="clearfix display">
									<span class="number">
										<span class="clearfix font-green-jungle d-counter ativo-count" data-count="0">0</span>
										<small>Ativos</small>
									</span>
									<span class="icon"> <i class="fa fa-check"></i></span>
								</span>
								<span class="clearfix progress-info">
									<span class="progress">
										<span class="progress-bar progress-bar-success progress-bar-enviados green-jungle">
											<span class="sr-only"></span>
										</span>
									</span>
									<span class="status status-enviados"> </span>
								</span>
							</span>
						</a>
					</div>
					
					<!-- /enviados -->
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a href="#" class="clearfix statusClick" data-status="inativo">
							<span class="clearfix dashboard-stat2">
								<span class="clearfix display">
									<span class="number">
										<span class="clearfix font-yellow-gold d-counter inativo-count" data-count="0">0</span>
										<small>Inativos</small>
									</span>
									<span class="icon"> <i class="fa fa-user-times"></i></span>
								</span>
								<span class="clearfix progress-info">
									<span class="progress">
										<span class="progress-bar progress-bar-success progress-bar-users yellow-gold">
											<span class="sr-only"></span>
										</span>
									</span>
									<span class="status status-enviados"> </span>
								</span>
							</span>
						</a>
					</div>
				</div>
			</div>
			
			<div class="portlet light">
		   	<div class="portlet-title">
		      	<div class="caption font-dark">
		         	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-users"></i> Relatório de Usuários</span>
		         </div>
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu pull-right">
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										<!-- <li> <a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a><i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>								
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body clearfix table-responsive">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nome</th>
								<th>E-mail</th>
								<th>Grupos</th>
								<th>Data último Acesso</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$('document').ready(function() {
	
	$(".statusClick").click(function(e) {
		e.preventDefault();
		$(".statusClick").removeClass("active");
		$(this).addClass("active");
		var status = $(this).attr("data-status");
		buscar(status);
	});
	
	jsHttp.get("$context/rest/usuario/countStatus", {
		beforeSend: function(data){
			$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
		},
		success : function(data) {
			if (data.status == "OK") {
				var json = data.entity;
				var ativo = json.ativo;
				var inativo = json.inativo;
				var novo = json.novo;
				var total = json.total;
				
				$(".progress-bar-novos").width("100%");
				$(".progress-bar-enviados").width(ativo / total * 100+"%");
				$(".progress-bar-users").width(inativo / total * 100+"%");
				$(".progress-bar-agendados").width(novo / total * 100+"%");
				
				$(".novo-count").attr("data-count", novo);
				$(".ativo-count").attr("data-count", ativo);
				$(".inativo-count").attr("data-count", inativo);
				$(".total-count").attr("data-count", total);
			}

			$(".d-counter").each(function() {
				animateCounter($(this));
			});
			$('.portlet-body.clearfix').find('.dataTables_processing').remove();
		}
	});
	
	buscar("todos");
	
	function buscar(status) {
		if(dtTable != null) {
			$(".table > tbody").empty();
			dtTable.clear();
			dtTable.destroy();
		}
		jsHttp.get("$context/rest/usuario/status?status=" + status, {
			success : function(data) {
				if (data.status == "OK") {
					var json = data.entity;
					var conteudo = "";
					for(var i in json) {
						var u = json[i];
						conteudo += "<tr>";
							conteudo += "<td>"+u.id+"</td>";
							conteudo += "<td>"+u.nome+"</td>";
							conteudo += "<td>"+u.email+"</td>";
							conteudo += "<td><span class='trunca lg'>"+u.gruposStr+"</span></td>";
							conteudo += "<td>"+u.dataUltimoLogin+"</td>";
						conteudo += "</tr>";
					}
					$(".table tbody").append(conteudo);
					dtTable = dtTableUtils();
				}
			}
		});
	}
	
	$(".refresh-cadastro").click(function(e) {
		e.preventDefault();
		var status = $(".statusClick.active").attr("data-status");
		if(!status) {
			status = "todos";
		}
		buscar(status);
	});
	var dtTable = null;
	

	function animateCounter(obj) {
		countTo = obj.attr('data-count');

		$({
			countNum : obj.text()
		}).animate({
			countNum : countTo
		}, {
			duration : 1000,
			easing : 'linear',
			step : function() {
				obj.text(Math.floor(this.countNum));
			},

			complete : function() {
				obj.text(this.countNum);
			}
		});
	}
});
</script>