.idiomas-disponiveis, .idioma-selected-icon{
	.idioma{
		float: left;
		display: block;
		position: relative;
		width: 80px;
		text-align: center;
		margin: 5px 0;
		padding: 5px;
		border: 1px solid transparent;
		cursor: pointer;
		@include transition(all ease-in-out 200ms);
		
		&.disabled{
		    opacity: .7;
		    filter: grayscale(100%);
		    pointer-events: none;
		}

		&.active{
			border-color: #337ab7;

			&:before{
				display: block;
				position: absolute;
				font-family: 'FontAwesome';
				content: '\f058';
				color: #337ab7;
				top: -10px;
			    right: -5px;
			    background-color: #fff;
			}
		}

		i{
			display: block;
		    margin: 0 auto;

			&.sm{
				background: url(../../img/bandeiras/16/Unknown.png) center center no-repeat;
		    	height: 25px;
			    width: 25px;

			    &.pt-br{ background-image: url(../../img/bandeiras/16/Brazil.png); }
			    &.pt-pt{ background-image: url(../../img/bandeiras/16/Portugal.png); }

			    &.en-uk{ background-image: url(../../img/bandeiras/16/United-Kingdom.png); }
			    &.en-us{ background-image: url(../../img/bandeiras/16/United-States.png); }

			    &.es{ background-image: url(../../img/bandeiras/16/Spain.png); }
			}
			
			&.md{
				background: url(../../img/bandeiras/32/Unknown.png) center center no-repeat;
		    	height: 25px;
			    width: 35px;

			    &.pt-br{ background-image: url(../../img/bandeiras/32/Brazil.png); }
			    &.pt-pt{ background-image: url(../../img/bandeiras/32/Portugal.png); }

			    &.en-uk{ background-image: url(../../img/bandeiras/32/United-Kingdom.png); }
			    &.en-us{ background-image: url(../../img/bandeiras/32/United-States.png); }

			    &.es{ background-image: url(../../img/bandeiras/32/Spain.png); }
			}

			&.lg{
				background: url(../../img/bandeiras/64/Unknown.png) center center no-repeat;
		    	height: 45px;
			    width: 65px;

			    &.pt-br{ background-image: url(../../img/bandeiras/64/Brazil.png); }
			    &.pt-pt{ background-image: url(../../img/bandeiras/64/Portugal.png); }

			    &.en-uk{ background-image: url(../../img/bandeiras/64/United-Kingdom.png); }
			    &.en-us{ background-image: url(../../img/bandeiras/64/United-States.png); }

			    &.es{ background-image: url(../../img/bandeiras/64/Spain.png); }
			}
		}
	}
}

table{
	td{
		.idiomas-disponiveis{
			.idioma{
			    margin: 0 auto;
			    padding: 0;
			    width: 64px;
			    border: none;
			    float: none;
			    cursor: default;
			}
		}
	}
}

.idioma-selected-icon{
	display: block;
	position: relative;
}

.post-idioma-tabs{
	&.nav-tabs{
		> li{
			position: relative;
			border: none;
			border-bottom: 4px solid transparent;
			@include transition(all ease-in-out 200ms);
			
			&.active, &:hover{
				border-color: #337ab7;
				
				> a{
					border: none; padding: 6px;
					
					&:hover, &:active{ border: none; padding: 6px; } 
				}
			}
			
			&:hover{
				border-color: #286090;
				
				> i{ opacity: 1; visibility: visible; }
			}
			
			> i{
				position: absolute;
				top: -2px;
				right: -2px;
				color: #d9534f;
				font-size: 20px;
				z-index: 3;
				cursor: pointer;
				opacity: 0;
				visibility: hidden;
				@include transition(all ease-in-out 200ms);
			}
			
			> a{
				border: none;
				padding: 6px;
				display: block;
				min-height: 37px;
				background-color: #fff;
				
				&:hover, &:active{ border: none; padding: 6px; } 
				
				.idiomas-disponiveis{
					.idioma{
					    float: none;
					    margin: 0 auto;
					    padding: 0;
					    border: none;
					    width: 36px;
					}
				}
			}
		}
	}
}

.portlet-categoria{
	> .portlet-title{
		> .nav-tabs{
			> li{
			
				&.l-1{
					> i{ display: none; }
				}
				
				&:hover{
					> i{ opacity: 1; visibility: visible; }
				}
			
				> i{
					position: absolute;
					top: -2px;
					right: -5px;
					color: #d9534f;
					font-size: 20px;
					z-index: 3;
					cursor: pointer;
					opacity: 0;
					visibility: hidden;
					@include transition(all ease-in-out 200ms);
				}
			
				> a{
					&.fix-padding{ padding: 9px; }
					
					.idiomas-disponiveis{
						.idioma{
							float: none;
							margin: 0 auto;
							padding: 0;
							border: none;
							width: 32px;
						}
					}
				}
			}
		}
	}
}

.abas-post-idiomas{
	.post-idioma-tabs{
		margin-bottom: 0;
	}
}

.portlet-categoria{
	&.fade{
		opacity: 0;
		visibility: hidden;
		
		&.in{
			opacity: 1;
			visibility: visible;
		}
	}
}