<div class="modal fade" id="modal-tutorial-start" role="dialog" aria-labelledby="modal-tutorial-start" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content modal-content-tutorial">
			<div class="modal-body">
				<div class="clearfix text-center">
					<div class="form-group">
						<img src="$context/img/tutorial/img_robo_color.png" alt="Olá, eu sou o LiveBot" class="img-responsive" />
						<h3 class="sbold">Bem-vindo ao Livecom!</h3>
					</div>
					<div class="form-group">
						<p>Eu sou o LiveBot, vou te mostrar um pouco sobre<br />nossa plataforma :)</p>
					</div>
					<div class="form-group clearfix">
						<div class="col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 form-group">
							<button class="btn green-sharp btn-block btn-lg" onclick="javascript:tutorialInit();" data-dismiss="modal">Ok!</button>
						</div>
					</div>
					<div class="form-group clearfix">
						<div class="col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 form-group">
							<button class="btn btn-outline green-sharp btn-block btn-lg" data-dismiss="modal">Agora não, obrigado</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-tutorial-closed" role="dialog" aria-labelledby="modal-tutorial-closed" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-content-tutorial bg-green-sharp font-white">
			<div class="modal-body">
				<div class="clearfix text-center">
					<div class="clearfix form-group">
						<img src="$context/img/tutorial/img_robo_branco.png" alt="Olá, eu sou o LiveBot" class="img-responsive" />
						<h3 class="sbold">Ok!</h3>
					</div>
					<div class="clearfix form-group text-center">
						<p>Se precisar de ajuda é só clicar no ícone de interrogação :)</p>
					</div>
					<div class="clearfix form-group">
						<div class="col-xs-8 col-xs-offset-2 form-group">
							<button class="btn white font-green-sharp btn-block btn-lg" data-dismiss="modal">Ok!</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-tutorial-end" role="dialog" aria-labelledby="modal-tutorial-end" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content modal-content-tutorial bg-green-sharp font-white">
			<div class="modal-body">
				<div class="clearfix text-center">
					<div class="clearfix form-group">
						<img src="$context/img/tutorial/img_robo_branco.png" alt="Olá, eu sou o LiveBot" class="img-responsive" />
						<h3 class="sbold">Pronto!</h3>
					</div>
					<div class="clearfix form-group text-center">
						<p>Agora você já conhece os elementos básicos da plataforma :)</p>
						#if(($!CONFIGURACOES_AVANCADAS && $!EDITAR_EMPRESA) || ($!ACESSO_CADASTROS && $!CADASTRAR_USUARIOS))
							<p>O que deseja fazer agora?</p>
						#end
					</div>
					#if(($!CONFIGURACOES_AVANCADAS && $!EDITAR_EMPRESA) || ($!ACESSO_CADASTROS && $!CADASTRAR_USUARIOS))
						#if($!CONFIGURACOES_AVANCADAS && $!EDITAR_EMPRESA)
						<div class="clearfix form-group">
							<div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 form-group">
								<a href="$context/configuracoes/" class="btn white font-green-sharp btn-block btn-lg">Quero customizar o ambiente para minha empresa</a>
							</div>
						</div>
						#end
						#if($!ACESSO_CADASTROS && $!CADASTRAR_USUARIOS && $!ENVIAR_EMAILS)
						<div class="clearfix form-group">
							<div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 form-group">
								<a href="$context/pages/convidarUsuarios.htm" class="btn white font-green-sharp btn-block btn-lg">Quero convidar mais usuários para o sistema</a>
							</div>
						</div>
						#end
						<div class="clearfix form-group">
							<div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 form-group">
								<button class="btn green-sharp border-white btn-block btn-lg" data-dismiss="modal">Quero explorar o Livecom por conta própria</button>
							</div>
						</div>
					#else
					<div class="clearfix form-group">
						<div class="col-xs-8 col-xs-offset-2 form-group">
							<button class="btn white font-green-sharp btn-block btn-lg" data-dismiss="modal">Ok!</button>
						</div>
					</div>
					#end
				</div>
			</div>
		</div>
	</div>
</div>
<script>
#if($!session.userInfo.primeiroAcesso)
$(document).ready(function(){
	if(urlAtual.lastIndexOf('mural') > -1){
		setTimeout(function(){
			$('#modal-tutorial-start').modal('show');	
		}, 100);
	}
});
#end


function tutorialInit(){
	var tourTemplate = function(classe, isFinalizar){
		classe ? classe : '';
		var html = '';
		
		html += '<div class="popover tour-tutorial-web '+classe+'">';
			html += '<div class="arrow"></div>';
			html += '<div class="clearfix form-group popover-header">';
				html += '<i class="tutorial-icons white-bot-outline"></i>';
				if(isFinalizar){
					html += '<i class="tutorial-icons white-check" title="Finalizar tutorial" data-role="end"></i>';
				}else{
					html += '<i class="tutorial-icons white-x" title="Fechar tutorial" data-role="end"></i>';
				}
			html += '</div>';
			html += '<h3 class="popover-title"></h3>';
			html += '<div class="popover-content"></div>';
			html += '<div class="popover-navigation text-right">';
				html += '<button class="btn white font-green-sharp sbold" data-role="prev">Anterior</button> ';
				html += '<button class="btn white font-green-sharp sbold" data-role="next">Próximo</button>';
			html += '</div>';
		html += '</div>';
		
		return html;
	}
	
	var settingsText = 'O ícone de engrenagem oferece algumas opções de sistema para o usuário: ' +
                      '<ul class="tutorial-list"><li><p class="sbold">Editar meus dados:</p><p>permite editar as informações do seu perfil no sistema</p></li>' +
                      '<li><p class="sbold">Alterar senha</p></li>' +
                      '<li><p class="sbold">Logout</p></li></ul>';
    

	if(SESSION.USER_INFO.IS_ADMIN == 'true'){
		settingsText = 'O ícone de engrenagem oferece algumas opções de sistema para o usuário: ' +
	    '<ul class="tutorial-list"><li><p class="sbold">Configurações da empresa:</p><p>permite customizar o ambiente</p></li>' +
	    '<li><p class="sbold">Editar meus dados:</p><p>permite editar as informações do seu perfil no sistema</p></li>' +
	    '<li><p class="sbold">Alterar senha</p></li>' +
	    '<li><p class="sbold">Logout</p></li></ul>';
	}
	
	var tour = new Tour({
		backdrop: true,
		autoscroll: false,
		template: tourTemplate(),
		smartPlacement: false,
		onShow: function (tour) {
			$('#modal-tutorial-start').modal('hide');
			$('body').scrollTop(0);
			tour.setCurrentStep(0);
			console.log(tour.ended());
		},
		onEnd: function (tour) {
			if(tour.getCurrentStep() < 4){
				$('#modal-tutorial-closed').modal('show');
			}else{
				$('#modal-tutorial-end').modal('show');
			}
		},
		steps: [
			{
				element: '#mural-wrapper',
				title: 'Este é o seu mural',
				content: 'É aqui onde fica o conteúdo que é publicado na ferramenta. Toda publicação é feita para um ou mais <b>grupos</b>, ' +
				         'e só quem faz parte deles terá acesso a ela. <br /><br />Também é possível interagir com as publicações: ' +
				         '<img src="$context/img/tutorial/interacoes-post.png" alt="Você pode curtir, comentar, favoritar as publicações" />',
				placement: 'right',
				template: tourTemplate('top-20'),
				onShow: function(tour){
					$('body').scrollTop(0);
				}
			},
			{
				element: '#leftMenu',
				title: 'O menu lateral',
				content: 'Aqui você encontrará as funcionalidades principais do sistema, separadas por categorias.',
				placement: 'right',
				onShow: function(tour){
					$('body').scrollTop(0);
				}
			},
			{
				element: '#navbar-search .fundo-busca',
				title: 'Usando a busca',
				content: 'Permite fácil acesso às grandes funcionalidades do Livecom e estão separados por tema.',
				placement: 'bottom',
				backdropContainer: '.navbar-inverse.navbar-fixed-top',
				onShow: function(tour){
					$('body').scrollTop(0);
				}
			},
		]
	});
	
	if(PARAMS.SIDEBOX_ON == 1){
		tour.addSteps([
			{
				element: '#sidebox-wrapper',
				title: 'A sidebox',
				content: 'Nesse espaço lateral, você pode navegar usando os ícones e as abas para acessar rapidamente: ' +
				         '<br /><img src="$context/img/tutorial/sidebox-tabs.png" alt="Você possui acesso rápido às funcionalidades do sistema" />',
				placement: 'left',
				template: tourTemplate('top-20'),
				onShow: function(tour){
					$('body').scrollTop(0);
				}
			},
			{
				element: '#li-settings',
				title: 'Outras opções',
				content: settingsText,
				placement: 'left',
				backdropContainer: '.navbar-inverse.navbar-fixed-top',
				template: tourTemplate('', true),
				onShow: function(tour){
					$('body').scrollTop(0);
				}
			}
		]);
	}else{
		tour.addStep({
			element: '#li-settings',
			title: 'Outras opções',
			content: settingsText,
			placement: 'left',
			backdropContainer: '.navbar-inverse.navbar-fixed-top',
			template: tourTemplate('', true),
			onShow: function(tour){
				$('body').scrollTop(0);
			}
		});
	}

	tour.init();
	tour.start(true).goTo(0);
}
</script>