${form.startTag()}
<div class="degrade">
	<div id="preCadastro" class="largura clearfix">
		<div class="paddingConteudoCima largura clearfix">
			<h2 class="titulo fundoCinza">
				<span>Alterar<strong> Senha</strong></span>
			</h2>
			<table width="600" style="margin: 0 auto;">
				<tbody>
					<tr>
						<td align="right"><label class="label">Senha Atual:</label></td>
						<td style="padding-left: 15px;"><div>
								$form.fields.senhaAtual</div></td>
						<td style="padding-left: 15px;" nowrap="nowrap"><div>
								$!form.fields.senhaAtual.error</div></td>
					</tr>
					<tr>
						<td align="right"><label class="label">Nova Senha:</label></td>
						<td style="padding-left: 15px;"><div>
								$form.fields.senhaNova</div></td>
						<td style="padding-left: 15px;" nowrap="nowrap"><div>
								$!form.fields.senhaNova.error</div></td>
					</tr>
					<tr>
						<td align="right" nowrap="nowrap"><label class="label">Confirmar
								Senha:</label></td>
						<td style="padding-left: 15px;"><div>
								$form.fields.confirmaSenha</div></td>
						<td style="padding-left: 15px;" nowrap="nowrap"><div>
								$!form.fields.confirmaSenha.error</div></td>
					</tr>
					<tr>
						<td style="padding-left: 15px;" colspan="2">
							$form.fields.alterar</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
${form.endTag()} 
#parse("/msg.htm")
