<script>
	$(document).ready(function() {
		//$("#formLogin").validate();
		//$("#formCadastro").validate();
	});
</script>
<div class="degrade">
	<div id="preCadastro" class="largura clearfix">

		<div class="paddingConteudoCima largura clearfix ">
			<h2 class="titulo fundoCinza">
				<span><strong>Forma de Pagamento</strong></span>
			</h2>
			<form id="formCadastro" method="post">
				<input type="hidden" name="form" value="cadastro" />
				<table style="margin: 0 auto;">
					<tbody>
						<tr>
							<td colspan="2"><label class="label">Valor (R$):</label></td>
						</tr>
						<tr>
							<td colspan="2"><div>
									<input name="valor" id="valor" value="1" class="input required"
										type="text" style="width: 329px;"
										value="$!request.getParameter('valor')">
								</div></td>
						</tr>
						<tr>
							<td style="padding-left: 15px;"><input name="pagar"
								id="pagar" type="submit" value="Pagar"
								class="botaoSombra esquerda comMargin"></td>
						</tr>
					</tbody>
				</table>
			</form>
			<div class="conteudoTexto">
				<span><strong style="color:#0066CC">$msgInfo</strong></span>
			</div>
		</div>
	</div>
</div>