<script>
	$(document).ready(function() {
		$("#form").validate();
	});
</script>
<div class="degrade">
	<div class="paddingConteudoCima largura clearfix">
		<h2 class="titulo fundoCinza">
			<span><strong>Cadastre-se</strong></span>
		</h2>
		${form.startTag()}
			<table style="margin: 0 auto;">
				<tbody>
					<tr>
						<td colspan="2"><label class="label">Nome:</label></td>
					</tr>
					<tr>
						<td colspan="2"><div>
								$form.fields.nome
							</div></td>
					</tr>
					<tr>
						<td colspan="2"><label class="label">E-mail:</label></td>
					</tr>
					<tr>
						<td colspan="2"><div>
								$form.fields.login
							</div></td>
					</tr>
					<tr>
						<td><label class="label">Senha:</label></td>
						<td style="padding-left: 15px;"><label class="label">Confirme
								a Senha:</label></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><div>
								$form.fields.senha
							</div></td>
						<td style="padding-left: 15px;"><div>
								$form.fields.confirmaSenha
							</div></td>
					</tr>
					<tr>
						<td><a href="#"
							class="botaoSombra cinzaClaro pequeno comMargin esquerda">entrar
								com o Facebook</a></td>
						<td style="padding-left: 15px;">$form.fields.cadastrar</td>
					</tr>
				</tbody>
			</table>
		${form.endTag()} 
	</div>
</div>