<script>
$(document).ready(function(){
	$("#formContato").validate();
});
</script>
<div class="degrade">
    <div id="contato" class="largura clearfix">
      <h2 class="titulo fundoCinza"><span>ENTRE EM <strong>CONTATO</strong></span></h2>
      <div class="conteudoTexto">
          <p>Envie sua mensagem e entraremos em contato em breve. </p>
      </div>
          <form id="formContato" method="post" action="$context$path">
            <table  border="0" cellspacing="0" cellpadding="0" class="esquerda">
              <tr>
                <td><label for="nome" class="label">Nome:</label></td>
              </tr>
              <tr>
                <td><div>
                    <input name="nome" id="nome" class="required input" type="text" value="$!request.getParameter('nome')"/>
                </div></td>
              </tr>
              <tr>
                <td><label for="email" class="label">E-mail:</label></td>
              </tr>
              <tr>
                <td><div>
                    <input name="email" id="email" class="required email input" type="text" value="$!request.getParameter('email')"/>
                </div></td>
              </tr>
              <tr>
                <td><label for="email" class="label">Tipo da Mensagem</label></td>
              </tr>
              <tr>
                <td>
                	<div>
                		<select id="tipoMensagem" name="tipoMensagem" class="required">
							<option value="">Selecione</option>
							#foreach($motivo in $motivos)
							<option value="$motivo.id">$motivo.toString()</option>
							#end
						</select>
                    </div>
                </td>
              </tr>
              <tr>
                <td><label for="mensagem" class="label">Mensagem:</label></td>
              </tr>
              <tr>
                <td><div>
                    <textarea name="mensagem" id="mensagem" class="required input"rows="5">$!request.getParameter('mensagem')</textarea>
                </div></td>
              </tr>
              <tr>
                <td><input name="enviar" id="enviar" value="ENVIAR" type="submit" class="botaoSombra direita" /></td>
              </tr>
            </table>
            <img src="$context/img/contato.png" width="429" height="297" class="esquerda"/>
          </form>
    </div>
</div>
#parse("/msg.htm")