${form.startTag()}
<div class="degrade">
	<div id="preCadastro" class="largura clearfix">
		<div class="paddingConteudoCima largura clearfix">
			<h2 class="titulo fundoCinza">
				<span>Digite seu login para <strong> recuperar a senha</strong>.</span>
			</h2>
			<table width="320" style="margin: 0 auto;">
				<tbody>
					<tr>
						<td align="right"><label class="label">Login:</label></td>
						<td style="padding-left: 15px;"><div>
								$form.fields.login</div></td>
					</tr>
					<tr>
						<td align="center" style="padding-left: 15px;" colspan="2">$form.fields.enviar</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
${form.endTag()}
#parse("/msg.htm")
