<div class="degrade">
    <div id="pergutnas" class="largura clearfix">
        <h2 class="titulo fundoCinza"><span>PERGUNTAS <strong>FREQUENTES</strong></span></h2>
        <div class="conteudoTexto">
        	<p>Nam adipiscing, lorem nec sodales pellentesque, lacus quam ullamcorper augue, eget cursus ipsum leo at turpis. Ut in orci lorem, et mollis arcu. Vestibulum massa erat, pharetra sed posuere quis, convallis non lectus. Phasellus id vestibulum est. </p>
            <p>Curabitur est diam, ultricies ac lobortis non, molestie at dolor. Maecenas ac porttitor eros <a href="$context/contato">clique aqui</a>. </p>
        </div>
        <ul class="accordion clearfix">
        	#foreach($pergunta in $perguntas)
			<li class="">
				<h3 class="tituloCinza"><i class="bullet cima"></i>$pergunta.enunciado</h3>
				<div class="conteudoAccordion" style="">
					<p>$pergunta.respostaHtml</p>
				</div>
			</li>   
        	#end
        </ul>
    </div>
</div>