#if($session && $session.userInfo)
<div class="largura clearfix">
    <div class="bkTopoConteudo">
        <div class="esquerda clearfix">
            <img width="89" height="94" class="fotoPerfil" alt="Nome do Aluno" src="$session.userInfo.urlFotoUsuario">
            <h3><a href="$context/training/profile.htm">$session.userInfo.nome</a></h3>
            <span>#if($template_title)$template_title #else  #end</span>
        </div>
        <div class="esquerda clearfix">
            <p>Integer tempus dignissim nisl, ac consequat eros malesuada et. Mauris molestie iaculis molestie.</p>
            <div class="botoesAulas">
                <a class="botaoSombra direita" href="$context/training/index.htm?filter=favorites">FAVORITOS</a> <a class="botaoSombra direita" href="$context/training/index.htm?filter=playlist">PLAYLIST</a><a class="botaoSombra direita" href="$context/training/index.htm?filter=history">HISTÓRICO</a>
            </div>
        </div>
    </div>
</div>
<div class="sombra menor"></div>
#else
<div class="paddingDeslogado"></div>
#end