<script>
	$(document).ready(function() {
		$("#form").validate();
	});
</script>
<div class="degrade">
	<div class="paddingConteudoCima largura clearfix">
		<h2 class="titulo fundoCinza">
			<span><strong>Meus Dados</strong></span>
		</h2>
		${form.startTag()}
		<table style="margin: 0 auto;">
			<tbody>
				<tr>
					<td colspan="2"><label class="label">Nome:</label></td>
				</tr>
				<tr>
					<td colspan="2"><div>$form.fields.nome</div></td>
				</tr>
				<tr>
					<td colspan="2"><label class="label">E-mail:</label></td>
				</tr>
				<tr>
					<td colspan="2"><div>$form.fields.login</div></td>
				</tr>

				<tr>
					<td style="padding-left: 15px;" colspan="2">$form.fields.salvar</td>
				</tr>
			</tbody>
		</table>
		${form.endTag()}
	</div>
</div>