.listaHorizontal {
	padding: 10px;

	@extend %relative;

    .noPaddingTop { @extend %no-padding-top; }

	&.top80 { top: 83px; margin-bottom: 80px; }
	
	&:not(.listaArquivos){
		> li{ width: 33.3%; }
	}

    > li{
        float: left; @extend %relative;

        .clearfix {
            border: 1px solid #d8dce0;
            background: #FFF;
            margin: 10px;
            padding: 10px;
            @include prefix(border-radius, 10px, webkit moz ms o);
            @extend %relative;

			.configItem{ @extend %hidden; }

			&.admin { border: 1px solid #3598DC; }
			&.inactive { border: 1px solid rgba(245, 58, 58, .5); }

			&:hover{
				.configItem{ @extend %block; }
			}
        }
    }

    &.quatroColunas{
        >li { width: 25%; min-height: 92px; }
    }

	&.categorias{
		> li{
			> .clearfix{
				min-height:57px;
				
				span.label{ font-size: 10px; }
			}
		}
	}

	&.sortable{
		> li{
			&:hover{
				>.clearfix { padding-left: 40px; }

				.moveCategoria{ @extend %block; }
			}
		}
	}
}


.inactive { color: #d60909; }

.contentModal .listaHorizontal>li>.clearfix:hover {
    @include prefix(box-shadow, 0 0 3px 0 rgba(5, 195, 245, 1), webkit moz ms o);
}

.listaUsuarios .fotoUsuario, .token-input-dropdown .fotoUsuario {
	float: left;
	margin-right: 10px;
}

.nomeUsuarioLista {
	font-size: 14px;
	color: #0096d0;
	text-decoration: none;
	font-weight: 600;
	display: block;
	padding-bottom: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 90%;
	overflow: hidden;
	@include transition(all .3s);
}

.moveCategoria {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 30px;
	border-right: 1px solid #d8dce0;
	cursor: move;
	@include prefix(border-radius, 10px 0 0 10px, webkit moz ms o);
	background: #FFF;
	display: none;

	.ico-move { margin: 10px 0 0 5px; }

	&:hover{ background: #e8edef; }
}

.listaHorizontal.sortable>li.placeholder {
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
}

.listaHorizontal.sortable>li.placeholder:before {
	position: absolute;
	content: "";
	width: 12px;
	height: 8px;
	margin-top: 0;
	left: -5px;
	top: 0;
	background: url(../../imagens/icones.png) no-repeat -136px -267px;
}

.listaHorizontal.sortable>li.placeholder:after {
	position: absolute;
	content: "";
	width: 0;
	height: 30px;
	margin-top: 0;
	left: 0;
	top: 15px;
	border-left: 1px solid #b1b6b4;
}

.listaUsuarios .infoUsuarios{
	width: calc(100% - 90px);
	overflow: hidden;
}
.listaUsuarios.grupos .infoUsuarios {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color:#808080;
	a.blue{ font-weight: 600; }
}

.cargoUsuarioLista {
	font-size: 12px;
	line-height: 14px;
	color: #808080;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}
.cargoUsuarioLista.pull-left{ width: auto; }

.acoesArquivo {
	position: absolute!important;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	z-index: 5;
	background: url(../../imagens/fancybox_overlay.png)!important;
	@include prefix(border-radius, 9px 9px 0 0!important, webkit moz ms o);
	padding: 5px 0!important;
	display: none;
	margin: 0!important;
    border: none!important;

	>a {
		display: inline-block;
		padding: 3px;
	}
}


.listaConvites{
	padding: 10px;

	.nomeUsuarioLista{ @extend %no-hover-decoration; }

	> li{
		> .clearfix{
			&:hover{ background: #e8edef; }
		}
	}
}