.casca-ios {
	background: url(../root/icones/casca_ios.png) center center / cover no-repeat;
	width: 380px;
	height: 750px;
    .mdl-layout__container {
		margin-top: 94px;		
		margin-left: 31.7px;
		width: 318.7px;
		height: 563px;
	}
}
.casca-ios-preto {
	background: url(../root/icones/casca_ios_preto.png) center center / cover no-repeat;
    width: 280px;
    height: 554px;

    .mdl-layout__container {
		margin-top: 70px;		
		margin-left: 22px;
		width: 236px;
		height: 416px;

		.header{
			text-align: center;
			font-weight: 400;

			.fa{
				&.fa-bars, &.fa-arrow-left{ position: absolute; top: 10px; left: 8px; }
			}

			.cat{ font-weight: 400; }
		}
	}
}
.casca-ios, .casca-ios-preto{
	margin: 0 auto;
    position: relative;
	
    .mdl-layout__container {

		.mdl-layout{

			.mdl-layout__header {
				min-height: 52px;

				.mdl-layout__header.row {

					.root-content-left-icons{
						position: absolute;
    					right: 0px;
    					top: 25px;
					}
				}	
					.mdl-layout-title {
						top: 7px;
					}
			
				.mdl-layout__drawer-button{
					height: 44px;
				}

			}

		}	

    	.mdl-layout__drawer {
    		width: 253px;
    	}
    }

	.mobile-container-mural {
		margin-top:0px;
	}
}	