.casca-android {
    width: 380px;
    height: 750px;
    .mdl-layout__container {
        width: 344px;
        height: 611px;
    }
}
.casca-android-preview {
    width: 280px;
    height: 554px;
    .mdl-layout__container {
        width: 244px;
        height: 415px;        
    }
}
.casca-android, .casca-android-preview {
    background: url(../root/icones/casca_android.png) center center / cover no-repeat;
    margin: 0 auto;
    position: relative;

/*  iframe{
        display: block;
        position: absolute;
        height: calc(100% - 140px);
        top: 10%;
        left: 22px;
        width: calc(100% - 44px);
        background-color: #fff;
    } */

    .mdl-layout__container {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 70px;
        left: 18px;

        .mdl-layout__header{
            position: relative;
            height: 75px;

            .mdl-layout__drawer-button{ margin-top: 25px; padding-top: 4px; }

            .mdl-layout__header-row{
                min-height: 53px;
                max-height: 53px;
                height: 53px;
                padding: 6px 0 0px 48px;
            }
        }
    }

    .mdl-layout__drawer {
        border-right: none;
        z-index: 999;
        @include translateX(-500px);

        &.is-visible {
            width: 280px;
            @include translateX(0);
        }

        .mdl-navigation{
            .mdl-navigation__link {
                color: #000000;
                padding: 16px 20px;
                text-decoration: none;
                &:hover{ text-decoration: none; }

                &.active { font-weight: bold; }

                i { margin-right: 15px; }

                &.divider{
                    border-top: 2px solid #ccc;
                    padding: 16px 0;

                    .root-linear-icons{ display: none; }
                    .labelMenu {
                        display: block;
                        height: 1px;
                        overflow: hidden;
                        text-indent: -9999px;
                        background-color: #ccc;
                    }
                }
            }
        }
    }

    .mdl-layout-title {
        font-size: 16px;
        font-weight: bold;
        top: 25px;
        word-wrap: break-word;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 40%;
    }

    .mdl-layout__header-row {
        padding: 0 10px 0 50px;
    }

    .mdl-layout__drawer-button {
        margin: 8px 0px;
    }
}




.root-container-logo {
    height: 130px;
    background: #0096D0;
}

.root-logo-mobile {
    height: 37px;
    width: 150px;
    margin:0 auto;
    margin-top:25px;
    position: relative;
}

.root-container-usuario-mobile .foto-usuario {
    margin-left:20px;
    margin-top:15px;
    float: left;
}

.root-container-usuario-mobile .foto-usuario img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 45px;
    height:45px;
}


.root-container-usuario-mobile .dados-usuario {
    margin-top: 16px;
    color: #fff;
    font-size: 12px;
    float: left;
    margin-left: 20px;
}

.root-container-usuario-mobile .dados-usuario .email {
    color: #b4bbb3;
}



.root-linear-icons {
    background: url(https://livecom.livetouchdev.com.br/imagens/livecom_icons_.png) no-repeat;
    float: left;
    display: block;
    width: 28px;
    height: 28px;
}


.clearfix {
    clear: both;
}

.root-linear-icons.icone-mural {
    width: 24px;
    height: 24px;
}

.root-linear-icons.icone-notification {
    background-position: -185px -169px;
    width: 21px;
    height: 27px;
}

.root-linear-icons.icone-favorito {
    background-position: -47px -98px;
    width: 25px;
    height: 23px

}

.root-linear-icons.icone-dados {
    background-position: -268px 0;
    width: 20px;
    height: 23px;
}

.root-linear-icons.icone-usuarios {
    background-position: -268px 0;
    width: 20px;
    height: 23px;
}

.root-linear-icons.icone-grupos {
    background-position: -217px 0;
    width: 25px;
    height: 23px;
}

.root-linear-icons.icone-chat {
    background-position: -286px -4px;
    width: 26px;
    height: 20px;
}

.root-linear-icons.icone-arquivos {
    background-position: -99px 0;
    width: 20px;
    height: 24px;
}

.root-linear-icons.icone-config {
    background-position: -308px -97px;
    width: 28px;
    height: 23px;
}

.root-linear-icons.icone-sair {
    background-position: -314px 0;
    width: 22px;
    height: 23px;
}



.root-icones-header {
    position: relative;
}

.root-icones {
    background: url("https://livecom.livetouchdev.com.br/imagens/icones.png");
}

.root-icone-busca {
    min-height: 22px;
    min-width: 22px;
}


.root-busca {
    min-height: 32px;
    min-width: 32px;
    background: url(../root/icones/ic_action_search.png);
    background-size: 28px;
    background-repeat: no-repeat;
    display: block;
}

.root-notification {
    min-height: 32px;
    min-width: 32px;
    background: url(../root/icones/badge.png);
    background-size: 28px;
    background-repeat: no-repeat;
    display: block;
}

.root-content-left-icons {
    position: absolute;
    right: 0px;
    top: 36px;
}

@media screen and (max-width: 1640px){
    .casca-android{
        width: 340px;
        height: 670px;
    }

    .casca-android .mdl-layout__container{
        width: 304px;
        height: 531px;
    }
}

@media screen and (max-width: 1390px){
    .casca-android{
        width: 300px;
        height: 600px;
    }

    .casca-android .mdl-layout__container{
        width: 264px;
        height: 471px;
    }
}

@media screen and (max-width: 1300px){
    .casca-android{
        width: 260px;
        height: 520px;
    }

    .casca-android .mdl-layout__container{
        width: 224px;
        height: 391px;
    }

    .casca-android .mdl-layout__drawer.is-visible{
        width: 100%;
    }

    .root-container-usuario-mobile .foto-usuario{
        margin-left: 10px;
        margin-top: 10px;
    }

    .root-container-usuario-mobile .dados-usuario{
        margin-left: 5px;
        text-overflow: ellipsis;
    }
}