@import '_casca-android';
@import '_casca-ios';

.root-linear-icons { margin-right: 10px; }

.mobile-container-mural {
    height: 700px;
    background: #d8dce0;

    .mobile-lista-posts {
        width: 95%;
        margin: 0 auto;

        li {
            margin: 10px 0px;
            padding: 0 15px 15px;
            min-height: 200px;
            border: 1px solid #eee;
            background: #fff;
            @include prefix(border-radius, 5px, webkit moz ms o);
            @include prefix(box-shadow, -5px 2px 29px -2px rgba(0, 0, 0, 0.41), webkit moz ms o);

            .mobile-container-foto {
                width: 40px;
                height: 40px;
                float: left;
                margin: 0 15px 15px;

                img {
                    width: 40px;
                    height: 40px;
                    @include prefix(border-radius, 50%, webkit moz ms o);
                }
            }

            .mobile-mural-infos {
                margin-top: 10px;
                float: left;
                width: calc(100% - 55px);

                .mobile-nome-user {
                    font-size: 14px;
                    font-weight: 600;
                    color: #716a6a;
                }

                .mobile-grupos {
                    color: #9c8e8e;
                    font-size: 11px;
                    font-weight: 600;

                    span {
                        color: #9c8e8e;
                        font-size: 10px;
                        font-weight: normal;
                    }
                }
            }

            .mobile-data-post-categoria {
                .mobile-categoria {
                    font-size: 12px;
                    font-weight: bold;
                    color: #8000ff;
                    float: left;
                    text-transform: uppercase;
                }

                .mobile-data-post {
                    color: #9c8e8e;
                    font-size: 10px;
                    font-weight: normal;
                    float: right;
                }
            }

            .mobile-titulo-post {
                color: #000;
                font-size: 16px;
                font-weight: bold;
            }

            .mobile-conteudo-post {
                color: #000;
                font-size: 13px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .mobile-live-url {
                background: #cecfd0;
                padding: 5px 5px;

                .mobile-live-url-img {
                    float: left;

                    img { width: 50px; height: 50px; }
                }

                .mobile-info-live-url {
                    float: left;
                    font-size: 11px;
                    margin-left: 10px;

                    .mobile-info-live-url { font-size: 11px; font-weight: 800; }
                    .mobile-info-live-url-descricao { margin-top: -10px; font-size: 9px; }
                    .mobile-info-live-url-link { font-size: 9px; color: #afadad; }
                    }
            }

            .mobile-actions-post {
                margin-top: 15px;

                i.linear-icons { padding-left: 0px; }
                
                span {
                    color: #9c8e8e;
                    font-size: 14px;
                    position: absolute;
                    top: 4px;
                    right: 23px;
                }
            }
        }
    }

    .mobile-btn-postar {
        position: absolute;
        bottom: 20px;
        right: 20px
    }
}

.mobile-badge {
	position: absolute; 
	top: 2px;
	right: 2px; 
	background: blue; 
	border-radius: 50%; 
	font-size: 14px; 
	padding-left: 4px; 
	padding-right: 4px;
}

.menu-mobile-root {
    .mdl-navigation__link{
        
        .mobile-menu-actions {
            float: right;
            opacity: 0;
            visibility: hidden;
            @include transition(all ease-in-out 200ms);

            .fa { display: block; cursor: pointer; }
        }

        &:hover{
            .mobile-menu-actions {
                opacity: 1;
                visibility: visible;
            }
        }

        &:first-child{
            .mobile-menu-actions {
                > i{
                    &:first-child{ display: none; }
                }
            }
        }

        &:last-child{
            .mobile-menu-actions {
                > i{
                    &:last-child{ display: none; }
                }
            }
        }
    }
}