.fotoUsuario {
	position: relative;
	border: 3px solid #FFF;
	@include prefix(border-radius, 50%, webkit moz ms o);
	width: 80px;
	height: 80px;
	margin: 0 auto;
	font-size: 0;
	overflow: hidden;
	background: #FFF;
	z-index: 1;

	img{
		max-height: 58%;
		min-height: 58%;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		overflow: hidden;
		@include transition(none);
		@include animation(none);
	}

	&.gigante { width: 150px; height: 150px; }
	&.grande { width: 100px; height: 100px; }
	&.media { border: none; width: 50px; height: 50px; @include translateZ(0); }
	&.pequena { border: none; width: 40px; height: 40px; }
	&.mini { border: none; width: 25px; height: 25px; }

	&.big {
		border-width: 5px;
		width: 130px;
		height: 130px;
		@include prefix(border-radius, 50%, webkit moz ms o);
		margin-bottom: 20px;

		img {
			@include prefix(border-radius, 50%, webkit moz ms o);
			width: initial;
			position: absolute;
		}

		&.noRadius img { @include prefix(border-radius, 0, webkit moz ms o); }
	}

	&.no-radius{ @include prefix(border-radius, 0, webkit moz ms o); }
	&.bordered{ border: 1px solid #eee; }
}

.fotoUsuario .centraliza, .fotoUsuario a, .tooltipster-content .centraliza, .list-holder li span.preview-file{
	display: block;
	width: 200%;
	height: 200%;
	left: -50%;
	top: -50%;
	position: relative;
	font-size: 0;
}