/* liveURL */
.liveurl {
	background: #fff;
	margin-bottom: 10px;
	overflow: hidden;
	border: 1px solid #eee;
	display: none;
	@include prefix(border-radius, 4px, webkit moz ms o);

	&.mt-element-card{
		.mt-card-item{ @extend %no-border-no-margin; }
	}

	.inner {
		padding: 10px 10px 10px 0;
		overflow: hidden;
		position: relative;
		min-height: 114px;
	}

	span.image {
		float: left;
		clear: none;
		position: relative;
	}
	
	.details {
		float: left;
		overflow: hidden;
		border-left: 1px solid #eee;
		padding-left: 10px;
		width: calc(100% - 114px);
		min-height: 94px;
		word-wrap: break-word;
	}

	.title{
		@extend %liveurl-title;
		a{ @extend %liveurl-title; }
	}

	.description {
		font-size: 12px;
		line-height: 18px;
		padding-bottom: 20px;
		color: #424242;
		width: 99.6%;
	}

	.url{
		@extend %liveurl-url;
		a{ @extend %liveurl-url; }
	}

	.image {
		position: relative;
		width: 70px;
		height: 50px;
		float: left;
		display: none;
		text-align: center;
		overflow: hidden;
		margin-top: 15px;

		.extensaoArquivo{
			text-transform: none;
			font-size: 16px;
			top: 66px;
			margin: 0;
			line-height: initial;
			height: auto;
		}

		a {
			width: 100%;
			height: 50px;
			margin: 0 auto;
			float: left;
			display: none;
			text-align: center;
			position: relative;
			text-indent: -9999px;
		}

		img {
			width: initial;
			max-width: 50px;
			height: initial;
			max-height: 50px;
			position: absolute;
			margin: 0 auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			display: none;

			&.active{ @extend %block; }
		}

		&.active{
			a{ @extend %block; }
		}

		&.comvideo{
			a{
				display: block; position: relative;
				
				&:after {
					content: "";
					display: block;
					width: 54px;
					height: 54px;
					background: url(../imagens/icones.png) no-repeat;
					background-position: -66px -68px;
					position: absolute;
					left: 50%;
					top: 50%;
					margin: -27px 0 0 -27px;
				}

				img{ @extend %block; }
			}
		}
	}

	img { height: auto; display: none; }

	.video {
		clear: both;
		float: left;
		margin: 10px 0 0 0;
		display: none;
	}

	.close {
		float: right;
		margin: 5px;
		cursor: pointer;
		opacity: 1;
	}

	.remove-thumb{
		cursor: pointer;
		position: relative;
		float: right;
		opacity: .7;
		z-index: 1;
		color: #787878;
		
		&:before{ content: "\f00d"; font-family: "FontAwesome"; }

		&:hover, &:focus{ opacity: .9; text-shadow: 0 0 4px #fff; }
	}

	.thumbnail {
		float: left;
		margin: 15px 0 0 0;
		clear: both;
		display: none;

		&.fileinput-preview{ display: none!important; }

		label { padding: 0 0 0 5px; vertical-align: text-top; }
	}

	.button {
		width: 20px;
		height: 20px;
		float: left;
		border: 1px solid #A8A8A8;
		text-align: center;
		line-height: 20px;
		background: #FFF;
		position: relative;
		cursor: pointer;

		&:before {
			width: 0;
			position: absolute;
			left: 12px;
			top: -1px;
			font-family: "FontAwesome";
			color: #616161;
			font-size: 20px;
			font-weight: 600;
		}

		&.prev, &.next{
			&:before { left: 6px; }
		}

		&.prev{
			&:before { content: "\f104"; }
		}

		&.next{
			&:before { content: "\f105"; }
		}

		&.inactive {
			opacity: 0.5;
			filter: alpha(opacity = 50);
			pointer-events: none;
			cursor: default;
			background: #a4a4a4;
		}
	}

	.count {
		float: left;
		margin: 0 0 0 10px;
		line-height: 20px;
		font-size: 12px;
	}

	.controls { margin: 10px 0 0 0; }
}

.liveurl .details .info * {
	float: left;
	clear: both;
}

.modal{
	.liveurl{
		.image{
			width: 94px;
			height: 94px;
			margin-top: 0;

			a{
				width: 114px;
				height: 94px;
			}

			img{
				max-width: 94px;
				max-height: 94px;
			}
		}

		.url{ padding-left: 12px; }
	}
}