.form-control{
	color:#323232;
	
	&.input-sm{
		&.first { @include prefix(border-radius, 3px 0 0 3px, webkit moz ms o); }
		&.second { @include prefix(border-radius, 0 3px 3px 0, webkit moz ms o); }
	}

    &.transparent-border{ border-color: transparent; }
    &.controled-width{
        width: 70px; @include transition(all 600ms linear);
        &:focus{ @include transition(all 600ms linear); @extend %total-width; }
    }

    &:focus{ @extend %input-focus; }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background: #fff; }

.form-control[disabled], fieldset[disabled] .form-control, .timeago { cursor: default; }

.has-error{
    ul.token-input-list, span.customSelect{
        border-color: #a94442!important;
        @include prefix(box-shadow, inset 0 1px 1px rgba(0,0,0,.075), webkit moz ms o);
    }
}

.has-success{
    ul.token-input-list, span.customSelect{
        border-color: #3c763d;
        @include prefix(box-shadow, inset 0 1px 1px rgba(0,0,0,.075), webkit moz ms o);
    }
}