<div class="page-content">
	<h3 class="page-title">Menu</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Menus</span> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/permissoes/perfil.htm">Perfis de Acesso</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Menu</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-list"></i> Menus #if($!perfil) para $!perfil.nome #end</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<div class="col-md-12">
						<div class="col-md-6">
							<label class="labelCampo control-label">Menus não Associados</label>
							<div class="tabs menuEsquerda">
								<div class="preview-menu maximized menu-notIn">
									<ul id="menuNotIn" class="menuNotIn"></ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label class="labelCampo control-label">Menus Associados</label>
							<div class="tabs menuEsquerda">
								<div class="preview-menu maximized menu-in">
									<ol id="menuIn" class="nested_with_switch vertical"></ol>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 text-right">
						<button type="button" class="btn btn-default min-width" id="cancelar">Cancelar</button>
						<button type="button" class="btn btn-primary min-width" id="salvar">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var perfilId = "";


$(document).ready(function(){
	var adjustment, oldContainer;
	
	$('.clearForm').click(function() {
		clearForm();
	});
	
	$('#cancelar').click(function(){
		window.close(); // redirecionar para cadastro/permissoes/perfil.htm ?
	});
	
	$("#salvar").on("click",function(e) {
		e.stopPropagation();
		
		var menusIn = $(".tabs #menuIn li");
		var list = [];
		
		for(var i = 0; i < menusIn.length; i++) {
			var li = $(menusIn[i]);
			var id = $(li).attr("data-associacao");
			var menu = {id : $(li).attr("data-id")};
			var menuPerfil = {ordem: i};
// 			if(id){   // quando sera necessario?
// 				menuPerfil.id = id;
// 			}
			if($(li).attr("data-id")){
				menuPerfil.menu = menu;
			}
			list.push(menuPerfil);
		}
		
		if (perfilId) {
			$(this).html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
			httpPost("$context/rest/v1/menu/perfil/ordem/" + perfilId, list, 
					function(data){
						data = data;
						if(data.status != "ERROR"){
							toastr.success(data.message);
						}else{
							toastr.error(data.message);
						}
						$('#salvar').html('Salvar');
					}
			);
		} else {
			toastr.error('<b>Nao foi possivel associar os menus ao perfil<b>');
		}
	});
	
	$('ol.nested_with_switch').sortable({
		group: 'nested',
		isValidTarget: function ($item, container) {
			//evita misturar filhos de pais diferentes
			return $item.parent("ol")[0] == container.el[0];
		},
		afterMove: function (placeholder, container) {
			if(oldContainer != container){
				if(oldContainer)
					oldContainer.el.removeClass('active');
				container.el.addClass('active');

				oldContainer = container;
			}
		},
		onDrop: function ($item, container, _super) {
			var parent = container.el, newParentID = parent.attr('data-parent'), oldParentID = $item.attr('data-parent'), menuID = $item.attr('data-id');
			
			parent.removeClass('active');
			_super($item, container);
		}
	});
	
	if("$!id" != '') {
		perfilId = "$!id";
		ajaxGet("$context/rest/v1/menu/perfil/menus/" + perfilId, null, beforeSend, success);
	} else {
		$("#modalPerfil").modal("show");
	}
	
	$("body").on("click", ".menu-notIn li", function(e){
		e.stopPropagation();
		if($(this).hasClass('menu-item-parent')) {
			var filhas = $(this).children("ol");
			if(filhas.length > 0) {
				var id = $(this).attr("data-id");
				var parent = $(".menu-in").find('li[data-id="'+id+'"]');
				if(parent.length == 0) {
					var li = this.outerHTML;
					$("#menuIn").append(li);
					$(this).remove();
				} else {
					var li = $(this).find("ol li");
					parent.find("ol").append(li);
					$(this).remove();
				}
			}
		} else {
			var parentId = $(this).attr("data-parent");
			var parent = $(".menu-in").find('li[data-id="'+parentId+'"]');
			if(parent.length == 0) {
				parent = $(".menu-notIn").find('li[data-id="'+parentId+'"]');
				var liPai = parent.clone().children("ol").empty().end();
				$(liPai).find("ol").append(this.outerHTML);
				$("#menuIn").append(liPai);
				$(this).remove();
			} else {
				parent.find("ol").append(this.outerHTML);
				$(this).remove();
			}
			var childrens = $(".menu-notIn").find('li[data-id="'+parentId+'"]').children("ol").children();
			if(childrens.length == 0) {
				$(".menu-notIn").find('li[data-id="'+parentId+'"]').remove();
			}
		}
	});
	
	$("body").on("click", ".menu-in li", function(e){
		e.stopPropagation();
		if($(this).hasClass('menu-item-parent')) {
			var filhas = $(this).children("ol");
			if(filhas.length > 0) {
				var id = $(this).attr("data-id");
				var parent = $(".menu-notIn").find('li[data-id="'+id+'"]');
				if(parent.length == 0) {
					var li = this.outerHTML;
					$("#menuNotIn").append(li);
					$(this).remove();
				} else {
					var li = $(this).find("ol li");
					parent.find("ol").append(li);
					$(this).remove();
				}
			}
		} else {
			var parentId = $(this).attr("data-parent");
			var parent = $(".menu-notIn").find('li[data-id="'+parentId+'"]');
			if(parent.length == 0) {
				parent = $(".menu-in").find('li[data-id="'+parentId+'"]');
				var liPai = parent.clone().children("ol").empty().end();
				$(liPai).find("ol").append(this.outerHTML);
				$("#menuNotIn").append(liPai);
				$(this).remove();
			} else {
				parent.find("ol").append(this.outerHTML);
				$(this).remove();
			}
			var childrens = $(".menu-in").find('li[data-id="'+parentId+'"]').children("ol").children();
			if(childrens.length == 0) {
				$(".menu-in").find('li[data-id="'+parentId+'"]').remove();
			}
		}
	});

	$(".visualizar").click(function(){
		perfilId = $("#form_perfil").val();
		ajaxGet("$context/rest/v1/menu/perfil/menus/" + perfilId, null, beforeSend, success);
	});
});

function beforeSend(menus) {
	$(".paginaAtual").show();
}
	
function success(menus) {
	$(".paginaAtual").hide();
	var conteudoIn = "";
	var conteudoNotIn = "";
	if(menus){
		if(menus.in){
			for (var i in menus.in){
				var menuIn = menus.in[i];
				conteudoIn += createMenuIn(menuIn);
			}	
		}
		
		if(menus.notIn){
			for(var i in menus.notIn){
				var menuNotIn = menus.notIn[i];
				conteudoNotIn += createMenuNotIn(menuNotIn);
			}
		}
	}
	
	$(".tabs #menuIn").append(conteudoIn);
	$(".tabs #menuNotIn").append(conteudoNotIn);
	$(".paginaAtual").hide();
}

	
function createMenuIn(menuIn){
	var tab = "";
	var menuId = menuIn.menu && menuIn.menu.id ? menuIn.menu.id : '';
	tab += '<li class="menu-item-parent tabbable cursor-pointer" data-id="'+menuId+'" data-ordem="'+menuIn.ordem+'" data-link="'+menuIn.link+'" data-label="'+menuIn.label+'" data-icone="'+menuIn.icone+'">';
		tab += '<a data-toggle="tab" class="editarCampo tabbable" href="#form_menu" data-id="'+menuIn.id+'" aria-expanded="true">';
		if(menuIn.icone){
			tab += '<i class="linear-icons '+menuIn.icone+'" aria-hidden="true"></i>';
		}
		tab += menuIn.menu.label+'</a>';
		
		if(menuIn.filhos) {
			tab += '<ol>';
			for (var i in menuIn.filhos){
				var menu = menuIn.filhos[i];
				tab += '<li class="menu-item-children tabbable cursor-pointer" data-associacao="'+menuId+'" data-parent="'+menuId+'" data-id="'+menu.menu.id+'" data-ordem="'+menu.menu.ordem+'" data-link="'+menu.menu.link+'" data-label="'+menu.menu.label+'" data-icone="'+menu.menu.icone+'">';
					tab += '<a data-toggle="tab" class="editarCampo tabbable" href="#form_menu" data-id="'+menu.menu.id+'" aria-expanded="true">';
					if(menu.menu.icone){
						tab += '<i class="linear-icons '+menu.menu.icone+'" aria-hidden="true"></i>';
					}
					tab += menu.menu.label+'</a>';
				tab += '</li>';
			}
			tab += '</ol>';
		}
		
	tab += '</li>';
	
	return tab;
}
	
function createMenuNotIn(menuNotIn){
	var tab = "";
	var menuId = menuNotIn.menu && menuNotIn.menu.id ? menuNotIn.menu.id : '';
	
	tab += '<li class="menu-item-parent tabbable cursor-pointer" data-associacao="'+menuId+'" data-id="'+menuId+'" data-ordem="'+menuNotIn.ordem+'" data-link="'+menuNotIn.menu.link+'" data-label="'+menuNotIn.menu.label+'" data-icone="'+menuNotIn.menu.icone+'">';
		tab += '<a data-toggle="tab" class="editarCampo tabbable" href="#form_menu" data-id="'+menuNotIn.id+'" aria-expanded="true">';
		if(menuNotIn.icone){
			tab += '<i class="linear-icons '+menuNotIn.icone+'" aria-hidden="true"></i>';
		}
		tab += menuNotIn.menu.label+'</a>';
			
		tab += '<ol>';
		if(menuNotIn.filhosNotIn) {
			for (var i in menuNotIn.filhosNotIn){
				var menu = menuNotIn.filhosNotIn[i];
				var menuFilhoId = menu.id ? menu.id : '';
				tab += '<li class="menu-item-children tabbable cursor-pointer" data-associacao="'+menuFilhoId+'" data-parent="'+menuId+'" data-id="'+menu.menu.id+'" data-ordem="'+menu.menu.ordem+'" data-link="'+menu.menu.link+'" data-label="'+menu.menu.label+'" data-icone="'+menu.menu.icone+'">';
					tab += '<a data-toggle="tab" class="editarCampo tabbable" href="#form_menu" data-id="'+menu.menu.id+'" aria-expanded="true">';
					if(menu.menu.icone){
						tab += '<i class="linear-icons '+menu.menu.icone+'" aria-hidden="true"></i>';
					}
					tab += menu.menu.label+'</a>';
				tab += '</li>';
			}
		}
		tab += '</ol>';
	tab += '</li>';
	
	return tab;
}
</script>
#parse("/msg.htm")