<div class="page-content">
	<h3 class="page-title">Perfis de Acesso</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Cadastros</span> <i class="fa fa-angle-right"></i></li>
			<li><span>Perfis de Acesso</span></li>
			<li class="pull-right"><i class="fa fa-question-circle font-blue tooltip-livecom cursor-pointer" data-toggle="modal" data-target="#modal-ajuda-perfil" title="Ajuda"></i></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-user-circle-o"></i> Lista de Perfis</span>
					</div>
					<div class="actions">
						<button data-toggle="modal" data-target="#modalPerfil" class="btn sbold btn-primary" id="add"> Add <i class="fa fa-plus"></i></button>
					</div>
				</div>
				<div class="portlet-body clearfix row">
					<div class="col-md-12 spinner-wrapper">
						<div class="col-md-4 permissoes-list-wrapper">
							<ul class="ver-inline-menu tabbable margin-bottom-10"></ul>
						</div>
						
						<div class="col-md-8 permissoes-tabs-wrapper">
							<div class="tab-content fixedHeight"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalPerfil" role="dialog" aria-labelledby="modalPerfil" tabindex="-1">
	<div class="modal-dialog modal-xlg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-list"></span> Cadastrar Perfil
				</h4>
			</div>
			<form>
				<div class="modal-body clearfix">
					<input type="hidden" value="" name="id" id="id">
					<div class="form-group">
						<label for="nome" class="control-label">Nome</label>
						<input type="text" autofocus="autofocus" class="form-control" id="nome" name="nome" maxlength="80" placeholder="Nome do perfil">
					</div>
					<div class="form-group">
						<label for="descricao" class="control-label">Descrição</label>
						<input type="text" class="form-control" id="descricao" name="descricao" maxlength="200" placeholder="Descrição do perfil">
					</div>
					<div class="form-group novo-perfil-accordion-wrapper">
						<label class="control-label">Permissões do Perfil&nbsp;&nbsp;&nbsp;<i class="fa fa-question-circle font-blue tooltip-livecom pull-right" title="Selecione as permissões utilizando o dropdown abaixo"></i></label>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default clearForm min-width" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary min-width" id="salvar-novo-perfil">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-ajuda-perfil" role="dialog" aria-labelledby="modal-ajuda-perfil" tabindex="-1">
	<div class="modal-dialog" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-list-alt"></span> Ajuda - Perfis de Acesso
					</h4>
				</div>
				<div class="modal-body clearfix">
					<div class="m-heading-1 border-blue m-bordered">
						<h3>Perfis de Acesso <i class="fa fa-question-circle font-blue pull-right" aria-hidden="true"></i></h3>
						<p>Nesta tela você pode gerenciar todos os perfis do sistema. Ë possível incluir um novo perfil ou editar um perfil já existente.</p>
						<p>A lista lateral mostra todos os perfis. Ao selecionar um perfil é possível definir as permissões na tab <b>Permissões</b> e escolher os itens de menu web que este perfil terá acesso na tab <b>Menus</b>.</p>
						<p>Na tab <b>Menus</b> é possível alterar a ordem dos itens através das setas direcionais de cada item.</p>
						<hr />
						<p>Para criar um novo perfil, clique no botão <span class="btn btn-primary sbold">Add <i class="fa fa-plus"></i></span> e cadastre as permissões que ele terá acesso.</p>
						<p>Depois de confirmar a criação você poderá associar os menus ao seu novo perfil.</p>
					</div>
     	      </div>
			</div>
		</form>
	</div>
</div>
<script>
function initSwitch(){ $(".bootstrap").bootstrapSwitch({ onColor: 'primary', offColor: 'danger' }); }

initSwitch();

var adjustment, oldContainer, _countClickMenuPerfil = 0, _changePermissao = false, _changeMenus = false, _perfilID = '';

function clearForm(){
	$('#modalPerfil .bootstrap').bootstrapSwitch('state', false);
	$('#nome, #descricao').val('');
}

$(document).ready(function(){
	loadPerfis(false, true);
	
	$('.clearForm').click(function() { clearForm(); });
	
	$("#modalPerfil").on("shown.bs.modal", function () { $('#nome').focus(); });
	
	$('body').on('click', '.reorder-menu-list > i', function(event){
		event.preventDefault();
		event.stopPropagation();
		var i = $(this), wrapper = i.parent('span'), curElm = wrapper.parent('li');
		
		if(i.hasClass('move-down')){
			var nextElm = curElm.next('li');
			nextElm.insertBefore(curElm);
		}else{
			var prevElm = curElm.prev('li');
			prevElm.insertAfter(curElm);
		}
		
		_changeMenus = true;
	});
	
	$('body').on('click', '#deletar-perfil', function(){
		var perfil = $(this).attr('data-perfil-id'), perfilName = $(this).attr('data-perfil-name');
		swal({
			title: "Atenção!",
			text: "Você deseja mesmo deletar o perfil <b>"+perfilName+"</b>?",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#D91E18",
			confirmButtonText: "Deletar",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true,
		}).then(function () {
			if (perfil) {
				httpDelete("$context/rest/v1/perfil/" + perfil, function(data) {
					if(data.status != "ERROR"){
						swal("Sucesso!", data.message, "success");
					} else {
						swal("Ops...", data.message, "warning");
					}
					
					loadPerfis(false, false);
				});
			}
		});
	});
	
	$('body').on('click', '#salvar-perfil', function(){
		if(_changePermissao || _changeMenus){
			$(this).html('<i class="fa fa-spinner fa-spin fa-fw"></i>').addClass('disabled');
		}else{
			toastr.info('O perfil não foi modificado');
		}
		
		setTimeout(function(){
			if(_changePermissao){
				var paramsPermissao = {
					id: parseInt($("#perfil-id").val()),
					nome: $('#perfil-nome').val(),
					descricao: $('#perfil-descricao').val(),
					empresa: {
						id: '$!session.userInfo.empresaId'
					},
					permissoes: []
				};
				
				$('body').find('.perfil-switch').each(function(idx, elm){
					paramsPermissao.permissoes[idx] = {
						permissao: {
							id: parseInt($(elm).attr('data-permissao-id'))
						},
						perfil: {
							id: parseInt($("#perfil-id").val())
						},
						ligado: $(elm).bootstrapSwitch('state'),
					}
				});
				
				if (paramsPermissao.id) {
					httpPut("$context/rest/v1/perfil", paramsPermissao, successPermissao);
				} else {
					httpPost("$context/rest/v1/perfil", paramsPermissao, successPermissao);
				}
			}else{
				$('#salvar-perfil').html('Salvar');
			}
			
			if(_changeMenus){
				salvarMenus();
			}else{
				$('#salvar-perfil').html('Salvar');
			}
		}, 1000);
	});
	
	$('body').on('click', '#salvar-novo-perfil', function(event){
		event.preventDefault();
		event.stopPropagation();
		$(this).html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
		
		var paramsPermissao = {
			nome: $('#nome').val(),
			descricao: $('#descricao').val(),
			empresa: {
				id: '$!session.userInfo.empresaId'
			},
			permissoes: []
		};
		
		$('body').find('.novo-perfil-switch').each(function(idx, elm){
			paramsPermissao.permissoes[idx] = {
				permissao: {
					id: parseInt($(elm).attr('data-permissao-id'))
				},
				perfil: {
					id: parseInt($("#id").val())
				},
				ligado: $(elm).bootstrapSwitch('state'),
			}
		});
		
		if (paramsPermissao.id) {
			httpPut("$context/rest/v1/perfil", paramsPermissao, function(resp){
				$('#modalPerfil').modal('hide');
				$('#salvar-perfil, #salvar-novo-perfil').html('Salvar').removeClass('disabled');
				
				if(resp.status == "ERROR"){
					toastr.error(resp.message);
				}else{
					toastr.success(resp.message);
					$('.ver-inline-menu li.active a').html('<i class="fa fa-user" aria-hidden="true"></i> '+resp.entity.nome);
					_countClickMenuPerfil = 0;
				}
				
				loadPerfis(true, false);
			});
		} else {
			httpPost("$context/rest/v1/perfil", paramsPermissao, function(resp){
				$('#modalPerfil').modal('hide');
				$('#salvar-perfil, #salvar-novo-perfil').html('Salvar').removeClass('disabled');
				
				if(resp.status == "ERROR"){
					toastr.error(resp.message);
				}else{
					toastr.success(resp.message);
					$('.ver-inline-menu li.active a').html('<i class="fa fa-user" aria-hidden="true"></i> '+resp.entity.nome);
					_countClickMenuPerfil = 0;
				}
				
				loadPerfis(true, false);
			});
		}
	})
	
	$('body').on('keyup', '.tab-pane .form-control', function(){
		_changePermissao = true;
	});
	
	$('body').on('switchChange.bootstrapSwitch', '.tab-pane .bootstrap', function(event, state) {
		_changePermissao = true;
	});
	
	$('body').on('click', '.link-perfil', function(){
		var perfil = {
			id: $(this).attr('data-perfil-id'),
			descricao: $(this).attr('data-perfil-descricao'),
			nome: $(this).attr('data-perfil-nome')
		};
		if(!$(this).parent('li').hasClass('active')){
			loadPerfil(perfil);
			_countClickMenuPerfil = 0;
		}
	});
	
	$('body').on('click', '.link-menu-perfil', function(){
		var perfil = $(this).attr('data-perfil-id');
		if(!$('body').find('a.link-perfil[data-perfil-id="'+perfil+'"]').parent('li').hasClass('active') || _countClickMenuPerfil == 0){
			_perfilID = perfil;
			loadMenuPerfil(perfil);
		}
		_countClickMenuPerfil++;
	});
	
	$("body").on("click", ".menu-notIn li", function(e){
		_changeMenus = true;
		e.stopPropagation();
		if($(this).hasClass('menu-item-parent')) {
			var filhas = $(this).children("ol");
			if(filhas.length > 0) {
				var id = $(this).attr("data-id");
				var parent = $(".menu-in").find('li[data-id="'+id+'"]');
				if(parent.length == 0) {
					var li = this.outerHTML;
					$("#menuIn").append(li);
					$(this).remove();
				} else {
					var li = $(this).find("ol li");
					parent.find("ol").append(li);
					$(this).remove();
				}
			}
		} else {
			var parentId = $(this).attr("data-parent");
			var parent = $(".menu-in").find('li[data-id="'+parentId+'"]');
			if(parent.length == 0) {
				parent = $(".menu-notIn").find('li[data-id="'+parentId+'"]');
				var liPai = parent.clone().children("ol").empty().end();
				$(liPai).find("ol").append(this.outerHTML);
				$("#menuIn").append(liPai);
				$(this).remove();
			} else {
				parent.find("ol").append(this.outerHTML);
				$(this).remove();
			}
			var childrens = $(".menu-notIn").find('li[data-id="'+parentId+'"]').children("ol").children();
			if(childrens.length == 0) {
				$(".menu-notIn").find('li[data-id="'+parentId+'"]').remove();
			}
		}
	});
	
	$("body").on("click", ".menu-in li", function(e){
		e.stopPropagation();
		_changeMenus = true;
		if($(this).hasClass('menu-item-parent')) {
			var filhas = $(this).children("ol"), id = $(this).attr("data-id"), parent = $(".menu-notIn").find('li[data-id="'+id+'"]');
				if(parent.length == 0) {
					var li = this.outerHTML;
					$("#menuNotIn").append(li);
					$(this).remove();
				} else {
					var li = $(this).find("ol li");
					parent.find("ol").append(li);
					$(this).remove();
				}
		} else {
			var parentId = $(this).attr("data-parent");
			var parent = $(".menu-notIn").find('li[data-id="'+parentId+'"]');
			if(parent.length == 0) {
				parent = $(".menu-in").find('li[data-id="'+parentId+'"]');
				var liPai = parent.clone().children("ol").empty().end();
				$(liPai).find("ol").append(this.outerHTML);
				$("#menuNotIn").append(liPai);
				$(this).remove();
			} else {
				parent.find("ol").append(this.outerHTML);
				$(this).remove();
			}
			var childrens = $(".menu-in").find('li[data-id="'+parentId+'"]').children("ol").children();
			if(childrens.length == 0) {
				$(".menu-in").find('li[data-id="'+parentId+'"]').remove();
			}
		}
	});
});

var successPermissao = function(resp){
	$('#modalPerfil').modal('hide');
	setTimeout(function(){
		$('#salvar-perfil, #salvar-novo-perfil').html('Salvar').removeClass('disabled');	
	}, 1000);
	
	if(resp.status == "ERROR"){
		toastr.error(resp.message);
	}else{
		toastr.success(resp.message);
		$('.ver-inline-menu li.active a').html('<i class="fa fa-user" aria-hidden="true"></i> '+resp.entity.nome);
		_countClickMenuPerfil = 0;
	}
}

ajaxGet("$context/rest/v1/permissao/categoria", null, null, function(objPermissoes){
	var accordion = '';
	
	accordion += '<div id="accordion-novo-perfil">';
		for(var key in objPermissoes){
			var categoria = objPermissoes[key];

			accordion += '<h3>'+categoria[0].categoria.nome+'</h3>';
			accordion += '<div>';
				accordion += '<table class="table table-bordered no-footer collapsed">';
					accordion += '<tbody>';
						for(var i = 0; i < categoria.length; i++){
							var permissao = categoria[i];
							
							accordion += '<tr>';
								accordion += '<td class="tooltip-livecom" title="'+permissao.descricao+'">'+permissao.nome+'</td>';
								accordion += '<td class="three-buttons">';
									accordion += '<input type="checkbox" class="bootstrap novo-perfil-switch" data-on-text="Sim" data-off-text="Não" data-off-color="danger" ';
										accordion += ' data-permissao-id="'+permissao.id+'" id="novo-perfil-'+permissao.codigo+'" name="novo-perfil-'+permissao.codigo+'" />';
								accordion += '</td>';
							accordion += '</tr>';
						}
					accordion += '</tbody>';
				accordion += '</table>';
			accordion += '</div>';
		}
	accordion += '</div>';
	
	$('.novo-perfil-accordion-wrapper .clearfix').append(accordion);
	$("#accordion-novo-perfil").accordion({ collapsible: true, heightStyle: "content" });
});

function salvarMenus(){
	$('#salvar-perfil').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
	
	var menusIn = $(".tabs #menuIn li");
	var list = [];
	
	for(var i = 0; i < menusIn.length; i++) {
		var li = $(menusIn[i]);
		var id = $(li).attr("data-associacao");
		var menu = {id : $(li).attr("data-id")};
		var menuPerfil = {ordem: i};
		
		if($(li).attr("data-id")){
			menuPerfil.menu = menu;
		}
		
		list.push(menuPerfil);
	}
	
	if (_perfilID) {
		$(this).html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
		httpPost("$context/rest/v1/menu/perfil/ordem/" + _perfilID, list, function(data){
			data = data;
			if(data.status != "ERROR"){
				toastr.success(data.message);
			}else{
				toastr.error(data.message);
			}
			$('#salvar-perfil').html('Salvar').removeClass('disabled');
			
			var perfil = parseInt($('.ver-inline-menu li.active a').attr('data-perfil-id'));
			_countClickMenuPerfil = 0;
		});
		
	} else {
		toastr.error('Nao foi possivel associar os menus ao perfil');
	}
}


function loadPerfis(isClickLastChild, isSpinner){
	_changePermissao = false;
	_changeMenus = false;
	
	clearForm();
	
	jQuery.ajax({
		type: 'GET',
		url: '$context/rest/v1/perfil',
		beforeSend: function(){
			if(isSpinner){
				$('.spinner-wrapper').addClass('spinner-blue');
			}
		},
		success: function(resp){
			var listaPerfil = '';
			
			for(var i in resp){
				var perfil = resp[i];
				listaPerfil += '<li>';
					listaPerfil += '<a class="link-perfil" data-toggle="tab" href="#perfil_'+perfil.id+'" data-perfil-id="'+perfil.id+'" data-perfil-nome="'+perfil.nome+'" data-perfil-descricao="'+perfil.descricao+'">';
						listaPerfil += '<i class="fa fa-user" aria-hidden="true"></i> '+perfil.nome;
					listaPerfil += '</a>';
				listaPerfil += '</li>'; 
			}
			
			setTimeout(function(){
				if(isSpinner){
					$('.spinner-wrapper').removeClass('spinner-blue');
				}
				$('.permissoes-list-wrapper ul').empty().append(listaPerfil);
				setTimeout(function(){
					if(isClickLastChild){
						$('.ver-inline-menu li:last-child a').click();
					}else{
						$('.ver-inline-menu li:first-child a').click();
					}
				}, 100);
			}, 1000);
		}
	});
}

function loadPerfil(objPerfil){
	_changePermissao = false;
	_changeMenus = false;
	
	jQuery.ajax({
		type: 'GET',
		url: '$context/rest/v1/perfil/categoria/'+objPerfil.id,
		success: function(resp){
			var tabPerfil = '';
			
			if(resp){
				tabPerfil += createTab(objPerfil, resp);
			}
			
			$('.permissoes-tabs-wrapper .tab-content').empty().append(tabPerfil);
			$("#accordion-perfil-permissoes").accordion({ collapsible: true, heightStyle: "content" });
			$(".tooltip-livecom").tooltipster({ contentAsHTML: true, multiple: true, theme: 'tooltipster-livecom' });
			initSwitch();
		}
	});
}

function createTab(objPerfil, permissoes){
	var conteudo = '';
	
	conteudo += '<div class="tab-pane subtab fade in active" id="perfil_'+objPerfil.id+'">';
		conteudo += '<div class="portlet light">';
			
			conteudo += '<div class="portlet-title tabbable-line">';
				conteudo += '<ul class="nav nav-tabs">';
					conteudo += '<li class="active"><a class="link-params-perfil" href="#tabparams-perfil_'+objPerfil.id+'" data-toggle="tab" aria-expanded="false">Permissões</a></li>';
					conteudo += '<li><a class="link-menu-perfil" data-perfil-id="'+objPerfil.id+'" href="#tabmenu-perfil_'+objPerfil.id+'" data-toggle="tab">Menus</a></li>';
				conteudo += '</ul>';
			conteudo += '</div>';
			
			conteudo += '<div class="portlet-body clearfix">';
				conteudo += '<div class="tab-content">';
					
					conteudo += '<div class="tab-pane fade active in" id="tabparams-perfil_'+objPerfil.id+'">';
						conteudo += '<div class="clearfix">';
							conteudo += '<div class="col-md-12">';
								
								conteudo += '<input type="hidden" name="perfil-id" id="perfil-id" class="form-control" placeholder="ID da permissão" value="'+objPerfil.id+'">';
								conteudo += '<div class="form-group">';
									conteudo += '<label class="labelCampo control-label" for="perfil-nome">Nome</label>';
									conteudo += '<input type="text" id="perfil-nome" class="form-control" placeholder="Nome do perfil" value="'+objPerfil.nome+'">';
								conteudo += '</div>';
								
								conteudo += '<div class="form-group">';
									conteudo += '<label class="labelCampo control-label" for="perfil-descricao">Descrição</label>';
									conteudo += '<input type="text" id="perfil-descricao" class="form-control" placeholder="Descrição do perfil" value="'+objPerfil.descricao+'">';
								conteudo += '</div>';
							
							conteudo += '</div>';
						conteudo += '</div>';
						
						conteudo += '<div class="clearfix form-group">';
							conteudo += '<div class="col-md-12">';
								conteudo += '<label class="control-label">Permissões do Perfil&nbsp;&nbsp;&nbsp;<i class="fa fa-question-circle font-blue tooltip-livecom pull-right" title="Selecione as permissões utilizando o dropdown abaixo"></i></label>';
								conteudo += createAccordionPermissoes(permissoes);
							conteudo += '</div>';
						conteudo += '</div>';
					conteudo += '</div>';
					
					conteudo += '<div class="tab-pane fade" id="tabmenu-perfil_'+objPerfil.id+'">';
						conteudo += '<div class="clearfix row">';
							conteudo += '<div class="col-md-12 menu-perfil-wrapper">';
								
								conteudo += '<div class="col-md-6">';
									conteudo += '<label class="labelCampo control-label">Menus não Associados</label>';
									
									conteudo += '<div class="tabs menuEsquerda">';
										conteudo += '<div class="preview-menu maximized menu-notIn">';
											conteudo += '<ul id="menuNotIn" class="menuNotIn"></ul>';
										conteudo += '</div>';
									conteudo += '</div>';
								conteudo += '</div>';
								
								conteudo += '<div class="col-md-6">';
									conteudo += '<label class="labelCampo control-label">Menus Associados</label>';
									
									conteudo += '<div class="tabs menuEsquerda">';
										conteudo += '<div class="preview-menu reorder-hide-first maximized menu-in">';
											conteudo += '<ol id="menuIn" class="nested_with_switch vertical"></ol>';
										conteudo += '</div>';
									conteudo += '</div>';
								conteudo += '</div>';
								
							conteudo += '</div>';
						conteudo += '</div>';
					conteudo += '</div>';
					
				conteudo += '</div>';
				
				conteudo += '<div class="col-md-12 text-right">';
					conteudo += '<button type="button" id="deletar-perfil" data-perfil-id="'+objPerfil.id+'" data-perfil-name="'+objPerfil.nome+'" class="btn btn-danger min-width">Deletar</button>&nbsp;';
					conteudo += '&nbsp;<button type="button" id="salvar-perfil" class="btn btn-primary min-width">Salvar</button>';
				conteudo += '</div>';
			conteudo += '</div>';
			
		conteudo += '</div>';
	conteudo += '</div>';
	
	return conteudo;
}


function createAccordionPermissoes(objPermissoes){
	var accordion = '';
	
	accordion += '<div id="accordion-perfil-permissoes">';
		for(var key in objPermissoes){
			var categoria = objPermissoes[key];

			accordion += '<h3>'+categoria[0].permissao.categoria.nome+'</h3>';
			accordion += '<div>';
				accordion += '<table class="table table-bordered no-footer collapsed">';
					accordion += '<tbody>';
						for(var i = 0; i < categoria.length; i++){
							var permissao = categoria[i], checked = permissao.ligado ? 'checked' : '';
							
							accordion += '<tr>';
								accordion += '<td class="tooltip-livecom" title="'+permissao.permissao.descricao+'">'+permissao.permissao.nome+'</td>';
								accordion += '<td class="three-buttons">';
									accordion += '<input type="checkbox" class="bootstrap perfil-switch" data-on-text="Sim" data-off-text="Não" data-off-color="danger" ';
										accordion += ' data-permissao-id="'+permissao.permissao.id+'" id="perfil-'+permissao.permissao.codigo+'" name="perfil-'+permissao.permissao.codigo+'" '+checked+' />';
								accordion += '</td>';
							accordion += '</tr>';
						}
					accordion += '</tbody>';
				accordion += '</table>';
			accordion += '</div>';
		}
	accordion += '</div>';
	
	return accordion;
}

function loadMenuPerfil(perfil){
	jQuery.ajax({
		type: 'GET',
		url: '$context/rest/v1/menu/perfil/menus/'+perfil,
		success: function(resp){
			var conteudoIn = '', conteudoNotIn = '';
			if(resp){
				if(resp.in){
					for (var i in resp.in){
						var menuIn = resp.in[i];
						conteudoIn += createMenuIn(menuIn);
					}	
				}
				
				if(resp.notIn){
					for(var i in resp.notIn){
						var menuNotIn = resp.notIn[i];
						conteudoNotIn += createMenuNotIn(menuNotIn);
					}
				}
			}
			
			$(".tabs #menuIn").empty().append(conteudoIn);
			$(".tabs #menuNotIn").empty().append(conteudoNotIn);
		}
	});
}

function createMenuIn(menuIn){
	var tab = "";
	var menuId = menuIn.menu && menuIn.menu.id ? menuIn.menu.id : '';
	tab += '<li class="menu-item-parent tabbable cursor-pointer" data-id="'+menuId+'" data-ordem="'+menuIn.ordem+'" data-link="'+menuIn.link+'" data-label="'+menuIn.label+'" data-icone="'+menuIn.icone+'">';
		tab += '<a data-toggle="tab" class="editarCampo tabbable" href="#form_menu" data-id="'+menuIn.id+'" aria-expanded="true">';
		if(menuIn.icone){
			tab += '<i class="linear-icons '+menuIn.icone+'" aria-hidden="true"></i>';
		}
		tab += menuIn.menu.label+'</a>';
		
		if(menuIn.filhos) {
			tab += '<ol>';
			for (var i in menuIn.filhos){
				var menu = menuIn.filhos[i];
				tab += '<li class="menu-item-children tabbable cursor-pointer" data-associacao="'+menuId+'" data-parent="'+menuId+'" data-id="'+menu.menu.id+'" data-ordem="'+menu.menu.ordem+'" data-link="'+menu.menu.link+'" data-label="'+menu.menu.label+'" data-icone="'+menu.menu.icone+'">';
					tab += '<a data-toggle="tab" class="editarCampo tabbable" href="#form_menu" data-id="'+menu.menu.id+'" aria-expanded="true">';
					if(menu.menu.icone){
						tab += '<i class="linear-icons '+menu.menu.icone+'" aria-hidden="true"></i>';
					}
					tab += menu.menu.label+'</a>';
					
					tab += '<span class="reorder-menu-list menu-children">';
						tab += '<i class="fa fa-arrow-up move-up" title="Mover item para cima"></i>';
						tab += '<i class="fa fa-arrow-down move-down" title="Mover item para baixo"></i>';
					tab += '</span>';
				tab += '</li>';
			}
			tab += '</ol>';
		}
		
		tab += '<span class="reorder-menu-list menu-parent">';
			tab += '<i class="fa fa-arrow-up move-up" title="Mover grupo para cima"></i>';
			tab += '<i class="fa fa-arrow-down move-down" title="Mover grupo para baixo"></i>';
		tab += '</span>';
		
	tab += '</li>';
	
	return tab;
}
	
function createMenuNotIn(menuNotIn){
	var tab = "";
	var menuId = menuNotIn.menu && menuNotIn.menu.id ? menuNotIn.menu.id : '';
	
	tab += '<li class="menu-item-parent tabbable cursor-pointer" data-associacao="'+menuId+'" data-id="'+menuId+'" data-ordem="'+menuNotIn.ordem+'" data-link="'+menuNotIn.menu.link+'" data-label="'+menuNotIn.menu.label+'" data-icone="'+menuNotIn.menu.icone+'">';
		tab += '<a data-toggle="tab" class="editarCampo tabbable" href="#form_menu" data-id="'+menuNotIn.id+'" aria-expanded="true">';
		if(menuNotIn.icone){
			tab += '<i class="linear-icons '+menuNotIn.icone+'" aria-hidden="true"></i>';
		}
		tab += menuNotIn.menu.label+'</a>';
			
		tab += '<ol>';
		if(menuNotIn.filhosNotIn) {
			for (var i in menuNotIn.filhosNotIn){
				var menu = menuNotIn.filhosNotIn[i];
				var menuFilhoId = menu.id ? menu.id : '';
				tab += '<li class="menu-item-children tabbable cursor-pointer" data-associacao="'+menuFilhoId+'" data-parent="'+menuId+'" data-id="'+menu.menu.id+'" data-ordem="'+menu.menu.ordem+'" data-link="'+menu.menu.link+'" data-label="'+menu.menu.label+'" data-icone="'+menu.menu.icone+'">';
					tab += '<a data-toggle="tab" class="editarCampo tabbable" href="#form_menu" data-id="'+menu.menu.id+'" aria-expanded="true">';
					if(menu.menu.icone){
						tab += '<i class="linear-icons '+menu.menu.icone+'" aria-hidden="true"></i>';
					}
					tab += menu.menu.label+'</a>';
					
					tab += '<span class="reorder-menu-list menu-children">';
						tab += '<i class="fa fa-arrow-up move-up" title="Mover item para cima"></i>';
						tab += '<i class="fa fa-arrow-down move-down" title="Mover item para baixo"></i>';
					tab += '</span>';
				tab += '</li>';
			}
		}
		tab += '</ol>';
		
		tab += '<span class="reorder-menu-list menu-parent">';
			tab += '<i class="fa fa-arrow-up move-up" title="Mover grupo para cima"></i>';
			tab += '<i class="fa fa-arrow-down move-down" title="Mover grupo para baixo"></i>';
		tab += '</span>';
	tab += '</li>';
	
	return tab;
}
</script>
#parse("/msg.htm")