<div class="page-content">
	<h3 class="page-title">Preview Menu #if($id) - $!id #end</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Menus</span> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/permissoes/perfil.htm">Perfis de Acesso</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Preview Menu #if($id) - $!id #end</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-list"></i> Preview Menu</span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="clearfix modal-padding text-center">
	      			<h3>Você está vendo o menu do perfil #if($id) - $!id #end</h3>
	      			<a onclick="window.close();" class="btn btn-primary min-width">Voltar</a>
	      		</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(".menuEsquerda").html("");

$(document).ready(function(){
	var id = "$!id";
	previewMenu(id);
});


function previewMenu(id){
	ajaxGet("$context/rest/v1/menu/perfil/"+id, null, null, success);
	
	function success(res) {
		$("body").find(".menuEsquerda").addClass("paginaAtual")
		var conteudo = '';
		conteudo += '<ul>';
			
			for (var i in res){
				var menu = res[i];
				var icone = res[i].icone;
				
					if(!menu.parent) {
						conteudo += '<li class="menu-item-parent">';
					}else{
						conteudo += '<li class="menu-item-children">';
					}
						conteudo += '<a>';
						if(menu.icone){
							conteudo += '<i class="linear-icons '+icone+'"></i>';
						}
						conteudo += menu.label+'</a>';
						
					conteudo += '</li>';
			}
			
		conteudo += '</ul>';
		$("body").find(".menuEsquerda").removeClass("paginaAtual").append(conteudo);
	}	
}
</script>
#parse("/msg.htm")