/* ========================================================================
 * bootstrap-tour - v0.10.3
 * http://bootstraptour.com
 * ========================================================================
 * Copyright 2012-2015 Ulrich Sossou
 *
 * ========================================================================
 * Licensed under the MIT License (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     https://opensource.org/licenses/MIT
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 */

.tour-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1100;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.tour-step-backdrop {
    position: relative;
    z-index: 1101!important;
    pointer-events: none;

    > td {
        position: relative;
        z-index: 1101;
    }
}

.tour-step-background {
    position: absolute !important;
    z-index: 1100;
    background: rgba(255, 255, 255, .3);
    pointer-events: none;
    @include prefix(border-radius, 6px, webkit moz ms o);
    @include prefix(box-shadow, 0px 0px 4px 4px rgba(0, 212, 255, 0.5), webkit moz ms o);
}

.popover[class*="tour-"] { z-index: 1102; }

.popover[class*="tour-"] .popover-navigation { padding: 9px 14px; overflow: hidden; }

.popover[class*="tour-"] .popover-navigation *[data-role="end"] { float: right; }

.popover[class*="tour-"] .popover-navigation *[data-role="prev"],
.popover[class*="tour-"] .popover-navigation *[data-role="next"],
.popover[class*="tour-"] .popover-navigation *[data-role="end"] { cursor: pointer; }

.popover[class*="tour-"] .popover-navigation *[data-role="prev"].disabled,
.popover[class*="tour-"] .popover-navigation *[data-role="next"].disabled,
.popover[class*="tour-"] .popover-navigation *[data-role="end"].disabled { cursor: default; }

.popover[class*="tour-"].orphan { position: fixed; margin-top: 0; }

.popover[class*="tour-"].orphan .arrow { display: none; }

.popover.right{
    >.arrow{ top: 50%!important; }
}