<div class="page-content">
	<h3 class="page-title">Log Chat</h3>
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp; Log Chat</span>
					</div>
					<div class="actions">
						<a class="btn green-sharp min-width sbold refresh-log">Atualizar</a>
						$linkClear
					</div>
				</div>
				<div class="portlet-body">
					<div class="clearfix form-group">
						<textarea id="log-chat" class="form-control textarea large">$!logChat.getLog() </textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$('document').ready(function() {
	var index = #if($logChat.sizeLog()) $logChat.sizeLog() #else 0 #end;
	
	setInterval(getLog,2000);
	
	$('.refresh-log').click(function(){
		$('#log-chat').val('');
		getLog();
	});
	
	function getLog() {
	    jsHttp.get("$context/rest/chat/log?index=" + index, {
			success: function(data) {
				if(jsUtils.isNotEmpty(data)) {
				    var map = data.map;
				    index = map.index;
				    var msg = map.msg;
				    var msgTextArea = $("textarea").val();
				    $("textarea").val(msgTextArea + msg);
				}
			}
		});
	}
});	
</script>