.botao a, a.botao,
a.noDecoration, .noDecoration,
.linhaDetalhe .noDecoration, .linhaDetalhe .noDecoration:hover, .profile-stat-title a:hover, .profile-stat-title a:focus { text-decoration: none; }


div#options.botao, div#options.btn { margin-left: 5px; }



/*********************
SECTION TO DO
**********************/
.filtroFiltrar,
.enviarForm:not(.rascunho){ float: right; }



a.nomeUsuarioLista:hover,
#table tbody td>a:hover,.tabela tbody td>a:hover,#logSql tbody td>a:hover,
.tabelaPequena td>a:hover,
.linkPostArquivo:hover .tituloPostArquivo,
.infoArquivoUpload .adicionarDescricao:hover,
.blue:not(b):not(input):not(.btn):hover, .blue.right:hover,
.noDecoration:hover,
.unselected a:hover,.selected a:hover,.expandedLastNode a:hover,
.liveurl .url a:hover,
.listaComentarios .nomeUsuario:hover,
.infoArquivo .nomeUsuario:hover,
.ajax-file-upload-filename a:hover, .popMenu ul>li>a.post-title:hover,
.listaComentarios .comentario .inline-link:hover { text-decoration: underline; }

.modalNotificacao>a:hover{ background: #e8edef; }

.send-mail-content, .spinner-content, .success-content, .error-content, .confirm-content, .show-error, .table-holder-hide { display: none; }