/********************************************************************************************************************
MEDIA QUERIES
********************************************************************************************************************/
@media screen and (max-width: 1450px){
	.insert-arquivo-thumbs {
		.thumbnails-wrapper, .crop-thumbs-thumbnail-container {
			.img-wrapper:last-child { margin: 8px 0; }
		}
	}
	.info-arquivo {
		h4 { font-size: 14px; }
		div { .labelCampo, input, textarea, p { font-size: 12px; } }
	}
}
@media screen and (max-width: 1300px){
	.profile-sidebar { float: none; width: 100% !important; margin: 0; }
    .profile-sidebar > .portlet { margin-bottom: 20px; }

    .profile-content.user { width: 100%; margin-left: 0; }
    .profile-content { overflow: visible; }

    .profile-content.user .portlet.light .portlet-title.tabbable-line .caption,
    .profile-content.user .portlet.light .portlet-title.tabbable-line .nav-tabs { float: none; width: 100%; display: block; }
}

@media screen and (max-width: 991px) {
	#header #logo a.cielo:after { content: " "; display: block; width: 22px; height: 22px; position: absolute; top: 8px; left: 0; background: url(../../imagens/icones.png) -88px -304px no-repeat; }
	#header #logo.cielo a { width: 115px; height: 29px; background-size: inherit; }
	#header #logo.cetip a { background-size: inherit; height: 52px; width: 91px; }
	#header #logo a, #header #logo.cielo a,#header #logo.cetip a { padding-left: 35px; background-position: 35px 0; position: relative; width: 185px; }
	#header #logo, #header #logo.cielo,#header #logo.cetip { padding-left: 20px; }
	#header #logo.cetip { padding-top: 8px; }
	
	.sideBox{ width: 30%; max-width: 30%; }

	.links a { margin-bottom: 10px; }
	.resp-button{ text-align: right; }
	.col-md-6.bordered{ border-right: none; }

	.mt-element-step .step-line .mt-step-title:after, .mt-element-step .step-line .mt-step-title:before { content: none; }
	.m-heading-1 { margin:0; }

    .icones-header > li.li-tutorial, .icones-header > li.li-tutorial.mural-located{ display: none; }
}

@media screen and (max-width: 1191px) {
	body { width: 100%; }
	html, body { min-width: 100%; margin-left: 0; }
	.popMenu.menuOptions { right: 7px; }
	.headerPagina.fixed { width: calc(100% - 38px); }
	.portlet.light:not(.header-grupo), .portlet-body:not(.header-grupo){ overflow-y:auto; }
}

@media screen and (min-width: 768px) and (max-width: 1230px) { .interacoesMural>a.filtrarPosts { text-indent: -9999px; width: 22px; padding: 0 30px; } }

@media screen and (min-width: 768px) and (max-width: 1191px) { .popMenu:not(.menuConfig):not(.menuNotificacao )>ul>li>a { padding: 15px 20px; } }

@media screen and (max-device-width: 1079px) {
	.listaUsuarios>li>.clearfix .configItem,.listaHorizontal>li>.clearfix .configItem,.acoesArquivo,.configChat,.fecharChat { display: block; }
	.fancybox-nav span { visibility: visible !important; }
	.interacoesPost>a,.interacoesPost>.botaoConfig,.interacoesPost>.botaoLike,.interacoesPost>.infoPost { padding: 15px 20px; }
}

@media screen and (max-width: 992px) {
	.minicolors-theme-bootstrap { width: 100%; }
	input#form_corMenu, input#form_corBusca { width: 100%; text-align: center; }
}

@media screen and (min-width: 640px) and (max-width: 970px) {
	/* adicionado para nao quebrar placeholder */
	.formPost .mascaraLabel[for="form_horaPublicacao"],.formPost .mascaraLabel[for="form_horaExpiracao"],
	.formPost .mascaraLabel[for="form_dataPublicacao"],.formPost .mascaraLabel[for="form_dataExpiracao"] { line-height: 20px; }
}

@media screen and (min-width: 768px) and (max-width: 940px) {
	/* adicionado para nao quebrar placeholder */
	.formPost .mascaraLabel[for="form_horaPublicacao"],.formPost .mascaraLabel[for="form_horaExpiracao"],
	.formPost .mascaraLabel[for="form_dataPublicacao"],.formPost .mascaraLabel[for="form_dataExpiracao"] { line-height: 20px; }
}

@media screen and (max-width: 870px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 35px; }
	.navbar-inverse>.container-fluid>.navbar-header>a:after { content: " "; display: block; width: 22px; height: 22px; position: absolute; top: 25px; left: 15px; background: url(../../imagens/icones.png) -88px -304px no-repeat; }

	.icones-header .li-tags, .icones-header .li-users, .icones-header .li-links,
	.icones-header .li-arquivos{ display: none; }
	.sideBox{ margin-right: -390px!important; }
	#content>.container-fluid>.row>.main{ min-width: 100%!important; width: 100%!important; margin-left: 0; }
	#leftMenu { margin-left: -270px; }
}

@media screen and (min-width: 570px) and (max-width: 768px) {
	ul.ui-autocomplete { position: absolute; z-index: 90; }
	.interacoesMural>a { padding: 0 20px 0 45px; }
	.interacoesMural>a>.icones { left: 10px;}
	.interacoesMural>a.filtrarPosts { text-indent: -9999px; width: 22px; }
	.interacoesMural>a.filtrarPosts>.icones { left: 26px; }
	.interacoesMural>a.postarImagem>.icones,.interacoesMural>a.abrirArquivos>.icones { left: 10px; }
	ul.listaHorizontal.clearfix.listaUsuarios>li { width: 50%; }
	.inputSexo { padding-bottom: 20px; }
}

@media screen and (min-width: 760px) { .rTableCell::before { display: none; } }

@media screen and (max-width: 667px) { .links a.btn-upload-image-crop{ margin-left: 0; } }

@media screen and (min-width: 100px) and (max-width: 760px) {
	#header #logo { padding-left: 10px; }
	#header #logo a:after { top: 12px; left: 10px; }
	#header #logo.cetip a:after { top: 18px; }
	.navbar-inverse>.container-fluid>.navbar-header>a { background: none; position: relative; width: 22px; height: 22px; padding: 10px; }
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{ min-width:inherit; }
	.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{ margin-left: 0; }
	.navbar-inverse>.container-fluid>.navbar-header>a{ background: 0; }
	.navbar-inverse>.container-fluid>.navbar-header>a:after { top: 17px; left: 0px; }
	.navbar-search{ width:50%; }
	#boxLogin { width: 90%; margin: 15px auto; position: relative; left: auto; top: auto; }
	.paddingLogin { padding: 20px 10px 0; }
	.cinzaLogin { padding: 20px 10px; }
	.fundo-busca .icones { cursor: pointer; position: absolute; }
	.interacoesMural { padding: 10px auto; }
	.interacoesMural>a { text-indent: -9999px; width: 22px; padding: 0 20px 0 45px; }
	.interacoesMural>a>.icones { left: 20px; }
	.interacoesMural>a.postarImagem>.icones,.interacoesMural>a.abrirArquivos>.icones { left: 15px; }
	.interacoesMural>a.filtrarPosts>.icones { left: 23px; }
	.popMenu.menuNotificacao { width: 290px; right: -130px; }
	.popMenu.menuNotificacao.alerta { right: -50px; }
	.popMenu.menuNotificacao.alerta:after { margin-left: 66px; }
	.popMenu.menuNotificacao.mensagem:after { margin-left: -15px; }
	.interacoesMural>a.filtrarPosts { text-indent: -9999px; width: 22px; }
	.mascaraLabel { white-space: nowrap; overflow: hidden; width: 90%; text-overflow: ellipsis; }
	ul.listaHorizontal.clearfix>li,.itemEvento .umTerco.left { width: 100%; }
	.listaHorizontal .configItem .popMenu.bottom { margin-left: -130px; }
	.listaHorizontal .configItem .popMenu:after { margin-left: 45px; }
	.botoesHeader { border-left: none; }
	.inputsHeader { width: auto; float: none; clear: both; padding-top: 10px; }
	.formPost .umMeio.semQuebrar { width: 49%; margin-left: 2%; }
	.formPost .umMeio.left.semQuebrar,.doisTercos.center { margin-left: 0; }
	.umTerco,.umQuarto,.umMeio,.umQuinto,.doisQuintos,.doisTercos,.doisTercos.maisLargo,.formPost,.itemEvento .doisTercos,.tresQuartos,.tresQuintos { width: 100%; margin-left: 0; }
	.umQuarto.ddd { width: 23.5%; }
	.convidarUsuarios .campoPost.noPadding .customSelectInner { overflow: hidden; white-space: nowrap; width: 96% !important; text-overflow: ellipsis; }
	#relatorioConvidarUsuario .botoesHeader { margin-left: 0; float: none; text-align: center; padding-left: 0; }
	.abreMensagens { display: inline-block; }
	.botoesMsgs { padding-left: 0; margin-left: 0; }
	
	.stacktable.large-only:not(.tabelaPequena){ display: none !important; }
	.stacktable.small-only { display: table; }
	
	.quebraLinhaForm { clear: both; float: none; width: auto; margin: 0; }
	.loadingImportacao { max-width: 100%; }
	.formDados.cadastrosEventos input,.formDados.cadastrosEventos textarea,.fixSelects { max-width: 100% !important; }
	.itemEvento .miniaturaImg { border-radius: 10px 10px 0 0; left: 50%; margin: 0 0 0 -115px; text-align: center; }
	.imgPalestrante img { border-radius: 10px 10px 0 0; }
	.formCadastroAgenda { position: relative; width: 100%; max-width: 100%; left: 0; margin: 0; }
	
	.graficos { margin: 35px auto; }
	.exportar { width: 25%; }
	.exportar.right { margin-left: 45%; }
	.listaHorizontal.top80 { top: 188px; margin-bottom: 188px; }
	
	.rTableHead, .rTableRow.header { display: none; }
	.rTableCell { display: block; border: none; }
	.rTableCell.last { padding-bottom: 10px; border-bottom: 1px solid #808080; }
	.rTableRow { display: block; }
	.rTableRow.results { border: 1px solid #ddd; }
	.rTableRow.error:after { margin-left: -145px; }
	
	#toast-container{ top: 70px; }
}

@media screen and (min-width: 100px) and (max-width: 640px) {
	.detalheUser { margin-top: 70px; margin-left: 0; }
	.detalheUser .labelCampo,.detalheUser .campoPost,.moreInfoUser .labelCampo,.moreInfoUser .campoPost { text-align: center; }
	.detalheUser .campoPost,.moreInfoUser .campoPost { min-height: 25px; }
	.umTerco.marginFoto { margin-top: -70px; margin-left: auto; }
	#video_jwplayer { width: 500px; }
	.agendaItem .infoAgenda { margin: 105px 85px 0 0; width: 100%; }
	.infoAgenda .title { width: 100%; margin: 20px 0; }
	.popupModal { width: 85%; }
}

@media screen and (max-width: 580px) {
	.toggleIcon{ opacity:0; z-index:-999; }
	.fundo-busca input#busca,.fundo-busca .icones.dropdown { display: none; }
	.labelCheckFiltro{ display: block; margin-bottom: 10px; }
}

@media screen and (min-width: 100px) and (max-width: 480px) {
	.botoesSalvar .umMeio { margin-left: 0; width: 100%; padding-bottom: 15px; }
	#video_jwplayer { width: 300px; }
	.listEvento .liveurl .title { width: 100%; float: none; }
	.listEvento .liveurl .dataAgenda { clear: both; display: block; float: none; padding: 10px 0 10px 114px; text-align: left; }
	.listEvento .liveurl .palestrante { padding-left: 0 !important; display: inherit; }
	.listEvento .inner label { display: inline; }
	.listEvento .liveurl .description { margin: 10px 0 0; }
	.popupModal { height: 96%; width: 96%; }
	.infoArquivoUpload,.squareInside { display: none; }
	.square { min-height: auto; }
	.navbar-search{ width:20%; }
}

@media screen and (min-width: 100px) and (max-width: 360px) {
	.interacoesPost>a,.interacoesPost>.botaoConfig,.interacoesPost>.botaoLike,.interacoesPost>.infoPost { padding: 12px; }
	.listaMural>li .descricaoPost,.listaMural>li .resumoPost { text-align: justify; white-space: pre-line; }
	.quebraLinha { clear: both; float: none; width: auto; }
	.umMeio { margin-left: 0; }
	.interacoesPost>.infoPost .popMenu { margin-left: -160px; }
	.interacoesPost>.infoPost .popMenu:after { margin-left: 53px; }
	.listaMural>li>.nomeGrupo { max-width: 100px; }
	#video_jwplayer { width: 240px; }
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu { position:absolute; float: left; width: auto; margin-top: 0; background-color: #fff; border: 1px solid #efefef; box-shadow: 5px 5px rgba(102,102,102,.1); }
    .navbar-nav .open .dropdown-menu>li>a { padding: 6px 0 6px 13px; color: #333; }
    .navbar-nav .open .dropdown-menu>li>a:active,.navbar-nav .open .dropdown-menu>li>a:hover { background-color: #eee; }
	.table-responsive { border: none; }
}