<div class="headerPagina clearfix">
	<h2 class="tituloPagina">$messages.get('campos.label')</h2>
</div>
${form.startTag()} 
<div class="formDados convidarUsuarios">
	<div class="clearfix">
		<div class="umMeio left">
			<label class="labelCampo">$form.fields.nome.label </label>
			<div class="campoPost">
				#if($form.fields.nome.required)<span class="campoObrigatorio">*</span>#end
				$form.fields.nome
			</div>
			<label class="labelCampo">$form.fields.dependeCampo.label </label>
			<div class="campoPost">
				#if($form.fields.dependeCampo.required) <span class="campoObrigatorio">*</span> #end
				$form.fields.dependeCampo
			</div>
			<label class="labelCampo">$form.fields.dependeCampoValor.label </label>
			<div class="campoPost">
				#if($form.fields.dependeCampoValor.required) <span class="campoObrigatorio">*</span> #end
				$form.fields.dependeCampoValor
			</div>
		</div>
		<div class="umMeio" style="padding-top:9px;">
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.visivel $form.fields.visivel.label
				</label>
			</div>
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.publico $form.fields.publico.label
				</label>
			</div>
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.editavel $form.fields.editavel.label
				</label>
			</div>
			<div class="nivelPermissao border">
				<label class="labelCheck">
					$form.fields.obrigatorioCadastroAdmin $form.fields.obrigatorioCadastroAdmin.label
				</label>
			</div>
		</div>
	</div>
	<div class="clearfix botoesSalvar">
		<div class="umMeio left">
			$form.fields.salvar
		</div>
		<div class="umMeio">
			$form.fields.novo
		</div>
	</div>
	<hr class="noMargin"/> 	
</div>
${form.endTag()} 
<div class="formDados">
$table
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>