<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
<script>
	//6LfxHyYTAAAAADebEzVqh-EY6P4y6PLbpvZRkDA0
	var captcha = null;
	function onloadCallback() {
		captcha = grecaptcha.render("captcha", { sitekey : '$!empresa_deletar_captcha' });
	}
	$('document').ready(function() {
		$("#confirmar").click(function(e) {
			e.preventDefault();
			var response = grecaptcha.getResponse(captcha);
			if(jsUtils.isNotEmpty(response)) {
				location.href="$context/root/confirmarDeletarEmpresa.htm?actionLink=deletar&value=${id}"
			} else {
				jAlert("Preenchar o captcha, para deletar a empresa", null);
			}
		});
	});
</script>
<div class="page-content">
	<h3 class="page-title">Deletar Empresa - $empresa.nome</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> 
				<a href="$context/pages/mural.htm">Home</a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="$context/root/empresas.htm">
				<span>Empresas</span><i class="fa fa-angle-right"></i></a>
			</li>
			<li><span>Deletar Empresa - $empresa.nome</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-trash"></i> Deletar Empresa - $empresa.nome</span>
					</div>
				</div>
				<div class="portlet-body clearfix">	
					<div class="clearfix col-md-12 text-center">
						<h4 class="h4">A empresa <b>$empresa.nome</b> será excluída. <b>Tem certeza?</b></h4> 
						<p class="p">Todas as informações (posts, usuários, arquivos, etc) relacionadas a esta empresa serão apagadas.</p>
						<div class="errorPage">
							<br /><br />
							<div id="captcha"></div>
							<br /><br />
						</div>
						<div class="clearfix text-center">
							<a href="$context/root/empresas.htm" class="btn btn-default min-width">Cancelar</a>
							<input type="submit" value="Confirmar" class="btn btn-primary min-width" id="confirmar">
						</div>
					</div>
				</div>		
			</div>	
		</div>	
	</div>
</div>
#parse("/msg.htm")