<div class="headerPagina clearfix">
	<h2 class="tituloPagina">$messages.get('configurar.wordpress.title')</h2>
</div>
<div class="formDados">
${form.startTag()}
<div class="clearfix">
	<div class="center quebraLinhaForm">
		<div class="umQuarto left quebraLinha">
			<label class="labelCampo">$form.fields.ativar.label</label>
			<div class="campoPost" align="center">
				<div class="marginTop">
   				$form.fields.ativar
   				</div>
   			</div>
		</div>
		<div class="tresQuartos right quebraLinha">
			<label class="labelCampo">$form.fields.url.label</label>
			<div class="campoPost">
 				$form.fields.url
   			</div>
		</div>
	</div>
	</div>
	<div class="clearfix botoesSalvar quebraLinhaForm">
		<div class="center">
			$form.fields.salvar
		</div>
	</div>
</div>
${form.endTag()} 

<script type="text/javascript" src="$context/js/clickFormInput.js"></script>
#parse("/msg.htm")