<div class="page-content">
	<h3 class="page-title">Empresas</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a
				href="$context/pages/mural.htm">Home</a> <i
				class="fa fa-angle-right"></i></li>
			<li><span>Empresas</span></li>
		</ul>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-briefcase"></i> Lista de Empresas</span>
					</div>
					<div class="actions">
						<a class="btn sbold btn-primary" href="$context/cadastro/empresa.htm">Add <i class="fa fa-plus"></i></a>
					</div>
				</div>
				<div class="portlet-body clearfix table-responsive">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Admin</th>
								<th>Dominio</th>
								<th>Trial Code</th>
								<th class="three-buttons">Detalhes</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<div class="paginaAtual" data-page="-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")

<script>
	$(document).ready(function() {

		var dTable = null;

		jsHttp.get("$context/rest/v1/empresa/", {
			beforeSend: function(data){
				$(".paginaAtual").show();
			},
			success : function(data) {
				var conteudo = "";
				for ( var i in data) {
					var campo = data[i];
					conteudo += createTable(campo);
				}

				if (dTable != null) {
					$(".table > tbody").empty();
					dTable.clear();
					dTable.destroy();
				}
				dTable = loadTable(conteudo);
				dTable.data(conteudo).draw();
				$(".paginaAtual").hide();
			}
		});

	});

	function createTable(campo) {
		var rTable = "";
		var fixDominio = campo.dominio;
		
		if(fixDominio.lastIndexOf('http') == -1){
			fixDominio = 'http://' + campo.dominio;
		}
		
		rTable += '<tr data-id="'+campo.id+'">';
		rTable += "<td>" + campo.nome + "</td>";
		rTable += "<td><a href='$context/usuario.htm?id="+campo.adminId+"' class='user-name'>"+campo.admin+"</a></td>";
		rTable += "<td><a href='" + fixDominio + "' class='user-name' target='_blank'>"+ campo.dominio +"</a></td>";
		rTable += "<td>" + campo.trial + "</td>";
			rTable += "<td align='center'>";
				rTable += "<a href='$context$path?id="+ campo.id + "&select=true' class='btn btn-outline blue-sharp  uppercase tooltip-livecom' title='Selecionar'><i class='fa fa-check'></i></a>";
				rTable += "<a href='$context/cadastro/empresa.htm?id="+ campo.id + "' class='btn btn-outline green-sharp  uppercase tooltip-livecom' title='Editar'><i class='fa fa-edit'></i></a>"
				rTable += "<a href='$context/root/confirmarDeletarEmpresa.htm?id="+ campo.id + "' class='btn btn-outline red-mint  uppercase tooltip-livecom' title='Remover'><i class='fa fa-trash'></i></a>";
			rTable+= "</td>";
		rTable += "</tr>";
		return rTable;
	}
</script>