<div class="page-content">
	<h3 class="page-title">Root</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Root</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-file-o" aria-hidden="true"></i> Pages</span>
					</div>
				</div>
				<div class="portlet-body">
					<p class="observacao"><a href="$context/root/parametros.htm">Parametros</a></p>
					<p class="observacao"><a href="$context/root/initParams.htm">Reiniciar Parametros</a></p>
					<p class="observacao"><a href="$context/admin/log4jLog.htm"><i></i>Logs4J</a></p>
					<p class="observacao"><a href="$context/admin/logSql.htm"><i></i>Sql Page</a></p>
					<p class="observacao"><a href="$context/admin/system.htm"><i></i>Consumo de memória</a></p>
					<p class="observacao"><a href="$context/admin/dataSource.htm"><i></i>Data Source</a></p>
					<p class="observacao"><a href="$context/root/tree.htm"><i></i>Tree</a></p>
					<p class="observacao"><a href="$context/root/treeTomcat.htm"><i></i>Tree Tomcat (catalina.home)</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
