<div class="page-content">
	<h3 class="page-title">Templates</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i><a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>E-mail</span> <i class="fa fa-angle-right"></i></li>
			<li><span>Templates</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-envelope-o"></i> Lista de Templates </span>
					</div>
					<div class="actions">
						<a href="template.htm" class="btn sbold btn-primary"> Add <i class="fa fa-plus"></i> </a>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nome</th>
								<th>Tipo</th>
								<th>Data Criação</th>
								<th>Data Atualização</th>
								<th class="four-buttons">Detalhes</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<div class="paginaAtual" data-page="-1"></div>
				</div>
			</div>
		</div>	
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPreview" role="dialog" aria-labelledby="modalPreview" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-picture"></span> Preview Template
					</h4>
				</div>
				<div class="modal-body">
					<iframe id="tempFrame" class="iframe medium bordered radius"></iframe>
				</div>
			</div>
		</form>
	</div>
</div>
#parse("/msg.htm")
<script>
$(document).ready(function(){
	
	// modal preview
	$(document).on('shown.bs.modal', '.modal', function() {
		$(this).find('[autofocus]').focus();
	});
	
	$(document).on("click", ".apagarTemplate", function(e){
		var obj = $(this);
		e.preventDefault();
		
		jConfirm("Deseja realmente deletar este template?", "Atenção", "deletar", function(e) {
			if(e) {
				location.href= obj.attr("href");
			} else {
				return false;
			}
		});
	});
	
	ajaxGet("$context/rest/v1/template", null, null, success);
	
	$("body").on("click", '.previewTemplate',function(){
		var id = $(this).data("value");
		jsHttp.get("$context/rest/v1/template/preview/" + id, {
			success: function(data) {
				$('#tempFrame').contents().find('html').html(data.html);
			}
		});
	});	
	
});

function beforeSend(data){
	$(".paginaAtual").show();
}
function success(data){
	var conteudo = "";
	for(var i in data){
		var campo = data[i];
		conteudo += createTable(campo);
	}
	$(".table > tbody").append(conteudo);
	dTable = loadTable();
	$(".paginaAtual").hide();
}
function createTable(campo) {
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'" class="text-center">';
		rTable += "<td>" + campo.id + "</td>";
		rTable += "<td><a class='previewTemplate sbold' title='Preview' data-toggle='modal' data-target='#modalPreview' data-value='"+campo.id+"'>" + campo.nome + "</a></td>";
		rTable += "<td>" + campo.tipo + "</td>";
		rTable += "<td>" + campo.dateCreated + "</td>";
		rTable += "<td>" + campo.dateupdated + "</td>";
		rTable += "<td align='center'>";
			rTable += '<a href="template.htm?id='+campo.id+'" class="btn btn-outline uppercase green-sharp tooltip-livecom" title="Editar código"><i class="fa fa-edit"></i></a>';
			rTable += '<a href="templates.htm?actionLink=download&value='+campo.id+'&page=0" class="btn btn-outline uppercase blue-sharp tooltip-livecom" title="Download"><i class="fa fa-cloud-download"></i></a>';
			rTable += '<a href="#" class="previewTemplate btn btn-outline uppercase purple-sharp tooltip-livecom" title="Preview" data-toggle="modal" data-target="#modalPreview" data-value="'+ campo.id + '"><i class="fa fa-picture-o"></i></a>';
			rTable += '<button data-id="'+ campo.id + '" class="apagar uppercase btn btn-outline red-mint" data-toggle="confirmation" data-placement="top" data-original-title="Confirma deletar?" title=""><i class="fa fa-trash"></i></button>';
		rTable += "</td>";
	rTable += "</tr>";
	return rTable;
}

function confirmationConfig() {
	$('button[aria-describedby*="confirmation"]').confirmation('hide');
	setTimeout(function() {
		$("[data-toggle=confirmation]").confirmation({
			singleton : true,
			container : '.table',
			btnOkClass : 'btn btn-sm btn-success',
			btnCancelClass : 'btn btn-sm btn-danger',
			popout : true,
			btnOkLabel : 'Sim',
			btnCancelLabel : "Não"
		});
	}, 500);
}

$('.table').on('page.dt', function() {
	confirmationConfig();
});

$('.table').on('order.dt', function() {
	confirmationConfig();
});

$('.table').on('search.dt', function() {
	confirmationConfig();
});

$('.table').on('length.dt', function() {
	confirmationConfig();
});

$('body').on('confirmed.bs.confirmation','.apagar',function() {
			var id = $(this).attr('data-id');
			if (id) {
				httpDelete("$context/rest/v1/template/" + id, function(data) {
						$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
						dTable.row(
								$('tr[data-id="' + id + '"]'))
								.remove().draw(false);
						toastr
								.success('Templates deletado com sucesso.')
					}, function() {
						toastr
								.error('<b>Atenção</b> Não foi possível deletar este template.')
					}, function(){
						$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
					});
			}
		});
</script>