<link href="$context/css/tree_2.3.0.css" rel="stylesheet" type="text/css" />
<div class="page-content">
	<h3 class="page-title">Tree Tomcat</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Root</span> <i class="fa fa-angle-right"></i></li>
			<li><span>Tree Tomcat</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i
							class="fa fa-folder-open"></i> Selecionar Pasta</span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="clearfix form-group">
						<div class="col-md-6">
							<label class="control-label labelCampo">Caminho da pasta (ex.: /livecom)</label>
						</div>
						<div class="col-md-6">
							<input type="text" name="caminho" value="$!caminho" id="caminho"	class="form-control input-sm tooltip-livecom">
						</div>
					</div>
					<div class="clearfix text-center">
						<input type="button" value="Visualizar" id="visualizar" class="btn btn-primary">
					</div> 
				</div>
			</div>

			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i
							class="fa fa-code-fork"></i> Arquivos no caminho informado:</span>
					</div>
				</div>
				<div class="portlet-body">$!tree</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#visualizar").on("click", function() {
			location.href = "$context/root/treeTomcat.htm?caminho="+ $("#caminho").val();
		});
	});
</script>

