@import '_bootstrap-tour';


/* popover tutorial */
.popover{
    &.tour-tutorial-web{
        background-color: #27a9b1;
        color: #fff;
        padding: 30px;
        min-width: 300px;
        max-width: 300px;
        border: none;
        position: fixed;
        z-index: 9999;
        @include prefix(box-shadow, none, webkit moz ms o);

        &.top-20{ top: 20%!important; }

        .popover-title{
            background-color: transparent;
            border: none;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px!important;
        }

        .popover-content{ font-size: 13px; margin-bottom: 15px; }

        .popover-title, .popover-content{ padding: 0; }

        &.left{
            > .arrow{
                &:after{ border-left-color: #27a9b1; }
            }
        }

        &.right{
            > .arrow{
                &:after{ border-right-color: #27a9b1; }
            }
        }

        &.bottom{
            > .arrow{
                &:after{ border-bottom-color: #27a9b1; }
            }
        }
    }
}

.tutorial-list{
    margin-left: 17px;
    margin-top: 10px;

    li{
        list-style-type: disc;
        margin-bottom: 10px;

        p{ margin: 0; line-height: 25px; }
    }

}


.tutorial-icons{
    display: block;

    &.white-bot-outline{
        background: url(../../img/tutorial/img_robo_branco.png) no-repeat center center;
        width: 42px;
        height: 42px;
        float: left;
    }

    &.white-x{
        cursor: pointer;
        background: url(../../img/tutorial/xis.png) no-repeat center center;
        width: 35px;
        height: 35px;
        float: right;
    }

    &.white-check{
        cursor: pointer;
        background: url(../../img/tutorial/white-check.png) no-repeat center center;
        width: 35px;
        height: 35px;
        float: right;
    }
}