/*** cols ***/
.col-xs-2.text-right > a{ padding: 6px 12px; }

.col-md-6.menor { width: 28%; margin-left: 2%; }

.col-md-6.bordered { border-right: 1px solid #e1e1e1; }

.col-md-7.maior { width: 59.5%; }


/*** layout views ***/
.view-grid-modal, .view-tabela-modal{ max-height: 350px; }

.view-grid, .view-lista, .view-tabela,
.view-grid-modal, .view-lista-modal, .view-tabela-modal { position: relative; }

.view-lista, .view-grid, .view-lista-modal, .view-grid-modal{ display: none; }