/*
laranja			- #f38034
laranja escuro 	- #ce7231
azul 			- #254284
 */
#logo{
	width: 45px;
	height:45px;
}
#logo a{
	background:url(../imagens/logo_itau.png) no-repeat;
	width: 45px;
	height:45px;
	background-size: 100% 100%; 
}
.bkLogoLogin #logo{
	padding:17px 0 0 0;
}
#header #logo{
	padding-top:10px;
	padding-left: 20px;
}
.fotoUsuario{
	border-color:#254284;
}
.fundoBusca .mascaraLabel{
	color:#dda484!important;
}
.bkLogoLogin{
	height: 74px;
}
.infoUsuario{
	padding-top: 105px;
}
.campoPost #titulo.input {
	  height: 40px;
}
/*****************************************************************
BACKGROUND LARANJA
*****************************************************************/
#header, .bkLogoLogin, #popup_title, #chatsAtivos .headerChat p:hover, .configChat:hover, .fecharChat:hover, .interacoesPost > a > span, .interacoesPost > div > span, #chatsAtivos .janelaChat.blinkChat .headerChat, .titleModal{
	background-color:#f38034;
}


/*****************************************************************
BACKGROUND LARANJA ESCURO
*****************************************************************/
.iconeChat:hover, .iconeChat.ativo, .fundoBusca input, .fundoNotificacao.ativo:hover, #chatsAtivos .headerChat, .iconeChat:hover, .iconeChat.ativo{
	background-color:#ce7231;
}


/*****************************************************************
BACKGROUND AZUL
*****************************************************************/
.fundoNotificacao > span, #output .ajax-file-upload-red{
	background-color:#254284;
}

/*****************************************************************
TEXT COLOR
*****************************************************************/
.listaMural > li .chapeuPost, .anexos li .nomeAnexo .adicionarDescricao, .listaMural > li > .nomeGrupo > .nomeUsuario, .verMaisPost, .listaComentarios .nomeUsuario, .labelPost, .linkFancyFotos, .nomeUsuarioLista, h3, .campoObrigatorio, .nomeConversa, .nomeHolder > p, #table tbody td > a,.tabelaPequena td > a, #form-fields legend, .infoArquivo .nomeUsuario, .errorPage h2, .listaWebservices > li > a, .infoArquivoUpload .adicionarDescricao, .abasModal li.ativo a, .ajax-file-upload-filename a.adicionarDescricao{
	color:#f38034;
}


/*****************************************************************
ICONES
*****************************************************************/
.icones, .ico-setaBaixoCinza, .ico-setaCimaCinza, .ajax-file-upload-statusbar-erro:after, .ajax-file-upload-red, .ajax-file-upload-green, .comentario .ajax-file-upload, .responder .ajax-file-upload, .icheckbox_square-green, .iradio_square-green, .menuEsquerda > a.ativo:after, .popMenu:after, .popMenu.top:after, .popMenu.right:after, .popMenu.left:after, .liveurl .image.comvideo a:after, .fotoUsuario .file-wrapper .button:after, #table thead th.sortable > a:after, #table thead th.ascending > a:after, #table thead th.descending > a:after, .conversaChat > ul > li:after, #output .ajax-file-upload-green, #output .ajax-file-upload-red{
	background-image:url(../imagens/icones_itau.png);
}
.ajax-file-upload-abort{
	background: url(../imagens/loading.gif) no-repeat right center;
}

/*****************************************************************
BOTOES
*****************************************************************/
.botao, #popup_ok, #popup_cancel, .contentModal .ajax-file-upload{
	background-color: #254284;
	border:1px solid #254284;
}
.botao:hover, #popup_ok:hover, .botao.is-checked, .botao.ativo{
	background-color: #2c4f9e;
}
.botao.branco, #popup_cancel{
	background: #f5f5f5;
	border:1px solid #d8dce0;
}
.botao.branco:hover, #popup_cancel:hover, .botao.branco.is-checked, .botao.branco.ativo{
	background: #fcfcfc;
}

/*****************************************************************
MEDIA SCREEN
*****************************************************************/
@media screen and (max-width: 1191px) {
	#header #logo a:after{
		top:10px;
    }
    #header #logo{
    	padding-top: 10px;
    	padding-left: 20px;
    	width: 45px;
    	height: 45px;
    }
    #header #logo a{
    	width: 45px;
    	height: 45px;
    	background-size: 100% 100%; 
    	padding-left: 0;
    	margin-left: 35px;
    	background-position: 0 0;
    }
    #header #logo a:after{
    	left: -35px;
    	top: 15px;
    }
}






