html, body,.page-wrap {
	background:url(../img/bk_body_invictus.png) center top;
}
.page-wrap.noBG{
	background:url(../img/bg_body_invictus.png);
}
.page-wrap.noBG .middleContent{
	border-color: transparent;
}
#logo a{
	background:url(../img/cynthia_logo.png) no-repeat;
}
.fotoPerfilUsuario{
	border-bottom-color:#BE408C;
}
.boxLogin input[type=submit]{
    background: #BE408C;
}
#header, .progress .bar, #menuEsquerda > ul > li.on > a, #menuEsquerda > div > ul > li.on > a{
	background:#BE408C;
}
#menuEsquerda > ul > li.on > a, #menuEsquerda > div > ul > li.on > a{
	border-color: #BE408C;
}
.progress{
	border:1px solid #BE408C;
}
.campo.grande input[type=text], .campo.grande input[type=password]{
	color:#BE408C;
}
.campo.medioVerde input[type=text], .campo.medioVerde input[type=password]{
	color:#BE408C;
}
.botaoFundo{
    background: #BE408C;
}
.linkSitePost a{
	color:#BE408C;
}
.enviarComentario{
	color: #BE408C;
}
.btPostarComunicado, .postarComunicado .mascaraLabel, .postarComunicado .campo .labelEsq, .label.verde, .listaUsuarios .nomeUsuarioLista, .listaUsuarios .nomeUsuarioLista a{
	color: #BE408C!important;
}
.liveurl .button:active {
	border-color: #BE408C;
}
.liveurl .button:active.prev:before {
	border-right: 5px solid #BE408C;
}
.liveurl .button:active.next:before {
	border-left: 5px solid #BE408C;
}
.file-wrapper .button {
    background: #BE408C;
}
.listaMensagens li.naoLida{
	border-left-color:#BE408C;
}
.listaConversa li.naoLida{
	border-left-color: 2px solid #BE408C;
}
.enviarComentarioEditado{
	color: #BE408C;
}
.listaFiles > li.hover{
	border-color:#BE408C;
}
.listaFiles .dropZone.hover{
	border: 1px solid #BE408C;
}
#popup_title {
	background:#BE408C;
}
#popup_ok{
	color: #BE408C;
}
.boxLogin .titulo, .perfilUsuario .nomeUsuario,.perfilUsuario .nomeUsuario a, .nomeUsuarioGrande, h2, .titulo, .titulo.breadcrumbs .linkBreadcrumbs, .listaMural .postadoPor .nome, .textoComentario .nomeComentario, .textComentario .nomeComentario, .listaConversa .textoConversa .nomeComentario, .filtroFiltrar, .textComentario .mascaraLabel, .interacoesPost .likeCount, .filtroPosts .abreFiltros .inputFiltro{
	color:#b3e24d!important;
}
.icone.ico-fileThumbExt{
	border:1px solid #b3e24d;
}
.badgeNotificacao{
	border:2px solid #BE408C;
}
.busca{
	background:#95326e;	
}
.busca .mascaraLabel{
	color: #cecece!important;
}
.lista > li:hover,div.token-input-dropdown ul li.token-input-selected-dropdown-item , .ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active, .paiComunicado, .bgDetalheUsuario, .interacoesPost .likeCount, .selectFake ul li a:hover, .selectFake ul li a.ativo, .selectFake.modeloBranco ul li a:hover, .selectFake.modeloBranco ul li a.ativo{
	background: #f5e3ee!important;
}
.interacoesPost .ico-like{
	color:#f5e3ee!important;
}
.listaMural .infoPost .dataPost, .btCancelarPostagem, #popup_cancel{
	color:#f5e3ee!important;
}
.listaMural > li:hover, .listaConversa > li:hover{
	background: #FFFFFF!important;
}
.icone, .configItem > ul:after, .alturaMensagem .comVideo:after, .fakeCheck .icone.ativo, .liveurl .image.comvideo a:after{
	background-image: url(../img/icones_cynthia.png)!important;
}
.badgeNotificacao, .abreNotificacoes .qtdNotificacoes, .abreNotificacoes .qtdNotificacoes *, .verMaisPost, .linkFancyFotos{
	color:#b3e24d;
}
.abreNotificacoes .bordaNotificacoes{
	border-left:8px solid #BE408C;
}
.boxLogin input[type=submit]{
	box-shadow: none;
	/*font-family: 'robotolight';
	font-weight:bold;
	font-size:14px;
	padding:8px 20px;
	float: none;
	margin-left:135px;*/
}
.boxLogin input[type=submit]:hover{
	box-shadow: none;
	/*padding:8px 20px;*/
	background: #2655a5;
}
.boxLogin input[type=submit]:active{
	background:#18386d;
	box-shadow: none;
	/*padding:8px 20px;*/
}
.botaoFundo{
	box-shadow: none;
	padding:5px 10px;
}
.botaoFundo:hover{
	box-shadow: none;
	padding:5px 10px;
	background: #2655a5;
}
.botaoFundo:active{
	background:#18386d;
	padding:5px 10px;
	box-shadow: none;
}
.file-wrapper .button {
	box-shadow: none;
	padding:5px 10px;
}
.file-wrapper .button:hover{
	box-shadow: none;
	padding:5px 10px;
	background: #2655a5;
}
.file-wrapper .button:active{
	background:#18386d;
	padding:5px 10px;
	box-shadow: none;
}
.botao.btSalvar{
	background-image:url(../img/bt_salvar_cynthia.png)!important
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../img/fancybox_sprite_cynthia.png')!important;
}
/*custon select*/
select{
	height:33px!important;
}
span.customSelect {
	background-image:url(../img/bg_select_cynthia.png)!important;
}