html, body,.page-wrap {
	background:url(../img/bk_body_invictus.png) center top;
}
.page-wrap.noBG{
	background:url(../img/bg_body_invictus.png);
}
.page-wrap.noBG .middleContent{
	border-color: transparent;
}
.boxLogin{
	padding: 0 0 20px 0;
	width: 350px;
}
.boxLogin .titulo{
	background:url(../img/logo_invictus_grande.png) center top;
	height: 139px;
	text-indent: -9999px;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	padding-bottom: 0;
	border-bottom: none;	
}
.boxLogin label{
	font-family: 'robotolight';
	font-size: 15px;
	display: block;
	color:#0093a6;
	padding-bottom: 0;
	float: left;
	padding-left: 20px;
	width: 65px;
	font-weight: bold;
	line-height: 34px;
}
.boxLogin .campo{
	float: left;
	width: 245px;
}
.boxLogin input[type=text], .boxLogin input[type=password]{
	text-align: left;
	font-size: 15px;
	padding: 5px!important;
}
.esqueceuSenha{
	text-align:right;
	float: none;
	padding-top:0;
	padding-right:20px;
	padding-bottom:10px;
	color: #959595;
	width: auto;
}
.esqueceuSenha *{
	color: #959595;
	text-decoration: none;
}
.esqueceuSenha a:hover{
	text-decoration: underline;
}
#logo a{
	background:url(../img/logo_invictus.png) no-repeat;
}
.fotoPerfilUsuario{
	border-bottom: 4px solid #5cba47;
}
.boxLogin input[type=submit]{
    background: #01b3ca;
}
#header, .progress .bar, #menuEsquerda > ul > li.on > a, #menuEsquerda > div > ul > li.on > a{
	background:#01b3ca;
}
#menuEsquerda > ul > li.on > a, #menuEsquerda > div > ul > li.on > a{
	border-color: #01b3ca;
}
.progress{
	border:1px solid #01b3ca;
}
.campo.grande input[type=text], .campo.grande input[type=password]{
	color:#01b3ca;
	background-color:#DEF4F7 !important;/*daniel*/
}
.campo.medio input[type=text],.campo.medio input[type=password] {
	background-color:#DEF4F7 !important;/*daniel*/
	color:#9F9F9F !important;/*daniel*/
}
.campo.grande input[type=text], .campo.grande input[type=password]{
	color:#01b3ca;
}
.campo.medioVerde input[type=text], .campo.medioVerde input[type=password]{
	color:#01b3ca;
}
.botaoFundo{
    background: #01b3ca;
}
.linkSitePost a{
	color:#01b3ca;
}
.enviarComentario{
	color: #01b3ca;
}
.btPostarComunicado{
	color: #01b3ca;
}
.liveurl .button:active {
	border-color: #01b3ca;
}
.liveurl .button:active.prev:before {
	border-right: 5px solid #01b3ca;
}
.liveurl .button:active.next:before {
	border-left: 5px solid #01b3ca;
}
.file-wrapper .button {
    background: #01b3ca;
}
.listaMensagens li.naoLida{
	border-left-color:#01b3ca;
}
.listaConversa li.naoLida{
	border-left-color: 2px solid #01b3ca;
}
.enviarComentarioEditado{
	color: #01b3ca;
}
.listaFiles > li.hover{
	border-color:#01b3ca;
}
.listaFiles .dropZone.hover{
	border: 1px solid #01b3ca;
}
#popup_title {
	background:#01b3ca;
}
#popup_ok{
	color: #01b3ca;
}
#popup_ok:hover {
	background-color:#E1E1E1;
	color:#019FB6;
}
#popup_cancel {
	color:#01b3ca;
}
#popup_cancel:hover {
	color:#019FB6;
}
.listaCadastro > li > a, .listaCadastro.semLink > li, .perfilUsuario .nomeUsuario,.perfilUsuario .nomeUsuario a, .nomeUsuarioGrande, .listaUsuarios .nomeUsuarioLista, .label.verde, h2, .titulo, .postarComunicado .mascaraLabel, .postarComunicado .campo .labelEsq, .titulo.breadcrumbs .linkBreadcrumbs, .listaMural .postadoPor .nome, .textoComentario .nomeComentario, .textComentario .nomeComentario, .postarComunicado .campo .labelEsq, .listaConversa .textoConversa .nomeComentario, .filtroFiltrar, .textComentario .mascaraLabel, .interacoesPost .likeCount, .filtroPosts .abreFiltros .inputFiltro, label.cinza.descricao span, .bgDetalheUsuario .campo.medio{
	color:#009db2!important;
}
.listaCadastro > li:hover > a, .listaCadastro.semLink > li:hover {
	color: #FFFFFF !important;
}
/*Lista Mensagens*/
.listaMensagens .msgNomes, .listaMensagens .msgNomes span{
	color:#009db2 !important;
}
.listaMensagens li:hover .msgNomes span, .listaMensagens li:hover .msgLink span , .listaMensagens li:hover .msgConteudo{
	color:#FFFFFF !important;
}
/*fim lista mensagens*/
.icone.ico-fileThumbExt{
	border:1px solid #009db2;
}
.badgeNotificacao{
	border:2px solid #01b3ca;
}
.busca{
	background:#008596;	
}
.busca .mascaraLabel{
	color: #3ee7fd!important;
}
.lista > li:hover,div.token-input-dropdown ul li.token-input-selected-dropdown-item , .ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active, .paiComunicado, .interacoesPost .likeCount, .selectFake ul li a:hover, .selectFake ul li a.ativo, .selectFake.modeloBranco ul li a:hover, .selectFake.modeloBranco ul li a.ativo{
	background: #def4f7 !important;
}
.lista.listaMensagens > li:hover{
	background:#01B3CA !important;
}
.bgDetalheUsuario, .tipoPermissao.ativo{
	background: #def4f7 !important;
}
.interacoesPost .ico-like{
	color:#def4f7!important;
}
.listaMural .infoPost .dataPost, .btCancelarPostagem {
	color:#97bcc1!important;
}
.listaMural > li:hover, .listaConversa > li:hover{
	background: #FFFFFF!important;
}
.icone, .configItem > ul:after, .alturaMensagem .comVideo:after, .fakeCheck .icone.ativo, .liveurl .image.comvideo a:after{
	background-image: url(../img/icones_invictus.png)!important;
}
.badgeNotificacao, .abreNotificacoes .qtdNotificacoes, .abreNotificacoes .qtdNotificacoes *, .verMaisPost, .linkFancyFotos{
	color:#5cba47;
}
.abreNotificacoes .bordaNotificacoes{
	border-left:8px solid #5cba47;
}
.boxLogin input[type=submit]{
	font-family: 'robotolight';
	font-weight:bold;
	font-size:14px;
	box-shadow: none;
	padding:8px 20px;
	float: none;
	margin-left:135px;
}
.boxLogin input[type=submit]:hover{
	box-shadow: none;
	padding:8px 20px;
	background: #00c4dd;
}
.boxLogin input[type=submit]:active{
	background:#039eb2;
	box-shadow: none;
	padding:8px 20px;
}
.botaoFundo{
	box-shadow: none;
	padding:5px 10px;
}
.botaoFundo:hover{
	box-shadow: none;
	padding:5px 10px;
	background: #00c4dd;
}
.botaoFundo:active{
	background:#039eb2;
	padding:5px 10px;
	box-shadow: none;
}
.file-wrapper .button {
	box-shadow: none;
	padding:5px 10px;
}
.file-wrapper .button:hover{
	box-shadow: none;
	padding:5px 10px;
	background: #00c4dd;
}
.file-wrapper .button:active{
	background:#039eb2;
	padding:5px 10px;
	box-shadow: none;
}
.botao.btSalvar, .botao.btSalvarConvidar, .botao.btnEnviarMensagem{
	/* background-image:url(../img/bt_salvar_invictus.png)!important; */
	background-color:#039eb2;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../img/fancybox_sprite_invictus.png')!important;
}
/*custon select*/
select{
	height:33px!important;
}
span.customSelect {
	background-image:url(../img/bg_select_invictus.png)!important;
}

/*daniel*/
.label.verde.secao strong {
	color:#01B3CA !important;
	font-weight:bold;
}
.label.verde strong{
	color:#01B3CA !important;
	font-weight:bold;
}
.bgCinzaIcone span{
	color:#01B3CA !important;
}
.listaUsuarios .nomeUsuarioLista a{
	color: #5F5F5F !important;
}
.listaUsuarios li:hover .cargoUsuarioLista, .listaUsuarios li:hover .complementoUsuarioLista{
	color:#009db2 !important;
}
.abasDetalhe ul li a {
	color: #5F5F5F !important;
}
.abasDetalhe ul li a:hover {
	background: #FFFFFF !important;
	color: #5F5F5F !important;
}
.abasDetalhe ul li a.selecionado {
	background: #FFFFFF !important;
	color: #5F5F5F !important;
}
.ico-escrever.mensagem.on, .listaUsuarios li:hover .ico-escrever.mensagem {
	background-position: -68px -180px;
}
.label.verde.secao span {;
	color:#5F5F5F !important;
}
.ico-config-branco {
	background-position: -18px -198px !important;
}
.ico-config-branco.on, .lista li:hover .ico-config-branco {
	background-position: -18px -198px !important;
}
.ico-config-verde.on, .lista li:hover .ico-config-verde {
	background-position: -18px -198px !important;
}
.ico-config-post {
	background-position: 0 -162px;
}
.listaMural .barraCinza .configItem:hover > a {
    background-position: -18px -198px;
}
.campoObrigatorio{
	color:#7F7F7F !important;
}
.bgDetalheUsuario .campo.medio {
	color: #9F9F9F !important;
}
.listaCadastro >li:hover {
	background:#01B3CA !important;
}

.listaUsuarios li:hover .ico-home {
	background-position: 0 -54px !important;
}

/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green, .iradio_square-green {
    background-image: url(../img/green_invictus.png);
}
.ajax-file-upload{
	background-image: url(../img/icones_invictus.png);
}

.ac_loading,.ui-autocomplete-loading {
	background-image: url(../img/indicator.gif)!important;
	background-position: right center!important;
	background-repeat:no-repeat!important;
	background-color: #FFFFFF;
}
.botao.ativo, .uploadArq, .listaMensagens li.naoLida .msgTitulo{
	color:#01B3CA !important;
}
.uploadModal span{
	color:#01B3CA;
}