/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.treestyle {
   white-space: nowrap;
   border: 1px solid #eee;
   width: 20em;
   overflow: auto;
   line-height: 1.5em;
   padding-top: 2px;
}
.treestyle ul {
   /* remove the bullets*/
   list-style-type: none;

   /*draw vertical line down the side of the list*/
   background-image: url(../img/vertical-line.png);
   background-repeat: repeat-y;
   background-position: 10px;

   margin: 0;
   padding-left: 0px;
   margin-left: 10px;
}
.treestyle table tr td {
 border: 0;
 margin: 0;
 padding: 0;
 width: 0;
}
.treestyle ul.level1{ margin-left: 0px; }
.treestyle li {
   margin: 0;
   padding: 0;
   padding-left: 10px;
   line-height: 1.5em;
}

.treestyle span.leaf {
   background-image: url(../img/tjunction.png);
   background-repeat: no-repeat;
}
.treestyle span.expanded {
   background-image: url(../img/minus.png);
   background-repeat: no-repeat;
}
.treestyle span.collapsed {
   background-image: url(../img/plus.png);
   background-repeat: no-repeat;
}
.treestyle span.leafLastNode {
   background-image: url(../img/corner.png);
   background-repeat: no-repeat;
   background-color: #fff;
}
.treestyle span.expandedLastNode {
   background-image: url(../img/minus-corner.png);
   background-color: #fff;
   background-repeat: no-repeat;
}
.treestyle span.collapsedLastNode {
   background-image: url(../img/plus-corner.png);
   background-color: #fff;
   background-repeat: no-repeat;
}
.treestyle span.leafIcon {
    background: url(../img/item.png) 0 50% no-repeat;
    padding-left: 14px;
}
.treestyle span.expandedIcon {
    background: url(../img/folder-open.png) 0 50% no-repeat;
    padding-left: 18px;
}
.treestyle span.collapsedIcon {
    background: url(../img/folder-closed.png) 0 50% no-repeat;
    padding-left: 18px;
}
.treestyle .spacer {
    min-height: 18px;
    padding-left: 18px;
}
.treestyle .selected a { color: #eee; }
.treestyle .selected { margin-left: 1px; }
.treestyle .unselected { margin-left: 1px; }

/* Needed for client side */
.treestyle .hide { display : none; }

/* Style for a custom TreeNode icon. Tweak it if further customization is needed */
.treestyle img.customIcon {
    margin-right: 2px;
    vertical-align: top;
}

.treestyle a.spacer,
.treestyle span.spacer,
.treestyle span.leafIcon,
.treestyle span.expandedIcon,
.treestyle span.collapsedIcon,
.treestyle span.leaf,
.treestyle span.expanded,
.treestyle span.collapsed,
.treestyle span.leafLastNode,
.treestyle span.expandedLastNode,
.treestyle span.collapsedLastNode {
    /* Holly hack for IE6+7 */
    zoom: 1;
}
