.uploadCapaUsuario .ajax-file-upload-statusbar,
.uploadFotoUsuario .ajax-file-upload-statusbar,
.uploadFotoLiveurl .ajax-file-upload-statusbar{ display: none!important; }

.botoesJuntos{
    @extend %float-right; @extend %clear-both;

    > li{
		@extend %float-left;
		
        .botao { @include prefix(border-radius, 0, webkit moz ms o); border-left-width: 0; }
        
        &.first .botao { @include prefix(border-radius, 3px 0 0 3px); border-left-width: 1px; }

        &.last .botao { @include prefix(border-radius, 0 3px 3px 0); }
    }
}

.nivelPermissao {
	border: 1px solid #d8dce0;
	border-bottom: none;
	margin-bottom: 10px;
	background: #FFF;
	@include prefix(border-radius, 3px, webkit moz ms o);

	&.error {
		border-color: #ffc2c2;
		background-color: #ffe6e6;
	}
	
	&.border {
		border: 1px solid #d8dce0;

		.labelCheck {
			padding: 10px;
			display: block;
		}
	}
}

.labelPermissao {
	border-bottom: 1px solid #d8dce0;
	display: block;
	margin-bottom: 0;

	p {
		font-size: 12px;
		padding: 10px;
		color: #808080;
	}

	&.ativo{ background: #e8edef; }
}

.nomeDescricao {
	border-right: 1px solid #d8dce0;
	padding: 10px;
	width: 180px;
	font-size: 14px;
	color: #808080;
}

.nivelPermissao.error .labelPermissao, .nivelPermissao.error .nomeDescricao { border-color: #ffc2c2; }

.botaoFoto {
	margin-bottom: 20px;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 4px;
	max-width: 200px;
	margin: 0 auto;
}

.listaAgenda {
	display: none; clear: both;
	
	hr { margin: 10px 0 15px 0; border-bottom: 1px solid #dadada; }

	> .agendaItem {
		background: #f7f9fa;
		overflow: hidden;
		border: 1px solid #d8dce0;
		position: relative;
		margin-top: 10px;
		@include prefix(border-radius, 10px, webkit moz ms o);
		padding: 10px;
	}
}

.agendaItem{
	.imgPalestrante {
		display: block;
		float: left;
		height: 95px;
		width: 95px;
		overflow: hidden;
		position: relative;

		img {
			max-height: 50%;
			min-height: 50%;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
		}
	}

	.infoAgenda {
		margin: 0 85px 0 100px;
		min-height: 100px;
		position: relative;
	}

	.dataAgenda {
		color: #808080;
		float: right;
		font-size: 12px;
		font-weight: normal;
		position: absolute;
		right: 10px;
		text-align: right;
		top: 10px;
	}

	.description {
		color: #808080;
		display: block;
		padding: 10px 0 0 0;
	}
}

.centralizaPalestrante {
	display: block;
	font-size: 0;
	height: 200%;
	left: -50%;
	position: relative;
	top: -50%;
	width: 200%;
}

.infoAgenda{
	.title {
		color: #0096d0;
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 10px;
		display: block;
	}

	.palestrante {
		color: #808080;
		float: none;
		display: block;
		font-size: 14px;
	}
}

.infoAgenda label,.description label {
	display: block;
	font-size: 14px;
	color: #0096d0;
	margin: 0 0 6px 0;
}

.itemEvento {
	border: 1px solid #d8dce0;
	@include prefix(border-radius, 10px, webkit moz ms o);
	background: #FFF;
	padding: 10px;
	margin-bottom: 20px;
	position: relative;

	.umTerco.left { width: 250px; }

	.doisTercos {
		min-width: 260px;
		padding: 10px 0 0 0;
		width: calc(100% - 250px);
		margin-left: 0;
	}

	.miniaturaImg {
		position: relative;
		width: 230px;
		min-height: 150px;
		border: 1px solid #dadada;
		border-radius: 10px 0 0 10px;
		overflow: hidden;
		height: 180px;

		.centraliza {
			display: block;
			width: 200%;
			height: 200%;
			left: -50%;
			top: -50%;
			position: relative;
			font-size: 0;
		}

		img {
			bottom: 0;
			left: 0;
			margin: auto;
			max-width: 50%;
			min-width: 50%;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.dataEvento, .resumoEvento{
		display: block;
		font-size: 16px;
		color: #808080;
		clear: both;
	}

	.tituloEvento {
		display: block;
		font-size: 22px;
		color: #0096d0;
		clear: both;
		margin: 0 0 15px 0;
		font-weight: 600;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		position: relative;
	}
}

.abrirAgenda {
	position: absolute;
	bottom: -5px;
	right: -5px;
}

.dadosEvento {
	min-height: 170px;
	label {
		display: block;
		font-size: 12px;
		color: #0096d0;
		clear: both;
		margin: 15px 0 0 0;
	}
}

#palestrante, .eventoAberto{ display: none; }

#parametros{
	li i { height: auto; }

	.col-md-8 { margin-left: 20px; }
}

.file-info { padding:10px; }

a.user-name{
	color: #0096d0;
	font-weight: 600;
	@extend %no-margin;
}

/* tabs visual-layout templates */
.tabs-holder{
	> .nav-tabs{
		background: 0 0; margin: 1px 0 0; float: right; display: inline-block; border: 0;
		> li {
			@extend %no-margin; @extend %no-padding;
			> a { margin: 0; padding: 12px 13px 13px; font-size: 13px; color: #666; }

			&.active{
				>a{ margin: 0; background: 0 0; color: #333; }
			}
		}
	}
}

/** EVENTOS **/
.listaEvento{
	@extend %no-padding;

	ul.listaMural li { @extend %no-padding; @extend %no-border; }
}

h2 img.setaCrumbs {
	left: -3px;
	position: relative;
	top: -3px;
}

.formCadastroAgenda {
	position: relative;
	width: 100%;
	max-width: 450px;
	left: 50%;
	margin: 0 0 0 -225px;
}

.checksEventos .iradio_square-green:not(:first-child){ margin-left: 30px !important; }

.abreEvento { cursor: pointer; }

.noHeader {
	display: none;
	padding-top: 0;
	height: 0;
	visibility: hidden;
}

.inputsHeader{
	@extend %clear-both;

	.campoPost { @extend %no-padding-bottom; }
}