.dropdown.open>.dropdown-toggle,
.dropup.open>.dropdown-toggle { border-color: #ddd; }

.dropdown-menu {
    @include prefix(box-shadow, 5px 5px 3px rgba(102, 102, 102, 0.25), webkit moz ms o);
    left: 0;
    min-width: 175px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0;
    background-color: #fff;
    margin: 10px 0 0;
    border: 1px solid #eee;
    font-family: "Open sans",Helvetica,Arial,sans-serif;
    @include prefix(border-radius, 4px, webkit moz ms o);

    li{
        > a {
            padding: 8px 16px;
            color: #6e6e6e;
            text-decoration: none;
            display: block;
            font-weight: 400;
            line-height: 18px;
            white-space: nowrap;

            > [class*=" fa-"], > [class^=fa-], > [class*=" glyphicon-"], >[class^=glyphicon-]{ color: #888; }
            > [class*=" icon-"], > [class^=icon-] { color: #666; }
        } 

        &.divider { background: #f1f3f6; }
        &.header { padding: 8px 14px 2px; }
    }
}

.dropdown-menu>li.active:hover>a,
.dropdown-menu>li.active>a,
.dropdown-menu>li:hover>a { text-decoration: none; background-image: none; background-color: #f6f6f6; color: #555; filter: none; }

.dropdown-menu>li:first-child:hover>a { @include prefix(border-radius, 4px 4px 0 0, webkit moz ms o); }
.dropdown-menu>li:last-child:hover>a { @include prefix(border-radius, 0 0 4px 4px, webkit moz ms o); }
.dropdown-hover:hover>.dropdown-menu { display: block; }

.btn-group>.dropdown-menu,
.dropdown-toggle>.dropdown-menu,
.dropdown>.dropdown-menu { margin-top: 10px; }

.btn-group>.dropdown-menu:before,
.dropdown-toggle>.dropdown-menu:before,
.dropdown>.dropdown-menu:before { position: absolute; top: -8px; left: 9px; right: auto; display: inline-block!important; border-right: 8px solid transparent; border-bottom: 8px solid #e0e0e0; border-left: 8px solid transparent; content: ''; }

.btn-group>.dropdown-menu:after,
.dropdown-toggle>.dropdown-menu:after,
.dropdown>.dropdown-menu:after { position: absolute; top: -7px; left: 10px; right: auto; display: inline-block!important; border-right: 7px solid transparent; border-bottom: 7px solid #fff; border-left: 7px solid transparent; content: ''; }

.btn-group>.dropdown-menu.pull-left:before,
.dropdown-toggle>.dropdown-menu.pull-left:before,
.dropdown>.dropdown-menu.pull-left:before,
.btn-group>.dropdown-menu.pull-right:before,
.dropdown-toggle>.dropdown-menu.pull-right:before,
.dropdown>.dropdown-menu.pull-right:before { left: auto; right: 9px; } 

.btn-group>.dropdown-menu.pull-left:after,
.dropdown-toggle>.dropdown-menu.pull-left:after,
.dropdown>.dropdown-menu.pull-left:after,
.btn-group>.dropdown-menu.pull-right:after,
.dropdown-toggle>.dropdown-menu.pull-right:after,
.dropdown>.dropdown-menu.pull-right:after { left: auto; right: 10px; }

.btn-group.dropup>.dropdown-menu,.dropdown-toggle.dropup>.dropdown-menu,.dropdown.dropup>.dropdown-menu { margin-top: 0; margin-bottom: 10px; }

.btn-group.dropup>.dropdown-menu:after,
.btn-group.dropup>.dropdown-menu:before,
.dropdown-toggle.dropup>.dropdown-menu:after,
.dropdown-toggle.dropup>.dropdown-menu:before,
.dropdown.dropup>.dropdown-menu:after,.dropdown.dropup>.dropdown-menu:before { display: none!important; }

.dropdown-toggle:after { display: none; }