.btn.blue:not(.btn-outline) { color: #FFF; background-color: #3598dc; border-color: #3598dc; }

.btn.blue:not(.btn-outline).focus,
.btn.blue:not(.btn-outline):focus { color: #FFF; background-color: #217ebd; border-color: #15527c; }

.btn.blue:not(.btn-outline).active,
.btn.blue:not(.btn-outline):active,
.btn.blue:not(.btn-outline):hover,
.open>.btn.blue:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #217ebd; border-color: #1f78b5; }

.btn.blue:not(.btn-outline).active.focus,
.btn.blue:not(.btn-outline).active:focus,
.btn.blue:not(.btn-outline).active:hover,
.btn.blue:not(.btn-outline):active.focus,
.btn.blue:not(.btn-outline):active:focus,
.btn.blue:not(.btn-outline):active:hover,
.open>.btn.blue:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.blue:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.blue:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #1c699f; border-color: #15527c; }

.btn.blue:not(.btn-outline).active,.btn.blue:not(.btn-outline):active,.open>.btn.blue:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.blue:not(.btn-outline).disabled.focus,
.btn.blue:not(.btn-outline).disabled:focus,
.btn.blue:not(.btn-outline).disabled:hover,
.btn.blue:not(.btn-outline)[disabled].focus,
.btn.blue:not(.btn-outline)[disabled]:focus,
.btn.blue:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.blue:not(.btn-outline).focus,
fieldset[disabled] .btn.blue:not(.btn-outline):focus,
fieldset[disabled] .btn.blue:not(.btn-outline):hover { background-color: #3598dc; border-color: #3598dc; }

.btn.btn-outline.blue { border-color: #3598dc; color: #3598dc; background: 0 0; }

.btn.btn-outline.blue.active,
.btn.btn-outline.blue:active,
.btn.btn-outline.blue:active:focus,
.btn.btn-outline.blue:active:hover,
.btn.btn-outline.blue:focus,
.btn.btn-outline.blue:hover { border-color: #3598dc; color: #FFF; background-color: #3598dc; }

.btn.blue-madison:not(.btn-outline) { color: #FFF; background-color: #578ebe; border-color: #578ebe; }

.btn.blue-madison:not(.btn-outline).focus,
.btn.blue-madison:not(.btn-outline):focus { color: #FFF; background-color: #3f74a3; border-color: #2a4d6c; }

.btn.blue-madison:not(.btn-outline).active,
.btn.blue-madison:not(.btn-outline):active,
.btn.blue-madison:not(.btn-outline):hover,
.open>.btn.blue-madison:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #3f74a3; border-color: #3c6f9c; }

.btn.blue-madison:not(.btn-outline).active.focus,
.btn.blue-madison:not(.btn-outline).active:focus,
.btn.blue-madison:not(.btn-outline).active:hover,
.btn.blue-madison:not(.btn-outline):active.focus,
.btn.blue-madison:not(.btn-outline):active:focus,
.btn.blue-madison:not(.btn-outline):active:hover,
.open>.btn.blue-madison:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.blue-madison:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.blue-madison:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #356289; border-color: #2a4d6c; } 

.btn.blue-madison:not(.btn-outline).active,.btn.blue-madison:not(.btn-outline):active,.open>.btn.blue-madison:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.blue-madison:not(.btn-outline).disabled.focus,
.btn.blue-madison:not(.btn-outline).disabled:focus,
.btn.blue-madison:not(.btn-outline).disabled:hover,
.btn.blue-madison:not(.btn-outline)[disabled].focus,
.btn.blue-madison:not(.btn-outline)[disabled]:focus,
.btn.blue-madison:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.blue-madison:not(.btn-outline).focus,
fieldset[disabled] .btn.blue-madison:not(.btn-outline):focus,
fieldset[disabled] .btn.blue-madison:not(.btn-outline):hover { background-color: #578ebe; border-color: #578ebe; } 

.btn.btn-outline.blue-madison { border-color: #578ebe; color: #578ebe; background: 0 0; }

.btn.btn-outline.blue-madison.active,
.btn.btn-outline.blue-madison:active,
.btn.btn-outline.blue-madison:active:focus,
.btn.btn-outline.blue-madison:active:hover,
.btn.btn-outline.blue-madison:focus,
.btn.btn-outline.blue-madison:hover { border-color: #578ebe; color: #FFF; background-color: #578ebe; }

.btn.blue-chambray:not(.btn-outline) { color: #FFF; background-color: #2C3E50; border-color: #2C3E50; }

.btn.blue-chambray:not(.btn-outline).focus,
.btn.blue-chambray:not(.btn-outline):focus { color: #FFF; background-color: #1a242f; border-color: #000; }

.btn.blue-chambray:not(.btn-outline).active,
.btn.blue-chambray:not(.btn-outline):active,
.btn.blue-chambray:not(.btn-outline):hover,
.open>.btn.blue-chambray:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #1a242f; border-color: #161f29; }

.btn.blue-chambray:not(.btn-outline).active.focus,
.btn.blue-chambray:not(.btn-outline).active:focus,
.btn.blue-chambray:not(.btn-outline).active:hover,
.btn.blue-chambray:not(.btn-outline):active.focus,
.btn.blue-chambray:not(.btn-outline):active:focus,
.btn.blue-chambray:not(.btn-outline):active:hover,
.open>.btn.blue-chambray:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.blue-chambray:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.blue-chambray:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #0d1318; border-color: #000; }

.btn.blue-chambray:not(.btn-outline).active,
.btn.blue-chambray:not(.btn-outline):active,
.open>.btn.blue-chambray:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.blue-chambray:not(.btn-outline).disabled.focus,
.btn.blue-chambray:not(.btn-outline).disabled:focus,
.btn.blue-chambray:not(.btn-outline).disabled:hover,
.btn.blue-chambray:not(.btn-outline)[disabled].focus,
.btn.blue-chambray:not(.btn-outline)[disabled]:focus,
.btn.blue-chambray:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.blue-chambray:not(.btn-outline).focus,
fieldset[disabled] .btn.blue-chambray:not(.btn-outline):focus,
fieldset[disabled] .btn.blue-chambray:not(.btn-outline):hover { background-color: #2C3E50; border-color: #2C3E50; }

.btn.btn-outline.blue-chambray { border-color: #2C3E50; color: #2C3E50; background: 0 0; }

.btn.btn-outline.blue-chambray.active,
.btn.btn-outline.blue-chambray:active,
.btn.btn-outline.blue-chambray:active:focus,
.btn.btn-outline.blue-chambray:active:hover,
.btn.btn-outline.blue-chambray:focus,
.btn.btn-outline.blue-chambray:hover { border-color: #2C3E50; color: #FFF; background-color: #2C3E50; }

.btn.blue-ebonyclay:not(.btn-outline) { color: #FFF; background-color: #22313F; border-color: #22313F; }

.btn.blue-ebonyclay:not(.btn-outline).focus,
.btn.blue-ebonyclay:not(.btn-outline):focus { color: #FFF; background-color: #10171e; border-color: #000; }

.btn.blue-ebonyclay:not(.btn-outline).active,
.btn.blue-ebonyclay:not(.btn-outline):active,
.btn.blue-ebonyclay:not(.btn-outline):hover,
.open>.btn.blue-ebonyclay:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #10171e; border-color: #0d1217; } 

.btn.blue-ebonyclay:not(.btn-outline).active.focus,
.btn.blue-ebonyclay:not(.btn-outline).active:focus,
.btn.blue-ebonyclay:not(.btn-outline).active:hover,
.btn.blue-ebonyclay:not(.btn-outline):active.focus,
.btn.blue-ebonyclay:not(.btn-outline):active:focus,
.btn.blue-ebonyclay:not(.btn-outline):active:hover,
.open>.btn.blue-ebonyclay:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.blue-ebonyclay:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.blue-ebonyclay:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #040507; border-color: #000; }

.btn.blue-ebonyclay:not(.btn-outline).active,
.btn.blue-ebonyclay:not(.btn-outline):active,
.open>.btn.blue-ebonyclay:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.blue-ebonyclay:not(.btn-outline).disabled.focus,
.btn.blue-ebonyclay:not(.btn-outline).disabled:focus,
.btn.blue-ebonyclay:not(.btn-outline).disabled:hover,
.btn.blue-ebonyclay:not(.btn-outline)[disabled].focus,
.btn.blue-ebonyclay:not(.btn-outline)[disabled]:focus,
.btn.blue-ebonyclay:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.blue-ebonyclay:not(.btn-outline).focus,
fieldset[disabled] .btn.blue-ebonyclay:not(.btn-outline):focus,
fieldset[disabled] .btn.blue-ebonyclay:not(.btn-outline):hover { background-color: #22313F; border-color: #22313F; }

.btn.btn-outline.blue-ebonyclay { border-color: #22313F; color: #22313F; background: 0 0; }

.btn.btn-outline.blue-ebonyclay.active,
.btn.btn-outline.blue-ebonyclay:active,
.btn.btn-outline.blue-ebonyclay:active:focus,
.btn.btn-outline.blue-ebonyclay:active:hover,
.btn.btn-outline.blue-ebonyclay:focus,
.btn.btn-outline.blue-ebonyclay:hover { border-color: #22313F; color: #FFF; background-color: #22313F; }

.btn.blue-hoki:not(.btn-outline) { color: #FFF; background-color: #67809F; border-color: #67809F; }

.btn.blue-hoki:not(.btn-outline).focus,
.btn.blue-hoki:not(.btn-outline):focus { color: #FFF; background-color: #526781; border-color: #344252; } 

.btn.blue-hoki:not(.btn-outline).active,
.btn.blue-hoki:not(.btn-outline):active,
.btn.blue-hoki:not(.btn-outline):hover,
.open>.btn.blue-hoki:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #526781; border-color: #4e627b; }

.btn.blue-hoki:not(.btn-outline).active.focus,
.btn.blue-hoki:not(.btn-outline).active:focus,
.btn.blue-hoki:not(.btn-outline).active:hover,
.btn.blue-hoki:not(.btn-outline):active.focus,
.btn.blue-hoki:not(.btn-outline):active:focus,
.btn.blue-hoki:not(.btn-outline):active:hover,
.open>.btn.blue-hoki:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.blue-hoki:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.blue-hoki:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #44566b; border-color: #344252; }

.btn.blue-hoki:not(.btn-outline).active,.btn.blue-hoki:not(.btn-outline):active,.open>.btn.blue-hoki:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.blue-hoki:not(.btn-outline).disabled.focus,
.btn.blue-hoki:not(.btn-outline).disabled:focus,
.btn.blue-hoki:not(.btn-outline).disabled:hover,
.btn.blue-hoki:not(.btn-outline)[disabled].focus,
.btn.blue-hoki:not(.btn-outline)[disabled]:focus,.btn.blue-hoki:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.blue-hoki:not(.btn-outline).focus,
fieldset[disabled] .btn.blue-hoki:not(.btn-outline):focus,
fieldset[disabled] .btn.blue-hoki:not(.btn-outline):hover { background-color: #67809F; border-color: #67809F; }

.btn.btn-outline.blue-hoki { border-color: #67809F; color: #67809F; background: 0 0; }

.btn.btn-outline.blue-hoki.active,
.btn.btn-outline.blue-hoki:active,
.btn.btn-outline.blue-hoki:active:focus,
.btn.btn-outline.blue-hoki:active:hover,
.btn.btn-outline.blue-hoki:focus,
.btn.btn-outline.blue-hoki:hover { border-color: #67809F; color: #FFF; background-color: #67809F; } 

.btn.blue-steel:not(.btn-outline) { color: #FFF; background-color: #4B77BE; border-color: #4B77BE; }

.btn.blue-steel:not(.btn-outline).focus,
.btn.blue-steel:not(.btn-outline):focus { color: #FFF; background-color: #395f9d; border-color: #243d65; }

.btn.blue-steel:not(.btn-outline).active,
.btn.blue-steel:not(.btn-outline):active,
.btn.blue-steel:not(.btn-outline):hover,
.open>.btn.blue-steel:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #395f9d; border-color: #365b96; }

.btn.blue-steel:not(.btn-outline).active.focus,
.btn.blue-steel:not(.btn-outline).active:focus,
.btn.blue-steel:not(.btn-outline).active:hover,
.btn.blue-steel:not(.btn-outline):active.focus,
.btn.blue-steel:not(.btn-outline):active:focus,
.btn.blue-steel:not(.btn-outline):active:hover,
.open>.btn.blue-steel:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.blue-steel:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.blue-steel:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #2f4f83; border-color: #243d65; }

.btn.blue-steel:not(.btn-outline).active,
.btn.blue-steel:not(.btn-outline):active,
.open>.btn.blue-steel:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.blue-steel:not(.btn-outline).disabled.focus,
.btn.blue-steel:not(.btn-outline).disabled:focus,
.btn.blue-steel:not(.btn-outline).disabled:hover,
.btn.blue-steel:not(.btn-outline)[disabled].focus,
.btn.blue-steel:not(.btn-outline)[disabled]:focus,
.btn.blue-steel:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.blue-steel:not(.btn-outline).focus,
fieldset[disabled] .btn.blue-steel:not(.btn-outline):focus,
fieldset[disabled] .btn.blue-steel:not(.btn-outline):hover { background-color: #4B77BE; border-color: #4B77BE; }

.btn.btn-outline.blue-steel { border-color: #4B77BE; color: #4B77BE; background: 0 0; }

.btn.btn-outline.blue-steel.active,
.btn.btn-outline.blue-steel:active,
.btn.btn-outline.blue-steel:active:focus,
.btn.btn-outline.blue-steel:active:hover,
.btn.btn-outline.blue-steel:focus,
.btn.btn-outline.blue-steel:hover { border-color: #4B77BE; color: #FFF; background-color: #4B77BE; }

.btn.blue-soft:not(.btn-outline) { color: #FFF; background-color: #4c87b9; border-color: #4c87b9; }

.btn.blue-soft:not(.btn-outline).focus,
.btn.blue-soft:not(.btn-outline):focus { color: #FFF; background-color: #3b6d97; border-color: #264560; }

.btn.blue-soft:not(.btn-outline).active,
.btn.blue-soft:not(.btn-outline):active,
.btn.blue-soft:not(.btn-outline):hover,
.open>.btn.blue-soft:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #3b6d97; border-color: #386890; }

.btn.blue-soft:not(.btn-outline).active.focus,
.btn.blue-soft:not(.btn-outline).active:focus,
.btn.blue-soft:not(.btn-outline).active:hover,
.btn.blue-soft:not(.btn-outline):active.focus,
.btn.blue-soft:not(.btn-outline):active:focus,
.btn.blue-soft:not(.btn-outline):active:hover,
.open>.btn.blue-soft:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.blue-soft:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.blue-soft:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #315a7d; border-color: #264560; }

.btn.blue-soft:not(.btn-outline).active,
.btn.blue-soft:not(.btn-outline):active,
.open>.btn.blue-soft:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.blue-soft:not(.btn-outline).disabled.focus,
.btn.blue-soft:not(.btn-outline).disabled:focus,
.btn.blue-soft:not(.btn-outline).disabled:hover,
.btn.blue-soft:not(.btn-outline)[disabled].focus,
.btn.blue-soft:not(.btn-outline)[disabled]:focus,
.btn.blue-soft:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.blue-soft:not(.btn-outline).focus,
fieldset[disabled] .btn.blue-soft:not(.btn-outline):focus,
fieldset[disabled] .btn.blue-soft:not(.btn-outline):hover { background-color: #4c87b9; border-color: #4c87b9; }

.btn.btn-outline.blue-soft { border-color: #4c87b9; color: #4c87b9; background: 0 0; }

.btn.btn-outline.blue-soft.active,
.btn.btn-outline.blue-soft:active,
.btn.btn-outline.blue-soft:active:focus,
.btn.btn-outline.blue-soft:active:hover,
.btn.btn-outline.blue-soft:focus,
.btn.btn-outline.blue-soft:hover { border-color: #4c87b9; color: #FFF; background-color: #4c87b9; }

.btn.blue-dark:not(.btn-outline) { color: #FFF; background-color: #5e738b; border-color: #5e738b; }

.btn.blue-dark:not(.btn-outline).focus,
.btn.blue-dark:not(.btn-outline):focus { color: #FFF; background-color: #495a6d; border-color: #2b343f; }

.btn.blue-dark:not(.btn-outline).active,
.btn.blue-dark:not(.btn-outline):active,
.btn.blue-dark:not(.btn-outline):hover,
.open>.btn.blue-dark:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #495a6d; border-color: #455566; }

.btn.blue-dark:not(.btn-outline).active.focus,
.btn.blue-dark:not(.btn-outline).active:focus,
.btn.blue-dark:not(.btn-outline).active:hover,
.btn.blue-dark:not(.btn-outline):active.focus,
.btn.blue-dark:not(.btn-outline):active:focus,
.btn.blue-dark:not(.btn-outline):active:hover,
.open>.btn.blue-dark:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.blue-dark:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.blue-dark:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #3b4857; border-color: #2b343f; }

.btn.blue-dark:not(.btn-outline).active,
.btn.blue-dark:not(.btn-outline):active,
.open>.btn.blue-dark:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.blue-dark:not(.btn-outline).disabled.focus,
.btn.blue-dark:not(.btn-outline).disabled:focus,
.btn.blue-dark:not(.btn-outline).disabled:hover,
.btn.blue-dark:not(.btn-outline)[disabled].focus,
.btn.blue-dark:not(.btn-outline)[disabled]:focus,
.btn.blue-dark:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.blue-dark:not(.btn-outline).focus,
fieldset[disabled] .btn.blue-dark:not(.btn-outline):focus,
fieldset[disabled] .btn.blue-dark:not(.btn-outline):hover { background-color: #5e738b; border-color: #5e738b; }

.btn.btn-outline.blue-dark { border-color: #5e738b; color: #5e738b; background: 0 0; }

.btn.btn-outline.blue-dark.active,
.btn.btn-outline.blue-dark:active,
.btn.btn-outline.blue-dark:active:focus,
.btn.btn-outline.blue-dark:active:hover,
.btn.btn-outline.blue-dark:focus,
.btn.btn-outline.blue-dark:hover { border-color: #5e738b; color: #FFF; background-color: #5e738b; }

.btn.blue-sharp:not(.btn-outline) { color: #FFF; background-color: #5C9BD1; border-color: #5C9BD1; }

.btn.blue-sharp:not(.btn-outline).focus,
.btn.blue-sharp:not(.btn-outline):focus { color: #FFF; background-color: #3782c3; border-color: #265a87; }

.btn.blue-sharp:not(.btn-outline).active,
.btn.blue-sharp:not(.btn-outline):active,
.btn.blue-sharp:not(.btn-outline):hover,
.open>.btn.blue-sharp:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #3782c3; border-color: #357dbb; }

.btn.blue-sharp:not(.btn-outline).active.focus,
.btn.blue-sharp:not(.btn-outline).active:focus,
.btn.blue-sharp:not(.btn-outline).active:hover,
.btn.blue-sharp:not(.btn-outline):active.focus,
.btn.blue-sharp:not(.btn-outline):active:focus,
.btn.blue-sharp:not(.btn-outline):active:hover,
.open>.btn.blue-sharp:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.blue-sharp:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.blue-sharp:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #2f70a7; border-color: #265a87; }

.btn.blue-sharp:not(.btn-outline).active,
.btn.blue-sharp:not(.btn-outline):active,
.open>.btn.blue-sharp:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.blue-sharp:not(.btn-outline).disabled.focus,
.btn.blue-sharp:not(.btn-outline).disabled:focus,
.btn.blue-sharp:not(.btn-outline).disabled:hover,
.btn.blue-sharp:not(.btn-outline)[disabled].focus,
.btn.blue-sharp:not(.btn-outline)[disabled]:focus,
.btn.blue-sharp:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.blue-sharp:not(.btn-outline).focus,
fieldset[disabled] .btn.blue-sharp:not(.btn-outline):focus,
fieldset[disabled] .btn.blue-sharp:not(.btn-outline):hover { background-color: #5C9BD1; border-color: #5C9BD1; }

.btn.btn-outline.blue-sharp { border-color: #5C9BD1; color: #5C9BD1; background: 0 0; }

.btn.btn-outline.blue-sharp.active,
.btn.btn-outline.blue-sharp:active,
.btn.btn-outline.blue-sharp:active:focus,
.btn.btn-outline.blue-sharp:active:hover,
.btn.btn-outline.blue-sharp:focus,
.btn.btn-outline.blue-sharp:hover { border-color: #5C9BD1; color: #FFF; background-color: #5C9BD1; }