.btn.purple:not(.btn-outline) { color: #fff; background-color: #8E44AD; border-color: #8E44AD; }

.btn.purple:not(.btn-outline).focus,
.btn.purple:not(.btn-outline):focus { color: #fff; background-color: #703688; border-color: #432051; }

.btn.purple:not(.btn-outline).active,
.btn.purple:not(.btn-outline):active,
.btn.purple:not(.btn-outline):hover,
.open>.btn.purple:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #703688; border-color: #6a3381; }

.btn.purple:not(.btn-outline).active.focus,
.btn.purple:not(.btn-outline).active:focus,
.btn.purple:not(.btn-outline).active:hover,
.btn.purple:not(.btn-outline):active.focus,
.btn.purple:not(.btn-outline):active:focus,
.btn.purple:not(.btn-outline):active:hover,
.open>.btn.purple:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.purple:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.purple:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #5b2c6f; border-color: #432051; }

.btn.purple:not(.btn-outline).active,
.btn.purple:not(.btn-outline):active,
.open>.btn.purple:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.purple:not(.btn-outline).disabled.focus,
.btn.purple:not(.btn-outline).disabled:focus,
.btn.purple:not(.btn-outline).disabled:hover,
.btn.purple:not(.btn-outline)[disabled].focus,
.btn.purple:not(.btn-outline)[disabled]:focus,
.btn.purple:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.purple:not(.btn-outline).focus,
fieldset[disabled] .btn.purple:not(.btn-outline):focus,
fieldset[disabled] .btn.purple:not(.btn-outline):hover { background-color: #8E44AD; border-color: #8E44AD; }

.btn.btn-outline.purple { border-color: #8E44AD; color: #8E44AD; background: 0 0; }

.btn.btn-outline.purple.active,
.btn.btn-outline.purple:active,
.btn.btn-outline.purple:active:focus,
.btn.btn-outline.purple:active:hover,
.btn.btn-outline.purple:focus,
.btn.btn-outline.purple:hover { border-color: #8E44AD; color: #fff; background-color: #8E44AD; }

.btn.purple-plum:not(.btn-outline) { color: #fff; background-color: #8775a7; border-color: #8775a7; }

.btn.purple-plum:not(.btn-outline).focus,
.btn.purple-plum:not(.btn-outline):focus { color: #fff; background-color: #6d5b8e; border-color: #493d60; }

.btn.purple-plum:not(.btn-outline).active,
.btn.purple-plum:not(.btn-outline):active,
.btn.purple-plum:not(.btn-outline):hover,
.open>.btn.purple-plum:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #6d5b8e; border-color: #685788; }

.btn.purple-plum:not(.btn-outline).active.focus,
.btn.purple-plum:not(.btn-outline).active:focus,
.btn.purple-plum:not(.btn-outline).active:hover,
.btn.purple-plum:not(.btn-outline):active.focus,
.btn.purple-plum:not(.btn-outline):active:focus,
.btn.purple-plum:not(.btn-outline):active:hover,
.open>.btn.purple-plum:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.purple-plum:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.purple-plum:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #5d4d78; border-color: #493d60; }

.btn.purple-plum:not(.btn-outline).active,
.btn.purple-plum:not(.btn-outline):active,
.open>.btn.purple-plum:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.purple-plum:not(.btn-outline).disabled.focus,
.btn.purple-plum:not(.btn-outline).disabled:focus,
.btn.purple-plum:not(.btn-outline).disabled:hover,
.btn.purple-plum:not(.btn-outline)[disabled].focus,
.btn.purple-plum:not(.btn-outline)[disabled]:focus,
.btn.purple-plum:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.purple-plum:not(.btn-outline).focus,
fieldset[disabled] .btn.purple-plum:not(.btn-outline):focus,
fieldset[disabled] .btn.purple-plum:not(.btn-outline):hover { background-color: #8775a7; border-color: #8775a7; }

.btn.btn-outline.purple-plum { border-color: #8775a7; color: #8775a7; background: 0 0; }

.btn.btn-outline.purple-plum.active,
.btn.btn-outline.purple-plum:active,
.btn.btn-outline.purple-plum:active:focus,
.btn.btn-outline.purple-plum:active:hover,
.btn.btn-outline.purple-plum:focus,.btn.btn-outline.purple-plum:hover { border-color: #8775a7; color: #fff; background-color: #8775a7; }

.btn.purple-medium:not(.btn-outline) { color: #fff; background-color: #BF55EC; border-color: #BF55EC; }

.btn.purple-medium:not(.btn-outline).focus,
.btn.purple-medium:not(.btn-outline):focus { color: #fff; background-color: #ae27e7; border-color: #8013ae; }

.btn.purple-medium:not(.btn-outline).active,
.btn.purple-medium:not(.btn-outline):active,
.btn.purple-medium:not(.btn-outline):hover,
.open>.btn.purple-medium:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #ae27e7; border-color: #aa1ee6; }

.btn.purple-medium:not(.btn-outline).active.focus,
.btn.purple-medium:not(.btn-outline).active:focus,
.btn.purple-medium:not(.btn-outline).active:hover,
.btn.purple-medium:not(.btn-outline):active.focus,
.btn.purple-medium:not(.btn-outline):active:focus,
.btn.purple-medium:not(.btn-outline):active:hover,
.open>.btn.purple-medium:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.purple-medium:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.purple-medium:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #9b18d3; border-color: #8013ae; }

.btn.purple-medium:not(.btn-outline).active,
.btn.purple-medium:not(.btn-outline):active,
.open>.btn.purple-medium:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.purple-medium:not(.btn-outline).disabled.focus,
.btn.purple-medium:not(.btn-outline).disabled:focus,
.btn.purple-medium:not(.btn-outline).disabled:hover,
.btn.purple-medium:not(.btn-outline)[disabled].focus,
.btn.purple-medium:not(.btn-outline)[disabled]:focus,
.btn.purple-medium:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.purple-medium:not(.btn-outline).focus,
fieldset[disabled] .btn.purple-medium:not(.btn-outline):focus,
fieldset[disabled] .btn.purple-medium:not(.btn-outline):hover { background-color: #BF55EC; border-color: #BF55EC; }

.btn.btn-outline.purple-medium { border-color: #BF55EC; color: #BF55EC; background: 0 0; }

.btn.btn-outline.purple-medium.active,
.btn.btn-outline.purple-medium:active,
.btn.btn-outline.purple-medium:active:focus,
.btn.btn-outline.purple-medium:active:hover,
.btn.btn-outline.purple-medium:focus,.btn.btn-outline.purple-medium:hover { border-color: #BF55EC; color: #fff; background-color: #BF55EC; }

.btn.purple-studio:not(.btn-outline) { color: #fff; background-color: #8E44AD; border-color: #8E44AD; }

.btn.purple-studio:not(.btn-outline).focus,
.btn.purple-studio:not(.btn-outline):focus { color: #fff; background-color: #703688; border-color: #432051; }

.btn.purple-studio:not(.btn-outline).active,
.btn.purple-studio:not(.btn-outline):active,
.btn.purple-studio:not(.btn-outline):hover,
.open>.btn.purple-studio:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #703688; border-color: #6a3381; }

.btn.purple-studio:not(.btn-outline).active.focus,
.btn.purple-studio:not(.btn-outline).active:focus,
.btn.purple-studio:not(.btn-outline).active:hover,
.btn.purple-studio:not(.btn-outline):active.focus,
.btn.purple-studio:not(.btn-outline):active:focus,
.btn.purple-studio:not(.btn-outline):active:hover,
.open>.btn.purple-studio:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.purple-studio:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.purple-studio:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #5b2c6f; border-color: #432051; }

.btn.purple-studio:not(.btn-outline).active,
.btn.purple-studio:not(.btn-outline):active,
.open>.btn.purple-studio:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.purple-studio:not(.btn-outline).disabled.focus,
.btn.purple-studio:not(.btn-outline).disabled:focus,
.btn.purple-studio:not(.btn-outline).disabled:hover,
.btn.purple-studio:not(.btn-outline)[disabled].focus,
.btn.purple-studio:not(.btn-outline)[disabled]:focus,
.btn.purple-studio:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.purple-studio:not(.btn-outline).focus,
fieldset[disabled] .btn.purple-studio:not(.btn-outline):focus,
fieldset[disabled] .btn.purple-studio:not(.btn-outline):hover { background-color: #8E44AD; border-color: #8E44AD; }

.btn.btn-outline.purple-studio { border-color: #8E44AD; color: #8E44AD; background: 0 0; }

.btn.btn-outline.purple-studio.active,
.btn.btn-outline.purple-studio:active,
.btn.btn-outline.purple-studio:active:focus,
.btn.btn-outline.purple-studio:active:hover,
.btn.btn-outline.purple-studio:focus,
.btn.btn-outline.purple-studio:hover { border-color: #8E44AD; color: #fff; background-color: #8E44AD; }

.btn.purple-wisteria:not(.btn-outline) { color: #fff; background-color: #9B59B6; border-color: #9B59B6; }

.btn.purple-wisteria:not(.btn-outline).focus,
.btn.purple-wisteria:not(.btn-outline):focus { color: #fff; background-color: #804399; border-color: #532c64; }

.btn.purple-wisteria:not(.btn-outline).active,
.btn.purple-wisteria:not(.btn-outline):active,
.btn.purple-wisteria:not(.btn-outline):hover,
.open>.btn.purple-wisteria:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #804399; border-color: #7a4092; }

.btn.purple-wisteria:not(.btn-outline).active.focus,
.btn.purple-wisteria:not(.btn-outline).active:focus,
.btn.purple-wisteria:not(.btn-outline).active:hover,
.btn.purple-wisteria:not(.btn-outline):active.focus,
.btn.purple-wisteria:not(.btn-outline):active:focus,
.btn.purple-wisteria:not(.btn-outline):active:hover,
.open>.btn.purple-wisteria:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.purple-wisteria:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.purple-wisteria:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #6b3880; border-color: #532c64; } 

.btn.purple-wisteria:not(.btn-outline).active,
.btn.purple-wisteria:not(.btn-outline):active,
.open>.btn.purple-wisteria:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.purple-wisteria:not(.btn-outline).disabled.focus,
.btn.purple-wisteria:not(.btn-outline).disabled:focus,
.btn.purple-wisteria:not(.btn-outline).disabled:hover,
.btn.purple-wisteria:not(.btn-outline)[disabled].focus,
.btn.purple-wisteria:not(.btn-outline)[disabled]:focus,
.btn.purple-wisteria:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.purple-wisteria:not(.btn-outline).focus,
fieldset[disabled] .btn.purple-wisteria:not(.btn-outline):focus,
fieldset[disabled] .btn.purple-wisteria:not(.btn-outline):hover { background-color: #9B59B6; border-color: #9B59B6; }

.btn.btn-outline.purple-wisteria { border-color: #9B59B6; color: #9B59B6; background: 0 0; }

.btn.btn-outline.purple-wisteria.active,
.btn.btn-outline.purple-wisteria:active,
.btn.btn-outline.purple-wisteria:active:focus,
.btn.btn-outline.purple-wisteria:active:hover,
.btn.btn-outline.purple-wisteria:focus,
.btn.btn-outline.purple-wisteria:hover { border-color: #9B59B6; color: #fff; background-color: #9B59B6; }

.btn.purple-seance:not(.btn-outline) { color: #fff; background-color: #9A12B3; border-color: #9A12B3; }

.btn.purple-seance:not(.btn-outline).focus,
.btn.purple-seance:not(.btn-outline):focus { color: #fff; background-color: #720d85; border-color: #36063f; }

.btn.purple-seance:not(.btn-outline).active,
.btn.purple-seance:not(.btn-outline):active,
.btn.purple-seance:not(.btn-outline):hover,
.open>.btn.purple-seance:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #720d85; border-color: #6a0c7b; }

.btn.purple-seance:not(.btn-outline).active.focus,
.btn.purple-seance:not(.btn-outline).active:focus,
.btn.purple-seance:not(.btn-outline).active:hover,
.btn.purple-seance:not(.btn-outline):active.focus,
.btn.purple-seance:not(.btn-outline):active:focus,
.btn.purple-seance:not(.btn-outline):active:hover,
.open>.btn.purple-seance:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.purple-seance:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.purple-seance:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #560a64; border-color: #36063f; }

.btn.purple-seance:not(.btn-outline).active,
.btn.purple-seance:not(.btn-outline):active,
.open>.btn.purple-seance:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.purple-seance:not(.btn-outline).disabled.focus,
.btn.purple-seance:not(.btn-outline).disabled:focus,
.btn.purple-seance:not(.btn-outline).disabled:hover,
.btn.purple-seance:not(.btn-outline)[disabled].focus,
.btn.purple-seance:not(.btn-outline)[disabled]:focus,
.btn.purple-seance:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.purple-seance:not(.btn-outline).focus,
fieldset[disabled] .btn.purple-seance:not(.btn-outline):focus,
fieldset[disabled] .btn.purple-seance:not(.btn-outline):hover { background-color: #9A12B3; border-color: #9A12B3; }

.btn.btn-outline.purple-seance { border-color: #9A12B3; color: #9A12B3; background: 0 0; }

.btn.btn-outline.purple-seance.active,
.btn.btn-outline.purple-seance:active,
.btn.btn-outline.purple-seance:active:focus,
.btn.btn-outline.purple-seance:active:hover,
.btn.btn-outline.purple-seance:focus,
.btn.btn-outline.purple-seance:hover { border-color: #9A12B3; color: #fff; background-color: #9A12B3; }

.btn.purple-intense:not(.btn-outline) { color: #fff; background-color: #8775a7; border-color: #8775a7; }

.btn.purple-intense:not(.btn-outline).focus,
.btn.purple-intense:not(.btn-outline):focus { color: #fff; background-color: #6d5b8e; border-color: #493d60; }

.btn.purple-intense:not(.btn-outline).active,
.btn.purple-intense:not(.btn-outline):active,
.btn.purple-intense:not(.btn-outline):hover,
.open>.btn.purple-intense:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #6d5b8e; border-color: #685788; }

.btn.purple-intense:not(.btn-outline).active.focus,
.btn.purple-intense:not(.btn-outline).active:focus,
.btn.purple-intense:not(.btn-outline).active:hover,
.btn.purple-intense:not(.btn-outline):active.focus,
.btn.purple-intense:not(.btn-outline):active:focus,
.btn.purple-intense:not(.btn-outline):active:hover,
.open>.btn.purple-intense:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.purple-intense:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.purple-intense:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #5d4d78; border-color: #493d60; }

.btn.purple-intense:not(.btn-outline).active,
.btn.purple-intense:not(.btn-outline):active,
.open>.btn.purple-intense:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.purple-intense:not(.btn-outline).disabled.focus,
.btn.purple-intense:not(.btn-outline).disabled:focus,
.btn.purple-intense:not(.btn-outline).disabled:hover,
.btn.purple-intense:not(.btn-outline)[disabled].focus,
.btn.purple-intense:not(.btn-outline)[disabled]:focus,
.btn.purple-intense:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.purple-intense:not(.btn-outline).focus,
fieldset[disabled] .btn.purple-intense:not(.btn-outline):focus,
fieldset[disabled] .btn.purple-intense:not(.btn-outline):hover { background-color: #8775a7; border-color: #8775a7; }

.btn.btn-outline.purple-intense { border-color: #8775a7; color: #8775a7; background: 0 0; }

.btn.btn-outline.purple-intense.active,
.btn.btn-outline.purple-intense:active,
.btn.btn-outline.purple-intense:active:focus,
.btn.btn-outline.purple-intense:active:hover,
.btn.btn-outline.purple-intense:focus,
.btn.btn-outline.purple-intense:hover { border-color: #8775a7; color: #fff; background-color: #8775a7; }

.btn.purple-sharp:not(.btn-outline) { color: #fff; background-color: #796799; border-color: #796799; }

.btn.purple-sharp:not(.btn-outline).focus,
.btn.purple-sharp:not(.btn-outline):focus { color: #fff;  background-color: #61527b; border-color: #3d344d; }

.btn.purple-sharp:not(.btn-outline).active,
.btn.purple-sharp:not(.btn-outline):active,
.btn.purple-sharp:not(.btn-outline):hover,
.open>.btn.purple-sharp:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #61527b; border-color: #5c4e75; }

.btn.purple-sharp:not(.btn-outline).active.focus,
.btn.purple-sharp:not(.btn-outline).active:focus,
.btn.purple-sharp:not(.btn-outline).active:hover,
.btn.purple-sharp:not(.btn-outline):active.focus,
.btn.purple-sharp:not(.btn-outline):active:focus,
.btn.purple-sharp:not(.btn-outline):active:hover,
.open>.btn.purple-sharp:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.purple-sharp:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.purple-sharp:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #504465; border-color: #3d344d; }

.btn.purple-sharp:not(.btn-outline).active,
.btn.purple-sharp:not(.btn-outline):active,
.open>.btn.purple-sharp:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.purple-sharp:not(.btn-outline).disabled.focus,
.btn.purple-sharp:not(.btn-outline).disabled:focus,
.btn.purple-sharp:not(.btn-outline).disabled:hover,
.btn.purple-sharp:not(.btn-outline)[disabled].focus,
.btn.purple-sharp:not(.btn-outline)[disabled]:focus,
.btn.purple-sharp:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.purple-sharp:not(.btn-outline).focus,
fieldset[disabled] .btn.purple-sharp:not(.btn-outline):focus,
fieldset[disabled] .btn.purple-sharp:not(.btn-outline):hover { background-color: #796799; border-color: #796799; }

.btn.btn-outline.purple-sharp { border-color: #796799; color: #796799; background: 0 0; }

.btn.btn-outline.purple-sharp.active,
.btn.btn-outline.purple-sharp:active,
.btn.btn-outline.purple-sharp:active:focus,
.btn.btn-outline.purple-sharp:active:hover,
.btn.btn-outline.purple-sharp:focus,
.btn.btn-outline.purple-sharp:hover { border-color: #796799; color: #fff; background-color: #796799; }

.btn.purple-soft:not(.btn-outline) { color: #fff; background-color: #8877a9; border-color: #8877a9; }

.btn.purple-soft:not(.btn-outline).focus,
.btn.purple-soft:not(.btn-outline):focus { color: #fff; background-color: #6e5c91; border-color: #4a3e62; }

.btn.purple-soft:not(.btn-outline).active,
.btn.purple-soft:not(.btn-outline):active,
.btn.purple-soft:not(.btn-outline):hover,
.open>.btn.purple-soft:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #6e5c91; border-color: #69588b; }

.btn.purple-soft:not(.btn-outline).active.focus,
.btn.purple-soft:not(.btn-outline).active:focus,
.btn.purple-soft:not(.btn-outline).active:hover,
.btn.purple-soft:not(.btn-outline):active.focus,
.btn.purple-soft:not(.btn-outline):active:focus,
.btn.purple-soft:not(.btn-outline):active:hover,
.open>.btn.purple-soft:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.purple-soft:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.purple-soft:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #5d4e7b; border-color: #4a3e62; }

.btn.purple-soft:not(.btn-outline).active,
.btn.purple-soft:not(.btn-outline):active,
.open>.btn.purple-soft:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.purple-soft:not(.btn-outline).disabled.focus,
.btn.purple-soft:not(.btn-outline).disabled:focus,
.btn.purple-soft:not(.btn-outline).disabled:hover,
.btn.purple-soft:not(.btn-outline)[disabled].focus,
.btn.purple-soft:not(.btn-outline)[disabled]:focus,
.btn.purple-soft:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.purple-soft:not(.btn-outline).focus,
fieldset[disabled] .btn.purple-soft:not(.btn-outline):focus,
fieldset[disabled] .btn.purple-soft:not(.btn-outline):hover { background-color: #8877a9; border-color: #8877a9; }

.btn.btn-outline.purple-soft { border-color: #8877a9; color: #8877a9; background: 0 0; }

.btn.btn-outline.purple-soft.active,
.btn.btn-outline.purple-soft:active,
.btn.btn-outline.purple-soft:active:focus,
.btn.btn-outline.purple-soft:active:hover,
.btn.btn-outline.purple-soft:focus,
.btn.btn-outline.purple-soft:hover { border-color: #8877a9; color: #fff; background-color: #8877a9; } .btn-circle { border-radius: 25px!important }