.btn.red:not(.btn-outline) { color: #fff; background-color: #e7505a; border-color: #e7505a; }

.btn.red:not(.btn-outline).focus,
.btn.red:not(.btn-outline):focus { color: #fff; background-color: #e12330; border-color: #a1161f; }

.btn.red:not(.btn-outline).active,
.btn.red:not(.btn-outline):active,
.btn.red:not(.btn-outline):hover,
.open>.btn.red:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #e12330; border-color: #dc1e2b; }

.btn.red:not(.btn-outline).active.focus,
.btn.red:not(.btn-outline).active:focus,
.btn.red:not(.btn-outline).active:hover,
.btn.red:not(.btn-outline):active.focus,
.btn.red:not(.btn-outline):active:focus,
.btn.red:not(.btn-outline):active:hover,
.open>.btn.red:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.red:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.red:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #c51b26; border-color: #a1161f; }

.btn.red:not(.btn-outline).active,
.btn.red:not(.btn-outline):active,
.open>.btn.red:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.red:not(.btn-outline).disabled.focus,
.btn.red:not(.btn-outline).disabled:focus,
.btn.red:not(.btn-outline).disabled:hover,
.btn.red:not(.btn-outline)[disabled].focus,
.btn.red:not(.btn-outline)[disabled]:focus,
.btn.red:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.red:not(.btn-outline).focus,
fieldset[disabled] .btn.red:not(.btn-outline):focus,
fieldset[disabled] .btn.red:not(.btn-outline):hover { background-color: #e7505a; border-color: #e7505a; }

.btn.btn-outline.red { border-color: #e7505a; color: #e7505a; background: 0 0; }

.btn.btn-outline.red.active,
.btn.btn-outline.red:active,
.btn.btn-outline.red:active:focus,
.btn.btn-outline.red:active:hover,
.btn.btn-outline.red:focus,
.btn.btn-outline.red:hover { border-color: #e7505a; color: #fff; background-color: #e7505a; }

.btn.red-pink:not(.btn-outline) { color: #fff; background-color: #E08283; border-color: #E08283; }

.btn.red-pink:not(.btn-outline).focus,
.btn.red-pink:not(.btn-outline):focus { color: #fff; background-color: #d6595a; border-color: #b52d2e; }

.btn.red-pink:not(.btn-outline).active,
.btn.red-pink:not(.btn-outline):active,
.btn.red-pink:not(.btn-outline):hover,
.open>.btn.red-pink:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #d6595a; border-color: #d45152; }

.btn.red-pink:not(.btn-outline).active.focus,
.btn.red-pink:not(.btn-outline).active:focus,
.btn.red-pink:not(.btn-outline).active:hover,
.btn.red-pink:not(.btn-outline):active.focus,
.btn.red-pink:not(.btn-outline):active:focus,
.btn.red-pink:not(.btn-outline):active:hover,
.open>.btn.red-pink:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.red-pink:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.red-pink:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #cf3d3e; border-color: #b52d2e; }

.btn.red-pink:not(.btn-outline).active,
.btn.red-pink:not(.btn-outline):active,
.open>.btn.red-pink:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.red-pink:not(.btn-outline).disabled.focus,
.btn.red-pink:not(.btn-outline).disabled:focus,
.btn.red-pink:not(.btn-outline).disabled:hover,
.btn.red-pink:not(.btn-outline)[disabled].focus,
.btn.red-pink:not(.btn-outline)[disabled]:focus,
.btn.red-pink:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.red-pink:not(.btn-outline).focus,
fieldset[disabled] .btn.red-pink:not(.btn-outline):focus,
fieldset[disabled] .btn.red-pink:not(.btn-outline):hover { background-color: #E08283; border-color: #E08283; }

.btn.btn-outline.red-pink { border-color: #E08283; color: #E08283; background: 0 0; }

.btn.btn-outline.red-pink.active,
.btn.btn-outline.red-pink:active,
.btn.btn-outline.red-pink:active:focus,
.btn.btn-outline.red-pink:active:hover,
.btn.btn-outline.red-pink:focus,
.btn.btn-outline.red-pink:hover { border-color: #E08283; color: #fff; background-color: #E08283; }

.btn.red-sunglo:not(.btn-outline) { color: #fff; background-color: #E26A6A; border-color: #E26A6A; }

.btn.red-sunglo:not(.btn-outline).focus,
.btn.red-sunglo:not(.btn-outline):focus { color: #fff; background-color: #da3f3f; border-color: #ab2121; }

.btn.red-sunglo:not(.btn-outline).active,
.btn.red-sunglo:not(.btn-outline):active,
.btn.red-sunglo:not(.btn-outline):hover,
.open>.btn.red-sunglo:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #da3f3f; border-color: #d83737; }

.btn.red-sunglo:not(.btn-outline).active.focus,
.btn.red-sunglo:not(.btn-outline).active:focus,
.btn.red-sunglo:not(.btn-outline).active:hover,
.btn.red-sunglo:not(.btn-outline):active.focus,
.btn.red-sunglo:not(.btn-outline):active:focus,
.btn.red-sunglo:not(.btn-outline):active:hover,
.open>.btn.red-sunglo:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.red-sunglo:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.red-sunglo:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #cd2828; border-color: #ab2121; }

.btn.red-sunglo:not(.btn-outline).active,
.btn.red-sunglo:not(.btn-outline):active,
.open>.btn.red-sunglo:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.red-sunglo:not(.btn-outline).disabled.focus,
.btn.red-sunglo:not(.btn-outline).disabled:focus,
.btn.red-sunglo:not(.btn-outline).disabled:hover,
.btn.red-sunglo:not(.btn-outline)[disabled].focus,
.btn.red-sunglo:not(.btn-outline)[disabled]:focus,
.btn.red-sunglo:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.red-sunglo:not(.btn-outline).focus,
fieldset[disabled] .btn.red-sunglo:not(.btn-outline):focus,
fieldset[disabled] .btn.red-sunglo:not(.btn-outline):hover { background-color: #E26A6A; border-color: #E26A6A; }

.btn.btn-outline.red-sunglo { border-color: #E26A6A; color: #E26A6A; background: 0 0; }

.btn.btn-outline.red-sunglo.active,
.btn.btn-outline.red-sunglo:active,
.btn.btn-outline.red-sunglo:active:focus,
.btn.btn-outline.red-sunglo:active:hover,
.btn.btn-outline.red-sunglo:focus,
.btn.btn-outline.red-sunglo:hover { border-color: #E26A6A; color: #fff; background-color: #E26A6A; }

.btn.red-intense:not(.btn-outline) { color: #fff; background-color: #e35b5a; border-color: #e35b5a; }

.btn.red-intense:not(.btn-outline).focus,
.btn.red-intense:not(.btn-outline):focus { color: #fff; background-color: #dc302e; border-color: #a21c1b; }

.btn.red-intense:not(.btn-outline).active,
.btn.red-intense:not(.btn-outline):active,
.btn.red-intense:not(.btn-outline):hover,
.open>.btn.red-intense:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #dc302e; border-color: #da2726; }

.btn.red-intense:not(.btn-outline).active.focus,
.btn.red-intense:not(.btn-outline).active:focus,
.btn.red-intense:not(.btn-outline).active:hover,
.btn.red-intense:not(.btn-outline):active.focus,
.btn.red-intense:not(.btn-outline):active:focus,
.btn.red-intense:not(.btn-outline):active:hover,
.open>.btn.red-intense:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.red-intense:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.red-intense:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #c52321; border-color: #a21c1b; }

.btn.red-intense:not(.btn-outline).active,
.btn.red-intense:not(.btn-outline):active,
.open>.btn.red-intense:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.red-intense:not(.btn-outline).disabled.focus,
.btn.red-intense:not(.btn-outline).disabled:focus,
.btn.red-intense:not(.btn-outline).disabled:hover,
.btn.red-intense:not(.btn-outline)[disabled].focus,
.btn.red-intense:not(.btn-outline)[disabled]:focus,
.btn.red-intense:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.red-intense:not(.btn-outline).focus,
fieldset[disabled] .btn.red-intense:not(.btn-outline):focus,
fieldset[disabled] .btn.red-intense:not(.btn-outline):hover { background-color: #e35b5a; border-color: #e35b5a; }

.btn.btn-outline.red-intense { border-color: #e35b5a; color: #e35b5a; background: 0 0; }

.btn.btn-outline.red-intense.active,
.btn.btn-outline.red-intense:active,
.btn.btn-outline.red-intense:active:focus,
.btn.btn-outline.red-intense:active:hover,
.btn.btn-outline.red-intense:focus,
.btn.btn-outline.red-intense:hover { border-color: #e35b5a; color: #fff; background-color: #e35b5a; }

.btn.red-thunderbird:not(.btn-outline) { color: #fff; background-color: #D91E18; border-color: #D91E18; }

.btn.red-thunderbird:not(.btn-outline).focus,
.btn.red-thunderbird:not(.btn-outline):focus { color: #fff; background-color: #ab1813; border-color: #660e0b; }

.btn.red-thunderbird:not(.btn-outline).active,
.btn.red-thunderbird:not(.btn-outline):active,
.btn.red-thunderbird:not(.btn-outline):hover,
.open>.btn.red-thunderbird:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #ab1813; border-color: #a21612; }

.btn.red-thunderbird:not(.btn-outline).active.focus,
.btn.red-thunderbird:not(.btn-outline).active:focus,
.btn.red-thunderbird:not(.btn-outline).active:hover,
.btn.red-thunderbird:not(.btn-outline):active.focus,
.btn.red-thunderbird:not(.btn-outline):active:focus,
.btn.red-thunderbird:not(.btn-outline):active:hover,
.open>.btn.red-thunderbird:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.red-thunderbird:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.red-thunderbird:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #8b130f; border-color: #660e0b; }

.btn.red-thunderbird:not(.btn-outline).active,
.btn.red-thunderbird:not(.btn-outline):active,
.open>.btn.red-thunderbird:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.red-thunderbird:not(.btn-outline).disabled.focus,
.btn.red-thunderbird:not(.btn-outline).disabled:focus,
.btn.red-thunderbird:not(.btn-outline).disabled:hover,
.btn.red-thunderbird:not(.btn-outline)[disabled].focus,
.btn.red-thunderbird:not(.btn-outline)[disabled]:focus,
.btn.red-thunderbird:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.red-thunderbird:not(.btn-outline).focus,
fieldset[disabled] .btn.red-thunderbird:not(.btn-outline):focus,
fieldset[disabled] .btn.red-thunderbird:not(.btn-outline):hover { background-color: #D91E18; border-color: #D91E18; }

.btn.btn-outline.red-thunderbird { border-color: #D91E18; color: #D91E18; background: 0 0; }

.btn.btn-outline.red-thunderbird.active,
.btn.btn-outline.red-thunderbird:active,
.btn.btn-outline.red-thunderbird:active:focus,
.btn.btn-outline.red-thunderbird:active:hover,
.btn.btn-outline.red-thunderbird:focus,
.btn.btn-outline.red-thunderbird:hover { border-color: #D91E18; color: #fff; background-color: #D91E18; }

.btn.red-flamingo:not(.btn-outline) { color: #fff; background-color: #EF4836; border-color: #EF4836; }

.btn.red-flamingo:not(.btn-outline).focus,
.btn.red-flamingo:not(.btn-outline):focus { color: #fff; background-color: #e02612; border-color: #991a0c; }

.btn.red-flamingo:not(.btn-outline).active,
.btn.red-flamingo:not(.btn-outline):active,
.btn.red-flamingo:not(.btn-outline):hover,
.open>.btn.red-flamingo:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #e02612; border-color: #d72411; }

.btn.red-flamingo:not(.btn-outline).active.focus,
.btn.red-flamingo:not(.btn-outline).active:focus,
.btn.red-flamingo:not(.btn-outline).active:hover,
.btn.red-flamingo:not(.btn-outline):active.focus,
.btn.red-flamingo:not(.btn-outline):active:focus,
.btn.red-flamingo:not(.btn-outline):active:hover,
.open>.btn.red-flamingo:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.red-flamingo:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.red-flamingo:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #bf200f; border-color: #991a0c; }

.btn.red-flamingo:not(.btn-outline).active,
.btn.red-flamingo:not(.btn-outline):active,
.open>.btn.red-flamingo:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.red-flamingo:not(.btn-outline).disabled.focus,
.btn.red-flamingo:not(.btn-outline).disabled:focus,
.btn.red-flamingo:not(.btn-outline).disabled:hover,
.btn.red-flamingo:not(.btn-outline)[disabled].focus,
.btn.red-flamingo:not(.btn-outline)[disabled]:focus,
.btn.red-flamingo:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.red-flamingo:not(.btn-outline).focus,
fieldset[disabled] .btn.red-flamingo:not(.btn-outline):focus,
fieldset[disabled] .btn.red-flamingo:not(.btn-outline):hover { background-color: #EF4836; border-color: #EF4836; }

.btn.btn-outline.red-flamingo { border-color: #EF4836; color: #EF4836; background: 0 0; }

.btn.btn-outline.red-flamingo.active,
.btn.btn-outline.red-flamingo:active,
.btn.btn-outline.red-flamingo:active:focus,
.btn.btn-outline.red-flamingo:active:hover,
.btn.btn-outline.red-flamingo:focus,
.btn.btn-outline.red-flamingo:hover { border-color: #EF4836; color: #fff; background-color: #EF4836; }

.btn.red-soft:not(.btn-outline) { color: #fff; background-color: #d05454; border-color: #d05454; }

.btn.red-soft:not(.btn-outline).focus,
.btn.red-soft:not(.btn-outline):focus { color: #fff; background-color: #bd3434; border-color: #812323; }

.btn.red-soft:not(.btn-outline).active,
.btn.red-soft:not(.btn-outline):active,
.btn.red-soft:not(.btn-outline):hover,
.open>.btn.red-soft:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #bd3434; border-color: #b53232; }

.btn.red-soft:not(.btn-outline).active.focus,
.btn.red-soft:not(.btn-outline).active:focus,
.btn.red-soft:not(.btn-outline).active:hover,
.btn.red-soft:not(.btn-outline):active.focus,
.btn.red-soft:not(.btn-outline):active:focus,
.btn.red-soft:not(.btn-outline):active:hover,
.open>.btn.red-soft:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.red-soft:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.red-soft:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #a12c2c; border-color: #812323; }

.btn.red-soft:not(.btn-outline).active,
.btn.red-soft:not(.btn-outline):active,
.open>.btn.red-soft:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.red-soft:not(.btn-outline).disabled.focus,
.btn.red-soft:not(.btn-outline).disabled:focus,
.btn.red-soft:not(.btn-outline).disabled:hover,
.btn.red-soft:not(.btn-outline)[disabled].focus,
.btn.red-soft:not(.btn-outline)[disabled]:focus,
.btn.red-soft:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.red-soft:not(.btn-outline).focus,
fieldset[disabled] .btn.red-soft:not(.btn-outline):focus,
fieldset[disabled] .btn.red-soft:not(.btn-outline):hover { background-color: #d05454; border-color: #d05454; }

.btn.btn-outline.red-soft { border-color: #d05454; color: #d05454; background: 0 0; }

.btn.btn-outline.red-soft.active,
.btn.btn-outline.red-soft:active,
.btn.btn-outline.red-soft:active:focus,
.btn.btn-outline.red-soft:active:hover,
.btn.btn-outline.red-soft:focus,
.btn.btn-outline.red-soft:hover { border-color: #d05454; color: #fff; background-color: #d05454; }

.btn.red-haze:not(.btn-outline) { color: #fff; background-color: #f36a5a; border-color: #f36a5a; }

.btn.red-haze:not(.btn-outline).focus,
.btn.red-haze:not(.btn-outline):focus { color: #fff; background-color: #f03f2a; border-color: #c0210e; }

.btn.red-haze:not(.btn-outline).active,
.btn.red-haze:not(.btn-outline):active,
.btn.red-haze:not(.btn-outline):hover,
.open>.btn.red-haze:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #f03f2a; border-color: #ef3621; }

.btn.red-haze:not(.btn-outline).active.focus,
.btn.red-haze:not(.btn-outline).active:focus,
.btn.red-haze:not(.btn-outline).active:hover,
.btn.red-haze:not(.btn-outline):active.focus,
.btn.red-haze:not(.btn-outline):active:focus,
.btn.red-haze:not(.btn-outline):active:hover,
.open>.btn.red-haze:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.red-haze:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.red-haze:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #e62711; border-color: #c0210e; }

.btn.red-haze:not(.btn-outline).active,
.btn.red-haze:not(.btn-outline):active
open>.btn.red-haze:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.red-haze:not(.btn-outline).disabled.focus,
.btn.red-haze:not(.btn-outline).disabled:focus,
.btn.red-haze:not(.btn-outline).disabled:hover,
.btn.red-haze:not(.btn-outline)[disabled].focus,
.btn.red-haze:not(.btn-outline)[disabled]:focus,
.btn.red-haze:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.red-haze:not(.btn-outline).focus,
fieldset[disabled] .btn.red-haze:not(.btn-outline):focus,
fieldset[disabled] .btn.red-haze:not(.btn-outline):hover { background-color: #f36a5a; border-color: #f36a5a; }

.btn.btn-outline.red-haze { border-color: #f36a5a; color: #f36a5a; background: 0 0; }

.btn.btn-outline.red-haze.active,
.btn.btn-outline.red-haze:active,
.btn.btn-outline.red-haze:active:focus,
.btn.btn-outline.red-haze:active:hover,
.btn.btn-outline.red-haze:focus,
.btn.btn-outline.red-haze:hover { border-color: #f36a5a; color: #fff; background-color: #f36a5a; }

.btn.red-mint:not(.btn-outline) { color: #fff; background-color: #e43a45; border-color: #e43a45; }

.btn.red-mint:not(.btn-outline).focus,
.btn.red-mint:not(.btn-outline):focus { color: #fff; background-color: #cf1c28; border-color: #8b131b; }

.btn.red-mint:not(.btn-outline).active,
.btn.red-mint:not(.btn-outline):active,
.btn.red-mint:not(.btn-outline):hover,
.open>.btn.red-mint:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #cf1c28; border-color: #c61b26; }

.btn.red-mint:not(.btn-outline).active.focus,
.btn.red-mint:not(.btn-outline).active:focus,
.btn.red-mint:not(.btn-outline).active:hover,
.btn.red-mint:not(.btn-outline):active.focus,
.btn.red-mint:not(.btn-outline):active:focus,
.btn.red-mint:not(.btn-outline):active:hover,
.open>.btn.red-mint:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.red-mint:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.red-mint:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #af1822; border-color: #8b131b; }

.btn.red-mint:not(.btn-outline).active,
.btn.red-mint:not(.btn-outline):active,
.open>.btn.red-mint:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.red-mint:not(.btn-outline).disabled.focus,
.btn.red-mint:not(.btn-outline).disabled:focus,
.btn.red-mint:not(.btn-outline).disabled:hover,
.btn.red-mint:not(.btn-outline)[disabled].focus,
.btn.red-mint:not(.btn-outline)[disabled]:focus,
.btn.red-mint:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.red-mint:not(.btn-outline).focus,
fieldset[disabled] .btn.red-mint:not(.btn-outline):focus,
fieldset[disabled] .btn.red-mint:not(.btn-outline):hover { background-color: #e43a45; border-color: #e43a45; }

.btn.btn-outline.red-mint { border-color: #e43a45; color: #e43a45; background: 0 0; }

.btn.btn-outline.red-mint.active,
.btn.btn-outline.red-mint:active,
.btn.btn-outline.red-mint:active:focus,
.btn.btn-outline.red-mint:active:hover,
.btn.btn-outline.red-mint:focus,
.btn.btn-outline.red-mint:hover { border-color: #e43a45; color: #fff; background-color: #e43a45; }