.btn.yellow:not(.btn-outline) { color: #fff; background-color: #c49f47; border-color: #c49f47; }

.btn.yellow:not(.btn-outline).focus,
.btn.yellow:not(.btn-outline):focus { color: #fff; background-color: #a48334; border-color: #6a5422; }

.btn.yellow:not(.btn-outline).active,
.btn.yellow:not(.btn-outline):active,
.btn.yellow:not(.btn-outline):hover,
.open>.btn.yellow:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #a48334; border-color: #9c7c32; }

.btn.yellow:not(.btn-outline).active.focus,
.btn.yellow:not(.btn-outline).active:focus,
.btn.yellow:not(.btn-outline).active:hover,
.btn.yellow:not(.btn-outline):active.focus,
.btn.yellow:not(.btn-outline):active:focus,
.btn.yellow:not(.btn-outline):active:hover,
.open>.btn.yellow:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.yellow:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.yellow:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #896d2c; border-color: #6a5422; }

.btn.yellow:not(.btn-outline).active,
.btn.yellow:not(.btn-outline):active,
.open>.btn.yellow:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.yellow:not(.btn-outline).disabled.focus,
.btn.yellow:not(.btn-outline).disabled:focus,
.btn.yellow:not(.btn-outline).disabled:hover,
.btn.yellow:not(.btn-outline)[disabled].focus,
.btn.yellow:not(.btn-outline)[disabled]:focus,
.btn.yellow:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.yellow:not(.btn-outline).focus,
fieldset[disabled] .btn.yellow:not(.btn-outline):focus,
fieldset[disabled] .btn.yellow:not(.btn-outline):hover { background-color: #c49f47; border-color: #c49f47; }

.btn.btn-outline.yellow { border-color: #c49f47; color: #c49f47; background: 0 0; }

.btn.btn-outline.yellow.active,
.btn.btn-outline.yellow:active,
.btn.btn-outline.yellow:active:focus,
.btn.btn-outline.yellow:active:hover,
.btn.btn-outline.yellow:focus,
.btn.btn-outline.yellow:hover { border-color: #c49f47; color: #fff; background-color: #c49f47; }

.btn.yellow-gold:not(.btn-outline) { color: #fff; background-color: #E87E04; border-color: #E87E04; }

.btn.yellow-gold:not(.btn-outline).focus,
.btn.yellow-gold:not(.btn-outline):focus { color: #fff; background-color: #b66303; border-color: #6b3a02; }

.btn.yellow-gold:not(.btn-outline).active,
.btn.yellow-gold:not(.btn-outline):active,
.btn.yellow-gold:not(.btn-outline):hover,
.open>.btn.yellow-gold:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #b66303; border-color: #ac5d03; }

.btn.yellow-gold:not(.btn-outline).active.focus,
.btn.yellow-gold:not(.btn-outline).active:focus,
.btn.yellow-gold:not(.btn-outline).active:hover,
.btn.yellow-gold:not(.btn-outline):active.focus,
.btn.yellow-gold:not(.btn-outline):active:focus,
.btn.yellow-gold:not(.btn-outline):active:hover,
.open>.btn.yellow-gold:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.yellow-gold:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.yellow-gold:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #935003; border-color: #6b3a02; }

.btn.yellow-gold:not(.btn-outline).active,
.btn.yellow-gold:not(.btn-outline):active,
.open>.btn.yellow-gold:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.yellow-gold:not(.btn-outline).disabled.focus,
.btn.yellow-gold:not(.btn-outline).disabled:focus,
.btn.yellow-gold:not(.btn-outline).disabled:hover,
.btn.yellow-gold:not(.btn-outline)[disabled].focus,
.btn.yellow-gold:not(.btn-outline)[disabled]:focus,
.btn.yellow-gold:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.yellow-gold:not(.btn-outline).focus,
fieldset[disabled] .btn.yellow-gold:not(.btn-outline):focus,
fieldset[disabled] .btn.yellow-gold:not(.btn-outline):hover { background-color: #E87E04; border-color: #E87E04; }

.btn.btn-outline.yellow-gold { border-color: #E87E04; color: #E87E04; background: 0 0; }

.btn.btn-outline.yellow-gold.active,
.btn.btn-outline.yellow-gold:active,
.btn.btn-outline.yellow-gold:active:focus,
.btn.btn-outline.yellow-gold:active:hover,
.btn.btn-outline.yellow-gold:focus,
.btn.btn-outline.yellow-gold:hover { border-color: #E87E04; color: #fff; background-color: #E87E04; }

.btn.yellow-casablanca:not(.btn-outline) { color: #fff; background-color: #f2784b; border-color: #f2784b; }

.btn.yellow-casablanca:not(.btn-outline).focus,
.btn.yellow-casablanca:not(.btn-outline):focus { color: #fff; background-color: #ef541b; border-color: #b1390d; }

.btn.yellow-casablanca:not(.btn-outline).active,
.btn.yellow-casablanca:not(.btn-outline):active,
.btn.yellow-casablanca:not(.btn-outline):hover,
.open>.btn.yellow-casablanca:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #ef541b; border-color: #ee4d12; }

.btn.yellow-casablanca:not(.btn-outline).active.focus,
.btn.yellow-casablanca:not(.btn-outline).active:focus,
.btn.yellow-casablanca:not(.btn-outline).active:hover,
.btn.yellow-casablanca:not(.btn-outline):active.focus,
.btn.yellow-casablanca:not(.btn-outline):active:focus,
.btn.yellow-casablanca:not(.btn-outline):active:hover,
.open>.btn.yellow-casablanca:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.yellow-casablanca:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.yellow-casablanca:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #d74510; border-color: #b1390d; }

.btn.yellow-casablanca:not(.btn-outline).active,
.btn.yellow-casablanca:not(.btn-outline):active,
.open>.btn.yellow-casablanca:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.yellow-casablanca:not(.btn-outline).disabled.focus,
.btn.yellow-casablanca:not(.btn-outline).disabled:focus,
.btn.yellow-casablanca:not(.btn-outline).disabled:hover,
.btn.yellow-casablanca:not(.btn-outline)[disabled].focus,
.btn.yellow-casablanca:not(.btn-outline)[disabled]:focus,
.btn.yellow-casablanca:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.yellow-casablanca:not(.btn-outline).focus,
fieldset[disabled] .btn.yellow-casablanca:not(.btn-outline):focus,
fieldset[disabled] .btn.yellow-casablanca:not(.btn-outline):hover { background-color: #f2784b; border-color: #f2784b; }

.btn.btn-outline.yellow-casablanca { border-color: #f2784b; color: #f2784b; background: 0 0; }

.btn.btn-outline.yellow-casablanca.active,
.btn.btn-outline.yellow-casablanca:active,
.btn.btn-outline.yellow-casablanca:active:focus,
.btn.btn-outline.yellow-casablanca:active:hover,
.btn.btn-outline.yellow-casablanca:focus,
.btn.btn-outline.yellow-casablanca:hover { border-color: #f2784b; color: #fff; background-color: #f2784b; }

.btn.yellow-crusta:not(.btn-outline) { color: #fff; background-color: #f3c200; border-color: #f3c200; }

.btn.yellow-crusta:not(.btn-outline).focus,
.btn.yellow-crusta:not(.btn-outline):focus { color: #fff; background-color: #c09900; border-color: #735c00; }

.btn.yellow-crusta:not(.btn-outline).active,
.btn.yellow-crusta:not(.btn-outline):active,
.btn.yellow-crusta:not(.btn-outline):hover,
.open>.btn.yellow-crusta:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #c09900; border-color: #b69100; }

.btn.yellow-crusta:not(.btn-outline).active.focus,
.btn.yellow-crusta:not(.btn-outline).active:focus,
.btn.yellow-crusta:not(.btn-outline).active:hover,
.btn.yellow-crusta:not(.btn-outline):active.focus,
.btn.yellow-crusta:not(.btn-outline):active:focus,
.btn.yellow-crusta:not(.btn-outline):active:hover,
.open>.btn.yellow-crusta:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.yellow-crusta:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.yellow-crusta:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #9c7d00; border-color: #735c00; }

.btn.yellow-crusta:not(.btn-outline).active,
.btn.yellow-crusta:not(.btn-outline):active,
.open>.btn.yellow-crusta:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.yellow-crusta:not(.btn-outline).disabled.focus,
.btn.yellow-crusta:not(.btn-outline).disabled:focus,
.btn.yellow-crusta:not(.btn-outline).disabled:hover,
.btn.yellow-crusta:not(.btn-outline)[disabled].focus,
.btn.yellow-crusta:not(.btn-outline)[disabled]:focus,
.btn.yellow-crusta:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.yellow-crusta:not(.btn-outline).focus,
fieldset[disabled] .btn.yellow-crusta:not(.btn-outline):focus,
fieldset[disabled] .btn.yellow-crusta:not(.btn-outline):hover { background-color: #f3c200; border-color: #f3c200; }

.btn.btn-outline.yellow-crusta { border-color: #f3c200; color: #f3c200; background: 0 0; }

.btn.btn-outline.yellow-crusta.active,
.btn.btn-outline.yellow-crusta:active,
.btn.btn-outline.yellow-crusta:active:focus,
.btn.btn-outline.yellow-crusta:active:hover,
.btn.btn-outline.yellow-crusta:focus,
.btn.btn-outline.yellow-crusta:hover { border-color: #f3c200; color: #fff; background-color: #f3c200; }

.btn.yellow-lemon:not(.btn-outline) { color: #fff; background-color: #F7CA18; border-color: #F7CA18; }

.btn.yellow-lemon:not(.btn-outline).focus,
.btn.yellow-lemon:not(.btn-outline):focus { color: #fff; background-color: #d5ab07; border-color: #8b7005; }

.btn.yellow-lemon:not(.btn-outline).active,
.btn.yellow-lemon:not(.btn-outline):active,
.btn.yellow-lemon:not(.btn-outline):hover,
.open>.btn.yellow-lemon:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #d5ab07; border-color: #cba307; }

.btn.yellow-lemon:not(.btn-outline).active.focus,
.btn.yellow-lemon:not(.btn-outline).active:focus,
.btn.yellow-lemon:not(.btn-outline).active:hover,
.btn.yellow-lemon:not(.btn-outline):active.focus,
.btn.yellow-lemon:not(.btn-outline):active:focus,
.btn.yellow-lemon:not(.btn-outline):active:hover,
.open>.btn.yellow-lemon:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.yellow-lemon:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.yellow-lemon:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #b28f06; border-color: #8b7005; }

.btn.yellow-lemon:not(.btn-outline).active,
.btn.yellow-lemon:not(.btn-outline):active,
.open>.btn.yellow-lemon:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.yellow-lemon:not(.btn-outline).disabled.focus,
.btn.yellow-lemon:not(.btn-outline).disabled:focus,
.btn.yellow-lemon:not(.btn-outline).disabled:hover,
.btn.yellow-lemon:not(.btn-outline)[disabled].focus,
.btn.yellow-lemon:not(.btn-outline)[disabled]:focus,
.btn.yellow-lemon:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.yellow-lemon:not(.btn-outline).focus,
fieldset[disabled] .btn.yellow-lemon:not(.btn-outline):focus,
fieldset[disabled] .btn.yellow-lemon:not(.btn-outline):hover { background-color: #F7CA18; border-color: #F7CA18; }

.btn.btn-outline.yellow-lemon { border-color: #F7CA18; color: #F7CA18; background: 0 0; }

.btn.btn-outline.yellow-lemon.active,
.btn.btn-outline.yellow-lemon:active,
.btn.btn-outline.yellow-lemon:active:focus,
.btn.btn-outline.yellow-lemon:active:hover,
.btn.btn-outline.yellow-lemon:focus,
.btn.btn-outline.yellow-lemon:hover { border-color: #F7CA18; color: #fff; background-color: #F7CA18; }

.btn.yellow-saffron:not(.btn-outline) { color: #fff; background-color: #F4D03F; border-color: #F4D03F; }

.btn.yellow-saffron:not(.btn-outline).focus,
.btn.yellow-saffron:not(.btn-outline):focus { color: #fff; background-color: #f1c40f; border-color: #aa8a0a; }

.btn.yellow-saffron:not(.btn-outline).active,
.btn.yellow-saffron:not(.btn-outline):active,
.btn.yellow-saffron:not(.btn-outline):hover,
.open>.btn.yellow-saffron:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #f1c40f; border-color: #e8bd0d; }

.btn.yellow-saffron:not(.btn-outline).active.focus,
.btn.yellow-saffron:not(.btn-outline).active:focus,
.btn.yellow-saffron:not(.btn-outline).active:hover,
.btn.yellow-saffron:not(.btn-outline):active.focus,
.btn.yellow-saffron:not(.btn-outline):active:focus,
.btn.yellow-saffron:not(.btn-outline):active:hover,
.open>.btn.yellow-saffron:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.yellow-saffron:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.yellow-saffron:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #d0a90c; border-color: #aa8a0a; }

.btn.yellow-saffron:not(.btn-outline).active,
.btn.yellow-saffron:not(.btn-outline):active,
.open>.btn.yellow-saffron:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.yellow-saffron:not(.btn-outline).disabled.focus,
.btn.yellow-saffron:not(.btn-outline).disabled:focus,
.btn.yellow-saffron:not(.btn-outline).disabled:hover,
.btn.yellow-saffron:not(.btn-outline)[disabled].focus,
.btn.yellow-saffron:not(.btn-outline)[disabled]:focus,
.btn.yellow-saffron:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.yellow-saffron:not(.btn-outline).focus,
fieldset[disabled] .btn.yellow-saffron:not(.btn-outline):focus,
fieldset[disabled] .btn.yellow-saffron:not(.btn-outline):hover { background-color: #F4D03F; border-color: #F4D03F; }

.btn.btn-outline.yellow-saffron { border-color: #F4D03F; color: #F4D03F; background: 0 0; }

.btn.btn-outline.yellow-saffron.active,
.btn.btn-outline.yellow-saffron:active,
.btn.btn-outline.yellow-saffron:active:focus,
.btn.btn-outline.yellow-saffron:active:hover,
.btn.btn-outline.yellow-saffron:focus,
.btn.btn-outline.yellow-saffron:hover { border-color: #F4D03F; color: #fff; background-color: #F4D03F; }

.btn.yellow-soft:not(.btn-outline) { color: #fff; background-color: #c8d046; border-color: #c8d046; }

.btn.yellow-soft:not(.btn-outline).focus,
.btn.yellow-soft:not(.btn-outline):focus { color: #fff; background-color: #adb52e; border-color: #73781e; }

.btn.yellow-soft:not(.btn-outline).active,
.btn.yellow-soft:not(.btn-outline):active,
.btn.yellow-soft:not(.btn-outline):hover,
.open>.btn.yellow-soft:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #adb52e; border-color: #a5ad2c; }

.btn.yellow-soft:not(.btn-outline).active.focus,
.btn.yellow-soft:not(.btn-outline).active:focus,
.btn.yellow-soft:not(.btn-outline).active:hover,
.btn.yellow-soft:not(.btn-outline):active.focus,
.btn.yellow-soft:not(.btn-outline):active:focus,
.btn.yellow-soft:not(.btn-outline):active:hover,
.open>.btn.yellow-soft:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.yellow-soft:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.yellow-soft:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #929927; border-color: #73781e; }

.btn.yellow-soft:not(.btn-outline).active,
.btn.yellow-soft:not(.btn-outline):active,
.open>.btn.yellow-soft:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.yellow-soft:not(.btn-outline).disabled.focus,
.btn.yellow-soft:not(.btn-outline).disabled:focus,
.btn.yellow-soft:not(.btn-outline).disabled:hover,
.btn.yellow-soft:not(.btn-outline)[disabled].focus,
.btn.yellow-soft:not(.btn-outline)[disabled]:focus,
.btn.yellow-soft:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.yellow-soft:not(.btn-outline).focus,
fieldset[disabled] .btn.yellow-soft:not(.btn-outline):focus,
fieldset[disabled] .btn.yellow-soft:not(.btn-outline):hover { background-color: #c8d046; border-color: #c8d046; }

.btn.btn-outline.yellow-soft { border-color: #c8d046; color: #c8d046; background: 0 0; }

.btn.btn-outline.yellow-soft.active,
.btn.btn-outline.yellow-soft:active,
.btn.btn-outline.yellow-soft:active:focus,
.btn.btn-outline.yellow-soft:active:hover,
.btn.btn-outline.yellow-soft:focus,.btn.btn-outline.yellow-soft:hover { border-color: #c8d046; color: #fff; background-color: #c8d046; }

.btn.yellow-haze:not(.btn-outline) { color: #fff; background-color: #c5bf66; border-color: #c5bf66; }

.btn.yellow-haze:not(.btn-outline).focus,
.btn.yellow-haze:not(.btn-outline):focus { color: #fff; background-color: #b4ad44; border-color: #7c772f; }

.btn.yellow-haze:not(.btn-outline).active,
.btn.yellow-haze:not(.btn-outline):active,
.btn.yellow-haze:not(.btn-outline):hover,
.open>.btn.yellow-haze:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #b4ad44; border-color: #aca641; }

.btn.yellow-haze:not(.btn-outline).active.focus,
.btn.yellow-haze:not(.btn-outline).active:focus,
.btn.yellow-haze:not(.btn-outline).active:hover,
.btn.yellow-haze:not(.btn-outline):active.focus,
.btn.yellow-haze:not(.btn-outline):active:focus,
.btn.yellow-haze:not(.btn-outline):active:hover,
.open>.btn.yellow-haze:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.yellow-haze:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.yellow-haze:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #9a943a; border-color: #7c772f; }

.btn.yellow-haze:not(.btn-outline).active,
.btn.yellow-haze:not(.btn-outline):active,
.open>.btn.yellow-haze:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.yellow-haze:not(.btn-outline).disabled.focus,
.btn.yellow-haze:not(.btn-outline).disabled:focus,
.btn.yellow-haze:not(.btn-outline).disabled:hover,
.btn.yellow-haze:not(.btn-outline)[disabled].focus,
.btn.yellow-haze:not(.btn-outline)[disabled]:focus,
.btn.yellow-haze:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.yellow-haze:not(.btn-outline).focus,
fieldset[disabled] .btn.yellow-haze:not(.btn-outline):focus,
fieldset[disabled] .btn.yellow-haze:not(.btn-outline):hover { background-color: #c5bf66; border-color: #c5bf66; }

.btn.btn-outline.yellow-haze { border-color: #c5bf66; color: #c5bf66; background: 0 0; }

.btn.btn-outline.yellow-haze.active,
.btn.btn-outline.yellow-haze:active,
.btn.btn-outline.yellow-haze:active:focus,
.btn.btn-outline.yellow-haze:active:hover,
.btn.btn-outline.yellow-haze:focus,
.btn.btn-outline.yellow-haze:hover { border-color: #c5bf66; color: #fff; background-color: #c5bf66; }

.btn.yellow-mint:not(.btn-outline) { color: #fff; background-color: #c5b96b; border-color: #c5b96b; }

.btn.yellow-mint:not(.btn-outline).focus,
.btn.yellow-mint:not(.btn-outline):focus { color: #fff; background-color: #b6a747; border-color: #7f7532; }

.btn.yellow-mint:not(.btn-outline).active,
.btn.yellow-mint:not(.btn-outline):active,
.btn.yellow-mint:not(.btn-outline):hover,
.open>.btn.yellow-mint:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #b6a747; border-color: #aea044; }

.btn.yellow-mint:not(.btn-outline).active.focus,
.btn.yellow-mint:not(.btn-outline).active:focus,
.btn.yellow-mint:not(.btn-outline).active:hover,
.btn.yellow-mint:not(.btn-outline):active.focus,
.btn.yellow-mint:not(.btn-outline):active:focus,
.btn.yellow-mint:not(.btn-outline):active:hover,
.open>.btn.yellow-mint:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.yellow-mint:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.yellow-mint:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #9c8f3d; border-color: #7f7532; }

.btn.yellow-mint:not(.btn-outline).active,
.btn.yellow-mint:not(.btn-outline):active,
.open>.btn.yellow-mint:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.yellow-mint:not(.btn-outline).disabled.focus,
.btn.yellow-mint:not(.btn-outline).disabled:focus,
.btn.yellow-mint:not(.btn-outline).disabled:hover,
.btn.yellow-mint:not(.btn-outline)[disabled].focus,
.btn.yellow-mint:not(.btn-outline)[disabled]:focus,
.btn.yellow-mint:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.yellow-mint:not(.btn-outline).focus,
fieldset[disabled] .btn.yellow-mint:not(.btn-outline):focus,
fieldset[disabled] .btn.yellow-mint:not(.btn-outline):hover { background-color: #c5b96b; border-color: #c5b96b; }

.btn.btn-outline.yellow-mint { border-color: #c5b96b; color: #c5b96b; background: 0 0; }

.btn.btn-outline.yellow-mint.active,
.btn.btn-outline.yellow-mint:active,
.btn.btn-outline.yellow-mint:active:focus,
.btn.btn-outline.yellow-mint:active:hover,
.btn.btn-outline.yellow-mint:focus,
.btn.btn-outline.yellow-mint:hover { border-color: #c5b96b; color: #fff; background-color: #c5b96b; }