/* Menu Control css */
2
3#menuTable #menu {
4 font: 11px arial, helvetica, lucida-sans, sans-serif;
5 line-height: 15px;
6 height: 28px;
7 background: #d0d0d0;
8 color: #d0d0d0;
9 padding: 0;
10 margin: 0;
11}
12.menustyle .menubar {
13 list-style-type: none;
14 margin: 0;
15 padding: 0;
16}
17.menustyle .topitem {
18 background: #d0d0d0;
19 font-weight: normal;
20 float: left;
21 display: block;
22 margin-top: 1px;
23 margin-left: 0px;
24}
25.menustyle .topitem a, .menustyle .topitem a:visited {
26 font-weight: normal;
27 color: #000;
28 padding-left: 12px;
29 padding-right: 12px;
30 padding-top: 4px;
31 padding-bottom: 4px;
32 display: block;
33 text-decoration: none;
34 border: 1px solid #d0d0d0;
35 vertical-align: middle;
36}
37.menustyle .topitem a:hover {
38 font-weight: normal;
39 text-decoration: none;
40 color: blue;
41 border-top: 1px solid #f0f0f0;
42 border-left: 1px solid #f0f0f0;
43 border-bottom: 1px solid #707070;
44 border-right: 1px solid #707070;
45}
46.menustyle .selected {
47 font-weight: normal;
48 background: #afaea9 repeat-x left;
49}
50.menustyle img.link {
51 vertical-align: middle;
52}
53.menustyle ul.submenu {
54 list-style-type: none;
55 position: absolute;
56 margin: 0;
57 padding: 0;
58 display: none;
59 width: 160px;
60 z-index: 255;
61 border-top: 1px solid #f0f0f0;
62 border-left: 1px solid #f0f0f0;
63 border-bottom: 1px solid #909090;
64 border-right: 1px solid #909090;
65}
66.menustyle ul.submenu li {
67 padding: 0;
68 margin: 0;
69 font-size: 11px;
70}
71.menustyle ul.submenu li a, .menustyle ul.submenu li a:visited {
72 vertical-align: middle;
73 padding: 3px 3px 0px 16px;
74 color: #000;
75 border: 1px solid #d0d0d0;
76 text-decoration: none;
77 margin: 0;
78}
79.menustyle ul.submenu li img {
80 vertical-align: middle;
81}
82.menustyle ul.submenu li a:hover {
83 vertical-align: middle;
84 padding: 3px 3px 0px 16px;
85 text-decoration: none;
86 background: #fff;
87 color: #000;
88 border: 1px solid #3699dd;
89}
90.menustyle li:hover ul, .menustyle li.over ul {
91 margin: 0;
92 padding: 4px;
93 display: block;
94 background: #d0d0d0;
95}
96.menustyle li>ul {
97 top: auto; left: auto;
98} 