.page-container {
    margin: 0px; padding: 20px; position: relative;
    
    &:before, &:after{ content: " "; display: table; }
    &:after { clear: both; }
}


@media (min-width: 1260px) { .container { width: 1270px; } }
@media (max-width: 991px) { .page-container { margin: 0 !important; padding: 0 !important; } }

.page-title {
    padding: 0px 2px;
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 26px;
    display: block;
    color: #666;
    margin: 0px 0px 20px 0px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    
    small { font-size: 13px; letter-spacing: 0px; font-weight: 300; color: #888; }

    &.bordered{ border-bottom: 1px solid #ccc; padding: 0 0 10px 0; }
	&.more-padding{ padding: 30px 0; }
}

.page-bar {
    padding: 0 10px;
    background-color: #fff;
    margin-bottom: 10px;
    @include prefix(border-radius, 4px, webkit moz ms o);

    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }

    &.mural { @include prefix(border-radius, 0, webkit moz ms o); margin-bottom: 0px; display:none; padding: 10px 30px 0; background: transparent; }

    .page-breadcrumb {
        width: 100%; position: relative; display: inline-block; float: left; padding: 10px 6px; margin: 0; list-style: none; background: #fff;

        > li {
            display: inline-block;
             
             > a, > span {
                 color: #888; font-size: 13px; text-shadow: none; font-weight: 400;
                 &.active{ color: #337ab7; }
            }

             > i {
                 color: #aaa; font-size: 18px; text-shadow: none;
                
                &[class^="icon-"], &[class*="icon-"]{ color: #8c8c8c; }
            }

            &.right{
                position: absolute; right: 5px; top: 7px;
                > a, > span{ font-size: 20px; }
            }
        }
    }
}

.page-content { margin-top: 0px; padding: 20px; background-color: #EDF1F3; }

.profile-sidebar { float: left; width: 25%; margin-right: 0; }

.grupo-participar{
    .profile-sidebar { float: none; width: 280px; margin: 0 auto; }
}

.profile-content {
    overflow: hidden;
    &.user{ width: 73%; float: left; margin-left: 2%; overflow: visible; }
}

.profile-sidebar-portlet { padding: 30px 5px 5px !important; }

.profile-userpic {
    img { float: none; margin: 0 auto; width: 58%; height: 58%; }
    
    &.absolute-img{
        img { position: absolute }
    }

    .fotoUsuario{ border-width: 1px; }

	.user-photo-container{
		@extend %block;
        position: absolute;
		top: 68px;
		left: calc(50% - 50px);
		z-index: 1;
		overflow: hidden;
		box-shadow: 0 0 8px #222;
	}

    .mt-element-card{
        .mt-card-item{ @extend %no-border; }
    }
}

.profile-usertitle {
    text-align: center; margin-top: 20px; border-bottom: 1px solid #eee;
    &.no-border{ border: none; }
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
    text-overflow: ellipsis;
    @extend %no-margin-bottom;
    padding:0 10px;
	
    a{ clear: both; display: block; }
}

.profile-usertitle-job { text-transform: uppercase; color: #5b9bd1; font-size: 13px; font-weight: 600; margin-bottom: 25px; }

.profile-userbuttons {
    text-align: center; margin-top: 10px; padding-bottom: 15px;
    
    button, a{ text-transform: uppercase; font-size: 11px; font-weight: 600; padding: 6px 15px; }

    button{
        a{ color: #fff; }
    }

    .btn {
        margin-right: 5px;
        
        &:last-child { margin-right: 0; }
        &.eq-width{ min-width: 100px; }
    }

    .acoes-grupo, .user-friendship{ padding: 15px 0 0; }
	.user-friendship{
		p{ font-size: 14px; margin-bottom: 10px; }
	}
}

.profile-usermenu {
    padding-bottom: 20px; border-top: 1px solid $eee;

    ul{
        li{
            border-bottom: 1px solid #f0f4f7;

            a {
                color: #93a3b5; font-size: 16px; font-weight: 400;
                
                i{ margin-right: 8px; font-size: 16px; }
                
                &:hover{ background-color: #fafcfd; color: #5b9bd1; }
            }

            &:last-child { border-bottom: none; }
            &.active{
                a{ color: #5b9bd1; background-color: #f6f9fb; border-left: 2px solid #5b9bd1; margin-left: -2px; }
            }
        }
    }
}

.profile-stat { padding-bottom: 20px; border-bottom: 1px solid #f0f4f7; }

.profile-stat-title, .profile-stat-title.icon { color: #7f90a4; font-size: 25px; text-align: center; }

.profile-stat-title{
    @extend %block;
    
    &.icon{ padding: 10px; }
}

.profile-stat-text { @extend %block; color: #5b9bd1; font-size: 11px; font-weight: 600; text-align: center; }

.profile-desc-title { color: #7f90a4; font-size: 17px; font-weight: 600; }

.profile-desc-text { color: #7e8c9e; font-size: 14px; }

.profile-desc-link{
    > i {
        width: 22px; font-size: 19px; color: #abb6c4; margin-right: 5px;
        &.chat-online{ color: #06b53c; }
        &.chat-offline{ color: #ee4749; }
    }

    a, span{ font-size: 14px; font-weight: 600; color: #5b9bd1; }
}