@import '_cropit-icones';

.btn-input-trigger, .modal-btn-input-trigger, .export-cw{ min-height: 38px; }

.export-cw{
    i{ font-size: 20px; color: #A6A6A6; }
}

.cropit-image-zoom-input{ width: calc(100% - 50px)!important; margin-left: 10px; }

.crop-thumbs-holder{
    display: block;
    opacity: 0;
    visibility: hidden;
    min-height: 550px;
    max-height: 550px;
    overflow-x: auto;
    padding: 10px 5px;

    &.active{ opacity: 1; visibility: visible; }

    img{
        max-width: 100%;
        margin: 0 auto;
        width: 200px;
        border: 1px solid #eee;
    }

    p{
        font-size: 12px;
        color: #000;
        margin: 0 auto;
        max-width: 200px;
        background: #F5F5F5;
        padding: 5px;
        text-align: left;

        &.no-description{
            &:before{
                position: relative;
                display: block;
                content: 'clique aqui para adicionar uma descrição';
                font-style: italic;
            }
        }

        &:focus{
            .crop-placeholder{ display: none; }  
        }
    }

    .crop-info{
        padding: 0 0 20px;

        h4{
            margin: 0 auto;
            font-size: 16px;
            color: #222;
            font-weight: 600;
        }
    }
}

.modal-crop-button-holder{
    text-align: right;
}

.crop-img-description-wrapper{
    position: relative;

    .crop-img-description-text{
        font-size: 12px;
        color: #000;
        margin: 0 auto;
        max-width: 200px;
        background: #F5F5F5;
        padding: 5px;
        text-align: left;
        border: none;
        width: 100%;
        resize: none;
    }

    .crop-img-description-count{
        position: absolute;
        bottom: 7px;
        font-size: 10px;
        color: #e44c34;
        right: 40px;
    }
}

.crop-title{
    font-size: 16px;
    color: #222;

    span{ font-weight: 400; font-size: 11px; }
}


.cropit-preview-background {
    opacity: .4;
    cursor: auto;
}

.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 40px auto;

    &.small{ width: 200px; height: 200px; }
    &.big{ width: 512px; height: 280px; }
    
}

.crop-bleed-divider{
    border-left: 1px solid #ccc;

    @media screen and (max-width: 991px){
        border-top: 1px solid #ccc;
    }
}


#thumb-categoria, #modal-thumb-categoria{
    .cropit-preview-image-container{
        cursor: pointer;
        background: url(../../img/cropit/bg-thumb_.png) no-repeat;
    }
}

#img-categoria, #modal-img-categoria{
    .rotate-cw, .delete-cw{ margin-right: 4px; }

    .cropit-preview-image-container{
        cursor: pointer;
        background: url(../../img/cropit/bg-original_.png) no-repeat;
    }
}

.image-upload-holder{
    position: relative;
    text-align: center;
    margin-bottom: 10px;

    .fancybox-close{ top: 8px; right: 50px; }
}



.cropit-image-zoom-input, .cropit-image-zoom-input:-moz-range-track{
    @include prefix(appearance, none, webkit moz ms o);
    height: 5px;
    background: #eee;
    @include prefix(border-radius,5px, webkit moz ms o);
    outline: none;
}

.cropit-image-zoom-input:-webkit-slider-thumb, .cropit-image-zoom-input:-moz-range-thumb{
    @include prefix(appearance, none, webkit moz ms o);
    width: 15px;
    height: 15px;
    background: #888;
    @include prefix(border-radius, 50%, webkit moz ms o);
    @include transition(background 0.25s);

    &:hover{ background: #bbb; }
}