/***** ckeditor *****/
.cke_bottom { background: #fff !important; border-top: 1px solid #d8dce0 !important; padding-left: 10px !important; }
.cke_chrome { border: 1px solid #d8dce0 !important; display: block; padding: 0; box-shadow: none !important; }
.cke_chrome.cke_focus, .cke_browser_webkit.cke_focus{ border: 1px solid #66afe9 !important; }
.cke_toolgroup { background: #f7f9fa !important; border: 1px solid #d8dce0 !important; }
.cke_top, .cke_contents, .cke_bottom { width: inherit!important; }

.cke_wysiwyg_frame, .cke_wysiwyg_div{ width: 100%!important; }