.btn.green:not(.btn-outline) { color: #FFF; background-color: #32c5d2; border-color: #32c5d2; }

.btn.green:not(.btn-outline).focus,
.btn.green:not(.btn-outline):focus { color: #FFF; background-color: #26a1ab; border-color: #18666d; }

.btn.green:not(.btn-outline).active,
.btn.green:not(.btn-outline):active,
.btn.green:not(.btn-outline):hover,
.open>.btn.green:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #26a1ab; border-color: #2499a3; }

.btn.green:not(.btn-outline).active.focus,
.btn.green:not(.btn-outline).active:focus,
.btn.green:not(.btn-outline).active:hover,
.btn.green:not(.btn-outline):active.focus,
.btn.green:not(.btn-outline):active:focus,
.btn.green:not(.btn-outline):active:hover,
.open>.btn.green:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.green:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.green:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #1f858e; border-color: #18666d; }

.btn.green:not(.btn-outline).active,
.btn.green:not(.btn-outline):active,
.open>.btn.green:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.green:not(.btn-outline).disabled.focus,
.btn.green:not(.btn-outline).disabled:focus,
.btn.green:not(.btn-outline).disabled:hover,
.btn.green:not(.btn-outline)[disabled].focus,
.btn.green:not(.btn-outline)[disabled]:focus,
.btn.green:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.green:not(.btn-outline).focus,
fieldset[disabled] .btn.green:not(.btn-outline):focus,
fieldset[disabled] .btn.green:not(.btn-outline):hover { background-color: #32c5d2; border-color: #32c5d2; }

.btn.btn-outline.green { border-color: #32c5d2; color: #32c5d2; background: 0 0; }

.btn.btn-outline.green.active,
.btn.btn-outline.green:active,
.btn.btn-outline.green:active:focus,
.btn.btn-outline.green:active:hover,
.btn.btn-outline.green:focus,.btn.btn-outline.green:hover { border-color: #32c5d2; color: #FFF; background-color: #32c5d2; }

.btn.green-meadow:not(.btn-outline) { color: #FFF; background-color: #1BBC9B; border-color: #1BBC9B; }

.btn.green-meadow:not(.btn-outline).focus,
.btn.green-meadow:not(.btn-outline):focus { color: #FFF; background-color: #158f76; border-color: #0b4d3f; }

.btn.green-meadow:not(.btn-outline).active,
.btn.green-meadow:not(.btn-outline):active,
.btn.green-meadow:not(.btn-outline):hover,
.open>.btn.green-meadow:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #158f76; border-color: #13866f; }

.btn.green-meadow:not(.btn-outline).active.focus,
.btn.green-meadow:not(.btn-outline).active:focus,
.btn.green-meadow:not(.btn-outline).active:hover,
.btn.green-meadow:not(.btn-outline):active.focus,
.btn.green-meadow:not(.btn-outline):active:focus,
.btn.green-meadow:not(.btn-outline):active:hover,
.open>.btn.green-meadow:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.green-meadow:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.green-meadow:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #10705c; border-color: #0b4d3f; }

.btn.green-meadow:not(.btn-outline).active,
.btn.green-meadow:not(.btn-outline):active,
.open>.btn.green-meadow:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.green-meadow:not(.btn-outline).disabled.focus,
.btn.green-meadow:not(.btn-outline).disabled:focus,
.btn.green-meadow:not(.btn-outline).disabled:hover,
.btn.green-meadow:not(.btn-outline)[disabled].focus,
.btn.green-meadow:not(.btn-outline)[disabled]:focus,
.btn.green-meadow:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.green-meadow:not(.btn-outline).focus,
fieldset[disabled] .btn.green-meadow:not(.btn-outline):focus,
fieldset[disabled] .btn.green-meadow:not(.btn-outline):hover { background-color: #1BBC9B; border-color: #1BBC9B; }

.btn.btn-outline.green-meadow { border-color: #1BBC9B; color: #1BBC9B; background: 0 0; }

.btn.btn-outline.green-meadow.active,
.btn.btn-outline.green-meadow:active,
.btn.btn-outline.green-meadow:active:focus,
.btn.btn-outline.green-meadow:active:hover,
.btn.btn-outline.green-meadow:focus,
.btn.btn-outline.green-meadow:hover { border-color: #1BBC9B; color: #FFF; background-color: #1BBC9B; }

.btn.green-seagreen:not(.btn-outline) { color: #FFF; background-color: #1BA39C; border-color: #1BA39C; }

.btn.green-seagreen:not(.btn-outline).focus,
.btn.green-seagreen:not(.btn-outline):focus { color: #FFF; background-color: #147772; border-color: #093633; }

.btn.green-seagreen:not(.btn-outline).active,
.btn.green-seagreen:not(.btn-outline):active,
.btn.green-seagreen:not(.btn-outline):hover,
.open>.btn.green-seagreen:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #147772; border-color: #126e6a; }

.btn.green-seagreen:not(.btn-outline).active.focus,
.btn.green-seagreen:not(.btn-outline).active:focus,
.btn.green-seagreen:not(.btn-outline).active:hover,
.btn.green-seagreen:not(.btn-outline):active.focus,
.btn.green-seagreen:not(.btn-outline):active:focus,
.btn.green-seagreen:not(.btn-outline):active:hover,
.open>.btn.green-seagreen:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.green-seagreen:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.green-seagreen:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #0f5955; border-color: #093633; }

.btn.green-seagreen:not(.btn-outline).active,
.btn.green-seagreen:not(.btn-outline):active,
.open>.btn.green-seagreen:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.green-seagreen:not(.btn-outline).disabled.focus,
.btn.green-seagreen:not(.btn-outline).disabled:focus,
.btn.green-seagreen:not(.btn-outline).disabled:hover,
.btn.green-seagreen:not(.btn-outline)[disabled].focus,
.btn.green-seagreen:not(.btn-outline)[disabled]:focus,
.btn.green-seagreen:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.green-seagreen:not(.btn-outline).focus,
fieldset[disabled] .btn.green-seagreen:not(.btn-outline):focus,
fieldset[disabled] .btn.green-seagreen:not(.btn-outline):hover { background-color: #1BA39C; border-color: #1BA39C; }

.btn.btn-outline.green-seagreen { border-color: #1BA39C; color: #1BA39C; background: 0 0; }

.btn.btn-outline.green-seagreen.active,
.btn.btn-outline.green-seagreen:active,
.btn.btn-outline.green-seagreen:active:focus,
.btn.btn-outline.green-seagreen:active:hover,
.btn.btn-outline.green-seagreen:focus,
.btn.btn-outline.green-seagreen:hover { border-color: #1BA39C; color: #FFF; background-color: #1BA39C; }

.btn.green-turquoise:not(.btn-outline) { color: #FFF; background-color: #36D7B7; border-color: #36D7B7; }

.btn.green-turquoise:not(.btn-outline).focus,
.btn.green-turquoise:not(.btn-outline):focus { color: #FFF; background-color: #24b699; border-color: #177663; }

.btn.green-turquoise:not(.btn-outline).active,
.btn.green-turquoise:not(.btn-outline):active,
.btn.green-turquoise:not(.btn-outline):hover,
.open>.btn.green-turquoise:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #24b699; border-color: #22ad92; }

.btn.green-turquoise:not(.btn-outline).active.focus,
.btn.green-turquoise:not(.btn-outline).active:focus,
.btn.green-turquoise:not(.btn-outline).active:hover,
.btn.green-turquoise:not(.btn-outline):active.focus,
.btn.green-turquoise:not(.btn-outline):active:focus,
.btn.green-turquoise:not(.btn-outline):active:hover,
.open>.btn.green-turquoise:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.green-turquoise:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.green-turquoise:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #1e9880; border-color: #177663; }

.btn.green-turquoise:not(.btn-outline).active,
.btn.green-turquoise:not(.btn-outline):active,
.open>.btn.green-turquoise:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.green-turquoise:not(.btn-outline).disabled.focus,
.btn.green-turquoise:not(.btn-outline).disabled:focus,
.btn.green-turquoise:not(.btn-outline).disabled:hover,
.btn.green-turquoise:not(.btn-outline)[disabled].focus,
.btn.green-turquoise:not(.btn-outline)[disabled]:focus,
.btn.green-turquoise:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.green-turquoise:not(.btn-outline).focus,
fieldset[disabled] .btn.green-turquoise:not(.btn-outline):focus,
fieldset[disabled] .btn.green-turquoise:not(.btn-outline):hover { background-color: #36D7B7; border-color: #36D7B7; }

.btn.btn-outline.green-turquoise { border-color: #36D7B7; color: #36D7B7; background: 0 0; }

.btn.btn-outline.green-turquoise.active,
.btn.btn-outline.green-turquoise:active,
.btn.btn-outline.green-turquoise:active:focus,
.btn.btn-outline.green-turquoise:active:hover,
.btn.btn-outline.green-turquoise:focus,
.btn.btn-outline.green-turquoise:hover { border-color: #36D7B7; color: #FFF; background-color: #36D7B7; }

.btn.green-haze:not(.btn-outline) { color: #FFF; background-color: #44b6ae; border-color: #44b6ae; }

.btn.green-haze:not(.btn-outline).focus,
.btn.green-haze:not(.btn-outline):focus { color: #FFF; background-color: #36918b; border-color: #215955; }

.btn.green-haze:not(.btn-outline).active,
.btn.green-haze:not(.btn-outline):active,
.btn.green-haze:not(.btn-outline):hover,
.open>.btn.green-haze:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #36918b; border-color: #338983; }

.btn.green-haze:not(.btn-outline).active.focus,
.btn.green-haze:not(.btn-outline).active:focus,
.btn.green-haze:not(.btn-outline).active:hover,
.btn.green-haze:not(.btn-outline):active.focus,
.btn.green-haze:not(.btn-outline):active:focus,
.btn.green-haze:not(.btn-outline):active:hover,
.open>.btn.green-haze:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.green-haze:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.green-haze:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #2c7772; border-color: #215955; }

.btn.green-haze:not(.btn-outline).active,
.btn.green-haze:not(.btn-outline):active,
.open>.btn.green-haze:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.green-haze:not(.btn-outline).disabled.focus,
.btn.green-haze:not(.btn-outline).disabled:focus,
.btn.green-haze:not(.btn-outline).disabled:hover,
.btn.green-haze:not(.btn-outline)[disabled].focus,
.btn.green-haze:not(.btn-outline)[disabled]:focus,
.btn.green-haze:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.green-haze:not(.btn-outline).focus,
fieldset[disabled] .btn.green-haze:not(.btn-outline):focus,
fieldset[disabled] .btn.green-haze:not(.btn-outline):hover { background-color: #44b6ae; border-color: #44b6ae; }

.btn.btn-outline.green-haze { border-color: #44b6ae; color: #44b6ae; background: 0 0; }

.btn.btn-outline.green-haze.active,
.btn.btn-outline.green-haze:active,
.btn.btn-outline.green-haze:active:focus,
.btn.btn-outline.green-haze:active:hover,
.btn.btn-outline.green-haze:focus,
.btn.btn-outline.green-haze:hover { border-color: #44b6ae; color: #FFF; background-color: #44b6ae; }

.btn.green-jungle:not(.btn-outline) { color: #FFF; background-color: #26C281; border-color: #26C281; }

.btn.green-jungle:not(.btn-outline).focus,
.btn.green-jungle:not(.btn-outline):focus { color: #FFF; background-color: #1e9765; border-color: #11573a; }

.btn.green-jungle:not(.btn-outline).active,
.btn.green-jungle:not(.btn-outline):active,
.btn.green-jungle:not(.btn-outline):hover,
.open>.btn.green-jungle:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #1e9765; border-color: #1c8f5f; }

.btn.green-jungle:not(.btn-outline).active.focus,
.btn.green-jungle:not(.btn-outline).active:focus,
.btn.green-jungle:not(.btn-outline).active:hover,
.btn.green-jungle:not(.btn-outline):active.focus,
.btn.green-jungle:not(.btn-outline):active:focus,
.btn.green-jungle:not(.btn-outline):active:hover,
.open>.btn.green-jungle:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.green-jungle:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.green-jungle:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #187a51; border-color: #11573a; }

.btn.green-jungle:not(.btn-outline).active,
.btn.green-jungle:not(.btn-outline):active,
.open>.btn.green-jungle:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.green-jungle:not(.btn-outline).disabled.focus,
.btn.green-jungle:not(.btn-outline).disabled:focus,
.btn.green-jungle:not(.btn-outline).disabled:hover,
.btn.green-jungle:not(.btn-outline)[disabled].focus,
.btn.green-jungle:not(.btn-outline)[disabled]:focus,
.btn.green-jungle:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.green-jungle:not(.btn-outline).focus,
fieldset[disabled] .btn.green-jungle:not(.btn-outline):focus,
fieldset[disabled] .btn.green-jungle:not(.btn-outline):hover { background-color: #26C281; border-color: #26C281; }

.btn.btn-outline.green-jungle { border-color: #26C281; color: #26C281; background: 0 0; }

.btn.btn-outline.green-jungle.active,
.btn.btn-outline.green-jungle:active,
.btn.btn-outline.green-jungle:active:focus,
.btn.btn-outline.green-jungle:active:hover,
.btn.btn-outline.green-jungle:focus,
.btn.btn-outline.green-jungle:hover { border-color: #26C281; color: #FFF; background-color: #26C281; }

.btn.green-soft:not(.btn-outline) { color: #FFF; background-color: #3faba4; border-color: #3faba4; }

.btn.green-soft:not(.btn-outline).focus,
.btn.green-soft:not(.btn-outline):focus { color: #FFF; background-color: #318680; border-color: #1d4e4b; }

.btn.green-soft:not(.btn-outline).active,
.btn.green-soft:not(.btn-outline):active,
.btn.green-soft:not(.btn-outline):hover,
.open>.btn.green-soft:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #318680; border-color: #2f7e79; }

.btn.green-soft:not(.btn-outline).active.focus,
.btn.green-soft:not(.btn-outline).active:focus,
.btn.green-soft:not(.btn-outline).active:hover,
.btn.green-soft:not(.btn-outline):active.focus,
.btn.green-soft:not(.btn-outline):active:focus,
.btn.green-soft:not(.btn-outline):active:hover,
.open>.btn.green-soft:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.green-soft:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.green-soft:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #286c67; border-color: #1d4e4b; }

.btn.green-soft:not(.btn-outline).active,
.btn.green-soft:not(.btn-outline):active,
.open>.btn.green-soft:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.green-soft:not(.btn-outline).disabled.focus,
.btn.green-soft:not(.btn-outline).disabled:focus,
.btn.green-soft:not(.btn-outline).disabled:hover,
.btn.green-soft:not(.btn-outline)[disabled].focus,
.btn.green-soft:not(.btn-outline)[disabled]:focus,
.btn.green-soft:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.green-soft:not(.btn-outline).focus,
fieldset[disabled] .btn.green-soft:not(.btn-outline):focus,
fieldset[disabled] .btn.green-soft:not(.btn-outline):hover { background-color: #3faba4; border-color: #3faba4; }

.btn.btn-outline.green-soft { border-color: #3faba4; color: #3faba4; background: 0 0; }

.btn.btn-outline.green-soft.active,
.btn.btn-outline.green-soft:active,
.btn.btn-outline.green-soft:active:focus,
.btn.btn-outline.green-soft:active:hover,
.btn.btn-outline.green-soft:focus,
.btn.btn-outline.green-soft:hover { border-color: #3faba4; color: #FFF; background-color: #3faba4; }

.btn.green-dark:not(.btn-outline) { color: #FFF; background-color: #4DB3A2; border-color: #4DB3A2; }

.btn.green-dark:not(.btn-outline).focus,
.btn.green-dark:not(.btn-outline):focus { color: #FFF; background-color: #3d9082; border-color: #265a51; }

.btn.green-dark:not(.btn-outline).active,
.btn.green-dark:not(.btn-outline):active,
.btn.green-dark:not(.btn-outline):hover,
.open>.btn.green-dark:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #3d9082; border-color: #3a897b; }

.btn.green-dark:not(.btn-outline).active.focus,
.btn.green-dark:not(.btn-outline).active:focus,
.btn.green-dark:not(.btn-outline).active:hover,
.btn.green-dark:not(.btn-outline):active.focus,
.btn.green-dark:not(.btn-outline):active:focus,
.btn.green-dark:not(.btn-outline):active:hover,
.open>.btn.green-dark:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.green-dark:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.green-dark:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #33776b; border-color: #265a51; }

.btn.green-dark:not(.btn-outline).active,
.btn.green-dark:not(.btn-outline):active,
.open>.btn.green-dark:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.green-dark:not(.btn-outline).disabled.focus,
.btn.green-dark:not(.btn-outline).disabled:focus,
.btn.green-dark:not(.btn-outline).disabled:hover,
.btn.green-dark:not(.btn-outline)[disabled].focus,
.btn.green-dark:not(.btn-outline)[disabled]:focus,
.btn.green-dark:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.green-dark:not(.btn-outline).focus,
fieldset[disabled] .btn.green-dark:not(.btn-outline):focus,
fieldset[disabled] .btn.green-dark:not(.btn-outline):hover { background-color: #4DB3A2; border-color: #4DB3A2; }

.btn.btn-outline.green-dark { border-color: #4DB3A2; color: #4DB3A2; background: 0 0; }

.btn.btn-outline.green-dark.active,
.btn.btn-outline.green-dark:active,
.btn.btn-outline.green-dark:active:focus,
.btn.btn-outline.green-dark:active:hover,
.btn.btn-outline.green-dark:focus,
.btn.btn-outline.green-dark:hover { border-color: #4DB3A2; color: #FFF; background-color: #4DB3A2; }

.btn.green-sharp:not(.btn-outline) { color: #FFF; background-color: #2ab4c0; border-color: #2ab4c0; }

.btn.green-sharp:not(.btn-outline).focus,
.btn.green-sharp:not(.btn-outline):focus { color: #FFF; background-color: #218d96; border-color: #135257; }

.btn.green-sharp:not(.btn-outline).active,
.btn.green-sharp:not(.btn-outline):active,
.btn.green-sharp:not(.btn-outline):hover,
.open>.btn.green-sharp:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #218d96; border-color: #1f858e; }

.btn.green-sharp:not(.btn-outline).active.focus,
.btn.green-sharp:not(.btn-outline).active:focus,
.btn.green-sharp:not(.btn-outline).active:hover,
.btn.green-sharp:not(.btn-outline):active.focus,
.btn.green-sharp:not(.btn-outline):active:focus,
.btn.green-sharp:not(.btn-outline):active:hover,
.open>.btn.green-sharp:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.green-sharp:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.green-sharp:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #1a7179; border-color: #135257; }

.btn.green-sharp:not(.btn-outline).active,
.btn.green-sharp:not(.btn-outline):active,
.open>.btn.green-sharp:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.green-sharp:not(.btn-outline).disabled.focus,
.btn.green-sharp:not(.btn-outline).disabled:focus,
.btn.green-sharp:not(.btn-outline).disabled:hover,
.btn.green-sharp:not(.btn-outline)[disabled].focus,
.btn.green-sharp:not(.btn-outline)[disabled]:focus,
.btn.green-sharp:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.green-sharp:not(.btn-outline).focus,
fieldset[disabled] .btn.green-sharp:not(.btn-outline):focus,
fieldset[disabled] .btn.green-sharp:not(.btn-outline):hover { background-color: #2ab4c0; border-color: #2ab4c0; }

.btn.btn-outline.green-sharp { border-color: #2ab4c0; color: #2ab4c0; background: 0 0; }

.btn.btn-outline.green-sharp.active,
.btn.btn-outline.green-sharp:active,
.btn.btn-outline.green-sharp:active:focus,
.btn.btn-outline.green-sharp:active:hover,
.btn.btn-outline.green-sharp:focus,
.btn.btn-outline.green-sharp:hover { border-color: #2ab4c0; color: #FFF; background-color: #2ab4c0; }