.btn.grey:not(.btn-outline) { color: #333; background-color: #E5E5E5; border-color: #E5E5E5; }

.btn.grey:not(.btn-outline).focus,
.btn.grey:not(.btn-outline):focus { color: #333; background-color: #ccc; border-color: #a5a5a5; }

.btn.grey:not(.btn-outline).active,
.btn.grey:not(.btn-outline):active,
.btn.grey:not(.btn-outline):hover,
.open>.btn.grey:not(.btn-outline).dropdown-toggle { color: #333; background-color: #ccc; border-color: #c6c6c6; }

.btn.grey:not(.btn-outline).active.focus,
.btn.grey:not(.btn-outline).active:focus,
.btn.grey:not(.btn-outline).active:hover,
.btn.grey:not(.btn-outline):active.focus,
.btn.grey:not(.btn-outline):active:focus,
.btn.grey:not(.btn-outline):active:hover,
.open>.btn.grey:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.grey:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.grey:not(.btn-outline).dropdown-toggle:hover { color: #333; background-color: #bababa; border-color: #a5a5a5; }

.btn.grey:not(.btn-outline).active,
.btn.grey:not(.btn-outline):active,
.open>.btn.grey:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.grey:not(.btn-outline).disabled.focus,
.btn.grey:not(.btn-outline).disabled:focus,
.btn.grey:not(.btn-outline).disabled:hover,
.btn.grey:not(.btn-outline)[disabled].focus,
.btn.grey:not(.btn-outline)[disabled]:focus,
.btn.grey:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.grey:not(.btn-outline).focus,
fieldset[disabled] .btn.grey:not(.btn-outline):focus,
fieldset[disabled] .btn.grey:not(.btn-outline):hover { background-color: #E5E5E5; border-color: #E5E5E5; }

.btn.btn-outline.grey { border-color: #E5E5E5; color: #E5E5E5; background: 0 0; }

.btn.btn-outline.grey.active,
.btn.btn-outline.grey:active,
.btn.btn-outline.grey:active:focus,
.btn.btn-outline.grey:active:hover,
.btn.btn-outline.grey:focus,
.btn.btn-outline.grey:hover { border-color: #E5E5E5; color: #333; background-color: #E5E5E5; }

.btn.grey-steel:not(.btn-outline) { color: #80898e; background-color: #e9edef; border-color: #e9edef; }

.btn.grey-steel:not(.btn-outline).focus,
.btn.grey-steel:not(.btn-outline):focus { color: #80898e; background-color: #cbd5da; border-color: #9fb1b9; }

.btn.grey-steel:not(.btn-outline).active,
.btn.grey-steel:not(.btn-outline):active,
.btn.grey-steel:not(.btn-outline):hover,
.open>.btn.grey-steel:not(.btn-outline).dropdown-toggle { color: #80898e; background-color: #cbd5da; border-color: #c6d0d5; }

.btn.grey-steel:not(.btn-outline).active.focus,
.btn.grey-steel:not(.btn-outline).active:focus,
.btn.grey-steel:not(.btn-outline).active:hover,
.btn.grey-steel:not(.btn-outline):active.focus,
.btn.grey-steel:not(.btn-outline):active:focus,
.btn.grey-steel:not(.btn-outline):active:hover,
.open>.btn.grey-steel:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.grey-steel:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.grey-steel:not(.btn-outline).dropdown-toggle:hover { color: #80898e; background-color: #b7c4ca; border-color: #9fb1b9; }

.btn.grey-steel:not(.btn-outline).active,
.btn.grey-steel:not(.btn-outline):active,
.open>.btn.grey-steel:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.grey-steel:not(.btn-outline).disabled.focus,
.btn.grey-steel:not(.btn-outline).disabled:focus,
.btn.grey-steel:not(.btn-outline).disabled:hover,
.btn.grey-steel:not(.btn-outline)[disabled].focus,
.btn.grey-steel:not(.btn-outline)[disabled]:focus,
.btn.grey-steel:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.grey-steel:not(.btn-outline).focus,
fieldset[disabled] .btn.grey-steel:not(.btn-outline):focus,
fieldset[disabled] .btn.grey-steel:not(.btn-outline):hover { background-color: #e9edef; border-color: #e9edef; }

.btn.btn-outline.grey-steel { border-color: #e9edef; color: #e9edef; background: 0 0; }

.btn.btn-outline.grey-steel.active,
.btn.btn-outline.grey-steel:active,
.btn.btn-outline.grey-steel:active:focus,
.btn.btn-outline.grey-steel:active:hover,
.btn.btn-outline.grey-steel:focus,
.btn.btn-outline.grey-steel:hover { border-color: #e9edef; color: #80898e; background-color: #e9edef }

.btn.grey-cararra:not(.btn-outline) { color: #333; background-color: #fafafa; border-color: #fafafa; }

.btn.grey-cararra:not(.btn-outline).focus,
.btn.grey-cararra:not(.btn-outline):focus { color: #333; background-color: #e1e1e1; border-color: #bababa; }

.btn.grey-cararra:not(.btn-outline).active,
.btn.grey-cararra:not(.btn-outline):active,
.btn.grey-cararra:not(.btn-outline):hover,
.open>.btn.grey-cararra:not(.btn-outline).dropdown-toggle { color: #333; background-color: #e1e1e1; border-color: #dbdbdb; }

.btn.grey-cararra:not(.btn-outline).active.focus,
.btn.grey-cararra:not(.btn-outline).active:focus,
.btn.grey-cararra:not(.btn-outline).active:hover,
.btn.grey-cararra:not(.btn-outline):active.focus,
.btn.grey-cararra:not(.btn-outline):active:focus,
.btn.grey-cararra:not(.btn-outline):active:hover,
.open>.btn.grey-cararra:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.grey-cararra:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.grey-cararra:not(.btn-outline).dropdown-toggle:hover { color: #333; background-color: #cfcfcf; border-color: #bababa; }

.btn.grey-cararra:not(.btn-outline).active,
.btn.grey-cararra:not(.btn-outline):active,
.open>.btn.grey-cararra:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.grey-cararra:not(.btn-outline).disabled.focus,
.btn.grey-cararra:not(.btn-outline).disabled:focus,
.btn.grey-cararra:not(.btn-outline).disabled:hover,
.btn.grey-cararra:not(.btn-outline)[disabled].focus,
.btn.grey-cararra:not(.btn-outline)[disabled]:focus,
.btn.grey-cararra:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.grey-cararra:not(.btn-outline).focus,
fieldset[disabled] .btn.grey-cararra:not(.btn-outline):focus,
fieldset[disabled] .btn.grey-cararra:not(.btn-outline):hover { background-color: #fafafa; border-color: #fafafa; }

.btn.btn-outline.grey-cararra { border-color: #fafafa; color: #fafafa; background: 0 0; }

.btn.btn-outline.grey-cararra.active,
.btn.btn-outline.grey-cararra:active,
.btn.btn-outline.grey-cararra:active:focus,
.btn.btn-outline.grey-cararra:active:hover,
.btn.btn-outline.grey-cararra:focus,
.btn.btn-outline.grey-cararra:hover { border-color: #fafafa; color: #333; background-color: #fafafa; }

.btn.grey-gallery:not(.btn-outline) { color: #fff; background-color: #555; border-color: #555; }

.btn.grey-gallery:not(.btn-outline).focus,
.btn.grey-gallery:not(.btn-outline):focus { color: #fff; background-color: #3b3b3b; border-color: #151515; }

.btn.grey-gallery:not(.btn-outline).active,
.btn.grey-gallery:not(.btn-outline):active,
.btn.grey-gallery:not(.btn-outline):hover,
.open>.btn.grey-gallery:not(.btn-outline).dropdown-toggle { color: #fff; background-color: #3b3b3b; border-color: #363636; }

.btn.grey-gallery:not(.btn-outline).active.focus,
.btn.grey-gallery:not(.btn-outline).active:focus,
.btn.grey-gallery:not(.btn-outline).active:hover,
.btn.grey-gallery:not(.btn-outline):active.focus,
.btn.grey-gallery:not(.btn-outline):active:focus,
.btn.grey-gallery:not(.btn-outline):active:hover,
.open>.btn.grey-gallery:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.grey-gallery:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.grey-gallery:not(.btn-outline).dropdown-toggle:hover { color: #fff; background-color: #2a2a2a; border-color: #151515 }

.btn.grey-gallery:not(.btn-outline).active,
.btn.grey-gallery:not(.btn-outline):active,
.open>.btn.grey-gallery:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.grey-gallery:not(.btn-outline).disabled.focus,
.btn.grey-gallery:not(.btn-outline).disabled:focus,
.btn.grey-gallery:not(.btn-outline).disabled:hover,
.btn.grey-gallery:not(.btn-outline)[disabled].focus,
.btn.grey-gallery:not(.btn-outline)[disabled]:focus,
.btn.grey-gallery:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.grey-gallery:not(.btn-outline).focus,
fieldset[disabled] .btn.grey-gallery:not(.btn-outline):focus,
fieldset[disabled] .btn.grey-gallery:not(.btn-outline):hover { background-color: #555; border-color: #555; }

.btn.btn-outline.grey-gallery { border-color: #555; color: #555; background: 0 0; }

.btn.btn-outline.grey-gallery.active,
.btn.btn-outline.grey-gallery:active,
.btn.btn-outline.grey-gallery:active:focus,
.btn.btn-outline.grey-gallery:active:hover,
.btn.btn-outline.grey-gallery:focus,
.btn.btn-outline.grey-gallery:hover { border-color: #555; color: #fff; background-color: #555; }

.btn.grey-cascade:not(.btn-outline) { color: #FFF; background-color: #95A5A6; border-color: #95A5A6; }

.btn.grey-cascade:not(.btn-outline).focus,
.btn.grey-cascade:not(.btn-outline):focus { color: #FFF; background-color: #798d8f; border-color: #566566; }

.btn.grey-cascade:not(.btn-outline).active,
.btn.grey-cascade:not(.btn-outline):active,
.btn.grey-cascade:not(.btn-outline):hover,
.open>.btn.grey-cascade:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #798d8f; border-color: #74898a; }

.btn.grey-cascade:not(.btn-outline).active.focus,
.btn.grey-cascade:not(.btn-outline).active:focus,
.btn.grey-cascade:not(.btn-outline).active:hover,
.btn.grey-cascade:not(.btn-outline):active.focus,
.btn.grey-cascade:not(.btn-outline):active:focus,
.btn.grey-cascade:not(.btn-outline):active:hover,
.open>.btn.grey-cascade:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.grey-cascade:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.grey-cascade:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #687b7c; border-color: #566566; }

.btn.grey-cascade:not(.btn-outline).active,
.btn.grey-cascade:not(.btn-outline):active,
.open>.btn.grey-cascade:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.grey-cascade:not(.btn-outline).disabled.focus,
.btn.grey-cascade:not(.btn-outline).disabled:focus,
.btn.grey-cascade:not(.btn-outline).disabled:hover,
.btn.grey-cascade:not(.btn-outline)[disabled].focus,
.btn.grey-cascade:not(.btn-outline)[disabled]:focus,
.btn.grey-cascade:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.grey-cascade:not(.btn-outline).focus,
fieldset[disabled] .btn.grey-cascade:not(.btn-outline):focus,
fieldset[disabled] .btn.grey-cascade:not(.btn-outline):hover { background-color: #95A5A6; border-color: #95A5A6; }

.btn.btn-outline.grey-cascade { border-color: #95A5A6; color: #95A5A6; background: 0 0; }

.btn.btn-outline.grey-cascade.active,
.btn.btn-outline.grey-cascade:active,
.btn.btn-outline.grey-cascade:active:focus,
.btn.btn-outline.grey-cascade:active:hover,
.btn.btn-outline.grey-cascade:focus,
.btn.btn-outline.grey-cascade:hover { border-color: #95A5A6; color: #FFF; background-color: #95A5A6; }

.btn.grey-silver:not(.btn-outline) { color: #FAFCFB; background-color: #BFBFBF; border-color: #BFBFBF; }

.btn.grey-silver:not(.btn-outline).focus,
.btn.grey-silver:not(.btn-outline):focus { color: #FAFCFB; background-color: #a6a6a6; border-color: #7f7f7f; }

.btn.grey-silver:not(.btn-outline).active,
.btn.grey-silver:not(.btn-outline):active,
.btn.grey-silver:not(.btn-outline):hover,
.open>.btn.grey-silver:not(.btn-outline).dropdown-toggle { color: #FAFCFB; background-color: #a6a6a6; border-color: #a0a0a0; }

.btn.grey-silver:not(.btn-outline).active.focus,
.btn.grey-silver:not(.btn-outline).active:focus,
.btn.grey-silver:not(.btn-outline).active:hover,
.btn.grey-silver:not(.btn-outline):active.focus,
.btn.grey-silver:not(.btn-outline):active:focus,
.btn.grey-silver:not(.btn-outline):active:hover,
.open>.btn.grey-silver:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.grey-silver:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.grey-silver:not(.btn-outline).dropdown-toggle:hover { color: #FAFCFB; background-color: #949494; border-color: #7f7f7f; }

.btn.grey-silver:not(.btn-outline).active,
.btn.grey-silver:not(.btn-outline):active,
.open>.btn.grey-silver:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.grey-silver:not(.btn-outline).disabled.focus,
.btn.grey-silver:not(.btn-outline).disabled:focus,
.btn.grey-silver:not(.btn-outline).disabled:hover,
.btn.grey-silver:not(.btn-outline)[disabled].focus,
.btn.grey-silver:not(.btn-outline)[disabled]:focus,
.btn.grey-silver:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.grey-silver:not(.btn-outline).focus,
fieldset[disabled] .btn.grey-silver:not(.btn-outline):focus,
fieldset[disabled] .btn.grey-silver:not(.btn-outline):hover { background-color: #BFBFBF; border-color: #BFBFBF; }

.btn.btn-outline.grey-silver { border-color: #BFBFBF; color: #BFBFBF; background: 0 0; }

.btn.btn-outline.grey-silver.active,
.btn.btn-outline.grey-silver:active,
.btn.btn-outline.grey-silver:active:focus,
.btn.btn-outline.grey-silver:active:hover,
.btn.btn-outline.grey-silver:focus,.btn.btn-outline.grey-silver:hover { border-color: #BFBFBF; color: #FAFCFB; background-color: #BFBFBF; }

.btn.grey-salsa:not(.btn-outline) { color: #FAFCFB; background-color: #ACB5C3; border-color: #ACB5C3; }

.btn.grey-salsa:not(.btn-outline).focus,
.btn.grey-salsa:not(.btn-outline):focus { color: #FAFCFB; background-color: #8e9bae; border-color: #64748b; }

.btn.grey-salsa:not(.btn-outline).active,
.btn.grey-salsa:not(.btn-outline):active,
.btn.grey-salsa:not(.btn-outline):hover,
.open>.btn.grey-salsa:not(.btn-outline).dropdown-toggle { color: #FAFCFB; background-color: #8e9bae; border-color: #8895a9; }

.btn.grey-salsa:not(.btn-outline).active.focus,
.btn.grey-salsa:not(.btn-outline).active:focus,
.btn.grey-salsa:not(.btn-outline).active:hover,
.btn.grey-salsa:not(.btn-outline):active.focus,
.btn.grey-salsa:not(.btn-outline):active:focus,
.btn.grey-salsa:not(.btn-outline):active:hover,
.open>.btn.grey-salsa:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.grey-salsa:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.grey-salsa:not(.btn-outline).dropdown-toggle:hover { color: #FAFCFB; background-color: #7a889f; border-color: #64748b; }

.btn.grey-salsa:not(.btn-outline).active,
.btn.grey-salsa:not(.btn-outline):active,
.open>.btn.grey-salsa:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.grey-salsa:not(.btn-outline).disabled.focus,
.btn.grey-salsa:not(.btn-outline).disabled:focus,
.btn.grey-salsa:not(.btn-outline).disabled:hover,
.btn.grey-salsa:not(.btn-outline)[disabled].focus,
.btn.grey-salsa:not(.btn-outline)[disabled]:focus,
.btn.grey-salsa:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.grey-salsa:not(.btn-outline).focus,
fieldset[disabled] .btn.grey-salsa:not(.btn-outline):focus,
fieldset[disabled] .btn.grey-salsa:not(.btn-outline):hover { background-color: #ACB5C3; border-color: #ACB5C3; }

.btn.btn-outline.grey-salsa { border-color: #ACB5C3; color: #ACB5C3; background: 0 0; }

.btn.btn-outline.grey-salsa.active,
.btn.btn-outline.grey-salsa:active,
.btn.btn-outline.grey-salsa:active:focus,
.btn.btn-outline.grey-salsa:active:hover,
.btn.btn-outline.grey-salsa:focus,
.btn.btn-outline.grey-salsa:hover { border-color: #ACB5C3; color: #FAFCFB; background-color: #ACB5C3; }

.btn.grey-salt:not(.btn-outline) { color: #FAFCFB; background-color: #bfcad1; border-color: #bfcad1; }

.btn.grey-salt:not(.btn-outline).focus,
.btn.grey-salt:not(.btn-outline):focus { color: #FAFCFB; background-color: #a1b1bc; border-color: #758d9c; }

.btn.grey-salt:not(.btn-outline).active,
.btn.grey-salt:not(.btn-outline):active,
.btn.grey-salt:not(.btn-outline):hover,
.open>.btn.grey-salt:not(.btn-outline).dropdown-toggle { color: #FAFCFB; background-color: #a1b1bc; border-color: #9badb7; }

.btn.grey-salt:not(.btn-outline).active.focus,
.btn.grey-salt:not(.btn-outline).active:focus,
.btn.grey-salt:not(.btn-outline).active:hover,
.btn.grey-salt:not(.btn-outline):active.focus,
.btn.grey-salt:not(.btn-outline):active:focus,
.btn.grey-salt:not(.btn-outline):active:hover,
.open>.btn.grey-salt:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.grey-salt:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.grey-salt:not(.btn-outline).dropdown-toggle:hover { color: #FAFCFB; background-color: #8da0ad; border-color: #758d9c; }

.btn.grey-salt:not(.btn-outline).active,
.btn.grey-salt:not(.btn-outline):active,
.open>.btn.grey-salt:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.grey-salt:not(.btn-outline).disabled.focus,
.btn.grey-salt:not(.btn-outline).disabled:focus,
.btn.grey-salt:not(.btn-outline).disabled:hover,
.btn.grey-salt:not(.btn-outline)[disabled].focus,
.btn.grey-salt:not(.btn-outline)[disabled]:focus,
.btn.grey-salt:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.grey-salt:not(.btn-outline).focus,
fieldset[disabled] .btn.grey-salt:not(.btn-outline):focus,
fieldset[disabled] .btn.grey-salt:not(.btn-outline):hover { background-color: #bfcad1; border-color: #bfcad1; }

.btn.btn-outline.grey-salt { border-color: #bfcad1; color: #bfcad1; background: 0 0; }

.btn.btn-outline.grey-salt.active,
.btn.btn-outline.grey-salt:active,
.btn.btn-outline.grey-salt:active:focus,
.btn.btn-outline.grey-salt:active:hover,
.btn.btn-outline.grey-salt:focus,
.btn.btn-outline.grey-salt:hover { border-color: #bfcad1; color: #FAFCFB; background-color: #bfcad1; }

.btn.grey-mint:not(.btn-outline) { color: #FFF; background-color: #525e64; border-color: #525e64; }

.btn.grey-mint:not(.btn-outline).focus,
.btn.grey-mint:not(.btn-outline):focus { color: #FFF; background-color: #3b4448; border-color: #191c1e; }

.btn.grey-mint:not(.btn-outline).active,
.btn.grey-mint:not(.btn-outline):active,
.btn.grey-mint:not(.btn-outline):hover,
.open>.btn.grey-mint:not(.btn-outline).dropdown-toggle { color: #FFF; background-color: #3b4448; border-color: #363e42; }

.btn.grey-mint:not(.btn-outline).active.focus,
.btn.grey-mint:not(.btn-outline).active:focus,
.btn.grey-mint:not(.btn-outline).active:hover,
.btn.grey-mint:not(.btn-outline):active.focus,
.btn.grey-mint:not(.btn-outline):active:focus,
.btn.grey-mint:not(.btn-outline):active:hover,
.open>.btn.grey-mint:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.grey-mint:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.grey-mint:not(.btn-outline).dropdown-toggle:hover { color: #FFF; background-color: #2b3134; border-color: #191c1e; }

.btn.grey-mint:not(.btn-outline).active,
.btn.grey-mint:not(.btn-outline):active,
.open>.btn.grey-mint:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.grey-mint:not(.btn-outline).disabled.focus,
.btn.grey-mint:not(.btn-outline).disabled:focus,
.btn.grey-mint:not(.btn-outline).disabled:hover,
.btn.grey-mint:not(.btn-outline)[disabled].focus,
.btn.grey-mint:not(.btn-outline)[disabled]:focus,
.btn.grey-mint:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.grey-mint:not(.btn-outline).focus,
fieldset[disabled] .btn.grey-mint:not(.btn-outline):focus,
fieldset[disabled] .btn.grey-mint:not(.btn-outline):hover { background-color: #525e64; border-color: #525e64; }

.btn.btn-outline.grey-mint { border-color: #525e64; color: #525e64; background: 0 0; }

.btn.btn-outline.grey-mint.active,
.btn.btn-outline.grey-mint:active,
.btn.btn-outline.grey-mint:active:focus,
.btn.btn-outline.grey-mint:active:hover,
.btn.btn-outline.grey-mint:focus,
.btn.btn-outline.grey-mint:hover { border-color: #525e64; color: #FFF; background-color: #525e64; }