.btn.white:not(.btn-outline) { color: #666; background-color: #fff; border-color: #fff; }

.btn.white:not(.btn-outline).focus, .btn.white:not(.btn-outline):focus { color: #666; background-color: #e6e6e6; border-color: #bfbfbf; }

.btn.white:not(.btn-outline).active,
.btn.white:not(.btn-outline):active,
.btn.white:not(.btn-outline):hover,
.open>.btn.white:not(.btn-outline).dropdown-toggle { color: #666; background-color: #e6e6e6; border-color: #e0e0e0; }

.btn.white:not(.btn-outline).active.focus,
.btn.white:not(.btn-outline).active:focus,
.btn.white:not(.btn-outline).active:hover,
.btn.white:not(.btn-outline):active.focus,
.btn.white:not(.btn-outline):active:focus,
.btn.white:not(.btn-outline):active:hover,
.open>.btn.white:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.white:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.white:not(.btn-outline).dropdown-toggle:hover { color: #666; background-color: #d4d4d4; border-color: #bfbfbf; }

.btn.white:not(.btn-outline).disabled.focus,
.btn.white:not(.btn-outline).disabled:focus,
.btn.white:not(.btn-outline).disabled:hover,
.btn.white:not(.btn-outline)[disabled].focus,
.btn.white:not(.btn-outline)[disabled]:focus,
.btn.white:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.white:not(.btn-outline).focus,fieldset[disabled] .btn.white:not(.btn-outline):focus,
fieldset[disabled] .btn.white:not(.btn-outline):hover { background-color: #fff; border-color: #fff; }

.btn.btn-outline.white { border-color: #fff; color: #fff; background: 0 0; }

.btn.btn-outline.white.active,
.btn.btn-outline.white:active,
.btn.btn-outline.white:active:focus,
.btn.btn-outline.white:active:hover,
.btn.btn-outline.white:focus,
.btn.btn-outline.white:hover { border-color: #fff; color: #666; background-color: #fff; }

.btn.default:not(.btn-outline) { color: #666; background-color: #e1e5ec; border-color: #e1e5ec; }

.btn.default:not(.btn-outline).focus,
.btn.default:not(.btn-outline):focus { color: #666; background-color: #c2cad8; border-color: #93a1bb; }

.btn.default:not(.btn-outline).active,
.btn.default:not(.btn-outline):active,
.btn.default:not(.btn-outline):hover,
.open>.btn.default:not(.btn-outline).dropdown-toggle { color: #666; background-color: #c2cad8; border-color: #bcc5d4; }

.btn.default:not(.btn-outline).active.focus,
.btn.default:not(.btn-outline).active:focus,
.btn.default:not(.btn-outline).active:hover,
.btn.default:not(.btn-outline):active.focus,
.btn.default:not(.btn-outline):active:focus,
.btn.default:not(.btn-outline):active:hover,
.open>.btn.default:not(.btn-outline).dropdown-toggle.focus,
.open>.btn.default:not(.btn-outline).dropdown-toggle:focus,
.open>.btn.default:not(.btn-outline).dropdown-toggle:hover { color: #666; background-color: #acb7ca; border-color: #93a1bb; }

.btn.default:not(.btn-outline).active,
.btn.default:not(.btn-outline):active,
.open>.btn.default:not(.btn-outline).dropdown-toggle { background-image: none; }

.btn.default:not(.btn-outline).disabled.focus,
.btn.default:not(.btn-outline).disabled:focus,
.btn.default:not(.btn-outline).disabled:hover,
.btn.default:not(.btn-outline)[disabled].focus,
.btn.default:not(.btn-outline)[disabled]:focus,
.btn.default:not(.btn-outline)[disabled]:hover,
fieldset[disabled] .btn.default:not(.btn-outline).focus,
fieldset[disabled] .btn.default:not(.btn-outline):focus,
fieldset[disabled] .btn.default:not(.btn-outline):hover { background-color: #e1e5ec; border-color: #e1e5ec; }

.btn.btn-outline.default { border-color: #e1e5ec; color: #e1e5ec; background: 0 0; }

.btn.btn-outline.default.active,
.btn.btn-outline.default:active,
.btn.btn-outline.default:active:focus,
.btn.btn-outline.default:active:hover,
.btn.btn-outline.default:focus,
.btn.btn-outline.default:hover { border-color: #e1e5ec; color: #666; background-color: #e1e5ec; }