.link-box{
	display: block;
    position: relative;
    padding: 15px;
    width: 100%;
    margin-bottom: 30px;
    @extend %no-hover-decoration;
	@include prefix(border-radius, 4px, webkit moz ms o);
    @include transition(all 150ms ease-in-out);

    .link-box-container{
        text-align: center;

        > i{ font-size: 35px; color: #0096d0; line-height: 40px; }
        > h3{
            font-size: 20px;
            margin-bottom: 0;

            &.fix-small{ margin-top: 0; }
        }

        span{
            display: block; font-size: 14px; color: #616161;
            &.big{ font-size: 18px; color: #424242; margin-bottom: 30px; }
        }

        img{
            margin: 0 auto 10px; max-width: 100%;

            &.img-relatorio{ max-width: 80%; }
        }
    }

    a{
        position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    }

	&:hover{ text-decoration: none; @include prefix(box-shadow, 0 0 6px rgba(0, 0, 0, 0.4), webkit moz ms o); }
}

.box-shadow{ @include prefix(box-shadow, 0 0 4px rgba(0, 0, 0, 0.2), webkit moz ms o); }