.iframe-holder{
    width: 100%; padding: 20px; position: relative; display: none;

    iframe{ width: 100%; height: 800px; border: 1px solid #e0e0e0; padding: 0; margin: 0 auto; }
}

.iframe {
    margin: 0 auto; padding: 0; border: none; position: relative; overflow: auto; width: 100%;

    &.small { height: 200px; }
    &.medium { height: 400px; }
    &.large { height: 800px; }
    &.bordered { border: 1px solid #ccc; }
    &.radius{ @include prefix(border-radius, 4px, webkit moz ms o); }
}