@import 'utils/_mixins';

@import 'imports/_reset';
@import 'imports/_icons';
@import 'imports/_base';
@import 'imports/_avatar';
@import 'imports/_scroll';
@import 'imports/_colors';
@import 'imports/_keyframes';
@import 'imports/_sweetalert';
//@import 'imports/_magnific-popup';
@import 'imports/_fancybox';
@import 'imports/_drag-drop';
@import 'imports/_cards';
@import 'imports/_msg-buttons';

@import 'imports/_liveurl';

div[data-reactroot]{
    z-index: 9;
    .fix-padding-btn{
        padding: 0!important;
        > div{
            > div{ padding: 0!important; }
        }
        .fix-padding-span{
            margin: 0!important;
            display: block!important;
            position: relative!important;
            padding: 0 16px!important;
        }
    }
}

div[tabindex='-1']:not(.swal2-modal){ height: 100%; }


@media screen and (min-width: 1301px) {
    .two .pane-one { width: 30%; }

    .three .pane-one { width: 25%; }
    .three .pane-two { width: 45%; }
    .three .pane-three { width: 30%; }

    .three .pane-chat-header, .three .pane-chat-footer {
        border-right: 1px solid rgba(0,0,0,.08);
    }

    .chat-mobile .three .pane-two { width: 70%; }
}

.app-wrapper::after {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 127px;
    content: '';
    top: 0;
    left: 0;
}

.drawer-manager, .pane {
    @include display-flex();
    overflow: hidden;
}


.pane {
    height: 100%;
    @include translateZ(0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    @include transition(all ease-in-out 130ms);
}

.tip, .butterbar, .pane-list-header, .popup .btn-light, .row-control, .drawer-section-title {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tip, .butterbar, .pane-list-header, .popup .btn-light, .row-control, .drawer-section-title, .entry-main, .entry-platform {
    @include display-flex();
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.pane-header {
    height: 59px;
    width: 100%;
    background-color: #4990E2;
    z-index: 1000;
}

.pane-header, .pane-subheader {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.pane-list-header {
    padding-right: 16px;
    padding-left: 15px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.pane-list-user {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}



.btn-plain:hover, .app-wrapper-web .app, .incoming-msgs, .btn-more, #window {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}

@media screen and (min-width: 1200px) {
    .app-wrapper-web .app {
        width: 1118px;
        margin: 0 auto;
        border-radius: 3px;
    }
}


@media screen and (min-width: 1320px) {
    .app-wrapper-web .app { width: 1276px; }
}
@media screen and (min-width: 1440px) {
    .app-wrapper-web .app { width: 100%; }
}

@media screen and (max-width: 660px) {
    .chat-mobile .three .pane-two { width: 40%; }
    .chat-mobile .three .pane-three { width: 60%; left: 40%; }
}

@media screen and (max-width: 580px) {
    .chat-mobile .three .pane-two { width: 100%; }
    .chat-mobile .three .pane-three { width: 100%; left: 0; }
}



@media screen and (max-width: 648px) {
    .app-wrapper { overflow-x: auto; }
    .app { min-width: 648px; }

    .chat-mobile .app{ min-width: inherit; }
}

@media screen and (max-height: 500px) {
    .app-wrapper { overflow-y: auto; }
    .app { min-height: 500px; }

    .chat-mobile .app-wrapper { overflow-y: hidden; }
}



#app_wraper::after{
    position:fixed;
    z-index: -1;
    background-color: #58afff;
    width: 100%;
    height: 127px;
    content: '';
    top:0;
    left: 0;
}

.pane-list-controls {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.bubble-actions, .menu-horizontal, .menu-horizontal>span, .menu-tabs, .menu-pills, .audio, .drawer-header-offset, .media-panel-header, .list-action {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu-item {
    cursor: pointer;
}

.menu-horizontal>span>.menu-item {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position: relative;
    border-radius: 50%;
    @include transition(background-color .18s ease);
}

.bubble-actions, .menu-horizontal, .menu-horizontal>span, .menu-tabs, .menu-pills, .audio, .drawer-header-offset, .media-panel-header, .list-action, .media-collection {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.search-container {
    background-color: #fbfbfb;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

    .subheader-search {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        box-sizing: border-box;
        position: relative;
        z-index: 100;
        height: 49px;
        @include transition(box-shadow .18s ease-out);
        -webkit-transition-delay: .12s;
        transition-delay: .12s;
        padding: 0;
        .icon {
            position: absolute;
            z-index: 100;
        }
        .icon-search-morph {
            background: none;
            width: 24px;
            height: 24px;
            left: 24px;
            top:12px;
            .icon {
                top: 0;
                left: 0;
            }
            .icon-back-blue {
                opacity: 0;
                -webkit-transform: scale(.8) rotate(225deg);
                transform: scale(.8) rotate(225deg);
                @include transition(all .3s cubic-bezier(.4,0,.2,1));
                pointer-events: none;
            }
            .icon-search {
                @include rotate(0);
                @include transition(all .24s cubic-bezier(.4,0,.2,1));
            }
        }
    }
}

.input-placeholder {
    color: #999;
    pointer-events: none;
    position: absolute;
    @include prefix(user-select, none, webkit moz ms o);
    @include transition(opacity .08s linear);
}

.subheader-search {
    .input-placeholder {
        top: 50%;
        left: 75px;
        width: calc(100% - 82px);
        font-size: 13px;
        line-height: 16px;
        margin-top: -7px;
        white-space: nowrap;
        z-index: 100;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.input-search {
    padding: 0;
    font-size: 15px;
    z-index: 1;
    text-align: left;
}

.cont-input-search {
    position: absolute;
    box-sizing: border-box;
    width: calc(100% - 28px);
    margin-top: 7px;
    margin-left: 12px;
    padding-left: 62px;
    padding-right: 54px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #f6f6f6;
    height: 34px;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #fff;
    @include transition(.12s cubic-bezier(.1,.82,.25,1));
}

.subheader-search.active {
    box-shadow: 0 2px 3px rgba(0,0,0,.07);
    .input-placeholder{
        opacity: 0;
    }
    .cont-input-search {
        margin-top: 0;
        margin-left: 0;
        height: 100%;
        width: 100%;
        padding-left: 74px;
        border-color: #fff;
        @include transition(all .12s cubic-bezier(.1,.82,.25,1));
        border-radius: 0;
        background-clip: padding-box;
    }
}


.active .icon-search-morph .icon-back-blue {
    -webkit-transform: scale(1) rotate(360deg) !important;
    transform: scale(1) rotate(360deg) !important;
    opacity: 1 !important;
}

.active .icon-search-morph .icon-search {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0;
    @include transition(all .24s cubic-bezier(.4,0,.2,1).06s);
}

.pane-chat-header:after, .subheader-search:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -1px;
    background-color: rgba(255,255,255,.14);
    border-bottom: 1px solid rgba(0,0,0,.08);
}

.list-container {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    z-index: 1;
    background-color: #fefefe;
    overflow-y: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.chatlist {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


.chat {
    position: relative;
    cursor: pointer;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 72px;
    border-left: 4px solid transparent;

    .chat-avatar {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: -1px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .chat-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        min-width: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-top: 1px solid #f2f2f2;
        padding-right: 15px;

        .typing {
          color: #4990e2!important;
        }

        .chat-main {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            line-height: normal;
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            text-align: left;
            margin-top: -1px;

            .chat-title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #000;
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;

                .text-title {
                    -webkit-box-flex: 1;
                    -webkit-flex-grow: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    position: relative;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: left;
                }
            }

            .chat-meta {
                color: rgba(0,0,0,.4);
                font-size: 12px;
                -webkit-box-flex: 0;
                -webkit-flex: none;
                -ms-flex: none;
                flex: none;
                margin-left: 6px;
                .chat-time {
                    text-transform: capitalize;
                }
            }
        }

        .chat-secondary {
            font-size: 13px;
            line-height: 19px;
            margin-top: 3px;
            min-height: 20px;
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;

            .chat-status {
                font-weight: 400;
                color: rgba(0,0,0,.6);
                white-space: nowrap;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                text-align: left;
                font-size: 14px;
                line-height: 20px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                overflow: hidden;

                .icon {
                    vertical-align: top;
                    width: 16px;
                    height: 18px;
                    display: inline-block;
                    background-repeat: no-repeat;
                    margin-right: 5px;
                }
            }
        }
    }
}


.chat:hover {
    background-color: #f4f5f5;
}

.chat-status {
    font-weight: 400;
    color: rgba(0,0,0,.6);
    white-space: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
    font-size: 13px;
}

.chatlist .chat-avatar, .chatlist .location-icon {
    padding: 0 15px 0 13px;
}

.chatlist .icon-status-dblcheck, .chatlist .icon-status-dblcheck-ack {
    width: 18px;
    height: 18px;
    margin-right: 2px;
}

.chatlist .chat-status .icon, .chatlist .location-secondary .icon, .chatlist .header-secondary .icon, .chatlist .chat-status .media-icon, .chatlist .location-secondary .media-icon, .chatlist .header-secondary .media-icon, .chatlist .chat-status-name, .chatlist .chat-status-divider  {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.chat-meta {
    color: rgba(0,0,0,.4);
    font-size: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin-left: 6px;
    max-height: 20px;
}

.pane-chat {
    /*background-color: #e5ddd5; */
}

@media screen and (min-width: 1301px) {
    .two .pane-two { width: 70%; }

    .chat-mobile .two .pane-two { width: 100%; }
}

.app .pane-two {
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.chat-avatar, .location-icon {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -1px;
}

.chat-avatar, .location-icon, .chat-body, .header-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.chat-body, .header-body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pane-chat-header .chat-body, .pane-chat-header .header-body {
    cursor: pointer;
    min-width: 0;
    color: #fff;
}

.pane-chat-header {
    z-index: 103;
    position: relative;
    padding-left: 16px;
    padding-right: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    border-left: 1px solid rgba(0,0,0,.08);

    .chat-body{ font-size: 14px; }
}

.chat-mobile{
    .pane-chat-header {
        .chat-body{
            @media screen and (max-width: 660px){ font-size: 12px; }
        }
    }
}

.pane-chat-header .chat-avatar, .pane-chat-header .location-icon {
    cursor: pointer;
    margin-right: 15px;
}

.row, .pane-header, .chat-main, .header-main, .chat-secondary, .header-secondary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.chat-main, .header-main {
    line-height: normal;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
    margin-top: -1px;
}

.ellipsify {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.ellipsify, .starred-title-main {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-title, .location-main, .header-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    @include display-flex();
}

.chat-title .emojitext, .location-main .emojitext, .header-title .emojitext {
    text-align: left;
}


.pane-body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    z-index: 1;
}


.pane-chat-tile-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    position: relative;
   /* background: #ede9e4;
    background: -webkit-linear-gradient(top,#ede9e4 0%,#ede9e4 20%,#e5ddd5 100%);
    background: linear-gradient(to bottom,#ede9e4 0%,#ede9e4 20%,#e5ddd5 100%); */
}

.pane-chat-body {
    @include prefix(user-select, text, webkit moz ms o);
}

.pane-chat-body, .pane-chat-footer {
    @include translateZ(0);
}

.pane-chat-msgs {
    width: 100%;
    height: 100%;
    position: absolute;
}

.pane-chat-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
    box-sizing: border-box;
    border-left: 1px solid rgba(0,0,0,.03);
    @include transition(background .3s ease-out .1s);
    background-color: transparent;
}

.message-list {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-bottom: 8px;
    -webkit-transition: padding .3s cubic-bezier(.69,0,.79,.14);
    transition: padding .3s cubic-bezier(.69,0,.79,.14);
    padding-left: 0;
}

.msg {
    margin-bottom: 12px;
    position: relative;
    padding-left: 9%;
    padding-right: 9%;

    &.msg-continuation { margin-bottom: 5px; }
}

.message-in, .message-out {
    border-radius: 7.5px;
    position: relative;
    box-shadow: 0 1px .5px rgba(0,0,0,.13);

    .context{
        height: 23px;
        width: 48px;
        position: absolute;
        overflow: hidden;
        z-index: 10;
        right: 5px;
        top: 5px;
    }
}

@media screen and (max-width: 900px) {
    .message-chat { max-width: 95%; }
}

@media screen and (min-width: 901px) and (max-width:1024px) {
    .message-chat { max-width: 85%; }
}

@media screen and (min-width: 1025px) and (max-width:1300px) {
    .message-chat { max-width: 75%; }
}

@media screen and (min-width: 1301px) {
    .message-chat { max-width: 65%; }
}

.message-in {
    background-color: #fff;
    float: left;
    
    &.has-author{
        .context-in{
            &.context-media{ top: 27px; }
        }
    }

    .context-in{
        background: -webkit-linear-gradient(left,rgba(255,255,255,0)0%,#fff 50%);
        background: linear-gradient(to right,rgba(255,255,255,0)0%,#fff 50%);

        &.context-media{
            background: -webkit-linear-gradient(15deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.21) 70%, rgba(0, 0, 0, 0.45) 100%);
            background: linear-gradient(15deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.21) 70%, rgba(0, 0, 0, 0.45) 100%);
            border-top-right-radius: 6px;
            height: 40px;
            width: 156px;
            right: 7px;
            top: 6px;
            cursor: pointer;
            .context-icon{
                background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAyMSAyMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjEgMjEiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQuOCw2LjFsNS43LDUuN2w1LjctNS43bDEuNiwxLjZsLTcuMyw3LjJMMy4yLDcuN0w0LjgsNi4xeiIvPg0KPC9zdmc+DQo=) !important;
            }
        }
    }

    &:before {
        background-image: url('../img/message_in.png');
    }
}

.message:last-of-type {
    margin-bottom: 0;
}

.tail.message-in:before {
    content: '';
    position: absolute;
    left: -11px;
    bottom: 3px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}


.bubble {
    padding: 6px 7px 8px 9px;
}

.bubble-image, .bubble-location {
    z-index: 1;
    position: relative;
    padding: 3px;
}

.bubble-image{
    &.bubble-has-text{
        .message-text{ padding-top: 5px; }

        .message-meta{ color: rgba(0, 0, 0, 0.45); }
    }
}

.image-thumb, .video-thumb {
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
}

.image-thumb{
    &.image-sending{
        a{ pointer-events: none; }

        img, .file-link, .video-link, .audio-link{ -webkit-filter: blur(5px);filter: blur(5px); }

        .image-sending-icon{
            z-index: 9;
            display: block;
            background: rgba(255, 255, 255, .7) url(../img/icons.svg) center center no-repeat;
            background-position: -2841px -2896px;
            height: 30px;
            width: 30px;
            position: absolute;
            top: calc(50% - 15px);
            padding: 5px;
            left: calc(50% - 15px);
            border-radius: 50%;
            box-shadow: 0 0 8px #222;
            border: 1px solid rgba(255,255,255,.65);
            -webkit-filter: invert(100%);
            filter: invert(100%);
            @include animation(spin 800ms linear infinite);
            
        }
    }
}

@-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}

@keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}

.image-thumb-body, .video-thumb-body {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    @include transition(filter .16s linear);
}

.video-thumb{
    .video-thumb-play{
        background: rgba(30, 30, 30, .25) url(../img/icons.svg) -1878px -1884px no-repeat;
        width: 46px;
        height: 46px;
        display: block;
        position: absolute;
        @include prefix(border-radius, 50%, webkit moz ms o);
        box-shadow: 1px 1px 8px #222;
        border: 1px solid rgba(255,255,255,.65);
    }

    a{ max-height: 100%; max-width: 100%; }
}

.bubble-image .shade, .bubble-location .shade {
    left: 0;
    width: 330px!important;
    z-index: 1;
}

.message .shade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28px;
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,.3),transparent);
    background: linear-gradient(to top,rgba(0,0,0,.3),transparent);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.bubble-image .message-meta {
    bottom: 9px;
    right: 12px;
}

.bubble-image .message-meta, .bubble-location .message-meta {
    color: rgba(255,255,255,.9);
    z-index: 2;
}

.bubble-audio .message-meta{ color: rgba(0, 0, 0, 0.45); }


.message-ciphertext, .message-text, .document-body {
    font-size: 13.6px;
    line-height: 19px;
    font-family: 'Open Sans',sans-serif;
    word-wrap: break-word;
    color: #262626;
}


.message-text {
    position: relative;
    a{
        color: $primary;
    }
}

.message .message-text .emojitext {
    cursor: text;
    white-space: pre-wrap;
}

.message-text::after {
    content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    display: inline;
}


.message-meta {
    position: absolute;
    bottom: -5px;
    right: 0;
    font-size: 11px;
    color: rgba(0,0,0,.45);
    line-height: 15px;
    height: 15px;
}

.bubble-text .message-meta, .bubble-doc .message-meta, .bubble-ciphertext .message-meta, .bubble-location .message-meta {
    bottom: 3px;
    right: 5px;
}

.message-datetime {
    vertical-align: top;
    margin-top: 1px;
    display: inline-block;
}


.message-system {
    text-align: center;
    max-width: 100%!important;
}

.message-system-body {
    color: rgba(69,90,100,.95);
    background-color: rgba(225,245,254,.92);
}

.message-system-body, .message-system-e2e {
    font-family: 'Open Sans',sans-serif;
    font-size: 12.5px;
    line-height: 21px;
    display: inline-block;
    border-radius: 7.5px;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    padding: 5px 12px 6px;
    box-shadow: 0 1px .5px rgba(0,0,0,.13);
}

.message-out {
    background-color: #DBDFE0;
    float: right;
    &:before {
        background-image: url('../img/message_out.png');
    }
    .context-in{
        background: -webkit-linear-gradient(left,rgba(220,248,198,0)0%,#DBDFE0 50%);
        background: linear-gradient(to right,rgba(220,248,198,0)0%,#DBDFE0 50%);
        &.context-media{
            background: -webkit-linear-gradient(15deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.21) 70%, rgba(0, 0, 0, 0.45) 100%);
            background: linear-gradient(15deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.21) 70%, rgba(0, 0, 0, 0.45) 100%);
            border-top-right-radius: 6px;
            height: 40px;
            width: 156px;
            right: 7px;
            top: 6px;
            cursor: pointer;
            .context-icon{
                background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAyMSAyMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjEgMjEiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQuOCw2LjFsNS43LDUuN2w1LjctNS43bDEuNiwxLjZsLTcuMyw3LjJMMy4yLDcuN0w0LjgsNi4xeiIvPg0KPC9zdmc+DQo=) !important;
            }
        }
    }
}


.tail.message-out:before {
    right: -11px;
}

.tail.message-out:before, .tail-override-left:before {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.message-meta .icon, .col-main .icon {
    height: 15px;
    width: 16px;
    margin-left: 3px;
    vertical-align: top;
}

.msg:after {
    content: '';
    display: table;
    clear: both;
}

.icon, .icon-sm, .icon-s, .chat-status .icon, .location-secondary .icon, .header-secondary .icon, .icon-l, .icon-xl, .icon-alert {
    display: inline-block;
    background-repeat: no-repeat;
}

.pane-chat-tile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #eceff1;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:2dppx) {
    .pane-chat-tile { background-size: 366.5px 666px; }
}


.pane-footer {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}


.pane-chat-footer {
    padding: 10px 10px 0;
    background-color: #e9ebeb;
    box-sizing: border-box;
    border-left: 1px solid rgba(0,0,0,.08);
    min-height: 62px;
    z-index: 102;
    position: relative;
}

.block-compose {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 10px 0;
    max-width: 100%;
    box-sizing: border-box;
    .input-placeholder {
        top: 0;
    }
    .input-container {
        border-radius: 5px;
        background-clip: padding-box;
        width: inherit;
        background-color: #fff;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-width: 0;
        border-color: #fff;
        border-width: 1px;
        border-style: solid;
        box-sizing: border-box;
        padding-right: 16px;
    }

    .ptt-container {
        margin-left: 26px;

        &.acitve { margin-left: 24px; }
    }

    .icon-ptt {
        z-index: 2;
        bottom: 18px;
    }

    .icon-send, .icon-ptt {
        opacity: .9;
        margin-left: 26px;
        margin-bottom: 8px;
        margin-right: 10px;
    }
    
    .icon-send{
        &:hover{
            background: url("../img/icon_send.png") -3px center no-repeat;
        }
    }
}

.input-container {
    -webkit-transition: height .18s ease-in-out;
    transition: height .18s ease-in-out;
}

.input, .block-compose .input-container, .input-line {
    font-weight: 400;
}

.input, .block-compose .input-container {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    line-height: 20px;
    font-size: 15px;
    min-height: 20px;
    border: none;
    width: 100%;
    outline: none;
}

.input-emoji {
    position: relative;
}

.empty-text, .intro-text, .hint, .btn, .input-placeholder, .empty-title, .bubble-btn, .drawer-title, .drawer-section-footer, .dropdown .menu-item a, .menu-shortcut>.shortcut, .link-preview-title, .intro-body, .entry-text, #platforms {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-placeholder {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 6px;
    left: 0;
    color: #999;
    pointer-events: none;
    -webkit-transition: opacity .08s linear;
    transition: opacity .08s linear;
    font-size: 15px;
    line-height: 20px;
    z-index: 0;
}


.block-compose .input-container .input, .block-compose .input-container .input-container {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 0 2px 0 0;
    min-height: 20px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ptt-container {
    margin-bottom: 3px;
    width: 24px;
    -webkit-transition: width .18s ease-in-out;
    transition: width .18s ease-in-out;

    &.active { width: 200px; }
}

@import 'imports/_ptt';


.block-compose .send-container, .block-compose .ptt-container, .block-compose .btn-emoji {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}



.drawer-manager, .flow-drawer-container, .starred-title-divider:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.drawer-manager {
    z-index: 9999;
    pointer-events: none;
}

.drawer-manager, .flow-drawer-container, .starred-title-divider:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flow-drawer-container {
    overflow: hidden;
}

.drawer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    .chatlist {
        background-color: #fff;
    }
}

.drawer-header, .drawer-header-small {
    padding-right: 20px;
    padding-left: 25px;
}

.drawer-header, .drawer-header-small, .drawer-header-offset, .drawer-header-popup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    box-sizing: border-box;
}

.drawer-header {
    background-color: $text-colors-icons;
    color: #fff;
    height: 108px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}


.row, .pane-header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.drawer-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.drawer-header .drawer-title {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.drawer-title-action {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    cursor: pointer;
}


.drawer-body {
    overflow-y: auto;
    overflow-x: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 1;
}


.btn-close-drawer {
    vertical-align: top;
    margin-top: -2px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    cursor: pointer;
}


.drawer-title-body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.drawer-title-body, .drawer-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.mdl-menu .mdl-menu__item a {
    color: #444;
    font-size: 14px;
    display: block;
    cursor: pointer;
    text-decoration:none;
}

.pane-chat-controls, .more {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.more {
    padding: 0 0 24px;
}

.btn-plain:hover, .app-wrapper-web .app, .incoming-msgs, .btn-more, #window {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}

.btn-more {
    width: 44px;
    height: 44px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    .icon {
        opacity: .4;
    }
}

@media (max-width: 1216px) and (min-width:1152px) {
    .msg {
        padding-left: 8.5%;
        padding-right: 8.5%;
    }
}

@media (max-width: 1152px) and (min-width:1088px) {
    .msg {
        padding-left: 8%;
        padding-right: 8%;
    }

    .three .msg {
        padding-right: 6%;
        padding-left: 6%;
    }
}

@media (max-width: 1088px) and (min-width:1025px) {
    .msg {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    .three .msg {
        padding-right: 4%;
        padding-left: 4%;
    }

    .three .msg-select .checkbox-container { margin-left: 16px; }

    .three .multi-controls { padding-left: 8px; }
}

@media (max-width: 1024px) {
    .msg {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media (max-width: 968px) {
    .msg {
        padding-left: 6.5%;
        padding-right: 6.5%;
    }
}

@media (max-width: 912px) {
    .msg {
        padding-left: 6%;
        padding-right: 6%;
    }
}

@media (max-width: 856px) {
    .msg {
        padding-left: 5.5%;
        padding-right: 5.5%;
    }
}

@media (max-width: 800px) {
    .msg {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.spinner-container {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    z-index: 2;
    .path {
        stroke-dasharray: 1,150;
        stroke-dashoffset: 0;
        stroke: rgba(27, 154, 89, 0.7);
        stroke-linecap: round;
        -webkit-animation: dash 1.5s ease-in-out infinite;
        animation: dash 1.5s ease-in-out infinite;
    }
}


/** DRAWER DE IMAGENS **/
.drawer-manager, .flow-drawer-container, .starred-title-divider:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flow-drawer-container {
    overflow: hidden;
}

.drawer-container-mid {
    height: calc(100% - 59px);
    top: 59px;
}

.drawer-header-offset {
    background-color: $secundary;
    color: #fff;
    height: 49px;
    padding: 0 24px;
}

.drawer-title-action {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.btn-close-drawer {
    vertical-align: top;
    margin-top: -2px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    cursor: pointer;
}

.drawer-media .drawer-body {
    position: relative;
    background-color: #e5e5e5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.media-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.media-body, .invalid-media-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.media-body-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.media-element-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    width: 100%;
}

.media-element {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 20px;
    left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.media-element, .media-element .media-document {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.object-fit {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.object-fit-scaledown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.profile-viewer-img, .media-viewer-img {
    z-index: 2;
    height: 100%;
    width: 100%;
}

.media-viewer-img {
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.media-collection {
    margin-top: 58px;
    height: 120px;
    background-color: #d8d8d8;
    box-sizing: border-box;
    padding: 0 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.drawer-controls {
    margin-top: 32px;
    z-index: 2;
    text-align: center;
    padding-bottom: 32px;
}

.drawer-media .drawer-controls {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 92px;
    right: 40px;
    opacity: 0;
}

.btn {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 9px 28px;
    border-radius: 3px;
    background-color: $text-colors-icons;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    -webkit-transition: box-shadow .08s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .08s cubic-bezier(.4,0,.2,1);
    cursor: pointer;
}

.btn-round {
    width: 46px;
    height: 46px;
    padding: 0;
    border-radius: 50%;
}

.btn-l {
    width: 60px;
    height: 60px;
}

.drawer-controls .btn-round {
    margin: 0 auto;
}

.btn-l .icon-send-light {
    margin-left: 20px;
}

.drawer-controls .icon {
    vertical-align: middle;
}

.typing {
    color: #fff!important;
}

.unread-count {
    background-color: #4990E2;
    color: #fff;
    font-weight: 500;
    font-size: 12px !important;
    padding: 0 5px;
    border-radius: 12px;
    text-align: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 19px;
    min-width: 19px;
    box-sizing: border-box;
    line-height: normal;
}

.chat-meta .icon-meta {
    margin-right: 5px;
    &:last-child {
        margin-right: -1px;
    }
}

.chatlist .is-unread .chat-meta, .chatlist .unread .chat-meta {
    color: #333;
}

.chatlist .chat.active, .chatlist .active.location {
    background-color: #e9ebeb;
    border-left: 4px solid #4990e2;
}

.sticky-date-marker-floating-container {
    z-index: 200;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .three .pane-chat-header { border-left: 1px solid #e0e0e0; }

    .three .pane-chat-body,.three .pane-chat-footer {
        -webkit-transition: border-color .3s step-end;
        transition: border-color .3s step-end;
        border-left: 1px solid #e8e8e8;
    }

    .pane-three { border-left: 1px solid transparent; }
}

@media screen and (min-width: 1025px) and (max-width:1300px) {
    .three .pane-chat-header {
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid rgba(0,0,0,.08);
    }

    .three .pane-chat-body,.three .pane-chat-footer {
        -webkit-transition: border-color .3s step-end;
        transition: border-color .3s step-end;
        border-left: 1px solid #e8e8e8;
    }

    .safari-fix .three .pane-chat-body { border-left: none; }

    .three .pane-chat-tile-container { box-shadow: inset -1px 0 0 rgba(0,0,0,.04); }

    .three .pane-chat-footer { border-right: 1px solid rgba(0,0,0,.08); }
}

@media screen and (min-width: 1301px) {
    .three .pane-chat-header,.three .pane-chat-footer { border-right: 1px solid rgba(0,0,0,.08); }

    .three .pane-chat-tile-container { box-shadow: inset -1px 0 0 rgba(0,0,0,.04); }
}


.empty {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    color: #929fa6;
}

.empty-top {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.empty-text, .intro-text, .hint {
    font-size: 14px;
    color: #929fa6;
    line-height: 20px;
}


.btn-context {
    margin-left: 5px;
    margin-right: -1px;
}

.subheader-search .icon, .subheader-search .icon-spinner {
    position: absolute;
    z-index: 100;
}

.subheader-search .icon-x-alt {
    top: 12px;
    right: 17px;
}

.subheader-search .icon-spinner {
    top: 14px;
    right: 19px;
}

.btn-context.icon-spinner {
    vertical-align: top;
    display: inline-block;
    height: 19px;
}

.menu-horizontal>.menu-item.active, .menu-horizontal>span>.menu-item.active {
    background-color: rgba(0,0,0,.1);
}

.pane-intro {
    background-color: #f7f9fa;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    border-left: 1px solid rgba(0,0,0,.08);
    position: relative;
    .intro-footer{
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: $secundary;
    }
}

.intro-body {
    text-align: center;
    margin-top: -20px;
    width: 460px;
}

.intro-title {
    color: #4b5961;
    font-size: 36px;
    margin-top: 38px;
}

@media screen and (max-height: 600px) {
    .intro-title {
        margin-top: 28px;
        font-size: 32px;
    }

    .intro-text {
        margin-top: 18px;
    }
}

.empty-text, .intro-text, .hint {
    font-size: 14px;
    color: #929fa6;
    line-height: 20px;
}


/* .statusChat {
    position: absolute;
    height: 10px;
    width: 10px;
    bottom: 5px;
    left: 30px;
    border-radius: 50px;
} */


.offline {
   background: #ff5858 !important;
}

.online {
    background: #3ce838 !important;
}

.away {
    background: rgb(245, 195, 13) !important;
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
    .two .pane-one { width: 35%; }
    .two .pane-two { width: 65%; }

    .three .pane-one { width: 30%; }
    .three .pane-two { width: 40%; }
    .three .pane-three { width: 30%; }

    .chat-mobile .two .pane-two { width: 100%; }
    .chat-mobile .three .pane-two{ width: 70%; }
}


@media screen and (max-width: 1024px) and (min-width: 901px) {
    .two .pane-one { width: 35%; }
    .two .pane-two { width: 65%; }

    .three .pane-one { width: 35%; }
    .three .pane-two { width: 65%; }
    .three .pane-three {
        position: absolute;
        left: 35%;
        width: 65%;
    }

    .chat-mobile .two .pane-two { width: 100%; }
    .chat-mobile .three .pane-three { left: 65%; width: 35%; }

}


@media screen and (max-width: 900px) {
    .two .pane-one { width: 40%; }
    .two .pane-two { width: 60%; }

    .three .pane-one { width: 40%; }
    .three .pane-two { width: 60%; }
    .three .pane-three {
        position: absolute;
        left: 40%;
        width: 60%;
    }

    .chat-mobile .two .pane-two { width: 100%; }
}

@media screen and (min-width: 661px) and (max-width: 900px){
    .chat-mobile .two .pane-two{ width: 100%; }
    .chat-mobile .three .pane-three{ width: 40%; left: 60%; }
}

.app, .app-wrapper-native .app {
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 0;
}

.header-close {
    margin-left: 4px;
    margin-right: 20px;
}

@media screen and (max-width: 1199px) {
    .app {
        width: 100%;
        height: 100%;
        border-radius: 0;
        top: 0;
    }
}


.drawer-info .chat-main, .drawer-info .header-main {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.drawer-editable {
    border-left: 1px solid #eceff1;
    padding-left: 24px;
    padding-right: 24px;
}
.drawer-section {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.drawer-section, .drawer-section-expand {
    margin-top: 26px;
}

.drawer-section-photo {
    margin-top: 32px;
    margin-bottom: 6px;
}

.drawer-scale {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: drawer-scale 750ms cubic-bezier(.1,.82,.25,1);
    animation: drawer-scale 750ms cubic-bezier(.1,.82,.25,1);
}

.drawer-section:first-of-type, .drawer-section-expand:first-of-type {
    margin-top: 32px;
}

.drawer-section-photo .avatar {
    margin-left: auto;
    margin-right: auto;
}

.drawer-section, .drawer-section-expand {
    margin-top: 26px;
}

.well {
    background-color: #fff;
    border-radius: 6px;
    padding: 9px 14px 12px;
}

.animate-enter1 {
    -webkit-animation: well-animation1 1s cubic-bezier(.1,.82,.25,1);
    animation: well-animation1 1s cubic-bezier(.1,.82,.25,1);
}

.animate-enter2 {
    -webkit-animation: well-animation2 1s cubic-bezier(.1,.82,.25,1);
    animation: well-animation2 1s cubic-bezier(.1,.82,.25,1);
}

.drawer-section-title {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: normal;
    color: #7c8b92;
}

.title-underlined {
    padding-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 6px;
    min-height: 18px;
    line-height: 18px;
}

.col-main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.drawer-section-title .col-main {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.drawer-section-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    word-wrap: break-word;
    line-height: 23px;
    &.bleed-divider{
        border-bottom: 1px solid #f2f2f2;
        margin-bottom: 6px;
    }
}

.textfield-static {
    font-size: 15px;
    line-height: 20px;
    color: #4b4b4b;
    padding: 4px 0 5px;
    display: block;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.drawer-section-action {
    text-align: center;
    .btn{
        &:last-child{
            margin-bottom: 20px;
        }
    }
}

.drawer-info .drawer-section-action.last {
    padding-bottom: 32px;
    margin-top: 5px;
}

.btn-danger {
    background-color: #ff5252;
    display: inline-block;
}

.btn-primary {
    background-color: rgb(48, 133, 214);
    display: inline-block;
}

.intro-image {
    width: 356px;
    height: 250px;
    margin: 0 auto;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 0;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
    background: url('../img/welcome_chat.png') 50% 50% no-repeat;
}

@media screen and (max-width: 800px) {
    .intro-image {
        width: 80%;
        height: 280px;
    }

    .intro-body { width: 80%; }
}

@media screen and (max-height: 600px) {
    .intro-image {
        height: 250px;
    }

    .intro-title {
        margin-top: 28px;
        font-size: 32px;
    }

    .intro-text { margin-top: 18px; }
}


.left-drawer-enter {
  transform: translateX(-100%);
}

.left-drawer-enter.left-drawer-enter-active {
   -webkit-transition: transform 500ms ease-in-out;
   -moz-transition: transform 500ms ease-in-out;
   -ms-transition: transform 500ms ease-in-out;
   -o-transition: transform 500ms ease-in-out;
   transition: transform 500ms ease-in-out;
  transform: translateX(0);
}

.left-drawer-leave {
  transform: translateX(-100%);
  -webkit-transition: transform 500ms ease-in-out;
   -moz-transition: transform 500ms ease-in-out;
   -ms-transition: transform 500ms ease-in-out;
   -o-transition: transform 500ms ease-in-out;
   transition: transform 500ms ease-in-out;
}

.left-drawer-leave.left-drawer-leave-active {
  transform: translateX(-100%);
}


.message-out{
    .bubble-audio{
        .wrapper{ min-height:50px!important; }

        .contents{ margin-left:64px; padding-top: 5px; }

        .quoted-msg { margin-bottom:8px }

        .message-meta { bottom:2px; }
    }
}

.message-in{
    .bubble-audio{
        .wrapper { min-height:53px!important; }

        .contents { margin-right:64px; }

        .quoted-msg { margin-bottom:5px; }
    }
}

.message-in, .message-out{
    .message-text{ padding-right: 20px; }
}

.bubble-audio .preview {
    width:60px;
    height: 60px;
    float: left;

    .chat-avatar{ padding: 8px 0; padding-left: 10px;  }
}
.audio {
    height:34px
}
.audio-controls {
    -webkit-box-flex:0;
    -webkit-flex:none;
    -ms-flex:none;
    flex:none;
    margin-right:12px
}
.audio-body {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1
}
.btn-audio {
    width:34px;
    height:34px;
    position:relative
}
.meta-audio {
    position:absolute
}
.message-out .audio {
    margin-left:8px;
    margin-right:7px;
    padding-top:8px
}
.message-in .audio {
    margin-left:7px;
    margin-right:8px;
    padding-top:11px
}
.meta-audio {
    color:#596351!important;
    font-size:11.5px!important
}
.audio-status {
    width:19px;
    height:26px;
    position:absolute
}
.audio-track-container {
    position:relative;
    display:inline-block;
    width:100%;
    overflow: hidden;
}
.audio-track {
    height:21px;
    width:100%;
    box-sizing:border-box;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-color:transparent!important;
    outline:none;
    border:none;
    position:relative
}
.audio-track::-webkit-slider-runnable-track {
    height:3px
}
.message-out .audio-track::-webkit-slider-runnable-track {
    background-color:#c1d6af
}
.message-in .audio-track::-webkit-slider-runnable-track {
    background-color:#e6e6e6
}
.audio-track::-webkit-slider-thumb {
    -webkit-appearance:none;
    width:13px;
    height:13px;
    margin-top:-5px;
    border-radius:50%;
    background:#03a9f4;
    border:none;
    -webkit-transition:all .1s ease;
    transition:all .1s ease
}
.audio-track:active::-webkit-slider-thumb {
    width:15px;
    height:15px;
    margin-top:-6px
}
.audio-track:disabled::-webkit-slider-thumb {
    display:none
}
.audio-track::-moz-range-track {
    height:3px
}
.message-out .audio-track::-moz-range-track {
    background-color:#c1d6af
}
.message-in .audio-track::-moz-range-track {
    background-color:#e6e6e6
}
.audio-track::-moz-range-thumb {
    -webkit-appearance:none;
    -moz-appearance:none;
    width:13px;
    height:13px;
    margin-top:-5px;
    border-radius:50%;
    background:#03a9f4;
    border:none;
    transition:all .1s ease
}
.audio-track::-moz-focus-outer {
    border:0;
}
.audio-track:active::-moz-range-thumb {
    width:15px;
    height:15px;
    margin-top:-6px
}
.audio-track:disabled::-moz-range-thumb {
    display:none
}
.audio-track::-ms-track {
    height:3px;
    border:none
}
.message-out .audio-track::-ms-track {
    background-color:#c1d6af
}
.message-in .audio-track::-ms-track {
    background-color:#e6e6e6
}
.audio-track::-ms-thumb {
    -webkit-appearance:none;
    width:13px;
    height:13px;
    margin-top:0;
    border-radius:50%;
    background:#03a9f4
}
.audio-track:active::-ms-thumb {
    width:15px;
    height:15px;
    margin-top:-1px
}
.audio-track:disabled::-ms-thumb {
    display:none
}
.audio-progress {
    position:absolute;
    left:0;
    top:9px;
    height:3px;
    width:0;
    background-color:#03a9f4;
    pointer-events:none;
    z-index:10
}
.btn-audio .spinner-container,.btn-audio .progress-container {
    position:absolute;
    top:-2px;
    left:-2px
}
.btn-audio .spinner-container .path {
    stroke:#888e92
}
.btn-audio .progress-container .path {
    stroke:#29b6f6
}
.btn-audio-cancel-noborder:before {
    content:'';
    position:absolute;
    width:32px;
    height:32px;
    top:-1px;
    left:-1px;
    border:2px solid rgba(0,0,0,.1);
    border-radius:50%
}
.message-out .audio-state-default .audio-progress {
    background-color:#849982!important
}
.message-out .audio-state-default .audio-track::-webkit-slider-thumb {
    background-color:#849982!important
}
.message-out .audio-state-default .audio-track::-moz-range-thumb {
    background-color:#849982!important
}
.message-out .audio-state-played .audio-progress {
    background-color:#29b6f6!important
}
.message-out .audio-state-played .audio-track::-webkit-slider-thumb {
    background-color:#29b6f6!important
}
.message-out .audio-state-played .audio-track::-moz-range-thumb {
    background-color:#29b6f6!important
}
.message-out .audio-status {
    left:54px;
    bottom:3px
}
.message-out .bubble-attach .meta-audio {
    bottom:2px!important;
    left:125px!important;
    right:auto
}
.message-in .audio-state-default .audio-progress {
    background-color:#09d261!important
}
.message-in .audio-state-default .audio-track::-webkit-slider-thumb {
    background-color:#09d261!important
}
.message-in .audio-state-default .audio-track::-moz-range-thumb {
    background-color:#09d261!important
}
.message-in .audio-state-played .audio-progress {
    background-color:#29b6f6!important;
}
.message-in .audio-state-played .audio-track::-webkit-slider-thumb {
    background-color:#29b6f6!important
}
.message-in .audio-state-played .audio-track::-moz-range-thumb {
    background-color:#29b6f6!important
}
.message-in .audio-status {
    right:54px;
    bottom:3px
}
.message-in .bubble-attach .meta-audio {
    bottom:2px!important;
    right:108px!important;
    left:auto
}

@media screen and (min-width: 901px) and (max-width:1024px) {
    .message-out .tooltip-container { right: -10px; }
}

@media screen and (max-width: 900px) {
    .message-out .tooltip-container { right: 9px; }
}

.pane-preview .message-out .tooltip-container { right: 9px; }

@media screen and (min-width: 1025px) and (max-width:1300px) {
    .three .message-out .tooltip-container { right: 9px; }
}

@media screen and (max-width: 1024px) {
    .popup-controls { max-width: 560px; }
}

@media screen and (min-width: 1024px) and (max-width:1199px) {
    .popup-controls { max-width: 930px; }
}

@media screen and (min-width: 1200px) {
    .popup-controls { max-width: 1000px; }
}

@media screen and (min-width: 1320px) {
    .popup-controls { max-width: 1060px; }
}

@media screen and (min-width: 1024px) {
    .pane-preview .message-chat { max-width: 100%; }
}

@media screen and (max-width: 900px) {
    .starred-msg-wrapper .document-meta { display: none; }
}

/**
 * BUTTERBAR
 */

.butterbar-container {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:0;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column
}
.butterbar-wrapper {
    -webkit-box-flex:0;
    -webkit-flex:none;
    -ms-flex:none;
    flex:none;
    overflow:hidden;
    -webkit-transform-origin:top center;
    transform-origin:top center
}
.butterbar {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    background-color:#9de1fe;
    padding: 14px 18px 13px 12px;
    min-height: 62px;
}
.butterbar.action {
    cursor:pointer
}
.butterbar-icon {
    -webkit-box-flex:0;
    -webkit-flex:none;
    -ms-flex:none;
    flex:none;
    margin-right: 15px;
    > .icon-alert-computer{
        width: 50px;
        height: 50px;
    }
}
.butterbar-body {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    justify-contents:center;
}
.butterbar-controls {
    -webkit-box-flex:0;
    -webkit-flex:none;
    -ms-flex:none;
    flex:none;
    margin-left:15px;
}
.butterbar-controls .icon {
    width:20px;
    height:20px;
    cursor:pointer
}
.butterbar-title {
    font-size:16px;
    line-height:21px;
    color:#37474f
}
.butterbar-text {
    font-size:14px;
    line-height:19px;
    margin-top:2px;
    color:#37474f;
    opacity:.6
}
.popup .action,.butterbar .action {
    text-decoration:underline;
    cursor:pointer
}
.butterbar-update {
    background-color:#1de9b6
}

.butterbar-livecom{
    background-color: #bf232b;
    .butterbar-body{
        .butterbar-title, .butterbar-text{ color: #fff; opacity: .8; }
    }
}

.butterbar-computer,.butterbar-phone {
    background-color:#fed859
}
.butterbar-battery {
    background-color:#ff7043
}
.butterbar-battery .butterbar-text {
    color:#f9fbe7
}
.butterbar-battery .butterbar-title {
    color:#fff
}

.list-title {
    height: 72px;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 20px;
    padding: 30px 0 15px 30px;
    color: #25a8c5;
    text-transform: uppercase;
    background-color: #fff;
}

.message-author {
    font-family: 'Open Sans',sans-serif;
    font-size: 12.5px;
    line-height: 20px;
    height: 20px;
    font-weight: 600;
    margin-bottom: 1px;
    color: #74cff8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-meta .icon {
    width: 16px;
    height: 18px;
    vertical-align: top;
}

.chat-meta .icon-down, .chat-meta .message .btn-context:before, .message .chat-meta .btn-context:before, .chat-meta .context-icon {
    width: 20px;
    height: 20px;
}

.icon-down, .message .btn-context:before, .context-icon, .incoming-msgs .icon-down {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAyMSAyMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjEgMjEiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbC1vcGFjaXR5PSIwLjQ1IiBkPSJNNC44LDYuMWw1LjcsNS43bDUuNy01LjdsMS42LDEuNmwtNy4zLDcuMkwzLjIsNy43TDQuOCw2LjF6Ii8+DQo8L3N2Zz4NCg==) !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.context-icon {
    position: absolute;
    right: 0;
    width: 24px;
    height: 18px;
    cursor: pointer;
    opacity: 1;
    z-index: 3;
}

@media screen and (max-width: 880px),screen and (max-height:720px) {
    #wrapper {
        position: fixed;
        background-color: #dfdfdf;
        display: block;
        overflow: auto;
        background-image: -webkit-linear-gradient(top,#dddbd1,#d2dbdc);
        background-image: linear-gradient(to bottom,#dddbd1,#d2dbdc);
    }

    #window { margin: 20px auto; }
}

@media screen and (max-width: 880px) {
    #window {
        width: 80%;
        min-width: 440px;
        overflow: hidden;
    }

    .entry-main {
        margin-left: 60px;
        margin-right: 60px;
        min-width: 320px;
    }

    .entry-title { padding-top: 0; }

    .entry-text { height: 430px; }

    .entry-controls { padding-bottom: 0; }

    .qrcode {
        position: absolute;
        top: 90px;
        left: 50%;
        margin-left: -120px;
    }

    #platforms {
        padding-left: 52px;
        padding-right: 52px;
    }

    .entry-platform {
        width: 100%;
        min-height: 58px;
        margin-bottom: 14px;
    }

    .entry-platform:last-child,.entry-platform:nth-last-child(2) { margin-bottom: 14px; }
}

@media screen and (max-width: 460px) {
    .app-wrapper::before { display: none; }

    #window {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        border-radius: 0;
    }
}

.drawerMedia-enter {
    @include translateY(100%);
    &.drawerMedia-enter-active{
        @include translateY(0);
        @include transition(transform 600ms cubic-bezier(0.23, 1, 0.32, 1) 0ms);
    }
}

.drawerMedia-leave {
    @include translateY(0);

    &.drawerMedia-leave-active {
        @include translateY(100%);
        @include transition(transform 600ms cubic-bezier(0.23, 1, 0.32, 1) 0ms);
    }
}

.pane-preview-wrapper {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    max-height: 35%;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 1px solid #e0e0e0;
}

.pane-preview {
    padding: 20px 24px 20px 22px;
    position: relative;
    background: #ede9e4;
    background: -webkit-linear-gradient(top,#ede9e4 0%,#ede9e4 20%);
    background: linear-gradient(to bottom,#ede9e4 0%,#ede9e4 20%);
}

.pane-chat-tile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: repeat repeat;
}

.incoming-msgs {
    position: absolute;
    right: 18px;
    bottom: 18px;
    z-index: 200;
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.incoming-msgs .unread-count {
    position: absolute;
    top: -5px;
    left: -5px;
}

.msg-unread {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
}

.msg-unread {
    background-color: rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.msg-unread {
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12.5px;
    color: #3d3d3d;
    margin-bottom: 12px;
}

.icon-session{
    display: block;
    float: right;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #222;
    position: relative;
    top: 3px;

    &.away{ background-color: #f5c30d; }
    &.online{ background-color: #06b53c; }
    &.offline{ background-color: #f14f46; }
}

.chat-marker, .chat-marker-admin, .chat-marker-archived {
    display: inline-block !important;
    font-size: 11px;
    line-height: 16px;
    height: 16px;
    padding: 1px 5px 0 5px;
    border-radius: 3px;
}

.chat-marker-admin {
    color: #4caf50;
    border: 1px solid #4caf50;
}

.dialog-title {
  margin: 0px !important;
}