<div class="page-content">
	<h3 class="page-title">Detalhes do E-mail</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/report/emailReport.htm">Relatório de E-mails</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Detalhes Relatório de E-mails</span></li>
		</ul>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; Dados do E-mail</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-up tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body postInfo">
					<div class="clearfix">
						<div class="col-md-6 bordered">
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">Assunto: </label>
								<span class="sbold font-blue-madison">$!email.assunto</span>
							</div>
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">De: </label>
								<span class="sbold font-blue-madison">$!email.de</span>
							</div>
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">Data: </label>
								<span title="$!post.dataPublicacao">$format.date($!email.data, "dd/MM/yyyy, HH:m:s")</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">Para: </label>
								<span class="sbold font-blue-madison">$!email.usuario.email</span>
							</div>
							<div class="campoPost postInfo clearfix">
								<label class="control-label labelCampo">Empresa: </label>
								<span class="sbold font-blue-madison">$!email.empresa.nome</span>
							</div>
							#if($!email.tipoTemplate)
							<div class="campoPost postInfo">
								<label class="control-label labelCampo">Tipo: </label>
								<span class="notifyText">$!email.tipoTemplate</span>
							</div>
							#end
						</div>
					</div>
				</div>
			</div>
			
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-envelope-o"></i> Detalhes do E-mail</span>
					</div>
				</div>
				<div class="portlet-body">
					<h4>$!email.assunto</h4>
					<div class="mensagem-header">
						<div class="form-group campoPost postInfo">
							<label class="control-label labelCampo">De: </label>
							<span class="font-sm sbold font-blue-link">$!email.empresa.nome <small>($!email.de)</small> </span>
							<span class="font-sm font-grey-mint pull-right">$format.date($!email.data, "dd/MM/yyyy, HH:m:s")</span>
						</div>
						<div class="form-group campoPost postInfo">
							<label class="control-label labelCampo">Para: </label>
							<span class="font-sm sbold font-blue-link">$!email.usuario.nome <small>($!email.usuario.email)</small></span>
						</div>
					</div>
					<div class="clearfix">
						<iframe id="email" class="iframe large bordered radius"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	$('#email').contents().find('html').html('$!html');
});
</script>
#parse("/msg.htm")