<div class="page-content">
	<h3 class="page-title">Detalhes $messages.get('report.login.title.page')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/report/loginReport.htm">$messages.get('report.login.title.page')</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Detalhes $messages.get('report.login.title.page')</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-users"></i> Detalhes $messages.get('report.login.title.page')</span>
					</div>
				</div>
				<div class="portlet-body">
					${form.startTag()}
						<div class="clearfix">
							<div class="quebraLinhaForm">
								<div class="text-center col-md-12 p-x-0">
									<label class="labelCampo">Agrupar por Usuario</label>
									<div class="campoPost" align="center">
										<div class="marginTop">
										$form.fields.agrupar
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix botoesSalvar quebraLinhaForm">
							$form.fields.filtrar
							#if($exportar_csv_on && $exportar_csv_on == "1")
								#if($!EXPORTACOES)
									$form.fields.exportar
								#end
							#end
						</div>
					${form.endTag()}
					<hr />
					<div class="rTable">
						<div class='rTableRow header'>
							<div class='rTableHead'>Data</div>
							<div class='rTableHead'>Login</div>
							<div class='rTableHead'>Plataforma</div>
							<div class='rTableHead showexpandido'>Quantidade</div>
						</div>
					</div>
					<div class="paginaAtual" data-page="-1"></div>
				</div>
			</div>
		</div>		
	</div>
</div>
<script type="text/javascript">
var linha = 0;
$(document).ready(function(){
	
	var filtro = getFiltro();
	filtro.page = 0;
	$(".paginaAtual").show();
	detalhes(filtro);
	
	$("#form_filtrar").on("click",function(e){
		e.stopPropagation();
		e.preventDefault();
		var filtro = getFiltro();
		filtro.page = 0;
		$(".rTable").find(".rTableRow:not(.header)").remove();
		$(".rTable").hide();
		$(".paginaAtual").show();
		filtro.agrupar = $("#form_agrupar").is(':checked');
		detalhes(filtro);
	});
	
});//fim doc

function getFiltro(linha, page) {
	var filtro;
	#if($filtroJson && $filtroJson != "")
		var filtro = $filtroJson;
		filtro.usuario = filtro.usuarioId;
	#end
    return filtro;
}

function detalhes(filtro) {
    jsHttp.get("$context/rest/v1/report/logins/detalhes", {
	    scroll: true,
	    data: filtro,
	    beforeSend: function (data){
	    	$(".rTableRow.error").remove();
        },
        success: function(data) {
        	var conteudo = "";
				if(filtro.agrupar == true){
					$(".showexpandido").css("display","table-cell");
				}else{
					$(".showexpandido").hide();
				}
	 	   	$(".paginaAtual").hide();
	 		if(jsUtils.isNotEmpty(data)) {
	 			for(var i in data) {
	 				var d = data[i];
	 				linha++;
	 				var impar = linha % 2 == 0 ? "odd" : ""; 
	 				conteudo += '<div class="rTableRow results '+impar+'">';
	 					conteudo +='<div class="rTableCell" data-th="Data">'+data[i].data+'</div>';
	 					conteudo +='<div class="rTableCell" data-th="Login"><a class="font-blue" href="$context/usuario.htm?id=' + data[i].id + '" >' + data[i].login + '</a></div>';
		 					if (data[i].plataforma == 'WEB'){
		 						conteudo +='<div class="rTableCell" data-th="Plataforma"><i class="icones web tooltip-livecom" title="Web"></i></div>';	
		 					}else if(data[i].plataforma == 'ANDROID'){
		 						conteudo +='<div class="rTableCell" data-th="Plataforma"><i class="icones android tooltip-livecom" title="Android"></i></div>';
		 					}else if(data[i].plataforma == 'IOS'){
		 						conteudo +='<div class="rTableCell" data-th="Plataforma"><i class="icones ios tooltip-livecom" title="iOS"></i></div>';
		 					}
	 					if (filtro.agrupar == true){
	 						conteudo += '<div class="rTableCell" data-th="Quantidade">'+data[i].count+'</div>';
	 					}
	 				conteudo +='</div>';
	 		    }
	 		}else if(jsUtils.isEmpty(data) && $(".rTableRow.results").length <= 0){
	 			if(!$(".rTableRow.error").length > 0){
		 			conteudo = "<div class='rTableRow error'></div>";	
	 			}
	 		}
	 		if(jsUtils.isNotEmpty(conteudo)){
	 			$(".rTable").append(conteudo);
 				$(".rTable").show();
	 		}
		}
	});
}
</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>