<div class="page-content">
	<h3 class="page-title">Detalhes Relatório Notificação</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/report/notificationsReport.htm">Relatório de Notificações</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Detalhes Relatório de Notificação</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; Dados da Notificação</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-up tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body postInfo">
					<div class="clearfix">
						<div class="col-md-12">
							<div class="campoPost postInfo">
								<label class="labelCampo">Notificação:</label>
								<span class="sbold font-blue-link">$!notification.titulo</span>
							</div>
							<div class="campoPost postInfo">
								<label class="labelCampo">Postado por:</label>
								<a class="sbold" href="$context/usuario.htm?id=$!notification.from.id">$!notification.usuario.nome</a>
							</div>
							<div class="campoPost postInfo">
								<label class="labelCampo">Horário:</label>
								<span class="tooltip-livecom" title="$!notification.dataPublicacao">$format.date($!notification.data, "dd/MM/yyyy, HH:m:s")</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-calendar-check-o"></i> Relatório de Notificações filhas</span>
					</div>
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Ações <i class="fa fa-angle-down"></i></button>
							 <ul class="dropdown-menu pull-right">
							 	#if($exportar_csv_on && $exportar_csv_on == "1")
							 		#if($!EXPORTACOES)
										<li class="bleed-divider">
											<a href="javascript:;"><i class="fa fa-file-excel-o"></i> Exportar CSV </a>
										</li>
									#end
								#end
								<li>
									<a class="mark-all-as-sent"><i class="fa fa-check"></i> Marcar todas como enviada </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body clearfix table-responsive">
		      	<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
		         	<thead class="header">
							<tr>
								<th>ID</th>
								<th>Tipo</th>
								<th>Usuario</th>
								<th>Titulo</th>
								<th>Texto</th>
								<th>Data Push</th>
								<th>Enviar Push</th>
								<th>Lida</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var dTable = null;
var id = "$id";

getNotification();

function getNotification(){
	jsHttp.get("$context/rest/v1/notification/detalhesNotification", {
		data : {
			id : id
		},
		beforeSend: function(){
			$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
		},
		success : function(data) {
			var conteudo = "";
			if(data.notifications) {
				for ( var i in data.notifications) {
					var campo = data.notifications[i];
					conteudo += createTable(data, campo);
				}
		
				if (dTable != null) {
					$(".table > tbody").empty();
					dTable.clear();
					dTable.destroy();
				}
				dTable = loadTable(conteudo);
				dTable.data(conteudo).page.len(50).draw();
				$('.portlet-body.clearfix').find('.dataTables_processing').remove();
			}
		}
	});
}

function createTable(data, campo) {
	var rTable = "";
	rTable += '<tr data-id="'+data.id+'">';
	rTable += "<td>" + data.id + "</td>";
	rTable += "<td>"+data.tipo+"</td>";
	rTable += "<td><a class='blue' href='$context/usuario.htm?id=" + campo.idUsuario + "' >" + campo.loginUsuario + "</a></td>";
	rTable += "<td><a class='blue' href='$context/pages/post.htm?id=" + data.postId + "' >" + data.titulo + "</a></td>";
	rTable += "<td><a class='blue' href='$context/pages/post.htm?id=" + data.postId + "' >" + data.texto + "</a></td>";
	if(data.dataPush) {
		rTable += "<td>"+data.dataPush+"</td>";
	} else {
		rTable += "<td>-</td>";
	}
	if(data.sendPush) {
		rTable += "<td align='center'><i class='fa fa-check font-green-sharp'></i></td>";
	} else {
		rTable += "<td align='center'></td>";
	}
	if(campo.lida) {
		rTable += "<td align='center'><i class='fa fa-check font-green-sharp'></i></td>";
	} else {
		rTable += "<td align='center'></td>";
	}
	rTable += "<td align='center'><a class='mark-as-sent btn btn-outline green-sharp uppercase tooltip-livecom' data-id='"+campo.id+"' title='Marcar como enviada'><i class='fa fa-paper-plane'></i></a></td>";
	rTable += "</tr>";
	return rTable;
}

$("body").on("click", ".mark-as-sent", function(){
	var idNot = $(this).attr('data-id');
	var params = {
		id: idNot,
		isRefreshTR: true,
		isRefreshTable: false
	};
	
	jConfirm("Deseja realmente marcar a notificação como enviada?", "Atenção", null, function(e) {
		if(e) {
			markAsSentNotification(params);
		} else {
			return false;
		}
	});
});

$(".mark-all-as-sent").click(function(){
	var params = {
		id: "$!id",
		isRefreshTR: false,
		isRefreshTable: true
	};
	
	jConfirm("Deseja realmente marcar todas as notificações como enviadas?", "Atenção", null, function(e) {
		if(e) {
			markAllAsSentNotification(params);
		} else {
			return false;
		}
	});
});

function markAllAsSentNotification(obj){
	jsHttp.post("$context/rest/v1/notification/markAll/sent/" + obj.id, {
		success: function(data) {
			if(obj.isRefreshTR || obj.isRefreshTable){
				getNotification();
			}
			
			if(data.status == "OK"){
				toastr.success(data.message);
			}else{
				toastr.error(data.message);	
			}
		},
		error: function(data){
			toastr.error(data.message);
		}
	});
}


function markAsSentNotification(obj){
	jsHttp.post("$context/rest/v1/notification/mark/sent/" + obj.id, {
		success: function(data) {
			if(obj.isRefreshTR || obj.isRefreshTable){
				getNotification();
			}
			
			if(data.status == "OK"){
				toastr.success(data.message);
			}else{
				toastr.error(data.message);	
			}
		},
		error: function(data){
			toastr.error(data.message);
		}
	});
}
</script>
#parse("/msg.htm")