<div class="page-content">
	<h3 class="page-title">Detalhes Relatório Auditoria Post</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/report/envioPostsReport.htm">Relatório de Envio de Posts</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Detalhes Relatório Auditoria Post</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-flag"></i> Detalhes da Auditoria</span>
					</div>
					<div class="actions">
						<a class="info-diff-text btn btn-secondary bs-tooltip" title="Diff Text:<br />Selecione 2 linhas para comparar<br>os textos da coluna Json"><i class="fa fa-info-circle"></i></a>
						<a class="diff-text btn btn-outline green-sharp disabled" title="Diff Text"><i class="fa fa-random"></i></a>
						
						#if($exportar_csv_on && $exportar_csv_on == "1")
							#if($!EXPORTACOES)						
								<div class="btn-group">
									<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i>
									</button>
									 <ul class="dropdown-menu pull-right">
										<li>
											<div class="hidden">
												<form method="post" name="form" id="form" action="/livecom/report/detalhesAuditoriaPostReport.htm?id=$id">
													<input type="hidden" name="form_name" id="form_form_name" value="form">
													<input type="submit" name="exportar" id="form_exportar" value="Exportar" class="btn btn-outline blue min-width">
												</form>
											</div>
											<a class="export-auditoria"><i class="fa fa-file-excel-o"></i> Exportar</a>
										</li>
									</ul>
								</div>
							#end
						#end
					</div>
				</div>
				<div class="portlet-body clearfix table-responsive">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer no-margin dtr-inline collapsed">
						<thead>
							<tr>
								<th>Data</th>
								<th>Entidade</th>
								<th>Ação</th>
								<th>Usuário</th>
								<th>Mensagem</th>
								<th>Titulo</th>
								<th>Conteudo</th>
								<th>Grupos</th>
								<th>Categorias</th>
								<th>Json</th>
							</tr>
						</thead>
						<tbody>
							#foreach($a in $auditorias)
							<tr>
								<td>$!a.data</td>
								<td>$!a.entidade</td>
								<td>$!a.acao</td>
								<td>$!a.usuario</td>
								<td>$!a.mensagem</td>
								<td>$!a.value2</td>
								<td class="bbcode-parse" data-auditoria="$!a.id"></td>
								<td>$!a.value6</td>
								<td>$!a.value7</td>
								<td>$!a.value1</td>
							</tr>
							#end
						</tbody>
					</table>
		#if($auditoria.exception)
					<hr />
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer no-margin dtr-inline collapsed">
						<thead>
							<tr>
								<th colspan='2' class='text-center'>Exception</th>
							</tr>
						</thead>
						<tbody>
							#foreach($a in $auditorias)
							<tr>
								<td colspan='2' class='text-center'>$!a.exception</td>
							</tr>
							#end
						</tbody>
					</table>
		#end
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-diff-text" role="dialog" tabindex="-1">
   <div class="modal-dialog modal-lg">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign bs-tooltip"
          title="O texto em vermelho (exclusão) indica o que está na linha superior selecionada e não está na linha inferior.<br>
          		  O texto em verde (inclusão) indica o que não está na linha superior, mas está linha inferior.<br>
          		  No restante não houve alteração">
         	</span> Diferenca entre os campos JSON das linhas selecionadas</h4>
       </div>
       <div class="modal-body clearfix row">
<!--        	<div class="col-md-6"> -->
<!--      			<pre id="old-text"></pre> -->
<!--     		</div> -->
       	<div class="col-md-12">
     			<pre id="diff-text"></pre>
    		</div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
       </div>
     </div>
     </div>
   </div>
   
   
#foreach($a in $auditorias)
<script>
var bbcode = '$!a.value3', auditoriaId = '$!a.id';
$('.bbcode-parse[data-auditoria="'+auditoriaId+'"]').append(_bbcodeParser.bbcodeToHtml(bbcode));
</script>
#end
<script>
var dTable = null;
$(document).ready(function() {
	
	$('.export-auditoria').click(function(event){
		event.preventDefault();
		event.stopPropagation();
		$('#form_exportar').click();
	})
	
	dTable = loadTable();
	 var select = 0;
    $('.table tbody').on( 'click', 'tr', function () {
        if(($('.table tbody tr.selected').length < 2) || ($(this).hasClass('selected'))){
            $(this).toggleClass('selected');
            if($('.table tbody tr.selected').length == 2){
        			$('.diff-text').removeClass('disabled');
            }else{
    				$('.diff-text').addClass('disabled');
            }
        }
    } );
 
	$('body').on('click','.diff-text',function() {
		var t1 = dTable.rows('.selected').data()[0][9];
		var t2 = dTable.rows('.selected').data()[1][9];
		var aux = diffText(t1, t2);
		if(aux.slice(6, -7) == t1){
			toastr.warning("Não há diferença entre os JSONs selecionados.");
		}else{
			//$('#old-text').empty().append(t1);
			$('#diff-text').empty().append(aux);
			$("#modal-diff-text").modal('show');
		}
    } );
} );
</script>
#parse("/msg.htm")