<div class="page-content">
	<h3 class="page-title">Detalhes Relatório Likes</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/report/likesReport.htm">Relatório de Likes</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Detalhes Relatório de Likes</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; Dados do Comunicado</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-up tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body postInfo">
					<div class="clearfix">
						<div class="col-md-6 bordered">
							<div class="campoPost postInfo">
								<label class="labelCampo control-label">Post:</label>
								<a class="sbold" href="$context/pages/post.htm?id=$!id">$!post.titulo</a>
							</div>
							<div class="campoPost postInfo">
								<label class="labelCampo control-label">Postado por:</label>
								<a class="sbold" href="$context/usuario.htm?id=$!post.usuario.id">$!post.usuario.nome</a>
							</div>
							<div class="campoPost postInfo">
								<label class="labelCampo control-label">Horário:</label>
								<span class="tooltip-livecom" title="$!post.dataPublicacao">$format.date($!post.dataPublicacao, "dd/MM/yyyy, HH:m:s")</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="campoPost postInfo">
								<i class="icoCateg tooltip-livecom" title="Categorias"></i>
								<a class="sbold" href="$context/pages/mural.htm?categoria=$!post.categoria.id">$!post.categoria.nome</a>
							</div>
							<div class="campoPost postInfo clearfix">
								<i class="icoGroup tooltip-livecom" title="Grupos"></i>
								<ul class="token-input-list noBg">
									#foreach($g in $post.grupos)
										<li class="token-input-token"><a href="$context/pages/mural.htm?grupo=$g.id">$g.nome</a></li>
									#end
								</ul>
							</div>
							#if($post.tagsList.size() > 0)
							<div class="campoPost postInfo clearfix">
								<i class="icoTag tooltip-livecom" title="Tags"></i>
								<ul class="token-input-list noBg">
									#foreach($t in $post.tagsList)
										<li class="token-input-token"><a href="$context/pages/mural.htm?tag=$t.id">$t.nome</a></li>
									#end
								</ul>
							</div>
							#end
						</div>
					</div>
				</div>
			</div>

			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-thumbs-o-up"></i> Detalhes Relatório de Likes</span>
					</div>
					#if($exportar_csv_on && $exportar_csv_on == "1")
						#if($!EXPORTACOES)
							<div class="actions">
								<div class="btn-group">
									<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i>
									</button>
									 <ul class="dropdown-menu pull-right">
										<!-- <li>
											<a href="javascript:;">
												<i class="fa fa-file-pdf-o"></i> Exportar PDF </a>
										</li> -->
										<li>
											<a href="javascript:;">
												<i class="fa fa-file-excel-o"></i> Exportar CSV </a>
										</li>
									</ul>
								</div>
							</div>
						#end
					#end
				</div>
				<div class="portlet-body clearfix table-responsive">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead>
							<tr>
								<th>Data</th>
								<th>Usuario</th>
								<th>Comunicado</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var dTable = null;
var id = "$id";

jsHttp.get("$context/rest/v1/report/likes/detalhes", {
	data : {
		id : id
	},
	beforeSend: function(){
		$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
	},
	success : function(data) {
		var conteudo = "";
		for ( var i in data) {
			var campo = data[i];
			conteudo += createTable(campo);
		}

		if (dTable != null) {
			$(".table > tbody").empty();
			dTable.clear();
			dTable.destroy();
		}
		dTable = loadTable(conteudo);
		dTable.data(conteudo).draw();
		$('.portlet-body.clearfix').find('.dataTables_processing').remove();
	}
});

$('.table').on('page.dt', function() {
	setTimeout(function() {
		confirmationConfig();
	}, 500);
});

function createTable(campo) {
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'">';
	rTable += "<td>" + campo.data + "</td>";
	rTable += "<td align='center'><a class='blue' href='$context/usuario.htm?id="
			+ campo.idAutor + "' >" + campo.loginAutor + "</a></td>";
	rTable += "<td align='center'><a class='blue' href='$context/pages/post.htm?id="
			+ campo.id + "' >" + campo.titulo + "</a></td>";
	rTable += "</tr>";
	return rTable;
}

$("#baixar").click(function() {
	this.form.action = "$context/admin/detalhesRelatorioVisualizacao.htm?action=1&id=" + $id;
});
</script>
#parse("/msg.htm")