<div class="page-content">
	<h3 class="page-title">Relatório de Envio de Posts</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Relatório de Envio de Posts</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Filtro</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-down tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body toggled">
					<form name="form_relatorio" id="relFavorito" method="post">
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-5 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;Data Inicial</label>
								<div class="campoPost">
									<input type="text" id="dataIni" value="$!filtro.dataIni" name="filtro.dataIni" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-5 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;Data Final</label>
								<div class="campoPost">
									<input type="text" id="dataFim" value="$!filtro.dataFim" name="filtro.dataFim" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-exclamation-triangle"></i>&nbsp;Prioritário</label>
								<div class="checkboxPrioridade">
								  <label><input type="checkbox" value="" id="checkboxPrioridade"></label>
								</div>
							</div>
						</div>
						<div class="clearfix text-right">
							<input type="button" class="btn btn-primary min-width" id="filtrarRel" value="Filtrar" />
						</div>
					</form>
				</div>
			</div>
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-inbox" aria-hidden="true"></i> Relatório de Envio de Posts</span>
					</div>
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações
		               	<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right">
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										<!-- <li><a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a href="$context/report/envioPostsReport.htm?actionLink=exportar"><i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
							</ul>
						</div>
					</div>
				</div>
		      <div class="portlet-body clearfix table-responsive">
		      	<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
		         	<thead>
							<tr>
								<th>Data</th>
								<th>Data cadastro</th>
								<th>Autor</th>
								<th>Titulo</th>
								<th>Conteúdo</th>
								<th>Categorias</th>
								<th>Grupos</th>
								<th>Data Atualização</th>
								<th>Autor Atualizado</th>
								<th>Titulo Atualizado</th>
								<th>Conteúdo Atualizado</th>
								<th>Categorias Atualizadas</th>
								<th>Grupos Atualizados</th>
								<th>Detalhes</th>
								<th>Diferenciar</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-diff-text" role="dialog" tabindex="-1">
   <div class="modal-dialog modal-lg">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title"><span class="fa fa-info-circle bs-tooltip"
          title="O texto em vermelho (exclusão) indica o que está na coluna 'Conteúdo' da linha selecionada e não está na coluna 'Conteúdo Atualizado'.<br>
          		  O texto em verde (inclusão) indica o que não está na coluna 'Conteúdo', mas está na coluna 'Conteúdo Atualizado'.<br>
          		  No restante não houve alteração"></span> Diferenca entre Conteúdo e Conteúdo Atualizado</h4>
       </div>
        <div class="modal-body clearfix row">
<!--        	<div class="col-md-6"> -->
<!--      			<pre id="old-text"></pre> -->
<!--     		</div> -->
       	<div class="col-md-12">
     			<pre id="diff-text"></pre>
    		</div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
       </div>
     </div>
     </div>
   </div>
#parse("/msg.htm")
<script>
var linha = 0;
$(document).ready(function(){
	
// 	var page = $(".paginaAtual").attr("data-page");
	var filtro = getFiltro();
	var user = $("#usuario").val();
	filtro.page = 0;
	
	auditoriaReport(filtro);
// 	loadTableUsers(filtro);

	var usuario = [];
	
	#if($filtro.usuarioId)
		usuario.push({
			id: '$filtro.usuarioId',
			login: '$filtro.usuarioLogin'
		});
	#end
	
	if($("#filtrarUsuario").length > 0){
		jsHttp.filtroTokenInput("#filtrarUsuario", urlContext+"/rest/usuario?max=15", {
			queryParam: "login",
			propertyToSearch: "login",
			tokenLimit: 1,
			prePopulate: usuario
		});
	}

	// clica para filtrar o usuário
	$("#filtrarRel").on("click",function(e){
		e.stopPropagation();
		e.preventDefault();
		var filtro = getFiltro();
		auditoriaReport(filtro);
	});
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		filtro = getFiltro();
		auditoriaReport(filtro);
	});
	$('body').on('click','.diff-text',function() {
		var dataId = $(this).attr('data-id');
		var t1 = $('.table tbody tr[data-id="'+dataId+'"] td:nth-child(5)').text();
		var t2 = $('.table tbody tr[data-id="'+dataId+'"] td:nth-child(11)').text();
		var aux = diffText(t1, t2);
		if(aux.slice(6, -7) == t1){
			toastr.warning("Não há diferença entre os conteúdos selecionados.");
		}else{
			//$('#old-text').empty().append(t1);
		 	$('#diff-text').empty().append(aux);
			$("#modal-diff-text").modal('show');
		}
	});
});
function getFiltro() {
    var filtro = {
  		dataIni: $("#dataIni").val(),
		dataFim: $("#dataFim").val(),
		prioritario: $('#checkboxPrioridade').is(':checked'),
	};
    return filtro;
}

function auditoriaReport(filtro){
	var params = [];
	params.push({
		name : 'dataIni',
		value : filtro.dataIni
	});
	params.push({
		name : 'dataFim',
		value : filtro.dataFim
	});
	params.push({
		name : 'tipoEntidade',
		value : "Post"
	});
	params.push({
		name : 'prioritario',
		value : filtro.prioritario
	});
	var jsonDatatable = {
		columns: ['data', 'dataPublicacao', 'user', 'tituloOriginal', 'conteudoOriginal', 'categorias', 'grupos', 'dataUpdate', 'userUpdate', 'titulo', 'mensagem', 'categoriasUpdate', 'gruposUpdate', 'detalhes', 'diff'],
		ajax : {
			type : 'GET',
			url : "$context/rest/v1/report/auditorias/post"
		},
		filter: params,
		element : ".table",
		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			$(nRow).attr('data-id', aData.id);
		},
		filterResponse : function(res) {
			var conteudo = "";
			var json = {};
			if (res && res.relatorioPosts) {
				var list = res.relatorioPosts;
				var data = [];
				for ( var i in list) {
					var u = list[i];

					var detalhes = "<td><a class='blue' href='$context/report/detalhesAuditoriaPostReport.htm?id="+u.idEntity+"'>Detalhes</a></td>";
					var diff = "<td><a data-id="+u.id+" class='diff-text btn btn-outline green-sharp' title='Diff Text'><i class='fa fa-random'></i></a></td>";

					var js = {
						id: u.id ? u.id : '--',
						data: u.data ? u.data : '--',
						dataPublicacao: u.dataPublicacao ? u.dataPublicacao : '--',
						user: u.user ? u.user : '--',
						tituloOriginal: u.tituloOriginal ? u.tituloOriginal : '--',
						conteudoOriginal: u.conteudoOriginal ? "<div class='trunca lg'>" + _bbcodeParser.bbcodeToHtml(u.conteudoOriginal) + "</div>" : '--',
						categorias: u.categorias ? u.categorias : '--',
						grupos: u.grupos ? u.grupos : '--',
						dataUpdate: u.dataUpdate ? u.dataUpdate : '--',
						userUpdate: u.userUpdate ? u.userUpdate : '--',
						titulo: u.titulo ? u.titulo : '--',
						mensagem: u.mensagem ? "<div class='trunca lg'>" + _bbcodeParser.bbcodeToHtml(u.mensagem) + "</div>" : '--',
						categoriasUpdate: u.categoriasUpdate ? u.categoriasUpdate : '--',
						gruposUpdate: u.gruposUpdate ? u.gruposUpdate : '--',
						detalhes: detalhes,
						diff: diff
					};
					data.push(js);
				}
				json.data = data;
				json.recordsTotal = res.count;
				json.recordsFiltered = res.count;
				return json;
			}else{
				$('.table > tbody').append('<tr><td colspan="15" align="center">Nenhum resultado encontrado.</td></tr>');
				$('.dataTables_processing').remove();
			}
			return null;
		}
	}
	if(dTable != null) {
		$(".table > tbody").empty();
		dTable.clear();
		dTable.destroy();
	}
	dTable = dtTableUtils(jsonDatatable);
}

var dTable = null;

</script>