<div class="page-content">
	<h3 class="page-title">Relatório de mensagens do chat</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="$context/pages/mural.htm">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="$context/admin/sistema.htm">Sistema</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="$context/admin/relatorios.htm">Relatórios</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li><span>Relatório de mensagens do chat</span></li>
		</ul>
	</div>
	<div class="row content">
		<div class="col-md-12">
			<div class="clearfix">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a href="#" class="clearfix statusClick" data-status="todos">
							<span class="clearfix dashboard-stat2"> 
								<span class="clearfix display"> 
									<span class="number"> 
										<span class="clearfix font-blue-steel d-counter total-count" data-count="0">0</span> 
										<small>Total</small>
									</span> 
									<span class="icon"> 
										<i class="fa fa-comments-o"></i>
									</span>
								</span> 
								<span class="clearfix progress-info"> 
									<span class="progress"> 
										<span class="progress-bar progress-bar-success progress-bar-total blue-steel"> 
											<span class="sr-only"></span>
										</span>
									</span> 
									<span class="status status-total"> </span>
								</span>
							</span>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a href="#" class="clearfix statusClick" data-status="enviada"> 
							<span class="clearfix dashboard-stat2"> 
								<span class="clearfix display"> 
									<span class="number">
										<span class="clearfix font-red-thunderbird d-counter enviada-count" data-count="0">0</span> 
										<small>Enviadas</small>
									</span> 
									<span class="icon">
										<i class="fa fa-clock-o" aria-hidden="true"></i>
									</span>
								</span> 
								<span class="clearfix progress-info"> 
									<span class="progress"> 
										<span class="progress-bar progress-bar-success progress-bar-enviada red-thunderbird"> 
											<span class="sr-only"></span>
										</span>
									</span> 
									<span class="status status-enviada"> </span>
								</span>
							</span>
						</a>
					</div>
					<!-- /agendados -->
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a href="#" class="clearfix statusClick" data-status="entregue"> 
							<span class="clearfix dashboard-stat2"> 
								<span class="clearfix display"> 
									<span class="number">
										<span class="clearfix font-yellow-lemon d-counter entregue-count" data-count="0">0</span> 
										<small>Entregues</small>
									</span> 
									<span class="icon"> 
										<i class="fa fa-check"></i>
									</span>
								</span> 
								<span class="clearfix progress-info"> 
									<span class="progress"> 
										<span class="progress-bar progress-bar-success progress-bar-entregue yellow-lemon"> 
											<span class="sr-only"></span>
										</span>
									</span> 
									<span class="status status-entregue"> </span>
								</span>
							</span>
						</a>
					</div>
					<!-- /enviados -->
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a href="#" class="clearfix statusClick" data-status="lida">
							<span class="clearfix dashboard-stat2"> 
								<span class="clearfix display"> 
									<span class="number">
										<span class="clearfix font-green-jungle d-counter lida-count" data-count="0">0</span> 
										<small>Lidas</small>
									</span> 
									<span class="icon fa-stack fa-lg font-grey-salt">
										<i class="fa fa-check fa-stack-1x" style="margin-left: 10px;"></i>
										<i class="fa fa-check fa-stack-1x" style="text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.3);"></i>
									</span>
								</span> 
								<span class="clearfix progress-info"> 
									<span class="progress"> 
										<span class="progress-bar progress-bar-success progress-bar-lida green-jungle"> 
											<span class="sr-only"></span>
										</span>
									</span> 
									<span class="status status-lida"> </span>
								</span>
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="portlet light" style="min-height: 500px;">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-flag-o">
						</i> Relatório de mensagens</span>
					</div>
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								Ações 
								<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right">
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										<!-- <li> <a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a><i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li class="bleed-divider"><a class="refresh-grafico"><i class="fa fa-refresh"></i> Atualizar</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Gráfico -->
				<div class="portlet-body">
					<div class="spinner">
  						<div class="rect1"></div>
  						<div class="rect2"></div>
  						<div class="rect3"></div>
  						<div class="rect4"></div>
  						<div class="rect5"></div>
					</div>
					<div id="graficoDeMensagens" class="graficos center form-group"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('document').ready(function() {
		
		$(".statusClick").click(function(e) {
			e.preventDefault();
			$(".statusClick").removeClass("active");
			$(this).addClass("active");
			var status = $(this).attr("data-status");
		});
		
		jsHttp.get("$context/rest/usuario/countStatus", {
			success : function(data) {
				if (data.status == "OK") {
					var json = data.entity;
					var lida = json.ativo;
					var entregue = json.inativo;
					var enviada = json.novo;
					var total = json.total;
										
					$(".progress-bar-total").width("100%");
					$(".progress-bar-enviada").width(enviada / total * 100+"%");
					$(".progress-bar-entregue").width(entregue / total * 100+"%");
					$(".progress-bar-lida").width(lida / total * 100+"%");
					
					$(".total-count").attr("data-count", total);
					$(".enviada-count").attr("data-count", enviada);
					$(".entregue-count").attr("data-count", entregue);
					$(".lida-count").attr("data-count", lida);
				}

				$(".d-counter").each(function() {
					animateCounter($(this));
				});
			}
		});
		$(".refresh-grafico").click(function(e) {
			e.preventDefault();
			var status = $(".statusClick.active").attr("data-status");
			if(!status) {
				status = "todos";
			}
		});

		function animateCounter(obj) {
			countTo = obj.attr('data-count');
			$({
				countNum : obj.text()
			}).animate({
				countNum : countTo
			}, {
				duration : 1000,
				easing : 'linear',
				step : function() {
					obj.text(Math.floor(this.countNum));
				},

				complete : function() {
					obj.text(this.countNum);
				}
			});
		}
	});
	// GRÁFICO - QUANDO FINALIZADO, REMOVER O CÓDIGO DAQUI E COLOCAR EM UM ARQUIVO JS
	var chart = null;
	function plotarGrafico(grafico, obj) {
	    $(window).resize(function () {
			if (chart) {
				chart.redraw();
				chart.reflow();
			}
		});
		if (typeof obj !== "object") {
			obj = {};
		}
		if (!Array.isArray(obj.series)) {
			obj.series = [];
		}
		if (typeof obj.tipoDeGrafico !== "string") {
			obj.tipoDeGrafico = "line";
		}
		if (typeof obj.titulo !== "string") {
			obj.titulo = "";
		}
		if (!Array.isArray(obj.categorias)) {
			obj.categorias = [];
		}
	   var options = {
	        chart : {
	            pinchType : '',
	            style: {
	                fontSize : '16px',
	                fontFamily : '"Open Sans", sans-serif'
	            },
	            type : obj.tipoDeGrafico,
	            zoomType : ''
	        },
	        credits : {
	            enabled : false
	        },
	        colors : [
	        		"#4B77BE", "#D91E18", "#E87E04", "#26C281"
	        	],
	        exporting : {
	            enabled: false
	        },
	        navigator : {
	            enabled : false
	        },
	        rangeSelector : {
	            enabled : false
	        },
	        scrollbar : {
	            enabled : false
	        },
	        series : obj.series,
	        title: {
	            text : obj.titulo
	        },
	        tooltip : {
	        		backgroundColor : "rgba(255,255,255,.85)",
					useHTML : true,
					shared : true
	        },
	        xAxis: {
	            labels : {
	                formatter : function () {
	                    return obj.categorias[this.value];
	                }
	            }
	        },
	        yAxis : {
	            title : {
	                text : null
	            },
					opposite : false
	        }
	    };
	    

		options.tooltip.formatter = function() {
			var conteudoHtml = "<div class='clearfix'>";
					conteudoHtml += "<div class='clearfix'>"; // Valores antigos
						conteudoHtml += "<span style='background-color:" + this.points[1].color + ";display:inline-block;width: 6px; height: 6px;border-radius:100%;'></span>"
						conteudoHtml += "&nbsp;<label>" + this.y.toString() + " - </label>";
					conteudoHtml += "</div>";
				conteudoHtml += "</div>";
			return conteudoHtml;
		};

		$("#" + grafico).highcharts("StockChart", options);
	}

	function solicitarDados(idGrafico, tipoDeGrafico, titulo) {
		var errorText = $("<label/>", {
			"class" 	: "empty clearfix text-center",
			"text"	: "Nenhum dado encontrado"
		});
		
		jQuery.ajax({
			type : "GET",
			url : urlContext + "/rest/usuario/status?status=todos",
			dataType : "json",
			beforeSend : function() {
				$(".spinner").addClass("show");
			},
			success : function(data) {
				$(".spinner").removeClass("show");
				if (data.status != "ERROR") {
					plotarGrafico(idGrafico);
				} else {
					$("#" + idGrafico).html( errorText );
					console.error("WebService log: " + data.message);
				}
			},
			error : function() {
				$(".spinner").removeClass("show");
				$("#" + idGrafico).html( errorText );
				console.error("WebService não encontrado");
			}
		});
	}
	solicitarDados("graficoDeMensagens");
</script>
