<div class="page-content">
	<h3 class="page-title">Relatório de Likes </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Relatório de Likes</span>
			</li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Filtro</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-down tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body toggled">
					<form name="form_relatorio" id="relFavorito" method="post">
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;Data Inicial</label>
								<div class="campoPost">
									<input type="text" id="dataIni" value="$!filtro.dataIni" name="filtro.dataIni" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;Data Final</label>
								<div class="campoPost">
									<input type="text" id="dataFim" value="$!filtro.dataFim" name="filtro.dataFim" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-4 form-group">
								<label class="labelCampo control-label"><i class="fa fa-inbox"></i>&nbsp;Comunicado</label>
								<div class="campoPost">
									<input type="text" class="input" value="$!filtro.post.id" id="filtrarPost" name="filtro.post">
								</div>
							</div>
							<div class="col-md-4 form-group">
								<label class="labelCampo control-label"><i class="fa fa-user"></i>&nbsp;Autor</label>
								<div class="campoPost">
									<input type="text" class="input margin" value="$!filtro.usuario.id" id="filtrarUsuario" name="filtro.usuario">
								</div>
							</div>
						</div>
						<div class="clearfix text-right">
							<input type="button" class="btn btn-primary min-width" id="filtrarRel" value="Filtrar" />
						</div>
					</form>
				</div>
			</div>
			
		   <div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-thumbs-o-up"></i> Relatório de Likes</span>
					</div>
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu pull-right">
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										<!-- <li><a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a><i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
							</ul>
						</div>
					</div>
				</div>
		      <div class="portlet-body clearfix table-responsive">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead class="header">
							<tr>
								<th>Data Publicação</th>
								<th>Quem Postou</th>
								<th>Comunicado</th>
								<th>Qtde Likes</th>
								<th>Detalhes</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var linha = 0;
$(document).ready(function(){
	
	var filtro = getFiltro();
	var user = $("#usuario").val();
	filtro.page = 0;
	
	likesReport(filtro);
	
	var usuario = [];
	var post = [];
	var categoria = [];
	
	#if($filtro.usuarioId)
		usuario.push({
			id: '$filtro.usuarioId',
			login: '$filtro.usuarioLogin'
		});
	#end
	
	#if($filtro.postId)
		post.push({
			id: '$filtro.postId',
			titulo: '$filtro.postTitulo'
		});
	#end
	
	#if($filtro.categoriaId)
		categoria.push({
			id: '$filtro.categoriaId',
			nome: '$filtro.categoriaNome'
		});
	#end
	
	if($("#filtrarCategoria").length > 0){
		jsHttp.filtroTokenInput("#filtrarCategoria", urlContext+"/rest/v1/categoria/autoComplete?max=5", {
			queryParam: "nome",
			propertyToSearch: "nome",
			tokenLimit: 1,
			prePopulate: categoria
		});
	}
	
	if($("#filtrarUsuario").length > 0){
		jsHttp.filtroTokenInput("#filtrarUsuario", urlContext+"/rest/usuario?max=15", {
			queryParam: "login",
			propertyToSearch: "login",
			placeholder: 'Digite o autor do post...',
			tokenLimit: 1,
			prePopulate: usuario
		});
	}

	if($("#filtrarPost").length > 0){
		postsRestTokenInput({
			element: "#filtrarPost",
			queryParam: "titulo",
			jsonContainer : null,
			tokenLimit: 1,
			hintText: "Comece a digitar para buscar.",
	      noResultsText: "Nenhum item encontrado",
	      searchingText: "Carregando...",
	      preventDuplicates: true,
	      propertyToSearch: "titulo",
	      prePopulate: post,
		  	onAdd: function (item) {
				$(this).val(item.id);
			},
			onDelete: function (item) {
	   		$("#filtrarPost").val("");
	   	},
		});
	}
	
	$("#filtrarRel").on("click",function(e){
		e.stopPropagation();
		e.preventDefault();
		var user = $("#usuario").val();
		filtro.page = 0;
		likesReport(filtro);
	});
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		filtro = getFiltro();
		likesReport(filtro);
	});
	
});
function getFiltro() {
    var filtro = {
  		dataIni: $("#dataIni").val(),
		dataFim: $("#dataFim").val(),
		usuario: $("#filtrarUsuario").val(),
		post: $("#filtrarPost").val(),
		categoria: $("#filtrarCategoria").val(),
	};
    return filtro;
}

var dTable = null;

function likesReport(filtro) {
	var filtro = getFiltro();
	jsHttp.get("$context/rest/v1/report/likes",{
		data: filtro,
		beforeSend: function(){
			$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
		},
		success: function (data) {
			var conteudo = "";
			for(var i in data) {
				var campo = data[i];
				conteudo += createTable(campo);
			}
			if(dTable != null) {
				$(".table > tbody").empty();
				dTable.clear();
				dTable.destroy();
			}
			dTable = loadTable(conteudo);
			dTable.data(conteudo).draw();
			$('.portlet-body.clearfix').find('.dataTables_processing').remove();
		}
	});
}

function createTable(campo){
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'">';
		rTable += "<td>"+campo.data+"</td>";
		rTable += "<td align='center'><a class='blue' href='$context/usuario.htm?id=" + campo.idAutor + "' >" + campo.loginAutor + "</a></td>";
		rTable += "<td align='center'><a class='blue' href='$context/pages/post.htm?id=" + campo.id + "' >" + campo.titulo + "</a></td>";
		rTable += "<td>"+campo.count+"</td>";
		rTable += "<td><a class='blue' href='$context/report/detalhesLikesReport.htm?id="+campo.id+"'>Detalhes</a></td>";
	rTable += "</tr>";
	return rTable;
}
</script>