<div class="page-content">
	<h3 class="page-title">Relatório de Unsubscribe </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/admin/relatorios.htm">Relatórios</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Relatório de Unsubscribe</span>
			</li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Filtro</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-down tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body toggled">
					<form name="form_relatorio" id="relFavorito" method="post">
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;Data Inicial</label>
								<div class="campoPost">
									<input type="text" id="dataIni" value="$!filtro.dataIni" name="filtro.dataIni" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-2 form-group">
								<label class="labelCampo control-label"><i class="fa fa-calendar"></i>&nbsp;Data Final</label>
								<div class="campoPost">
									<input type="text" id="dataFim" value="$!filtro.dataFim" name="filtro.dataFim" class="input data datepicker">
								</div>
							</div>
							<div class="col-md-4 form-group">
								<label class="labelCampo control-label"><i class="fa fa-inbox"></i>&nbsp;Newsletter</label>
								<div class="campoPost">
									<input type="text" class="input"  id="filtrarNewsletter" name="filtro.newsletter">
								</div>
							</div>
							<div class="col-md-4 form-group">
								<label class="labelCampo control-label"><i class="fa fa-user"></i>&nbsp;Usuário</label>
								<div class="campoPost">
									<input type="text" class="input margin" value="$!filtro.usuario.id" id="filtrarUsuario" name="filtro.usuario">
								</div>
							</div>
						</div>
						<div class="clearfix text-right">
							<input type="button" class="btn btn-primary min-width" id="filtrarRel" value="Filtrar" />
						</div>
					</form>
				</div>
			</div>
			
		   <div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-envelope-o"></i> Relatório de Unsubscribe</span>
					</div>
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu pull-right">
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										<!-- <li><a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<!-- <li class="bleed-divider"><a><i class="fa fa-file-excel-o"></i> Exportar CSV </a></li> -->
									#end
								#end
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
							</ul>
						</div>
					</div>
				</div>
		      <div class="portlet-body clearfix table-responsive">
					<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead class="header">
							<tr>
								<th>Cancelado em:</th>
								<th>Usuário</th>
								<th>Newsletter</th>
								<th>Detalhes</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var linha = 0;
$(document).ready(function(){
	
	var filtro = getFiltro();
	filtro.page = 0;
	
	unsubscribeReport(filtro);
	
	var usuario = [];
	var newsletter = [];
	
	#if($filtro.usuarioId)
		usuario.push({
			id: '$filtro.usuarioId',
			login: '$filtro.usuarioLogin'
		});
	#end
	
	if($("#filtrarUsuario").length > 0){
		usuarioTokenInput({
			element: "#filtrarUsuario",
			url: urlContext+"/ws/usuariosAutoComplete.htm?mode=json&form_name=form",
			hintText: "$messages.get('msg.digitar')",
		    noResultsText: "$messages.get('msg.item.notFound.error')",
		    searchingText: "$messages.get('carregando.label')",
		    placeholder: "Digite o usuário...",
			tokenLimit: 1,
			prePopulate: usuario,
	    	resultsFormatter: function(item){
	    		if(item.urlFotoUsuarioThumb){
	    			return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='" + item.urlFotoUsuarioThumb + "' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Cargo: " + item.funcao + "</p></div></li>"	
	    		}else{
	    			return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='"+urlContext+"/imagens/user.png' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Cargo: " + item.funcao + "</p></div></li>"
	    		}
	  		}
		});
	}

	if($("#filtrarNewsletter").length > 0){
		$("#filtrarNewsletter").tokenInput("$!urlNewsletter/unsubscribe/findAllByProp", {
			queryParam: "titulo",
			propertyToSearch: "titulo",
			placeholder: 'Digite o titulo do newsletter...',
			tokenLimit: 1,
			searchingText: 'Carregando...',
			preventDuplicates: true,
			noResultsText: 'Nenhuma newsletter encontrada',
			hintText: 'Comece a digitar para buscar',
			prePopulate: newsletter,
			crossDomain: false,
			onSend: function(req){
				req.data.callback = 'jsonprocess';
				req.data.max = '15';
				req.data.empresa_id = '$empresaId';
			}
		});
	}
	
	$("#filtrarRel").on("click",function(e){
		e.stopPropagation();
		e.preventDefault();
		filtro.page = 0;
		unsubscribeReport(filtro);
	});
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		filtro = getFiltro();
		unsubscribeReport(filtro);
	});
	
	$('body').on('click', '.apagar', function(e){
		var id = $(this).attr('data-id');
		swal({
			title: "Atenção!",
			text: "Você deseja mesmo deletar esse unsubscribe?",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#D91E18",
			confirmButtonText: "Deletar",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true,
		}).then(function () {
			httpDelete("$urlNewsletter/unsubscribe/" + id, function(data) {
				$('.unsubscribe_'+id+'').remove();
				swal("Sucesso!", "Newsletter removida.", "success");
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
			}, null, function(){
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
			});
		});
	});
	
});
function getFiltro() {
    var filtro = {
  		dataIni: $("#dataIni").val(),
		dataFim: $("#dataFim").val(),
		usuario: $("#filtrarUsuario").val(),
		newsletter: $("#filtrarNewsletter").val(),
	};
    return filtro;
}

var dTable = null;

function unsubscribeReport(filtro) {
	var filtro = getFiltro();
	filtro.empresa_id = $empresaId;
	jsHttp.get("$urlNewsletter/unsubscribe/report",{
		data: filtro,
		beforeSend: function(){
			$('.portlet-body.clearfix').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');
		},
		success: function (data) {
			var conteudo = "";
			for(var i in data) {
				var campo = data[i];
				conteudo += createTable(campo);
			}
			if(dTable != null) {
				$(".table > tbody").empty();
				dTable.clear();
				dTable.destroy();
			}
			dTable = loadTable(conteudo);
			dTable.data(conteudo).draw();
			$('.portlet-body.clearfix').find('.dataTables_processing').remove();
		}
	});
}

function createTable(campo){
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'" class="unsubscribe_'+campo.id+'">';
		rTable += "<td>"+campo.createdAt+"</td>";
		rTable += "<td align='center'><a class='blue' href='$context/usuario.htm?id=" + campo.usuario_id + "' >" + campo.usuario.nome + "</a></td>";
		rTable += "<td align='center'><a class='blue' href='$context/cadastro/newsletter.htm?id=" + campo.newsletter_id + "' >" + campo.newsletter.titulo + "</a></td>";
		rTable += '<td><button data-id="'+ campo.id + '" class="apagar uppercase btn btn-outline red-mint" title="Excluir registro"><i class="fa fa-trash"></i></button></td>';
	rTable += "</tr>";
	return rTable;
}
</script>