<div class="titulo">Criptografia</div>
<div class="form"><br />$form</div>
#if($msg)
<div class="msgSuccess">$msg</div>
#end
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>