<div class="titulo">Web Service - Favorito</div>
<div class="form">
Informe o post_id ou comentario_id para fazer o like.
<hr>
$form</div>
#set($msg = $session.msg)
#if($msg)
<div class="msgSuccess">$msg</div>
#end
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>