<div class="titulo">Web Service - Upload</div>
<pre>
Consulte em http://livetouchdev.com.br/livecom/temp/seu_arquivo
</pre>
<div class="form"><br />$form</div>
#set($msg = $session.msg)
#if($msg)
<div class="msgSuccess">$msg</div>
#end
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>