<div class="titulo">Web Service - Usuários Logados</div>
<div class="form"><br />$form</div>
#set($msg = $session.msg)
#if($msg)
<div class="msgSuccess">$msg</div>
#end
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>