.drag-drop-area{
	border: 2px dashed rgba(0,0,0,.3);
	display: block;
	position: relative;
	color: #7e7e7e;
    padding-top: 20vh;
    text-align: center;
    min-height: 50vh;

	p{ margin-bottom: 10px; font-size: 20px; font-weight: 600; }
	small{ font-size: 14px; }

}