/* upload-area - decoration */
#drop-zone {
	border: 2px dashed rgba(0,0,0,.3);
    display: block;
    position: relative;
    padding: 20px;
    width: 100%;
    float: left;
    clear: both;

    &.ajax-drag{
        min-height: 400px;
        position: relative;
        margin-bottom: 20px;
        color: #7e7e7e;
        font-size: 25px;
        text-align: center;
        padding-top: 160px;

        p{ margin-bottom: 20px; }
    }
    
    input {
        position: absolute;
        cursor: pointer;
        left: 0px;
        top: 0px;

        &[type=file]{ opacity: 0; }
    }

    h4{
        font-size: 20px;
        line-height: 24px;
        color: #7e7e7e;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &.mouse-over { border: 2px dashed #0096d0; color: rgba(0,0,0,.5); }

    > form#formImportacao{ float: none; }
}

.upload-area form#formImportacao{ float: none; }

.modal{
    #drop-zone {
        min-height: 65vh;
        padding-top: 25vh;
    }
}