<div class="row">
	<div class="col-md-6">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td colspan="2">
						<label class="control-label labelCampo bordered-msg">Android</label>
					</td>
				</tr>
				<tr>
					<td class="tooltip-livecom">Cor da system bar (primary dark color)</td>
					<td style="width: 50%;">
						<input type="text" name="androidSystemBar" id="androidSystemBar" class="form-control minicolors-input" value="$!navbarColor" data-control="hue" size="7" >
					</td>	
				</tr>
				<tr>
					<td class="tooltip-livecom">Cor da navigation bar (primary color)</td>
					<td style="width: 50%;">
						<input type="text" name="androidSystemBar" id="androidSystemBar" class="form-control minicolors-input" value="$!navbarColor" data-control="hue" size="7" >
					</td>	
				</tr>
				<tr>
					<td>Cor de acentuacao (accent color)</td>
					<td style="width: 50%;">
						<input type="text" name="androidAccentColor" id="androidAccentColor" class="form-control minicolors-input" value="$!navbarColor" data-control="hue" size="7" >
					</td>	
				</tr>
				<tr>
					<td>Cor de fundo do menu lateral</td>
					<td style="width: 50%;">
						<input type="text" name="androidCorFundoMenuLateral" id="androidCorFundoMenuLateral" class="form-control minicolors-input" value="$!navbarColor" data-control="hue" size="7" >
					</td>	
				</tr>
				<tr>
					<td class="tooltip-livecom">Cor da badge de notifications</td>
					<td style="width: 50%;">
						<input type="text" name="navbarBadgeBackgroundColor" id="navbarBadgeBackgroundColor" class="form-control minicolors-input" value="$!navbarBadgeBackgroundColor" data-control="hue" size="7" >
					</td>	
				</tr>
				<tr>
					<td class="tooltip-livecom">Cor badges mural</td>
					<td style="width: 50%;">
						<input type="text" name="androidCorBadgesMural" id="androidCorBadgesMural" class="form-control minicolors-input" value="$!navbarBadgeBackgroundColor" data-control="hue" size="7" >
					</td>	
				</tr>
			</tbody>
		</table>
		<div class="clearfix botoesSalvar pull-right">
			<a href="$context/cadastro/mobile.htm" class="btn btn-default cancelar min-width" type="button"> Cancelar</a>
	      	<button class="btn btn-primary min-width btn-salvar salvarConfiguracoes" type="submit"> Salvar</button>
		</div>
	</div>
	<div class="col-md-6">
		<div class="casca-android">
		    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		    	<div style="height: 25px;background: #000; position: absolute; width: 100%; opacity: 0.2;  filter: alpha(opacity=50); z-index: 999; color: #fff;"></div>
		    	<div style="position: absolute; z-index: 1000; right: 10px; color: #c5bebe; font-size:14px; top: 5px">
	    			<i class="material-icons" style="font-size:14px">network_wifi</i>
		    		<i class="material-icons" style="font-size:14px">network_cell</i>
		    		<i class="material-icons" style="font-size:14px">battery_std</i>
		    		15:22
	    		</div>
		        <header class="mdl-layout__header" style="background:$!navbarColor">
		            <div class="mdl-layout__header-row">
		                <!-- Title -->
		                <span class="mdl-layout-title">Comunicados</span>
		                <div class="root-content-left-icons">
		                    <label class="mdl-button mdl-js-button mdl-button--icon">
		                        <i class="root-busca"></i>
		                    </label>
		                    <label class="mdl-button mdl-js-button mdl-button--icon">
		                        <i class="root-notification"></i>
		                        <span class="mobile-badge">7</span>
		                    </label>
		                    <label id="demo-menu-lower-right"
		                            class="mdl-button mdl-js-button mdl-button--icon">
		                        <i class="material-icons">more_vert</i>
		                    </label>
		                </div>
		
		
		            </div>
		       </header>
		            <!-- Tabs -->
		        <div class="mdl-layout__drawer">
		            <div class="root-container-logo" style="background:$!menuBackgroundColor">
		                <div class="root-logo-mobile">
		                    <img src="https://s3-sa-east-1.amazonaws.com/livecom-livetouch/logos/00d544f9-5e93-42df-8a52-dfee244eb546_ee21fd55-88d8-42b5-82be-db3db212c00e_logo_livecom.png" />
		                </div>
		                <div class="root-container-usuario-mobile">
		                    <div class="foto-usuario">
		                        <img src="$!adminEmpresa.fotoS3" />
		                    </div>
		                    <div class="dados-usuario">
		                        <div class="nome">
		                            $!adminEmpresa.nome
		                        </div>
		                        <div class="email">
		                            $!adminEmpresa.email
		                        </div>
		                    </div>
		                    <div class="clearfix"></div>
		                </div>
		                <div class="clearfix"></div>
		            </div>
		            <nav class="mdl-navigation">
		                <a class="mdl-navigation__link active" href="#"><i class="root-linear-icons icone-mural"></i>Mural</a>
		                <a class="mdl-navigation__link" href="#"><i class="root-linear-icons icone-notification"></i>Noticicações</a>
		                <a class="mdl-navigation__link" href="#"><i class="root-linear-icons icone-favorito"></i>Meus Favoritos</a>
		                <a class="mdl-navigation__link" href="#"><i class="root-linear-icons icone-dados"></i>Meus Dados</a>
		                <a class="mdl-navigation__link" href="#"><i class="root-linear-icons icone-usuarios"></i>Usuários</a>
		                <a class="mdl-navigation__link" href="#"><i class="root-linear-icons icone-grupos"></i>Grupos</a>
		                <a class="mdl-navigation__link" href="#"><i class="root-linear-icons icone-chat"></i>Chat</a>
		                <a class="mdl-navigation__link" href="#"><i class="root-linear-icons icone-arquivos"></i>Arquivos</a>
		                <hr />
		                <a class="mdl-navigation__link" href="#"><i class="root-linear-icons icone-config"></i>Configurações</a>
		                <a class="mdl-navigation__link" href="#"><i class="root-linear-icons icone-sair"></i>Sair</a>
		            </nav>
		        </div>
		        <div class="mobile-container-mural">
					<ul class="mobile-lista-posts">
						<li>
							<div class="row">
								<div class="col-md-12">
									<div class="mobile-container-foto">
										<img src="$!adminEmpresa.fotoS3"  />
									</div>
									<div class="mobile-mural-infos">
										<div class="mobile-nome-user">
											$!adminEmpresa.nome
										</div>
										<div class="mobile-grupos">
											<span style="">para</span> $!empresa.nome, $!adminEmpresa.nome
										</div>
									</div>
								</div>
							</div>
							<div class="row mobile-data-post-categoria">
								<div class="col-md-12 ">
									<div class="mobile-categoria">
										COMUNICADOS
									</div>
									<div class="mobile-data-post">
										Agora
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mobile-titulo-post">
									Bem vindo
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mobile-conteudo-post">
									Olá seja bem vindo.
									<br />
									<a style="color:#9c8e8e;">$!empresa.dominio</a>
								</div>
							</div>
							<div class="row mobile-actions-post">
								<div class="col-md-12">
									<div class="col-md-3">
										<i class="linear-icons icone-likeNew"></i> <span>7</span>
									</div>
									<div class="col-md-3">
										<i class="linear-icons icone-comentarioNew"></i> <span>1</span>
									</div>
									<div class="col-md-3">
										<i class="linear-icons icone-favoritoNew"></i>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="col-md-12">
									<div class="mobile-container-foto">
										<img src="$!adminEmpresa.fotoS3"  />
									</div>
									<div class="mobile-mural-infos">
										<div class="mobile-nome-user">
											$!adminEmpresa.nome
										</div>
										<div class="mobile-grupos">
											<span style="">para</span> $!empresa.nome, $!adminEmpresa.nome
										</div>
									</div>
								</div>
							</div>
							<div class="row mobile-data-post-categoria">
								<div class="col-md-12 ">
									<div class="mobile-categoria">
										COMUNICADOS
									</div>
									<div class="mobile-data-post">
										Agora
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mobile-titulo-post">
									Primeiro Post
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mobile-conteudo-post">
									Este e um exemplo de postagem.
									<br />
									<a style="color:#9c8e8e;">$!empresa.dominio</a>
								</div>
							</div>
							<div class="row mobile-actions-post">
								<div class="col-md-12">
									<div class="col-md-3">
										<i class="linear-icons icone-likeNew"></i> <span>7</span>
									</div>
									<div class="col-md-3">
										<i class="linear-icons icone-comentarioNew"></i> <span>1</span>
									</div>
									<div class="col-md-3">
										<i class="linear-icons icone-favoritoNew"></i>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<label class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mobile-btn-postar">
  						<i class="material-icons">create</i>
					</label>
				</div>
		    </div>
		</div>
	</div>
</div>