<div class="col-md-12">
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <span class="caption-subject font-blue sbold uppercase">
                    <i class="fa fa-list"></i> Menu
                </span>
            </div>
            <div class="actions">
                <button class="btn sbold btn-primary" id="add" data-toggle="tab"> Add <i class="fa fa-plus"></i></button>
                <div class="btn-group">
                    <button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
                    <ul class="dropdown-menu pull-right">
                        <li><a id="restaurarPadrao"><i class="fa fa-undo"></i> Restaurar menu padrão </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body clearfix">
            <div class="tab-pane fade in" id="menu">
                <div class="col-md-12">
                    <div class="col-lg-5">
                        <div class="casca-android">
                            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                                <div style="height: 25px;background: #000; position: absolute; width: 100%; opacity: 0.2;  filter: alpha(opacity=50); z-index: 999; color: #fff;"></div>
                                <div style="position: absolute; z-index: 1000; right: 10px; color: #c5bebe; font-size:14px; top: 5px">
                                    <i class="material-icons" style="font-size:14px">network_wifi</i>
                                    <i class="material-icons" style="font-size:14px">network_cell</i>
                                    <i class="material-icons" style="font-size:14px">battery_std</i>
                                    15:22
                                </div>
                                <header class="mdl-layout__header" style="background:$!corMenu">
                                    <div class="mdl-layout__drawer-button"><i class="material-icons"></i></div>
                                    <div class="mdl-layout__header-row">
                                        <!-- Title -->
                                        <span class="mdl-layout-title">Comunicados</span>
                                        <div class="root-content-left-icons">
                                            <label class="mdl-button mdl-js-button mdl-button--icon">
                                                <i class="root-busca"></i>
                                            </label>
                                            <label class="mdl-button mdl-js-button mdl-button--icon">
                                                <i class="root-notification"></i>
                                                <span class="mobile-badge" style="background: #e2490f">7</span>
                                            </label>
                                            <label id="demo-menu-lower-right"
                                                   class="mdl-button mdl-js-button mdl-button--icon">
                                                <i class="material-icons">more_vert</i>
                                            </label>
                                        </div>


                                    </div>
                                </header>
                                <!-- Tabs -->
                                <div class="mdl-layout__drawer">
                                    <div class="root-container-logo" style="background:#0096D0">
                                        <div class="root-logo-mobile">
                                            <img src="$!empresa.urlLogo" />
                                        </div>
                                        <div class="root-container-usuario-mobile">
                                            <div class="foto-usuario">
                                                <img src="$!adminEmpresa.fotoS3" />
                                            </div>
                                            <div class="dados-usuario">
                                                <div class="nome">
                                                    $!adminEmpresa.nome
                                                </div>
                                                <div class="email">
                                                    $!adminEmpresa.email
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <nav class="mdl-navigation menu-mobile-root"></nav>
                                </div>
                                <div class="mobile-container-mural">
                                    <ul class="mobile-lista-posts">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mobile-container-foto">
                                                        <img src="$!adminEmpresa.fotoS3"  />
                                                    </div>
                                                    <div class="mobile-mural-infos">
                                                        <div class="mobile-nome-user">
                                                            $!adminEmpresa.nome
                                                        </div>
                                                        <div class="mobile-grupos">
                                                            <span style="">para</span> $!empresa.nome, $!adminEmpresa.nome
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mobile-data-post-categoria">
                                                <div class="col-md-12 ">
                                                    <div class="mobile-categoria">
                                                        COMUNICADOS
                                                    </div>
                                                    <div class="mobile-data-post">
                                                        Agora
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mobile-titulo-post">
                                                    Bem vindo
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mobile-conteudo-post">
                                                    Olá seja bem vindo.
                                                    <br />
                                                    <a style="color:#9c8e8e;">$!empresa.dominio</a>
                                                </div>
                                            </div>
                                            <div class="row mobile-actions-post">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <i class="linear-icons icone-likeNew"></i> <span>7</span>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <i class="linear-icons icone-comentarioNew"></i> <span>1</span>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <i class="linear-icons icone-favoritoNew"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mobile-container-foto">
                                                        <img src="$!adminEmpresa.fotoS3"  />
                                                    </div>
                                                    <div class="mobile-mural-infos">
                                                        <div class="mobile-nome-user">
                                                            $!adminEmpresa.nome
                                                        </div>
                                                        <div class="mobile-grupos">
                                                            <span style="">para</span> $!empresa.nome, $!adminEmpresa.nome
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mobile-data-post-categoria">
                                                <div class="col-md-12 ">
                                                    <div class="mobile-categoria">
                                                        COMUNICADOS
                                                    </div>
                                                    <div class="mobile-data-post">
                                                        Agora
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mobile-titulo-post">
                                                    Primeiro Post
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mobile-conteudo-post">
                                                    Este e um exemplo de postagem.
                                                    <br />
                                                    <a style="color:#9c8e8e;">$!empresa.dominio</a>
                                                </div>
                                            </div>
                                            <div class="row mobile-actions-post">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <i class="linear-icons icone-likeNew"></i> <span>7</span>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <i class="linear-icons icone-comentarioNew"></i> <span>1</span>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <i class="linear-icons icone-favoritoNew"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <label class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mobile-btn-postar">
                                        <i class="material-icons">create</i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="tab-content fixedHeight">
                            <div id="form_menu" class="tab-pane subtab fade">
                                <form method="post" id="form_data__menu">
                                    <input type="hidden" value="" name="id" id="id">
                                    <div class="form-group">
                                        <label class="control-label labelCampo" for="label">Label:</label>
                                        <input type="text" name="label" id="label" value="" size="20" class="form-control" placeholder="Label">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label labelCampo" for="descricao">Descrição:</label>
                                        <input type="text" name="descricao" id="descricao" value="" size="20" class="form-control" placeholder="Descrição">
                                    </div>
                                    <div class="form-group clearfix row">
                                        <div class="col-md-6">
                                            <label class="control-label labelCampo" for="codigo">Código:</label>
                                            <input type="text" name="codigo" id="codigo" value="" size="20" class="form-control" placeholder="Código">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label labelCampo" for="parametro">Paramêtro:</label>
                                            <input type="text" name="parametro" id="parametro" value="" size="20" class="form-control" placeholder="Paramêtro">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label labelCampo left" for="icone">Ícone:</label>
                                        <i class="fa fa-info-circle pull-right font-blue tooltip-livecom" title="Insira a URL do ícone"></i>
                                        <input type="text" name="icone" id="icone" value="" size="20" class="form-control" placeholder="http://meuicone.com.br/meuicone.png">
                                    </div>
                                    <div class="form-group row divider">
													<div class="col-xs-4">
														<label class="control-label labelCampo" for="menuDefault">Menu default: </label>
                                        	<input type="checkbox" name="menuDefault" id="menuDefault" data-on-text="Sim" data-off-text="Não" data-off-color="danger" class="bootstrap">
                                    	</div>
                                    	<div class="col-xs-4">
                                    		<label class="control-label labelCampo" for="menuDivider">Divisor: </label>
                                        	<input type="checkbox" name="menuDivider" id="menuDivider" data-on-text="Sim" data-off-text="Não" data-off-color="danger" class="bootstrap">
                                    	</div>
                                    </div>
                                    <div class="clearfix text-right">
                                        <button type="button" class="btn btn-danger min-width apagar">Deletar</button>
                                        <button type="submit" class="btn btn-primary min-width" id="salvar">Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('document').ready(function() {
        if(!(typeof(componentHandler) == 'undefined')){
            componentHandler.upgradeAllRegistered();
            $( '.mdl-layout__drawer, .mdl-layout__obfuscator' ).addClass( 'is-visible' );
        }

        function loadMenuMobile() {
            // busca os menus do mobile
            jQuery.ajax({
                url: urlContext + "/rest/v1/menu/mobile",
                type: "GET",
                contentType: "application/json",
                success: function (data) {
                    var ol = $('nav.menu-mobile-root');
                    ol.empty();
                    if (data && data.length > 0) {
                        var conteudo = '';
                        for (var i in data) {
                            var menu = data[i];
                            conteudo += createMenu(menu);
                        }
                        ol.append(conteudo);

                        $('nav.menu-mobile-root .mdl-navigation__link:first-child').click();
                    }
                }
            });
        }
        
			$('#menuDivider').on('switchChange.bootstrapSwitch', function(event, state) {
				if(state){
					$('#form_data__menu .form-control').val('');
					$('#form_data__menu .form-group:not(.divider)').addClass('disabled');
				}else{
					$('#form_data__menu .form-group:not(.divider)').removeClass('disabled');
				}
        	});

        loadMenuMobile();

        // limpa o formulario do menu
        var clearForm = function () {
            $('form')[0].reset();
            $("#id, #label, #descricao, #ordem, #codigo, #icone, #parametro").val("");
            $("#linkExterno").bootstrapSwitch('state', false);
            $("#menuDefault").bootstrapSwitch('state', false);
            $('form').find('.form-group').removeClass('has-error').removeClass('has-success');
            $('#salvar').html('Salvar');
        }

        // click para mostrar formulario de menu
        $("#add").on("click", function (e) {
            $('.tabs').find('li.active').removeClass('active');
            $(".apagar").hide();
            clearForm();
            $('body #menu').find('#form_menu').addClass('in active');
            $('body #menu').find('#form_menu input[type="text"]:first-child').focus();
            validateForm = true;
        });

        // click para apagar um menu
        $('body').on('click', '.apagar', function () {
            var id = $('form #id').val();
            if (id) {
                jConfirm("Deseja mesmo deletar esse menu do mobile?", "Atenção.", "deletar", function (yes) {
                    if (yes) {
                        deletarMenu(id);
                    } else {
                        return false;
                    }
                });
            } else {
                clearForm();
            }
        });

        $('#restaurarPadrao').click(function(e) {
            event.preventDefault();

            swal({
                type: 'warning',
                title: 'Atenção',
                text: 'Deseja restaurar o menu padrão do mobile? <br /> Está ação deve ser utilizada apenas quando um menu for deletado acidentalmente, Confirma?',
                showCancelButton: true,
                confirmButtonColor: "#D91E18",
                confirmButtonText: "Confirmar",
                cancelButtonText: "Cancelar",
                showLoaderOnConfirm: true,
            }).then(function () {
                jQuery.ajax({
                    url: "$context/rest/v1/menu/mobile/menuPadrao",
                    type: "POST",
                    contentType: 'application/json',
                    success: function(data) {
                        if(data.status == "OK") {
                            loadMenuMobile();
                            clearForm();
                            swal('Sucesso', data.message, 'success');

                            $( '.mdl-layout__drawer, .mdl-layout__obfuscator' ).addClass( 'is-visible' );
                        } else {
                            swal('Ops...', data.message, 'error');
                        }
                    },
                    error: function() {
                        swal('Ops...', 'Não foi possível restaurar o menu padrão.', 'error');
                    }
                });
            });
        });


        function deletarMenu(id) {
            jQuery.ajax({
                url: urlContext + "/rest/v1/menu/" + id,
                type: "DELETE",
                success: function(data) {
                    if(data.status == "OK") {
                        $('nav.menu-mobile-root .mdl-navigation__link[data-id="'+id+'"]').remove();
                        toastr.success('<b>Successo</b><br /> ' + data.message);
                        clearForm();
                    } else {
                        toastr.error('<b>Atenção</b><br /> ' + data.message);
                    }
                    $( '.mdl-layout__drawer, .mdl-layout__obfuscator' ).addClass( 'is-visible' );
                },
                error: function(e) {
                    toastr.error('<b>Atenção</b><br /> Não foi possível deletar este menu.');
                }
            });
        }


        // Salvar o menu
        $('body').on('click', '#salvar', function (e) {
            e.preventDefault();
            var formData = $('#form_data__menu').serializeArray(), jsonFormData = {};
            if($('#menuDivider').bootstrapSwitch('state')){
            	jsonFormData.divider = $('#menuDivider').bootstrapSwitch('state');
            	jsonFormData.label = 'divider';
            	jsonFormData.descricao = '';
            	jsonFormData.codigo = 'divider';
            	jsonFormData.parametro = '';
            	jsonFormData.icone = '';
            }else{
            	if (formData && formData.length > 0) {
                    for (var i in formData) {
                        var data = formData[i];
                        var name = data.name;
                        var value = data.value;
                        jsonFormData[name] = value;
                    }
                }
            }
            
            if (!jsonFormData.ordem) {
                var lastOrdem = $('nav.menu-mobile-root .mdl-navigation__link:last-child').attr("data-ordem");
                lastOrdem = lastOrdem ? parseInt(lastOrdem) + 1 : 0;
                jsonFormData.ordem = lastOrdem;
            }
            
            jsonFormData.menuDefault = $("#menuDefault").bootstrapSwitch('state');
            saveOrUpdateMenu(jsonFormData);
        });


        function saveOrUpdateMenu(data) {
            var jsonStringify = JSON.stringify(data);
            jQuery.ajax({
                url: urlContext + "/rest/v1/menu/mobile",
                type: "POST",
                contentType: "application/json",
                data: jsonStringify,
                success: function (data) {
                    if (data.status == "OK") {
                        var message = "";
                        var menu = data.entity;
                        var liMenuEdit = $('nav.menu-mobile-root .mdl-navigation__link[data-id="'+menu.id+'"]');
                        if(liMenuEdit && liMenuEdit.length > 0) {
                            var labelMenu = $(liMenuEdit).children("span.labelMenu");
                            $(labelMenu).text(menu.label);
                            $(liMenuEdit).children(".root-linear-icons").removeAttr("style");
                            if(menu.icone) {
                                $(liMenuEdit).children(".root-linear-icons").attr("style", 'background: url('+menu.icone+') no-repeat; background-size: 24px');
                            }
                            message = '<b>Sucesso</b><br /> Menu ' + data.entity.label + ' editado com sucesso';
                        } else {
                            var conteudo = createMenu(menu);
                            var ol = $('nav.menu-mobile-root');
                            ol.append(conteudo);
                            message = '<b>Sucesso</b><br /> Menu ' + data.entity.label + ' criado com sucesso';
                        }
                        toastr.success(message);
                        clearForm();
                        $( '.mdl-layout__drawer, .mdl-layout__obfuscator' ).addClass( 'is-visible' );
                    } else {
                        jAlert(data.message, "Atenção");
                    }
                },
                error: function (data) {
                    toastr.error('<b>Atenção</b><br /> Não foi possível criar este menu.');
                }
            });
        }





        // cria uma li de um menu
        function createMenu(menu) {
        		var classe = menu.divider ? 'divider' : '';
            var conteudo = '<span class="mdl-navigation__link '+classe+'" data-id="' + menu.id + '" data-ordem="' + menu.ordem + '">';
            if(menu.icone) {
                conteudo += '<i class="root-linear-icons" style="background: url('+menu.icone+') no-repeat; background-size: 24px"></i>';
            } else {
                conteudo += '<i class="root-linear-icons icone-mural"></i>';
            }

            conteudo += '<span class="labelMenu">' + menu.label + '</span>';
	            conteudo += '<span class="mobile-menu-actions reorder">';
		            conteudo += '<i class="fa fa-arrow-up move-up" title="Mover item para cima"></i>';
		            conteudo += '<i class="fa fa-arrow-down move-down" title="Mover item para baixo"></i>';
	            conteudo += '</span>'
            conteudo += '</span>';
            return conteudo;
        }


        // click para modificar a ordem do menu
        $('body').on('click', '.mobile-menu-actions.reorder > i', function (e) {
            e.preventDefault();
            e.stopPropagation();

            var $this = $(this);
            var curElm = $this.parent('span').parent('span');
            var parent = curElm.parent('nav');
            var nextOrPrevLi = null;
            if ($this.hasClass('move-down')) {
                nextOrPrevLi = curElm.next('span');
                nextOrPrevLi.insertBefore(curElm);
            } else {
                nextOrPrevLi = curElm.prev('span');
                if (nextOrPrevLi && nextOrPrevLi.length > 0) {
                    nextOrPrevLi.insertAfter(curElm);
                }
            }

            if (nextOrPrevLi && nextOrPrevLi.length > 0) {
                var nextOrPrevLiDataOrdemLi = nextOrPrevLi.attr('data-ordem');
                var curElmDataOrdemLi = curElm.attr('data-ordem');
                curElm.attr('data-ordem', nextOrPrevLiDataOrdemLi);
                nextOrPrevLi.attr('data-ordem', curElmDataOrdemLi);
            }

            updateOrdemMenuMobile();

        });

        $('body').on('click',"nav.menu-mobile-root .mdl-navigation__link",function(e) {
            e.preventDefault();
            e.stopPropagation();
            $("#add").click();
            var id = $(this).attr('data-id');
            $(".apagar").show();

            getMenuEditar(id);

        });

        function getMenuEditar(id) {
            jQuery.ajax({
                url: urlContext + "/rest/v1/menu/mobile/" + id,
                success: function(data) {
                    if(data.status == 'OK') {
                        var menu = data.entity;
                        $("#label").val(menu.label);
                        $("#descricao").val(menu.descricao);
                        $("#codigo").val(menu.codigo);
                        $("#parametro").val(menu.parametro);
                        $("#icone").val(menu.icone);
                        $("#id").val(menu.id);
                        $("#menuDefault").bootstrapSwitch('state', menu.menuDefault);
                        $("#menuDivider").bootstrapSwitch('state', menu.divider);
                    } else {
                        toastr.error("Não foi possível encontrar o menu " + id);
                    }
                },
                error: function() {
                    toastr.error("Erro ao buscar o Menu com o id " + id);
                }
            });
        }


        // atualiza a ordem do menu no servidor
        function updateOrdemMenuMobile() {
            var itemsMenu = $('nav.menu-mobile-root .mdl-navigation__link');
            var voMenu = [];
            for(var i = 0; itemsMenu.length > i; i++) {
                var $e = $(itemsMenu[i]);
                voMenu.push({
                    id: parseInt($e.attr('data-id')),
                    ordem: parseInt($e.attr('data-ordem'))
                });
            }
            jQuery.ajax({
                url: urlContext + "/rest/v1/menu/ordem",
                type: "POST",
                data: JSON.stringify(voMenu),
                contentType: "application/json",
                success: function(data) {
                    if(data.status == "OK") {
                        toastr.clear();
                        toastr.success('<b>Sucesso</b><br /> Ordem do menu atualizada com sucesso');
                    } else {
                        toastr.error(data.message);
                    }
                },
                error: function() {
                    toastr.error('<b>Atenção</b><br /> Não foi possível atualizar a ordem do menu.');
                }
            });
        }
    });
</script>