<h3 class="page-title">
    <small> Parâmetros de configuração apenas para desenvolvedores.</small>
</h3>
<form method="post" id="form_parametros">
    <div class="clearfix">
        <div class="col-md-6">
            <div class="form-group">
                <label class="labelCampo control-label" for="nomeParametro">Nome</label>
                <input type="text" name="nome" value="$!parametro.nome" class="form-control" size="20" id="nomeParametro">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="labelCampo control-label" for="valorParametro">Valor</label>
                <input type="text" name="valor" value="$!parametro.valor" class="form-control" size="20" id="valorParametro">
            </div>
        </div>
    </div>
    <div class="clearfix botoesSalvar">
        <button class="btn btn-default cancelar min-width" type="button"> Cancelar</button>
        <button class="btn btn-primary min-width btn-salvar" id="salvarParametros" type="submit"> Salvar</button>
    </div>
</form>
<div class="clearfix">
    <table id="tableParametros" class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed ellipsify">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                    aria-label="Nome: active to sort column descending" aria-sort="ascending">Nome
                </th>
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                    aria-label="Valor: active to sort column ascending">Valor
                </th>
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Ações">Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Injetar os dados via ajax -->
        </tbody>
    </table>
</div>

<script>
    jQuery('document').ready(function() {
    	
    	function findParametros() {
    		jQuery.ajax({
                url: urlContext + "/rest/v1/parametro/mobile/$!session.userInfo.empresaId",
                type: "GET",
                success: function(data) {
                    if(data && data.length > 0) {
                        var conteudo = "";
                        for(var i in data) {
                            conteudo += createTr(data[i]);
                        }
                        $('#tableParametros tbody').append(conteudo);
                        dtTableUtils("#tableParametros");
                        confirmationConfig();
                    }
                },
                error: function(data) {
                    toastr.error("Não foi possível buscar os parametros");
                }
            });
    	}
    	
        

        function confirmationConfig() {
            $("[data-toggle=confirmation]").confirmation({
                container: '.table',
                btnOkClass: 'btn btn-sm btn-success',
                btnCancelClass: 'btn btn-sm btn-danger',
                popout: true,
                btnOkLabel: 'Sim',
                btnCancelLabel: "Não"
            });
        }


        $('.table').on('page.dt', function() {
            setTimeout(
                function() {
                    confirmationConfig();
                }, 500);
        });

        $('.table').on('order.dt', function() {
            setTimeout(
                function() {
                    confirmationConfig();
                }, 500);
        });

        

        $('#salvarParametros').click(function(e) {
            e.preventDefault();
            var formData = jQuery("#form_parametros").serializeArray();
            var jsonData = {
                id: "$!parametro.id"
            };
            for(var i = 0; formData.length > i; i++) {
				var data = formData[i];            	
            	jsonData[data.name] = data.value;
            }

            if(!jsonData.nome || jsonData.nome == "") {
                jAlert("Informe o nome do parâmetro", "Atenção");
                return;
            }

            $(this).attr("disabled", "disabled");
			var $self = this;
            jQuery.ajax({
                url: "$context/rest/v1/parametro/mobile/$session.userInfo.empresaId",
                type: 'POST',
                data: jsonData,
                success: function(data) {
                	if(data.status == "OK") {
                		toastr.success(data.message);
                		setTimeout(function() {
                    		location.href = "$context/cadastro/mobile.htm?tab=parametros";
                    	}, 1500);
                	} else {
                		toastr.remove();
                		$($self).removeAttr("disabled");
                		toastr.error(data.message);
                	}
                },
                error: function() {
                	$($self).removeAttr("disabled");
                	toastr.remove();
                    toastr.error("Não foi cadastrar ou editar o parâmetro.");
                }
            });
        })
    });
    
</script>