/***** ICONES *****/
.icones {
	background: url(../../imagens/icones.png) no-repeat;
	width: 22px;
	height: 22px;
	display: block;
	float: left;

	&.ico-favoritos { background-position: 0 -88px; }
	&.ico-usuarios { background-position: 0 -110px; }
	&.ico-meusDados { background-position: -22px -88px; }
	&.ico-grupos { background-position: -22px -110px; }
	&.ico-senha { background-position: 0 -132px; }
	&.ico-senha-cinza { background-position: 0 -304px; }
	&.ico-meusDados-cinza { background-position: -22px -304px; }
	&.ico-sair { background-position: -44px -304px; }
	&.ico-arquivos { background-position: -22px -132px; }
	&.ico-mensagens { background-position: 0 -152px; }
	&.ico-escreverMensagem { background-position: -22px -154px; }

	&.ac_loading { position: absolute; left: 50%; top: 50%; margin: -11px 0 0 -11px; }

	&.ico-lupaCinza {
		background-position: -44px -68px;
		z-index: 1;

		&.relative { top: -30px; position: relative; right: -5px; }
		&.absolute { top: 7px; position: absolute; left: 20px; }
	}

	&.ico-setaBaixo { background-position: -102px -60px; width: 12px; height: 7px; }

	&.ico-like { background-position: -131px -88px; }
	&.ico-like.active { background-position: -131px -110px; }
	&.ico-favorito { background-position: -153px -88px; }
	&.ico-favorito.favoritado { background-position: -153px -110px; }
	&.ico-config { background-position: -175px -88px; }
	&.ico-comentario { background-position: -44px -88px; }
	&.ico-likeMini { background-position: -44px -132px; height: 20px; }
	&.ico-likeMini.active { background-position: -44px -152px; }

	&.ico-configMini { background-position: -66px -132px; height: 20px; }

	&.ico-mais { background-position: -4px -176px; height: 13px; width: 13px; }
	&.ico-menos { background-position: -4px -198px; height: 13px; width: 13px; }

	&.ico-chave { background-position: -22px -172px; }
	&.ico-cadeado { background-position: -22px -194px; }
	&.ico-postarTexto { background-position: -22px -216px; }
	&.ico-postarLink { background-position: 0 -216px; }
	&.ico-postarImagem { background-position: -66px -238px; width: 28px; }
	&.ico-filtrarPosts { background-position: 0 -238px; }
	&.ico-convidarUsuario { background-position: -131px -172px; }
	&.ico-cadastrarUsuario { background-position: -131px -132px; }
	&.ico-tags { background-position: -131px -152px; }
	&.ico-chapeus { background-position: -131px -304px; }
	&.ico-uploadArquivo { background-position: -66px -326px; }
	&.ico-exportArquivo { background-position: -284px -326px; }
	&.ico-logJobs { background-position: -44px -326px; }
	&.ico-log4j { background-position: -22px -326px; }
	&.ico-categorias { background-position: -131px -194px; }
	&.ico-excluir, &.ico-remover { background-position: -22px -238px; }

	&.ico-configLista { background-position: 0 -260px; }
	&.ico-addUsuario { width: 27px; background-position: -88px -125px; }
	&.ico-editUsuario { width: 24px; background-position: -88px -348px; }
	&.ico-addGrupo { width: 33px; background-position: -88px -147px; }
	&.ico-addGrupo.white { width: 33px; background-position: -286px -150px; }
	&.ico-editGrupo { width: 31px; background-position: -88px -370px; }
	&.ico-delUsuario { width: 21px; background-position: -110px -238px; }
	&.ico-delGrupo { width: 29px; background-position: -168px -134px; }
	&.ico-addCategoria { width: 27px; background-position: -88px -260px; }

	&.ico-addTag { background-position: -22px -260px; }
	&.ico-addChapeu { background-position: -153px -304px; }
	&.ico-addItem { background-position: -45px -260px; }
	&.ico-alerta { background-position: -175px -172px; }
	&.ico-addMensagem { background-position: -88px -282px; width: 29px; }
	&.ico-listMensagem { background-position: -151px -282px; width: 24px; }
	&.ico-msgEnviada { background-position: -119px -123px; width: 12px; height: 12px; }

	&.ico-msgAnexo { background-position: -119px -135px; width: 12px; height: 12px; }
	&.ico-msgVisualizada { background-position: -115px -172px; width: 16px; height: 10px; }
	&.ico-addArquivo { width: 28px; background-position: -118px -282px; }

	&.ico-novoPost { background-position: 0 -282px; }
	&.ico-download { background-position: -22px -282px; }
	&.ico-compartilhar { background-position: -44px -282px; }
	&.ico-favoritaArquivo { background-position: 0 -88px; }
	&.ico-enviarMensagem { background-position: -66px -282px; }
	&.ico-fechar { background-position: -175px -260px; }

	&.ico-fecharFancy { background-position: -175px 0; width: 28px; height: 28px; }

	&.ico-Chat { background-position: -222px -45px; width: 27px; height: 23px; }

	&.ico-usuariosLogados { background-position: -219px -88px; }
	&.ico-usuariosChat { background-position: -197px -88px; }
	&.ico-logSistema { background-position: -197px -172px; }
	&.ico-logTransacao { background-position: -219px -172px; }
	&.ico-logAuditoria { background-position: -66px -304px; }
	&.ico-configurarCadastro{ background-position:-198px -110px; }
	&.ico-parametros { background-position: -219px -110px; }
	&.ico-permissoes { background-position: -197px -132px; }
	&.ico-empresas { background-position: -219px -132px; }
	&.ico-campos { background-position: -197px -152px; }
	&.ico-jyra { background-position: -219px -152px; }
	&.ico-infoPost { background-position: -175px -282px; }
	&.ico-systemInfo { background-position: -285px -282px; }
	&.ico-camera { background-position: -88px -326px; width: 26px; }
	&.ico-postAgendado { background-position: 0 -326px; height: 34px; }
	&.ico-postExpirado { background-position: -44px -348px; height: 34px; }
	&.ico-rascunho { background-position: -287px -215px; height: 34px; }
	&.ico-move { background-position: -22px -348px; }
	&.ico-arquivoAtivo { background-position: -311px -217px; }
	&.comunic { background-position: -131px -348px; }
	&.downUser { background-position: 0 -372px; }
	&.eventos { background-position: -219px -215px; }
	&.controleVersao { background-position: -219px -240px; }
	&.chat { background-position: -219px -195px; }

	&.crownAdmin { background-position: -283px -255px; position: absolute; bottom: 0; right: 0; width: 30px; height: 30px; }

	&.relatorios{ background-position: -176px -303px; }
	&.cadastro { background-position: -175px -370px; }
	&.wordpress { background-position: -132px -328px; }
	&.sistema { background-position: -131px -371px; }

	&.funcList { background-position: -250px -70px; width: 24px; height: 20px; }

	&.logAuditoria { background-position: -220px -370px; position: relative; top: -2px; }

	&.android { background-position: -198px -192px; float: none; margin: 0 auto; text-align: center; }
	&.ios { background-position: -198px -216px; float: none; margin: 0 auto; text-align: center; }
	&.web { background-position: -198px -238px; float: none; margin: 0 auto; text-align: center; }

	&.success { background-position: -66px -372px; position: relative; margin: 0 auto; float: none; text-align: center; }
	&.falha { background-position: -66px -348px; position: relative; margin: 0 auto; float: none; text-align: center; }

	&.enviada { background-position: -152px -328px; display: inline-block; }
	&.entregue { background-position: -152px -348px; display: inline-block; }
	&.lida { background-position: -152px -368px; display: inline-block; }

	&.activeUser { background-position: -242px -108px; width: 24px; }
	&.inactiveUser { background-position: -242px -130px; width: 24px; }

	&.icoPublicar, &.icoExpirar { width: 30px; height: 30px; position: absolute; left: 4px; top: 4px; z-index: 9; }
	&.icoPublicar { background-position: -286px -370px; }
	&.icoExpirar { background-position: -315px -370px; top:1px; }

	&.ico-fecharCinza {
		background-position: -266px -132px; cursor: pointer;
		.right { float: right; }
	}

	&.limparInputs { position: absolute; right: 7px; top: 3px; z-index: 9; display: none; }

	&.dropdown { background-position: -199px -262px; float: right; position: relative; margin-right: 0 !important; cursor:pointer; }
}

.ico-es { background: url(../../img/es.png) no-repeat; width: 22px; height: 22px; display: block; float: left; }
.ico-br { background: url(../../img/br.png) no-repeat; width: 22px; height: 22px; display: block; float: left; }
.ico-internacionalizacao { background: url(../../img/globe.png) no-repeat; width: 16px; height: 16px; display: block; float: left; }

.ico-setaBaixoCinza { background: url(../../imagens/icones.png) no-repeat -131px -260px; }

.ico-setaCimaCinza { background: url(../../imagens/icones.png) no-repeat -153px -260px; }

.notRegisteredDevice{ background:url(../../imagens/icn_userNoDevice.svg) no-repeat center center; width: 22px; height: 22px; display:inline-block; position:relative; }
.notActiveDevice{ background:url(../../imagens/icn_inactiveDevice.svg) no-repeat center center; width: 15px; height: 22px; display:inline-block; position:relative; }
.activeDevice{ background:url(../../imagens/icn_activeDevice.svg) no-repeat center center; width: 15px; height: 22px; display:inline-block; position:relative; }
.msgRecebida{ background:url(../../imagens/icn_received.svg) no-repeat center center; width: 15px; height: 22px; display:inline-block; position:relative; }
.noDevice{ background:url(../../imagens/icn_noDevice.svg) no-repeat center center; width: 15px; height: 22px; display:inline-block; position:relative; }
.erroEnvio{ background:url(../../imagens/icn_failure.svg) no-repeat center center; width: 27px; height: 22px; display:inline-block; position:relative; }
.erroMsg{ background:url(../../imagens/icn_unknownError.svg) no-repeat center center; width: 15px; height: 22px; display:inline-block; position:relative; } 

.icoCateg { background: url(../../imagens/icn_categ.svg) no-repeat; height: 20px; width: 20px; float: left; margin: 0 10px 0 0; }
.icoGroup { background: url(../../imagens/icn_grup.svg) no-repeat; height: 20px; width: 20px; float: left; margin: 0 10px 0 0; }
.icoTag { background: url(../../imagens/icn_tag.svg) no-repeat; height: 20px; width: 20px; float: left; margin: 0 10px 0 0; }

.btn.btn-outline > i{ font-size: 15px; }