.mt-element-card{
    &.mt-card-round{
        .mt-card-item{
            .mt-card-avatar{
                .mt-overlay { @include prefix(border-radius, 50%, webkit moz ms o); }
            }
        }
    }

    .mt-card-item{
		.mt-card-avatar{ margin-bottom: 5px; }

		&.logo img{ max-width: 270px; @extend %center-margin; }
		&.user img{ max-width: 160px; @extend %center-margin; }
		&.favicon img{ max-width: 50px; @extend %center-margin; }
	}
}

.mt-overlay{
    &.bottom-right{
        ul{
            &.mt-info{ top: 80%; right:1%; left: initial; }
        }
    }

    &.top-center{
        ul{
            &.mt-info{ top: 28px; left: calc(50% - 64px); right: initial; }
        }
    }

    &.small{
        ul{
            &.mt-info{
                li{
                    .btn-file{ font-size: 11px; padding: 4px 4px; }
                }
            }
        }
    }
}

.mt-element-overlay{
    .mt-overlay-1 {
        width: 100%;
        height: 150px;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;

        img {
            display: block;
            position: relative;
            @include transition(all .4s linear);
            width: 100%;
            height: auto;
        }

        h2 {
            text-transform: uppercase;
            padding: 10px;
            color: #fff;
            text-align: center;
            position: relative;
            font-size: 17px;
            background: rgba(0,0,0,.6);
            -webkit-transform: translatey(-100px) translateZ(0);
            -ms-transform: translatey(-100px) translateZ(0);
            transform: translatey(-100px) translateZ(0);
            @include transition(all .2s ease-in-out);
        }

        .mt-info {
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            background-color: transparent;
            opacity: 0;
            padding: 0;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            filter: alpha(opacity=0);
            @include transition(all .2s ease-in-out);
            transform: translateY(-50%) translateZ(0);
            -webkit-transform: translateY(-50%) translateZ(0);
            -ms-transform: translateY(-50%) translateZ(0);
            
            > li {
                list-style: none; display: inline-block; margin: 0 3px;
                &:hover { @include transition(all .2s ease-in-out); cursor: pointer; }
            }
        }

        .mt-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: rgba(0,0,0,.7);
            @include transition(all .4s ease-in-out);
        }

        .fotoUsuario{
			a{
				&.centraliza{
					img{ @extend %absolute; }
				}
			}
		}

        &:hover{
            .mt-overlay {
                opacity: 1;
                filter: alpha(opacity=100);
                @include translateZ(0);
            }

            img { @include transform(none); }

            .mt-info { opacity: 1; filter: alpha(opacity=100); -webkit-transition-delay: .2s; transition-delay: .2s; }
        }

        &.mt-scroll-up{
            .mt-overlay { bottom: -100%; top: auto; }

            &:hover{
                .mt-overlay { bottom: 0; }
            }
        }

        &.mt-scroll-down{
            .mt-overlay { top: -100%; }

            &:hover{
                .mt-overlay { top: 0; }
            }
        }

        &.mt-scroll-left{
            .mt-overlay { right: -100%; left: auto; }

            &:hover{
                .mt-overlay { right: 0; }
            }
        }

        &.mt-scroll-right{
            .mt-overlay { left: -100%; } 

            &:hover{
                .mt-overlay { left: 0; }
            }
        }

        &.fotoUsuario{
			&.grande { height: 100px; width: 100px; }
		}

        &.user-photo-container{
			a{
				&.centraliza{
					img{ @extend %absolute; width: auto; }
				}
			}
		}
    }
}