<div class="page-content">
	<h3 class="page-title">
	#if($!id) $!empresa.nome #end
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>#if($!id)$!empresa.nome #else Empresa #end</span></li>
		</ul>
	</div>
	<div class="row content">
		<div class="col-md-12">
			<div class="profile-content">
				<div class="row">
					<div class="col-md-12">
						${form.startTag()}
							<div class="portlet light">
								<div class="portlet-title tabbable-line">
									<div class="caption font-dark">
										<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-briefcase"></i> Dados cadastrais da empresa </span>
									</div>
									<ul class="nav nav-tabs">
										<li class="active"><a href="#empresa" data-toggle="tab">Dados da empresa</a></li>
										<li><a href="#admin" data-toggle="tab">Dados do admin</a></li>
										<li><a href="#layout" data-toggle="tab">Layout</a></li>
										<li><a href="#parametros" data-toggle="tab">Parâmetros</a></li>
									</ul>
								</div>
								<div class="portlet-body clearfix">
									<div class="tab-content">
										<div class="tab-pane active fade in active" id="empresa">
											<div class="form-group">
												<label class="control-label" for="form_nome">Nome </label>
												<div class="input-icon right">$form.fields.nome</div>
											</div>
											<div class="form-group">
												<label class="control-label" for="form_codigo">Código</label>
												<div class="input-icon right">$form.fields.codigo</div>
											</div>
											<div class="form-group">
												<label class="control-label" for="form_dominio">Dominio </label>
												<div class="input-icon right">$form.fields.dominio</div>
											</div>
										</div>
										<div class="tab-pane fade in" id="admin">
											<div class="form-group">
												<label class="control-label" for="form_nomeUsuario">Nome </label>
												<div class="input-icon right">$form.fields.nomeUsuario</div>
											</div>
											<div class="form-group">
												<label class="control-label" for="form_email">E-mail </label>
												<div class="input-icon right">$form.fields.email</div>
											</div>
										</div>
										<div class="tab-pane fade in" id="layout">
											<div class="col-md-12">
												<div class="mt-element-card mt-element-overlay">
													<div class="clearfix col-md-12">
														<div class="form-group clearfix">
															<div class="col-md-6">
																<label class="labelCampo control-label" for="form_web_template_title">Titulo que sera visível na aba do navegador</label>
																<div class="form-group">$form.fields.web_template_title</div>
															</div>
															<div class="col-md-6">
																<label class="labelCampo control-label" for="form_border_copyright_empresa">Copyright que sera mostrado no rodapé da página</label>
																<div class="form-group">$form.fields.border_copyright_empresa</div>
															</div>
														</div>
														<div class="form-group clearfix">
															<div class="col-md-6">
																<div class="mt-card-item background">
																	<div class="mt-card-avatar mt-overlay-1 uploadFotoUsuario">
																		#if($empresa.urlBg)
																			<img src="$!empresa.urlBg">
																		#else
																			<img src="https://s3-sa-east-1.amazonaws.com/livecom-livetouch/null/bg/3dc15a47-35cb-4dfe-8e1d-78e10283ab06_a51152de87c043d4add08fd4a1d253fb_img_back_cielo.jpg">
																		#end
																		#if($mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
																		<div class="mt-overlay">
																			<ul class="mt-info">
																				<li>
																					<div class="fileinput fileinput-new" data-provides="fileinput">
																						<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
																						<div>
																							<span class="btn default btn-file btn-outline btn-background"> <span class="fileinput-new">Fazer upload </span> <input type="file" name="background">
																							</span> <input type="hidden" value="" id="form_arquivoBgId" name="arquivoBgId">
																						</div>
																					</div>
																				</li>
																			</ul>
																		</div>
																		#end
																	</div>
																	<div class="mt-card-content">
																		<h3 class="mt-card-name">Background</h3>
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<label class="labelCampo control-label">Define o background da página de login do sistema</label>
																$form.fields.layout_backgroud
															</div>
														</div>
														<div class="form-group clearfix">
															<div class="col-md-6">
																<div class="mt-card-item logo">
																	<div class="mt-card-avatar mt-overlay-1 uploadFotoUsuario">
																		#if($empresa.urlLogo)
																			<img src="$empresa.urlLogo">
																		#else
																			<img src="https://s3-sa-east-1.amazonaws.com/livecom-livetouch/null/bg/3dc15a47-35cb-4dfe-8e1d-78e10283ab06_a51152de87c043d4add08fd4a1d253fb_img_back_cielo.jpg">
																		#end
																		#if($mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
																		<div class="mt-overlay">
																			<ul class="mt-info">
																				<li>
																					<div class="fileinput fileinput-new" data-provides="fileinput">
																						<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
																						<div>
																							<span class="btn default btn-file btn-outline btn-logo"> <span class="fileinput-new">Fazer upload </span> <input type="file" name="logo">
																							</span> <input type="hidden" value="" id="form_arquivoLogoId" name="arquivoLogoId">
																						</div>
																					</div>
																				</li>
																			</ul>
																		</div>
																		#end
																	</div>
																	<div class="mt-card-content">
																		<h3 class="mt-card-name">Logo</h3>
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<label class="labelCampo control-label">Define a <span class="bs-tooltip font-blue-sharp sbold" title="Logo utilizada no header da página">logo</span> do sistema</label>
																$form.fields.layout_logo
															</div>
														</div>
														<div class="form-group clearfix bleed-divider">
															<div class="col-md-6">
																<div class="mt-card-item favicon">
																	<div class="mt-card-avatar mt-overlay-1 uploadFotoUsuario">
																		#if($empresa.urlFav) <img src="$empresa.urlFav"> #else <img
																			src="https://s3-sa-east-1.amazonaws.com/livecom-livetouch/null/bg/3dc15a47-35cb-4dfe-8e1d-78e10283ab06_a51152de87c043d4add08fd4a1d253fb_img_back_cielo.jpg">
																		#end
																		#if($mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
																		<div class="mt-overlay">
																			<ul class="mt-info">
																				<li>
																					<div class="fileinput fileinput-new" data-provides="fileinput">
																						<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
																						<div>
																							<span class="btn default btn-file btn-outline btn-favicon"> <span class="fileinput-new">Fazer upload </span> <input type="file" name="favicon">
																							</span> <input type="hidden" value="" id="form_arquivoFavId" name="arquivoFavId">
																						</div>
																					</div>
																				</li>
																			</ul>
																		</div>
																		#end
																	</div>
																	<div class="mt-card-content">
																		<h3 class="mt-card-name">Favicon</h3>
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<label class="labelCampo control-label">Define o <span class="bs-tooltip font-blue-sharp sbold" title="Ícone da aba do navegador">favicon</span> do sistema</label>
																$form.fields.layout_favicon
															</div>
														</div>
													</div>
													<div class="clearfix col-md-12">
														<div class="clearfix form-group">
															<div class="col-md-6">
																<div class="mt-card-item capa-user">
																	<div class="mt-card-avatar mt-overlay-1 uploadFotoUsuario">
																		<img class="foto-capa" />
																		#if($mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
																		<div class="mt-overlay">
																			<ul class="mt-info">
																				<li>
																					<div class="fileinput fileinput-new" data-provides="fileinput">
																						<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
																						<div>
																							<span class="btn default btn-file btn-outline btn-capa"> <span class="fileinput-new">Fazer upload </span> <input type="file" name="capa">
																							</span> <input type="hidden" value="" id="form_arquivoMuralCapaId" name="arquivoMuralCapaId">
																						</div>
																					</div>
																				</li>
																			</ul>
																		</div>
																		#end
																	</div>
																	<div class="mt-card-content">
																		<h3 class="mt-card-name">Capa do mural do usuário</h3>
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<label class="labelCampo control-label">Define a foto padrão da capa do mural dos usuários</label>
																$form.fields.layout_capa_mural
															</div>
														</div>
														<div class="clearfix form-group bleed-divider">
															<div class="col-md-6">
																<div class="mt-card-item user">
																	<div class="mt-card-avatar mt-overlay-1 uploadFotoUsuario">
																		<img class="foto-usuario" />
																		#if($mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
																		<div class="mt-overlay">
																			<ul class="mt-info">
																				<li>
																					<div class="fileinput fileinput-new" data-provides="fileinput">
																						<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
																						<div>
																							<span class="btn default btn-file btn-outline btn-foto-user"> <span class="fileinput-new">Fazer upload </span> <input type="file" name="user">
																							</span> <input type="hidden" value="" id="form_arquivoFotoId" name="arquivoFotoId">
																						</div>
																					</div>
																				</li>
																			</ul>
																		</div>
																		#end
																	</div>
																	<div class="mt-card-content">
																		<h3 class="mt-card-name">Thumb de usuário</h3>
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<label class="labelCampo control-label">Define a foto padrão para usuários</label>
																$form.fields.usuario_foto_default
															</div>
														</div>
														<div class="clearfix form-group bleed-divider">
															<div class="col-md-6">
																<div class="mt-card-item grupo">
																	<div class="mt-card-avatar mt-overlay-1 uploadFotoUsuario">
																		<img class="foto-grupo" />
																		#if($mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
																		<div class="mt-overlay">
																			<ul class="mt-info">
																				<li>
																					<div class="fileinput fileinput-new" data-provides="fileinput">
																						<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
																						<div>
																							<span class="btn default btn-file btn-outline btn-foto-grupo"> <span class="fileinput-new">Fazer upload </span> <input type="file" name="grupo">
																							</span> <input type="hidden" value="" id="form_arquivoCapaGrupoId" name="arquivoCapaGrupoId">
																						</div>
																					</div>
																				</li>
																			</ul>
																		</div>
																		#end
																	</div>
																	<div class="mt-card-content">
																		<h3 class="mt-card-name">Thumb de grupos</h3>
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<label class="labelCampo control-label">Define a foto padrão para grupos</label>
																$form.fields.layout_thumb_grupo
															</div>
														</div>
													</div>
													<div class="clearfix col-md-12">
														<div class="clearfix">
															<div class="form-group col-md-4">
																<label class="control-label labelCampo">Cor do Header</label>
																$form.fields.cor_menu
															</div>
															<div class="form-group col-md-4">
																<label class="control-label labelCampo">Cor do input de busca do header</label>
																$form.fields.cor_busca
															</div>
															<div class="form-group col-md-4">
																<label class="control-label labelCampo">Cor das badges de notificação</label>
																<div class="clearfix">
																	<div class="col-xs-6">$form.fields.cor_badge_span</div>
																	<div class="col-xs-6">$form.fields.cor_badge_text</div>
																</div>
																<div class="clearfix badge-color-holder">
																	<span class="notifications show badge-color">5</span>
																	<i class="linear-icons icone-bell-o"></i>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade in" id="parametros">
											<div class="col-md-12">
												<div class="col-md-3">
													<ul class="ver-inline-menu tabbable margin-bottom-10 ">
														<li class="active"><a data-toggle="tab" href="#chat" aria-expanded="true"> <i class="fa fa-comments" aria-hidden="true"></i> Chat</a><span class="after"> </span></li>
														<li><a data-toggle="tab" href="#email" aria-expanded="true"> <i class="fa fa-envelope" aria-hidden="true"></i> Email</a></li>
														<li><a data-toggle="tab" href="#mural" aria-expanded="true"> <i class="fa fa-inbox" aria-hidden="true"></i> Mural</a></li>
														<li><a data-toggle="tab" href="#push" aria-expanded="true"> <i class="fa fa-mobile" aria-hidden="true"></i> Push</a> </li>
														<li><a data-toggle="tab" href="#senha" aria-expanded="true"> <i class="fa fa-key" aria-hidden="true"></i> Senha</a></li>
													</ul>
												</div>
												<div class="col-md-9">
													<div class="tab-content fixedHeight">
														<div id="push" class="tab-pane subtab fade in">
															<table class="table">
																<tbody>
																	<tr>
																		<td colspan="2">
																		<div class="tab-pane fade in active" >
																			<label class="control-label labelCampo bordered-msg">Push</label>
																		</div>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Defina suas configurações de envio de push</td>
																	</tr>
																</tbody>
															</table>
															<table class="table table-bordered">
																<tbody>
																	<tr>
																		<td class="tooltip-livecom" title="Usuário pode enviar pushs">Ativar envio de push</td>
																		<td style="width: 50px;">$form.fields.push_on</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Ativar checkbox de enviar push na postagem">Ativar checkbox para envio de push</td>
																		<td>$form.fields.push_checkBoxOn</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Checkbox de enviar push na postagem já vem marcado por padrão ao criar postagem">Checkbox de envio de push marcado ao criar postagem</td>
																		<td>$form.fields.push_checkBox_checked</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Enviar push para o autor da postagem">Push para autor da postagem</td>
																		<td>$form.fields.push_post_autor_recebe_on</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Enviar push para o autor do comentário">Push para autor do comentário</td>
																		<td>$form.fields.push_comentario_autor_recebe_on</td>
																	</tr>	
																</tbody>
															</table>
														</div>
														<div id="mural" class="tab-pane subtab fade in">
															<table class="table">
																<tbody>
																	<tr>
																		<td colspan="2">
																		<div class="tab-pane fade in active" >
																			<label class="control-label labelCampo bordered-msg">Mural</label>
																		</div>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Defina os componentes que serão visíveis no mural</td>
																	</tr>
																</tbody>
															</table>
															<table class="table table-bordered">
																<tbody>
																	<tr>
																		<td class="tooltip-livecom" title="Componentes com acesso rapido à grupos, usuarios, categorias e tags">Sidebox</td>
																		<td>$form.fields.web_layout_sideBox</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Título obrigatório nas publicações">Título obrigatório</td>
																		<td>$form.fields.mural_post_titulo_obrigatorio_on</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Habilitar marcação de tags ao criar ou editar um comunicado">Tags</td>
																		<td>$form.fields.mural_tags_on</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Habilitar marcação de chapéu/subcategoria ao criar ou editar um comunicado">Chapéu/Subcategoria</td>
																		<td>$form.fields.mural_chapeu_on</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Habilitar o campo de resumo ao criar ou editar um comunicado">Resumo</td>
																		<td>$form.fields.mural_resumo_on</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Habilitar horário para agendamento nas postagens">Horário de publicação</td>
																		<td>$form.fields.mural_hora_on</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Habilitar a funcionalidade de salvar uma postagem como rascunho">Rascunho</td>
																		<td>$form.fields.mural_rascunho_on</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Habilitar envio de arquivos ao postar ou editar um comunicado">Enviar Arquivos</td>
																		<td>$form.fields.mural_enviar_arquivos_on</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Habilitar checkbox de destaque na postagem">Destacar post</td>
																		<td>$form.fields.destacar_post_on</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div id="chat" class="tab-pane active subtab fade in">
															<table class="table">
																<tbody>
																	<tr>
																		<td colspan="2">
																		<div class="tab-pane fade in active" >
																			<label class="control-label labelCampo bordered-msg">Chat</label>
																		</div>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Ativar e configurar funcionalidades do chat</td>
																	</tr>
																</tbody>
															</table>
															<table class="table table-bordered">
																<tbody>
																	<tr>
																		<td class="tooltip-livecom" title="Habilitar funcionalidade de chat">Ativar Chat</td>
																		<td style="width: 50px;">$form.fields.chat_on</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div id="senha" class="tab-pane subtab fade in">
															<table class="table">
																<tbody>
																	<tr>
																		<td colspan="2">
																		<div class="tab-pane fade in active" >
																			<label class="control-label labelCampo bordered-msg">Senha</label>
																		</div>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Configuração padrão para cadastro e recuperação de senha</td>
																	</tr>
																</tbody>
															</table>
															<table class="table table-bordered">
																<tbody>
																	<tr>
																		<td class="tooltip-livecom" title="Utilizar senha padrão para novos usuarios">Utilizar senha randomica ou senha padrão para novos usuários</td>
																		<td class="fix-bsw">$form.fields.user_senha_padrao_on</td>
																	</tr>
																	<tr>
																		<td class="tooltip-livecom" title="Senha padrão">Senha padrão</td>
																		<td>$form.fields.user_cadastro_senha</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div id="email" class="tab-pane subtab fade in">
															<table class="table">
																<tbody>
																	<tr>
																		<td colspan="2">
																		<div class="tab-pane fade in active" >
																			<label class="control-label labelCampo bordered-msg">E-mail</label>
																		</div>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">Configurações de envio de e-mail</td>
																	</tr>
																</tbody>
															</table>
															<table class="table table-bordered">
																<tbody>
																	<tr>
																		<td class="tooltip-livecom" title="E-mail do remetente">E-mail remetente</td>
																		<td>
																			<div class="form-group">$form.fields.email_email_admin</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix text-right">
									<div class="margin-top-10">
										<a href="$context/configuracoes/" class="btn btn-default min-width"> Cancelar </a>
										$form.fields.salvar 
									</div>
								</div>
							</div>
						${form.endTag()}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalArea" role="dialog" aria-labelledby="modalArea" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-list-alt"></span> Preview
					</h4>
					<iframe class="previewLayout"></iframe>
				</div>
				
			</div>
		</form>
	</div>
</div>

<!-- modal menu -->
<div class="modal fade" id="modalMenu" role="dialog" aria-labelledby="modalMenu" tabindex="-1">
	<div class="modal-dialog" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-list-alt"></span> Menu
					</h4>
				</div>
				<div class="modal-body text-center">
					<div class="clearfix modal-padding spinner-content">
	      			<div class="paginaAtual" data-page="-1"></div>
	      		</div>
					<div class="clearfix modal-padding success-content">
	      			<div class="uppercase profile-stat-title icon"><i class="fa fa-check fa-3x font-green-jungle" aria-hidden="true"></i></div>
	      			<h3>Perfil atualizado com as permissões padrões!</h3>
	      		</div>
	      		<div class="clearfix modal-padding error-content">
	      			<div class="uppercase profile-stat-title icon"><i class="fa fa-exclamation-triangle fa-3x font-yellow-gold" aria-hidden="true"></i></div>
	      			<h3>Algo deu errado. Por favor, tente novamente</h3>
	      		</div>
     	      </div>
			</div>
		</form>
	</div>
</div>
<script>
$(document).ready(function() {
		
	var urlForm = $('form').attr('action');
						
	$('a[data-toggle="tab"]').click(function() {
		var tab = $(this).attr("href");
		var isSubTab = $("#parametros").find(tab);
		var url = urlForm;
		if(isSubTab.length == 0 && $(tab).attr('id') == 'parametros') {
			url += '?tab1=parametros&tab2=chat';
		} else if(isSubTab.length == 0) {
			url += '?tab1=' + tab.replace("#", "");
		} else if(isSubTab.length > 0){
			url += '?tab1=parametros&tab2=' + tab.replace("#", "");
		}
		$('form').attr('action', url);
		
		setTimeout(function(){
			var firstInput = $(tab).find("input[type=text]:not(.minicolors-input)")[0];  
			if(firstInput){
				firstInput.focus();	
			}
		}, 200);
	});
						
	#if($tab1)
		var tab1 = $('a[href="#$!tab1"]');
		var url = urlForm + "?tab1=$!tab1";
		$('.nav.nav-tabs').find('li.active').removeClass('active');
		tab1.parent().addClass('active');
		$(".tab-pane").removeClass('active');
		$("#$tab1").addClass('active');
		
		#if($tab2)
			var tab2 = $('a[href="#$!tab2"]');
			$('.ver-inline-menu').find('li.active').removeClass('active');
			tab2.parent().addClass('active');
			$(".tab-pane.subtab").removeClass('active');
			$("#$tab2").addClass('active');
			url += "&tab2=$!tab2";
			$('form').attr('action', url);
		#end
	#end

	var referencia = document.referrer;

	if (referencia.indexOf("projeto") != -1) {
		function activaTab(tab) {
			$('.nav-tabs a[href="#' + tab + '"]').tab('show');
		}
		;

		activaTab('parametros');
	}

	$(".bootstrap").bootstrapSwitch();

	pushOptions($('#form_pushOn').bootstrapSwitch('state'));

	$('#form_pushOn').on('switchChange.bootstrapSwitch',function(e, data) {
		pushOptions(data);
	});

	#if(!$form.fields.user_senha_padrao_on.isChecked())
		
		var tr = $("#$form.fields.user_senha_padrao_on.id").closest('tr').next();
		$(tr).hide();
	#end
	
	$("#$form.fields.user_senha_padrao_on.id").on('switchChange.bootstrapSwitch', function(event, state) {
		var tr = $("#$form.fields.user_senha_padrao_on.id").closest('tr').next();
		if(state) {
			$(tr).show();
		} else {
			$(tr).hide();
		}
	});
	
	function pushOptions(data) {
		if (data) {
			$('#form_pushCheckboxOn').bootstrapSwitch('disabled', false);
			$('#form_pushCheckboxChecked').bootstrapSwitch('disabled', false);
		} else {
			$('#form_pushCheckboxOn').bootstrapSwitch('state', false).bootstrapSwitch( 'disabled', true);
			$('#form_pushCheckboxChecked').bootstrapSwitch('state', false).bootstrapSwitch('disabled', true);
		}
	}
						
	jsValidator({
		form : 'form',
		rules : {
			nome : {
				minlength : 2,
				required : true
			},
			dominio : {
				minlength : 2,
				required : true
			},
			grupoPadrao : {
				minlength : 2,
				required : true
			},
			email : {
				minlength : 2,
				required : true,
				email : true
			},
			nomeUsuario : {
				minlength : 2,
				required : true,
			}
		}
	});

	$('.minicolors-input').minicolors({
		change : function(value) {
			var nome = $(this).attr('name');
			var element = null;

			if (nome == 'cor_menu') {
				element = ".navbar-inverse";
			} else if (nome == 'cor_busca') {
				element = '.fundo-busca input#busca';
			} else if (nome == 'cor_badge_span' || nome == 'cor_badge_text') {
				element = 'span.badge-color';
			}

			if (element != null) {
				if(nome == 'cor_badge_text'){
					$(element).css('color', value);
				}else{
					$(element).css('background', value);	
				}
			}
		}
	});

	var uploadImage = function(element, properties) {
		properties.url = urlContext + '/ws/uploadFile.htm';
		properties.method = "POST";
		properties.formData = {
			'dir' : 'arquivos',
			'descricao' : '',
			'tipo' : '1',
			'user_id' : userId,
			'mode' : 'json',
			'form_name' : 'form'
		};
		properties.allowedTypes = "psd,jpg,jpeg,png,gif,doc,pdf,zip,rar,docx,xls,odt,xlsx,tar,gz,txt,rtf,csv,ico";
		properties.fileName = "fileField";
		properties.showDelete = false;
		properties.showAbort = false;
		properties.maxFileSize = 1024 * 5120; //5mb,
		properties.dragDrop = false;
		properties.multiple = false;
		properties.uploadButtonClass = "btn default btn-file btn-outline ";
		$(element).uploadFile(properties);
	};

	uploadImage('.btn-background', {
		onSubmit : function(files) {
			$(".mt-card-item.background").append('<i class="icones ac_loading"></i>');
		},
		onSuccess : function(files, data, xhr) {
			$(".mt-card-item.background").find('.icones.ac_loading').remove();
			$(".mt-card-item.background").find('img').attr("src", data.file.urlThumb);
			$("#form_layout_backgroud").val(data.file.urlThumb);
			$("#form_arquivoBgId").val(data.file.id);
		},
		onError : function(files, data, errMsg) {
		}
	});
	uploadImage('.btn-logo', {
		onSubmit : function(files) {
			$(".mt-card-item.logo").append('<i class="icones ac_loading"></i>');
		},
		onSuccess : function(files, data, xhr) {
			$(".mt-card-item.logo").find('.icones.ac_loading').remove();
			$(".mt-card-item.logo").find('img').attr("src",data.file.urlThumb);
			$("#form_layout_logo").val(data.file.urlThumb);
			$("#form_arquivoLogoId").val(data.file.id);
		},
		onError : function(files, data, errMsg) {
		}
	});
	uploadImage('.btn-favicon', {
		onSubmit : function(files) {
			$(".mt-card-item.favicon").append('<i class="icones ac_loading"></i>');
		},
		onSuccess : function(files, data, xhr) {
			$(".mt-card-item.favicon").find('.icones.ac_loading').remove();
			$(".mt-card-item.favicon").find('img').attr("src", data.file.urlThumb);
			$("#form_layout_favicon").val(data.file.urlThumb);
			$("#form_arquivoFavId").val(data.file.id);
		},
		onError : function(files, data, errMsg) {
		}
	});
	/*  */
	uploadImage('.btn-capa', {
		onSubmit : function(files) {
			$(".mt-card-item.capa-user").append('<i class="icones ac_loading"></i>');
		},
		onSuccess : function(files, data, xhr) {
			$(".mt-card-item.capa-user").find('.icones.ac_loading').remove();
			$(".mt-card-item.capa-user").find('img').attr("src",data.file.urlThumb);
			$("#form_layout_capa_mural").val(data.file.urlThumb);
			$("#form_arquivoMuralCapaId").val(data.file.id);
		},
		onError : function(files, data, errMsg) {
		}
	});
	uploadImage('.btn-foto-user', {
		onSubmit : function(files) {
			$(".mt-card-item.user").append('<i class="icones ac_loading"></i>');
		},
		onSuccess : function(files, data, xhr) {
			$(".mt-card-item.user").find('.icones.ac_loading').remove();
			$(".mt-card-item.user").find('img').attr("src", data.file.urlThumb);
			$("#form_usuario_foto_default").val(data.file.urlThumb);
			$("#form_arquivoFotoId").val(data.file.id);
		},
		onError : function(files, data, errMsg) {
		}
	});
	uploadImage('.btn-foto-grupo', {
		onSubmit : function(files) {
			$(".mt-card-item.grupo").append('<i class="icones ac_loading"></i>');
		},
		onSuccess : function(files, data, xhr) {
			$(".mt-card-item.grupo").find('.icones.ac_loading').remove();
			$(".mt-card-item.grupo").find('img').attr("src", data.file.urlThumb);
			$("#form_layout_thumb_grupo").val(data.file.urlThumb);
			$("#form_arquivoFotoGrupoId").val(data.file.id);
		},
		onError : function(files, data, errMsg) {
		}
	});
	
	var fotoCapa = $("#form_layout_capa_mural").val()	;
	if(fotoCapa && fotoCapa != ""){
		$("img.foto-capa").attr("src", fotoCapa);
	}else{
		$("img.foto-capa").attr("src", "$context/img/capa.png");
	}
	
	var fotoUser = $("#form_usuario_foto_default").val();
	if(fotoUser && fotoUser != ""){
		$("img.foto-usuario").attr("src", fotoUser);
	}else{
		$("img.foto-usuario").attr("src", "$context/img/user.png");
	}
	
	var fotoGrupo = $("#form_layout_thumb_grupo").val();
	if(fotoGrupo && fotoGrupo != ""){
		$("img.foto-grupo").attr("src", fotoGrupo);
	}else{
		$("img.foto-grupo").attr("src", "$context/img/grupo.jpg");
	}
	

}); //fim ready
	
	$(".sendtrial").on("click",function(e) {
		var id = $id;
		$("#modalSuccess").modal('show');
		$(".spinner-content").show();
		jQuery.ajax({
			type: "POST",
			url: "$context/rest/v1/empresa/trial/send/"+id,
			success: function(data){
				if(Object.keys(data).length > 0){
					if(data.status && data.status == "OK"){
						$(".spinner-content, .error-content").hide();
						$(".success-content").fadeIn();
					}
				}
			},
			error: function(data){
				$(".spinner-content, .success-content").hide();
				$(".error-content").fadeIn();
			}
		});
	});
	
	$("#menu_padrao").on("click",function(e) {
		var id = $id;
		$("#modalMenu").modal('show');
		$(".spinner-content").show();
		jQuery.ajax({
			type: "PUT",
			url: "$context/rest/v1/perfil/default/"+id,
			success: function(data){
				if(Object.keys(data).length > 0){
					if(data.status && data.status == "OK"){
						$(".spinner-content, .error-content").hide();
						$(".success-content").fadeIn();
					}
				}
			},
			error: function(data){
				$(".spinner-content, .success-content").hide();
				$(".error-content").fadeIn();
			}
		});
	});
</script>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>