#if($mode == "image")
<img src="$url" >
#else
<div class="titulo">Web Service - Get File</div>
<div class="form"><br />$form</div>
#if($url)
<br>
<a href="$url">${dir}/${file}</a>
#end
#set($msg = $session.msg)
#if($msg)
<div class="msgSuccess">$msg</div>
#end
#end
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>