<div class="titulo">Web Service - Usuários do grupo de mensagens</div>

<div class="form"><br />
$form

</div>
#parse("/msg.htm")
<br />
$!table
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>