<div class="titulo">Web Service - Publicar no Mural</div>

<div class="form"><br />
$form

##$form.fields.titulo

</div>
#parse("/msg.htm")
<br />
$!table
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>