<div class="titulo">Web Service - Upload</div>
<div class="form"><br />$form</div>
#if($arquivo)
<a href="http://www.livetouchdev.com.br/uploader/uploads/$arquivo">http://www.livetouchdev.com.br/uploader/uploads/$arquivo</a>
#end
$!msgError
$!msg
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>