<div class="degrade">
<div class="largura clearfix paddingDeslogado">  
<h2 class="titulo fundoCinza tituloAdmin">
	<span><strong>Categorias</strong></span>
</h2>
<div class="botoestabela clearfix">
	<a href="categ.htm" class="botaoMenu">Novo +</a>
</div>
<div class="botoesExpandir">
<a href="#" class="btExpandir"><i class="expandirTodos"></i><span>Expandir Todos</span></a>
<a href="#" class="btRecolher"><i class="recolherTodos"></i><span>Recolher Todos</span></a>
</div>
<div id="categorias">
$tree
</div>
#if($treeNode)
    $treeNode
    <br>
    Categ: $categ
    <br>
    Path: $categ.path
#end
</div>
</div>
#parse("/msg.htm")