<div class="degrade">
<div class="largura clearfix paddingDeslogado">  
<h2 class="titulo fundoCinza tituloAdmin">
	<span><strong>Posts</strong></span>
</h2>
<div class="botoestabela clearfix">
	<a href="post.htm" class="botaoMenu">Novo +</a>
</div>
$table
</div>
</div>
#parse("/msg.htm")