<div class="tab-pane fade in #if($tab == 'solicitacao') active #end" id="tab_solicitacoes">
	<div class="clearfix">
		<div class="portlet light">
			<div class="portlet-title"></div>
			<div class="portlet-body">
				<div class="clearfix">
					<div class="row col-md-12">
                 	<table id="table-solicitacoes-grupo" class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
                    	<thead>
                    		<tr>
									<th colspan="3" class="table-header bg-blue font-white">Usuários que solicitaram participação no grupo</th>
								</tr>
                       	<tr>
                          	<th>Nome</th>
                             <th>Login</th>
                             <th class="three-buttons">Detalhes</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
