.crop-icons{
	display: block;
	float: left;
	background: url(../../img/cropit/imagecrop_icons.svg) no-repeat;
	height: 24px;
	width: 24px;

	&.trash{
		background-position: -24px 0px;
	}
}

.crop-crown-icon{
    background: url(../../img/cropit/icn_coroa.svg) no-repeat center center;
    width: 25px;
    height: 30px;
    display: block;
    float: left;
    position: absolute;
    left: 50px;
    top: 10px;
    border: 1px solid #fff;
    @include prefix(border-radius, 4px, webkit moz ms o);
    @include transition(all ease-in-out 150ms);
    @include prefix(box-shadow, 0 1px 4px 2px #222, webkit moz ms o);

    &.ac_loading{ background-position: center center!important; }
	

	&:hover, &.img-destaque{
		border: none;
	}

	&.img-destaque{ background-color: #FFB410; }
	&:hover{ background-color: #2CBD9A; }
}

.crop-rotate-icon{
	background: url(../../img/cropit/icn_girar_cinza.svg) 4px 2px no-repeat;
	width: 24px;
	height: 24px;
	display: block;
	float: left;

	&.active{
		background: url(../../img/cropit/icn_girar_branco.svg) 4px 2px no-repeat;
	}
}

.img-descri{
	.form-control{ padding-right: 25px; }

	.charNum {
	    position: absolute;
	    right: 4px;
	    bottom: 1px;
	    color: #e44c34;
	    font-size: 12px;
	    display: block;
	    z-index: 2;
	}
}