//variaveis de cor

$menu-bg: #313947;


/* grey shades */
$black: #000;

$grey1: #111;

$grey2: #222;

$grey3: #333;

$grey4: #444;
$grey42: #424242;
$grey4c: #4c4c4c;


$grey5: #555;


$grey6: #666;
$grey61: #616161;


$grey7: #777;
$grey75: #757575;


$grey8: #888;


$aaa: #aaa;


$bbb: #bbb;


$ccc: #ccc;

$d8: #d8d8d8;
$ddd: #ddd;


$e6: #e6e6e6;
$eee: #eee;


$f5: #f5f5f5;
$f8: #f8f8f8;
$fa: #fafafa;
$white: #fff;


$content-background: #edf1f3;


$primary-color: #0096d0;
$secondary-color: #0e709c;
$menu: #313947;


$matisse: #196f9a;

$bondi-blue: #0086BA;

$merino: #FBF9F4;
$gambogeish-white: #FFF3D9;


$greyish-orange: #666156;
$green-android: #a4c639;




$menuBlue: #042535;

$livecomBlue2: #0e709c;
$orange: #d3531a;

$darkBlueGrey: #112233;

$blueBorder: #307da4;

$coolBlue: #064F6F;

$green00: #00aea0;


$precoAmarelo: #F8B21C;
$bordaPrecoAmavelo: #F5A623;


/* mdl */
$mdl--purple: #3f51b5;
$mdl--indigo: #4051B5;
$mdl--blue: #2196F3;
$mdl--light-blue: #00A9F4;
$mdl--cyan: #00BCD4;
$mdl--teal: #009688;
$mdl--blue-grey: #607D8B;
$mdl--grey: #9E9E9E;



$precoVerde: #00AEA0;


$blueLinkBS: #337ab7;

$greenJungle: #26C281;

$tomato: #f05638;

$bluePrice: #0d3c50;

$modalTitleOK: #0094ce;
$modalTitleNOK: #fcad22;
$modalTitleSpinner: #06386a;

/* sections */
$blueSection: #0a86b7;
$greySection: #3b4b5b;
$contatoSection: #283c50;
$greyFooter: #5e6872;




$noteHeader: #6ab0de;

$colorTextForm: #9df4ff;

$footerBorder: rgba(255, 255, 255, 0.5);