<div class="degrade">
<div class="largura clearfix paddingDeslogado">  
<h2 class="titulo fundoCinza tituloAdmin">
	<span><strong>CategoriaPost</strong></span>
</h2>
$form

#if($treeNode)
    $treeNode
    <Br>
    Categ: $categ
#end
</div>
</div>
#parse("/msg.htm")
