<div class="degrade">
<div class="largura clearfix paddingDeslogado">  
<h2 class="titulo fundoCinza tituloAdmin">
	<span><strong>Parâmetros</strong></span>
</h2>
$formNovo
$form
</div>
</div>
#parse("/msg.htm")