<script>
function processURL(url, callback){
	var id;
	if (url.indexOf('youtube.com') > -1) {
		url = url.replace('http://', '');
		if (url.indexOf('v=') > -1){
	    	id = url.split('v=')[1].split('&')[0];
		}else if(url.indexOf('/embed/') > -1){
			id = url.split('/embed/')[1];
		}
	    return processYouTube(id, callback);
	} else if (url.indexOf('youtu.be') > -1) {
		url = url.replace('http://', '');
		url = url.split('?')[0];
		id = url.split('/')[1];
	    return processYouTube(id, callback);
	} else if (url.indexOf('vimeo.com') > -1) {
		vimeo_Reg = /https?:\/\/(?:www\.)?vimeo.com\/(?:channels\/|groups\/([^\/]*)\/videos\/|album\/(\d+)\/video\/|)(\d+)(?:$|\/|\?)/;
		id = url.match(vimeo_Reg);
		if (id){
			jQuery.ajax({
		        url: 'http://www.vimeo.com/api/v2/video/' + id[3] + '.json',
		        dataType: 'jsonp',
		        success: function(data) {
		        	callback(data[0].thumbnail_large);
		        }
		    });
		}else{
			callback('0');
		}
	} else {
		callback('0');
	}
	function processYouTube(id, callback) {
	    if (!id) {
	    	callback('0');
	    }
	    callback('http://i2.ytimg.com/vi/' + id + '/hqdefault.jpg');
	    //callback('http://i2.ytimg.com/vi/' + id + '/default.jpg');
	}
}
$(document).ready(function(){
	$("#form_urlVideo").on("blur", function(){
		var link = $(this).val();
		if($("#form_urlImagem").val() == ""){
			$("#form_urlImagem").addClass("input_loading");
			processURL(link, function(thumb_url){
				if(thumb_url != '0'){
					$("#form_urlImagem").val(thumb_url)
				}
				$("#form_urlImagem").removeClass("input_loading");
			});
		}
	});
});
</script>

<div class="degrade">
<div class="largura clearfix paddingDeslogado">  
<h2 class="titulo fundoCinza tituloAdmin">
	<span><strong>Post</strong></span>
</h2>
$form
</div>
</div>
#parse("/msg.htm")