.tab-content{ position: relative; }

.portlet{
    margin-top: 0;
    margin-bottom: 25px;
    padding: 12px 20px 15px;
    background-color: #fff;
    position: relative;
    @include prefix(border-radius, 4px, webkit moz ms o);

    &.p-x-0{ padding: 12px 0 15px; }

    &.noMargin{ @extend %no-margin-bottom; }

    .tabbable-line{
        > .tab-content{ @extend %no-padding-bottom; }
    }

    > .portlet-title {
        border-bottom: 1px solid #eee;
        @extend %no-padding;
        @extend %no-margin-bottom;
        min-height: 48px;
        @include prefix(border-radius, 4px 4px 0 0, webkit moz ms o);

        &:after, &:before{ content: " "; display: table; }

        .info-file-name{
			overflow: hidden; text-overflow: ellipsis; word-wrap: break-word;
			white-space: nowrap; display: block; float: left; margin: 0 0 0 10px; max-width: 400px;
		}

        > .caption {
            float: left; display: inline-block; font-size: 18px; line-height: 18px; padding: 10px 0;
            
            &.bold { font-weight: 600; }
            
            > .caption-subject { font-size: 16px; }

            > i { color: #777; font-size: 15px; font-weight: 300; margin: 3px 5px 0 0; float: left; }
            
            .btn-default { color: #666; }
        }

        > .actions {
            float: right; @extend %inline-block; padding: 6px 0 14px; @extend %relative;

			form{ margin-right: 5px; float: left; }
            
            > .dropdown-menu{
                i { color: #555; }
            }

            .btn-icon-only { height: 27px; width: 27px; }

            .dropdown-menu{
                li{
                    > a { color: #555; }
                }
            }

            &.select{ margin-left:5px; }
            &.left{ @extend %float-left; }

            > .btn{
                @extend %portlet-actions-btn;

                > i { font-size: 14px; }
                
                &.btn-sm{
                    @extend %portlet-actions-btn;
                    &.btn-default{ @extend %portlet-actions-btn-default; }
                        > i { font-size: 14px; }
                    }

                &.btn-default{ @extend %portlet-actions-btn-default; }
            }
            
            > .btn-group{
                > .btn{
                    @extend %portlet-actions-btn;

                    > i { font-size: 14px; }
                
                    &.btn-sm{
                        @extend %portlet-actions-btn;
                        &.btn-default{ @extend %portlet-actions-btn-default; }
                        > i { font-size: 14px; }
                    }
                    
                    &.btn-default{ @extend %portlet-actions-btn-default; }
                }
            }
        }

        > .nav-tabs {
            background: 0 0; margin: 1px 0 0; float: right; display: inline-block; border: 0;

            &.full-width{ width: 100%; }

            > li {
                margin: 0; padding: 0; background: 0 0; border: 0;

                > a{
                    background: 0 0; margin: 0; padding: 12px 13px 13px; color: #666; font-size: 13px;

                    &.disabled{ opacity: .6; }

                    &.upload-tab{
                        padding: 0;

                        > i{ font-size: 30px; line-height: 43px; }
                    }
                }

                &.active, &:hover{
                    > a { margin: 0; background: 0 0; color: #333; }
                }
            }
        }
    }

    > .portlet-body{
        @include prefix(border-radius, 0 0 4px 4px, webkit moz ms o);
        padding-top: 25px;
        padding-bottom: 20px;
        margin: 0 auto;
        position: relative;
        @extend %total-width;

        p{ @extend %no-margin-top; }

        &.toggled{
			display: none;

			.quebraLinhaForm{
				label, .campoPost{ font-size: 12px; }
			}
		}

        .listaNotify, .listaNotify-reminder {
            li{
                a{ &.clearfix{ width: 100%; } }
            }
        }
    }

    hr { margin: 20px 0; }

    &.notifies{ @extend %hidden; }
    &.form { display: block; padding: 12px 20px 15px !important; }
}