<div class="page-content">
	<h3 class="page-title">$!arquivo.id - $!arquivo.nome
		#if($!ARQUIVOS || $!ACESSO_CADASTROS)
			#if($!session.userInfo.id == $!arquivo.usuario.id || $!session.userInfo.isAdmin())
			<span class="botoesHeader noBorder">
				<div class="actions">
					<div class="btn-group">
						<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Ações <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu pull-right">
							<li><a href="$context/cadastro/arquivo.htm?id=$!arquivo.id" class=""><i class="fa fa-pencil-square-o"></i> Editar Arquivo</a></li>
							<li><a class="remove-file" data-id="$!arquivo.id" data-file="$!arquivo.nome"><i class="fa fa-trash"></i> Excluir Arquivo</a></li>
						</ul>
					</div>
				</div>
			</span>
			#end
		#end
	</h3>
	
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Arquivos</span><i class="fa fa-angle-right"></i></li>
			<li class="arquivos"></li>
			<li><span>$!arquivo.id - $!arquivo.nome</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="profile-sidebar">
				<!-- PORTLET MAIN -->
				<div class="portlet light profile-sidebar-portlet">
					<!-- SIDEBAR USERPIC -->
						<div class="profile-userpic absolute-img">
							<div class="mt-element-card mt-element-overlay">
								<div class="col-md-12">
									<div class="mt-card-item clearfix">
										<div class="mt-card-avatar mt-overlay-1 spinner-blue menor"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- END SIDEBAR USERPIC -->
                  
                  <!-- SIDEBAR USER TITLE -->
						<div class="profile-usertitle no-border">
							<div class="profile-usertitle-name">
								<a href="#">$!arquivo.nome</a>
							</div>
						</div>
						<!-- END SIDEBAR USER TITLE -->
                  
				</div>
				<!-- PORTLET MAIN -->
				
				<div class="portlet light">
					<!-- STAT -->
					<div class="row list-separated profile-stat">
						<div class="col-md-12 col-sm-12 col-xs-12">
							#if($!arquivo.extensao.toLowerCase() == "jpg" || $!arquivo.extensao.toLowerCase() == "jpeg" || $!arquivo.extensao.toLowerCase() == "png" || $!arquivo.extensao.toLowerCase() == "gif" || $!arquivo.extensao.toLowerCase() == "ico")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-image-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Imagem</div>
							#elseif($!arquivo.extensao.toLowerCase() == "pdf")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">PDF</div>
							#elseif($!arquivo.extensao.toLowerCase() == "ppt" || $!arquivo.extensao.toLowerCase() == "pptx" || $!arquivo.extensao.toLowerCase() == "pps" || $!arquivo.extensao.toLowerCase() == "ppsx")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Apresentação de Slide(s)</div>
							#elseif($!arquivo.extensao.toLowerCase() == "rtf" || $!arquivo.extensao.toLowerCase() == "doc" || $!arquivo.extensao.toLowerCase() == "docx" || $!arquivo.extensao.toLowerCase() == "txt" || $!arquivo.extensao.toLowerCase() == "odt")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Arquivo de texto</div>
							#elseif($!arquivo.extensao.toLowerCase() == "xls" || $!arquivo.extensao.toLowerCase() == "xlsx")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-excel-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Planilha Excel</div>
							#elseif($!arquivo.extensao.toLowerCase() == "mp4" || $!arquivo.extensao.toLowerCase() == "3gp")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-video-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Vídeo</div>
							#elseif($!arquivo.extensao.toLowerCase() == "mp3")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-audio-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Áudio</div>
							#elseif($!arquivo.extensao.toLowerCase() == "zip" || $!arquivo.extensao.toLowerCase() == "rar" || $!arquivo.extensao.toLowerCase() == "tar" || $!arquivo.extensao.toLowerCase() == "gz")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-archive-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Arquivo compactado</div>
							#elseif($!arquivo.extensao.toLowerCase() == "csv")
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Arquivo CSV</div>
							#else
								<div class="uppercase profile-stat-title icon"><i class="fa fa-file" aria-hidden="true"></i></div>
								<div class="uppercase profile-stat-text">Arquivo</div>
							#end
						</div>
					</div>
					<!-- END STAT -->
				</div>
				<!-- END PORTLET MAIN -->
                    
			</div>
			<!-- PROFILE SIDEBAR -->
         
			<div class="profile-content user">
				<div class="portlet light">
					<div class="portlet-title tabbable-line">
						<div class="caption left caption-md">
							<i class="fa fa-file font-blue"></i> <span class="caption-subject font-blue bold uppercase info-file-name">$!arquivo.id - $!arquivo.nome</span>
						</div>
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab_dados" data-toggle="tab">Dados do Arquivo</a></li>
							<li><a class="previewFile" data-name="$!arquivo.nome" data-ext="$!arquivo.extensao" data-link="$!arquivo.url" data-url="$!arquivo.url">Preview</a></li>
						</ul>
					</div>
					<div class="portlet-body">
						<div class="tab-content">
							<!-- TAB DADOS -->
							<div class="tab-pane fade in active" id="tab_dados">
								<div class="clearfix form-group">
									<div class="col-md-12">
										<label class="control-label labelCampo">Nome do Arquivo</label>
										<div class="campoPost">$!arquivo.nome</div>
									</div>
								</div>
								<div class="clearfix form-group">
									<div class="col-md-12">
										<label class="control-label labelCampo">Descrição</label>
										<div class="campoPost">#if($arquivo.descricao) $!arquivo.descricao #else Sem descrição #end</div>
									</div>
								</div>
								<div class="clearfix form-group">
									<div class="col-md-4">
										<label class="control-label labelCampo">Criado por</label>
										<div class="campoPost"><a class="sbold" href="$context/usuario.htm?id=$!arquivo.usuario.id">$!arquivo.usuario.nome</a></div>
									</div>
									<div class="col-md-4">
										<label class="control-label labelCampo">Data de Criação</label>
										<div class="campoPost">$format.date($!arquivo.dataCreate, "dd/MM/yyyy, HH:m:s")</div>
									</div>
									<div class="col-md-4">
										<label class="control-label labelCampo">Data de Atualização</label>
										<div class="campoPost">$format.date($!arquivo.dataUpdate, "dd/MM/yyyy, HH:m:s")</div>
									</div>
								</div>
								<div class="clearfix form-group">
									
								</div>
								<div class="clearfix form-group">
									<div class="col-md-4">
										<label class="control-label labelCampo">Extensão</label>
										<div class="campoPost">.$!arquivo.extensao</div>
									</div>
									<div class="col-md-4">
										<label class="control-label labelCampo">Tamanho</label>
										<div class="campoPost kb"></div>
									</div>
									#if($!arquivo.width > 0 || $!arquivo.height > 0)
									<div class="col-md-4">
										<label class="control-label labelCampo">Dimensões (px)</label>
										<div class="campoPost">$!arquivo.width x $!arquivo.height</div>
									</div>
									#end
								</div>
								<div class="clearfix form-group">
									<div class="col-md-4">
										<label class="control-label labelCampo">MIME Type</label>
										<div class="campoPost">$!arquivo.mimeType</div>
									</div>
								</div>
							</div>
                	</div><!-- TAB CONTENT -->
					</div>
				</div>
			</div>
		</div><!-- COL-MD-12 -->
	</div><!-- ROW CONTENT -->
</div>
#parse("/modals/modal_preview_file.htm")
<script>
$(document).ready(function(){
	var fileExtension = "$!arquivo.extensao";
	fileExtension = fileExtension.toLowerCase();
	
	var tamanho = "$!arquivo.length";
	var resultado = formatBytes(tamanho);
	$(".campoPost.kb").html(resultado);
	
	
	var ref = document.referrer;
	ref = ref.substr(ref.lastIndexOf('/') + 1);
	if(ref == "meusArquivos.htm"){
		$("li.arquivos").append('<a href="$context/pages/meusArquivos.htm">Meus Arquivos</a><i class="fa fa-angle-right"></i>');
	}else{
		$("li.arquivos").append('<a href="$context/pages/arquivos.htm">Todos os Arquivos</a><i class="fa fa-angle-right"></i>');
	}
	
	var conteudo = "";
	if(FILE_EXTENSIONS.image[fileExtension]){
		conteudo += '<img src="$!arquivo.urlThumb" alt="$!arquivo.nome" />';
	}else{
		conteudo += '<div class="fotoUsuario big">';
			conteudo += '<div class="centraliza arquivo-detalhe">';
				conteudo += '<span class="extensaoArquivo">$!arquivo.extensao</span>';
				conteudo +=  '<img class="file-extensions-icons-big '+fileExtension+'" alt="$!arquivo.nome" />';
			conteudo += '</div>';
		conteudo += '</div>';
	}
	
	$('.profile-userpic.absolute-img .mt-card-avatar.mt-overlay-1').append(conteudo).removeClass("spinner-blue menor");
	
	$('.remove-file').click(function(){
		var id = $(this).attr('data-id'), file = $(this).attr('data-file');
		swal({
			title: "Atenção!",
			text: "Você deseja mesmo deletar o arquivo <b>"+file+"</b>?",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#D91E18",
			confirmButtonText: "Deletar",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true,
		}).then(function () {
			httpDelete("$context/rest/v1/arquivo/" + id, function(data) {
				if(data.status != "ERROR"){
					swal({
						type: "success",
						title: "Sucesso!",
						text: data.message,
					}).then(function () {
						location.href = '$context/cadastro/usuarios.htm';
					});
				} else {
					swal({
						type: "warning",
						title: "Ops...",
						text: data.message,
					}).then(function () {
						location.reload();
					});
				}
			});
		});
	});
});

#if($!arquivo.extensao == "csv")
	//csv_to_html_table
	init_table({
		csv_path: '$!arquivo.urlThumb',
		//csv_path: 'usuarios.csv',
		element: 'table-container', 
		allow_download: true,
		csv_options: {separator: ';', delimiter: '"'},
		datatables_options: {"paging": true, "lengthMenu": [ 10, 25, 50, 75, 100, 150 ], "pageLength": 10, "oLanguage": oLanguage,}
	});
#end
</script>