<div class="page-content">
	<h3 class="page-title">Convidar Usuários</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/usuarios.htm">Usuários</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('convidar.usuarios.label')</span></li>
		</ul>
	</div>
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
               	<span class="caption-subject font-dark sbold">Escolha como quer convidar o(s) usuário(s):</span>
					</div>
            </div>
				<div class="portlet-body clearfix">
					<div class="col-md-3">
						<div class="link-box box-shadow">
							<div class="link-box-container">
								<span class="sbold big">Novo usuário</span>
								<img class="img-responsive" src="$context/imagens/notifications/userPlus.svg" alt="Convidar usuários por e-mail" />
								<span>Inserindo apenas<br/>nome e e-mail</span>
							</div>
							<a href="$context/admin/convidarUsuariosEmail.htm"></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="link-box box-shadow">
							<div class="link-box-container">
								<span class="sbold big">Usuário existente</span>
								<img class="img-responsive" src="$context/imagens/notifications/userMail.svg" alt="Convidar usuários por lote" />
								<span>Selecionando a partir de<br/>uma lista de cadastros</span>
							</div>
							<a href="$context/admin/convidarUsuarios.htm"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")