<div class="page-content">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-body clearfix text-center">
				<div class="clearfix modal-padding success-content show">
					<div class="uppercase profile-stat-title icon">
						#if($!msgError)
				  			<i class="fa fa-close fa-3x font-red-mint" aria-hidden="true"></i>
				  			<h3>$!msgError</h3>
				  		#else
				  			<i class="fa fa-check fa-3x font-green-jungle" aria-hidden="true"></i>
				  			<h3>$!msg</h3>
				  		#end
				  	</div>
				  	<hr />
			  		<a href="$context/root/empresas.htm" class="btn btn-primary min-width">Voltar</a>
		  		</div>
			</div>
		</div>
	</div>
</div>