<script>
<!-- 	jQuery.ajax({ -->
<!-- 		type: "post", -->
<!-- 		url: urlContext+"/ws/eventos.htm?mode=json&form_name=form", -->
<!-- 	 	dataType: "json", -->
<!-- 	 	data: { -->
<!-- 	 		id: $id, -->
<!-- 	 		maxRows: 10, -->
<!-- 	 		page: parseInt($(".paginaAtual").attr("data-page"))+1 -->
<!--         }, -->
<!--         beforeSend: function(){ -->
<!--         }, -->
<!-- 	 	success: function( data ) { -->
<!-- 	 		var nevento = data.list.length; -->
<!-- 	 		if(data){ -->
<!-- 				var conteudo = ''; -->
<!-- 				for(var i=0;i<nevento;i++){ -->
<!-- 					var evento = data.list[i]; -->
<!-- 					conteudo += '<li style="min-height:350px" data-id="'+evento.id+'">'+ -->
<!-- 						'<div style="float:left;padding-right:20px;padding-bottom:20px"><img src="'+evento.fotos3+'" alt="'+evento.nome+'" style="width:300px"></div>'+ -->
<!-- 						'<div style="padding:5px">'+ -->
<!-- 							'<span class="tituloPost">'+evento.nome+'</span>'+ -->
<!-- 							'<span class="dataAgenda">'+evento.data+'</span><br /><br />'+ -->
<!-- 							'<span class="resumoPost">'+evento.descricao+'</span><br /><br />'+ -->
<!-- 						'</div>'; -->
<!-- 					for(var a=0;a<evento.agendas.length;a++){ -->
<!-- 						var agenda = evento.agendas[a]; -->
<!-- 						conteudo += '<div class="liveurl" style="display: block;">'+ -->
<!-- 								'<div class="inner">'+ -->
<!-- 									'<div class="image active" style="display: block;"><img src="'+agenda.palestrante.fotos3+'" alt="'+agenda.palestrante.nome+'" class="active"></div>'+ -->
<!-- 									'<div class="title">'+agenda.titulo+' <span class="dataAgenda">De: '+agenda.dataInicio+' Até: '+agenda.dataFim+'</span></div>'+ -->
<!-- 									'<div class="description">'+agenda.descricao+'</div><br />'+ -->
<!-- 									'<div class="palestrante">'+agenda.palestrante.nome+'</div>'+ -->
<!-- 								'</div>'+ -->
<!-- 							'</div>'; -->
<!-- 					} -->
<!-- 						conteudo += '</li>'; -->
<!-- 				} -->
<!-- 			} -->
	 		
<!--  	 		$(".paginaAtual").hide(); -->
<!-- 	 		$(".lista").html(conteudo); -->
	 		
<!-- 	 		$(".paginaAtual").removeClass("loading").attr("data-page", parseInt($(".paginaAtual").attr("data-page"))+1); -->
<!-- 		} -->
<!-- 	 }); -->
	
<!-- }); -->
$(document).ready(function(){ 
	
	$(".abreEvento").click(function() {
		var obj = $(this).parent();
		var ul = obj.find("ul.listaAgenda");
		if(ul.is(":visible")){
			ul.slideUp();
			obj.find(".abrirAgenda").removeClass("ico-setaCimaCinza").addClass("ico-setaBaixoCinza");
		}else{
			ul.slideDown();
			obj.find(".abrirAgenda").removeClass("ico-setaBaixoCinza").addClass("ico-setaCimaCinza");
		}
		/* var idEvento = obj.attr("data-id");
		var evento = obj.find(".lista[data-id="+idEvento+"]");
		if(evento.is(":visible")){
			evento.slideUp();
		}else{
			evento.slideDown();
		} */
		//obj.find(".lista[data-id="+idEvento+"]").sli();
	});
	
	if(isMobile()) {
		$("#header").addClass("noHeader");
		$(".tituloPagina").addClass("noHeader");
		$(".headerPagina").addClass("noHeader");
	}
	
});
</script>
<div class="headerPagina clearfix">
<h2 class="tituloPagina">$messages.get('evento.label')</h2>
</div>
<ul class="listaEventos">
	#if($eventosVo.size() > 0)
	#foreach($evento in $eventosVo)
	<li class="clearfix itemEvento bs-tooltip" title="$messages.get('clique.aqui.visualizar.evento.info')">
		<div class="clearfix abreEvento">
			<div class="umTerco left">
				<div class="miniaturaImg">
					<div class="centraliza">
						#if($!evento.fotos3 && $!evento.fotos3 != "")
						<img src="$!evento.fotos3" alt="$!evento.nome" />
						#else
						<img src="../img/img_evento_placeholder.png" alt="$messages.get('imagem.evento.indisponivel.label')" />
						#end
					</div>
				</div>
			</div>
			<div class="doisTercos">
				<div class="clearfix dadosEvento">
					<span class="tituloEvento">$!evento.nome</span>
					<label>$messages.get('data.evento.label')</label>
					<span class="dataEvento">$!evento.data</span>
					<label>$messages.get('descricao.label')</label>
					<span class="resumoEvento">$!evento.descricao</span>
				</div>
			<span class="icones ico-setaBaixoCinza abrirAgenda"></span>
			</div>
		</div>
		<ul class="listaAgenda">
			<hr>
			#if($evento.agendas.size() > 0)
			#foreach($agenda in $evento.agendas)
			<li class="clearfix agendaItem">
				<div class="imgPalestrante">
					#if($!agenda.palestrante.fotos3 && $!agenda.palestrante.fotos3 != "")
					<div class="centralizaPalestrante">
					<img src="$!agenda.palestrante.fotos3" alt="$!agenda.palestrante.nome" class="active">
					</div>
					#else
					<img src="../img/palestrante_placeholder.png" alt="Imagem do palestrante indisponível">
					#end
				</div>
				<span class="dataAgenda"><b>$messages.get('de.label'):</b> 25/08/2015<br/><b>$messages.get('ate.label'):</b> 25/08/2015</span>
				<div class="infoAgenda">
					<span class="title">$!agenda.titulo</span>
					<label>$messages.get('palestrante.label')</label>
					<span class="palestrante">$!agenda.palestrante.nome</span>
				</div>
				<span class="description">
					<label>$messages.get('descricao.evento.label')</label>
					$!agenda.descricao
				</span>
			</li>
			#end
			#else
			<li class="clearfix agendaItem"><h1 class="tituloPagina">$messages.get('evento.sem.agenda.label')</h1></li>
			#end
		</ul>
	</li>
	#end
	#else
	<li class="clearfix itemEvento"><h1 class="tituloPagina">$messages.get('eventos.nao.cadastrados.label')</h1></li>
	#end
</ul>
<!-- <ul class="listaEventos">
	<li class="clearfix itemEvento">
		<div class="clearfix abreEvento">
			<div class="umTerco left">
				<div class="miniaturaImg">
					<div class="centraliza">
						<img src="../img/img_evento_placeholder.png" alt="evento" />
					</div>
				</div>
			</div>
			<div class="doisTercos">
				<div class="clearfix dadosEvento">
					<span class="tituloEvento">Baleias</span>
					<label>Data do Evento</label>
					<span class="dataEvento">25/04/2015</span>
					<label>Descrição</label>
					<span class="resumoEvento">Este evento terá baleias</span>
				</div>
			</div>
		</div>
	
	<ul class="listaAgenda">
	<hr>
		<li class="clearfix agendaItem">
			<div class="imgPalestrante">
				<img class="" src="../img/palestrante_placeholder.png">
			</div>
			<span class="dataAgenda"><b>De:</b> 25/08/2015<br/><b>Até:</b> 25/08/2015</span>
			<div class="infoAgenda">
				<span class="title">Titulo da palestra do Daniel</span>
				<label>Palestrante</label>
				<span class="palestrante">Daniel</span>
			</div>
		</li>
	</ul>
	</li>
</ul> -->
<!-- <ul class="lista listaMural">
	foreach($evento in $eventosVo)
		<li data-id="$evento.id" class="listEvento">
			<div class="miniaturaArquivo evento tooltip" title="Clique aqui para visualizar a agenda deste evento">
				<div class="centraliza">
					<img src="$!evento.fotos3" alt="$!evento.nome" />
				</div>
			</div>
			</a>
			<div class="clearfix">
				<span class="tituloEvento">$!evento.nome</span>
				<label>Data do Evento</label>
				<span class="dataEvento">$!evento.data</span>
				<label>Descrição</label>
				<span class="resumoEvento">$!evento.descricao</span>
			</div>
			<ul class="lista listaMural eventoAberto" data-id="$evento.id">
			<hr>
				foreach($agenda in $evento.agendas)
					<li>
						<div class="liveurl" style="display: block;">
							<div class="inner">
								<div class="image active" style="display: block;">
									<img src="$!agenda.palestrante.fotos3" alt="$!agenda.palestrante.nome" class="active">
									<label>Palestrante</label>
									<span class="palestrante">$!agenda.palestrante.nome</span>
								</div>
								<span class="title">$!agenda.titulo</span>
								<span class="dataAgenda"><b>De:</b> $!agenda.dataInicio<br/><b>Até:</b> $!agenda.dataFim</span>
								<label>Palestrante</label>
								<span class="palestrante">$!agenda.palestrante.nome</span>
								<span class="clearfix description">$!agenda.descricao</span>
							</div>
						</div>
					</li>
				end
			</ul>
		</li>
	end
</ul> -->
