<div class="grupo-participar fade">
	<div class="clearfix form-group grupo-msg text-center">
		<h3 class="page-title"></h3>
		<p>Para visualizar o post, entre no grupo:</p>
	</div>
	<div class="profile-sidebar">
		<div class="portlet light profile-sidebar-portlet clearfix">
			<div class="clearfix profile-userpic">
				<div class="mt-element-card mt-element-overlay">
					<div class="col-md-12">
						<div class="mt-card-item">
							<div class="mt-card-avatar mt-overlay-1">
								<div class="clearfix">
									<a class="fancybox centraliza" href="" title="">
										<img class="grupo-img" alt="" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	              
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">
					<a href="" class="grupo-nome"></a>
				</div>
			</div>
			
			<div class="profile-stat text-center">
				<div class="margin-top-20 profile-desc-link">
					<i class="fa fa-user"></i> <span>Admin: <a class="grupo-criador" href="">$!grupo.userCreate.nome</a></span>
				</div>
				<div class="margin-top-20 profile-desc-link">
					<i class="fa fa-flag"></i> <span class="grupo-tipo"></span>
				</div>
			</div>
			
			<div class="profile-userbuttons">
				<div class="clearfix form-group">
					<a class="btn btn-circle green-jungle btn-sm uppercase eq-width btn-group-participar-mural"><i class="fa fa-sign-in"></i> Entrar</a>
				</div>
			</div>
		</div>
		
	</div>
</div>
<!-- 	<div class="profile-content user"> -->
<!-- 		<div class="portlet light"> -->
<!-- 			<div class="portlet-title tabbable-line"> -->
<!-- 				<div class="caption left caption-md"> -->
<!-- 					<i class="fa fa-users font-blue"></i> <span class="caption-subject font-blue bold uppercase grupo-nome"></span> -->
<!-- 				</div> -->
<!-- 				<ul class="nav nav-tabs"> -->
<!-- 					<li class="dados-grupo active"><a href="#tab_dados" data-toggle="tab">Dados do Grupo</a></li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 			<div class="portlet-body"> -->
<!-- 				<div class="tab-content"> -->
<!-- 					TAB DADOS -->
<!-- 					<div class="tab-pane fade in active" id="tab_dados"> -->
<!-- 						<div class="clearfix form-group"> -->
<!-- 							<div class="col-md-8"> -->
<!-- 								<label class="control-label labelCampo">Nome do Grupo</label> -->
<!-- 								<div class="campoPost grupo-nome"></div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="clearfix form-group"> -->
<!-- 							<div class="col-md-5"> -->
<!-- 								<label class="control-label labelCampo">Criado por</label> -->
<!-- 									<div class="campoPost"><a class="grupo-criador" href="">Admin Livetouch</a></div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="clearfix form-group"> -->
<!-- 							<div class="col-md-5"> -->
<!-- 								<label class="control-label labelCampo">Publicações</label> -->
<!-- 								<div class="campoPost grupo-publicacoes">150</div> -->
<!-- 							</div>  -->
<!-- 							<div class="col-md-5"> -->
<!-- 								<label class="control-label labelCampo">Usuários</label> -->
<!-- 								<div class="campoPost grupo-usuarios">150</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->

<script>
</script>