<div class="clearfix">
	#if($!mural_upload_crop_thumb_on && $!mural_upload_crop_thumb_on == '1')
	<div class="col-sm-4">
		<div class="clearfix">
			<h4 class="sbold crop-title">Thumb <span>Recomendado: 400 x 400px</span></h4>
			<div
				id="thumb-categoria" class="image-editor1 cropit-wrapper"
				#if($post && $post.id)
					#foreach($a in $post.arquivos)
						#if($a.dimensao == "thumb")
							data-file-id='$a.id'
						#end
					#end
				#end>
				<div class="clearfix form-group">
					<div class="clearfix cropit-preview small"></div>
				</div>
				<div class="clearfix form-group">
					<div class="control-label labelCampo image-size-label pull-left">Zoom</div>
					<input type="range" class="cropit-image-zoom-input pull-left" value="0" />
				</div>
				<div class="clearfix text-right">
					<button class="rotate-cw btn btn-outline btn-default tooltip-livecom disabled" data-rotate="#thumb-categoria" title="Girar no sentido horário"><i class="crop-rotate-icon"></i></button>
					<button class="btn blue-sharp min-width btn-input-trigger btn-thumb-input-trigger btn-input1" data-export="#thumb-categoria">adicionar imagem</button>
					<input type="file" class="cropit-image-input hidden" id="cropit-thumb-input" name="cropit-thumb-input" />
				</div>
			</div>
		</div>
	</div>
	#end
	<div class="#if($!mural_upload_crop_thumb_on && $!mural_upload_crop_thumb_on == '1') col-sm-8 crop-bleed-divider #else col-md-12 #end">
		<div class="clearfix">
			<div class="#if($isShowThumbCrop) col-sm-8 #else col-md-12 #end">
				<h4 class="sbold crop-title">Imagens da publicação <span>Recomendado: 1024 x 560px</span></h4>
				<div id="img-categoria" class="image-editor2 cropit-wrapper">
					<div class="clearfix form-group">
						<div class="clearfix cropit-preview big"></div>
					</div>
					<div class="clearfix form-group">
						<div class="control-label labelCampo image-size-label pull-left">Zoom</div>
						<input type="range" class="cropit-image-zoom-input pull-left" value="0" />
					</div>
					<div class="clearfix form-group img-descri">
						<label class="labelCampo control-label" for="descricao-original">Descrição da imagem:</label>
						<textarea name="descricao-original" class="form-control" id="descricao-original" placeholder="Insira aqui a descrição" rows="2"></textarea>
						<span class="charNum count-descricao-thumb"></span>
					</div>
					<div class="clearfix text-right queue-trigger">
						<button class="rotate-cw btn btn-outline btn-default tooltip-livecom disabled" data-rotate="#img-categoria" title="Girar no sentido horário"><i class="crop-rotate-icon"></i></button>
						<input type="file" class="cropit-image-input hidden" id="cropit-image-input" name="cropit-image-input" />
						<button class="btn blue-sharp min-width btn-input-trigger btn-input2" data-export="#img-categoria">adicionar imagem</button>
					</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="clearfix">
					#if($isShowThumbCrop)
					<div class="crop-thumbs-holder #if($post && $post.id) active #end" data-crop="#img-categoria">
						<div class="crop-info"><h4>Imagens salvas: <span class="sbold crop-count">0</span></h4></div>
						<div class="clearfix thumbs-wrapper"></div>
					</div>
					#end
					<div class="modal-crop-button-holder">
						#if(!$post || !$post.id || $post.arquivos.size() == 0)
		  					<button type="button" class="btn btn-default clear-crop min-width" data-dismiss="modal">Cancelar</button>
		  				#else
		  					<button type="button" class="btn btn-default min-width" data-dismiss="modal">Fechar</button>
		  				#end
		        		<button type="button" class="btn btn-primary min-width btn-anexar-crop">Concluir</button>
		        	</div>					
				</div>				
			</div>
		</div>
	</div>
</div>

<script>
var _cropImgCount = 0;
</script>
#if($post && $post.id)
	#foreach($a in $post.arquivos)
		<script>
		$(document).ready(function(){
			var file = {
				name: '$a.nome',
				id: '$a.id',
				url: '$a.url',
				dimensao: '$a.dimensao',
				descricao: '$!a.descricao',
				destaque: $a.destaque
			};
			generateCropThumbs(file);
		});
		</script>
		
		#if($a.dimensao == "thumb")
		<script>
		var _cropitImageSrc = '$a.url';
		$(function() {
			$('#thumb-categoria').cropit({
				imageBackground: true,
				imageBackgroundBorderWidth: 20,
				exportZoom: 2,
				imageState: { src: _cropitImageSrc },
				onImageError: function(){
					toastr.error('A imagem escolhida não pode ser carregada, por favor, tente uma maior.');
				},
				onImageLoaded: function(){
					manageCropButtons('#thumb-categoria');
					manageCropThumb('#thumb-categoria');
					$('#thumb-categoria').find('.cropit-preview-image-container img, .cropit-preview-background-container img').show();
				},
				onOffsetChange: function(){
					manageCropButtons('#thumb-categoria');
					$('#thumb-categoria').find('.btn-thumb-input-trigger').removeClass('already-uploaded');
				}
			});
		});
		</script>
		#end
		
	#end
#end