<div id="mural-wrapper">
#if(!$hidePostarComunicado && $wordpress_on != 1)
	#if($manutencao_on && $manutencao_on == 1) 
		<div class="interacoesMural new clearfix #if($formAberto) aberto #end">
			<div class="alert alert-warning" role="alert">
				<b>Atenção </b>
				#if($!manutencao_message)
					$!manutencao_message
				#else
					Sistema em manutenção, não é possível postar comunicados nem comentar.
				#end 
			</div>
		</div>
	#end
	<div class="page-bar mural">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm" class="page-bar-first">Mural</a> <i class="fa fa-angle-right"></i></li>
			<li><span class="page-bar-second"></span> <i class="fa fa-angle-right"></i></li>
			<li><span class="tituloPost page-bar-third"></span></li>
		</ul>
	</div>
	
	<div class="mural-header col-md-12">
		<div class="mural-header-container">
			<div class="mt-element-overlay">
				<div class="row">
					<div class="col-md-12">
						<div class="user-photo-container fotoUsuario gigante" style="display: none;">
							<a class="centraliza fancybox" href="">
								<img class="user-photo-img" />
							</a>
						</div>
						<div class="mt-overlay-1">
							<p class="first info-name uppercase sbold"><a></a></p> <!-- nome grupo/user -->
							<p class="second second-info"></p> <!-- email user/tipo grupo -->
							<p class="third third-info"></p> <!-- cargo user/participantes grupo -->
							<img class="mural-header-photo" /> <!-- foto de capa user ou foto de perfil grupo -->
							<div class="mt-overlay bottom-right">
								<div class="group-favoritar">
									<a class="css-favorito-not tooltip-livecom" data-favorito="false" title="Grupo não-favoritado">
										<i class="fa fa-star" aria-hidden="true"></i>
									</a>
									<a class="css-favorito tooltip-livecom" data-favorito="true" title="Grupo favorito">
										<i class="fa fa-star" aria-hidden="true"></i>
									</a>
								</div>
								<ul class="mt-info opcoes-grupo">
									#if($cadastro_grupo_tipo_on && $cadastro_grupo_tipo_on == 1)
										#if($!CADASTRAR_GRUPOS)
										<li class="group-convidar">
											<a class="btn default btn-outline btn-group-convidar" data-toggle="modal" data-target="#modalAddUser"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Convidar Usuários</a>
										</li>
										#end
										#if($!mural_grupo_participar_on && $!mural_grupo_participar_on == 1)
										<li class="group-participar">
	                           	<a class="btn default btn-outline btn-group-participar"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Entrar</a>
										</li>
										#end
										<li class="group-sair">
	                           	<a class="btn default btn-outline btn-group-sair"><i class="fa fa-close" aria-hidden="true"></i>&nbsp;Sair</a>
										</li>
									#end
									#if($!chat_on && $chat_on == 1)
	            					#if($!ENVIAR_MENSAGEM)
											<li class="group-chat">
		                           	<a class="btn default btn-outline"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;Chat</a>
											</li>
										#end
									#end
									<li class="group-users">
										<a class="btn default btn-outline" data-toggle="modal" data-target="#modalGrupoUsuarios"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Usuários</a>
									</li>
									<li class="group-subgrupos hidden">
										<a class="btn default btn-outline" data-toggle="modal" data-target="#modalGrupoSubgrupos"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Subgrupos</a>
									</li>
									<li>
                           	<a class="btn default btn-outline fancybox see-group-photo"><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;Ver foto</a>
									</li>
								</ul>
								<ul class="mt-info opcoes-user">
									<li class="aguardando hidden">
										<a class="btn default btn-outline"><i class="fa fa-hourglass-start" aria-hidden="true"></i>&nbsp;Aguardando</a>
									</li>
									#if($!mural_amizade_on && $!mural_amizade_on == 1)
										<li class="user-friendship" data-user="">
	                           	<a class="btn default btn-outline btn-user-friendship solicita-amizade" data-solicita="true"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Conectar</a>
	                           	<a class="btn default btn-outline btn-user-friendship cancela-amizade" data-solicita="false"><i class="fa fa-user-times" aria-hidden="true"></i>&nbsp;Cancelar conexão</a>
	                           	<a class="btn default btn-outline btn-user-friendship desfazer-amizade" data-solicita="false"><i class="fa fa-user-times" aria-hidden="true"></i>&nbsp;Desconectar</a>
										</li>
									#end
									<li class="see-user-profile">
                           	<a class="btn default btn-outline btn-see-user-profile"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Ver Perfil</a>
									</li>
									<li class="somente-eu">
										<a href="$context/pages/mural.htm?somenteEu=true" class="btn default btn-outline"><i class="fa fa-user-secret" aria-hidden="true"></i>&nbsp;Somente Eu</a>
									</li>
									<li class="solicitar-varias-amizades">
                           	<a class="btn default btn-outline"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Fazer conexões</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	#parse("/modals/modal_grupo_usuarios.htm")
	#parse("/modals/modal_grupo_subgrupos.htm")
	
	#parse("/modals/modal_grupo_addUser.htm")
	
	#if(!$manutencao_on || $manutencao_on != 1)
		#if($!PUBLICAR || ($post && $!EDITAR_PUBLICACAO))
			<div class="interacoesMural new clearfix #if($formAberto) aberto #end">
				#parse("/admin/include_postar_comunicado.htm")
			</div>
			#end
	#end
#end

#parse("/admin/include_posts_mural.htm")

#parse("/modals/modal_preview_file.htm")
</div>
<script>
$(document).ready(function(){
	var idGrupoURL = getURLParameter("grupo");
	if(idGrupoURL){
		loadGroupUsers(idGrupoURL);
		initDataTable();
	}
	
	if(urlAtual == "meusPosts.htm"){
		localizaUser(userId);
	}
	
	$(".group-users").click(function(e){
		loadGroupUsers(idGrupoURL);
	});
	
	$(".group-subgrupos").click(function(e){
		loadGroupSubgrupos(idGrupoURL);
	});
	
});

#if($web_template_analytics_key && $web_template_analytics_key != '')
	ga('send', 'event', 'livecom', 'mural', SESSION.USER_INFO.USER_LOGIN);
#end
</script>
#parse("/msg.htm")