<div class="page-content">
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li style="display:none;"><a href="#" class="refererNot">Notificações</a> <i class="fa fa-angle-right"></i></li>
			<li><span class="tituloPost"></span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<ul class="lista listaMural padding-adjust"></ul>
			<div class="paginaAtual" data-page="-1"></div>
			<div class="muralVazio"></div>
			
			#parse("pages/grupoParticipar.htm")
		</div>
	</div>
</div>
#parse("/modals/modal_ver_rlt.htm")
#parse("/modals/modal_preview_file.htm")
<script>
$(document).ready(function(){
	var referer = document.referrer;
	if(referer.indexOf('usuario.htm') > -1) {
		if(referer.indexOf('notifications') > -1) {
			$(".refererNot").attr('href', referer).parent().show();
			
		}
	}
	
	$('.btn-group-participar-mural').click(function(){
		var tipo = $(this).data('tipo'), id = $(this).data('id'), nome = $(this).data('nome');
		
		swal({
			type: 'warning',
			title: 'Atenção',
			text: 'Deseja mesmo entrar no grupo <b>'+nome+'</b>?',
			showCancelButton: true,
			confirmButtonColor: "#337ab7",
			confirmButtonText: "Sim",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true
		}).then(function () {
			jQuery.ajax({
				type: "PUT",
				url: urlContext+"/rest/grupo/participar",
			 	contentType: jsHttp.CONTENT_TYPE_FORM,		 
			 	data: {
			 		usuarioId: userId,
			 		grupoId: id,
			 		participar: true,
				},
			 	success: function(data){
			 		if(tipo == 'ABERTO'){
			 			swal({
			 				type: 'success',
			 				title: 'Sucesso',
			 				text: 'Você passou a participar do grupo <b>'+nome+'</b>.',
			 			}).then(function () {
			 				location.reload();
			 			});
			 		}else{
			 			swal({
			 				type: 'success',
			 				title: 'Sucesso',
			 				text: 'Você solicitou a participação no grupo <b>'+nome+'</b>.',
			 			}).then(function () {
			 				location.href = '$context/pages/mural.htm?grupo='+id;
			 			});
			 		}
			 	}
			 });
		});
	});
	
	buscaPost();
});

function buscaPost(){
	jQuery.ajax({
		type: "post",
		url: urlContext+"/ws/post.htm?mode=json&form_name=form",
	 	dataType: "json",
	 	data: {
	 		user_id: userId,
	 		audiencia: 1,
	 		id: "$!id",
	 		wsVersion: wsVersion,
	 		wstoken:SESSION.USER_INFO.USER_WSTOKEN
		},
	 	success: function( data ) {
	 		$(".paginaAtual").remove();
	 		
	 		if(data.post){
		 		if(data.post) {
					$(".tituloPost").text(data.post.titulo);
					
					#if($web_template_analytics_key && $web_template_analytics_key != '')
						var label = data.post.titulo && data.post.titulo != '' ? data.post.titulo : data.post.id;
			 			ga('send', 'event', 'livecom', 'post', label);
			 		#end
		 		}
		 		//exibeBuscaPost(data, null, null, null);
		 		//LiveMural.buscaPost(data.postid, true, modeMural);
		 		LiveMural.createPost(data.post, true);
	 		}else{
	 			if(data.mensagem.result && data.mensagem.result.length > 0){
					var grupo = data.mensagem.result[0], tipo = grupo.tipo;
					var tipoStr = '';
					switch(tipo){
						case 'ABERTO':
							tipoStr = 'Aberto';
							break;
						default:
							tipoStr = 'Aberto com Aprovação';
							break;
					}
					
	 				$('.grupo-msg h3').empty().text(data.mensagem.mensagem);
	 				$('.grupo-nome').empty().text(grupo.nome);
	 				$('.grupo-criador').empty().text(grupo.userAdmin).attr('href', '$context/usuario.htm?id='+grupo.userAdminId);
	 				$('.grupo-tipo').empty().text('Tipo: '+tipoStr);
	 				$('.btn-group-participar-mural').attr('data-tipo', grupo.tipo).attr('data-id', grupo.id).attr('data-nome', grupo.nome);
	 				$('.grupo-participar .mt-card-avatar .fancybox').attr('href', grupo.urlFotoThumb).attr('title', grupo.nome);
	 				$('.grupo-participar .mt-card-avatar .fancybox img').attr('src', grupo.urlFotoThumb).attr('alt', 'Foto do grupo '+grupo.nome);
	 				$('.grupo-participar').addClass('in active');
	 			}else{
	 				swal({
	 					type: 'error',
	 					title: 'Ops...',
	 					text: data.mensagem.mensagem
	 				}).then(function () {
	 					location.href = '$context/pages/mural.htm';
	 				});
	 			}
	 		}
		}
	 });
}
</script>