#if( ($!PUBLICAR || ($post && $!EDITAR_PUBLICACAO)) || ($post && $post.usuario.id == $!session.userInfo.id) )
<div class="interacoesMural clearfix #if($formAberto) aberto #end">
		<!-- <a href="#" class="postarTexto #if($formAberto) ativo #end"><i class="icones ico-postarTexto"></i>Postar Texto</a> -->
	#parse("/admin/include_postar_comunicado.htm")
</div>
#end