<div class="page-content">
	<h3 class="page-title">
		Sobre este Aplicativo
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="">Aplicativo</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Sobre este Aplicativo</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet light ">
				<h4 style="margin-top: 20px;">Faça o upload do arquivo</h4>
				<div class="input-group">
				  <div class="input-group-prepend">
				    <div class="input-group-text">
				      	<input type="radio" id="PT" name="idioma" value="PT" checked>
						<label for="PT">Português</label>
				    </div>
				    <div class="input-group-text">
				      	<input type="radio" id="EN" name="idioma" value="EN">
						<label for="EN">Inglês</label>
				    </div>
				  </div>
				</div>
				<div class="clearfix campoPost links row" style="margin-top: 20px;">
					<label style="display: inline-block; padding: 6px 12px; cursor: pointer;" class="custom-file-upload">
					    <input style="display: none;" type="file" id="uploadArquivos" />
					    <a class="arquivo"> Inserir Arquivos</a> 
					</label>
					
					<iframe id="frame" style="display: none; border: 1px solid #b5b3b3; margin-left: 11px; width: 50%; height: 600px; border-radius: 4px;" ></iframe>
					<a id="linkHtml" style="display: none; margin-left: 15px; margin-top: 20px; font-size: 17px;" target="_blank">Link do Arquivo HTML!</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>
jQuery(document).ready(function(){
	
	loadApp();
	
	function loadApp(idioma){
		
		jQuery.ajax({
			url: "$context/rest/v1/parametro/mobile/bba/sobre/pt",
			type: 'GET',
			beforeSend: function(){
				
			},
			success: function(resp){
				var url = resp.url;
				
				if(url.length != 0) {
					$("#frame").attr("src", url);
					$("#frame").css("display", "block");
					$("#linkHtml").attr("href", url);
					$("#linkHtml").css("display", "block");
				} else {
					$("#frame").css("display", "none");
					$("#linkHtml").css("display", "none");
				}
			}
		});
		
		$('input[name="idioma"]').change(function () {
		    if ($('input[name="idioma"]:checked').val() === "PT") {
		    	jQuery.ajax({
					url: "$context/rest/v1/parametro/mobile/bba/sobre/pt",
					type: 'GET',
					beforeSend: function(){
						
					},
					success: function(resp){
						var url = resp.url;
						
						if(url.length != 0) {
							$("#frame").attr("src", url);
							$("#frame").css("display", "block");
							$("#linkHtml").attr("href", url);
							$("#linkHtml").css("display", "block");
						} else {
							$("#frame").css("display", "none");
							$("#linkHtml").css("display", "none");
						}
					} 
	    		})
			} else {
		    	jQuery.ajax({
					url: "$context/rest/v1/parametro/mobile/bba/sobre/en",
					type: 'GET',
					beforeSend: function(){
						
					},
					success: function(resp){
						var url = resp.url;
						
						if(url.length != 0) {
							$("#frame").attr("src", url);
							$("#frame").css("display", "block");
							$("#linkHtml").attr("href", url);
							$("#linkHtml").css("display", "block");
						} else {
							$("#frame").css("display", "none");
							$("#linkHtml").css("display", "none");
						}
					}
				});
		    }
		});
	}
	
	var uploadArquivo = jQuery("#uploadArquivos");
  	uploadArquivo.on('change', function(e) {
		files = e.target.files;
		var formData = new FormData();
		var valueIdioma = $("input[name='idioma']:checked").val();
		
		formData.append('file', files[0]);
		formData.append('type', 'sobre');
		formData.append('idioma', valueIdioma);
		
		 jQuery.ajax({
		    url: urlContext+"/rest/v1/upload/bba/webview",
		    type: 'POST',
		    contentType: false,
		    processData: false,
		    data: formData,
		    
		    success: function(data) {
				var dataHTML = data.entity;
			    $("#frame").attr("src", dataHTML);
			    $("#frame").css("display", "block");
			    
			    toastr.success(data.message);
			    
			    $("#uploadArquivos").val("");
		    },
		 	error: function(data){
				toastr.error(data.message);
			}
		  });
  	 });

});
</script>
