<pre>

Nome: $arquivo.nome

Tamanho: $arquivo.width / $arquivo.height

<a href="$arquivo.url">$arquivo.url</a>

Thumbs

#foreach($t in $arquivo.thumbs)
	$t.width / $t.height: <a href="$t.url">$t.url</a>
#end
</pre>