<div class="page-content">
	<h3 class="page-title">User Info</h3>
	
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Sistema <i class="fa fa-angle-right"></i></span></li>
			<li><span>User Info</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<span class="caption-subject font-blue bold uppercase"><i class="fa fa-user-circle-o"></i> &nbsp;$session.userInfo.nome</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<div class="clearfix row">
						<div class="col-md-6 form-group">
							<label class="labelCampo control-label">Data Login</label>
							<input type="text" class="form-control" disabled value="$session.userInfo.dataLoginString" />
						</div>
						<div class="col-md-6 form-group">
							<label class="labelCampo control-label">Timestamp</label>
							<input type="text" class="form-control" disabled value="$session.userInfo.timestampLogin" />
						</div>
					</div>
					
					<hr />
					
					<div class="form-group">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th class="table-header bg-blue font-white" colspan="2">Informações</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>\$session.userInfo</td>
									<td>$session.userInfo.class</td>
								</tr>
								<tr>
									<td>\$session.userInfo.id</td>
									<td>$session.userInfo.id</td>
								</tr>
								<tr>
									<td>\$session.userInfo.login</td>
									<td>$session.userInfo.login</td>
								</tr>
								<tr>
									<td>\$session.userInfo.nome</td>
									<td>$session.userInfo.nome</td>
								</tr>
								<tr>
									<td>\$session.userInfo.funcao</td>
									<td>$session.userInfo.funcao</td>
								</tr>
								<tr>
									<td>\$session.userInfo.complemento</td>
									<td>$session.userInfo.complemento</td>
								</tr>
								<tr>
									<td>\$session.userInfo.perfil</td>
									<td>$session.userInfo.perfil</td>
								</tr>
								<tr>
									<td>\$session.userInfo.isAdmin()</td>
									<td>$session.userInfo.isAdmin()</td>
								</tr>
								<tr>
									<td>\$session.userInfo.isRoot()</td>
									<td>$session.userInfo.isRoot()</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<hr />
					
					<div class="form-group">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th class="table-header bg-blue font-white" colspan="2">Permissões (antigas)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>\$session.userInfo.permissao.cadastrarUsuarios</td>
									<td>$session.userInfo.permissao.cadastrarUsuarios</td>
								</tr>
								<tr>
									<td>\$session.userInfo.permissao.cadastrarTabelas</td>
									<td>$session.userInfo.permissao.cadastrarTabelas</td>
								</tr>
								<tr>
									<td>\$session.userInfo.permissao.publicar</td>
									<td>$session.userInfo.permissao.publicar</td>
								</tr>
								<tr>
									<td>\$session.userInfo.permissao.editarPostagem</td>
									<td>$session.userInfo.permissao.editarPostagem</td>
								</tr>
								<tr>
									<td>\$session.userInfo.permissao.excluirPostagem</td>
									<td>$session.userInfo.permissao.excluirPostagem</td>
								</tr>
								<tr>
									<td>\$session.userInfo.permissao.comentar</td>
									<td>$session.userInfo.permissao.comentar</td>
								</tr>
								<tr>
									<td>\$session.userInfo.permissao.curtir</td>
									<td>$session.userInfo.permissao.curtir</td>
								</tr>
								<tr>
									<td>\$session.userInfo.permissao.arquivos</td>
									<td>$session.userInfo.permissao.arquivos</td>
								</tr>
								<tr>
									<td>\$session.userInfo.permissao.enviarMensagem</td>
									<td>$session.userInfo.permissao.enviarMensagem</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<hr />
					
					<div class="form-group">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th class="table-header bg-blue font-white" colspan="2">Permissões (novas)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("padrao")</td>
									<td>$!session.userInfo.permissao.isPermissao("padrao")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("publicar")</td>
									<td>$!session.userInfo.permissao.isPermissao("publicar")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("excluir_publicacao")</td>
									<td>$!session.userInfo.permissao.isPermissao("excluir_publicacao")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("editar_publicacao")</td>
									<td>$!session.userInfo.permissao.isPermissao("editar_publicacao")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("curtir_publicacao")</td>
									<td>$!session.userInfo.permissao.isPermissao("curtir_publicacao")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("curtir_comentarios")</td>
									<td>$!session.userInfo.permissao.isPermissao("curtir_comentarios")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("comentar")</td>
									<td>$!session.userInfo.permissao.isPermissao("comentar")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("visualizar_comentarios")</td>
									<td>$!session.userInfo.permissao.isPermissao("visualizar_comentarios")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("visualizar_conteudo")</td>
									<td>$!session.userInfo.permissao.isPermissao("visualizar_conteudo")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("visualizar_relatorios")</td>
									<td>$!session.userInfo.permissao.isPermissao("visualizar_relatorios")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("enviar_mensagem")</td>
									<td>$!session.userInfo.permissao.isPermissao("enviar_mensagem")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("enviar_email")</td>
									<td>$!session.userInfo.permissao.isPermissao("enviar_email")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("arquivos")</td>
									<td>$!session.userInfo.permissao.isPermissao("arquivos")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("acesso_cadastros")</td>
									<td>$!session.userInfo.permissao.isPermissao("acesso_cadastros")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("cadastrar_usuarios")</td>
									<td>$!session.userInfo.permissao.isPermissao("cadastrar_usuarios")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("cadastrar_grupos")</td>
									<td>$!session.userInfo.permissao.isPermissao("cadastrar_grupos")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("cadastrar_codigos")</td>
									<td>$!session.userInfo.permissao.isPermissao("cadastrar_codigos")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("configuracoes_avancadas")</td>
									<td>$!session.userInfo.permissao.isPermissao("configuracoes_avancadas")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("editar_empresa")</td>
									<td>$!session.userInfo.permissao.isPermissao("editar_empresa")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("importacao")</td>
									<td>$!session.userInfo.permissao.isPermissao("importacao")</td>
								</tr>
								<tr>
									<td>\$!session.userInfo.permissao.isPermissao("exportacao")</td>
									<td>$!session.userInfo.permissao.isPermissao("exportacao")</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>