<script>
function buscaUsuarios(termo, grupo, page){
	var termo = termo;
	var grupo = grupo;
	jQuery.ajax({
		type: "post",
		url: "$context/ws/usuariosAutoComplete.htm?mode=json&form_name=form",
	 	dataType: "json",
	 	data: {
	 		user: SESSION.USER_INFO.USER_LOGIN,
            q: termo,
            grupoId: grupo,
            maxRows: 10,
	 		page: page,
	 		wsVersion: wsVersion,
	 		wstoken:SESSION.USER_INFO.USER_WSTOKEN
        },
	 	success: function( data ) {
	 		$("#form_nome").removeClass("ac_loading");
	 		if(data.list && data.list.length > 0){
	 			$(".paginaAtual").show();
		 		var conteudo = "";
		 		for (var i=0;i<data.list.length;i++){ 
		 		conteudo += '<li>'+
								'<div class="clearfix">'+
									'<div class="umTerco left a" style="width:15%;"><div class="fotoUsuario"><div class="centraliza"><a href="$context/pages/conversa.htm?userTo='+data.list[i].id+'"><img src="'+data.list[i].urlFotoUsuario+'" alt="'+data.list[i].nome+'" /></a></div></div></div>'+
									'<div class="umTerco b" style="width:75%;"><span class="nomeUsuarioLista"><a href="$context/pages/conversa.htm?userTo='+data.list[i].id+'">'+data.list[i].nome+'</a></span>';
									'<a href="$context/pages/conversa.htm?userTo='+data.list[i].id+'" class="linkUsuarios">'+
									'<span class="nomeUsuarioLista">'+data.list[i].nome+'</span>';
										if(data.list[i].desc1){
						conteudo +=			'<span class="cargoUsuarioLista">'+data.list[i].desc1+'</span>';
										}
										if(data.list[i].desc1 && data.list[i].desc2){
						conteudo +=			'<span class="cargoUsuarioLista escondeMobile"> - </span>';				
										}
										if(data.list[i].desc2){
					    conteudo +=			'<span class="complementoUsuarioLista pulaLinha">'+data.list[i].desc2+'</span>';				
										}
						conteudo +=	'</a></div>'+
								'</div>'+
							'</li>';
		 		}
		 		
		 	}else if($(".listaUsuarios li").length <= 0){
	 			var conteudo =	'<li class="nenhumResultado">Nenhum resultado encontrado.</li>';
	 			$(".paginaAtual").hide();
	 		}else{
	 			$(".paginaAtual").hide();
	 		}
	 		if(data.list && data.list.length < 10){
	 			$(".paginaAtual").hide();
	 		}
	 		$(".paginaAtual").attr("data-page", parseInt($(".paginaAtual").attr("data-page"))+1);
	 		$(".listaUsuarios").append(conteudo);
	 		$(".paginaAtual").removeClass("loading");
	 		
	 		if(data.mensagem){
	 			$(".paginaAtual").hide();
	 			jAlert(data.mensagem.mensagem, data.mensagem.status);
	 		}
		}
	 });
}
$(document).ready(function(){
	var stoppedTyping;
	$("#form_nome").on("keyup", function(e){
		$(".paginaAtual").attr("data-page", "-1");  
		var termo = $(this).val();
		var grupo = $("#form_grupo").val();
		var page = $(".paginaAtual").attr("data-page");
		if(e.keyCode == 13){
			e.preventDefault();
			return false;
		}else{
			$(this).addClass("ac_loading");
			if (stoppedTyping) clearTimeout(stoppedTyping);
			stoppedTyping = setTimeout(function(){
				$(".listaUsuarios").html("");
				buscaUsuarios(termo, grupo);
			}, 1000);
		}
	});
	
	$("#form_grupo").on("change", function(){
		$(".paginaAtual").attr("data-page", "-1");
		var termo = $("#form_nome").val();
		var grupo = $(this).val();
		var page = $(".paginaAtual").attr("data-page");
		$(".listaUsuarios").html("");
		buscaUsuarios(termo, grupo, page);
	});
    
	//scroll page load usuarios
	$(window).scroll(function() {
	   if($(window).scrollTop() + $(window).height() > $(document).height() - $(".paginaAtual").outerHeight()) {
		   if($(".paginaAtual").hasClass("loading")){
		   		return false;
		   }else if($(".paginaAtual:visible").length > 0 && !$(".paginaAtual").hasClass("loading")){
	    	   $(".paginaAtual").addClass("loading");
	    	   var termo = $("#form_nome").val();
	 		   var grupo = $("#form_grupo").val();
	 		   var page = parseInt($(".paginaAtual").attr("data-page"))+1;
	    	   buscaUsuarios(termo, grupo, page);
		   }
	   }
	});
	
	if($(window).scrollTop() + $(window).height() > $(document).height() - $(".paginaAtual").outerHeight()) {
	    if($(".paginaAtual:visible").length > 0 && !$(".paginaAtual").hasClass("loading")){
	   	    $(".paginaAtual").addClass("loading");
	   	    var termo = $("#form_nome").val();
			    var grupo = $("#form_grupo").val();
			    var page = parseInt($(".paginaAtual").attr("data-page"))+1;
	   	    buscaUsuarios(termo, grupo, page);
	    }
	}
	
});


</script>
<h2>Selecionar Usuário</h2>
${form.startTag()}
<div class="clearfix formClear">
	<div class="umMeio left" style="width: 46%;">
		<div class="campo">
			$form.fields.nome
		</div>	
	</div>
	<div class="umMeio hideResponsivo" style="width: 4%;"><span class="textoForm">em</span></div>
	<div class="umMeio" style="width: 46%;">
		<div class="campo">
			$form.fields.grupo
		</div>
	</div>
	<div class="multipleSelect" style="display:none;">
		<ul>
		</ul>
	</div>
</div>
${form.endTag()}

#if ($usuarios)
<div class="conteudoNoPadding">
	<ul class="lista listaUsuarios">
		#foreach($u in $usuarios)
			<li>
				<div class="clearfix">
					<div class="umTerco left a" style="width:15%;"><div class="fotoUsuario"><div class="centraliza"><a href="$context/pages/conversa.htm?userTo=${u.id}"><img src="$u.urlFotoUsuario" alt="$!u.nome" /></a></div></div></div>
					<div class="umTerco b" style="width:75%;">
						<a href="$context/pages/conversa.htm?userTo=${u.id}" class="linkUsuarios"><!-- $context/pages/escreverMensagem.htm?id=${u.id}&nome=${u.nome} -->
						<span class="nomeUsuarioLista">$!u.nome</span>
							#if($!u.desc1)
								<span class="cargoUsuarioLista">$!u.desc1</span>
							#end
							#if($!u.desc1 && $!u.desc2)
								<span class="cargoUsuarioLista escondeMobile"> - </span>
							#end
							#if($!u.desc2)
    							<span class="complementoUsuarioLista pulaLinha">$!u.desc2</span>
   		 					#end
					</div>
				</div>
			</li>
		#end
	</ul>
</div>
#end
<div class="paginaAtual" style="#if($usuarios.size() < 10) display:none; #end" data-page="$page"></div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>