.treestyle {
	background: #fff;
	width: 100% !important;
	padding:10px;
	@include prefix(border-radius, 4px, webkit moz ms o);
}

.unselected, .selected, .expandedLastNode{
    a, a:visited, a:active{ color: #0096d0 !important; text-decoration: none; }
}

@import '_treecategoria';