<div class="modal fade" id="modal-crop-image" role="dialog" aria-labelledby="modal-crop-image" data-keyboard="false" tabindex="-1">
	<div class="modal-dialog modal-xlg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title"><span class="glyphicon glyphicon-camera"></span>&nbsp; Anexar Imagens</h4>
     		</div>
     		<div class="modal-body">
     			#parse("/pages/include_crop_image.htm")
	   		</div>
		</div>
	</div>
</div>
<script>
var _deleteDestaque = false;
var _lastDestaque;

$('.crop-thumbs-holder .image-upload-holder').each(function(){
	if(!$(this).find('.crop-crown-icon').hasClass('img-destaque')){
		_deleteDestaque = true;
	}
});
</script>