<div class="modal fade" id="modal-rlt" role="dialog" aria-labelledby="modal-rlt" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<form id="formRLT">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-envelope"></span>&nbsp; Informar RLT</h4>
      		</div>
      		<div class="modal-body">
					<input type="hidden" value="" name="rlt-id" id="rlt-id"> 
					<div class="clearfix row">
						<div class="col-md-6 form-group">
			    			<label for="dataInicial" class="control-label">Data Inicial</label>
			    			<input type="date" autofocus="autofocus" class="form-control rlt-field" id="dataInicial" name="dataInicial" required>
			    		</div>
			    		<div class="col-md-6 form-group">
			    			<label for="dataFinal" class="control-label">Data Final</label>
		    				<input type="date" class="form-control rlt-field" id="dataFinal" name="dataFinal" required>
			    		</div>
		  			</div>
		  			<div class="clearfix row">
						<div class="col-md-6 form-group">
			    			<label for="horaInicial" class="control-label">Hora Inicial</label>
			    			<input type="time" class="form-control rlt-field" id="horaInicial" name="horaInicial" required>
			    		</div>
			    		<div class="col-md-6 form-group">
			    			<label for="horaFinal" class="control-label">Hora Final</label>
		    				<input type="time" class="form-control rlt-field" id="horaFinal" name="horaFinal" required>
			    		</div>
		  			</div>
		  			<div class="clearfix row">
						<div class="col-md-6 form-group">
			    			<label for="impacto" class="control-label">Impacto</label>
			    			<input type="text" class="form-control rlt-field" id="impacto" name="impacto" placeholder="Impacto" required>
			    		</div>
			    		<div class="col-md-6 form-group">
			    			<label for="ticket" class="control-label">Ticket</label>
		    				<input type="number" class="form-control rlt-field" id="ticket" name="ticket" placeholder="Ticket" required>
			    		</div>
		  			</div>
		  			<div class="clearfix row">
			    		<div class="col-md-6 form-group">
			    			<label for="status" class="control-label">Status</label>
			    			<div class="campoPost">
		    					<select id="status" name="status" required></select>
		    				</div>
			    		</div>
<!-- 						<div class="col-md-6 form-group"> -->
<!-- 			    			<label for="produto" class="control-label">Produto</label> -->
<!-- 			    			<input type="text" class="form-control rlt-field" id="produto" name="produto" placeholder="Produto"> -->
<!-- 			    			<input type="hidden" class="form-control" id="produto_id" name="produto_id" placeholder="Produto" required> -->
<!-- 			    		</div> -->
			    		<div class="col-md-6 form-group subproduto-holder">
			    			<label for="subproduto" class="control-label">Subproduto</label>
			    			<input type="text" class="form-control rlt-field" id="subproduto" name="subproduto" placeholder="Nome do subproduto">
			    			<input type="hidden" class="form-control" id="subproduto_id" name="subproduto_id" placeholder="Subproduto" required>
			    		</div>
		  			</div>
		  			<div class="clearfix form-group">
		    			<label for="resumo" class="control-label">Resumo do incidente</label>
		    			<textarea class="form-control rlt-field" id="resumo" name="resumo" required></textarea>
		  			</div>
     			</div>
      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default clearformRLT min-width">Cancelar</button>
	        		<button type="submit" class="btn btn-primary min-width disabled" id="salvar-rlt">Salvar</button>
      		</div>
			</div>
		</form>
	</div>
</div>
<script>
var rltId = "$!rltId";
// var arrayProdutoRLT = [];
var arraySubprodutoRLT = [];
function clearformRLT() {
	$("#modal-rlt").modal('hide');
	$('#formRLT')[0].reset();
	$("#dataInicial, #dataFinal, #horaInicial, #horaFinal, #impacto, #ticket, #subproduto_id, #status, #resumo").val("");
	$('#formRLT').find('.form-group').removeClass('has-error').removeClass('has-success');
	OBJ_RLT = {};
} 

$('.clearformRLT').click(function() {
	clearformRLT();
});

$(document).ready(function(){
	
	if(jQuery.trim(rltId) != ""){
		getPostRLT(rltId);
		getStatusRDD();
	}else{
		var filtro = 'page=0&maxRows=0&max=0&q=&coluna=nome&ordenacao=asc';
		subprodutosRDDTokenInput();
// 		$("#produto").tokenInput(urlContext + '/rest/rdd/produto?'+filtro, {
// 			method: "GET",
// 			jsonContainer : "entity",
// 			queryParam: "q",
// 			minChars: 0,
// 			hintText: "Comece a digitar para buscar.",
// 			noResultsText: "Nenhum item encontrado",
// 			placeholder: 'Nome do produto',
// 			tokenLimit: 1,
// 	    	searchingText: "Carregando...",
// 	    	preventDuplicates: true,
// 	    	propertyToSearch: "nome",
// 	    	onAdd: function (item) {
// 				$("#produto_id").val(item.id);
// 				subprodutosRDDTokenInput(item.id);
// 			},
// 	    	onDelete: function (item) {
// 	    		$("#produto_id").val("");
// 	    		$("#subproduto").tokenInput('clear');
// 	    		$('.subproduto-holder').find('ul.token-input-list').remove();
// 	    		$("#subproduto_id").val('');
// 	    		$('#subproduto').show();
// 	    	}
// 		});
	}
	
	$('.form-control.rlt-field').keyup(function(){
		var dtIni = $('#dataInicial').val();
		var dtFim = $('#dataFinal').val();
		var hrIni = $('#horaInicial').val();
		var hrFim = $('#horaFinal').val();
		var impacto = $('#impacto').val();
		var ticket = $('#ticket').val();
		var status = $('#status').val();
// 		var prod = $('#produto_id').val();
		var subprod = $('#subproduto_id').val();
		var resumo = $('#resumo').val();
		if(dtIni != "" && dtFim != "" && hrIni != "" && hrFim != "" && impacto != "" && ticket != "" && status != "" && subprod != "" && resumo != ""){
			$('#salvar-rlt').removeClass('disabled');
		}else{
			$('#salvar-rlt').addClass('disabled');
		}
	});
	
	$('#salvar-rlt').click(function(event){
		event.preventDefault();
		OBJ_RLT.dataInicial = $('#dataInicial').val();
		OBJ_RLT.dataFinal = $('#dataFinal').val();
		OBJ_RLT.horaInicial = $('#horaInicial').val();
		OBJ_RLT.horaFinal = $('#horaFinal').val();
		OBJ_RLT.impacto = $('#impacto').val();
		OBJ_RLT.ticket = $('#ticket').val();
		OBJ_RLT.status = $('#status').val();
// 		OBJ_RLT.produto = $('#produto_id').val();
		OBJ_RLT.subproduto = $('#subproduto_id').val();
		OBJ_RLT.resumo = $('#resumo').val();
		OBJ_RLT.rlt = true;
		$('#modal-rlt').modal('hide');
	});
	
});

function getPostRLT(id){
	jQuery.ajax({
		type: 'GET',
		url: '$context/rest/rdd/rlt/' + id,
		success: function(data){
			$('#rlt-id').val(data.id);
			var dataInicial = data.dataInicial;
			var dtIniF = dataInicial.split('/');
			var dtIni = dtIniF[2] + '-' + dtIniF[1] + '-' + dtIniF[0];
			$('#dataInicial').val(dtIni);

			var dataFinal = data.dataFinal;
			var dtFimF = dataFinal.split('/');
			var dtFim = dtFimF[2] + '-' + dtFimF[1] + '-' + dtFimF[0];
			$('#dataFinal').val(dtFim);
			
			$('#horaInicial').val(data.horaInicial);
			$('#horaFinal').val(data.horaFinal);
			$('#impacto').val(data.impacto);
			$('#ticket').val(data.ticket);
			$('#resumo').val(data.resumoIncidente);
			$('#status').val(data.statusId);
// 			$('#produto_id').val(data.produtoVO.id);
			$('#subproduto_id').val(data.subprodutoVO.id);
			
// 			arrayProdutoRLT.push({ id: data.produtoVO.id, nome: data.produtoVO.nome });
			arraySubprodutoRLT.push({ id: data.subprodutoVO.id, nome: data.subprodutoVO.nome });
			
			subprodutosRDDTokenInput(arraySubprodutoRLT);
			
			var filtro = 'page=0&maxRows=0&max=0&q=&coluna=nome&ordenacao=asc';
// 			$("#produto").tokenInput(urlContext + '/rest/rdd/produto?'+filtro, {
// 				method: "GET",
// 				jsonContainer : "entity",
// 				queryParam: "q",
// 				minChars: 0,
// 				hintText: "Comece a digitar para buscar.",
// 				noResultsText: "Nenhum item encontrado",
// 				placeholder: 'Nome do produto',
// 				tokenLimit: 1,
// 		    	searchingText: "Carregando...",
// 		    	preventDuplicates: true,
// 		    	prePopulate: arrayProdutoRLT,
// 		    	propertyToSearch: "nome",
// 		    	onAdd: function (item) {
// 					$("#produto_id").val(item.id);
// 				},
// 		    	onDelete: function (item) {
// 		    		$("#produto_id").val("");
// 		    		$("#subproduto").tokenInput('clear');
// 		    		$('.subproduto-holder').find('ul.token-input-list').remove();
// 		    		$("#subproduto_id").val('');
// 		    		$('#subproduto').show();
// 		    	}
// 			});
		}
	});
}

function getStatusRDD(){
	jQuery.ajax({
		url: urlContext + '/rest/rdd/status',
		type: 'GET',
		success: function(data){
			var conteudo = "";
			if(data.entity && data.entity.length > 0){
				var ent = data.entity;
				for(var i = 0; i < ent.length; i++){
					conteudo += '<option value="'+ent[i].id+'">'+ent[i].nome+'</option>';
				}
				$('select#status').append(conteudo);
			}
		}
	});
}

function subprodutosRDDTokenInput(arraySubprodutoRLT){
	$("#subproduto").tokenInput(urlContext + '/rest/rdd/subprodutos/0', {
		method: "GET",
		jsonContainer : "entity",
		queryParam: "q",
		minChars: 0,
		hintText: "Comece a digitar para buscar.",
		noResultsText: "Nenhum item encontrado",
		placeholder: 'Nome do subproduto',
		tokenLimit: 1,
		prePopulate: arraySubprodutoRLT ? arraySubprodutoRLT : null,
    	searchingText: "Carregando...",
    	preventDuplicates: true,
    	propertyToSearch: "nome",
    	onAdd: function (item) {
			$("#subproduto_id").val(item.id);
		},
    	onDelete: function (item) {
    		$("#subproduto_id").val("");
    	}
	});
}
</script>