<div class="modal fade" id="modalPreviewPost" role="dialog" aria-labelledby="modalPreviewPost" tabindex="-1">
	<div class="modal-dialog" role="document">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title"><span class="glyphicon glyphicon-phone"></span>&nbsp; Preview do post</h4>
     		</div>
     		<div class="modal-body">
				<ul id="navDevice" class="nav nav-tabs" role="tablist">
					<li class="active">
						<a href="#android" aria-controls="home" role="tab" data-toggle="tab">
							<i class="fa fa-android fa-2x" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="#ios" aria-controls="profile" role="tab" data-toggle="tab">
							<i class="fa fa-apple fa-2x" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
				
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active fade in" id="android">
					   	<div class="casca-android-preview">
				   			#parse("/mural/includes/previewMobile.htm")
					   	</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="ios">
					   	<div class="casca-ios-preto livecom">
					   		#parse("/mural/includes/previewMobile.htm")
					   	</div>
					</div>
				</div>      			
			</div>
		</div>
	</div>
</div>
<script>
$("#modalPreviewPost").on("hidden.bs.modal", function(e){
	$(this).find('iframe').contents().find('html body').html('');
});

#if($!mural_preview_post_revista_on && $!mural_preview_post_revista_on == '1')
	$('.itauHome').on('click', function() {
		$('.itauPost').fadeIn();
		$('.itauHome').fadeOut();
	});
	$('.itauPost').on('click', function() {$('.itauHome').fadeIn();
		$('.itauPost').fadeOut();
	});
#else
	$('.post-mobile-body .post-ver-mais').click(function(){
		$('.livecomDetalhes').fadeIn();
		$('.livecomPost').fadeOut();
	});
	$('.livecomDetalhes .drawer-back').click(function(){
		$('.livecomPost').fadeIn();
		$('.livecomDetalhes').fadeOut();
	});
#end
</script> 