#if($!config_qtdDescricaoArquivo)
	#set( $limiteDescricao = $!config_qtdDescricaoArquivo )
#else
	#set( $limiteDescricao = "140" )
#end

<div class="modal fade" id="modalInsertMediaMural" role="dialog" aria-labelledby="modalInsertMediaMural" tabindex="-1">
	<div class="modal-dialog modal-xlg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title"><span class="glyphicon glyphicon-paperclip"></span>&nbsp; Inserir mídia</h4>
     		</div>
      	<div class="modal-body clearfix">
      		<div class="portlet light header-grupo">
      			<div class="portlet-title tabbable-line">
      				<ul class="nav nav-tabs pull-left full-width">
      					<!-- <li class="active"><a data-toggle="tab" href="#insertMedia-uploadFile">Upload</a></li> -->
      					<li class="active"><a data-toggle="tab" href="#insertMedia-biblioteca">Galeria</a></li>
      					<li class="link-insertMedia-editFile"><a data-toggle="tab" href="#insertMedia-editFile">Anexos do post</a></li>
      					<li class="pull-right"><a class="upload-tab bs-tooltip" title="Anexar arquivos"><i class="material-icons">file_upload</i></a></li>
     				</ul>
      			</div>
      			<div class="portlet-body clearfix header-grupo">
      				<div class="tab-content clearfix">
      				
      					<div id="insertMedia-uploadFile" class="tab-pane fade">
      						<div class="clearfix">
									<div class="multiplefileuploader tooltip-livecom #if($mural_galeria_on && $mural_galeria_on == '1') newUploadPost #else #end" data-postId="$!post.id" data-commentId="" data-msgId="" title="Inserir Anexo"></div>
								</div>
							</div>
							
							<div id="insertMedia-biblioteca" class="tab-pane fade in active">
								<div class="col-sm-9 galeria-files seletorArquivos">
									<ul class="clearfix arquivos"></ul>
									
									<div class="muralVazio"></div>
									<div class="paginaAtual" data-page="-1"></div>
								</div>
								
								<div class="col-sm-3 info-arquivo fade">
									<div class="clearfix">
										<h4 class="text-center sbold">Detalhes do anexo</h4>
										<div class="form-group miniatura-wrapper"></div>
										<div class="form-group arquivoNome">
											<label class="labelCampo" for="insertMedia-arquivoNome-biblioteca">Nome:</label>
											<input id="insertMedia-arquivoNome-biblioteca" class="info-arquivo-nome" placeholder="Nome do arquivo..." title="Clique para editar" />
										</div>
										<div class="form-group">
											<label class="labelCampo">Tamanho:</label>
											<p class="info-arquivo-tamanho"></p>
										</div>
										<div class="form-group dimensoes">
											<label class="labelCampo">Dimensões:</label>
											<p class="info-arquivo-dimensoes"></p>
										</div>
										<div class="form-group descricao">
											<label class="labelCampo" for="insertMedia-arquivoDescricao-biblioteca">Descrição:</label>
											<textarea id="insertMedia-arquivoDescricao-biblioteca" maxlength="$!limiteDescricao" placeholder="Descrição do arquivo..." rows="3" class="arquivo-descricao" title="Clique para editar"></textarea>
										</div>
										<p class="description-msg-text"></p>
									</div>
								</div>
							</div>
							
							<div id="insertMedia-editFile" class="tab-pane fade">
								<div class="clearfix row">
									<div class="recent-files col-sm-2">
										<input type="hidden" id="copiarAnexos" name="copiarAnexos" value=""/>
										<ul class="arquivos">
											#foreach($a in $post.arquivos)
												
												#set( $isImage = false )
												#set( $isDoc = false )
												#if($a.extensao.toLowerCase() == 'png' || $a.extensao.toLowerCase() == 'jpg' || $a.extensao.toLowerCase() == 'jpeg' || $a.extensao.toLowerCase() == 'gif' || $a.extensao.toLowerCase() == 'svg' || $a.extensao.toLowerCase() == 'webp')
													#set( $isImage = true )
												#end
												
												#if($a.extensao.toLowerCase() == 'doc' || $a.extensao.toLowerCase() == 'docx' || $a.extensao.toLowerCase() == 'pdf' || $a.extensao.toLowerCase() == 'rtf' || $a.extensao.toLowerCase() == 'txt'
													|| $a.extensao.toLowerCase() == 'ppt' || $a.extensao.toLowerCase() == 'pptx' || $a.extensao.toLowerCase() == 'pps' || $a.extensao.toLowerCase() == 'ppsx'
													|| $a.extensao.toLowerCase() == 'xls' || $a.extensao.toLowerCase() == 'xslx')
													#set( $isDoc = true )
												#end
												
												<li class="clearfix already-uploaded already-embed #if($!a.destaque) destaque #end"
													 data-arquivo-id="$a.id" data-descricao="$!a.descricao" data-extensao="$a.extensao.toLowerCase()" data-dimensao="$a.dimensao"
													 data-height="$a.height" data-width="$a.width" data-length="$a.length" data-nome="$a.nome" data-url="$a.url"
													 data-is-image="$!isImage" data-is-doc="$!isDoc" data-ordem="$a.ordem" data-human="$a.getHumanReadableLength()"
													 #set( $idx = 0 )
													 #foreach ($t in $a.thumbs)
													 	data-thumb-id$idx="$t.id"
													 	data-thumb$idx="$t.url"
													 	data-thumb-width$idx="$t.width"
													 	data-thumb-height$idx="$t.height"
													 	#set( $idx = $idx + 1 )
													 #end
													 >
													<div class="icon-destaque #if($!a.destaque) active #end" data-arquivo-id="$a.id"><i class="fa fa-star fa-2x" aria-hidden="true" #if($!a.destaque) title="Imagem de destaque" #else title="Tornar destaque" #end></i></div>
													<div class="icon-wrapper"><span class="fa-stack fa-lg remove-from-recent" title="Remover"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-times fa-stack-1x fa-inverse"></i></span></div>
													<div class="arquivo mt-overlay-1 custom-overlay" data-arquivo-id="$a.id"> 
														<div class="miniaturaArquivo">
															#if($a.extensao.toLowerCase() == 'png' || $a.extensao.toLowerCase() == 'jpg' || $a.extensao.toLowerCase() == 'jpeg' || $a.extensao.toLowerCase() == 'gif' || $a.extensao.toLowerCase() == 'svg' || $a.extensao.toLowerCase() == 'webp')
																<a>
																	<img src="$a.url" alt="$a.nome" />
																</a>
															#else
																<i class="file-extensions-icons-big $a.extensao.toLowerCase()"></i>
																<span class="extension">$a.extensao.toLowerCase()</span>
															#end
														</div>
														
														<div class="clearfix title-wrapper">
															<h4 class="custom-title">$a.nome</h4>
														</div>
													</div>
												</li>
													
											#end
										</ul>
									</div>
									
									<div class="col-sm-7 edit-image-content">
										<div class="insert-arquivo-preview clearfix">
											<div class="insert-arquivo-preview-images"></div>
											
											<div class="insert-arquivo-preview-docs"></div>
											
											<div class="insert-arquivo-preview-others"></div>
										</div>
									</div>
									
									<div class="col-sm-3 info-arquivo fade">
										<div class="clearfix">
											<h4 class="text-center sbold">Detalhes do anexo</h4>
											<div class="form-group arquivoNome">
												<label class="labelCampo" for="insertMedia-arquivoNome-upload">Nome:</label>
												<input id="insertMedia-arquivoNome-upload" class="info-arquivo-nome" placeholder="Nome do arquivo..." title="Clique para editar" />
											</div>
											<div class="form-group">
												<label class="labelCampo">Tamanho:</label>
												<p class="info-arquivo-tamanho"></p>
											</div>
											<div class="form-group dimensoes">
												<label class="labelCampo">Dimensões:</label>
												<p class="info-arquivo-dimensoes"></p>
											</div>
											<div class="form-group descricao">
												<label class="labelCampo" for="insertMedia-arquivoDescricao-upload">Descrição:</label>
												<textarea id="insertMedia-arquivoDescricao-upload" maxlength="$!limiteDescricao" placeholder="Descrição do arquivo..." rows="3" class="arquivo-descricao" title="Clique para editar"></textarea>
											</div>
											#if($!mural_galeria_thumbs_on && $!mural_galeria_thumbs_on == '1')
											<div class="insert-arquivo-thumbs clearfix">
												<div class="clearfix links-wrapper">
													<h4 class="sbold">Thumbs</h4>
												</div>
												<div class="thumbnails-wrapper clearfix"></div>
											</div>
											#end
											<p class="description-msg-text"></p>
										</div>
									</div>
									
									<div class="col-md-3 preview-crop-wrapper">
										<h4 class="text-center sbold">Preview do recorte</h4>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							
      				</div>
      			</div>
      		</div>
			</div>
			<div class="modal-footer">
        		<button class="btn btn-default min-width btn-cancelar-arquivos">Cancelar</button>
        		#if($!mural_webview_on && $!mural_webview_on == 1)
        		<button class="btn btn-primary min-width btn-embed-arquivos">Inserir no post</button>
        		#end
        		<button class="btn btn-primary min-width btn-enviar-arquivos">Concluir</button>
     		</div>
		</div>
	</div>
</div>
<script>
var _isCtrl = false, jcrop_api = null, _galeriaCounter = 0, _modificouArquivos = false;

$(document).keydown(function(event){
	if(event.which=="17")
		_isCtrl = true;
});

$(document).keyup(function(){
	_isCtrl = false;
});

$(document).ready(function(){
	$('#insertMedia-arquivoDescricao-upload, #insertMedia-arquivoDescricao-biblioteca').maxlength({
		 limitReachedClass: "label label-danger",
		 placement: 'top',
		 alwaysShow: true,
		 appendToParent: true,
	});
	
	$('.upload-tab').click(function(){
		$('#modalInsertMediaMural .ajax-file-upload').find('>form > input').first().click();
	});
	
	$('body').on('click', '.recent-files .arquivos > li', function(){
		var arquivo = $(this), isImage = arquivo.data('is-image'), isDoc = arquivo.data('is-doc'), infoArquivo = $('#insertMedia-editFile .info-arquivo'), previewArquivo = $('#insertMedia-editFile .insert-arquivo-preview');
		
		var arrayThumbs = [];
		if(typeof arquivo.data('thumb0') != 'undefined'){
			arrayThumbs.push({
				url: arquivo.data('thumb0'),
				width: arquivo.data('thumb-width0'),
				height: arquivo.data('thumb-height0'),
				id: arquivo.data('thumb-id0')
			});
		}
		
		if(typeof arquivo.data('thumb1') != 'undefined'){
			arrayThumbs.push({
				url: arquivo.data('thumb1'),
				width: arquivo.data('thumb-width1'),
				height: arquivo.data('thumb-height1'),
				id: arquivo.data('thumb-id1')
			});
		}
		
		if(typeof arquivo.data('thumb2') != 'undefined'){
			arrayThumbs.push({
				url: arquivo.data('thumb2'),
				width: arquivo.data('thumb-width2'),
				height: arquivo.data('thumb-height2'),
				id: arquivo.data('thumb-id2')
			});
		}
		
		var arrayTemp = [];
		arrayThumbs.forEach(function(item) {
			if(item.height < 960 && item.width < 960){
				arrayTemp[item.width] = item;
			}
		});
		
		var arrayFinal = [];
		for(var i in arrayTemp) {
			arrayFinal.push(arrayTemp[i]);
		}
		
		arrayFinal = arrayFinal.reverse();
		
		infoArquivo.find('.info-arquivo-tamanho').empty().html(arquivo.data('human'));
		infoArquivo.find('#insertMedia-arquivoNome-upload, #insertMedia-arquivoDescricao-upload').val('').data('arquivo-id', arquivo.data('arquivo-id'));
		infoArquivo.find('#insertMedia-arquivoDescricao-upload').val(arquivo.data('descricao'));
		infoArquivo.find('#insertMedia-arquivoNome-upload').val(arquivo.data('nome'));
		
		$('.recent-files .arquivos > li, .preview-crop-wrapper').removeClass('active');
		arquivo.addClass('active');
		
		if(parseInt(arquivo.data('width')) > 0 && parseInt(arquivo.data('height')) > 0){
			infoArquivo.find('.info-arquivo-dimensoes').empty().html(parseInt(arquivo.data('width')) + " x " + parseInt(arquivo.data('height')) + ' px');
			infoArquivo.find('.dimensoes').addClass('active');
		}else{
			infoArquivo.find('.info-arquivo-dimensoes').empty();
			infoArquivo.find('.dimensoes').removeClass('active');
		}
		
		$('.description-msg-text').fadeOut(function(){
			$(this).html('').removeClass('font-green-sharp font-yellow-gold');
		});
		
		$('.insert-arquivo-thumbs .thumbnails-wrapper').empty();
		$('.insert-arquivo-thumbs').removeClass('active');
		if(arrayThumbs.length > 0){
			var htmlThumbs = '', links = '';
			if(PARAMS.GALERIA_EDITAR_THUMBS_ON == '1'){
				if(!FILE_EXTENSIONS.gif[arquivo.data('extensao')]){
					if(PARAMS.GALERIA_CROP_ON == '1'){
						links += '<a class="font-blue sbold editar-thumbs">editar</a>';
						links += '<div id="habilitar-thumb">'
							links += '<div class="edit-block">'
								links += '<button class="btn btn-primary salvar-thumb"><i class="fa fa-check"></i> Salvar</button>&nbsp;';
								links += '<button class="btn btn-default desabilitar-thumb" data-toggle="tooltip" title="Cancelar"><i class="fa fa-times"></i></button>';
							links += '</div>'
						links += '</div>';
					}
					links += '<a class="font-green sbold refazer-thumbs" title="Refaz as thumbs com a proporção original da imagem">refazer thumbs</a>';
				}
			}
			
			for(var i = 0; i < arrayFinal.length; i++){
				var thumbnail = arrayFinal[i];
				if(thumbnail.url != ''){
					htmlThumbs += '<div class="img-wrapper" data-thumb-id="'+thumbnail.id+'" data-thumb-height="'+thumbnail.height+'" data-thumb-width="'+thumbnail.width+'" data-thumb-id="'+thumbnail.id+'"><img class="img-responsive" alt="Thumbnail da imagem" src="'+thumbnail.url+'" /><p>'+thumbnail.width+' x '+thumbnail.height+' px</p></div>';
				}
			}
			
			$('.insert-arquivo-thumbs').find('.crop-thumbs-thumbnail-container').remove();
			$('.insert-arquivo-thumbs .thumbnails-wrapper').append(htmlThumbs).removeClass('invisible');
			$('.insert-arquivo-thumbs').addClass('active');
			
			if(PARAMS.GALERIA_EDITAR_THUMBS_ON == '1'){
				$('.insert-arquivo-thumbs > .links-wrapper h4').empty().append('Thumbs '+links);
			}else{
				$('.insert-arquivo-thumbs > .links-wrapper h4').empty().append('Thumbs');
			}
			
			$('.refazer-thumbs').tooltip({ html: true });
		}
		
		$('body').find('.btn-cancelar-thumbs').click();
		infoArquivo.addClass('in');
		
		previewArquivo.find('> div').empty().removeClass('active');
		if(isImage){
			var botoesCrop = '';
			botoesCrop += '<div class="form-group clearfix">';
				if(PARAMS.GALERIA_CROP_ON == '1'){
					botoesCrop += '<button class="btn btn-default btn-edit habilitar-crop" data-toggle="tooltip" title="Recortar"><i class="fa fa-crop"></i></button>';
					botoesCrop += '<div id="habilitar-crop">'
						botoesCrop += '<div class="edit-block">'
							botoesCrop += '<button class="btn btn-primary salvar-crop"><i class="fa fa-check"></i> Salvar recorte</button>&nbsp;';
							botoesCrop += '<button class="btn btn-default desabilitar-crop" data-toggle="tooltip" title="Cancelar"><i class="fa fa-times"></i></button>';
						botoesCrop += '</div>'
					botoesCrop += '</div>';
				}
				if(PARAMS.GALERIA_RESIZE_ON == '1'){
					botoesCrop += '<button class="btn btn-default btn-edit resize-btn" data-toggle="tooltip" title="Redimensionar"><i class="fa fa-arrows-alt"></i></button>';
					botoesCrop += '<div id="habilitar-resize">'
						botoesCrop += '<div class="edit-block">'
							botoesCrop += '<button class="btn btn-primary salvar-resize"><i class="fa fa-check"></i> Salvar imagem</button>&nbsp;';
							botoesCrop += '<button class="btn btn-default desabilitar-resize" data-toggle="tooltip" title="Cancelar"><i class="fa fa-times"></i></button>';
						botoesCrop += '</div>'
					botoesCrop += '</div>'
				}
				if(PARAMS.GALERIA_ROTATE_ON == '1'){
					botoesCrop += '<button class="btn btn-default btn-edit rotate-btn" data-toggle="tooltip" title="Rotacionar +90&deg;"><i class="fa fa-repeat"></i></button>';
					botoesCrop += '<div id="habilitar-rotate">'
						botoesCrop += '<div class="edit-block">'
							botoesCrop += '<button class="btn btn-primary salvar-rotate"><i class="fa fa-check"></i> Salvar imagem</button>&nbsp;';
							botoesCrop += '<button class="btn btn-default desabilitar-rotate" data-toggle="tooltip" title="Cancelar"><i class="fa fa-times"></i></button>';
						botoesCrop += '</div>'
					botoesCrop += '</div>'
				}
			botoesCrop += '</div>';
			
			
			$('body').find('img.original-crop-image').remove();
			$('body').append('<img class="original-crop-image" alt="'+arquivo.data('nome')+'" src="'+arquivo.data('url')+'" />');
			
			var htmlCrop = '';
			htmlCrop += '<div class="html-crop">';
				if(!FILE_EXTENSIONS.gif[arquivo.data('extensao')]){
					htmlCrop += botoesCrop;	
				}
				htmlCrop += '<img class="img-responsive crop-image resize-image" alt="'+arquivo.data('nome')+'" src="'+arquivo.data('url')+'" onload="marginAuto()" />'
			htmlCrop += '</div>';
			
			previewArquivo.find('.insert-arquivo-preview-images').append(htmlCrop);
			previewArquivo.find('.insert-arquivo-preview-images').addClass('active');
			
			setTimeout(function(){
				$('.html-crop > .form-group').addClass('active');
			}, 130);
		}else if(isDoc){
			previewArquivo.find('.insert-arquivo-preview-docs').append('<iframe class="iframe medium bordered radius spinner-blue" src="https://docs.google.com/gview?url='+arquivo.data('url')+'&embedded=true"></iframe>');
			previewArquivo.find('.insert-arquivo-preview-docs').addClass('active');
		}else{
			previewArquivo.find('.insert-arquivo-preview-others').append('<h5>Este arquivo não possui visualização disponível.</h5>');
			previewArquivo.find('.insert-arquivo-preview-others').addClass('active');
		}
		
		$('[data-toggle="tooltip"]').tooltip({ html: true });
	});
	
	$('body').on('click', '.galeria-files .arquivos > li', function(){
		var item = $(this);
		var wrapper = $('#insertMedia-biblioteca .info-arquivo'), miniatura = item.find('.arquivo.mt-overlay-1').clone();
		var id = item.data('arquivo-id'), largura = parseInt(item.data('width')), altura = parseInt(item.data('height')), nome = item.data('nome'), extensao = item.data('extensao'),
			 tamanho = item.data('human'), descricao = item.data('descricao');
		
		if($('#modalInsertMediaMural').hasClass('only-embed') && !FILE_EXTENSIONS.image[extensao.toLowerCase()]){
			toastr.error('Você não pode inserir esse tipo de arquivo no corpo do post!');
			return;
		}
		
		if(item.hasClass('active')){
			item.removeClass('active');
			if($('.galeria-files .arquivos > li.active').length > 0){
				var liActive = $('.galeria-files .arquivos > li.active').get(0);
				showAnexoInfo({
					wrapper: wrapper,
					miniatura: $(liActive).find('.arquivo.mt-overlay-1').clone(),
					id: $(liActive).data('arquivo-id'),
					nome: $(liActive).data('nome'),
					tamanho: $(liActive).data('human'),
					largura: parseInt($(liActive).data('width')),
					altura: parseInt($(liActive).data('height')),
					descricao: $(liActive).data('descricao'),
					extensao: $(liActive).data('extensao')
				});
			}else{
				$('#insertMedia-biblioteca .info-arquivo').removeClass('in').find('.info-arquivo-tamanho, .info-arquivo-dimensoes').empty();
			}
			
			if($('.recent-files ul >li[data-arquivo-id="'+item.data('arquivo-id')+'"]').length > 0){
				$('.recent-files ul >li[data-arquivo-id="'+item.data('arquivo-id')+'"]').remove();
				$('#insertMedia-editFile .insert-arquivo-preview').find('> div').empty().removeClass('active');
				$('#insertMedia-editFile .info-arquivo').removeClass('in').find('.info-arquivo-tamanho, .info-arquivo-dimensoes').empty();
			}
		}else{
			item.addClass('active');
			
			showAnexoInfo({
				wrapper: wrapper,
				miniatura: miniatura,
				id: id,
				nome: nome,
				tamanho: tamanho,
				largura: largura,
				altura: altura,
				descricao: descricao,
				item: item,
				extensao: extensao
			});
			
			if(!$('#modalInsertMediaMural').hasClass('only-embed') && $('.recent-files ul >li[data-arquivo-id="'+item.data('arquivo-id')+'"]').length == 0){
				var clone = $(this).clone();
				clone.addClass('from-galeria').removeClass('active');
				clone.find('.icon-destaque').html('<i class="fa fa-star fa-2x" aria-hidden="true" title="Tornar destaque"></i>');
				clone.find('.icon-wrapper').html('<span class="fa-stack fa-lg remove-from-recent" title="Remover"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-times fa-stack-1x fa-inverse"></i></span>');
				$('.recent-files ul').append(clone);
				
				_modificouArquivos = true;
			}
		}
	});
	
	$('body').on('click', '.galeria-add-file', function(event){
		event.preventDefault();
		event.stopPropagation();
		
		var item = $(this).closest('li');
		if(item.hasClass('active')){
			item.removeClass('active');
		}else{
			item.addClass('active');
		}
	});
	
	$('body').on('click', '.open-gallery', function(){
		var arquivo = $(this).data('arquivo-id');
		$('.link-insertMedia-editFile a').click();
		$('.btn-enviar-arquivos').removeClass('disabled');
		$('.recent-files .arquivos > li[data-arquivo-id="'+arquivo+'"]').click();
		$('#modalInsertMediaMural').addClass('only-attach').modal('show');
		$('#modalInsertMediaMural .modal-footer .btn-enviar-arquivos').html('Concluir');
		
		if($('.recent-files .arquivos > li[data-arquivo-id="'+arquivo+'"]').index() > 2){
			setTimeout(function(){
				$('.recent-files').mCustomScrollbar('scrollTo', $('.recent-files .arquivos > li[data-arquivo-id="'+arquivo+'"]').offset().top);
			}, 300);
		}
	});
	
	$('body').on('click', '.editar-thumbs', function(){
		editThumbs();
	});	
	$('body').on('click', '.refazer-thumbs', function(){
		var thumb_ids = '';
		$('.insert-arquivo-thumbs .thumbnails-wrapper .img-wrapper').each(function(idx, elm){
			thumb_ids += $(elm).data('thumb-id')+',';
		});
		
		updateCroppedImage({}, {
			id: $('.recent-files ul.arquivos > li.active').data('arquivo-id'),
			thumb_ids: thumb_ids,
			url: $('.original-crop-image').attr('src')
		}, true, true);
	});
	$('body').on('click', '.desabilitar-thumb', function(){
		closeCrop();
		closeEdit($('#habilitar-thumb'));
	});	
	$('body').on('click', '.salvar-thumb', function(){
		var coords = jcrop_api.tellSelect(), _idAntigo = $(this).data('arquivo-id'), isThumb = true, thumb_ids = '';
		
		$('.insert-arquivo-thumbs .thumbnails-wrapper .img-wrapper').each(function(idx, elm){
			thumb_ids += $(elm).data('thumb-id')+',';
		});
		
		var img = {
			id: $('.recent-files ul.arquivos > li.active').data('arquivo-id'),
			thumb_ids: thumb_ids,
			url: $('.original-crop-image').attr('src')
		};
		
		updateCroppedImage(coords, img, isThumb);
		_modificouArquivos = false;
	});	
	
	$('a[href="#insertMedia-editFile"]').click(function(){
		setTimeout(function(){ marginAuto(); }, 600);
	});
	
	$('#modalInsertMediaMural .btn-cancelar-arquivos').click(function(){
		if(_modificouArquivos){
			var c = confirm('Você irá descartar todas as alterações. Deseja continuar?');
			if(c){
				$('#modalInsertMediaMural').modal('hide');
				$('#modalInsertMediaMural a[href="#insertMediaUpload"]').click();
				
				var recentes = '', anexos = $('#anexosId').val();
				$('.recent-files .arquivos > li:not(.already-uploaded)').each(function(idx, elm){
					recentes += $(elm).data('arquivo-id');
					anexos = anexos.replace(recentes+',', '');
				});
				
				$('.recent-files .arquivos > li:not(.already-uploaded)').remove();
				$('#modalInsertMedia a[href="#insertMedia-biblioteca"]').click();
			}
		}
		
		$('#modalInsertMediaMural').modal('hide');
	});
	
	$('#modalInsertMediaMural').on('show.bs.modal', function(){
		if(_galeriaCounter === 0){
			loadBibliotecaArquivos(0);
		}
		_galeriaCounter++;
	});
	
	$('#modalInsertMediaMural').on('shown.bs.modal', function(){
		$('.galeria-files').animate({
			scrollTop: 0
		}, 250);
		
		setTimeout(function(){
			$('.html-crop > .form-group').addClass('active');
		}, 130);
	});
	
	$('#modalInsertMediaMural').on('hidden.bs.modal', function(){
		$('#modalInsertMediaMural').removeClass('only-embed').removeClass('only-attach');
		$('#modalInsertMediaMural #insertMedia-biblioteca .galeria-files .arquivos li,#insertMedia-editFile .recent-files ul.arquivos li.clearfix, #insertMedia-editFile .insert-arquivo-thumbs, #insertMedia-editFile .info-arquivo .dimensoes, .preview-crop-wrapper').removeClass('active');
		$('#modalInsertMediaMural .modal-footer .btn-enviar-arquivos').html('Concluir');
		
		$('#insertMedia-editFile .insert-arquivo-preview').find('> div').empty().removeClass('active');
		$('#insertMedia-editFile .info-arquivo, #insertMedia-biblioteca .info-arquivo').removeClass('in').find('.info-arquivo-tamanho, .info-arquivo-dimensoes').empty();
		$('#insertMedia-editFile .info-arquivo').find('#insertMedia-arquivoDescricao-upload, #insertMedia-arquivoNome-upload').val('').data('arquivo-id', '');
		$('#insertMedia-biblioteca .info-arquivo').find('#insertMedia-arquivoDescricao-biblioteca, #insertMedia-arquivoNome-biblioteca').val('').data('arquivo-id', '');
		
		$('body').find('img.original-crop-image').remove();
		
		$('.recent-files').mCustomScrollbar('scrollTo', 0);
		$('.btn-enviar-arquivos').html('Concluir').removeClass('disabled');
		
		_modificouArquivos = false;
	});
	
	$(".seletorArquivos").scroll(function() {
		if($(".seletorArquivos").outerHeight() > $(".seletorArquivos .paginaAtual").position().top) {	   
			if($(".seletorArquivos .paginaAtual").hasClass("loading")){
				return false;
			}else if($(".seletorArquivos .paginaAtual:visible").length > 0 && !$(".seletorArquivos .paginaAtual").hasClass("loading")){
				$(".seletorArquivos .paginaAtual").addClass("loading");
				var page = parseInt($(".seletorArquivos .paginaAtual").attr("data-page"))+1;
				loadBibliotecaArquivos(page);
			}
		}
	});
	
	#if($!mural_webview_on && $!mural_webview_on == 1)
	$('#modalInsertMediaMural .btn-embed-arquivos').click(function(){
		var ed = tinyMCE.activeEditor;		
		for(var i = 0, len = $('#insertMedia-biblioteca .galeria-files ul > li.active').length; i < len; i++){
			var range = ed.selection.getRng(),
				 image = ed.getDoc().createElement('img'),
				 br = ed.getDoc().createElement('br'),
				 li = $('#insertMedia-biblioteca .galeria-files ul > li.active')[i];
			
				if(FILE_EXTENSIONS.image[$(li).data('extensao').toLowerCase()]){
					image.src = $(li).data('url');
					image.alt = $(li).data('nome');
					
					range.insertNode(image);
					range.insertNode(br);	
				}else{
					continue;
				}
		}
		
		$('#mensagem').val(ed.getContent()).trigger('keyup');
		
		ed.on('SetContent', function(e) { tinymce.activeEditor.execCommand('mceAutoResize'); });
		$('#modalInsertMediaMural').modal('hide');
	});
	#end
	
	$('#modalInsertMediaMural .btn-enviar-arquivos').click(function(){
		$(this).html('<i class="fa fa-spinner fa-spin fa-fw"></i>').addClass('disabled');
		var htmlAnexos = '';
		
		if($('.jcrop-holder').length > 0 || $('.resize-container').length > 0 || $('#insertMedia-editFile .insert-arquivo-preview-images .html-crop > img.img-responsive').hasClass('rotating') ){
			var c = confirm('Você está editando a imagem. Tem certeza que quer descartar essas alterações e continuar?');
			if(c){
				closeEdit($('#habilitar-crop'));
				closeEdit($('#habilitar-resize'));
				closeResize();
				$('.desabilitar-rotate').click();							
				$(this).html('Concluir').removeClass('disabled');
			}else{
				$(this).html('Concluir').removeClass('disabled');
				return false;
			}
		}
		
		if($('.recent-files .arquivos > li').not('.already-uploaded').length > 0){
			$('.recent-files .arquivos > li').not('.already-uploaded').each(function(idx, elm){
				var miniatura = $(elm);
				if($('.formPost .uploadPost .ajax-file-upload-statusbar.alterarNome[data-id="'+miniatura.data('arquivo-id')+'"]').length == 0){
					htmlAnexos += createLiAnexoPost({
						id: miniatura.data('arquivo-id'),
						nome: miniatura.data('nome'),
						url: miniatura.data('url'),
						extensao: miniatura.data('extensao'),
						length: miniatura.data('length'),
						width: miniatura.data('width'),
						height: miniatura.data('height'),
						descricao: miniatura.data('descricao')
					});
				
					setTimeout(function(){
						var idsAnexos = $("#anexosId").val();
						$("#anexosId").val(idsAnexos +" "+miniatura.data('arquivo-id')+",");
						if(idx + 1 == $('.recent-files .arquivos > li').not('.already-uploaded').length){
							$('#modalInsertMediaMural').modal('hide');
						}
					}, 300);
				}else{
					$('#modalInsertMediaMural').modal('hide');
				}
			});
		}else{
			$('#modalInsertMediaMural').modal('hide');
			$(this).html('Concluir').removeClass('disabled');
		}
		
		$('.uploaderNovo.uploadPost').append(htmlAnexos);
	});
	
	$("body").on("click", "button.close", function(event){
		if($('.jcrop-holder').length > 0 || $('.resize-container').length > 0 || $('#insertMedia-editFile .insert-arquivo-preview-images .html-crop > img.img-responsive').hasClass('rotating') ){
			var c = confirm('Você está editando a imagem. Tem certeza que quer descartar essas alterações e continuar?');
			if(c){
				closeEdit($('#habilitar-crop'));
				closeEdit($('#habilitar-resize'));
				closeResize();
				$('.desabilitar-rotate').click();
			}else{
				return false;
			}
		}
	});
	
	$("body").on("click", ".remove-from-recent", function(event){
		event.preventDefault();
		event.stopPropagation();
		
		var qtdLi = $('#insertMedia-editFile .recent-files li').length, li = $(this).parent().parent('li'), id = $(li).data('arquivo-id'), prevLi = $(li).prev('li'), nextLi = $(li).next('li');
		if(qtdLi - 1 > 0){
			if(prevLi.length > 0){
				$(prevLi).click();
			}else{
				$(nextLi).click();
			}
		}else{
			$('a[href="#insertMedia-biblioteca"]').click();
			setTimeout(function(){
				$('#insertMedia-editFile .insert-arquivo-preview').find('> div').empty().removeClass('active');
				$('#insertMedia-editFile .info-arquivo').removeClass('in').find('.info-arquivo-tamanho, .info-arquivo-dimensoes').empty();	
			}, 99);
		}
		
		var anexos = $('#anexosId').val();
		anexos = anexos.replace(id+',', '');
		$('#anexosId').val(anexos);
		$('.anexos > li[data-id="'+id+'"], .ajax-file-upload-statusbar.alterarNome[data-id="'+id+'"]').remove();
		
		$('li[data-arquivo-id="'+id+'"]').removeClass('active');
		$(li).slideUp(function(){ $(this).remove(); });
		_modificouArquivos = true;
	});
	
	$('body').on('click', '.icon-destaque', function(event){
		event.preventDefault();
		var id = $(this).data('arquivo-id'),
			old = $('.recent-files .arquivos li.destaque').data('arquivo-id');
		
		if($(this).hasClass('active')) {
			return;
		} else {
			$('.recent-files .arquivos li.destaque').find('.icon-destaque > i').attr('title', 'Tornar destaque')
			$('.recent-files .arquivos li.destaque').find('.icon-destaque').removeClass('active');
			$('.recent-files .arquivos .li').removeClass('destaque');

			$('.recent-files .arquivos li[data-arquivo-id="'+id+'"]').addClass('destaque');
			$('.recent-files .arquivos li[data-arquivo-id="'+id+'"]').find('.icon-destaque > i').attr('title', 'Imagem de destaque');
			$('.recent-files .arquivos li[data-arquivo-id="'+id+'"]').find('.icon-destaque').addClass('active');

			var wrapper = $('.recent-files .arquivos li[data-arquivo-id="'+id+'"]');
			wrapper.insertBefore($('.recent-files .arquivos li:first-child'));
			setTimeout (function() { $('.recent-files').mCustomScrollbar('scrollTo', 0); }, 150)
		}
	});
	
	$('.arquivo-descricao, .info-arquivo-nome').focus(function(){
		$(this).attr('title', '');
	}).blur(function(){
		$(this).attr('title', 'Clique para editar');
		
		var idArquivo = $(this).data('arquivo-id'),
			wrapper = $(this).closest('.tab-pane'),
			nome = $(wrapper).find('.arquivos > li.active[data-arquivo-id="'+idArquivo+'"]').data('nome'),
			descricao = $(wrapper).find('.arquivos > li.active[data-arquivo-id="'+idArquivo+'"]').data('descricao'),
			ext = $(wrapper).find('.arquivos > li.active[data-arquivo-id="'+idArquivo+'"]').data('extensao');
		
		if($(this).hasClass('arquivo-descricao')){
			if(descricao != $(this).val()){
				descricao = $(this).val()
			}
		}else{
			if(nome != $(this).val()){
				nome = $(this).val()
			}
		}
		
		updateInfoArquivoGaleria({ id: idArquivo, nome: nome, descricao: descricao, ext: ext });
	});

	$('.arquivo-descricao, .info-arquivo-nome').keydown(function(event){
		var idArquivo = $(this).data('arquivo-id'),
			wrapper = $(this).closest('.tab-pane'),
			nome = $(wrapper).find('.arquivos > li.active[data-arquivo-id="'+idArquivo+'"]').data('nome'),
			descricao = $(wrapper).find('.arquivos > li.active[data-arquivo-id="'+idArquivo+'"]').data('descricao'),
			ext = $(wrapper).find('.arquivos > li.active[data-arquivo-id="'+idArquivo+'"]').data('extensao');
		
		if($(this).hasClass('arquivo-descricao')){
			if(descricao != $(this).val()){
				descricao = $(this).val()
			}
		}else{
			if(nome != $(this).val()){
				nome = $(this).val()
			}
		}
		
		if(event.keyCode == 13 && !event.ctrlKey && !event.shiftKey){
			event.preventDefault();
			event.stopPropagation();
			updateInfoArquivoGaleria({ id: idArquivo, nome: nome, descricao: descricao, ext: ext });
		}
	});
	
	$('body').on('click', '.habilitar-crop', function(){
		if($('#habilitar-crop').hasClass('open')) {
			$('.desabilitar-crop').click();
		} else {
			_modificouArquivos = true;
			$('.desabilitar-rotate').click();
			closeResize();
			restaurarImg();
			closeEdit($('#habilitar-resize'));
			openEdit($('#habilitar-crop'));			
			setTimeout(function(){
				$('#insertMedia-editFile .insert-arquivo-preview-images .html-crop > img.img-responsive').Jcrop({
					onChange: showPreview,
					onSelect: showPreview,
					bgColor: 'black',
					bgOpacity: .6,
					aspectRatio: 1,
				}, function(){
					jcrop_api = this;
					
					var img = $('#insertMedia-editFile .insert-arquivo-preview-images .html-crop').find('img.img-responsive'), alt = img.attr('alt'), src = img.attr('src'), container = '';
					
					container += '<div class="crop-thumbnail-container form-group">';
						container += '<img alt="'+alt+'" src="'+src+'" class="crop-thumbnail" />';
					container += '</div>';
					
					$('#insertMedia-editFile .preview-crop-wrapper .clearfix').empty().append(container);
					$('#insertMedia-editFile .preview-crop-wrapper').addClass('active');
					$('#insertMedia-editFile .insert-arquivo-preview-images .habilitar-crop').addClass('habilitado');
				});
				
				setTimeout(function(){
					jcrop_api.animateTo([
						($('#insertMedia-editFile .insert-arquivo-preview-images .html-crop > img.img-responsive').width() / 2) - 70, 
		            	($('#insertMedia-editFile .insert-arquivo-preview-images .html-crop > img.img-responsive').height() / 2) - 70, 
		           		($('#insertMedia-editFile .insert-arquivo-preview-images .html-crop > img.img-responsive').width() / 2) + 70, 
						($('#insertMedia-editFile .insert-arquivo-preview-images .html-crop > img.img-responsive').height() / 2) + 70
					]);
				}, 120);
			}, 99);
		}		
	});
	
	$('body').on('click', '.desabilitar-crop', function(){
		closeCrop();
		closeEdit($('#habilitar-crop'));
	});
	
	$('body').on('click', '.salvar-crop', function(){
		var coords = jcrop_api.tellSelect(), _idAntigo = $(this).data('arquivo-id'), isThumb = false, thumb_ids = '';
		var img = {
			id: $('.recent-files ul.arquivos > li.active').data('arquivo-id'),
			descricao: $('.recent-files ul.arquivos > li.active').data('descricao'),
			url: $('.recent-files ul.arquivos > li.active').data('url'),
			ordem: parseInt($('.recent-files ul.arquivos > li.active').data('ordem'))
		};

		updateCroppedImage(coords, img, isThumb);
		_modificouArquivos = false;
	});	
	
	$('body').on('click', '.resize-btn', function(){
		if($('#habilitar-resize').hasClass('open')) {
			restaurarImg();
			closeEdit($('#habilitar-resize'));		
			closeResize();
			_modificouArquivos = false;
		} else {
			if($('.html-crop > .resize-image').length == 0){
				var clone = $('.resize-image').clone();
				clone.addClass('hidden').attr('src', $('.arquivos > li.active').data('url'));
				$('.html-crop').append(clone);
			}			
			$('.desabilitar-crop').click();
			$('.desabilitar-rotate').click();
			_modificouArquivos = true;
			resizeImg($('.resize-image'));
			openEdit($('#habilitar-resize'));			
		}
	});
	
	$('body').on('click', '.desabilitar-resize', function(){
		closeEdit($('#habilitar-resize'));
		closeResize();
		restaurarImg();
		_modificouArquivos = false;
	});	
	$('body').on('click', '.salvar-resize', function(){
		saveResize({
			width: $('.resize-container .resize-tooltip').data('width'),
			height: $('.resize-container .resize-tooltip').data('height'),
			url: $('.original-crop-image').attr('src'),
			id: $('.recent-files ul.arquivos > li.active').data('arquivo-id'),
		});
		_modificouArquivos = false;
	});
	
	$('body').on('click', '.rotate-btn', function(){
		if($('#habilitar-crop').hasClass('open')) {
			$('.desabilitar-crop').click();
		}
		if($('#habilitar-resize').hasClass('open')) {
			$('.desabilitar-resize').click();
		}
		var imgRot = $('#insertMedia-editFile .insert-arquivo-preview-images .html-crop > img.img-responsive');	
		imgRot.addClass('rotating');
		openEdit($('#habilitar-rotate'));			
		rotateImg(imgRot);
		_modificouArquivos = true;
	});
	$('body').on('click', '.desabilitar-rotate', function(){
		closeEdit($('#habilitar-rotate'));
		$('#insertMedia-editFile .insert-arquivo-preview-images .html-crop > img.img-responsive').removeAttr('style').removeClass('rotating');
	});
	$('body').on('click', '.salvar-rotate', function(){
		saveRotate({
			url: $('.original-crop-image').attr('src'),
			id: $('.recent-files ul.arquivos > li.active').data('arquivo-id')
		});
		$('#insertMedia-editFile .insert-arquivo-preview-images .html-crop > img.img-responsive').removeClass('rotating');
	});
	
	$(".abrirArquivos").click(function(e){
		e.preventDefault();
		e.stopPropagation();
		$('#modalInsertMediaMural a[href="#insertMedia-biblioteca"]').click();
		$('#modalInsertMediaMural').addClass('only-attach').modal('show');
	});
	
	$("body").on("click", ".removeArquivoAnexo", function(e){
		e.preventDefault();
		var obj = $(this), idObj = obj.attr("data-id"), value = $('#anexosId').val();
		obj.closest(".ajax-file-upload-statusbar").remove();
		$('.last-uploads .alterarNome[data-arquivo-id="'+idObj+'"]').parent('.col-xs-2').remove();
		$('.recent-files ul > li[data-arquivo-id="'+idObj+'"]').remove();
		$('#insertMedia-editFile .insert-arquivo-preview').find('.insert-arquivo-preview-images, .insert-arquivo-preview-docs, .insert-arquivo-preview-others').removeClass('active').empty();
		
		value = value.replace(idObj+',', '');
		$('#anexosId').val(value);
	});
	
	$('body').on('click', '.remove-anexo-erro', function(){
		$(this).closest('.ajax-file-upload-statusbar').slideUp('normal', function(){
			$(this).remove();
			$('#anexosId').val('');
		});
	});
	
	$('#galeriaFileDescription').keypress(function(event){
		var code = event.keyCode || event.which;
		if(code == 13) {
			event.preventDefault();
			event.stopPropagation();
			
			var descricao = $(this).val(), idArquivo = $(this).attr('data-arquivo-id');
			updateDescricaoGaleria(descricao, idArquivo);
		}
	}).blur(function(event){
		event.preventDefault();
		event.stopPropagation();
		
		var descricao = $(this).val(), idArquivo = $(this).attr('data-arquivo-id');
		updateDescricaoGaleria(descricao, idArquivo);
	});
	$('#galeriaFileDescription').blur(function(event){
		event.preventDefault();
		event.stopPropagation();
		
		var descricao = $(this).val(), idArquivo = $(this).attr('data-arquivo-id');
		updateDescricaoGaleria(descricao, idArquivo);
	});
});
</script>