<div class="modal fade" id="modal-ver-rlt" role="dialog" aria-labelledby="modal-ver-rlt" tabindex="-1">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       			<h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-envelope"></span>&nbsp; Visualizar RLT</h4>
     		</div>
     		<div class="modal-body">
     			<div class="clearfix spinner-blue"></div>
     			<div class="clearfix error-content text-center"><h4>RLT não encontrada</h4></div>
     			<div class="clearfix rlt-content" style="display: none;">
					<div class="clearfix row">
						<div class="col-md-6 form-group">
			    			<label for="rlt-dataInicial" class="control-label">Data Inicial</label>
			    			<input type="text" class="form-control" id="rlt-dataInicial" name="dataInicial" readonly>
			    		</div>
			    		<div class="col-md-6 form-group">
			    			<label for="rlt-dataFinal" class="control-label">Data Final</label>
		    				<input type="text" class="form-control" id="rlt-dataFinal" name="dataFinal" readonly>
			    		</div>
		  			</div>
		  			<div class="clearfix row">
						<div class="col-md-6 form-group">
			    			<label for="rlt-horaInicial" class="control-label">Hora Inicial</label>
			    			<input type="text" class="form-control" id="rlt-horaInicial" name="horaInicial" readonly>
			    		</div>
			    		<div class="col-md-6 form-group">
			    			<label for="rlt-horaFinal" class="control-label">Hora Final</label>
		    				<input type="text" class="form-control" id="rlt-horaFinal" name="horaFinal" readonly>
			    		</div>
		  			</div>
		  			<div class="clearfix row">
						<div class="col-md-4 form-group">
			    			<label for="rlt-impacto" class="control-label">Impacto</label>
			    			<input type="text" class="form-control" id="rlt-impacto" name="impacto" placeholder="Impacto" readonly>
			    		</div>
			    		<div class="col-md-4 form-group">
			    			<label for="rlt-ticket" class="control-label">Ticket</label>
		    				<input type="text" class="form-control" id="rlt-ticket" name="ticket" placeholder="Ticket" readonly>
			    		</div>
			    		<div class="col-md-4 form-group">
			    			<label for="rlt-status" class="control-label">Status</label>
			    			<input type="text" class="form-control" id="rlt-status" name="status" placeholder="status" readonly>
			    		</div>
		  			</div>
		  			<div class="clearfix row">
						<div class="col-md-6 form-group">
			    			<label for="rlt-produto" class="control-label">Produto</label>
			    			<input type="text" class="form-control" id="rlt-produto" name="produto" placeholder="Produto" readonly>
			    		</div>
			    		<div class="col-md-6 form-group subproduto-holder">
			    			<label for="rlt-subproduto" class="control-label">Subproduto</label>
			    			<input type="text" class="form-control" id="rlt-subproduto" name="subproduto" placeholder="Nome do subproduto" readonly>
			    		</div>
		  			</div>
		  			<div class="clearfix form-group">
		    			<label for="rlt-resumo" class="control-label">Resumo do incidente</label>
		    			<textarea class="form-control" id="rlt-resumo" name="resumo" readonly></textarea>
		  			</div>
		  		</div>
  			</div>
     		<div class="modal-footer">
        		<button type="button" class="btn btn-primary min-width" data-dismiss="modal">Fechar</button>
     		</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	$('body').on('click', 'a.visualizar-rlt', function(){
		var rlt = $(this).attr('data-rlt');
		getRlt(rlt);
	});
	
	$('#modal-ver-rlt').on('hidden.bs.modal', function(){
		$('#modal-ver-rlt .spinner-blue').show();
		$('#modal-ver-rlt .rlt-content .form-control').val('');
		$('#modal-ver-rlt .rlt-content, #modal-ver-rlt .error-content').hide();
	});
});

function getRlt(id){
	jQuery.ajax({
		type: 'GET',
		url: '$context/rest/rdd/rlt/' + id,
		beforeSend: function(data){
			$('#modal-ver-rlt').modal('show');
		},
		success: function(data){
			setTimeout(function(){
				$('#rlt-dataInicial').val(data.dataInicial);
				$('#rlt-dataFinal').val(data.dataFinal);
				$('#rlt-horaInicial').val(data.horaInicial);
				$('#rlt-horaFinal').val(data.horaFinal);
				$('#rlt-impacto').val(data.impacto);
				$('#rlt-ticket').val(data.ticket);
				$('#rlt-resumo').val(data.resumoIncidente);
				$('#rlt-status').val(data.statusVO.nome);
				$('#rlt-produto, #rlt-subproduto').val(data.produtoVO.nome);
				$('#modal-ver-rlt .modal-body .spinner-blue').hide();
				$('#modal-ver-rlt .modal-body .rlt-content').fadeIn();
			}, 1000);
		},
		error: function(data){
			$('.error-content').show();
			$('.spinner-blue').hide();
		}
	});
}
</script>