<div class="modal fade" id="modalCategoria" role="dialog" aria-labelledby="modalCategoria" tabindex="-1">
	<div class="modal-dialog modal-xlg" role="document">
		<form id="formCategoria">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><span class="glyphicon glyphicon-list-alt"></span>&nbsp; Cadastrar Categoria</h4>
      		</div>
      		<div class="modal-body">
      	
					<input type="hidden" value="" name="id" id="idCategoria"> 
					<div class="form-group">
		    			<label for="nome" class="control-label">Nome</label>
		    			<input type="text" autofocus="autofocus" class="form-control input-sm" id="nomeCategoria" name="nomeCategoria" maxlength="80" placeholder="">
		  			</div>
		  			#if($!CADASTRAR_CODIGOS)
						<div class="row form-group clearfix">
							<div class="col-md-6">
								<label for="nome" class="control-label">Código</label>
								<input type="text" class="form-control input-sm" id="codigo" name="codigo" maxlength="50" placeholder="">
							</div>
							<div class="col-md-6">
								<label for="nome" class="control-label">URL Ícone</label>
								<input type="text" class="form-control input-sm" id="icone" name="icone" maxlength="255" placeholder="">
							</div>
						</div>
						#if($!categoria_pai_on && $!categoria_pai_on == '1')
						<div class="form-group" id="form_group_categoria">
			  				<label class="control-label" for="form_categoria_pai">Categoria Pai</label>
			  				<select class="form-control input-sm" id="form_categoria_pai"></select>
			  			</div>
			  			#end
						<div class="row form-group clearfix">
							<div class="col-md-6">
								<div class="form-group">
									<label class="labelCheck">
										<input type="checkbox" name="form_padrao_categoria" id="form_padrao_categoria">
										<span>Categoria padrão para postagem</span>
									</label>
								</div>
								<div class="form-group minicolors-position-bottom minicolors-position-left">
									<span class="labelCor">Cor da categoria</span>
									<input type="text" class="corCategoria form-control" id="corCategoria" value="" />
								</div>
							</div>
							#if($form.fields.menu || $form.fields.likeable || $form.fields.hideData)
								<div class="col-md-6">
									#if($form.fields.menu)
										<div class="form-group">
											<label class="labelCheck">$form.fields.menu <span>Mostrar esta categoria no menu Mobile</span></label>
										</div>
									#end
									#if($form.fields.likeable)
										<div class="form-group">
											<label class="labelCheck">$form.fields.likeable <span>Mostrar barra de like</span></label>
										</div>
									#end
									#if($form.fields.hideData)
										<div class="form-group">
											<label class="labelCheck">$form.fields.hideData <span>Ocultar data do post</span></label>
										</div>
									#end
								</div>
							#end
					  	</div>
			  		#end
			  		
			  		<input type="hidden" id="id-images-categoria" name="id-images-categoria" class="form-control" />
			  		<div class="clearfix">
						#if($!mural_upload_crop_thumb_on && $!mural_upload_crop_thumb_on == '1')
						<div class="col-sm-4">
							<div class="clearfix">
								<h4 class="sbold crop-title">Thumb <span>Recomendado: 400 x 400px</span></h4>
								<div id="modal-thumb-categoria" class="image-editor1 cropit-wrapper">
									<div class="clearfix">
										<div class="clearfix cropit-preview small"></div>
									</div>
									<div class="clearfix form-group">
										<div class="control-label labelCampo image-size-label pull-left">Zoom</div>
										<input type="range" class="cropit-image-zoom-input pull-left" value="0" />
									</div>
									<div class="clearfix text-right">
										<button type="button" class="rotate-cw btn btn-outline btn-default tooltip-livecom disabled" data-rotate="#modal-thumb-categoria" title="Girar no sentido horário"><i class="crop-rotate-icon"></i></button>
										<button type="button" class="btn blue-sharp min-width btn-input-trigger btn-thumb-input-trigger btn-input1" data-export="#modal-thumb-categoria">adicionar imagem</button>
										<input type="file" class="cropit-image-input hidden" id="modal-cropit-thumb-input" name="cropit-thumb-input" />
									</div>
								</div>
							</div>
						</div>
						#end
						<div class="#if($!mural_upload_crop_thumb_on && $!mural_upload_crop_thumb_on == '1') col-sm-8 crop-bleed-divider #else col-md-12 #end">
							<div class="clearfix">
								<h4 class="sbold crop-title">Imagem da publicação <span>Recomendado: 1024 x 560px</span></h4>
								<div id="modal-img-categoria" class="image-editor2 cropit-wrapper">
									<div class="col-md-12">
										<div class="clearfix">
											<div class="clearfix cropit-preview big"></div>
										</div>
										<div class="clearfix form-group">
											<div class="control-label labelCampo image-size-label pull-left">Zoom</div>
											<input type="range" class="cropit-image-zoom-input pull-left" value="0" />
										</div>
										<div class="clearfix text-right queue-trigger">
											<button type="button" class="rotate-cw btn btn-outline btn-default tooltip-livecom disabled" data-rotate="#modal-img-categoria" title="Girar no sentido horário"><i class="crop-rotate-icon"></i></button>
											<input type="file" class="cropit-image-input hidden" id="modal-cropit-image-input" name="cropit-image-input" />
											<button type="button" class="btn blue-sharp min-width btn-input2 btn-input-trigger" data-export="#modal-img-categoria">adicionar imagem</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
     			</div>
      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default clearFormCategoria min-width clear-crop" data-dismiss="modal">Cancelar</button>
	        		<button type="submit" class="btn btn-primary min-width" id="salvarCateg">Salvar</button>
      		</div>
			</div>
		</form>
	</div>
</div>
<script>
var _idThumbUploaded = '', _deleteDestaque = false;

#if($!categoria_pai_on && $!categoria_pai_on == '1')
$(document).on('show.bs.modal', '#modalCategoria', function() {
	jsHttp.get(urlContext+"/rest/v1/categoria", {
		dataType: 'json',
		success: function(response) {
			var conteudo = '<option value="">Selecione uma categoria pai</option>';
			for(var i in response) {
				var item = response[i];
				conteudo += '<option value="'+item.id+'">'+item.nome+'</option>';
			}
			$("#form_categoria_pai").append(conteudo);
			$("#form_categoria_pai").select2({dropdownParent: $('#form_group_categoria')});
		}
	});
});
#end

$(document).on('shown.bs.modal', '.modal', function() {
	$(this).find('[autofocus]').focus();
});

$(".corCategoria").minicolors();
    
$('.labelCor').click(function(e){
	$(".corCategoria").minicolors("toggle");
	return false; 
});

function clearFormCategoria() {
	$("#modalCategoria").modal('hide');
	$('#formCategoria')[0].reset();
	$("#idCategoria, #id-images-categoria, #nomeCategoria").val("");
	$("#form_padrao_categoria").iCheck('uncheck');
	$("#form_padrao_categoria").iCheck('update');
	#if($!categoria_pai_on && $!categoria_pai_on == '1')
	$('#form_categoria_pai').val(null).trigger("change");
	#end
	$('#formCategoria').find('.form-group').removeClass('has-error').removeClass('has-success');
	$('#salvarCateg').html('Salvar');
	$("#form_menu").iCheck('uncheck');
	$("#form_menu").iCheck('update');
	$("#form_likeable").iCheck('uncheck');
	$("#form_likeable").iCheck('update');
	$("#form_hideData").iCheck('uncheck');
	$("#form_hideData").iCheck('update');
	
	clearLastCrop();
} 


$('.clearFormCategoria').click(function() {
	clearFormCategoria();
});

var categValidate = jsValidator({
	form: '#formCategoria',
	useTab: false,
	rules: {
		nomeCategoria: {
			minlength: 2,
     		required: true
		},
	},
	success: function(form) {
		$('#salvarCateg').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
			var params = {
       		nome: $("#nomeCategoria").val(),
       		codigo: $("#codigo").length > 0 ? $("#codigo").val() : '',
       		urlIcone: $("#icone").length > 0 ? $("#icone").val() : '',
       		cor: $("#corCategoria").length > 0 ? $("#corCategoria").val() : '',
       		padrao: $("#form_padrao_categoria").length > 0 ? $("#form_padrao_categoria").is(':checked') : false,
       		menu: $("#form_menu").length > 0 ? $("#form_menu").is(':checked') : false,
       		likeable: $("#form_likeable").length > 0 ? $("#form_likeable").is(':checked') : true,
       		hideData: $("#form_hideData").length > 0 ? $("#form_hideData").is(':checked') : false,
       		arquivo_ids: '',
       	}
			
			#if($!categoria_pai_on && $!categoria_pai_on == '1')
       	var pai = $("#form_categoria_pai").length > 0 ? $("#form_categoria_pai").val() : '';
       	
       	if(pai != '') {
       		params.categoriaParent = { id: pai, };
       	}
       	#end
   	
	    	if($("#idCategoria").val() != ''){
	    		params.id = parseInt($("#idCategoria").val());
	    	}
        	
			var cor = $("#corCategoria").val();
			if(cor == "") {
				cor = "#000000";
			}
		
		var modalThumbInput = $('#modal-cropit-thumb-input').val(), modalImgInput = $('#modal-cropit-image-input').val();
    	
		if((typeof modalThumbInput != 'undefined' && modalThumbInput != '') || (modalImgInput != '')){
			if(typeof modalThumbInput != 'undefined' && modalThumbInput != ''){
				ref = '#modal-thumb-categoria';
				cropOpt = {
					imgSrc: $(ref).cropit('export'),
					reference: ref,
					hasDescription: false,
					spinnerButton: $(ref).find('.btn-thumb-input-trigger'),
					action: 'ADD_THU'
				};
				
				var lastThumb = $('#modal-thumb-categoria').attr('data-file-id');
				if(typeof lastThumb != 'undefined'){
					_idThumbUploaded = lastThumb;
				}
				
				if(!$(ref).find('.btn-thumb-input-trigger').hasClass('already-uploaded')){
					if(modalImgInput != ''){
						uploadAndGenerateThumb(cropOpt);
					}else{
						uploadAndGenerateThumb(cropOpt, params);
					}
				}
			}
	    	
	    	if(modalImgInput != ''){
				ref = '#modal-img-categoria';
				cropOpt = {
					imgSrc: $(ref).cropit('export'),
					reference: ref,
					hasDescription: false,
					spinnerButton: $(ref).find('.btn-thumb-input-trigger'),
					action: 'ADD_THU'
				};
				
				if(!$(ref).find('.btn-thumb-input-trigger').hasClass('already-uploaded')){
					uploadAndGenerateThumb(cropOpt, params);
				}
			}
		}else{
			if(urlAtual == 'categorias.htm'){
		    	if(params.id) {
		    		httpPut(urlContext+"/rest/v1/categoria", params, success, function(data) {
		    			clearFormCategoria();
		    			toastr.error(data.responseJSON.message)
		    			$('#salvarCateg').html('Salvar');
		    		});
		    	} else {
		    		httpPost(urlContext+"/rest/v1/categoria", params, success, function(data) {
		    			toastr.error(data.responseJSON.message)
		    			$('#salvarCateg').html('Salvar');
		    		});
		    	}
			}else{
		    	service.categoria.salvar(params).done(function(res) {
		    		if (res.status != "ERROR") {
		    			var item = res.entity;
			    		var conteudo = '<li class="list-group-item-sideBox bg-white text-center" data-cor="'+cor+'" data-id="'+item.id+'" data-name="'+item.nome+'" data-usercreate="' + SESSION.USER_INFO.USER_NOME + '" data-usercreateid="' + SESSION.USER_INFO.USER_ID + '">';
			    			conteudo += '<a style="color:'+cor+'" href="'+urlContext+'/pages/mural.htm?categoria='+item.id+'">'+item.nome+'</a></li>';
						$('.list-group-categorias').prepend(conteudo);
						tooltipCateg("ul.list-group-categorias > li");
						clearFormCategoria();
						toastr.success(res.message);
		    		} else {
		    			toastr.error(res.message);
		    			$('#salvarCateg').html('Salvar');
		    		}
		    	}).fail(function(jqXHR, textStatus, errorThrown ) {
					var message = jqXHR.responseJSON;
					toastr.error(message.message);
					$('#salvarCateg').html('Salvar');
				});
			}
		}
    }
});
</script>