<div class="modal fade" id="modal-tipo-post" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-send"></span> Escolha o tipo de publicação
				</h4>
			</div>
			<div class="modal-body clearfix more-padding">
				<div class="col-xs-6">
					<button class="btn btn-lg btn-block btn-blue-b3 uppercase sbold btn-mural-postar-comunicado">Comunicado</button>
				</div>
				<div class="col-xs-6">
					<button class="btn btn-lg btn-block btn-blue-b3 uppercase sbold btn-mural-postar-incidente">Incidente</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-incidente-b3" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-send"></span> Publicar Incidente
				</h4>
			</div>
			<div class="modal-body clearfix p-x-0 modal-content-iframe">
				<iframe class="iframe incidentes-wrapper spinner-blue"></iframe>
			</div>
		</div>
	</div>
</div>
#if($!integracao_sistema_on && $!integracao_sistema_on == '1')
<script>
window.onmessage = function(event) {
	if (event.data.msg === "CICM") {
		$('#modal-incidente-b3').modal('hide');
		$('iframe.incidentes-wrapper').attr('src', '');
		
		var newPostId = event.data.post ? event.data.post.id : '';
		if(newPostId != ''){
			if(SESSION.USER_INFO.IS_EDITING_INCIDENTE){
				LiveMural.buscaPosts('', true, modeMural);	
			}else{
				LiveMural.createPost(event.data.post);
			}
		}else{
			swal('Opss...', 'Algo de errado aconteceu. Por favor, tente novamente.', 'warning');
		}
		
		SESSION.USER_INFO.IS_EDITING_INCIDENTE = false;
	}
};

$('.btn-mural-postar-incidente').click(function(){
	$('#modal-tipo-post').modal('hide');
	$('#titulo').val('');

	if(PARAMS.INTEGRACAO_POSTAR_INCIDENTE != ''){
		var fI = PARAMS.INTEGRACAO_POSTAR_INCIDENTE + '?u='+SESSION.USER_INFO.USER_ID+'&c='+PARAMS.CATEGORIA_INCIDENTES_ID;
		$('.incidentes-wrapper').attr('src', fI);
		$('#modal-incidente-b3').modal('show');
	}
});
</script>
#end