/***** TOKEN INPUT *****/
ul.token-input-list {
	overflow: hidden;
	min-height: 33px;
	height: auto !important;
	max-height: 33px;
	cursor: text;
	z-index: 999;
	list-style-type: none;
	clear: both;
	@include prefix(box-sizing, border-box, webkit moz ms o);
	border: 1px solid #ccc;
	color: #808080;
	background: #FFF;
	width: 100%;
	@include prefix(border-radius, 3px, webkit moz ms o);
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0;

	&.error { border-color: #ffc2c2; background-color: #ffe6e6; }

	input{
		&:disabled, &[readonly="readonly"]{ background-color: #FFF !important; }
	}

	li{
		input {
			@extend %no-border;
			width: 100px;
			padding: 5px 6px;
			background-color: transparent;
			margin: 0;
			-webkit-appearance: caret;
			color: #808080;
			font-size: 14px;
		}
	}
}

ul.token-input-focused{ @extend %input-focus; }

.inputHolder ul.token-input-list {
	@include prefix(border-radius, 0 3px 3px 0, webkit moz ms o);
}

.inputHolder.noMargin ul.token-input-list {
	@include prefix(border-radius, 3px, webkit moz ms o);
}

.campo ul.token-input-list {
	@include prefix(border-radius, 5px, webkit moz ms o);
}

.paiComunicado ul.token-input-list {
	border-top: none;
	border-bottom: none;
	border-right: none;
	@extend %no-border-radius;
}

.conversa ul.token-input-list { background: none; }

li.token-input-token {
	overflow: hidden;
	height: auto !important;
	margin: 1px 3px;
	padding: 0px 3px;
	background-color: #f1f1f1;
	color: #323232;
	cursor: default;
	font-size: 14px;
	@include prefix(border-radius, 5px, webkit moz ms o);
	float: left;
	line-height: 26px;
	white-space: nowrap;

	p {
		display: inline;
		padding: 0 4px;
		margin: 0;
	}

	span {
		color: #b2b2b2;
		margin-left: 5px;
		font-weight: 600;
		cursor: pointer;
	}
}

li.token-input-selected-token {
	background-color: #B2B2B2;
	p, span{ color: #fff; }
}

li.token-input-input-token {
	float: left;
	margin: 0;
	padding: 0 4px;
	list-style-type: none;
	height: auto;

	input{ width: 100%!important; }
}

div.token-input-dropdown {
	position: absolute;
	background-color: #fff;
	overflow-y: scroll;
	border-left: 1px solid #d8dce0;
	border-right: 1px solid #d8dce0;
	border-bottom: 1px solid #d8dce0;
	cursor: default;
	font-size: 14px;
	font-family: Verdana;
	z-index: 1;
	color: #808080;
	max-height: 225px;
	@include prefix(box-shadow, 0 2px 4px 0 rgba(0, 0, 0, 0.3), webkit moz ms o);
	z-index: 99999 !important;
}

div.token-input-dropdown{
	p { @extend %no-margin; padding: 2px 5px 5px 5px; }

	ul {
		@extend %no-margin; @extend %no-padding;

		li {
			background-color: #fff;
			padding: 5px 10px;
			margin: 0;
			list-style-type: none;

			em { font-weight: 600; font-style: normal; }

			&.token-input-dropdown-item, &.token-input-dropdown-item2{
				background-color: #fff;

				&.token-input-selected-dropdown-item, &:hover{ background-color: #e8edef; }
			}
		}
	}
}

.borderLeft ul.token-input-list {
	border-bottom: none;
	border-top: none;
	border-right: none;
}