.borda { border-bottom: 1px solid #aaa;	}
.orange { color: #FF7920 }
.header {
	height: 35px;
	font-weight: bold;
	padding: 6px;

	.fa-bars, .fa-arrow-left {
		margin-right: 8px;
	}
	.fa-search {
		float: right;
		margin-top: 4px;
	}
	.cat {text-transform: lowercase;}
}


.casca-android-preview {
	.text { max-height: 36px; }
	h2 {color: #FF7920;}
}
.casca-ios-preto {
	.text {
		max-height: 24px;
		max-width: 90%;
	}
	h2 {color: #35464f;}
}

.itauHome {
	background-color: #FFF;
	overflow: scroll;
	cursor: pointer;
	
	h2 { font-size: 11px; font-weight: bold; }
	.categoria { font-size: 9px; font-weight: 600; text-transform: lowercase; }
	.text {
		font-size: 9px;
		line-height: 12px;
		overflow: hidden;
		word-wrap: break-word;
	}
	.slideshow {
		height: 130px;
		position: relative;

		.legenda {
			height: 60px;
			position: absolute;
			bottom: 0;
			background-image: url('../../img/itau_assets/blackbg.png');
			color: #ddd;
			padding-top: 5px;
			h2 { margin: 2px 0 0 0; }
		}
		.naveg {
			width: 30px;
			margin: 12px auto;
			div {
				width: 7px;
				height: 7px;
				border: 1px solid #ddd;
				margin-right: 3px;
				float: left;

				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
				-webkit-border-radius: 50%;
				border-radius: 50%;

				&.act { background-color: #ddd; }
			}
		}
	}
	.slideshow, .img {
		background-size: cover;
    	background-position: center;
	}
	.news {
		margin-bottom: 0;
		li {
			display: table;
			width: 100%;

			&.placeholder{
				.conteudo{
					p, h2{ background-color: #eee; width: 130px; }
					h2, .categoria{ height: 14px; }
					.categoria{ margin-bottom: 5px; }
					.text{ height: 25px; }
				}
			}
			.img {
				width: 80px;
				height: 80px;
				float: left;
				position: relative;
			}
			.conteudo {
				width: 152px;
				padding: 5px 0 0 8px;
				float: left;
				h2 {
					margin: 3px 0 5px 0;
					word-wrap: break-word;
					max-height: 24px;
					overflow: hidden;
				}
				.categoria { color: #aaa; }
			}
			.sub {
				width: 100%;
				position: absolute;
				background-image: url('../../img/itau_assets/blackbg.png');				
				bottom: 0;
				left: 0;
				color: #ddd;
				padding-left: 10px;
				height: 18px;
				line-height: 18px;
			}
		}
	}
}


.itauPost {
	background-color: #FFF;
	overflow: scroll;
	display: none;
	cursor: pointer;
	.post {
		border-top: 4px solid #FF7920;
		padding-top: 15px;
	}
	p { margin-left: 12px; margin-right: 12px;}
	h2 { font-size: 14px; font-weight: bold; color: #FF7920; margin: 6px 12px 9px; word-wrap: break-word; }
	.data, .texto { font-size: 11px; }
	.data { color: #999; margin: 12px; }
	.categoria, .sub, .tags { font-size: 10px; }
	.tags {
		margin-top: 12px;
		margin-bottom: 14px;
		span {
			text-decoration: underline;
			color: #FF7920;
		}
	}
	.categoria { font-weight: bold; color: #FF7920; }
	.sub { font-style: italic; line-height: 12px; margin-bottom: 14px; word-wrap: break-word; }
	.img-destaque {
		width: 100%;
		height: 140px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.texto {
		width: 100%;
		height: 1000px;
		border: none;
		margin-bottom: 20px;
		pointer-events: none !important;
	}
}