.modal{
    .ajax-upload-dragdrop{
        border: 2px dashed rgba(0,0,0,.3);
        display: block;
        position: relative;
        padding: 30px 0 0;
        text-align: center;
        min-height: 410px;
        background: none;
        @include transition(border 200ms ease-in-out);

        &.dragged, &.dragenter{ border-color: #0096d0; }

        span{
            top: 140px;
            color: #7e7e7e;
            line-height: 24px;
            position: absolute;
            width: 100%;
            left: 0;
            font-size: 18px;
        }

        .ajax-file-upload{
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid #3598dc;
            white-space: nowrap;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33333;
            outline: 0;
            text-transform: uppercase;
            font-weight: 600;
            background-color: #3598dc;
            color: #fff;
            @include transition(all ease-in-out 100ms);
            @include prefix(border-radius, 6px, webkit moz ms o);
            @include prefix(user-select, none, webkit moz ms o);
            @include prefix(box-shadow, none, webkit moz ms o);

            &:hover{ background-color: #217ebd; border-color: #1f78b5; }
            &:before{ content: 'Clique aqui'; }
        }
    }
}

#modalInsertMediaMural{
    .modal-body{ padding-top: 0; }
}