$primary: #4897e0;
$secundary: #0096d0;
$text-colors-icons:#4990E2;

$msgOut: #dcf8c6;


.color-1 {
	color:#35cd96!important
}
.color-2 {
	color:#6bcbef!important
}
.color-3 {
	color:#e542a3!important
}
.color-4 {
	color:#91ab01!important
}
.color-5 {
	color:#ffa97a!important
}
.color-6 {
	color:#1f7aec!important
}
.color-7 {
	color:#dfb610!important
}
.color-8 {
	color:#029d00!important
}
.color-9 {
	color:#8b7add!important
}
.color-10 {
	color:#fe7c7f!important
}
.color-11 {
	color:#ba33dc!important
}
.color-12 {
	color:#59d368!important
}
.color-13 {
	color:#b04632!important
}
.color-14 {
	color:#fd85d4!important
}
.color-15 {
	color:#8393ca!important
}
.color-16 {
	color:#ff8f2c!important
}
.color-17 {
	color:#a3e2cb!important
}
.color-18 {
	color:#b4876e!important
}
.color-19 {
	color:#c90379!important
}
.color-20 {
	color:#ef4b4f!important
}