@import 'imports/_colors';

.item-anexar{
    padding: 15px;
}

.btn-anexar{
    background-position: -879px -893px;
    width: 35px;
    height: 35px;
}

.drag-drop-container{
    overflow: hidden;
    height: inherit;
    position: relative;
    display: block;
}

.drag-drop-header{
    margin: 0 0 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.870588);
    line-height: 30px;
    border-bottom: 1px solid #e1e1e1;
    @include prefix(box-shadow, 0 1px 5px 1px #e1e1e1, webkit moz ms o);
    padding: 0;
    li{
        border-bottom: 3px solid #ccc;
        display: inline-block;
        font-size: 18px;
        padding: 0 10px;
        margin-right: 5px;
        cursor: pointer;
        &.active{
            border-color: #3085D6;
            font-weight: 600;
            cursor: default;
        }
    }

    h2{
        border-bottom: 3px solid #3085D6;
        display: inline-block;
    }
}

.drag-drop-zone{
    padding: 120px 20px;
    text-align: center;
    width: calc(100% - 48px);

    > p{ margin-bottom: 15px; }

    &.dragging{ border-color: $primary; }

    &.hide{ height: 0; padding: 0; }
}

.drag-drop-zone, .print-holder canvas{
    border: 2px dashed rgba(0,0,0,.3);
    display: block;
    position: relative;
    
    float: left;
    clear: both;
}

.print-holder{
    display: none;
    position: relative;
    overflow: auto;
    max-height: 380px;
    text-align: center;
    
    canvas{
        width: 100%;
        height: 100%;
        &.focused{ border-color: $primary; }
    }
}

.drag-drop-zone-img-preview{
    width: 100%;
    margin: 0 auto;
    min-height: 190px;
    overflow: hidden;
    display: block;
    clear: both;
    text-align: center;
    position: relative;
    padding: 5px;

    &.hide{ min-height: initial; max-height: initial; }

    > figure{
        max-height: 300px;
        max-width: 100%;
        margin: 5px auto;
        display: block;
        position: relative;
        text-align: center;
        img{
            max-width: 100%;
            max-height: 300px;
            display: block;
            margin: 0 auto 5px;
            border: 1px solid #eee;
        }
        figcaption{
            color: #222;
            font-size: 14px;
            text-align: center;
        }
    }

    > .btn-remove{
        cursor: pointer;
        position: absolute !important;
        top: 0;
        right: 35px;
    }
}

.drag-drop-zone, .drag-drop-zone-img-preview{
    opacity: 1;
    visibility: visible;
    @include transition(opacity .15s linear);
    
    &.hide{ opacity: 0; visibility: hidden; }
}

.file-link{
    height: 100%;
    background-color: #fff;
    position: relative;
    word-wrap: break-word;
    white-space: nowrap;

    .file-ext{ position: absolute; }
}

.file-name{
    color: #222;
    position: relative;
    top: 110px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 10px 0;
}

.file-ext{
    color: #fff;
    position: relative;
    top: 86px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 0;
}


img, i{
    &.file-extensions{
        background-image: url(../../../img/file_extensions/file-extensions-icons-big.png);
        background-position: -42px -369px;
        width: 96px;
        height: 96px;
        position: absolute;
        top: 20px;
        left: 50%;
        @include translateX(-50%);

        //imgs  - -42px -213px;
        //audio - -226px -213px;
        //video - -410px -213px;
        
        &.txt, &.rtf, &.doc, &.docx, &.log, &.odt, &.mpp{ background-position: -593px -56px; }

        &.psd, &.indd{ background-position: -778px -57px; }

        &.html, &.htm, &.xml,
        &.php, &.asp, &.aspx,
        &.c, &.cpp, &.rake, &.rb,
        &.java, &.jsp, &.jspa,
        &.kt, &.gantter, &.plist{ background-position: -410px -56px; }

        &.css, &.scss, &.sass, &.styl{ background-position: -779px -370px; }

        &.json, &.js, &.jsx, &.ejs, &.sql{ background-position: -596px -369px; }

        &.pdf{ background-position: -594px -213px; }

        &.mp4, &.mpeg, &.mov, &.avi, &.wmv{ background-position: -226px -214px; }

        &.mp3, &.ogg, &.midi, &.wav, &.m4a{ background-position: -227px -213px; }

        &.apk{ background-position: -226px -369px; }

        &.ai, &.svg, &.cdr, &.eps{ background-position: -410px -369px; }

        &.csv, &.xls, &.xlsx{ background-position: -225px -56px; }

        &.ppt, &.pptx, &.pps, &.ppsx{ background-position: -778px -213px; }

        &.rar, &.zip, &.tar, &.gz{ background-position: -42px -55px; }
    }
}

.icon-file{
    display: block;
    position: relative;
    margin: 0 auto;
    clear: both;

    .file-extensions{
        position: relative;
        left: initial;
        top: initial;
        float: none;
        display: block;
        margin: 0 auto;
        @include transform(none);
    }

    .file-name{ top: initial; }

    .file-ext{
        top: 65px;
        position: absolute;
    }
}