/* overlay at start / content at start */
.mfp-fade.mfp-bg, .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready { opacity: 0.8; }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1; }

/* content animate out / overlay animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content, .mfp-fade.mfp-bg.mfp-removing { opacity: 0; }

.mfp-figure{
    .video, .iframe{
        margin: 0 auto;
        position: relative;
        display: block;
        box-sizing: border-box;
        padding: 40px 0 40px;
        line-height: 0;        
        height: 100%;
    }

    .video{
        width: 100%;
        max-width: 500px;
        max-height: 500px;
    }

    .iframe{
        width: 80%;
        text-align: center;
    }
}

.mfp-iframe{
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 100%;

    &.small { height: 400px; }
    &.medium { height: 650px; }
    &.large { height: 800px; }

    &.loading{ background: #fff url(../../../img/spinner_blue_big.gif) center center/80px 80px no-repeat; }
}

.mfp-buttons{
    clear: both;
    float: none;
    margin: 25px 0;
    padding: 0;
    text-align: right;
    .btn{
        display: inline;
    }
}