.swal2-modal{
    button{
        &.styled{
            @include prefix(box-shadow, 0 1px 3px rgba(0, 0, 0, 0.4), webkit moz ms o);
            @include transition(box-shadow 0.08s cubic-bezier(0.4, 0, 0.2, 1));
            
            &.swal2-confirm{ float: right; }
            &.swal2-cancel{ float: left; background-color: #ff5252!important; }
        }
    }
}