/***** BREADCRUMB *****/
.breadcrumb {
	border-radius: 5px;
	display: inline-block;
	clear: both;
	margin: 5px 10px;
	background: transparent;
	padding: 0;

	a {
		background: #e1e1e1;
		color: #222222;
		display: block;
		float: left;
		font-size: 12px;
		line-height: 25px;
		outline: medium none;
		padding: 0 10px 0 20px;
		margin: 5px 0;
		position: relative;
		text-decoration: none;

		&:hover {
			background: #05c3f5; color: #FFF;
			&:after { background: #05c3f5; color: #FFF; }
		}

		&:after {
			background: #e1e1e1 none repeat scroll 0 0;
			border-radius: 0 5px 0 50px;
			box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
			content: "";
			height: 23px;
			overflow: hidden;
			position: absolute;
			right: -10px;
			top: 1px;
			transform: scale(0.707) rotate(45deg);
			width: 22px;
			z-index: 1;
		}

		&:first-child { @include prefix(border-radius, 5px 0 0 5px, webkit moz ms o); }
		&:last-child {
			@include prefix(border-radius, 5px, webkit moz ms o);
			&:after { content: none; }
		}

		&.active {
			background: #abe0ef;
			&:after { background: #abe0ef; }
		}

	}
}