.tooltip.fade{ z-index: 10701; }

.fa{
    &.tooltip{ font-family: "FontAwesome"; }
}

table{
    a{
        &.tooltip{ font-size: 12px; }
    }

    td{
        &.tooltip{ display: table-cell; }
    }
}

select{
    &.tooltip{ z-index: 2; width: 100%; }
}