@font-face{font-family:BrownPro;src:url(../../fontes/lineto-brown-pro-regular.woff) format('woff');font-weight:500;font-style:normal}@font-face{font-family:BrownPro;src:url(../../fontes/lineto-brown-pro-light.woff) format('woff');font-weight:400;font-style:normal}@font-face{font-family:BrownPro;src:url(../../fontes/lineto-brown-pro-thin.woff) format('woff');font-weight:300;font-style:normal}@font-face{font-family:BrownPro;src:url(../../fontes/lineto-brown-pro-bold.woff) format('woff');font-weight:600;font-style:normal}@font-face{font-family:BrownPro;src:url(../../fontes/lineto-brown-pro-italic.woff) format('woff');font-weight:400;font-style:italic}@font-face{font-family:BrownPro;src:url(../../fontes/lineto-brown-pro-boldItalic.woff) format('woff');font-weight:600;font-style:italic}@font-face{font-family:BrownPro;src:url(../../fontes/lineto-brown-pro-lightItalic.woff) format('woff');font-weight:400;font-style:italic}

html, body, header, footer, section{
	position: relative;
	float: left;
	width: 100%;
	font-family: 'BrownPro', sans-serif;
}

div.wrapper-940{
	position: relative;
	margin: 0 auto;
	max-width: 940px;
	width: 100%;
}

div.wrapper-760{
	position: relative;
	margin: 0 auto;
	max-width: 760px;
	width: 100%;
}

div.wrapper-810{
	position: relative;
	margin: 0 auto;
	max-width: 810px;
	width: 100%;
}

div.wrapper-250{
	position: relative;
	margin: 0 auto;
	max-width: 250px;
	width: 100%;
}

div.wrapper-570{
	position: relative;
	margin: 0 auto;
	max-width: 570px;
	width: 100%;
}

div.wrapper-640{
	position: relative;
	margin: 0 auto;
	max-width: 640px;
	width: 100%;
}

.wrapper-mais-roxa{
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	width: 100%
}

.texto-roxa p{
	color: #fff !important;
}

.texto-roxa{
	position: relative;
	float: left;
	width: 94%;
	padding: 3%;
	background: #00aae7;
}

header.padrao{
	position: relative;
	float: left;
	width: 100%;
	background: #00aae7;
}

header .logo-produto{
	position: relative;
	float: right;
	top: 22px;
}

header h1{
	position: relative;
	float: left;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	padding: 28px 0px;
}

.banner{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 45px;
}

.banner img{
	display: inline-block;
	max-width: 100%;
}

.corpo{
	position: relative;
	float: left;
	width: 100%;
}

.max-100{
	min-height: initial !important;
	max-height: initial !important;
	max-width: 100% !important;
}

.corpo p{
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #000;
	margin-bottom: 20px;
}

.corpo h2{
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 35px;
	color: #00aae7;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
}

.corpo h3{
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 35px;
	color: #00aae7;
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
}

.corpo .lista-impact{
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 70px;
}

.corpo .lista-impact:before{
	position: absolute;
	top: 29px;
	left: 10%;
	width: 80%;
	height: 1px;
	content: ' ';
	border-top: 1px dotted #3d6caf;
}

.corpo .lista-investigacao{
	position: relative;
	float: left;
	width: 100%;
}

.corpo .tabela-informacoes{
	position: relative;
	float: left;
	width: 100%;
}

.corpo .lista-investigacao li{
	position: relative;
	float: left;
	color: #3d6caf;
	width: 100%;
	list-style: none;
	margin-bottom: 30px;
}

.corpo .pesquisa{
	position: relative;
	float: left;
	width: 100%;
}

.corpo .pesquisa li{
	position: relative;
	float: left;
	width: 25%;
	margin-bottom: 40px;
}

.corpo .lista-investigacao p{
	text-indent: 20px;
	margin-bottom: 0px;
}

.corpo .lista-investigacao h2{
	text-transform: initial;
	margin-bottom: 5px;
}

.corpo .wrapper-centraliza-numeros-impact{
	position: relative;
	margin: 0 auto;
	max-width: 56px;
	width: 100%;
}

.corpo .imagem-impact{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}

.corpo .imagem-aplicar{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.corpo .imagem-aplicar img{
	max-width: 100%;
}

.corpo .secoes-padding{
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 50px;
}

.corpo .amarela{
	background: url(../img/seta-laranja.png) no-repeat top center !important;
}

.corpo .secao-branca{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 40px;
}

.corpo .cada-secao{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 10px;
}

.corpo .lista-impact li .numero{
	position: relative;
	float: left;
	text-align: center;
	width: 56px;
	font-size: 16px;
    color: #3d6caf;
    background: #d6eafa;
    border-radius: 300px;
	padding: 20px 0px;
	text-transform: uppercase;
	font-weight: bold;
}

.corpo .perguntas .texto-titulo{
	position: relative;
	float: left;
	width: 80%;
	padding: 10%;
	color: #fff;
	font-size: 25px;
	line-height: 28px;
	margin-top: 30px;
}

.corpo .perguntas .texto-titulo:before{
	position: absolute;
	top: -28px;
	content: ' ';
	left: 0px;
	width: 0px;
	height: 0px;
	border-top: 29px solid transparent;
	border-bottom: 0px solid transparent;
}


.corpo .perguntas li{
	position: relative;
	float: left;
	list-style: none;
}

.corpo .pesquisa li{
	list-style: none;
	position: relative;
	float: left;
	text-align: center;
}

.corpo .secao-branca:first-child{
	padding-top: 0px;
}

.corpo .perguntas{
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.corpo .grid-25{
	position: relative;
	float: left;
	width: 25%;
}

.corpo .perguntas .lista-perguntas{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 30px;
}

.corpo .align-center{
	text-align: center;
}

.corpo .perguntas .lista-perguntas li{
	position: relative;
	float: left;
	width: 90%;
	padding: 15px 5%;
	margin-bottom: 10px;
}

.corpo .perguntas .bg-d8e6b6{
	background: #d8e6b6;
}

.corpo .perguntas .fonte-485a0f{
	color: #485a0f;
}

.corpo .perguntas .texto-titulo.bg-485a0f:before{
	border-left: 30px solid #485a0f;
}

.corpo .perguntas .texto-titulo.bg-e26126:before{
	border-left: 30px solid #e26126;
}

.corpo .bg-485a0f{
	background: #485a0f;
}

.corpo .perguntas .bg-cae7f9{
	background: #cae7f9;
}

.corpo .perguntas .fonte-0072bc{
	color: #0072bc;
}

.corpo .perguntas .texto-titulo.bg-0072bc:before{
	border-left: 30px solid #0072bc;
}

.corpo .bg-0072bc{
	background: #0072bc;
}

/**/

.corpo .itens-texto{
	position: relative;
	float: left;
	width: 100%;
}

.corpo .titulo-imagens{
	position: relative;
    float: left;
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    background: #00aae7;
    padding: 30px 70px 30px 0px;
}

.corpo .titulo-imagens:before{
    position: absolute;
    top: 0px;
    left: -400px;
    height: 84px;
    width: 400px;
    content: ' ';
    background: #00aae7;
}

.corpo .imagens-aplicar{
	position: relative;
	float: left;
	width: 100%;
}

.corpo .perguntas .bg-ffe182{
	background: #ffe182;
}

.corpo .perguntas .bg-c4c7e4{
	background: #c4c7e4;
}

.corpo .perguntas .fonte-561164{
	color: #561164;
}

.corpo .perguntas .fonte-e26126{
	color: #e26126;
}

.corpo .perguntas .texto-titulo.bg-561164:before{
	border-left: 30px solid #561164;
}

.corpo .bg-561164{
	background: #561164;
}

.corpo .bg-e26126{
	background: #e26126;
}

.corpo .grid-74{
	position: relative;
	float: right;
	width: 74%;
}

.corpo .grid-75{
	position: relative;
	float: right;
	width: 75%;
}

.tabela-informacoes .central-table{
	display: table-cell;
	vertical-align: middle;
}

.tabela-informacoes .itens-table{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	display: table;
	font-size: 22px;
	border-bottom: 1px solid #006bb0;
}

.tabela-informacoes table{
	width: 100%;
}

.tabela-informacoes td p{
	text-align: left;
	width: 80%;
	position: relative;
	float: left;
	left: 10%;
	margin-bottom: 10px;
}

.tabela-informacoes .border-dotted:after{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	content: ' ';
	border-right: 1px dashed #006bb0;
}

.corpo .lista-objecoes{
	position: relative;
	float: left;
	width: 100%;
}

.corpo .lista-objecoes{
	counter-reset: counter;
}

.corpo .lista-objecoes li{
	position: relative;
	float: left;
	width: 90%;
	padding: 3% 5%;
	list-style: none;
	margin-bottom: 10px;
}

.corpo .lista-objecoes li:after{
	content: counter(counter,decimal);
	counter-increment: counter;
	position: absolute;
	top: 40.5%;
	color: #fff;
	left: -20px;
	padding: 10px 0px;
	width: 36px;
	text-align: center;
	border-radius: 300px;
}


.azul-0072bc{
	color: #0072bc;
	background: #cae7f9;
}

.azul-0072bc:after{
	background: #0072bc;
	color: #fff;
}

.amarelo-e26126{
	color: #e26126;
	background: #ffe182;
}

.amarelo-e26126:after{
	background: #e26126;
	color: #fff;
}

.roxo-561164{
	color: #561164;
	background: #c4c7e4;
}

.roxo-561164:after{
	background: #561164;
	color: #fff;
}

.verde-485a0f{
	color: #485a0f;
	background: #d8e6b6;
}

.verde-485a0f:after{
	background: #485a0f;
	color: #fff;
}

.lista-objecoes p{
	color: inherit;
	font-size: 15px;
	line-height: 18px;
}

.lista-objecoes h6{
	position: relative;
	float: left;
	width: 100%;
	font-weight: bold;
	margin-bottom: 25px;
	line-height: 18px;
}

.corpo .convencer .fleft{
	float: left;
}

.corpo .convencer .fright{
	float: right;
}

.corpo .total-conhecendo .fleft{
	float: left;
}

.corpo .total-conhecendo .fright{
	float: right;
}

.corpo .margin-bottom-20{
	position: relative;
	margin-bottom: 20px !important;
}	

.corpo .cinquenta-50 .cinquenta{
	width: 49% !important;
}

.corpo .margin-top-10{
	margin-top: 10px;
}

.corpo .margin-bottom-10{
	position: relative;
	margin-bottom: 10px !important;
}

.corpo .margin-bottom-40{
	position: relative;
	margin-bottom: 40px !important;
}

.corpo .centraliza-top-center-p{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 140px;
}	

.corpo .convencer h6, .corpo .convencer p span{
	font-size: 45px;
	font-weight: bold;
	color: #00aae7;
	text-transform: uppercase;
}

.corpo .margin-top-20{
	margin-top: 20px;
}

.corpo .margin-top-40{
	margin-top: 40px;
}

.corpo .convencer p{
	font-size: 30px;
	line-height: 35px;
}

.corpo .convencer p.menor-p{
	font-size: 16px;
	line-height: 17px;
}

.corpo .convencer .cinquenta{
	position: relative;
	width: 48%;
	padding: 10% 0px;
	margin-bottom: 4%;
	text-align: center;
}

.corpo .demais-dados{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	padding: 50px 0px;
}

.corpo .convencer{
	position: relative;
	float: left;
	width: 100%;
}

.corpo .total-conhecendo{
	position: relative;
	float: left;
	width: 100%;
}

.corpo .total-conhecendo .cinquenta-conhecendo .centraliza-informacao{
	position: relative;
	width: 70%;
	margin: 0 auto;
}

p.roxo-color{
	color: #00aae7;
}

.corpo .total-conhecendo .trinta-conhecendo .centraliza-informacao{
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.corpo .total-conhecendo .cinquenta-conhecendo{
	position: relative;
	width: 48%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.corpo .total-conhecendo .trinta-conhecendo{
	position: relative;
	float: left;
	width: 30%;
	margin: 0px 1.65%;
	margin-bottom: 40px;
}

.corpo .total-conhecendo .content-informacao{
	position: relative;
	float: left;
	width: 100%;
}

.corpo .total-conhecendo .content-informacao .demais-informacoes{
	position: relative;
	float: left;
	width: 80%;
	min-height: 480px;
	padding: 35px 10%;
}

.corpo .total-conhecendo .azul-37a1df{
	background: #37a1df;
}

.corpo .total-conhecendo .amarelo-f5e086{
	background: #f5e086;
	color: #c35d1a;
}

.corpo .total-conhecendo .roxo-cfcee8{
	background: #cfcee8;
	color: #c35d1a;
}

.corpo .total-conhecendo .azul-dcebf9{
	background: #dcebf9;
	color: #c35d1a;
}

.corpo .total-conhecendo .verde-d8e6b6{
	background: #d8e6b6;
	color: #c35d1a;
}

.corpo .total-conhecendo h5{
	position: relative;
	float: left;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	margin-bottom: 30px;
}

.corpo .total-conhecendo p{
	position: relative;
	float: left;
	width: 100%;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 20px;
}

.corpo .total-conhecendo h3{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	font-size: 39px;
	color: #37a1df;
	padding: 55px 0px;
}

.corpo .lista-verde{
	position: relative;
	float: left;
	width: 100%;
	padding: 25px 0px;
	background: #d8e6b6;
	color: #485a0f;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.corpo .convencer .border-azul{
	border: 1px solid #00aae7;
}

.corpo h4.titulo-secao{
	font-size: 20px;
	margin: 45px 0px;
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
}

.corpo .cor-roxa{
	color: #561164;
}

.corpo .cor-verde{
	color: #485a0f;
}

.corpo .cor-azul{
	color: #0072bc;
}

.corpo .sem-margin-bottom{
	margin-bottom: 0px !important;
}

.corpo .cor-amarelo{
	color: #e26126;
}

.corpo .padrao-texto{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}

.corpo .cada-secao .fleft{
	float: left;
}

.corpo .cada-secao .fright{
	float: right;
}

.corpo .cada-secao .cinquenta {
    position: relative;
    width: 43%;
}

.corpo .cinquenta .seta-x {
    position: absolute;
    top: 30%;
    right: -80px;
    width: 59px;
    height: 59px;
    background: url(../img/seta-x.png) no-repeat center center;
}

.azul {
    background: url(../img/seta-azul.png) no-repeat center center !important;
}

.corpo .dados-maiores{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

.corpo .dados-maiores img{
	max-width: 100%;
}

.corpo .dados-maiores .fleft{
	float: left;
}

.corpo .titulo{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 10px;
}

.corpo .dados-maiores .trinta{
	width: 33%;
	float: left;
	text-align: center;
}

.corpo .dados-maiores .cinquenta{
	width: 50%;
	float: left;
	text-align: center;
}

.corpo .content-informacao.border-azul{
	border: 2px solid #37a1df !important;
}

.corpo .content-informacao.border-azul h3{
	color: #37a1df;
}

.corpo .content-informacao.border-azul p,
.corpo .content-informacao.border-azul h5{
	color: #fff;
}

.corpo .content-informacao.border-azul .traco{
	width: 100%;
	height: 2px;
	background: #37a1df;
}

.corpo .content-informacao.border-amarelo{
	border: 2px solid #f5e086 !important;
}

.corpo .content-informacao.border-amarelo h3{
	color: #000;
}

.corpo .content-informacao.border-amarelo p,
.corpo .content-informacao.border-amarelo h5{
	color: #c35d1a;
}

.corpo .content-informacao.border-amarelo .traco{
	width: 100%;
	height: 2px;
	background: #c35d1a;
}

.corpo .content-informacao.border-roxo{
	border: 2px solid #cfcee8 !important;
}

.corpo .content-informacao.border-roxo h3{
	color: #000;
}

.corpo .content-informacao.border-roxo p,
.corpo .content-informacao.border-roxo h5{
	color: #551063;
}

.corpo .content-informacao.border-roxo .traco{
	width: 100%;
	height: 2px;
	background: #551063;
}

.corpo .content-informacao.azul-claro{
	border: 2px solid #dcebf9 !important;
}

.corpo .imagem-conhecendo{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.corpo .content-informacao.azul-claro h3{
	color: #000;
}

.corpo .content-informacao.azul-claro p,
.corpo .content-informacao.azul-claro h5{
	color: #1269b0;
}

.corpo .content-informacao.azul-claro .traco{
	width: 100%;
	height: 2px;
	background: #1269b0;
}

.corpo .content-informacao.verde{
	border: 2px solid #d8e6b6 !important;
}

.corpo .content-informacao.verde h3{
	color: #000;
}

.corpo .content-informacao.verde p,
.corpo .content-informacao.verde h5{
	color: #485a0f;
}

.corpo .content-informacao.verde .traco{
	width: 100%;
	height: 2px;
	background: #485a0f;
}

.corpo .fechamento{
	position: relative;
	float: left;
	width: 100%;
}

.corpo .fechamento li{
	position: relative;
	list-style: none;
	background: #c4c6e3;
	margin-bottom: 12px;
	float: left;
	width: 100%;
	padding: 25px 0px;
	font-weight: bold;
	color: #551063;
	font-size: 20px;
	text-align: center;
}

.corpo .dados-provas{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}

.corpo .dados-provas .infos strong{
	text-transform: uppercase;
}

.corpo .dados-provas .infos{
	position: relative;
	float: left;
	font-size: 16px;
	width: 100%;
	margin-bottom: 30px;
}

.corpo .dados-provas .trinta{
	position: relative;
	float: left;
	width: 33%;
}

.corpo .dados-provas .ativo .titulo-secao{
	background: #00aae7;
}

.corpo .dados-provas .mapa-primeiro,
.corpo .dados-provas .mapa-segundo,
.corpo .dados-provas .mapa-terceiro{
	position: relative;
	float: left;
	width: 294px;
	height: 294px;
}

.corpo .dados-provas .mapa-primeiro{
	background: url(../img/mapa-regioes.png) no-repeat 0% 100%;
}

.corpo .dados-provas .mapa-segundo{
	background: url(../img/mapa-regioes.png) no-repeat 50% 100%;
}

.corpo .dados-provas .mapa-terceiro{
	background: url(../img/mapa-regioes.png) no-repeat 100% 100%;
}

.corpo .dados-provas .ativo .mapa-primeiro{
	background: url(../img/mapa-regioes.png) no-repeat 0% -1%;
}

.corpo .dados-provas .ativo .mapa-segundo{
	background: url(../img/mapa-regioes.png) no-repeat 50% -1%;
}

.corpo .dados-provas .ativo .mapa-terceiro{
	background: url(../img/mapa-regioes.png) no-repeat 100% -1%;
}

.corpo .dados-provas .titulo-secao{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	background: #bcbdbf;
	color: #fff;
	font-weight: bold;
	padding: 15px 0px;
	font-size: 32px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.corpo .opcoes-sem-scroll{
	position: relative;
	float: left;
	width: 100%;
}

.corpo .opcoes-sem-scroll .titulo-secao{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 7px;
	color: #00aae7;
}

.corpo .roxo-00aae7{
	color: #00aae7;
}

.corpo .opcoes-sem-scroll .cinquenta .seta-x{
	position: absolute;	
	top: 27%;
	right: -80px;
	width: 59px;
	height: 59px;
	background: url(../img/seta-x.png) no-repeat center center;
}

.corpo .opcoes-sem-scroll .cinquenta .seta-controle{
	position: absolute;
	top: 33%;
	right: -74px;
	width: 90px;
	height: 140px;
	background: url(../img/seta-x-resposta-controle.png) no-repeat center center;
}

.corpo .secao-cinza{
	position: relative;
	float: left;
	width: 100%;
	background: #ececec;
	padding: 60px 0px;
}

.corpo .secao-cinza .aplicacoes{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}

.corpo .secao-cinza .aplicacoes span{
	background: #fff;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 14px;
}

.corpo .opcoes-sem-scroll .cinquenta .seta-x.bom-fungicida{
	top: 39%;
}

.corpo .opcoes-sem-scroll .demonstracao-produto-aplicados{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 30px;
}

.corpo .opcoes-sem-scroll .demonstracao-produto-aplicados li{
	position: relative;
	float: left;
	list-style: none;
	width: 20%;
	margin: 0px 3.333%;
	text-align: center;
}

.corpo .opcoes-sem-scroll .demonstracao-produto-aplicados li img{
	max-width: 100%
}
.corpo .opcoes-sem-scroll .demonstracao-produto-aplicados li:first-child{
	margin-right: 0px;
}

.corpo .opcoes-sem-scroll .demonstracao-produto-aplicados li:last-child{
	margin-left: 0px;
}

.corpo .comparacao-producao{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 30px;
}

.corpo > .primeira-opcao,
.corpo > .segunda-opcao,
.corpo > .terceira-opcao{
	position: relative;
	float: left;
	width: 100%;
	display: none;
}

.corpo .texto-padrao{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}

.corpo .titulo-padrao{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: #00aae7;
	margin-bottom: 5px;
}

.corpo .secoes-padding .demonstracao-produto-aplicados p{
	margin-top: 20px;
}

.corpo .terco-ul li{
	width: 30% !important;
	margin: 0px 1.666% !important;
}

.corpo .margin-p p{
	margin-top: 10px;
}

.corpo .opcoes-sem-scroll .cinquenta img.max-imagem{
	min-height: 220px;
	max-height: 220px;
}

.corpo .opcoes-sem-scroll .aplicacoes{
	margin-bottom: 20px;
}

.corpo .sem-margin{
	margin-bottom: 0px !important;
}

.sem-margin-top{
	margin-top: 0px !important;
}

.corpo .legenda-superior{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.corpo .secao-cinza .imagem-aplicar{
	margin-bottom: 60px;
}

.corpo .opcoes-sem-scroll .cinquenta{
	position: relative;
	width: 43%;
}

.corpo .opcoes-sem-scroll .fleft{
	float: left;
}

.corpo .opcoes-sem-scroll .fright{
	float: right;
}

.corpo .opcoes-sem-scroll .azul{
	color: #00aae7;
}

.corpo .opcoes-sem-scroll .legenda-produto{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 5px;
	font-size: 16px;
}

.corpo .opcoes-sem-scroll p{
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}

.corpo .primeira-opcao,
.corpo .segunda-opcao,
.corpo .terceira-opcao{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 60px;
}

tbody tr{
	text-align: center;
	border-bottom: 1px solid #00aae7;
}

tbody tr td{
	padding: 10px 0px;
}

tr:last-child{
	border-bottom: 1px solid transparent;
}

th ,td, tr{
	position: relative;
	vertical-align: middle;
}

.tabela-informacoes h6{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	line-height: 25px;
	color: #00aae7;
	padding: 15px 0px;
	border-bottom: 1px solid #00aae7;
}

.corpo .lista-impact li .legenda,
.corpo .pesquisa li .legenda{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;r;
	font-size: 16px;
	color: #000;
	margin-top: 10px;
}

.corpo .lista-impact li{
	position: relative;
	float: left;
	width: 16.5%;
	text-align: center;
	list-style: none;
}

.cronos-detalhe-produto{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
    margin-top: 60px;
}

.cronos-detalhes{
    background: #00aae7;
    color: #fff;
    font-size: 24px;
    padding: 10px 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.bo-info{
    position: relative;
    float: left;
    width: 92%;
    padding: 4%;
    text-align: center;
    border: 1px solid #00aae7;
}

.margin-bottom-50{
	margin-bottom: 50px;
}

.corpo .infor-contorno strong{
	font-size: 20px;
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	color: #00aae7;
}

.corpo .infor-contorno p{
	line-height: 21px;
	color: #00aae7;
}

.corpo .infor-contorno{
	position: relative;
	float: left;
	width: 100%;
	color: #00aae7;
	margin: 35px 0px;
}

footer{
	background: #00aae7;
	position: relative;
	float: left;
	width: 100%;
	margin-top: 45px;
}

footer .copyright{
	position: relative;
	float: left;
	font-size: 12px;
	color: #fff;
	font-weight: normal;
	padding: 10px 0px;
}

footer #agencia{
	position: absolute;
	top: 10px;
	right: 0px;
	width: 30px;
	overflow: hidden;
	text-indent: -200px;
	height: 25px;
	background: url(../img/logo-la.png) no-repeat top center;
}

@media all and (max-width: 960px){
	div.wrapper-940{
		width: 90%;
	}
	.corpo .total-conhecendo .cinquenta-conhecendo,
	.corpo .total-conhecendo .trinta-conhecendo{
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	.corpo .total-conhecendo .trinta-conhecendo .centraliza-informacao{
		max-width: 320px;
	}
	.corpo .total-conhecendo .cinquenta-conhecendo .centraliza-informacao {
		max-width: 320px;
		width: 100%;
	}
	.secoes-padding .cinquenta img,
	.secao-cinza .cinquenta img{
		max-width: 100%;
	}
}

@media all and (max-width: 940px){
	.corpo .lista-impact{
		float: none;
		margin: 0 auto;
		max-width: 200px;
		width: 100%;
	}
	.corpo .lista-impact li{
		width: 100%;
		margin-bottom: 20px;
	}
	.corpo .lista-impact:before{
		display: none;
	}
	.corpo h2{
		text-align: center;
	}
	.corpo .imagem-impact img{
		max-width: 100%;
	}
	.corpo .convencer .cinquenta{
		width: 100%;
	}
	.corpo .opcoes-sem-scroll .cinquenta{
		width: 100%;
		text-align: center;
	}
	.corpo .opcoes-sem-scroll .cinquenta .seta-x {
		position: relative;
		float: left;
		top: 0px;
		right: 0px;
		margin-bottom: 20px;
		left: 0px;
		width: 100%;
	}
	.corpo .opcoes-sem-scroll .cinquenta .seta-controle{
		position: relative;
		float: left;
		width: 100%;
		right: 0px;
		top: 0px;
		margin-bottom: 20px;
	}
	.primeira-opcao .cinquenta.fright:after,
	.segunda-opcao .cinquenta.fright:after {
	    content: ' ';
	    position: relative;
	    float: left;
	    width: 40%;
	    border: 1px solid #0069b4;
	    margin: 0px 30%;
	    margin-bottom: 30px;
	}
	.primeira-opcao .cinquenta.fright:last-child:after,
	.segunda-opcao .cinquenta.fright:last-child:after{
		display: none;
	}
}

@media all and (max-width: 768px){
	.corpo .pesquisa li{
		width: 100%;
	}
	.corpo .cinquenta .seta-x{
		right: -33%;
	}
	.corpo .fechamento li{
		width: 98%;
		padding: 25px 1%;
	}
	header{
		text-align: center;
		/*margin-bottom: 20px;*/
	}
	footer{
		margin-top: 20px;
	}
	header .logo-produto{
		width: 100%;
		top: 10px;
		padding-bottom: 20px;
	}
	header h1{
		padding: 20px 0px 0px 0px;
		width: 100%;]
		line-height: 29px;
	}
	.corpo .grid-25, .corpo .grid-74{
		width: 100%;
	}
	.corpo .perguntas .texto-titulo{
		width: 94%;
		padding: 3%;
	}
	.corpo .perguntas .texto-titulo:before{
		display: none;
	}
	.corpo .perguntas .lista-perguntas{
		margin-top: 10px;
	}
	.tabela-informacoes .cabecalho{
		width: initial !important;
		padding: 0px 10px;
		border-bottom: 1px solid #006bb0;
	}
	.tabela-informacoes h6{
		font-size: 16px;
		border-bottom: 0px solid transparent;
	}
	.corpo .dados-provas .cinquenta{
		width: 100%;
	}
	.corpo .dados-provas div.wrapper-760{
		max-width: 320px;
	}
	.corpo .centraliza-top-center-p{
		margin-top: 10px;
	}
	.corpo .dados-provas .ativo .mapa-primeiro{
		margin-bottom: 30px;
	}
	.corpo .cinquenta-50 .cinquenta{
		width: 100% !important;
	}
	.corpo .cinquenta-50 .cinquenta .cinquenta{
		width: 50% !important;
	}
	.corpo .opcoes-sem-scroll .demonstracao-produto-aplicados li{
		width: 100%;
		margin: 0px 0px;
	}
}

@media all and (max-width: 680px){
	.corpo .terco-ul li{
		width: 100% !important;
	}
	.corpo .dados-provas .mapa-primeiro, .corpo .dados-provas .mapa-segundo{
		width: 270px;
		height: 260px;
		background-size: 190% auto;
		background-position: 100% 100%;
	}
	.corpo .dados-provas .ativo .mapa-primeiro,
	.corpo .dados-provas .ativo .mapa-segundo{
		background-size: 190% auto;
	}
	.corpo p{
		font-size: 18px;
		line-height: 23px;
	}
	.cronos-detalhes{
	    font-size: 16px;
   		padding: 10px 5px;
	}
}

@media all and (max-width: 500px){
	header h1{
		font-size: 23px;
	}
	.corpo .lista-objecoes li{
		padding: 2% 10%;
		width: 80%;
	}
	.corpo .lista-objecoes li:after{
		left: -10px;
	}
	.tabela-informacoes h6{
		font-size: 14px;
		border-bottom: 0px solid transparent;
	}
	tbody tr td,
	.tabela-informacoes td p {
		font-size: 14px;
	}
	.convencer .cinquenta img{
		max-width: 95%;
	}
	.corpo .convencer h6,
	.corpo .convencer p span{
		font-size: 35px;
	}
	.corpo .convencer p{
		font-size: 25px;
		line-height: inherit;
	}
	.corpo .convencer h6,
	.demais-dados{
		font-size: 25px;
	}
}