.errorPage{
	h2 {
		font-size: 4em;
		color: #0096d0;
		font-weight: 600;
	}

	p { font-size: 28px; }
}

.painel-body, .paddingConfig{ padding: 10px; }

h2.headerPages {
	color: #00547f;
	line-height: 45px;
	font-size: 16px;
	clear: both;
	margin: 15px 0 0 33px;

	a {
		color: #196f9a;
		cursor: pointer;
		@extend %no-decoration-hover;

		&.ativo{ font-weight: 600; }
	}

	&.left { width: 90%; float: left; }
}

h2.headerMeioPages {
	color: #00547f;
	font-weight: 600;
	line-height: 50px;
	margin: 30px -30px 15px;
	padding: 0 30px;
	font-size: 18px;
	border-bottom: 1px solid #bcbcbc;
}

.muralVazio {
	color: #808080;
	font-size: 24px;
	padding: 20px;
	@extend %text-center;
	@extend %hidden;
	border-top: 1px solid #d8dce0;
	margin: 0 30px 20px;

	&.selecioneUsuario { font-size: 18px; }
}

.bonecoErro {
	background: url(../../imagens/error.png) no-repeat;
	width: 249px;
	height: 344px;
	margin: 10px auto;
}



#modalPreview, #modalPreviewFile{
	.modal-body{
		img{ max-height: 500px; margin: 0 auto; }
	}
}

.badge-color-holder{
	position: relative;
	background: #0096d0;
	width: 50px;
	height: 50px;
	margin: 10px auto 0;
	@include prefix(border-radius, 50%, webkit moz ms o);

	.icone-bell-o{ float: none; margin: 0 auto; }

	span.notifications.badge-color{ top: 6px; right: 8px; }
}

.headerPagina {
	background: #FFF;
	padding: 10px 20px;
	@include prefix(box-shadow, 0 2px 2px 0 rgba(0, 0, 0, 0.2), webkit moz ms o);

	&.fixed {
		width: calc(97.5% - 245px);
		position: fixed;
		z-index: 2;
		max-width: 1338px !important;
	}
}

.paragrafoMeio {
	color: #808080;
	font-size: 14px;
	@extend %text-center;
	padding: 20px 20px 0 20px;
}

.tituloPagina {
	font-size: 24px;
	color: #808080;
	line-height: 40px;
	float: left;
	margin: 0;
}

.errorPage { color: #808080; }

.observacao {
	color: #323232;
	font-size: 14px;
	line-height: 22px;
	@extend %text-left;

	&.maior { font-size: 16px; @extend %font-weight-600; color: #0096d0; @extend %relative; top: 12px; }

	span { @extend %block; line-height: 30px; font-weight: normal; }

	.icones { margin-right: 5px; }
}

.detalheUser {
	border: 1px solid #d8dce0;
	@include prefix(border-radius, 10px, webkit moz ms o);
	background: #FFF;
	padding: 10px 10px 0 10px;
	margin-left: 10%;

	.labelCampo{ font-weight: 600; }
}


.col-md-3 .campoPost.postInfo{ @extend %text-center; }

.p-x-0{ @extend %no-padding-lr; }

.m-x-0{ @extend %no-margin-lr; }

.noPadding{ @extend %no-padding; }

.bordered-msg{
    border-left: 3px solid #0096d0; padding-left: 5px; line-height: 30px;

    &.modal-msg{ display: none; }
}

.list-users-content{
    overflow-x: auto;

    .bordered-msg{ margin-bottom: 20px; }
}

.row.input-holder{ padding: 10px 0; }
.inputHolder.noMargin { @extend %no-margin-left; }

.template-edit{
	div{
		input, a{
			@extend %total-width; margin-bottom: 15px;
		}
	}
}

.mascaraLabel {
	position: absolute;
	top: 0;
	z-index: 2;
	cursor: text;
	font-weight: 500;
	
	&.fixHeight { line-height: 20px !important; }
}

.row.contentModal .uploaderArquivos {
	display: block;
	height: 25%;
}

.formDados {
	padding: 30px;
	overflow: hidden;
	&.convidarUsuarios { @extend %no-padding-bottom; }
}

.seeAll{ cursor:pointer; }

.loadingImportacao {
	border-radius: 5px;
	font-size: 12px;
	padding: 10px 0;
	position: relative;
	text-align: left;
	display: none;

	span { font-weight: 600; line-height: 25px; }

	.situacaoImportacao, .statusImportacao, .valorPorcento { color: #808080 }
}

.situacaoImportacao.situacaoCurrent{ top: 2px; color: #F0F0F0; z-index: 1; position: absolute; }

.trunca{
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: break-word; display: block; width: auto;
	&.sm{ max-width: 100px; }
	&.md{ max-width: 200px; }
	&.lg{ max-width: 300px; }
	&.xlg{ max-width: 400px; }
}

.scroll { overflow-x: scroll; }
.scroll-y {
	overflow-y: scroll;
	min-height: 100%;
	max-height: 100%;
}
#contentNotificacoes {
	position: fixed;
	bottom: 0;
	left: 10px;
	z-index: 9999;
}

//newsletter
.upload-status, .select-users, .select-groups, .select-groups2{ display: none; }
.spin-nl {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 9;
	background-color: #fff !important;
	height: auto !important;
}
.bloco {
	display: none;
	@include transition(all 0.5s);
}
#repetirCampo {	@include transition(all 0.5s); }
.disabled{ opacity: 0; pointer-events: none; }

.grupo-virtual-input-wrapper, a, .form-group, table, .table, li{
	&.disabled{ opacity: .6; }
}

.checkInline {
	label:last-child { margin: 0; }
}
.newsCheck { height: 128px; }
@media (max-width: 1200px) { .newsCheck { height: auto; } }

#formPeriodicidade {
	.modal-content { min-width: 305px; }
	.diario {
		label:first-child { margin-top: 16px; }
		label:nth-child(2) .icheckbox_square-green { margin-left: 0; }
		.labelCheck {
			.icheckbox_square-green { margin-right: 2px; margin-left: 7px; }
		}
	}
}
