.meio { margin: 0 auto; width: 40%; padding: 30px 0; }


/*** GRID ANTIGO ***/
.umMeio, .umMeio.noBreak, .umMeio.noBreak.menor {
	width: 49%;
	@extend %old-grid;
}

.umMeio{
	&.noBreak{
		&.maior { width: 51%; }
		&.right {
			@extend %text-right;
			&.menor { width: 47%; }
		}
	}
	&.left{ @extend %no-margin-left; }
}

.umTerco {
	width: 32%;
	@extend %old-grid;

	&.marginFoto { margin-left: -17%; margin-top: 28px; }
	&.left{ @extend %no-margin-left; }
}

.doisTercos {
	width: 66%;
	@extend %old-grid;

	&.center { margin-left: 18%; }
	&.maisLargo { width: 83%; }
	&.left{ @extend %no-margin-left; }
	&.eventos{ @extend %total-width; }
}

.umQuarto,.umQuarto.borda {
	width: 23.5%;
	@extend %old-grid;

	&.left{ @extend %no-margin-left; }
}
.umQuarto.borda {
	width: 22.2%;
	border-right: 1px solid #e1e1e1;
	padding: 5px 5px 5px 0;

	a {
		display: block;
		color: #196f9a;
		padding: 5px;
		cursor: pointer;
		font-weight: 600;

		&:hover { background: #ededed; }
		&.ativo { background: #e1e1e1; }
	}
}

.tresQuartos {
	width: 74.5%;
	@extend %old-grid;

	&.left{ @extend %no-margin-left; }
}

.umQuinto {
	width: 18%;
	@extend %old-grid;

	&.center { @extend %text-center; }
	&.left{ @extend %no-margin-left; }
}

.doisQuintos {
	width: 38%;
	@extend %old-grid;

	&.left{ @extend %no-margin-left; }
}

.tresQuintos {
	width: 58%;
	@extend %old-grid;

	&.left{ @extend %no-margin-left; }
}

.quatroQuintos {
	width: 78%;
	@extend %old-grid;

	&.left{ @extend %no-margin-left; }
}

.umOitavo {
	width: 66%;
	@extend %old-grid;

	&.left{ @extend %no-margin-left; }
}

.umDecimo {
	width: 9%;
	@extend %old-grid;

	&.left{ @extend %no-margin-left; }
}

.doisDecimos {
	width: 18%;
	@extend %old-grid;

	&.left{ @extend %no-margin-left; }
}

.tresDecimos {
	width: 28%;
	@extend %old-grid;
}

.quatroDecimos {
	width: 38%;
	@extend %old-grid;
}