/***** MODAL GRAFICO  *****/
#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url(../img/loading_bg.png);
	z-index: 99999;
	left: 0;
	top: 0;
	display: none;
}

#modal {
	position: absolute;
	z-index: 99999;
	top: 43%;
	left: 50%;
	background: #fff;
	@include prefix(box-shadow, 0 0 4px 0 rgba(0, 0, 0, 0.4), webkit moz ms o);
	margin: -190px 0 0 -275px;
	width: 550px;
	height: auto;
	border-radius: 8px;
}

.modalContent { padding: 15px; height: 100%; }

.modalTitle {
	font-size: 18px;
	position: relative;
	margin: 0;
	padding: 15px;
	background-color: #05c3f5;
	color: #FFF;
	border-radius: 4px 4px 0 0;
}

.modalContent pre, .modalContentMsg pre, .modalContentMsg textarea {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #c5c5c5;
	font-size: 14px;
	font-family: arial;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	@include prefix(hyphens, auto, webkit moz ms o);
}

.fecharModal {
	background: rgba(0, 0, 0, 0) url(../../img/icone_fechar.png) no-repeat scroll -182px -155px;
	cursor: pointer;
	display: block;
	height: 22px;
	position: absolute;
	right: -13px;
	top: -10px;
	width: 23px;
	z-index: 10;
}