#modalInsertMediaMural {
	&.modal {
		padding-right: 0 !important;

		.modal-content{
			.modal-body{
				height: 80vh;

				.portlet.light{
					.tab-content{
						> .tab-pane{
							overflow: hidden;
						    position: absolute;
						    height: 70vh;
						    width: 100%;

						    .edit-image-content{
							    height: 80vh;
								overflow-x: auto;
							}
						}
					}
				}
			}
		}
	}

	&.only-embed{
		.btn-enviar-arquivos, .link-insertMedia-editFile, .info-arquivo .open-gallery{
			display: none;
			opacity: 0;
			visibility: hidden;
		}
	}

	&.only-attach{
		.btn-embed-arquivos{
			display: none;
			opacity: 0;
			visibility: hidden;
		}
	}
	
	.modal-dialog { margin: 10px auto; }
}

.anexos{
	@extend %clear-both;
	
	li {
		display: block;
		overflow: hidden;
		border: 1px solid #e0e0e0;
		@include prefix(border-radius, 4px, webkit moz ms o);
		padding: 8px;
		margin-bottom: 10px;	

		.nomeAnexo{
			font-size: 12px; font-weight: 600; text-decoration: none; color: #424242; @extend %float-left;

			span {
				color: #424242; font-weight: 400;
				&.descricaoUpload { color: #424242; display: block; }
			}

			a{
				@extend %no-decoration-hover;
				span { margin-left: 10px; }
			}

			.adicionarDescricao { color: #0096d0; text-transform: lowercase; display: block; }

			* { font-size: 12px; font-weight: 600; text-decoration: none; color: #424242; }
		}

		.image-preview{
			width: 100%; text-align: center; margin-bottom: 5px;

			a{
				width: 100%; margin: 0 auto;
				img{ max-height: 150px; }
			}
		}

		.ico-remover{ @extend %float-right; }
	}
}


.anexos li, .ajax-file-upload-filename{
	.thumbnail {
		float: left;
	    display: block;
	    @include prefix(border-radius, 0, webkit moz ms o);
	    height: 50px;
	    width: 50px;
	    position: relative;
	    text-align: center;
	    padding: 0;
	    margin-right: 10px;

	    .file-extensions-icons-medium{
	    	height: 100%;
	    	width: 100%;
	    	position: relative;
	    	display: block;
	    	text-indent: -9999px;
	    }

	    .extension{
	    	position: absolute;
	    	top: 34px;
	    	left: 50%;
	    	@include translateX(-50%);
	    	font-size: 12px;
	    	color: #fff;
	    }
	}
}

.uploaderNovo.uploadPost{
	.ajax-file-upload-statusbar{
		.ajax-file-upload-filename{

			.thumbnail{
				overflow: hidden;
				height: 60px;
				width: 60px;

				&.preview{
					height: 100%;
					width: auto;
				}

				.extension{
				    top: 35px;
				    left: 44%;
				}
			}
		}
	}
}

#output{
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #d8dce0;
	opacity: 1;
	visibility: visible;
	@include transition(all ease-in-out 200ms);

	&.empty{
		border: none;
		padding: 0;
		opacity: 0;
		visibility: hidden;
		height: 0;
	}

	.ajax-file-upload-statusbar{
		width: 100%;
		background: #fff;
		@include transition(border ease-in-out 200ms);

		&:hover{ border-color: #337ab7; cursor: pointer }

		.ajax-file-upload-filename{ color: #808080; margin-bottom: 0; }

		.ajax-file-upload-progress{ margin-top: 18px; }
	}
}

#output, #outputAnexos.anexos {
	.ajax-file-upload-statusbar {
		> a {
			display: block;
			position: relative;
			overflow: hidden;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;


			&.upload-preview{
				float: left;
			    max-width: 120px;
			    margin: 0 auto;
			}

			img {
				bottom: 0;
				left: 0;
				margin: 0 10px;
				max-width: 100%;
				max-height: 100%;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		&.alterarNome{
			.ajax-file-upload-filename {
				word-wrap: break-word;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.ajax-file-upload-statusbar-erro {
		text-align: left;
		padding-bottom: 10px;
		color: #808080;
		font-size: 12px;
		position: relative;
		padding-left: 30px;

		b{ @extend %block; }

		&:after {
			background: url(../../imagens/icones.png) no-repeat -175px -172px;
			content: " ";
			display: block;
			width: 22px;
			height: 22px;
			position: absolute;
			top: 4px;
			left: 0;
		}
	}

	.ajax-file-upload-percent {
		position: absolute;
		display: inline-block;
		top: 3px;
		left: 48%
	}
}

.recent-files{
	max-height: 70vh;
	overflow: auto;

	ul.arquivos{
		margin-top: 7px;

		> li{
			border: 1px solid #eee;
			padding: 10px;
			@include transition(all 200ms ease-in-out);

			&.active{
				border-color: #337ab7;
				border-width: 4px;
    			padding: 7px;
			}

			.icon-wrapper{
			    top: 9px;
			    right: 10px;
				.galeria-add-file{ display: none; }
				.remove-from-recent {
					display: block;
					visibility: hidden;
					opacity: 0;
					color: #d9534f;
				    cursor: pointer;
				    font-size: 25px;
				    line-height: 30px;
					@include transition(all 200ms ease-in-out);	
					
					.fa-times {@include scale(0.7); margin-top: -1px;}
					&:hover{ opacity: 1; }
				}
			}

			.icon-destaque {
				display: block;
				visibility: hidden;
				opacity: 0;
			    cursor: pointer;
			    top: 5px;
			    left: -6px;
			    color: #4C4C4C;
				@include transition(all 200ms ease-in-out);

				i { text-shadow: 2px 2px 5px #fff; }
				&:hover, &.active { opacity: 1; visibility: visible; color: #ffc107; }
			}
			&:hover{
				.icon-wrapper{
					.remove-from-recent { visibility: visible; opacity: .7; }			
					&:hover{ .remove-from-recent{ color: #d9534f; opacity: 1; } }
				}
				.icon-destaque {
					visibility: visible; opacity: .7;
					&:hover { opacity: 1; }
				}
			}
		}
	}
}

.galeria-files{
	ul.arquivos{
		> li{
			width: 25%;
			float: left;
		    clear: right;
    		padding: 0 10px;

			.icon-wrapper{
				width: 32px;
				top: 11px;
				right: 25px;
				.remove-from-recent{ display: none; }

				.galeria-add-file{
					display: block;
					visibility: hidden;
					opacity: 0;
					color: #fff;
				    font-size: 25px;
				    line-height: 30px;
				    cursor: pointer;
				    text-shadow: 2px 2px 4px #000;
					@include transition(all 200ms ease-in-out);

					&:hover{ color: #337ab7; opacity: 1; }
				}
			}
			.icon-destaque { display: none; }

			.arquivo{
				border-style: solid;
				border-color: #eee;
				border-width: 1px;
    			padding: 10px;
				@include transition(all 200ms ease-in-out);

				.miniaturaArquivo{
					a{ @include transition(all ease-in-out 200ms); }
				}

				.file-extensions-icons-big{
				    display: block;
				    position: relative;
				    height: 120px;
				    width: 100px;
				    margin: 0 auto;
				}

				.extensaoArquivo{
					color: #fff;
					font-size: 18px;
					top: 88px;
				}
			}

			&:not(.placeholder){
				&:hover{
					.icon-wrapper{
						.galeria-add-file{ visibility: visible; opacity: .7; }
						&:hover{							
							.galeria-add-file{ color: #337ab7; opacity: 1; }
						}
					}

					.miniaturaArquivo{
						background-image: linear-gradient(to bottom,rgba(0,0,0,0.26),transparent 56px,transparent);
					}
				}
			}

			&.active{
				.icon-wrapper{
					.galeria-add-file{ color: #337ab7; opacity: 1; visibility: visible; text-shadow: 1px 1px 2px #fff; }
				}

				.miniaturaArquivo{
					a{ @include scale(0.7); }
				}

			}

			&.active, &.atual{
				.arquivo{
					border-color: #337ab7;
				}
			}
		}
	}
}

.recent-files, .galeria-files{
	display: block;
	position: relative;

	ul.arquivos{
		display: block;

		> li{
			display: block;
			margin-bottom: 20px;
			text-align: center;
			position: relative;

			&:hover{
				.arquivo{
					.miniaturaArquivo{ opacity: .6; }
				}
			}

			&:last-child{ margin-bottom: 0; }

			&.placeholder{
				.arquivo{
					height: 186px;

					.miniaturaArquivo{ height: 166px; }
				}
			}

			.icon-wrapper, .icon-destaque {
				position: absolute;
    			z-index: 1;
			}

			.arquivo{
				position: relative;

				.miniaturaArquivo{
					height: 120px;
					@include prefix(border-radius, 0, webkit moz ms o);
					@include transition(opacity 200ms ease-in-out);

					.file-extensions-icons-big{
						display: block;
						height: 100%;
					    width: 100px;
    					margin: 0 auto;
					}

					.extensaoArquivo{ top: 87px; }
				}
			}
		}
	}
}

.info-arquivo{
	border-left: 1px solid #eee;

	&.fade{
		visibility: hidden;

		&.in{ visibility: visible; }
	}

	@media screen and (max-width: 1620px){
		input, .form-group {
			font-size: 12px;
		}
		.form-group {
			margin-bottom: 10px;
		}
	}

	.dimensoes{
		opacity: 0;
		visibility: hidden;
		@include transition(all ease-in-out 200ms);
		margin-bottom: 0;
		height: 0;

		&.active{
			margin-bottom: 15px;
			height: inherit;
			opacity: 1;
			visibility: visible;
		}
	}

	.arquivoNome{
		input{
			border: 1px solid transparent;
    		resize: none;
    		width: 100%;
    		padding: 4px;
    		@include transition(all ease-in-out 200ms);

    		&:hover{ border-color: #ccc; }
    		&:focus{ border-color: #66afe9; }
		}
	}

	.descricao{
		textarea{
			border: 1px solid transparent;
    		resize: none;
    		width: 100%;
    		padding: 4px;
    		@include transition(all ease-in-out 200ms);

			@media screen and (max-width: 1620px){
				max-height: 50px;
			}

    		&:hover{ border-color: #ccc; }
    		&:focus{ border-color: #66afe9; }
		}
	}

	.miniaturaArquivo{
		.file-extensions-icons-big{
		    display: block;
			margin: 0 auto;
			width: 100px;
			height: 100%;
		}

		.extensaoArquivo{ top: 87px; }
	}

	.open-gallery{ font-size: 12px; }
}

.insert-arquivo-preview{
	padding: 0 20px 20px;
	border-left: 1px solid #eee;

	.insert-arquivo-preview-images, .insert-arquivo-preview-docs, .insert-arquivo-preview-others{
		opacity: 0;
		visibility: hidden;
		@include transition(all ease-in-out 200ms);
		margin-bottom: 0;
		height: 0;

		&.active{
			height: inherit;
			opacity: 1;
			visibility: visible;
		}
	}

	.insert-arquivo-preview-images{
		.html-crop{
			width: 100%;
			margin: 0 auto;

			> .form-group{
				opacity: 0;
				visibility: hidden;
				margin: 0 auto 5px;
				display: table;		
				@include transition(all 350ms ease-in-out);
				&.active{ opacity: 1; visibility: visible; }
			}
			
			img.crop-image{ width: auto; max-width: 100%; }
		}

		.crop-thumbnail-container, .jcrop-holder{
			@include transition(opacity 200ms ease-in-out);
		}

		.jcrop-holder{ margin: 0 auto; }
		
		img{
			&.img-responsive{ @include transition(all 200ms ease-in-out); }
		}
	}
}

.original-crop-image{ opacity: 0; visibility: hidden; position: absolute; z-index: -1; }

.insert-arquivo-thumbs{
	position: relative;
	opacity: 0;
	visibility: hidden;
	@include transition (all ease-in-out 200ms);

	&.active{ opacity: 1; visibility: visible; }

	.links-wrapper{
		h4{
			a{
				font-size: 12px;
				margin-left: 15px;
			}
		}
	}

	.thumbnails-wrapper, .crop-thumbs-thumbnail-container{
		opacity: 1;
		visibility: visible;
		margin-top: 8px;
		@include transition(all ease-in-out 200ms);

		.img-wrapper{
			float: left;
			margin: 0 20px;
			overflow: hidden;
			p{ font-size: 12px; color: #333; clear: both; }
			img{ display: block; float: left; }

			&:first-child{
				margin-left: 0;
				width: 200px;
			}
			&:last-child{
				margin-right: 0;
				width: 100px;
			}
			@media screen and (max-width: 1620px){
				&:first-child{ width: 140px; }
				&:last-child{ width: 70px; }
			}
		}
	}

	.thumbnails-wrapper{
		&.invisible{ visibility: hidden; }
		.img-wrapper{
			&:first-child{ img{ max-width: 200px; max-height: 180px } }
			&:last-child{ img{ max-width: 100px; max-height: 100px; } }
			@media screen and (max-width: 1620px){
				&:first-child{ img{ max-width: 140px; } }
				&:last-child{ img{ max-width: 70px; } }
			}
		}
	}
	.crop-thumbs-thumbnail-container{
		position: absolute;
		top: 39px;
		overflow: hidden;
		.img-wrapper{
			&:first-child{ img{ width: 200px; }	}
			&:last-child{ img{ width: 100px; } }
			@media screen and (max-width: 1620px){
				&:first-child{ img{ width: 140px; } }
				&:last-child{ img{ width: 70px; } }
			}
		}
	}

}

.preview-crop-wrapper{
    position: absolute;
    right: 0;
    visibility: hidden;
    opacity: 0;
    min-height: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    @include prefix(box-shadow, 2px 2px 5px 1px #eee, webkit moz ms o);
    @include prefix(border-radius, 6px, webkit moz ms o);
    @include translateX(600px);
    @include transition(all ease-in-out 550ms);

    &.active{
    	@include translateX(0);
    	opacity: 1;
    	visibility: visible;
    }

    .crop-thumbnail-container{
	    height: 300px;
	    width: 300px;
	    overflow: hidden;
	    position: relative;
	    top: 50px;
	    margin: 0 auto;
	    max-width: 100%;
	}

	.btn-wrapper{
		position: relative;
		top: 200px;
	}
}

#insertMedia-biblioteca{
	position: relative;

	.seletorArquivos {
        overflow: auto;
        height: 100%;
        padding-top: 10px;
    }
}

.tab-content{
	#insertMedia-uploadFile{
		display: block;
	    position: absolute;
	    z-index: 2;
	    top: 0;
	    width: 100%;
	    background-color: #fff;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    min-height: 100%;
	    height: 100%;
	    @include transition(all ease-in-out 200ms);
	    opacity: 0;
	    visibility: hidden;

	    &.in{
	    	&.active{ opacity: 1; visibility: visible; }
	    }
	}
}

.mt-overlay, .title-wrapper{
	.custom-title{
		color: #fff;
	    font-weight: 600;
	    position: absolute;
	    bottom: 0;
	    text-align: center;
	    left: 50%;
	    @include translateX(-50%);
	    max-width: 90%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    line-height: 24px;
	    font-size: 14px;
	}
}

.miniatura-wrapper{
    padding: 10px;
    border: 1px solid #ccc;

	.miniaturaArquivo{
		@include prefix(border-radius, 0, webkit moz ms o);
		height: 120px;

		> a{ cursor: default; }
	}
}

.title-wrapper{
	position: relative;
	background-color: rgba(0,0,0,.7);

	.custom-title{
		position: relative;
		text-align: center;
		margin: 10px auto;
		left: 0;
		@include translateX(0);
	}
}

.ico-destaque {
	color: #f5a623;
	width: 1.25em;
	position: absolute;
    top: initial;
    bottom: -6px;
    right: -12px;
    z-index: 2;
    font-size: 20px;
    text-align: center;
}

//botoes de edição de imagem
.habilitar-crop, .resize-crop, .resize-crop2, .habilitar-rotate,
#habilitar-crop, #habilitar-resize, #habilitar-resize2, #habilitar-rotate {
	float: left;
}
#habilitar-thumb {
	float: right;
	.edit-block {
		position: absolute;
		//left: 0;
		top: -5px;
		background-color: #fff;
	}
}
#habilitar-crop,
#habilitar-resize,
#habilitar-resize2,
#habilitar-rotate,
#habilitar-thumb {
	opacity: 0;
	width: 0;
	height: auto;
	position: relative;
	@include transition(all ease-in-out 0.5s);
	visibility: hidden;

	.edit-block {
		min-width: 200px;
		max-width: 220px;
		padding-left: 4px;
		padding-right: 12px;

		.range {
	    	width: 60%;
	    	margin: 5px 10px 0 0;
	    	float: left;
		}
	}
}
.cropsize {
	padding: 0 0 0 3px;
	width: 50px;
	height: 25px;
}
.insert-arquivo-preview-images {
	.btn-edit {
		margin-right: 4px;
		float: left;
		&:last-child { margin-right: 0; }
	}
}
.dragover {
	border-color: #66afe9 !important;	
	@include prefix(box-shadow, 0 0 8px rgba(102,175,233,0.6), webkit moz ms o);
	@include transition(all ease-in-out 200ms);
}

@import '_resizeImage';