//elementos mural
@import '_form';
@import '_feed';
@import '_header';
@import '_sidebox';

@import '_anexos';
@import '_previewMobile';

#preview-content-wrapper{
    position: absolute;
    z-index: -999;
    opacity: 0;
    visibility: hidden;
    width: 180px;
    font-size: 12px;

    img{ display: block; max-width: 100%; }
}