.casca-ios-preto{
	&.livecom{
		.mdl-layout__container {
	        position: absolute;
	        padding: 0;
	        margin: 0;
	        top: 70px;
	        left: 22px;

	        .mdl-layout__header{
	            position: relative;
	            height: 75px;

	            .mdl-layout__drawer-button{ margin: 25px 0 8px 0; padding-top: 4px; }

	            .mdl-layout__header-row{
	                padding: 42px 0 0 50px;

	                > span{
                	    font-size: 16px;
					    word-wrap: break-word;
					    white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    max-width: 38%;
	                }
	            }
	        }

	        .preview-livecom-mobile{ min-height: 700px; }
	    }

        .livecomPost{
            .mobile-btn-postar{ display: none; }
        }
	}
}

.casca-android-preview, .casca-ios-preto.livecom{
    .livecomPreview{
        .mdl-layout__container{
            .mdl-layout__header{
                .mdl-layout__header-row{
                    height: 100%;
                    min-height: 100%;
                    max-height: 100%;
                    margin-top: -12px;
                    padding: 6px 0 0 48px;
                }

                .mdl-layout__drawer-button{ padding-top: 0; }
            }
        }

        .material-icons{ font-size: 18px; }

        .mdl-layout__header-row{
            > span.mdl-layout-title{ font-size: 14px; top: 23px; max-width: 100px; font-weight: 600; }    
        }

        .root-content-left-icons{
            padding-top: 4px;

            label{
                min-width: 23px;
                width: 23px;
                height: 23px;

                .mobile-badge{ font-size: 8px; }

                i{
                    background-size: 22px;
                    min-width: 23px;
                    width: 23px;
                    height: 23px;
                    min-height: 23px;
                }
            }
        }
    }
}

.livecomPreview{
	.livecomPost{
        display: block;

        .post-ver-mais{ font-size: 10px; margin-top: 10px; cursor: pointer; display: inline-block; }
        
        iframe{ height: 150px; max-height: 150px; }
    }

	.livecomDetalhes{ display: none; }

	.livecomPost, .livecomDetalhes{
        overflow: auto;

        iframe{ pointer-events: none!important; }
    }
}


.preview-livecom-mobile{
	padding: 5px;
	position: relative;
	height: auto;

	.mobile-btn-postar{
		position: fixed;
	    bottom: 100px;
    	right: 210px;
	}
}

.lista-mural-mobile{
    display: block;
    position: relative;

    .post-mobile{
        display: block;
        @include prefix(border-radius, 4px, webkit moz ms o);
        background-color: #fff;
        padding: 10px;

        .post-mobile-header{
        	.post-mobile-foto{
        		float: left;
        		margin-right: 10px;

        		> img{
        			width: 50px;
        			height: 50px;
        			@include prefix(border-radius, 50%, webkit moz ms o);
        		}
        	}

        	.post-mobile-texto{
        		float: left;
    			width: calc(100% - 60px);

        		.post-mobile-user{
        			font-weight: 600;
        			color: #444;
        			font-size: 12px;
        		}

        		.post-mobile-grupos{
                    line-height: 12px;

        			span{
        				color: #ccc;
        				font-size: 10px;

        				&.nome-grupos{ color: #7e7e7e; font-weight: 600; }
        			}
        		}
        	}
        }

        .post-mobile-body{
        	.post-mobile-categoria{
        		float: left;
        		text-transform: uppercase;
        		font-weight: 700;
        		font-size: 10px;
        	}

        	.post-mobile-hora{
        		float: right;
        		color: #9e9e9e;
        		font-size: 10px;
        	}

        	.post-mobile-titulo{
    		    line-height: 20px;
        		font-size: 14px;
        		font-weight: 700;
        		color: #222;
        		margin-bottom: 5px;
        	}
        }

        .post-mobile-footer{
            padding: 10px 0 0;

            span{
                font-size: 12px;
                color: #bebebe;
                position: relative;
                top: 3px;
                margin-left: 8px;
            }
        }
    }
}