.resize-container {
    position: relative;
    display: table;
    margin: 0 auto;
    top: 0!important;
    left: 0!important;

    img {
        display: block;
        width: auto;
        max-width: initial;
    }

    .resize-tooltip{
        background-color: #222;
        color: #fff;
        padding: 5px;
        font-size: 12px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        @include prefix(border-radius, 4px, webkit moz ms o);
        @include transition(all ease-in-out 100ms);
        position: absolute;

        &.tooltip-resize-handle-se{ bottom: -35px; right: -35px; }
        &.tooltip-resize-handle-sw{ bottom: -35px; left: -35px; }
        &.tooltip-resize-handle-ne{ top: -35px; right: -35px; }
        &.tooltip-resize-handle-nw{ top: -35px; left: -35px; }
    }

    &:hover, &:active{
        img { outline: 2px dashed #337ab7; }
        .resize-tooltip{ opacity: .8; visibility: visible; }
    }
}

.resize-handle-ne, .resize-handle-se, .resize-handle-nw, .resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: #337ab7;
    z-index: 999;
}
.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}
.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}
.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}
.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}