/*** SIDEBOX ***/
.sideBox {
	background: $white;
	@extend %no-border;
	position: fixed;
	right: 0;
	padding: 0;
	z-index: 9;
	margin: 0;
	@include prefix(border-radius, 0, webkit moz ms o);
	overflow: hidden;
	top: 64px;
	bottom: 0;
	max-width:25%;
	height: 100%;
	@include transition(margin-right 200ms ease-in-out);

	.clearfix{ @extend %total-height; max-height: 100%; }
	div[role="tabpanel"]{ @extend %total-height; }
}

.nav-tabs{
	> li{
		> a { background: #eee; margin: 0; color: #808080; padding:10px 5px; border-radius:0; font-weight:600; }
	}

	>.tab-last{
		> a { margin-right: 0; }
	}
}

.sideBox .nav-tabs>li>a, .sideBox .nav-tabs>li>a:focus, .sideBox .nav-tabs>li>a:hover{ font-size: 15px; line-height: 21px; font-weight: 400; border-left: none; border-right: none; border-top: none; border-bottom: 1px solid #e0e0e0; }
.sideBox .nav-tabs>li.active>a, .sideBox .nav-tabs>li.active>a:focus, .sideBox .nav-tabs>li.active>a:hover { font-size: 15px; line-height: 21px; font-weight: 400; background-color: #fff; color: #0096d0; border-left: none; border-right: none; border-top: none; border-bottom: 1px solid #0096d0; }
.sideBox .nav-tabs>li>a:hover { border-bottom: 1px solid #0096d0; }

.sideBox .nav-tabs>li>a>i{ font-size: 20px; }
.sideBox .nav-tabs>li.li-percent{ width: 20%; }

.sideBox .nav-tabs>li.mf.disabled, .sideBox .nav-tabs>li>a.mf.disabled{ cursor: not-allowed; pointer-events: none; opacity: .6; }

#contentcolumn.semDireita,
.popover-content.text-center .btn-group .btn{ margin-right: 0; }

.input-group .icon-addon .form-control { @extend %no-border-radius; }

.icon-addon {
	position: relative; color: #555; display: block!important;

	&:after, &:before { display: table; content: " "; }

	.form-control { padding-left: 30px!important; float: left; font-weight: normal; }

	&.addon-lg{
		.form-control { line-height: 1.33; height: 46px; font-size: 18px; padding: 10px 16px 10px 40px; }

		.fa, .glyphicon{ font-size: 18px; margin-left: 0; left: 11px; top: 4px; }
	}

	&.addon-sm{
		.form-control { height: 30px; padding: 5px 10px 5px 28px; font-size: 12px; line-height: 1.5; }

		.fa, .glyphicon{ margin-left: 0; font-size: 12px; left: 5px; top: -1px; color: #bdbdbd; }
	}
}
.icon-addon.addon-md .glyphicon,.icon-addon .glyphicon,.icon-addon.addon-md .fa,.icon-addon .fa{ position: absolute; z-index: 2; left: 10px; font-size: 14px; width: 20px; margin-left: -2.5px; text-align: center; padding: 10px 0; top: 1px }
.icon-addon .form-control:focus+.glyphicon,.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus+.fa,.icon-addon:hover .fa{ color: #2580db; }

span.empty.badge.badge-default{ position: absolute; background-color: #b5b5b5; color: #fff; }

.sideBoxList { width: 160px; border-radius: 4px; padding: 5px 9px; background-color: #fff; border: solid 1px #e0e0e0; }

.tab-content.compressed{
	padding: 20px;
	height: -webkit-calc(100% - 40px);
	height: -moz-calc(100% - 40px);
	height: calc(100% - 40px);
}

.row.scroll-list, .scroll-list {
	height: -webkit-calc(100% - 40px);
	height: -moz-calc(100% - 40px);
	height: calc(100% - 40px);
	overflow: auto;

	&.input{
		/* scroll-list - tamanho input */
		height: -webkit-calc(100% - 165px);
		height: -moz-calc(100% - 165px);
		height: calc(100% - 165px);
		/* 99 */
	}

	&.header-input{
		/* scroll-list - (tamanho header + tamanho input) */
		height: -webkit-calc(100% - 220px);
		height: -moz-calc(100% - 220px);
		height: calc(100% - 220px);
		/* 152 */
	}

	&.bigger, &.header-input-big{
		/* scroll-list - (tamanho header + 2xtamanho input) */
		height: -webkit-calc(100% - 245px);
		height: -moz-calc(100% - 245px);
		height: calc(100% - 245px);
		/* 178 */
	}
}

.list-group-item-sideBox {
	float: left;
	margin-right: 5px;
	background: #f2f2f2;
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 10px;
	letter-spacing: -0.4px;
	border: 1px solid #ccc;
	display: inline-block;
	font-size: 12px;

	> a{ color: #313947; font-weight:600; }

	> span { font-weight: 600; letter-spacing: 0; }

	&.ativo{
		> a{ text-decoration: underline; }
	}
}

.list-group-usuarios > li{ @extend %block; border: 1px solid transparent; }
.list-group-item-sideBox.ativo, .list-group-item-categoria.ativo{ border-color: #0096d0; }

.list-group-usuarios>li>a, .list-group-grupos>li>a,

.listaLinks{
	> li{
		> a { padding: 7px 10px; @extend %no-decoration-hover; display: block; overflow: hidden; position: relative; }
	}
}

.listaLinks, .lista-arquivos{
	p{
		&.first{ @extend %total-width; }
	}
}

.list-group-usuarios>li .fotoUsuario, .list-group-grupos>li .fotoUsuario, .listaLinks>li .fotoUsuario,
.lista-arquivos> li .fotoUsuario, .listaSolicitacoes > li .fotoUsuario{ float: left; margin-right: 15px; }

.list-group-usuarios>li .fotoUsuario, .list-group-grupos>li .fotoUsuario { border: none; }

.list-group-grupos>li .fotoUsuario{
	@include prefix(border-radius, 5px, webkit moz ms o);
}

.list-group-usuarios{
	> li{
		a{
			.icones.ac_loading {
				background-color: #fff;
				position: absolute;
				right: 10px;
				top: 8px;
				z-index: 10;

				.user-name{
					color: #0096d0;
					font-weight: 600;
					margin: 5px 10px;
				}

				.status {
					position: absolute;
					right: 10px;
					top: 15px;
				}
			}

			p {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		&.offline{
			a{
				.fotoUsuario {
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
					filter: alpha(opacity = 50);
					-moz-opacity: 0.5;
					opacity: 0.5;
				}

				p { color: #c5c5c5; }
			}
		}
	}
}

.sub-header { padding-bottom: 10px; border-bottom: 1px solid #eee; }

.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
	> li > a { padding-right: 20px; padding-left: 20px; }

	> .active{
		> a{
			@extend %font-white; background-color: #428bca;
			&:hover, &:focus{ @extend %font-white; background-color: #428bca; }
		}
	}
}

.row.text-center.input-holder{ padding: 0 0 10px 0; }

.sideBox_arquivos_label{ @extend %text-left; }

.customSelect.sideBox_arquivos_select .customSelectInner{ line-height: 22px; }

.sideBox_arquivos_select.hasCustomSelect option[disabled], .sideBox_arquivos_select.hasCustomSelect option[readonly]{
    background-color: white!important;
    color: black!important;
    display:none;
}
.sideBox_arquivos_select.hasCustomSelect option{
	@extend %no-border;
	@include prefix(appearance, none, webkit moz ms o);
}

.sideBox .list-holder{
	.acoes-grupo{ margin-top: 5px; }

	.iconNotify { padding: 0; clear: initial; }

	.acoes-grupo, .acoes-user{
		left: 65px;
		width: calc(100% - 65px);
		border-bottom: 1px solid $ccc;
		padding-bottom: 10px;

		a{
			display: inline-block; float: left; margin-right: 10px; opacity: 0.7;
			&:hover{ opacity: 1; }
			&:last-child{ margin-right: 0; }
		}
	}
}

/*** toggle lista grupos ***/
.toggle-list{
	background: #fafafa;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 5px 15px 7px;

	label{
		color: #616161;
		font-size: 13px;
		font-weight: 600;
	}

	.icon-holder{
		position: relative;
		display: block;
		padding: 0px 4px;
		float: right;
		border-radius: 50%;
		height: 24px;
		width: 24px;
		background: #fff;

		i{
			color: #9e9e9e;
			font-size: 25px;
			position: relative;
			top: 4px;
			color: #0096d0!important;
		}

		&:hover{
			background: #fff;
			i{ color: #0096d0!important; }
		}
	}

	&:hover{
		background: #f5f5f5;

		.icon-holder{
			background: #fff;
		}
	}
}

.grupo-pic-holder{
	.css-favorito{
		&hover{ @extend %text-shadow-favoritar-grupo-hover; }
	}
	
	.css-favorito-not{
		&.grupo{
			&:hover{ @extend %text-shadow-favoritar-grupo-hover; }
		}
	}
}