@import '../utils/_colors';
@import '../utils/_mixins';
@import '../utils/_extends';

//material design -- removed from border.htm
@import 'material-design/_INDEX';


//metronic
@import 'metronic/_INDEX';

@import 'alerts/_alerts';

@import 'avatar/_avatar';

@import 'bandeiras/_INDEX';

@import 'buttons/_buttons';

@import 'ckeditor/_ckeditor';

@import 'color-pickers/_INDEX';

@import 'config-item/_config-item';

@import 'crop-image/_INDEX';

@import 'custom-select/_custom-select';

@import 'custom-scroll/_INDEX';

@import 'date-pickers/_INDEX';

@import 'favorito-grupo/_INDEX';

@import 'footer/_footer';

@import 'forms/_INDEX';

@import 'grids/_INDEX';

@import 'header/_INDEX';

@import 'icheck/_icheck';

@import 'icons/_INDEX';

@import 'iframes/_iframes';

@import 'link-box/_INDEX';

@import 'lists/_INDEX';

@import 'menu/_menu';

@import 'modals/_INDEX';

@import 'old-things/_INDEX';

@import 'pop-menu/_pop-menu';

@import 'root/_INDEX';

@import 'select2/_select2';

@import 'spinners/_spinners';

@import 'sweetalert/_INDEX';

@import 'tables/_INDEX';

@import 'textareas/_textareas';

@import 'tinymce/_INDEX';

@import 'toastr/_toastr';

@import 'token-input/_token-input';

@import 'tooltips/_INDEX';

@import 'tree/_INDEX';

@import 'tutorial/_INDEX';

@import 'upload-area/_INDEX';

@import 'plugins/_INDEX';

@import 'devices/_INDEX';


div#captcha {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 300px;
}

.img-responsive{ margin: 0 auto; }

.root-help{
	font-size: 18px;
    line-height: 34px!important;
    float: right;
}