/*** MENU ***/
#leftMenu {
	padding: 0;
	position: fixed;
	top: 64px;
	bottom: 0;
	left: 0;
	z-index: 9;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $menu-bg;
	border-right: 1px solid #eee;
	display: block;
	min-width: 220px;
	max-width: 260px;
	@include transition(margin-left 200ms ease-in-out);
}

/* infoUsuario */
.infoUsuario {
	text-align: center; padding-top: 20px;

	.nome a {
		color: $white;
		font-weight: 600;
		font-size: 18px;
		padding: 13px 10px 5px 10px;
		display: block;
		text-decoration: none;
	}

	.grupo { font-style: italic; }
}

.infoUsuario .cargo,.infoUsuario .grupo {
	color: #969696;
	font-size: 14px;
	padding: 0 10px 3px 10px;
	margin: 0;
}

/* menu */
.menuEsquerda {
	padding-bottom: 20px; min-height: calc(100% - 166px); height: auto;

	> .preview-menu{
		> li{
			&.menu-item-parent > a{ @extend %cursor-pointer; }

			&.menu-item-parent > a, &.menu-item-children > a{
				&:hover{
					border-color: #e1e1e1;
					background: #515967;
				}
			}
		}
	}
}

.menuEsquerda{
	ol, ul{
		li{ position: relative; }
	}
}

.menuNotIn{
	.reorder-menu-list{ display: none; }
}

.menuEsquerda, .menuNotIn{
	@extend %relative;
	
	ul, ol{
		> li{
			&:hover{
				> .reorder-menu-list{ opacity: 1; visibility: visible; }
			}

			&.menu-item-parent > a, &.menu-item-children > a{
				display: block;
				font-size: 14px;
				color: $white;
				text-decoration: none;
				line-height: 22px;
				padding: 10px 20px 10px 24px;
				@extend %relative;
				border-left: 3px solid transparent;
				@include multiple-transition(border-color 350ms, background 350ms);
			}

			&.menu-item-parent {
				font-weight: 600; text-transform: uppercase;
				> a{ padding-left: 10px; color: #e1e1e1; cursor: default; }
			}
			&.menu-item-children{
				> a{
					text-transform: none; font-weight: 400;
					> i { margin: 0 10px 0 -1px; }
					&:hover{
						border-color: #e1e1e1;
	   					background: #515967;
					}
				}
			}
		}
	}
}

.menuEsquerda>ul>li.menu-item-children>a.ativo,
.menuEsquerda>ol>li.menu-item-children>a.ativo,

.preview-menu li.menu-item-parent a.ativo,
.menuNotIn ul>li.menu-item-children>a.ativo,
.menuNotIn ol>li.menu-item-children>a.ativo{
	border-color: #05c3f5;
	background-color: #515967;
}

.separaMenu { border-top: 2px solid #292b2f; border-bottom: 1px solid #454d59; }




/* preview menu root */
.preview-menu-holder{ min-height: 100%; height: auto; }

.preview-menu{
	border: 2px solid transparent;
	padding: 0;
	margin: 0 auto 20px;
	background-color: $menu-bg;
	border-right: 1px solid #eee;
	display: block;
	min-width: 300px;
	max-width: 330px;

	&.maximized{
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		min-height: 50px;
	}

	> ol{
		li {
			&.menu-item-children{
				> a{ padding: 15px 50px 15px 39px; }
			}

			&.menu-item-parent{
				> a{ padding: 15px 15px 15px 25px; }
			}

			&:last-child{ border: none; }

			&.preview-ativo{
				&:after{
					content: '';
					display: inline-block;
					border-bottom: 6px solid transparent;
					border-top: 6px solid transparent;
					border-left: 6px solid #515967;
					position: absolute;
					top: calc(50% - 6px);
					right: -5px;
				}
			}

			&.dragged{
				position: absolute;
				z-index: 2000;
				display: block;
				-moz-opacity: 0.9;
				opacity: 0.9;
				display: block;
				background-color: $menu-bg;
	    		width: 100%;
			}
		}
	}
}

.preview-menu{
	&.reorder-hide-first, &.reorder-change-parent{
		> ol{
			> li{
				&:first-child{
					> .reorder-menu-list{
						> i.move-up{ visibility: hidden; opacity: 0; pointer-events: none; }
					}
				}

				&:last-child{
					> .reorder-menu-list{
						> i.move-down{ visibility: hidden; opacity: 0; pointer-events: none; }
					}
				}
			}
		}
	}

	&.reorder-hide-first{
		> ol > li{
			> ol{
				> li{
					&:first-child{
						> .reorder-menu-list{
							> i.move-up{ visibility: hidden; opacity: 0; pointer-events: none; }
						}
					}

					&:last-child{
						> .reorder-menu-list{
							> i.move-down{ visibility: hidden; opacity: 0; pointer-events: none; }
						}
					}
				}
			}
		}
	}
}

.menu_drag {
	border: 1px solid #eeeeee;
	min-height: 10px;
	margin: 0 0 9px 0;

	li{ cursor: pointer; display: block; margin: 5px; padding: 5px; border: 1px solid #cccccc; color: #0088cc; background: #eeeeee; }
}

.reorder-menu-list{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 2px;
	@include transition(all ease-in-out 200ms);

	&.menu-children{ right: 5px; }
	&.menu-parent{ left: 0; }

	> i{
		cursor: pointer;
		color: $white;
		font-size: 12px;
		padding: 5px;
		width: 25px;
		@include transition(all ease-in-out 200ms);

		&[class*=" fa-"]:not(.fa-stack){ display: block; }
		&:hover{ color: #e1e1e1; }
	}
}