.mt-element-card{
    .mt-card-item {
        border: 1px solid #e7ecf1; position: relative; margin-bottom: 30px;

        .mt-card-avatar { margin-bottom: 15px }

        .mt-card-content {
            text-align: center;

            .mt-card-name { font-size: 16px; font-weight: 600; margin-bottom: 10px; }
            .mt-card-desc { font-size: 14px; margin: 0 0 10px; }
        }
    }

    &.mt-card-round{
        .mt-card-item {
            padding: 40px 40px 10px;

            .mt-card-avatar {
                @include prefix(border-radius, 50%!important, webkit moz ms o);
                -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

                .mt-overlay { @include prefix(border-radius, 50%, webkit moz ms o); }
            }
        }
    }
}

.mt-element-card .mt-card-item .mt-card-content .mt-card-social>ul {
    padding: 0;
    margin-bottom: 10px
}

.mt-element-card .mt-card-item .mt-card-content .mt-card-social>ul>li {
    list-style: none;
    display: inline-block;
    margin: 0 3px
}

.mt-element-card .mt-card-item .mt-card-content .mt-card-social>ul>li>a {
    color: #000;
    font-size: 18px
}

.mt-element-card .mt-card-item .mt-card-content .mt-card-social>ul>li>a.mt-card-btn {
    color: #fff
}

.mt-element-card .mt-card-item .mt-card-content .mt-card-social>ul>li>a.mt-card-btn:hover {
    color: #36c6d3
}

.mt-element-card .mt-card-item .mt-card-content .mt-card-social>ul>li>a:hover {
    color: #F1C40F
}