 <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Livecom</title>
    <!-- Bootstrap Core CSS -->
    <link href="$context/assets/css/bootstrap.min.css" rel="stylesheet">

	<link id="favicon" rel="shortcut icon" href="https://web.whatsapp.com/img/favicon/1x/favicon.png" type="image/png" />

    <!-- Custom CSS -->
    <link href="$context/assets/components/mdl/material.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="$context/assets/css/flex.css">
    <link rel="stylesheet" type="text/css" href="$context/assets/css/style.css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    
    <script>
        #if($ssl_on && $ssl_on == "1")
    		#set($wsProtocol = "wss")
    	#else
    		#set($wsProtocol = "ws")
    	#end
    	#if($chat_service_location)
    		var serviceLocation = "$chat_service_location";
    	#else
    		var serviceLocation = "$wsProtocol://" + window.location.host + "/chat/";
    	#end
    	var urlContext = "$context";
    	
    	var USER_INFO = {
    		id: '$session.userInfo.id',
    		login: '$session.userInfo.login',
    		nome: '$session.userInfo.nome', 
    	    foto: '$session.userInfo.urlFotoUsuario', 
    	    token: '$session.userInfo.wstoken'
    	};
    	
    	var SERVER_URL = "$context";
    	var CHAT_SOCKET = serviceLocation;
    	
	</script>
    
</head>
<body>
	<div class="app-wrapper-main">
		<div class="holdApp">
				<div class="container-fluid fullHeight">
				<div class="row fix fullHeight">
					#parse("chat/templates/chat_coluna_left.htm")
					#parse("chat/templates/chat_coluna_conversa.htm")
				</div>
			</div>
		</div>
	</div>
<div class="modal">
	<!-- MODAL ARQUIVAR -->
	<div class="modalArquivar">
		<h4>Deseja arquivar a conversa?</h4>
		<!-- <h4 class="{{listConverCtrl.getUltimaMensagem(conversa).from === 'admin@livetouch.com.br' ? 'none' : ''}}">Deseja arquivar a conversa com {{listConverCtrl.getUltimaMensagem(conversa).toNome}}?</h4>
		<h4 class="{{listConverCtrl.getUltimaMensagem(conversa).to === 'admin@livetouch.com.br' ? '' : 'none'}}">Deseja arquivar a conversa com {{listConverCtrl.getUltimaMensagem(conversa).fromNome}}?</h4> -->
		<!-- <h4>Deseja arquivar sua conversa com <span class="nomeUser">{{converCtrl.chat.conversa.toNome === main.usuario.getNome() ? 'conversa.fromNome' : 'conversa.toNome'}}</span> ?</h4> -->
		<div class="col-md-6">
			<span class="holdOneBtn center-block text-center">
	        	<button class="mdl-button mdl-js-button mdl-js-ripple-effect btn green">OK</button>
	        </span>
	    </div>
	    <div class="col-md-6">
	        <span class="holdOneBtn center-block text-center">
	        	<button class="mdl-button mdl-js-button mdl-js-ripple-effect btn red cancelar">Cancelar</button>
	        </span>
        </div>
	</div><!--/ FIM MODAL ARQUIVAR -->
	<!-- MODAL APAGAR -->
	<div class="modalApagar">
		<h4>Deseja apagar a conversa?</h4>
		<!-- <h4>Deseja apagar sua conversa com <span class="nomeUser">{{converCtrl.chat.conversa.toNome === main.usuario.getNome() ? 'conversa.fromNome' : 'conversa.toNome'}}</span> ?</h4> -->
		<div class="col-md-6">
			<span class="holdOneBtn center-block text-center">
	        	<button class="mdl-button mdl-js-button mdl-js-ripple-effect btn green">OK</button>
	        </span>
	    </div>
	    <div class="col-md-6">
	        <span class="holdOneBtn center-block text-center">
	        	<button class="mdl-button mdl-js-button mdl-js-ripple-effect btn red cancelar">Cancelar</button>
	        </span>
        </div>
	</div><!--/ FIM MODAL APAGAR -->
	<!-- MODAL APAGAR MSG -->
	<div class="modalApagarMsg">
		<h4>Deseja apagar a mensagem?</h4>
		<div class="col-md-6">
			<span class="holdOneBtn center-block text-center">
	        	<button class="mdl-button mdl-js-button mdl-js-ripple-effect btn green">OK</button>
	        </span>
	    </div>
	    <div class="col-md-6">
	        <span class="holdOneBtn center-block text-center">
	        	<button class="mdl-button mdl-js-button mdl-js-ripple-effect btn red cancelar">Cancelar</button>
	        </span>
        </div>
	</div><!--/ FIM MODAL APAGAR MSG -->
</div>
    <!-- jQuery -->
    <script src="$context/assets/components/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="$context/assets/components/mdl/material.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="$context/assets/components/bootstrap.min.js"></script>
    <script src="$context/assets/js/scripts.js"></script>
    
    <!-- NOTE: Libs -->
    <script src="$context/assets/js/app/utils/jsUtils.js"></script>
    <script src="$context/assets/js/app/utils/jsJson.js"></script>
	<script src="$context/assets/js/app/utils/jsHttp.js"></script>
	
	<script src="$context/assets/js/chat/chat.js"></script>
	<script src="$context/assets/js/chat/websocket.js"></script>
	<script src="$context/assets/js/chat/listenerWebsocket.js"></script>
	<script src="$context/assets/js/chat/htmlChat.js"></script>
	<script src="$context/assets/js/chat/listeners.js"></script>

</body>
<script>
    $(window).resize(function(){
       toogleWhereResize();
    });
    
  /* $(".attach").on("click",function(e){
        $("#attachFile").click();
        var modal = $(".insideChatArea");
        if(modal.hasClass("active")){
          modal.remove("active");
        }else{
          modal.addClass("active");
        }
    });*/
    $(".openCloseModal").on("click",function(e){
        var modal = $(".insideChatArea");
        var inputPreview = $(".thumbAenviar");
        $("#attachFile").val("");
        $("#attachFile").click();
    });
</script>
</html>