/* File extensions - small - anexos post */
.ico-arquivo {
	width: 20px;
	height: 24px;
	text-indent: 0;
	font-size: 7px;
	font-style: normal;
	color: #FFF;
	text-align: center;
	background-position: -357px -96px;
	line-height: 41px;

	&.apk  { background-position: -357px -123px; }

	&.pdf { background-position: -288px -69px;  }

	&.psd{ background-position: -334px -96px; }

	&.rar, &.zip, &.tar, &.gz{ background-position: -311px -123px; }

	&.jpg, &.png, &.gif, &.bmp, &.jpeg, &.ico, &.webp{ background-position: -357px -69px; }

	&.mp3, &.wma, &.midi, &.wav, &.avi, &.cam, &.mpeg, &.m1v, &.m2v, &.m4v, &.mmv, &.mp4, &.mov{ background-position: -288px -96px; }

	&.xlsx, &.xlsm, &.xlsb, &.csv &.xltx, &.xltm, &.xls, &.xlt, &.xlt{ background-position: -288px -123px; }

	&.doc, &.dot, &.docx, &.docm, &.dotx, &.dotm, &.odt, &.rtf, &.txt{ background-position: -380px -96px; }

	&.ppt, &.ppsx, &.pptx{ background-position: -311px -96px; }
}

.icone-psd-small{
	background-position: -353px -147px;
	height: 47px;
	width: 50px;
}
.icone-psd-big{
	background-position: -331px -149px;
   	height: 70px;
   	width: 70px;
}
.modal-icone-psd{
	float: none;
	clear: both;
	margin: 0 auto;
}

/* File extensions - medium - sidebox */
.file-extensions-icons-medium{
	background-image: url(../../img/file_extensions/file-extensions-icons-small.png);
	background-position: -318px -236px;

	&.txt, &.rtf, &.doc, &.docx, &.log, &.odt, &.mpp{ background-position: -318px -26px; }

	&.psd, &.indd{ background-position: -417px -26px; }

	&.html, &.htm, &.xml,
	&.php, &.asp, &.aspx,
	&.c, &.cpp, &.rake, &.rb,
	&.java, &.jsp, &.jspa,
	&.kt, &.gantter, &.plist{ background-position: -220px -26px; }

	&.css, &.scss, &.sass, &.styl{ background-position: -317px -139px; }

	&.json, &.js, &.jsx, &.ejs, &.sql{ background-position: -219px -139px; }

	&.pdf{ background-position: -119px -139px; }

	&.mp4, &.mpeg, &.mov, &.avi, &.wmv{ background-position: -20px -139px; }

	&.mp3, &.ogg, &.midi, &.wav, &.m4a{ background-position: -20px -236px; }

	//-120px -236px imgs

	&.apk{ background-position: -219px -236px; }

	&.ai, &.svg, &.cdr, &.eps{ background-position: -416px -236px; }

	&.csv, &.xls, &.xlsx{ background-position: -120px -26px; }

	&.ppt, &.pptx, &.pps, &.ppsx{ background-position: -417px -139px; }

	&.rar, &.zip, &.tar, &.gz{ background-position: -21px -26px; }
}

/* File extensions - big - liveurl */
.file-extensions-icons-big{
	background-image: url(../../img/file_extensions/file-extensions-icons-big.png);
	background-position: -41px -356px;
	background-repeat: no-repeat;

	&.txt, &.rtf, &.doc, &.docx, &.log, &.odt, &.mpp{ background-position: -593px -43px; }

	&.psd, &.indd{ background-position: -777px -43px; }

	&.html, &.htm, &.xml,
	&.php, &.asp, &.aspx,
	&.c, &.cpp, &.rake, &.rb,
	&.java, &.jsp, &.jspa,
	&.kt, &.gantter, &.plist{ background-position: -409px -43px; }

	&.css, &.scss, &.sass, &.styl{ background-position: -778px -356px; }

	&.json, &.js, &.jsx, &.ejs, &.sql{ background-position: -594px -356px; }

	&.pdf{ background-position: -593px -200px; }

	&.mp4, &.mpeg, &.mov, &.avi, &.wmv{ background-position: -409px -200px; }

	&.mp3, &.ogg, &.midi, &.wav, &.m4a{ background-position: -225px -200px; }

	//-120px -236px imgs

	&.apk{ background-position: -225px -356px; }

	&.ai, &.svg, &.cdr, &.eps{ background-position: -409px -356px; }

	&.csv, &.xls, &.xlsx{ background-position: -224px -43px; }

	&.ppt, &.pptx, &.pps, &.ppsx{ background-position: -777px -200px; }

	&.rar, &.zip, &.tar, &.gz{ background-position: -41px -44px; }
}


/* fix detalhe arquivo */
.arquivo-detalhe{
	&.centraliza{ color: #fff; }

	.file-extensions-icons-big{
		background-position: -148px -262px;

		&.apk{ background-position: -254px -261px; }

		&.pdf{ background-position: -35px -125px; }

		&.rtf, &.txt, &.doc, &.docx, &.odt{ background-position: 65px 12px; }

		&.ppt, &.pptx, &.pps, &.ppsx{ background-position: -148px -125px; }

		&.xls, &.xlsx, &.csv{ background-position: -145px 12px; }

		&.tar, &.zip, &.gz, &.rar{ background-position: -251px 12px; }
	}
}