/* icones novos header e menu */
.livecom-icon{
	background: url(../../imagens/livecom_ldpi.png) no-repeat top center;
	width: 25px;
	height: 25px;
	display: block;
	float: left;
}

.linear-icons {
	background: url(../../imagens/livecom_icons_.png) no-repeat;
	float: left;
	display: block;
	width: 28px;
	height: 28px;
	display: none;

	/* icones header */
	&.icone-config-header { background-position: -52px -248px; display: block; }
	&.icone-notification-header { background-position: -7px -248px; display: block; }
	&.icone-reminder-header{ background-position: -96px -215px; display: block; }
	&.icone-chat-header { background-position: -96px -250px; display: block; }
	&.icone-sideBox { background-position: -131px -248px; display: block; }
	&.icone-arquivos-header { background-position: -139px -217px; display: block; }
	&.icone-links-header { background-position: -219px -249px; display: block; }
	&.icone-tag-header { background-position: -254px -251px; display: block; }
	&.icone-user-header { background-position: -293px -250px; display: block; }
	&.icone-ajuda-header { background-position: -218px -217px; display: block; }

	&.icone-bell-o{ background-position: 3px -236px; width: 48px; height: 50px; display: block; }

	/* icones menu */
	&.icone-mural { background-position: 0 -338px; width: 24px; height: 24px; display: block; }
	&.icone-favoritos { background-position: -25px -337px; width: 24px; height: 24px; display: block; }
	&.icone-meusPosts { background-position: -49px -337px; width: 24px; height: 24px; display: block; }
	&.icone-drafts { background-position: -338px -337px; width: 24px; height: 24px; display: block; }
	&.icone-reminder-menu{ background-position: -99px -218px; width: 25px; height: 25px; display: block; margin-left: -2px !important;}
	&.icone-schedule { background-position: 0 -384px; width: 24px; height: 24px; display: block; }
	&.icone-math { background-position: -24px -384px; width: 24px; height: 24px; display: block; }
	&.icone-flag { background-position: -48px -384px; width: 24px; height: 24px; display: block; }
	&.icone-mobile { background-position: -71px -384px; width: 24px; height: 24px; display: block; }
	&.icone-doc { background-position: -95px -384px; width: 24px; height: 24px; display: block; }
	&.icone-newsletter { background-position: -120px -384px; width: 24px; height: 24px; display: block; }
	&.icone-clipboard { background-position: 0 -408px; width: 24px; height: 24px; display: block; }
	&.icone-bookmark { background-position: -336px -409px; width: 24px; height: 24px; display: block; }

	&.icone-briefcase { background-position: -73px -337px; width: 24px; height: 24px; display: block; }
	&.icone-files { background-position: -97px -335px; width: 24px; height: 26px; display: block; }

	&.icone-user { background-position: -120px -337px; width: 24px; height: 24px; display: block; }
	&.icone-group { background-position: -192px -336px; width: 24px; height: 24px; display: block; }
	&.icone-groups { background-position: -216px -336px; width: 24px; height: 24px; display: block; }
	&.icone-meusGrupos { background-position: -192px -336px; width: 24px; height: 24px; display: block; }
	&.icone-userMail { background-position: -144px -336px; width: 24px; height: 24px; display: block; }
	&.icone-userON{ background-position: -168px -336px; width: 24px; height: 24px; display: block; }

	&.icone-myData{ background-position: -264px -336px; width: 24px; height: 24px; display: block; }
	&.icone-editData{ background-position: -240px -336px; width: 24px; height: 24px; display: block; }
	&.icone-msgs{ background-position: -288px -336px; width: 24px; height: 24px; display: block; }
	&.icone-logout{ background-position: -314px -336px; width: 24px; height: 24px; display: block; }

	&.icone-wordpress{ background-position: -96px -361px; width: 24px; height: 24px; display: block; }

	&.icone-export{ background-position: -167px -360px; width: 24px; height: 24px; display: block; }
	&.icone-import{ background-position: -145px -363px; width: 24px; height: 24px; display: block; }
	&.icone-fork{ background-position: -122px -361px; width: 24px; height: 24px; display: block; }

	&.icone-categorias { background-position: 0 -361px; width: 24px; height: 24px; display: block; }
	&.icone-hashtag { background-position: -264px -387px; width: 24px; height: 24px; display: block; }
	&.icone-tags { background-position: -24px -361px; width: 24px; height: 24px; display: block; }
	&.icone-cogs { background-position: -47px -361px; width: 24px; height: 24px; display: block; }

	&.icone-globe { background-position: -312px -361px; width: 24px; height: 24px; display: block; }
	&.icone-chart { background-position: -72px -361px; width: 24px; height: 24px; display: block; }
	&.icone-lock { background-position: -192px -361px; width: 24px; height: 24px; display: block; }

	&.icone-building { background-position: -287px -361px; width: 24px; height: 24px; display: block; }
	&.icone-buildings { background-position: -263px -361px; width: 24px; height: 24px; display: block; }

	&.icone-download { background-position: -25px -420px; width: 28px; height: 28px; display: block; }

	&.icone-chat-menu { background-position: -26px -396px; width: 24px; height: 24px; display: block; }

	&.icone-at-sign { background-position: -336px -384px; width: 24px; height: 24px; display: block; }
	&.icone-templates { background-position: -336px -361px; width: 24px; height: 24px; display: block; }

	&.icone-config{ background-position: -192px -385px; width: 24px; height: 24px; display: block; }
	&.icone-eye{ background-position: -166px -385px; width: 24px; height: 24px; display: block; }

	&.icone-check-grey{
		background-position: -234px -410px; width: 24px; height: 24px;

		&.active{ background-position: -264px -410px; }
	}

	/* icones popMenu config */
	&.icone-briefcase-grey{ background-position: -74px 0; width: 24px; height: 24px; display: block; }
	&.icone-my-data-grey{ background-position: -240px 0; width: 24px; height: 24px; display: block; }
	&.icone-lock-grey{ background-position: -192px -49px; width: 24px; height: 24px; display: block; }
	&.icone-globe-grey{ background-position: -312px -49px; width: 24px; height: 24px; display: block; }
	&.icone-logout-grey{ background-position: -312px 0; width: 24px; height: 24px; display: block; }
	&.icone-cogs-grey{ background-position: -48px -49px; width: 24px; height: 24px; display: block; }
	&.icone-config-grey{ background-position: -310px -96px; width: 24px; height: 24px; display: block; }

	&.icone-clip-grey{ background-position: -119px -96px; width: 24px; height: 24px; display: block; }

	&.icone-go-back{ background-position: -312px -119px; width: 24px; height: 24px; display: block; }
	&.icone-go-back-white{ background-position: -312px -384px; width: 24px; height: 24px; display: block; }

	&.icone-close{ background-position: -238px -120px; width: 24px; height: 24px; display: block; }
	&.icone-close-white{ background-position: -212px -383px; width: 24px; height: 24px; display: block; }

	&.icone-trash{ background-position: -289px -121px; width: 24px; height: 24px; cursor: pointer; display: block; &.disabled{ @extend %icon-disabled; } }
	&.icone-trash-white{ background-position: -289px -385px; width: 24px; height: 24px; cursor: pointer; display: block; }

	&.icone-task{
		background-position: -98px -165px; display: block;
		&:hover{ background-position: -124px -165px; }
	}

	&.icone-task-ativo{
		background-position: -72px -165px; display: block;
		&:hover{ background-position: -150px -165px; }
	}

	&.icone-bell-gray{
		background-position: -182px -168px; display: block;
		&:hover{ background-position: -263px -168px; }
	}
	&.icone-bell-gray-slash{
		background-position: -235px -168px; display: block;
		&:hover{ background-position: -208px -168px; }
	}

	&.icone-check-notify{
		background-position: -262px -121px; width: 28px; height: 24px; cursor: pointer; position: relative; top: 5px; display: inline-block;
		&.disabled{ @extend %icon-disabled; }
	}
	&.icone-check-notify-white{ background-position: -234px -385px; width: 28px; height: 24px; cursor: pointer; display: block; }

	&.icone-publicar, &.icone-expirar, &.icone-reminder{ width: 24px; height: 24px; position: absolute; left: 4px; top: 5px; z-index: 9; display: block; }
	&.icone-publicar{ background-position: -215px -49px; }
	&.icone-expirar{ background-position: -239px -49px; }
	&.icone-reminder{ background-position: -239px -49px; }

	&.icone-likeNew {
		background-position: 0 -96px; width: 24px; height: 24px; margin: 0 auto; float: left; display: block;
		&.active { background-position: 0 -120px; }
	}

	&.icone-likeNewMini{
		background-position: -143px -96px; width: 24px; height: 24px; margin: 0 auto; float: left; display: block;
		&.active, &:hover{ background-position: -143px -120px; }
	}

	&.icone-comentarioNew {
		background-position: -24px -96px; width: 24px; height: 24px; margin: 0 auto; float: left; display: block;
		&:hover{ background-position: -24px -120px; }
	}

	&.icone-favoritoNew {
		background-position: -48px -96px; width: 24px; height: 24px; margin: 0 auto; float: left; display: block;
		&:hover{ background-position: -192px -96px; }

		&.favoritado {
			background-position: -48px -120px;
			&:hover{ background-position: -216px -96px; }
		}
	}

	&.icone-infoNew {
		background-position: -72px -96px; width: 24px; height: 24px; margin: 0 auto; float: none; display: block;
		&:hover{ background-position: -72px -120px; }
	}

	&.icone-postConfigNew {
		background-position: -96px -96px; width: 24px; height: 24px; margin: 0 auto; float: none; display: block;
		&:hover{ background-position: -96px -120px; }
	}

	&.icone-configNewMini{
		background-position: -167px -96px; width: 24px; height: 24px; margin: 0 auto; float: left; display: block;
		&:hover{ background-position: -167px -120px; }
	}

	&.icone-send-blue{ background-position: -333px -144px; display: block; }
	&.icone-send-grey{ background-position: -309px -144px; display: block; }
	&.icone-send-white{ background-position: -309px -410px; display: block; }

	&.icone-crown-blue{ background-position: -262px -141px; display: block; }
	&.icone-crown-grey{ background-position: -209px -141px; display: block; }
	&.icone-crown-white{ background-position: -182px -141px; display: block; }
	&.icone-crown-yellow{ background-position: -236px -141px; display: block; }

	&.icone-notifyBell { height: 72px; width: 65px; float: none !important; background-position: -334px -307px; margin: 0 auto 10px; display: block; }
}