.m-heading-1{
    margin: 0 0 10px; background: #fff; padding-left: 15px; border-left: 5px solid #88909a;
    @include prefix(border-radius, 4px, webkit moz ms o);
    
    > h3{
        font-size: 20px; color: #3f444a; font-weight: 500; margin: 0 0 15px;
        > i{ font-size: 18px; color: #88909a; }
    }

    > p{
        color: #5c6873; margin: 10px 0 0; font-size: 14px;

        &:first-child { margin-top: 0; }
    }

    > ul{
		margin: 10px auto 0; color: #5c6873;
		> li{
			> b, > strong{ color: #000; }
		}
	}

    &.m-bordered{ border-right: 1px solid #10161c; border-top: 1px solid #10161c; border-bottom: 1px solid #10161c; padding: 15px; }
    
    &.m-title-md{
        > h3{
            font-size: 18px; margin-bottom: 10px;
            > i{ font-size: 16px; color: #88909a; }
        }
        
        > p{ margin: 15px 0; }
    }

    &.m-title-sm{
        > h3{
            font-size: 16px; margin-bottom: 10px;
            > i{ font-size: 14px; color: #88909a; }
        }
        > p{ margin: 10px 0; }
    }
}