@charset "UTF-8";

html { color:#000; background:#FFF; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin :0; padding: 0; }
p, h6{ line-height: inherit; }
p, a{ font-size: inherit; }
a{ font-weight: inherit; }
ul, ol{ line-height: inherit; font-weight: inherit; }
table { border-collapse:collapse; border-spacing:0; width: 100%; }
ul, ol{ margin-bottom: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, strong, th, var { font-style: normal; font-weight: normal; }
li { list-style :none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight: normal; }
q:before, q:after { content:''; }
abbr, acronym { border:0; font-variant: normal; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select { font-family:inherit; font-size:inherit; font-weight:inherit; }
button, select, textarea{ @include prefix(webkit-appearance, none, webkit moz ms o); }
input, textarea, select { font-size:100%; }
input::-moz-focus-inner{ border: 0; padding: 0; }
textarea:focus, input:focus{ outline: 0; }
legend { color:#000; }
hr {
    border: none; border-bottom: 1px dashed #d8dce0; visibility: visible; margin: 20px 0; clear: both;
    &.noMargin{ margin-bottom: 0; }
}

h3 small, small {
	font-size: 12px;
	color: #808080;
	font-weight: normal;
}

.clearfix {
    display:block;
    &:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
}
.clear { clear:both; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }