.progress {
    @include prefix(border-radius, 4px, webkit moz ms o);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 30px;
    overflow: hidden;
    background-color: #f5f5f5;
    border: 1px solid #cbcbcb;
    margin-bottom: 5px;
    background-image: none;
    filter: none;
    @include prefix(box-shadow, none, webkit moz ms o);

    &.progress-sm { height: 12px; }

    &.notFull { background-color: #EC3A3A; }

    .barra {
        width: 0;
        height: 30px;
        background-image: linear-gradient(rgb(255, 178, 0) 22%, rgb(255, 142, 6) 67%);
        @include transition(width 0.8s ease);

        &.full { width: 100%; height: 30px; background: rgb(161, 215, 106) !important; }
    }
}


.progress-bar{
    &.white { background: #fff!important; color: #666!important; }
    &.default { background: #e1e5ec!important; color: #666!important; }
    &.dark { background: #2f353b!important; color: #FFF!important; }

    &.blue { background: #3598dc!important; color: #FFF!important; }
    &.blue-madison { background: #578ebe!important; color: #FFF!important; }
    &.blue-chambray { background: #2C3E50!important; color: #FFF!important; }
    &.blue-ebonyclay { background: #22313F!important; color: #FFF!important; }
    &.blue-hoki { background: #67809F!important; color: #FFF!important; }
    &.blue-steel { background: #4B77BE!important; color: #FFF!important; }
    &.blue-soft { background: #4c87b9!important; color: #FFF!important; }
    &.blue-dark { background: #5e738b!important; color: #FFF!important; }
    &.blue-sharp { background: #5C9BD1!important; color: #FFF!important; }

    &.green { background: #32c5d2!important; color: #FFF!important; }
    &.green-meadow { background: #1BBC9B!important; color: #FFF!important; }
    &.green-seagreen { background: #1BA39C!important; color: #FFF!important; }
    &.green-turquoise { background: #36D7B7!important; color: #FFF!important; }
    &.green-haze { background: #44b6ae!important; color: #FFF!important; }
    &.green-jungle { background: #26C281!important; color: #FFF!important; }
    &.green-soft { background: #3faba4!important; color: #FFF!important; }
    &.green-dark { background: #4DB3A2!important; color: #FFF!important; }
    &.green-sharp { background: #2ab4c0!important; color: #FFF!important; }

    &.grey { background: #E5E5E5!important; color: #333!important; }
    &.grey-steel { background: #e9edef!important; color: #80898e!important; }
    &.grey-cararra { background: #fafafa!important; color: #333!important; }
    &.grey-gallery { background: #555!important; color: #fff!important; }
    &.grey-cascade { background: #95A5A6!important; color: #FFF!important; }
    &.grey-silver { background: #BFBFBF!important; color: #FAFCFB!important; }
    &.grey-salsa { background: #ACB5C3!important; color: #FAFCFB!important; }
    &.grey-salt { background: #bfcad1!important; color: #FAFCFB!important; }
    &.grey-mint { background: #525e64!important; color: #FFF!important; }

    &.red-pink { background: #E08283!important; color: #fff!important; }
    &.red-sunglo { background: #E26A6A!important; color: #fff!important; }
    &.red-intense { background: #e35b5a!important; color: #fff!important; }
    &.red-thunderbird { background: #D91E18!important; color: #fff!important; }
    &.red-flamingo { background: #EF4836!important; color: #fff!important; }
    &.red-soft { background: #d05454!important; color: #fff!important; }
    &.red-haze { background: #f36a5a!important; color: #fff!important; }
    &.red-mint { background: #e43a45!important; color: #fff!important; }

    &.yellow { background: #c49f47!important; color: #fff!important; }
    &.yellow-gold { background: #E87E04!important; color: #fff!important; }
    &.yellow-casablanca { background: #f2784b!important; color: #fff!important; }
    &.yellow-crusta { background: #f3c200!important; color: #fff!important; }
    &.yellow-lemon { background: #F7CA18!important; color: #fff!important; }
    &.yellow-saffron { background: #F4D03F!important; color: #fff!important; }
    &.yellow-soft { background: #c8d046!important; color: #fff!important; }
    &.yellow-haze { background: #c5bf66!important; color: #fff!important; }
    &.yellow-mint { background: #c5b96b!important; color: #fff!important; }

    &.purple { background: #8E44AD!important; color: #fff!important; }
    &.purple-plum { background: #8775a7!important; color: #fff!important; }
    &.purple-medium { background: #BF55EC!important; color: #fff!important; }
    &.purple-studio { background: #8E44AD!important; color: #fff!important; }
    &.purple-wisteria { background: #9B59B6!important; color: #fff!important; }
    &.purple-seance { background: #9A12B3!important; color: #fff!important; }
    &.purple-intense { background: #8775a7!important; color: #fff!important; }
    &.purple-sharp { background: #796799!important; color: #fff!important; } 
    &.purple-soft { background: #8877a9!important; color: #fff!important; }
}