<div class="formPostNew">
	${form.startTag()}
    	<input id="idPost" type="hidden" value="$!post.id" />
		<i class="icones fullIcon"></i>
		<input class="botao botao-sm full" value="tela inteira" type="button">
		<div class="clearfix">
			<div class="campoPost">
				<span class="charNum countTitulo"></span>
				<textarea name="titulo" id="titulo" class="new input textAutoSize placeholder" rel="#if($!mural_placeholder_titulo_post && $!mural_placeholder_titulo_post != '')
$!mural_placeholder_titulo_post
#else
Escrever uma publicação
#end">$format.html($!post.titulo)</textarea>
		   </div>
		</div>
		<input type="submit" value="Publicar" class="btPostarComunicado disappear botao salvar disabled" style="position: absolute;right: 0;top: -8px;">
		<div class="willSlide">
			#if($mural_resumo_on && $mural_resumo_on == "1")
				<div class="clearfix resumo">
					<div class="campoPost">
						<span class="charNum countResumo"></span>
						<textarea name="resumo" id="resumo" class="input textAutoSize textUrl" placeholder="Escreva aqui o resumo" type="text">$!post.resumo</textarea>
					</div>
				</div>
		   #end
			<div class="campoPost post">
				<div class="loadingLinkUrl icones ac_loading"></div>
        		<textarea name="mensagem" placeholder="Escrever o post" id="mensagem" class="input textUrl">$!post.mensagem</textarea>
        		<div class="liveurl" #if($post.postDestaque && $post.postDestaque.tipo != 0 && $post.postDestaque.tipo != 2) style="display: block;" #end>
	            <div class="close icones ico-excluir tooltip" title="Fechar"></div>
	            <input id="tipoUrl" type="hidden" value="$!post.postDestaque.tipo" />
	            <div class="inner">
	                <div class="image" #if($post.urlImagem) style="display:block;" #end> #if($post.urlImagem) <img src="$post.urlImagem" alt="$post.postDestaque.tituloUrl" class="active"> #end</div>
	                <div class="details">
	                    <div class="info">
	                        <div class="title">$!post.postDestaque.tituloUrl</div>
	                        <div class="description">$!post.postDestaque.descricaoUrl</div> 
	                        <div class="url">#if($post.postDestaque && $post.postDestaque.tipo == 2) $!post.urlImagem #else $!post.urlSite #end</div>
	                    </div>
	                    <div class="thumbnail">
	                        <div class="pictures">
	                            <div class="controls">
	                                <div class="prev button inactive"></div>
	                                <div class="next button inactive"></div>
	                                <div class="count">
	                                    <span class="current">#if($post.urlImagem) 1 #end</span><span> de </span><span class="max">#if($post.urlImagem) 1 #end</span>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="video"></div>
	                </div>
	            </div>
				</div>
				<div class="links">
	    			<div class="clearfix">
				        <!-- <a href="#" class="postarLink inserirLinkNovo"><i class="icones ico-postarLink"></i>Postar Link</a> -->
					    #if($novoupload && $novoupload == "1")
					    	<a href="#" class="imagem abrirArquivos">imagem</a>
					    	<a href="#" class="video abrirArquivos">video</a>
					    	<a href="#" class="arquivo abrirArquivos">arquivo</a>
					    #else
						    <a href="#" class="arquivos postarImagem">anexar arquivos</a>
						    <p class="postDescricao">imagens, videos, pdfs, documentos, entre outros</p>
					    #end
					</div>
				</div>
			</div>
			#if($novoupload && $novoupload == "0")
				<div class="uploaderNovo uploadPost clearfix" style="border-bottom: 1px solid #9b9b9b;">
					<input type="hidden" id="anexosId" name="anexosId" class="inputAnexos" value="#foreach($a in $post.arquivos) $a.id, #end"/>
					<div class="multiplefileuploader tooltip uploaderPost" data-postId="$!post.id" data-commentId="" data-msgId="" title="Inserir Anexo"></div>
					<div class="clearfix">
						<div class="clear"></div>
						<ul class="anexos">
	        				#foreach($a in $post.arquivos)
								<li data-id="$a.id">
									<a href="$context/ws/deletar.htm?mode=json&form_name=form&id=$a.id&tipo=arquivo" class="icones ico-remover tooltip" title="Excluir"></a>
										<div class="thumbnail"><i class="icones ico-arquivo $a.extensao">$a.extensao</i></div>
										<div class="nomeAnexo alterarNome" data-id="$a.id"><a href="$a.url" target="_blank">$a.nome <span>#set( $tamanhoArquivo = $a.length / 1024 ) ($tamanhoArquivo kb)</span></a> #if($a.descricao)<span class="descricaoUpload">$!a.descricao</span>#else <p class="defaultDescription">Sem descrição</p>#end <a href="#" class="adicionarDescricao"><i class="icones ico-editarDescricao tooltipser tooltip" title="Editar descrição"></i></a></div>
								</li>
							#end
        				</ul>
					</div>
				</div>
			#else
				<div class="clearfix" style="border-top:1px solid #9b9b9b;">
					<div class="clear"></div>
						<ul class="anexos anexosAntigo">
	        				#foreach($a in $post.arquivos)
								<li data-id="$a.id">
									<a href="$context/ws/deletar.htm?mode=json&form_name=form&id=$a.id&tipo=arquivo" class="icones ico-remover tooltip" title="Excluir"></a>
										<div class="thumbnail"><i class="icones ico-arquivo $a.extensao">$a.extensao</i></div>
										<div class="nomeAnexo alterarNome" data-id="$a.id"><a href="$a.url" target="_blank">$a.nome</a> #if($!a.descricao)<span class="descricaoUpload">$!a.descricao</span>#end <a href="#" class="adicionarDescricao"><i class="icones ico-editarDescricao tooltipser tooltip" title="Editar descrição"></i></a></div>
								</li>
							#end
        				</ul>
        				<ul id="outputAnexos" class="anexos"></ul>
				</div>
			#end
			<div class="doisTercos left noQuebra willShow">
				<div class="clearfix">
        			<div class="campoPost comHover">
		        		<i class="icoCateg tooltip" title="Categoria"></i>
		            <div class="inputHolder inputHolder-margin">
		            	<select id="categoria" name="categoria">
		            		<option value="" style="color:#808080;">Escolha uma categoria</option>
			            	#if($categoriasDefault.size() > 0 && !$post.categoria)
									#foreach($c in $categorias)
										<option value="$c.id" #foreach($cd in $categoriasDefault) #if($cd.id == $c.id) selected="selected"  #end #end style="color:#$c.cor">$c.nome</option>
									#end
								#else
									#foreach($c in $categorias)
										<option value="$c.id" #if($c.id == $post.categoria.id)selected="selected" #end style="color:#$c.cor">$c.nome</option>
									#end
								#end
		                </select>
		            </div>
		        	</div>
		        	#if($mural_chapeu_on && $mural_chapeu_on == "1")
        			<div class="campoPost comHover">
	        			<i class="icoCateg tooltip" title="Chapéu"></i>
		            <div id="chapeu" class="inputHolder inputHolder-margin">
		            	<input type="hidden" id="chapeu" name="chapeu" value="$!chapeu.id"/>
		            	<input type="text" class="input placeholder"  size="20" value="" id="chapeuAutocomplete" name="chapeuAutocomplete" rel="Digite o chapéu da Notícia">
		            </div>
	            </div>
	            #end
				</div>
	    		<div class="campoPost comHover">
		        	<i class="icoGroup tooltip" title="Grupos"></i>
		            <div id="group" class="inputHolder inputHolder-margin">
	   	         #if($categoriasDefault && !$post.grupos)
							<input type="text" class="input placelder" size="20" value="" rel="Selecione os grupos que desejar" id="grupos" name="grupos">
							<input type="hidden" name="idsGrupos" id="idsGrupos" value="#foreach($grupo in $gruposDefault) $grupo.id, #end">
						#else
							<input type="text" class="input placeholder" size="20" value="" rel="Selecione os grupos que desejar" id="grupos" name="grupos">
							<input type="hidden" name="idsGrupos" id="idsGrupos" value="#foreach($grupo in $post.grupos) $grupo.id, #end">
						#end
	            	</div>
				</div>
				#if($mural_tags_on && $mural_tags_on == "1")
	        		<div class="campoPost comHover hoverTag">
	        			<i class="icoTag tooltip" title="Tags"></i>
	            	<div id="tag" class="inputHolder inputHolder-margin">
	            		<input type="text" class="input placeholder"  size="20" value="" id="tags" name="tags" rel="Escolha as tags">
							<input type="hidden" name="idsTags" id="idsTags" value="$!post.tags">
							<input type="hidden" name="idsFakeTags" id="idsFakeTags" value="#foreach($tag in $tags) $tag.id, #end">
	            	</div>
	        		</div>
	        	#end
			</div>
	    	<div class="umTerco noQuebra willShow">
        		<div class="campoPost comHover">
        			<i class="icones icoPublicar tooltip" title="Data de Publicação"></i>
        			<i class="icones ico-fecharCinza limparInputs"></i>
        			<input id="dataPubli" name="dataPubli" class="input icone menor date_false_autodateonstart" placeholder="#if(!$post.dataPublicacao) Publicar agora #else $format.html($!post.dataPublicacao) #end" type="text" value="$!post.dataPublicacao" autocomplete="off">
				</div>
				<div class="campoPost comHover">
					<i class="icones icoExpirar tooltip" title="Data de Expiração"></i>
					<i class="icones ico-fecharCinza limparInputs"></i>
        			<input id="dataExp" name="dataExp" class="input icone menor date_false_autodateonstart" placeholder="#if(!$post.dataExpiracao) Não expirar #else $format.html($!post.dataExpiracao) #end" type="text" value="$!post.dataExpiracao" autocomplete="off"  readonly="readonly">
        		</div>
			</div>
        	<div class="botoesFormNew clearfix">
        		<div class="umMeio left willShow">
        		#if($push_checkBoxOn && $push_checkBoxOn == 1)
					<div class="clearfix marginTop">
						<div class="umMeio left semQuebrar">
			      #end
				   #if($push_checkBoxOn && $push_checkBoxOn == 1)
				   	<div class="campoPost noHeight left">
							<label class="labelCheck"><input type="checkbox" value="1" name="isPush" id="isPush" data-push="$post.isPushEnviado()" data-data="$post.getDataPushTimestamp()" #if($!push_checkBox_checked+"" == 1) checked="checked" #end>Enviar Push</label>
						</div>
					#end
			      	</div>
			        	<div class="umMeio semQuebrar">
							#if($destacar_post_on != 0)
							<div class="campoPost noHeight right">
					        	<label class="labelCheck"><input type="checkbox" value="1" name="isDestaque" id="isDestaque" #if($!post.destaque) checked="checked" #end >Destacar Post</label>
					      </div>
					      #end		        		
			        	</div>
					</div>
				</div>
				<div class="umMeio right">
		        	<input type="submit" value="Publicar" class="btPostarComunicado enviarForm botao salvar">
		        	#if(!$formAberto)<a href="#" class="btCancelarPostagem new cancelarForm botao cancelar">Cancelar</a> #else <a href="#" class="btCancelarPostagem new voltar cancelarForm botao cancelar">Cancelar</a> #end
	        	</div>
        	</div>
      </div><!-- fim .willSlide -->
	${form.endTag()}
</div>

#if($novoupload && $novoupload == "1")
	<div class="overlayModal modalArquivos">
		<div class="popupModal">
			<h1 class="titleModal comAbas">
				<ul class="abasModal clearfix">
					<li class="ativo"><a href="#" class="abrirUploader">Fazer Upload</a></li>
					<li><a href="#" class="abrirSeletor">Selecionar Arquivos</a></li>
				</ul>
			</h1>
			<div class="contentModal">
				<div class="clear">
					<div class="seletorArquivos">
						<div class="infoArquivoUpload">
							<div class="paddingInfo">
								<h3>Informações</h3>
								<div class="miniaturaArquivo">
									<a>
										<img src="https://s3-sa-east-1.amazonaws.com/livecom-livetouch/arquivos/2786360b-a33e-4e83-8079-e75aa42416ef_thumb_logo_391_325.png">
									</a>
								</div>
								<p><b class="nomeInfoArquivo"></b></p>
								<p class="tamanhoInfoArquivo"></p>
								<p class="dimensaoInfoArquivo"></p>
								<p class="descricaoInfoArquivo"></p>
								<a class="adicionarDescricao descricaoInfo" href="#" data-id=""><i class="icones ico-editarDescricao tooltipser tooltip" title="Editar descrição"></i></a>
							</div>
						</div>
						<input type="hidden" id="copiarAnexos" name="copiarAnexos" value=""/>
						<div id="output"></div>
						<ul class="listaHorizontal clearfix listaArquivos"></ul>
						<div class="muralVazio"></div>
						<div class="paginaAtual" data-page="-1"></div>
					</div>
				</div>
				<div class="uploaderArquivos">
					<div class="uploaderNovo clearfix">
						<input type="hidden" id="anexosId" name="anexosId" class="inputAnexos" value="#foreach($a in $post.arquivos) $a.id, #end"/>
						<div class="multiplefileuploader tooltip #if($novoupload && $novoupload == '1') newUploadPost #else #end" data-postId="$!post.id" data-commentId="" data-msgId="" title="Inserir Anexo"></div>
					</div>
				</div>
				<div class="botaoModal">
					<a href="#" class="botao cancelar cancelarArquivos">Cancelar</a>
					<a href="#" class="botao salvar enviarArquivos">OK</a>
				</div>
			</div>
		</div>
	</div>
#end

<div class="overlayModal modalDescription">
	<div class="popupModal menor">
		<div class="clearfix">
			<h1 class="titleModal color">Descrição do Arquivo<i class="icones ico-fecharCinza closeModal"></i></h1>
		</div>
		<div class="clearfix">
			<div class="contentModal">
				<form id="formArquivo">
					<input type="hidden" name="idArquivo" id="idArquivo" value="" />
					<div class="campoPost">
						<label class="labelCampo">Arquivo</label>
						<input id="fileName" type="text" class="input noPadding" value="" readonly="readonly">
					</div>
					<div class="campoPost">
	            	<label class="labelCampo">Descrição/Legenda</label>
	               <span class="charNum countDescricao"></span>
	               <textarea id="descricao" maxlength="140" placeholder="Ex: exemplo de descrição de imagem" class="input paddingDescri borda"></textarea>
	            </div>
	            <div class="botaoModal relative">
	            	<a href="#" class="botao cancelar cancelarArquivos">Cancelar</a>
	               <a href="#" class="botao salvar enviarDescri">OK</a>
	            </div>
	         </form>
			</div>
      </div>
	</div>
</div>
<script>
$(window).on('beforeunload', function(){
	var msgErro = "Você possui uma postagem não publicada, tem certeza que deseja sair desta página?";
	var erroImagem = false;
	var erroForm = false;
	var form = $(".interacoesMural").find(".formPostNew");
	if(form.hasClass("aberto") && errorUnload){
		if($(".interacoesMural .anexos li").length > 0 && jQuery.trim(form.find(".liveurl .url").text()) != ""){
			erroImagem = true;			
		}
		if(form.find("#idsTags").val() != ""){
			erroForm = true;
		}
		if(form.find(".uploaderNovo .ajax-file-upload-abort:visible").length > 0){
			erroForm = true;
		}
		if(jQuery.trim(form.find("#titulo").val()) != "" || jQuery.trim(form.find("#mensagem").val()) != "" || erroImagem){
			erroForm = true;
		}
		if(erroForm == true){
			return msgErro;
		}
	}
});

//diminui select categoria

$(function(){
	var muralHora = "$mural_hora_on";
	if(muralHora == 1){
		$('#dataPubli, #dataExp, #dataReminder').appendDtpicker({
			"autodateOnStart": false,
			"locale": "br",
			"minuteInterval": 5,
			"closeOnSelected": true,
			"futureOnly": true,
			"todayButton": false,
			"dateOnly": false
		});	
	}else{
		$('#dataPubli, #dataExp, #dataReminder').appendDtpicker({
			"autodateOnStart": false,
			"locale": "br",
			"minuteInterval": 5,
			"closeOnSelected": true,
			"futureOnly": true,
			"todayButton": false,
			"dateOnly": true
		});
	}
});

$(document).ready(function(){
	 $(window).resize(function() {
		 posicionaLabels();
	 });
	 
	if(urlAtual.indexOf("?") > -1){
		urlAtual = urlAtual.slice(urlAtual.lastIndexOf('/') + 1, urlAtual.lastIndexOf('?'));
	}else{
		urlAtual = urlAtual.substr(urlAtual.lastIndexOf('/') + 1);
	}
	if(urlAtual == "postComunicado.htm"){
		$(".willSlide").slideDown();
	}
	 
	$(".ativarPlaceholder").on("mouseover",function(e){
		//popPlaceholder
		e.preventDefault();
		var obj = $(this);
		if(!isMobile()){
			if(obj.val() != ""){
				obj.parent().find(".popPlaceholder").stop().fadeIn(150);
			}else{
				obj.parent().find(".popPlaceholder").stop().fadeOut();
			}
		}
	});
	
	$(".ativarPlaceholder").on("mouseleave",function(e){
		e.preventDefault();
		e.stopPropagation();
		var obj = $(this);
		obj.parent().find(".popPlaceholder").stop().fadeOut();
	});
	
    $("#dataPubli").on("change",function(e){
    	var splited = $(this).val().split(" ");
    	var split = splited[0].split('/');
    	var horaMinuto = splited[1].split(':');
    	if(split && split.length > 0) {
        	var dataPublicacao = new Date(split[2],  split[1] - 1,  split[0], horaMinuto[0], horaMinuto[1]);
    		if(dataPublicacao > new Date()) {
    			$(".btPostarComunicado").attr("value","Agendar");
    		} else {
    			$(".btPostarComunicado").attr("value","Publicar");
    		}
    	}
    });
	
	/*grupos autocomplete*/
	var arrayGrupos = [];
	#if($categoriasDefault && !$post.grupos)
		#foreach($grupo in $gruposDefault)
			arrayGrupos.push({
				id: "$grupo.id",
				nome: "$grupo.getNomeString($session.userInfo)"
			});
		#end
	#else
		#foreach($grupo in $post.grupos)
			arrayGrupos.push({
				id: "$grupo.id",
				nome: "$grupo.getNomeString($session.userInfo)"
			});
		#end
	#end
	
	//GRUPOS DE POSTAR COMUNICADO
	if($(".interacoesMural #grupos").length > 0){
		function getGruposURL(){
			return urlContext+"/ws/gruposAutoComplete.htm?mode=json&pode_postar=1&form_name=form&search=gruposUser&not_grupo_ids="+$("#idsGrupos").val()+"&user_id="+userId+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN; 
		}

		$(".interacoesMural #grupos").tokenInput(getGruposURL, {
    		method: "POST",
    		jsonContainer : "list",
    		queryParam: "q",
    		hintText: "Comece a digitar para buscar.",
            noResultsText: "Nenhum item encontrado",
            searchingText: "Carregando...",
            preventDuplicates: true,
            propertyToSearch: "nome",
            placeholder: 'Postar no(s) grupo(s)',
            onAdd: function (item) {
            	var ids = $("#idsGrupos").val();
				$("#idsGrupos").val(ids+" "+item.id+",");
            },
            onDelete: function (item) {
            	var idRemove = " "+item.id+",";
        	 	var ids = $("#idsGrupos").val();
        	 	ids = ids.replace(idRemove,"");
        		$("#idsGrupos").val(ids);
        		$("#grupos").each(function(e){
        			if($(this).val() == ""){
        				$(this).focusout();
        				$(this).closest("div").find(".mascaraLabel").hide();
        			}
        		})
            },
            prePopulate: arrayGrupos
        });
	}
		
	//APAGA O CHAPEU QUANDO MUDA A CATEGORIA
	$(".interacoesMural #categoria").change(function(e){
		$(".interacoesMural #chapeuAutocomplete").tokenInput("clear");
		$(".interacoesMural #chapeuAutocomplete").parent().find(".mascaraLabel").show();
	});
		
	//CHAPEU
	if($(".interacoesMural #chapeuAutocomplete").length > 0){
		var arrayChapeu = [];
		#if($!chapeu)
			arrayChapeu.push({
   				id: "$chapeu.id",
   				nome: "$chapeu.nome"
   			});
		#end
    	
    	function getChapeusURL(){
    		return urlContext+"/ws/chapeus.htm?mode=json&form_name=form&not_tag_ids="+$("#idsFakeTags").val()+"&categoria_id="+$(".interacoesMural #categoria").val()+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN; 
    	}
    	$(".interacoesMural #chapeuAutocomplete").tokenInput(getChapeusURL, {
    		method: "POST",
    		jsonContainer : "list",
    		queryParam: "nome",
    		hintText: "Comece a digitar para buscar",
            noResultsText: "Nenhum item encontrado para esta Categoria",
            searchingText: "Carregando...",
            preventDuplicates: true,
            minChars: 0,
            tokenLimit: 1,
            propertyToSearch: "nome",
            onAdd: function (item) {
				$("#chapeu").val(item.id);
            },
            onDelete: function (item) {
            	$("#chapeu").val("");
            },
            prePopulate: arrayChapeu
        });
	}
		
	//TAGS DE POSTAR COMUNICADO
    if($(".interacoesMural #tags").length > 0){
    	function getTagsURL(){
    		return urlContext+"/ws/tags.htm?mode=json&form_name=form&not_tag_ids="+$("#idsFakeTags").val()+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN; 
    	}
    	
    	var arrayTags = [];
    	#foreach($tag in $tags)
   			arrayTags.push({
   				id: "$tag.id",
   				nome: "$tag.nome"
   			});
    	#end
    	$(".interacoesMural #tags").tokenInput(getTagsURL, {
    		method: "POST",
    		jsonContainer : "list",
    		queryParam: "nome",
    		hintText: "Comece a digitar para buscar.",
            noResultsText: "Nenhum item encontrado",
            searchingText: "Carregando...",
            preventDuplicates: true,
            minChars: 0,
            propertyToSearch: "nome",
            onAdd: function (item) {
            	var ids = $("#idsTags").val();
				$("#idsTags").val(ids+" "+item.nome+",");
				var idsFake = $("#idsFakeTags").val();
				$("#idsFakeTags").val(idsFake+" "+item.id+",");
            },
            onDelete: function (item) {
            	var idRemove = " "+item.nome+",";
        	 	var ids = $("#idsTags").val();
        	 	ids = ids.replace(idRemove,"");
        		$("#idsTags").val(ids);
        		
        		var idRemoveFake = " "+item.id+",";
        	 	var idsFake = $("#idsFakeTags").val();
        	 	idsFake = idsFake.replace(idRemoveFake,"");
        		$("#idsFakeTags").val(idsFake);
            },
            prePopulate: arrayTags
        });
	}
	
	$(".inserirLinkNovo").click(function(e){
		e.preventDefault();
		function abrePostarLink(){
			jPrompt('Insira o Link:', 'http://', 'Link', null, function(r) {
		        if( r ){
		        	if($('.interacoesMural #mensagem').val().length > 0){
		        		var conteudo = $('.interacoesMural #mensagem').val()+'\n\n'+r+' ';
		        	}else{
		        		var conteudo = $('.interacoesMural #mensagem').val()+r+' ';
		        	}
		        	if(!$(".postarTexto").hasClass("ativo")){
		        		$(".postarTexto").click();	
		        	}
		        	$(".interacoesMural #mensagem").val(conteudo);
		        	CKEDITOR.instances["mensagem"].setData(conteudo);
		        }
		    });
		}
		if($(".formPostNew .liveurl").is(":visible")){
			jAlert("Somente um link vai aparecer em destaque na sua postagem!","Atenção", null, function(){abrePostarLink();});
		}else{
			abrePostarLink();
		}	
		
	});
	
	$(".postarImagem").click(function(e){
		e.preventDefault();
		e.stopPropagation();
		$(".interacoesMural .ajax-file-upload").find(">form > input").first().click();
	});
	
	//abrir o modal de arquivos
	$(".abrirArquivos").click(function(e){
		e.preventDefault();
		e.stopPropagation();
		var isImage = $(this).hasClass('imagem');
		var isArquivo = $(this).hasClass('arquivo');
		var isVideo = $(this).hasClass('video');
		
		var accept = '*';
		var tipo = null;
		if(isImage) {
			tipo = 'image';
			accept = 'image/*';
		} else if(isArquivo) {
			tipo = 'arquivo';
			accept = 'application/vnd.ms-excel, text/plain, .pdf, .rar';
		} else if(isVideo) {
			tipo = 'video';
			accept = 'video/*, .mkv';
		}
		
		$('.uploaderArquivos').find('input[type="file"]').attr('accept', accept);
		var modalArquivos = $(".modalArquivos");
		modalArquivos.attr('data-tipo', tipo);
		$(".modalArquivos .listaArquivos").html("");
		modalArquivos.fadeIn(function(){
			buscaArquivos(0);
		});
	});
		
	//Cancelar ou OK no modal
	$(".botaoModal a").click(function(e){
		e.preventDefault();
		e.stopPropagation();
		//botao OK
		if($(this).hasClass("enviarArquivos")){
			//verifica se tem algum anexo ou arquivo selecionado
			$("#outputAnexos").html("");
			if($(".contentModal .listaArquivos .item.ativo").length > 0 || $("#output .ajax-file-upload-statusbar").length > 0){
				var htmlAnexos = "";
				var stop = false;
				//clona os arquivos upados
				$("#output .ajax-file-upload-statusbar").each(function(){
					if($(this).find(".ajax-file-upload-green").is(":visible")){
						htmlAnexos += $(this)[0].outerHTML;
					}else{
						stop = true;
						jAlert("Aguarde o upload de todos os arquivos.", "Atenção", null, function(){
							return false;
						});
						return false;
					}
				});
				
				if(stop){
					return false;
				}
				
				//clona os arquivos selecionados
				$(".contentModal .listaArquivos .item.ativo").each(function(){
					var nomeArquivo = $(this).attr("data-nome");
					var descricaoArquivo = $(this).attr("data-descricao");
					var thumbArquivo = $(this).find(".miniaturaArquivo > a").html();
					var urlArquivo = $(this).attr("data-url");
					var extensaoArquivo = $(this).attr("data-extensao");
					var idArquivo = $(this).attr("data-id");
					var idAdd = $(this).attr("data-id")
			    	var idsAnexos = $("#copiarAnexos").val();
			    	$("#copiarAnexos").val(idsAnexos +" "+idAdd+",");
			    	
			    	if(descricaoArquivo != ""){
			    		descricaoArquivo = descricaoArquivo;
			    	}else{
			    		descricaoArquivo = "";
			    	}
			    	
					htmlAnexos += 	'<li class="ajax-file-upload-statusbar alterarNome" style="width: 100%;" data-id="'+idArquivo+'">'+
										'<div class="ajax-file-upload-filename">'+
											'<div class="thumbnail">'+
												'<i class="icones ico-arquivo '+extensaoArquivo+'">'+extensaoArquivo+'</i>'+
											'</div>'+
											'<div class="clearfix">'+
												'<a href="'+urlArquivo+'" class="fancybox" target="_blank">' +nomeArquivo + '</a> '+
											'</div>'+
											'<p id="defaultDescription">Sem descrição</p>'+
											'<a class="adicionarDescricao" href="#"><i class="icones ico-editarDescricao tooltipser tooltip" title="Editar descrição"></i></a>'+
										'</div>'+
										//'<div class="ajax-file-upload-green"></div>'+
										'<div class="removeArquivoAnexo tooltip" title="Excluir"></div>'+
										'<a href="#">'+
											thumbArquivo+
										'</a>'+
									'</li>';
				});
				
				//append dos arquivos no postar comunicado
				$("#outputAnexos").append(htmlAnexos);
				
				//fecha modal e abre o postar comunicado
				$(".modalArquivos").fadeOut(function(){
					$(".interacoesMural .postarTexto").click();
				}); 
			//só fecha o modal
			}else{
				$(".modalArquivos").fadeOut();
			}
		//botao cancelar
		}else{
			if($("#outputAnexos .ajax-file-upload-statusbar").length <= 0){
				$(".modalArquivos").fadeOut();
				$(".contentModal .listaArquivos .item.ativo").removeClass("ativo");
			}else{
				$(".modalArquivos .listaArquivos .item").removeClass("ativo");
				$("#outputAnexos .ajax-file-upload-statusbar").each(function(){
					var idArquivo = $(this).attr("data-id");
					$(".modalArquivos .listaArquivos .item[data-id='"+idArquivo+"']").click();
				});
				$(".modalArquivos").fadeOut();
			}
			
		}
	});
	
	//seleciona ou deseleciona o arquivo
	$("body").on("click", ".removeArquivoAnexo", function(e){
		e.preventDefault();  
	    var obj = $(this);
	    var idObj = obj.closest(".ajax-file-upload-statusbar").attr("data-id");
	    $(".listaArquivos .item[data-id='"+idObj+"']").click();
	    obj.closest(".ajax-file-upload-statusbar").remove();
	});
	
	$("body").on("click", "#outputAnexos .ajax-file-upload-red", function(e){
		e.preventDefault();  
	    var obj = $(this);
	    obj.removeClass("tooltip").attr("title","");
	    var idObj = obj.closest(".ajax-file-upload-statusbar").attr("data-id");
	    $("#output .ajax-file-upload-statusbar[data-id='"+idObj+"'] .ajax-file-upload-red").click();
	    obj.closest(".ajax-file-upload-statusbar").remove();
	});
	
	
	//função que carrega arquivos
	function buscaArquivos(page){
		var tipo = $(".modalArquivos").attr('data-tipo');
		var maximoPagina = 40;
		jQuery.ajax({
			type: "post",
			url: "$context/ws/arquivos.htm?mode=json&form_name=form",
		 	dataType: "json",
		 	data: {
		 		user_id: userId,
		 		modoBusca: "meusArquivos",
	            maxRows: maximoPagina,
		 		page: page,
		 		wsVersion: wsVersion,
		 		wstoken:SESSION.USER_INFO.USER_WSTOKEN,
		 		tipo: tipo
	        },
		 	success: function( data ) {
		 		if(data.list && data.list.length > 0){
		 			$(".seletorArquivos .paginaAtual").show();
			 		var conteudo = "";
			 		for (var i=0;i<data.list.length;i++){ 
			 			var descricao = "" ;
			 			if(data.list[i].descricao){
			 				descricao = data.list[i].descricao;
			 			}
			 			
			 		conteudo += '<li class="item" data-id="'+data.list[i].id+'" data-length="'+data.list[i].length+'" data-url="'+data.list[i].url+'" data-width="'+data.list[i].width+'" data-height="'+data.list[i].height+'" data-extensao="'+data.list[i].extensao.toLowerCase()+'" data-nome="'+data.list[i].file+'" data-descricao="'+descricao+'">'+
									'<i class="icones ico-arquivoAtivo"></i>'+	
		 							'<div class="clearfix">'+
										'<div class="miniaturaArquivo radius">';
											if(data.list[i].extensao.toLowerCase() != "png" && data.list[i].extensao.toLowerCase() != "jpg" && data.list[i].extensao.toLowerCase() != "gif" && data.list[i].extensao.toLowerCase() != "jpeg" && data.list[i].extensao.toLowerCase() != "bmp"){
					conteudo +=					'<a href="#" target="blank">'+
												'<span class="extensaoArquivo">'+data.list[i].extensao.toLowerCase()+'</span>'+
												'<img src="$context/img/custom_file.png"/>'+
												'</a>';
											}else{
					conteudo +=					'<a href="#"><img src="'+data.list[i].urlThumb+'"/></a>';
											}
					conteudo +=			'</div>'+
									'</div>'+
								'</li>';
			 		}
			 		
			 	}else if($(".listaHorizontal li").length <= 0){
		 			$(".muralVazio").html("Nenhum resultado encontrado.").show();
		 			$(".seletorArquivos .paginaAtual").hide();
		 		}else{
		 			$(".seletorArquivos .paginaAtual").hide();
		 		}
		 		if(data.list && data.list.length < maximoPagina){
		 			$(".seletorArquivos .paginaAtual").hide();
		 		}
		 		$(".seletorArquivos .paginaAtual").attr("data-page", parseInt($(".seletorArquivos .paginaAtual").attr("data-page"))+1);
		 		
		 		$(".listaArquivos").append(conteudo);
		 		$(".paginaAtual").removeClass("loading");
		 		
		 		if(data.mensagem){
		 			$(".seletorArquivos .paginaAtual").hide();
		 			jAlert(data.mensagem.mensagem, data.mensagem.status, null);
		 		}
			}
		});
	}
	
	//scroll dentro do modal de arquivos
	$(".seletorArquivos").scroll(function() {
	   if($(".seletorArquivos").outerHeight() > $(".seletorArquivos .paginaAtual").position().top) {	   
		   if($(".seletorArquivos .paginaAtual").hasClass("loading")){
		   		return false;
		   }else if($(".seletorArquivos .paginaAtual:visible").length > 0 && !$(".seletorArquivos .paginaAtual").hasClass("loading")){
	    	   $(".seletorArquivos .paginaAtual").addClass("loading");
	 		   var page = parseInt($(".seletorArquivos .paginaAtual").attr("data-page"))+1;
	 		  buscaArquivos(page);
		   }
	   }
	});
	
	//seleciona ou deseleciona o arquivo
	$("body").on("click", ".listaArquivos .item, #output .ajax-file-upload-statusbar", function(e){
		e.preventDefault();  
	    e.stopPropagation();
	    var obj = $(this);
	    var id = obj.attr("data-id");
	    var largura = obj.attr("data-width");
	    var altura = obj.attr("data-height");
	    var nome = obj.attr("data-nome");
	    var tamanho = parseInt(obj.attr("data-length")/1024);
	    var descricao = obj.attr("data-descricao");
	    
	    if(obj.hasClass("ajax-file-upload-statusbar")){
	    	var img = obj.find("> a").html();
	    }else{
	    	var img = obj.find(".miniaturaArquivo a").html();
	    }
	    
	    $(".listaArquivos .item, #output .ajax-file-upload-statusbar").removeClass("atual");
	    obj.addClass("atual");
	    
	    if(obj.hasClass("ativo") && obj.hasClass("item")){
	    	obj.removeClass("ativo");
	    }else{
	    	obj.addClass("ativo");
	    }
	    if(altura || largura){
		    $(".infoArquivoUpload .miniaturaArquivo").fadeIn().find("a").html(img);
		    $(".infoArquivoUpload .nomeInfoArquivo").html(nome);
		    $(".infoArquivoUpload .tamanhoInfoArquivo").html("("+tamanho+"kb)");
		    $(".infoArquivoUpload .dimensaoInfoArquivo").html(largura+" x " + altura);
		    $(".infoArquivoUpload .descricaoInfoArquivo").html(descricao);
		    $(".infoArquivoUpload .adicionarDescricao").show().attr("data-id", id);
	    }
	});
	
	//abas arquivos
	$(".abasModal a").click(function(e){
		e.preventDefault();
		var obj = $(this);
		obj.closest("ul").find("li").removeClass("ativo");
		obj.parent().addClass("ativo");
		if(obj.hasClass("abrirUploader")){
			$(".seletorArquivos").slideUp(200, function(){
				$(".uploaderArquivos").slideDown(200);
			});
		}else if(obj.hasClass("abrirSeletor")){
			$(".uploaderArquivos").slideUp(200, function(){
				$(".seletorArquivos").slideDown(200);
			});
		}
	});
	
	$(".date_false_autodateonstart").focusout(function(e){
		$(this).parent(".campoPost").find(".limparInputs").show();	
		
	});
	$(".limparInputs").on("click",function(e){
		$(this).parent(".campoPost").find("input").val("");
		var valueInput = $(this).parent(".campoPost").find("input").val();
		if(valueInput == ""){
			$(this).hide();
			$(".btPostarComunicado").val("Publicar");
		}
	});
	
	$("#titulo").on("focus",function(e){
		showFormPostar();
	});
	
	$("#chapeu").find("ul.token-input-list").css("position","absolute");
	
	$(".full").hover(function(e){
		if($(this).hasClass("back") == false){
			$(".fullIcon").addClass("hover");
		}else{
			$(".fullIcon").removeClass("hover");
		}
	});
	$(".full").mouseleave(function(e){
		if($(this).hasClass("back") == false){
			$(".fullIcon").removeClass("hover");
		}	
	})
	
	$(".full, .fullIcon").on("click",function(e){
		if($(".formPostNew").hasClass("fullscreen") == false){
			$(".formPostNew").addClass("fullscreen");
			$("#centro").css({"width":"100%","background":"#fff","z-index":"999","position":"relative"});
			$("#content").css("padding-top","0");
			$("#todoMargem").width("100%");
			$(".full").attr("value","voltar").addClass("back");
			$("#form").css({"max-width":"980px","margin":"0 auto"});
			$(".fullIcon").addClass("backIcon");
			$("body").find("#cke_1_contents").css("min-height","270px");
			$("#cke_1_contents").find("iframe.cke_wysiwyg_frame").height("270px");
			$(window).resize(function(){
				if($(".formPostNew").hasClass("fullscreen") && $(window).width() >= 1020){
					$(".campoPost .input.menor").css("width","75%");
				}else{
					$(".campoPost .input.menor").removeAttr("style");
				}	
			});
			return;
		}
		$(".formPostNew").removeClass("fullscreen");
		$(".full").attr("value","tela inteira").removeClass("back");
		$("#centro, #content, #todoMargem").removeAttr("style");
		$("#form").removeAttr("style");
		$(".formPostNew").removeAttr("style");
		$(".fullIcon").removeClass("backIcon");
		$("body").find("#cke_1_contents, iframe.cke_wysiwyg_frame").removeAttr("style");
		$("#cke_1_contents").find("iframe.cke_wysiwyg_frame").width("100%");
	});
	
	$('body').on('mouseover', '.ajax-file-upload-statusbar, .uploaderNovo > div > .ajax-file-upload-statusbar-erro', function() {
		$(this).find(".adicionarDescricao").show();
			$(this).find(".ajax-file-upload-red").not(".ajax-file-upload-abort, .ajax-file-upload-cancel").attr("title","Excluir");
			$(this).find(".ajax-file-upload-red").not(".ajax-file-upload-abort, .ajax-file-upload-cancel").show();
	});
	
	$('body').on('mouseleave', '.ajax-file-upload-statusbar, .uploaderNovo > div > .ajax-file-upload-statusbar-erro', function() {
		$(this).find(".adicionarDescricao").hide();
		$(this).find(".ajax-file-upload-red").not(".ajax-file-upload-abort, .ajax-file-upload-cancel").hide();
	});
	
	
	$("#group, #tag, #chapeu").children("ul.token-input-list").addClass("noBg");
	$("#cke_1_contents").height("80px");
	
	$(".hoverTag").mouseenter(function(e){
		$(this).children("#tag, #chapeu").find("li.token-input-token").css("border","1px solid #cbcbcb");
	});
	$(".hoverTag").mouseleave(function(e){
		$(this).children("#tag, #chapeu").find("li.token-input-token").removeAttr("style");
	});
	
	placeholder(".placeholder","#626262");

	
	$("#dataPubli, #dataExp, #dataReminder").focus(function(e){
		$(this).parent(".campoPost").find(".mascaraLabel").hide(); 
	 });
	
	$("select#categoria").height("42px");
	
	/* DRAG AND DROP POST MURAL
	$(document).on('dragenter', function(e) {
		e.preventDefault();  
	    e.stopPropagation();
	    if($(".postarTexto").hasClass("ativo")){
    		$(".interacoesMural .ajax-upload-dragdrop").show();
	    }
	});
	$(document).on('dragleave', ".ajax-upload-dragdrop", function(e) {
		$(".interacoesMural .ajax-upload-dragdrop").hide();
	});
	$("body").on("drop", function(e) {
	    $(".interacoesMural .ajax-upload-dragdrop").hide();
	}); */
	
	#if($!config_qtdResumo)
		countChar(jQuery(".formPostNew #resumo"), ".formPostNew .charNum.countResumo", "$config_qtdResumo");
	#else
		countChar(jQuery(".formPostNew #resumo"), ".formPostNew .charNum.countResumo", "140");
	#end
	#if($!config_qtdTitulo)
		countChar(jQuery(".formPostNew #titulo"), ".formPostNew .charNum.countTitulo", "$config_qtdTitulo");
	#else
		countChar(jQuery(".formPostNew #titulo"), ".formPostNew .charNum.countTitulo", "100");
	#end
	
	if(urlAtual == "postComunicado.htm"){
		$(".disappear").hide();
	}
	
});

//ckeditor
var editor = CKEDITOR.replace( 'mensagem', {} );
editor.on('change', function() { editor.updateElement(); $("#mensagem").trigger('keyup'); });
editor.on('focus', function(){ $('.date_false_autodateonstart').handleDtpicker('hide'); })
if (editor) {
    editor.on('focus', function(event) {
    	showFormPostar();
    });
}

function showFormPostar() {
	$(".willSlide").slideDown();
	$(".charNum, .full, .fullIcon").show();
	$(".disappear").hide();
	$("textarea#titulo").parent(".campoPost").find(".mascaraLabel").text("Escrever o título");
	$('.date_false_autodateonstart').handleDtpicker('hide');
}
</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>