#if($session.userInfo.sideboxTab == "tabTags")
	#set( $sideBoxCads = "in active" )
	#set( $tagTab = "in active")
#elseif($session.userInfo.sideboxTab == "tabCategorias")
	#set( $sideBoxCads = "in active" )
	#set( $categoriaTab = "in active" )
	
#elseif($session.userInfo.sideboxTab == "tabUsuarios")
	#set( $sideBoxUserGrupo = "in active" )
	#set( $usuarioTab = "in active" )
#elseif($session.userInfo.sideboxTab == "tabAmigos")
	#set( $sideBoxUserGrupo = "in active" )
	#set( $amigoTab = "in active" )
#elseif($session.userInfo.sideboxTab == "tabGrupos")
	#set( $sideBoxUserGrupo = "in active" )
	#set( $grupoTab = "in active" )
	
#elseif($session.userInfo.sideboxTab == "tabLinks")
	#set( $sideBoxLinks = "in active" )
	
#elseif($session.userInfo.sideboxTab == "tabNotificacoes")
	#set( $notificacoesTab = "in active" )
	
#elseif($session.userInfo.sideboxTab == "tabReminders")
	#set( $remindersTab = "in active" )
	
#elseif($session.userInfo.sideboxTab == "tabArquivos")
	#set( $sideBoxArquivos = "in active" )
	
#elseif($session.userInfo.sideboxTab == "tabSolicitacoes")
	#set( $solicitacoesTab = "in active" )
	
#else
	#set( $sideBoxCads = "in active" )
	#set( $categoriaTab = "in active" )
#end

#if($!ACESSO_CADASTROS)
	#parse("/modals/modal_tag.htm")

	#if($mural_upload_crop_on && $mural_upload_crop_on == 1)
		#parse("/modals/modal_categoria_crop.htm")
	#else
		#parse("/modals/modal_categoria.htm")
	#end
#end

<div class="col-sm-3 col-md-3 sideBox" id="sidebox-wrapper">
	<div class="clearfix tab-content">
		<div class="clearfix tab-content">
			<!-- TAB TAGS/CATEGORIAS -->
			<div id="sideBox-cads" class="clearfix tab-pane fade $!sideBoxCads">
				<ul class="nav nav-tabs sidebox-nav-tabs" role="tablist">
					<li role="presentation" id="sideBox-link-categorias" class='
						#if($mural_tags_on && $mural_tags_on == "1") col-xs-6 #else col-xs-12 #end
						p-x-0 text-center $!categoriaTab'>
						<a href="#sideBox-categorias" aria-controls="sideBox-categorias" role="tab" data-toggle="tab">Categorias</a>
					</li>
					#if($mural_tags_on && $mural_tags_on == "1")
					<li role="presentation" id="sideBox-link-tags" class="col-xs-6 p-x-0 text-center $!tagTab">
						<a href="#sideBox-tags" aria-controls="sideBox-tags" role="tab" data-toggle="tab">Tags</a>
					</li>
					#end
				</ul>
				
				<div role="tabpanel" class="tab-content col-xs-12">
					<!-- CATEGORIAS -->
					<div class="clearfix tab-pane fade $!categoriaTab" id="sideBox-categorias">
						<div class="row">
							<div
								#if($!ACESSO_CADASTROS)
									class="col-xs-10"
								#else
									class="col-xs-12"
								#end							
							>
								<div class="form-group clearfix">
									<div class="icon-addon addon-md">
										<input type="text" placeholder="Digite para pesquisar" class="form-control" id="buscaSideBarCategorias" autocomplete="off">
										<label for="buscaSideBarCategorias" class="fa fa-search" title="pesquisar"></label>
									</div>
								</div>
							</div>
							#if($!ACESSO_CADASTROS)
							<div class="col-xs-2 text-center p-x-0">
								<a href="#" data-toggle="modal" data-target="#modalCategoria" class="btn btn-primary uppercase bs-tooltip" title="Nova categoria"><i class="fa fa-plus"></i></a>
							</div>
							#end
						</div>
						<div class="row scroll-list input">
							<div class="col-xs-12">
								<ul class="list-group list-group-categorias clearfix"></ul>
								<div class="spinner">
			  						<div class="rect1"></div>
			  						<div class="rect2"></div>
			  						<div class="rect3"></div>
			  						<div class="rect4"></div>
			  						<div class="rect5"></div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- TAGS -->
					<div class="clearfix tab-pane fade $!tagTab" id="sideBox-tags">
						<div class="row">
							<div
								#if($!ACESSO_CADASTROS)
									class="col-xs-10"
								#else
									class="col-xs-12"
								#end
							>
								<div class="form-group clearfix">
									<div class="icon-addon addon-md">
										<input type="text" placeholder="Digite para pesquisar" class="form-control" id="buscaSideBarTags" autocomplete="off">
										<label for="buscaSideBarTags" class="fa fa-search" title="pesquisar"></label>
									</div>
								</div>
							</div>
							#if($!ACESSO_CADASTROS)
							<div class="col-xs-2 text-center p-x-0">
								<a href="#" data-toggle="modal" data-target="#modalTag" class="btn btn-primary uppercase bs-tooltip" title="Nova tag"><i class="fa fa-plus"></i></a>
							</div>
							#end
						</div>
						<div class="row scroll-list input">
							<div class="col-xs-12">
								<ul class="list-group list-group-tags clearfix"></ul>
								<div class="spinner">
			  						<div class="rect1"></div>
			  						<div class="rect2"></div>
			  						<div class="rect3"></div>
			  						<div class="rect4"></div>
			  						<div class="rect5"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- TAB GRUPOS/USERS -->
			<div id="sideBox-user_grupo" class="clearfix tab-pane fade $!sideBoxUserGrupo">
				<ul class="nav nav-tabs sidebox-nav-tabs" role="tablist">
					<li role="presentation" id="sideBox-link-grupos" class="$!grupoTab 
					#if($!mural_amizade_on && $!mural_amizade_on == 1)
						col-xs-4
					#else
						col-xs-6
					#end
					p-x-0 text-center">
						<a href="#sideBox-grupos" aria-controls="sideBox-grupos" role="tab" data-toggle="tab">Grupos</a>
					</li>
					<li role="presentation" id="sideBox-link-usuarios" class="$!usuarioTab
					#if($!mural_amizade_on && $!mural_amizade_on == 1)
						col-xs-4
					#else
						col-xs-6
					#end
					p-x-0 text-center">
						<a href="#sideBox-usuarios" aria-controls="sideBox-usuarios" role="tab" data-toggle="tab">Usuários</a>
					</li>
					#if($!mural_amizade_on && $!mural_amizade_on == 1)
						<li role="presentation" id="sideBox-link-amigos" class="$!amigoTab col-xs-4 p-x-0 text-center mf">
							<a class="mf" href="#sideBox-amigos" aria-controls="sideBox-amigos" role="tab" data-toggle="tab">Conexões</a>
						</li>
					#end
				</ul>
				
				<div role="tabpanel" class="tab-content col-xs-12">
					<!-- GRUPOS -->
					<div class="clearfix tab-pane fade $!grupoTab" id="sideBox-grupos">
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group clearfix">
									<div class="icon-addon addon-md">
										<input type="text" placeholder="Digite para pesquisar" class="form-control" id="buscaSideBarGrupos" autocomplete="off">
										<label for="buscaSideBarGrupos" class="fa fa-search" title="pesquisar"></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row text-center input-holder">
							<div class="clearfix">
								#if($cadastro_grupo_tipo_on && $cadastro_grupo_tipo_on == 1)
								<div class="col-xs-7">
									<label class="control-label labelCampo text-left">Tipos</label>
									<div class="campoPost">
										<select id="tipo-grupo" name="tipo-grupo">
											<option value="">Todos</option>
											<option value="ABERTO">Aberto</option>
											<option value="ABERTO_FECHADO">Aberto com Aprovação</option>
											<option value="PRIVADO">Privado</option>
											<option value="PRIVADO_OPCIONAL">Privado Opcional</option>
										</select>
									</div>
								</div>
								#end
								<div class="#if(!$cadastro_grupo_tipo_on || $cadastro_grupo_tipo_on == 0) col-xs-12 #else col-xs-5 #end">
									<label class="control-label labelCampo text-left">Participação</label>
									<div class="campoPost">
										<select id="participo-grupo" name="participo-grupo">
											<option value="" data-tipo-filtro="">Todos</option>
											<option data-tipo-filtro="participo">Que participo</option>
											<option value="1" data-tipo-filtro="meusGrupos">Que criei</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row scroll-list header-input-big">
							<div class="col-xs-12">
								<div class="spinner">
			  						<div class="rect1"></div>
			  						<div class="rect2"></div>
			  						<div class="rect3"></div>
			  						<div class="rect4"></div>
			  						<div class="rect5"></div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- USUARIOS -->
					<div class="clearfix tab-pane fade $!usuarioTab" id="sideBox-usuarios">
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group clearfix">
									<div class="icon-addon addon-md">
										<input type="text" placeholder="Digite para pesquisar" class="form-control" id="buscaSideBarUsuarios" autocomplete="off">
										<label for="buscaSideBarUsuarios" class="fa fa-search" title="pesquisar"></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row scroll-list input">
							<div class="col-xs-12">
								<ul class="row list-group list-group-usuarios clearfix listaUsuarios list-holder lista-not-amigos"></ul>
								<div class="spinner">
			  						<div class="rect1"></div>
			  						<div class="rect2"></div>
			  						<div class="rect3"></div>
			  						<div class="rect4"></div>
			  						<div class="rect5"></div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- AMIGOS -->
					<div class="clearfix tab-pane fade $!amigoTab" id="sideBox-amigos">
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group clearfix">
									<div class="icon-addon addon-md">
										<input type="text" placeholder="Digite para pesquisar" class="form-control" id="buscaAmigosSideBox" autocomplete="off">
										<label for="buscaAmigosSideBox" class="fa fa-search" title="pesquisar"></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row scroll-list input">
							<div class="col-xs-12">
								<ul class="row list-group list-group-usuarios clearfix listaUsuarios list-holder lista-amigos"></ul>
								<div class="spinner">
			  						<div class="rect1"></div>
			  						<div class="rect2"></div>
			  						<div class="rect3"></div>
			  						<div class="rect4"></div>
			  						<div class="rect5"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- TAB LINKS -->
			<div role="tabpanel" id="sideBox-links" class="clearfix tab-pane fade col-xs-12 $!sideBoxLinks">
				<div class="row list-header text-center"><span>Links</span></div>
				<div class="row input-holder">
					<div class="col-xs-12">
						<div class="clearfix">
							<div class="icon-addon addon-md">
								<input type="text" placeholder="Digite para pesquisar" class="form-control" id="buscaLinks" autocomplete="off">
								<label for="buscaLinks" class="fa fa-search" title="pesquisar"></label>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-center input-holder">
					<div class="clearfix">
						<div class="col-xs-12">
							<div class="campoPost">
								<select id="sites-conhecidos" name="sites-conhecidos">
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row scroll-list header-input">
					<ul class="list-holder listaLinks"></ul>
					<div class="spinner">
	 						<div class="rect1"></div>
	 						<div class="rect2"></div>
	 						<div class="rect3"></div>
	 						<div class="rect4"></div>
	 						<div class="rect5"></div>
					</div>
				</div>
			</div>
			
			<!-- TAB ARQUIVOS -->
			<div role="tabpanel" id="sideBox-arquivos" class="clearfix tab-pane fade col-xs-12 $!sideBoxArquivos">
				<div class="row list-header text-center"><span>Arquivos</span></div>
				<div class="row input-holder">
					<div class="col-xs-12">
						<div class="clearfix">
							<div class="icon-addon addon-md">
								<input type="text" placeholder="Digite para pesquisar" class="form-control" id="buscarArquivo" autocomplete="off">
								<label for="buscarArquivo" class="fa fa-search" title="pesquisar"></label>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-center input-holder">
					<div class="clearfix">
						<div class="col-xs-6">
							<label class="control-label labelCampo text-left">Data</label>
							<div class="campoPost">
								<select class="" id="sideBox_filtro_data">
									<option value="all">Todos</option>
									<option value="TODAY">Hoje</option>
									<option value="D1W">Últimos 7 dias</option>
									<option value="D1M">Últimos 30 dias</option>
								</select>
							</div>
						</div>
						<div class="col-xs-6">
							<label class="control-label labelCampo text-left">Extensões</label>
							<div class="campoPost">
								<select class="" id="sideBox_filtro_extensao">
									<option value="">Todas</option>
									<option value="jpg">JPG</option>
									<option value="png">PNG</option>
									<option value="zip">ZIP</option>
									<option value="pdf">PDF</option>
									<option value="csv">CSV</option>
									<option value="xls">XLS</option>
									<option value="mp4">MP4</option>
									<option value="mov">MOV</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row scroll-list header-input-big">
					<ul class="list-holder lista-arquivos"></ul>
					<div class="spinner">
  						<div class="rect1"></div>
  						<div class="rect2"></div>
  						<div class="rect3"></div>
  						<div class="rect4"></div>
  						<div class="rect5"></div>
					</div>
				</div>
			</div>
			
			#if($sideBox_notification_on && $sideBox_notification_on == "1")
			<!-- TAB NOTIFICACOES/SOLICITACOES -->
			<div id="sideBox-notify_solicita" class="clearfix tab-pane fade $!notificacoesTab $!solicitacoesTab">
				<ul class="nav nav-tabs sidebox-nav-tabs" role="tablist">
					<li role="presentation" id="sideBox-link-notificacoes" class="col-xs-6 p-x-0 text-center">
						<a href="#sideBox-notificacoes" aria-controls="sideBox-notificacoes" role="tab" data-toggle="tab">Notificações</a>
					</li>
					<li role="presentation" id="sideBox-link-solicitacoes" class="col-xs-6 p-x-0 text-center">
						<a href="#sideBox-solicitacoes" aria-controls="sideBox-solicitacoes" role="tab" data-toggle="tab">Solicitações</a>
					</li>
				</ul>
				
				<div role="tabpanel" class="tab-content col-xs-12">
					<!-- TAB NOTIFICACOES -->
					<div id="sideBox-notificacoes" class="p-x-0 clearfix tab-pane fade col-xs-12 $!notificacoesTab">
						<div class="row input-holder">
							<div class="col-xs-12">
								<div class="form-group" style="margin-bottom: 0px;">
									<div class="col-xs-10 p-x-0">
										<div class="icon-addon addon-md">
											<input type="text" placeholder="Digite para pesquisar" class="form-control" id="buscaNotificacoes" autocomplete="off">
											<label for="buscaNotificacoes" class="fa fa-search" title="pesquisar"></label>
										</div>
									</div>
									<div class="col-xs-2 p-x-0 text-center">
										<div class="btn-group notifications-opt">
											<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												<i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li class="bleed-divider"><a class="limparNotificacoes" rel="notificacoes">Marcar todas como lida</a></li>
												<li><a class="ver-notificacoes-lidas">Ver as notificações lidas</a></li>
												<li><a class="ver-notificacoes-nao-lidas">Ver as notificações não lidas</a></li>
												<li><a class="ver-todas-notificacoes not-link">Ver todas as notificações</a></li>	
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row scroll-list input">
							<ul class="list-holder listaNotify col-xs-12"></ul>
							<div class="spinner">
		  						<div class="rect1"></div>
		  						<div class="rect2"></div>
		  						<div class="rect3"></div>
		  						<div class="rect4"></div>
		  						<div class="rect5"></div>
							</div>
						</div>
					</div>
					
					<!-- TAB SOLICITACOES -->
					<div class="clearfix tab-pane fade $!solicitacoesTab" id="sideBox-solicitacoes">
						<div class="row input-holder">
							<div class="col-xs-12">
								<div class="form-group" style="margin-bottom: 0px;">
									<div class="icon-addon addon-md">
										<input type="text" placeholder="Digite para pesquisar" class="form-control" id="buscaSolicitacoes" autocomplete="off">
										<label for="buscaSolicitacoes" class="fa fa-search" title="pesquisar"></label>
									</div>
								</div>
							</div>
						</div>
						<div class="row scroll-list input">
							<div class="col-xs-12">
								<ul class="row list-holder listaSolicitacoes clearfix">
								</ul>
								<div class="spinner">
			  						<div class="rect1"></div>
			  						<div class="rect2"></div>
			  						<div class="rect3"></div>
			  						<div class="rect4"></div>
			  						<div class="rect5"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			#end	
			
			#if($mural_data_reminder_post_on && $mural_data_reminder_post_on == "1")
			<!-- TAB REMINDERS -->
			<div role="tabpanel" id="sideBox-reminder" class="clearfix tab-pane fade col-xs-12 $remindersTab">
				<div class="row list-header text-center"><span>Reminders</span></div>
				<div role="tabpanel" class="tab-content">
					<div class="row input-holder">
						<div class="col-xs-12">
							<div class="form-group" style="margin-bottom: 0px;">
								<div class="icon-addon addon-md">
									<input type="text" placeholder="Digite para pesquisar" class="form-control" id="buscaReminders" autocomplete="off">
									<label for="buscaReminders" class="fa fa-search" title="pesquisar"></label>
								</div>
							</div>
						</div>
					</div>
					<div class="row scroll-list input">
						<ul class="list-holder listaNotify-reminder col-xs-12"></ul>
						<div class="spinner">
	  						<div class="rect1"></div>
	  						<div class="rect2"></div>
	  						<div class="rect3"></div>
	  						<div class="rect4"></div>
	  						<div class="rect5"></div>
						</div>
					</div>					
				</div>
			</div>
			#end			
			
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	
	$('body').on('click', function(){
		var clear = getURLParameter('clear');
		if(clear == 'true'){
			var mural = "$context/pages/mural.htm";
			window.history.pushState(null , null, mural);
		}
	});
	
	toastr.options = { "positionClass": "toast-top-center", }
	
	#if($!session.userInfo.sideboxTab == "tabLinks")
		jsHttp.get("$context/rest/linkconhecido", {
			success: function(data) {
				if(data && data.length > 0) {
					var options = '<option value="" selected="selected">Filtrar pelo Site</option>';
					for( var i in data) {
						var opt = data[i];
						options += '<option value="'+opt.dominio+'">'+opt.nome+'</option>';	
					}
					$("#sites-conhecidos").append(options);
				} else {
					var options = '<option value="" selected="selected">Filtrar por Site</option>';
					$("#sites-conhecidos").append(options);
				}
			}
		});
	#end
	
	$("a.tags").click(function(){
		$("#sideBox-link-categorias a").trigger("click");
	});
	$("a.users").click(function(){
		$("#sideBox-link-grupos a").trigger("click");
	});
	
	$("body").on("click", ".listaGrupos li a, .listaGrupos li button, .listaUsuarios li a, .lista-arquivos li .acoes-user a:not(.fancybox)", function(e){
		e.stopPropagation();
	});
	
	
	$('ul.listaSolicitacoes').empty();
	
	#if($session.userInfo.sideboxTab == "tabTags")
		$("li.li-tags").addClass("active");
		buscaTags(null, { isScrollSidebox: true });
	#elseif($session.userInfo.sideboxTab == "tabCategorias")
		$("li.li-tags").addClass("active");
		buscaCategorias(null, { isScrollSidebox: true, isIdiomas: true });
	#elseif($session.userInfo.sideboxTab == "tabUsuarios")
		$("li.li-users").addClass("active");
		buscaUsuariosSideBox({
			isSpinner: true,
			isShowNoResults: true,
			isScrollSidebox: true
		});
	#elseif($session.userInfo.sideboxTab == "tabAmigos")
		$("li.li-users").addClass("active");
		buscaAmigos({
			isSpinner: true,
			isShowNoResults: true,
			isScrollSidebox: true,
			isShowPosts: false, 
		});
	#elseif($session.userInfo.sideboxTab == "tabGrupos")
		$("li.li-users").addClass("active");
		buscaGrupos({ isScrollSidebox: true });
	#elseif($session.userInfo.sideboxTab == "tabLinks")
		$("li.li-links").addClass("active");
		buscaLinks();
	#elseif($session.userInfo.sideboxTab == "tabArquivos")
		$("li.li-arquivos").addClass("active");
		searchArquivos({ isScrollSb: true });
	#elseif($session.userInfo.sideboxTab == "tabNotificacoes")
		$("li.li-notificacoes").addClass("active");
		var paramsNotifications = {
			data: { 
				user_id: SESSION.USER_INFO.USER_ID
			}, 
			isBadges: true, 
			isClear: true, 
			isScroll: true,
			isShowTabNotification: true,
			isFlipAnimation: true,
			isSpinner: true,
			isShowNoResult: true,
			isAbort: false
		};
		
		var list = SESSION.NOTIFICATIONS.LIST_NOTIFICATIONS && SESSION.NOTIFICATIONS.LIST_NOTIFICATIONS != '' ? SESSION.NOTIFICATIONS.LIST_NOTIFICATIONS : 2;
		paramsNotifications.data.list = list;
			
		notifications.getNotifications(paramsNotifications);
	#elseif($session.userInfo.sideboxTab == "tabSolicitacoes")
		$("li.li-notificacoes").addClass("active");
		$('ul.listaSolicitacoes').empty();
		showSolicitacoes();
	#elseif($session.userInfo.sideboxTab == "tabReminders")
		$("li.li-reminders").addClass("active");
		reminders.getReminders({
			data: { page: 0, maxRows: 10 }
		});
	#else
		$("li.li-tags").addClass("active");
		buscaCategorias(null, { isScrollSidebox: true, isIdiomas: true });
	#end
}); //fim doc
</script>