.configItem {
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid #d8dce0;
	border-bottom: 1px solid #d8dce0;
	@include prefix(border-radius, 0 10px 0 10px, webkit moz ms o);
	padding: 3px;
	cursor: pointer;
	background: #FFF;

	.popMenu{
		&.bottom {
			top: 30px;
			width: 160px;
			margin-left: -80px;
		}
	}
}