<div class="page-content">
	<h3 class="page-title">Áreas</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Áreas</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-map"></i>&nbsp; Lista de Áreas </span>
					</div>
					<div class="actions">
						<button data-toggle="modal" data-target="#modalArea" class="btn sbold btn-primary"> Add <i class="fa fa-plus"></i> </button>
						<div class="btn-group">
							<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Ações <i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu pull-right">
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										<!-- <li><a href="javascript:;"> <i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a href="$context/rest/v1/area/exportar"> <i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
								<li><a class="table-view"><i class="fa fa-align-justify"></i> Ver Tabela</a></li>
								<li><a class="grid-view"><i class="fa fa-th"></i> Ver Grid</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<!-- TABELA VIEW -->
					<div class="clearfix view-tabela">
						<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
							<thead>
								<tr>
									#if($cadastros_dataTable_id == 1)
									<th style="width: 30px;">#</th> #end
									#if($cadastros_dataTable_codigo == 1)
										#if($!CADASTRAR_CODIGOS)
										<th style="width: 50px;">Código</th>
										#end
									#end
									<th>Nome</th>
									<th>Diretoria</th>
									<th class="two-buttons">Detalhes</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<div class="paginaAtual" data-page="-1"></div>
					</div>
					
					<!-- GRID VIEW -->
					<div class="clearfix view-grid">
						<ul class="listaHorizontal clearfix quatroColunas"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalArea" role="dialog" aria-labelledby="modalArea" tabindex="-1">
	<div class="modal-dialog" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-list-alt"></span> Cadastrar Área
					</h4>
				</div>
				<div class="modal-body">

					<input type="hidden" value="" name="id" id="id">
					<div class="form-group">
						<label for="nome" class="control-label">Nome</label>
						<input type="text" autofocus="autofocus" class="form-control input-sm" id="nome" name="nome" maxlength="80" placeholder="" value="">
					</div>
					#if($cadastros_dataTable_codigo == 1)
						#if($!CADASTRAR_CODIGOS)
						<div class="form-group">
							<label for="nome" class="control-label">Código</label>
							<input type="text" class="form-control input-sm" id="codigo" name="codigo" maxlength="50" placeholder="" value="">
						</div>
						#end
					#end
					<div class="form-group">
						<label for="diretorias" class="control-label">Diretoria</label>
						<div class="campoPost">
							<select class="form-control input-sm" id="diretorias"></select>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default clearForm min-width">Cancelar</button>
					<button type="submit" class="btn btn-primary min-width" id="salvar">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
jsHttp.select2({
	element: "#diretorias",
	url: urlContext+"/rest/v1/diretoria/filtro",
	term: "nome",
	type: "GET",
	text: "nome",
	placeholder: "Selecione uma diretoria",
	dropdownParent: ".modal-body",
	data: function (search) {
		return {
			nome: search.nome
		};
	}
});

var dTable = null;

$(document).on('shown.bs.modal', '.modal', function() {
	$(this).find('[autofocus]').focus();
});

$(document).on('hidden.bs.modal', '.modal', function() {
	clearForm();
});
	
function loadAreas(){
	ajaxGet("$context/rest/v1/area", null, beforeSend, success);
	
	function beforeSend(diretorias) {
		$(".paginaAtual").show();
	}
	
	function success(diretorias) {
		var conteudo = "";
		var conteudoGrid = "";
		for ( var i in diretorias) {
			var campo = diretorias[i];
			conteudo += createTable(campo);
			conteudoGrid += createGrid(campo);
		}
		if(diretorias.length == 0){
			conteudoGrid = "<label class='empty text-center clearfix'>Nenhuma área cadastrada!</label>";
		}
		
		if (dTable != null) {
			$(".table > tbody").empty();
			dTable.clear();
			dTable.destroy();
		}
		
		$(".table > tbody").append(conteudo);
		dTable = loadTable();
		$(".view-grid .listaHorizontal").empty().append(conteudoGrid);
		$(".paginaAtual").hide();
	}
}

function confirmationConfig() {
	$('button[aria-describedby*="confirmation"]').confirmation('hide');
	setTimeout(function() {
		$("[data-toggle=confirmation]").confirmation({
			singleton : true,
			container : '.table',
			btnOkClass : 'btn btn-sm btn-success',
			btnCancelClass : 'btn btn-sm btn-danger',
			popout : true,
			btnOkLabel : 'Sim',
			btnCancelLabel : "Não"
		});
	}, 500);
}

$('.table').on('page.dt', function() {
	confirmationConfig();
});

$('.table').on('order.dt', function() {
	confirmationConfig();
});

$('.table').on('search.dt', function() {
	confirmationConfig();
});

$('.table').on('length.dt', function() {
	confirmationConfig();
});

$('body').on('confirmed.bs.confirmation', '.apagar', function() {
	var id = $(this).attr('data-id');
	if (id) {
		httpDelete("$context/rest/v1/area/" + id, function(data) {
			$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
			if(data.status !== "ERROR"){
				dTable.row($('tr[data-id="' + id + '"]')).remove().draw(false);
				$('li[data-id="'+id+'"]').remove();
				if($('.listaHorizontal').children().length == 0){
					$('.listaHorizontal').append("<label class='empty text-center clearfix'>Nenhuma área cadastrada!</label>");
				}
				
				toastr.success(data.message);
			}else{
				toastr.error(data.message);
			}
		}, null, function(){
			$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
		});
	}
});

$('body').on('click', '.removerCampo', function(e){
	var id = $(this).attr('data-id');
	var areaName = $(this).attr('data-name');
	jConfirm("Deseja realmente remover a área '<b>"+areaName+"</b>'?", "Atenção", "deletar", function(userResponse){
		if(userResponse){
			httpDelete(
				"$context/rest/v1/area/" + id,
				function(data) {
					if(data.status !== "ERROR"){
						dTable.row($('tr[data-id="' + id + '"]')).remove().draw(false);
						$('li[data-id="'+id+'"]').remove();
						if($('.listaHorizontal').children().length == 0){
							$('.listaHorizontal').append("<label class='empty text-center clearfix'>Nenhuma área cadastrada!</label>");
						}
						toastr.success(data.message);
					}else{
						toastr.error(data.message);
					}
			});
		}
	});
});

$('body').on('click', '.editarCampo', function(e) {
	var id = $(this).attr('data-id');
	if (id) {
		clearForm();
		function successEdit(area) {
			$("#id").val(area.id);
			$("#nome").val(area.nome);
			#if($cadastros_dataTable_codigo == 1)
				#if($!CADASTRAR_CODIGOS)
					$("#codigo").val(area.codigo);
				#end
			#end
			if (area.diretoria) {
				$('#diretorias').val(area.diretoria.id).trigger("change");
			}
			$("#modalArea").modal('show');
		}
		ajaxGet("$context/rest/v1/area/" + id, null, null, successEdit);
		
	}
});

$('.clearForm').click(function() {
	clearForm();
});

function createGrid(campo){
	var conteudoGrid = '';
	
	conteudoGrid += '<li data-id="'+campo.id+'">';
		conteudoGrid += '<div class="clearfix">';
			conteudoGrid += '<div class="configItem"><i class="icones ico-configLista"></i><div class="popMenu bottom"><ul>';
				conteudoGrid += '<li><a class="editarCampo" data-id="'+campo.id+'" data-toggle="modal" data-target="#modalArea">Editar área</a></li>';
				conteudoGrid += '<li><a class="removerCampo" data-id="'+campo.id+'" data-name="'+campo.nome+'">Remover área</a></li>';
			conteudoGrid += '</ul></div></div>';
			if(campo.nome){
				conteudoGrid += '<a class="font-blue">'+campo.nome+'</a>';
			}else{
				#if($cadastros_dataTable_codigo == 1)
					#if($!CADASTRAR_CODIGOS)
						conteudoGrid += '<a class="font-blue">'+campo.codigo+'</a>';
					#end
				#else
					conteudoGrid += '<a>--</a>';
				#end
				
			}
		conteudoGrid += '</div>';
	conteudoGrid += '</li>';
	
	return conteudoGrid;
}

function createTable(campo) {
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'">';

	var show = '$cadastros_dataTable_id';
	if (show == 1) {
		rTable += "<td>" + campo.id + "</td>";
	}

	#if($cadastros_dataTable_codigo == 1)
		#if($!CADASTRAR_CODIGOS)
		rTable += "<td>" + campo.codigoDesc + "</td>";
		#end
	#end
	
	if(campo.nome){
		rTable += "<td>" + campo.nome + "</td>";
	}else{
		#if($cadastros_dataTable_codigo == 1)
			#if($!CADASTRAR_CODIGOS)
				rTable += "<td>" + campo.codigo + "</td>";
			#end
		#else
			rTable += '<td>--</td>';
		#end
	}
	rTable += "<td>"
			+ (campo.diretoria != null ? campo.diretoria.nome : "")
			+ "</td>";
	rTable += "<td align='center'>";
	rTable += '<button class="editarCampo btn btn-outline green-sharp uppercase" data-id="'+campo.id+'" data-toggle="modal" data-target="#modalArea"><i class="fa fa-edit"></i></button>';
	rTable += '<button data-id="'
			+ campo.id
			+ '" class="apagar btn btn-outline red-mint  uppercase" data-toggle="confirmation" data-placement="top" data-original-title="Confirma deletar?" title=""><i class="fa fa-trash"></i></button>';
	rTable += "</td>";
	rTable += "</tr>";
	return rTable;
}

var validator = jsValidator({
	form : 'form',
	rules : {
		nome : {
			minlength : 2,
			required : true
		},
		#if($cadastros_dataTable_codigo == 1)
			#if($!CADASTRAR_CODIGOS)
				codigo : {
					minlength : 0,
					required : true
				}
			#end
		#end
	},
	success : function(form) {
		var params = {
			nome : $("#nome").val(),
			#if($cadastros_dataTable_codigo == 1)
				#if($!CADASTRAR_CODIGOS)
					codigo : $("#codigo").val()
				#end
			#end
		}
		var diretoria = $("#diretorias").val()
		if (diretoria) {
			params.diretoria = {};
			params.diretoria.id = diretoria;
		}
		params.id = parseInt($("#id").val());
		if (params.id) {
			httpPut("$context/rest/v1/area", params, success);
		} else {
			httpPost("$context/rest/v1/area", params, success);
		}
	}
});

var clearForm = function() {
	$("#modalArea").modal('hide');
	$('form')[0].reset();
	$("#id").val("");
	$('#diretorias').val(null).trigger("change");
	$('form').find('.form-group').removeClass('has-error').removeClass('has-success');
	$('#salvar').html('Salvar');
}

var success = function(data) {
	if(data.status == "ERROR"){
		toastr.error(data.message);
		return;
	}
	
	if (data.entity) {
		loadAreas();
		toastr.success(data.message);
		$('#salvar').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
		clearForm();
	}
};
	
$(document).ready(function(){
	loadAreas();
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		loadAreas();
	});
});
</script>
#parse("/msg.htm")