<div class="page-content">
	<h3 class="page-title">Campos</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Campos</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-tag fa-flip-horizontal"></i> Cadastro de Campo</span>
					</div>
				</div>
				<div class="portlet-body clearfix">
					<form>
						<input type="hidden" value="" name="id" id="id">
						<div class="col-md-12">
							<div class="form-group">
								<label for="nome" class="control-label">Nome</label>
								<input type="text" autofocus="autofocus" class="form-control" id="nome" name="nome" maxlength="80" placeholder="Nome do campo" />
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group clearfix table-responsive">
								<table class="table-padding table-bordered no-footer collapsed">
									<tr>
										<td style="width: 40%;" class="tooltip-livecom" title="Campo visível?">$form.fields.visivel.label</td>
										<td>$form.fields.visivel</td>
										<td style="width: 40%;" class="tooltip-livecom" title="Campo público?">$form.fields.publico.label</td>
										<td>$form.fields.publico</td>
									</tr>
									<tr>
										<td class="tooltip-livecom" title="Campo editável?">$form.fields.editavel.label</td>
										<td>$form.fields.editavel</td>
										<td class="tooltip-livecom" title="Campo para cadastro obrigatório pelo Admin?">$form.fields.obrigatorioCadastroAdmin.label</td>
										<td>$form.fields.obrigatorioCadastroAdmin</td>
									</tr>
								</table>
							</div>
							<div class="clearfix text-right">
								<button type="button" class="btn btn-default clearForm min-width">Novo</button>
								<button type="submit" class="btn btn-primary min-width" id="salve">Salvar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-i-cursor"></i> Lista de Campos</span>
					</div>
				</div>
				<div class="portlet-body">
					<table
						class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Visível</th>
								<th>Público</th>
								<th>Editável</th>
								<th>Obrigatório Admin</th>
								<th class="two-buttons">Detalhes</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<div class="paginaAtual" data-page="-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(".bootstrap").bootstrapSwitch();

	var dTable = loadTable();

	var id = "$!id";
	ajaxGet("$context/rest/v1/campos/all/" + id, null, beforeSend, success);
	
	function beforeSend(campos) {
		$(".paginaAtual").show();
	}
	
	function success(campos) {
		dTable.clear();
		for ( var i in campos) {
			addRow(campos[i]);
		}
		dTable.draw();
		$(".bootstrap").bootstrapSwitch();
		$(".paginaAtual").hide();
	}

	function confirmationConfig() {
		$("[data-toggle=confirmation]").confirmation({
			container : '.table',
			btnOkClass : 'btn btn-sm btn-success',
			btnCancelClass : 'btn btn-sm btn-danger',
			popout : true,
			btnOkLabel : 'Sim',
			btnCancelLabel : "Não"
		});
	}
	$('.table').on('draw.dt', function() {
		setTimeout(function() {
			$(".bootstrap").bootstrapSwitch();
			confirmationConfig();
		}, 500);
	});

	$('body').on('confirmed.bs.confirmation', '.apagar', function() {
		var id = $(this).attr('data-id');
		if (id) {
			httpDelete("$context/rest/v1/campos/" + id, function(data) {
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
				if(data.status != "ERROR"){
					dTable.row($('tr[data-id="' + id + '"]')).remove().draw(false);
					toastr.success('<b>Sucesso</b>' + data.message);	
				} else {
					toastr.error('<b>Atenção!</b><br />' + data.message);
				}
			}, null, function(){
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
			});
		}
	});

	$('body').on('click', ".editarCampo", function(e) {
		var id = $(this).attr('data-id');
		if (id) {
			ajaxGet("$context/rest/v1/campos/" + id, null, null, success);
			function success(campo) {
				$("#id").val(campo.id);
				$("#nome").val(campo.nome);
				$("#visivel").bootstrapSwitch('state', campo.visivel);
				$("#publico").bootstrapSwitch('state', campo.publico);
				$("#editavel").bootstrapSwitch('state', campo.editavel);
				$("#obrigatorioCadastroAdmin").bootstrapSwitch('state', campo.obrigatorioCadastroAdmin);
			}
			
			$('body').animate({ scrollTop: 0 }, 800, 'easeOutExpo');
		}
	});
	
	$(".table").on('switchChange.bootstrapSwitch', function(event, state) {
			var row = $(event.target).parents("tr");
			var rowCells = row.find("td");
 			var params = {
				dependeCampo : "",
				dependeCampoValor : "",
 				id : row.attr("data-id"),
				nome : $(rowCells[0]).text(),
				visivel : $(rowCells[1]).find("input").bootstrapSwitch('state') ? 1 : 0,
				publico : $(rowCells[2]).find("input").bootstrapSwitch('state') ? 1 : 0,
				editavel : $(rowCells[3]).find("input").bootstrapSwitch('state') ? 1 : 0,
				obrigatorioCadastroAdmin : $(rowCells[4]).find("input").bootstrapSwitch('state') ? 1 : 0,
				empresa : {id: id}
			}
// 			$('#salve').html('<i class="fa fa-spinner fa-fw fa-spin"></i>');
 			httpPut("$context/rest/v1/campos", params, function (data) {
 				if (data.status !== "ERROR") {
 					toastr.success(data.message);
 				} else {
 					toastr.error("<b>Atenção!</b><br>" + data.message);
 					$(event.target).bootstrapSwitch('state', !state);
 				}
 			});
	});

	$('.clearForm').click(function() {
		clearForm();
	});

	function addRow(campo, show) {
		var createCheckbox = function (isChecked, nome) {
			var checkbox = $('<input/>', {
				"checked"			: isChecked,
				"class" 				: "bootstrap",
				"data-off-color"	: "danger",
				"data-off-text"	: "Não",
				"data-on-text"		: "Sim",
				"data-size"			: "small",
				"name"				: nome,
				"type"				: "checkbox"
			});
			
			return checkbox.prop("outerHTML");   
		},
		rowCells = [],
		rowNode = null;
		
		rowCells.push(campo.nome);
		rowCells.push(createCheckbox(campo.visivel, "visivel"));
		rowCells.push(createCheckbox(campo.publico, "publico"));
		rowCells.push(createCheckbox(campo.editavel, "editavel"));
		rowCells.push(createCheckbox(campo.obrigatorioCadastroAdmin, "admin"));
		rowCells.push( '<button class="editarCampo btn btn-outline green-sharp  uppercase" data-id="' + campo.id + '"><i class="fa fa-edit"></i></button>' +
							'<button data-id="' + campo.id + '" class="apagar btn btn-outline red-mint uppercase" data-toggle="confirmation" data-placement="top" data-original-title="Confirma deletar?" title=""><i class="fa fa-trash"></i></button>');
						
		if (typeof show != "undefined" && show === true){
			rowNode = dTable.row.add(rowCells).draw().show().draw(false).node();
		} else {
			rowNode = dTable.row.add(rowCells).node();	
		}
		
		$(rowNode).attr("data-id", campo.id).find("td:not(:first-child, :last-child)").addClass("text-center");
		return $(rowNode);
	}

	$("#salve").on("click", function(e) {
		e.stopPropagation();
		var validator = jsValidator({
			form : 'form',
			rules : {
				nome : {
				minlength : 2,
				required : true
				},
			},
			success : function(form) {
				var params = {
					nome : $("#nome").val(),
					dependeCampo : $("#dependeCampo").val(),
					dependeCampoValor : $("#dependeCampoValor").val(),
					visivel : $("#visivel").bootstrapSwitch('state') ? 1 : 0,
					publico : $("#publico").bootstrapSwitch('state') ? 1 : 0,
					editavel : $("#editavel").bootstrapSwitch('state') ? 1 : 0,
					obrigatorioCadastroAdmin : $("#obrigatorioCadastroAdmin").bootstrapSwitch('state') ? 1 : 0,
					empresa : {id: id}

				}
				params.id = parseInt($("#id").val());
				$('#salve').html('<i class="fa fa-spinner fa-fw fa-spin"></i>');
				if (params.id) {
					httpPut("$context/rest/v1/campos", params, success);
				} else {
					httpPost("$context/rest/v1/campos", params, success);
				}
			}
		});
	});

	var clearForm = function() {
		$('form')[0].reset();
		$("#id").val("");
		$('form').find('.form-group').removeClass('has-error').removeClass('has-success');
		$('#salve').html('Salvar');
	}

	var success = function(data) {
		if(data.status == "ERROR"){
			toastr.error('<b>Atenção!</b><br>' + data.message);
			return;
		}
		if (data.entity) {
			var a = data.entity;
			addRow(a, true);
			toastr.success('<b>' + data.message + "</b>");
			clearForm();			
		}
	};
</script>
#parse("/msg.htm")