<div class="page-content">
	<h3 class="page-title"> $messages.get('categorias.label') </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><span>$messages.get('categorias.label')</span></li>
		</ul>
	</div>
                    
	<div class="row content">
		<div class="col-md-12">
      	<div class="portlet light">
         	<div class="portlet-title">
            	<div class="caption font-dark">
               	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-list"></i>&nbsp; Lista de Categorias</span>
					</div>
               <div class="actions">
						<button data-toggle="modal" data-target="#modalCategoria" class="btn sbold btn-primary"> Add <i class="fa fa-plus"></i></button>
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu pull-right">
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										<!-- <li><a href="javascript:;"> <i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a href="$context/rest/v1/categoria/exportar"> <i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
								<li><a class="table-view"><i class="fa fa-align-justify"></i> Ver Tabela</a></li>
								<li><a class="grid-view"><i class="fa fa-th"></i> Ver Grid</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body">
            	<!-- TABELA VIEW -->
               <div class="clearfix view-tabela">
               	<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed row-reorder">
                  	<thead>
                     	<tr>
                     		#if($cadastros_dataTable_codigo == 1)
										#if($!CADASTRAR_CODIGOS)
											<th>Código</th>
										#end
									#end
	                 			<th>Nome</th>
	                 			#if($!categoria_pai_on && $!categoria_pai_on == '1')
	                     		<th>Categoria Pai</th>
	                     	#end
	                     	<th class="two-buttons">Detalhes</th>
                    		</tr>
							</thead>
                    	<tbody></tbody>
						</table>
						<div class="paginaAtual" data-page="-1"></div>
					</div>
                    
               <!-- GRID VIEW -->
               <div class="clearfix view-grid">
               	<ul class="listaHorizontal clearfix quatroColunas categorias"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#if($mural_upload_crop_on && $mural_upload_crop_on == 1)
	#parse("/modals/modal_categoria_crop.htm")
#else
	#parse("/modals/modal_categoria.htm")
#end
<script>
var dTable = null;
var reorder = true;

$(document).on('shown.bs.modal', '.modal', function() {
  $(this).find('[autofocus]').focus();
});

$(document).on('hidden.bs.modal', '#modalCategoria', function() {
	clearFormCategoria();
});
	
function loadCategorias(){
	ajaxGet("$context/rest/v1/categoria", null, beforeSend, success);
	
	function beforeSend(categorias) {
		$(".paginaAtual").show();
	}
	
	function success(categorias) {
		var conteudo = "";
		var conteudoGrid = "";
		
		for(var i in categorias) {
			var campo = categorias[i];
			conteudo += createTable(campo);
			conteudoGrid += createGrid(campo);
		}
		
		if (dTable != null) {
			$(".table > tbody").empty();
			dTable.clear();
			dTable.destroy();
		}
		
		$(".table > tbody").append(conteudo);
		$(".view-grid .listaHorizontal").empty().append(conteudoGrid);
		dTable = loadTable(null, true);
		if(reorder == true){
			dTable.on( 'row-reorder', function ( e, diff, edit ) {
				var _listCategorias = [];
				for (var i = 0, ien = diff.length; i < ien; i++) {
					_listCategorias[i] = {
						id: parseInt(diff[i].node.attributes[0].value),
						ordem: parseInt(diff[i].newPosition)
					};
				}
				reorderNumeroCategoria(_listCategorias);
			});
		}
		$('.tooltipster').tooltipster({ contentAsHTML: true, multiple: true, theme: 'tooltipster-livecom'});
		$(".paginaAtual").hide();
	}
}

function confirmationConfig() {
	$('button[aria-describedby*="confirmation"]').confirmation('hide');
	setTimeout(function() {
		$("[data-toggle=confirmation]").confirmation({
			singleton : true,
			container : '.table',
			btnOkClass : 'btn btn-sm btn-success',
			btnCancelClass : 'btn btn-sm btn-danger',
			popout : true,
			btnOkLabel : 'Sim',
			btnCancelLabel : "Não"
		});
	}, 500);
}

$('.table').on('page.dt', function() {
	confirmationConfig();
});

$('.table').on('order.dt', function() {
	confirmationConfig();
});

$('.table').on('search.dt', function() {
	confirmationConfig();
});

$('.table').on('length.dt', function() {
	confirmationConfig();
});

$('body').on('confirmed.bs.confirmation', '.apagar', function() {
	var id = $(this).attr('data-id');
	if(id) {
		httpDelete("$context/rest/v1/categoria/" + id, function(data){
			$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
			if(data.status == 'ERROR') {
				toastr.error(data.message);
				$('#salvarCateg').html('Salvar');
			} else {
				dTable
				.row($('tr[data-id="'+id+'"]'))
				.remove()
				.draw(false);
				$('li[data-id="'+id+'"]').remove();
				toastr.success('Categoria deletada com sucesso.');
			}
		}, null, function(){
			$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
		});
	}
});

$('body').on('click', ".editarCampo", function(e) {
	var id = $(this).attr('data-id');
	if(id) {
		clearFormCategoria();
		function successEdit(c) {
			$("#nomeCategoria").val(c.nome);
			#if($cadastros_dataTable_codigo == 1)
				#if($!CADASTRAR_CODIGOS)
					$("#codigo").val(c.codigo);
				#end
			#end
			$("#icone").val(c.icone);
			$("#corCategoria").minicolors("value", "#"+c.cor);
			$("#idCategoria").val(c.id);
			if(c.categoriaPai) {
				$('#form_categoria_pai').val(c.categoriaPai.id).trigger("change"); 
			}
			if(c.padrao == true) {
				$("#form_padrao_categoria").iCheck('check');
				$("#form_padrao_categoria").iCheck('update');
			}
			if(c.menu == true) {
				$("#form_menu").iCheck('check');
				$("#form_menu").iCheck('update');
			}
			if(c.likeable == true) {
				$("#form_likeable").iCheck('check');
				$("#form_likeable").iCheck('update');
			}
			if(c.hideData == true) {
				$("#form_hideData").iCheck('check');
				$("#form_hideData").iCheck('update');
			}
			
			#if($mural_upload_crop_on && $mural_upload_crop_on == 1)
				var arquivos = c.arquivos ? c.arquivos : [];
				if(arquivos.length > 0){
					$('.btn-input-trigger').addClass('already-uploaded');
					for(var x = 0; x < arquivos.length; x++){
						var file = arquivos[x];
						$('#id-images-categoria').val(file.id+', ');
						if(file.dimensao == 'original'){
							$('#modal-img-categoria').cropit('imageSrc', file.url);
							$('#modal-img-categoria').attr('data-file-id', file.id);
						}else{
							$('#modal-thumb-categoria').cropit('imageSrc', file.url);
							$('#modal-thumb-categoria').attr('data-file-id', file.id);
						}
					}
				}
			#end
			
			$("#modalCategoria").modal('show');
			
			
		}
		ajaxGet("$context/rest/v1/categoria/" + id, null, null, successEdit);
	}
});

$('body').on('click', '.removerCampo',function(e){
	var id = $(this).attr('data-id');
	var name = $(this).attr('data-name');
	jConfirm("Deseja realmente remover a categoria '<b>"+name+"</b>'?", "Atenção", "deletar", function(response){
		if(response){
			httpDelete("$context/rest/v1/categoria/" + id, function(data){
				if(data.status != "ERROR"){
					dTable.row($('tr[data-id="'+id+'"]')).remove().draw(false);
					$('li[data-id="'+id+'"]').remove();
					toastr.success(data.message);				
				} else {
					toastr.error(data.message);
					$('#salvarCateg').html('Salvar');
				}
			});
		}
	});
});

function createGrid(campo){
	var cor = "000";
	if(campo.cor.indexOf('0x00000') == -1 && campo.cor.indexOf('FFFFFF') == -1) {
		cor = campo.cor;
	}
	cor = cor.replace("#", '');
	var conteudoGrid = '<li data-id="'+campo.id+'">';
			conteudoGrid += '<div class="clearfix">';
				conteudoGrid += '<div class="configItem"><i class="icones ico-configLista"></i><div class="popMenu bottom"><ul>';
					conteudoGrid += '<li><a class="editarCampo" data-id="'+campo.id+'" data-toggle="modal" data-target="#modalCategoria">$messages.get('editar.categoria.label')</a></li>'
					conteudoGrid += '<li><a href="$context/pages/mural.htm?categoria='+campo.id+'">$messages.get('ver.posts.label')</a></li>'
					conteudoGrid += '<li><a class="removerCampo" data-id="'+campo.id+'" data-name="'+campo.nome+'" ">Remover</a></li>';
				conteudoGrid += '</ul></div></div>';
				conteudoGrid += '<a href="$context/pages/mural.htm?categoria='+campo.id+'" class="font-blue" style="color:#'+cor+'">'+campo.nome+'</a>';
				
				if(campo.padrao == true){
					conteudoGrid += '&nbsp;<i class="fa fa-check font-green-jungle tooltipster" title="Categoria padrão"></i>';
				}
				if(campo.menu == true){
					conteudoGrid += '&nbsp;<i class="fa fa-list font-blue tooltipster" title="Menu mobile"></i>';
				}
				if(campo.likeable == true){
					conteudoGrid += '&nbsp;<i class="fa fa-thumbs-up font-blue tooltipster" title="Habilitar barra de like"></i>';
				}
				if(campo.hideData == true){
					conteudoGrid += '&nbsp;<i class="fa fa-calendar-times-o font-yellow-gold tooltipster" title="Ocultar data do post"></i>';
				}
				
			#if($!categoria_pai_on && $!categoria_pai_on == '1')
				if(campo.categoriaPai){
					conteudoGrid += '<p class="cargoUsuarioLista">Categoria pai: '+campo.categoriaPai.nome+'</p>';
				}
			#end
			
			conteudoGrid += '</div>';
		conteudoGrid += '</li>';
	return conteudoGrid;
}

function createTable(campo){
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'">';
		var codigo = campo.codigo ? campo.codigo : "";
		var cor = "000";
		if(campo.cor.indexOf('0x00000') == -1 && campo.cor.indexOf('FFFFFF') == -1) {
			cor = campo.cor;
		}
		
		cor = cor.replace("#", '');
		var nome = '<span style="color:#'+cor+';">'+campo.nome+' &nbsp;</span>';
		
		if(campo.padrao == true) {
			nome += '&nbsp;<i class="fa fa-check font-green-jungle tooltipster" title="Categoria padrão"></i>&nbsp;';
		}
		if(campo.menu == true){
			nome += '&nbsp;<i class="fa fa-list font-blue tooltipster" title="Menu mobile"></i>&nbsp;';
		}
		if(campo.likeable == true){
			nome += '&nbsp;<i class="fa fa-thumbs-up font-blue tooltipster" title="Habilitar barra de like"></i>&nbsp;';
		}
		if(campo.hideData == true){
			nome += '&nbsp;<i class="fa fa-calendar-times-o font-yellow-gold tooltipster" title="Ocultar data do post"></i>';
		}
		
		#if($cadastros_dataTable_codigo == 1)
			#if($!CADASTRAR_CODIGOS)
				rTable += "<td align='center'>" + codigo + "</td>";
			#end
		#end
		
		rTable += "<td>"+nome+"</td>";
		
		#if($!categoria_pai_on && $!categoria_pai_on == '1')
		var categoriaPai = "";
		if(campo.categoriaPai) {
			categoriaPai = campo.categoriaPai.nome;
		}
		
		rTable += "<td>"+categoriaPai+"</td>";
		#end
		
		rTable += "<td align='center'>";
			rTable += '<button class="editarCampo btn btn-outline green-sharp  uppercase" data-id="'+campo.id+'" data-toggle="modal" data-target="#modalCategoria"><i class="fa fa-edit"></i></button>';
			rTable += '<button data-id="'+campo.id+'" class="apagar btn btn-outline red-mint  uppercase" data-toggle="confirmation" data-placement="top" data-original-title="Deseja deletar?" title=""><i class="fa fa-trash"></i></button>';
		rTable += "</td>";
	rTable += "</tr>";
	return rTable;
}

var success  = function(data) {
	if(data.entity && data.status != "ERROR") {
		if(data.entity && !data.entity.id){
			location.reload();
		}else{
			toastr.success(data.message);
			clearFormCategoria();
			loadCategorias();
			$('#salvarCateg').html('Salvar');
		}
	}else{
		toastr.error(data.message);
	}
};

function reorderNumeroCategoria(_list){
	reorder = false;
	jQuery.ajax({
		type: 'POST',
		url: urlContext + '/rest/v1/categoria/ordem',
		data: JSON.stringify(_list),
		dataType: 'json',
		contentType: 'application/json',
		beforeSend: function(resp){
			$('.clearfix.view-tabela').append('<div class="dataTables_processing panel panel-default" style="display: block;">Processando...</div>');		
		},
		success: function(resp){
			if(resp.status == 'OK'){
				toastr.success(resp.message);
				loadCategorias();
			}else{
				toastr.error(resp.message);
			}
			
			$('.clearfix.view-tabela .dataTables_processing').remove();
		},
		error: function (resp){
			toastr.error(resp.message);
		}
	});
}

function carregaImg(file, reference){
	$(function() {
		$(reference).cropit({
			imageBackground: true,
			imageBackgroundBorderWidth: 20,
			exportZoom: 2,
			imageState: { src: file.url },
			onImageError: function(){
				toastr.error('A imagem escolhida não pode ser carregada, por favor, tente uma maior.');
			},
			onImageLoaded: function(){
				manageCropButtons(reference);
				manageCropThumb(reference);
			},
			onOffsetChange: function(){
				manageCropButtons(reference);
			}
		});
	});
}
	
$(document).ready(function(){
	loadCategorias();
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		loadCategorias();
	});

	$('body').on('keypress', '.sp-input', function(e){
		console.log(e);
	});
});	
</script>
#parse("/msg.htm")