<div class="page-content">
	<h3 class="page-title">Expedientes</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Expedientes</span></li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-calendar"></i>&nbsp; Lista de Expedientes </span>
					</div>
					<div class="actions">
						<button data-toggle="modal" data-target="#modalExpediente" class="btn sbold btn-primary"> Add <i class="fa fa-plus"></i> </button>
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu pull-right">
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										<!-- <li><a href="javascript:;"> <i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a href=""> <i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
								<li><a class="table-view"><i class="fa fa-align-justify"></i> Ver Tabela</a></li>
								<li><a class="grid-view"><i class="fa fa-th"></i> Ver Grid</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<!-- TABELA VIEW -->
					<div class="clearfix view-tabela">
						<table class="table DtTableHorario table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
							<thead>
								<tr>
									<th class="text-center" style="width: 50px;">Código</th>
									<th class="text-center">Segunda</th>
									<th class="text-center">Terça</th>
									<th class="text-center">Quarta</th>
									<th class="text-center">Quinta</th>
									<th class="text-center">Sexta</th>
									<th class="text-center">Sabado</th>
									<th class="text-center">Domingo</th>
									<th class="text-center two-buttons">Detalhes</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<div class="paginaAtual" data-page="-1"></div>
					</div>
					
					<!-- GRID VIEW -->
					<div class="clearfix view-grid">
						<ul class="listaHorizontal clearfix quatroColunas"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalExpediente" role="dialog" aria-labelledby="modalExpediente" tabindex="-1">
	<div class="modal-dialog" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-calendar"></span> Cadastrar Expediente
					</h4>
				</div>
				<div class="modal-body">

					<input type="hidden" value="" name="id" id="id">
					<div class="form-group">
						<label for="codigo" class="control-label">Código</label>
						<input autofocus="autofocus" type="text" class="form-control input-sm" id="codigo" name="codigo" maxlength="50" placeholder="">
					</div>
					<div class="form-group clearfix">
						<label class="control-label">Dias</label>
						<div class="modalExpedinte">
							<table class=" table-bordered tableModal">
								<thead>
									<tr>
										<th>Segunda</th>
										<th>Terça</th>
										<th>Quarta</th>
										<th>Quinta</th>
										<th>Sexta</th>
										<th>Sabado</th>
										<th>Domingo</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><label class="labelCheck">$form.fields.segunda</label></td>
										<td><label class="labelCheck">$form.fields.terca</label></td>
										<td><label class="labelCheck">$form.fields.quarta</label></td>
										<td><label class="labelCheck">$form.fields.quinta</label></td>
										<td><label class="labelCheck">$form.fields.sexta</label></td>
										<td><label class="labelCheck">$form.fields.sabado</label></td>
										<td><label class="labelCheck">$form.fields.domingo</label></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default clearForm min-width">Cancelar</button>
					<button type="submit" class="btn btn-primary min-width" id="salvar">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
var dTable = null;

$(document).on('shown.bs.modal', '.modal', function() {
	$(this).find('[autofocus]').focus();
});

$(document).on('hidden.bs.modal', '.modal', function() {
	clearForm();
});
	
function loadExpedientes(){
	ajaxGet("$context/rest/v1/expediente", null, beforeSend, success);
	function beforeSend(expediente) {
		$(".paginaAtual").show();
	}
	function success(expediente) {
		var conteudo = "";
		var conteudoGrid = "";
		for ( var i in expediente) {
			var campo = expediente[i];
			conteudo += createTable(campo);
			conteudoGrid += createGrid(campo);
		}
		if(expediente.length == 0){
			conteudoGrid = "<label class='empty text-center clearfix'>Nenhum expediente cadastrado!</label>";
		}
		
		if (dTable != null) {
			$(".table.DtTableHorario > tbody").empty();
			dTable.clear();
			dTable.destroy();
		}
		
		$(".table.DtTableHorario > tbody").append(conteudo);
		dTable = loadTable();
		$(".view-grid .listaHorizontal").empty().append(conteudoGrid);
		$(".paginaAtual").hide();
	}
}

function confirmationConfig() {
	$('button[aria-describedby*="confirmation"]').confirmation('hide');
	setTimeout(function() {
		$("[data-toggle=confirmation]").confirmation({
			singleton : true,
			container : '.table',
			btnOkClass : 'btn btn-sm btn-success',
			btnCancelClass : 'btn btn-sm btn-danger',
			popout : true,
			btnOkLabel : 'Sim',
			btnCancelLabel : "Não"
		});
	}, 500);
}

$('.table').on('page.dt', function() {
	confirmationConfig();
});

$('.table').on('order.dt', function() {
	confirmationConfig();
});

$('.table').on('search.dt', function() {
	confirmationConfig();
});

$('.table').on('length.dt', function() {
	confirmationConfig();
});

$('body').on('confirmed.bs.confirmation','.apagar',function() {
	var id = $(this).attr('data-id');
	if (id) {
		httpDelete("$context/rest/v1/expediente/" + id, function(data) {
			$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
			if(data.status != "ERROR"){
				dTable.row($('tr[data-id="' + id + '"]')).remove().draw(false);
				$('li[data-id="'+id+'"]').remove();
				if($('.listaHorizontal').children().length == 0){
					$('.listaHorizontal').append("<label class='empty text-center clearfix'>Nenhum expediente cadastrado!</label>");
				}
				toastr.success(data.message);											
			} else {
				toastr.error(data.message);	
			}
		}, null, function(){
			$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
		});
	}
});

$('body').on('click', ".editarCampo", function(e) {
	var id = $(this).attr('data-id');
	if (id) {
		clearForm();
		function successEdit(expediente) {
			$("#id").val(expediente.id);
			$("#codigo").val(expediente.codigo);
			
			if(expediente.segunda) {
				$("#segunda").iCheck('check');
				$("#segunda").iCheck('update')
			}
			
			if(expediente.terca) {
				$("#terca").iCheck('check');
				$("#terca").iCheck('update')
			}
			
			if(expediente.quarta) {
				$("#quarta").iCheck('check');
				$("#quarta").iCheck('update')
			}
			
			if(expediente.quinta) {
				$("#quinta").iCheck('check');
				$("#quinta").iCheck('update')
			}
			
			if(expediente.sexta) {
				$("#sexta").iCheck('check');
				$("#sexta").iCheck('update')
			}
			
			if(expediente.sabado) {
				$("#sabado").iCheck('check');
				$("#sabado").iCheck('update')
			}
			
			if(expediente.domingo) {
				$("#domingo").iCheck('check');
				$("#domingo").iCheck('update')
			}
			
			$("#modalExpediente").modal('show');
		}
		ajaxGet("$context/rest/v1/expediente/" + id, null, null, successEdit);
	}
});
	
$('body').on('click', '.removerCampo',function(e){
	var id = $(this).attr('data-id');
	var name = $(this).attr('data-name');
	jConfirm("Deseja realmente remover o expediente '<b>"+name+"</b>'?", "Atenção", "deletar", function(response){
		if(response){
			httpDelete("$context/rest/v1/expediente/" + id, function(data){
				if(data.status != "ERROR"){
					dTable.row($('tr[data-id="'+id+'"]')).remove().draw(false);
					$('li[data-id="'+id+'"]').remove();
					if($('.listaHorizontal').children().length == 0){
						$('.listaHorizontal').append("<label class='empty text-center clearfix'>Nenhum expediente cadastrado!</label>");
					}
					toastr.success(data.message);				
				} else {
					toastr.error(data.message);	
				}
			});
		}
	});
});

$('.clearForm').click(function() {
	clearForm();
});

function createGrid(campo){
	var conteudoGrid = '<li data-id="'+campo.id+'">';
			conteudoGrid += '<div class="clearfix">';
				conteudoGrid += '<div class="configItem"><i class="icones ico-configLista"></i><div class="popMenu bottom"><ul>';
					conteudoGrid += '<li><a class="editarCampo" data-id="'+campo.id+'" data-toggle="modal" data-target="#modalExpediente">Editar expediente</a></li>'
					conteudoGrid += '<li><a class="removerCampo" data-id="'+campo.id+'" data-name="'+campo.codigo+'" ">Remover</a></li>';
				conteudoGrid += '</ul></div></div>';
				conteudoGrid += '<a class="font-blue">'+campo.codigo+'</a>';
			conteudoGrid += '</div>';
		conteudoGrid += '</li>';
	return conteudoGrid;
}
	
function createTable(campo) {
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'" class="text-center">';
		rTable += "<td>" + campo.codigo + "</td>";
		
		rTable += preencherExpediente(rTable,campo.segunda);
		rTable += preencherExpediente(rTable,campo.terca);
		rTable += preencherExpediente(rTable,campo.quarta);
		rTable += preencherExpediente(rTable,campo.quinta);
		rTable += preencherExpediente(rTable,campo.sexta);
		rTable += preencherExpediente(rTable,campo.sabado);
		rTable += preencherExpediente(rTable,campo.domingo);
		
	rTable += "<td align='center'>";
	rTable += '<button class="editarCampo btn btn-outline green-sharp  uppercase" data-id="'+campo.id+'" data-toggle="modal" data-target="#modalExpediente"><i class="fa fa-edit"></i></button>';
	rTable += '<button data-id="'
			+ campo.id
			+ '" class="apagar btn btn-outline red-mint  uppercase" data-toggle="confirmation" data-placement="top" data-original-title="Confirma deletar?" title=""><i class="fa fa-trash"></i></button>';
	rTable += "</td>";
	rTable += "</tr>";
	
	return rTable;
}

var validator = jsValidator({
	form : 'form',
	rules : {
		codigo : {
			minlength : 2,
			required : true
		},
	},
	success : function(form) {
		var params = {
			codigo : $("#codigo").val(),
			segunda : $("#segunda").is(':checked'),
			terca : $("#terca").is(':checked'),
			quarta : $("#quarta").is(':checked'),
			quinta : $("#quinta").is(':checked'),
			sexta : $("#sexta").is(':checked'),
			sabado : $("#sabado").is(':checked'),
			domingo : $("#domingo").is(':checked')
		}
		params.id = parseInt($("#id").val());
		if (params.id) {
			httpPut("$context/rest/v1/expediente", params, success);
		} else {
			httpPost("$context/rest/v1/expediente", params, success);
		}
	}
});

var clearForm = function() {
	$("#modalExpediente").modal('hide');
	$('form')[0].reset();
	$("#id").val("");
	
	$("#segunda").iCheck('uncheck');
	$("#segunda").iCheck('update');
	$("#terca").iCheck('uncheck');
	$("#terca").iCheck('update');
	$("#quarta").iCheck('uncheck');
	$("#quarta").iCheck('update');
	$("#quinta").iCheck('uncheck');
	$("#quinta").iCheck('update');
	$("#sexta").iCheck('uncheck');
	$("#sexta").iCheck('update');
	$("#sabado").iCheck('uncheck');
	$("#sabado").iCheck('update');
	$("#domingo").iCheck('uncheck');
	$("#domingo").iCheck('update');
	
	$('form').find('.form-group').removeClass('has-error').removeClass('has-success');
	$('#salvar').html('Salvar');
}

function preencherExpediente(varName,condition){
	if(condition){
		varName = "<td><i class='fa fa-check font-green-jungle'></i></td>";
	}else{
		varName = "<td>&nbsp;</td>";
	}
	return varName;
}

var success = function(data) {
	if(data.status == "ERROR"){
		toastr.error(data.message);
		return;
	}
	
	if (data.entity) {
		loadExpedientes();
		$('#salvar').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
		toastr.success(data.message);
		clearForm();
	}
};
	
$(document).ready(function(){
	loadExpedientes();
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		loadExpedientes();
	});
	
	$("#salvar").on("click",function(){
		var idValue = $("#id").value;
	});
	
});
</script>
#parse("/msg.htm")