${form.startTag()} 
<div class="page-content">
	<h3 class="page-title">#if(!$grupo.id) Cadastro de Grupo #else $!grupo.nome #end
	<span class="botoesHeader noBorder">
		<div class="actions">
			<div class="btn-group">
				<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
				<ul class="dropdown-menu pull-right">
					<li class="bleed-divider"><a href="$context/cadastro/grupos.htm?actionLink=deletar&id=$!grupo.id&value=$!grupo.id" data-grupo="$!grupo.nome" class="btn-apagar-grupo"><i class="fa fa-trash"></i> Excluir Grupo</a></li>
					<li><a class="troca-grupo"><i class="fa fa-exchange"></i> Trocar Grupo</a></li>
				</ul>
			</div>
		</div>
	</span>

	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/grupos.htm">Grupos</a> <i class="fa fa-angle-right"></i></li>
			<li>#if(!$grupo.id)<span>Novo Grupo</span>#else<span>$!grupo.nome</span>#end</li>
		</ul>
	</div>
   
	<div class="row content">
		<div class="col-md-12">

			<div class="profile-sidebar">
				<div class="portlet light profile-sidebar-portlet clearfix">
					<div class="clearfix profile-userpic">
						<div class="mt-element-card mt-element-overlay">
							<div class="col-md-12">
								<div class="mt-card-item">
									<div class="mt-card-avatar mt-overlay-1 uploadFotoUsuario">
										<div class="clearfix">
											<div class="centraliza">
											#if($!grupo.urlFoto != "" && $!grupo.nome)
												<img class="grupo-img" alt="Foto do $!grupo.nome">
											#else
												<img src="$context/imagens/bg_grupo_thumb.jpg" alt="Thumbnail">
											#end
											</div>
										</div>
										#if($!grupo.userCreate.id == $!session.userInfo.id)
											#if($mural_enviar_arquivos_on && $mural_enviar_arquivos_on == "1")
											<div class="mt-overlay">
												<ul class="mt-info">
                            					<li>
														<div class="fileinput fileinput-new" data-provides="fileinput">
															<div class="fileinput-preview fileinput-exists thumbnail"
																style="max-width: 200px; max-height: 150px;"></div>
																<div>
																	<span class="btn default btn-file btn-outline btn-fotoUser">
																		<span class="fileinput-new">Fazer upload </span>
																			<input type="text" value="" id="form_arquivoFotoId" name="arquivoFotoId">
																	</span>
																</div>
														</div>
													</li>
												</ul>
											</div>
											#end
										#end
									</div>
								</div>
							</div>
						</div>
					</div>
                 
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							#if($!grupo.nome)
								<a href="$context/grupo.htm?id=$!grupo.id">$!grupo.nome</a>
							#else
								<a>Novo Grupo</a>
							#end
						</div>
					</div>
                 
					<div class="profile-userbuttons">
						#if($!grupo.id)
						<div class="clearfix form-group">
							<a href="$context/pages/mural.htm?grupo=$!grupo.id" class="btn btn-circle blue btn-sm uppercase eq-width"><i class="fa fa-inbox"></i> Mural</a>
							#if(!$!grupo.grupoVirtual)
								#if($!chat_on && $chat_on == 1)
									#if($!ENVIAR_MENSAGEM)
										<a class="btn btn-circle green btn-sm eq-width" target="_blank" href="$context/pages/chat.htm?grupo=$!grupo.id"><i class="fa fa-comments"></i> Chat</a>
									#end
								#end
							#end
						</div>
						#end
					</div>
				</div>
				
				#if($!grupo.id)
				<div class="portlet light">
               <div class="row list-separated profile-stat">
						<div class="col-md-6 col-sm-12 col-lg-6">
							<div class="uppercase profile-stat-title">
								<a href="$context/pages/mural.htm?grupo=$!grupo.id" target="_blank">
									<span class="uppercase profile-stat-title">#if($grupo.posts) $grupo.posts.size() #else 0 #end</span>
									<span class="uppercase profile-stat-text">Posts</span>
								</a>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 col-lg-6">
							<div class="uppercase profile-stat-title">
								<a href="#tab_users" data-toggle="tab" class="act-tab">
									<span class="uppercase profile-stat-title group-users">&nbsp;</span>
									<span class="uppercase profile-stat-text">
#if($grupo.id && $!grupo.grupoVirtual)
Subgrupos
#else
Usuários
#end
</span>
								</a>
							</div>
						</div>
					</div>
					<div>
						#if($!grupo.horaAbertura || $!grupo.horaFechamento)
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-clock-o"></i> <span>Hora de abertura: $format.date($!grupo.horaAbertura, "HH:mm")</span>
						</div>
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-clock-o"></i> <span>Hora de fechamento: $format.date($!grupo.horaFechamento, "HH:mm")</span>
						</div>
						<hr/>
						#end
						#if($grupo.id && $!grupo.grupoVirtual)
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-desktop"></i> <span>Grupo virtual</span>
						</div>
						#end
						#if($grupo.id && !$!grupo.grupoVirtual)
							#if($cadastro_grupo_tipo_on && $cadastro_grupo_tipo_on == 1)
								#if($!tipoGrupo == 'true')
									#set($tipoGrupo = "Privado")
									#if($grupo.tipoGrupo)
										#set($tipoGrupo = $grupo.tipoGrupo)
									#end
									<div class="margin-top-20 profile-desc-link">
										<i class="fa fa-flag"></i> <span>Tipo: $!tipoGrupo</span>
									</div>
								#end
							#end
						#end
						#if($!grupo.padrao == true)
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-check-square"></i> <span>Grupo padrão para postar</span>
						</div>
						#end
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-user"></i> <span>Admin: <a href="$context/usuario.htm?id=$!grupo.userCreate.id">$!grupo.userCreate.nome</a></span>
						</div>
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-calendar"></i> <span>Criado em:
							<span>$format.date($!grupo.dateCreate, "dd/MM/yyyy, HH:m:s")</span></span>
						</div>
						#if($!grupo.userUpdate)
						<hr/>
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-check-square-o"></i> <span>Atualizado por: <a href="$context/usuario.htm?id=$!grupo.userUpdate.id">$!grupo.userUpdate.nome</a></span>
						</div>
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-calendar-check-o"></i> <span>Atualizado em:
							<span>$format.date($!grupo.dateUpdate, "dd/MM/yyyy, HH:m:s")</span></span>
						</div>
						#end
					</div>
				</div>
				#end
			</div>
         
			<div class="profile-content user">
				<div class="portlet light">
					<div class="portlet-title tabbable-line">
						<div class="caption left caption-md">
							<i class="fa fa-users font-blue"></i> <span class="caption-subject font-blue bold uppercase">#if(!$grupo.id) Novo Grupo #else $!grupo.nome #end</span>
						</div>
						<ul class="nav nav-tabs">
							<li #if(!$tab) class="active" #end><a href="#tab_dados" data-toggle="tab">Dados do Grupo</a></li>
							<li #if($!tab == 'addUser') class="active" #end><a href="#tab_users" class="group-users-link #if(!$grupo.id) disabled #end" data-toggle="tab">
#if($grupo.id && $!grupo.grupoVirtual)
Subgrupos
#else
Usuários do Grupo
#end
</a></li>
						<li><a href="#tab_permissao" class="group-users-permissao #if(!$grupo.id) disabled #end" data-toggle="tab">Permissões</a></li>

						#if((($!grupo.userCreate.id == $!session.userInfo.id) || $!isSubadmin) && $!grupo.tipoGrupo == "ABERTO_FECHADO" )
							<li class="#if($!tab == 'solicitacao') active #end tab-solicitacoes tab-badge">
								<a href="#tab_solicitacoes" data-toggle="tab">Solicitações</a>
							</li>
						#end

						#if($grupo.id && !$!grupo.grupoVirtual)
							<li class="config-grupo"><a href="#tab_configuracoes" data-toggle="tab">Configurações</a></li>
						#end
						</ul>
					</div>
					<div class="portlet-body">
						<div class="tab-content">
							<!-- TAB DADOS -->
							#parse("cadastro/grupos/include_grupo_tab_dados.htm")
							
							<!-- TAB USERS -->
							#parse("cadastro/grupos/include_grupo_tab_usuarios.htm")
							
							#if((($!grupo.userCreate.id == $!session.userInfo.id) || $!isSubadmin) && $!grupo.tipoGrupo == "ABERTO_FECHADO" )
								<!-- TAB SOLICITACOES -->
								#parse("cadastro/grupos/include_grupo_tab_solicitacoes.htm")
							#end
							
							<!-- TAB PERMISSOES -->
							#parse("cadastro/grupos/include_grupo_tab_permissoes.htm")

							<!-- TAB CONFIGURACOES -->
							#parse("cadastro/grupos/include_grupo_tab_configuracoes.htm")
                	</div>
                	
                	<div class="clearfix text-right">
							<div class="margin-top-10">
								<a href="$context/cadastro/grupos.htm" class="btn btn-default min-width"> Cancelar </a>
								<button class="btn btn-primary min-width btn-salvar">Salvar</button>
								$form.fields.salvar
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>
${form.endTag()}
<script>
var tableUsuariosGrupo = null, tableUsuariosModal = null,
	 tablePermissoesGrupo = null, tablePermissoesModal = null,
	 tableSubadminsGrupo = null, tableSubadminsModal = null,
	 tableSolicitacoesGrupo = null,

	 _usuariosIdsInGrupo = '', _usuariosIdInPermissao = '', _usuariosIdsInModeradores = '',
	 _gruposIdsInGrupo = '',

 	erroGrupo = true, _integrantesGrupo = 0, _isVirtual, _subadminsGrupo = 0, _buscouPermissoes = false;
</script>

#if($grupo.id && $!grupo.grupoVirtual)
	#parse("/modals/modal_grupo_addSubgrupo.htm")
#else	
	#parse("/modals/modal_grupo_addUser.htm")
#end

#parse("/modals/modal_grupo_addModerador.htm")
#parse("/modals/modal_grupo_addPermissao.htm")
#parse("/modals/modal_troca_grupo.htm")
#parse("/msg.htm")
<script>
var userAdmin = "$!grupo.userCreate.id";

$(document).ready(function(){
	$(".bootstrap").bootstrapSwitch();
	var page = 0, grupo = "$!grupo.id";

	$('.act-tab').click(function(e){
		e.preventDefault();
		$(".tabbable-line > ul.nav-tabs li:nth-child(2)").addClass("active");
		$(".tabbable-line > ul.nav-tabs li").not(":nth-child(2)").removeClass("active");
	});

	_isVirtual = $('#form_grupoVirtual').bootstrapSwitch('state');

	$('input[name="radioTipoGrupo"]').on('ifChecked', function(event){
		$('#form_nome').blur();
	});

	$(".troca-grupo").click(function(e){
		$("#modalTrocaGrupo").modal('show');
	});
	
	$('.group-users-permissao').click(function(){
		if(!$(this).parent('li').hasClass('active') && !_buscouPermissoes){
			_buscouPermissoes = true;
			buscaPermissoes(grupo, page);
			buscaSubadmins(grupo, page, false);
		}
	});

	$("#form_grupo").on("change", function(){
		var page = 0, grupo = $("#form_id").val();
		$(".paginaAtual").attr("data-page", 0);
		$(".listaHorizontal").html("");
		buscaUsuarios("$!id", page, false);
	});

	$(".btn-add-users").click(function(e){
		#if($grupo.id && !$!grupo.grupoVirtual)
			$("#modalAddUser").modal('show');
		#else
			$("#modalAddSubgrupo").modal('show');
		#end
	});

	$('.btn-add-permissao').click(function(){
		$("#modalAddPermissao").modal('show');
	});

	$('.btn-add-subadmin').click(function(){
		$("#modalAddSubAdmin").modal('show');
	});

	#if(!$grupo.todosPostam)
		$('.podem-postar').removeClass('hidden');
	#end
	
	$('#form_todosPostam').on('ifClicked', function(event){
		event.preventDefault();
		event.stopPropagation();
		var isChecked = $(this).is(':checked');
		
		if(!isChecked){
			swal({
			  title: "Tem certeza?",
			  text: "Todos os usuários deste grupo e subgrupos (caso possua) poderão publicar no mural.",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#d9534f",
			  confirmButtonText: "Sim",
			  cancelButtonText: "Cancelar",
			  showLoaderOnConfirm: false,
			}).then(function (isConfirm) {
				if(isConfirm){
					$('.podem-postar').addClass('hidden');
					$('#form_todosPostam').iCheck('check');
					#if($grupo.id)
						jQuery.ajax({
							type: 'PUT',
							url: '$context/rest/grupo/postar',
							contentType: 'application/x-www-form-urlencoded',
							data: { grupoId: '$grupo.id', postar: true },
						});
					#end
				}else{
					$('.podem-postar').removeClass('hidden');
					$('#form_todosPostam').iCheck('uncheck');
				}
			});
		}else{
			swal({
			  title: "Tem certeza?",
			  text: "Todos os usuários deste grupo (exceto o administrador) não terão permissão de publicar no mural, será necessário adicioná-los manualmente.",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#d9534f",
			  confirmButtonText: "Sim",
			  cancelButtonText: "Cancelar",
			  showLoaderOnConfirm: false,
			}).then(function (isConfirm) {
				if(isConfirm){
					$('.podem-postar').removeClass('hidden');
					$('#form_todosPostam').iCheck('uncheck');
					#if($grupo.id)
						jQuery.ajax({
							type: 'PUT',
							url: '$context/rest/grupo/postar',
							contentType: 'application/x-www-form-urlencoded',
							data: { grupoId: '$grupo.id', postar: false },
						});
					#end
				}else{
					$('.podem-postar').addClass('hidden');
					$('#form_todosPostam').iCheck('check');
				}
			});
		}
	});

	 $('#form_grupoVirtual').on('switchChange.bootstrapSwitch', function(event, state) {
		event.preventDefault();
		event.stopPropagation();
		#if($grupo.id) 
			if($('.group-users-link').hasClass('disabled')){
				$('.group-users-link').removeClass('disabled subgrupos');
				$('.group-users-permissao').removeClass('disabled subgrupos');
			}else{
				$('.group-users-link').addClass('disabled subgrupos');
				$('.group-users-permissao').addClass('disabled subgrupos');
			}
		#end
	}); 
	
	#if($grupo.id) 
		$('.checkConfig').on('switchChange.bootstrapSwitch', function(event, state) {
			 var name = $(this).attr('name');
			 var data = {};
			 data[name] = state;
			 data.userId = userId;
			 data.grupoId = "$grupo.id"
			 jsHttp.post("$context/rest/grupo/configuracoes", {
				 data:data,
				 success: function(data){
					 toastr.success(data.mensagem);
				 },
				 error: function(data){
					 toastr.error(data.mensagem);
				 }
			 });
		});
	#else
		$('.btn-salvar').addClass('disabled');
	#end
	
	var fotoGrupo = "$!grupo.urlFoto";
	if(fotoGrupo){
		var urlFoto = fotoGrupo;
		if(urlFoto.substr(0,4).indexOf('img/') > -1) {
			urlFoto = urlContext + '/' + urlFoto;
		}
		$(".grupo-img").attr("src", urlFoto);
	}else{
		$(".grupo-img").attr("src", urlContext + "/img/capa.png");
	}
	
	$(".nav-tabs a[data-toggle=tab]").on("click", function(e) {
		e.preventDefault();
		#if(!$!grupo.id)
			e.stopPropagation();
		#end
		var label = "É necessário salvar o grupo antes de adicionar usuários.";
		if($(this).hasClass("subgrupos")){
			label = 	"É necessário salvar o grupo antes de trocar o tipo.";
		}else if($(this).hasClass("group-users-permissao")){
			label = 	"É necessário salvar o grupo antes de alterar permissões.";
		}
		if($(this).hasClass("disabled")){
			swal({
			  title: "Atenção",
			  text: label,
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#d9534f",
			  confirmButtonText: "Ok",
			  showCancelButton: false
			});
		}
	});
	
	if(grupo != '') {
		#if($grupo.id && $!grupo.grupoVirtual)
			buscaGrupos(grupo, page);
		#else
			buscaUsuarios(grupo, page, false);
			#if((($!grupo.userCreate.id == $!session.userInfo.id) || $!isSubadmin) && $!grupo.tipoGrupo == "ABERTO_FECHADO" )
				getSolicitacoes("$!id", function(data){
					if(data.status == "ERROR"){
						toastr.error("<b>Atenção!</b><br>" + data.message);
					}else{
						updateSolicitacoesTable(data.entity);
					}
				});
			#end
		#end
	}
	
	$(".botao").click("click", function (e) {	
		erroGrupo = true;
		flagGrupo = 1;
	});
	
	$("#form_nome").focus();
	
	$('.btn-salvar').click(function(event){
		event.preventDefault();
		$(this).html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
		$("#form_salvar").trigger('click');
	});
	
	$("#form_salvar").click(function(e){
		if($("#form_nome").val() == ""){
			e.preventDefault();
			swal("$messages.get('atencao.label')", "$messages.get('msg.grupo.precisa.preencher.alert')", "warning");
		}
	});
	
	$('.form-control').keyup(function(){
		var nome = $('#form_nome').val();
		
		if(nome != ""){
			$('.btn-salvar').removeClass('disabled');
		}else{
			$('.btn-salvar').addClass('disabled');
		}
	});

  $(document).on( "click", ".removerUsuario, .removerGrupo, .removerPermissao, .removerSubadmin", function(event) {
	  	event.preventDefault();
		var obj = $(this), usuarioNome = $(this).attr("data-nome"), usuarioId = $(this).attr("data-id"), idRemove = usuarioId+",", text = '', callback = '';

		if($(this).hasClass('removerPermissao')){
			text = 'Você deseja remover as permissões do usuário <b>'+usuarioNome+'</b>?';
			callback = function(){
				addUsuarioPermissao(false, usuarioId, function(data){
				  	if(data.status == "ERROR"){
				  		swal('Opss...', data.message, 'error');
						return;
				  	} else {
						if(tablePermissoesGrupo != null) {
							tablePermissoesGrupo.row($('#table-permissoes-grupo > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
						}
						if(tablePermissoesModal != null) {
							tablePermissoesModal.row($('#table-permissoes-modal > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
						}

						_usuariosIdInPermissao = _usuariosIdInPermissao.replace(idRemove, '');
						swal('Sucesso!', data.message, 'success');
					}
			  	});
			}
		}else if($(this).hasClass('removerSubadmin')){
			text = 'Você deseja remover as permissões de subadmin do usuário <b>'+usuarioNome+'</b>?';
			callback = function(){
				addUsuarioSubAdmin(false, usuarioId, function(data){
				  	if(data.status == "ERROR"){
				  		swal('Opss...', data.message, 'error');
						return;
				  	} else {
						if(tableSubadminsGrupo != null) {
							tableSubadminsGrupo.row($('#table-subadmins-grupo > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
						}
						if(tableSubadminsModal != null) {
							tableSubadminsModal.row($('#table-subadmins-modal > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
						}

						_usuariosIdsInModeradores = _usuariosIdsInModeradores.replace(idRemove, '');
						swal('Sucesso!', data.message, 'success');
					}
			  	});
			}
		}else{
			if($(this).hasClass('removerGrupo')){
				text = 'Você deseja mesmo remover o subgrupo <b>'+usuarioNome+'</b> do grupo?';
			}else{
				text = 'Você deseja mesmo remover o usuário <b>'+usuarioNome+'</b> do grupo?';
			}

			callback = function(){
				addUsuario(null, idRemove, function(data){
				  	if(data.status == "ERROR"){
				  		swal('Opss...', data.message, 'error');
						return;
				  	} else {
						var qtd = parseInt($(".group-users").html());
				 		$("span.group-users").html(qtd - 1);
						_integrantesGrupo = _integrantesGrupo - 1;

						if(_integrantesGrupo <= 1 && !_isVirtual){
							$('.grupo-virtual-input-wrapper').removeClass('disabled');
						}else if(_integrantesGrupo > 1 && !_isVirtual){
							$('.grupo-virtual-input-wrapper').addClass('disabled');
						}else if(_integrantesGrupo == 0 && _isVirtual){
							$('.grupo-virtual-input-wrapper').removeClass('disabled');
						}

						$('ul.listaHorizontal').children('li[data-id="'+ id +'"]').remove();
						obj.closest(".configItem").closest("li").remove();

						if(tableUsuariosGrupo != null) {
							tableUsuariosGrupo.row($('#table-usuarios-grupo > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
						}
						if(tableUsuariosModal != null) {
							tableUsuariosModal.row($('#table-usuarios-modal > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
						}

						if(tablePermissoesGrupo != null) {
							tablePermissoesGrupo.row($('#table-permissoes-grupo > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
						}
						if(tablePermissoesModal != null) {
							tablePermissoesModal.row($('#table-permissoes-modal > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
						}

						if(tableSubadminsGrupo != null) {
							tableSubadminsGrupo.row($('#table-subadmins-grupo > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
						}
						if(tableSubadminsModal != null) {
							tableSubadminsModal.row($('#table-subadmins-modal > tbody tr[data-id="' + usuarioId + '"]')).remove().draw(false);
						}

						#if($grupo.id && $!grupo.grupoVirtual)
							_gruposIdsInGrupo = _gruposIdsInGrupo.replace(idRemove, '');
						#else
							_usuariosIdsInGrupo = _usuariosIdsInGrupo.replace(idRemove, '');
						#end

						_usuariosIdInPermissao = _usuariosIdInPermissao.replace(idRemove, '');
						_usuariosIdsInModeradores = _usuariosIdsInModeradores.replace(idRemove, '');

						$('.modal').modal('hide');
						swal('Sucesso!', data.message, 'success');
					}
			  	});
			}
		}

		swal({
			text: text,
			title: 'Atenção',
			type: 'warning',
			showCancelButton: true,
			confirmButtonColor: "#d9534f",
			confirmButtonText: "Sim",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true
		}).then(function () {
			callback();
		})
	});
  
  	$(".btn-apagar-grupo").click(function(e){
		var obj = $(this), nomeGrupo = $(this).attr('data-grupo');
		e.preventDefault();
		swal({
			text: 'Deseja realmente excluir o grupo <b>'+nomeGrupo+'</b>?',
			title: 'Atenção',
			type: 'warning',
			showCancelButton: true,
			confirmButtonColor: "#d9534f",
			confirmButtonText: "Sim",
			cancelButtonText: "Cancelar",
		}).then(function () {
			location.href = obj.attr("href");
		});
	});

	$(".inputHorarioGrupo").pickatime({
		format : 'H:i',
		interval: 15,
		clear: 'Limpar',
		close: 'Fechar',
		container: '#form',
		onSet: function(context) {
			if(this.$node.val()!=""){
				this.$node.parent().find(".mascaraLabel").hide();
			}else{
				this.$node.parent().find(".mascaraLabel").show();
			}
			this.$node.parent().find(".popPlaceholder").fadeOut();
		},
		onClose: function() {
			$(document.activeElement).blur();
			var horario = this.get('select');
			if(this.$node[0].id == "horaAbertura"){
				$("#horaFechamento").pickatime().pickatime( 'picker' ).set('min', [horario.hour, horario.mins + 15]).render();
			} else {
				$("#horaAbertura").pickatime().pickatime( 'picker' ).set('max', [horario.hour, horario.mins - 15]).render();
			}
		}
	});

	var uploadImage = function(element, properties) {
		properties.url = urlContext + '/ws/uploadFile.htm';
		properties.method = "POST";
		properties.formData = {
				'dir': 'arquivos',
	        	'descricao': '',
	        	'tipo': '1',
	        	'user_id': userId,
	        	'mode': 'json',
	        	'form_name': 'form'
        };
		properties.acceptFiles = "image/";
		properties.fileName = "fileField";
		properties.showDelete = false;
		properties.showAbort = false;
		properties.maxFileSize = 1024*5120; //5mb,
		properties.dragDrop = false;
		properties.multiple = false;
		properties.uploadButtonClass = "btn default btn-file btn-outline ";
		
		$(element).uploadFile(properties);
	};
	
	uploadImage('.btn-fotoUser', {
		onSubmit:function(files){
			$(".mt-card-item").append('<i class="icones ac_loading"></i>');
		},
		onSuccess:function(files,data,xhr){
			$(".mt-card-item").find('.icones.ac_loading').remove();
			$(".mt-card-item").find('img').attr("src", data.file.urlThumb);
			$("#form_arquivoFotoId").val(data.file.id);
			$(".mt-overlay").css("opacity","0");
			
			var grupoId = "$id";
			if(grupoId) {
				jsHttp.post("$context/rest/grupo/uploadImagem?fotoId=" + data.file.id + "&grupoId=" + grupoId, {
			        success: function( data ) {
			        }
				});
			}
		},
		onError: function(files,data,errMsg){
			$(".trocaFotoUser .icones.ac_loading").remove();
			swal('Atenção', "Falha no Upload", 'error');
		},
		onSelect: function(files){
			var retorno = true;
			if(files[0].type.search(this.acceptFiles) == -1){
				var ext = files[0].name.replace(/.*\./i, "");
				swal("Atenção", "Extensão '<b>"+ext+"</b>' não permitida!", 'warning');
				retorno = false;
			}
			return retorno;
		}
	});
	
	$(".mt-overlay").mouseenter(function(e){
		$(".mt-overlay").removeAttr("style");
	});
	
	$('.btnSalvarUsuariosGrupo').click(function() {
		$("#usuario, #grupo").tokenInput("clear");
		$("#modalAddUser, #modalAddSubgrupo").modal('hide');
	});
	
	
	#if((($!grupo.userCreate.id == $!session.userInfo.id) || $!isSubadmin) && $!grupo.tipoGrupo == "ABERTO_FECHADO" )
		$(document).on( "click", "#tab_solicitacoes .aceitarUsuario, #tab_solicitacoes .recusarUsuario", function(e){
			var idUsuario = $(this).attr('data-id'), nomeUsuario = $(this).attr('data-nome'), idGrupo = "$!grupo.id", aprovar = $(this).hasClass("aceitarUsuario"), text = '';
			var callback = function(){
					putSolicitacoes(idUsuario, idGrupo, aprovar, function(data){
					if(data.status == 'ERROR'){
						swal('Ops...', data.message, 'error');
					} else {
						updateSolicitacoesTable(data.entity);
						buscaUsuarios(grupo, page, false);
						swal('Sucesso', data.message, 'success');
					}
				});
			}

			if($(this).hasClass('aceitarUsuario')){
				text = 'Deseja aprovar a participação do usuário <b>'+nomeUsuario+'</b> no grupo?';
			}else{
				text = 'Deseja recusar a participação do usuário <b>'+nomeUsuario+'</b> no grupo?';
			}

			swal({
				title: "Atenção",
				text: text,
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#d9534f",
				confirmButtonText: "Sim",
				cancelButtonText: "Cancelar",
				showLoaderOnConfirm: true,
			}).then(function () {
				callback();
			});
		});
		
		var solicitacoesTableInit = false; // Flag de controle de carregamento da tabela.
		
		function updateSolicitacoesTable(lista){
			var conteudo = '';
		 	
		 	if(lista.length > 0){
				$('li.tab-solicitacoes').append('<span class="badge">'+lista.length+'</span>');
			}else{
				$('li.tab-solicitacoes').find('span.badge').fadeOut(function(){
					$(this).remove();
				});
			}
		 	
			notifications.getNotifications({
				data: { 
					user_id: SESSION.USER_INFO.USER_ID,
				}, 
				isBadges: true, 
				isClear: false, 
				isScroll: false,
				isShowTabNotification: false,
				isFlipAnimation: false,
				isSpinner: false,
				isAbort: false
			});

			for(var i = 0; i < lista.length; i++){
				if(userAdmin == lista[i].id) {
					continue;
				}

				conteudo += '<tr data-id="'+lista[i].id+'">';
					conteudo +=  '<td>' + lista[i].nome;
						if(userAdmin == lista[i].id) {
							conteudo += '&nbsp;&nbsp;<span class="label label-success">Admin</span>';
						}
					conteudo += '</td>';
				
					conteudo += '<td>' + lista[i].login + '</td>';
				
					conteudo += '<td align="center">';
						conteudo += '<a class="btn btn-outline blue-sharp  uppercase tooltip-livecom" href="'+urlContext+'/usuario.htm?id='+lista[i].id+'" target="_blank" title="Visualizar usuário">';
							conteudo += '<i class="fa fa-search"></i>';
						conteudo += '</a>';
					
						if($session.userInfo.id == lista[i].id || SESSION.PERFILS.PERFIL_isAdmin){
							conteudo += '<a data-id="'+ lista[i].id +'" class="btn btn-outline green-sharp aceitarUsuario tooltip-livecom" data-nome="' + lista[i].nome + '" title="Aceitar usuário">';
								conteudo += '<i class="fa fa-check"></i>';
							conteudo += '</a>';
						
							conteudo += '<a data-id="'+ lista[i].id +'" data-nome="'+lista[i].nome+'" class="btn btn-outline red-mint recusarUsuario" data-nome="' + lista[i].nome + '">';
								conteudo += '<i class="fa fa-close"></i>';
							conteudo += '</a>';
					}

					conteudo += '</td>';
				conteudo += '</tr>';
			}

			if(tableSolicitacoesGrupo != null){
				$('#table-solicitacoes-grupo > tbody').empty();
				tableSolicitacoesGrupo.clear();
				tableSolicitacoesGrupo.destroy();
			}

			$('#table-solicitacoes-grupo > tbody').append(conteudo);
			tableSolicitacoesGrupo = loadTable({element: '#table-solicitacoes-grupo'});
		}
	#end
	
	jsHttp.get("$context/rest/v1/categoria", {
		success: function(data) {
			if(data && data.length > 0) {
				var conteudo = "";
				data.forEach(function(c) {
					var preto = '#000000';	
					var cor = c.cor ? c.cor : preto;
					if(c.cor == 'ffffff') {
						cor = preto;
					}
					conteudo += '<option value="'+c.id+'" style="color:#'+cor+'">' + c.nome + '</option>';
				});
				$("#categoria option:first").after(conteudo);
				$("#categoria").val("$grupo.categoria.id").change();
			} else {
				$("#categoria").empty();
				$("#categoria").append('<option>Nenhuma categoria cadastrada</option>').change();
			}
		}
	});
});

function buscaUsuarios(grupo, page, isPermissao){
	if(0 > page) {
		page = 0;
	}

	var dataUsuariosAutoComplete = {
		user: SESSION.USER_INFO.USER_LOGIN,
		grupoId: grupo,
		maxRows: 0,
		page: page,
		wsVersion: wsVersion,
		wstoken:SESSION.USER_INFO.USER_WSTOKEN,
		podePostar: ''
	};

	isPermissao ? dataUsuariosAutoComplete.podePostar = true : false;


	AjaxServices.usuariosAutoComplete(dataUsuariosAutoComplete, function(){
		$('.spinner-blue').fadeIn();
	}).done(function(data){
		$('.spinner-blue').fadeOut();
		$('.view-tabela').find('.paginaAtual').remove();
		if(!isPermissao){
			_integrantesGrupo = data.list.length;
	 		if(_integrantesGrupo <= 1){
				$('.grupo-virtual-input-wrapper').removeClass('disabled');
			}else if(_integrantesGrupo > 1){
				$('.grupo-virtual-input-wrapper').addClass('disabled');
			}
		}

		if(data.list && data.list.length > 0){
			$(".paginaAtual").show();
	 		var conteudo = "";
	 		var conteudoTabela = "";
	 		$(".group-users").html(data.list.length);

	 		if(_usuariosIdInPermissao != ''){
					_usuariosIdInPermissao = '';
				}

	 		if(_usuariosIdsInGrupo != ''){
 				_usuariosIdsInGrupo = '';
 			}

 			for (var i=0; i<data.list.length; i++){

 				var campo = data.list[i];
	 			conteudoTabela += createTable(campo, false, isPermissao, false);

 				if(!isPermissao){
		 			_usuariosIdsInGrupo += data.list[i].id + ",";

			 		conteudo += '<li data-id="'+ data.list[i].id +'">';
			 			conteudo += '<div class="clearfix">';
					 		if(SESSION.PERFILS.PERFIL_isAdmin){
								conteudo +=	'<div class="configItem">';
									conteudo +=	'<i class="icones ico-configLista"></i>';
									conteudo +=	'<div class="popMenu bottom"><ul>';
										conteudo +=	'<li><a href="#" data-id="'+ data.list[i].id +'" rel="'+data.list[i].id+'" data-nome="'+data.list[i].nome+'" class="removerUsuario">$messages.get('remover.deste.grupo.label')</a></li>';
									conteudo +=	'</ul></div>';
								conteudo +=	'</div>';
							}

					 		if(userAdmin == data.list[i].id) {
								conteudo += '<i class="icones crownAdmin tooltip-livecom" title="Admin do grupo"></i>';
							}

							conteudo += '<div class="fotoUsuario media">';
								conteudo += '<a class="centraliza" data-nome="'+data.list[i].nome+'" href="$context/usuario.htm?id='+data.list[i].id+'" target="_blank">';
									conteudo += '<img src="'+data.list[i].urlFotoUsuario+'" alt="$messages.get('foto.de.label') '+data.list[i].nome+'" />';
								conteudo += '</a>';
							conteudo += '</div>';

							conteudo += '<div class="infoUsuarios">';
								conteudo += '<a href="$context/usuario.htm?id='+data.list[i].id+'" class="nomeUsuarioLista" target="_blank">'+data.list[i].nome+'</a>';
								if(data.list[i].desc1){
									conteudo += '<p class="cargoUsuarioLista">'+data.list[i].desc1+'</p>';
								}
								if(data.list[i].desc2){
		    						conteudo += '<p class="cargoUsuarioLista">'+data.list[i].desc2+'</p>';
								}

							conteudo += '</div>';
						conteudo += '</div>';
					conteudo += '</li>';
 				}else{
	 				_usuariosIdInPermissao += data.list[i].id + ',';
 				}
 			}
 		}else if($("#tab_users .listaHorizontal li").length <= 0){
 			$(".muralVazio").html("$messages.get('nenhumResultado.error')").show();
			$(".paginaAtual").hide();
		}else{
			$(".paginaAtual").hide();
		}
		if(data.list && data.list.length < 12){
			$(".paginaAtual").hide();
		}

		$(".paginaAtual").attr("data-page", parseInt($(".paginaAtual").attr("data-page"))+1);
		$(".paginaAtual").removeClass("loading");

		if(!isPermissao){
			if(tableUsuariosGrupo != null) {
				tableUsuariosGrupo.clear();
				tableUsuariosGrupo.destroy();
			}

			if(tableUsuariosModal != null) {
				tableUsuariosModal.clear();
				tableUsuariosModal.destroy();
			}

			$("#tab_users .listaHorizontal").append(conteudo);
			$("#table-usuarios-grupo > tbody").empty().append(conteudoTabela);

			tableUsuariosGrupo = loadTable({element: '#table-usuarios-grupo'});
			tableUsuariosModal = loadTable({element: '#table-usuarios-modal'});
		}else{
			if(tablePermissoesGrupo != null) {
				tablePermissoesGrupo.clear();
				tablePermissoesGrupo.destroy();
			}

			if(tablePermissoesModal != null) {
				tablePermissoesModal.clear();
				tablePermissoesModal.destroy();
			}

			$("#table-permissoes-grupo > tbody").empty().append(conteudoTabela);

			tablePermissoesGrupo = loadTable({element: '#table-permissoes-grupo'});
			tablePermissoesModal = loadTable({element: '#table-permissao-modal'});
		}

		if(data.mensagem){
			$(".paginaAtual").hide();
			swal(data.mensagem.status, data.mensagem.mensagem, 'warning');
		}
	});
}

function buscaSubadmins(grupo, page){
	if(tableSubadminsGrupo != null) {
		tableSubadminsGrupo.clear();
		tableSubadminsGrupo.destroy();
	}

	if(tableSubadminsModal != null) {
		tableSubadminsModal.clear();
		tableSubadminsModal.destroy();
	}

	if(0 > page) {
		page = 0;
	}

	jQuery.ajax({
		type: 'GET',
		url: '$context/rest/grupo/subadmins/'+grupo,
		success: function(resp){
			var conteudoTabela = '';
			if(resp.entity && resp.entity.length > 0){
				if(_usuariosIdsInModeradores != ''){
					_usuariosIdsInModeradores = '';
				}

				for (var i = 0; i < resp.entity.length; i++){
					var campo = resp.entity[i];
					_usuariosIdsInModeradores += campo.id + ",";

					conteudoTabela += createTable(campo, false, false, true);
				}
				$("#table-subadmins-grupo > tbody").empty().append(conteudoTabela);

				if(resp.mensagem){
					swal(resp.mensagem.status, resp.mensagem.mensagem, 'warning');
				}
			}

			tableSubadminsGrupo = loadTable({element: '#table-subadmins-grupo'});
			tableSubadminsModal = loadTable({element: '#table-subadmins-modal'});
		}
	});
}

function buscaGrupos(grupo, page){
	if(tableUsuariosGrupo != null) {
		tableUsuariosGrupo.clear();
		tableUsuariosGrupo.destroy();
	}

	if(tableUsuariosModal != null) {
		tableUsuariosModal.clear();
		tableUsuariosModal.destroy();
	}

	if(0 > page) {
		page = 0;
	}

	jQuery.ajax({
		type: 'GET',
		url: '$context/rest/grupo/subgrupos/'+grupo,
		success: function(resp){
			var conteudo = '', conteudoTabela = '';
			_integrantesGrupo = resp.entity.length;
			if(_integrantesGrupo == 1 && !_isVirtual){
				$('.grupo-virtual-input-wrapper').removeClass('disabled');
			}else if(_integrantesGrupo == 0 && _isVirtual){
				$('.grupo-virtual-input-wrapper').removeClass('disabled');
			}else{
				$('.grupo-virtual-input-wrapper').addClass('disabled');
			}

			if(resp.entity && resp.entity.length > 0){
				$(".group-users").html(resp.entity.length);

				if(_gruposIdsInGrupo != ''){
					_gruposIdsInGrupo = '';
				}

				for (var i = 0; i < resp.entity.length; i++){
					var campo = resp.entity[i];
					conteudoTabela += createTable(campo, true, false, false);

					_gruposIdsInGrupo += campo.id+',';

			 		conteudo += '<li data-id="'+ campo.id +'">';
				 		conteudo += '<div class="clearfix">';
					 		if(SESSION.PERFILS.PERFIL_isAdmin){
								conteudo +=	'<div class="configItem">';
									conteudo +=	'<i class="icones ico-configLista"></i>';
									conteudo +=	'<div class="popMenu bottom"><ul>';
										conteudo +=	'<li><a href="#" data-id="'+ campo.id +'" rel="'+campo.id+'" data-nome="'+campo.nome+'" class="removerGrupo">$messages.get('remover.deste.grupo.label')</a></li>';
									conteudo +=	'</ul></div>';
								conteudo +=	'</div>';
							}

					 		if(userAdmin == campo.id) {
								conteudo += '<i class="icones crownAdmin tooltip-livecom" title="Admin do grupo"></i>';
							}

					 		var grupoImg = campo.urlFotoThumb;
							if(grupoImg){
								if(grupoImg.substr(0,4).indexOf('img/') > -1) {
									grupoImg = urlContext + '/' + grupoImg;
								}
							}else{
								grupoImg = urlContext + "/imagens/bg_grupo_thumb.jpg";
							}

			 				conteudo +=	'<div class="fotoUsuario media">';
								conteudo += '<a class="centraliza" data-nome="'+campo.nome+'" href="$context/usuario.htm?id='+campo.id+'" target="_blank">';
									conteudo += '<img src="'+grupoImg+'" alt="$messages.get('foto.de.label') '+campo.nome+'" />';
								conteudo += '</a>';
							conteudo += '</div>';

							conteudo += '<div class="infoUsuarios">';
								conteudo += '<a href="$context/usuario.htm?id='+campo.id+'" class="nomeUsuarioLista" target="_blank">'+campo.nome+'</a>';
									if(campo.desc1){
										conteudo += '<p class="cargoUsuarioLista">'+campo.desc1+'</p>';
									}

									if(campo.desc2){
			    						conteudo += '<p class="cargoUsuarioLista">'+campo.desc2+'</p>';
									}

							conteudo += '</div>';
						conteudo += '</div>';
					conteudo +=  '</li>';
				}

				$(".paginaAtual").attr("data-page", parseInt($(".paginaAtual").attr("data-page"))+1);
				$("#tab_users .listaHorizontal").append(conteudo);
				$(".paginaAtual").removeClass("loading");
				$("#tab_users .table > tbody").empty().append(conteudoTabela);

				if(resp.mensagem){
					$(".paginaAtual").hide();
					swal(resp.mensagem.status, resp.mensagem.mensagem, 'warning');
				}
			}else{
				$(".group-users").html('0');
			}

			tableUsuariosGrupo = loadTable({element: '#table-usuarios-grupo'});
			tableUsuariosModal = loadTable({element: '#table-usuarios-modal'});
		}
	});
}

function buscaPermissoes(grupo, page){
	buscaUsuarios(grupo, page, true);
}

function createTable(campo, isGrupo, isPermissao, isSubadmin) {
	var rTable = '', classe = '';
	rTable += '<tr data-id="'+campo.id+'">';
		rTable += "<td>" + campo.nome;
		if(!isGrupo){
			if(userAdmin == campo.id) {
				rTable += '&nbsp;&nbsp;<span class="label label-success">Admin</span>';
			}
		}
		rTable += "</td>";

		if(!isGrupo){
			rTable += "<td>" + campo.login+ "</td>";
		}

		if(isGrupo){
			rTable += "<td align='center'>";
				rTable += '<a class="btn btn-outline blue-sharp  uppercase tooltip-livecom" href="$context/grupo.htm?id='+campo.id+'" target="_blank" title="Visualizar grupo"><i class="fa fa-search"></i></a>';
				if(SESSION.USER_INFO.USER_ID == campo.userAdminId || SESSION.USER_INFO.IS_ADMIN == 'true'){
					rTable += '<button data-id="'
						+ campo.id
						+ '" class="apagar btn btn-outline red-mint removerGrupo uppercase" data-nome="' + campo.nome + '" title=""><i class="fa fa-trash"></i></button>';
				}
			rTable += "</td>";
		}else{
			if(isPermissao){
				classe = 'removerPermissao';
			}else if(isSubadmin){
				classe = 'removerSubadmin';
			}else{
				classe = 'removerUsuario';
			}

			rTable += "<td align='center'>";
				rTable += '<a class="btn btn-outline blue-sharp  uppercase tooltip-livecom" href="$context/usuario.htm?id='+campo.id+'" target="_blank" title="Visualizar usuário"><i class="fa fa-search"></i></a>';
				if((PARAMS.TIPO_GRUPO_ON == '1' && SESSION.USER_INFO.USER_ID == '$!adminGrupo.id') || (PARAMS.TIPO_GRUPO_ON == '0' && SESSION.USER_INFO.IS_ADMIN == 'true') || $!isSubadmin){
					rTable += '<button data-id="'
						+ campo.id
						+ '" class="apagar btn btn-outline red-mint '+classe+' uppercase" data-nome="' + campo.nome
						+ '" title=""><i class="fa fa-trash"></i></button>';
				}
			rTable += "</td>";
		}
	rTable += "</tr>";

	return rTable;
}
</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>