<style type="text/css">
#if(!$!CADASTRAR_GRUPOS)
.view-tabela{ display: none; }
.view-grid{ display: block; }
#end
</style>
<div class="page-content">
	<h3 class="page-title"> Grupos </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			#if($!ACESSO_CADASTROS)
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			#else
			<li><span>Sistema</span> <i class="fa fa-angle-right"></i></li>
			#end
			<li><span>Grupos</span></li>
		</ul>
	</div>
                    
	<div class="row content">
   	<div class="col-md-12">
      	<div class="portlet light">
         	<div class="portlet-title">
            	<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-users"></i>&nbsp; Lista de Grupos</span>
					</div>
					<div class="actions">
						#if($!ACESSO_CADASTROS && $!CADASTRAR_GRUPOS)
							<a href= "$context/cadastro/grupo.htm" class="btn sbold btn-primary"> Add <i class="fa fa-plus"></i></a>
						#end
						<div class="btn-group">
							<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
							<ul class="dropdown-menu pull-right">
								#if($exportar_csv_on && $exportar_csv_on == "1")
									#if($!EXPORTACOES)
										<!-- <li><a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a href="javascript:;"><i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li><a class="todosGrupos"><i class="fa fa-users"></i> Todos os Grupos </a></li>
								<li class="bleed-divider"><a class="meusGrupos"><i class="fa fa-users"></i> Grupos que criei </a></li>
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
								<li><a class="table-view"><i class="fa fa-align-justify"></i> Ver Tabela</a></li>
								<li><a class="grid-view"><i class="fa fa-th"></i> Ver Grid</a></li>
							</ul>
						</div>
					</div>
				</div>
            <div class="portlet-body">
	         	<!-- TABELA VIEW -->
					<div class="clearfix view-tabela">
	            	<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
	               	<thead>
	                  	<tr>
									<th style="width: 25%;">Nome</th>
									<th style="width: 20%;">Admin do grupo</th>
									#if($cadastro_grupo_tipo_on && $cadastro_grupo_tipo_on == 1)
										<th>Tipo</th>
									#end
									<th style="width: 5%;">Integrantes</th>
									<th style="width: 10%;">Início</th>
									<th style="width: 10%;">Fim</th>
									<th class="two-buttons">Detalhes</th>
								</tr>	
                    	</thead>
                    	<tbody></tbody>
						</table>
					</div>
	                     
	            <!-- GRID VIEW -->
					<div class="clearfix view-grid">
						<ul class="listaHorizontal listaUsuarios clearfix quatroColunas grupos"></ul>
						<div class="paginaAtual" data-page="-1"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#parse("/msg.htm")
<script>
function getFiltro() {
    var filtro = {
		user: SESSION.USER_INFO.USER_LOGIN,
		user_id: userId,
	 	meus_grupos: 0,
	 	wsVersion: wsVersion,
	 	wstoken:SESSION.USER_INFO.USER_WSTOKEN
	};
	return filtro;
}

var dTable = null, page = 0, filtro = getFiltro();

$(document).ready(function(){
	buscaGrupoGrid(filtro, page);
	buscaGrupoTable();

	$(".todosGrupos").on("click",function(e){
		if($('.view-grid').is(':visible')){
			$(".listaHorizontal.grupos li").remove();
			filtro = getFiltro();
			filtro.meus_grupos = 0;
			buscaGrupoGrid(filtro, 0)
		}else{
			buscaGrupoTable();
		}
   });

	$(".meusGrupos").on("click",function(e){
		if($('.view-grid').is(':visible')){
			$(".listaHorizontal.grupos li").remove();
			filtro = getFiltro();
			filtro.meus_grupos = 1;
			buscaGrupoGrid(filtro, 0)
		}else{
			buscaGrupoTable();
		}
	});

	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		if($('.view-grid').is(':visible')){
			$("ul.listaHorizontal.grupos").empty();
			filtro = getFiltro();
			buscaGrupoGrid(filtro, 0);
		}else{
			buscaGrupoTable();
		}
	});

	$('body').on('click', '.deletarCampo', function(event){
		event.preventDefault();
		event.stopPropagation();

		var id = $(this).data('id'), nome = $(this).data('nome'), href = $(this).attr('href');

		swal({
			title: "Atenção!",
			text: "Você deseja mesmo deletar o grupo <b>"+nome+"</b>?",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#D91E18",
			confirmButtonText: "Deletar",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true,
		}).then(function () {
			location.href = href;
		});
	});

});

$(window).scroll(function() {
	if( ($(window).scrollTop() + $(window).height() > $(document).height() - $("#contentcolumn .paginaAtual").outerHeight()) ) {
	   if($(".paginaAtual").hasClass("loading")){
   		return false;
	   }else if($(".paginaAtual:visible").length > 0 && !$(".paginaAtual").hasClass("loading")){
		   page++;
		   buscaGrupoGrid(filtro, page);
       }
   }
});

function buscaGrupoGrid(filtro, page){
	$(".muralVazio").html("").hide();

 	filtro.meus_grupos = filtro.meus_grupos;
 	filtro.page = page;
	filtro.maxRows = 40;
	filtro.wsVersion = 3;

	jQuery.ajax({
		type: "post",
		url: "$context/ws/gruposAutoComplete.htm?mode=json&form_name=form&not_grupo_ids=-1&participo="+ filtro.meus_grupos,
	 	dataType: "json",
	 	data: filtro,
	 	beforeSend: function(){
			$(".paginaAtual").show().addClass('loading');
		},
	}).done(function(data){
		$(".paginaAtual").removeClass('loading');
		if(data && data.groups) {
	 		var conteudo = "";
	 		var conteudoGrid = "";
	 			for(var i in data.groups) {
	 				var g = data.groups[i];
	 				var gu = g.virtual ? g.countSubgrupos : g.countUsers;

	 				if(PARAMS.TIPO_GRUPO_ON == '1'){
						var gt = "";
						switch(g.tipo){
						case 'ABERTO':
							gt += 'Aberto';
							break;
						case 'ABERTO_FECHADO':
							gt += 'Aberto com Aprovação';
							break;
						case 'PRIVADO_OPCIONAL':
							gt += 'Privado Opcional';
							break;
						case 'PRIVADO':
							gt += 'Privado';
							break;
						default:
							if(g.virtual){
								gt = 'Virtual';
							}else{
								gt += g.tipo ? g.tipo : '--';
							}
						}
	 				}
							
 					conteudoGrid += '<li data-id="'+g.id+'">';
	 					conteudoGrid += '<div class="clearfix">';
		 					conteudoGrid += '<div class="configItem"><i class="icones ico-configLista"></i><div class="popMenu bottom"><ul>';
		 					if((SESSION.PERMISSOES.ACESSO_CADASTROS == 'true' && SESSION.PERMISSOES.CADASTRAR_GRUPOS == 'true') && ((SESSION.USER_INFO.USER_ID == g.userAdminId) || (PARAMS.TIPO_GRUPO_ON == '0' && SESSION.USER_INFO.IS_ADMIN == 'true'))) {
	 							conteudoGrid += '<li><a href="$context/cadastro/grupo.htm?id='+g.id+'" class="editarCampo" data-id="'+g.id+'">Editar grupo</a></li>'
	 							conteudoGrid += '<li><a href="$context$path?actionLink=deletar&id='+g.id+'"&value="'+g.id+'" class="deletarCampo" data-nome="'+g.nome+'" data-id="'+g.id+'">Deletar grupo</a></li>';
							} else {
								conteudoGrid += '<li><a href="$context/grupo.htm?id='+g.id+'" class="editarCampo" data-nome="'+g.nome+'" data-id="'+g.id+'">Visualizar grupo</a></li>';
							}
	 							conteudoGrid += '<li><a href="$context/pages/mural.htm?grupo='+g.id+'">Ver mural</a></li>'
	 						conteudoGrid += '</ul></div></div>';

	 						conteudoGrid += '<div class="fotoUsuario media">';
	 							conteudoGrid += '<a class="centraliza" href="$context/grupo.htm?id='+g.id+'">';
	 								if(g.urlFotoThumb){
	 			            		var grupoImg = g.urlFotoThumb;
	 									if(grupoImg){
	 										if(grupoImg.substr(0,4).indexOf('img/') > -1) {
	 											grupoImg = urlContext + '/' + grupoImg;
	 										}
	 									}else{
	 										grupoImg = urlContext + "/imagens/bg_grupo_thumb.jpg";
	 									}

	 								}else{
	 									var grupoImg = "$context/imagens/bg_grupo_thumb.jpg";
	 								}
	 								conteudoGrid += '<img src="'+grupoImg+'" alt="Foto do grupo '+g.nome+'" />';

	 							conteudoGrid += '</a>';
 							conteudoGrid += '</div>';

	 						conteudoGrid += '<div class="infoUsuarios">';
		 						conteudoGrid += '<a href="$context/grupo.htm?id='+g.id+'" class="font-blue">'+g.nome+'</a>';
		 						conteudoGrid += '<p class="cargoUsuarioLista">Admin: '+g.userAdmin+'</p>';

		 						if(PARAMS.TIPO_GRUPO_ON == '1'){
		 							conteudoGrid += '<p class="cargoUsuarioLista pull-left">Tipo: '+gt+'</p>';
		 						}else{
		 							conteudoGrid += '<p class="cargoUsuarioLista pull-left">Integrantes: '+gu+'</p>';
		 						}

		 						if(g.padrao) {
		 							conteudoGrid += '<i class="fa fa-check font-grey-cascade pull-right tooltip-livecom" title="Grupo padrão para postagens"></i>';
		 						}
	 						conteudoGrid += '</div>';
	 					conteudoGrid += '</div>';
	 				conteudoGrid += '</li>';
	 			}

	 			if(page === 0){
	 				$('.view-grid .listaHorizontal').empty();
	 			}

	 			if (data.groups.length === 0) {
	 				if(page === 0){
	 					conteudoGrid = "<label class='empty clearfix text-center'>Nenhum grupo encontrado</label>";
	 				}
	 				$(".paginaAtual").hide();
	 			}

	 			$(".view-grid .listaHorizontal").append(conteudoGrid);
	 		}
	 });
}

function buscaGrupoTable(){
	var params = [];
	params.push({
		name : 'user_id',
		value : userId
	});
	
	var jsonDatatable = {
		#if($cadastro_grupo_tipo_on && $cadastro_grupo_tipo_on == 1)
		columns: ['nome', 'admin', 'tipo', 'integrantes', 'inicio', 'fim', 'detalhes'],
		#else
		columns: ['nome', 'admin', 'integrantes', 'inicio', 'fim', 'detalhes'],
		#end

		ajax : {
			type : 'POST',
			url : "$context/ws/gruposAutoComplete.htm?mode=json&form_name=form&wsVersion=3"
		},
		element : ".table",
		filter: params,

		fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			tooltipGrupoMural($(nRow).find('a.tooltip-grupo'));
		},
		filterResponse : function(resp) {
			var json = {};
			if (resp && resp.groups) {
				var groups = resp.groups, data = [];
				for(var i in groups){
					var g = groups[i], tipoGrupo = '', fotoGrupo = g.urlFotoThumb;

					if(fotoGrupo){
						if(fotoGrupo.substr(0,4).indexOf('img/') > -1) {
							fotoGrupo = urlContext + '/' + fotoGrupo;
						}
					}else{
						fotoGrupo = urlContext + "/imagens/bg_grupo_thumb.jpg";
					}

					switch(g.tipo){
						case 'ABERTO':
							tipoGrupo += 'Aberto';
							break;
						case 'ABERTO_FECHADO':
							tipoGrupo += 'Aberto com Aprovação';
							break;
						case 'PRIVADO_OPCIONAL':
							tipoGrupo += 'Privado Opcional';
							break;
						case 'PRIVADO':
							tipoGrupo += 'Privado';
							break;
						default:
							if(g.virtual){
								tipoGrupo = 'Virtual';
							}else{
								tipoGrupo += g.tipo ? g.tipo : '--';
							}
					}

					var nome = '<a class="font-blue sbold tooltip-grupo" href="$context/grupo.htm?id='+g.id+'" data-id="'+g.id+'" data-nome="'+g.nome+'" data-tipo="'+g.tipo+'" data-foto="'+fotoGrupo+'" data-virtual="'+g.virtual+'">'+g.nome+'</a>';
					var admin = '<a class="font-blue sbold" href="$context/usuario.htm?id='+g.userAdminId+'">'+g.userAdmin+'</a>';
					var detalhes = '';

					var editar = '<a href="$context/cadastro/grupo.htm?id='+g.id+'" class="editarCampo btn btn-outline green-sharp" data-nome="'+g.nome+'" data-id="'+g.id+'"><i class="fa fa-edit"></i></a>';
					var deletar = '<a href="$context$path?actionLink=deletar&id='+g.id+'&value='+g.id+'" class="deletarCampo btn btn-outline red-mint" data-nome="'+g.nome+'" data-id="'+g.id+'"><i class="fa fa-trash"></i></a>';
					var visualizar = '<a href="$context/grupo.htm?id='+g.id+'" class="btn btn-outline blue-sharp  uppercase" data-nome="'+g.nome+'" data-id="'+g.id+'"><i class="fa fa-search"></i></a>';

					if((SESSION.PERMISSOES.ACESSO_CADASTROS == 'true' && SESSION.PERMISSOES.CADASTRAR_GRUPOS == 'true') && ((SESSION.USER_INFO.USER_ID == g.userAdminId) || (PARAMS.TIPO_GRUPO_ON == '0' && SESSION.USER_INFO.IS_ADMIN == 'true'))) {
						detalhes = editar + deletar;
					} else {
						detalhes = visualizar;
					}
					
					if(g.virtual && g.countSubgrupos){
						var integrantesGrupo = g.countSubgrupos;
					}else{
						var integrantesGrupo = g.countUsers;
					}

					var js = {
						nome: nome,
						admin: admin,
						#if($cadastro_grupo_tipo_on && $cadastro_grupo_tipo_on == 1)
							tipo: tipoGrupo,
						#end
						integrantes: integrantesGrupo,
						inicio: g.dataEntrada ? g.dataEntrada : '--',
						fim: g.dataSaida ? g.dataSaida : '--',
						detalhes: detalhes
					};
					data.push(js);
				}

				json.data = data;
				json.recordsTotal = resp.count;
				json.recordsFiltered = resp.count;
				return json;

			}else{
				$('.table > tbody').append('<tr><td colspan="7" align="center">Nenhum resultado encontrado.</td></tr>');
				$('.dataTables_processing').remove();
			}
			return null;
		}
	}
	
	if(dTable != null) {
		$(".table > tbody").empty();
		dTable.clear();
		dTable.destroy();
	}
	dTable = dtTableUtils(jsonDatatable);
}

#if($web_template_analytics_key && $web_template_analytics_key != '')
	ga('send', 'event', 'livecom', 'grupos', SESSION.USER_INFO.USER_LOGIN);
#end
</script>