<div class="page-content">
	<h3 class="page-title"> Idiomas </h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Idiomas</span>
			</li>
		</ul>
	</div>
                    
	<div class="row content">
   	<div class="col-md-12">
      	<div class="portlet light ">
         	<div class="portlet-title">
            	<div class="caption font-dark">
               	<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-language"></i>&nbsp; Lista de Idiomas</span>
					</div>
					<div class="actions">
						<button data-toggle="modal" data-target="#modalIdioma" class="btn sbold btn-primary btn-add"> Add <i class="fa fa-plus"></i></button>
						<div class="btn-group">
                  	<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações <i class="fa fa-angle-down"></i></button>
                  	<ul class="dropdown-menu pull-right">
                  		#if($exportar_csv_on && $exportar_csv_on == "1")
                  			#if($!EXPORTACOES)
										<!-- <li><a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Exportar PDF </a></li> -->
										<li class="bleed-divider"><a href="$context/rest/idioma/exportar"><i class="fa fa-file-excel-o"></i> Exportar CSV </a></li>
									#end
								#end
								<li class="bleed-divider"><a class="refresh-cadastro"><i class="fa fa-refresh"></i> Atualizar</a></li>
								<li><a class="table-view"><i class="fa fa-align-justify"></i> Ver Tabela</a></li>
								<li><a class="grid-view"><i class="fa fa-th"></i> Ver Grid</a></li>
							</ul>
						</div>
					</div>
				</div>
            <div class="portlet-body">
            	<!-- TABELA VIEW -->
					<div class="clearfix view-tabela">
		               	<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed">
		                  	<thead>
		                     	<tr>
									<th>Nome</th>
									<th style="width: 20%; min-width: 100px;">Código</th>
		                    		<th style="width: 10%; min-width: 100px;">Detalhes</th>
		                   		</tr>
		                   	</thead>
		                   	<tbody></tbody>
						</table>
						<div class="paginaAtual" data-page="-1"></div>
					</div>
                     
               <!-- GRID VIEW -->
					<div class="clearfix view-grid">
						<ul class="listaHorizontal clearfix quatroColunas"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalIdioma" role="dialog" aria-labelledby="modalIdioma" tabindex="-1">
	<div class="modal-dialog" role="document">
		<form id="formIdioma">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title"><span class="fa fa-language"></span>&nbsp; Cadastrar Idioma</h4>
      			</div>
	      		<div class="modal-body">
					<input type="hidden" value="" name="idIdioma" id="idIdioma">
					<input type="hidden" value="" name="idIdiomaCategoria" id="idIdiomaCategoria"> 
					<div class="form-group">
						<label for="nomeIdioma" class="control-label">Nome</label>
						<input type="text" autofocus class="form-control input-sm" id="nomeIdioma" name="nomeIdioma" maxlength="80" placeholder="">
					</div>
					<div class="form-group">
						<label for="nome" class="control-label">Código</label>
						<input type="text" class="form-control input-sm" id="codigo" name="codigo" maxlength="50" placeholder="">
					</div>
					<div class="form-group">
						<label class="control-label">Ícone</label>
						<input class="form-control" type="hidden" name="icone" id="icone" />
						<div class="idioma-selected-icon clearfix"></div>
						<hr />
						<div id="accordion-idioma-icones">
							<h3>Ícones disponíveis</h3>
							<div>
								<div class="clearfix idiomas-disponiveis"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default clearFormIdioma min-width" data-dismiss="modal">Cancelar</button>
	        		<button type="submit" class="btn btn-primary min-width" id="salvarIdioma">Salvar</button>
	   			</div>
			</div>
		</form>
	</div>
</div>
<script>
var dTable = null,
	_idiomas = [{ name: 'Português (Brasil)', className: 'pt-br' }, { name: 'Espanhol', className: 'es' }, { name: 'Inglês (US)', className: 'en-us' }];

function idiomasDisponiveis(){
	var conteudo = '';
	for(var i = 0, len = _idiomas.length; i < len; i++){
		conteudo += '<div class="idioma '+_idiomas[i].className+'" data-code="'+_idiomas[i].className+'" data-idioma="'+_idiomas[i].name+'" title="'+_idiomas[i].name+'" data-toggle="tooltip">'
			conteudo += '<i class="lg '+_idiomas[i].className+'"></i>';
		conteudo += '</div>';
	}
	
	$('.idiomas-disponiveis').append(conteudo);
	$('[data-toggle="tooltip"]').tooltip({ html: true, placement: 'bottom' });
}

$("#accordion-idioma-icones").accordion({ collapsible: true, heightStyle: "content" });

function confirmationConfig() {
	$('button[aria-describedby*="confirmation"]').confirmation('hide');
	setTimeout(function() {
		$("[data-toggle=confirmation]").confirmation({
			singleton : true,
			container : '.table',
			btnOkClass : 'btn btn-sm btn-success',
			btnCancelClass : 'btn btn-sm btn-danger',
			popout : true,
			btnOkLabel : 'Sim',
			btnCancelLabel : "Não"
		});
	}, 500);
}

$('.table').on('page.dt', function() {
	confirmationConfig();
});

$('.table').on('order.dt', function() {
	confirmationConfig();
});

$('.table').on('search.dt', function() {
	confirmationConfig();
});

$('.table').on('length.dt', function() {
	confirmationConfig();
});

function loadIdiomas(){
	ajaxGet("$context/rest/idioma", null, beforeSend, success);
	
	function beforeSend(idiomas) {
		$(".paginaAtual").show();
	}
	
	function success(idiomas) {
		localStorage.setItem('idiomas', JSON.stringify(idiomas));
		var conteudo = "";
		var conteudoGrid = "";
		for(var i in idiomas.idiomas) {
			var campo = idiomas.idiomas[i];
			conteudo += createTable(campo);
			conteudoGrid += createGrid(campo);
		}
		
		if(idiomas.length == 0){
			conteudoGrid = "<label class='empty text-center clearfix'>Nenhuma idioma cadastrada!</label>";
		}
		
		if (dTable != null) {
			$(".table > tbody").empty();
			dTable.clear();
			dTable.destroy();
		}
		
		$(".table > tbody").append(conteudo);
		dTable = loadTable();
		$(".view-grid .listaHorizontal").empty().append(conteudoGrid);
		$(".paginaAtual").hide();
	}
}

function updateGridItem(campo){
	var gridItem = $('.listaHorizontal').find('li[data-id="'+campo.id+'"]');
	gridItem.find('.blue').text(campo.nome);
	gridItem.find('.removerCampo').attr('data-name', campo.nome);
}

function createGrid(campo){
	var conteudoGrid = '<li data-id="'+campo.id+'">';
			conteudoGrid += '<div class="clearfix">';
				conteudoGrid += '<div class="configItem"><i class="icones ico-configLista"></i><div class="popMenu bottom"><ul>';
					conteudoGrid += '<li><a class="editarCampoGrid" data-id="'+campo.id+'" data-icone="'+campo.icone+'" data-codigo="'+campo.codigo+'" data-toggle="modal" data-target="#modalIdioma">Editar idioma</a></li>';
					conteudoGrid += '<li><a class="removerCampo" data-id="'+campo.id+'" data-name="'+campo.nome+'" ">Remover idioma</a></li>';
				conteudoGrid += '</ul></div></div>';
				conteudoGrid += '<a href="$context/pages/mural.htm?idioma='+campo.id+'" class="font-blue">'+campo.nome+'</a>';
			conteudoGrid += '</div>';
		conteudoGrid += '</li>';
		return conteudoGrid;
}

function createTable(campo){
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'">';
		rTable += "<td>"+campo.nome+"</td>";
		rTable += "<td>"+campo.codigo+"</td>";
		rTable += "<td align='center'>";
			rTable += '<button class="editarCampo btn btn-outline green-sharp  uppercase" data-id="'+campo.id+'" data-icone="'+campo.icone+'" data-codigo="'+campo.codigo+'" data-toggle="modal" data-target="#modalIdioma"><i class="fa fa-edit"></i></button>';
			rTable += '<button data-id="'+campo.id+'" class="apagar btn btn-outline red-mint  uppercase" data-toggle="confirmation" data-placement="top" data-original-title="Confirma deletar?" title=""><i class="fa fa-trash"></i></button>';
		rTable += "</td>";
	rTable += "</tr>";
	return rTable;
}
		
		
var success  = function(data) {
	if(data.status == "ERROR"){
		toastr.error(data.message);
		$('#salvarIdioma').html('Salvar');
		return;
	}
	
	if(data.entity) {
		loadIdiomas();
		toastr.success(data.message);
		clearFormIdioma();
	}
};

$(document).ready(function(){
	$('.btn-add').click(function(){
		clearFormIdioma();
	});
	
	idiomasDisponiveis();
	
	loadIdiomas();
	
	$('body').on('click', '.idiomas-disponiveis .idioma', function(){
		var idioma = {
			name: $(this).data('idioma'),
			code: $(this).data('code')
		};
		
		var clone = $(this).clone();
		$('.idioma-selected-icon').html(clone);
		$('#icone').val($(this).data('code'));
		$('.idiomas-disponiveis .idioma').removeClass('active');
		$(this).addClass('active');
	})
	
	$(".refresh-cadastro").click(function(e){
		e.preventDefault();
		loadIdiomas();
	});
	
	$('body').on('confirmed.bs.confirmation', '.apagar', function() {
		var id = $(this).attr('data-id');
		if(id) {
			httpDelete("$context/rest/idioma/" + id, function(data){
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-spinner fa-spin").addClass("fa-trash");
				if(data.status != "ERROR"){
					dTable.row($('tr[data-id="'+id+'"]')).remove().draw(false);
					$('li[data-id="'+id+'"]').remove();
					toastr.success(data.message);
				} else {
					toastr.error(data.message);
					$('#salvarIdioma').html('Salvar');
				}
			}, null, function(){
				$("button[data-id=" + id + "].apagar").find("i").removeClass("fa-trash").addClass("fa-spinner fa-spin");
			});
		}
	});

	$('body').on('click', ".editarCampo", function(e) {
		var id = $(this).attr('data-id'),
			nome = $('tr[data-id=' + id + ']').find("td").eq(0).text(),
			icone = $(this).data('icone'),
			codigo = $(this).data('codigo');
		
		clearFormIdioma();
		
		if(id) {
			$("#idIdioma").val(id);
			$("#nomeIdioma").val(nome).text(nome);
			$('#icone').val(icone);
			$('#codigo').val(codigo);
			$('body').find('.idiomas-disponiveis .idioma[data-code="'+icone+'"]').click();
		}
	});
		
	$('body').on('click', '.editarCampoGrid', function(){
		var id = $(this).attr('data-id'),
			nome = $('.listaHorizontal li[data-id="'+id+'"] .clearfix > a').text(),
			icone = $(this).data('icone'),
			codigo = $(this).data('codigo');
		
		clearFormIdioma();
		
		if(id) {
			$("#idIdioma").val(id);
			$("#nomeIdioma").val(nome).text(nome);
			$('#icone').val(icone);
			$('#codigo').val(codigo);
			$('body').find('.idiomas-disponiveis .idioma[data-code="'+icone+'"]').click();
		}
	});
		
		
	$('body').on('click', '.removerCampo',function(e){
		var id = $(this).attr('data-id');
		var name = $(this).attr('data-name');
		jConfirm("Deseja realmente remover a idioma '<b>"+name+"</b>'?", "Atenção", "deletar", function(response){
			if(response){
				httpDelete("$context/rest/idioma/" + id, function(data){
					if(data.status != "ERROR"){
						dTable.row($('tr[data-id="'+id+'"]')).remove().draw(false);
						$('li[data-id="'+id+'"]').remove();
						
						if($('.listaHorizontal').children().length == 0){
							$('.listaHorizontal').append("<label class='empty text-center clearfix'>Nenhuma idioma cadastrada!</label>");
						}
						toastr.success(data.message);				
					} else {
						toastr.error(data.message);
						$('#salvarIdioma').html('Salvar');
					}
				});
			}
		});
	});
});

$(document).on('shown.bs.modal', '.modal', function() {
	$(this).find('[autofocus]').focus();
});

$(".clearFormIdioma").click(function() {
	clearFormIdioma();
});

function clearFormIdioma() {
	$("#modalIdioma").modal('hide');
	$('#formIdioma')[0].reset();
	$("#idIdioma, #codigo, #icone").val("");
	$('.idiomas-disponiveis .idioma').removeClass('active');
	$('.idioma-selected-icon').empty();
	$('#formIdioma').find('.form-group').removeClass('has-error').removeClass('has-success');
	$('#salvarIdioma').html('Salvar');
}

var idiomaValidate = jsValidator({
	form: '#formIdioma',
	useTab: false,
	rules: {
		nomeIdioma: {
           	minlength: 2,
            required: true
        },
        icone: {
        	required: true
        }
    },
    success: function(form) {
    	$('#salvarIdioma').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
    	var params = {
			nome: $("#modalIdioma").find("#nomeIdioma").val(),
			codigo: $("#modalIdioma").find("#codigo").val(),
			icone: $("#modalIdioma").find("#icone").val()
		}
    	
    	if($("#idIdioma").val() != ''){
    		params.id = parseInt($("#idIdioma").val());
    	}
    	
   		if(params.id) {
    		httpPut("$context/rest/idioma", params, success);
    	} else {
    		httpPost("$context/rest/idioma", params, success);
    	}
   		loadIdiomas();
    }
});
</script>
#parse("/msg.htm")