<div class="page-content">
	<h3 class="page-title">Cadastro de parâmetros mobile $!empresa.nome <small> realiza o cadastro de parâmetros para o mobile da empresa $!empresa.nome</small></h3>
	
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Cadastros</span> <i class="fa fa-angle-right"></i></li>
			<li><span>Mobile</span></li>
		</ul>
	</div>
	<div class="row content">
		<div class="col-md-12">
			<div class="profile-content">
				<div class="row">
					<div class="col-md-12">
						<div class="portlet light">
							<!-- Menu tabs -->
							<div class="portlet-title tabbable-line">
								<div class="caption font-dark">
									<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-briefcase"></i> Configurações do Mobile </span>
								</div>
								<ul class="nav nav-tabs">
									<li class="active"><a href="#configuracoes" data-toggle="tab">Configurações</a></li>
									<li><a href="#menus" data-toggle="tab">Menu</a></li>
									<li><a href="#parametros" data-toggle="tab">Parâmetros</a></li>
								</ul>
							</div>
							<!--/ Menu tabs -->
							
							
							<div class="portlet-body clearfix">
								<div class="tab-content">
									<div class="tab-pane active fade in" id="configuracoes">
										#parse("cadastro/includes/configuracoesMobile.htm")
									</div>
									<div class="tab-pane fade " id="menus">
										#parse("cadastro/includes/menuMobile.htm")
									</div>
									
									<div class="tab-pane fade in" id="parametros">
										#parse("cadastro/includes/parametrosMobile.htm")
									</div>
									
								</div>
							</div>
							<!--<div class="clearfix text-right">-->
								<!--<div class="margin-top-10">-->
									<!--<a href="$context/root/empresas.htm" class="btn btn-default min-width"> Cancelar </a>-->
									<!--<button type="submit" class="btn btn-primary min-width btn-salvar">Salvar</button>-->
								<!--</div>-->
							<!--</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>

<!-- modal success -->
<div class="modal fade" id="modalSuccess" role="dialog" aria-labelledby="modalSuccess" tabindex="-1">
	<div class="modal-dialog" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-list-alt"></span> Trialcode
					</h4>
				</div>
				<div class="modal-body text-center">
					<div class="clearfix modal-padding spinner-content">
	      			<div class="paginaAtual" data-page="-1"></div>
	      		</div>
					<div class="clearfix modal-padding success-content">
	      			<div class="uppercase profile-stat-title icon"><i class="fa fa-check fa-3x font-green-jungle" aria-hidden="true"></i></div>
	      			<h3>E-mail com o código trial enviado com sucesso!</h3>
	      		</div>
	      		<div class="clearfix modal-padding error-content">
	      			<div class="uppercase profile-stat-title icon"><i class="fa fa-exclamation-triangle fa-3x font-yellow-gold" aria-hidden="true"></i></div>
	      			<h3>Algo deu errado. Por favor, tente novamente</h3>
	      		</div>
     	      </div>
			</div>
		</form>
	</div>
</div>

<script>
function showIntegracaoURL(state){
	if(state){
		$('tr.tr-integracoes').show();
	}else{
		$('tr.tr-integracoes').hide();
	}
}

$(document).ready(function() {
		$('.minicolors-input').minicolors();
		
		function isChecked(element) {
			return $(element).is(':checked');
		}
		
		$('.salvarConfiguracoes').click(function(e) {
			e.preventDefault();
			var dataForm = {
				loginAutomatico : isChecked($('#loginAutomatico')),
				permiteLogout : isChecked($('#permiteLogout')),
				podePostar : isChecked($('#podePostar')),
				chatOn : isChecked($('#chatOn')),
				showWhatsNews : isChecked($('#showWhatsNews')),
				showAudienciaPost : isChecked($('#showAudienciaPost')),
				optionsMenu : isChecked($('#optionsMenu')),
				menuCategoria : isChecked($('#menuCategoria')),
                loginOffline : isChecked($('#loginOffline')),
                loginByPass : isChecked($('#loginByPass')),
			}
			
			jQuery.ajax({
				url: "$context/rest/v1/parametro/config/mobile/$!session.userInfo.empresaId",
				contentType: "application/json",
				type: "POST",
				data: JSON.stringify(dataForm),
				success: function(data) {
					if(data.status == "OK") {
						toastr.remove();
                        toastr.success(data.message);
					} else {
                        toastr.error(data.message);
					}
				},
				error: function(data) {
                    toastr.error("Não foi possível atualizar as configurações do mobile");
				}
			});
		});
	
	
	showIntegracaoURL($('#form_integracao_sistema_on').bootstrapSwitch('state'));
	
	$('#form_integracao_sistema_on').on('switchChange.bootstrapSwitch', function(event, state) {
		showIntegracaoURL(state);
	});
		
	var urlForm = $('form').attr('action');
	
	$('.btn-salvar').click(function(event){
		event.preventDefault();
		$('#form_salvar').click();
	});
	
	var dTable = null;
	
	function findParametros() {
		if(dTable != null) {
			$('#tableParametros tbody').empty();
			dTable.clear();
			dTable.destroy();
		}
		jQuery.ajax({
            url: urlContext + "/rest/v1/parametro/mobile/$!session.userInfo.empresaId",
            type: "GET",
            success: function(data) {
                if(data && data.length > 0) {
                    var conteudo = "";
                    for(var i in data) {
                        conteudo += createTr(data[i]);
                    }
                    $('#tableParametros tbody').append(conteudo);
                    dTable = dtTableUtils("#tableParametros");
                    confirmationConfig();
                }
            },
            error: function(data) {
                toastr.error("Não foi possível buscar os parametros");
            }
        });
	}
	
    

    function confirmationConfig() {
        $("[data-toggle=confirmation]").confirmation({
            container: '.table',
            btnOkClass: 'btn btn-sm btn-success',
            btnCancelClass: 'btn btn-sm btn-danger',
            popout: true,
            btnOkLabel: 'Sim',
            btnCancelLabel: "Não"
        });
    }
    
    function createTr(parametro) {
        var conteudo = '<tr>';
                conteudo += '<td>'+parametro.nome+'</td>';
                conteudo += '<td>'+parametro.valor+'</td>';
                conteudo += '<td align="center">';
                    conteudo += '<a  href="$context/cadastro/mobile.htm?actionLink=editar&value='+parametro.id+'&empresaId=$!session.userInfo.empresaId&tab=parametros" class="editarParametro btn btn-outline green-sharp  uppercase">';
                        conteudo += '<i class="fa fa-edit"></i>';
                    conteudo += '</a>';
                    conteudo += '<a href="$context/cadastro/mobile.htm?actionLink=delete&value='+parametro.id+'&empresaId=$!session.userInfo.empresaId" class="apagarParametro btn btn-outline red-mint  uppercase" ';
                            conteudo += 'data-toggle="confirmation" data-placement="top" ';
                            conteudo += 'data-id="'+parametro.id+'" ';
                            conteudo += 'data-original-title="Confirma deletar?" title="">';
                        conteudo += '<i class="fa fa-trash"></i>';
                    conteudo += '</a>';
                conteudo += '</td>';
        conteudo += '</tr>';
        return conteudo;
    }

						
	$('a[data-toggle="tab"]').click(function() {
		var tab = $(this).attr("href");
		
		if(tab == "#parametros") {
			findParametros();
		}
		
		setTimeout(function(){
			var firstInput = $(tab).find("input[type=text]:not(.minicolors-input)")[0];  
			if(firstInput){
				firstInput.focus();	
			}
		}, 200);
	});
						
	#if($tab)
		var tab1 = $('a[href="#$!tab"]');
		$('.nav.nav-tabs').find('li.active').removeClass('active');
		tab1.parent().addClass('active');
		$(".tab-pane").removeClass('active');
		$("#$tab").addClass('active');
		
		#if($tab == "parametros") 
			findParametros();
		#end
		
		
	#end

	var referencia = document.referrer;

	if (referencia.indexOf("projeto") != -1) {
		function activaTab(tab) {
			$('.nav-tabs a[href="#' + tab + '"]').tab('show');
		}
		;

		activaTab('parametros');
	}

	$(".bootstrap").bootstrapSwitch();

	pushOptions($('#form_pushOn').bootstrapSwitch('state'));

	$('#form_pushOn').on('switchChange.bootstrapSwitch',function(e, data) {
		pushOptions(data);
	});

	function pushOptions(data) {
		if (data) {
			$('#form_pushCheckboxOn').bootstrapSwitch('disabled', false);
			$('#form_pushCheckboxChecked').bootstrapSwitch('disabled', false);
		} else {
			$('#form_pushCheckboxOn').bootstrapSwitch('state', false).bootstrapSwitch( 'disabled', true);
			$('#form_pushCheckboxChecked').bootstrapSwitch('state', false).bootstrapSwitch('disabled', true);
		}
	}
	

}); //fim ready
	
</script>
#parse("/msg.htm")