<div class="page-content">
	<h3 class="page-title">Newsletter</h3>

	<div class="row content">
		<div class="col-md-12">
		
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; Cancelar inscrição</span>
					</div>
				</div>
				
				<div class="portlet-body text-center">
					<h4 class="header"></h4>
					<h5 class="title"></h5>
					#if($!id)
					</br>
					<div class="clearfix text-center">
						<button type="button" class="btn btn-default clearForm min-width cancelar" >Cancelar</button>
						<input type="submit" class="btn btn-primary min-width" id="unsubscribe" value="Sim" />
					</div>	
					#end
				</div>
			</div>
		</div>
	</div>
</div>



<script>
$(document).ready(function() {
	var idNewsletter = "$id";
	if(idNewsletter != ""){
		loadNewsletter(idNewsletter);
	}
	
	$("#unsubscribe").on("click", function(e){
		e.stopPropagation();
		httpPost("$urlNewsletter/unsubscribe", {"newsletter_id": $id, "usuario_id": $usuarioId}, function(){
			toastr.success('<b>Sucesso</b><br>Unsubscribe realizado com sucesso');
		});
	});
	$(".cancelar").on("click", function(){
		window.location.href= '$context/pages/mural.htm';
	});
	
});//fim doc.ready
function loadNewsletter(idNewsletter){
	if(idNewsletter){
		ajaxGet("$urlNewsletter/"+idNewsletter, null, function(){
			$('.spinner-blue').fadeIn();
		}, function(data){
			if(data){
				setTimeout(function(){
					$('.header').text('Você tem certeza de que não quer mais receber e-mails da newsletter');
					$('.title').text('de título: "'+data.titulo+'"?');
					$('.spinner-blue').fadeOut();
				}, 200)
			}else{
				$('.header').text('Newsletter não encontrada');
			}
		});
	}
}
</script>