<div class="page-content">
	<h3 class="page-title">
		#if($!usuario.id) $!usuario.nome #else Cadastro de Usuário #end
		<span class="botoesHeader noBorder">
			#if($!usuario.id && ($session.userInfo.id == $!usuario.id || $session.userInfo.admin))
		<span class="botoesHeader noBorder">
			<div class="actions">
				<div class="btn-group">
					<button class="btn blue btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						Ações <i class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu pull-right">
						<!-- <li>
							<a href="$context/cadastro/usuario.htm?actionLink=convidar&value=${usuario.id}" class="invite-user" data-id="$!usuario.id"><i class="fa fa-envelope-o"></i> Convidar Usuário</a>
						</li> -->
						#if($session.userInfo.admin)
							<li class="bleed-divider">
								<a data-toggle="modal" data-target="#modalSendPush"><i class="fa fa-flag-o"></i> Enviar Push</a>
							</li>
						#end
						#if($session.userInfo.admin && $!session.userInfo.id != $!usuario.id)
							<li class="bleed-divider">
								<a href="$context/cadastro/alterarSenha.htm?id=${usuario.id}" class=""><i class="fa fa-lock"></i> Alterar/Enviar Senha</a>
							</li>
							<li>
								<a class="delete-user" data-login="$!usuario.login" data-id="$!usuario.id"><i class="fa fa-trash"></i> Deletar Usuário</a>
							</li>
							#if($usuario.perfilAtivo == false)
							<li>
								<a href="$context/cadastro/usuario.htm?actionLink=ativar&value=${usuario.id}" class="activate-user" data-id="$!usuario.id"><i class="fa fa-check"></i> Ativar Usuário</a>
							</li>
							#else
							<li>
								<a href="$context/cadastro/usuario.htm?actionLink=desativar&value=${usuario.id}" class="deactivate-user" data-id="$!usuario.id"><i class="fa fa-user-times"></i> Desativar Usuário</a>
							</li>
							#end
						#else
							<li class="bleed-divider">
								<a href="$context/pages/alterarSenha.htm?id=${usuario.id}" class=""><i class="fa fa-lock"></i> Alterar Senha</a>
							</li>
						#end
						<li><a class="troca-usuario"><i class="fa fa-exchange"></i> Trocar Usuário</a></li>
					</ul>
				</div>
			</div>
		</span>
		#end
		</span>
	</h3>
	
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
				#if($ACESSO_CADASTROS && $!CADASTRAR_USUARIOS)
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
				#else
			<li><span>Sistema <i class="fa fa-angle-right"></i></span></li>
				#end
			#if($!session.userInfo.id == $!usuario.id)
				<li><span>Meus Dados</span></li>
			#else
				#if($!CADASTRAR_USUARIOS)
			<li><a href="$context/cadastro/usuarios.htm">Usuários</a> <i class="fa fa-angle-right"></i></li>
				#else
			<li><a href="$context/pages/usuarios.htm">Usuários</a> <i class="fa fa-angle-right"></i></li>
				#end
			<li><span>#if($!usuario.id) $!usuario.nome #else Usuário #end</span></li>
			#end
		</ul>
	</div>
	<div class="row content">
		<div class="col-md-12">
			${form.startTag()}
				#if($id)
					#parse("/include_usuario.htm")
				#else
					#parse("/include_novo_usuario.htm")
				#end
			${form.endTag()}
		</div>
	</div>
</div>
#parse("/modals/modal_enviar_push.htm")
#parse("/modals/modal_troca_usuario.htm")
<script>
var dTable = null;

$(".bootstrap").bootstrapSwitch();

$(document).ready(function(){
	$(".troca-usuario").click(function(e){
		$("#modalTrocaUsuario").modal('show');
	});

	#if(!$usuario.id)
		$('.btn-salvar').addClass('disabled');
	#end
	
	function confirmationConfig() {
		$('button[aria-describedby*="confirmation"]').confirmation('hide');
		setTimeout(function() {
			$("[data-toggle=confirmation]").confirmation({
				singleton : true,
				container : '.table-solicitacoes',
				btnOkClass : 'btn btn-sm btn-success',
				btnCancelClass : 'btn btn-sm btn-danger',
				popout : true,
				btnOkLabel : 'Sim',
				btnCancelLabel : "Não"
			});
		}, 500);
	}
	
	$('.table').on('page.dt', function() {
		confirmationConfig();
	});

	$('.table').on('order.dt', function() {
		confirmationConfig();
	});
	
	$('.table').on('length.dt', function() {
		confirmationConfig();
	});

	$('.table').on('search.dt', function() {
		confirmationConfig();
	});
					
	$('body').on('confirmed.bs.confirmation', '.aceitar-amizade', function() {
		var id = $(this).attr('data-id');
		var resposta = $(this).attr('data-resposta'); 
		var tr = $(this).closest('tr');
		if (id) {
			var obj = {
				amigoId: id,
				aprovar: resposta,
			};
			responderAmizade(obj, function(data){
				if(data.status == "OK"){
					toastr.success(data.message);
				}else{
					toastr.error(data.message);
				}
				
				setTimeout(function(){ location.reload(); }, 800);
			});
		}
	});
	
	#if($!mural_amizade_on && $!mural_amizade_on == 1)
		#if($!usuario.id)
			var usuarioId = "$!usuario.id";
			buscaAmizades(usuarioId);
			
			var showSolicitacoes = {
				isShowTab: true,
				isShowTable: true,
			};
			buscaSolicitacoesUsuario(usuarioId, showSolicitacoes);
		#end
	#end
	
	var fotoCapaUser = "$!usuario.urlFotoCapa";
	if(fotoCapaUser){
		var urlFoto = fotoCapaUser;
		if(urlFoto.substr(0,4).indexOf('img/') > -1) {
			urlFoto = urlContext + '/' + urlFoto;
		}
		$(".mural-header-photo").attr("src", urlFoto);
	}else{
		$(".mural-header-photo").attr("src", urlContext + "/img/capa.png");
	}
	
	$("#horaFechamento, #horaAbertura").pickatime({
		format : 'H:i',
		interval: 15,
		clear: 'Limpar',
		close: 'Fechar',
		container: '#form',
		onClose: function() {
			$(document.activeElement).blur();
		}
	});
	
	var cidadeSelecionada = [];
	#if($usuario.cidade)
		cidadeSelecionada.push({
    		id: "$!usuario.cidade.id",
    		nome: "$!usuario.cidade.nome"
		});
	#end
	
	cidadesTokenInput({
		element: '#id-cidade',
		url: urlContext + "/ws/cidades.htm?mode=json&form_name=form&maxRows=10&estado="+$('#form_estado option:selected').val(),
		tokenLimit: 1,
		prePopulate: cidadeSelecionada,
		onAdd: function(item){
			$("#form_cidade").val(item.id);
			validateForm($("form#form"));
		},
		onDelete: function(item){
	      $("#form_cidade").val('');
	      validateForm($("form#form"));
		}
	});
	
	$("#form_estado").change(function(){
		var estado = $(this).val();
		if(estado == ""){
			$("#form_cidade").html('<option value="">- Selecione -</option>').trigger('update');
			return false;
		}
		
		cidadeSelecionada = [];
		
		$('#id-cidade').tokenInput('clear');
		$('.campoPost.cidade').find('ul.token-input-list').remove();
		$("#form_cidade").val('');
		
		cidadesTokenInput({
			element: '#id-cidade',
			url: urlContext + "/ws/cidades.htm?mode=json&form_name=form&maxRows=10&estado="+$('#form_estado option:selected').val(),
			tokenLimit: 1,
			onAdd: function(item){
				$("#form_cidade").val(item.id);
				validateForm($("form#form"));
			},
			onDelete: function(item){
		      $("#form_cidade").val('');
		      validateForm($("form#form"));
			}
		});
	});
	
	var getUrlFilterArea = function() {
	    var queryParams = "diretoria="+$("#form_diretoria").val();
	    queryParams += "&dir_exec=" + $("#form_diretoria").val();
	    return urlContext + "/rest/v1/area/filtro?" + queryParams;
	}
	
	var areaSelecionada = [];
	#if($usuario.area)
		areaSelecionada.push({
	    	id: "$!usuario.area.getId()",
	    	nome: "$!usuario.area.getNome()",
	    	codigo : "$!usuario.area.getCodigo()"
    	});
	#end
	
	areasTokenInput({
		element: "#form_area",
		url: getUrlFilterArea,
		queryParam: "nome",
		jsonContainer: null,
		propertyToSearch: "nome",
	   tokenLimit: 1,
	   prePopulate: areaSelecionada,
	   onAdd: function(item) {
			$("#form_area").val(item.id);
			if(jsUtils.isNotEmpty(item.diretoria)) {
			    if(jsUtils.isNotEmpty(item.diretoria.diretoriaExecutiva)) {
					diretoriaExec(item.diretoria.diretoriaExecutiva);
			    }
			}
	   },
	   onDelete: function(item){
		   $("#form_area").val("");
	   }
	});
	
	var diretoriaSelecionada = [];
	#if($usuario.diretoria)
		diretoriaSelecionada.push({
	    	id: "$!usuario.diretoria.getId()",
	    	nome: "$!usuario.diretoria.getNome()",
	    	codigo : "$!usuario.diretoria.getCodigo()"
    	});
	#end
	
	diretoriasTokenInput({
		element: "#form_diretoria",
		url: urlContext + "/rest/v1/diretoria/filtro/",
		queryParam: "nome",
		jsonContainer: null,
		propertyToSearch: "nome",
	   tokenLimit: 1,
	   prePopulate: diretoriaSelecionada,
	   onAdd: function(item) {
			$("#form_diretoria").val(item.id);
	   },
	   onDelete: function(item) {
			$("#form_diretoria").val("");
	   }
	});
	
	/*gruposOrigem autocomplete*/
	var arrayGrupos = [];
	
	/*grupos autocomplete*/
	#foreach($grupo in $grupos)
		arrayGrupos.push({
				"id": "$grupo.id",
				"nome": "$grupo.nome"
				#if($campos.isCampoReadyOnly("grupos") || !$session.userInfo.isAdmin())
					,"readonly":true
				#end
			});
	#end
	
	function getGruposURL(){
		return urlContext+"/ws/gruposAutoComplete.htm?mode=json&form_name=form&search_all=1&not_grupo_ids="+$("#form_ids").val()+"&user_id="+userId; 
	}
	
	if($("#form_grupo").length > 0){
		gruposTokenInput({
			element: "#form_grupo",
			url: getGruposURL,
			hintText: "Comece a digitar para buscar.",
			noResultsText: "Nenhum item encontrado",
			searchingText: "Carregando...",
			prePopulate: arrayGrupos,
			onSend: function(req) {
				req.data.not_grupo_ids = $("#form_ids").val();
				req.data.fisico = 1;
			},
			onAdd: function (item) {
				var ids = $("#form_ids").val();
				$("#form_ids").val(ids+" "+item.id+",");
	   	},
			onDelete: function (item) {
				var idRemove = item.id+",";
		        var ids = $("#form_ids").val();
		        ids = ids.replace(idRemove,"");
		        $("#form_ids").val(ids);
			},
			resultsFormatter: function(item){
           	if(item.urlFotoThumb){
           		var grupoImg = item.urlFotoThumb;
					if(grupoImg){
						if(grupoImg.substr(0,4).indexOf('img/') > -1) {
							grupoImg = urlContext + '/' + grupoImg;
						}
					}else{
						grupoImg = urlContext + "/imagens/bg_grupo_thumb.jpg";
					}
					
           		return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='" + grupoImg + "' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Usuários: " + item.countUsers + "</p></div></li>"	
           	}else{
           		return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='$context/img/grupo.jpg' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Usuários: " + item.countUsers + "</p></div></li>"
           	}
        	}
		});
		
		#if($campos.isCampoReadyOnly("grupos") || !$!CADASTRAR_USUARIOS)
			$("#token-input-form_grupo").attr("disabled", "disabled");
		#end
		#if($!form.fields.ids.error)
			$("#token-input-form_grupo").closest(".token-input-list").addClass("error");
		#end
	}

	uploadImage('.btn-fotoUser', {
		onSubmit: function(files){
			$(".clearfix.profile-userpic").append('<i class="icones ac_loading"></i>');
		},
		onSuccess: function(files,data,xhr){
			if(data && data.file){
				$(".clearfix.profile-userpic").find('.icones.ac_loading').remove();
				$(".user-photo-container a.centraliza").find('img').attr("src", data.file.urlThumb);
				$("#form_arquivoFotoId").val(data.file.id);
				$(".mt-overlay").css("opacity","0");
				var usuarioId = "$id";
				if(usuarioId) {
					jsHttp.post("$context/rest/usuario/uploadImagem?fotoId=" + data.file.id + "&usuarioId=" + usuarioId + "&tipo=fotoProfile", {
				        success: function( data ) {
				        }
					});
				}
			} else if(data && data.mensagem){
				toastr.info(data.mensagem.mensagem);
			}
		},
		onError: function(files,data,errMsg){	
			$(".trocaFotoUser .icones.ac_loading").remove();
			jAlert("Falha no Upload", 'Atenção.', null);
		}
	});
	
	uploadImage('.btn-fotoCapaUser', {
		onSubmit: function(files){
			$(".clearfix.profile-userpic").append('<i class="icones ac_loading"></i>');
		},
		onSuccess: function(files,data,xhr){
			if(data && data.file){
				$(".clearfix.profile-userpic").find('.icones.ac_loading').remove();
				$(".clearfix.profile-userpic ").find('img.mural-header-photo').attr("src", data.file.urlThumb);
				$("#form_arquivoFotoCapaId").val(data.file.id);
				$(".mt-overlay").css("opacity","0");
				
				var usuarioId = "$id";
				if(usuarioId) {
					jsHttp.post("$context/rest/usuario/uploadImagem?fotoId=" + data.file.id + "&usuarioId=" + usuarioId + "&tipo=capa", {
				        success: function( data ) {
				        }
					});
				}
			} else if(data && data.mensagem){
				toastr.info(data.mensagem.mensagem);
			}
		},
		onError: function(files,data,errMsg){	
			$(".trocaFotoUser .icones.ac_loading").remove();
			jAlert("Falha no Upload", 'Atenção.', null);
		}
	});
	
	$(".mt-overlay").mouseenter(function(e){
		$(".mt-overlay").removeAttr("style");
	});
	
	var x = $('[required="required"]').length;
	var campos = {};
	
	$('[required="required"]').each(function(){
		var n = $(this).attr('name');
		campos[n] = {
			required: true
		}
	});
	
	var validator = jsValidator({
		form: 'form',
		rules: campos,
		success : function(form) {
			$('.btn-salvar').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
			form.submit();
		}
	});
	
	$(".profile-sidebar-portlet > .profile-usermenu > .nav > li").click(function(e){
		$(this).addClass("active");
		$(".profile-sidebar-portlet > .profile-usermenu > .nav > li").not(this).removeClass("active");
		
		if($(".profile-sidebar-portlet > .profile-usermenu > .nav > li.dashboard").hasClass("active")){
			$(".portlet.light.notifies").fadeIn();
			$(".portlet.light.form").hide();
		}else if($(".profile-sidebar-portlet > .profile-usermenu > .nav > li.dados").hasClass("active")){
			$(".portlet.light.form").fadeIn();
			$(".portlet.light.notifies").hide();
		}
		
	});
	
	var referencia = jQuery(location).attr("href");

	if (referencia.indexOf("notifications") != -1) {
		$(".dashboard").trigger("click");
	} else {
		$(".dados").trigger("click");
	}
	
	var filtro = getFiltro();
	
	$('body').on('click', '.delete-user', function(e){
		var userId = $(this).attr('data-id'), userLogin = $(this).attr('data-login');
		swal({
			title: "Atenção!",
			text: "Você deseja mesmo deletar o usuário <b>"+userLogin+"</b>?",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#D91E18",
			confirmButtonText: "Deletar",
			cancelButtonText: "Cancelar",
			showLoaderOnConfirm: true,
		}).then(function () {
			jsHttp.delete("$context/rest/usuario/" + userId, {
				success: function(data) {
					if(data.status != "ERROR"){
						swal({
							type: "success",
							title: "Sucesso!",
							text: data.message,
						}).then(function () {
							location.href = '$context/cadastro/usuarios.htm';
						});
					} else {
						swal({
							type: "warning",
							title: "Ops...",
							text: data.message,
						}).then(function () {
							location.reload();
						});
					}
				},
				error: function(resp){
					swal("Ops...", data.message, "warning");
				}
			});
		});
	});
	
	var paramsNotifications = {
		data: { 
			user_id: SESSION.USER_INFO.USER_ID
		}, 
		isBadges: true, 
		isClear:true, 
		isScroll: true,
		isShowTabNotification: false,
		isFlipAnimation: true,
		isSpinner: true,
	};
	notifications.getNotifications(paramsNotifications);
	
	$(".deactivate-user").click(function(e){
		e.preventDefault();
		var id = $(this).attr('data-id');
		var href = $(this).attr("href");
		if (id) {
			jConfirm("Deseja mesmo desativar esse usuário?", "Atenção.", "deletar", function(r){
				if(r){
					window.location = href;
				}else{
					return false;
				}
			});
		}
	});
	
	$(".activate-user").click(function(e){
		e.preventDefault();
		var id = $(this).attr('data-id');
		var href = $(this).attr("href");
		if (id) {
			jConfirm("Deseja mesmo ativar esse usuário?", "Atenção.", null, function(r){
				if(r){
					window.location = href;
				}else{
					return false;
				}
			});
		}
	});
	
	$(".invite-user").click(function(e){
		e.preventDefault();
		var id = $(this).attr('data-id');
		if (id) {
			jConfirm("Deseja mesmo convidar esse usuário?", "Atenção.", null, function(r){
				if(r){
					window.location = window.location = "$context/cadastro/usuario.htm?id="+id;
				}else{
					return false;
				}
			});
		}
	});
	
	$("#form_expediente").on("change", function(){
		var val = $("#form_expediente option:selected").val();
		if(val == ""){
			$(".tabelaHorario tbody tr td > .holder").empty();
		}
	});
	
	$(".act-tab").click(function(e){
		e.preventDefault();
		$(".tabbable-line > ul.nav-tabs li:nth-child(2)").addClass("active");
		$(".tabbable-line > ul.nav-tabs li").not(":nth-child(2)").removeClass("active");
	});
	
	$('.btn-salvar').click(function(event){
		event.preventDefault();
		$("#form_salvar").click();
	});
	
	$("#form_salvar").click(function(e){
		if ($("#form_funcao").prop("selectedIndex") === 0) {
			e.stopPropagation();
			e.preventDefault();
			$("#form_funcao").parent("div").addClass("has-error");
		}
	});
	
	$("#form_funcao").change(function(){
		validateForm($("form#form"));
	});
	
	$('.form-control').blur(function(){
		validateForm($("form#form"));
	});
	
	$('.table').on('click', '.aprovar-amizade', function(){
		var id = $(this).attr('data-id');
		var obj = {
			amigoId: id,
			aprovar: true,
		};
		responderAmizade(obj);
	});
	
	$('.table-amizades').on('click', '.reprovar-amizade', function(){
		var id = $(this).attr('data-id');
		var obj = {
			amigoId: id,
			aprovar: false,
		};
		responderAmizade(obj);
	});
	
	$('body').on('click', '.desfazer-amizade', function(){
		var id = $(this).attr('data-id');
		var tr = $('.table-amizades > tbody').find('tr[data-id="'+id+'"]');
		if (id) {
			var obj = {
				amigoId: id,
				solicitacao: false
			};
			
			var callback = function(data){
				if(data.status != "ERROR"){
					dTable.row(tr).remove().draw(false);
				} else {
					toastr.error(data.message);	
				}
			}
			amizade(obj, callback);
		}
	});
	
	$('.tab-amigos').click(function(){
		dTable.clear();
		dTable.destroy();
		dTable = null;
		buscaAmizades(usuarioId);
	});
	
	$('.tab-solicitacoes').click(function(){
		dTable.clear();
		dTable.destroy();
		dTable = null;
		var showSolicitacoes = {
			isShowTab: false,
			isShowTable: true,
		};
		buscaSolicitacoesUsuario(usuarioId, showSolicitacoes);
	});
	
});//fim doc

var uploadImage = function(element, properties) {
	properties.url = urlContext + '/ws/uploadFile.htm';
	properties.method = "POST";
	properties.formData = {
			'dir': 'arquivos',
        	'descricao': '',
        	'tipo': '1',
        	'user_id': userId,
        	'mode': 'json',
        	'form_name': 'form'
    };
	properties.allowedTypes = "jpg,jpeg,gif,png,ico,bmp,webp";
	properties.fileName = "fileField";
	properties.showDelete = false;
	properties.showAbort = false;
	properties.maxFileSize = 1024*5120; //5mb,
	properties.dragDrop = false;
	properties.multiple = false;
	properties.uploadButtonClass = "btn default btn-file btn-outline";
	$(element).uploadFile(properties);
};

function getFiltro(){
	var filtro = {
			user_id: "$usuario.login",
			list: 1,
		};
	return filtro;
}

#if($!mural_amizade_on && $!mural_amizade_on == 1)
	
function buscaAmizades(usuarioId){
	jQuery.ajax({
		type: "GET",
		url: urlContext+"/rest/amizade/solicitacao/amigos/"+usuarioId,
		beforeSend: function(data){
			$('#tab_amigos').append('<div class="clearfix paginaAtual"></div>');
		},
		success: function(data){
			$('#tab_amigos').find('.paginaAtual').remove();
			if(data.status == "OK"){
				if(data.entity && data.entity.length > 0){
					$('.tab-amigos').removeClass('hidden');
					var conteudo = '';
					for(var i = 0; i < data.entity.length; i++){
						var solicitacao = data.entity[i];
						conteudo += '<tr data-id="'+solicitacao.id+'">';
							conteudo += '<td>';
								conteudo += '<a target="_blank" href="$context/usuario.htm?id='+solicitacao.id+'" class="sbold blue tooltipster" data-name="'+solicitacao.nome+'" data-img="'+
								solicitacao.urlFotoUsuarioThumb+'" data-nasc="'+solicitacao.dataNasc+'" data-since="'+solicitacao.dataCreated+'" data-cargo="'+solicitacao.funcao+'">'+solicitacao.nome+'</a>';
							conteudo += '</td>';
							conteudo += '<td>'+solicitacao.login+'</td>';
							conteudo += '<td>'+solicitacao.email+'</td>';
							conteudo += '<td class="col-xs-3 text-center link-column">';
								conteudo += '<a class="sbold font-red-mint desfazer-amizade" data-id="'+solicitacao.id+'">desconectar</a>';
							conteudo += '</td>';
						conteudo += '</tr>';
					}
					
					if (dTable != null) {
						$(".table-amizades > tbody").empty();
						dTable.clear();
						dTable.destroy();
					}
					
					$(".table-amizades > tbody").append(conteudo);
					dTable = loadTable();
					createTooltip($('.table-amizades > tbody > tr > td > a.tooltipster'));
				}
			}else{
				toastr.error(data.message);
			}
		},
		error: function(data){
			$('#tab_amigos').find('.paginaAtual').remove();
			toastr.error(data.message);
		}
	});
}

function buscaSolicitacoesUsuario(usuarioId, obj){
	jQuery.ajax({
		type: "GET",
		url: urlContext+"/rest/amizade/solicitacao/pendentes/"+usuarioId,
		beforeSend: function(data){
			$('#tab_solicitacoes').append('<div class="clearfix paginaAtual"></div>');
		},
		success: function(data){
			$('#tab_solicitacoes').find('.paginaAtual').remove();
			if(data.status == "OK"){
				if(data.entity && data.entity.length > 0){
					if(obj.isShowTab){
						$('.tab-solicitacoes').removeClass('hidden');
						$('.tab-solicitacoes').append('<span class="badge">'+data.entity.length+'</span>');
					}
					
					if(obj.isShowTable){
						var conteudo = '';
						for(var i = 0; i < data.entity.length; i++){
							var solicitacao = data.entity[i];
							conteudo += createTable(solicitacao);
						}
						
						if (dTable != null) {
							$(".table-amizades > tbody").empty();
							dTable.clear();
							dTable.destroy();
						}
						
						$(".table-solicitacoes > tbody").append(conteudo);
						dTable = loadTable();
						createTooltip($('.table-solicitacoes > tbody > tr > td > a.tooltipster'));
					}
				}
			}else{
				if(obj.isShowTable){
					toastr.error(data.message);
				}
			}
		},
		error: function(data){
			$('#tab_amigos').find('.paginaAtual').remove();
			toastr.error(data.message);
		}
	});
}

#end

function createTable(solicitacao){
	var rTable = '';
	rTable += '<tr data-id="'+solicitacao.id+'">';
		rTable += '<td>';
			rTable += '<a target="_blank" href="$context/usuario.htm?id='+solicitacao.id+'" class="sbold blue tooltipster" data-name="'+solicitacao.nome+'" data-img="'+
					solicitacao.urlFotoUsuarioThumb+'" data-nasc="'+solicitacao.dataNasc+'" data-since="'+solicitacao.dataCreated+'" data-cargo="'+solicitacao.funcao+'">'+solicitacao.nome+'</a>';
		rTable += '</td>';
		rTable += '<td>'+solicitacao.login+'</td>';
		rTable += '<td>'+solicitacao.email+'</td>';
		rTable += '<td class="col-xs-3 text-center notificacoes-aceitar-amizade not-list link-column">';
				rTable += '<a class="sbold font-green-sharp aceitar-amizade" data-id="'+solicitacao.id+'" data-resposta="true">aceitar</a>';
				rTable += '<button class="sbold font-red-mint aceitar-amizade" data-id="'+solicitacao.id+'" data-resposta="false" data-toggle="confirmation" data-placement="top" data-original-title="Confirma recusar?" title="">recusar</button>';
		rTable += '</td>';
	rTable += '</tr>';
	
	return rTable;
}

function validateForm(form){
	var inputsRequired = $(form).find("[required='required']");
	var counterInvalids = 0;
	$(inputsRequired).each(function (index, element) {
		if (element.validity.valid === false){
			$(element).closest(".form-group").addClass("has-error");
			counterInvalids++;
		} else {
			$(element).closest(".form-group").removeClass("has-error").addClass("has-success");
		}
	});
	if (counterInvalids === 0){
			$('.btn-salvar').removeClass('disabled');				
	} else {
			$('.btn-salvar').addClass('disabled');
	}
}
</script>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>