<div class="page-content">
	<h3 class="page-title"> Usuários <small> lista usuários cadastrados no Livecom. Esta página foi baseada no template <a href="http://www.keenthemes.com/preview/metronic/theme/admin_2_rounded/table_datatables_managed.html">Bootstrap - Managed Datatables</a></small></h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="$context/pages/mural.htm">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="$context/cadastro/cadastros.htm">Cadastros</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<span>Usuários</span>
			</li>
		</ul>
	</div>

	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
	            <div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase"><i class="fa fa-users"></i> Lista de Usuários</span>
					</div>
               <div class="actions">
						<a href="$context/cadastro/usuario.htm" class="btn sbold btn-primary"> Add
							<i class="fa fa-plus"></i>
						</a>
						#if($exportar_csv_on && $exportar_csv_on == "1")
							#if($!EXPORTACOES)
								<div class="btn-group">
									<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações
										<i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu pull-right">
										<!-- <li>
											<a href="javascript:;">
												<i class="fa fa-file-pdf-o"></i> Exportar PDF </a>
										</li> -->
										<li>
											<a href="$context/rest/usuario/exportar">
												<i class="fa fa-file-excel-o"></i> Exportar CSV </a>
										</li>
									</ul>
								</div>
							#end
						#end
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-bordered dataTable">
						<thead>
							<tr>
								<th>Foto</th>
								<th>ID</th>
								<th>Nome</th>
								<th>Login</th>
								<th>Cargo</th>
								<th>Grupo Origem</th>
								<th style="width: 80px;">Detalhes</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$('document').ready(function() {
	
	jQuery.alerts.dialogClass = 'boxAzul';
	
	AjaxServices.usuariosAutoComplete({
		user: SESSION.USER_INFO.USER_LOGIN,
 		wsVersion: wsVersion,
 		wstoken:SESSION.USER_INFO.USER_WSTOKEN
	}).done(function(data){
		if(data && data.list) {
 			var conteudo = '';
 			for(var i in data.list) {
 				var u = data.list[i];
 				conteudo += '<tr>';
 					conteudo += '<td align="center"><div class="fotoUsuario media"><a class="centraliza"><img src="'+u.urlFotoUsuario+'" alt="Foto do '+u.nome+'"/></a></div></td>';
 					conteudo += '<td  style="vertical-align:middle">' + u.id + '</td>';
 					conteudo += '<td  style="vertical-align:middle">' + u.nome + '</td>';
 					conteudo += '<td  style="vertical-align:middle">' + u.login + '</td>';
 					conteudo += '<td  style="vertical-align:middle">' + (u.funcao ? u.funcao : '--') + '</td>';
 					conteudo += '<td  style="vertical-align:middle">' + u.grupoOrigem.nome + '</td>';
 					conteudo += '<td style="vertical-align:middle" align="center">';
 						conteudo += '<a href="$context/cadastro/usuario.htm?id='+u.id+'" class="editarCampo btn btn-outline green-sharp  uppercase"><i class="fa fa-edit"></i></a>';
 					conteudo += "</td>";
 				conteudo += '</tr>';
 			}
 			loadTable(conteudo);
 			$('.formDados').show();
 		}
	});
});
</script>
#parse("/msg.htm")