/***** ALERTS *****/
#popup_overlay, .modal_overlay {
    z-index: 9998 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: #000 none repeat scroll 0 0;
    opacity: 0.4;
    display: block;
}

#popup_container{
    .charNum {
        position: absolute;
        right: 0;
        top: 65px;
        color: #e44c34;
        font-size: 12px;
        display: block;
        z-index: 2;
    }
}

#popup_container, .modal_container {
    width: 300px;
    position: absolute;
    background: #FFF;
    @include prefix(box-shadow, 0 0 4px 0 rgba(0, 0, 0, 0.4), webkit moz ms o);
    @include prefix(border-radius, 4px, webkit moz ms o);
    z-index: 9999 !important;
    top: 25% !important;
    left: 50%;
    @include transition(all 180ms ease-in-out);

    &.fundoUplaod {
        width: 50%;
        left: 50%;
        top: 40%;
        margin-left: -25%;
    }
}

#popup_title, .modal_title {
    font-size: 18px; color: #333; text-align: left; cursor: default; padding: 15px; border-bottom: 1px solid #EFEFEF;
}

#popup_message, .modal_message {
    color: #333; font-size: 14px; position: relative; word-wrap: break-word; float: left; clear: both; width: 100%;
    
    .labelCampo{ font-size: 14px; }

    textarea{ resize: none; }

	span{
		&.charNum{ right: 3px; top: 110px; }
	}
}

#popup_content, .modal_content { padding: 15px; font-size: 14px; margin-bottom: 0; display: block; clear: both; float: left; width: 100%; }

#popup_panel, .modal_panel { text-align: center; margin: 1em 0 0 0; text-align: right; float: right; clear: both; display: block; }

#popup_prompt, .popup_prompt { margin: .5em 0; }

#popup_prompt, #form_curriculo {
	position: relative;
	border: 1px solid #ccc;
	color: #323232;
	width: 100%;
	@include prefix(border-radius, 3px, webkit moz ms o);
	@include prefix(box-sizing, border-box, webkit moz ms o);
	padding: 4px 10px;
	font-size: 14px;
	font-weight: normal;

    &:focus{ @extend %input-focus; }
}

#popup_ok, .popup_ok, #popup_cancel, .popup_cancel{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    @include prefix(user-select, none, webkit moz ms o);
    background-image: none;
    border: 1px solid transparent;
    @include prefix(border-radius, 4px, webkit moz ms o);
    &:hover{ @include transition(all .3s); }
}

#popup_ok, .popup_ok {
    display: block; float: right; color: #fff; background-color: #337ab7; border-color: #2e6da4;
    &:hover{ color: #fff; background-color: #286090; border-color: #204d74; }
}

/* confirmar vermelho */
.deletar #popup_ok, .deletar .popup_ok {
    display: block; float: right; color: #fff; background-color: #e43a45; border-color: #e43a45;
    &:hover { color: #fff; background-color: #cf1c28; border-color: #c61b26; }
}

.popup_ok.noMarginTop { margin-top: 0; }

#popup_cancel, .popup_cancel {
    display: block; margin: 0; color: #333; background-color: #fff; border-color: #ccc; float: right; margin-right: 10px;
    &:hover{ color: #333; background-color: #e6e6e6; border-color: #adadad; }
}
.popup_panel { text-align: center; }