.campoPost {
	position: relative;
	clear: both;
	padding-bottom: 10px;
	min-height: 40px;
	color: #808080;
	font-size: 14px;
	opacity: 1;
	@include transition(all 0.5s);
	
	&.noHeight { min-height: 0; }
	&.form-group{ padding-bottom:0; }
	&.postInfo { min-height: inherit; }

	img{ @extend %hidden; }

	.input{
		position: relative;
		border: 1px solid #ccc;
		color: #323232;
		width: 100%;
		@include prefix(border-radius, 3px, webkit moz ms o);
		@include prefix(box-sizing, border-box, webkit moz ms o);
		padding: 4px 10px;
		font-size: 14px;
		font-weight: normal;

		&:not(#titulo){ height: 33px; }
		&.lupa { padding: 4px 10px 4px 30px !important; }
		&.noPadding{ @extend %no-padding; }
		&.icone { padding-left: 30px; min-height: 30px; }
		&.menor{ @extend %total-width; }
		&:focus{ @extend %input-focus; }

		.tokenEventos { width: 250px; }
	}

	.notifyText, .labelCampo{ @extend %inline; }
	.verTodos { float: right; cursor: pointer; @extend %no-hover-decoration; }
}