@import '_form-control';
@import '_inputs';
@import '_label-check';
@import '_campo-post';
@import '_input-holder';

form{
    &#form{ position: relative; }

    &#formImportacao { float: left; }
}

#form_sql { width: 100%; color: #5c5c5c; }

#form_dataPublicacao-button{ @extend %hidden; }

#form-buttons .buttons { text-align: center; }

#form_html{ height: 400px; width: 100%; max-width:100%; }

#form_template{ height: 350px; }

.center textarea, #form_file, #form_usuarios2{ width: 100%; }

textarea#logs { width: 100%; color: #808080; }

.campoObrigatorio {
	position: absolute;
	right: 4px;
	top: 3px;
	color: #0096d0;
	font-size: 14px;
	font-weight: normal;
	z-index: 10;

	&.relative {
		position: relative;
		right: auto;
		top: auto;
	}
}

.form-group.textCenter .ajax-file-upload {
	height: auto;
	width: auto;
	float: none;
	background: #1dba8c;
	font-size: 18px;
	border: 1px solid #1dba8c;
	padding: 10px 20px;
	color: #FFF;
	cursor: pointer;
	@include prefix(border-radius, 3px, webkit moz ms o);
	@include prefix(box-shadow, 0 1px 0 rgba(255, 255, 255, 0.5) inset, webkit moz ms o);
	display: inline-block;
	text-decoration: none;
	line-height: 22px;
	position: absolute;
	top: 50%;
	margin-top: -50px;
}