.inputHolder {
	@extend %relative;
	margin-left: 88px;
	
	> select{ height: 33px!important; }

	.input, .customSelect{ @include prefix(border-radius, 0 3px 3px 0, webkit moz ms o); }
	.input{
		&.primeiro{ @include prefix(border-radius, 3px 0 0 3px, webkit moz ms o); }
	}
}