.ver-inline-menu{
    @extend %no-padding; @extend %no-margin; list-style: none;
    li{
        position: relative; margin-bottom: 1px;

        a{
            font-size: 14px;
            font-weight: 300;
            color: #557386;
            display: block;
            background: #f0f6fa;
            border-left: solid 2px #c4d5df;
            @include multiple-transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
        }

        i{
            width: 37px;
            height: 37px;
            display: inline-block;
            color: #b9cbd5;
            font-size: 15px;
            padding: 12px 10px 10px 8px;
            margin: 0 8px 0 0;
            text-align: center;
            background: #e0eaf0!important;
        }

        &:hover{
            a { background: #e0eaf0; text-decoration: none; font-size: 14px; }
            i { color: #fff; background: #c4d5df!important; }
        }

        &.active{
            a, i{ color: #fff; background: #169ef4; text-decoration: none; }

            a { border-left: solid 2px #0c91e5; font-size: 14px; }

            i { background: #0c91e5!important; }

            &:after {
                content: '';
                display: inline-block;
                border-bottom: 6px solid transparent;
                border-top: 6px solid transparent;
                border-left: 6px solid #169ef4;
                position: absolute; top: 12px;
                right: -5px;
            }
        }
    }
}