<div class="page-content">
	<h3 class="page-title">$messages.get('senha.alterar.label')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			#if($!ACESSO_CADASTROS || $!CONFIGURACOES_AVANCADAS)
				<li><a href="$context/admin/sistema.htm">Sistema</a> <i class="fa fa-angle-right"></i></li>
			#else
				<li><span>Sistema</span> <i class="fa fa-angle-right"></i></li>
			#end
			<li><span>Alterar Senha</span></li>
		</ul>
	</div>
	
	${form.startTag()}
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
                   <span class="caption-subject font-blue sbold uppercase"><i class="fa fa-lock"></i> Alterar senha</span>
               </div>
				</div>
				<div class="portlet-body clearfix">
					<div class="col-md-8 col-md-offset-2 col-xs-12">
						<div class="form-group">
							<label class="labelCampo control-label" for="form_senhaAtual">$form.fields.senhaAtual.label:</label>
							<div class="campoPost">
								<span class="campoObrigatorio">*</span>
								$form.fields.senhaAtual
							</div>
						</div>
						<div class="form-group">
							<label class="labelCampo control-label" for="form_senhaNova">$form.fields.senhaNova.label:</label>
							<div class="campoPost">
								<span class="campoObrigatorio">*</span>
								$form.fields.senhaNova
							</div>
						</div>
						<div class="form-group">
							<label class="labelCampo control-label" for="form_confirmaSenha">Confirmar $form.fields.senhaNova.label:</label>
							<div class="campoPost">
								<span class="campoObrigatorio">*</span>
								$form.fields.confirmaSenha
							</div>
						</div>
					</div>
					<div class="col-md-12 resp-button">
						<button class="btn btn-primary min-width btn-salvar disabled">Alterar</button>
						$form.fields.alterar
					</div>
				</div>
			</div>
		</div>
	</div>
	${form.endTag()}
</div>
#parse("/msg.htm")
<script>
$('.input').on('keyup', function(){
	if(jQuery.trim($('#form_senhaAtual').val()) != '' && jQuery.trim($('#form_senhaNova').val()) != '' && jQuery.trim($('#form_confirmaSenha').val()) != ''){
		$('.btn-salvar').removeClass('disabled');
	}else{
		$('.btn-salvar').addClass('disabled');
	}
});

$('.btn-salvar').click(function(event){
	event.preventDefault();
	setTimeout(function(){
		if(jQuery.trim($('#form_senhaNova').val()) != jQuery.trim($('#form_confirmaSenha').val())){
			swal('Ops...', 'Nova senha e senha de confirmação não conferem.', 'error');
		}else{
			$('#form_alterar').trigger('click');	
		}
	}, 150);
});
</script>
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>