<div class="container-fluid">
	<div class="row fullHeight layoutBody">
		<div id="usersColumn" class="col-xs-4 col-md-4 fullHeight borderRight">
			<div class="row fullHeight">
				<!-- left menu para criar conversa -->
				<div class="absoluteFullposition  leftSideMenu collapseTransition">
					<h3>
						<button class="btn btn-small btvoltar">
							<i class="fa fa-arrow-left fa-lg"></i>
						</button>
						<span>Nova Conversa</span>
					</h3>
					<div class="input-group searchBox">
						<input type="text" id="buscarContatos" data-ng-model="searchUsers"
							data-ng-keyup="findUsers(searchUsers)" class="form-control"
							placeholder="Buscar Contatos" aria-describedby="basic-addon1">
						<i class="fa fa-search fa-lg form-control-feedback feedback-left"></i>
					</div>
					<div class="col-md-12 noPadding newHeightNewConversation scrollY">
						<ul class="list-group users fullHeight">
							<li class="list-group-item loading" data-ng-show="loaderNewUser">
								<div class="three-quarters-loader">Loading…</div>
							</li>
							<li class="list-group-item ng-cloak"
								data-ng-repeat="user in users"
								data-ng-click="newConversation(user)" data-ng-show="!loaderNewUser">
								<div class="col-xs-4 col-md-3 noPadding">
									<div class="fotoUsuario">
										<a class="centraliza"> 
										<img class="ng-cloak" data-ng-src="{{user.urlFotoUsuario}}" alt="" src="../img/placeholder_usuario.png" />
										</a>
									</div>
								</div>
								<div class="col-xs-8 col-md-9 noPadding">
									<span class="textEllipsis" ng-cloak>{{user.nome}}</span> 
									<span class="textEllipsis" ng-cloak>{{user.email}}</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- left menu para criar conversa -->

				<div class="topSections">
					<div class="col-md-12 noPadding fullHeight">
						<div class="col-xs-4 noPadding">
							<div class="fotoUsuario">
								<a class="centraliza">
								<img data-ng-src="{{chat.user.foto || '../img/placeholder_usuario.png'}}" ng-cloak alt="chat.user.nome" title="chat.user.nome" class="ng-cloak" />
								</a>
							</div>
						</div>
						<div class="col-xs-8 noPadding fullHeight">
							<ul class="nav nav-pills navTop">
								<li role="presentation">
									<a href="#" class="icons novaConversa" data-ng-click="findUsers()" data-toggle="tooltip" title="Nova Conversa" data-placement="auto">
										<i class="fa fa-plus fa-2x topIcons"></i>
									</a>
								</li>
								<li role="presentation">
									<a href="#" class=""><i class="fa fa-ellipsis-v fa-2x topIcons"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="input-group searchBox">
					<input type="text" data-ng-model="search.nome" class="form-control"
						placeholder="Buscar Conversa" aria-describedby="basic-addon1">
					<i class="fa fa-search fa-lg form-control-feedback feedback-left"></i>
				</div>

				<div class="col-md-12 noPadding newHeightUsers scrollY">
					<ul class="list-group users newHeightUsers">
						<li class="list-group-item loading" data-ng-show="loaderUser">
							<div class="three-quarters-loader">Loading…</div>
						</li>
						<li class="list-group-item ng-cloak"
							data-ng-repeat="c in chat.conversations | filter:search | infoUser "
							data-ng-click="talk(c)">
							<div class="col-xs-4 col-md-3 noPadding">
								<div class="fotoUsuario">
									<a class="centraliza"> 
										<img data-ng-src="{{c.foto || '../img/placeholder_usuario.png'}}" alt="" />
									</a>
								</div>
							</div>
							<div class="col-xs-8 col-md-9 noPadding">
								<span class="textEllipsis" data-ng-cloak>
									{{c.nome}} 
									<!-- <b class="userTyping">{{c.online == true ? 'online' : 'offline'}}</b> -->
								</span> 
								<span class="lastMsg" data-ng-cloak> 
									<span class="textEllipsis" data-ng-show="!c.typing">{{c.mensagens.slice(-1).pop().msg}}</span>
									<span class="textEllipsis userTyping">{{c.typing}}</span>
								</span>
							</div>
						</li>
					</ul>
				</div>

			</div>
		</div>
		<div id="chatColumn"
			class="col-xs-5 col-md-5 fullHeight fixWidth collapseTransition"
			data-ng-controller="chatController">
			<div class="loadHome" data-ng-show="loaderConversations">
				<div class="three-quarters-loader">Loading…</div>
			</div>
			<div class="row">
				<div class="topSections">
					<div class="col-md-8 col-xs-9 fullHeight">
						<div class="fotoUsuario floatLeft">
							<a class="centraliza"> 
								<img data-ng-src="{{chat.talk.conversation.foto || '../img/placeholder_usuario.png'}}" ng-cloak alt="" />
							</a>
						</div>
						<div class="infoConversation">
							<span class="nameConversation textEllipsis">
								<h4 data-ng-cloak>{{chat.talk.conversation.nome}}</h4>
							</span>
							<span class="statusUser textEllipsis" data-ng-cloak>
								{{chat.talk.conversation.online == true ? 'online' : 'offline'}}
							</span>
						</div>
					</div>
					<div class="col-md-4 col-xs-3 noPadding fullHeight">
						<ul class="nav nav-pills navTop">
							<li role="presentation">
								<a href="#">
									<i class="fa fa-paperclip fa-2x topIcons"></i>
								</a>
							</li>
							<li role="presentation" class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> 
									<i class="fa fa-ellipsis-v fa-2x topIcons"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#" class="openInfoChat">Informações do
											Contato</a></li>
									<li><a href="#">Informações</a></li>
									<li><a href="#">Informações</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 chatArea">
					<ul class="list-group listMsgs" data-userId="chat.user.id"
						data-scroll-glue="glued" data-scroll-is-top="carregar(chat.talk)"
						data-keep-scroll>
						<li class="clearfix list-group-item"
							data-ng-repeat="m in chat.talk.conversation.mensagens"
							data-ng-cloak data-scroll-item>
							<div class="bubble {{m.fromId | witchClass}}" data-msgIdFrom="{{m.fromId}}">
								<span class="atorMsg {{::m.grupoId ? '' : 'hidden' }}">{{::m.fromNome}}</span> 
								<span class="message">
									{{::m.msg}}
								</span> 
								<div class="statusTimeMsg">
									<span class="timeMsg" rel="{{::m.timestamp}}">
										{{::m.dataCreatedString}}
									</span>
									<span class="statusMsg {{m | chatStatusMsgClass}}"><i></i></span>
								</div>
							</div>
						</li>
						<!-- li class="list-group-item right">
							<div class="bubble right" data-msgIdFrom="">
								<span class="atorMsg">Daniel</span> 
								<span class="message">
									<a href="">
										<img src="../img/placeholder_usuario.png"/>
									</a>
								</span>
								<div class="statusTimeMsg">
									<span class="timeMsg" rel="1341341">
										ontem
									</span>
									<span class="statusMsg entregue"><i></i></span>
								</div>
							</div>
						</li -->
					</ul>
				</div>
			</div>
			<div class="row holdMsgArea">
				<div class="col-xs-10">
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Enviar uma mensagem" aria-describedby="basic-addon1"
							data-ng-model="chat.talk.conversation.message"
							data-ng-keyup="typing(chat.talk.conversation)"
							data-ng-enterkey="sendMessage(chat.talk.conversation)" /> 
					</div>
				</div>
				<div class="col-xs-2 fullHeight">
					<div class="holdButtonEnviar">
						<button class="btnEnviar" ng-click="sendMessage(chat.talk.conversation)" disabled="disabled">
							<i class="fa fa-send fa-2x"></i>
						</button>
					</div>
				</div>
			</div>


		</div>
		<div id="infoColumn" class="col-xs-3 col-md-3 fullHeight noPadding infoChat closed collapseTransition">
			<div class="topSections borderLeft">
				<h5>
					<button class="btn btn-small closeInfoChat">
							<i class="fa fa-close fa-2x"></i>
					</button>
					Informações Grupo ou Contato
				</h5>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(e) {
				
		$(".novaConversa").on("click", function(e) {
			e.stopPropagation();
			$(".leftSideMenu").css("left", "0");
			$("#buscarContatos").focus();
		});

		$(".btvoltar").on("click", function(e) {
			e.stopPropagation();
			$(".leftSideMenu").css("left", "-340px");//,"opacity":"0.4"}, 150);
		});

		$(".openInfoChat, .closeInfoChat").on("click", function(e) {
			e.stopPropagation();
			$("#infoColumn").toggleClass("closed");
			$("#chatColumn").toggleClass("fixWidth");
		});

		$('.dropdown-menu a').on('click', function(event) {
			$(".dropdown").toggleClass('open');
		});
		
		
		$("[data-toggle='tooltip']").tooltip();
		
		$('a').click(function(event){
		    event.preventDefault();
		});
		
		$("input").keyup(function(e){
			var obj = $(this);
			var btn = $(".btnEnviar");
			if(obj.val().length > 0){
				btn.attr("disabled", false);
			}else{
				btn.attr("disabled", true);
			}
		});
		
		/* //formata data
		$(".timeMsg").each(function(){
			var obj = $(this);
			var timestamp = parseInt(obj.attr("rel"),10);
			//var texto = obj.text();
			if(timeVerify(timestamp)){
				obj.timeago();
			}
			//obj.attr("title", texto);
		}); */
		
	});
</script>