<script>
function confirmationConfig() {
	$('button[aria-describedby*="confirmation"]').confirmation('hide');
	setTimeout(function() {
		$("[data-toggle=confirmation]").confirmation({
			singleton : true,
			container : '.table',
			btnOkClass : 'btn btn-sm btn-success',
			btnCancelClass : 'btn btn-sm btn-danger',
			popout : true,
			btnOkLabel : 'Sim',
			btnCancelLabel : "Não"
		});
	}, 500);
}


function createList(campo) {
	var conteudo = "";
	var tamanho = formatBytes(campo.length);
	var ext = campo.extensao.toLowerCase();
	var link = "";
	var url = campo.url;
	conteudo += '<li class="item" data-id="'+campo.id+'" data-extensao="'+ext+'" data-nome="'+campo.file+'" data-tamanho="'+tamanho+'">';
		conteudo += '<div class="clearfix">';
			conteudo += '<div class="acoesArquivo clearfix">';
				//conteudo += '<a href="#" class="tooltip-livecom" title="$messages.get('novo.post.com.arquivo.label')"><i class="icones ico-novoPost"></i></a>';
				conteudo += '<a href="'+ url + '" download="'+campo.file+'" class="bs-tooltip" title="$messages.get('download.label')" target="_blank"><i class="icones ico-download"></i></a>';
				//conteudo += '<a href="#" class="tooltip-livecom" title="$messages.get('compartilhar.label')"><i class="icones ico-compartilhar"></i></a>';
			#if($!CURTIR_PUBLICACAO)
				conteudo += '<a href="#" class="bs-tootlip" title="$messages.get('favoritar.label')" data-post="$!a.post.id" data-file="'+ campo.id + '" data-usuario="$session.userInfo.id" data-favorito="$fav"><i class="icones ico-favoritaArquivo"></i></a>';
			#end
			conteudo += '</div>';
			
			conteudo += '<div class="miniaturaArquivo">';
				if(ext != "png" && ext != "jpg" && ext != "gif" && ext != "jpeg" && ext != "bmp" && ext != "webp" && ext != "ico") {
					if(ext == "docx" || ext == "doc" || ext == "xls" || ext == "xlsx" || ext == "xlt" || ext == "csv" || ext == "ppt" || ext == "pptx") {
						link = 'https://docs.google.com/viewer?embedded=true&url='+url;
					} else {
						link = campo.url;
					}
					conteudo += '<a href="'+link+'" target="blank">';
					conteudo += '<span class="extensaoArquivo">.' + ext + '</span>';
					conteudo += '<img src="$context/img/custom_file.png"/>';
					conteudo += '</a>';
				} else {
					conteudo += '<a href="'+ url + '" class="fancybox" rel="galeriaArquivos"><img src="' + campo.urlThumb + '"/></a>';
				}
			conteudo += '</div>';
			
			conteudo += '<div class="nomeArquivo" title="' + campo.file +'">';
				conteudo += '<p>'+ campo.id + ' - '+  campo.file + '<span>('+ tamanho + ')</span></p>';
			conteudo += '</div>';
			
			conteudo += '<div class="infoArquivo ultimo clearfix ';
				if((campo.tags &&  campo.tags.length <= 0) && !(campo.post.titulo || campo.post.mensagem)) { 
					conteudo += ' noBorder ';
				}
				conteudo += '">';
				if(campo.usuario && campo.usuario.nome){
					conteudo += '<div class="fotoUsuario mini">';
						conteudo += '<a href="$context/usuario.htm?id='+ campo.usuario.id + '"><img src="'+ campo.usuario.urlFotoUsuario + '" alt="Foto do' + campo.usuario.nome + '" /></a>';
					conteudo += '</div>';
					conteudo += '<a href="$context/usuario.htm?id='+ campo.usuario.id + '" class="nomeUsuario">'+ campo.usuario.nome + '</a>';
				}
			conteudo += '</div>';
			
		conteudo += '</div>';
	conteudo += '</li>';
	
	$('ul.listaArquivos').append(conteudo);
}

function createTable(campo) {
	var rTable = "";
	rTable += '<tr data-id="'+campo.id+'">';
		rTable += "<td>" + campo.file + "</td>";
		rTable += '<td>';
			if(campo.usuario && campo.usuario.nome){
				rTable += campo.usuario.nome;
			}else{
				rTable += '--';
			}
		rTable += '</td>';
		rTable += "<td>" + formatBytes(campo.length)+"</td>";
		rTable += "<td> ." + campo.extensao+ "</td>";
		rTable += "<td align='center'>";
			rTable += '<button class="btn btn-outline blue-sharp  uppercase bs-tooltip previewFile" data-link="'+campo.url+'" data-name="'+campo.file+'" data-url="'+campo.url+'" data-ext="'+campo.extensao+'"  title="Preview" data-id="'+campo.id+'"><i class="fa fa-picture-o" aria-hidden="true"></i></button>';
			rTable += '<a class="btn btn-outline green-sharp  uppercase bs-tooltip" href="$context/pages/arquivo.htm?id='+campo.id+'"  title="Detalhes do arquivo" data-id="'+campo.id+'"><i class="fa fa-edit" aria-hidden="true"></i></a>';
			if(campo.usuario && campo.usuario.id){
				if(SESSION.USER_INFO.USER_ID == campo.usuario.id){
					rTable += '<button data-id="'
						+ campo.id
						+ '" class="apagar btn btn-outline red-mint uppercase" data-toggle="confirmation" data-placement="top" data-original-title="Confirma deletar?" title=""><i class="fa fa-trash"></i></button>';
				}
			}
		rTable += "</td>";
	rTable += "</tr>";
	
	return rTable;
}

var dTable = null;

var clearForm = function() {
	$("#upload").modal('hide');
	$('form')[0].reset();
	$(".ajax-file-upload-statusbar.alterarNome").remove();
}

function find(filtro) {
	jsHttp.get("$context/rest/v1/arquivo", {
		scroll: true,
		dataType: "json",
		data: filtro,
		beforeSend: function(data){
			$('.paginaAtual:not(.tabela)').show();
		},
		success: function(data) {
			var conteudo = "";
			for ( var i in data) {
				var campo = data[i];
				conteudo += createList(campo);
			}
			
			if(data[i] == 0 || data[i] == null && $("ul.listaArquivos li").length == 0){
				$(".muralVazio").show();
			}
			
			$('.paginaAtual:not(.tabela)').hide();
		}
	});
}

function tabelaArquivo(filtro) {
	jsHttp.get("$context/rest/v1/arquivo", {
		scroll: false,
		dataType: "json",
		data: {
			userId: filtro.userId,
			todos: filtro.todos,
			grupos: filtro.grupos,
			tags: filtro.tags,
			ordem: filtro.ordem
		},
		beforeSend: function(data){
			$(".paginaAtual.tabela").show();
		},
		success: function(data) {
			var conteudoTabela = "";
			for ( var i in data) {
				var campo = data[i];
				conteudoTabela += createTable(campo);
			}
			
			if(dTable != null) {
				$(".table > tbody").empty();
				dTable.clear();
				dTable.destroy();
			}
			
			dTable = loadTable(conteudoTabela);
			dTable.data(conteudoTabela).draw();
			$(".paginaAtual.tabela").hide();
			$('.bs-tooltip').tooltip({ html: true, container: 'body' });
		}
	});
}

function csv_to_html_table(urlArquivo){
	
	//csv_to_html_table
	init_table({
		csv_path: urlArquivo,
		//csv_path: 'usuarios.csv',
		element: 'table-container', 
		allow_download: true,
		csv_options: {separator: ';', delimiter: '"'},
		datatables_options: {"paging": true, "lengthMenu": [ 10, 25, 50, 75, 100, 150 ], "pageLength": 10, "oLanguage": oLanguage,}
	});
}

$(document).ready(function(){
	
	find(filtro);
	tabelaArquivo(filtro);
	
	$("#form_busca").keyup(function() {
		$('.listaArquivos').empty();
		filtro.texto = $(this).val();
		filtro.page = 0;
		find(filtro);
	});
	
	$("select").change(function(e) {
		$('.listaArquivos').empty();
		var grupos = $("#filtroGrupoArquivo").val();
		var tags = $("#filtroTagArquivo").val();
		var ordem = $("#sorts").val();
		
		filtro.tags = tags;
		filtro.grupos = grupos;
		filtro.ordem = ordem;
		filtro.page = 0;
		if(jsUtils.isNotEmpty(grupos) && jsUtils.isArray(grupos)) {
			filtro.grupos = grupos.join(", ");
		}
		
		if(jsUtils.isNotEmpty(tags) && jsUtils.isArray(tags)) {
			filtro.tags = tags.join(", ");
		}
		
		find(filtro);
	});
	
	$(".uploadArquivo").click( function(e){
		e.preventDefault();
		$("#upload").modal('show');
	});

	$(".fecharUploadModal").click( function(e){
		e.preventDefault();
		if($("#upload").find(".uploaderNovo .ajax-file-upload-abort:visible").length > 0){
			clearForm();
			toastr.error("$messages.get('msg.aguarde.upload.anexo.info')", "$messages.get('atencao.label')");
		}else if($("#upload").find(".inputAnexos").val()){
			
			$("#upload").modal('hide');
			toastr.success("$messages.get('msg.arquivos.enviados.success')", "$messages.get('atencao.label')");
			
			find(filtro);
			tabelaArquivo(filtro);
			clearForm();
			
		}else{
			clearForm();
		}
	}); 
	
	$("#form_MeusArquivos").click(function(e) {
		e.preventDefault();
		$("#form_Todos").removeClass("ativo");
		$('.listaArquivos').empty();
		$(this).addClass("ativo");
		filtro.page = 0;
		filtro.todos = false;
		find(filtro);
	});
	
	$("#form_Todos").click(function(e) {
		e.preventDefault();
		$("#form_MeusArquivos").removeClass("ativo");
		$('.listaArquivos').empty();
		$(this).addClass("ativo");
		filtro.page = 0;
		filtro.todos = true;
		find(filtro);
	});
	
	$('.table').on('page.dt', function() {
		confirmationConfig();
	});

	$('.table').on('order.dt', function() {
		confirmationConfig();
	});

	$('.table').on('search.dt', function() {
		confirmationConfig();
	});
	
	$('.table').on('length.dt', function() {
		confirmationConfig();
	});
	
	$('body')
		.on(
			'confirmed.bs.confirmation',
			'.apagar',
			function(e) {
				var id = $(this).attr('data-id');
				if (id) {
					httpDelete(
						"$context/rest/v1/arquivo/" + id,
						function(data) {
							if(data.status != "ERROR"){
								dTable.row( $('tr[data-id="' + id + '"]') ).remove().draw(false);
								$('li[data-id="'+ id +'"]').remove();
								toastr.success(data.message);	
							} else {
								toastr.error('<b>Atenção</b><br>'+data.message);
							}
						});
				}
		});
	
});
</script>
<div class="page-content">
	<h3 class="page-title">#if($paginaAtiva == "meusArquivos") $messages.get('meus.arquivos.label') #else $messages.get('todos.os.arquivos.label') #end</h3>
	
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			<li><span>Arquivos</span> <i class="fa fa-angle-right"></i></li>
			<li><span>#if($paginaAtiva == "meusArquivos") $messages.get('meus.arquivos.label') #else $messages.get('todos.os.arquivos.label') #end</span></li>
		</ul>
	</div>
	
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption caption-md">
						<span class="caption-subject font-blue bold uppercase"><i class="fa fa-file"></i>&nbsp;
						#if($paginaAtiva == "meusArquivos") $messages.get('meus.arquivos.label') #else $messages.get('todos.os.arquivos.label') #end</span>
					</div>
					<div class="actions">
						<div class="btn-group">
							<button class="btn blue  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ações
		               	<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right">
								<li class="bleed-divider"><a class="uploadArquivo"><i class="fa fa-paperclip fa-rotate-220" aria-hidden="true"></i> Anexar Arquivo</a></li>
								<li><a class="table-view"><i class="fa fa-align-justify"></i> Ver Tabela</a></li>
								<li><a class="grid-view"><i class="fa fa-th"></i> Ver Grid</a></li>
							</ul>
						</div>
               </div>
				</div>
				<div class="portlet-body">
					<!-- TABELA VIEW -->
					<div class="clearfix view-tabela">
						<table class="table table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed ellipsify">
	                  <thead>
	                      <tr>
	                          <th>Nome</th>
	                          <th>Criado por</th>
	                          <th>Tamanho</th>
	                          <th>Extensão</th>
	                          <th class="three-buttons">Detalhes</th>
	                      </tr>
	                  </thead>
	                  <tbody>
	                  </tbody>
	              </table>
	              <div class="paginaAtual tabela"></div>
					</div>
					
					<!-- GRID VIEW -->
					<div class="clearfix view-grid">
						<!-- FILTRO -->
						<div class="clearfix row">
							<div class="col-md-4 form-group">
								<label class="labelCampo">$messages.get('ordenar.label'):</label>
								<div class="campoPost">
									<select id="sorts">
										<option value="" selected>$messages.get('ordem.original.label')</option>
										<option value="nome" >$messages.get('nome.label')</option>
										<option value="length" >$messages.get('tamanho.label')</option>
										<option value="mimeType" >$messages.get('extensao.label')</option>
									</select>
								</div>
							</div>
							<div class="col-md-4 form-group">
								<label class="labelCampo">Grupo:</label>
								<select id="filtroGrupoArquivo" multiple="multiple">
									<option>Filtrar por grupo</option>
								</select>
							</div>
							<div class="col-md-4">
								<label class="labelCampo">Tag:</label>
								<select id="filtroTagArquivo" multiple="multiple">
									<option>Filtrar por tag</option>
								</select>
							</div>
						</div>
						<hr/>
						
						<!-- LISTA ARQUIVOS -->
						<div id="arquivosHolder">
							<ul class="listaHorizontal clearfix listaArquivos"></ul>
							<div class="muralVazio" style="display:none;">Nenhum resultado encontrado</div>
							<div class="paginaAtual" data-page="-1"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

<!-- UPLOAD  -->
<div class="modal fade" id="upload" role="dialog" aria-labelledby="modalArea" tabindex="-1">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-list-alt"></span> Adicionar Arquivos
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row contentModal">
								<div class="uploaderArquivos">
									<div class="uploaderNovo clearfix">
										<input type="hidden" id="anexosId" name="anexosId" class="inputAnexos" value=""/>
										<div class="multiplefileuploader tooltip-livecom" data-postId="" data-commentId="" data-msgId="" title="Inserir Anexo"></div>
									</div>
								</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary fecharUploadModal min-width">OK</button>
                </div>
            </div>
        </form>
    </div>
</div>

#parse("/modals/modal_preview_file.htm")

<div id="mascara"></div>

<script>
jsHttp.select2({
	element: "#filtroGrupoArquivo",
	url: "$context/ws/gruposAutoComplete.htm",
	term: "q",
	type: "POST",
	data: function (term) {
		return {
			q: term.term,
			wstoken: SESSION.USER_INFO.USER_WSTOKEN,
			wsVersion: 2,
			user_id: userId,
			form_name: 'form',
			mode: 'json'
		};
	}
});

jsHttp.select2({
	element: "#filtroTagArquivo",
	url: "$context/ws/tags.htm",
	term: "nome",
	type: "POST",
	data: function (term) {
		return {
			nome: term.term,
			wstoken: SESSION.USER_INFO.USER_WSTOKEN,
			wsVersion: 2,
			user_id: userId,
			form_name: 'form',
			mode: 'json'
		};
	}
});
</script>