<script type="text/javascript">
    function alturas(){
		var altura = $("body").outerHeight() - $("#header").outerHeight() - $("#footer").outerHeight() - $(".headerPagina").outerHeight() - 40/*padding - formPagina*/;
		/* if($(".uploaderNovo .ajax-upload-dragdrop").length > 0 && $(".uploaderNovo .ajax-upload-dragdrop").is(":visible")){
			var alturaConversa = altura - $(".nomeHolder").outerHeight() - $(".conversa .responder").outerHeight();
		}else{
			var alturaConversa = altura - $(".nomeHolder").outerHeight() - $(".conversa .responder").outerHeight() - 42;
		} */
		var alturaConversa = altura - $(".nomeHolder").outerHeight() - $(".conversa .responder").outerHeight() - 10;
		
		if(altura < 340){
			altura = 340;
			alturaConversa = altura - $(".nomeHolder").outerHeight() - $(".conversa .responder").outerHeight() - 10;
		}
		$(".listaMensagens, .conversa").height(altura);
		$(".conversa > ul").height(alturaConversa).scrollTop(100000);
	}
    
    $(document).ready(function() {
    	//GET CONVERSAS
    	jQuery.ajax({
			type: "post",
			url: urlContext+"/ws/conversas.htm?mode=json&form_name=form",
		 	data: {
		 		user: SESSION.USER_INFO.USER_LOGIN,
		 		user_id: userId,
		 		wsVersion: wsVersion,
		 		wstoken:SESSION.USER_INFO.USER_WSTOKEN
	        },
	        dataType: "json",
	        beforeSend: function(){
	        	$(".listaMensagens").append('<li class="ac_loading"></li>');
	        },
		 	success: function( data ) {
		 		if(data.list && data.list.length > 0){
			 		for (var i=0; i < data.list.length; i++){
			 			var c = data.list[i];
			 			var last = "";
			 			var lida = "naoLida";
			 			if(i == data.list.length - 1){
			 				last = "last";
			 			}
			 			if(c.mensagens[0].lida == 1){
			 				lida = "lida";
			 			}
			 			var ativo = "";
			 			#if($id)
			 				if(c.id == $id){
			 					ativo = "ativa";
				 			}
			 			#end
			 			if(c.grupoId){
			 				var fromId = c.toId;
			 				var fromNome = c.nomeGrupo;
			 				if(c.fotoGrupo) {
			 					var fromFoto = c.fotoGrupo.urlThumb;
			 				}
			 			}else if(c.fromId == userId){
			 				var fromId = c.toId;
			 				var fromNome = c.toNome;
			 				var fromFoto = c.toUrlFotoThumb;
			 			}else{
			 				var fromId = c.fromId;
			 				var fromNome = c.fromNome;
			 				var fromFoto = c.fromUrlFotoThumb;
			 			}
			 			var conteudo = 	'<li class="clearfix '+ativo+' '+lida+' '+last+'" id="idConversa-'+c.id+'">'+
											'<div class="configItem">'+
												'<i class="icones ico-configLista"></i>'+
												'<div class="popMenu bottom"><ul>'+
													'<li class="primeiro ultimo"><a class="btApagarConversa" data-id="'+c.id+'" href="'+urlContext+'/ws/deletar.htm?tipo=conversa&id='+c.id+'&mode=json&form_name=form">$messages.get('apagar.conversa.label')</a></li>'+
										        '</ul></div>'+
											'</div>'+
											'<a class="clearfix" href="'+urlContext+'/pages/mensagens.htm?id='+c.id+'">'+
												'<div class="fotoUsuario media"><div class="centraliza"><img alt="Foto do '+fromNome+'" src="'+fromFoto+'"></div></div>'+
												'<div class="infoMensagem">'+
													'<p class="nomeConversa">'+fromNome+'</p>'+
													'<p class="mensagemConversa">'+c.mensagens[0].msg+'</p>'+
													'<span rel="'+c.mensagens[0].timestamp+'" title="'+timeConverter(c.mensagens[0].timestamp)+'" class="tooltip dataMensagem">'+c.mensagens[0].dataUpdated+'</span>'+
												'</div>'+
											'</a>'+
										'</li>';
						$(".listaMensagens .ac_loading").remove();
						$(".listaMensagens").append(conteudo);
						if(timeVerify(c.mensagens[0].timestamp)){
							$(".listaMensagens #idConversa-"+c.id+" .dataMensagem").timeago();
		 				}else{
		 					$(".listaMensagens #idConversa-"+c.id+" .dataMensagem").removeAttr("title");
		 				}
						
			 		}
		 		}else{
		 			$(".listaMensagens").html('<li style="display:block;" class="muralVazio selecioneUsuario last">Nenhuma conversa.</li>');
		 		}
			}
		 });
    	
    	//FOTO GRUPO
    	$(".botaoFoto").uploadFile({
			url: urlContext+'/ws/uploadFile.htm',
			method: "POST",
			formData: {
	        	'dir': 'arquivos',
	        	'descricao': '',
	        	'tipo': '1',
	        	'user_id': userId,
	        	'mode': 'json',
	        	'form_name': 'form'
	        },
			allowedTypes:"psd,jpg,jpeg,png,gif,doc,pdf,zip,rar,docx,xls,odt,xlsx,tar,gz,txt,rtf,csv,ico",
			fileName: "fileField",
			showDelete: false,
			showAbort: false,
			maxFileSize:1024*5120, //5mb,
			dragDrop: false,
			multiple: false,
			uploadButtonClass:"botaoFoto botao branco ",
			onSubmit:function(files){
				$(".trocaFotoUser").append('<i class="icones ac_loading"></i>');
			},
			onSuccess:function(files,data,xhr){
				$(".trocaFotoUser .icones.ac_loading").remove();
				$(".trocaFotoUser img").attr("src", data.file.urlThumb);
				$("#form_arquivoFotoId").val(data.file.id);
				#if($id)
				jAlert("$messages.get('lembre-se.salvar.aplicar.alteracoes.label')", "$messages.get('atencao.label')");
				#end
			},
			onError: function(files,data,errMsg){	
				$(".trocaFotoUser .icones.ac_loading").remove();
				jAlert("$messages.get('msg.upload.error')", "$messages.get('atencao.label')");
			}
		});
	
    	
    	
    	//AUTOCOMPLETE DE NOMES
        if($("#nomeMensagem").length > 0){
        	$("#nomeMensagem").tokenInput(urlContext+"/ws/usuariosAutoComplete.htm?mode=json&form_name=form", {
        		method: "POST",
        		jsonContainer : "list",
        		queryParam: "q",
        		hintText: "$messages.get('msg.digitar')",
                noResultsText: "$messages.get('msg.item.notFound.error')",
                searchingText: "$messages.get('carregando.label')",
                preventDuplicates: true,
                minChars: 0,
                propertyToSearch: "nome",
                onAdd: function (item) {
                	if($("#isGrupo").is(":checked")){
                		var ids = $("#ids_grupo").val();
        				$("#ids_grupo").val(ids+" "+item.id+",");
                	}else{
                		location.href = "$context/pages/mensagens.htm?userTo="+item.id;
                	}
                },
                onDelete: function (item) {
                	var idRemove = " "+item.id+",";
            	 	var ids = $("#ids_grupo").val();
            	 	ids = ids.replace(idRemove,"");
            		$("#ids_grupo").val(ids);
                }
            });
      	}
        var checkGrupo = $('#isGrupo');
        checkGrupo.on('ifChanged', function(e){
    		if(checkGrupo.is(":checked")){
    			$(".selecioneUsuario").hide();
    			$(".fotoGrupo").show();
    			$(".criarGrupo").show();
    			$(".escreverMsg").hide();
    			$(".conversa > ul").scrollTop(0);
            }else{
            	$("#nomeMensagem").tokenInput("clear");
            	$(".inputHolder .mascaraLabel").show();
            	$(".selecioneUsuario").show();
    			$(".fotoGrupo").hide();
    			$(".criarGrupo").hide();
    			$(".escreverMsg").show();
            }      
        });
        
        $(".criarGrupo > a").click(function(e){
        	e.preventDefault();
        	var obj = $(this);
        	if($(".token-input-token").length <= 0){
        		jAlert("$messages.get('msg.selecione.um.usuario.info')", "atencao.label")
        	}else if(jQuery.trim($("#nomeGrupo").val()) == ""){
        		jAlert("$messages.get('msg.escolha.nome.grupo.info')", "$messages.get('atencao.label')", function(){
        			$("#nomeGrupo").focus();
        		});
        	}else{
        		jQuery.ajax({
        			type: "post",
        			url: urlContext+"/ws/novoGrupoMensagem.htm?mode=json&form_name=form",
        		 	data: {
        		 		user: SESSION.USER_INFO.USER_LOGIN,
        		 		nome: $("#nomeGrupo").val(),
        		 		usuario_ids: userId+", "+$("#ids_grupo").val(),
        		 		arquivo_id: $("#form_arquivoFotoId").val(),
        		 		user_id: userId,
        		 		wsVersion: wsVersion,
        		 		wstoken:SESSION.USER_INFO.USER_WSTOKEN
        	        },
        	        dataType: "json",
        	        beforeSend: function(){
        	        	obj.addClass("ac_loading");
        	        },
        		 	success: function( data ) {
        		 		if(data.conversa){
        		 			location.href = "$context/pages/mensagens.htm?id="+data.conversa.id;
        		 		}else if(data.mensagem){
				 			jAlert(data.mensagem.mensagem, data.mensagem.status);
				 		}
        			}
        		 });
        	}
        });
    	

    	var chkboxes = $('.chkbox');
    	chkboxes.on('ifChanged', function(e){
    		if($('.chkbox:checked').length > 0){
            	$(".isChecked").show();
            }else{
            	$(".isChecked").hide();
            }      
        });
    	
    	$(".listaMensagens .dataMensagem").each(function(){
    		var timestamp = $(this).attr("rel")
    		if(timeVerify(timestamp)){
    			$(this).timeago();
			}else{
				$(this).removeAttr("title");
			}
    	});
    	
    	
    	
    	//excluir conversa
    	$(document).on( "click", ".btApagarConversa", function(e) {
    		e.preventDefault();
    		var obj = $(this);
    		var idConversa = getLinkParameter("id",obj.attr("href"));
    		var tipoConversa = getLinkParameter("tipo",obj.attr("href"));
    		jConfirm("$messages.get('msg.excluir.conversa.confirm')", "$messages.get('alerta.label')", "deletar", function(r) {
    		    if(r == true){
    				jQuery.ajax({
    					type: "post",
    					url: urlContext+"/ws/deletar.htm?mode=json&form_name=form",
    				 	data: {
    				 		user: SESSION.USER_INFO.USER_LOGIN,
    				 		id: idConversa,
    				 		tipo: tipoConversa,
    				 		user_id: userId,
    				 		wsVersion: wsVersion,
    				 		wstoken:SESSION.USER_INFO.USER_WSTOKEN
    			        },
    			        dataType: "json",
    			        beforeSend: function(){
    			        	obj.closest(".configItem").find("> i").addClass("ac_loading");
    			        },
    				 	success: function( data ) {
    				 		if(data.mensagem && data.mensagem.status == "OK"){
    				 			$(".listaMensagens #idConversa-"+obj.attr("data-id")).remove();
    							jAlert(data.mensagem.mensagem,'Atenção', function(r) {
    								if (r == true) {
    									window.location.href=urlContext+"/pages/mensagens.htm";
    								} else {
    									return false;
    								}
    							});
    				 		}else if(data.mensagem && data.mensagem.status != "OK"){
    				 			jAlert(data.mensagem.status+': '+data.mensagem.mensagem, "$messages.get('atencao.label')");
    				 			obj.closest(".configItem").find("> i").removeClass("ac_loading");
    				 		}
    				 		
    					}
    				 });
    		    }else{
    		    	return false;
    		    }
    		});
    	});
    	//excluir mensagem
    	$(document).on( "click", ".listaConversa .btApagarMensagem", function(e) {
    		e.preventDefault();
    		var obj = $(this);
    		var idMsg = getLinkParameter("id",obj.attr("href"));
    		var tipoMsg = getLinkParameter("tipo",obj.attr("href"));
    		jConfirm("$messages.get('msg.excluir.mensagem.confirm')", "$messages.get('alerta.label')", "deletar", function(r) {
    		    if(r == true){
    				jQuery.ajax({
    					type: "post",
    					url: urlContext+"/ws/deletar.htm?mode=json&form_name=form",
    					dataType: "json",
    				 	data: {
    				 		user: SESSION.USER_INFO.USER_LOGIN,
    				 		user_id: userId,
    				 		id: idMsg,
    				 		tipo: tipoMsg,
    				 		wsVersion: wsVersion,
    				 		wstoken:SESSION.USER_INFO.USER_WSTOKEN
    			        },
    			        beforeSend: function(){
    			        	obj.closest(".configItem").find("> i").addClass("ac_loading");
    			        },
    				 	success: function( data ) {
    				 		if(data.mensagem && data.mensagem.status == "OK"){
    				 			$(".conversa li#idMsg-"+obj.attr("data-id")).remove();
    				 			obj.closest(".configItem").find("> i").removeClass("ac_loading");
    				 		}else if(data.mensagem && data.mensagem.status != "OK"){
    				 			jAlert(data.mensagem.status+': '+data.mensagem.mensagem, "$messages.get('atencao.label')");
    				 			obj.closest(".configItem").find("> i").removeClass("ac_loading");
    				 		}
    				 		
    					}
    				 });
    		    }else{
    		    	return false;
    		    }
    		});//fecha ajax
    	});
   
    	/* COMENTADO POR CAUSA DO WEBSOCKET - COLOQUEI DISPLAY NONE NO BOTÃO DE ENVIAR MSG E DE ENVIAR POR E-MAIL 
    	$(".btnEnviarMensagem").click(function(e){
    		e.preventDefault();
    		$(this).attr("disabled", "disabled").val("enviando...");
    		submitMensagem($(".responder .textAutoSize"));
    		$(".textAutoSize").focus();
    	}); */
    	
   		alturas();
       	$(window).resize(function(){
       		alturas();
       	});
       	$(".responder .textAutoSize").resize(function(){
       		alturas();
       	});
       	#if($id)
	       	$(".responder textarea").focus();
	       	buscaConversaChat($id, 0, $(".conversa > ul"));
	       	//verificaMensagem();
       	#end
    });
    
/* VREIFICA MENSAGEM ANTIGO -> COM IMAGENS, MAS SEM WEBSOCKET
#if($id)
function verificaMensagem(){
	$(".conversa").each(function(){
		var obj = $(this);
		var idUltimaMsg = "";
		var idYoursUltimaMsg = "";
		var idConversa = $id;
		jQuery.ajax({
			type: "post",
			url: urlContext+"/ws/conversa.htm?mode=json&form_name=form",
		 	dataType: "json",
		 	data: {
		 		user: SESSION.USER_INFO.USER_LOGIN,
		 		id: idConversa,
		 		user_id: userId,
		 		maxRows: 10,
		 		wsVersion: wsVersion,
		 		wstoken:SESSION.USER_INFO.USER_WSTOKEN
	        },
	        beforeSend: function(){},
		 	success: function(data) {
		 		if(obj.find("> ul > li").length > 0){
					idUltimaMsg = obj.find("> ul > li:last > .textoConversa > p:last").attr("data-id");
				}
				if(obj.find(".conversaChat li:last").hasClass("yours")){
					idYoursUltimaMsg = obj.find("> ul > li.yours:last > .textoConversa > p:last").attr("data-id");
				}
		 		if(data.conversa && data.conversa.mensagens){
		 			for (var c=0; c < data.conversa.mensagens.length;c++){ 
		 				if((data.conversa.mensagens[c].id > idUltimaMsg) && (data.conversa.mensagens[c].fromId != parseInt(userId))){
			 				if((data.conversa.mensagens[c].id > idUltimaMsg) && (data.conversa.mensagens[c].id > idYoursUltimaMsg)){
					 			var conteudoAnexos = '';
				 		 		if(data.conversa.mensagens[c].arquivos){
				 		 			var qtdImagens = 0;
				 		 			conteudoAnexos = conteudoAnexos+ '<ul class="anexos">';
				 		 			for (var a=0; a < data.conversa.mensagens[c].arquivos.length;a++){ 
				 						var extensao = (data.conversa.mensagens[c].arquivos[a].extensao).toLowerCase();
				 						if(extensao != "png" && extensao != "jpg" && extensao != "gif" && extensao != "jpeg" && extensao != "bmp"){
				 							conteudoAnexos = conteudoAnexos+ 
				 							'<li data-id="'+data.conversa.mensagens[c].arquivos[a].id+'">'+
				 		 						'<div class="thumbnail">'+
				 		 							'<i class="icones ico-arquivo '+extensao+'">'+extensao+'</i>'+
				 		 						'</div>'+
				 		 						'<div class="nomeAnexo"><a href="'+data.conversa.mensagens[c].arquivos[a].url+'" target="_blank">'+data.conversa.mensagens[c].arquivos[a].file+'&nbsp;<span>('+(data.conversa.mensagens[c].arquivos[a].length/1024).toFixed(2)+'kb)</span></a></div>'+
				 		 					'</li>';
				 		 				}
				 		 			}
				 		 			conteudoAnexos = conteudoAnexos+ '</ul>';
				 		 			
				 		 			for (var a=0; a < data.conversa.mensagens[c].arquivos.length;a++){ 
				 		 				var extensao = (data.conversa.mensagens[c].arquivos[a].extensao).toLowerCase();
				 		 				if(extensao == "png" || extensao == "jpg" || extensao == "gif" || extensao == "jpeg" || extensao == "bmp"){
				 		 					qtdImagens = qtdImagens + 1;
				 		 				}
				 		 			}
				 		 			
				 		 			if(qtdImagens == 1){
				 		 				conteudoAnexos += 	'<div class="imagensPost uma"><ul>';
				 											for (var a=0; a < data.conversa.mensagens[c].arquivos.length;a++){ 
				 												var extensao = (data.conversa.mensagens[c].arquivos[a].extensao).toLowerCase();
				 												if(extensao == "png" || extensao == "jpg" || extensao == "gif" || extensao == "jpeg" || extensao == "bmp"){
				 													conteudoAnexos += 	'<li><a href="'+data.conversa.mensagens[c].arquivos[a].url+'" class="fancybox" rel="mensagem-'+data.conversa.mensagens[c].id+'"><img src="'+data.conversa.mensagens[c].arquivos[a].urlThumb+'"  alt="'+data.conversa.mensagens[c].arquivos[a].file+'"/></a></li>';
				 												}
				 											}
				 						conteudoAnexos += 	'</ul></div>';
				 					}
				 		 			if (qtdImagens >= 2){
				 						if(qtdImagens == 2){
				 							var itens = "duas";
				 						}else if(qtdImagens == 3){
				 							var itens = "tres";
				 						}else if(qtdImagens >= 4){
				 							var itens = "quatro";
				 						}
				 						conteudoAnexos += '<div class="imagensPost '+itens+'"><ul>';
				 							var position = 0;
				 							for (var a=0; a < data.conversa.mensagens[c].arquivos.length;a++){ 
				 								var extensao = (data.conversa.mensagens[c].arquivos[a].extensao).toLowerCase();
				 								if(extensao == "png" || extensao == "jpg" || extensao == "gif" || extensao == "jpeg" || extensao == "bmp"){
				 				 					if(position == 0 && qtdImagens > 1){
				 				 						var left = ' first';
				 				 					}else{
				 				 						var left = '';
				 				 					} 
				 				 					if(position >= 3){
				 				 						var showHide = 'style="display:none"';
				 				 					}else{
				 				 						var showHide = '';
				 				 					}
				 				 					conteudoAnexos = conteudoAnexos + '<li class="'+ left+'" '+showHide+'><a href="'+data.conversa.mensagens[c].arquivos[a].url+'" class="fancybox" rel="mensagem-'+data.conversa.mensagens[c].id+'"><img src="'+data.conversa.mensagens[c].arquivos[a].urlThumb+'"  alt="'+data.conversa.mensagens[c].arquivos[a].file+'"/></a></li>';
				 				 					position = position + 1;
				 				 				}
				 							}
				 							conteudoAnexos += '</ul></div>';
				 					}
				 					if (qtdImagens > 4){
				 						conteudoAnexos += '<a href="#" class="linkFancyFotos">'+qtdImagens+' fotos ></a>';
				 					}
				 		 		}
				 		 		if(obj.find("> ul > li:last").hasClass("yours")){
				 		 			var conteudo = '<p data-id="'+data.conversa.mensagens[c].id+'">'+
				 		 								data.conversa.mensagens[c].msg+
				 		 							'</p>'+
				 		 							conteudoAnexos;
				 		 			obj.find("> ul > li:last .textoConversa").append(conteudo);
				 		 		}else{
				 		 			if(data.conversa.mensagens[c].lida == 0){
				 			 			var lidaNaoLida = 'naoLida';
				 			 		}else{
				 			 			var lidaNaoLida = '';
				 			 		}
				 		 			if(data.conversa.mensagens[c].fromId == userId){
				 			 			var mineYours = 'mine';
				 			 		}else{
				 			 			var mineYours = 'yours';
				 			 		}
				 		 			var conteudo = '<li data-status="'+data.conversa.mensagens[c].lida+'" data-user-from="'+data.conversa.mensagens[c].fromId+'" data-user-to="'+data.conversa.mensagens[c].toId+'" data-id="'+data.conversa.mensagens[c].id+'" id="idMsg-'+data.conversa.mensagens[c].id+'" class="clearfix '+lidaNaoLida+' '+mineYours+'">'+
										        		'<div class="textoConversa">'+
										        			'<div class="fotoUsuario pequena"><a href="$context/usuario.htm?id='+data.conversa.mensagens[c].fromId+'"><img alt="Foto do '+data.conversa.mensagens[c].fromNome+'" src="'+data.conversa.mensagens[c].fromUrlFotoThumb+'"></a></div>'+
										        			'<span class="dataMensagem tooltip" title="'+timeConverter(data.conversa.mensagens[c].timestamp)+'" rel="'+data.conversa.mensagens[c].timestamp+'">'+dateConverter(data.conversa.mensagens[c].timestamp)+'</span>'+
										        			'<a class="nomeConversa" href="$context/usuario.htm?id='+data.conversa.mensagens[c].fromId+'">'+data.conversa.mensagens[c].fromNome+'</a>'+
										        			'<p data-lita="'+data.conversa.mensagens[c].lida+'" data-id="'+data.conversa.mensagens[c].id+'">'+
										        				data.conversa.mensagens[c].msg+
															'</p>'+
															conteudoAnexos+
										        		'</div>'+
										        	'</li>';
				 		 			obj.find("> ul").append(conteudo);
				 		 		}
				 		 		findUrls($(".conversa > ul > li:last").find(".textoConversa p"));
			 		 			$(".conversa > ul > li").find(".dataMensagem").each(function(){
			 		 				var obj = $(this);
			 		 				var timestamp = parseInt(obj.attr("rel"),10);
			 		 				if(timeVerify(timestamp)){
			 		 					obj.timeago();
			 		 				}
			 		 			});
			 		 			$(".conversa > ul").scrollTop(100000);
				 			}
				 		}
		 			}
		 		}else if(data.mensagem && data.mensagem.status == "ERROR"){
		 			msgErro = data.mensagem.mensagem;
		 			jAlert(msgErro, 'Opps...');
		 		}
		 		
			}
		});
	});
	setTimeout(verificaMensagem, 10000);
}
#end */
</script>
<div class="headerPagina clearfix">
<!-- #if($whatsapp) $context/pages/usuariosMensagem.htm #else $context/pages/escreverMensagem.htm #end -->
<div class="botoesHeader noBorder botoesMsgs">
#if($id != "")
<a href="$context/pages/mensagens.htm" class="icone botao white tooltip tooltipstered" title="$messages.get('escrever.mensagem.label')"><i class="icones ico-addMensagem"></i></a>
#end
<a href="$context/pages/mensagens.htm" class="icone botao white abreMensagens" title="$messages.get('lista.mensagens.label')"><i class="icones ico-listMensagem"></i></a>
</div>
<h2 class="tituloPagina">$messages.get('menu.mensagens')</h2>
</div>
<div class="formDados">
	<div class="clearfix">
		<div class="umTerco left">
			<ul class="listaMensagens">
				<!-- #set($i = 0)
				#foreach($m in $mensagens)
				#set($i = $i + 1)
				#if($i == $mensagens.size()) #set($ultimo = "last") #else #set($ultimo = "") #end
				#if($m.msg.length() > 30)
					#set($msg = $m.msg.substring(0,30) + "...")
				#else
					#set($msg = $m.msg)
				#end
				#set($userConversa = $m.conversa.getOutroUser($session.userInfo))
				<li id="idConversa-$m.conversa.id" data-status="#if($m.lida == false) 0 #else 1 #end"  class="#if($m.lida || $m.isEnviadaPor($session.userInfo)) lida clearfix $ultimo #else naoLida clearfix $ultimo #end #if($id == $m.conversa.id) ativa #end">
						<div class="configItem">
							<i class="icones ico-configLista"></i>
							<div class="popMenu bottom"><ul>
								<li><a href="$context/ws/deletar.htm?tipo=conversa&id=$m.conversa.id&mode=json&form_name=form" data-id="$m.id" class="btApagarConversa">Apagar Conversa</a></li>
					        </ul></div>
						</div>
						<a href="$context/pages/mensagens.htm?id=$m.conversa.id" class="clearfix">
							<div class="fotoUsuario media"><div class="centraliza"><img src="$userConversa.urlFotoUsuario" alt="Foto do $userConversa.nome" /></div></div>
							<div class="infoMensagem">
								<p class="nomeConversa">$!userConversa.nome</p>
								p class="mensagemConversa"><strong>$m.conversa.titulo</strong></p 
								<p class="mensagemConversa">
									#if($m.isEnviadaPor($session.userInfo)) <i class="icones ico-msgEnviada"></i> #end
									$m.msg
								</p>
								#if($m.arquivos && $m.arquivos.size() > 0) <i class="icones ico-msgAnexo"></i>#end<span class="tooltip dataMensagem" title='$format.date($m.dataCreated,"yyyy-MM-dd HH:mm:ss")' rel="$m.getDataCreated().getTime()">$format.date($m.dataCreated,"dd/MM/yyyy ' ' HH'h'mm")</span>
							</div>
						</a>
				</li>
				#end -->
			</ul>
		</div>
		<div class="doisTercos">
			<div class="conversa" data-id="$id">
				#if($!id)
				<div class="nomeHolder">
					<p></p>
				</div>
				#else
				<div class="nomeHolder clearfix">
					<div class="campoPost noHeight noPadding">
			        	<div class="floatLeft clearfix">
			        		<label for="categoria" class="labelPost noBorder">$messages.get('mensagem.para.label')</label>
			        		<label class="checkGrupo"><input type="checkbox" name="isGrupo" id="isGrupo"/>$messages.get('um.grupo.label')</label>
			        		<input type="hidden" name="ids_grupo" id="ids_grupo"/>
			        	</div>
			            <div class="inputHolder">
			            	<input type="text" name="nomeMensagem" id="nomeMensagem" class="input placeholder" rel="$messages.get('digite.para.quem.e.label')"/>
			            </div>
			        </div>
		        </div>
		        #end
				<ul>
					#if(!$!id)
						<li class="muralVazio fotoGrupo" style="display:none;">
							<label class="labelCampo">$messages.get('nome.grupo.label')</label>
							<div class="campoPost">
								<input type="text" class="input" value="" id="nomeGrupo" name="nomeGrupo">
							</div>
							<div class="fotoUsuario trocaFotoUser">
								<div class="centraliza"><img #if(!$usuario)src="$context/img/usuario.png" #else src="${usuario.getUrlFoto()}" #end alt="$!u.nome" /></div>
							</div>
							
							<input type="hidden" value="" id="form_arquivoFotoId" name="arquivoFotoId">
							
							<div class="uploadFotoUsuario">
								<div class="botao branco botaoFoto"><span class="file-wrapper"><span class="button">$messages.get('inserir.alterar.foto.label')</span></span></div>
							</div>
						</li>
				    	<li class="muralVazio selecioneUsuario" style="display:block;">
				       		$messages.get('msg.iniciar.conversa.info')
				       	</li>
					#else
						<li class="muralVazio selecioneUsuario" style="display:block;">
				       		$messages.get('carregando.label')
				       	</li>
						<!-- #set($usuario = 0)
						
						#foreach($m in $conversas)
						
							#if($usuario == $m.from.id)
									<p class="#if($m.lida) lida #end" data-id="$m.id">$m.msg<span class="dataMensagem">$format.date($m.dataCreated, "HH:mm")</span></p>
							#else
								#if($usuario != $m.from.id)
					        	</li>
					        	#end
					        	<li class="#if($session.userInfo.id == $m.from.id) mine #else yours #end">
					        		<p class="#if($m.lida) lida #end" data-id="$m.id">$m.msg<span class="dataMensagem">$format.date($m.dataCreated, "HH:mm")</span></p>
							#end
							
							#set($usuario = $m.from.id)
						
						#end -->
						
						<!-- MENSAGENS SEM WEBSOCKET
						
						#set($usuario = 0)
						#set($idConversa = 0)
						#foreach($m in $conversas)
						
						#if($usuario == $m.from.id)
							<p data-id="$m.id" data-lita="$m.lida">
								#if($m.from.id == $session.userInfo.id)
									#if($m.lida) 
										<i class="icones ico-msgVisualizada tooltip" title="Mensagem visualizada"></i>
									#end
								#end
								$m.msg
							</p>
		        			#if($m.arquivos.size() > 0)	
								<ul class="anexos">
								#foreach( $a in $m.arquivos)
									#set($tamanho = $a.length/1024)
									#if($a.extensao.toLowerCase() != "png" && $a.extensao.toLowerCase() != "jpg" && $a.extensao.toLowerCase() != "gif" && $a.extensao.toLowerCase() != "jpeg" && $a.extensao.toLowerCase() != "bmp")
									<li>
										<div class="thumbnail">
											<i class="icones ico-arquivo $a.extensao">$a.extensao</i>
										</div>
										<div class="nomeAnexo"><a href="$a.url" target="_blank">$a.nome&nbsp; <span>($tamanho kb)</span></a></div>
									</li>
									#end
								#end
								</ul>
							#end
							#set ($qtdimg = 0)
							#if($m.arquivos)	
								#foreach( $a in $m.arquivos)
									#if($a.extensao.toLowerCase() == "png" || $a.extensao.toLowerCase() == "jpg" || $a.extensao.toLowerCase() == "gif" || $a.extensao.toLowerCase() == "jpeg" || $a.extensao.toLowerCase() == "bmp")
										#set ($qtdimg = $qtdimg +1)
									#end
								#end
							#end
							#if($qtdimg == 1)
							quando for uma imagem
							<div class="imagensPost uma">
								<ul>
								#foreach( $a in $m.arquivos)
									#if($a.extensao.toLowerCase() == "png" || $a.extensao.toLowerCase() == "jpg" || $a.extensao.toLowerCase() == "gif" || $a.extensao.toLowerCase() == "jpeg" || $a.extensao.toLowerCase() == "bmp")
										<li><a href="$a.url" class="fancybox" rel="categoria-$post.id"><img src="$a.urlThumbMural" /></a></li>
									#end
								#end
							    </ul>
							</div>
							#end
							#if ($qtdimg >= 2)
							quando for duas imagens ou mais 
							<div class="imagensPost #if ($qtdimg == 2) duas #elseif ($qtdimg == 3) tres #elseif ($qtdimg > 3)quatro #end">
								<ul>
								#if($m.arquivos)	
									#set ($position = 0)
									#foreach( $a in $m.arquivos)
										#if($a.extensao.toLowerCase() == "png" || $a.extensao.toLowerCase() == "jpg" || $a.extensao.toLowerCase() == "gif" || $a.extensao.toLowerCase() == "jpeg" || $a.extensao.toLowerCase() == "bmp")
											<li class="#if ($position == 0 && $qtdimg > 1) first #end" #if ($position >= 4) style="display:none" #end><a href="$a.url" class="fancybox" rel="categoria-$post.id"><img src="$a.urlThumbMural" /></a></li>
											#set ($position = $position + 1)
										#end
									#end
								#end
							</div>
							#end
							#if ($qtdimg > 4)
							<a href="#" class="linkFancyFotos">$qtdimg fotos ></a>
							#end
						#else
							#if($idConversa != $m.id && $idConversa != 0)
								</div>
				        	</li>
				        	#end
							<li class="clearfix #if(!$m.lida) naoLida #end #if($session.userInfo.id == $m.from.id) mine #else yours #end" id="idMsg-$m.id" data-id="$m.id" data-user-to="$m.to.id" data-user-from="$m.from.id" data-status="#if($m.lida == false) 0 #else 1 #end">
				        		div class="configItem">
									<i class="icones ico-configLista"></i>
									<div class="popMenu bottom"><ul>
										<li><a href="$context/ws/deletar.htm?id=$m.id&tipo=mensagem&mode=json&form_name=form"  data-id="$m.id" class="btApagarMensagem">Apagar Mensagem</a></li>
							        </ul></div>
								</div 
				        		<div class="textoConversa">
				        			<div class="fotoUsuario pequena"><a href="$context/usuario.htm?id=$m.from.id"><img src="$m.from.urlFotoUsuario" alt="Foto do $m.from.nome" /></a></div>
				        			<span rel="$m.getDataCreated().getTime()" title='$format.date($m.dataCreated,"yyyy-MM-dd HH:mm:ss")' class="dataMensagem tooltip">$format.date($m.dataCreated,"dd MMM 'às' HH'h'mm")</span>
				        			<a href="$context/usuario.htm?id=$m.from.id" class="nomeConversa">$m.from.nome</a>
				        			<p data-id="$m.id" data-lita="$m.lida">
										#if($m.from.id == $session.userInfo.id)
											#if($m.lida) 
												<i class="icones ico-msgVisualizada tooltip" title="Mensagem visualizada"></i>
											#end
										#end
										$m.msg
									</p>
				        			#if($m.arquivos.size() > 0)	
										<ul class="anexos">
										#foreach( $a in $m.arquivos)
											#set($tamanho = $a.length/1024)
											#if($a.extensao.toLowerCase() != "png" && $a.extensao.toLowerCase() != "jpg" && $a.extensao.toLowerCase() != "gif" && $a.extensao.toLowerCase() != "jpeg" && $a.extensao.toLowerCase() != "bmp")
											<li>
												<div class="thumbnail">
													<i class="icones ico-arquivo $a.extensao">$a.extensao</i>
												</div>
												<div class="nomeAnexo"><a href="$a.url" target="_blank">$a.nome&nbsp; <span>($tamanho kb)</span></a></div>
											</li>
											#end
										#end
										</ul>
									#end
									#set ($qtdimg = 0)
									#if($m.arquivos)	
										#foreach( $a in $m.arquivos)
											#if($a.extensao.toLowerCase() == "png" || $a.extensao.toLowerCase() == "jpg" || $a.extensao.toLowerCase() == "gif" || $a.extensao.toLowerCase() == "jpeg" || $a.extensao.toLowerCase() == "bmp")
												#set ($qtdimg = $qtdimg +1)
											#end
										#end
									#end
									#if($qtdimg == 1)
									quando for uma imagem
									<div class="imagensPost uma">
										<ul>
										#foreach( $a in $m.arquivos)
											#if($a.extensao.toLowerCase() == "png" || $a.extensao.toLowerCase() == "jpg" || $a.extensao.toLowerCase() == "gif" || $a.extensao.toLowerCase() == "jpeg" || $a.extensao.toLowerCase() == "bmp")
												<li><a href="$a.url" class="fancybox" rel="categoria-$post.id"><img src="$a.urlThumbMural" /></a></li>
											#end
										#end
									    </ul>
									</div>
									#end
									#if ($qtdimg >= 2)
									quando for duas imagens ou mais 
									<div class="imagensPost #if ($qtdimg == 2) duas #elseif ($qtdimg == 3) tres #elseif ($qtdimg > 3)quatro #end">
										<ul>
										#if($m.arquivos)	
											#set ($position = 0)
											#foreach( $a in $m.arquivos)
												#if($a.extensao.toLowerCase() == "png" || $a.extensao.toLowerCase() == "jpg" || $a.extensao.toLowerCase() == "gif" || $a.extensao.toLowerCase() == "jpeg" || $a.extensao.toLowerCase() == "bmp")
													<li class="#if ($position == 0 && $qtdimg > 1) first #end" #if ($position >= 4) style="display:none" #end><a href="$a.url" class="fancybox" rel="categoria-$post.id"><img src="$a.urlThumbMural" /></a></li>
													#set ($position = $position + 1)
												#end
											#end
										#end
									</div>
									#end
									#if ($qtdimg > 4)
									<a href="#" class="linkFancyFotos">$qtdimg fotos ></a>
									#end
			        	#end
							#set($usuario = $m.from.id)
				        	#set($idConversa = $m.id)			        	
						#end -->
					#end
				</ul>
		        <div id="startPage" class="clearfix responder">
		        	<div class="criarGrupo"><a href="#" class="botao">$messages.get('criar.grupo.label')</a></div>
					<div class="campoPost escreverMsg">
						<a title="Enviar" class="icones ico-enviarMensagem tooltip" href="#"></a>
						<textarea #if($id) #else disabled="disabled" #end nome="conversaMsg_$id" id="conversaMsg_$id" data-conversa="$id" class="textAutoSize input placeholder" rel="$messages.get('escreva.resposta.label')"></textarea>
					</div>
					<!-- ANEXAR ARQUIVOS - AINDA NÃO FUNCIONA NO WEBSOCKET
					#if($id)
					<div class="uploaderNovo">
						<input type="hidden" id="anexosId_$conversa.id" name="anexosId_$conversa.id" class="inputAnexos" value=""/>
						<div class="multiplefileuploader tooltip" data-postId="" data-commentId="" data-msgId="" title="Inserir Anexo"></div>
					</div>
					#end
					<div class="botoesResponder clearfix" style="display:none;">
						<input type="submit" #if(!$id) disabled="disabled" #end class="botao btnEnviarMensagem" value="Enviar">
						<label class="labelCheck"><input type="checkbox" value="1" class="chkbox" name="checkEnviarEmail" id="checkEnviarEmail" >Enviar também por e-mail</label>
					</div>
					 -->
				</div>
			</div>
		</div>
	</div>
</div>
