#set($urlUsuarioDetalhes = "/usuario.htm")
<script>
#if($web_template_analytics_key && $web_template_analytics_key != '')
	ga('send', 'event', 'livecom', 'users', SESSION.USER_INFO.USER_LOGIN);
#end

$(document).ready(function() {
	
	var page = $(".paginaAtual").attr("data-page");
	var filtro = getFiltro(page);
	
	function getGruposURL(){
		return urlContext+"/ws/gruposAutoComplete.htm?mode=json&form_name=form&search=gruposUser&not_grupo_ids="+$("#idsGrupos").val()+"&user_id="+userId+"&wsVersion="+wsVersion+"&wstoken="+SESSION.USER_INFO.USER_WSTOKEN; 
	}
						
	gruposTokenInput({
		element: "#filtroGroupUser",
		url: getGruposURL,
		hintText: "Comece a digitar para buscar.",
		noResultsText: "Nenhum item encontrado",
	   searchingText: "Carregando...",
	   placeholder: "Digite os grupos...",
	   onAdd: function (item) {
			var ids = $("#idsGrupos").val();
			$("#idsGrupos").val(ids+" "+item.id+",");
		},
	   onDelete: function (item) {
	   	var idRemove = " "+item.id+",";
	      var ids = $("#idsGrupos").val();
	      ids = ids.replace(idRemove,"");
	      $("#idsGrupos").val(ids);
		},
		resultsFormatter: function(item){
			if(item.urlFotoThumb){
				var grupoImg = item.urlFotoThumb;
				if(grupoImg){
					if(grupoImg.substr(0,4).indexOf('img/') > -1) {
						grupoImg = urlContext + '/' + grupoImg;
					}
				}else{
					grupoImg = urlContext + "/imagens/bg_grupo_thumb.jpg";
				}
	      	return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='" + grupoImg + "' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Usuários: " + item.countUsers + "</p></div></li>"	
			}else{
	      	return "<li>" + "<div class='fotoUsuario media'><div class='centraliza'><img src='$context/imagens/grupo.png' alt='Foto do grupo" + item.nome + "' /></div></div>" + "<div class='center-block'><p class='user-name'>" + item.nome + "</p><p class='cargoUsuarioLista'>Usuários: " + item.countUsers + "</p></div></li>"
	      }
		}
	});
	
	cargoTokenInput({
		element: "#filtroCargo",
		url: urlContext+"/rest/v1/funcao?buscaTotal=0&page=0&maxRows=10",
		onAdd: function (item) {
		   $("#idsCargos").val(item.id);
		},
	   onDelete: function (item) {
	      $("#idsCargos").val('');
		},
	});
	
	var stoppedTyping;
	$("#form_nome").on("keyup", function(e){
		var filtro = getFiltro();
		$(".paginaAtual").attr("data-page", "-1");  
		filtro.termo = $(this).val();
		var grupo = $("#form_grupo").val();
		filtro.page = $(".paginaAtual").attr("data-page");
		if(e.keyCode == 13){
			e.preventDefault();
			return false;
		}else{
			$(this).addClass("ac_loading");
			if (stoppedTyping) clearTimeout(stoppedTyping);
			stoppedTyping = setTimeout(function(){
				$(".listaHorizontal").html("");
				buscaUsuarios(filtro);
			}, 1000);
		}
	}).on("keypress", function(e){
		if(e.keyCode == 13){
			e.preventDefault();
			return false;
		}
	});
    
	$(document).on("click", ".apagarUsuario", function(e){
		var obj = $(this);
		e.preventDefault();
		jConfirm("$messages.get('msg.excluir.usuario.confirm')", "$messages.get('alerta.label')", "deletar", function(r) {
		    if(r == true){
				location.href= obj.attr("href");
		    }else{
		    	return false;
		    }
		});
	});
						
	
	$(".radioGroupFiltro").on("ifChecked", function(){
		acesso = $(this).val();
	});
		
	buscaUsuarios(filtro);
	
	$("#filtrarRel").click(function(){
		filtro = getFiltro(page);
		$("ul.listaUsuarios").empty();
		buscaUsuarios(filtro);
	});
						
});//fim doc.ready


//scroll page load usuarios
$(window).scroll(function() {
   if(($(window).scrollTop() + $(window).height() > $(document).height() - $(".paginaAtual").outerHeight()) || $(".paginaAtual").offset().top < $(window).height()) {
	   if($(".paginaAtual").hasClass("loading")){
   		return false;
	   }else if($(".paginaAtual:visible").length > 0 && !$(".paginaAtual").hasClass("loading")){
    	   $(".paginaAtual").addClass("loading");
 		   var page = parseInt($(".paginaAtual").attr("data-page"))+1;
			filtro = getFiltro(page);
			filtro.termo = $("#form_nome").val();
			filtro.grupo = $("#form_grupo").val();
			buscaUsuarios(filtro);
	   }
   }
});
					
function getFiltro(page, acesso){
	if(page > 0){
		var maximoPagina = 12;
	}else{
		var maximoPagina = 24;
	}
	
	var grupoId = jQuery.trim($('#idsGrupos').val());
	grupoId = grupoId.substr(0, grupoId.length-1);
	
	var maximoPagina = 20;
	var filtro = {
		q: $("#form_nome").val(),
		user: SESSION.USER_INFO.USER_LOGIN,
		maxRows: maximoPagina,
 		page: page,
 		wsVersion: wsVersion,
 		wstoken:SESSION.USER_INFO.USER_WSTOKEN,
 		grupoId: grupoId,
 		cargoId: $('#idsCargos').val(),
 		acesso: $(".radioGroupFiltro:checked").val()
	};
	return filtro;
}

function buscaUsuarios(filtro){
	AjaxServices.usuariosAutoComplete(filtro).done(function(data){
		$(".muralVazio").html("").hide();
			$("#form_nome").removeClass("ac_loading");
			if(data.list && data.list.length > 0){
				$(".paginaAtual").show();
		 		var conteudo = "";
		 		for (var i=0;i<data.list.length;i++){ 
			 		conteudo += '<li>';
			 						if(data.list[i].perfilAtivo == false && SESSION.PERFILS.PERFIL_isAdmin){
					conteudo +=			'<div class="clearfix inactive">';					
			 						}else{
			 		conteudo +=			'<div class="clearfix">';	
			 						}
									
										if(SESSION.PERMISSOES.ENVIAR_MENSAGEM == 'true' || SESSION.PERMISSOES.CADASTRAR_USUARIOS == 'true'){
					conteudo +=			'<div class="configItem">'+
											'<i class="icones ico-configLista"></i>'+
											'<div class="popMenu bottom"><ul>';
												if(SESSION.PERMISSOES.CADASTRAR_USUARIOS == 'true'){
					conteudo +=					'<li><a href="$context/cadastro/usuario.htm?id='+data.list[i].id+'">$messages.get('editar.usuario.label')</a></li>';
												}
					conteudo +=					'<li><a href="$context/pages/mural.htm?user_post_id='+data.list[i].id+'">$messages.get('ver.posts.label')</a></li>';
												if(SESSION.PERMISSOES.ENVIAR_MENSAGEM == 'true'){
					conteudo +=					'<li><a href="$context/pages/chat.htm?user='+data.list[i].id+'" target="_blank">$messages.get('menu.escrever.mensagem')</a></li>';
												}
					conteudo +=				'</ul></div>'+
										'</div>';
										}else{
					conteudo +=			'<div class="configItem">'+
											'<i class="icones ico-configLista"></i>'+
											'<div class="popMenu bottom"><ul>'+
												'<li><a href="$context/usuario.htm?id='+data.list[i].id+'&aba=postsUser">$messages.get('ver.posts.label')</a></li>'+
											'</ul></div>'+
										'</div>';	
										}
					conteudo +=			'<div class="fotoUsuario media"><a href="$context$urlUsuarioDetalhes?id='+data.list[i].id+'"><img src="'+data.list[i].urlFotoUsuario+'" alt="Foto do '+data.list[i].nome+'" /></a></div>'+
										'<div class="infoUsuarios">';
											if(data.list[i].perfilAtivo == false && SESSION.PERFILS.PERFIL_isAdmin){
												conteudo += '<a href="$context$urlUsuarioDetalhes?id='+data.list[i].id+'" class="nomeUsuarioLista">'+data.list[i].nome+'<span class="inactive"> - Desativado</span></a>';
											}else{
												conteudo += '<a href="$context$urlUsuarioDetalhes?id='+data.list[i].id+'" class="nomeUsuarioLista">'+data.list[i].nome+'</a>';	
											}
											
										if(data.list[i].desc1){
					conteudo +=				'<p class="cargoUsuarioLista">'+data.list[i].desc1+'</p>';
										}
										if(data.list[i].desc2){
				    conteudo +=				'<p class="cargoUsuarioLista">'+data.list[i].desc2+'</p>';				
										}else{
					conteudo +=				'<p class="cargoUsuarioLista">-</p>';	
										}
					conteudo +=			'</div>'+
									'</div>'+
								'</li>';
			 		}
		 		
		 	}else if($(".listaHorizontal li").length <= 0){
		 		$(".muralVazio").html("$messages.get('nenhumResultado.error')").show();
				$(".paginaAtual").hide();
			}else{
				$(".paginaAtual").hide();
			}
			if(data.list && data.list.length < 12){
				$(".paginaAtual").hide();
			}
				
			$(".paginaAtual").attr("data-page", parseInt($(".paginaAtual").attr("data-page"))+1);
			$("ul.listaHorizontal.listaUsuarios").append(conteudo);
			$(".paginaAtual").removeClass("loading");
			
			if(data.mensagem){
				$(".paginaAtual").hide();
				jAlert(data.mensagem.mensagem, data.mensagem.status);
			}
	});
}
</script>
<div class="page-content">
	<h3 class="page-title">$messages.get('usuarios.label')</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-home"></i> <a href="$context/pages/mural.htm">Home</a> <i class="fa fa-angle-right"></i></li>
			#if($!ACESSO_CADASTROS)
			<li><a href="$context/cadastro/cadastros.htm">Cadastros</a> <i class="fa fa-angle-right"></i></li>
			#else
			<li><span>Sistema</span> <i class="fa fa-angle-right"></i></li>
			#end
			<li><span>Usuários</span></li>
		</ul>
	</div>
	
	${form.startTag()}
	<div class="row content">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title portlet-toggle cursor-pointer">
					<div class="caption font-dark">
						<span class="caption-subject font-blue sbold uppercase">
						<i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; Filtro</span>
					</div>
					<div class="actions">
						<i class="fa font-blue fa-chevron-down tooltip-livecom" title="Expandir/Recolher"></i>
					</div>
				</div>
				<div class="portlet-body toggled">
					<form name="form_relatorio" id="relVisualizacao" method="post">
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-6 form-group post-tags">
								<label class="control-label labelCampo"><i class="fa fa-users"></i>&nbsp;Grupos:</label>
								<input type="text" id="filtroGroupUser" name="filtroGroupUser" class="form-control">
								<input type="hidden" id="idsGrupos" name="idsGrupos">
							</div>
							<div class="col-md-6 form-group">
								<label class="control-label labelCampo"><i class="fa fa-share-alt"></i>&nbsp;Conector:</label>
								<label for="conectorTodos" class="labelCheckFiltro tooltip-livecom" title="Todos os acessos">
									<input type="radio" name="radioGroupFiltro" id="conectorTodos" class="radioGroupFiltro" value="" checked>
									Todos</label>
								<label for="conectorLivecom" class="labelCheckFiltro tooltip-livecom" title="Acesso através de conta no Livecom">
									<input type="radio" name="radioGroupFiltro" id="conectorLivecom" class="radioGroupFiltro" value="livecom">
									Livecom</label>
								<label for="conectorLDAP" class="labelCheckFiltro tooltip-livecom" title="Acesso através de LDAP">
									<input type="radio" name="radioGroupFiltro" id="conectorLDAP" class="radioGroupFiltro" value="ldap">
									LDAP</label>
								<!-- <label for="conectorWS" class="labelCheckFiltro tooltip-livecom" title="Acesso através de Web Service>
									<input type="radio" name="radioGroupFiltro" id="conectorWS" class="radioGroupFiltro" value="ws">
									Web Service</label> -->
							</div>
						</div>
						<div class="row clearfix quebraLinhaForm">
							<div class="col-md-6 form-group post-tags">
								<label class="control-label labelCampo"><i class="fa fa-briefcase"></i>&nbsp;Cargo:</label>
								<input type="text" id="filtroCargo" name="filtroCargo" class="form-control">
								<input type="hidden" id="idsCargos" name="idsCargos">
							</div>
						</div>
						<div class="clearfix text-right">
							<input type="button" class="btn btn-primary min-width" id="filtrarRel" value="Filtrar" />
						</div>
					</form>
				</div>
			</div>
			
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-dark">
                   <span class="caption-subject font-blue sbold uppercase"><i class="fa fa-user"></i> Usuários</span>
               </div>
               <div class="actions">
						<div class="clearfix campoPost noPadding">
							<div class="col-md-12">
								$form.fields.nome
								<i class="icones ico-lupaCinza absolute"></i>
							</div>
							<!-- <div class="col-md-6">
								<div class="campoPost">
									$form.fields.grupo
								</div>
							</div> -->
						</div>
               </div>
				</div>
				<div class="portlet-body">
					<ul class="listaHorizontal clearfix listaUsuarios"></ul>
					<div class="muralVazio"></div>
					<div class="paginaAtual" data-page="-1"></div>
				</div>
			</div>
		</div>
	</div>
	${form.endTag()}
</div>
#parse("/msg.htm")
<script type="text/javascript" src="$context/js/clickFormInput.js"></script>