<div class="form-group">
	<form method="post">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td class="tooltip-livecom" title="Login Automatico (mantem logado no app)">Login Automático (mantém logado)</td>
					<td style="width: 50%;">
						<input type="checkbox" name="loginAutomatico" id="loginAutomatico" #if($loginAutomatico) checked="checked" #end data-on-text="Sim" data-off-text="Não" data-off-color="danger" class="bootstrap">
					</td>
				</tr>
				<tr>
					<td class="tooltip-livecom" title="Permite logout do aplicativo">Permite logout</td>
					<td style="width: 50%;">
						<input type="checkbox" name="permiteLogout" id="permiteLogout" #if($permiteLogout) checked="checked" #end data-on-text="Sim" data-off-text="Não" data-off-color="danger" class="bootstrap">
					</td>
				</tr>
				<tr>
					<td class="tooltip-livecom" title="Ativa a funcionalidade de postagem caso o usuário tenha permissão de postagem e esta paramêtro esteja ativado.">Pode postar</td>
					<td style="width: 50%;">
						<input type="checkbox" name="podePostar" id="podePostar" #if($podePostar) checked="checked" #end data-on-text="Sim" data-off-text="Não" data-off-color="danger" class="bootstrap">
					</td>
				</tr>
				<tr>
					<td class="tooltip-livecom" title="Ativa o chat no App">Chat Ativado</td>
					<td style="width: 50%;">
						<input type="checkbox" name="chatOn" id="chatOn" #if($chatOn) checked="checked" #end data-on-text="Sim" data-off-text="Não" data-off-color="danger" class="bootstrap">
					</td>	
				</tr>
				<tr>
					<td class="tooltip-livecom" title="Mostrar alerta de novidades ao baixar nova versao (What's New)">Mostrar alerta de novidades ao baixar nova versão (What's New).</td>
					<td style="width: 50%;">
						<input type="checkbox" name="showWhatsNews" id="showWhatsNews" #if($showWhatsNews) checked="checked" #end data-on-text="Sim" data-off-text="Não" data-off-color="danger" class="bootstrap">
					</td>	
				</tr>
				
				<tr>
					<td class="tooltip-livecom" title="Caso esteja ativado mostra para o autor do post a audiência do Post.">Mostrar audiência do Post</td>
					<td style="width: 50%;">
						<input type="checkbox" name="showAudienciaPost" id="showAudienciaPost" #if($showAudienciaPost) checked="checked" #end data-on-text="Sim" data-off-text="Não" data-off-color="danger" class="bootstrap">
					</td>	
				</tr>
				
				<tr>
					<td class="tooltip-livecom" title="Mostrar menu de opções no Mural (options menu)">Mostrar menu de opcões no Mural (options menu)</td>
					<td style="width: 50%;">
						<input type="checkbox" name="optionsMenu" id="optionsMenu" #if($optionsMenu) checked="checked" #end data-on-text="Sim" data-off-text="Não" data-off-color="danger" class="bootstrap">
					</td>	
				</tr>
				
				<tr>
					<td class="tooltip-livecom" title="Menu dinâmico por categorias (modo antigo) - Se ligar este item, o menu dinâmico será gerado para todas as categorias marcadas como 'menu mobile'. Este item mantem compatibilidade
	com versões antigas do Livecom.">Menu dinâmico por categorias (modo antigo) - Se ligar este item, o menu dinâmico sera gerado para todas as categorias marcadas como 'menu mobile'. Este item mantem compatibilidade
	com versões antigas do Livecom.</td>
					<td style="width: 50%;">
						<input type="checkbox" name="menuCategoria" id="menuCategoria" #if($menuCategoria) checked="checked" #end data-on-text="Sim" data-off-text="Não" data-off-color="danger" class="bootstrap">
					</td>	
				</tr>

                <tr>
                    <td class="tooltip-livecom" title="By-pass-login: Este item se marcado vai fazer o app entrar diretamente no Mural ou Chat, sem passar pelo web service de login. Neste caso vai utilizar o token salvo no celular.">
                        By-pass-login: Este item se marcado vai fazer o app entrar diretamente no Mural ou Chat, sem passar pelo web service de login. Neste caso vai utilizar o token salvo no celular.
                    </td>
                    <td style="width: 50%;">
                        <input type="checkbox" name="loginByPass" id="loginByPass" #if($loginByPass) checked="checked" #end data-on-text="Sim" data-off-text="Não" data-off-color="danger" class="bootstrap">
                    </td>
                </tr>

                <tr>
                    <td class="tooltip-livecom" title="Permite login offline: Se sim, permite logar no aplicativo sem conexão.">
                        Permite login offline: Se sim, permite logar no aplicativo sem conexão.
                    </td>
                    <td style="width: 50%;">
                        <input type="checkbox" name="loginOffline" id="loginOffline" #if($loginOffline) checked="checked" #end data-on-text="Sim" data-off-text="Não" data-off-color="danger" class="bootstrap">
                    </td>
                </tr>
				
				
				
			</tbody>
		</table>
		<div class="clearfix botoesSalvar pull-right">
	        <a href="$context/cadastro/mobile.htm" class="btn btn-default cancelar min-width" type="button"> Cancelar</a>
	        <button class="btn btn-primary min-width btn-salvar salvarConfiguracoes" type="submit"> Salvar</button>
	    </div>
	</form>
</div>