<form method="post">
	<div class="portlet light">
		<div class="portlet-title tabbable-line">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#layout-android" data-toggle="tab" aria-expanded="true">Android</a></li>
				<li><a href="#layout-ios" data-toggle="tab" aria-expanded="false">iOS</a></li>
			</ul>
		</div>
		<div class="portlet-body clearfix">
			<div class="tab-content">
				<div class="tab-pane fade in active" id="layout-android">
					#parse("cadastro/includes/cascaAndroid.htm")
				</div>
				<div class="tab-pane fade" id="layout-ios">
					#parse("cadastro/includes/cascaIOS.htm")
				</div>
			</div>
		 </div>	
	</div>
</form>
<script>
	$('document').ready(function() {
		$('#navbarColor').change(function() {
			$('.mdl-layout__header').css('background', $(this).val());
		});
		
		$('#menuBackgroundColor').change(function() {
			$('.root-container-logo').css('background', $(this).val());
		});
		
		$('#navbarBadgeBackgroundColor').change(function() {
			$('.mobile-badge').css('background' , $(this).val()); 
		});
		
	});
</script>