<div id="colunaEsquerda" class="col-md-4 col-xs-4 fullHeight fatherLeft">
	<div class="row fullHeight">
		<!-- CONTAINER LEFT -->
		<div
			class="col-xs-12 p-l-0 p-r-0 leftDrawer drawer-container drawer-container-left">
			<div id="novaConversa" class="flex-container novaConversaHold"
				style="display: none;">
				<!-- HEADER DE TITULO -->
				<div class="topSections bigger leftSection">
					<div class="bodyChat">
						<div class="title">
							<span class="animaTitulo">
								<button id="novaConversa"
									class="mdl-button left closeColumn backLeftColumn mdl-button--icon"
									data-drawerColumn="leftColumn" style="float: left;">
									<i class="material-icons">arrow_back</i>
								</button> <span style="margin-left:20px;">Nova Conversa</span>
							</span>
						</div>
					</div>
				</div>
				<!-- BOX INPUT TEXT DE BUSCA DE USUARIOS -->
				<div class="subTopSection">
					<button class="mdl-button">
						<i class="material-icons backIcon">arrow_back</i> <i
							class="material-icons searchIcon">search</i>
					</button>
					<div class="group-control searchBox">
						<div class="input-placeholder">Buscar contato</div>
						<input type="text" id="filtrarContato"
							class="form-control campoBuscar" aria-describedby="basic-addon1">
					</div>

					<button class="mdl-button">
						<i class="material-icons backIcon">arrow_back</i> <i
							class="material-icons searchIcon">search</i>
					</button>
					<div class="group-control searchBox">
						<div class="input-placeholder">Buscar mensagens</div>
						<input type="text" id="filtrarContato"
							class="form-control campoBuscar" aria-describedby="basic-addon1">
					</div>
				</div>
				<!-- BOX PARA LISTAR OS USUARIOS -->
				<div class="col-xs-12 colListChat users">
					<ul class="list-group" id="contatosList"></ul>
				</div>
			</div>
			<!-- CONTAINER PARA CRIAR UM NOVO GRUPO -->
			<div id="novoGrupo" class="flex-container novoGrupoHold"
				style="display: none;">
				<div class="topSections bigger leftSection">
					<div class="bodyChat">
						<div class="title">
							<span class="animaTitulo">
								<button
									class="mdl-button left closeColumn backLeftColumn mdl-button--icon"
									data-colid="novoGrupo" data-drawerColumn="leftColumn"
									style="float: left;">
									<i class="material-icons">arrow_back</i>
								</button> Novo Grupo
							</span>
						</div>
					</div>
				</div>
				<div class="flex-fill">
					<div class="avatar bigger">
						<div class="centraliza">
							<img class="attach openCloseModal"
								src="$context/assets/chat/img/user.png" alt="" />
						</div>
					</div>
					<div class="holdTextField">
						<div class="mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" type="text" id="sample1">
							<label class="mdl-textfield__label" for="sample1">Nome do grupo</label>
						</div>
					</div>
					<div class="holdTextField">
						<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
							<i class="material-icons">send</i>
						</button>
					</div>
				</div>
			</div>
			<div id="perfilStatus" class="flex-container novoGrupoHold"
				style="display: none;">
				<div class="topSections bigger leftSection">
					<div class="bodyChat">
						<div class="title">
							<span class="animaTitulo">
								<button
									class="mdl-button left closeColumn backLeftColumn mdl-button--icon"
									data-colid="perfilStatus" data-drawerColumn="leftColumn"
									style="float: left;">
									<i class="material-icons">arrow_back</i>
								</button> Perfil e Status
							</span>
						</div>
					</div>
				</div>
				<div class="flex-fill">
					<div class="avatar bigger">
						<div class="centraliza">
							<img class="attach openCloseModal"
								src="$session.userInfo.urlFotoUsuario" alt="Foto do $session.userInfo.nome" />
						</div>
					</div>
					<div class="holdTextField">
						<div class="mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" type="text" id="sample1"
								value=""> <label
								class="mdl-textfield__label inputStatus" for="sample1">Status:</label>
						</div>
					</div>
					<div class="holdTextField">
						<span class="holdOneBtn center-block text-center">
							<button
								class="mdl-button mdl-js-button mdl-js-ripple-effect btn green closeColumn"
								data-colid="perfilStatus" data-drawerColumn="leftColumn">Atualizar</button>
						</span>
					</div>
				</div>
			</div>
			<div id="notificacoes" class="flex-container novoGrupoHold"
				style="display: none;">
				<div class="topSections bigger leftSection">
					<div class="bodyChat">
						<div class="title">
							<span class="animaTitulo">
								<button
									class="mdl-button left closeColumn backLeftColumn mdl-button--icon"
									data-colid="notificacoes" data-drawerColumn="leftColumn"
									style="float: left;">
									<i class="material-icons">arrow_back</i>
								</button> Notificações
							</span>
						</div>
					</div>
				</div>
				<div class="flex-fill">
					<div class="holdTextField margin-top">
						<div class="panel panel-default">
							<div class="panel-body maior">
								<input type="checkbox" class="margin-right" checked> <label>Sons</label>
								<br /> <input type="checkbox" class="margin-right" checked>
								<label>Alertas</label> <br /> <input type="checkbox"
									class="margin-right" checked> <label>Prévias</label>
								<hr />
							</div>
							<div class="panel-body maior center">
								<select>
									<option value="desativapor">Desativar sons e alertas
										por:</option>
									<option value="desativa1h">1 hora</option>
									<option value="desativa1d">1 dia</option>
									<option value="desativa1w">1 semana</option>
								</select>
							</div>
						</div>
					</div>
					<div class="holdTextField">
						<span class="holdOneBtn center-block text-center">
							<button
								class="mdl-button mdl-js-button mdl-js-ripple-effect btn green closeColumn"
								data-colid="notificacoes" data-drawerColumn="leftColumn">OK</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 p-l-0 p-r-0 fullHeight borderRight">
			<div class="topSections leftSection">
				<!-- BOX DO AVATAR DO USUARIO -->
				<div class="avatar openColumn" data-colid="perfilStatus"
					data-drawerColumn="leftColumn">
					<div class="centraliza">
						<img src="$session.userInfo.urlFotoUsuario" alt="Foto do $session.userInfo.nome" />
					</div>
				</div>
				<div class="bodyChat">
					<div class="title icons">
						<button class="mdl-button openColumn mdl-button--icon"
							data-drawerColumn="leftColumn" data-colid="novaConversa"
							id="buscarContatos">
							<i class="material-icons">chat</i>
						</button>
						<button id="leftActions"
							class="mdl-button rounded mdl-js-button mdl-button--icon">
							<i class="material-icons">more_vert</i>
						</button>
						<ul
							class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
							for="leftActions">
							<li class="mdl-menu__item openColumn" data-colid="novoGrupo"
								data-drawerColumn="leftColumn">Novo Grupo</li>
							<li class="mdl-menu__item openColumn" data-colid="perfilStatus"
								data-drawerColumn="leftColumn">Perfil e Status</li>
							<!-- <li class="mdl-menu__item openColumn" data-colid="notificacoes"
								data-drawerColumn="leftColumn">Notificações</li> -->
							<a href="$context/pages/mural.htm"><li class="mdl-menu__item">Sair</li></a>
						</ul>
					</div>
					<div class="mdl-tooltip" for="buscarContatos">Nova Conversa</div>
				</div>
			</div>
			<div class="subTopSection">
				<button class="mdl-button">
					<i class="material-icons backIcon">arrow_back</i> <i
						class="material-icons searchIcon">search</i>
				</button>
				<div class="group-control searchBox">
					<div class="input-placeholder">Buscar conversa</div>
					<input type="text" class="form-control campoBuscar"
						aria-describedby="basic-addon1" ng-model="toUser">
				</div>
			</div>
			<div class="col-xs-12 colListChat">
				<ul class="list-group" id="conversas"></ul>
			</div>
		</div>
	</div>
</div>