@import '_previewItau';

/* #modalPreviewPost {	.tab-content { text-align: center; } } */

.marvel-device{
	.screen{
		iframe{ height: 100%; z-index: 3; }
	}
}

#navDevice {
	width: 45px;
    margin: 0;
    display: table;
    position: absolute;
    z-index: 9;
	li {
		a {
			background: transparent;
			color: #aaa;
			border: 0;
			&:hover { color: #000; }
		}
		&:first-child { a:hover { color: #A4C639; } }

		&.active { a { color: #000; } }
		&:first-child.active { a { color: #A4C639; } }
	}
}