/***** CUSTOM SELECT *****/
select {
	height: 30px !important;
	width: 100%!important;
	z-index: 2;

	&.input-sm { padding: 0 10px; }
}

.campoPost select{ height: 33px!important; }

option { color: #808080; padding: 5px 10px; }

select option[disabled],select option[readonly] { color: #c5c5c5 !important; }

span.customSelect {
	background: url(../../imagens/select.png) #FFF no-repeat center right;
	max-width: 100%;
	position: relative;
	border: 1px solid #ccc;
	color: #323232;
	width: 100%;
	@include prefix(box-sizing, border-box, webkit moz ms o);
	@include prefix(border-radius, 4px, webkit moz ms o);
	padding: 4px 10px;
	height:33px;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;

	&.error { border-color: #ffc2c2; background-color: #ffe6e6; }
	&.customSelectDisabled {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity = 50);
		-moz-opacity: 0.5;
		-khtml-opacity: 0.5;
		opacity: 0.5;
	}

	&.customSelectHover{ @extend %input-focus; }
}

.customSelectInner {
	@include prefix(border-radius, 0 4px 4px 0, webkit moz ms o);
}

/* select#modo,select#form_status,select#form_tipo,select#sorts,select#categoria, select#form_expediente, select#filtroGrupo,
select#form_tipoNotificacao, select#form_tipoEntidade, select#form_acao, select#form_flags, select#form_grupo,
#highcharts-0.highcharts-container, .select2-container, select#form_tipoTemplate, select#form_projeto, select#form_arquivoNome,
select#form_tipoPush, select#formTemplate, select#sideBox_filtro_data, select#sideBox_filtro_extensao, select#sites-conhecidos,
select#form_visibilidade, select#tipo-grupo, select#participo-grupo, select#form_estado { width: 100% !important; } */

select#form_funcao {
	display: block;
	width: 100% !important;
}

select#form_projeto {
	background: url(../../imagens/select.png) no-repeat center right;
	border: 1px solid #D8D8D8;
	border-radius: 4px;
	padding: 4px 3px;
	outline: none;
	color: #808080;
	@include prefix(appearance, none, webkit moz ms o);
}